[2015-04-09 11:18] bencomp commented on #1926
Sounds related to #1594 ?

[2015-04-09 12:53] pdurbin commented on #1933
FYI that zip file upload via the GUI was affected as well. I updated the subject of this ticket.

[2015-04-09 13:06] pdurbin commented on #1910
As @scolapasta and I have discussed 60e82b1 for #1901 included moving away from a buggy Solr query whereby much more re-indexing of "permission" Solr documents was taking place when datasets were reindexed. Up to 32 (Integer.SIZE rather than Integer.MAX_VALUE, which is what I had intended originally) DvObjects that may have been completely unrelated to the dataset in question (because there was no

[2015-04-09 13:07] pdurbin commented on #1910
I still don't have an answer as to how the bad data got into the database for the DataFile in the first place.

[2015-04-09 13:09] pdurbin commented on #1933
I just pulled in b69c2c1 and now my tests pass: https://build.hmdc.harvard.edu:8443/job/apitest.dataverse.org-apitester/34/

Sending to QA.

[2015-04-09 13:22] pdurbin commented on #1934
In Vagrant at https://github.com/IQSS/dataverse/blob/master/scripts/vagrant/setup.sh I **unzip** the Glassfish zip file as non-root, at least. But I believe @bencomp is right that the installer (called by the Vagrant scripts) later starts Glassfish as root: https://github.com/IQSS/dataverse/blob/master/scripts/installer/install

@bencomp if you want to mess around with the installer to have it do

[2015-04-09 13:36] raprasad commented on #1918
Back for QA.

##### The good:

  - The error was caused by a debug statement.  So it is now working

##### The bad (maybe):

   - If you have no other versions, you are brought to the page in the screenshot below—not the deaccession page—which does exist.

##### Question: What should be shown immediately after deaccessioning?

- Would this workflow be correct:
	- (A) Deaccession -> Show deaccessio

[2015-04-09 13:53] sekmiller commented on #1915
Added links to datasets and data verses to email notifications.

Also removed extraneous methods

[2015-04-09 13:54] sekmiller commented on #1915
One last functional update to create dataverse notification was checked in this morning.  new build required for testing.

[2015-04-09 14:04] pdurbin commented on #1837
I definitely have a need to figure out internal dataset ID numbers when working with APIs.

For a long times I've been doing this at https://github.com/IQSS/dataverse/blob/master/scripts/search/assumptions

export FIRST_FINCH_DATASET_ID=`curl -s "http://localhost:8080/api/dataverses/finches/contents?key=$FINCHKEY" | jq '.data[0].id'`

And more recently I've been using an undocumented feature of th

[2015-04-09 14:05] sekmiller commented on #1932
Fixed and checked in. New build required.

[2015-04-09 14:34] sbarbosadataverse commented on #1923
@mheppler
this doesn't seem any better?
Contact
barbosa, sonia [- Use email button above to contact.]

[2015-04-09 14:40] rliebz opened #1935 "Generate API token through API using username/password"
Currently, API tokens can be retrieved for users only if those users already have existing API tokens (https://github.com/IQSS/dataverse/issues/1818). This is only the case for users generated through the API and users who have manually generated an API token through the GUI.

By allowing generation of the API token through the API, it would be possible for services who are currently authenticatin

[2015-04-09 14:40] sbarbosadataverse commented on #1332
@pdurbin
while html tags don't show up on search facets displayed, if i search for  "http" I get. If this is expected I will close. Not sure if we can do anything about it

![0qwowmyq7egvehvzgamkvxpvlx1bmmtudgfy-lih7j8](https://cloud.githubusercontent.com/assets/8322346/7069050/bc211580-dea4-11e4-8908-6fb8fcc93373.png)

[2015-04-09 14:43] mheppler commented on #1923
The database on your test server will need to be dropped, and rebuilt to remove those brackets "[ ]", which are coming from the TSV file. If this revision isn't up to snuff, I'll gladly look over it with @scolapasta or anyone else that has the time and know-how to improve upon this (hacked) solution.

I made the simplest change I could, because that is all I understood how to do with the code I di

[2015-04-09 14:43] pdurbin commented on #1935
"Our use case is that we have existing Dataverse users with accounts being authenticated from a stored username/password. I'd like to be able to migrate them over to the API token without them having to do anything" -- @rliebz at http://irclog.iq.harvard.edu/dataverse/2015-04-09#i_18037

[2015-04-09 14:46] suenjedt commented on #1884
Test result:
- Successfully linked the search results. DV and datasets were included; files were not shown in the destination collection/dataverse
- However, UX/UI wise I did not see any warning that "files" are not linked.
@kcondon: I understand that it is possibly implemented yet - correct?

![screen shot 2015-04-09 at 10 36 54](https://cloud.githubusercontent.com/assets/7300319/7069179/4d48fc9e

[2015-04-09 15:00] posixeleni commented on #1883
@scolapasta @kcondon I cant test this in build since we need to see how migrated local studies got indexed. So can you please tell me when this fix is in the new production site (harvard.dataverse.edu) or vm6?

[2015-04-09 15:08] sbarbosadataverse commented on #1923
@kcondon  should I move to 4.0x?

[2015-04-09 15:09] sbarbosadataverse commented on #1643
If previous comments is the case, this is working as expected.

[2015-04-09 15:09] #1643 closed

[2015-04-09 15:12] mheppler commented on #1923
The post-4.0 clean up is already a ticket -- Dataset Metadata - Improve display of compound fields in metadata tab #1625.

[2015-04-09 15:19] pdurbin commented on #1922
There **was** more and I just pushed this commit: f83c56c

My rule of thumb was to use "fine" for normal operations. There should be less chattiness. Passing to QA.

[2015-04-09 15:24] pdurbin commented on #1332
@sbarbosadataverse that's what I expect to see. Thanks for the screenshot. Please feel free to get other opinions before closing if you have any doubt, though.

[2015-04-09 15:26] sbarbosadataverse commented on #1923
Will double check brackets (dropping database)-but even with that the message is confusing, there is a "-" and "." showing up in the brackets....

suggestion: add the "email" button next to the contact name instead of upper right hand of page

[2015-04-09 15:27] sbarbosadataverse commented on #1332
works as designed

[2015-04-09 15:27] #1332 closed

[2015-04-09 15:30] mheppler commented on #1923
If I could get HTML in that area, I would, and we'd have the greatest app ever. But due to limited know-how and resources, we got a text change. With a new database, it will look like this (see attached) which is going to have to be good enough.

![screen shot 2015-04-09 at 11 29 14 am](https://cloud.githubusercontent.com/assets/687227/7070243/b2aca29c-deab-11e4-81c5-566e5b139b19.png)

[2015-04-09 15:34] mheppler commented on #1923
But since you're showing such concern with this layout (and I do appreciate it, no fooling), maybe we review it with the powers that be. It does look kinda funny with multiple contacts.

![screen shot 2015-04-09 at 11 32 38 am](https://cloud.githubusercontent.com/assets/687227/7070331/45f09c3e-deac-11e4-8b84-4cb7a1643849.png)

@mcrosas @scolapasta @eaquigley @kcondon -- Thoughts?

[2015-04-09 15:34] sbarbosadataverse commented on #1567
Kevin can you please clarify what I'm supposed to be looking for?

[2015-04-09 15:36] eaquigley commented on #1923
👏👍👏👍👏👍

On Apr 9, 2015, at 11:34 AM, Michael Heppler <notifications@github.com<mailto:notifications@github.com>> wrote:

But since you're showing such concern with this layout (and I do appreciate it, no fooling), maybe we review it with the powers that be. It does look kinda funny with multiple contacts.

[screen shot 2015-04-09 at 11 32 38 am]<https://urldefense.proofpoint.com/v2/url?u=https-3A_

[2015-04-09 15:38] pdurbin commented on #1884
This is expected. @mheppler didn't want this:

![warning](https://cloud.githubusercontent.com/assets/21006/7007079/643393f4-dc54-11e4-8cb8-779ebeafdc6e.png)

I suggest that we use #1890 to improve the UX/UI.

[2015-04-09 15:58] pdurbin opened #1936 "Document how to configure a Jenkins job to build Dataverse"
Collaborators such as @bencomp have been [asking about](http://irclog.iq.harvard.edu/dataverse/2015-04-09) how we have Jenkins configured to build Dataverse.

We should document our setup.

For now, here's a screenshot from https://build.hmdc.harvard.edu:8443/job/apitest.dataverse.org-deploy/configure

![apitest dataverse org-deploy_config_ jenkins _-_2015-04-09_11 55 18](https://cloud.githubuserc

[2015-04-09 16:05] mheppler commented on #1884
@suenjedt @pdurbin @kcondon -- if the functionality is as promised, I say ship it for 4.0. As pointed out, we have a 4.0.1 issue tracking UI improvements, before this feature is expanded beyond super-user admins.

And yes, we shouldn't be using great big, red "error/danger" message blocks (as shown above) for help/warning message text. We use those for when something breaks or is invalid. (If we h

[2015-04-09 16:07] mheppler commented on #1890
Additional QA note from #1884: "UX/UI wise I did not see any warning that "files" are not linked."

[2015-04-09 16:12] suenjedt commented on #1884
For me (as a newbie to this endeavor), the functionality worked as expected.

[2015-04-09 16:15] sbarbosadataverse commented on #1852
@pdurbin

Testing this ticket, may need more information on steps needed to test it accurately:

1-you get this message at the top of the page when you link a dataverse---"please wait for its content to appear."---but nothing happens.....

![xzc5ty7wygjw0pqwf4pdwkdqpjmxecngm5l7x7kec0s](https://cloud.githubusercontent.com/assets/8322346/7071202/d0ba1d2c-deb1-11e4-99f6-924fadbd1219.png)

[2015-04-09 16:23] sbarbosadataverse commented on #1852
@pdurbin
is the "link dataverse" feature only available to admins? when I log in with my nonadmin user account, I don't get the option

[2015-04-09 16:28] sbarbosadataverse commented on #1923
If an account has multiple contacts the best option is to configure so that
if we put the little email icon in the contact field, it would email all
the contacts at once. Is this possible? Or just email the first contact?

On Thu, Apr 9, 2015 at 11:36 AM, Elizabeth Quigley <notifications@github.com

[2015-04-09 16:33] mheppler commented on #1923
I believe the "Email Dataset Contact" button at the top of the page, emails all contacts associated with the dataset, in that metadata field. If (and maybe when) we add a button next to the field values, it will do the same. Maybe we add some help text to explain that. That said, I believe all of this is a conversation for another release.

[2015-04-09 16:38] sekmiller commented on #1852
Link Dataverse is only available to admins in 4.0

On Apr 9, 2015, at 12:23 PM, sbarbosadataverse <notifications@github.com<mailto:notifications@github.com>> wrote:

@pdurbin<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_pdurbin&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=d7bbsLIcERTG2Qe_gE_iKH1z80JxaTHhJpRXaS4mxwM&m=XvsbY1GFFUaYliwI7d0IJJW7IH6CuDXRv_vVyba4BuQ&s=2g0wtwu6t-AcCQelnkXoOIXA3

[2015-04-09 17:05] scolapasta commented on #1884
Yesterday we established using the warning orange block for something similar. (Not getting what you expected )

[2015-04-09 17:14] sbarbosadataverse opened #1937 "when link a dataset to a dataverse, have the message include a link to the dataverse in the success message"
![s7353hm4jco4bufiydvc2vbusfxqjqtgoyoa9sgupzk](https://cloud.githubusercontent.com/assets/8322346/7072436/6e1baccc-deba-11e4-9e85-3cf59dcc51d8.png)

[2015-04-09 17:18] sbarbosadataverse opened #1938 "Dataverse Card: Review Information in Cards for Dataverses"
![datqlr9jkkjm7hnyktjqkouzlm1_ozhd71opacgur94](https://cloud.githubusercontent.com/assets/8322346/7072473/bcfe955c-deba-11e4-92a6-04f1ae7ee4a4.png)

[2015-04-09 17:21] sbarbosadataverse commented on #1852
@kcondon
can we discuss when you have time

[2015-04-09 17:46] kcondon commented on #1929
Well, I assume there needs to be an admin of a dataverse, no? Anything else that assumes a specific user?
________________________________
From: Gustavo Durand [notifications@github.com]
Sent: Wednesday, April 08, 2015 11:58 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] API: Deleting a user does not clean up roles, can introduce undesirable behavior. (#1929)

What do you mean by

[2015-04-09 17:47] kcondon commented on #1200
@bencomp Yes, duplicate and by me! Thanks.

[2015-04-09 17:47] #1200 closed

[2015-04-09 17:48] suenjedt commented on #1884
Expected was: I search, save/link the search in a (destination) dataverse. I find the searched items (DV, dataset) in the destination dataverse.
Conclusion: all this worked

[All the other musing above were about the remaining UX/UI challenge]

[2015-04-09 17:52] posixeleni commented on #90
Spoke with @kcondon and this feature is working functionally as expected. However there are some issues with the user experience and performance issues with indexing when trying link a larger number of results that will need to be reported as a separate ticket.

I am closing this ticket.

[2015-04-09 17:52] #90 closed

[2015-04-09 17:55] posixeleni opened #1939 "Saved Search - Improve Performance & User Experience"
Per my last comment in #90 there is a performance issue when trying to do a Saved Search for a larger set of results and this causes a user experience issue since the user does not know why this is taking so long and may assume that the feature is timing out or not working.

Since this is only meant for super-users right now this work can be postponed till after 4.0 is released.

cc/ @kcondon

[2015-04-09 18:02] posixeleni opened #1940 "Unable to Login with Shibboleth > 500 Internal Server Error"
I was able to login with Shibboleth in build yesterday but today when I select "Harvard University" and click on Continue I am taken to a 500 Error page.

@kcondon @pdurbin do you know what may be causing this? Was there a new build this afternoon?

[2015-04-09 18:09] sbarbosadataverse opened #1941 "Groups: Can't create a group in build/get error to contact support"
![lhhiwo8sifli2oq-4gptahld_jb4_iq71zlpn3h50di](https://cloud.githubusercontent.com/assets/8322346/7073516/f9bdf062-dec1-11e4-8653-3da9cb667f45.png)

[2015-04-09 18:10] posixeleni commented on #690
As @sekmiller wrote above there is a generic notification that the item has been deleted which replaces the notification that the dataset was created:

![image](https://cloud.githubusercontent.com/assets/5013837/7073543/257d19a8-dec2-11e4-8257-150b6c1edf38.png)

Works as expected. Closing.

[2015-04-09 18:10] #690 closed

[2015-04-09 18:14] scolapasta opened #1942 "Review DeleteDataFileCommand"
Currently this command only works if you already have a draft, but an alternative is if called on a dataset with no draft, create the draft and delete the file from it.

[2015-04-09 18:16] scolapasta commented on #1942
Attempted to do this in 4.0, but there were issues with it, so that aspect was deferred to 4.0.x.

See issue #1784

[2015-04-09 18:18] kcondon opened #1943 "Notifications: Account creation online notification mentions beta version"
Welcome to Dataverse 4.0 Beta build 1027! Please take a look around, try everything out, and check out our Google Group to leave feedback.April 9, 2015 2:16 PM EDT

[2015-04-09 18:22] sbarbosadataverse commented on #1941
Now it created the role, but does not list it anywhere. Just says "successfully created "sonia."

[2015-04-09 18:29] raprasad commented on #1918
Updated logic after talking to @scolapasta:

With url specifying ```persistent id``` but NOT ```version```, search for dataset version in the following order:
-  latest released
- deaccessioned with highest version number first (even if not most recent deaccession)
- draft

[2015-04-09 18:32] raprasad commented on #1918
back to QA

[2015-04-09 18:48] scolapasta opened #1944 "Log in message appears on Edit Account Info page"
It should only appear on create.

[2015-04-09 18:54] kcondon opened #1945 "Templates: Copying a template throws an exception error"
1. Create a template in a sub dv.
2. Copy the template, see error in UI and log:

[2015-04-09T14:53:03.811-0400] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.webcontainer.jsf.lifecycle] [tid: _ThreadID=131 _ThreadName=jk-connector(3)] [timeMillis: 1428605583811] [levelValue: 900] [[
  #{TemplatePage.init}: java.lang.NullPointerException
javax.faces.FacesException: #{TemplatePage.init}:

[2015-04-09 18:56] kcondon commented on #1940
@posixeleni I was able to log in, can you try again?

[2015-04-09 19:01] posixeleni commented on #1940
Now working as expected! Closing

[2015-04-09 19:01] #1940 closed

[2015-04-09 19:06] scolapasta commented on #1910
Passing to QA, based on above comment. Clearly we'll have to keep an eye out for what may have gotten corrupt and how, but the changes means that should not affect ALL dataset creations.

[2015-04-09 19:07] mheppler opened #1946 "Search/Browse Card Icon - Fix Layout Float Issue"
When a dataverse or dataset has a long name, the type/restricted/harvested/linked icons are being pushed down.

- [x] Fix the alignment of the icons to remain in the upper-right corner.
- [x] Increase the spacing between each icon when multiple are displayed.

![screen shot 2015-04-09 at 11 01 45 am](https://cloud.githubusercontent.com/assets/687227/7075511/9737cd00-ded0-11e4-9f9e-64d845761ccb.png

[2015-04-09 19:12] sbarbosadataverse commented on #1852
Tested with Kevin:
Can't link dataverse to it's own name
Can't link a dataset in a dataverse back to the same dataverse
Search results working as expected for dataset linked to a dataverse

[2015-04-09 19:12] #1852 closed

[2015-04-09 19:15] kcondon opened #1947 "Templates: Unable to inherit/ see parent templates."
Unable to inherit/ see parent templates. When I create a sub dv from a parent that has templates, I see the Create Template helpful how to page rather than the parent template list.

[2015-04-09 19:21] sekmiller commented on #1945
Fix is checked in

[2015-04-09 19:22] kcondon opened #1948 "Dataverse Card: Link to dataset throws 404 exception"
On build, afghanistan dv has a kabul dataset. If I click on the kabul dataset from the additional information link on the dv card, it throws a 404 error. Here is the link:
https://dvn-build.hmdc.harvard.edu/dataset.xhtml?globalId=doi:10.5072/FK2/IZQIXV

[2015-04-09 19:29] scolapasta opened #1949 "Add unique db constraints"
dataverse.alias
dataverseRole.alias

dataset persistentId (combo of authority, protocol, identifier, and doiseparator)

[2015-04-09 19:29] scolapasta commented on #1949
Code already handled these (except role alias maybe?), not db does too.

[2015-04-09 19:30] sbarbosadataverse commented on #1366
checked along with 1852

[2015-04-09 19:31] sekmiller commented on #1947
By design, you cannot inherit if your metadata blocks differ from your parent.

May want to add a message to the user in the manage page.

Assigning to Gustavo for prioritizing...

[2015-04-09 19:36] sbarbosadataverse commented on #1460
@mheppler  can you explain this first feature? is this the notification link you get in your email? Or the notification you get on dataverse? not clear. thnx
File permissions notifications should link to File Permissions page, and not the dataset page. (From #1348)

Dataverse links do not using Pretty Faces URLs.- check
Custom icons need to be added for dataverses, datasets, files. - check

[2015-04-09 19:38] sekmiller commented on #1948
Fixed and checked ion

[2015-04-09 19:51] mheppler commented on #1923
Improved help text message for Contact metadata values in Citation Metadata tab on dataset. It now contains one message, with a help icon, above the contact values.

[2015-04-09 19:51] mheppler commented on #1946
Improved layout and spacing of upper-right corner icons for cards on search-include.

[2015-04-09 19:59] mheppler commented on #1944
Fixed render issue for Shibb-releated help message on Sign Up view of dataverseuser page.

The problem was that the message only had a 'systemConfig.shibEnabled' render and needed something for 'DataverseUserPage.editMode'.

[2015-04-09 20:02] raprasad opened #1950 "Dataset Files: Unstyled/Unfriendly 403 forbidden page when trying to download restricted files"
Action:

![150_files_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/7075649/9dbf9a58-ded1-11e4-908f-28fbae349fd3.png)

Result:

![glassfish_server_open_source_edition_4_1_-_error_report](https://cloud.githubusercontent.com/assets/1036060/7075657/b26b9c5e-ded1-11e4-9930-e76d573b9775.png)

[2015-04-09 20:05] mheppler commented on #1460
@sbarbosadataverse -- These are specific to the notifications in the Notifications tab on the Dataverse Account page, in the app.

[2015-04-09 20:12] scolapasta commented on #1935
Since we're planning on releasing tomorrow (Friday April 10), we don't have time to fit this in, but we will review for 4.0.1.

[2015-04-09 20:12] raprasad opened #1951 "Edit Dataset: Allow select all for restrict/unrestrict files"
@mheppler showed that there is a hidden table header that contains this functionality
![150_files_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/7075878/52d1f6ba-ded3-11e4-9585-1283ce1ce10d.png)

[2015-04-09 20:20] scolapasta commented on #1931
discussed with @mcrosas and we'll review what the guestbook / draft behavior should be (should it show guestbook? should it count as download? etc)

[2015-04-09 20:21] scolapasta commented on #1155
We'll review the notifications in 4.0.1

[2015-04-09 20:25] raprasad commented on #1877
Slight fix by changing permissions order check.

#### Scenario
   -  Dataset Page
   - User logged in **with Edit Dataset Permission**

#### Previous:
   - For *each* restricted file, checked the DownloadFile permission
   -  Additional 10 queries per restricted file, significant processing time.

#### Updated:
  - Allow user to view a restricted file without checking the DownloadFile permission

[2015-04-09 20:27] sekmiller commented on #1943
Changed notification from taking the appVersion from the Dataverse Service Bean to "4.0".  For future releases we may want to revisit how this is filled rather than manually updating with each release.

[2015-04-09 20:34] sekmiller commented on #1943
New Build required to capture update of bundle file

[2015-04-09 20:34] scolapasta commented on #1929
This API is in the admin block and superuser only, so we will defer to 4.0.1 to review how we want to handle.

[2015-04-09 21:03] scolapasta commented on #1941
We'll need ti figure out why group creation sometimes fails.

[2015-04-09 21:32] raprasad commented on #1877
After talking to @scolapasta, checking DownloadFile at *Dataset* level before checking at *DataFile* level

[2015-04-09 21:33] raprasad commented on #1877
should be slight performance increase for viewing long lists of restricted files.  (poole set also has tabulardata which is a separate issue)

[2015-04-09 23:21] mcrosas opened #1952 "Metrics for Root Dataverse"
The root dataverse should have the Metrics icons to show downloads, shares, etc - this should show the total for all published datasets.

[2015-04-10 00:41] raprasad opened #1953 "Dataset Versions: cleanup backing bean, put not 'different version' message into a bundle"
Move result text from [`RetrieveDatasetVersionResponse.getDifferentVersionMessage()`](https://github.com/IQSS/dataverse/blob/0b585c2b5984a5eb33e1f005a33f83dcece936b3/src/main/java/edu/harvard/iq/dataverse/DatasetVersionServiceBean.java#L75) into a bundle

<img width="990" alt="screen shot 2017-06-14 at 4 06 04 pm" src="https://user-images.githubusercontent.com/687227/27152309-7498d27a-511b-11e7-8b

[2015-04-10 10:42] raprasad opened #1954 "Dataset page url: parsing of persistent ids does not recognize handles"
Only parsing "doi's"

[2015-04-10 10:52] raprasad commented on #1954
- Moved persistent ID parsing to GlobalID
- Added  parsing for ```hdl``` and ```doi``` to GlobalId
- See: https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/GlobalId.java#L86

/cc @scolapasta @kcondon

[2015-04-10 13:21] eaquigley opened #1955 "Google analytics for Dataverse.harvard.edu"
Need to take out the GA code currently in and replace it with the GA code for Dataverse.harvard.edu

[2015-04-10 13:23] eaquigley opened #1956 "Select dataverse categories/subject/contact email metadata"
We need to go through and select categories for dataverses so the the facet doesn't read Uncategorized 2739.

[2015-04-10 13:28] pdurbin commented on #1956
@scolapasta and I were planning on **not** indexing "Uncategorized" so I'll use this ticket for that change if that's ok. That way we can change dataverses from "Uncategorized" at our leisure.

[2015-04-10 13:35] eaquigley commented on #1956
Cool with me as long as you pass this ticket back to me after you finish your part. I need this ticket for doing the selecting categories work.

On Apr 10, 2015, at 9:28 AM, Philip Durbin <notifications@github.com<mailto:notifications@github.com>> wrote:

@scolapasta<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_scolapasta&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=Y9aY3P6kFFpmMLaYYO_id

[2015-04-10 13:52] bencomp commented on #813
For issue management: this issue concerns OAI-PMH.

[2015-04-10 14:07] bencomp commented on #813
For consideration: [ResourceSync][rs] is a set of protocols based on [Sitemaps][sitemaps] for publishing information about, links to or dumps of changed resources - both data and metadata. As it was developed by the people from the [Open Archives Initiative][oai], some consider this the new [OAI-PMH][pmh].

[rs]: http://www.openarchives.org/rs/
[sitemaps]: http://www.sitemaps.org/protocol.html
[oa

[2015-04-10 14:27] scolapasta commented on #1877
For 4.0, we have made the changes we plan on making. Can you test and then put to 4.0.1 to handle the load a few.

[2015-04-10 14:28] raprasad opened #1957 "Performance hunt: this line adds 30 queries"
source: ```dataverse_header.xhtml```

Actually this line repeated twice:
[code]

#### QUICK LOOK

##### This query runs 20x:
[code]

##### This query runs 10x:
[code]

[2015-04-10 14:51] eaquigley commented on #1955
Code for dataverse.harvard.edu has been emailed to @raprasad

Needs to be placed in a way that it shows up on all pages. We've done this for dvn-build and dataverse-demo already.

[2015-04-10 14:52] pdurbin commented on #1956
@scolapasta please review 8496b42

You can create a pull request from that commit at https://github.com/IQSS/dataverse/compare/1956-no-index-uncategorized and merge it yourself if you like.

[2015-04-10 14:57] sekmiller opened #1958 "Dataset Page License and Terms Tab - Allow html"
Some of the dataset terms in the migrated production data include HTML, and we need to be able to display it as HTML and not text.

![screen shot 2015-04-10 at 11 04 27 am](https://cloud.githubusercontent.com/assets/687227/7090544/be49c140-df71-11e4-9f57-adc40816973a.png)

[2015-04-10 15:13] raprasad commented on #1955
Updated.
- Placed in a separate .xhtml file: google-analytics-snippet.xhtml
- This snippet is included by the dataverse_template.xhtml

commit: https://github.com/IQSS/dataverse/commit/3a84ca0d39eac275657344f917b62d850dd9f8b7

[2015-04-10 15:31] #1887 closed

[2015-04-10 15:32] eaquigley commented on #1887
dataset has been made lowercase and i am fine with the message

[2015-04-10 15:36] mcrosas commented on #1772
Check after migration that dataset that were under unpublished dataverse are now unpublished.

[2015-04-10 15:36] raprasad commented on #1952
Just checked in.  Same as dataset page except "downloads" metric is taken from all guestbooks.

@scolapasta

[2015-04-10 15:38] raprasad commented on #1952
/cc @kcondon
![root_dataverse](https://cloud.githubusercontent.com/assets/1036060/7091180/05ccf7d6-df76-11e4-8163-89a3b6e2072b.png)

[2015-04-10 15:38] eaquigley commented on #1771
Dataverses with most datasets and most active should have facets chosen after indexing.

[2015-04-10 15:43] pdurbin commented on #1956
@scolapasta and I discussed the commit and agreed to merge it into master, which I just did.

@kcondon I'm giving this ticket to you for a build. Then can you please give it to @eaquigley for selecting categories?

[2015-04-10 15:47] mcrosas commented on #1768
Manual customizations to be done after migration (move issue to Dwayne after automation).

Most of them will be restored from saved customizations backup.

[2015-04-10 15:51] mcrosas opened #1959 "Harvard Dataverse customization"

[2015-04-10 15:53] eaquigley commented on #1438
Closing due to another ticket created for this post migration.

[2015-04-10 15:53] #1438 closed

[2015-04-10 15:54] mcrosas opened #1960 "Set up Featured Dataverse"
Include:
CFA
DataPASS
PSI
Avahan
Murray
IFPRI
WorldForestry
AJPS
MRI

[2015-04-10 16:01] eaquigley opened #1961 "Dataset Level Terms of Use: Custom Ones Double Check"
Review custom terms of use for datasets to make sure they migrated over properly.

[2015-04-10 16:04] mcrosas opened #1962 "Check content after migration"
Check terms of use
Check a few datasets and dataverses

[2015-04-10 16:06] mheppler commented on #1961
- For the Terms of Use of datasets in the Murray Research Archive, there is a link for "http://thedata.org/citation" that just redirects to "http://dataverse.org/".

[2015-04-10 16:12] mcrosas opened #1963 "Delete test Dataverses"
Go over empty test dataverses and decide which ones to delete.

[2015-04-10 16:13] mercecrosas opened #1964 "Set Subjects for datasets"
After release, assign subjects to datasets at the database level, for cases that we know easily.

[2015-04-10 16:36] mcrosas opened #1965 "Set CC0 to all datasets with no terms of use"
Datasets that used to have only Network Terms of Use should be set to CC0.

[2015-04-10 16:37] mcrosas opened #1966 "Add description for Harvard Dataverse"
Need to write a new description

[2015-04-10 16:39] raprasad commented on #1957
Initial fix is here:
https://github.com/IQSS/dataverse/commit/353fd6bf11032f26dc018e1d8016da0b6cbf8cdc

replaced ```findUnreadByUser``` with ```getUnreadNotificationCountByUser```

[2015-04-10 16:40] kcondon commented on #1956
@eaquigley passing to eq

[2015-04-10 16:47] mheppler commented on #1958
Fixed display of HTML in terms and additional information fields in the Terms tab on the dataset page.

[2015-04-10 17:49] sekmiller opened #1967 "Review creation of DS identifiers"
Currently the identifier is a random 6-letter string. The database now enforces uniqueness.  It is conceivable that two users could generate the same identifier at the same time.  The first would save properly and the second would throw a database constraint error.  Also take a look at registration to make sure that doi registrations that fail due to unique constraint are handled properly.

[2015-04-10 17:53] scolapasta opened #1968 "Investigate if code supports migrating of a non 1.0 version"
in order to migrate T3 dataset.

[2015-04-10 18:45] pdurbin commented on #1366
@sbarbosadataverse I'm going to re-open this ticket until I've confirmed that the `curl` command mentioned at https://github.com/IQSS/dataverse/issues/1852#issuecomment-89027304 was run during testing. The thing about the "Change 'link dataverse' feature to be powered by Saved Search" change developed in #1852 is that it's **not** fully automatic. It requires command-line access to the server to k

[2015-04-10 18:46] mcrosas commented on #1235
We've done this partially. I'll close this issue and enter one for views and another one for citations

[2015-04-10 18:46] #1235 closed

[2015-04-10 18:48] mercecrosas opened #1969 "Track views for Dataverses and Datasets"
We have the metric UI, but not yet tracking the views to a dataset or dataverse page. This can be obtained from Google analytics.

[2015-04-10 18:48] mercecrosas opened #1970 "Get citations count"
Need to get citations count from DataCite/CrossRef

[2015-04-10 18:51] mercecrosas opened #1971 "Metrics page for Dataverses"
In additions to the metrics icon on the top of a Dataverse (views, downloads, shares, citations), we need a page with all type of metrics we want to share about the Root Dataverse (and possible for each dataverse). For example: # of files counting all formats, # of unique subset downloads, # of data explorations, etc

[2015-04-10 18:55] mheppler commented on #1952
Added "Coming soon..." for Shares metric, since it didn't seem to be working.

Sorry @kcondon -- instead of giving you a new ticket for this last, last second request, I am piggy-backing on a related ticket you have in QA currently.

[2015-04-10 18:57] pdurbin commented on #1928
On an internal server we are playing around with "boosting" certain fields like this:

[code]

We're collecting feedback via email and [a Google doc](https://docs.google.com/a/harvard.edu/document/d/1W5UM076mMO8xFtl6t0X_eTnYmcb3G5HOUEQo_O-BsuQ/edit?usp=sharing).

In an ancient commit at 60e640b I introduced this line...

`solrQuery.setParam("qt", "/spell")`

... which had the affect (as far as I u

[2015-04-10 18:58] raprasad commented on #1955
reference: http://stackoverflow.com/questions/4245132/google-analytics-api-filter-by-uri

[2015-04-10 19:00] mcrosas commented on #1971
Include: Map of location of dataverses

[2015-04-10 19:22] raprasad commented on #1957
What to look for:
- User is logged in
- Number of unread notifications in top right corner is correct

/cc @kcondon

[2015-04-10 19:48] mcrosas commented on #1965
Terms of Use
Confidentiality Declaration
Special Permissions
Restrictions
Citation Requirements
Depositor Requirements
Conditions
Disclaimer

[2015-04-10 19:49] raprasad commented on #1754
Query Count Update
|Number of Published Files|Queries - as Admin|Queries - Not Logged In|Incremental - as Admin|Incremental - Not Logged In|
-------------|-------------|-------------|-------------|-------------|
|0|248|138|n/a|n/a|

[2015-04-10 19:55] mcrosas commented on #1768
@dliburd On Monday, after all customizations have been copied, and migration + iindexing is complete, you can update any customizations that need manual changes. Check with @scolapasta  when this is ready

[2015-04-10 19:57] mcrosas opened #1972 "Manual changes to Harvested dataverses/DataPASS"
Some harvested dataverses will need to be deleted (we are not harvesting those datasets) and some will need to be renamed. Also, review and make minor manual changes to DataPASS dataverse

[2015-04-10 20:17] scolapasta opened #1973 "Migration should set waiver to NONE"
Currently it does not set anything

[2015-04-10 20:19] dliburd commented on #1768
Will do.

[2015-04-10 20:22] raprasad commented on #1754
Summary of progress.  No longer going into the stratosphere but lots of room to improve.

#### Known factors remaining:
- [ ] Version tab  - now loaded after main page but generating approx 1/3 of queries.
     - [ ] Don't preload. #1820
- [ ] 2 queries per file for category check #1868
- [ ] post 4.0: delve into the many/many queries to retrieve metadata values (should be a single query)
     - #

[2015-04-10 20:29] sbarbosadataverse opened #1974 "Check permissions (roles, file permissions) have migrated correctly"
Check that existing roles and permissions have migrated correctedly for sample dataverses (murray, ajps, EHS, psi)

[2015-04-10 20:49] raprasad commented on #1754
Keeping this open as an umbrella issue.  Can still make DatasetPage significantly faster.

[2015-04-10 21:15] mcrosas opened #1975 "Review CC0 waivers assigned to datasets"
Check that the datasets get the right CC0 waiver (if they don't have terms of use)

[2015-04-10 21:19] scolapasta commented on #1965
We will set the latest released versions and draft versions of each dataset with no terms of use (fields that @mcrosas added) to CC0.

[2015-04-10 21:19] scolapasta commented on #1965
The queries for reference:

-- update all versions to NONE
update dataseversion set license='NONE';

-- update all released with no terms of use to CCO
update datasetversion set license='CC0'
where 1=1
and TermsofUse is null
and ConfidentialityDeclaration is null
and SpecialPermissions is null
and Restrictions is null
and CitationRequirements is null
and DepositorRequirements is null
and Condition

[2015-04-10 23:30] mcrosas opened #1976 "Update Harvard Dataverse card in dataverse.org"
After release is complete, update dataverse.org to point Harvard Dataverse card to dataverse.harvard.edu

[2015-04-11 01:23] mcrosas opened #1977 "Change Handles and DOIs urls"
This is to remember make the changes so all handles and DOIs resolve  to the new dataset urls in dataverse.harvard.edu , after migration.

[2015-04-11 01:28] scolapasta opened #1978 "Transfer subnetwork "ownership" appropriately"
In 3.6 subnetworks were created and owned by network admins; but for 4.0 we should transfer PSI to the, ubiquity to them, etc.

Steps to do this would be:
- assign admin roles to the correct user
- change dataverse contact email

[2015-04-11 12:54] pdurbin commented on #1784
In the course of working on this ticket, I think a regression was introduced (now fixed, hopefully) that was noticed on Twitter: https://github.com/IQSS/dataverse/commit/71dc9994d266f98836a3a5d7bb95a27476987835

[2015-04-11 22:54] mcrosas commented on #1965
Tested. Looks good.

[2015-04-11 22:54] #1965 closed

[2015-04-12 01:30] mcrosas opened #1979 "Can't delete a draft if it has a download"
You cannot delete a draft that has a download.

This is the error from the log:
Caused by: org.postgresql.util.PSQLException: ERROR: update or delete on table "dvobject" violates foreign key constraint "fk_guestbookresponse_datafile_id" on table "guestbookresponse"
  Detail: Key (id)=(10) is still referenced from table "guestbookresponse".

we'll decide on Monday what's the best solution for this.

[2015-04-12 01:35] mcrosas commented on #1975
checked

[2015-04-12 01:35] #1975 closed

[2015-04-12 01:37] mcrosas opened #1980 "Migrate Downloads counts"
The number of downloads have not been migrated yet - they should be before release

[2015-04-12 01:41] mcrosas commented on #1809
Moved to review for release patch

[2015-04-12 07:46] sbarbosadataverse opened #1981 "html text showing up in versions on dataverse.harvard.edu"
version differences page showing html <br /><br /> in text

[2015-04-13 00:13] mcrosas opened #1982 "Dataverses with descriptions ""there are no local announcements.""
We should remove (or update) the description from 129 dataverses that say "there are no local announcements."

[2015-04-13 12:57] pdurbin opened #1983 "Installer: `asadmin start-domain` fails with Glassfish 4.1 on OS X Yosemite 10.10.3"
This morning I updated my laptop to OS X Yosemite 10.10.3 and was surprised to discover that Glassfish 4.1 wouldn't start:

[code]

I'm found two bugs filed about this and a Stackoverflow post:
- https://java.net/jira/browse/GLASSFISH-21343
- https://java.net/jira/browse/GLASSFISH-21346
- http://stackoverflow.com/questions/29481479/glassfish-wont-start-from-intellij-unless-i-run-intellij-with-sudo

[2015-04-13 13:06] pdurbin commented on #1983
I wonder if this is related: https://truesecdev.wordpress.com/2015/04/09/hidden-backdoor-api-to-root-privileges-in-apple-os-x/

[2015-04-13 13:47] raprasad opened #1984 "Dataset page: file info says 0 bytes--but the files have bytes"
Example: https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/21919
![precinct-level_election_data_-_election_data_archive_dataverse](https://cloud.githubusercontent.com/assets/1036060/7116735/d3772ea2-e1c1-11e4-99d1-cf47f8948e45.png)

/cc @scolapasta @landreev

[2015-04-13 13:59] mcrosas commented on #1980
Done

[2015-04-13 13:59] #1980 closed

[2015-04-13 14:00] mcrosas commented on #1974
I checked.

[2015-04-13 14:00] #1974 closed

[2015-04-13 14:11] #1962 closed

[2015-04-13 14:13] scolapasta commented on #1960
Also, add facets to these dataverses.

[2015-04-13 14:19] scolapasta commented on #1976
Also change the search widget.

[2015-04-13 14:23] mcrosas commented on #1961
Checked a few

[2015-04-13 14:23] #1961 closed

[2015-04-13 15:17] mcrosas opened #1985 "Harvested Dataverse"
Loading dataverses in the Harvested Archives dataverse takes very long to load and after a few times get internal error.

[2015-04-13 15:28] scolapasta opened #1986 "ToU popup shows raw html"

[2015-04-13 15:31] scolapasta opened #1987 "Show ToU / Guestbook when Download multiple files"

[2015-04-13 15:33] eaquigley opened #1988 "Download Files: Select All Checkbox"
Need a way for a user to select all files in the dataset to download.

[2015-04-13 15:34] eaquigley opened #1989 "Files: Show number of files in a dataset"
Need to add how many files are in a dataset in the files tab.

[2015-04-13 15:35] eaquigley opened #1990 "Dataset: Show on Create Page CC0 default"
Add into the create dataset page a section showing CC0 will be selected.

[2015-04-13 15:36] scolapasta opened #1991 "Verify that API sets license on create dataset"

[2015-04-13 15:38] raprasad opened #1992 "Dataset page performance: clicking file checkboxes reloads files tab"
- Clicking a checkbox reloads the entire files tab
- With many files, this gets expensive
- In this screenshot, 2.4 mb are downloaded for  *each* checkbox click
   - https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/21919

![precinct-level_election_data_-_election_data_archive_dataverse](https://cloud.githubusercontent.com/assets/1036060/7119054/4638dabc-e1d1-11e4-9e8f-dc40afb8a0

[2015-04-13 16:01] scolapasta opened #1993 "Change dataverse link in notification e-mail"
To pretty faces URL

[2015-04-13 16:22] sbarbosadataverse commented on #1767
These are looking great, except for the lack of responses from admins. I am contacting the ones who never responded again, with a link to their dataverses in 4.0 and their options.

Otherwise--files are restricted, metadata public and looking beautiful~

[2015-04-13 16:23] sbarbosadataverse commented on #1767
The unpublished dataverses with published datasets migrated as : unpublished dv/unpublished dst.
looks fabulous in search in that they don't come up~will do another search when super user account is active

[2015-04-13 16:30] eaquigley commented on #1959
Done. Passing to @mcrosas to review then close this ticket.

[2015-04-13 16:34] scolapasta opened #1994 "Migrate code should correctly set globalcreatetime"
Currently only sets if first migrated version is published. So if you migrate a draft, then a published, it does not get set.

[2015-04-13 16:40] sbarbosadataverse commented on #1772
Sanity check done! Looks awesome

[2015-04-13 16:40] #1772 closed

[2015-04-13 16:42] sbarbosadataverse opened #1995 "Center for International Forestry Research Dataverse"
will remove from Harvard Dataverse (they are requiring help with migrating to their own installation: http://data.cifor.org/dvn/) - Kevin

[2015-04-13 16:44] sbarbosadataverse opened #1996 "Townsend Dataverse Restricted Datasets"
They require assistance removing/moving their restricted datasets off 3.6 and into their own (tbd) space--
will remove any we moved to 4.0 as unpublished (if they were restricted datasets in 3.6)

[2015-04-13 16:46] sbarbosadataverse commented on #1767
Looking great-creating a new issue ticket to recontact all:
published dataverses/restricted datasets only-that have not replied to previous contact

[2015-04-13 16:46] #1767 closed

[2015-04-13 16:49] sbarbosadataverse opened #1997 "Send final contact to: Published dataverses with restricted datasets that have not replied to 4.0 migration"
https://docs.google.com/spreadsheets/d/1KTnYPjd74NQRaZKP1t1UubBAeJSEm6ClcoO0Rrq9i5Y/edit#gid=0

Sonia will continue contacting until there is a reply-

[2015-04-13 16:50] scolapasta opened #1998 "When creating a datset, set creator for files in db"

[2015-04-13 16:50] scolapasta commented on #1998
To test, upload files at create time, then verify that the creator_id is set in the db.

[2015-04-13 16:59] eaquigley opened #1999 "Cannot Edit General Information without Deleting Selected Featured Dataverses"
Noticed while setting up dataverse.harvard.edu that you cannot have both featured dataverses and facets. if you have one selected and do the other, it deletes the one already set up.

[2015-04-13 17:35] raprasad commented on #1992
Note the ajax update: ```update=":#{p:component('filesTable')}"```
Does this need to refresh the table?

- ```dataset.xhtml```
[code]

- ```DatasetPage.java```
[code]

[2015-04-13 17:38] sbarbosadataverse commented on #1782
Have contact CfA on GAS dataverse and PSI on the social dataverse

[2015-04-13 17:55] sbarbosadataverse commented on #1763
Contact already sent, sanity check done and looks great

[2015-04-13 17:55] #1763 closed

[2015-04-13 17:57] eaquigley commented on #1999
Further investigation shows that changing anything on the General Information page deletes the featured dataverses.

[2015-04-13 18:02] sbarbosadataverse opened #2000 "html showing up in facets for affiliation"
https://dataverse.harvard.edu/dataverse/IFPRI

https://dataverse.harvard.edu/dataverse/IFPRI?q=&fq0=affiliation_ss%3A%22International+Food+Policy+Research+Institute%22&types=dataverses%3Adatasets&sort=dateSort&order=desc

[2015-04-13 18:11] eaquigley commented on #1960
Done. Discovered #1999 while doing this so each time the general info is changed, I have to go and redo the featured dataverses. Obviously not ideal but can be worked around for the launch. Will need to fix this in the patch for this week.

[2015-04-13 18:11] #1960 closed

[2015-04-13 18:16] eaquigley commented on #1771
set up a bunch of these for the release. closing ticket.

[2015-04-13 18:16] #1771 closed

[2015-04-13 19:03] raprasad commented on #1986
moved to this QA
/cc @kcondon @scolapasta

[2015-04-13 19:12] scolapasta commented on #1982
Done, there were 130 (130 without the period, 1 with)

[2015-04-13 19:22] mcrosas commented on #1982
Checked. Looks good, closing.

[2015-04-13 19:22] #1982 closed

[2015-04-13 19:43] sbarbosadataverse commented on #1782
@scolapasta
Dana will be added for PSI (her user account doesn't show up yet under permissions)-when will we be able to actually update the site with users? thnx

[2015-04-13 19:46] pdurbin commented on #1985
Removing the following lines locally speeds things up considerably:

[code]

[2015-04-13 20:39] pdurbin commented on #1985
Since we limit the number of published datasets that can be previewed to 3 (currently hard-coded in the xhtml) we could move that to the query like this:

[code]

Passing to @scolapasta for review.

[2015-04-13 21:36] eaquigley opened #2001 "Permissions: Not able to search by username"
Tried searching for a user to assign them a role in a dataverse but was not able to search by username. Even tried with @ and it didn't work. Was able to find them by using their first and last names.

[2015-04-13 21:41] kcondon commented on #1998
OK creator_id is written, closing.

[2015-04-13 21:41] #1998 closed

[2015-04-13 21:43] kcondon commented on #1986
Ok, now showing bytes, closing.

[2015-04-13 21:43] #1986 closed

[2015-04-13 21:44] kcondon commented on #1984
OK, now showing bytes, closing

[2015-04-13 21:44] #1984 closed

[2015-04-13 21:49] kcondon commented on #1993
Link in email is now pretty, closing.

[2015-04-13 21:49] #1993 closed

[2015-04-13 22:01] mcrosas commented on #1976
Done (in the next dataverse.org build)

[2015-04-13 22:02] #1976 closed

[2015-04-13 22:04] pdurbin commented on #2000
We starting stripping HTML while indexing in #1332

@scolapasta and @posixeleni should authorAffiliation allow HTML? Check this out from https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/17988

![assessing_the_potential_of_farmer_field_schools_ ffs _to_fight_poverty_and_foster_innovation_in_east_africa_-_international_food_policy_research_institute_ ifpri _dataverse_-_2015-04-13_

[2015-04-13 22:23] mcrosas commented on #1959
Checked. Done.

[2015-04-13 22:23] #1959 closed

[2015-04-13 22:53] scolapasta commented on #1985
@mcrosas came around and it turns out that we don't even want to show this view recently released snippet. So we can just take it out completely.

[2015-04-14 01:55] mcrosas commented on #1924
Finally, did not remove Federated Dataverse, but renamed to Harvested Archives Dataverse. Made changes to some of the harvested dataverses names and descriptions.

[2015-04-14 01:55] #1924 closed

[2015-04-14 02:45] pdurbin commented on #1950
Duplicate of #1845

[2015-04-14 02:46] pdurbin commented on #1842
I think this became #1843

[2015-04-14 03:46] scolapasta commented on #1911
This was fixed in beta 15.

[2015-04-14 03:49] scolapasta commented on #1845
Duplicate of #1950

[2015-04-14 03:51] #1596 closed

[2015-04-14 03:53] scolapasta commented on #1500
@raprasad could you please clarify?

[2015-04-14 03:54] scolapasta commented on #1162
We show all facets as sub dataverses / linked datasets may use any block. But we added a dropdown to make it easier to see what facets belong to what block.

[2015-04-14 03:55] scolapasta commented on #1096
This was fixed a while ago.

[2015-04-14 04:03] scolapasta opened #2002 "Widget links leave dataverse"
Since the paging (and sorting) are links, they do a get. And in this case the search include fragment assumed that the dataverse would be provided by the alias in the url. But in the iframe version it is not there. So the link loads what it thinks it should which is page X of the root dataverse (since it doesn't have an alias or id reference).

(maybe the iframe code should be prettyfaced to take

[2015-04-14 04:14] scolapasta commented on #1911
This was fixed in beta 15.

[2015-04-14 09:51] bencomp commented on #775
@pdurbin will you add the JaCoCo bit to the pom?

[2015-04-14 10:04] bencomp commented on #1926
This issue is a follow-up from #1774.

[2015-04-14 10:05] bencomp commented on #1969
We would like these numbers too, but please do not rely on Google Analytics exclusively (#1594).

[2015-04-14 11:46] bencomp commented on #813
And ResourceSync was already mentioned in #900.

[2015-04-14 11:56] pdurbin commented on #900
We should also take a look at https://github.com/CenterForOpenScience/SHARE

[2015-04-14 12:27] pdurbin commented on #1985
Oh! Well, it's easy to remove stuff. Done in 35c4f3a

Passing to QA.

[2015-04-14 12:41] bencomp opened #2003 "Installation Branding - Customize/configurable navbar logo + links, landing pg etc."
At [DANS](http://www.dans.knaw.nl) we would like to upgrade our service [DataverseNL](https://dataverse.nl) (formerly known as Dutch Dataverse Network) to use Dataverse 4. We fiddled with a few settings, but they did not result in promising layout changes.

Our options seem to be:
- customise the root dataverse: name and description, affiliation, featured dataverses etc. The result could be that t

[2015-04-14 12:48] pdurbin commented on #2003
@mheppler @eaquigley @scolapasta @mcrosas what do you think of this?

"Dataverse" is currently appended in various places, making it difficult for @bencomp to brand his installation the way he'd like.

[2015-04-14 13:00] bencomp commented on #900
@pdurbin it looks like SHARE uses OAI-PMH to harvest information: https://osf.io/wur56/wiki/scrAPI/

[2015-04-14 13:36] pdurbin commented on #775
I'd love to. I think we need to decide where to put the output, however. I consider the output from JaCoCo to be similar to the "maven site" output I played with in the DVN 3.6 days. You can see the output of that experiment at http://dvn.github.io/dvn-mavensitepoc/ ( repo link: https://github.com/dvn/dvn-mavensitepoc ).

Along these lines I just pushed 184e687 so this gets updated on every build:

[2015-04-14 13:39] mcrosas opened #2004 "My Unpublished Data doesn't load"
Going to unpublished data takes forever, and it never loads. I tried that with my personal account. @cchoirat had the same problem.

[2015-04-14 13:41] eaquigley commented on #2004
I've noticed this before but it was a specific case where I had clicked on Notifications or Account Information then clicked on My Unpublished Data. Did you both go directly to My Unpublished Data and have this issue? @mcrosas @cchoirat

[2015-04-14 13:43] cchoirat commented on #2004
I did click on Account Information (to try to change the email associated
with the account).

On Tue, Apr 14, 2015 at 9:41 AM, Elizabeth Quigley <notifications@github.com

[2015-04-14 13:46] mcrosas commented on #2004
I tried both going directly and not going directly - it always had this
problem.

On Tue, Apr 14, 2015 at 9:43 AM, cchoirat <notifications@github.com> wrote:

[2015-04-14 14:13] rliebz opened #2005 "SWORD routes redirect from dataverse.harvard.edu to thedata.harvard.edu"
For example, when attempting to get the service document at:

`https://dataverse.harvard.edu/dvn/api/data-deposit/v1.1/swordv2/service-document`

The page redirects to:

`https://thedata.harvard.edu/dvn/api/data-deposit/v1.1/swordv2/service-document`

This appears to happen with any SWORD route, and will generally produce 404s, since the `v1.1` routes do not exist on `thedata.harvard.edu`.

[2015-04-14 14:16] pdurbin commented on #2005
I can confirm that I'm seeing the same behavior:

[code]

It sounds like we should adjust the redirects, which I assume is being done with Apache configs.

[2015-04-14 14:19] posixeleni commented on #907
All the Export and Import Mappings for Dataverse 4.0 metadata are here:
https://docs.google.com/spreadsheets/d/10Luzti7svVTVKTA-px27oq3RxCUM-QbiTkm8iMd5C54/edit?usp=sharing

[2015-04-14 14:29] posixeleni commented on #907
Just spoke with Varsha from Scientific Data and we have a dataset metadata export use case from them that would be good for us to have them test. @eaquigley Varsha said she would be more than happy to test out the functionality with us once we have it in a dev environment for testing.

1) Author creates dataset in Dataverse GUI: (fills in citation metadata, and where relevant fills in life science

[2015-04-14 15:23] posixeleni commented on #1162
Works as expected. Closing.

[2015-04-14 15:23] #1162 closed

[2015-04-14 15:34] suenjedt opened #2006 "Create new account: General ToU show incorrectly"
- I think there are either typos or/and formatting issues
- I see many question marks. Don't think thats correct.

![screen shot 2015-04-14 at 11 30 28](https://cloud.githubusercontent.com/assets/7300319/7140533/d67c2e26-e299-11e4-9da3-9d9e9202f746.png)

[2015-04-14 15:35] sbarbosadataverse commented on #1782
Hi Sonia,

I'm good, glad it is warmer! I had a conversation not too long ago with Eleni about admin access. Our permissions should still be active, right? We can also consolidate to one admin account, which might be actually easier for us to use.

Thanks!
Chris

Hi Sonia and Chris,

Because I am now another step removed from Harvard, and because I really don't want to have people asking me to adm

[2015-04-14 15:41] sbarbosadataverse opened #2007 "Searching and browsing without loggin into DV, when you log-in (with Shibboleth) you are taken to root dataverse and lose your search"
If I'm in a dataverse and I decide to log in, I'm taken back to the root, and lose my search. In 3.6 we used to be taken back to the page we were on

[2015-04-14 15:48] sbarbosadataverse commented on #1782
@scolapasta

I am seeing a list of admins and contributor for the GAS dataverse so I'm not sure why it's on this list:

![vwtt6jpa78nsgtwqmfxokmt8sbgfqb0fbmnmik007qg](https://cloud.githubusercontent.com/assets/8322346/7140896/1a0f8ac8-e29c-11e4-89ea-5eb58443d77b.png)

[2015-04-14 15:48] mheppler commented on #2006
I believe this is a duplicate, and we're already tracking this issue with a "Dataverse 4.0: Release Patch" ticket, Terms of Use - HTML Formatting #1863.

[2015-04-14 16:27] scolapasta commented on #2004
Reproduced with both @mcrosas @cchoirat , also locally. When going directly to My unpublished data works fine. However when first going to to Account Information or Notifications, then to My Unpublished Data, you get the spinner.

[2015-04-14 17:12] suenjedt opened #2008 "Harvested dataverses which have been linked to individual dataverses are not shown"
An example
https://dataverse.harvard.edu/dataverse/PVM and http://thedata.harvard.edu/dvn/dv/PVM

![screen shot 2015-04-14 at 13 10 27](https://cloud.githubusercontent.com/assets/7300319/7142593/c82308a0-e2a7-11e4-8148-fb8b3f0536f2.png)
![screen shot 2015-04-14 at 13 10 15](https://cloud.githubusercontent.com/assets/7300319/7142594/c82eb8bc-e2a7-11e4-9ac1-803822682bbd.png)

[2015-04-14 17:14] pdurbin commented on #2007
@sbarbosadataverse yes, this is frustrating for Shibboleth users, I'm sure. We are tracking this problem at #1551 so if you feel like that ticket accurately captures the problem, please close this one. (It's somewhat technically worded.)

[2015-04-14 17:18] pdurbin commented on #2001
Reported here as well: https://help.hmdc.harvard.edu/Ticket/Display.html?id=196347

[2015-04-14 17:20] sbarbosadataverse opened #2009 "Permissions: Popups Not Scrollable"
Searching for a user, can't scroll to the remaining of the list.
Also, if you attempt to expand the dialogue box, then the box shift and can only see "save and cancel" and can't fix by making the box smaller/larger

[2015-04-14 17:33] sbarbosadataverse commented on #2007
sounds good. I'll close this. thanks

On Tue, Apr 14, 2015 at 1:14 PM, Philip Durbin <notifications@github.com>
wrote:

[2015-04-14 17:33] #2007 closed

[2015-04-14 17:33] raprasad commented on #2004
To QA:
- log in
- click on username (upper right corner)
- select either "notifications" or "account information" (*not* "My Unpublished Data" )
   - should land on the selected tab
- go to "My Unpublished Data" tab

/cc @kcondon @scolapasta

[2015-04-14 17:33] sbarbosadataverse commented on #2007
already in ticket #1551

[2015-04-14 18:27] pdurbin commented on #784
Now that we are in production, it's clear that the getDataversesUserHasPermissionOn method in PermissionServiceBean is not performant enough for 2901 dataverses. It's taking over 24 minutes:

[code]

[code]

@raprasad dropped by and he helped me come up with this, which looks promising:

`SELECT * FROM dvobject WHERE dtype = 'Dataverse' and id in (select definitionpoint_id from roleassignment wher

[2015-04-14 18:27] mcrosas commented on #1969
Thanks @bencomp - we will take this into account, and it might be a good idea to work on it together.

[2015-04-14 18:40] sbarbosadataverse opened #2010 "Zip file upload functionality: sometimes a file unpacks, sometimes it's uploaded as "zip"-which is it?"
![fo4vvwdqbeozqcvcdg9efi_v6pc4jtkb4t62klhcujk](https://cloud.githubusercontent.com/assets/8322346/7144518/1109c6ec-e2b4-11e4-96d2-9628721474a8.png)

[2015-04-14 19:02] eaquigley opened #2011 "Dataset Curation: Et Al. for Authors appearing in Facets"
Should look into this and see if we want to clean it up.

[2015-04-14 19:33] scolapasta commented on #1999
Cleaned up logic around the featured dataverses save. Please test all aspects of Dataverse Page. (sub pages (permission, theme, etc), not changed)

[2015-04-14 19:40] scolapasta commented on #2006
Passing to QA as a duplicate,

[2015-04-14 19:54] scolapasta commented on #2002
iframe now uses pretty faces - fix should work for open scholar once we push (no change needed on their side)

[2015-04-14 20:15] pdurbin opened #2012 "SWORD: retrieving the Service Document is not performant with ~3000 dataverses"
This ticket is specifically to address the performance problem retrieving the SWORD Service Document from https://dataverse.harvard.edu as reported by @rliebz and @axfelix at http://irclog.iq.harvard.edu/dataverse/2015-04-14#i_18331

#784 is a related ticket in which we hope to solve the problem more completely.

[2015-04-14 20:22] pdurbin commented on #2012
@scolapasta and I think 70548db is good enough for a quick patch so I'm passing this to QA. Please note that the SWORD Service Document will only return dataverses for which your user account has a a direct role assignment. Role assignments for groups you may belong to will be ignored. We'll fix this in a future ticket such as #784 or #1070 or #1443

This is how I would recommend testing on a syst

[2015-04-14 20:25] pdurbin commented on #784
@michbarsinai we are not sure how to add the groups to the list so the commit at 70548db which I'm putting through QA in #2012 does not respect groups. If you have any ideas, please let me know!

[2015-04-14 20:38] scolapasta commented on #1906
I think this was the issue we discovered in resolved in #2004

[2015-04-14 20:45] kcondon opened #2013 "Service Stability: Long lived objects eventually cause repeated stop-the-world gc."
The recent instability in service today seems to mostly be due to continuous stop-the-world gc.

I know this because each time there was a failure I checked:
jstat <pid>  gcutil    and
jmap -heap <pid>

Increasing the heap size helped but it's still happening.

Suggestions are to look at the access log and run the memory profiler on the app, looking for large object hierarchies being created and n

[2015-04-14 21:09] raprasad commented on #1500
This can be closed. Back in Feb I had received an 'invalid url' message b/c I hadn't included the http/https prefix.

[2015-04-14 21:27] kcondon commented on #2012
OK this works but the curl command should be this:
curl -u $API_TOKEN: https://dataverse.harvard.edu/dvn/api/data-deposit/v1.1/swordv2/service-document

[2015-04-14 21:27] #2012 closed

[2015-04-14 21:27] kcondon commented on #2006
Closing as duplicate.

[2015-04-14 21:27] #2006 closed

[2015-04-14 21:28] kcondon commented on #2004
OK, works, closing

[2015-04-14 21:28] #2004 closed

[2015-04-14 21:29] kcondon commented on #1906
Same issue, closing.

[2015-04-14 21:29] #1906 closed

[2015-04-14 21:29] posixeleni commented on #813
@scolapasta @eaquigley please also keep in mind that we need to add a new Dataverse to our harvest per this request from the UBC Abacu Dataverse team. Should I create a separate ticket for this?

[2015-04-14 21:33] raprasad opened #2014 "Dataset page: files are listed in random order -> Sort them!"
Please sort files by filename.  It is confusing to upload meaningfully named files and see them randomly listed.

[2015-04-14 21:34] posixeleni commented on #2014
Would be really nice to sort them by the "Category" tag as well

[2015-04-14 21:39] mcrosas commented on #2014
yes, we need for some datasets as soon as possible a way to sort or filter them by category - we could, for example, display the categories as "tags" at the top of the page (if the dataset has any tags), and when you click in a "tag", it filters the files for that category. This is needed son to bring functionality we had in 3.6 that a few dataverses are heavily relying on.

[2015-04-14 21:40] kcondon opened #2015 "Edit Dataverse/Metadata: If make a field hidden first, then cannot make something required in that session."
If I make a field hidden first, say SocSci unit of analysis, then may a field like universe required, the radio button for required keeps snapping back to optional. If I exit and try again, making universe required first, then I can make the other hidden and save both.

[2015-04-14 21:46] scolapasta commented on #2014
We need sorting for sure for the patch to help resolve some other issues we're seeing.

And we need to decide if filtering by categories needs to be done now or can wait for 4.0.1.

[2015-04-14 21:46] kcondon commented on #1999
OK, can edit general info and set and remove featured dvs. Closing.

[2015-04-14 21:46] #1999 closed

[2015-04-14 21:55] kcondon commented on #1985
Fast on dvn-vm5, closing

[2015-04-14 21:55] #1985 closed

[2015-04-14 21:55] kcondon commented on #2002
They now don't leave, closing.

[2015-04-14 21:55] #2002 closed

[2015-04-14 21:58] scolapasta commented on #2010
Zip file behavior:
Unpacked automatically.
If it fails to unpack, for whatever reason, it'll upload as is.
If the number of files inside is more than a set limit (1,000), you get
an error message and the file uploads as is.

[2015-04-14 22:13] pdurbin commented on #1551
I mentioned what I think will be the fix at http://irclog.perlgeek.de/shibboleth/2015-04-14

I'll have to figure out how to get the redirect value and pass it here: https://github.com/IQSS/dataverse/blob/293af79b5efa0ec159a30f3e66cc940de272d97d/src/main/webapp/resources/js/shib/idpselect_config.js#L17

[2015-04-14 22:30] scolapasta commented on #2010
@sbarbosadataverse could you provide files that had this behavior so we can investigate why it's failing to unpack?

[2015-04-14 23:30] pdurbin commented on #2014
This seems to be a duplicate of #1836

[2015-04-15 00:36] raprasad commented on #1836
closing as duplicate

[2015-04-15 00:36] #1836 closed

[2015-04-15 08:37] kcondon commented on #2005
This was resolved by removing an old reference to thedata in ssl.conf

[2015-04-15 08:37] #2005 closed

[2015-04-15 10:00] raprasad commented on #2014
@scolapasta @landreev
Didn't see this was assigned.  Checked in an annotation update to sort by category and label

[2015-04-15 12:12] mcrosas opened #2016 "When click Download in a file, it downloads the other file in the dataset"
This can be seen in this dataset:

https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/8PY6Q6

[2015-04-15 13:36] sbarbosadataverse commented on #2010
User notified. Eleni will add to documentation.

[2015-04-15 13:42] sbarbosadataverse commented on #1963
@mcrosas
Can I go through and delete without double checking with you? It's mostly obvious which should be removed.

[2015-04-15 13:54] mcrosas commented on #2016
This is related to #2014

[2015-04-15 13:55] mcrosas commented on #1963
yes

On Wed, Apr 15, 2015 at 9:42 AM, sbarbosadataverse <notifications@github.com

[2015-04-15 13:57] eaquigley commented on #1963
Can we compare the test dvs deleted to the email addresses for user accounts that bounced when the email announcements were sent?

From: Merce Crosas [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 9:56 AM
To: IQSS/dataverse
Subject: Re: [dataverse] Delete test Dataverses (#1963)

yes

On Wed, Apr 15, 2015 at 9:42 AM, sbarbosadataverse <notifications@github.com
<mailto:notificati

[2015-04-15 13:57] sbarbosadataverse opened #2017 "tabular data upload failure: failure icon does not disappear post publishing"
https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi%3A10.7910%2FDVN%2F8PY6Q6

The failure is valid as
the file has images within, so while it uploaded as excel, the "failed"  tabular processing icon doesn't disappear once published.

[2015-04-15 13:58] pdurbin commented on #784
Rather than 24 minutes, with that patch applied in production (again, groups memberships are ignored, unfortunately), I can retrieve the service document in well under a second:

[code]

[2015-04-15 15:00] raprasad commented on #2016
Also related #1992.
Every time you click a checkbox, the file tab is reloaded--and may be sorted differently

[2015-04-15 15:08] mcrosas commented on #1963
Good idea @eaquigley @sbarbosadataverse

[2015-04-15 15:47] sbarbosadataverse commented on #1905
@scolapasta
user just reported. I tested on his dataset and was able to reproduce in production 4.0

[2015-04-15 16:25] sbarbosadataverse opened #2018 "The metadata could not be updated. Please contact support. error message"
possibly related to #1905 , but with different cause.

went into study, filled in new required fields: contact email and subject
hit save and error message shows.

user receives (also tested by me and same error): meta data can't be updated

[2015-04-15 17:18] sbarbosadataverse opened #2019 "reset all open and wiki dataverses to have the right dataverse permissions"
Permissions for "open" dataverses in 3.6 should be:
Anyone with a Dataverse account can add datasets

[2015-04-15 17:52] posixeleni commented on #2019
And the default role for 3.6 Open Dataverses should be:

Contributor - Edit metadata, upload files, and edit files, edit Terms, Guestbook, Submit datasets for review

[2015-04-15 17:59] sbarbosadataverse commented on #2009
![hzafxahkwonenm0toasemav6vusxdmapdz6t_jm1occ](https://cloud.githubusercontent.com/assets/8322346/7165760/a77ffa42-e377-11e4-8ec2-ecd0f2a37ef3.png)

![m5nxcvilcoeaztilata_xevngzjitidr8aptvmk9u8y](https://cloud.githubusercontent.com/assets/8322346/7165762/a92b0850-e377-11e4-8e5e-b28272828170.png)

[2015-04-15 18:02] mheppler commented on #2009
![screen shot 2015-04-15 at 2 03 12 pm](https://cloud.githubusercontent.com/assets/687227/7165836/171a48c6-e378-11e4-8226-f498ade8f086.png)

[2015-04-15 18:43] raprasad commented on #1927
To test:
#### By DatasetVersion Id
   - **versionId**
      - Format:  ```dataset.xhtml?versionId={ DatasetVersion.id }```
      - Example: ```dataset.xhtml?versionId=86```

#### By Dataset id
   1. **id**
      - Format: ```dataset.xhtml?id={ Dataset.id  }```
      - Example: ```dataset.xhtml?id=5```
   1.  **id** and **DRAFT**
      - Format: ```dataset.xhtml?id={ Dataset.id }&version={ DatasetV

[2015-04-15 18:55] scolapasta opened #2020 "Move persistentid related methods from Dataset to GlobalId"

[2015-04-15 18:56] eaquigley commented on #1963
In google drive, I have created a spreadsheet called User Emails + Test DVs Deleted in 4.0 @sbarbosadataverse in the second tab of that spreadsheet, please input the information regarding the test dvs you are deleting. (can't share the link here because of privacy of emails)

[2015-04-15 19:01] mheppler commented on #2009
![screen shot 2015-04-15 at 3 01 35 pm](https://cloud.githubusercontent.com/assets/687227/7167086/4f94444c-e380-11e4-8419-79a86ec8a839.png)

[2015-04-15 19:14] sekmiller commented on #1987
This is fixed. will be available in next build.  One thing to bear in mind while testing is that under no circumstances will a download popup be shown on a draft version of a dataset. (even if the ds has been published previously.)

[2015-04-15 19:18] sekmiller commented on #1979
If a draft has a previous download you still won't be able to delete it.  We'll need to cleanup the DB for prior gb responses.  The fix that will be part of the next build prevents responses from being created on draft versions of a dataset - both before and after "original publication."

[2015-04-15 19:35] raprasad commented on #2016
This effects mapping and also seems impact two ravens.
- When I click Dowload directly, I often receive a different file.
- Similarly, the Map Data button is trying to access an incorrect file.
- Reported problems with two ravens failing to load a file may be a variation on the same issue.
fyi: @scolapasta

[2015-04-15 19:55] suenjedt commented on #1919
I did an empty search on https://dataverse.harvard.edu/. I get a "null" search instead of the expected complete repository content.

![screen shot 2015-04-15 at 15 53 20](https://cloud.githubusercontent.com/assets/7300319/7167943/a93ea9a4-e387-11e4-8a3b-ac7adf86e2e8.png)

[2015-04-15 20:24] posixeleni commented on #1977
Changed status to critical since this is now affecting how users access datasets since they are being pointed to 3.6.2 which does not allow them to do anything with the data.

CC/ @eaquigley

[2015-04-15 20:47] scolapasta commented on #1992
The logic here has now been updated.

[2015-04-15 20:49] scolapasta commented on #2014
Files now sorted by label (filename).

Passing this issue to QA; will open new issue for @mcrosas ideas.

[2015-04-15 20:51] scolapasta commented on #2016
Fixed.

[2015-04-15 21:02] scolapasta opened #2021 "Better handling of dataset page with many files"
There are likely several other issues like this or related, but to make sure we track, opening this:

We need to consider cases of loading many files and of sorting / filtering.

[2015-04-15 21:02] scolapasta commented on #2014
New issue is #2021

[2015-04-15 21:03] scolapasta commented on #2021
@mcrosas comments from #2014:

yes, we need for some datasets as soon as possible a way to sort or filter them by category - we could, for example, display the categories as "tags" at the top of the page (if the dataset has any tags), and when you click in a "tag", it filters the files for that category. This is needed son to bring functionality we had in 3.6 that a few dataverses are heavily rely

[2015-04-15 21:03] mcrosas commented on #2016
:+1:

[2015-04-15 21:04] scolapasta commented on #2010
@sbarbosadataverse could you provide files that had this behavior so we can investigate why it's failing to unpack?

[2015-04-15 21:05] mheppler commented on #2009
Added some scrolling and height attributes on autoComplete and dataTable components to fix issues with long lists in the Permissions workflows. Also added utlitized some javascript, CSS to improve popup resizing.

[2015-04-15 21:05] eaquigley commented on #1336
Also need notifications for:

- [ ] when a dataverse is published
- [ ] when a dataset is published

[2015-04-15 21:06] eaquigley commented on #1155
Also need notifications for:

- [ ] when a dataverse is published
- [ ] when a dataset is published

[2015-04-15 21:06] scolapasta opened #2022 "Code Cleanup: remove filemetadata category"
And verify no references (order by?)

[2015-04-15 21:07] kcondon opened #2023 "Dataset Files: Selecting files in files tab is problematic can result in mistakes (delete, download, edit, etc)."
Minor but when I click the Explore button, the file is checked and highlighted.

[2015-04-15 21:13] kcondon opened #2024 "Geoconnect: Clicking Map it button results in server error"
[2015-04-15T17:01:55.063-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.worldmapauth.TokenApplicationTypeServiceBean] [tid: _ThreadID=41 _ThreadName=jk-connector(2)] [timeMillis: 1429131715063] [levelValue: 800] [[
  WorldMap token-based auth: Token's User is still authorized to edit the dataset for the datafile.]]

[2015-04-15T17:01:55.067-0400] [glassfish 4.1] [WARNING] [] [javax.ente

[2015-04-15 21:17] kcondon commented on #1979
Now you can delete a draft that has a download, downloads on draft are not recorded. Closing.

[2015-04-15 21:17] #1979 closed

[2015-04-15 21:20] posixeleni opened #2025 "Support for Duplication of Data Collections Across Repositories"
Need to investigate and implement technology in 4.0 to allow for the efficient duplication of data collections across repositories (e.g., Data-PASS).

Some options to consider:
- Continue supporting LOCKSS
- Look into ResourceSync http://www.niso.org/workrooms/resourcesync/ (this is newer technology so it is unclear how many adopters this has)
- Look into other options...

[2015-04-15 21:42] kcondon commented on #1987
Works, closing

[2015-04-15 21:42] #1987 closed

[2015-04-15 21:43] kcondon commented on #2016
Works, closing

[2015-04-15 21:43] #2016 closed

[2015-04-15 21:49] kcondon commented on #2014
Sorting works but noticed it treats files beginning with capital letters differently so files with caps always appears before lowercase files.

So, M51 appears before collier. Otherwise appears to work fine. Gustavo asked that I pass to @eaquigley for comment on above behavior.

[2015-04-15 21:52] kcondon commented on #1992
OK, no longer reloading, closing

[2015-04-15 21:52] #1992 closed

[2015-04-15 22:06] scolapasta opened #2026 "Hook up download All button"
Rather than use a list of id's, in this case, the access api should accept a datasetversion.

[2015-04-15 22:13] kcondon commented on #2009
OK, shows about 5 rows and a scroll bar. Works, closing.

[2015-04-15 22:13] #2009 closed

[2015-04-15 22:34] mcrosas opened #2027 "Review performance when selecting a user to assign to roles"
Filtering a user to assign it to a role is slow in production (sue to the large number of users). Maybe there a few more things we can do to speed it up. Also we can review it showing 5 at a time is a suitable number (in some cases, you need to scroll among many names).

[2015-04-15 22:34] pdurbin commented on #915
@posixeleni and @eaquigley heads up that @mcrosas and I just talked about these new sections I added to the API Guide:

- http://guides.dataverse.org/en/latest/api/client-libraries.html
- http://guides.dataverse.org/en/latest/api/apps.html

In these pages we highlight the great work of @rliebz and @leeper in developing client libraries for Dataverse in Python and R, respectively.

We also link to

[2015-04-15 23:06] kcondon opened #2028 "Installer: Add image processing library to installer"
From #1738

cd /usr/local/glassfish4/glassfish/domains/domain1/
cp applications/dataverse-4.0/WEB-INF/lib/jai_imageio-1.1.1.jar lib/ext/

(and restart glassfish).
Ideally it should be part of the installer process.

[2015-04-15 23:27] pdurbin commented on #1823
You can now retrieve your API token via the API per #1818

We don't yet have a way to generate an API token through API using username/password but that ticket is #1935 . For now you must use the GUI: http://guides.dataverse.org/en/latest/user/account.html#generate-your-api-token

[2015-04-16 00:05] raprasad commented on #2024
Error reproduced and fix checked in:  https://github.com/IQSS/dataverse/commit/054900ab6c9613525d7a3eacde66f5ed6d52e258

Description:
- Geoconnect requests metadata
- The API call handling the metadata assumed that Dataverse "getDescription()" always returned a value
- Now handling the case of a ```null``` description
- To do: review other metadata fields with someone on the team to make sure ther

[2015-04-16 00:51] pdurbin commented on #2024
@raprasad you should consider using the (awesome) https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/util/json/NullSafeJsonBuilder.java by @michbarsinai :)

[2015-04-16 02:17] sbarbosadataverse opened #2029 "SuperUser: grant ability to see and edit all user info and reset passwords (like we did in 3.6 as network admins)"

[2015-04-16 02:47] pdurbin commented on #2029
We don't store passwords for Shibboleth users, of course, so a superuser wouldn't be able to reset them. The user would need to contact their their "Identity Provider" ... the group that manages logins for their institution.

[2015-04-16 02:59] mcrosas commented on #2029
we can't do this for security reasons, but we'll think of the right solution to better support our users when they are having an issue with login or passwd reset.

[2015-04-16 02:59] #2029 closed

[2015-04-16 12:06] bencomp commented on #1749
We just ran into the issue of the Solr schema being out of date. If there such a strong interdependence between the Dataverse version and Solr schema, I would suggest to make sure they are updated in a single "transaction". The documentation has to say

[2015-04-16 12:14] pdurbin commented on #1749
@bencomp this is an excellent point. We could really use some help improving the Installation Guide in #913 if you or anyone is interested!

[2015-04-16 12:58] leeper commented on #915
:+1:

[2015-04-16 13:30] posixeleni commented on #915
:+1:

[2015-04-16 13:31] pdurbin opened #2030 "Password Reset: what to do if an account can't found based on an email address"
The Password Reset feature was developed in #416 but now that Dataverse 4.0 is in production at https://dataverse.harvard.edu we might want to reconsider some design decisions.

## What if someone attempts to reset the password of an email address that does not exist in the system?

Let's say I go to https://dataverse.harvard.edu/passwordreset.xhtml and type in "president@whitehouse.gov" and click

[2015-04-16 13:42] bencomp commented on #2030
Not sure about best practices for this, but the possibility to submitting email addresses for password resets should be limited. When the address cannot be found, tell the user it is not associated with an account.

The audit log should have a record of the requested password reset. A log monitoring system should notify the administrator of suspicious behaviour when there appears to be an attack g

[2015-04-16 13:50] bencomp commented on #1752
@pdurbin just guessing, but could the original issue (multi-line squish) be a PostgreSQL connection/database setting?

Or, wait, I may have seen this before. It may be a "LF vs CRLF over curl/HTTP" issue. In the curl command you use `-d`. I had to use `--data-binary` to preserve line breaks even for plain text.

[2015-04-16 13:55] posixeleni commented on #2030
This is how figshare handles password reset if you enter an email address that is not in their database:

![image](https://cloud.githubusercontent.com/assets/5013837/7182340/b00d5d38-e41e-11e4-8bb7-6b2e8d3cb124.png)

[2015-04-16 15:58] posixeleni opened #2031 "Unable to Delete a File In the UI"
User reported (see RT ticket: https://help.hmdc.harvard.edu/Ticket/Display.html?id=196503) this issue where they try to delete a file in draft but when they try to save the file does not disappear from the UI.

Did some troubleshooting with @scolapasta and uncovered that the file is deleted in the backend but still shows up in the UI.

To recreate here is the dataset: https://dataverse.harvard.edu

[2015-04-16 17:22] scolapasta commented on #2018
The issue here is that the dataset is part of a dataverse with a guestbook that has no name (which is actually all guestbooks, since they did not have names in 3.6).

Will run a script to set guestbook names to be the dataverse name. (and add script to migration)

[2015-04-16 17:44] dliburd commented on #1768
I've completed the customization of released Dataverses that were embedded in 3.6.

[2015-04-16 18:19] scolapasta commented on #2018
Script run

[2015-04-16 18:19] scolapasta commented on #2031
@landreev checked in a fix

[2015-04-16 18:44] pdurbin commented on #2030
I know those two statement sound contradictory but the intention was to **respect users' privacy**. If hackers know your email address, **should they be able to go to a site and discover if you have an account on that site by filling out the password reset form with your email address?**

Maybe it would be better to simply let the hackers (and the users!) know whether or not an account exists for

[2015-04-16 19:08] mcrosas opened #2032 "Do not show logo in Shibboleth Login box if no logo is provided"
As we discussed with @pdurbin if the XML that list the supported Shibboleth institutions does not provide a url to their logo, then don't show the logo in the Login box. In this case, only the Institution name will show as a link.

[2015-04-16 19:21] posixeleni opened #2033 "A Place to Show Contributors To Your Dataverse"
We could put this under metrics or some other part of the Dataverse, especially useful if anyone can contribute to your Dataverse.

[2015-04-16 19:23] posixeleni opened #2034 "Permissions: Add the Option To Edit An Assigned Role"
Under Roles you can only remove a pre-existing role but we should be able to also Edit An Assigned Role.

[2015-04-16 19:25] posixeleni opened #2035 "Remove Assigned Role is Not Working"
When we try to remove an Assigned Role it spins and when we refresh the page it does nothing. Discovered while meeting with @mcrosas

[2015-04-16 19:30] mcrosas commented on #2019
This will be done as a DB update.

[2015-04-16 19:31] posixeleni opened #2036 "Performance problems with "Assign Role" or "Remove Assigned Role""
When we try to remove an Assigned Role it spins and when we refresh the page it does nothing. Discovered while meeting with @mcrosas when looking into AJPS.

[2015-04-16 19:45] mcrosas commented on #2008
Missing:

- Harvested linked datasets

[2015-04-16 19:49] #1770 closed

[2015-04-16 19:50] eaquigley commented on #1956
@suenjedt this is the ticket for selecting categories for dataverses as you do post deployment curation tasks. selecting categories found under the Edit button for a dataverse->then General information

[2015-04-16 19:54] mcrosas commented on #1769
@dliburd now it's a good time to do this

[2015-04-16 19:55] #1768 closed

[2015-04-16 19:55] #1955 closed

[2015-04-16 19:58] mcrosas commented on #1996
@sbarbosadataverse  provide a list

[2015-04-16 20:01] mcrosas commented on #1964
Spreadsheet with all dataverses and try to map subjects for their datasets, when possible.

[2015-04-16 20:09] eaquigley commented on #2014
Personally, I think lowercase and uppercase should be treated the same so M51 should not be appearing before collier.

[2015-04-16 20:13] mheppler commented on #2014
Where do numbers-first fall then?

Order these files:

M51, michael75, m2000, 22mheppler

On Thu, Apr 16, 2015 at 4:09 PM, Elizabeth Quigley <notifications@github.com

[2015-04-16 20:14] eaquigley commented on #2014
22mheppler
m2000
M51
michael75

This is a fun quiz!

[2015-04-16 20:16] posixeleni commented on #2035
duplicate issue #2035

[2015-04-16 20:16] #2035 closed

[2015-04-16 20:17] scolapasta commented on #2014
That's weasy, the challenge is aways:
1a
10a
2a

[2015-04-16 20:31] posixeleni commented on #1964
@kcondon  : Is it possible to get a database report with the names and links to all Dataverses that exist in 4.0 (list which ones are published and unpublished).

We will start categorizing just the published ones but want to have the unpublished ones on hand just in case.

[2015-04-16 20:39] sbarbosadataverse commented on #1996
Gustavo was cc'd in email to Townsend's RA to provide us with IDs for all "unpublished" datasets that need to be removed from dataverse. The task is to also provide them a dump of DDIs and datafiles for these datasets.

[2015-04-16 20:49] posixeleni commented on #1766
@scolapasta is there any way for us to get access into 3.6 to view what is in the actual templates ? 3.6 is currently in read-only mode.

[2015-04-16 20:53] suenjedt commented on #1964
FYI, as per the categories for the disciplines, we used the following in the past, https://www.hesa.ac.uk/jacs2 [established in the UK; the highest level is rather comprehensive already I find ]. OECD has one, http://www.oecd.org/science/inno/38235147.pdf [first level is very general].

[2015-04-16 20:58] kcondon commented on #2014
Right, numbers always come before letters but 10 comes before 2 in sorting but in human readable terms it doesn't. Capital and small letters are sorted differently but in human terms they are the same.

________________________________
From: Gustavo Durand [notifications@github.com]
Sent: Thursday, April 16, 2015 4:17 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Dataset page: f

[2015-04-16 21:00] scolapasta commented on #2014
Right. For 4.0 we are handling the upper case lower case aspect.

#s will sort alphabetically.

[2015-04-16 21:19] kcondon commented on #2031
OK, within the limit scope of the fix, this works:
1. add a file, save.
2. add another file, delete the first, can't save, throws server log error, click cancel.
3. in the past, the first attempted deleted file became immortal. now, if edit again and only delete not upload, delete works.
4. now upload to your heart's content.

[2015-04-16 21:19] #2031 closed

[2015-04-16 21:20] kcondon commented on #2018
OK, not a code change, closing.

[2015-04-16 21:20] #2018 closed

[2015-04-16 21:21] kcondon commented on #2014
I'm tired of this ticket, closing.

[2015-04-16 21:21] #2014 closed

[2015-04-16 21:25] kcondon commented on #2014
OK order is fine.

[2015-04-16 23:14] posixeleni commented on #1454
@scolapasta @kcondon is there any way I can use vm6 or vm5 to test out saved search for PSI Dataverse and send to PSI to review if they like this option or prefer the custom metadata block option?

cc/ @mcrosas @sbarbosadataverse

[2015-04-17 14:39] posixeleni opened #2037 "Notification: URL in Request Access is Going to Wrong Permissions Page"
If you look at the email below the URL is sending the user to the Dataset Permissions page but this needs to go to the File Permissions page for them to be able to grant or reject access to files that users have requested.

From: <support@dataverse.org>
Date: Thu, Apr 16, 2015 at 11:46 PM
Subject: Dataverse: You have requested access to restricted file

File access requested for dataset: "Online v

[2015-04-17 17:34] mcrosas commented on #1809
Left to solve: Download API needs to deal with Terms of Use (in cases that files are unrestricted) @landreev moved to 4.0.1

[2015-04-17 17:46] sekmiller commented on #1350
A while back we updated the view collected data page to display most of the data collected.  We don't show session_id, but we do show dataset name, date of download, file name, download type, user name and affiliation and the responses to custom questions if available.

[2015-04-17 17:46] sekmiller commented on #1350
This may be a duplicate?

[2015-04-17 18:03] mcrosas commented on #1809
For 4.0.1 we'll block the API for these cases (wither for everybody, or everybody except data owners/curators ...)

[2015-04-17 18:04] pdurbin opened #2038 "Solr: make some internal fields indexed=true (searchable) for troubleshooting"
Currently many "internal" fields are set to indexed=false in our Solr schema.xml because we weren't sure if we really want them to be searchable.

@scolapasta and I have been talking about how it might be useful to make more of them searchable for troubleshooting purposes.

Unfortunately, it's **not** enough to simply change the schema.xml file to indexed=true. You also have to reindex everything.

[2015-04-17 18:23] pdurbin commented on #2032
It looks especially bad on Chrome, where it shows a broken image:

![defaultlogo](https://cloud.githubusercontent.com/assets/21006/7208134/6be51652-e50c-11e4-8b46-899849575ac0.png)

What's going on is that https://dataverse.harvard.edu/Shibboleth.sso/DiscoFeed does not contain any logos in it.

This is unlike https://dataverse-demo.iq.harvard.edu/Shibboleth.sso/DiscoFeed where at least TestShib pr

[2015-04-17 18:50] pdurbin commented on #2032
@mheppler and @eaquigley if you look at 7819b5b you'll see that I replaced a reference to a non-existent "flyingpiglogo.jpg" that came with [EDS](https://shibboleth.net/products/embedded-discovery-service.html) when we downloaded it in #794 with a transparent image. If either of you would like to come up with an actual image to use instead that would be fine. I'm going to go ahead and move this to

[2015-04-17 20:03] eaquigley opened #2039 "Facets: Don't Hardcode Any Facets"
Now that we see real data in Dataverse, several of the hard coded facets no longer make sense to have as ones that a user cannot pick if they want them to appear or not. Affiliation is the primary example as well as Dataverse category since most dataverses still need to be given categories.

Things that need to be done:
- [ ] Allow a user to unselect any facet (besides the Dataverse, Dataset, File

[2015-04-17 20:08] eaquigley opened #2040 "Facets: Hide Affiliation Facet"
The top results in the affiliation facet are from Harvested datasets so it isn't providing the user with a great amount of things to browse on. For a quick fix, we want to hide the Affiliation facet. Ticket #2039 covers a more in depth look at facets for later on.

[2015-04-17 20:10] eaquigley opened #2041 "Theme: Add Ability to Upload a Logo that Displays in Search Card + Featured Dataverse"
Currently a user can only upload one image option for theme. Now that we see how this looks in production, it makes sense to allow a user to upload one image for the banner and one image to use for the search cards and featured dataverses.

[2015-04-17 20:26] posixeleni opened #2042 "Make All Metadata Fields Facetable & Advance Searchable"
We will need to look into if it makes sense to enable all metadata fields to be facetable and advance searchable.

[2015-04-17 20:34] pdurbin commented on #2039
@scolapasta this ticket probably means it time to make **all** Solr search field database-driven. Right now many fields are hard coded into https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/search/SearchFields.java

[2015-04-17 20:40] sekmiller commented on #1977
Coded an api to handle doi cases.
to call use:
$SERVER/api/datasets/11/modifyRegistration?key=a8c39fb7-1038-49bd-98c8-6eb918c255c3

where the dataset db id comes directly after "datasets/" and key= the user's api key

[2015-04-17 20:43] posixeleni opened #2043 "Guestbook - Enabled for Request File Access"
Users with restricted files would like to enable guestbook like functionality so that they can find out who and why someone would like to access their data. This will help inform the user on whether or not they should grant or reject access to a file.

This suggestion was requested by a user in our Google Community Forum: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/dat

[2015-04-17 21:03] sekmiller commented on #1977
Reviewed the code with Leonid so he will know where to add the hdl updates.

[2015-04-17 23:43] scolapasta commented on #2019
Done. To open added :authenticated-users group as:
Dataset Creator

To wiki,  added :authenticated-users group as:
Dataset Creator and
Contributor (editor on backend)

Also wiped all other contributors from both these open and wiki.

[2015-04-18 14:58] mcrosas commented on #2003
@bencomp this makes sense. So, to clarify, we would have a configurable label for the "Dataverse" displayed at the top menu bar which can be customized for each installation to distinguish "Harvard Dataverse" from "DataverseNL" or from any other name from another installation. And we would leave the "Dataverse" term used through the application (which applies to the Dataverse object, not the insta

[2015-04-18 17:51] scolapasta commented on #619
This is actually done in setup-all.

[2015-04-18 18:54] scolapasta commented on #1931
Decided that no guestbook entry for drafts, so this issue goes away.

[2015-04-18 19:14] scolapasta commented on #1747
This is a duplicate of #1410

[2015-04-18 19:25] scolapasta opened #2044 "Delete File issues"
We've seen many delete files issues, but from the exception, they are all fundamentally the same issue.

So I am creating this new issue for this. When fixed, please retest the specifc cases in the other three issues:
- when add/delete files in same request. #1344
- when upload a zip, then remove files #1661
- uploading a file that has duplicate files (same md5) where automatic removal is done #18

[2015-04-18 19:26] scolapasta commented on #1344
Consolidated in #2044 (note the immortal file issue was resolved in 4.0 patch)

[2015-04-18 19:26] scolapasta commented on #1804
Consolidated in #2044

[2015-04-18 19:27] scolapasta commented on #1661
Consolidated in #2044

[2015-04-18 19:37] scolapasta commented on #1935
@pdurbin I'd like discuss this before we begin development on it.

[2015-04-18 19:55] scolapasta commented on #1840
Among things to decide:
- a manage page #1760
- do we have a facet #1335

[2015-04-18 19:56] scolapasta commented on #1760
Closing this as it is covered by #1840

[2015-04-18 19:56] scolapasta commented on #1365
Closing this as it is covered by #1840

[2015-04-18 19:58] scolapasta commented on #1840
Re: facets, I know we'll have the manage page, but I would still like us to consider a facet (or at least index of this so we can filter by it if we want in search)

[2015-04-19 23:38] mcrosas commented on #2013
FYI - We're still having once in a while Service temporarily unavailable:

PROBLEM: HTTPS-dvn is CRITICAL on host dataverse.harvard.edu

Service: HTTPS-dvn
Host: dataverse.harvard.edu
Alias: Production installation of Dataverse at Harvard
Address: dataverse.harvard.edu
Host Group Hierarchy: Opsview > DVN > DVN_Production
State: CRITICAL
Date & Time: Sun Apr 19 04:54:14 EDT 2015

Additional Informa

[2015-04-20 15:10] kcondon opened #2045 "Contact Us: When a lot of text is entered, popup refreshes and send button is displayed off screen with no scroll bars."
Contact Us: When a lot of text is entered, popup refreshes and send button is displayed off screen with no scroll bars.

Tested in both Chrome and FF.

An example of the text:

Testing a bunch of text. Testing a bunch of text. Testing a bunch of text. Testing a bunch of text. Testing a bunch of text. Testing a bunch of text. Testing a bunch of text. Testing a bunch of text. Testing a bunch of text

[2015-04-20 15:25] mcrosas opened #2046 "Review what shows in user account info and what can be changed"
@eaquigley @mheppler we'll review what should be shown in the user account and what they can or can't change.

From @scolapasta

Usability:

- what we show the users. We decided we needed to show users something unique and so opted for showing the useridentifier. The fact that it shows with a @ can indeed be confusing, we discussed that, but decided it was lower priority for the 4.0 release. Howev

[2015-04-20 16:10] suenjedt opened #2047 "Share Dataverse/Dataset Via Email"
Within the training today, a user suggested to offer "sharing via email" as an addition to the existing social media options.
![screen shot 2015-04-20 at 12 08 41](https://cloud.githubusercontent.com/assets/7300319/7234574/0aa20caa-e756-11e4-8dc5-1ced87a8bef3.png)

[2015-04-20 16:12] suenjedt opened #2048 "Not able to save "roles" on the dataset level"
During the training we could not save the role we created on the dataset level. It worked on the DataVerse level though. Note: we worked on the demo site.

[2015-04-20 16:16] suenjedt opened #2049 "User suggestion: Featured dataset"
A user suggested to include a functionality called "featured datasets", e.g. by most visited/shared/cited or most recently published. Many users might only create one Dataverse with many datasets inside and thus might appreciate such a functionality which highlights specific datasets.

[2015-04-20 16:26] posixeleni opened #2050 "Getting a 500 Error When Trying to Access Specific Datasets ($ in compound fields)"
Reported in RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=196556 on Friday 4/17/15:

Go to this Dataverse: https://dataverse.harvard.edu/dataverse/socialsciencercts

Try clicking on the title of the following Datasets and you will get an "Internal Server Error":
- Underinvestment in a Profitable Technology: the Case of Seasonal Migration in Bangladesh (doi:10.7910/DVN/28277)
- Does Price

[2015-04-20 16:29] kcondon opened #2051 "Edit Dataset: Adding files to a migrated dataset results in stack trace error to user when saving due to no subject."
This was reported by a user, see RT #196609.
"Dataset Save Failed  - edu.harvard.iq.dataverse.engine.command.exception.IllegalCommandException: Validation failed: Subject is required."

Since this is likely to happen many times in the future, maybe we can catch this error with a friendlier validation style message?

[2015-04-20 16:46] smillidge commented on #1516
FYI Payara will have 2.2.10.SP1 in and will be released end of the month.

[2015-04-20 17:04] scolapasta opened #2052 "Allow "." and some additional characters in usernames"
From migration of old, we have usernames that have periods and should allow. Need to definew what characters we accept.

[2015-04-20 17:27] kcondon commented on #1988
Also see #639

[2015-04-20 17:27] kcondon commented on #639
Under the Download button, the UI currently says, All files from this dataset, but it is grayed out.
A user was asking whether this was broken, see RT #196683, also Liz added a ticket to allow selecting all files at once for download: #1988

[2015-04-20 17:29] posixeleni commented on #2000
This was something we supported in 3.6 see study here: http://hdl.handle.net/1902.1/17988

So I think we should continue to allow it if possible. Otherwise we should strip the HTML from the display in the UI

[2015-04-20 17:39] posixeleni opened #2053 "Enable Saved Search Feature For End Users"
In 4.0 only Super Users have the ability to Link Dataverses and Datasets and Save Searches, however we have had several users (during trainings and RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=196686) ask for this functionality to be available to them so that they can do this and manage these themselves (like they did in 3.6).

[2015-04-20 17:46] scolapasta commented on #2052
Added '-' as well as the '.' as a valid character.

Please verify that usernames that should be invalid are still invalid.

[2015-04-20 17:47] scolapasta commented on #2050
Fixed - use replace() instead of replaceAll() since we are not (yet) replacing regular expressions here.

[2015-04-20 17:48] scolapasta commented on #1812
We need to make sure the cascades are set correctly.

[2015-04-20 17:53] kcondon opened #2054 "File Download: When downloading multiple files, put files into folders by file category."
This was requested by a user, see RT #196683:
 I noticed that when you download files separately, they aren't put into
different folders corresponding to their file "type" as was the case with
Dataverse previously. Is that something that will be updated as you guys
work on the new interface?

Speaking with Leonid, this needs some decision making since we now allow more than one category/tag per fi

[2015-04-20 19:12] kcondon opened #2055 "File Upload: Users have been asking about uploading as zip format"
We have had at least two users ask about adding upload as zip format as a feature:
RT #196683

[2015-04-20 20:21] pdurbin commented on #2000
@posixeleni the rule established in #1332 is that if the tsv says the "fieldType" is "textbox" that we strip HTML before indexing. Does that mean you'll be changing the "fieldType" for authorAffiliation from "text" to "textbox"?

[2015-04-20 20:31] scolapasta commented on #1939
Made some improvements, will still take a long time, as we'll need to make the firing of the actual linking to be asynchronous. But it should work better now and be usable through the API.

[2015-04-20 20:35] posixeleni opened #2056 "Favorite A Dataset, Dataverse or Search Result (Star / Unstar)"
Add the ability for a user to "Favorite" a Dataset, Dataverse or Search in Dataverse using something like the Star / Unstar button in GitHub, Twitter and other sites. Received this suggestion via twitter: https://twitter.com/crherlihy/status/590250638686216192

![image](https://cloud.githubusercontent.com/assets/5013837/7239891/3a661dda-e77b-11e4-8d1a-3394a3ad6aee.png)

[2015-04-20 20:39] posixeleni commented on #2000
@Pdurbin @gdurand not sure… depends how many people are actually putting HTML in their Author Affiliation field. Is there a way for us to find out which Dataverses are doing this? I don't think a text box would make sense UI-wise for something like Author Affiliation.

From: Philip Durbin <notifications@github.com<mailto:notifications@github.com>>
Reply-To: IQSS/dataverse <reply@reply.github.com<m

[2015-04-20 20:43] pdurbin commented on #2000
@posixeleni instead could your add a boolean to every field called "stripHtml" that could be set to true or false?

[2015-04-20 20:45] posixeleni commented on #2000
@scolapasta can we?

[2015-04-20 20:49] posixeleni commented on #2000
I did a bit more research and as far as standard metadata practice goes for Author Affiliation it does not ask users to enter a URL for Affiliation so this is additional information that they are adding into the metadata that is not suppose to be there and may cause interoperability issues when exporting to other systems.

This may just be easier to strip the HTML from Author Affiliation.

[2015-04-20 21:07] pdurbin commented on #2000
@posixeleni I think the tsv file should somehow indicate when a field permits HTML so that we can display this in the UI like this:

![html-allowed](https://cloud.githubusercontent.com/assets/21006/7240530/a4eb5810-e77f-11e4-93d7-1078d0b5cd19.png)

[2015-04-20 21:18] kcondon commented on #2052
@scolapasta Which should be invalid, 1char only, outside of a-Z, 1-n, not . - ?

[2015-04-20 21:25] kcondon commented on #2052
Ok, works, closing.

[2015-04-20 21:25] #2052 closed

[2015-04-20 21:27] kcondon commented on #2050
Created datasets with $ in description and keyword and they opened without error. Closing.

[2015-04-20 21:27] #2050 closed

[2015-04-20 21:29] kcondon commented on #2032
OK broken logo no longer present. Closing.

[2015-04-20 21:29] #2032 closed

[2015-04-20 21:45] kcondon commented on #1931
Guestbook popup does not appear at all, ever for drafts anymore. Closing.

[2015-04-20 21:45] #1931 closed

[2015-04-20 22:04] cchoirat opened #2057 "Missing image in "Institution Log In""
Works with Safari:
![login_safari](https://cloud.githubusercontent.com/assets/4173925/7241540/9615a572-e787-11e4-9e9f-9e5f90dd9261.png)

But not with Chrome:
![login_chrome](https://cloud.githubusercontent.com/assets/4173925/7241552/aea8027e-e787-11e4-918d-0c31108cbaac.png)

[2015-04-20 22:42] mcrosas opened #2058 "Displaying additional metadata for harvested dataverses"
The cards for Harvested datasets now do not display all the metadata that we get from harvested repositories. Since we don't have a dataset landing page for harvested datasets, at leas we should have a way to provide more information either in the card or in some other way.

To be reviewed with UI team @eaquigley @mheppler

[2015-04-20 23:21] pdurbin commented on #2057
@cchoirat I believe this was just fixed in #2032 . Since it's Javascript you'll need to Shift-Reload to see the difference. Can you please try again?

[2015-04-21 00:02] cchoirat commented on #2057
No broken link anymore on Chrome (and no logo, same with Safari).

On Mon, Apr 20, 2015 at 7:21 PM, Philip Durbin <notifications@github.com>
wrote:

[2015-04-21 13:23] posixeleni commented on #2000
@pdurbin yes I understand. I can put this into the tsv but @scolapasta will need to let me know when/if/how to implement this into the tsv.

Re-assigning to @scolapasta to decide

[2015-04-21 13:29] posixeleni commented on #1964
@kcondon sent me a list of ALL dataverses https://docs.google.com/spreadsheets/d/1D0bt-8T98bZMLwH4g9uSkueVeQh-u8M7B7RBxQfcQXs/edit?usp=sharing so I will go through them and see if we can assign subjects to certain dataverses for all their datasets

Will need to work with @scolapasta afterwards to discuss how these would be implemented programatically. Understood that this would involve a minor ver

[2015-04-21 13:42] pdurbin commented on #1853
No. On July 9, 2014 in a design meeting it was decided, "You should never see a card for deaccessioned files. We only show cards for deaccessioned datasets." -- https://docs.google.com/document/d/1lFcwjtdGIqqQLYYnwtTI2GZNzmzYlrnMk2omGcXO9oY/edit?usp=sharing

@scolapasta are you reversing that design decision? It was implemented in #57. /cc @eaquigley @mheppler @posixeleni @sekmiller also commented

[2015-04-21 13:56] pdurbin commented on #2040
@eaquigley if you truly want it gone (hidden), it's a one line change (below).

I thought I'd confirm with you first though.

[code]

[2015-04-21 13:56] raprasad commented on #2024
Two potential bugs were causing errors before:

- File sorting
- Blank dataverse descriptions. (Mapping was not handling null/blank dataverse descriptions properly.)

Both should now be fixed

[2015-04-21 14:07] raprasad commented on #1320
- [ ] update terms of access/terms of use to use jsoup
- [ ] sanitize metadata fields

[2015-04-21 14:20] rliebz opened #2059 "Include dataset citation in native API"
Right now, citation information for a dataset can be found using SWORD or the search API, but not the native API. SWORD has the disadvantage of only giving information for the latest version, and the search API only has access to published (and is a search, rather than a lookup).

Ideally, one of the native API routes would include the full citation in the JSON, such as:
`GET http://$SERVER/api/da

[2015-04-21 15:02] eaquigley commented on #2040
@pdurbin go ahead and hide it. thanks!

[2015-04-21 15:23] posixeleni opened #2060 "Zip File Download Error Messaging: You shouldn't have to unzip the archive and read a manifest file to know there was an error"
Reported by a user https://twitter.com/AABoyles/status/590509840532971520 that the file download error messaging only appears if you open up the manifest file. There should be clearer error messaging directly in the UI if a single file or a group of selected files fail to download.

[2015-04-21 15:32] suenjedt opened #2061 "Confusing dates on a dataset"
I am going through scholar's dataverses and am a little confused about the dates shown in the cards. In particular in the screenshot below where dates dont match when comparing 3.6 and 4.0. Also I could not find the date Sept 30 2012 in any of the metadata fields.
https://dataverse.harvard.edu/dataverse/alansz [see also screenshots below].
And another example where I don't understand the given dat

[2015-04-21 15:45] rliebz opened #2062 "Pre-existing datasets cannot be uploaded to through the API"
Some datasets exist on dataverse.harvard.edu that were migrated from thedata.harvard.edu, but do not meet the new standards for metadata. This includes fields such as "Subject" and "Contact Email" that are now required.
## Expected:

Because uploading a file does not involve updating dataset metadata, a file upload to a dataset with incomplete metadata should be allowed.
## Actual:

For datasets w

[2015-04-21 16:42] pdurbin commented on #2062
Similar problems have been reported from people using the GUI as well:

- https://help.hmdc.harvard.edu/Ticket/Display.html?id=196320
- https://help.hmdc.harvard.edu/Ticket/Display.html?id=196481
- https://help.hmdc.harvard.edu/Ticket/Display.html?id=196609
- https://help.hmdc.harvard.edu/Ticket/Display.html?id=196752

It seems like we've been recommending to people that they edit metadata and add

[2015-04-21 16:43] pdurbin commented on #2062
Related: #2051

[2015-04-21 16:46] posixeleni commented on #2062
@pdurbin migrated or new datasets, going forward, if someone in the UI goes into edit a dataset they will need to add the subject and the error messaging needs to be clear (if not already). The API would need some way to let a user know what the controlled vocabulary for a subject is otherwise how would they be able to successfully fill in the value(s) that the system is expecting?

[2015-04-21 16:55] pdurbin commented on #2062
@posixeleni right, #1510 is about exposing the possible values for "Subject".

@rliebz at a high level, one thing OSF **could** do is download the metadata for a dataset in JSON, add fill in the Subject field, and re-upload the new JSON to create a new draft version. (That's basically what we're telling people to do in the GUI.) Then you can upload files.

[2015-04-21 17:12] nicipfeiffer opened #2063 "Unable to download files that existed before 4.0"
Trying to download a draft file from https://dataverse.harvard.edu/dataverse/harvard that existed before Dataverse 4.0 changes gives the user:

![screenshot 2015-04-21 13 10 23](https://cloud.githubusercontent.com/assets/9381062/7258016/ca5fa2b0-e827-11e4-9db2-f06008752a22.png)

Related to https://github.com/CenterForOpenScience/osf.io/issues/2547

[2015-04-21 17:33] pdurbin opened #2064 "SWORD: Can't use dcterms:type (kindOfData), JsonParseException via ImportGenericServiceBean.importXML"
First discovered by @jwhitney and @axfelix, if I try to use the `dcterms:type` field via SWORD I can't create the dataset and the get "JsonParseException: incorrect multiple   for field kindOfData" and the following stacktrace (I'm on commit 1d3c036).

Strangely, what the SWORD users sees is "Couldn't create dataset: Validation failed: Description Text is required. Author Name is required. Title i

[2015-04-21 18:04] scolapasta commented on #1853
This issue was created at a time when we were quickly debugging things - from the code it was not apparent that deaccessioned files were not being indexed, however they were. So this is a non issue.

[2015-04-21 18:10] eaquigley commented on #2055
I thought we decided against this because it is a bad format for long term preservation and hides the types of files that are contained within it.

On Apr 21, 2015, at 2:06 PM, Gustavo Durand <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #2055<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_IQSS_dataverse_issues_2055&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&

[2015-04-21 18:16] scolapasta commented on #2062
We have also discussed the solution being to allow the file upload but not allow to publish if not valid. We will be looking at these types of issues in 4.01 or 4.0.2.

[2015-04-21 18:16] scolapasta commented on #2062
Assigning to 4.0.1 so we can decide what we want the solution to be.

[2015-04-21 18:17] pdurbin commented on #2064
Here's how the JSON looks:

        {
          "value": {
            "kindOfData": {
              "value": "aggregate data",
              "typeClass": "primitive",
              "multiple": false,
              "typeName": "kindOfData"
            }
          },
          "typeClass": "compound",
          "multiple": false,
          "typeName": "kindOfData"
        },

And here's some info o

[2015-04-21 18:46] pdurbin commented on #2064
If I print out "dataverseFieldName" in the "processXMLElement" method I can see "kindOfData" but that's about as far as I got:

https://github.com/IQSS/dataverse/blob/1d3c0363e305ffc836b705e0a1049eb3186ee937/src/main/java/edu/harvard/iq/dataverse/api/imports/ImportGenericServiceBean.java#L191

@scolapasta maybe @landreev would be in a better position to take a look. I haven't worked on this XML pr

[2015-04-21 18:52] eaquigley commented on #2060
@posixeleni is this happening only with files that have been zipped or is this for all files that aren't properly downloading?

[2015-04-21 18:52] SolomonMg opened #2065 "Notifications Page: Invalid Commas Being Inserted Into Dataset URL for "File access requested for dataset""
I have a request for restricted data in my notifications <https://dataverse.harvard.edu/dataverseuser.xhtml?selectTab=notifications>, but when I click on the "News40 simulation data" hyperlink...
![screen shot 2015-04-21 at 11 49 55 am](https://cloud.githubusercontent.com/assets/833835/7260107/9e893378-e81c-11e4-800b-df91e17786d8.png)

I get this:
![screen shot 2015-04-21 at 11 50 10 am](https://c

[2015-04-21 18:59] mcrosas commented on #2055
Yes, but it's a suggestion now that has come back from our users, it doesn't mean will do it necessarily. We should review it when it's the right time, based on its priority, and decide what's the best solution  without compromising preservation but also understanding why this would be better for some of our users. Maybe there is a clever solution that gives both.

[2015-04-21 19:00] eaquigley commented on #2021
Suggestions of things needed:
- [ ] Count of files in the dataset at the top of the page
- [ ] Sort by option
- [ ] Listing of tags at top of page for filtering

[2015-04-21 19:02] posixeleni commented on #2065
Hi @SolomonMg

Thank you for reporting this issue. The url you included has commas in it that I have removed. Would you please try this URL instead? https://dataverse.harvard.edu/permissions-manage-files.xhtml?id=2668791

When I use the above URL I can now see the correct dataset file permissions page and it has one request to access files.

Please let us know if you can see this.

Thanks
Eleni
--

[2015-04-21 19:04] SolomonMg commented on #2065
Yes, that solved the problem!

Solomon Messing
http://solomonmessing.wordpress.com/

On Tue, Apr 21, 2015 at 12:02 PM, Eleni Castro <notifications@github.com>
wrote:

[2015-04-21 19:04] pdurbin commented on #2064
I updated `scripts/api/data-deposit/create-dataset` so we can easily reproduce the bug with the example XML we document at http://guides.dataverse.org/en/latest/api/sword.html

In that script you should only have to update the API token and the target dataverse.

[code]

[2015-04-21 19:04] posixeleni commented on #2065
We will investigate this issue further to see why commas are being inserted into the URL.

[2015-04-21 19:05] eaquigley commented on #1951
If we enable this, I'd also like it to work for wanting to select all files to delete them.

[2015-04-21 19:06] eaquigley commented on #1916
Great suggestion @suenjedt we should do what we do for notifications where we include links to the dataset and dataverses they are referencing.

[2015-04-21 19:08] eaquigley commented on #1840
Would there be a way to have the publication status facet change to be "Status" and have Unpublished, Published, Draft, Linked, and Harvested appear there? @scolapasta @mcrosas @pdurbin

[2015-04-21 19:10] posixeleni commented on #2060
@eaquigley from this users error this looks to be only about error messaging for zipped file downloads but I am not sure about error messaging for individual file downloads.

[2015-04-21 19:25] eaquigley commented on #1311
@scolapasta does this relate to all the emails we have been getting about subject now being required?

[2015-04-21 19:30] pdurbin commented on #2064
I'm **not** saying that the change below is an appropriate fix but it **does** at least produce JSON that seems more correct and I'm able to create a dataset:

        {
          "value": [
            "aggregate data"
          ],
          "typeClass": "primitive",
          "multiple": true,
          "typeName": "kindOfData"
        },

[code]

[2015-04-21 19:31] kcondon opened #2066 "Delete files: Wont allow to Save So Files Arent Deleted"

[2015-04-21 19:33] kcondon commented on #2066
Scholar needs to submit dataset to journal and needs to delete some files but cannot.

Server log error:
[2015-04-21T15:29:27.220-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.DatasetPage] [tid: _ThreadID=55 _ThreadName=jk-connector(2)] [timeMillis: 1429644567220] [levelValue: 800] [[
  deleting file, filemetadata id 1,726,862]]

[2015-04-21T15:29:27.663-0400] [glassfish 4.1] [WARNING]

[2015-04-21 20:01] posixeleni commented on #2063
@nicipfeiffer we are also seeing this file download issue for other datasets that are in draft so I am reporting this as a critical issue for our developers to look into ASAP. Would you please send me the URL to this dataset when you get the chance?

Thanks!

[2015-04-21 20:03] posixeleni commented on #2063
Same issue reported by another user in RT: https://help.hmdc.harvard.edu/Ticket/Display.html?id=196710 (developers: please go to this URL to recreate issue with the draft dataset)

The dataset was migrated over as a Draft and when they try to download ANY file it takes them to an HTML version of the page instead of downloading or providing an error message.

[2015-04-21 20:05] pdurbin commented on #2064
@scolapasta I just reviewed my fix at 6c22947 (in a new branch) with @ekraffmiller and she thinks it looks good. Basically, the code was calling createCompoundFieldDTO when the field was already established to be **not** compound. You said you'd like @rtreacy to take a look since it's his code so I'll give this ticket to him. It's a one-line change so I hope we can get this is 4.0.1. Otherwise OJS

[2015-04-21 20:29] scolapasta commented on #2065
Assigned to investigate immediately; depending on resolution may need to be moved out of Patches.

[2015-04-21 20:39] rtreacy commented on #2064
Looks right

[2015-04-21 20:40] pdurbin commented on #2064
@scolapasta when would you like this fix to land? This week? 4.0.1?

[2015-04-21 20:46] scolapasta commented on #2066
The file cannot be deleted because there is a foreign key between datafile and guestbook. In this case, there should be a cascade delete.

[2015-04-21 20:50] scolapasta commented on #2066
Fixed the issue with this particular dataset, but we can use this to track the general case. (while we no longer record responses for drafts, there can be responses for older data).

[2015-04-21 20:55] raprasad opened #2067 "Updating Terms of Access / Terms of Use Should strip harmful tags"
Part of #1320.  Moved to separate ticket to smoke test for patch.

Updating Terms of Access/Terms of Use should strip harmful HTML tags .

-  ```<script>``` tags removed
- Allowable tags closed/sanitized: ```<p>``` tag that has no corresonding ```</p>``` will be removed

[2015-04-21 21:10] kcondon commented on #1927
This went out with last night's patch, for Gustavo's dev convenience. Closing.

[2015-04-21 21:10] #1927 closed

[2015-04-22 03:24] mcrosas commented on #1840
nice idea. But perhaps "status" is not the best term - how about "mode"? (but I don't feel too strong eitehr way - whatever term you prefer)

[2015-04-22 14:11] posixeleni commented on #2021
A User also asked about this in RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=196756 they were particularly interested in how they can sort/filter with tags.

[2015-04-22 14:32] pdurbin commented on #2013
Adding the `Content-Length` header in 2c81bea 5 days ago seems to have helped with large file downloads but there is more complexity to figure out having to do with `Transfer-Encoding: chunked` header for large files.

[2015-04-22 15:14] eaquigley commented on #1990
Something else to think about as well:
-[ ] Add CC0 waiver image to dataset page outside of the tab so it is easier to see

[2015-04-22 16:37] posixeleni opened #2068 "Original Zip file download failure; appears to have a 15 minute timeout, causing failures for large files and slow links"
User reported (RT https://help.hmdc.harvard.edu/Ticket/Update.html?id=209024) that when they try to download a single zip file (uploaded in 3.6 as a zip and not unpacked)  and they try to open it, the file itself has nothing inside. I noticed that the file invpat_final.zip they tried to download was over 1G zipped in this Dataverse https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.

[2015-04-22 16:52] pdurbin opened #2069 "Factor Google Analytics code out of google-analytics-snippet.xhtml and into the "setting" table"
This should be a setting:

[code]

[2015-04-22 19:09] bmckinney commented on #1977
Greetings, we are going to link a few DASH articles to their research data in an upcoming DASH release. They all use handles instead of DOIs so it would be great to have them pointing to the new URL when we announce/promote this new linking.

[2015-04-23 01:14] raprasad opened #2070 "native api"

[2015-04-23 01:17] raprasad opened #2071 "Update native API to for Deaccessioned Datasets"
native api query for this datast:

https://dataverse.harvard.edu/dataset.xhtml?id=2668654

Gives these results.  Did not include a "latestVersion"

[code]

[2015-04-23 13:09] posixeleni commented on #1977
@bmckinney when do you expect this upcoming DASH release? The reason I ask is because we are planning to have these dataset handles and DOIs redirecting in the very near future.

[2015-04-23 13:42] eaquigley opened #2072 "Reset Password: update email address to be support@"
Currently email address for reset password emails sent to users is do-not-reply, this needs to be changed to be support@dataverse.org so it is the same as all other emails sent to users.

@pdurbin found where it is here:
https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/passwordreset/PasswordResetServiceBean.java

[2015-04-23 13:51] bmckinney commented on #1977
Hi Eleni,

I hope to get a new release out on Weds. April 29th that would include
this. No real pressure though, we can simply hold off on any announcements
about this feature until you're ready.

Thanks!

--Bill

On Thu, Apr 23, 2015 at 9:09 AM, Eleni Castro <notifications@github.com>
wrote:

[2015-04-23 14:05] posixeleni commented on #2068
Another user reported in RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=196815 the same issue where if they go to this Dataset: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi%3A10.7910/DVN/28999&version=5.0  and try to download a large zip file "DARTE.gdb.zip" (originally uploaded as zip in 3.6.2) that is > 1G and they try to open it there is nothing in the file

[2015-04-23 14:06] pdurbin commented on #2072
Or rather, whatever the installation has designated the support address to be.

[2015-04-23 14:59] pdurbin commented on #2068
Related (I think): #2013

[2015-04-23 15:11] eaquigley opened #2073 "Moving Datasets: Provide way in the UI for a user to do this"
Have discussed this in the past but did not do if for 4.0. If a user uploads their dataset into the wrong dataverse, could we have a way in the UI for them to change this.

Additionally, I'd like to track how many RT tickets we have about this now that 4.0 is out and see if it is happening as frequently as it was in 3.6 to determine how necessary this is now.

[2015-04-23 15:14] pdurbin commented on #2019
Related: https://help.hmdc.harvard.edu/Ticket/Display.html?id=214858

[2015-04-23 15:15] kcondon opened #2074 "User Account Information: User asked for link to his dataverse from his account info."
See RT #214858

 there is no link in my account that leads me to this dataverse. It would be very useful to have link to my dataverses in my account, as the old version used to have.

[2015-04-23 15:22] mcrosas commented on #2074
Agree completely. I was just thinking the same today. Can review with Elizabeth and Mike.

[2015-04-23 15:34] eaquigley commented on #2074
Agree as well. We definitely need to rethink the My Unpublished Data tab to make it more useful. CC @mheppler

From: Merce Crosas [mailto:notifications@github.com]
Sent: Thursday, April 23, 2015 11:23 AM
To: IQSS/dataverse
Subject: Re: [dataverse] User Account Information: User asked for link to his dataverse from his account info. (#2074)

Agree completely. I was just thinking the same today. Can

[2015-04-23 15:49] posixeleni commented on #2066
I have another user reporting in RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=214876 a similar issue in AJPS Dataverse where they try to delete a file in draft:

To recreate:
1. Go to this Dataset: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi%3A10.7910%2FDVN%2FMIXK94&version=DRAFT
2. Try to delete this file: ButlerDynes_MTurkSurvey.tab
3. Get Successful message that file

[2015-04-23 16:24] suenjedt opened #2075 "Notes showing "nullVersion Text""
Should not show "null" like that in the "notes" field. See example here
https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/19465
![screen shot 2015-04-23 at 12 20 25](https://cloud.githubusercontent.com/assets/7300319/7301890/82dd8ab4-e9b3-11e4-9baf-637d06eec0db.png)

Reported by @pdurbin

[2015-04-23 16:55] kcondon opened #2076 "Server log error: Null value in createdate for DataFile"
Saw this in the server log at 60ox. Not sure whether it causes any user observable symptoms.
There are a bunch of files ~10 or more, grep "Failing row contains" server.log*

[2015-04-21T21:26:43.102-0400] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.jta.com.sun.enterprise.transaction] [tid: _ThreadID=51 _ThreadName=jk-connector(5)] [timeMillis: 1429666003102] [levelValue: 900] [[
  DTX5

[2015-04-23 17:28] posixeleni opened #2077 "Enable Custom Metadata To Only Be Enabled & Show For Specific Dataverses"
Work w/ @scolapasta to make sure that all custom metadata blocks are only appearing for the dataverses they were developed for (will also need to review if any other dataverses used these blocks (as custom fields in 3.6) in their templates).

- GSD
- PSRI
- Murray
- CHIA World-Historical
- ARCS
- MRA
- PSI

[2015-04-23 17:35] eaquigley opened #2078 "Dataverse Contact Email: Contact Dataverse Subject Appearing Often"
Not sure why Contact Dataverse is populating as the subject for emails from dataverse.harvard.edu but it should be a blank field for a user to enter their own subject.

[2015-04-23 17:52] scolapasta opened #2079 "Downloading a large file and simultaneously downloading another file results in second user seeing 503 service unavailable but server remains functional."
Also related:

hitting homepage repeatedly while downloading a large file shows same issue for homepage user.

[2015-04-23 17:54] kcondon opened #2080 "File Download: File download appears to have a 15 minute timeout, causing failures for large files and slow links."
Reported by various users, especially on slow links but any download taking more than 15 minutes, the download halts, resulting in various user symptoms: zero length file (Mac/Mozilla) to partial download and corrupted zip file (windows, chrome)

[2015-04-23 18:12] scolapasta opened #2081 "Review my unpublished data"
Currently My unpublished data shows any dvobject that a user can view as unpublished. This includes datasets from wiki dataverses, which can be confusing.

[2015-04-23 18:12] scolapasta commented on #2081
We will remove wiki dataverse for now, until we have a better solution for the above.

[2015-04-23 18:18] scolapasta opened #2082 "Review thumbnail generation"
We found issues with the thumbnail generation when being done on demand (in particular for a dataset with a large # of files, and with PDFs)

- PDF thumbnail generation loads entire PDF into memory

[2015-04-23 18:59] kcondon commented on #2057
Yes no broken image in Chrome, closing.

[2015-04-23 18:59] #2057 closed

[2015-04-23 19:00] suenjedt commented on #2074
If you are considering an ORCID integration, this might be an interesting place to link/offer it - e.g. to push the published DV/DS information. [Sorry, slightly off topic]

[2015-04-23 19:13] scolapasta commented on #2068
From #2080: Reported by various users, especially on slow links but any download taking more than 15 minutes, the download halts, resulting in various user symptoms: zero length file (Mac/Mozilla) to partial download and corrupted zip file (windows, chrome)

[2015-04-23 19:14] scolapasta commented on #2080
Closing as duplicate of #2068

[2015-04-23 19:15] #2080 closed

[2015-04-23 20:11] posixeleni opened #2083 "Add Additional Controlled Vocabulary Terms to Life Sciences Metadata for TB Dataverse"
Will need to modify the Life Sciences Metadata to add the following controlled vocabulary terms in the following fields, will check if there are any slight variants of these terms that are more standardly used:

**StudyDesignType**
- Cohort Study Design (ontology: http://bioportal.bioontology.org/ontologies/OCRE/?p=classes&conceptid=http%3A%2F%2Fpurl.org%2Fnet%2FOCRe%2Fstudy_design.owl%23OCRE10007

[2015-04-23 20:38] pdurbin commented on #2072
@scolapasta e919cde seems like a good fix, which you can merge with pull request #2084

I tested it on apitest:

![1](https://cloud.githubusercontent.com/assets/21006/7306965/1878a4a0-e9d7-11e4-964f-e45da2b63df4.png)
![2](https://cloud.githubusercontent.com/assets/21006/7306969/1ce22502-e9d7-11e4-8ea0-b3217cd4ba28.png)

[2015-04-23 21:26] scolapasta opened #2085 "Review MailServiceBean methods"

[2015-04-24 01:05] pdurbin commented on #208
Removed for performance reasons:

remove preview of recently released datasets from dv card #1985 · IQSS/dataverse@35c4f3a - https://github.com/IQSS/dataverse/commit/35c4f3a53f60bbfb5fb6ad1f9fa9f074fb013a97

[2015-04-24 13:06] posixeleni commented on #1977
@bmckinney we just completed the DOI and Handle re-directs to go to Dataverse 4.0 so you can definitely include Dataverse in your announcement. Please let us know when you send this out so we can promote it too!

[2015-04-24 13:16] bmckinney commented on #1977
will do, thanks!

[2015-04-24 13:52] pdurbin opened #2086 "If Solr is down when a file is deleted from a draft dataset, reindexing the draft doesn't delete the Solr document for the deleted file"
To fix this bug we might need to first work on #2038 to make the Solr field `parentId` searchable. We need **something** to search on in order to find and delete the Solr document for a file, which looks something like this:

      {
        "entityId":17,
        "identifier":"17",
        "persistentUrl":"http://dx.doi.org/10.5072/FK2/ZT7HDY",
        "dvObjectType":"files",
        "fileNameWit

[2015-04-24 14:29] pdurbin commented on #2062
I created an issue for the Python client with an example script of how to update metadata with JSON: https://github.com/IQSS/dataverse-client-python/issues/15

[2015-04-24 15:29] scolapasta opened #2087 "Account - Access Granted and Access Rejected Notifications Should Go to the Dataset Page"
they are currently going to the manage permissions page.

This should be checked both in the UI notifications as well as the e-mails.

[2015-04-24 15:31] scolapasta commented on #2087
Seems to be correct in the code for e-mails.

[2015-04-24 16:08] mheppler opened #2088 "Notification Emails - Improve Email's, From "support""
When I receive dataverse generated emails like, "Dataverse: Your account has been created", and "Dataverse: Your dataverse has been created", in my inbox, all I see is "support". (See attached.)

That From field should be formatted to read "Dataverse Support" or something a little more informative to the user.

![screen shot 2015-04-24 at 12 07 31 pm](https://cloud.githubusercontent.com/assets/687

[2015-04-24 16:17] pdurbin commented on #2088
I **believe** what's happening here is that only an email address is provided such as "support@dataverse.org" which Gmail shortens to just "support". Probably the fix is to specify both an email address and a "display" name such as "Dataverse Support Team <support@dataverse.org>". We could add a row in the `setting` table for the `systemEmailDisplayName` or something.

[2015-04-24 16:24] pdurbin commented on #2086
@scolapasta please take a look at a06ef62 for a proposed fix (in a branch). This fix requires a Solr schema change and re-indexing in order to do searches on `parentId`. The fix does not address deletion of Solr permission documents but I did note this in a todo.

[2015-04-24 17:02] pdurbin commented on #1922
Some more candidates for reducing log levels:

[code]

[2015-04-24 17:07] raprasad opened #2089 "4 released datasets with unregistered DOIs"
There are 4 released Datasets where the DOI is unregistered:

https://dataverse.harvard.edu/dataset.xhtml?id=54628
https://dataverse.harvard.edu/dataset.xhtml?id=66267
https://dataverse.harvard.edu/dataset.xhtml?id=65392
https://dataverse.harvard.edu/dataset.xhtml?id=64907

/cc @scolapasta

[2015-04-24 19:13] mheppler commented on #2087
Fixed links from bundle for account notifications related to file access in a dataset.

Users who requested access are now pointed to the dataset page.

[2015-04-24 19:14] mheppler commented on #2065
Fixed links from bundle for account notifications related to file access in a dataset.

The ID number value returned via the f:param, can be formatted in the bundle. (Ref: http://stackoverflow.com/questions/27965033/can-i-use-fconvertnumber-with-houtputformat?rq=1)

[2015-04-24 21:41] kcondon commented on #2087
OK notifications work both forms, links are ok, closing.

[2015-04-24 21:41] #2087 closed

[2015-04-24 21:44] kcondon commented on #2072
OK, works, correct sender address, closing.

[2015-04-24 21:44] eaquigley opened #2090 "Widgets: Add Link to Individual's Dataverse Page"
Mentioned by @thegaryking about the widgets: if you click on any study in my dataverse you go, as planned, to the main dataverse page.  however, there is no indication that my dataverse is part of the iq dataverse, and no way to get to the iq dataverse or the full version of the 'gary king dataverse' if you don't know or don't want to click on one of the individual studies.  let's add an indicatio

[2015-04-24 21:47] eaquigley opened #2091 "Citation: Make Citation Easier to Copy"
Instead of having to highlight the citation and copy, add ability to click and have it copied like in OpenScholar

[2015-04-24 21:50] eaquigley opened #2092 "Why Cite? Link: Update Text and Move Outside of Citation Box"
- [x] line should be outside the blue citation box
- [x] "If you use these data, please add this citation to your scholarly resources. Why Cite?" change to be Data Citation Standards as this link goes to the Best Practices-Data Citation Standards page on dataverse.org

[2015-04-24 21:52] eaquigley opened #2093 "503 Page: Make a More User Friendly One"
Need a friendlier, custom 503 page like we have done for 404 page

[2015-04-24 21:55] kcondon commented on #2067
Tested, script tags are removed but <p> with no corresponding </p> actually gets a </p>. Passing back for Raman to look at but otherwise seems ok.

[2015-04-24 22:05] kcondon commented on #2065
OK, tested with dataset id 1001 and it works, closing.

[2015-04-24 22:05] #2065 closed

[2015-04-24 22:35] scolapasta commented on #2079
Passing to QA.

[2015-04-24 22:36] scolapasta commented on #2068
Passing to QA.

[2015-04-24 22:37] scolapasta commented on #2013
Passing to QA.

[2015-04-25 00:24] posixeleni commented on #2066
I have another user reporting in RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=214947 a similar issue where they try to delete a file in draft:

To recreate:
1. Go to this Dataset: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi%3A10.7910/DVN/F5MS2V&version=DRAFT
2. Try to delete this file: data.tab
3. Get Successful message that file has been deleted.
4. Scroll down to Save

[2015-04-25 00:50] posixeleni opened #2095 "Metadata Selection For A Dataverse Reset To Default"
User reported (RT https://help.hmdc.harvard.edu/Ticket/Update.html?id=214953) that all of a sudden they started seeing a field they had "hidden" from showing in their dataverse (Depositor) https://dataverse.harvard.edu/dataverse/socialsciencercts so when they went in to Edit "General Information" to hide the field their metadata and facet settings had disappeared (see screenshot below). When I wen

[2015-04-25 01:01] pdurbin commented on #1063
Over the holiday break I knocked together an Android app at https://github.com/IQSS/dataverse-android but boy is it rough! :)

[2015-04-25 23:37] raprasad opened #2096 "home page performance"
The homepage is still quite expensive in terms of queries, load time, etc.
What can be made more efficient as well as cached?

### Scenario
* localhost, 20 dataverses, 58 datasets, 373 files

#### Queries counts

* Not logged in:
   - plain vanilla homepage: **873**
   - clicking the "Files" facet: **5065**
* Logged In:
   - plain vanilla homepage: **1123**
   - clicking the "Files" facet: **5068*

[2015-04-25 23:45] kcondon opened #2097 "Delete Dataset: intermittent problems deleting datasets."
Customer reported an issue deleting two datasets, see RT #2149868. Deleting the draft dataset did nothing, no message. Saw a server log error with each of the datasets. Tried 3 times on both and it worked on the 3rd time. Here are the two stack traces:

Local Exception Stack:
Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.5.2.v20140319-9ad6abd): org.eclipse.persistence.exceptions.D

[2015-04-25 23:56] kcondon opened #2098 "Server logs: We are generating 10x more server log info, 4/21=4 files 4/24=46 files."
We are generating 10x more server log info, 4/21=4 files 4/24=46 files.

One possible contributor are these entries. This was the first one and now there are ~3000+ per log.

 grep -c "Checking for thumbnail" server.log_2015-04-22T19-04-29

[2015-04-22T18:53:56.220-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.dataaccess.ImageThumbConverter] [tid: _ThreadID=54 _ThreadName=jk-connector(

[2015-04-25 23:59] kcondon opened #2099 "Delete File: Problem deleting file from draft dataset."
Reported by user, see RT #214978

Tried deleting compiled_market_county.tab, when click delete it says Success! will be permanently removed when click save changes. Click save changes, nothing happens, remains on add files view and error in server log:

Local Exception Stack:
Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.5.2.v20140319-9ad6abd): org.eclipse.persistence.exceptions.D

[2015-04-26 15:37] pdurbin opened #2100 "Performance: Investigate use of JSR 107: JCache - Java Temporary Caching API"
Those twelve characters are `@CacheResult`

He adds them to the `getOrdersForCustomer` method of https://github.com/smillidge/JCacheWebinar/blob/master/PizzaConnector/src/main/java/fish/payara/examples/jcache/pizzaconnector/PizzaStoreConnector.java

`@CacheResult` comes from `import javax.cache.annotation.CacheResult` - https://github.com/jsr107/jsr107spec/blob/master/src/main/java/javax/cache/ann

[2015-04-26 17:29] kcondon commented on #2079
Tested, this appears to be resolved. Closing.

[2015-04-26 17:29] #2079 closed

[2015-04-26 17:30] kcondon commented on #2068
Tested, this appears to be resolved. Increased the download timeout but needed to add it to http-listener-2 since we use that now for direct file download via port 8181.

Closing.

[2015-04-26 17:30] #2068 closed

[2015-04-26 17:32] kcondon commented on #2013
Tested the original test case: Downloading a specific large datafile, >2GB immediately caused the 503 error. This no longer happens. Used a direct to glassfish, port 8181 with apache rewrite rules to bypass apache for downloading. Closing.

[2015-04-26 17:32] #2013 closed

[2015-04-27 05:04] landreev commented on #2098
The thumbnail message is mine; no, it has no business logging at the
level "info". It was part of another "firefighting" patch, so I was
checking it in in a hurry. Will trim down my logs first thing this week.

On 4/25/2015 7:56 PM, kcondon wrote:

[2015-04-27 14:33] pdurbin commented on #1077
@axfelix a quick comment for you is that you can see a more readable HTML version at http://guides.dataverse.org/en/latest/api/sword.html

@posixeleni I'm giving this ticket back to you because I found a few issues. The first thing I did (in daa0559 in a branch) was re-order the sample XML file to put the fields in the same order as your crosswalk. If find this easier to follow and I like how you'

[2015-04-27 14:41] scolapasta commented on #2076
This is from the delete file issues covered in #2044

[2015-04-27 14:42] #2070 closed

[2015-04-27 15:00] scolapasta commented on #2051
This seems a duplicate of #1311 where we need to decide best way to handle this

[2015-04-27 15:41] rbran100 opened #2101 "Widgets - Embedding of Dataverse Metrics"
@dancabral would like to embed the dataverse metrics onto the IQSS website.

Is is possible to add this data as a embeddable widget so that it can be updated continuously?

Specifically these elements:
![screenshot 2015-04-27 11 39 29](https://cloud.githubusercontent.com/assets/651318/7351261/2838b0d0-ecd2-11e4-9468-6e034a2f87c5.png)
![screenshot 2015-04-27 11 39 34](https://cloud.githubuserconten

[2015-04-27 16:16] pdurbin commented on #1077
@posixeleni as a followup to what I wrote above in 9707aea I removed the three fields from the XML example and your crosswalk that I feel have undefined behavior:

- dcterms:identifier
- dcterms:spatial
- dcterms:language

Let's work with @scolapasta on the plan for these fields since they require a change to the SQL reference data at least, possibly a code change, and testing.

[2015-04-27 17:10] pdurbin commented on #2064
I merged this fix into master. I recommend testing with this file:

https://github.com/IQSS/dataverse/blob/master/doc/sphinx-guides/source/api/sword-atom-entry.xml

I deployed the latest code to https://apitest.dataverse.org if @axfelix or @jwhitney would like to test.

Moving to QA.

[2015-04-27 17:19] pdurbin commented on #2040
@eaquigley done in 6f71854 (4.0.1 branch).

Passing to QA.

[2015-04-27 17:57] axfelix commented on #2064
Tested and working on apitest. Thanks, folks!

[2015-04-27 18:52] scolapasta commented on #2067
Checked with @raprasad it's fine that it closed the tag, but @sekmiller is altering the logic for this, so should be retested when he's done.

[2015-04-27 19:01] raprasad commented on #1320
Fields to add to jsoup whitelist:
[code]
docs: http://jsoup.org/apidocs/org/jsoup/safety/Whitelist.html

[code]
@sekmiller

[2015-04-27 19:06] rliebz opened #2102 "Creating a draft version of a published dataset via the native API removes existing files"
This has only been tested on `apitest.dataverse.org`

Steps to Reproduce
---
1. Create a dataset
2. Upload some files
3. Publish the dataset
4. Before making any other changes:
  1. Get the current metadata from `http://$SERVER/api/datasets/$id/versions/:latest?key=$apiKey`
  2. Post the metadata (with or without changes) to `http://$SERVER/api/datasets/$id/versions/:draft?key=$apiKey`

Expected
-

[2015-04-27 19:13] kcondon opened #2103 "Delete Dataset: Can't delete a draft of a published version that has files."
Reported by user, see RT #215052

User has a draft version of a published study with files. The draft contains only metadata changes.

Delete doesn't work: it acts like it does and takes you to the published version but the draft remains.

There server log error was:

[2015-04-27T15:02:02.090-0400] [glassfish 4.1] [WARNING] [] [org.eclipse.persistence.session.file:/opt/dvn/app/glassfish4/glassfish

[2015-04-27 20:49] pdurbin opened #2104 "Shibboleth: update shibboleth2.xml entityID to end with "sp" rather than "shibboleth""
Per https://spaces.internet2.edu/display/InCFederation/Entity+IDs it has been recommended to use to have our Shibboleth entityID be in this form...

[code]

... rather than this one:

[code]

We should update the example at https://github.com/IQSS/dataverse/blob/master/conf/vagrant/etc/shibboleth/shibboleth2.xml

[2015-04-27 22:56] mercecrosas opened #2105 "Re-ingest FITS files to extract metadata"
Now that we've deployed Dataverse 4.0, we want to re-ingest all the FITS file that had been previously uploaded so we can take advantage of the new ingest and the extraction and indexing of VO metadata values from FITS files.

[2015-04-28 13:52] bencomp commented on #2003
@mcrosas yes, I don't want to change the name of the Dataverse concept of a container for data containers and sets, I would like to be allowed to change the application (instance) name.

[2015-04-28 13:59] mcrosas commented on #2003
This makes sense and seems pretty straightforward. I'm adding it to 4.0.1.

[2015-04-28 14:44] posixeleni opened #2106 "Messaging For Request Access Depending on Version or State"
From @scolapasta

During today's demo, we noticed a peculiar issue around setting allow file requests, but I think we now understand the current behavior and we just need to decide how it should work.

Background:

For datasets you can set "allow users to Request Access" as true or false. Similar to file restrictions there are two scopes for this value:
- the version: this can be different per ver

[2015-04-28 16:04] smillidge commented on #2100
These docs let you know how to enable Hazelcast (JSR107) in Payara https://github.com/payara/Payara/wiki/Hazelcast-%28Payara-4.1.151%29

Happy to help if you use Payara

[2015-04-28 17:26] mercecrosas opened #2107 "To zip or not to zip"
This is the question - some datasets would benefit for keeping zip file (or a similar packaged or compressed file) for all the files associated with a dataset. This is the case, for example, of a thousands of image files that are generated by an instrument, which need to be viewed in a 3D viewer all together, but individually they don't have much meaning. Perhaps in this case, we can generate a de

[2015-04-28 18:23] eaquigley commented on #2107
Some initials thoughts on this:

If the case is that most often users should be having their zips unzipped, then do we want it to be a setting one selects when uploading their files or would it make more sense for this to be a setting at the dataverse level? I could see it being very annoying to ask a user each time if they want the zipped file to be unzipped or stayed zipped.

[2015-04-28 18:28] mcrosas commented on #2019
Need to review wiki dataverses when bug is fixed. Open dataverses are all set.

[2015-04-28 18:31] posixeleni commented on #2019
Can only fix wiki dataverses once #2081 is resolved.

[2015-04-28 18:34] mcrosas commented on #1995
I'll follow up with this group by email.

[2015-04-28 18:34] #1995 closed

[2015-04-28 18:40] mcrosas commented on #1978
CfA
PSI
Ubiquity Press
GSD

[2015-04-28 18:44] mcrosas commented on #1977
Left to do: CfA handles with different prefix

[2015-04-28 18:44] #1972 closed

[2015-04-28 18:56] #1863 closed

[2015-04-28 18:59] #1782 closed

[2015-04-28 18:59] #1769 closed

[2015-04-28 19:02] mcrosas commented on #1718
@posixeleni what's the status of this? can we close it?

[2015-04-28 19:06] posixeleni commented on #1718
@pdurbin can you please confirm that you are now using the API Terms of use that I have put on the dataverse.org site? http://best-practices.dataverse.org/harvard-policies/harvard-api-tou.html per your comment here https://github.com/IQSS/dataverse/issues/1718#issuecomment-83128636 i was unsure what the status was

[2015-04-28 19:09] pdurbin commented on #1718
@posixeleni it has not been configured in production. It says "There are no API Terms of Use for this Dataverse installation.":

[code]

[2015-04-28 19:19] posixeleni commented on #1718
@pdurbin whats the roadblock for having this display in the API? Please let me know if there is anything you need from me.

[2015-04-28 19:33] pdurbin commented on #1718
@posixeleni no roadblock. This ticket just need to be assigned to someone who could do it. I just did:

`curl -X PUT -d 'http://best-practices.dataverse.org/harvard-policies/harvard-api-tou.html' http://localhost:8080/api/admin/settings/:ApiTermsOfUse`

Now it shows the way I think you want it to:

[code]

Right? Just the link?

[2015-04-28 19:40] posixeleni commented on #1718
looks good! thanks @pdurbin! I am closing this ticket now.

[2015-04-28 20:05] posixeleni opened #2108 "Dataverse Theme: Unable to Save an Uploaded Logo"
Both @dliburd  and I tried to upload a logo in this Dataverse https://dataverse.harvard.edu/dataverse/ubiquity-press and in other ones using Chrome and Firefox and it will look like it completed uploading but the upload bar never goes away and does not allow you to select if the logo is rectangular or square since it just hangs up on the upload. When I save the theme it saves everything else but t

[2015-04-28 20:12] dliburd commented on #2108
I was able to upload successfully the UP logo file on dataverse-demo. Also, I able to recreate the upload fail in production with another image file.

[2015-04-28 20:15] posixeleni opened #2109 "Dataset Metadata - Do Not Pre-populate Depositor if This Field Is Hidden"
User (RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=214953) wanted to hide the depositor field from showing up on Create, Edit and View since they did not want it to pre-populate with their name for any new datasets they created. However our system automatically pre-populates the field regardless of it being hidden on create and will display the users name as the Depositor even if they w

[2015-04-28 20:32] posixeleni commented on #1978
Contacted folks from Dataverses indicated above and awaiting reply. GSD and PSI are all set.

[2015-04-28 21:23] sekmiller commented on #2067
Ready for testing

[2015-04-28 21:23] sekmiller commented on #2067
New Build required.

[2015-04-28 21:25] sekmiller commented on #1812
Cascades are set for facets, linking dataverses, featured dataverses, and linked datasets.  Some more work required for subjects

[2015-04-28 21:26] sekmiller commented on #1320
Ready for testing after next build

[2015-04-28 21:31] sekmiller commented on #2066
Added cascading from datafile to guestbook response.

[2015-04-28 21:56] scolapasta commented on #1812
Actually subject is all set, as it is not an entity but just a many to many relationship.

[2015-04-28 21:58] scolapasta commented on #2066
This issue was specifically for delete when a file had a guestbook response (before we disabled download counting for drafts). Other delete file issues are being tracked as issues currently in 4.0.1.

[2015-04-28 22:04] sekmiller commented on #1320
@kcondon
here are the whitelisted tags:

        // basic includes: a, b, blockquote, br, cite, code, dd, dl, dt, em, i, li, ol, p, pre, q, small, span, strike, strong, sub, sup, u, ul
        Whitelist wl = Whitelist.basic().addTags("img", "h1", "h2", "h3", "kbd", "hr", "s", "del");

[2015-04-28 22:24] kcondon commented on #2067
OK, works, the following rules were tested:
    // basic includes: a, b, blockquote, br, cite, code, dd, dl, dt, em, i, li, ol, p, pre, q, small, span, strike, strong, sub, sup, u, ul
    Whitelist wl = Whitelist.basic().addTags("img", "h1", "h2", "h3", "kbd", "hr", "s", "del");

I just entered blank tags and watched if they survived as tags on a rendered page:
Basic:
<a></a><b></b><blockquote></b

[2015-04-28 22:24] #2067 closed

[2015-04-28 22:25] kcondon commented on #1320
OK, tested dv descript, dataset descript and notes, and tou, toa all work, sending back to in review.

OK, works, the following rules were tested:
    // basic includes: a, b, blockquote, br, cite, code, dd, dl, dt, em, i, li, ol, p, pre, q, small, span, strike, strong, sub, sup, u, ul
    Whitelist wl = Whitelist.basic().addTags("img", "h1", "h2", "h3", "kbd", "hr", "s", "del");

I just entered b

[2015-04-28 22:57] pdurbin commented on #1718
@posixeleni actually, I'll grab it and re-open it to put the curl command in our setup scripts.

[2015-04-29 10:02] astrofrog opened #2110 "Easier way to get dataset title"
At the moment, there is no way to **easily** get the title of a dataset from the JSON response:

[code]

I basically have to do something like:

[code]

Would it not be possible to add the main title of the dataset at the root level of the response?

[2015-04-29 11:01] astrofrog opened #2111 "Provide information on file format"
At the moment, the information one can get about datasets is the following:

[code]

What would be nice is if this could also contain information about the file format, if known (and ``'unknown'`` otherwise). This would make it easier for external tools to determine which files they will understand without having to download them all. In the above case, the extension for the file gives away that i

[2015-04-29 11:01] astrofrog commented on #2111
Ignore me, of course there is ``'contentType': 'application/fits'`` :)

[2015-04-29 11:01] #2111 closed

[2015-04-29 11:23] bencomp opened #2112 "WOFF2 files have no corresponding MIME type in web.xml"
I see this in the logs of our test install:
[code]
There is a mime-type mapping for `woff`:
[code]

[2015-04-29 12:28] pdurbin commented on #2110
This reminds me of #761.

[2015-04-29 14:17] posixeleni commented on #2063
I just tried downloading the files from this draft dataset https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/193ZDD&version=DRAFT again and instead of downloading it takes me to an internal server error page https://dataverse.harvard.edu/api/access/datafile/2546706?format=original

@scolapasta any ideas why this may be occurring still over a week later?

(reported in RT http

[2015-04-29 14:58] eaquigley commented on #2106
Instead of having a hover over that says, "this has been changed in a later published version", I think we should have it displayed in the UI as there is room in that section. My proposal would be to have text where it says Request Access that reads something along the lines of: "File request access has been changed in a later published version so files in this version can no longer be requested o

[2015-04-29 15:20] posixeleni commented on #1814
Completed crosswalk and sent to NARA to review

CC/ @mcrosas

[2015-04-29 15:41] eaquigley commented on #70
I'd like this date range slider to be like this where a user can either enter a range or slide to their preferred range:
![image](https://cloud.githubusercontent.com/assets/5922904/7394743/8a7f4e60-ee63-11e4-9c0d-02c4aaf722c8.jpg)

@posixeleni could you identify the metadata fields that would need a date range slider?
@mheppler i've looked for date range slider components and found this one but do

[2015-04-29 15:44] eaquigley commented on #24
Pasing to @scolapasta because I am not sure why this was given to me and am not sure of what needs to happen.

[2015-04-29 15:47] eaquigley commented on #208
Discussed with @mcrosas to have this show on the card how many dataverses and datasets are in the dataverse. Will discuss with @mheppler to mock this up so it can be developed.

[2015-04-29 15:49] eaquigley commented on #696
@mcrosas what are your thoughts on displaying this as one of the fields above the tabs on a dataset page? we haven't gotten much feedback from others saying they can't figure out where the publication date is displayed.

[2015-04-29 15:50] eaquigley commented on #626
Works. Closing ticket.

[2015-04-29 15:50] #626 closed

[2015-04-29 15:51] mcrosas commented on #696
@eaquigley  seems reasoanble

[2015-04-29 15:53] eaquigley commented on #350
Bringing this ticket back up. @scolapasta could we use the component used for searching through usernames for role assignments for this?

[2015-04-29 15:56] posixeleni commented on #70
The following fields can benefit from the date range slider:

In the Citation Metadata
- dsPublicationDate
- dateOfDeposit
- productionDate
- distributionDate

But there are also compound fields with start and end dates that we can use the slider for:

- Time Period Covered: timePeriodCoveredStart + timePeriodCoveredEnd (Citation Metadata)
- Date of Collection: dateOfCollectionStart + dateOfCollec

[2015-04-29 16:01] eaquigley commented on #696
passing to @scolapasta to determine what milestone this fits best in. we will be adding the Publication Date as a metadata field that displays above the tabs in the box

[2015-04-29 16:04] eaquigley commented on #860
Hmmm so this seems like it could be why we never went back and changed do-not-reply to support@

As that change happened in #2072 and we now have a way for users to contact support directly from the email, I am going to pass this ticket to QA to close.

[2015-04-29 16:09] eaquigley commented on #923
To do for this:
- [ ] add field to account registration for user identifiers
- [ ] what are the technical details for allowing shibboleth users to add in their ORCID? I do think that we need to figure out how that can happen and that it shouldn't be a built in user feature only

[2015-04-29 16:11] mcrosas opened #2113 "Add HTML whitelist in User Guide"
A reminder that the whitelist of HTML tags accepted should be added in the user guides.

[2015-04-29 16:11] kcondon opened #2114 "View Dataverse: HTML in description can cause page layout /float issues."
Specific use case: FF browser for the [1.2 Meter CO Survey Dataverse](https://dataverse.harvard.edu/dataverse/rtdc). Dataverse/Datasets/Files facets appear to right of description rather than below it.

![screen shot 2015-08-27 at 2 13 10 pm](https://cloud.githubusercontent.com/assets/687227/9529006/d0f4d412-4cc5-11e5-9987-619903fadabe.png)

[2015-04-29 16:13] eaquigley commented on #813
@scolapasta @mcrosas @posixeleni do we have a list of all installations and others that we will be harvesting from? wanted to check due to @posixeleni comment above. also, @scolapasta should i have this ticket still or should it be going to someone else? we've already decided the behavior for displaying harvested materials (is searchable, has a search card with the harvested icon and text, will op

[2015-04-29 16:21] mcrosas commented on #813
Here is the current list (harvested dataverses):

https://docs.google.com/spreadsheets/d/1xE55jFE--sEDvvS-vtXavBxc8VvKvKpGJXcjfkelcAw/edit#gid=0

Mercè Crosas, Ph.D.
Director of Data Science, IQSS
Harvard University
http://scholar.harvard.edu/mercecrosas

On Wed, Apr 29, 2015 at 12:13 PM, Elizabeth Quigley <
notifications@github.com> wrote:

[2015-04-29 16:22] posixeleni opened #2115 "Support login using email address (as well as username) for builtin/local users"
We have had several users attempt to login with their email addresses which 4.0 does not currently support. However, many sites support user authentication through email or username so we should look into supporting this in the future.

[2015-04-29 17:22] eaquigley commented on #1503
- [ ] Need functionality to prevent a user from being assigned the same role twice for a dataverse, dataset, or file
- [ ] Need an error message that appears within the role assigment pop up
- [ ] Error message should say, "(insert user name) has already been assigned this role for this (insert dataverse, dataset, or file name)"

[2015-04-29 17:44] eaquigley opened #2116 "Support exporting citation to refworks"
There is a ticket for exporting bibtex #1013 and another ticket for integrating with EndNote #1894

Other citation export options:
- [ ] Export directly to refworks
- [ ] Export directly to Zotero

[2015-04-29 17:46] pdurbin opened #2117 "Shibboleth: restore Institution Log In functionality to dataverse.harvard.edu"
Unfortunately, we saw enough instability (#2013) following the launch of Dataverse 4.0 at https://dataverse.harvard.edu that 14 days later (in the interest of simplifying our setup) we stopped fronting Apache with Glassfish over port 443.

Without Apache (mod_shib) in place, we were forced to disable Shibboleth login. (Because the Shibboleth feature is new, only ~20 accounts were affected, which w

[2015-04-29 17:55] eaquigley opened #2118 "Linked Dataverse + Datasets: Ability to Request to Link"
Feedback from a user for us to think about:

A user finds a dataverse that relates to a dataverse or dataset they have, this functionality would be for that user to request/contact that dataverse admin to say, "hey would you be interested in linking my (insert name of) dataverse or dataset?"

We have contact functionality so a user could always email the dataverse admin that way about this but I'd

[2015-04-29 18:42] sbarbosadataverse commented on #2053
just received a request to link 15 studies. when will this feature be available for dataverse admins?

[2015-04-29 20:17] dancabral commented on #2101
The goal is to keep this DV metrics block on the iq site dynamic.
![screen shot 2015-04-29 at 4 14 17 pm](https://cloud.githubusercontent.com/assets/867075/7400471/2b5ec35c-ee8b-11e4-851d-4a032e8dd352.png)

[2015-04-29 21:34] mercecrosas opened #2119 "Support Open Badges for Dataverses"
We should consider supporting  OpenBadges as an option for Dataverses (and possibly datasets):

http://openbadges.org/

Also, from OSF, support Open Data badges

[2015-04-29 21:52] mcrosas commented on #2053
4.0.2 release: https://github.com/IQSS/dataverse/milestones

[2015-04-29 22:16] pdurbin commented on #2117
In 5c710d1 we are taking the approach of having Apache serve HTTPS over port 8181 so we can continue to use mod_shib. That port will need to be open in the firewall, of course. Example Apache configuration files can be found here:

https://github.com/IQSS/dataverse/tree/5c710d14c96a20eb027a3948657ef6534c0ae807/scripts/deploy/shibtest.dataverse.org/etc

In Vagrant and other environments, we have us

[2015-04-30 10:56] leeper commented on #1823
Are there now any places (in any of the APIs) where username and password are needed or is everything now done by API key?

[2015-04-30 13:46] pdurbin commented on #1823
@leeper I would not say that username and passwords are **needed** by the API since we're requiring API tokens now, but you **can** look up your API token like this:

https://apitest.dataverse.org/api/v1/builtin-users/spruce/api-token?password=spruce

This was developed in #1818.

In #1935 we've been asked to allow users to generate an API token with a username and password.

See also this related

[2015-04-30 17:11] eaquigley opened #2120 "Add Dataset Page: Change Text from Add to Save"
On the add dataset creation page, the button currently reads Add Dataset. Should be changed to say, "Save Dataset".

This field in bundle: file.addBtn=Add Dataset

[2015-04-30 17:37] posixeleni opened #2121 "Chrome browser is stripping the file extensions for .csv and .xlsx files when downloading original format"
Discovered by a user when they tried to download an xlsx file but I also then found out that this issue is occurring for csv files as well. The file extensions for other tabular files are not being removed (tested .sav, .dta and .rdata)

CSV example
https://dataverse.sandbox.socialhistoryservices.org/dataset.xhtml?persistentId=hdl:10622/UFQVCS

XLSX example
https://dataverse.harvard.edu/dataset.xh

[2015-04-30 17:50] astrofrog opened #2122 "Optimize Permissions Lookup"
I tried accessing:

[code]

but this hangs. If I replace `:root` by say `cfa`, then it works fine.

[2015-04-30 18:03] eaquigley commented on #2091
Link to Code snippet from OpenScholar for us to use to have this work: https://github.com/openscholar/openscholar/blob/SCHOLAR-3.x/openscholar/modules/os_features/os_publications/os_publications.theme.inc#L217

What it will do is highlight all the text so a user doesn't have to highlight it all.

[2015-04-30 18:28] pdurbin commented on #2122
"I wonder if querying the root is an expensive operation," I opined at http://irclog.iq.harvard.edu/dataverse/2015-04-30#i_19145

This is potentially yet another expensive tree traversal problem. See also #752.

[2015-04-30 18:38] eaquigley commented on #2060
@landreev can you answer if the file download error message is only in the manifest for a zip file that fails? or if all error messages for file download behave this way.

[2015-04-30 19:36] pdurbin commented on #1983
I looks like a fix might be coming at https://github.com/payara/Payara/commit/8ac9e7089855f2f79d54f14

Via http://javabot.evanchooly.com/logs/%23glassfish/2015-04-30

[2015-04-30 19:55] kcondon opened #2123 "API: Review logging level and format for builtin-users"
Review appropriate logging and format for builtin endpoint:
/api/builtin-users

[2015-04-30 19:59] scolapasta commented on #2106
What about the opposite, were it wasn't allowed but no is (and the button will also be there)?

[2015-04-30 21:17] eaquigley opened #2124 "Linked Pop Up: In FF, Harvard Dataverse shows up twice in drop down selection list"
Doesn't behave this way in Chrome though.

Need to check and see if other dataverses are appearing as duplicates.

[2015-05-01 08:29] bencomp commented on #2119
Great idea! I had found the OSF [Open Data Badges](https://osf.io/tvyxz/wiki/home/) recently.

IMHO "support Open Badges" needs to be more specific :) Would you like to import and display badges with personal names, datasets/dataverses, if some other organisation awarded the badges? Or should Dataverse reward users a badge automatically? Or should a dataverse "badge manager" be able to manually re

[2015-05-01 12:12] pdurbin commented on #2119
This reminds me of an idea I shopped around internally a while back:

Subject: the "quality" of a dataverse (good practices)

We all just discussed good practices for data curation and it reminded me of a "quality" metric used by the Perl community.

Except they spell it "kwalitee" because they don't want to hurt anyone's feelings...

For example, it's considered a good practice to write tests, so

[2015-05-01 13:30] sekmiller commented on #2095
We've been unable to recreate this issue.  I've checked with Eleni and she had no more insight into the steps required to do so.  At this point all we have is that it happened - there are screenshots - but that's all.

[2015-05-01 13:32] sekmiller commented on #782
Download tracking (aka Guestbook responses) export has not been implemented yet. When is it on the schedule?

[2015-05-01 13:58] mcrosas commented on #2119
@bencomp I agree, I wasn't specific about what supporting badges mean in part because it needs brainstorming and good understanding of how the badges are used in other contexts. We'll need to do some research associated to this. Assigning to @posixeleni

[2015-05-01 14:01] posixeleni commented on #2119
@bencomp i imagine we may want to offer both automated and manual options for badge assigning depending on the type of badge. But as @mcrosas mentions we will need to research this a bit further.

Some preliminary thoughts:
Example for an OSF **Open Data Badge** there are two sets of criteria that need to be met:

**1. Provide the URL, doi, or other permanent path for accessing the data in a publi

[2015-05-01 15:16] kcondon opened #2125 "File Upload: Investigate and potentially disable JSP file upload caching."
The generated/jsp directory caches files that have been uploaded but not yet saved. After saving it deletes them. However, there seems to be a lot of orphans in the cache that are not being removed.

This ticket is to investigate better ways of managing this behavior:
disable, make cache directory configurable

[2015-05-01 20:24] mheppler commented on #1520
Also seen at:
- [ ] Modification of Terms - http://best-practices.dataverse.org/harvard-policies/harvard-terms-of-use.html#modification-of-terms

[2015-05-01 21:07] sbarbosadataverse opened #2128 "dataset has been submitted for review: change text with automated message"
original automated reply is:

- please add some contact info at the bottom.
- change "Don't" to "Please don't"
- and how about dropping that sentence and replacing it with an automated check every week or so until the depositor whose dataset was returned does something.

[2015-05-02 07:00] leeper commented on #1823
Okay, thanks!

On Thu, Apr 30, 2015 at 3:46 PM, Philip Durbin <notifications@github.com>
wrote:

[2015-05-03 02:49] pdurbin opened #2129 "Institution-wide Shibboleth groups: consider switching from "Shib-Identity-Provider" to "scope" of eppn"
Institution-wide Shibboleth groups were implemented in #1401 and we got some feedback about our approach in https://help.hmdc.harvard.edu/Ticket/Display.html?id=194659

"I looked [your InCommon registration form] over, and it seems OK, aside from one thing -- in the question about use of attribute information, you say:

Are you sure you want to grant permissions based simply on whether they have,

[2015-05-04 15:58] eaquigley opened #2130 "Error Messages: Have a way to track error messages users encounter"
We need a way to track:

1) what error messages are being displayed to users
2) how frequently these error messages are being displayed to users

This will help us determine pain points in the application.

[2015-05-04 19:10] kcondon opened #2131 "FITS files: Investigate ingesting older FITS files that were added before FITS and md5 functionality."
A user reported that some FITS files are misidentified as plain text and do not have an md5, see RT #215316.

Turns out the example given was a file from 2011, before FITS and md5 were added.
https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:10904/10069
versus:
https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/23099

[2015-05-04 19:14] pdurbin commented on #2131
This was originally reported by @astrofrog at http://irclog.iq.harvard.edu/dataverse/2015-04-30#i_19156

[2015-05-04 19:55] pdurbin commented on #1718
Done in 147e803

Passing to QA.

[2015-05-04 20:16] pdurbin commented on #2069
@raprasad I added GoogleAnalyticsCode to the enum for the `setting` table and updated the Harvard-specific setup script with our code: 816a88e

If you populate the setting the code will be printed at the bottom of the page in an HTML comment like this:

[code]

@raprasad can you take it from here?

[2015-05-04 20:29] mcrosas commented on #1320
@scolapasta we need different HTML validation for different metadata fields (probably this needs to be an attribute in the metadata table). Note the high priority for this, can this be added to 4.0.1 or 4.0.2?

[2015-05-04 20:54] posixeleni commented on #1978
CfA are all set. Awaiting reply from Ubiquity Press.

[2015-05-04 20:57] mcrosas commented on #2092
@mheppler first propose a "photoshop" view and send to @thegaryking

[2015-05-04 21:10] mcrosas commented on #1391
Go over this in a google doc and then add to our new Design Guide.

[2015-05-04 21:23] eaquigley commented on #2119
Another thought of a way to do a badge would be to have an online course (like with Coursera) on how to use Dataverse. If a user completes it, their dataverse and/or datasets would have a badge signifying this.

Inspired by seeing this course on Coursera: https://www.coursera.org/course/datascitoolbox

[2015-05-05 12:23] kcondon opened #2132 "Edit Dataset: Investigate and correct multiple draft issue."
One user has two datasets that may have a published version mislabeled as draft in the version history.

[2015-05-05 12:56] posixeleni commented on #2021
@eaquigley do you happen to have an idea of when this will be implemented? I have a user asking if it will take more than a few months that they will rename their files for now but if its in a few weeks they  will wait till this feature is enabled?

Thanks!

[2015-05-05 13:22] pdurbin commented on #2021
@posixeleni @eaquigley @mheppler are there mockups and/or a Functional Requirements document? This sounds like a non-trivial task.

[2015-05-05 13:32] sekmiller commented on #1525
Regarding point 1:  The include templates from parents check box will only appear if the metadata blocks of the child dataverse are identical.

[2015-05-05 13:39] posixeleni commented on #2108
This is now working for me in production. Not sure if this is an intermittent issue?

[2015-05-05 13:50] posixeleni commented on #1978
All set with Ubiquity Press as well. This is now resolved so I am closing this ticket.

[2015-05-05 13:50] #1978 closed

[2015-05-05 13:54] posixeleni commented on #1814
Completed crosswalk w/ NARA but waiting for them so send us some sample data so we can test mapping once the code is implemented

[2015-05-05 14:22] sekmiller commented on #1525
With respect to #2 - if a template is default the button says "Default" you can de-select it as default by clicking the button.  That's not obvious.  Looking for suggestions for the button label and suggest that we add another indicator that a given template is the default.

[2015-05-05 14:26] sekmiller commented on #1525
For Point 3 - not sure what you're describing.  On create the include from parents is checked regardless of the state of the parent's templates.

[2015-05-05 14:28] sekmiller commented on #1525
Discussed point 2 with Mike.  Assigning to him for now to follow-up on UX suggestions for de-selecting default template

[2015-05-05 14:54] raprasad opened #2133 "Dataset Metadata - clean up titles and other metadata that contain special characters"
(in process)
Review `<`, and `>` tags:

https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl%3A1902.1/20291&version=1.0
https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl%3A1902.1/20452&version=1.0

[2015-05-05 15:40] posixeleni commented on #1814
@scolapasta this is the NARA export of batch datasets (https://www.dropbox.com/s/ule0djqytersv8v/lgoodsell_150505103739_concat.tar.gz?dl=0) that we need to import into dataverse like we do for harvested datasets. They have their own custom XML so I worked with NARA to put together the proper mapping from their schema to our internal dataverse metadata https://docs.google.com/spreadsheets/d/1prBLBs

[2015-05-05 15:48] posixeleni commented on #1964
Based on @suenjedt comment above I have created a spreadsheet with proposed changes to Subjects using the OECD taxonomy https://docs.google.com/spreadsheets/d/1PwxDyPv83BA6ueDimM2xavgNIUP2d2qQYsjIyVuy59E/edit?usp=sharing

[2015-05-05 16:35] pdurbin commented on #2115
This probably goes without saying but this feature only applies to "builtin/local" users, not Shibboleth users.

[2015-05-05 16:40] pdurbin commented on #70
@eaquigley I like how that slider looks but I'm not sure it's compatible with JSF. There are a variety of Primefaces sliders here that may be of interest: http://www.primefaces.org/showcase/ui/input/slider.xhtml

I'd also like to point out that this issue has a hard dependency on #370 so that the data is available to Solr as numbers and dates rather than text.

[2015-05-05 17:02] eaquigley commented on #1525
In regards to point 2. I played around with this, looked at some toggle button research, and then had @mcrosas and @sbarbosadataverse do a guerilla usability test where I had two templates set up, one as default and one as not. I asked them to tell me which one was the default and how they could tell. Both of them were easily able to with the current Default and Make Default buttons. Additionally,

[2015-05-05 17:03] mcrosas commented on #1814
Medium priority for now, but soon will be High - since it's needed for DataPASS

[2015-05-05 17:23] tercer commented on #2030
This just tripped me up today.  I thought my account was through this email address:

![screen shot 2015-05-05 at 11 33 00 am](https://cloud.githubusercontent.com/assets/2085037/7478497/343ddda8-f329-11e4-83f4-cd66591beca8.png)

But I had no account at that email.  So waited patiently. Like the gullible fool that I am.

I understand the privacy issue.  For the present, until you resolve this deepl

[2015-05-05 17:27] kcondon commented on #2132
Steps to reproduce:
In two separate browsers, open a published dataset.
In one browser edit metadata.
In the other browser, edit terms and add a guestbook.
Save the metadata view, then save the guestbook view.
See multiple drafts.

[2015-05-05 17:59] eaquigley commented on #2030
We should change the message displayed in the UI to say what @tercer suggested. I think it is apparent based off log in issues we've had since 4.0 was launched that this is the right thing to do. Additionally, I agree with @bencomp, "The audit log should have a record of the requested password reset. A log monitoring system should notify the administrator of suspicious behaviour when there appears

[2015-05-05 18:31] pdurbin opened #2134 "Notify superusers based on records in action log"
Original suggestion:

This is a great idea but needs further clarification and design.
- The action log is quite chatty. How much of it should we expose to superusers via notifications?

Also, only "commands" are logged to the action log so we would have to convert password reset to use the Command pattern. This can be done but is non-trivial.

[2015-05-05 18:32] pdurbin commented on #2030
@tercer that was a fantastic suggestion. Thanks!

@eaquigley I went ahead and pushed the wording change into master in c4a546d so it will show up in the next build. I'll move this ticket to the current milestone and into QA.

@eaquigley your other suggestion is a great idea but quite involved so I created a separate ticket for it: #2134

[2015-05-05 18:37] pdurbin commented on #2118
@eaquigley would this show up as a notification? And an email as well? It sounds potentially spammy. I guess it's like a friend request, sort of. Someone would like to "connect" with you on Dataverse.

[2015-05-05 18:41] pdurbin commented on #923
For guidance from @mcrosas on this feature please see the notes from [2015-04-30 Dataverse User Accounts and Auth Meeting](https://docs.google.com/document/d/157sw9gaFGwrb0EtCGGlLMxSg0cooHfKEvIsjcebPcA8/edit?usp=sharing). @eaquigley you are right that this will not be a feature only for builtin users. All users will benefit.

[2015-05-05 18:57] pdurbin commented on #2072
The sharp eyed @eaquigley noticed the duplicate thank yous in the screenshot: https://github.com/IQSS/dataverse/issues/2072#issuecomment-95712818

I removed them in 41e94a0 so I'm re-opening this ticket to go through QA again.

[2015-05-05 20:45] pdurbin commented on #2129
By using "Shib-Identity-Provider" we are tying ourselves to the Shibboleth implementation of SAML. SAML alternatives to Shibboleth have been enumerated most recently at https://docs.google.com/document/d/1DdLVuh8_e_2DINO1xCTj28h35cAwnD0QdevOnEuTo_I/edit?usp=sharing

[2015-05-06 13:00] bencomp opened #2135 "'Explore' ('View map') button is visible even if TwoRavens (WorldMap) is not configured"
As a provider of the Dataverse application to users, we would like to keep the service simple and lightweight and not install and support the TwoRavens application (at least from the beginning of using Dataverse 4; we may change this in the future).

In our test environment the *Explore* button is visible even if we don't install and configure Two Ravens, which seems to be an integration that is t

[2015-05-06 13:29] posixeleni commented on #2135
@bencomp this is something we have heard from other dataverse installations as well https://github.com/IQSS/dataverse/issues/901

[2015-05-06 13:39] bencomp commented on #2129
If I understand correctly, this suggestion is an addition to #1515?

I had another look at some old Shibboleth logs and it appears we do receive EPPN values, but I'm not sure that it is included in every request. Also, I haven't seen the values and don't know if the scope part of the EPPN ever changes, e.g. when "Universiteit X" decides to change their main Internet identity to "X University" and

[2015-05-06 13:54] mcrosas commented on #2135
@bencomp would this apply to ingesting tabular files to extract variable metadata + reformat? or just the explore button?

[2015-05-06 14:10] bencomp commented on #2135
@mcrosas just the button(s). I was told that setting up rApache, Zelig, TwoRavens wasn't easy... (Yes, we did install them in the test environment, but plan to not use them in production.)

We do want the functionality to extract variable metadata and download as other formats.

[2015-05-06 16:27] raprasad commented on #986
duplicate with #1754
@scolapasta

[2015-05-06 16:27] #986 closed

[2015-05-06 16:50] posixeleni commented on #1311
@scolapasta Would it be possible to only show this subject validation error when someone goes to "Publish" the dataset and lets them know in a user-friendly way that they need to add a Subject to their dataset? Otherwise this interrupts a user's entire file-upload/edit process since they have to abandon all the work they did to go edit the metadata and then go back and re-do everything they previo

[2015-05-06 16:54] eaquigley commented on #1840
Related to #1813 #2053 #1884 #1898 #1890

[2015-05-06 17:00] mheppler commented on #1840
To continue this discussion, and to help move it along for 4.0.1 development, I have reviewed all the linked workflows currently in 4.0, and where the mockups for managing are at. Here are some thoughts.

- There is a 4.0.1 ticket for manage functionality, #1364. If we use this ticket as the high-level discussion, we could use that ticket as the specific feature development issue, and then create

[2015-05-06 17:34] raprasad commented on #2078
Checked into branch 4.0.1
@kcondon

[2015-05-06 18:23] posixeleni commented on #2083
We may need to postpone this to the next release since additional dev work will be needed to support metadata field changes now that 4.0 has been released:

from @scolapasta

[2015-05-06 18:47] eaquigley commented on #2120
Passing to QA.

[2015-05-06 18:58] eaquigley commented on #2128
I've added Please in front of all the Don't's. The automated check will require dev work. Also, the part for adding in more contact information is not in the bundle (as far as I can tell). @scolapasta @sekmiller how would i go about adding more contact information in for emails?

[2015-05-06 19:28] sekmiller commented on #2128
@eaquigley @sbarbosadataverse  Adding more contact information for emails will require some dev work.  What contact info should be included?  The text you would like to add surrounding the contact info will have to be added to the bundle.

[2015-05-06 19:51] sekmiller commented on #2132
This has happened at least once in build.  I haven't been able to recreate it locally.  Kevin was unable to get it to happen on build.  He thought it might be occurring in the presence of a long-running ingest, but even that wasn't enough to trigger a repeat.

[2015-05-06 22:08] pdurbin commented on #2102
I just reproduced this bug in master:

- scripts/database/homebrew/delete-all
- scripts/database/homebrew/rebuild-and-test
- upload a file to the "Darwin's Finches" dataset
- publish "Darwin's finches"
- change title to "Darwin's Galápagos Finches" using [scripts/search/tests/edit-dataset-finch1](https://github.com/IQSS/dataverse/blob/1f3a84ed39bba8f02f0f4a82a6528ead4b331615/scripts/search/tests/e

[2015-05-07 03:02] pdurbin commented on #2117
After chatting with @scolapasta @landreev and @kcondon today I think we've reached a consensus that we're not at all sure that the solution implemented (jumping between ports 443 and 8181) will work in production due to the fact that we load balance between two web servers.

Here's a screenshot that shows the jumping between ports (which also lead to the introduction of a servlet filter):

![saml]

[2015-05-07 14:39] eaquigley commented on #1311
Since we have caused this usability issue by requiring subject and contact email now, we need to make it as easy as possible for users to be able to upload + edit files and terms without losing their work and making them go to the Edit Metadata section of their dataset. I am proposing we figure out how to have a pop up that appears when a user clicks Save on the Files or Terms page that has subjec

[2015-05-07 15:28] scolapasta commented on #2093
This was for when we had apache (the 503 came from there). As we have currently removed Apache, I think we can safely close this.

[2015-05-07 15:48] sbarbosadataverse opened #2136 "The metadata could not be updated. Please contact support. for GSD dataverse"
https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/SPQAZT&version=DRAFT

![gz3v6oxsugzadftqo3wxqxz0jyzom2olqz74fhuxpou](https://cloud.githubusercontent.com/assets/8322346/7519543/da0a2936-f4ae-11e4-9fa0-cae4e82d587b.png)

[2015-05-07 15:54] pdurbin commented on #2136
@sbarbosadataverse can you please tell us some more about this dataset? Was it migrated? Is it new? Anything unusual about it?

[2015-05-07 18:13] sekmiller commented on #1410
Added Terms of Use; TOU Additional Information; Terms of Access ; TOA Add'tl Info.

Also added Datafile tags.

Could not add changes to guestbook status (add, remove, change) because guestbook is at the dataset level and thus not tracked by version.

[2015-05-07 19:05] eaquigley opened #2137 "Files Display: Image + PDF previews not displaying"
When 4.0 was first launched, thumbnails were being generated for all images and pdfs that existed in 3.6. Once critical errors started happening, this was turned off. This ticket is a reminder to go back and finish generating those thumbnails.

Additionally, broken images icons are appearing for some of the thumbnails that have been generated. Would be good to have the mouseover hover images gener

[2015-05-07 23:08] kcondon opened #2138 "Error Reporting: Automatically capture user errors and stack traces, send alerts and store them."
We already log many error conditions but it was discussed that when users encounter an error, the failure message is too generic to be of use to them.

We should distinguish between user task based errors where they just entered something incorrectly versus a system error.

Task based errors should be handled with appropriate messaging and possible redesign.
System errors likely aren't recoverable

[2015-05-08 00:25] mercecrosas opened #2139 "Allow to send a message when Approving or Rejecting a data access request"
When a data owner rejects or approves a request to access his/her data, he/she should be able to add a message or comments for the requestor. The message should be added to the notification sent to the requestor.

[2015-05-08 16:30] kcondon opened #2140 "File upload: Investigate cleaning up /temp directory more proactively through app."
Recently we found the /temp directory under the files storage directory was consuming a large amount of space and seemed to be in part related to failed file uploads and ingests.

Can we investigate cleaning this up more proactively so we don't use up a lot of disk space?

We have put a cleaner job in place in the meantime for files older than 1 day.

[2015-05-08 17:22] kcondon opened #2141 "File upload: Consider creating configurable file upload and ingest upload size limits."
As we gain more experience with our new platform, we may need to set practical limits on uploads and ingests. It should be configurable so we can adjust as we learn more.

One suggestion was to present a popup or some message to a user if their upload exceeds a limit, do not upload of course, then give them the option of requesting permission.

For ingest same but maybe also allow a choice of uplo

[2015-05-08 17:59] sbarbosadataverse opened #2142 "Migrate "comments" field information from 3.6 to 4.0: into Notes field?"
We had discussed this would be the process for extracting comments added in 3.6 to 4.0.
Gustavo confirmed this has not happened and sent along the following information:

total of 124 comments, see below by dataset:

select protocol, authority, studyid, count(*)
from studycomment sc, studyversion sv, study s
where
sc.studyversion_id = sv.id
and sv.study_id = s.id
group by  protocol, authority, stu

[2015-05-08 18:03] sbarbosadataverse commented on #2136
@pdurbin
was created May 5th, first draft . no published version available.

[2015-05-08 18:58] eaquigley commented on #1311
Related to #2062 as that is the API error happening for this

[2015-05-08 19:11] scolapasta commented on #2000
Moving to post curation for clean up of migrated datasets.

[2015-05-08 19:26] scolapasta commented on #2108
Could we retest this?

[2015-05-08 20:51] scolapasta commented on #2136
This is working now.

[2015-05-08 21:50] kcondon commented on #2098
Fixed, closing

[2015-05-08 21:50] #2098 closed

[2015-05-08 21:52] kcondon commented on #2093
Closing, not using apache.

[2015-05-08 21:52] #2093 closed

[2015-05-08 21:55] kcondon commented on #2066
Specific issue fixed manually, underlying issue (delete where guestbook response exists) also fixed separately. Closing.

[2015-05-08 21:55] #2066 closed

[2015-05-08 21:57] kcondon commented on #2064
Confirmed fixed by user, closing

[2015-05-08 21:57] #2064 closed

[2015-05-08 21:57] kcondon commented on #1812
Tested, works, closing

[2015-05-08 21:57] #1812 closed

[2015-05-08 22:05] kcondon commented on #2030
OK, text is correct, the other issue Phil opened in a separate ticket. I am closing this.

[2015-05-08 22:05] #2030 closed

[2015-05-08 22:07] kcondon commented on #2072
Sender address is correct,  just the one thank you as well, closing

[2015-05-08 22:07] #2072 closed

[2015-05-08 22:53] kcondon commented on #2069
OK, ran curl command saw db table updated with key, saw html page with key. Compared resulting code with current production code and it is identical. Closing.

[2015-05-08 22:53] #2069 closed

[2015-05-09 00:09] sbarbosadataverse commented on #2136
Thank you!
On May 8, 2015 4:51 PM, "Gustavo Durand" <notifications@github.com> wrote:

[2015-05-09 16:22] mercecrosas opened #2143 "Allow topic classification field to be multiple and hierarchical"
The "topic classification" (or simply "classification") metadata field should allow not only multiple entries but also a hierarchy. This would solve a lot of problems recreating something like "collections" in Dataverses, and it wouldn't require creating new metadata blocks for each case (which are are harder to maintain than simply using existing metadata fields). The facets for these classificat

[2015-05-11 13:43] posixeleni commented on #2143
Also relates to this #377 since we most likely want multiples within a single compound metadata field.

[2015-05-11 13:56] garthg opened #2144 "Clickable URLs in description snippets in search results in v4.0"
In both version 3 and version 4, search results show snippets of the description (which is very helpful!). In version 3, if the snippet included an html link, then it was clickable from the search result page. However, in version 4, the link shows up only as plain text. It would be great if the clickable behavior present in version 3 was available in version 4 as well. See attached screenshots for

[2015-05-11 14:29] pdurbin commented on #2144
Just to clarify, this affect browse as well as search. If you navigate to https://dataverse.harvard.edu/dataverse/antislaverypetitionsma for example you'll see URLs in the descriptions in dataset cards that are not clickable. I was aware of this, which is why I wrote, "For example, if you put a link in a dataverse description, you can click it from the dataverse landing page but not from the card

[2015-05-11 14:41] garthg commented on #2144
Thanks @pdurbin for those clarifications!

I think this bug/request would apply any time an html link is shown in a "card". That would include browsing when no snippet is available as well as search results snippets when available. Ideally the links would be clickable in both of those cases.

You also mentioned the Search API handling of links, but for me that is NOT a particular problem at the mo

[2015-05-11 14:47] mheppler commented on #2092
Improved layout and help text of citation block on dataset page. Also added click-to-highlight javascript functionality.

Code is available for review and merging on the following branch: https://github.com/IQSS/dataverse/tree/2091-2092-citation

[2015-05-11 14:47] mheppler commented on #2091
Improved layout and help text of citation block on dataset page. Also added click-to-highlight javascript functionality.

Code is available for review and merging on the following branch: https://github.com/IQSS/dataverse/tree/2091-2092-citation

[2015-05-11 15:12] raprasad commented on #1320
Mike added a checklist for this process here: https://docs.google.com/document/d/1GNZtAgI7vD8jGnSMT2_Ew1SJtnDzRqpfnqa0JGPOiqY/edit

[2015-05-11 15:18] mheppler commented on #1989
Reviewed mocked up screenshot with UI team and will be moving this into development.

![screen shot 2015-05-11 at 11 00 34 am](https://cloud.githubusercontent.com/assets/687227/7568209/722e4ca6-f7cf-11e4-826d-28345c735505.png)

[2015-05-11 15:48] eaquigley opened #2145 "Create Account: Change Redirect to Take User back to the page they came from"
In the "open" dataverse in 4.0, and as reported by users, if a user first navigates to the a dataverse and they click on "sign-up" because they don't have an existing dataverse account, they are redirected off the restat dataverse after sign-up is complete

Needs to be fixed to be this workflow:

User is on a dataverse page (say, Gary King Dataverse)->clicks on Sign Up->Creates an Account->Brought

[2015-05-11 16:04] garthg opened #2146 "Allow End Users the Ability to Edit Data Citation"
Hi,

This might be a fix I could make in the 4.0 configuration somewhere, but I couldn't find it, so any help would be appreciated!

In version 3.x in my Dataverse "Antislavery Petitions Massachusetts" every dataset citation includes the label "Massachusetts Archives, Boston MA". This field appears to be missing from the citations in 4.0 after the migration. You can view a before and after migrati

[2015-05-11 16:20] raprasad commented on #2112
checked into 4.0.1

[2015-05-11 16:38] posixeleni commented on #2146
@garthg thanks for sending this and sorry for the confusion. In order to be compliant with the Joint Declaration of Data Citation Principles (https://www.force11.org/group/joint-declaration-data-citation-principles-final) we modified the Data Citation in 4.0 to list the repository name that is hosting the dataset and is guaranteeing persistence of this dataset through the DOI we minted for it. For

[2015-05-11 16:43] garthg commented on #2146
Hi @posixeleni ,

Thank you for the reply. Just to make sure I'm understanding correctly, this means that there is no way for me to adjust the citation format to include the "Massachusetts Archives" distributor as part of the citation at the top of the page?

Thanks,

Garth

[2015-05-11 16:53] posixeleni commented on #2146
@garthg yes you are correct this is something you cannot change in the citation at the top of the page since we want to make sure we are clear on provenance. Will this be an issue for your datasets?

[2015-05-11 17:07] pdurbin opened #2147 "Consistency: Review JSON responses from API endpoints"
Placeholder ticket for an issue I've brought up internally about lack of consistency between API and GUI.

[2015-05-11 17:09] garthg commented on #2146
@posixeleni This is an issue for us because we are required to include Massachusetts Archives in our citation for these datasets. What would be the best way for us to do that in the new 4.0 format?

[2015-05-11 17:49] raprasad commented on #2075
May have been part of migration process.
Found in staging data:

string|# instances
-------------|-------------
"Version Date: null"|2,162

[2015-05-11 17:51] posixeleni opened #2148 "Printer-friendly Version of the Guides"
discussed with @eaquigley that we need to make available a printer-friendly version of the guides.

@cchoirat confirmed with me that each time we make an HTML version of the Sphinx docs we would need to also do:

[code]

or

[code]

This would need to be done by development and then in the guides we would ideally have a "View Printer Friendly Version" option on each page.

[2015-05-11 18:11] pdurbin commented on #2148
We would probably automate this with Jenkins as part of a normal build, which already makes HTML versions of the guides.

Code contributors such as @bencomp have expressed interest in how our Jenkins jobs are set up (#1936) so we should probably consider committing some scripts used by Jenkins (such as the oneliners we use to build docs) into the code base itself.

[2015-05-11 18:19] cchoirat commented on #2148
make latexpdf

On Mon, May 11, 2015 at 2:11 PM, Philip Durbin <notifications@github.com>
wrote:

[2015-05-11 18:25] posixeleni commented on #2108
Tested and now working as expected. Closing.

[2015-05-11 18:25] #2108 closed

[2015-05-11 18:51] eaquigley commented on #2113
Added in and displaying. CLosing ticket.

[2015-05-11 18:51] #2113 closed

[2015-05-11 18:56] #1759 closed

[2015-05-11 18:57] eaquigley commented on #561
Guides from dataverse.org have navigation in the header but guides from dataverse.harvard.edu don't. @mcrosas @mheppler can we review this in today's UI/UX meeting?

[2015-05-11 18:59] eaquigley commented on #97
Done. Closing Ticket.

[2015-05-11 18:59] #97 closed

[2015-05-11 18:59] eaquigley commented on #86
done. closing ticket.

[2015-05-11 18:59] #86 closed

[2015-05-11 18:59] eaquigley commented on #67
done. closing ticket.

[2015-05-11 18:59] #67 closed

[2015-05-11 19:00] eaquigley commented on #66
done. closing ticket.

[2015-05-11 19:00] #66 closed

[2015-05-11 19:03] mheppler commented on #1750
Formatted dataverse_template, to fix display the page title and other metadata in the source head, to be before the JS and CSS links.

Based on the suggestion of this StackOverflow issue (http://stackoverflow.com/questions/4268345/how-can-i-implement-css-versioning-to-solve-cache-issues-using-jsf-2-houtpu), to extend "javax.faces.application.ResourceHandlerWrapper and javax.faces.application.Resou

[2015-05-11 19:14] eaquigley commented on #1854
@landreev I created a section for this here: https://github.com/IQSS/dataverse/blob/master/doc/sphinx-guides/source/user/dataset-management.rst and added some advanced options but not all. Could you please go in and add the remaining ones. Thank you.

[2015-05-11 19:24] posixeleni commented on #130
Added links to .tsv versions of the files. Closing this ticket.

[2015-05-11 19:24] #130 closed

[2015-05-11 19:36] pdurbin commented on #2088
@scolapasta and I decided to continue using the existing `SystemEmail` setting but to allow it to support either of these:

- `support@dataverse.org`
- `Dataverse Support <support@dataverse.org>`

In adf0646 I updated the setup-optional-harvard.sh to use the one with a display name and it seems to work fine:

![email](https://cloud.githubusercontent.com/assets/21006/7573359/21be1f20-f7f3-11e4-89e5