[2015-01-08 17:24] mheppler commented on #1253
Cleaned up the error message block on the Dataset page.

In addition to this problem, this page doesn't have a general error message at the top of the page.

This ticket belongs in the 4.0 Messaging queue, to be addressed with the other remaining messaging issues. I am also opening a new, related issue (#1304) for these custom fields, that need input watermarks, letting a user know that a special

[2015-01-08 17:25] mheppler commented on #1304
Related #1253.

[2015-01-08 17:26] mheppler commented on #1253
Related #1304.

[2015-01-08 17:49] posixeleni commented on #1298
@kcondon if you do a db drop in your local install you should be able to see these changes. Let me know if you have any questions.

[2015-01-08 18:07] esotiri commented on #703
so far I haven't been able to reproduce

[2015-01-08 18:10] posixeleni commented on #1304
I can enter these into the TSV metadata blocks.

[2015-01-08 18:11] posixeleni commented on #1304
Adding watermarks into the Social Science Metadata Block for integer.
Adding watermarks into the Astrophysics metadata block for integers and floats.

[2015-01-08 18:12] mheppler commented on #338
We've got a layout mocked up for downloading multiple files.

https://iqssharvard.mybalsamiq.com/projects/files-dataverse40/Dataset%20-%20Files

I'll put together the static version of this and pass it to Leonid for wiring up.

@landreev @scolapasta @eaquigley @kcondon

[2015-01-08 18:24] sekmiller commented on #1263
Terms of Use are now saved at the version level. Need to get the latest check-in for the copying of TOU and ancillary data to new dataset versions

[2015-01-08 18:27] posixeleni commented on #1115
Given feedback from usability testing (see https://github.com/IQSS/dataverse/issues/1115#issuecomment-66201945) also adding two new fields:

 "Other Organism" and "Other Measurement Type" fields as free-text.

[2015-01-08 18:30] scolapasta commented on #1251
We do not need to have uniqueness through the system for this. However, yes, putting the same e-mail here is a minor issue. Let's close this ticket and you can reopen a separate issue and assign to post 4.0.

[2015-01-08 18:43] pdurbin commented on #229
In addition, I'd be happy to get some feed back on the new "status" option when looking at the Solr index. @esotiri and I looked a scenario where we created a dataset while Solr was down and noted that once we brought Solr back up, Solr is out of sync with the database (for both content and permissions of the newly created dataset):

[code]

Please see also remarks by @kcondon under "Admin Stale I

[2015-01-08 18:46] pdurbin commented on #229
Also, as @esotiri and I talked about, this individual dataset can be indexed into Solr (once it's back up) with `curl http://localhost:8080/api/index/datasets/13`. Then the status should be good/clean.

[2015-01-08 18:55] posixeleni opened #1305 "Metadata Updates for beta 11 push"
With the beta 11 push I need to put in some metadata updates which will require:

1) Schema.xml update
2) DB Drop. Note: When we push the changes to demo we will have to recreate the dropped dataverses, and datasets using @ekraffmiller DDI XML import file.

For the schema.xml updated @pdurbin please review the changes and let me know if you have any questions/concerns:

**Citation Metadata Block**

[2015-01-08 19:06] mheppler commented on #338
Added static download button, and multiple select checkboxes to the files table on the Dataset page to be wired up.

Sending to @landreev to wire.

[2015-01-08 19:19] posixeleni commented on #1305
@pdurbin to avoid messing up other peoples code I checked this into a new metadata-beta11 branch. please let me know if i can help with anything.

[2015-01-08 19:40] scolapasta commented on #1285
Completed. Just needs some Ui cleanup. Passing to @mheppler

[2015-01-08 19:50] landreev commented on #951
This is done. In a quick-and-dirty way. I.e., I have removed the schema location url completely; as described in my response to RT 186910, above. A cleaner way of doing it would be to provide the schema locally. So this means, no validation of the xml... but, for the purposes of jhove, since we never need to modify the file during normal operations, it should be entirely ok.

[2015-01-08 19:51] landreev commented on #951
(also, note that in the text above that Kevin copy-and-pasted from the RT ticket, the text inside angle brackets was lost; it should be read "replace the <jhoveConfig ...> tag with simply <jhoveConfig >"  - let's see if it gets chopped off again...)

[2015-01-08 19:53] landreev commented on #951
Yep. Screw you, github.
how about now:

So please replace the &lt;jhoveConfig ...&gt; tag with simply &lt;jhoveConfig&gt;.

[2015-01-08 21:28] scolapasta commented on #804
I was not able to reproduce - however I did notice that the link was an h:commandLink so maybe it used to be a p:commandLink that had no update?

Anyway, I changed it to p:commandLink so that it just does a partial submit and added an update attribute and seems to work as expected.

[2015-01-08 22:07] landreev commented on #1179
Should be working now.

[2015-01-08 22:45] scolapasta commented on #506
@michbarsinai So I don't think we need this under the secure API since the destroy command is already protected by a superuser check (only for released; for not released, it will just delete, assuming you have that perm).

So I added it to the datasets API with this path:
Path("{id}/destroy")

What do you think? So a user could try to delete with just id, but if released, then (assuming superuser)

[2015-01-09 04:12] landreev commented on #1143
@raprasad ,
I've added code for showing thumbnails for worldmap files on the dataset page; if the .img file is available.
Could you please test it, with an actual map file and the worldmap app?
If it is working, please give me the ticket back - and I'll quickly wire it up to show thumbnails in the search cards as well.

[2015-01-09 15:29] esotiri opened #1306 "Dataverse contact email uniqueness"
Opening this per @scolapasta comment on https://github.com/IQSS/dataverse/issues/1251

[2015-01-09 15:30] esotiri commented on #1251
per @scolapasta opened https://github.com/IQSS/dataverse/issues/1306

[2015-01-09 15:30] #1251 closed

[2015-01-09 17:17] scolapasta commented on #805
@posixeleni access fields have been added, so this should be able to be mapped. Can you figure out which one then pass to phil?

[2015-01-09 17:24] posixeleni commented on #805
@sekmiller I don't know how the field names are stored in the DB (since they are not in my tsv) but @pdurbin they should map from DC Terms as follows:

dcterms:rights --> This would map to the general Terms of Use field but need to get this information from the db
dcterms:license --> If the license = "CC0" then this would map to the License field but need to get this. Otherwise the license would b

[2015-01-09 17:43] scolapasta commented on #1242
@esotiri can you retest?

[2015-01-09 17:54] esotiri commented on #1206
"select at least one user/group added.

[2015-01-09 17:54] #1206 closed

[2015-01-09 18:02] esotiri commented on #229
solr down > add dataset > verified:
``
{
  "status": "OK",
  "data": {
    "contentInDatabaseButStaleInOrMissingFromIndex": {
      "dataverses": [],
      "datasets": [
        12
      ]
    },
    "contentInIndexButNotDatabase": {
      "dataverses": [],
      "datasets": []
    },
    "permissionsInDatabaseButMissingFromSolr": {
      "dvobjects": [
        12
      ]
    },
    "permissionsIn

[2015-01-09 18:09] esotiri opened #1307 "API Dataset : Create dataset via native API not working anymore"
Until yesterday noon time, I used to be able to do the following:
1.  Get json

``
curl -X GET http://$host/api/datasets/11?key=$token
``
2. create dataset via api using the json (format, remove the OK header part)

``
curl -H "Content-type:application/json" -X POST -d @dset2015.json https://$host/api/dvs/test2015/datasets/?key=$token
``
3. update metadata

``
curl -H "Content-type:application/jso

[2015-01-09 18:41] sekmiller commented on #805
The fields are on the datasetVersion table.
The general terms of use field is called termsofuse.
The license field is called license.

On Jan 9, 2015, at 12:24 PM, Eleni Castro <notifications@github.com<mailto:notifications@github.com>> wrote:

@sekmiller<https://github.com/sekmiller> I don't know how the field names are stored in the DB (since they are not in my tsv) but @pdurbin<https://github.c

[2015-01-09 18:52] scolapasta opened #1308 "Deaccession latest published version prevents further edits, deaccession or create draft"
When a dataset is deaccessioned, I no longer could edit (so as to create a new version).

[2015-01-09 18:53] sekmiller opened #1309 "Deaccessioned Dataset: Suppress License and Terms Tab"
When a dataset version is deaccessioned we hide the metadata and files tab.  We need to do the same for the License and terms tab

[2015-01-09 20:10] scolapasta commented on #741
Also, the logic was displaying info from the latest version, regardless of whether it was published or not.

So fixed all this. Now goes only published (and not deaccessioned) datasets and info from the latest published version.

[2015-01-09 20:45] scolapasta commented on #816
Closing this issue as the loginpage itslef is ok - general concept is still relevant to overall performance as tracked in #181

[2015-01-09 20:45] #816 closed

[2015-01-09 21:12] mheppler commented on #1228
(Sorry for the erroneous ref in my last commit.)

[2015-01-09 21:13] mheppler commented on #1222
Added the TwoRavens code into a new Download Data Subset popup linked from the files Download dropdown button. [ref 75ff1573463f2ed877a10c8344da6c0030a5f022]

Passing to Leonid to make the hostname dynamic, rather than the hard coded 'localhost'. The 'Download' button is also displaying the URL in an alert. I am hoping Leonid will know what to do with that as well.

Let me know if you need anythin

[2015-01-09 21:24] esotiri opened #1310 "Download button issues"
1. Download button shows:
0 files in the dataset - should not show
1 files in the dataset - should not show
more than 1 files - this is ok

2. Download button does nothing (no download action)
when files are selected > download selected is grayed out
when files are not selected > all files from this dataset is not grayed out but no action

This behavior is consistent when dataset is published or n

[2015-01-09 21:28] pdurbin commented on #807
The Dataverse object should be examined as well. The database currently allows "alias" to be null, for example.

[2015-01-09 21:56] eaquigley commented on #507
@scolapasta Shouldn't we treat this text field the same way we do for Dataverse Alias and Username which was have a standard of 60 (I think) characters?

[2015-01-09 21:57] scolapasta commented on #1310
Assigning to @mheppler for rendering rules.

[2015-01-09 22:00] mheppler commented on #1222
Fixed the renders on the Download Data Subset popup so that file upload will work.

Fixed Download button in the Download Data Subset popup.

[2015-01-09 22:09] mheppler commented on #1310
This functionality is not yet done being done developed.

Leonid still owns this ticket -- Add download-multiple-files-as-one-zip-archive, similar to 3.6.* #338.

See my comment, "Added static download button..."

[2015-01-09 22:19] sekmiller commented on #1259
Null pointer has been fixed and validation errors will display at the appropriate field. Testing this fix requires a new build after 5:15 on 01/09.

[2015-01-09 22:19] sekmiller commented on #1234
Fix for this has been checked in

[2015-01-09 22:21] sekmiller commented on #1309
Fix for this has been checked in.  To test add a dataset, publish, then deaccession.  You should no longer see the license tab...

[2015-01-09 22:36] mheppler opened #1311 "Validation Errors - Metadata Required Fields Break File Upload"
File upload fails silently in a preexisting dataset, in a dataverse that I had recently changed the general information on to now include the GSD metadata block, which has required fields.
[code]

[2015-01-12 05:07] landreev commented on #959
(this should be considered part of #1268, UNF documentation).
This has been done. The v6 technical document should be considered finalized. The document has been moved from the old thedata.org site into the embedded dataverse documentation - in doc/sphinx-guides/source/developers/unf/unf-v6.rst.

[2015-01-12 05:10] landreev commented on #1268
I've completed #959 - the finalized new UNF v6 technical writeup.
Just need to rewrite the top-level paragraph in doc/sphinx-guides/source/developers/unf/index.rst .
It still has some awful language in it. ("UNF version 5 is implemented and uses Java code")

[2015-01-12 13:35] pdurbin commented on #1308
This seems like a duplicate of #1267.

[2015-01-12 13:58] pdurbin opened #1312 "API: Overflowing int or long yields HTML, not JSON, and wrong status code"
Long.MAX_VALUE is 9223372036854775807 and if you add 1 to it on the datasets API, you get an HTML response rather than JSON:

`curl http://localhost:8080/api/datasets/9223372036854775808`

Similarly, Integer.MAX_VALUE is 2147483647 and if you add one you get HTML rather than JSON:

`curl "http://localhost:8080/api/search?q=*&per_page=2147483648"`

The expected response instead for the Search API i

[2015-01-12 15:21] eaquigley commented on #844
Assigning this to @scolapasta due to #845 being assigned to him.

[2015-01-12 15:31] mheppler commented on #1222
Also, it didn't look like the download URL was getting just the selected variables into the file. It looked like what I was downloading was the entire file. (See attached.)

![screen shot 2015-01-12 at 10 30 44 am](https://cloud.githubusercontent.com/assets/687227/5705277/1b52b354-9a46-11e4-969b-f546418a9b85.png)

[2015-01-12 15:35] eaquigley commented on #507
Passing this ticket to QA to close and am moving the last few comments to a new ticket as they deal specifically with Dataverse Role description limit NOT dataset description as this ticket was originally about.

[2015-01-12 15:37] eaquigley opened #1313 "Permissions: Dataverse Role Description Character Count"
In #507, @mheppler said, "Removed all character count code from the dataverse description workflow.

Found that there is also a 1000 character limit on the descriptions for roles. I removed all references to those, but then I was not able to create a new role when I had a description over 1000 characters. I replaced all the code, and could create a role using only 10 characters. Passing to @scolap

[2015-01-12 15:46] eaquigley commented on #661
Assigning to @sekmiller to take a look at if he has a chance.

[2015-01-12 15:50] eaquigley commented on #528
@landreev I just came across this ticket again and was wondering if there is a way to check the timestamps for files as @pdurbin suggests in the comment above.

[2015-01-12 15:58] eaquigley commented on #207
@posixeleni regarding your comment on 11/13/14 about modifying the tsv file for this. Wanted to confirm if that has been done. Thanks!

[2015-01-12 16:02] posixeleni commented on #207
RE: my comment on https://github.com/IQSS/dataverse/issues/207#issuecomment-62941598 yes this has been implemented in Dataverse 4.0 demo with the Beta 10 release. However, this is not complete since in 3.6 we can display the logo rather than just the URL of the logo.

[2015-01-12 16:11] posixeleni commented on #207
P.S. just noticed a typo in the watermarks for both Distributor and Producer Logo URL... put in a fix in the .tsv for this https://github.com/IQSS/dataverse/commit/bb07f2fea58dec22888f518f3bf7c92fd794660d

[2015-01-12 17:00] pdurbin opened #1314 "Clean up Solr field names and attributes"
Before we ship Dataverse 4.0 we need to clean up the Solr field names and attributes that are *not* driven by dataset fields from the database.

We'll make them look nicer by removing "_en", "_s", and other dynamic field suffixes. For example, "dvName_en" will become just "dvName".

We'll also want to make sure the fields are that are for internal use (such as "entityid") are indexed=false so they

[2015-01-12 17:02] landreev commented on #1222
OK, just pushed in a fix for the issue above (it was simply "vars=" instead of "variables=" in the subset
parameter in the javascript).

[2015-01-12 17:02] landreev commented on #1222
Will add a fix for the hostname shortly.

[2015-01-12 17:21] mheppler commented on #1271
Additional info text is also needed for the following fields.

For spss-savEncoding:

[ ] {INFO TEXT NEEDED}

For variable labels text file:

[ ] {INFO TEXT NEEDED}

[2015-01-12 17:27] sekmiller commented on #1224
giving a global id url that does not parse will put user in 404 page - Dataset not found.

[2015-01-12 17:41] raprasad commented on #1143
Switching back.  Works for logged in user.
Let me know when it works for guest and will retest.

\cc @landreev

[2015-01-12 18:12] mheppler opened #1315 "Image File - Download Button Missing Text"
After the bundling of text from the app, the "Download" buttons for image files on the dataset page is missing the text, and is only the icon.

[2015-01-12 18:15] mheppler commented on #1315
Added "Download" text from bundle back to button for image files on the dataset page.

[2015-01-12 18:16] mheppler commented on #1271
Added info help text to the Advanced Options popup on the Upload + Edit Files page for the two options that I had. Need the help info text for the remaining two.

[2015-01-12 18:16] pdurbin commented on #784
@sekmiller and @scolapasta as we discussed today, it would still be a wonderful thing if we had an efficient method. See also `getDataversesUserHasPermissionOn` at https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/PermissionServiceBean.java which is horribly inefficient and doesn't check permissionRoot.

Because we lack this method I have documented "inefficiency

[2015-01-12 18:27] esotiri commented on #229
In the future It would be desirable to have solr detect the object that was not indexed and index it.

issue resolved

[2015-01-12 18:27] #229 closed

[2015-01-12 19:32] esotiri opened #1316 "Dataset Destroy: Index all needed for destroyed published dataset"
After running destroy command on a published dataset, the dataset cart is still visible, until running index all.

[2015-01-12 19:37] kcondon commented on #1280
OK, works now. Closing

[2015-01-12 19:37] #1280 closed

[2015-01-12 19:55] esotiri opened #1317 "Edit Dataset Metadata Fields: Clicking on the plus button breaks the page"
Trying to add author  or using + on any of the compound or simple fields break the page, save/cancel do not work.
There is no error on the log

[2015-01-12 20:07] kcondon commented on #1228
This was tested for beta 10, closing.

[2015-01-12 20:07] #1228 closed

[2015-01-12 20:08] eaquigley opened #1318 "Files: Edit File Categories Help Text"
Need help text for the Edit File Categories pop up:

Select existing categories or create new categories to describe your files. Creating a new category will add it as a category option for all files in this dataset. Each file can have more than one category.

[2015-01-12 20:14] scolapasta commented on #788
For some reason the var attribute of c:foreach can not be used for #s greater than 127. Instead we can use varStatus.index:

See: http://stackoverflow.com/questions/6568983/jsf-core-tag-cforeach-value-overflow-while-iterate

[2015-01-12 20:15] kcondon commented on #1204
OK, tested 4 radio button options and works as described. Closing

[2015-01-12 20:15] #1204 closed

[2015-01-12 20:37] scolapasta commented on #1313
OK, I made this a regular text input. I think it should be larger than the name and identifier fields, so I used size="100", but am passing to Mike so he can make it look better.

[2015-01-12 21:26] eaquigley opened #1319 "Metadata Fields: Revisit Display of Compound Fields"
From General UI Doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

@mcrosas comment: Revisit display of metadata fields that have subfields (such as author). My suggestion is to not display the name of the subfields (Name, Affiliation, etc) because they become obvious when the value is displayed and it would make the display more concise.

@mheppler comment:

[2015-01-12 21:27] eaquigley opened #1320 "Metadata Fields: Support HTML Tags"
From General UI Doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

@mcrosas comment: Some (or all) metadata field values need to support a few basic  html tags (for links, breaks, bold, italic)

@mheppler comment: This goes all the way back to our initial 4.0 UI brainstorming sessions, where we wanted OpenScholar-WYSIWYG type input fields with common styling

[2015-01-12 21:28] eaquigley opened #1321 "Root Breadcrumb: Remove this from homepage"
From General UI Doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

@mcrosas comment: Do we need to display the breadcrumb in the root Dataverse? Looks a bit awkward.

@mheppler comment: Seems simple enough to remove. Why not?

[2015-01-12 21:31] eaquigley opened #1322 "Featured Dataverses: Boxes need to be same size"
From General UI Doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

@mcrosas comment: Boxes for each dataverse in carousel should have same size.

[2015-01-12 21:32] scolapasta commented on #1313
Also added validation to limit to 255 characters.

[2015-01-12 21:32] eaquigley opened #1323 "Citation: DOI should be a working link"
From General UI doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

[2015-01-12 21:34] eaquigley opened #1324 "Data Citation: Download Data Citation Button move into Data Citation Block"
From General UI doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

[2015-01-12 21:35] eaquigley opened #1325 "Button Groups: Consistency Needed"
From General UI doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

- [x] Consistent spacing, margins, background colors to button groups on all pages and forms.
- [x] Some “action item” buttons in confirmation pop ups are green and some aren’t. Need consistency with this.
- [x] For "plus" and "minus" buttons, remove "Record" from the tooltip.

[2015-01-12 21:36] eaquigley opened #1326 "Contact Buttons: Change to only be the email icon"
From General UI doc: https://docs.google.com/document/d/1VXac5Eqx1LDVWvMogf4EYVfxv-9gIavgAnL4x_esiTI/edit

[2015-01-12 21:38] eaquigley opened #1327 "Contact Forms: Add Captcha to Prevent Spam"
Due to the amount of spam coming in through the Feedback Contact Form on dataverse 4.0, we need to implement a captcha to prevent this from happening when 4.0 goes public.

[2015-01-12 21:45] esotiri commented on #814
issue is resolved

[2015-01-12 21:45] #814 closed

[2015-01-12 21:48] pdurbin opened #1328 "Search API: improve documentation"
@eaquigley you asked me to create a ticket for you to improve the Search API documentation by adding links, etc. This is that ticket. :)

I just did a build so http://guides.dataverse.org/en/latest/api/search.html is current.

[2015-01-12 21:49] esotiri commented on #1177
creating a dataset is much faster 3 sec on my mac.

[2015-01-12 21:49] #1177 closed

[2015-01-12 21:52] esotiri commented on #804
can't reproduce it either, closing for now and keep an eye on it.

[2015-01-12 21:52] #804 closed

[2015-01-12 22:04] esotiri commented on #1259
tested for citation and gsd; no exception and warning are displayed next to each required field.

[2015-01-12 22:04] #1259 closed

[2015-01-12 23:06] mheppler commented on #1285
Cleaned up manage view of Permissions page, including button location, help text, button/popup title text, etc.

[2015-01-12 23:07] mheppler commented on #1194
Fixed googly eyed radio buttons.

[2015-01-13 07:54] michbarsinai commented on #506
Makes sense.

[2015-01-13 09:17] bencomp commented on #947
Is there any way to "import" public controlled vocabularies? I was thinking of creating a GitHub repository containing CVs for various lists of terms or using a publicly available vocabulary (e.g. the [SKOS version of DDC](http://dewey.info)), but if that means every update also needs manually editing the corresponding CV in Dataverse it makes no sense to keep them separate.

[2015-01-13 09:22] posixeleni commented on #1012
Got a revised response from PLOS when they asked me to clarify the two options further: (prefer option 1 but either works)

[2015-01-13 13:10] pdurbin commented on #1151
In discussing this issue we really, really need to stop conflating userIdentifier with username. They are very different things. It only confuses things.

**A username is a string that's probably no more than a dozen characters long that you can imagine telling someone over the phone.** ("On Twitter, I'm 'philipdurbin' but on GitHub I'm 'pdurbin'.") **Every authenticated user should have a usernam

[2015-01-13 13:58] michbarsinai opened #1329 "Have PUT admin/settings/$name/$content accept data via request body"
More HTTP-like, rather than putting it in the url.

[2015-01-13 14:08] michbarsinai commented on #930
Entire readme.md doc updated.

[2015-01-13 14:55] kcondon commented on #1004
OK this works, prevents duplicate alias with error:

{"status":"ERROR","message":"Creating Dataverse: Bad Request (A dataverse with alias kctest already exists)"}

Closing

[2015-01-13 14:55] #1004 closed

[2015-01-13 15:03] kcondon commented on #25
OK, basic permissions were delivered with the exception of groups and file level permissions. There are separate tickets for groups and I know file perms are being worked on but @scolapasta is there a ticket for file permissions?

Closing this.

[2015-01-13 15:03] #25 closed

[2015-01-13 15:26] raprasad commented on #920
Phil, am running this now with just many dataverses (but not many datasets), to see if the same bug occurs.

\cc @pdurbin

[2015-01-13 15:31] eaquigley commented on #1328
@pdurbin the linking is in and I can verify it working once you kick off a build!

[2015-01-13 15:31] pdurbin commented on #69
@kcondon I believe I've addressed almost all the concerns with the Search API from the meeting yesterday with you, @scolapasta and @eaquigley so I'm passing this to QA.

As we discussed, we need to QA the documentation as well, so please use http://guides.dataverse.org/en/latest/api/search.html for all the information you should need on using the Search API.

If you find any problems with how the

[2015-01-13 15:47] mheppler opened #1330 "Optimize Bootstrap + jQuery Libraries"
There seems to be an excessive amount of Bootstrap files in the project code, including over 30 copies of bootstrap.min.css, largely attributed to the documentation themes from Sphinx. (See attached.)

![screen shot 2015-01-13 at 10 43 57 am](https://cloud.githubusercontent.com/assets/687227/5723353/82cc7d0a-9b11-11e4-93f2-0281e2903088.png)

[2015-01-13 15:51] pdurbin commented on #1150
I'm just adding #1147 with a hash so this issue links to that one. Also, if we need Michael's input, let's mention him with @michbarsinai

[2015-01-13 16:02] kcondon commented on #69
Thanks, I'll test it as I test all features and use the doc as functional requirements.

________________________________
From: Philip Durbin [notifications@github.com]
Sent: Tuesday, January 13, 2015 10:32 AM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] RESTful Search API (#69)

@kcondon<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_kcondon&d=AwMCaQ&c=WO-RGvefib

[2015-01-13 16:16] pdurbin commented on #920
@raprasad just walked me through https://github.com/IQSS/dv-api-test/blob/master/scripts/make_dataverses.py and https://github.com/IQSS/dv-api-test/blob/master/scripts/dataset_maker_books.py . Great stuff.

[2015-01-13 16:24] eaquigley commented on #22
@kcondon here are the CC-0 and Terms of Use requirements from conversations with the Berkman Center:
- [ ] CC-0 can be used with restricted files
- [ ] CC-0 cannot be used with Terms of Use
- [ ] If a user has inputted Terms of Use, then the CC-0 license should be negated (if already selected)
- [ ] CC-0 only relates to the way the data is used after downloading not access to download

Let me know

[2015-01-13 16:30] mheppler commented on #114
Added an icon only button for the Linked Dataverse workflow as a placeholder, in the same button group as the Email Contact button.

[2015-01-13 16:30] mheppler commented on #113
Added an icon only button for the Linked Dataset workflow as a placeholder, in the same button group as the Email Contact button.

[2015-01-13 16:31] mheppler commented on #1326
Switched Email Contact buttons on datasets and dataverses to just an icon.

[2015-01-13 16:32] mheppler commented on #1324
Moved Download Citation button into citation block and bumped it down in size.

[2015-01-13 16:35] eaquigley commented on #930
@michbarsinai Can you please move this into API guides? Link to see guides: http://guides.dataverse.org/en/latest/api/index.html Link to add guides: https://github.com/IQSS/dataverse/tree/master/doc/sphinx-guides/source/api

[2015-01-13 16:36] kcondon commented on #22
Not able to save anything/ additional info, CC0, selecting no to CC0 does not open TOU edit box. Passing back.

[2015-01-13 16:40] mheppler commented on #1321
I think I remember why this is still there on the page -- there is supposed to be a dropdown that displays a tree hierarchical structure of the Root Dataverse. If you browse only using the cards on the dataverse page, you see EVERY dataverse, whether it's a direct child or great-great-great-grandchild. The dropdown was the only place to easily see direct children.

Is that dynamic hierarchical tre

[2015-01-13 16:44] kcondon commented on #21
This is effectively a dupe of the other TOU ticket, closing.

[2015-01-13 16:44] #21 closed

[2015-01-13 17:04] eaquigley commented on #1328
Linking worked. Passing to QA to verify that per_page, start, show_relevance, show_facets, and fq have links to the appropriate sections in the example part.

[2015-01-13 17:05] mheppler commented on #1320
I am not sure that I can wire up these PrimeFaces Editor widgets into the metadata input fields.

http://www.primefaces.org/showcase/ui/input/editor.xhtml

I am passing this to @scolapasta to review. If he feels that this is simple enough for me to tackle, with a little direction, I am all for it.

[2015-01-13 17:10] pdurbin opened #1331 "Permissions: Can't download a file anonymously from published dataset where file permissions were not touched"
As I mentioned to @eaquigley @kcondon and @landreev I just did the following on dvn-build:

- sign up
- create dataverse (in root)
- publish newly created dataverse
- create dataset (in newly created dataverse)
- upload file (no attempts were made to restrict the file)
- publish dataset
- log out
- try to download file

To my surprise, when I then browse to [that dataset](https://dvn-build.hmdc.ha

[2015-01-13 17:13] scolapasta commented on #1331
If a file is not restricted and and in a published dataset, permissions should not be checked.

@landreev can you take a look at the api?

[2015-01-13 17:15] eaquigley commented on #1321
@scolapasta and I discussed the dynamic breadcrumbs functionality and decided that will be done during the 4.01 milestone. #182 is the ticket where this is being tracked.

[2015-01-13 17:22] mheppler commented on #1321
@eaquigley @scolapasta

Does that mean we can leave this there for when that functionality returns and close this ticket?

[2015-01-13 17:29] eaquigley commented on #1321
@mheppler I'd say its fine to go ahead and pass it to QA to close.

[2015-01-13 17:33] mheppler commented on #1321
Thank you, @eaquigley.

Closing since the dynamic functionality associated with that lone breadcrumb on the root will be returned post-4.0.

[2015-01-13 17:35] mheppler commented on #1313
Cleaned up sizing of the description text input field on the Add/Edit Role popup.

[2015-01-13 17:38] mheppler commented on #1054
I think this was closed after a check in #5e4b2b66c9ef00aae27a574a0a329f12f6ae2127 and it wasn't sent to QA. Sorry.

[2015-01-13 17:49] mheppler commented on #241
Related to #1320.

[2015-01-13 17:50] mheppler commented on #1320
Related to #241 #610.

[2015-01-13 17:54] eaquigley commented on #303
While in the Edit Categories pop up, if you enter in a category, then hit Enter, the pop up closes and it freezes the entire page. A user cannot click on any of the buttons on the Upload + Edit Files page.

@landreev @mheppler

[2015-01-13 17:57] pdurbin opened #1332 "Search: strip HTML tags while indexing"
#1320 is a high level ticket about supporting HTML. This ticket is about stripping out those HTML tag while we are indexing fields into Solr.

[2015-01-13 18:37] landreev commented on #1331
@gdurand,
per our conversation, I'm bouncing it back to you, for now;
this is the perm service call that the access API is making:

permissionService.on(df).has(Permission.DownloadFile)

(the user is not explicitly supplied here; on(DataFile) will extract the user from the session; and assume guest access if it's null).

For API token auth, I get the user from the token, then call
permissionServic

[2015-01-13 18:44] landreev commented on #1016
STRLs should be working now.
I haven't tested it with anything approaching 2GB strings that can, in theory, be packed into a STRL.
I'm actually guessing it'll barf. (I make a Java String out of the contents of the object; and in some cases cache it in memory...). Should be working on reasonable strings though.

A simple example can be found on dvn-build, in /usr/local/dvn-admin/data/auto_strls.dta

[2015-01-13 18:56] kcondon commented on #974
OK this fails properly now, shows message:
{"status":"ERROR","message":"Error parsing initialVersion: Exception while parsing field of type: contributor"}

Tried with another compound field, same behavior.

Closing.

[2015-01-13 18:56] #974 closed

[2015-01-13 18:57] kcondon commented on #803
This does not seem relevant to v4.0 but we will keep an eye on it during migration.

Closing

[2015-01-13 18:57] #803 closed

[2015-01-13 19:14] kcondon commented on #1290
OK, did basic testing of themes and still work, closing

[2015-01-13 19:14] #1290 closed

[2015-01-13 19:15] kcondon commented on #918
Nothing to do here, closing

[2015-01-13 19:15] #918 closed

[2015-01-13 19:18] eaquigley opened #1334 "Invite User: Invite a user to be a contributor"
feature where if a researcher can't find someone on Dataverse that they could invite (email) people to sign-up for an account + contribute to a dataset/dataverse

[2015-01-13 19:20] eaquigley opened #1335 "Search API: Data File Citation"
Add into the Search API a way to retrieve the Data File Citation

Currently, the data file citation is in two formats RIS Format and XML Endnote however the API needs them to be JSON in order to return them as information for a data file.

[2015-01-13 19:30] kcondon commented on #1269
OK, tested success 2-6 and error 2, passing back for remainder. @eaquigley msg says dataverse is now public rather than dataverse has been published, ok? Also, perms msgs make sense but not so generic as listed above. ok?

[2015-01-13 19:35] scolapasta commented on #690
For 4.0, we will replace where the name is missing with [Dataverse deleted] or [Dataset deleted].

Going forward, we may want to revisit how these notifications are stored - should we store the name at the time the notification was created so we can reference that in perpetuity (until notification is deleted).

[2015-01-13 19:36] scolapasta opened #1336 "Revisit notifications"
In 4.0, we have a notification type and store a reference to the relevant object. However, if that object changes (or is deleted) the notfication itself will change. We have discussed changing this so the notification is what it is at the time it is created and does not change.

[2015-01-13 19:43] kcondon commented on #1233
OK, pick list groups work, closing

[2015-01-13 19:43] #1233 closed

[2015-01-13 19:48] kcondon commented on #988
OK works, closing

[2015-01-13 19:48] #988 closed

[2015-01-13 19:51] kcondon commented on #1218
OK looks good, closing

[2015-01-13 19:51] #1218 closed

[2015-01-13 19:54] eaquigley commented on #1269
@kcondon I would prefer that the message says the dataverse is published not public for consistent terminology sake across the application. For perms msgs, which ones are you talking about? I'm confused.

[2015-01-13 20:03] eaquigley commented on #1012
@posixeleni I like option 1 better myself. Is cleaner and easier to get to. Will pass to @scolapasta to determine which developer can implement this.

[2015-01-13 20:10] kcondon opened #1337 "Dataset: Cannot edit dataset metadata, buttons save, cancel not responsive."
Tested with Chrome, Firefox.
After creating a dataset, cannot edit metadata, the save, cancel buttons do nothing.

[2015-01-13 20:12] kcondon commented on #1269
@eaquigley The permissions for this dataverse have been updated.

[2015-01-13 20:30] landreev commented on #1286
I believe this is an orphan ticket; the hostname in the url above is missing "hmdc".
I recall I pointed that out, and then it was working again. We just forgot to close this ticket.

[2015-01-13 20:38] kcondon commented on #1179
Works now, need to fix local R/Rserv config on build but works when pointed at demo.

Closing

[2015-01-13 20:38] #1179 closed

[2015-01-13 20:42] kcondon commented on #1183
Tested success 1,2 and error 3 above, passing to Liz as requested.

[2015-01-13 20:42] landreev commented on #1271
I have a separate ticket for #831 (Odum-style SPSS .por ingest).
The text currently there, in the "advanced options" menu for SPSS/por files says "Upload text file with variable labels".
I wanted to review this ticket one more time before I move it into QA. I can give it to you first, if you want to try and think of a better way to phrase it.
IMO, it doesn't even need to be super user-friendly. Th

[2015-01-13 20:47] landreev commented on #1271
I already replied to the question about the spss/sav advanced option, outside github;
but adding it here, for reference:

The 4th "advanced option" is for SPSS .sav files.
From #1035:

    2) if the file type is recognized as "application/x-spss-sav", we want to also show a menu for [optionally] selecting a     specific language encoding.

All it needs to say is "select text encoding", or "select

[2015-01-13 21:12] kcondon commented on #959
Updated doc is in the guide and looks good. Closing

[2015-01-13 21:12] #959 closed

[2015-01-13 21:14] kcondon commented on #1315
Button text for images is back, closing

[2015-01-13 21:14] #1315 closed

[2015-01-13 21:16] michbarsinai commented on #1329
setup-all.sh and setup-users.sh updated to support the new method.

[2015-01-13 21:17] kcondon commented on #1224
OK, gets a 404 for first case through UI, gets a 403, forbidden in second, sword case. Also, sword error is in html when maybe should not be? I believe there already an issue for such html/api errors.

Closing

[2015-01-13 21:17] #1224 closed

[2015-01-13 21:20] kcondon commented on #788
OK, does not happen with 150+ pages, closing.

[2015-01-13 21:20] #788 closed

[2015-01-13 21:23] kcondon commented on #1285
OK, looks good, closing

[2015-01-13 21:23] #1285 closed

[2015-01-13 21:23] kcondon commented on #1194
Great! Closing

[2015-01-13 21:23] #1194 closed

[2015-01-13 21:49] kcondon commented on #1326
Buttons are now icons, closing

[2015-01-13 21:49] #1326 closed

[2015-01-13 21:51] kcondon commented on #1324
Button moved, smaller, works, closing.

[2015-01-13 21:51] #1324 closed

[2015-01-13 21:53] kcondon commented on #1321
Closing, bye dynamic breadcrumb.

[2015-01-13 21:53] #1321 closed

[2015-01-13 22:13] kcondon commented on #1032
Do we really need more than one message here? Wouldn't just the invalid username/password one be enough?

Based on the various issues, it might be easier to fix if there is just one.

Issues:
-All applicable messages appear when there is an issue, eg. blank username/password results in 4 messages.
-Spelling issue in original message spec for msg #3: said characters, should be character.
-Invalid m

[2015-01-13 22:23] michbarsinai commented on #930
Moved the doc to Sphinx.

[2015-01-13 23:10] landreev commented on #1268
OK, so I've rewritten the top-level blurb (doc/sphinx-guides/source/developers/unf/index.rst).
So the UNF documentation is complete.
Of course, if anyone has any specific suggestions/improvements, we'll keep improving it.

[2015-01-13 23:18] pdurbin commented on #930
http://guides.dataverse.org/en/latest/api/native-api.html is looking good! As part of #915 however, we should probably drop "native-api" from the URL and split it into the names we agreed to in this spreadsheet: https://docs.google.com/a/harvard.edu/spreadsheets/d/12yN3otyqXPQ4uM_iYife7xSwr1PdtoZzazanDgBDqCI/edit?usp=sharing

As part of this, we decided to have "sword" in the URL rather than "data

[2015-01-13 23:24] pdurbin commented on #1330
As @mheppler and @cchoirat and I discussed, a good first step would be to install the Sphinx bootstrap files on to the server we use to build the Dataverse docs (which isn't a server we have direct control over). Then we can remove the files from the repo.

[2015-01-14 14:30] pdurbin commented on #1305
@posixeleni I just merged your commits as well as a commit containing a new Solr schema.xml (which everyone should update to) with master.

Passing to QA.

[2015-01-14 14:45] eaquigley commented on #1337
This is also happening with all the other tabs on the dataset page. Passing to @sekmiller to take a look at.

[2015-01-14 14:48] raprasad opened #1338 "Search box: Clicking "Find" on blank search box adds "null" to search box"
Related #1212

- Went to home page
- Clicked "Find" *without** entering any search terms
- The page searched on the string "null"
- A "null" was added to the search box--see screenshot

![root_dataverse_and_dataset_maker_books_py](https://cloud.githubusercontent.com/assets/1036060/5740522/3eeb6e54-9bd2-11e4-9a2d-c90dce19cc29.png)

/cc @kcondon @pdurbin

[2015-01-14 15:27] mheppler commented on #1338
Looking at how Google.com (if you haven't heard of it, I suggest you check it out! -- https://www.google.com/) handles empty fields on clicks and returns, and nothing happens.

Since I've worked on some javascript for these search fields, maybe this is something I can easily fix. In addition to the main search box on the dataverse page, there is also the search field in the navbar, and the search

[2015-01-14 15:59] michbarsinai commented on #773
Trying to reproduce this, I can't publish a dataset:

[code]

[2015-01-14 16:25] michbarsinai commented on #773
`PUT` on a draft version, ends up with an optimistic lock exception on the dataset. @pdurbin, I see you've added comment in DvObjectServiceBean line 58 about this. Any progress on that?

Stack trace below:
[code]

[2015-01-14 17:33] mheppler commented on #1319
Related to #656 -- maybe even a duplicate.

[2015-01-14 17:33] mheppler commented on #656
Related to #1319 -- maybe even a duplicate.

[2015-01-14 17:34] kcondon opened #1339 "Spike: Revisit the issue of adding rate limiting logic to the application, create a list of actionable issues to start the effort."
This ticket is a placeholder for general API rate and access limiting logic to better control the load placed on the service and provide options in case of system instability.

Rate limiting was mentioned during search api testing and github search api uses this concept too:
https://developer.github.com/v3/search/

Limiting access might involve varying degrees of options: general api access on/off

[2015-01-14 18:43] kcondon opened #1340 "Contact Us Form: Two Send Message buttons, one blank and gray"
I noticed there is now a Contact Us popup when you click on dataverse email icon. The form has two send message buttons, one is normal, the other is blank and gray.

[2015-01-14 19:05] mheppler opened #1341 "Dataset File Upload -- Missing Dataset Title Context at Top"
When you click into the Upload + Edit File workflow from an existing dataset, there are no breadcrumbs or other indicators of which dataset you are working on.

[2015-01-14 19:23] mheppler commented on #1340
Fixed display of text within Cancel button on the Email Dataverse Contact.

Nice catch, Kevin.

[2015-01-14 19:37] kcondon commented on #69
Test all functions, public data only, payload contents for each type against cards, boolean operators.

Looks good, closing.

[2015-01-14 19:37] #69 closed

[2015-01-14 19:40] pdurbin opened #1342 "Notifications: user notifications not being generated by API calls"
As far as I can tell, when I interact with the system via API, notifications are not generated. In particular I'm noticing this with creating datasets. If I create a dataset via the API and then log into the web interface, I should see a notification in the corner just like I do when I create a dataset in the GUI.

[2015-01-14 19:47] landreev opened #1343 "Add "select language encoding" for SPSS/sav files, as an "advanced option""
This is another child ticket of #1035.
This option was never in the prod. version of DVN 3.*; was only available as a patch  made for Fudan .

[2015-01-14 19:48] landreev commented on #1343
It's implemented; just needs to be prettified a little.
The expanding menu doesn't fit in the panel; will ask Mike for help.

[2015-01-14 19:51] kcondon commented on #951
OK, jhove.conf has tag updated in source tree. This was tested to work in the real world, so closing.

[2015-01-14 19:51] #951 closed

[2015-01-14 19:52] mheppler commented on #1318
Added help text to the Edit Categories popup from the Upload + Edit Files page, via the bundle.

UI cleanup on this popup will be addressed in another ticket, that I've yet to create for myself.

[2015-01-14 19:56] landreev commented on #1343
Mike, please see if you can fix that issue I just showed you - where the expanding menus don't fit in the panel.

[2015-01-14 19:58] landreev commented on #1343
Once again, this option is for SPSS/sav files.
And it should only appear on ingest; once the file is turned into tabular data, this option is no longer in the "advanced options".
I'll send you a tiny SPSS/sav file by email.

[2015-01-14 19:59] kcondon commented on #507
Was able to enter >10k chars without an issue. Closing

[2015-01-14 19:59] #507 closed

[2015-01-14 20:01] kcondon commented on #1328
Links are good, closing

[2015-01-14 20:01] #1328 closed

[2015-01-14 20:13] kcondon commented on #1313
OK, throws error at 255 but no message:
 Validation Error – Required fields were missed or there was a validation error. Please scroll down to see details.

And there is nothing else

[2015-01-14 20:16] pdurbin commented on #1238
d98eb5e and 5f6c95f contain the changes I made. At first I thought this would just be the search cards but there are a number of places in the system where the database id for a dataset is exposed in the GUI. Here are places I changed:

- dataset card
- file card
- dataset versions tab
- notifications
- redirect URLs

Passing to QA.

[2015-01-14 20:19] kcondon commented on #1054
OK, can see entire page well with new layout. Closing.

[2015-01-14 20:19] #1054 closed

[2015-01-14 20:35] pdurbin commented on #1281
I'm getting "Parsing remote address: ::ffff:65.112.10.85".

@michbarsinai can you please remove `@Ignore` from from the test I added in e6be40b and get it passing?

[2015-01-14 20:49] kcondon opened #1344 "Delete Files: Some weird behavior when deleting files: error, incomplete delete, immortal files."
While testing file upload, discovered some weird delete behavior:
1. In at least one case, deleting a file throws an error in the log, foreign key constraint, but then deletes file:
If a you delete an existing file at the same time you are adding a new one, this happens. Otherwise deleting individually works fine. Update: seems you need to add new, then delete, not vise versa.

Happens with both t

[2015-01-14 20:56] pdurbin commented on #1281
This seems to be an "IPv6 'IPv4 mapped' address" according to http://docs.guava-libraries.googlecode.com/git-history/v18.0/javadoc/com/google/common/net/InetAddresses.html

Could we just use that Guava library to parse addresses for us? Instead of having our own? It's the most upvoted and accepted answer at http://stackoverflow.com/questions/2309049/is-there-an-easy-way-to-convert-string-to-inetad

[2015-01-14 21:00] michbarsinai commented on #1281
We can. I'll have to see how this will work with efficient SQL queries.

[2015-01-14 21:15] scolapasta commented on #1313
Yes, this is already there as part of the  messaging issue: #1187

Can we close this since we have that? (if we need to add this as a needed message up top?)

[2015-01-14 21:55] eaquigley commented on #1313
@scolapasta & @kcondon close away!

[2015-01-14 22:03] kcondon commented on #1220
Now you can, closing

[2015-01-14 22:03] #1220 closed

[2015-01-14 22:07] kcondon commented on #741
Works now, closing

[2015-01-14 22:07] #741 closed

[2015-01-14 22:10] kcondon commented on #1187
One more message needs correcting:
Role description size is limited to 255 but currently throws only this error:
Validation Error – Required fields were missed or there was a validation error. Please scroll down to see details.

And there is nothing else

[2015-01-14 22:10] kcondon commented on #1313
Closing, added comment to other ticket

[2015-01-14 22:10] #1313 closed

[2015-01-14 22:16] kcondon commented on #1016
OK, tested, works, closing

[2015-01-14 22:16] #1016 closed

[2015-01-14 22:17] kcondon commented on #1340
Buttons are better, closing

[2015-01-14 22:17] #1340 closed

[2015-01-14 22:21] kcondon commented on #1286
OK, can run models now. Closing

[2015-01-14 22:21] #1286 closed

[2015-01-14 22:32] eaquigley commented on #837
@kcondon I don't feel strongly about this. I think it makes sense that if something hasn't finished uploading and you click away from this page, nothing is saved. Feel free to close!

[2015-01-14 22:39] eaquigley commented on #207
@scolapasta who should this be assigned to?

[2015-01-14 22:42] kcondon commented on #506
This does not work. As super user, user /destroy and got this error:
{"status":"ERROR","message":"Destroy dataset 2413 unauthorized."}

[2015-01-14 22:44] kcondon commented on #1268
Looks good, closing

[2015-01-14 22:44] #1268 closed

[2015-01-14 22:46] #837 closed

[2015-01-14 22:49] kcondon commented on #1318
Help text added, closing

[2015-01-14 22:49] #1318 closed

[2015-01-14 22:57] kcondon commented on #1238
OK, tested all of the above cases, works, closing

[2015-01-14 22:57] #1238 closed

[2015-01-14 23:00] kcondon commented on #1150
Also, now that we are using global id in the URL to locate datasets, this null issues makes it impossible to get to these datasets with nulls via the UI.

[2015-01-15 00:31] pdurbin commented on #331
Being able to use the Advanced Search page on a particular dataverse subtree has now been implemented. As shown in the [mockups](https://iqssharvard.mybalsamiq.com/projects/advancedsearchperdataverse/grid), the way you enter into Advanced Search is by first navigating to the dataverse in question and then clicking "Advanced Search". You can't switch which dataverse you're searching from the Advanc

[2015-01-15 14:53] pdurbin commented on #1150
I just put in a workaround so that if the doi has the string "null" in it we at least can get to the dataset via its database id: 54cb051

Navigating by globalId rather than database id was introduced in #1238

[2015-01-15 15:11] pdurbin commented on #993
@esotiri as we discussed, we're going to move apitest.dataverse.org to dvn-vm2.hmdc.harvard.edu which was recently kickstarted. To do:

- [ ] install Glassfish 4.1
- [ ] apply Weld patch
- [ ] configure Jenkins job

[2015-01-15 15:21] pdurbin commented on #1330
I've started a (private) Google Doc about this and other concerns I have with our internal build tool (Jenkins) and process: https://docs.google.com/a/harvard.edu/document/d/1Rvkt5ZL7puGmq6Q1prdOgy9S3nNtc28tcb4HnztmbOY/edit?usp=sharing

[2015-01-15 16:18] scolapasta commented on #1242
Sending back to @sekmiller as I think I discovered the issue. The released version is currently viewable by those who have UpdateDataset permission, but should be ViewUnpublishedDataset (while we don't directly have permissions dependancy on each other, in practice, any role with UpdateDataset will have ViewUnpublishedDataset).

[2015-01-15 17:14] pdurbin commented on #1255
There's a separate ticket to move apitest.dataverse.org to be hosted by HMDC: #993

[2015-01-15 18:06] landreev commented on #303
Should be working now, please re-test.
(new build needed, if testing today)

[2015-01-15 18:41] pdurbin commented on #773
@michbarsinai I'd love to work on this but I'm getting a NullPointerException when I try to edit a dataset with JSON...

[code]

... apparently just like the one @esotiri mentioned in https://github.com/IQSS/dataverse/issues/914#issuecomment-69210617 .

I'm thoroughly confused about what JSON I should provide to edit a dataset. Can you please post an example at http://guides.dataverse.org/en/lates

[2015-01-15 18:47] pdurbin commented on #773
And/or add a failing test to https://github.com/IQSS/dataverse-apitester

[2015-01-15 19:20] mheppler commented on #792
Notes from UI meeting with Merce, Gustavo, Liz, Mike:
- Restrict files workflow is part of Upload + Edit Files page, includes dynamic Restrict/Unrestrict Selected Files based on the state of the selected files, as well as "Select All..." dropdown button for selecting: all files, restricted files, or unrestricted files.
- Restricted icons are added to the thumbnail preview.
- File Access button tha

[2015-01-15 19:31] pdurbin commented on #1296
Right, and http://guides.dataverse.org/en/latest/api/sword.html reflects this, saying, '“Subject” is automatically populated with “N/A”' but I'm confused about how this works. Let's say I create a dataset with SWORD and later I go in to the GUI to change the title. I change the title and click "Save Changes" at the top of the page and I get a validation error (which I can't even see until I scroll

[2015-01-15 19:51] mheppler opened #1345 "File Permissions: Granting File Access"
Notes on features and workflow from UI meeting with Merce, Gustavo, Liz, Mike:
- [x] Files Permissions page linked from Edit Dataset and Upload + Edit Files dropdown buttons, consistent panel layout with existing Dataverse and Dataset Permissions pages, displaying a Users/Groups panel and Files panel.
- [x] Users/Groups panel has a table displaying User Name, Files (number of files, link to popup)

[2015-01-15 19:52] mheppler commented on #792
Related to #1345 and .

[2015-01-15 19:52] mheppler commented on #1345
Related to #792 and .

[2015-01-15 20:18] spalan opened #1346 "Dataverse as a SWORD Client"
There are a number of use cases where it would be useful to be able to export data from Dataverse into another repository.  This might be a repository with the mission of aggregating data from a particular discipline or from a geographic area or it might be a repository with an archiving focus. We have a particular use case where we would like researchers to be able to export their data into a pre

[2015-01-15 20:23] spalan opened #1347 "Object Storage for Dataverse"
It is increasingly common to use cloud based object storage as an alternative to local block storage for holding digital objects.  The cost savings of cloud storage are one benefit; the ability to replicate objects in the cloud, using Swift for instance, are another when the goal is long-term archiving and preservation.

Would it be possible to implement in Dataverse the ability to identify differ

[2015-01-15 20:28] sekmiller commented on #1337
I changed the render on the Two Ravens popup
<ui:include src="/subset/gui_subset.xhtml"/> at line 1932 on dataset.xhtml so that it doesn't occur when the page is in any kind of edit mode.

[2015-01-15 20:36] landreev commented on #1222
Should be ready to test now.

[2015-01-15 20:41] mheppler opened #1348 "File Permissions: Requesting File Access"
- [ ] Lock icon displayed with thumbnail for restricted files. (Need to also figure out how this will display when restrictions are changed between versions.)
- [x] Individual "Request Access" buttons
- [ ] "Request Access to Selected Files" button, associated with checkboxes on dataset page.
- [?] Confirmation popup with user name, email, to show it is being sent.
- [?] Email sent with user name,

[2015-01-15 20:42] mheppler commented on #1348
Related to #792 and #1345.

[2015-01-15 20:50] michbarsinai commented on #1281
Implemented support for IPv4 addresses mapped onto IPv6 addresses, such as
::ffff:192.133.24.33.

Unit tests following: `edu.harvard.iq.dataverse.authorization.groups.impl.ipaddress.ip.IpAddressTest`

[2015-01-15 20:53] kcondon commented on #1329
@michbarsinai Can you give me an idea of what this means? I can just close the ticket since setup-all is still working but would be nice to know what changed. Thanks!

[2015-01-15 20:56] kcondon commented on #1337
This is working now, closing

[2015-01-15 20:56] #1337 closed

[2015-01-15 20:58] michbarsinai commented on #1329
A http `PUT` request to a given URL `u`, means "put the request body under `u`". We didn't do this, but rather had a hack that was simpler to write at the time. We used:

`curl -X PUT http://server/api/s/settings/setting_name/setting_content`

Note that that URL contains both the name and the content, and that the request body is empty. Side effects of this is that the content has to be URL-encode

[2015-01-15 21:04] sekmiller commented on #22
Editing should be working now....

[2015-01-15 21:20] michbarsinai commented on #773
Seems like the problem with the .json files is that the dataset version format changed in some breaking way. Maybe we need to add a formatVersion field there?

At any event, this is what I run, from the "api" directory:

[code]

Note that to edit a dataset we're really PUTting a new dataset version as its :draft version. So "edit dataset" might not be the best way putting it. I'll update the docs.

[2015-01-15 21:25] kcondon commented on #1298
OK, fields appear in advanced search and in soc sci facets group. All functionality works. Closing.

[2015-01-15 21:25] #1298 closed

[2015-01-15 21:31] mheppler commented on #1345
Added wireframe for File Permissions page, using Roles + Permissions page, and added some of the title, button text to the bundle.

[2015-01-15 21:38] pdurbin commented on #1281
It works! \o/

[2015-01-15 21:41] kcondon commented on #1281
Phil tested and confirmed it is fixed, closing

[2015-01-15 21:41] #1281 closed

[2015-01-15 22:28] kcondon commented on #1305
@posixeleni @pdurbin  OK, mostly looks good with a few questions/ issues:
-Life Science block says field name Other Organism in ticket, similar to existing Organism field but in app says Other Organisms, OK?
-There is supposed to be a new notes field in the GSD block but it is missing.
-All required fields in GSD block now not required. This was not mentioned, intentional?
-Can search on "yes" but

[2015-01-15 23:59] scolapasta commented on #923
Is this for built in users or also shibboleth? currently, I don't believe we allow users to add any extra info (yes, including usernames) for shibboleth )or other external).

[2015-01-16 00:03] scolapasta commented on #912
Yes, those do seem to be the main issues. Assigning back to @posixeleni unless you need something else from me.

[2015-01-16 00:09] scolapasta commented on #1311
This is tricky, since by adding a block to a dataverse you could make existing datasets "invalid." How do we want to handle this?

[2015-01-16 00:10] scolapasta commented on #1012
Assigning to @sekmiller for the next beta (final?)

[2015-01-16 00:16] scolapasta commented on #207
So to make this work,we need new "types" for url and logo, so we know to generically display them that way. @posixeleni and @sekmiller should coordiante to work on this, with Eleni changing the tsv files, and Steve changing the code to handle this. Might also need some @mheppler work on the UI side.

[2015-01-16 00:24] scolapasta commented on #506
Taked with @kcondon and somehow admin user was not a superuser. So he will retest.

[2015-01-16 00:54] pdurbin commented on #1329
We should make sure http://guides.dataverse.org/en/latest/installation/installation-main.html has been updated.

[2015-01-16 00:59] pdurbin commented on #923
All users should be treated equally.

[2015-01-16 01:01] pdurbin commented on #912
I'd love to see mention of our emerging coding style/standards per #775.

[2015-01-16 14:24] pdurbin commented on #1320
I understand that in DVN 3.x we allowed users to enter HTML into certain fields and there is a migration task to make sure those fields full of HTML are properly migrated over.

However, I question this feature of allowing HTML input at all. It was probably a fine choice when DVN was started many, many years ago but what many sites seem to support these days is not HTML input but rather a lightwei

[2015-01-16 14:36] bencomp commented on #1320
Maybe you don't even need to convert existing HTML to Markdown: http://daringfireball.net/projects/markdown/syntax#html says you can mix and match if you want.

[2015-01-16 15:20] mheppler commented on #207
Related to #1319 and #656, maybe even a duplicate of one or both.

We should find time to meet, and discuss these tickets in more detail. @scolapasta @sekmiller @posixeleni @eaquigley

[2015-01-16 15:23] mheppler commented on #1319
Also related to #207.

[2015-01-16 15:30] kcondon commented on #506
OK, still doesn't work:
{"status":"ERROR","message":"Destroy dataset 31: Bad Request (Cannot delete a released file)"}

Verified deleting an unpublished version works with same command line without /destroy. Did notice command is case-sensitive, so DELETE works, delete fails.

[2015-01-16 17:09] kcondon commented on #22
OK, did basic functional testing of forms and all works but for TOU additional info, citation requirements throws 500 error. Will open separate ticket.

Passing to Mike for UI review/ cleanup.

[2015-01-16 17:11] kcondon opened #1349 "Licensing: Dataset throws 500 error if TOU additional terms, citation requirements is filled in."
If I add a value to the Terms of Use, additional information, citation requirements field, I get a 500 error on save and thereafter a 500 error when click on the dataset:

  Error Rendering View[/dataset.xhtml]
javax.el.PropertyNotFoundException: /dataset.xhtml @963,143 value="#{DatasetPage.workingVersioncitationRequirements}": The class 'edu.harvard.iq.dataverse.DatasetPage' does not have the pro

[2015-01-16 17:39] pdurbin commented on #805
As I've discussed with @sekmiller we can't currently save "custom" to the database. The choices for license are "CC0" and "None". **Should we change "None" to "Custom"?** (This is in code on an enum.) Or should it be "See Terms of Use"? The the GUI the Terms of Use form only appears when click a radio button other than CC0.

**If you don't select CC0, should Terms of Use be required?** Currently,

[2015-01-16 18:37] mheppler commented on #1345
Added File Permissions link to Edit Dataset dropdown menu. b5b81d83c8aedee08d27225a9da795543091f978

[2015-01-16 18:49] posixeleni commented on #912
@scolapasta I cant write the developer documentation so I'm not sure why this is assigned to me? Is there a way we can break these sections up by developers (assign tickets to individual devs for each section that documentation is needed) that are working on them so they can complete these. I am out for the next week so wont be able to look at this till then.

[2015-01-16 18:57] kcondon opened #1350 "Guestbook: Logging information is recorded to db but most is not displayed in GUI."
I created a custom guestbook and basically turned everything on. I was prompted to complete the guestbook on file download. When I checked the Guestbook response in the GUI, there were entries for each download but minimal info: filename and dataset. All the rest of the logging info is stored in the db with the exception of sesson_id.

[2015-01-16 19:05] raprasad commented on #1331
/cc @scolapasta @landreev  (fyi: I have a demo on Thursday. thx)

This also applies to viewing file thumbnails:

The screenshots below are
1. authenticated user (ok thumbnails)
1. guest user (broken thumbnails)

  **Note:** The guest user has broken thumbnails for a published dataset

![bob_dylan_s_115th_dream_-_eat_boutique_dataverse](https://cloud.githubusercontent.com/assets/1036060/5782381/8f9

[2015-01-16 19:10] kcondon commented on #1329
Ok, thanks Michael, closing

[2015-01-16 19:12] kcondon commented on #1263
OK, tou are versioned, closing

[2015-01-16 19:12] #1263 closed

[2015-01-16 19:16] kcondon opened #1351 "Download: When a guestbook is defined but not selected, downloading a file throws exception in server.log"
I defined a guestbook for another dataset but did not select it in the one being tested. I downloaded file from this new dataset without being prompted, as it should, but saw an exception in the server.log:

[2015-01-16T14:14:04.145-0500] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=48 _ThreadName=jk-connector(3)] [timeMillis: 1421435644145] [levelValue

[2015-01-16 19:24] kcondon commented on #1222
OK, tested, works, closing

[2015-01-16 19:24] #1222 closed

[2015-01-16 19:27] kcondon commented on #22
Oh, the more comprehensive, consolidated requirements doc is here:
https://docs.google.com/document/d/1Rg0JTLTeF4seiDdoMDaiWR15WZcH5D7xOtvqTuA0mlI/edit

[2015-01-16 19:32] pdurbin commented on #773
Wow, that JSON works! Thanks! Now the question is how to go from the JSON from **my** dataset to JSON that can be used to overwrite the dataset draft. (Changing just the title or whatever.) That's what I put in a FIXME at https://github.com/IQSS/dataverse/blob/master/scripts/search/tests/edit-dataset-finch1 . From the docs you updated I have an idea of how to get my script working.

Back at the po

[2015-01-16 19:53] kcondon commented on #1329
Creating a separate ticket for documenting the settings api in install guide and updating the examples to reflect this new format.

[2015-01-16 19:57] kcondon opened #1352 "Documentation: Document settings API, remove related command examples from Install Guide."
This ticket is partly in response to a change in how the settings API works, see #1329
Some settings API commands are used at Install time and are documented, with examples, in the Install Guide. These are now out of date based on the changes.

What might make sense is to document the settings API in the API guide using the new format, then update the Install Guide to just list the settings being

[2015-01-16 20:10] kcondon commented on #303
OK, the case I reported is fixed: I can now add categories on dataset create.
The case Liz reported is not really fixed:
When adding a new category, if you hit return instead of clicking save changes, nothing is saved and the page is broken (no buttons work). On looking at firebug output for both scenarios, hitting return, at least using Firefox, throws a browser error and from experience that bre

[2015-01-16 20:19] pdurbin commented on #1329
@michbarsinai I like where this ticket is going in general but I'm confused why the data to pass in is not in JSON format. It's just a string? Seems weird. Can we use JSON instead?

[2015-01-16 20:31] scolapasta commented on #805
We'll need to discuss with @posixeleni when she gets back

[2015-01-16 20:48] kcondon opened #1353 "Metadata: Adv Search and Results cards display description as Description Information Description"
While testing adv search, I noticed the Citation description field displays as Description Information Description when it should probably just say Description.

This also appears in the search results cards for Datasets.

[2015-01-16 20:52] kcondon commented on #331
OK, tested scope, objects, blocks, URL, all works as described. Closing.

[2015-01-16 20:52] #331 closed

[2015-01-16 21:05] pdurbin commented on #22
See also some comments at https://github.com/IQSS/dataverse/issues/805#issuecomment-70290922

[2015-01-16 21:26] kcondon commented on #1309
Tab is not displayed for deaccessioned versions but remains for all others, closing.

[2015-01-16 21:26] #1309 closed

[2015-01-16 22:28] landreev commented on #1343
BTW, functionally, it's working and ready to go into QA, once the menu is fixed.

[2015-01-16 23:09] landreev commented on #831
This is done and should be working...
But maybe before we spend too much testing this, I should get a real-life file from Odum; just to make sure we are testing the right thing.

[2015-01-17 19:35] michbarsinai commented on #1329
Hmmmmmm.... I think not. Here's the reason:
This is a basically a persistent hash map. Give it a key and a value, and it will store it and be able to retrieve it. It does not look into the values it stores, and cannot manipulate them. It is used, so far, for strings that are not even parsed, but used as-is:

[code]

So I don't see the gains in using JSONs. The downsides are that it would make supp

[2015-01-18 21:35] michbarsinai commented on #773
Still no luck - after underlying and creating a clean build, got an NPE in the search permission bean. The API key was valid (when attempting to use an invalid API key the system rejected that call).

Full stack trace was uploaded to here: https://www.dropbox.com/s/vhr2ffkybj0m2bl/stacktrace.txt?dl=0

[2015-01-18 21:45] michbarsinai commented on #925
File dataset-bad-missingInitialVersion fails properly with message:
[code]

[2015-01-19 07:21] michbarsinai commented on #925
Files fixed.

[2015-01-19 15:07] pdurbin commented on #773
@michbarsinai findAuthUser is getting an NPE from roleAssignee.getIdentifier(). This should never be null, right? Please make your your role assignee has an identifier.

[2015-01-20 03:10] landreev commented on #622
Please retest, should be working now.

[2015-01-20 03:15] landreev commented on #303
I disabled return in the popup altogether.

[2015-01-20 03:18] landreev commented on #1144
Please retest this.

[2015-01-20 03:53] landreev commented on #1143
@raprasad ,
These thumbnails should be showing on search cards as well now.

[2015-01-20 04:38] landreev commented on #953
Kevin,
Please note that whatever this ticket was originally opened for seems to have been fixed (and tested?) a while ago.
Phil only gave me this ticket to add a documentation entry for the dataverse.siteUrl JVM option to the install guide; which I did.

[2015-01-20 09:53] michbarsinai commented on #700
Role assignment via API now supported. Permissions granted to IP groups are given to the user as requested.

Now struggling with the UI crashing in the roles page.

[2015-01-20 10:24] michbarsinai commented on #700
Ready for QA.
Notes for testing:
* I'm unsure how permissions granted via groups work with search in the UI, so may be better to test via API initially.
* For IP groups, one can spoof the IP address by adding the "X-Forwarded-For" header. May be easier than creating and removing groups and assignments.

[2015-01-20 15:03] #703 closed

[2015-01-20 15:04] esotiri commented on #1261
issue resolved

[2015-01-20 15:04] #1261 closed

[2015-01-20 15:05] #1279 closed

[2015-01-20 15:06] #1255 closed

[2015-01-20 15:08] esotiri commented on #1234
issue resolved

[2015-01-20 15:08] #1234 closed

[2015-01-20 15:38] mheppler commented on #1343
Fixed a layout issue with the Language Encoding dropdown submenu not displaying entirely.

[2015-01-20 15:42] pdurbin opened #1354 "IP Groups: can no longer create datasets via SWORD"
We can no longer create datasets via SWORD, apparently due to the IP Groups feature being added for #700

Here's an example that worked last week:

curl --insecure --data-binary @scripts/search/tests/data/dataset-trees1.xml -H 'Content-Type: application/atom+xml' -u spruce:spruce https://localhost:8181/dvn/api/data-deposit/v1.1/swordv2/collection/dataverse/spruce

Now we are seeing the NullPointer

[2015-01-20 15:47] pdurbin commented on #799
@esotiri you asked how to test this. I guess I would suggested using https://github.com/IQSS/dataverse/blob/master/scripts/api/data/role-dvContributor.json or some other role as a starting point and changing the JSON to try assign an invalid permission to a dvobject.

[2015-01-20 16:32] scolapasta commented on #386
This is a duplicate of #792 (this one is older, but designs were added to #792, so leaving that one as the open issue)

[2015-01-20 16:43] scolapasta commented on #1243
This is also true for the new "Permissions >" under Edit Dataverse.

[2015-01-20 16:47] scolapasta commented on #746
#1348

[2015-01-20 17:18] pdurbin commented on #1354
@michbarsinai in this case user.getRequestMetadata() is null. I assume you're also ok with returning an empty set here, which is what I just did in this workaround so I can create a dataset via SWORD: 1aa570b

Please advise.

[2015-01-20 18:32] kcondon commented on #915
For reference, Merce's API requirements doc: https://docs.google.com/document/d/1d8sT2GLSavgiAuMTVX8KzTCX0lROEET1edhvHHRDZOs/edit#heading=h.8v21cm94bv4e

[2015-01-20 18:41] kcondon commented on #930
@michbarsinai Thanks for updating, will check it out. One small thing: all commands show http but we are enforcing https, correct?

[2015-01-20 19:56] eaquigley commented on #805
@sekmiller Can you change this from NONE to CUSTOM in the database? @pdurbin and I discussed this and it makes more sense for it to be CUSTOM.

@posixeleni @mcrosas: Currently when a user selects No, do not apply CC-0 they are not required to add in Terms of Use. Do we want that to be a required field that needs to be filled out? It makes sense to me to make a user to provide some information as t

[2015-01-20 20:43] landreev commented on #818
Please retest, appears to be working. Tested with Mandarin, among other things.
![search_accents](https://cloud.githubusercontent.com/assets/737558/5825650/03f443e6-a0bb-11e4-89a4-2a7071b22cf3.png)

[2015-01-20 20:49] kcondon commented on #303
OK, works, closing

[2015-01-20 20:49] #303 closed

[2015-01-20 20:53] landreev commented on #1274
This is a duplicate of #818.
Should be working now - see attached.
![search_accents_2](https://cloud.githubusercontent.com/assets/737558/5825847/664751e0-a0bc-11e4-9507-7283e8fb6e91.png)

[2015-01-20 20:59] landreev commented on #903
Please re-test; should be working properly on all servers now (including datavese-demo; see attached)
![accents_display](https://cloud.githubusercontent.com/assets/737558/5825969/4ccc4b2a-a0bd-11e4-9640-263be5c5eb62.png)

[2015-01-20 21:00] kcondon commented on #622
OK, was able to upload file named: 方彝 and remained after adding another file. Closing.

[2015-01-20 21:06] kcondon commented on #953
OK, documentation added, closing

[2015-01-20 21:06] #953 closed

[2015-01-20 21:09] michbarsinai commented on #930
Dunno. I'm not enforcing it, maybe at some higher level (Apache? Glassfish?) someone does. It's probably a good idea.

[2015-01-20 22:24] michbarsinai commented on #1354
The issue indeed was the missing request metadata. Added these at: 4a9e6f4.
The metadata depends on the request, so I had to set re request on the implementations. If other SWORD beans require the use of commands, this would be the way to go.

Over to @pdurbin for code review, validation that SWORD deposit works etc (on my machine it fails with:

[code]
)

[2015-01-20 22:36] kcondon commented on #1144
OK, can now select/change which thumbnail is used after one is selected.
There is an issue where deleting the file that is the current thumbnail doesn't appear to save and throws an exception in the log. It does delete the file but it is not clear from save that it does so.

Also, the original requirements for file types thumbnail precedence needs to be implemented but I understand that is waiting

[2015-01-20 23:03] kcondon commented on #1274
Tested, used: 方彝, works in both simple and adv search, closing.

[2015-01-20 23:03] #1274 closed

[2015-01-20 23:07] kcondon commented on #903
OK works now, closing

[2015-01-20 23:07] #903 closed

[2015-01-20 23:16] kcondon commented on #818
This works, closing

[2015-01-20 23:16] #818 closed

[2015-01-20 23:17] kcondon commented on #386
Closing as duplicate.

[2015-01-20 23:17] #386 closed

[2015-01-20 23:18] #622 closed

[2015-01-20 23:45] kcondon opened #1355 "Analysis: Assumes user always has a key when in some cases they do not."
When a user has not yet generated a key and accesses analysis, the url passes blank for key, it assumes the user has one and so fails to get data pebbles.

[2015-01-20 23:56] kcondon commented on #1343
OK, tested and this works, closing.

[2015-01-20 23:56] #1343 closed

[2015-01-21 15:53] eaquigley opened #1356 "Dataverse General Information: URL to Identifier & Add in Link example"
For the URL metadata field on the General Information page, the label needs to change to say Identifier. Additionally, an example of the link needs to be put in, i.e.-dataverse.harvard.edu/ with the input box after the /. This way a user knows what the link will look like and gives context to what this field is.

[2015-01-21 16:04] eaquigley opened #1357 "Metadata Fields: Required Asterisks on Compound Fields"
Currently, the required asterisk for a compound field is only appearing on the sub field. It is really easy to overlook this, so I recommend we have a required asterisk on the field on the far left in addition to the one for the actually required field. This way you can tell when looking down the left hand side which ones have required components and which ones don't.
![compundfields](https://clou

[2015-01-21 16:51] esotiri commented on #993
TowRavens setup documentation:
Rapache: https://drive.google.com/drive/u/0/#folders/0B3_V6vFxEcx-RS1OMGg3YUpCVDQ/0By40CG63udC_T2pZTFBIeURtZGc/0By40CG63udC_cGo2ZGNFTFgtcms
TwoRavens: https://drive.google.com/drive/u/0/#folders/0B3_V6vFxEcx-RS1OMGg3YUpCVDQ/0By40CG63udC_T2pZTFBIeURtZGc/0By40CG63udC_cGo2ZGNFTFgtcms

[2015-01-21 17:42] esotiri commented on #1085
I have updated the google doc, verifying the commands of the API guide: https://drive.google.com/drive/u/0/#folders/0B3_V6vFxEcx-RS1OMGg3YUpCVDQ/0By40CG63udC_T2pZTFBIeURtZGc/0By40CG63udC_cGo2ZGNFTFgtcms

[2015-01-21 17:43] esotiri commented on #915
I have updated this google doc, verifying the commands of the API guide: https://drive.google.com/drive/u/0/#folders/0B3_V6vFxEcx-RS1OMGg3YUpCVDQ/0By40CG63udC_T2pZTFBIeURtZGc/0By40CG63udC_cGo2ZGNFTFgtcms

[2015-01-21 18:04] landreev commented on #1310
@eaquigley ,
@scolapasta ,
Do we really want to have the "download all the files in the dataset" option?

[2015-01-21 18:05] ekraffmiller commented on #1307
Changed to JSON test data to match the parsing code - "initialVersion" is changed to "datasetVersion"

[2015-01-21 18:07] ekraffmiller commented on #1150
Added code for reading doiSeparator from Settings if it isn't found in JSON data

[2015-01-21 18:09] ekraffmiller commented on #1147
This has been resolved by using the doiSeparator from the Settings table if it isn't found in the JSON

[2015-01-21 18:12] esotiri commented on #799
Gustavo recommended testing around permissions as a way to test this.

[2015-01-21 18:14] scolapasta commented on #799
To be clear, it is not invalid to have a role with EditDataverse assigned to a Dataset. What is true is that that permission is not relevant to the dataset so is effectively meaningless.

As an example, DownloadFile is only for DataFile. But you can assign the FileDownloader role at a dataset (or dataverse) and that allows that user to download all files.

[2015-01-21 18:26] scolapasta commented on #1345
For Users table, "grant" is specific to having a request, so will be implemented as part of #1348 .

[2015-01-21 18:48] kcondon opened #1358 "Permissions: Editing dataverse access permissions causes page load to throw 500 error."
For any dataverse, if you edit access perms to allow any user to create a dataset/dv, reloading that permissions page results in 500 error.

This is most likely due to a change in the assigeneeidentifier for the internal group of all registered users.

[2015-01-21 19:09] kcondon commented on #700
@michbarsinai I'm getting a foreign key constraint error when attempting to add the sample ip group from ipGroup1.json, see below. I've tried without a key, since that is how it is presented in the doc but that sounds like a bug and with the admin key and get the same error.

Call: INSERT INTO IPV4RANGE &#40;ID, BOTTOMASLONG, TOPASLONG, OWNER_ID&#41; VALUES &#40;?, ?, ?, ?&#41;
	bind =&gt; [4 para

[2015-01-21 19:21] eaquigley commented on #1310
@landreev @scolapasta couldn't this also be accomplished by using the checkbox to select all files in the dataset and then click the download button? if so, i'm not sold on needing a separate "download all the files in the dataset" option?

[2015-01-21 19:23] landreev commented on #1310
@scolapasta @eaquigley  - yeah, that's how we've been doing it in 3.*; a one-click way to select all checkboxes, then download the selection.

[2015-01-21 19:45] eaquigley opened #1359 "Permissions: Confirmation Pop Ups for Removing an Assignment"
When an assigned role is removed or granting access to a file is revoked, there needs to be a pop up confirmation for the user to confirm what they are about to do.

Text for these:

- [x] Remove Assigned Role button is clicked: Are you sure you want to remove this role assignment? (Continue and Cancel buttons below)
- [x] Remove Access button is clicked: Are you sure you want to remove access to

[2015-01-21 19:51] pdurbin opened #1360 "IP Groups: can no longer upload files via SWORD"
I'm on b2154e3

The code says, "Un-comment below lines if request metadata is null to get a workaround. Then open a bug and assign to @michbarsinai" so that's what I'm doing in my next commit.

Here's the curl command I'm using to upload a file via SWORD:

curl -s --insecure --data-binary @scripts/search/data/binary/trees.zip -H 'Content-Disposition: filename=trees.zip' -H 'Content-Type: applicati

[2015-01-21 19:54] esotiri commented on #1147
Issue resolved, created dataset with sword and got http://dx.doi.org/10.5072/FK2/QAUPSO.

[2015-01-21 19:54] #1147 closed

[2015-01-21 19:57] scolapasta commented on #1345
@mheppler can you look at first checkbox and do any cleanup for beta 11, then pass to QA?

[2015-01-21 20:13] pdurbin commented on #700
@michbarsinai this is just for testing, right? You'll be taking this out? Is there a ticket for this? Being able to spoof an IP address so easily is alarming.

[2015-01-21 20:44] sekmiller commented on #114
Link to dataverse is ready for testing - some minor ui Cleanup is needed

[2015-01-21 20:45] sekmiller commented on #113
Linking to existing dataset has been implemented.  Minor UI clean up is in progress.

[2015-01-21 20:47] eaquigley commented on #1310
@landreev cool, i'd keep it the same then for 4.0. thanks!

[2015-01-21 20:48] kcondon commented on #700
All of the create, list, delete functions work with basic test data. Having trouble assigning a role, have asked Michael for advice.

[2015-01-21 20:57] michbarsinai commented on #700
@pdurbin indeed. But this is how apache tells Glassfish who sent the request originally. We can do a test, but I assume apache would overwrite the header if someone was spoofing it.
Maybe we should add a Setting for this, so admins can turn the functionality off.

[2015-01-21 20:58] esotiri commented on #914
issue resolved: command below allows editing a dataset.
[code]
json file:
[code]

[2015-01-21 20:58] #914 closed

[2015-01-21 20:59] esotiri commented on #1307
issue resolved.

[2015-01-21 20:59] #1307 closed

[2015-01-21 20:59] esotiri commented on #1150
issue resolved

[2015-01-21 20:59] #1150 closed

[2015-01-21 22:48] kcondon commented on #114
Basic functionality works, ok for demo.
When tested against functional requirements, found these issues:
-Can't remove linked objects
-Can't see list of linked objects
-Contents of linked objects are not searchable and do not show up as cards in host dv, with the exception of files, so no sub ds or dvs.
-Can link a dataset and then link it's parent dv to same host dv.
-Can link unpublished dv and

[2015-01-21 22:49] kcondon commented on #113
Basic functionality works, ok for demo.
When tested against functional requirements, found these issues:
-Can't remove linked objects
-Can't see list of linked objects
-Contents of linked objects are not searchable and do not show up as cards in host dv, with the exception of files, so no sub ds or dvs.
-Can link a dataset and then link it's parent dv to same host dv.
-Can link unpublished dv and

[2015-01-21 23:11] eaquigley opened #1361 "License + Terms of Use: Have Text Saying No License Selected"
When a user selects to not apply the CC0 - Public Domain Dedication License, we should still have something displayed in the License field on view. I'd recommend having it say, "No license has been selected for this dataset." In the future, we will most likely have more licenses to select from so we will need a no license selected option anyway.

[2015-01-21 23:14] kcondon opened #1362 "Files tab: Thumbnail selection button is no longer appearing."
This worked yesterday but Liz pointed out the thumbnail selection button is now missing.

[2015-01-21 23:32] scolapasta commented on #1358
@michbarsinai reverted the change he made to the AuthenticatedUsers identifier.

[2015-01-21 23:36] landreev commented on #1331
This should be working now. Please re-test. (may need a new build).

[2015-01-21 23:39] pdurbin commented on #700
Please keep in mind that we are not 100% sure that we will be fronting Glassfish with Apache we have only ever seen the session bug in #647 when Glassfish is fronted with Apache.

@michbarsinai I'm asking you to think about the scenario where Glassfish is **not** fronted with Apache and the security implications of letting users specify the "X-Forwarded-For" header.

[2015-01-21 23:49] kcondon opened #1363 "Linked Dataverse: Do not allow linking of unpublished dataverses or datasets"
Currently I can link both unpublished datasets and dataverses if I have permissions, eg admin.
Gustavo felt this should be fixed for beta 11.

[2015-01-21 23:58] kcondon opened #1364 "Linked Dataverse: Can't remove linked dataverse or dataset"
Once linked, there is no way to remove the link

[2015-01-22 00:00] kcondon opened #1365 "Linked Dataverse: There is no way to view a list of linked objects: dv or ds."
A requirement for linked dv/ds was to see a list of linked objects. There is no way currently but Gustavo suggested perhaps a facet?

[2015-01-22 00:02] kcondon opened #1366 "Linked Dataverse: Contents of linked objects are not searchable and do not show up as cards."
A requirement for linked dv/ds was to show the linked object and all it's contents as cards and make them searchable in the host dv. Currently only the linked object itself appears, though files are searchable and show up as cards.

[2015-01-22 00:04] kcondon opened #1367 "Linked Dataverse: Can link a dataset and then link its parent dv."
Not sure if this is a bug but would cause issues when we show the contents of all linked objects.

I can first link a dataset and then link its parent dv so in effect the ds is linked twice.

[2015-01-22 00:04] kcondon commented on #114
OK, basic functionality works and the above issues opened as separate tickets.

[2015-01-22 00:05] kcondon commented on #113
OK, basic functionality works and issues above were opened as separate tickets. Passing to Mike for UI cleanup unless there is already a UI ticket.

[2015-01-22 00:15] scolapasta commented on #792
Added the buttons. Still needs the "Select all, select restricted, etc. functionality).

[2015-01-22 00:38] sekmiller commented on #1363
Fix checked in.

[2015-01-22 01:00] eaquigley commented on #1363
I don't understand why we aren't allowing this.

On Jan 21, 2015, at 7:38 PM, sekmiller <notifications@github.com<mailto:notifications@github.com>> wrote:

Fix checked in.

—
Reply to this email directly or view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_IQSS_dataverse_issues_1363-23issuecomment-2D70951081&d=AwMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=Y9aY3P6kFFpmMLaYYO_id0

[2015-01-22 01:03] landreev commented on #338
It should be working now;
Please note:
- there's a separate ticket Mike mentioned, above (#1310), for how the "download" button is rendered;
- you need to have at least 2 files selected before the download link is activated;
- the "download all files from the dataset" button is disabled on purpose. we'll likely end up implementing this the way it's been done in 3.* instead - with a one-click way t

[2015-01-22 01:40] sekmiller commented on #1363
Gustavo requested that this be fixed at for the push.  Originally the logic did not allow you to link to unpublished dataverses. My recent checkin suppresses the link button on unpublished datasets and dataverses.  Either or both would be easy to back out if thats what you want.

On Jan 21, 2015, at 8:00 PM, Elizabeth Quigley <notifications@github.com<mailto:notifications@github.com>> wrote:

I do

[2015-01-22 01:56] kcondon commented on #1363
________________________________

It is in the requirements doc where on 12/1 you said OK:
https://docs.google.com/document/d/1sHuXD7VGI8Gowfvc69Y7xIUoezVUH4J6hHnhW4nXd9k/edit

On Jan 21, 2015, at 8:00 PM, Elizabeth Quigley <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't understand why we aren't allowing this.

[2015-01-22 01:59] mcrosas commented on #1363
I agree with @eaquigley - I know that this is similar to how it worked in 3.6 (for collections), but it was a big annoyance in many use cases. Can we change it so it is possible to link unpublished datasets/dataverses? Would it cause any problem?

[2015-01-22 02:10] kcondon commented on #1363
Not sure if this still holds weight but the discussion in the requirements doc went:
Sonia asked this: do we need to worry at all about users who don't want others linking their dataverses/datasets?
Liz asked: Did we have anything in 3.6 for a user to be able to block others from linking their dataverses/datasets?
Sonia: nope
Liz: Then I say we leave it as is. You can only link published dataverse

[2015-01-22 02:15] eaquigley commented on #1363
Thanks @kcondon. I most likely said that to eliminate extra work. But now am rethinking it, especially in light of me needing to put together a sample Dataverse that won't be published yet needs linking. It would make sense to be able to link unpublished so once it's ready to publish it appears. Sorry for all the confusion and going back on what was in the Google doc.

On Jan 21, 2015, at 9:10 PM,

[2015-01-22 13:22] michbarsinai commented on #700
very good point. also easy to solve. I'll open an issue.

[2015-01-22 13:24] michbarsinai opened #1368 "Make X-Forwarded-for header configurable"
Currently it is hard coded to use it, and it may allow for easy IP spoofing.

Options:
- turn off
- change header (e.g. for when fronting with something that's not Apache)

[2015-01-22 13:25] michbarsinai commented on #700
Created https://github.com/IQSS/dataverse/issues/1368

[2015-01-22 15:13] sekmiller commented on #1363
Per discussion with @kcondon and Merce, I have removed all requirements that a linking dataverse or linked dataset or dataverse are published.  I haven't tested the full implications of permissions on the viewing of these unpublished items outside of their "natural habitats"

[2015-01-22 15:36] kcondon commented on #1358
Tested, this works now. Closing

[2015-01-22 15:36] #1358 closed

[2015-01-22 15:36] kcondon commented on #1363
Works, closing

[2015-01-22 15:36] #1363 closed

[2015-01-22 15:43] kcondon commented on #1331
OK, tested, works, closing.

[2015-01-22 15:43] #1331 closed

[2015-01-22 15:45] esotiri opened #1369 "Dataset Permissions for Dataset issue with assigning roles"
Scenario:
create a dataverse  > create a dataset > edit dataset permissions > dataset
There are a couple of issues:
1. permissions dropdown is empty, and should not appear here.
2.  Users/Groups > assign role > Anyone with a Dataverse account > can be Editor
a. Login as another user > can see the dataset but has no actions available
(Same happens when assigning Manager or Admin role - no actions a

[2015-01-22 15:50] esotiri commented on #799
related issue https://github.com/IQSS/dataverse/issues/1369

[2015-01-22 16:10] esotiri opened #1370 "Dataset Permissions for Dataset: Remove roles that are not relevant"
For example: Adding Full contributor role make no sense to be there, since is for adding DV & DS to a DV

[2015-01-22 16:42] kcondon opened #1371 "Permissions: Can't see thumbnail on files tab if you are a registered user, non owner."
This issue was just resolved for an anonymous user but still exists if you are a registered user, non owner:

In a published dataset, unrestricted files, see broken thumbnail images on files tab for a registered user, non owner.

[2015-01-22 17:04] esotiri opened #1372 "Dataset Permissions for Dataset - Exception removing assigned role"
Removing the assigned role > Anyone with a Dataverse account > can be editor > throws exception on the log.  In the gui, the assigned role can't be removed.

server log:
[2015-01-22T10:38:50.706-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.webcontainer.jsf.lifecycle] [tid: _ThreadID=48 _ThreadName=jk-connector(3)] [timeMillis: 1421941130706] [levelValue: 900] [[
  #{managePermissi

[2015-01-22 17:12] scolapasta commented on #792
For checkbox 1, this was the logic before we decided to allow restrict and unrestrict as separate buttons. Since we show both, we don't need separate Select All Restricted / Select All Unrestricted, as you can just select use select all.

For example, in the songle button mode, you would select all unrestricted so that the button would say Restrict, then click restrict, end result all files restri

[2015-01-22 17:25] esotiri commented on #1310
Reviewing the issues listed above:
1. Download button shows:
0 files in the dataset - fixed
1 files in the dataset - fixed
more than 1 files - ok

2. Download button action
when one file is selected > actions grayed out > it should enable 'download selected'
when more than one file is selected > download selected is ok in a zip
when files are not selected > actions grayed out - ok

[2015-01-22 17:26] esotiri commented on #1310
I have a question if this should be ok?

when one file is selected > actions grayed out > should it enable 'download selected'

[2015-01-22 17:31] kcondon commented on #338
OK, works, closing

[2015-01-22 17:31] #338 closed

[2015-01-22 17:33] kcondon commented on #1304
OK, watermarks are there, closing

[2015-01-22 17:33] #1304 closed

[2015-01-22 17:38] eaquigley commented on #805
@sekmiller no need to change from NONE to CUSTOM in the database. Also, terms of use will not be a required field. Passing this to QA to test.

[2015-01-22 17:41] esotiri opened #1373 "Download button - one file selected"
per Gustavo, opening a new ticket in relation to https://github.com/IQSS/dataverse/issues/1310 last question.

Download button action:
when one file is selected > actions grayed out > it should enable 'download selected'

[2015-01-22 17:41] esotiri commented on #1310
opened https://github.com/IQSS/dataverse/issues/1373, resolving this issue.

[2015-01-22 17:41] #1310 closed

[2015-01-22 18:41] pdurbin commented on #805
This is not ready for QA so I'm taking it back. I think I have enough answers after discussion with @eaquigley this morning about my questions: https://github.com/IQSS/dataverse/issues/805#issuecomment-70290922

[2015-01-22 19:10] eaquigley commented on #769
Requirements/Guidelines for this:

- [ ] On the General Information page for a dataverse, there needs to be another field called Subject with a the same list that is used for the Subject field for a dataset.
- [ ] Users can select multiple subjects for the dataverse
- [ ] The subject(s) selected for the dataverse (direct parent) should by default be selected for a dataset when it is created.
- [ ]

[2015-01-22 19:34] esotiri commented on #1372
resolved

[2015-01-22 19:34] #1372 closed

[2015-01-22 19:38] kcondon commented on #925
OK, files are updated, work. Closing

[2015-01-22 19:38] #925 closed

[2015-01-22 19:39] esotiri commented on #799
overall look ok, resolving.

[2015-01-22 19:39] #799 closed

[2015-01-22 20:11] #1159 closed

[2015-01-22 20:35] kcondon opened #1374 "API: Add User fails on adding duplicate but still adds record to builtinuser table, creating non-unique errors."
If I add the same user twice with the add user api, it fails with {"status":"ERROR","message":"Can't save user: Transaction aborted"} but actually still adds a row to the builtinuser table. This causes non-unique/500 errors later if a dataset is created with that user.

[2015-01-22 21:24] eaquigley opened #1375 "Author/User Identifiers: Suggested Additions"
In addition to ORCID and ISNI, there has been user feedback on including Digital Author Identification. I'd imagine there might be some other ones as well. This ticket is to review which identifiers to add.

[2015-01-22 21:47] sekmiller commented on #1367
@kcondon - if I have linked a dataset from the dataverse should I be able to link the dataverse?

[2015-01-22 23:20] landreev commented on #1310
@esotiri
I originally implemented it like this on purpose - the rationale being, it's just stupid to download just one file in a file bundle; but we eventually decided it was ok. So you should be seeing the download link enabled now, even if there's only 1 file selected.

[2015-01-22 23:21] landreev commented on #1373
@esotiri
I originally implemented it like this on purpose - the rationale being, it's just stupid to download just one file in a file bundle; but we eventually decided it was ok. So you should be seeing the download link enabled now, even if there's only 1 file selected.

[2015-01-23 00:03] landreev commented on #831
OK, should be working.
Real life test files still available in the original redmine ticket:
https://redmine.hmdc.harvard.edu/issues/2033

[2015-01-23 00:05] landreev commented on #1035
OK, so this is a top-level ticket with 4 individual sub-tasks:
#960 - tabular data tags (done, closed)
#1145 - default thumbnail image (done, closed)
#831 - Odum-style "extended labels" SPSS/por ingest; (in QA) - in QA
#1343 "select language encoding" for SPSS/sav ("Fudan-style") - (done, closed)

[2015-01-23 16:18] #1373 closed

[2015-01-23 17:37] scolapasta opened #1377 "Dataset Permissions: permissions dropdown is empty, and should not appear here."

[2015-01-23 17:38] scolapasta commented on #1369
Moved point 1 to #1377

[2015-01-23 18:04] scolapasta commented on #1354
Just discussed with @pdurbin:

The adding of IP groups effectively broke sword deposit . For the many operations of sword deposit, this particular one was fixed bu @michbarsinai change above so can be retested.

Other sword related issues should be opened up as separate issues, for example #1360

[2015-01-23 18:06] scolapasta commented on #1341
@mheppler talk to me before working on this one, as I will also be working on general breadcrumb cleanup

[2015-01-23 18:09] pdurbin commented on #1360
To be clear, as I just mentioned to @scolapasta , I expect that if anyone were to remove the null check I added in https://github.com/IQSS/dataverse/commit/4222b0b the only SWORD operation I expect to success is the "Create a dataset with an Atom entry" operation because @michbarsinai says he got it working in #1354 (mostly in https://github.com/IQSS/dataverse/commit/4a9e6f4d51b668f35008afacc3372b

[2015-01-23 18:11] scolapasta commented on #1329
I'm satisfied by this explanation. @pdurbin I leave it assigned to you, in case you have any objection, but otherwise, please pass back to QA.

[2015-01-23 18:22] scolapasta commented on #1296
Assigning to @ekraffmiller to resolve the issue which this was created for.

But to answer @pdurbin, when you create via Sword we allow you to create a dataset with fields that normally validate. But if you then go through UI, you are expected to add the additional info, because we can get it there.

[2015-01-23 18:28] pdurbin commented on #1329
@scolapasta I think we should have consistency in our native API (i.e. JSON input) but perhaps a ticket could be created for this for after 4.0. I'll give this to QA for any thoughts on this. Again, certainly the native API is better that we're PUTing data now.

[2015-01-23 18:39] pdurbin commented on #1347
@landreev I assigned this ticket to you just to put it on your radar. The suggestion came from a [2015-01-14 meeting](https://docs.google.com/a/harvard.edu/document/d/1LwGSTTiaoCCSTKjT_uyGZEhNdN203BfY1xm_udfv9oI/edit?usp=sharing) with @spalan @scolapasta and Leanne Trimble. I imagine the upcoming [Davaverse Storage Options Community Group](http://community.dataverse.org/community-groups/) would be

[2015-01-23 18:42] scolapasta commented on #1142
I think this is all set, no?

[2015-01-23 18:43] pdurbin commented on #1346
The suggestion came from a [2015-01-14 meeting](https://docs.google.com/a/harvard.edu/document/d/1LwGSTTiaoCCSTKjT_uyGZEhNdN203BfY1xm_udfv9oI/edit?usp=sharing) with @spalan @scolapasta , Leanne Trimble, and myself. I feel like @mcrosas mentioned this once but maybe it was the same use case from the same people. It would be good to gauge community interest in this feature. It seems like @spalan has

[2015-01-23 18:48] scolapasta commented on #1111
@mheppler let's review this together.

[2015-01-23 18:54] scolapasta commented on #1000
@raprasad I know you made related fixes earlier - can we discuss?

[2015-01-23 19:13] scolapasta commented on #860
This will also need to be configurable per installation, so not a trivial thing.

[2015-01-23 19:15] scolapasta commented on #836
Duplicate of #845

[2015-01-23 19:18] scolapasta commented on #792
Point 4 is also done, but needs UI help. Passing to @mheppler for now, for UI for 1,2,4

[2015-01-23 19:20] scolapasta commented on #766
@ekraffmiller @sekmiller can we discuss and figure out what is needed here?

[2015-01-23 19:25] scolapasta commented on #701
Can this be passed to QA and closed? (as there are specific issues already being opened separately?)

[2015-01-23 19:39] pdurbin commented on #283
I think this ticket was assigned to me because re-indexing must happen when dataverses or datasets are moved but the [Implications of moving dataverses and datasets](https://docs.google.com/document/d/1W8AXMtFJ32XCILCe1PX2BTIER6hxGiOLZMLhbFPQe7A/edit?usp=sharing) Google doc is the place for noting other areas of the system (permissions, metadata blocks, groups, etc.) that are affected by dataverse

[2015-01-23 19:44] scolapasta commented on #31
This is the high level ticket. Since linked datasets and dataverses are in (with specific individual issues being opened, and saved search has it's onn issue (#90), I think we can just close this?

[2015-01-23 19:48] kcondon opened #1378 "Groups: Update indexing and search to support groups"
The low level IP Group infrastructure is in place and groups can be create via API currently. However, indexing needs to be updated to include IP Groups.

[2015-01-23 19:50] kcondon opened #1379 "IP Groups: Add UI to create and manage IP Groups."
Low level IP Groups infrastructure has been added but other than appearing on the list of users in permissions, with no group indicator btw, there is no way to create and manage IP Groups in the UI.

The only way currently to create IP Groups is through the API.

[2015-01-23 19:53] kcondon opened #1380 "IP Groups: Define and enforce IP Group scope of permissions in application"
The low level IP Groups infrastructure has been created but the application currently does not check the perms nor enable actions in the application based on them. The groups do appear in the user list in permissions but assigning to roles there or via API has no effect.

Also, there has been some discussion whether IP group permissions should be limited to viewing/downloading rather than writing.

[2015-01-23 19:54] kcondon commented on #700
Basic functionality in place, opened tickets for completing integration with rest of app. Closing

[2015-01-23 19:54] #700 closed

[2015-01-23 19:55] kcondon commented on #930
Documentation has been updated and moved to guides. Will open a separate ticket to retest APIs. Closing.

[2015-01-23 19:55] #930 closed

[2015-01-23 19:57] kcondon opened #1381 "API: Retest Native API using new documentation"
Native API guide was updated and included in beta 11. Due to time constraints, complete retesting of API was not done. This ticket is a reminder to review and test API.

[2015-01-23 20:00] ekraffmiller commented on #766
This is done
On Jan 23, 2015, at 2:20 PM, Gustavo Durand <notifications@github.com<mailto:notifications@github.com>> wrote:

@ekraffmiller<https://github.com/ekraffmiller> @sekmiller<https://github.com/sekmiller> can we discuss and figure out what is needed here?

—
Reply to this email directly or view it on GitHub<https://github.com/IQSS/dataverse/issues/766#issuecomment-71249007>.

[2015-01-23 20:01] pdurbin opened #1382 "API: format of dates and times returned"
To the emerging [Dataverse Coding Standards and Style Guide](https://docs.google.com/document/d/1KTd3FpM1BI3HlBofaZjMmBiQEJtFf11jiiGpQeJzy7A/edit?usp=sharing) I added this:

* Dates and times returned from API calls
   * Use ISO-8601 format like this: new SimpleDateFormat("yyyy-MM-dd'T'HH:mm'Z'");
   * Return it in the "UTC" timezone.
   * See also http://apiux.com/2013/03/20/5-laws-api-dates-and-

[2015-01-23 20:16] pdurbin commented on #1366
@sekmiller implemented the [dvLinkingService.findLinkingDataverses](https://github.com/IQSS/dataverse/blob/16e23f53ede26c348fd14bb52fabf084ff30af5f/src/main/java/edu/harvard/iq/dataverse/IndexServiceBean.java) code to support indexing so I think he'd be a better fit for this ticket.

Also, I suspect that this is yet another tree traversal problem similar to the ones I listed at https://github.com/

[2015-01-23 20:18] scolapasta commented on #1338
@mheppler if you can figure something out for this in under an hour, great; if not move to 4.0.1 and we'll solve then

[2015-01-23 20:21] scolapasta commented on #1327
discussed with @eaquigley and it would be ok to do something other than captcha, as long as we remove spam (i.e. solve a simple math problem)

[2015-01-23 20:25] scolapasta commented on #1367
Discussed with @eaquigley, and we think we should leave it like this for now.

[2015-01-23 20:30] kcondon commented on #831
OK, long labels are working. Closing.

[2015-01-23 20:30] #831 closed

[2015-01-23 20:32] scolapasta commented on #990
@landreev can you provide some input on what are some quick things we could do this for this?

[2015-01-23 20:42] scolapasta commented on #584
Is this just a 3.6 issue? Is there anything we need to do in 4.0?

[2015-01-23 20:44] scolapasta commented on #541
@mheppler can you create the page, then assign to Bob to wire up via web.xml?

[2015-01-23 20:45] scolapasta commented on #768
Can we close this as a duplicate of #541

[2015-01-23 21:15] pdurbin commented on #993
I did this stuff:

- [ ] lots of automation at https://build.hmdc.harvard.edu:8443/job/apitest.dataverse.org-deploy/
- [ ] new SHA-256 SSL cert to make Google happy (certs and key backed up to /nfs/backups)
- [ ] enforce SSL with Apache
- [ ] made sure the feedback form makes [a ticket](https://help.hmdc.harvard.edu/Ticket/Display.html?id=192205)

I took a swing at getting TwoRavens working but it

[2015-01-23 21:40] pdurbin commented on #1330
As @scolapasta @eaquigley and I discussed, I went ahead and opened [a ticket](https://help.hmdc.harvard.edu/Ticket/Display.html?id=192221) about installing sphinx_bootstrap_theme 0.4.0 on the Jenkins server.

I noticed that we do seem to be modifying those files though I think we'll need to move those files to some other directory when we remove the module from our code.

@mheppler can you please

[2015-01-23 21:46] scolapasta commented on #1085
Can QA try to reproduce? This is an older ticket and we don't seem to be able to.

[2015-01-23 22:34] scolapasta commented on #1320
#610 and #239 are directly related, so copying notes from there, so I can send those to QA as dupes:
_______
#610

Things to consider:
*if we allow links in metadata fields, we should have a link checker that could provide notifications when links break
*Potential PrimeFaces widget to use for fields that can use HTML (i.e.-description): http://www.primefaces.org/showcase/ui/input/editor.xhtml

___

[2015-01-23 22:34] scolapasta commented on #610
Sending to QA as dupe of #1320

[2015-01-23 22:35] scolapasta commented on #239
Sending to QA as dupe of #1320

[2015-01-23 22:38] scolapasta commented on #887
Passing to QA, as @landreev had commented in a separate ticket that we have previously verified all existing handles (and no handles have been created since then)

[2015-01-23 23:19] scolapasta opened #1383 "Remove (was Implement) new EditDatasetAccess permisison"

[2015-01-23 23:21] scolapasta commented on #1319
Merging the details of #1258

The issue is how we handle the display of compound fields when some of the children are empty (in this case e-mail is always hidden and the other fields are empty.

[2015-01-23 23:22] scolapasta commented on #1258
Merged this issue with #1319

[2015-01-23 23:23] scolapasta commented on #1319
Also related: #1246

[2015-01-23 23:24] scolapasta commented on #1135
For 4.0, we won't allow anyone to create roles, unless they are superusers. So we will defer this validation to post 4.0.

[2015-01-23 23:25] scolapasta opened #1384 "Roles: for 4.0 only allow superusers to create new roles"

[2015-01-23 23:28] scolapasta commented on #1135
Also validate, that to not allow save new role with no permission selected per #1134.

[2015-01-23 23:31] scolapasta commented on #1134
Merged with #1135

[2015-01-23 23:32] scolapasta commented on #1187
Role validation won't be done until after 4.0, as we are only allowing superusers to do it: #1384. Merged messaging info from there into #1135, so am checking box as complete for this issue (adding - deferred).

All's that's left are the asterisks. passing to @mheppler

[2015-01-23 23:38] scolapasta commented on #1370
Since permissions apply to certain dvobjects, added logic to only find roles that have permissions that apply to Datasets (and DataFiles, since you might want to give that at the Dataset level).

[2015-01-24 20:20] michbarsinai commented on #1354
Guys, it didn't break SWORD. Once the IP groups functionality is taken into consideration, SWORD is broken as it does not take them into account. Silent fails are still fails :-)

[2015-01-26 14:49] pdurbin commented on #1382
In 430a8b325e5ef9e78b55f32f11a6e6cddcd32509 I just added seconds to the date/time string we're returning.

@michbarsinai I'm passing this ticket to you. Can you please have your code call the updated `getDateTimeFormatToReturnIn` method in https://github.com/IQSS/dataverse/commits/master/src/main/java/edu/harvard/iq/dataverse/api/Util.java ? It should return an ISO 8601 date/time format such as "2

[2015-01-26 15:04] pdurbin commented on #506
I'm getting the same result when trying to work on indexing in #1316. I can't destroy a dataset with files:

`curl -X DELETE http://localhost:8080/api/datasets/10/destroy?key=$ADMINKEY`

[code]

Is this by design? Should I be able to destroy a published dataset with files?

[2015-01-26 15:23] eaquigley commented on #90
@posixeleni when you are back in the office, can we meet to talk about this functionality.

[2015-01-26 15:30] raprasad commented on #1143
moving to QA

/cc @kcondon

[2015-01-26 15:37] pdurbin opened #1385 "Consistency: default license when creating dataset"
"Set Default License to CC0 on dataset create" is the commit message for 444f52b but this is only when creating datasets through the GUI.

Should this business rule be applied consistently throughout the app? Right now when you create a dataset via the native API or SWORD, no license is set ("null" in the database). I'm working on the SWORD side of things at #805 but it seems like the business rul

[2015-01-26 16:53] eaquigley opened #1386 "Dataverse Category: Values are Appearing in Facet as Plural"
I changed the dataverse category values to be singular (i.e.-researchers to researcher) however they are appearing in the facet as plural. @pdurbin could you please look into fixing this? The change was in a37465d95670dbe7f4094022cf17924c3dcd553d

[2015-01-26 17:28] pdurbin commented on #1330
@mheppler as I mentioned in this morning's meeting, I think this ticket represents a non-essential cleanup task that could be deferred until after Dataverse 4.0 ships.

[2015-01-26 17:45] scolapasta commented on #1386
Actually, should this be in the bundle? My point is, these values are data, they are stored in the index as the values.

Should they be internationalized? (Other data will clearly not be.

[2015-01-26 19:02] eaquigley opened #1387 "Log In & Shibboleth: Onboarding Process"
Due to passwords needing to be changed and Shibboleth account conversions, we need a robust, interactive, and helpful onboarding process to let users know how their accounts need to be updated.

[2015-01-26 19:14] kcondon commented on #1035
All child tickets are closed. There was one functional requirement not implemented due to dependency on another feature: zip upload creating file categories from sub dirs. I will open a new ticket for that.

Also, discussed with Mike, will open a review UI ticket for fit and finish if necessary.

[2015-01-26 19:14] #1035 closed

[2015-01-26 19:15] kcondon opened #1388 "File Upload: Create file categories from sub directories in zip file upload."
This was a requirement of the advanced options FRD that did not get implemented.

[2015-01-26 19:17] kcondon opened #1389 "Files Tab: Perform design review of Advanced Options."
Basic functionality of Advanced Options appears complete and so is ready for design review.

[2015-01-26 20:37] kcondon opened #1390 "Shibboleth: Intermittant 500 errors on login page, intermittent success using shib login."
We just reenabled/reregistered test shib login on dvn-build, first shib test since new weld component.

I am seeing serious intermittent errors, including 500 error when clicking on login, 500 error when choosing shibtest, 500 error when logging in to shib, shib login not succeeding, then some repeated homepage loads and the original shib login is there.

[2015-01-26 20:42] esotiri commented on #1390
I have seen it before. Try to re upload the metadata on testshib.
On Jan 26, 2015 3:37 PM, "kcondon" <notifications@github.com> wrote:

[2015-01-26 20:55] kcondon commented on #1390
This was a result of not restarting gfish. Once I did, the problem went away. For the record, I had restarted httpd and shibd.

[2015-01-26 20:55] #1390 closed

[2015-01-26 21:39] pdurbin commented on #805
The rules from @eaquigley are listed below and I attempted to implement them in 6babd4a45586f408e72bbf54db3083372553958c

- If you don't provide `<dcterms:license>` the license should be set to "CC0" on dataset creation.
- If you don't provide `<dcterms:license>` the license on dataset modification, the license should not change.
- To provide `<dcterms:rights>` you much either omit `<dcterms:licen

[2015-01-26 22:11] raprasad commented on #1387
\cc @scolapasta @eaquigley @pdurbin
(... Summary of my memory on the username issues.  Some of it may have changed in last few months)

## What happens when an existing Harvard user wants to use Shibboleth? (local account -> shib account)
**summary**: User loses her/his username.  User no longer has separate first/last name fields

- Currently, if existing Dataverse users are migrated to Shibbolet

[2015-01-27 15:41] posixeleni commented on #947
@bencomp sorry was out of the office and am only catching up now. So the plan is to eventually support automated updating (via an API, etc) to remove the need to manually update. Will track this progress in this ticket so you can see where we are with this automation. Let me know if you have any other controlled vocabularies you were thinking of automatically updating.

[2015-01-27 15:44] posixeleni commented on #1311
@scolapasta I am thinking that all new datasets would need to use these newly applied "required" fields however all older existing datasets would not fail (unless someone goes to Edit and it fails when they try to save). Would this be a trivial feature to support?

[2015-01-27 15:50] jwhitney commented on #805
Related to the rule in the list: older versions of the OJS Dataverse plugin may provide a blank value in `<dcterms:rights>` if journal managers haven't provided a copyright notice in journal set-up.

[2015-01-27 16:48] posixeleni commented on #1375
@eaquigley whats the best documentation to look at for DAI? http://en.wikipedia.org/wiki/Digital_Author_Identification

[2015-01-27 17:27] eaquigley commented on #1375
@posixeleni I found this: https://wiki.surfnet.nl/display/standards/DAI but this would definitely be worth reaching out to the DANS partners to get more information for us to be able to implement it after 4.0 is done.

[2015-01-27 18:04] posixeleni commented on #90
scheduled a meeting for this Friday for @eaquigley and I to discuss

[2015-01-27 19:11] mheppler opened #1391 "Date/Time Stamp Format - Consistency Across App"
The date and time stamps used for created, uploaded, published, etc. need to be displayed consistently.

Here's a list of instances across the site, and their preferred formats:
- [ ] Dataset Guestbook, Manage - "Month, Day, Year"
- [ ] Dataset Templates, Manage - "Month, Day, Year"
- [ ] Dataset Versions, View - "Month, Day, Year HH:MM AM/PM Time Zone"
- [ ] Dataset Versions, Difference - "Month,

[2015-01-27 19:55] eaquigley commented on #1360
@pdurbin we are going to move this to post 4.0 after @michbarsinai @scolapasta and I had a discussion about this.

[2015-01-27 20:11] scolapasta commented on #1360
Basic reasons - we are deferring most IP group related issues. And even if we weren't, an IP group should not allow you (by itself) to do any edits, so members of IP groups will not be able to add datasets, which is what sword is for. (some of the actions are read type actions, but they are servicing the concept of deopsiting data).

[2015-01-28 14:37] pdurbin commented on #1374
You can easily see the duplicate usernames with this:

curl http://localhost:8080/api/users?key=burrito

[2015-01-28 15:13] raprasad commented on #1000
/cc @kcondon
This appears to be working on mac firefox/safari/chrome.

[2015-01-28 15:40] ekraffmiller commented on #828
This is a general issue with tables that are created using Join inheritance in the entities.  The foreign keys are mapped to the parent entity (dvobject), rather than the child - in this case dataset.  It affects many other relationships in the application as well.  It's a known issue in Eclipselink:  https://bugs.eclipse.org/bugs/show_bug.cgi?id=333100.

I spoke to Gustavo about this, and since t

[2015-01-28 15:45] pdurbin commented on #805
Hmm. Ok, @jwhitney I **really** don't want to introduce additional backward-incompatible changes so I just modified the code to allow blank values and this is what I wrote in the [API Guide](http://guides.dataverse.org/en/latest/api/sword.html):

I also [changed the integration test](https://github.com/IQSS/dataverse-apitester/commit/72c00758534ae70d703420cdcc29b71baf55f8c5) to leave dcterms:right

[2015-01-28 15:56] kcondon commented on #1000
This issue as reported is resolved. The actual cause is clicking away from and then back to the landing tab of the selected user item: data related to me, notifications, account info.

So, if you click on the username, choose data related to me, you land on that tab. If you click another tab and then back to that one, the menus stop working. Clicking to another tab does not affect it. This happens

[2015-01-28 16:50] pdurbin commented on #945
Yeah, DatasetPage.java is sort of cheating in the sense that it relies on **builtin** users rather than Shibboleth users. There's a comment that says "Get builtin user to supply default values for contact email author name, etc."

See also my comment about how I believe the authenticated user table needs to change: https://github.com/IQSS/dataverse/issues/457#issuecomment-66558549

@scolapasta and

[2015-01-28 16:58] pdurbin opened #1392 "Published citation has V0 as a version, should be V1"
When I run https://github.com/IQSS/dataverse/blob/master/scripts/deploy/apitest.dataverse.org/post as part of regular deployment to https://apitest.dataverse.org the citation of a published dataset has "V0" in it like this:

V0? That doesn't seem right! Shouldn't it be V1 or higher? I'm not sure how this happens. It's not **just** what's indexed into Solr because the dataset page shows "V0" as wel

[2015-01-28 17:34] ekraffmiller commented on #1296
Talked to Phil about this and we agreed that the code is fine as is - we don't currently have a need for a centralized method for assigning NA values.

[2015-01-28 17:34] #1296 closed

[2015-01-28 17:42] pdurbin commented on #1296
I'm fine with not having a centralized method for assigning NA values but I still strongly believe that SWORD should be capable of creating a fully legitimate dataset, not one that yield validation errors when you try to change the title. I discussed this will @mcrosas and @eaquigley last week and I guess the plan generally is to put effort into #769.

[2015-01-28 19:07] posixeleni opened #1393 "Add Support for Meta-tags in HTML of Dataset for Reference Managers (Citation Metadata)"
Worked with Reference Managers at FORCE2015 to come up with ways Dataverse could make the metadata in a Dataset page's HTML (especially the Data Citation) machine-readable for Reference Managers like EndNote, Zotero, etc to automatically extract data citation metadata into their system. See [notes from meeting](https://docs.google.com/document/d/1rpHmoCZQNQOeK1RbLW--JloWRc5hmREVKnwj1ZIYdIU/edit?us

[2015-01-28 19:23] pdurbin commented on #972
@eaquigley can you please clarify how these Terms of Use are entered in the first place? I'm not sure where they are stored in the database.

[2015-01-28 19:29] eaquigley commented on #972
@pdurbin Where did you store them for shibboleth? Also, I can't remember but do you have the official text and not the Lorem Impsum? If not, @posixeleni and I can get that to you since Berkman finalized them.

[2015-01-28 19:33] sekmiller commented on #832
If a user has create and edit privileges, but not publish he will see a submit for review button.  If he selects it and presses Continue a notification will be sent to everyone who has publish privileges on that dataset.  These users will have a new button on the dataset page "Return to Contributor"

This is available in the current build Weds. 2:15PM

[2015-01-28 19:36] pdurbin commented on #972
@eaquigley I don't store them anywhere. Nothing is in the database that I'm aware of. The first time you log into Shibboleth you simply see the placeholder test hard-coded on that page: https://github.com/IQSS/dataverse/blob/master/src/main/webapp/shib.xhtml

It looks like this the Lorem Ipsum at http://datascience.iq.harvard.edu/blog/try-out-single-sign-shibboleth-40-beta

I guess the bigger ques

[2015-01-28 19:55] eaquigley commented on #972
@scolapasta where should the terms of use for account creation be stored? this is something that individual installations will need to be able to edit and insert their own terms of use for their installation.

[2015-01-28 20:24] sekmiller commented on #1349
This is fixed and available for testing

[2015-01-28 20:27] sekmiller commented on #1317
Doesn't seem to be happening - or I need more detailed steps to recreate

[2015-01-28 20:38] pdurbin commented on #963
Mentioned in [Shib FRD](https://docs.google.com/a/harvard.edu/document/d/12Qru8Gjq4oDUiodI00oObHJog65S7QzFfFZuPU3n8aU/edit?usp=sharing) and done in ad629e4

[2015-01-28 20:54] ekraffmiller commented on #1191
Adding info about this ticket from an email exchange with @scolapasta and @mcrosas -

On Fri, Jan 16, 2015 at 1:54 PM, Kraffmiller, Ellen <ekraffmiller@hmdc.harvard.edu> wrote:
Hi Merce,
I’m adding the logic for generating a global id when batch importing, and Gustavo & I wanted to check with you - if we are importing a DDI that already has an id, for example: <IDNo agency="handle">hdl:1902.1/0001

[2015-01-28 21:38] landreev commented on #1355
Please test.

[2015-01-28 21:50] raprasad commented on #1000
@kcondon
Able to reproduce the bug.  Checked in javascript which appears to fix the bug on mac browsers

[2015-01-28 22:36] scolapasta commented on #1284
Infrastructure is there. Passing to @mheppler to add to all the pages.

[2015-01-28 22:55] scolapasta opened #1394 "Files: Don't show download, if no access"

[2015-01-28 22:56] scolapasta commented on #1394
If you could also wire the request access button(s) with opposite logic, once this is in place.

[2015-01-29 00:14] scolapasta commented on #1348
Note: here is no separate logic for e-mails. Notifications are created and e-mail will be sent according to those rules.

[2015-01-29 08:37] michbarsinai commented on #1369
Issue 1 solved as of 6f14d45.

[2015-01-29 08:42] michbarsinai commented on #1369
First off - internal permission mechanism works (pew!)
[code]

[2015-01-29 08:53] michbarsinai commented on #1377
Solved as part of #1369.

[2015-01-29 09:00] michbarsinai commented on #1369
Over to Gustavo, as this seems to be a UI issue.

[2015-01-29 09:40] michbarsinai commented on #773
This now breaks over the change in data format:
[code]

[2015-01-29 09:46] michbarsinai commented on #773
Over to @ekraffmiller, as part of the API date format updates. Also, @scolapasta - given that the fundamental issue was fixed in 0bfbe28 - can this be moved to post-4.0?

[2015-01-29 16:04] pdurbin commented on #1387
@eaquigley this ticket seems to be a duplicate of #796 which says, "This ticket is about the UI/UX for the conversion."

[2015-01-29 16:09] raprasad commented on #1387
(Following up on above)
## Potentially problematic storage of User and Group Keys

Within Postgres, role assignments within the permissions system do not use traditional relational database keys, such as integers.   Instead, user and group identifiers are referenced as follows:
  - Table: roleassignment
  - Column: assigneeidentifier (not a ForeignKey)
	- User format:  @identifier.
        - Examp

[2015-01-29 16:27] kcondon commented on #1329
Closing

[2015-01-29 16:27] #1329 closed

[2015-01-29 16:28] eaquigley commented on #1364
@sekmiller here are the mockups that include unlinking a dataverse or dataset on a dataverse or dataset page as well as mockups for an admin view of this. I'll pop by in a few to review them with you. The table for the admin view should work like the table for File Restricting.

https://iqssharvard.mybalsamiq.com/projects/linkeddataverseslinkeddatasets/grid

[2015-01-29 16:28] pdurbin commented on #1151
The use case of converting a local/builtin account is being discussed in #796 and #1387 as well as the [Shibboleth Functional Requirements Document for Dataverse 4.0](https://docs.google.com/document/d/12Qru8Gjq4oDUiodI00oObHJog65S7QzFfFZuPU3n8aU/edit?usp=sharing). It's something we'd like for 4.0.

I assume in the UI, the user will click "Confirm" on a dialog that says something like "Really conv

[2015-01-29 16:31] mheppler commented on #1387
I'm just going to leave this here, with hopes that sanity will reign and we implement what we first designed for this workflow.

https://iqssharvard.mybalsamiq.com/projects/loginwithshibboleth/Dataverse%20Account%20II%20-%20Choose%20Username

[2015-01-29 16:36] pdurbin commented on #1387
See also the "Stop using `@pete` and `@uma` (strings) in role assignments" ticket: #1151

[2015-01-29 16:57] mheppler opened #1395 "Dataset Citation 'Why Cite?' - 404 Page Not Found"
The "Why Cite?" link in the dataset citation block goes to a 404 Page Not Found error page.

Here is the old bad link: https://dataverse-demo.iq.harvard.edu/guides/Data_Citation/index.html

Here is the new good link: http://best-practices.dataverse.org/data-citation/

[2015-01-29 16:59] mheppler commented on #1395
Fixed bad URL for the Why Cite? link on the dataset citation block.

[2015-01-29 17:09] eaquigley opened #1396 "Dataset Citation: Add Informational Text"
Please add in, "If you use these data, please add the following citation to your scholarly resources." to the dataset citation. This is the text we had in 3.6.

[2015-01-29 17:31] kcondon commented on #1142
OK, typo and view is gone. Mike pointed out the dataverse url on the dataset card is not prettified so passing to Mike for cleanup.

[2015-01-29 17:37] kcondon commented on #853
Works now, closing

[2015-01-29 17:37] #853 closed

[2015-01-29 17:41] kcondon commented on #836
Closing as a dupe.

[2015-01-29 17:41] #836 closed

[2015-01-29 17:43] kcondon commented on #31
Closing for housekeeping.

[2015-01-29 17:43] #31 closed

[2015-01-29 17:46] kcondon commented on #1367
Closing

[2015-01-29 17:46] #1367 closed

[2015-01-29 17:54] kcondon commented on #768
Closing as dupe.

[2015-01-29 17:54] #768 closed

[2015-01-29 17:58] eaquigley commented on #1277
@mheppler could you please add in the info text

[2015-01-29 18:02] mheppler commented on #1277
Added info help text in the backing bean (needs to be wired up still).

[2015-01-29 18:13] kcondon commented on #1085
Uploaded several times, cancelled, removed, etc. All worked. Closing

[2015-01-29 18:13] #1085 closed

[2015-01-29 18:14] kcondon commented on #610
Closing as duplicate.

[2015-01-29 18:14] #610 closed

[2015-01-29 18:17] kcondon commented on #239
Closing as duplicate

[2015-01-29 18:17] #239 closed

[2015-01-29 18:21] pdurbin commented on #1320
Here's the list of HTML tags GitHub allows: https://github.com/github/markup#html-sanitization

[2015-01-29 18:22] kcondon commented on #887
Closing based on Gustavo's testimony of Leonid's confirmation.

[2015-01-29 18:22] #887 closed

[2015-01-29 18:25] ekraffmiller commented on #1191
After talking to Merce & Gustavo, we decided that we WILL register new import datasets.  (Migrate and Harvest datasets will not be registered).
If a new dataset supplies an identifier, we will attempt to register that, else we will generate one.
If a new dataset supplies a protocol, authority or DOI, we will validate that against application Settings, and use that for the registration (currently w

[2015-01-29 18:25] kcondon commented on #1258
Closing due to consolidation.

[2015-01-29 18:25] #1258 closed

[2015-01-29 18:26] mheppler commented on #22
Manage
- [ ] Hide "View Collected Data" button if not enabled, or if not used by a dataset.
- [ ] Usage count not working.
- [ ] Not able to view collected data.

Create/Edit
- [ ] Wire up commented out edit help info text.
- [ ] Validation runs on empty Guestbook Name when you click Add Custom Question.
- [ ] Show empty Custom Question form by default, have Required selected by default, add "Sele

[2015-01-29 18:26] kcondon commented on #1134
Closing due to consolidation

[2015-01-29 18:26] #1134 closed

[2015-01-29 18:27] eaquigley opened #1397 "Terms of Use Acceptance: File Does Not Download"
I clicked Save Changes (this should say Accept by the way) on the Terms of Use pop up and the file never began to download.

[2015-01-29 18:31] kcondon commented on #1370
OK, those roles are removed from ds perms role assignment view. Closing

[2015-01-29 18:31] #1370 closed

[2015-01-29 18:34] ekraffmiller commented on #1191
@posixeleni , we have one more question for this ticket, that Gustavo wanted me to ask you - for the Import New Dataset use case, should we allow the create dataset command to succeed even if registration fails? (Currently that's how it works when creating a dataset within the app, or with the SWORD API.
Thanks,
Ellen

[2015-01-29 18:40] posixeleni commented on #1191
@ekraffmiller I'm thinking we should be consistent with the behavior used in the API and GUI.

However, we should have a way to alert us that the registration (for DOI) failed. Will it automatically try to register a DOI later on?

[2015-01-29 18:40] eaquigley commented on #1365
@sekmiller @mheppler needs logic put in for the search/browse cards to be

[2015-01-29 18:52] landreev commented on #809
The "remains stuck" part had been fixed a while ago.
But I've also added a better error message. Now you should be getting the red triangle of failure; with the embedded text that says "one row only...". If you can think of a better wording for the message - do let me know.

Also, since a file needed to reproduce this is going to be tiny by design - it'll likely be subject to the "no automatic pag

[2015-01-29 18:58] michbarsinai commented on #1151
It should be enough to change the authenticatedUserLookup table. The row that points to @finch (i.e. has @finch's id in the authenticateduser_id column) should have the shib provider id in the authenticationproviderid column, and  https://idp.testshib.org/idp/shibboleth|ec5b1df9 in the persistentuserid column.

[2015-01-29 19:28] pdurbin commented on #1151
I disagree. For example, as new roles are assigned to the converted user, the `roleassignment` table would have a weird mix of old pre-conversion identifiers (`@finch`) and growing number of post-conversion identifiers (`@https://idp.testshib.org/idp/shibboleth|ec5b1df9`) for the same (converted) user.

@scolapasta opined that the `datasetversion_dataverseuser` could probably use the primary key o

[2015-01-29 19:32] michbarsinai commented on #1151
I agree with everything here, except for the shib persistent identifiers (https://idp.testshib.org/idp/shibboleth|ec5b1df9) leaking beyond the user lookup process. The shib provider has all the information it needs to automatically create an OK identifier. We could (should?) make a flow where the user can select/amend this username before it's created.

[2015-01-29 19:39] pdurbin commented on #1191
For SWORD I plan to start setting registrationRequired to true in the CreateDatasetCommand. I had asked @sekmiller for this but haven't gotten around to changing/testing it.

[2015-01-29 20:26] kcondon commented on #1317
was not able to reproduce, closing

[2015-01-29 20:26] #1317 closed

[2015-01-29 20:30] kcondon commented on #1349
Works, closing

[2015-01-29 20:30] #1349 closed

[2015-01-29 20:40] eaquigley commented on #1361
Text as requested is in. Closing ticket.

[2015-01-29 20:40] #1361 closed

[2015-01-29 20:56] eaquigley commented on #832
Few notes and things to fix after reviewing this with @sekmiller

- [ ] When a dataset is returned for modification, dataset contributor should receive a notification
- [ ] When a dataset is published, the submit for review button should not appear until something in the dataset has been edited
- [ ] When a dataset is published, the contributor should receive a notification

[2015-01-29 21:16] kcondon commented on #1395
Fixed, closing

[2015-01-29 21:16] #1395 closed

[2015-01-29 22:25] kcondon commented on #993
Ok, did basic smoke test and works for purpose of api testing. Closing.

[2015-01-29 22:25] #993 closed

[2015-01-29 22:32] landreev commented on #1021
Since this is another ancient ticket, a quick summary:
- zip upload was failing silently; wasn't unzipped, and wasn't saved as is either;
- this was found to be caused by binary characters in individual file names, inside the archive;
- not just any binary characters; but binary characters that are not valid UTF8 entries.
- this was first found with one of Akio's (?) zip files, HomeMade.zip, which

[2015-01-29 22:41] kcondon commented on #1355
OK, url now has key, key is generated for user when 2ravens is called. Closing.

[2015-01-29 22:41] #1355 closed

[2015-01-29 22:44] kcondon commented on #1377
OK, this seems to have been reported in #1369, closing.

[2015-01-29 22:44] #1377 closed

[2015-01-29 22:59] kcondon commented on #1369
OK, the first issue was one of the panels (access?) did not make sense for datasets, only dataverses. That is resolved.
The second is that assigning permissions to groups does not seem to grant them the permissions in reality. So, assigning editor to "Anyone with an account" does not really make them an editor.

[2015-01-29 22:59] landreev commented on #1371
Seems to be working properly now. In the screen shot below I'm logged in as a non-owner...
Please re-test.
![screen shot 2015-01-29 at 5 51 17 pm](https://cloud.githubusercontent.com/assets/737558/5967963/759048de-a7e0-11e4-941a-e9391be2cfc1.png)

[2015-01-29 23:04] eaquigley commented on #701
Passing this ticket to QA since I've confirmed there are individual tickets created for remaining issues.

[2015-01-29 23:15] landreev commented on #1362
Seems to be working now.
Please report if it heads its ugly rear again.

[2015-01-29 23:24] kcondon commented on #1236
OK, was updated in recent db update, did smoketest, still working, closing

[2015-01-29 23:24] #1236 closed

[2015-01-30 00:56] landreev commented on #1144
@kcondon
I believe the delete should be working now, without any exceptions; but the actual datafile delete seems to be broken at this point; I'll wait till it's fixed - just mentioned it to Gustavo. We'll look into it tomorrow.

I'll ping Liz and Mike about type-specific icons.

[2015-01-30 02:58] landreev commented on #1394
Gustavo,

I've added extra permission logic to the download and request access buttons;
it's based on

permissionServiceBean.on(fileMetadata.dataFile).has('DownloadFile')

and Permission Service now handles granting download access to released unrestricted files.

Please review.

[2015-01-30 03:07] landreev commented on #505
@eaquigley
@mheppler
@scolapasta :
I've had this ticket for a while; I'm assuming it's for showing this type-specific file icons on both the dataset page and search cards;
shouldn't be difficult; but it depends on having the actual file-specific icons around.
Is it still part of 4.0?
Is there a dedicated ticket for creating these icons? Who's making them, Dwayne? (or Mike?)

[2015-01-30 03:15] landreev commented on #585
@posixeleni :
Eleni, I've spoken to Gustavo and Liz about this; we decided that we'll attend to putting together any best practices/guidelines documentation in 4.1.

In the short run though (for 4.0), any chance you know of any real-life Excel files, that any of our partners would actually want to ingest as tabular data?

I'll try and run the ingest thingy on more XLSX files from production; but i

[2015-01-30 14:38] pdurbin commented on #1151
@michbarsinai is sounds like you'd like to have the Shibboleth code refactored to store an "OK identifier". I believe your definition of OK is this:

- the identifier should be a String
- the identifier should be unique for the useridentifier column in the authenticateduser table
- the identifier should be unique for the persistentuserid column in the authenticateduserlookup table
- the identifier

[2015-01-30 16:37] posixeleni commented on #585
@landreev unfortunately my leads for getting real-life Excel files from our partners fell through. They never sent me any after several follow-up attempts. Sorry I couldnt be of more assistance. But will send some your way if I ever do get some excel data from in-the-wild.

[2015-01-30 17:47] pdurbin commented on #585
I mentioned we're looking for XLSX files [#sciencelab](http://logs.glob.uno/?c=mozilla%23sciencelab&s=30+Jan+2015&e=30+Jan+2015) and @kaythaney from @mozillascience [tweeted about it](https://twitter.com/kaythaney/status/561216182779658240)! Thanks @kaythaney! She also suggested emailing http://lists.software-carpentry.org/mailman/listinfo/discuss_lists.software-carpentry.org which is an organizat

[2015-01-30 17:53] pbulsink commented on #585
Any specific type of excel files you're looking for? I'm sure I've got (anonymized) UV-Vis data (absorbance vs. wavelength) kicking around if you want them.

[2015-01-30 17:54] scolapasta opened #1398 "Code Cleanup: general datasetfield and metadatablock"
Some time after 4.0, I'd like to review this and see if there are things that can be cleaned up.

Some possibilities - can we use same methods to avoid N/A values for edit and display
(edit uses getValueForEdit, while display uses isEmptyForDisplay, which calls getValues())

look at getDisplayValue methods on DatasetField

see how mdb.isEmpty is used?

[2015-01-30 17:57] scolapasta opened #1399 "Review what to do for N/A values in the citation"
In particular for title and author, but it would be true for ANY of the fields that are gotten from the dynamic datasetfields

[2015-01-30 17:58] scolapasta commented on #1246
this should be all set.

We do display N/A for the title as we need to display something (though it does not show up in the tab) and we do display currently in the citation. (issue #1399)

[2015-01-30 17:58] posixeleni opened #1400 "Provide File-Level Data Citation for All Files"
As shown in #1066 only tabular data files are currently able to export a citation at the file-level. However, there have been discussions with external (Data Citation Index) and internal stakeholders that we should support exporting citations for ALL files.

@eaquigley @scolapasta can you see if this is trivial for us to do for 4.0 or if we should postpone this for later?

[2015-01-30 18:16] devbioinfoguy commented on #585
Greetings! I have a ton (ok, quite a #) of Excel files I've generated over the past 10 years doing evolution and developmental biology research. Happy to pass a few along.

Interestingly, DataCarpentry (sister group to Software Carpentry (SWC)) is looking to roll out workshops to subject matter areas: biology (genomics) and social sciences first. Structured data/Excel is going to be one of their m

[2015-01-30 18:27] sekmiller commented on #832
Issues noted above have been fixed and checked in

[2015-01-30 18:37] sekmiller commented on #1262
Per conversation with Eleni, for simplicity's sake we will display only a list of keywords and the first description.  Users my click on the metadata tab for more details.

[2015-01-30 19:46] eaquigley commented on #832
@kcondon to test this:

1) Have a default contributor for a dataverse be either an editor or manager
2) Create a dataset using an account that isn't a superuser
3) Submit for review button should appear

[2015-01-30 19:47] scolapasta commented on #207
Passing to @posixeleni to set values in displayFormat in db for these (per #1319).

[2015-01-30 19:53] scolapasta commented on #1319
Added infrastructure for this. Will now display compound values per the value in displayFormat.

Passing to @posixeleni to work with @mheppler and deciding what the formats should be and adding to the TSV files.

[2015-01-30 19:58] scolapasta commented on #1319
Screen shot of some examples:

![displayformatexamples](https://cloud.githubusercontent.com/assets/4268292/5982373/38632e3a-a890-11e4-8721-273838da0232.jpg)

Us the displayFormat of the parent field if you want a separator (like a comma); otherwise just fill in child fields with using #VALUE, #NAME and formatting.

(#EMAIL is also provided for now for hidden e-mail message)

[2015-01-30 20:00] eaquigley commented on #1400
@landreev Can you answer @posixeleni 's question above on if this will be trivial or not. Thanks!

[2015-01-30 20:02] sekmiller commented on #1262
Fix is checked in and may be tested after next build

[2015-01-30 20:03] sekmiller commented on #1262
@pdurbin does this need your attention. See Gustavo's 12/15/14 note....

[2015-01-30 20:12] scolapasta commented on #1394
Reviewed, looks good, passing to QA.

[2015-01-30 20:35] posixeleni commented on #585
Thanks so much @pbulsink and @devbioinfoguy!
We would love any anonymized xslx files but @landreev can let you know if he needs anything specific to test with. Please email us your xlsx files to supportATdataverseDOTorg and if you dont mind we may bug you to confirm with us that these files are being ingested correctly.

[2015-01-30 21:18] scolapasta commented on #1369
Actually, when I tested this worked. I don't see the dataset on the search page (but this is indexing related, and I don't think groups are currently used for indexing).

But if I try the direct link to the dataset, I am able to view the dataset and also to edit it.

[2015-01-30 21:39] scolapasta commented on #1384
Unless you are a superuser, created, edit and, clone are now blocked.

[2015-01-30 21:49] posixeleni commented on #1305
@kcondon here are some answers to your questions:
-Life Science block says field name Other Organism in ticket, similar to existing Organism field but in app says Other Organisms, OK?
[Eleni: Thanks for catching this. Will fix typo in field name in tsv and check this in for beta12 to make sure it is consistent.]
-There is supposed to be a new notes field in the GSD block but it is missing.
[Eleni:

[2015-01-30 21:52] posixeleni commented on #1353
@kcondon I will fix the field display name in the citation.tsv file so that it displays correctly.

[2015-01-30 22:07] michbarsinai commented on #1151
Part of this was answered by email.

The rest - good enough means human readable, memorable, and based on the user data. Actual algorithm needs to be approved by Liz, who asked for this explicitly. It may require a some UI.

As for:

No. The pair (idprovider id, persistent user ID) has to be unique. authenticateduserlookup can have duplicate values.

Sent from my iPhone

[2015-01-30 22:09] michbarsinai commented on #1387
Discussion was moved to email. (TL;DR: either This ticket can be closed, or someone gets a Turing award :-) )

Sent from my iPhone

[2015-01-30 22:19] sekmiller commented on #1242
Fixed and available for testing after next build

[2015-01-30 22:29] sekmiller commented on #1128
Validation messages are showing up and dataset may be saved once all required fields are added.  Please re-test.

[2015-01-30 22:36] sekmiller commented on #1239
I'm not able to get this to happen.  Please re-test and let me know a specific set of steps to recreate.

[2015-01-31 00:09] scolapasta commented on #1348
So, some decisions I made that we can review:
- see earlier comment about e-mails
- no confirm popup - the button changes to Access requested, so user knows request got sent.
- notifications needs work, but unfortunately, that will not be able to be done to until post 4.0. What that means is that the notification may not have all the dynamic details we want (i.e file name/s, username)
- also not r

[2015-01-31 01:36] pdurbin opened #1401 "Shibboleth: Institution-wide Shibboleth groups"
As explained in the [Shibboleth Functional Requirements Document for Dataverse 4.0](https://docs.google.com/a/harvard.edu/document/d/12Qru8Gjq4oDUiodI00oObHJog65S7QzFfFZuPU3n8aU/edit?usp=sharing), we plan to support Institution-wide Shibboleth groups.

In practice this means creating a groups with names like "All Harvard PIN/Shibboleth Users" or "All testshib.org Shibboleth Users" that pay attenti

[2015-01-31 02:01] landreev commented on #585
@pbulsink
@devbioinfoguy
Philip, Bob,
Yeah, what Eleni said - thanks so much!
As long as they are XLSX files (i.e, the "new", xml-based Excel format - as opposed to the old, proprietary MS binary format)... We are not looking for any specific type of files; as in, we don't know yet what to specifically look for. Support for Excel format is a brand new feature in the Dataverse. Because, historicall

[2015-01-31 06:24] tracykteal commented on #585
People with data in Excel aren't usually thinking about exporting it to another tool and rarely have it formatted in a way that would make it easy or even possible to ingest. As @devbioinfoguy mentions, that's why in Data Carpentry, we have a 'data organization in spreadsheets' lesson (https://github.com/datacarpentry/datacarpentry/tree/master/lessons/excel/ecology-examples). So, it sounds like yo

[2015-01-31 12:10] pdurbin commented on #1401
As of https://github.com/IQSS/dataverse/commit/4a4310b0a08f1b23f4380692c832495234e4c716 you can log into dvn-build with the "TestShib IdP" and see that you are part of the "All testshib.org Shibboleth Users (&shib/1)" group with the debugging output I added to the screen when Shibboleth is enabled:

![testshib](https://cloud.githubusercontent.com/assets/21006/5987978/2ff09a20-a918-11e4-892c-30f525

[2015-02-02 12:46] raprasad commented on #828
@ekraffmiller, yes, fine with me to close. thanks

[2015-02-02 12:46] #828 closed

[2015-02-02 13:37] posixeleni commented on #585
Ticket in RT w/ excel files for @landreev to test out:

[2015-02-02 14:14] michbarsinai commented on #91
Groups are added (back-end and API, including docs). Below is a printout of a very simple test.

[code]

[2015-02-02 14:48] posixeleni commented on #1353
@kcondon Changed the field displayNames to solve this display issue in Advance Search. @pdurbin I dont think this needs a schema.xml update for it to show. This should just need a db drop.

[2015-02-02 14:49] posixeleni commented on #1305
@kcondon fixed the field displayName typo for Other Organism (removed the "s" at the end of Other Organism). This should solve this ticket. @pdurbin dont think this needs a schema.xml just a db drop.

[2015-02-02 14:53] posixeleni commented on #1215
@kcondon if you did not confirm this new block while testing for #1353 please confirm that this metadata block is displaying. Should show as is represented in this tsv https://docs.google.com/spreadsheet/ccc?key=0AjeLxEN77UZodHFEWGpoa19ia3pldEFyVFR0aFVGa0E#gid=7

Feel free to close if you have already tested this.

[2015-02-02 14:56] posixeleni commented on #1213
@kcondon if you did not test for this new block in #1353 please do so. This should match what is in the tsv file https://docs.google.com/spreadsheet/ccc?key=0AjeLxEN77UZodHFEWGpoa19ia3pldEFyVFR0aFVGa0E#gid=6

[2015-02-02 14:59] posixeleni commented on #1166
@kcondon if you did not test this new block in #1353 then please do so. Should match what is in this tsv https://docs.google.com/spreadsheet/ccc?key=0AjeLxEN77UZodHFEWGpoa19ia3pldEFyVFR0aFVGa0E#gid=8

[2015-02-02 15:03] posixeleni commented on #907
@scolapasta still need to work with a developer to make sure we can export DataCite, DC (for OAI) (already did DC Terms w/ Bob), and ISA-Tab. Who will be assigned to work on these and when?

[2015-02-02 15:04] posixeleni commented on #1115
This has been completed. See #1305 for updates/fixes.

[2015-02-02 15:04] #1115 closed

[2015-02-02 15:05] posixeleni commented on #1137
This has been completed and tested see #1305.

[2015-02-02 15:05] #1137 closed

[2015-02-02 16:11] sekmiller commented on #1351
Fixed and checked in

[2015-02-02 16:47] raprasad opened #1402 "Update "dataverse_installation_name" parameters used for WorldMap metadata"
Currently, this parameter is hardcoded.

Use the installation url, or another identifier.*

A single WorldMap instance will do the mapping for all dataverse installations.  When storing Dataverse metadata for a map, use "dataverse_installation_name" to identify the specific Dataverse installation.

Helpful info from @pdurbin
[code]
- "That's from https://github.com/IQSS/dataverse/blob/master/src/m

[2015-02-02 17:11] pdurbin commented on #1387
I wouldn't say that. A significant amount of refactoring work has been proposed: https://github.com/IQSS/dataverse/issues/1151#issuecomment-72210257

That's my understanding, anyway.

[2015-02-02 17:35] posixeleni commented on #1319
Listed below are ALL metadata blocks that have compound fields and the names of the compound fields (parent). As you can see below the Citation block has the most compound fields and will be the most important block to have display properly in 4.0

**Citation**
-otherId
-author
-description
-keyword
-topicClassification
-publication
-producer
-contributor
-grantNumber
-distributor
-timePeriodCover

[2015-02-02 17:39] posixeleni commented on #1319
@mheppler for you to look at how Gustavo and I tweaked the display of the compound fields I have just checked in an updated citation.tsv in a new branch 1319-compound-fields

Would you please run a build of this branch and let me know what you think of the display of the compounds and let me know if you want me to tweak.

Also @scolapasta for the display of Producer and Distributor logos I put in

[2015-02-02 18:39] scolapasta opened #1403 "Automatically add a shib group when a user from a new institution first logs in"
From https://github.com/IQSS/dataverse/issues/1403#issuecomment-712435403 below:

At Harvard, we are changing our curation workflow to require validation of users. We do plan on allowing users of some shib IDPs to automatically be part of this group, so automatically creating shib groups could be helpful for this.

[2015-02-02 18:55] scolapasta commented on #1379
This ticket is specifically group UI - general group UI ticket is #92

[2015-02-02 18:57] scolapasta commented on #647
Moving to QA, as we have not seen this since the glassfish / weld changes.

[2015-02-02 19:28] pdurbin commented on #1353
@posixeleni from looking at d6586ca067e2cd436113ae9d6183de24f302532f I agree with you.

[2015-02-02 19:29] pdurbin commented on #1305
@posixeleni yep, I agree, based on what I'm seeing at f3daf19c3df552c8ab2d8bbdcba04ace2f691826

[2015-02-02 19:33] kcondon commented on #1354
Was able to create a dataset with Sword. Phil put in a workaround, not sure what the final solution will be.
Closing.

[2015-02-02 19:33] #1354 closed

[2015-02-02 19:34] raprasad opened #1404 "For mapped datasets, expose WorldMap file export links: KML, geojson, geotiff, png, etc."
evaluate with DV team / file landing page..

[2015-02-02 19:53] michbarsinai commented on #1380
Consider merge of permissionsFor and permissionsForUser in the permissionServiceBean

[2015-02-02 20:07] mheppler commented on #832
I am taking this to do some UI clean up.

[2015-02-02 20:44] scolapasta commented on #963
Discussed with @pdurbin and @michbarsinai and we decided that we don't think we need this.

Closing ticket and there is nothing to test (it was a code related issue).

[2015-02-02 20:44] #963 closed

[2015-02-02 20:47] scolapasta opened #1405 "Code: adjust createAuthenticatedUser method to reject non unique usernames"
Currently this method will add a digit to a user name if it is already being used. This works well for user identifiers that are cretaed automatically for shibboleth, but for built in users it needs to fail, so the user can change their input.

[2015-02-02 20:49] posixeleni commented on #1385
@eaquigley @scolapasta I'm pretty sure this default license should be set universally across the whole application and not just at the GUI. However, the one question I have is:

How do you make it evident to users in the API that by default the license would set to to CCO unless someone puts in custom Terms of Use? This would need to be set before allowing someone to be able to publish their datas

[2015-02-02 21:32] mheppler commented on #832
Moved "Submit Dataset for Review" button into place where the "Publish Dataset" would be. Changed button text after submission to "Dataset Submitted for Review". The buttons in that section of the dataset need some spacing, but I am addressing that in another ticket (ref #1325).

[2015-02-02 22:46] posixeleni commented on #769
What if, since Subject IS a controlled vocabulary we have the system decide if it should map to Subject or Keyword?

So the logic would go as such for the mapping:

Map dcterms:subject to both subject and keyword.
IF term matches controlled vocabulary THEN
Map dcterms:subject to Subject
ELSE map dcterms:subject to Keyword.

Reviewing this with @mcrosas @scolapasta

[2015-02-02 22:47] pdurbin commented on #1151
**Now** it should be, as of this commit I just made: 20c38b630173389a1fa0e00f635ba1bdf5f52367 :)

As @michbarsinai and @scolapasta and I discovered, the `createAuthenticatedUser` persists the same `authPrvUserPersistentId` string to the following places:

- the `useridentifier` column of the `authenticateduser` table
- the `persistentuserid` column of the authenticateduserlookup table

@scolapasta

[2015-02-02 23:23] kcondon commented on #805
Tested all cases, works as described. Closing.

[2015-02-02 23:23] #805 closed

[2015-02-02 23:47] pdurbin commented on #1401
Per @scolapasta I'm giving this to QA but please note that there is something going on with permissions first reported in #1380 such that Shibboleth users aren't seeing the "Add Data" button when they should. "No effect".

This ticket is more about the creation of Shibboleth groups, and assigning roles like this:

![shibrole](https://cloud.githubusercontent.com/assets/21006/6011599/bc7b8640-ab0b-1

[2015-02-03 09:21] raprasad commented on #1402
Updated here: https://github.com/IQSS/dataverse/commit/b5344966414d26d2f31d28ce552de9844f52cb3f

[2015-02-03 09:21] #1402 closed

[2015-02-03 15:51] mheppler commented on #1142
Found that I also have ticket #1111 that outlines other instances of where the Pretty Faces needs to be used. Sending this back to QA to close. Will keep the other ticket for further development.

[2015-02-03 15:53] mheppler commented on #1111
Ran a search, found 40 references to "dataverse.xhtml" that are still in the system. Spent 15 minutes trying to resolve a few of them relating to the dataverse_header, search-include and login pages, but didn't get anywhere.

[2015-02-03 16:59] kcondon opened #1406 "System Config: Set proper startup scripts and order of startup for test/dev vms."
Recently an ops patch and restart showed us our service start up procedure isn't fully functioning: some services were not started and the order is not specified. Additionally, need to handle secure linux.

These are the steps, roughly speaking, that need to occur for proper startup:
1. service postgresql restart (wait for it to complete)
2. setenforce permissve
3. service httpd restart
4. service

[2015-02-03 17:08] pdurbin commented on #1406
Sadly, because we are using the `mod_shib` Apache module we **can't** run with SELinux in "Enforcing" mode:

[2015-02-03 17:10] mheppler commented on #1142
Fixed dataverse URLs on search-include that still referenced dataverse ID's, which don't work with the PrettyFaces URLs.

Found that this bug in the search-include (as well as the "View All Datasets and Dataverses >" link hidden under the "Preview Recently Published Datasets [+]" link) were easy fixes, so I checked those in quick.

Please forgive the dup comment above.

[2015-02-03 17:14] eaquigley commented on #1397
@sekmiller okay this is getting there! One last thing is that there is nothing denoting required fields. I logged in and had the pop up appear while downloading a file, I didn't fill out Institution and Position. Clicked accept and nothing happened. Clicked on download again, filled out Institution and Position and the file downloaded. So we need the required asterisks as well as have error messag

[2015-02-03 17:48] kcondon opened #1407 "DOI: Provide a way to update server urls for already registered DOIs."
We need a way to administratively update server urls for DOIs that have already been registered in cases where the service url changes. This was requested by a partner, Odum.

This functionality is inline with our existing handle utilities where a handle could be "fixed" but was not updated to include DOI.

[2015-02-03 17:51] kcondon opened #1408 "Index: Seemingly random index error in logs: illegal character: http://0.0.0.0/"
I keep seeing this error in the logs on build but am not sure what's causing it:

[2015-02-03T12:47:22.978-0500] [glassfish 4.1] [WARNING] [AS-WEB-CORE-00230] [javax.enterprise.web.core] [tid: _ThreadID=29 _ThreadName=http-listener-1(5)] [timeMillis: 1422985642978] [levelValue: 900] [[
  The error-page /usr/local/glassfish4/glassfish/domains/domain1/applications/dataverse-4.0/faces/404.xhtml or /f

[2015-02-03 17:58] eaquigley opened #1409 "File Tab: Add Request Access Button for non logged in users"
When a file is restricted and the option to request access to a file is enabled, a non logged in user sees nothing about this. When a user is logged in, they see a request access button. Could you please add in the request access button even when a user is not logged in that when clicked, opens a log in pop up. @scolapasta said this was something you could do but would need some rendering help pos

[2015-02-03 18:33] sekmiller opened #1410 "Update Version Differences to account for items added since development"
There have been several additions to the dataset versions including file category, file restriction and terms of use and access.  We need to add these to the differences displayed.

[2015-02-03 19:35] eaquigley commented on #90
Met with @posixeleni and she is going to find an example of a dynamic collection in 3.6 for us to try in 4.0 to see if saved search is critical for 4.0 or if it can be in one of the quick releases after 4.0.

[2015-02-03 20:14] eaquigley commented on #1387
As mentioned during the weekly team meeting yesterday, this ticket is more about making sure users can tell the differences between logging in with a built in account and logging in with Shibboleth NOT about all the technical details as listed above. That discussion and the decision reached is more of a fit for #1151.

[2015-02-03 20:29] michbarsinai commented on #1387
BTW, here's NYT on the revamped twitter on boarding process. Some parts may be applicable for us (but not for Beta 12).
http://bits.blogs.nytimes.com/2015/02/02/twitter-displays-its-value-with-instant-timeline-for-new-users/?_r=1&utm_medium=email&utm_campaign=Versioning <http://bits.blogs.nytimes.com/2015/02/02/twitter-displays-its-value-with-instant-timeline-for-new-users/?_r=1&utm_medium=email&u

[2015-02-03 20:36] mheppler commented on #1397
Cleaned up the layout of the Download File popup for datasets with the Guestbook enabled. Fixed the labels and layout.

[2015-02-03 21:13] sekmiller commented on #1397
Added asterisks

[2015-02-03 21:23] sekmiller commented on #1397
Added Error message to page. Catching the unanswered q's in the pop-up would take more coding.  Let me know the priority on that.

[2015-02-03 21:32] mheppler commented on #1397
Finished layout clean up.

[2015-02-03 21:39] mheppler commented on #1397
Added back in asterisks for required custom questions in the Guestbook workflow for dataset file download.

[2015-02-03 21:41] mheppler commented on #1397
Additional items to-do:
- Display error message in the popup and not on the dataset page.
- Position isn't automatically filling in user account info.

[2015-02-03 21:56] mheppler commented on #1396
Added info text to citation block on dataset, to go along with the Why Cite? link.

[2015-02-03 22:28] kcondon commented on #1142
Fixed, closing.

[2015-02-03 22:28] #1142 closed

[2015-02-03 22:34] kcondon commented on #1396
Text added, maybe a little too light a shade of gray? Closing

[2015-02-03 22:34] #1396 closed

[2015-02-03 22:48] kcondon commented on #1362
OK, it headed it's ugly rear: if occurs if the dataset is published but works if it is unpublished.

[2015-02-03 22:54] kcondon commented on #1271
OK, verified the above works as described. Closing.

[2015-02-03 22:54] #1271 closed

[2015-02-03 22:55] kcondon commented on #1371
OK, works, closing

[2015-02-03 22:55] #1371 closed

[2015-02-03 23:33] kcondon commented on #1397
All the above changes are in place but the original issue of not filling in required fields not downloading file with no resulting feedback is still happening but actually throws error in server log:

[2015-02-03T18:32:07.061-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.DatasetPage] [tid: _ThreadID=48 _ThreadName=jk-connector(2)] [timeMillis: 1423006327061] [levelValue: 800] [[
  Gues

[2015-02-03 23:40] kcondon commented on #1397
OK, I think I accidentally intercepted a ticket for @eaquigley . Sending back to her.

[2015-02-04 00:04] landreev commented on #944
The refreshing functionality has been much improved.
I'm not claiming I have totally fixed it; I imagine it can still happen, i.e. the page can still fail to refresh on its own... But it should be much better now.

[2015-02-04 00:07] kcondon commented on #1353
OK fixed, search works. Closing.

[2015-02-04 00:07] #1353 closed

[2015-02-04 00:15] kcondon commented on #1394
Removing downloading works but explore button still appears. Passing back.

[2015-02-04 00:28] kcondon commented on #1369
Yes, this works as well, closing

[2015-02-04 00:28] #1369 closed

[2015-02-04 00:34] kcondon commented on #1305
OK, fixed, closing.

[2015-02-04 00:34] #1305 closed

[2015-02-04 00:35] kcondon commented on #1166
Tested as part of #1305, closing

[2015-02-04 00:35] #1166 closed

[2015-02-04 00:35] kcondon commented on #1215
Tested as part of #1305, closing

[2015-02-04 00:35] #1215 closed

[2015-02-04 00:36] kcondon commented on #1213
Tested as part of #1305, closing

[2015-02-04 00:36] #1213 closed

[2015-02-04 00:40] kcondon commented on #1239
Could not reproduce @scolapasta cannot feature any dv below immediate child, plus if try to feature dv from a dv, not root level, featured dv feature never appears. Comment?

[2015-02-04 16:00] eaquigley commented on #1397
Assigning this to @sekmiller to work on the comments @mheppler added in above as well as the comment from @kcondon

[2015-02-04 16:07] posixeleni commented on #1262
@sekmiller Should we be seeing this fix in build? I see the values for the Keyword field and the description but I dont see the field name "Keyword"

![image](https://cloud.githubusercontent.com/assets/5013837/6043929/f53b3d88-ac5d-11e4-8ddc-a71dea8b15dd.png)

[2015-02-04 17:59] kcondon opened #1411 "Guestbook: Various issues"
- [x] 1. Weird edit/update issues
There are some weird page update issues when creating/ editing a custom guestbook and it varies between FF and Chrome on my mac.
The fundamental issue is trying to create more than one custom question of different types or just creating one and switching between types. Behavior varies from changing all custom fields to the same type, not changing type back from se

[2015-02-04 18:30] kcondon opened #1412 "Guestbook: Guestbook does not appear when enabled and user downloads file."
This did work at one point but now when I create/enable a guestbook and download a file, I do not see the guestbook. Might this be conflicting with the TOU/Access popup?

[2015-02-04 18:42] kcondon commented on #1412
This was a user error, sorry!

[2015-02-04 18:42] #1412 closed

[2015-02-04 18:54] landreev commented on #990
Spoke to Gustavo about this briefly;
As an immediate fix/improvement, I'm doing the following:
If you upload a few files at the same time, first one or more large files, then a bunch of small ones (just like in your scenario above), the ingest will process them ordered by size.
So you should never end up in a situation where small and "cheap" files are stuck in progress waiting for one giant file

[2015-02-04 18:57] landreev commented on #910
Should be working correctly now.
Files that were caught in progress by the system crash/reboot will not be stuck in the "in progress" state.
They will simply show up as regular files (and any dataset locks will be removed).
Perhaps we could consider automatically re-scheduling such files for another ingest attempt?

[2015-02-04 19:04] landreev commented on #1394
OK, added the permission check for the dataexplore (tworavens) button.
Also added it for the worldmap links... I'm not 100% positive about these though - so if these are still not looking right, please give this to Raman.

[2015-02-04 19:35] scolapasta commented on #368
This is all set.

Test is to make sure there are no issues when loading a new setup and when editing and validating a dataset. Also, that dates and e-mails gets indexed the way we want them to.

[2015-02-04 19:37] scolapasta commented on #1239
Only featuring immediate children is not ideal, but we may have to live with for 4.0. But not being able to feature below root seems to me a bug.

[2015-02-04 19:56] kcondon opened #1413 "Terms of Use: Allows select custom licensing but leaving terms of use blank."
Minor issue but you can select custom licensing but then put nothing for terms of use.

[2015-02-04 20:11] kcondon opened #1414 "Terms of Use: Does not prompt when choosing Explore."
Terms of use popup appears on download for a tabular file but not for explore, which allows downloading of subsets.

[2015-02-04 20:14] landreev commented on #1362
@kcondon
@scolapasta
Can't immediately answer this; the null filemetadata id that we've just seen is a serious smoking gun too.
It is most likely to blame for the delete bug (*all* files get deleted, when you attempt to delete a file in a release version) too. So we'll need to look into this separately.

[2015-02-04 20:15] landreev commented on #1362
@kcondon
@scolapasta
... a serious smoking gun *though*.

[2015-02-04 20:15] eaquigley commented on #1413
@kcondon Merce said she was fine with this. I chatted with her about it last week.

[2015-02-04 20:20] kcondon commented on #1413
OK but then when you try to use it, you cannot download anything because the checkbox does not appear.
________________________________
From: Elizabeth Quigley [notifications@github.com]
Sent: Wednesday, February 04, 2015 3:15 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Terms of Use: Allows select custom licensing but leaving terms of use blank. (#1413)

@kcondon<https://githu

[2015-02-04 20:24] posixeleni commented on #368
@scolapasta also added "none" as a valid fieldType for parents of compound fields. I am checking in changes to the metadata block tsv files to reflect this modification now.

[2015-02-04 20:24] kcondon opened #1415 "Terms of Use: remove checkbox and just use the accept button at the bottom as it is duplication."
When terms of access is enabled, the popup only shows an accept button at the bottom. When terms of use is enabled, it has an I accept checkbox as well as the accept button at the bottom. This is a duplication, though it won't work if you don't click the checkbox.

It looks weird when you have both tou and toa enabled with the checkbox in the middle and the accept button at the bottom. So, please

[2015-02-04 20:33] posixeleni commented on #1319
Will check-in fixes to citation.tsv
- Spacing issue with the commas in the Related Publication field is my bad and I can fix that easily with the next build by adding the comma at the parent rather than each compound field.
- Spacing issue between the two Distributors (sorry said authors earlier): this may need to be a hack for now (add <br/> at the end of the logo URL HTML. But not sure how to so

[2015-02-04 20:40] scolapasta opened #1416 "Metadata blocks: if parent has field has required, child dv's should be forced to be required"

[2015-02-04 20:44] posixeleni commented on #207
Per #1309 I have enabled this in the displayFormat field in the db. However, will need @mheppler to help me with the CSS styling to make these logos display in a uniform size. A more robust solution will be needed after 4.0 to look into implementing a feature for users to upload their distributor or producer logos using a form within the dataset.

[2015-02-04 20:46] scolapasta opened #1417 "In setup all, assign root dv all subjects"

[2015-02-04 20:46] kcondon commented on #701
OK, tested this reasonably well, found a bunch of issues that have been reported separately. Closing.

[2015-02-04 20:46] #701 closed

[2015-02-04 20:50] kcondon opened #1418 "Download Data: Add place in UI to view no guestbook downloads and all downloads."
Download data is associated with a guestbook but there are a few cases where it would be good to view download data without respect to a particular guestbook.
1. Download data where there is not guestbook configured.
2. All data, regardless of guestbook, for cases where guestbook was deleted or folks want to focus on data across the dataverse: by file, etc.

[2015-02-04 20:51] landreev commented on #1406
I'll attend to this when I have time.
But this is not a beta 12 issue.

[2015-02-04 20:54] landreev commented on #616
We don't have the import utility.
We do have sword, which I tested, and it seems to be working with any UTF8 characters in the name.
Not sure what else to do with this ticket.

[2015-02-04 20:58] scolapasta commented on #1378
Note: what is especially needed is indexing of all groups. IP groups, in particular, if the logic is not part of generic group indexing, can be deferred to post 4.0.

[2015-02-04 21:09] scolapasta opened #1419 "Allow file requests should be stored for a dataset version"
Use similar logic as restricted on files.

[2015-02-04 21:12] kcondon opened #1420 "TOU/Guestbook: Only prompt once per dataset per user per session."
Currently, users are prompted with terms of use and guestbook every time they download a file from every dataset.

In v3.6 we limited it to once per user per session. I am not 100% sure about whether it was per dataset/ guestbook or for the whole dataverse.

[2015-02-04 21:16] kcondon commented on #1128
All required fields in gsd block were intentionally made not required. Closing.

[2015-02-04 21:16] #1128 closed

[2015-02-04 21:22] kcondon commented on #1260
OK, works, closing

[2015-02-04 21:22] #1260 closed

[2015-02-04 22:01] landreev commented on #1144
Delete is now working, when trying to delete files from an *already existing draft version*;
Tested deleting a file that happened to be the designated thumbnail, saw no exceptions.
(still looking into the delete bug, where *all* files get deleted in a published version with no draft).

[2015-02-04 22:02] landreev commented on #1362
OK, the button should now be showing, whether it's a draft version, or a published version with no draft.

[2015-02-04 22:22] kcondon commented on #1348
OK, tested basic workflow: restrict, request, notification of request, reject, notification of rejection, grant, notification of grant and then access enabled, revoke, permission revoked.

One awkwardness is if there is a draft version, you need to go to the draft to grant access, cannot do it from published version. Also, request link should go to permissions page, Users/Groups assignment panel w

[2015-02-04 22:49] eaquigley commented on #22
Closing this ticket and moving all of @mheppler comments to #1411

[2015-02-04 22:49] #22 closed

[2015-02-04 23:01] eaquigley commented on #1413
@kcondon the checkbox for the file doesn't appear? which checkbox?

[2015-02-04 23:18] kcondon commented on #1413
Sorry, I was speaking in context: the "I accept" checkbox on the TOU popup doesn't appear if you select custom license but leave TOU blank. Since the code thinks there is a TOU but does not display a "I accept" checkbox if it is blank, you cannot ever accept and download in this situation. I know it is an edge case but weird.

________________________________
From: Elizabeth Quigley [notifications

[2015-02-04 23:23] kcondon commented on #832
OK, this all works. One potential issue is the contributor is allowed to edit after submitting for review. I would think you'd want to "freeze" changes for that user while it is being reviewed? Otherwise the copy the reviewer is looking at may be undergoing change. Just a thought. @eaquigley What do you think? Otherwise I'm closing this.

[2015-02-04 23:37] #832 closed

[2015-02-04 23:55] kcondon opened #1421 "Create Dataverse: If don't specify a dv subject and save, inline validation error squished and checkboxes become red."
Create Dataverse: If don't specify a dv subject and save, inline validation error squished and checkboxes become red.

Also, mouseover says: ???dataverse.subjegt.title???  Maybe due to a typo in the name?

[2015-02-05 02:43] landreev commented on #528
This should be working as requested now. When you create a new draft version of a published dataset, only the files that have been added and/or edited in the draft version will show up in search results, as extra result cards.
For example, in the dataset below, the file name of 12075.tab was modified in the draft version; so a draft search card is displayed, with the changed name. The file 120747.

[2015-02-05 02:52] landreev commented on #786
This was a parent ticket for a bunch of issues related to accents/funny characters, that have all been moved into QA in beta 12.
The only part of the dataverse functionality that hasn't been specifically tested for this is the batch metadata import, that Ellen has been working on.
Since this is something currently being tested with production DDIs, please check some study that has accents/non-lati

[2015-02-05 09:37] bencomp commented on #1401
In the Dataverse.nl situation, all users come through the same IdP: SURFconext. We look at the value of the Organization attribute to determine the user's organisation. Can that attribute be used as well?

[2015-02-05 09:55] bencomp commented on #1401
Oh, and :+1: !

[2015-02-05 11:26] pdurbin commented on #1401
I have [a todo in the code](https://github.com/IQSS/dataverse/blob/4a4310b0a08f1b23f4380692c832495234e4c716/src/main/java/edu/harvard/iq/dataverse/authorization/users/AuthenticatedUser.java#L69) that at runtime I should store a hash of "potentially interesting" attributes. I guess this hash should be backed by a table that can be managed by users who have the superuser boolean set to "true".

[2015-02-05 14:43] sekmiller commented on #1421
Mike, can you help out on the UI here?  Thanks!

[2015-02-05 14:44] sekmiller commented on #769
Mike, can you take a look at Dataverse Subject.  It's at the top of dataverse.xhtml.

[2015-02-05 15:34] pdurbin opened #1422 "Shibboleth: allow for configuration of attributes used for user identification"
eppn (eduPersonPrincipalName) is a Shibboleth attribute supported by http://testshib.org and [Harvard's Shibboleth](http://iam.harvard.edu/resources/saml-shibboleth-attributes) to uniquely identify users, but other attributes are in common use and should be supported:
- **ePTID** (eduPersonTargetedID) is described by InCommon as ["a powerful alternative to the use of eduPersonPrincipalName"](https

[2015-02-05 15:46] eaquigley commented on #1413
@kcondon I'm not able to reproduce this issue. I tried with a guestbook, without a guestbook, logged in, not logged in, and I'm not seeing this. When I had selected no license and didn't fill out terms of use,  I was able to immediately download the file.

[2015-02-05 15:55] eaquigley commented on #1413
my bad @kcondon! @sekmiller showed me the issue. sorry!

[2015-02-05 16:08] sekmiller commented on #1415
Removed TOU check box - Validation now assumes that clicking the accept button is acceptance of TOU

[2015-02-05 16:35] kcondon commented on #1415
OK, checkbox removed and still works. Closing

[2015-02-05 16:35] #1415 closed

[2015-02-05 16:44] mheppler commented on #114
Cleaned up layout and styled form elements for the Linked Dataverse workflow on the dataverse page.

[2015-02-05 17:23] mheppler commented on #113
Cleaned up layout and styled form elements for the Linked Dataset workflow on the datasete page.

[2015-02-05 17:26] mheppler commented on #113
Found issues:
- [ ] Success message didn't display when I linked a dataset to a dataverse AND THEN immediately linked it a second dataverse of mine.
- [ ] Popup message for a dataset that is already linked to all of my dataverses, is the same message if I have zero dataverses.

[2015-02-05 18:00] mheppler commented on #207
Added Bootstrap style class to metadata logo image HTML to fix width issues with really large images. [ref #47f6d6dfefaaabff5bb9279f79df67e14304998b]

[2015-02-05 18:12] marlenaerdos commented on #1422
Hi Phil,   I think you are misunderstanding the purpose of the these identity-oriented attributes when you talk about "ordering." Either that or I'm mis-understanding your business case :-).  Generally, identity and identifier attributes are used for account-finding and also authorization.  And other attributes (like roles and groups) also factor into authorization.  There's not really an "orderin

[2015-02-05 18:19] kcondon commented on #1380
This is also true for explicit groups.

[2015-02-05 18:21] kcondon commented on #91
The above test works so I am assuming the scope of this ticket is the creation and assigning of groups/perms, not necessarily the enforcing of terms in the app. I added that issue to #1380.

I did find that the test api functions do not accept both dv db id and dv alias for arguments though the general api commands do.

Closing

[2015-02-05 18:21] #91 closed

[2015-02-05 18:24] mheppler commented on #769
Cleaned up layout and styled form elements for the Subject field in Dataverse General Information create/edit workflows. Also cleaned up the validation error layout.

[2015-02-05 18:37] mheppler commented on #1421
Cleaned up the validation error layout. Fixed typo that broke Subject tooltip description on Dataverse General Information create/edit workflow.

[2015-02-05 18:40] sekmiller commented on #1413
Removed Checkbox for accept in all cases.  Now the accept button is sufficient for accepting TOU.

[2015-02-05 18:43] kcondon opened #1423 "Geoconnect: See 500 error when clicking Map it button: Value in JsonObjects name/value pair cannot be null"
Currently Map it/ Geo Connect is not working against dvn-build. Get an error in UI and this in the server log:

[2015-02-05T13:39:29.149-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.worldmapauth.TokenApplicationTypeServiceBean] [tid: _ThreadID=47 _ThreadName=jk-connector(2)] [timeMillis: 1423161569149] [levelValue: 800] [[
  WorldMapToken refreshed.]]

[2015-02-05T13:39:29.151-0500] [

[2015-02-05 18:44] kcondon commented on #1143
Note for testing: the thumbnail only appears after you click Map it for first time and map is generated.
Currently blocked, waiting for issue #1423

[2015-02-05 18:51] pdurbin commented on #1422
@marlenaerdos you would certainly know better than I would, but my read of https://wiki.surfnet.nl/display/surfconextdev/Attributes+in+SURFconext is that they send both NameID and ePTID: "The user's identity is transmitted in the form of the NameID element of the SAML statement... For convenience, this identifier is duplicated in the SAML attribute eduPersonTargetedID". This is a service used by @

[2015-02-05 18:55] kcondon opened #1424 "Add File: Server log error when saving after adding file"
When I add a file of any type to a dataset, whether on create, with or without a published version, I see this error in the server.log on save:

[2015-02-05T13:50:03.404-0500] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=47 _ThreadName=jk-connector(2)] [timeMillis: 1423162203404] [levelValue: 900] [[
  A system exception occurred during an invocation on

[2015-02-05 18:58] kcondon opened #1425 "API: Test permission end point accepts only db id, not dv alias like other endpoints do."
While testing #91, I discovered the test permissions function does not accept the dv alias as a parameter:

curl http://localhost:8080/api/test/permissions/13?key=$GABBI_KEY

[2015-02-05 19:32] marlenaerdos commented on #1422
Hi Phil,

I took a look at what Surfnet says it does.

If sure looks like Surfnet isn't following the definition or intent of
eduPersonTargeted Id.

The intent is a persistent, non-reassigned, opaque identifier for a
principal that is specific to each SP.

Here's the eduPerson spec bookmarked to the definition:

http://software.internet2.edu/eduperson/internet2-mace-dir-eduperson-201310
.html#eduP

[2015-02-05 19:32] sekmiller commented on #1397
Fixed the null pointer exception during guestbook response validation.  It will redirect you to the page when required fields are left blank. Catching the invalid response in the popup on hold for now.

[2015-02-05 19:34] landreev commented on #1424
I believe all it means is that permission service is called on a file before it gets saved and the db id is assigned.
I tried to write the render rules in a way that would prevent this... but must have missed something. Will take another look.
(fairly positive this is not a causing any harm though)

[2015-02-05 19:52] pdurbin commented on #1378
@kcondon as we discussed, I'm giving this to QA for an initial look. I still have some outstanding questions for @michbarsinai about when explicit groups of a user can be known at runtime.

Also, as I demonstrated, even if you can see a card based on your group membership, clicking it may prompt for login because permissions for groups has not been fully implemented. My understanding is that we're

[2015-02-05 20:04] kcondon opened #1426 "Permissions: Add private DS role, so ds can add to unreleased dv like in v3.6."
Currently there is no easy way to make someone a contributor to an unreleased dv if access perms require assignment. The current DS role only gives add dataset, when the also need view unpublished dataverse.

This is something that worked in v3.6 and seems like a necessary, out of the box option, especially for groups working on stuff pre-publication.

So, this ticket is requesting adding a new ro

[2015-02-05 20:35] kcondon commented on #1421
OK, they're still evil (red) but looks good, closing.

[2015-02-05 20:35] #1421 closed

[2015-02-05 20:36] kcondon commented on #1413
OK, works, closing

[2015-02-05 20:36] #1413 closed

[2015-02-05 20:51] kcondon commented on #1397
OK, the incomplete guestbook issue is caught, thanks. Mike has a few more issues above. I added those to the various issues ticket #1411. Closing

[2015-02-05 20:51] #1397 closed

[2015-02-05 20:59] scolapasta commented on #1417
This is all set.

[2015-02-05 21:00] pdurbin commented on #1262
Yes, there is search stuff to fix. This shouldn't be in QA.

[2015-02-05 21:03] kcondon opened #1427 "View Dataset: Keyword label is missing from above the fold info."
Eleni reported that the keyword values are displayed but the label is not, see original comment in #1262:
@sekmiller Should we be seeing this fix in build? I see the values for the Keyword field and the description but I dont see the field name "Keyword"

![image](https://cloud.githubusercontent.com/assets/5013837/6043929/f53b3d88-ac5d-11e4-8ddc-a71dea8b15dd.png)

[2015-02-05 21:03] kcondon commented on #1262
Making separate ticket for Eleni's bug: #1427

[2015-02-05 21:14] mheppler commented on #1357
I took a look into this. It looks like the asterisks already have render logic regarding child fields. (Line 158)
[code]
This was in there from a check in by @sekmiller from 10/29/2014, where he commented "put in required
asterisks for required child fields". I am passing this to him to look into.

[2015-02-05 21:23] kcondon opened #1428 "Adv Search: Selecting subject field with & results in no results"
In adv search, choosing Medicine, Health & Life Sciences for subject under Citation results in an error:
Search Syntax Error: Cannot parse 'subject:"Medicine, Health': Lexical error at line 1, column 26.  Encountered: <EOF> after : "\"Medicine, Health"

[2015-02-05 21:31] pdurbin commented on #769
I just checked the "There needs to be a subject facet that is populated with subjects from both dataverses and datasets" box above. Please note that the dataverse facet is collapsed into the dataset facet so to see it you need to enable the dataset facet. The "Subject" facet that is.

[2015-02-05 21:41] mheppler commented on #1319
"Let me think about it another day." -- @scolapasta

[2015-02-05 21:48] kcondon commented on #1362
This is working now. Only thing, I noticed an unexpected behavior: selecting a thumbnail on a published dataset creates a new draft dataset. Seems like it shouldn't -this is not information that is part of the academic record.

[2015-02-05 21:49] kcondon commented on #1351
This is working now, closing

[2015-02-05 21:49] #1351 closed

[2015-02-05 21:55] scolapasta commented on #769
From the checkboxes: we set ALL subjects for the root in setup all.

We decided not to have any inheritance of subjects for now, so the last three checkboxes are no longer needed.

[2015-02-05 21:58] sekmiller commented on #1357
Added asterisks to parent label when children are required.

[2015-02-05 22:31] mheppler opened #1429 "Dataverse - Create/Edit General Information Top Section Clean Up"
With all the new additional features we've added to this form, without much attention to how it looks overall, it needs a little UI clean up.

[2015-02-05 22:35] sekmiller commented on #1427
Added Keyword Display Title to bundle

[2015-02-05 22:46] scolapasta commented on #1411
Removed a couple of the checkboxes from the description:
- Automatic log out of session expiration should forward to log in page. (this is already covered by issue #52)

- I saw a random weird state with the success message stuck on the page, and followed me to other, non-Guestbook pages (this was seen on a developer machine and has not been reproduced. Mentioned to QA to keep an eye open for this

[2015-02-05 23:02] kcondon commented on #1417
This works, closing

[2015-02-05 23:02] #1417 closed

[2015-02-05 23:07] scolapasta opened #1430 "Adjust sword api to handle new subject logic"
@posixeleni suggested we use dcterms:subject for both keyword and subject. The json parser will handle this logic, but I think these means that sword no longer has to prefill N/A.

[2015-02-05 23:14] kcondon commented on #769
OK, all checkboxes above are working. @pdurbin Searching on dv subject from basic search doesn't work, will open a ticket. Closing

[2015-02-05 23:14] #769 closed

[2015-02-05 23:15] kcondon opened #1431 "Search: Searching on dv subject from basic search returns no results, adv search works."
Searching on dv subject from basic search returns no results, adv search works.

[2015-02-05 23:17] kcondon opened #1432 "Search: New metadata block uses yes/no as controlled vocab. Yes search works, no returns "no" results."
Search: New metadata block uses yes/no as controlled vocab. Yes search works, no returns "no" results.

Probably no is a stop word. I believe changing stop words in Solr is easy, just a config file.

[2015-02-05 23:29] kcondon opened #1433 "Thumbnail: Changing default thumbnail generates a new dataset version."
Opening this ticket as the desired behavior needs to be discussed/ determined.

Currently, selecting a default thumbnail image applies to all dataset versions, regardless of which version the image actually resides in, whether only old versions or latest.

Also, selecting or changing the default thumbnail while on a published version will create a new draft version. This seems to me to be incorrec

[2015-02-05 23:30] kcondon commented on #1144
OK delete of thumbnail when it is selected thumbnail works. There is some unexpected follow on behavior related to not caring which version a selected image lives in but that will be defined in ticket #1433

[2015-02-05 23:30] #1144 closed

[2015-02-05 23:31] kcondon commented on #1362
Opened a separate ticket for the other issue: #1433 Closing

[2015-02-05 23:31] #1362 closed

[2015-02-05 23:33] kcondon opened #1434 "Config Dataverse: Cannot feature dataverses other than in Root dv: feature or bug?"
Cannot feature dataverses other than in Root dv: feature or bug?

[2015-02-05 23:34] kcondon commented on #1239
Opened separate ticket: #1434 Closing

[2015-02-05 23:34] #1239 closed

[2015-02-05 23:42] kcondon commented on #1427
Label added, closing

[2015-02-05 23:42] #1427 closed

[2015-02-05 23:49] kcondon commented on #114
OK still works, closing

[2015-02-05 23:49] #114 closed

[2015-02-05 23:51] kcondon opened #1435 "Linked Datasets: Couple issues"
Found by Mike, copied from larger ticket: #113

1. Success message didn't display when I linked a dataset to a dataverse AND THEN immediately linked it a second dataverse of mine.

2. Popup message for a dataset that is already linked to all of my dataverses, is the same message if I have zero dataverses.

[2015-02-05 23:52] kcondon commented on #113
OK, still works, opened Mike's issues under new ticket: #1435 Closing.

[2015-02-05 23:52] #113 closed

[2015-02-05 23:53] kcondon commented on #1357
OK, parents of required children also have asterisks. Closing

[2015-02-05 23:53] #1357 closed

[2015-02-06 00:01] kcondon opened #1436 "Publish Dataset: Sometimes publishing a dataset is very slow, 1min"
Sometimes publishing a dataset is very slow, 1min
This is intermittent and mostly is ok but sometimes seems broken. When it is, I have observed this query in the server log and only when it completes does publish complete.

[2015-02-05T18:58:11.442-0500] [glassfish 4.1] [INFO] [] [] [tid: _ThreadID=52 _ThreadName=Thread-8] [timeMillis: 1423180691442] [levelValue: 800] [[
  EJBQueryImpl(ReadObjectQ

[2015-02-06 00:03] kcondon commented on #528
OK, works as described, closing

[2015-02-06 00:03] #528 closed

[2015-02-06 00:15] kcondon opened #1437 "Linked Datasets: Can't link to a dataset in the root dv."
Can't link to a dataset in the root dv.
I checked with Gustavo and he thought it was a bug though there is/ may be some logic about preventing linking to root dv and that might cause this unintended? consequence.

[2015-02-06 00:17] kcondon commented on #1394
This works, closing

[2015-02-06 00:17] #1394 closed

[2015-02-06 00:24] kcondon commented on #1242
This mostly works: you can see the draft version on the versions tab but the word DRAFT is missing but appears for the editor/owner. Passing back.

[2015-02-06 09:40] michbarsinai commented on #784
Removed the following from a code comment. Keeping it here in case its useful:

In DVN 3.x we had this: `List<VDC> vdcList = vdcService.getUserVDCs(vdcUser.getId());`

[2015-02-06 09:58] michbarsinai commented on #1380
Validated by letting localhosts edit a dataset, viewing the dataset while not logging in, then removing the role assignment and trying to view the dataset again. On the second round, got redirected to the login page.
I didn't see the dataset metadata edit controls, but that might be another issue.

[2015-02-06 17:16] posixeleni opened #1438 "Configure Harvard Dataverse Root for Release"
During our 2/6 Dataverse review meeting Merce asked that we:

1. Create a dataset template at the root for Harvard Dataverse: Have Harvard Dataverse as the Distributor. Any Dataverse directly under Harvard needs to have the Harvard Dataverse template pre-selected.
2. List of which Featured Dataverses to show on the Harvard Dataverse root.
- [x]  3. Branding: @eaquigley will get harvard logo approv

[2015-02-06 21:21] pdurbin opened #1439 "Solr: empty dataverses when content expected"
In 1eb10af I documented a workaround for a problem I encountered locally wherein I was seeing what looked like empty dataverses when I expected to see content.

This is what I wrote in that commit (which now appears at http://guides.dataverse.org/en/latest/installation/installation-main.html#solr-configuration ):

I could also add this is what you see in the Glassfish server.log: "Search Syntax Er

[2015-02-07 17:42] mheppler commented on #1284
Pages that need ui:param showBreadcrumbs removed and f:viewAction initBreadcrumbs added:
- [ ] 404 - @rtreacy
- [ ] apitoken - @pdurbin
- [ ] datafilemap - @raprasad
- [ ] dataset - @sekmiller
- [ ] dataverse - @scolapasta
- [ ] dataverse_template - @scolapasta
- [ ] dataverseuser - @scolapasta
- [ ] loginpage - @scolapasta
- [ ] passwordreset - @pdurbin
- [ ] shib - @pdurbin
- [ ] template - @sek

[2015-02-07 17:43] pdurbin commented on #1366
In addition to the trickiness of tree traversal, in my mind this ticket represents the need to switch away from an indexing operation of a dataverse being for **just that dataverse**. Rather, we need to change the operation (or introduce a new operation) to handle re-indexing off **all of the content of that dataverse**, including sub dataverses and datasets. I suppose it also needs to handing sub

[2015-02-07 18:43] pdurbin commented on #1431
Basic search of dataverse affiliation wasn't working either. I'm copying both dataverse subject and dataverse affiliation to the "catchall" field used by basic search as of b6d6425b01b4ba966baf3cef97a0a1ad3d866aaa

Testing will require a new schema.xml and re-indexing.

Please note that I'm aware that highlighting on these two fields in the dataverse card doesn't work. The reason is that the "unfr

[2015-02-07 18:54] pdurbin commented on #762
I agree this is a bug. Here's how I reproduced it:

- create dataset (unpublished)
- upload file (dataset still unpublished)
- publish dataset (as v1)
- delete file (dataset enters draft)
- re-publish dataset (as v2, with no files)
- determine if the published file card is still around while browsing (it is and I agree it shouldn't be)

The next step, of course, is to fix the bug. :)

[2015-02-09 14:39] mheppler commented on #1341
Could not get the breadcrumbs to display on the dataset page, in Upload + Edit Files view.

Notes:
- dataset.xhtml still has the ui:param showBreadcrumbs
- dv_rebind_bootstrap_ui.js has a function hide_breadcrumb, which hides the breadcrumbs section with jQuery + CSS, that gets called by post_edit_files, which gets called when either Upload + Edit Files, commenting out that call does not show the

[2015-02-09 15:20] pdurbin commented on #1226
Huh. This ticket was never closed or given a milestone. Moving to QA.

[2015-02-09 15:44] pdurbin opened #1441 "API: Implement individual file downloading through the API"
In various ways, users have been asking for how individual files can be downloaded via the API. @rliebz opened [a Trello card about this](https://trello.com/c/9E7GIxrA/4-implement-individual-file-downloading-through-the-api) and various support tickets have been opened, most recently [RT #192990](https://help.hmdc.harvard.edu/Ticket/Display.html?id=192990). There's also a thread on the Google Grou

[2015-02-09 16:03] mheppler opened #1442 "Bundle.properties -- Clean Up Various Messages"
Here is a general catch all outline of various issues with Bundle.properties that need to be fixed.

Labels using "Tooltip description"
- [x] dataverse.theme.inheritCustomization.title
- [x] dataverse.permissions.Q2.title
- [x] file.dataFilesTab.terms.list.termsOfUse.license.title
- [x] file.dataFilesTab.terms.list.termsOfUse.termsOfUse.title
- [x] file.dataFilesTab.terms.list.termsOfAccess.restri

[2015-02-09 16:11] mheppler commented on #1187
Added required asterisks to fields in the Assign Role popup and also changed the popup header to read "Assign Role". Cleaned up other UI issues including, opening Users/Groups panel on Manage Permissions if it's on a dataset, and the Permissions panel isn't displayed above it.

I did not get to the asterisks for Add New Role popup, because it appears there is no validation on the form. If I click

[2015-02-09 16:18] mheppler commented on #1409
Related to #1345, moving to Beta 13.