[2016-01-26 15:33] eaquigley commented on #2888
@pdurbin will fixing this also fix the issue described in #2879?

@scolapasta can you check to make sure people aren't creating multiple accounts with the same email address just different cases?

[2016-01-26 15:34] pdurbin commented on #2817
I'm making this issue about documentation since I'm working on the Installation Guide as part of #2884

I've already mentioned Vagrant there in a commit in a branch. I still need to decide how much I want to promote Vagrant since it can be a little flaky. See the comment by @bricas at http://irclog.iq.harvard.edu/dataverse/2016-01-26#i_30160

[2016-01-26 15:40] pdurbin commented on #2888
@eaquigley it depends on how we fix it. I **think** I'd like to simply force all email addresses to be persisted to the database in their lowercase version. I don't know if users will object to this. Will they say, "Hey! I entered my email address as fOo@bAr.cOm and that's the way I likes it!"? They probably won't care if we change it to foo@bar.com but I don't know.

@raprasad said it should be a

[2016-01-26 16:09] sbarbosadataverse opened #2889 "Allow to set "Default Displays" on Parent Dataverse"
Dataverse admin would like the ability to set default on what users see displayed when they navigate to a dataverse:

see parents first
see subdataverses first
see datasets first, etc...

Apparently the list of "all" dataverses, subdataverses and datasets and files" can be quite overwhelming and confusing and this is has been reported before.

[2016-01-26 16:33] pdurbin commented on #2889
@sbarbosadataverse are you saying that a user would log in at set this preference for their **account**? Or are you talking about a setting that the admin of a dataverse would set at the dataverse level? I'd get @eaquigley and @mheppler involved for sure. We want a consistent user experience.

[2016-01-26 16:37] sbarbosadataverse commented on #2889
The admin of a dataverse would set this at the dataverse level. Thanks

On Tue, Jan 26, 2016 at 11:33 AM, Philip Durbin <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be c

[2016-01-26 16:46] pdurbin commented on #2889
But wouldn't that lead to an inconsistent (possibly jarring) browsing experience for users as they navigate around the site?

[2016-01-26 17:29] mheppler commented on #2374
Updated info text on the Theme + Widgets page for the Logo Image upload. Fixed typos in the User Guide for Dataverse Management page.

[2016-01-26 18:58] pdurbin commented on #2280
@kcondon I'm going to send this your way to close if you see fit. I don't think there's anything actionable given available resources. Heads up to @scolapasta

@eaquigley @mheppler you helped craft the "suggestion" workflow at https://raw.githubusercontent.com/IQSS/dataverse/develop/doc/sphinx-guides/source/img/feature-request-process.png so I don't know if you have any opinions on this. The main

[2016-01-26 19:11] pdurbin commented on #1886
@michbarsinai mentioned `post-install-api-block.sh` at https://github.com/IQSS/dataverse/issues/976#issuecomment-77040024 but the script never made it into to zip distribution of Dataverse (a release). I know this issue is about enhancements but I thought I'd at least mention it here. @landreev has mostly worked on adding this files to the zip. I'm emphasizing the need to run the script as part of

[2016-01-26 20:00] pdurbin commented on #1119
@kcondon what's your ruling on this issue. It has 4.0 in the title and obviously people are able to install 4.0 and later. Should we just close this? Should we define what else we want the installer to do? @landreev has mentioned that he's fine with someone rewriting the whole thing in whatever language rather than Perl and I'm mentioning this in my rewrite of the Installation Guide at #2884.

[2016-01-26 20:01] pdurbin commented on #1097
@landreev what's the status of this issue? We chatted about this a few days ago and I think you were saying that using a remote database works. Should this go to QA?

[2016-01-26 20:14] pdurbin commented on #1192
Many of the API tests I've written as part of #2746 require the ability to create a user who can create a dataverse as a testing sandbox in which to create datasets. That's why in my phoenix scripts I call my "grant-authusers-add-on-root" script from https://github.com/IQSS/dataverse/blob/develop/scripts/deploy/phoenix.dataverse.org/post . Otherwise I wouldn't be able to run these tests. I didn't

[2016-01-26 20:14] sbarbosadataverse commented on #1350
@eaquigley @mheppler
What Liz posted on Dec 15 looks fine.
On another note, but same issue: IP addresses aren't useful as far as I can tell,  and I think those were also being logged at one point in the tracking info page WE maintained outside of a guestbook for users... Has that been removed? That may help speed up the process of generating our reports when asked.

[2016-01-26 21:15] pdurbin commented on #2311
This was never documented. I'm stealing this from @raprasad and folding it into #2884.

[2016-01-26 21:32] kcondon commented on #1084
No longer relevant since UI has changed. See related tickets: #2015, #2846. Closing.

[2016-01-26 21:32] #1084 closed

[2016-01-26 22:05] sbarbosadataverse opened #2890 "Request Access workflow: put timestamp and user name in notification and on permissions page waiting approval"
Not enough information is sent in notification (no user name, or file name)
Not enough information is displayed on permissions waiting approval page (timestamp)

[2016-01-26 22:15] sbarbosadataverse commented on #2890
duplicate

[2016-01-26 22:15] #2890 closed

[2016-01-26 22:17] sbarbosadataverse opened #2891 "Notifications: send only one notification for each "batch" request access"
currently sends one for each file, seen Brain Genomics dataset for example

[2016-01-26 22:18] sbarbosadataverse opened #2892 "Notifications: page slow to load and results in time-out when many undeleted notifications"
internal server error when trying to load notification page for sonia in production, likely due to trying to load a large number of notifications/need "Delete all" function
This is unusable for me at this time.

related to #2891

[2016-01-26 22:23] sbarbosadataverse commented on #2889
@pdurbin
What it leads to should be brought to @Elizabeth and @mheppler  as I'm putting in the request from a user.

[2016-01-27 08:43] bencomp commented on #2892
This is probably due to the way notifications are rendered:
1. get all notifications for the current user
2. process every notification, i.e. do lookups for dataverse, dataset, datafile or user that the notification is about and print it

A user notification should be processed once, at the time that it is generated.

[2016-01-27 16:27] posixeleni commented on #568
@eaquigley and I spoke with Almetrics about using their repository badges to track metrics for datasets in Dataverse.

They pointed us to this small piece of code which would need to be embedded into each dataset page and would just the section to be populated

[code]

[2016-01-27 17:45] mheppler commented on #1919
This behavior is still reproducible in v. 4.2.3 on dvn-build.

[2016-01-27 19:47] pdurbin commented on #1919
@mheppler really? I can't reproduce it on dvn-build. It's running v. 4.2.3 build 55-6561f58 which includes my fa73991 fix as part of #1338 for 4.2.1.

[2016-01-27 20:47] pdurbin commented on #1919
Discussed with @mheppler. He was typing the word "null". Closing.

[2016-01-27 20:47] #1919 closed

[2016-01-27 21:16] mheppler commented on #2161
@landreev added a message to the harvested result cards with his commit 6dbad79d01ccae99c26293dc8cb97d6dce3fed86.
![screen shot 2016-01-27 at 4 15 59 pm](https://cloud.githubusercontent.com/assets/687227/12628463/47378598-c511-11e5-9aa0-199d89cb6637.png)

[2016-01-27 21:36] landreev commented on #813
I am working on this now.
I guess I should just go ahead and take this issue?

[2016-01-27 22:02] mheppler commented on #2033
Consulted with @posixeleni and @mcrosas for more details on this feature and was given to OK to close this.

[2016-01-27 22:02] #2033 closed

[2016-01-27 22:44] scolapasta commented on #2222
@pdurbin can you check this issue?

[2016-01-27 22:45] scolapasta commented on #1928
@pdurbin @kcondon Should we just close this and if there any specific things to be done open as separate issues?

[2016-01-27 23:02] pdurbin commented on #2420
@raprasad I'm not sure how much value this issue has in its current form. Can you add more to the description? Do you really need this? Is genTB even integrated with Dataverse? Do we really need a "getTB" label for GitHub issues?

[2016-01-27 23:13] pdurbin commented on #1928
The issues @tercer and @mcrosas mentioned are real issues.

[2016-01-28 09:20] bencomp commented on #2420
Harvesting (#813) is related, as it is one way of publishing and retrieving updates. ResourceSync, with the push notification extension, is another.

@raprasad, don't you just want user notifications for dataset updates? Perhaps there could be one generic way of generating user notifications and more fine-grained control of sending emails from notifications (similar to how various services like Gi

[2016-01-28 09:24] bencomp commented on #2420
I would say that this might be a duplicate of #900 and/or #868, except for the request for allowing notifications to be generated from dataset updates.

[2016-01-28 11:04] pdurbin commented on #2420
@bencomp this issue is starting to have more value just from you linking together various issues I haven't thought about it months. Thanks! :)

[2016-01-28 14:38] majorseitan commented on #2888
I went with the simple query fix.  I added the create index scripts to the pull request just in case they were needed.

[2016-01-28 15:00] pdurbin commented on #2888
To be clear, the pull request @majorseitan is talking about is #2894. Thanks!

[2016-01-28 15:13] pdurbin commented on #2663
I think this issue is really about documenting how to configure the system email so I'm going to try to wrap it into #2884.

[2016-01-28 15:27] pdurbin commented on #131
Since GitHub went down yesterday it seems like a good time to grab some screenshots from https://status.github.com since the data is "interesting" instead of showing that they are always up:

![github_system_status_-_2016-01-28_10 24 19](https://cloud.githubusercontent.com/assets/21006/12648802/a2064548-c5a9-11e5-8791-5fd230a0b5fd.png)
![github_system_status_-_2016-01-28_10 24 37](https://cloud.gi

[2016-01-28 17:17] raprasad commented on #2420
fyi: updated the main ticket description and removed the genTB tag

@pdurbin

[2016-01-28 17:34] pdurbin commented on #2619
@landreev was this fixed in #2429? Is there anything I should document in the Installation Guide as part of #2884?

[2016-01-28 18:33] landreev commented on #2406
@kcondon
Kevin,
Can I just pass this to you/put this in QA, so that you could close it, w/out assigning it to any release/milestone?

The issue above - tons of junk in the log files - was fixed last fall. It was traced to something specific to our production - Benson's rewrite filters in the web.xml (somehow) broke the requirement for having async enabled on every filter in the chain. (googling th

[2016-01-28 18:43] #2406 closed

[2016-01-28 19:19] pdurbin commented on #2593
How to destroy datasets is already documented in the API Guide. We should probably also document it in the Superuser section of the User Guide as part of #2211.

[2016-01-28 20:42] pdurbin commented on #1406
@kcondon please let me know if the process is documented well enough in my pull request at #2895

Here's is where the especially relevant sections can be previewed:

- http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#glassfish-init-script
- http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#postgresql-init-script
- http://

[2016-01-28 20:45] pdurbin commented on #1696
@kcondon I believe I've addressed the remaining concerns above in my pull request at #2895

Here's where you can preview the change: http://guides.dataverse.org/en/2884-install-guide-reorg/installation/installation-main.html#superuser-account

Related is documenting the "system" email at #2663 which is of course different than the email address of the superuser created by the installer.

Passing t

[2016-01-28 20:49] pdurbin commented on #2211
I just wanted to mention that as part of my pull request at #2895 I mention superuser accounts at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#root-dataverse-configuration but assuming that gets merged in the next steps could be:

- rename user/super-user.rst to user/superuser.rst (take out the space)
- write more at user/superuser.rst
- link to user/superuser.r

[2016-01-28 20:50] pdurbin commented on #2234
This is the approach I went with in my pull request at #2895

The change can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#installing-solr

Passing to QA.

[2016-01-28 21:01] pdurbin commented on #2283
In my pull request at #2895 I added many configuration options and you can preview the change at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html

I did omit a couple database settings that are truly developer-only feature flags that people installing Dataverse should ask about before using.

@bencomp I hope these pages help answer your "before running the installer

[2016-01-28 21:02] pdurbin commented on #2287
In my pull request at #2895 I document this as http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#googleanalyticscode

Passing to QA.

[2016-01-28 21:08] pdurbin commented on #2289
I can't take any credit for fixing this because I suspect @landreev is the author of http://guides.dataverse.org/en/4.2.3/installation/prerequisites.html#configure-database-access-for-the-dataverse-application but I further refined this section in my pull request at #2895 which can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#configure-dat

[2016-01-28 21:21] pdurbin commented on #2311
In my pull request at #2895 I increased the value of requestHeaderSize from "8192" to "102400". That change can be previewed here: http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#jetty-xml

I don't actually have access to this host in production so I can't verify that this is the value we use but I think it is.

Passing to QA.

[2016-01-28 21:24] pdurbin commented on #2321
I believe that all the feedback from RT has been entered as individual issues by @kcondon (thanks!) and I listed as many as I could find (with help from @mheppler .... hmm, that should be `@mHELPler` ha!) in my pull request at #2895

In short, I think we're covered, so I'm moving this issue to QA. Also, writing docs all day makes you slaphappy. I don't recommend it.

[2016-01-28 21:26] pdurbin commented on #2330
In my pull request at #2895 I added the diagram I created and a description. These can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prep.html#advanced-installation

Passing to QA.

[2016-01-28 21:27] pdurbin commented on #2401
In my pull request at #2895 I addressed this issue. The new wording can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#solr-init-script

[2016-01-28 21:29] pdurbin commented on #2402
So many typos fixed in my pull request at #2895. If I introduced any I apologize and this issue should be kicked back to me. The rewritten Installation Guide can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation

Passing to QA.

[2016-01-28 21:30] pdurbin commented on #2405
In my pull request at #2895 I addressed this issue. It can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#jq

Passing to QA.

[2016-01-28 21:31] pdurbin commented on #2415
I learned a lot about how this feature even works by documenting it in my pull request at #2895.

The change can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#tabularingestsizelimit

Passing to QA.

[2016-01-28 21:33] pdurbin commented on #2521
In my pull request at #2895 I addressed this issue. The change can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#glassfish

Passing to QA.

[2016-01-28 21:38] pdurbin commented on #2617
In my pull request at #2895 I attempted to address at least some of this issue. To preview the parts I worked on you can look here:

- http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#maxfileuploadsizeinbytes
- http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#tabularingestsizelimit
- http://guides.dataverse.org/en/2884-install-guide-r

[2016-01-28 21:39] pdurbin commented on #2628
I just wanted to mention that in my pull request at #2895 I recommend that people installing Dataverse avoid using Glassfish 4.1.1. That change can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#glassfish

[2016-01-28 21:41] pdurbin commented on #2632
In my pull request at #2895 I took a quick swing at documenting this. The changes can be previewed in these areas:

- http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#doi-baseurlstring
- http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#doiprovider

@sekmiller is actively working on DataCite support in #24 so I'd recommend having him r

[2016-01-28 21:42] pdurbin commented on #2640
In my pull request at #2895 I addressed this issue. It can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prerequisites.html#glassfish-init-script

Passing to QA.

[2016-01-28 21:43] pdurbin commented on #2661
In my pull request at #2895 I addressed this issue. It can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html

Passing to QA.

[2016-01-28 21:45] pdurbin commented on #2663
In my pull request at #2895 I documented how to set the system email. The change can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#systememail

Passing to QA.

[2016-01-28 21:46] pdurbin commented on #2817
In my pull request at #2895 I mentioned Vagrant in the Installation Guide. The change can be previewed at http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prep.html#vagrant-for-testing-only

Passing to QA.

[2016-01-28 21:54] sekmiller commented on #1223
Leaving assigned to me. This may be done already. will review the code

[2016-01-28 21:58] raprasad commented on #2741
fyi: under active scrutiny.  Working with CGA to mitigate.  Related to multiple factors/active development.

[2016-01-28 21:59] raprasad commented on #2615
Done.  This code is in WorldMap and tests have been run against a legacy WorldMap test server.  Next week, a production move + testing will happen.

[2016-01-28 22:00] raprasad commented on #2611
This code change is within geoconnect.  Currently in dev.  Move to prod. likely next week.

[2016-01-28 22:00] sekmiller commented on #1740
Leaving Assigned to me. This may be fixed wrt to new prime faces version.

[2016-01-28 22:03] raprasad commented on #2615
@kcondon, will coordinate QA, initial part will fall to me

[2016-01-28 22:06] raprasad commented on #2596
This still falls to me, but likely won't be working on it until mid/late Feb

[2016-01-28 22:15] raprasad commented on #2455
The attached PDF shows some of the complications of basic filtering without Solr--using SQL queries for facets.   Keep in mind that more facets will likely be added later.   (doc is from 9/3)
[file-filter-notes-db.pdf](https://github.com/IQSS/dataverse/files/108950/file-filter-notes-db.pdf)

[2016-01-28 22:17] raprasad commented on #2230
for the future...

[2016-01-28 22:20] raprasad commented on #1827
Confer with @eaquigley.  Currently, there is only one version of a layer.  e.g., When a layer is updated, the previous version no longer exists on Worldmap.  (Note: In a WorldMap terminology, a map is 1 or more layers.)

[2016-01-28 22:21] raprasad commented on #1534
(unassigning for now until user testing is scheduled/mapping is stabilized)

[2016-01-28 22:22] raprasad commented on #1300
This will be part of modular ingest to accommodate the needed FITS transformations.

[2016-01-28 22:23] raprasad commented on #901
Also recommended by Alyssa Goodman during the Dataverse community meeting

[2016-01-28 23:13] scolapasta commented on #1509
@michbarsinai does this issue go away with the DataverseRequest code that was written? (i.e. should we pass it to QA to retest?)

[2016-01-28 23:57] pdurbin commented on #2212
I mentioned to @landreev that I didn't touch any of the TwoRavens/Rserve/rApache stuff in my pull request at #2895. He agrees that section could use a rewrite at some point.

[2016-01-29 00:00] pdurbin commented on #2477
This falls within Installation Guide territory, I suppose, but I didn't not attempt to document this (I didn't work on it) in my pull request at #2895. Since it's a migration thing I guess it could be documented on the Upgrading page I added. It can be previewed here right now: http://guides.dataverse.org/en/2884-install-guide-reorg/installation/upgrading.html

[2016-01-29 00:03] pdurbin commented on #2492
I mentioned to @raprasad that in my pull request at #2895 that I direct people to https://github.com/IQSS/geoconnect for more information on Geoconnect. So if it's easier or better, it could be documented there instead.

Here's where you can preview where I mention Geoconnect: http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prep.html#architecture-and-components

[2016-01-29 00:05] pdurbin commented on #2619
I spoke to @landreev about this and he said it should be fixed in the next release (post 4.2.3). I just took a quick look for the ticket but couldn't find it. Need to remind him to link it up here.

[2016-01-29 00:07] pdurbin commented on #2848
This sort of thing belongs in the Installation Guide of course, but in my pull request at #2895 I didn't address it at all because I've really only heard about how these various temp directories are used. @landreev is the authority on all this, I believe.

[2016-01-29 00:10] pdurbin commented on #2884
I made a pull request at #2895 so I'll send this parent ticket to QA as well but the pull request has better information than this issue does about what actually made it into the pull request.

Oh, and @pameyer I fixed both those issues. See #2405 for the jq one. And now it says to install standard postgres from yum. Thanks!

[2016-01-29 00:48] landreev commented on #2809
This was largely done, for both the handles and dois.
We still have a few handles that are somehow corrupted, so that they can't be re-registered.
but they are still pointed to the old production , which redirects to the new... so they are working.
the way to fix them for real, i'm guessing, would be to delete them completely, then create them again.

[2016-01-29 00:52] landreev commented on #2662
I feel I should fix this in 4.3, since this is kind of a security thing.
And "low hanging enough.

[2016-01-29 00:57] landreev commented on #2619
No, not what I meant.
The issue is fixed in 4.2.3.
I meant as of 4.3 the installer will be taking care of the installation-specific path in the config file. In 4.2.3 it needs to be done hand.

Kevin, could you please close this one?

[2016-01-29 00:59] landreev commented on #2475
I think this needs to be closed; as I did optimize the living crap out of the search card thumbnails, in 4.2.2.

[2016-01-29 01:04] landreev commented on #2173
@scolapasta
Gustavo, could you take a look at this one... Not sure if it still needs to be opened. It may all have been resolved by now.

[2016-01-29 01:09] landreev commented on #2082
@scolapasta
@kcondon
This really needs to be closed.
Has not been an issue; through controlling the size limit of files for which on-the-fly generation of thumbnails is attempted; and generally optimized thumbnail generation.

Kevin, I found this one going through the tickets not tied to specific milestones that Gustavo told me to un-assign myself from.  Please close this, if you feel comfortable

[2016-01-29 01:10] landreev commented on #1455
Taking this for 4.3, another "low-hanging" installer issue.

[2016-01-29 01:11] landreev commented on #1201
Another simple installer issue.

[2016-01-29 01:13] pdurbin commented on #1455
For now, at least, I've **documented** this as part of #2521 in my pull request at #2895.

But yeah, it should go in the installer.

[2016-01-29 01:20] pdurbin commented on #2838
Note that builtin users can also be created via API. I just left a warning about this in my pull request at #2895 which can be previewed here: http://guides.dataverse.org/en/2884-install-guide-reorg/installation/config.html#blocking-api-endpoints

I assume that installations that want to disallow sign up (builtin accounts) wouldn't want local accounts to be created via API. The point of the docs a

[2016-01-29 01:37] pdurbin commented on #1059
Ubuntu and Debian are supported by the community in the form of these Puppet and Ansible repos by

- https://github.com/IQSS/dataverse-puppet by @lwo
- https://github.com/IQSS/dataverse-ansible by @donsizemore

In my pull request at #2895 I give shout outs to these two projects. You can preview what I wrote here: http://guides.dataverse.org/en/2884-install-guide-reorg/installation/prep.html#advanc

[2016-01-29 06:54] michbarsinai commented on #1509
It should go away since `GuestUser` has an `isSuperuser` method now.

[2016-01-29 14:06] pdurbin commented on #2594
I just made a variety of improvements in b622805 in a new branch called [2594-contributing](https://github.com/IQSS/dataverse/tree/2594-contributing).

@eaquigley @posixeleni @mheppler @scolapasta please coordinate who will make the next changes in that branch. There's still a lot to do in the area of issue labels, milestones, process, etc. as I've explained in the description of this issue.

I'm

[2016-01-29 15:14] sbarbosadataverse commented on #2384
@scolapasta

yes you can close! haven't seen the related issues in a while, as well.

[2016-01-29 15:16] sbarbosadataverse commented on #1920
@scolapasta @mcrosas
Gustavo, I don't think we can just close this.
This has to do with harvesting ICPSR data/or how Harvard accesses their data.
Merce may know more, but I captures what was put into a ticket and I don't think this is resolved.

[2016-01-29 15:31] pdurbin commented on #2879
@majorseitan does your pull request at #2894 address this issue?

[2016-01-29 15:43] sbarbosadataverse opened #2896 "File Permissions: Can't scroll list of approved users"
Tim from Brain Genomics dataset noticed he can't see all "approved" users. You can't scroll the approved user list and likely the users "waiting for approval" dialogue box as well.

I am assuming this is the issue and not a bigger issue with the permissions/username page

@mheppler  assigning to you but give to anyone else if I'm wrong here.

[2016-01-29 16:03] kcondon commented on #1920
I think this is the Harvard IP group addresses that is allowed file access to harvested ICPSR harvested datasets. We do not currently have harvesting or officially support IP groups to my knowledge so not sure what to do with this information, it's not a bug but really something to consider when we restore harvesting and ICPSR in particular.

________________________________
From: sbarbosadatavers

[2016-01-29 16:07] sbarbosadataverse commented on #1920
That's fine, but why assign it to me?
I can't do this when we do have harvesting in place. I think it should go
back to whomever is dealing with harvesting, and we can change it from bug
to whatever is more appropriate

On Fri, Jan 29, 2016 at 11:03 AM, kcondon <notifications@github.com> wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archiv

[2016-01-29 16:13] eaquigley commented on #2240
Reviewed this ticket today. In the Groups option under Edit Dataverse, there is a table that is now created when a Group has been created. However, there is a message saying you need to refresh the page to see the new group and no matter how many times I try adding a member to the group, the member column never changes from No Members.

[2016-01-29 16:15] kcondon commented on #1920
Thanks for your help Sonia, and your time in looking at this. It's much appreciated ;)
I sent it to you to look at because I wasn't sure it was still an issue and wanted you to comment. Now that I think I know what the issue is, we can remove your assignment. @scolapasta under the new ticketing workflow, should this just be unassigned for now and perhaps linked to the harvesting ticket(s)?

______

[2016-01-29 17:07] sbarbosadataverse commented on #2835
@scolapasta
can we move this to critical? IFPRI and at least one other user confirmed today this is still happening and obvious a big problem

[2016-01-29 17:16] #2384 closed

[2016-01-29 17:52] scolapasta commented on #1920
I'm going to go ahead and close this.

While we don't yet harvesting via OAI, it was possible to manually harvest ICPSR via the APIs, and we did. And more importantly, we changed the the way we interact with harvested datasets: In 3.6, we needed these IP ranges because DVN confirmed you had permission and then downloaded the file from ICPSR (or other harvest source) for the user. In 4.0, we don't

[2016-01-29 17:52] #1920 closed

[2016-01-29 19:07] ecr2c commented on #2833
Hi Philip and Michael. I work with Sherry on UVA's Dataverse implementation. We found out this week that we cannot go forward with our local instance of Dataverse unless the change above is in place before we go live, per license agreement requirements as clarified by UVA's Director of Information Policy (our legal dude). We were really hoping for a February 8 soft launch. Could you give us an upd

[2016-01-29 19:11] scolapasta commented on #2354
The "develop" branch was created from 4.3 so this fix is already in develop.

[2016-01-29 19:16] majorseitan commented on #2888
This is addressed in pull request #2894

[2016-01-29 19:33] majorseitan commented on #2888
Tested providing an email with a different case
The following query was run
  SELECT ID, AFFILIATION, EMAIL, FIRSTNAME, LASTNAME, MODIFICATIONTIME, POSITION, SUPERUSER, USERIDENTIFIER FROM AUTHENTICATEDUSER WHERE (LOWER(EMAIL) = LOWER(?))
        bind => [1 parameter bound]]]
resulting in the error
This email address is already taken

The normal work flow works and I was able to register by provid

[2016-01-29 19:35] kcondon commented on #1406
@pdurbin
Thank Phil this documents the individual components (maybe add that bit about chkconfig for Apache).
My original intent for this ticket was mostly for internal use though it is also useful for others.

The main objective that I think still needs to be addressed somewhere is how to set up your server so on rebooting the box, dataverse as an app comes up (all services restart in the correct

[2016-01-29 19:50] mcrosas commented on #2833
The terms that the user needs to agree when creates an account  define also "deposit" terms. At Harvard Dataverse, these general terms are:
http://dataverse.org/best-practices/harvard-dataverse-general-terms-use

You can customize the terms for your installation. Would that be sufficient?

[2016-01-29 20:00] pdurbin commented on #829
An interesting description of ORCID integration: https://www.editorialmanager.com/robohelp/12.2/Editorial_Manager_Help/Single_Sign-on_via_ORCID.htm

[2016-01-29 20:05] mcrosas commented on #829
That's useful. ORCID as a SIngle-Sign-On provider is now one the
requirements for Phase 2 Dataverse remote authentication.

On Fri, Jan 29, 2016 at 3:00 PM, Philip Durbin <notifications@github.com>
wrote:

[2016-01-29 20:06] kcondon commented on #2211
@posixeleni @pdurbin Mention in Installation guide noted but I think Eleni's essential request remains open: add info to User Guide on what a Super User is and what things they can do and how to promote/revoke such permission.

[2016-01-29 20:11] kcondon commented on #2234
Looks good, closing.

[2016-01-29 20:11] #2234 closed

[2016-01-29 20:44] mheppler commented on #1696
@kcondon, @pdurbin, @scolapasta
Gentlemen. I have confirmed that this issue can be closed. Phil and I have reviewed the two open issues that were in the original checklist, "email in the installer" and "Dataverse Admin". Phil, confirmed that the installer email issue is resolved. I discussed the second "Dataverse Admin" issue with Gustavo and confirmed that there is no longer a problem with the ol

[2016-01-29 20:45] #1696 closed

[2016-01-29 20:48] pdurbin commented on #1520
@kcondon noticed this issue while testing my pull request at #2895 so I'm planning on testing @mheppler 's fix at b03e359 (1520-guides-navbar-fix branch) on my laptop and potentially merging it into the branch being tested that pull request (2884-install-guide-reorg).

[2016-01-29 20:52] pdurbin commented on #2211
Yes, agreed. User Guide territory.

[2016-01-29 21:06] pdurbin commented on #1520
Locally I switched to the 1520-guides-navbar-fix branch, ran `make clean && make html`, and then tried clicking an anchor from a long list ("Terms") from the User Guide. The bug still seems to be there:

![screen shot 2016-01-29 at 4 03 59 pm](https://cloud.githubusercontent.com/assets/21006/12688120/1aefa60e-c6a2-11e5-838a-14e71eb5a4d9.png)

![screen shot 2016-01-29 at 4 04 32 pm](https://cloud.g

[2016-01-29 21:12] mheppler commented on #2896
The title of this issue has been edited to be clearer after review it further with @sbarbosadataverse and @scolapasta. The `userGroupsAccess` table on the `permissions-manage-files` page does not have a scrolling feature. As many users that are in the database are the number of users that get displayed in that table, in full view on that page.

There are already other bug and user suggestion issue

[2016-01-29 21:15] mheppler commented on #2716
As suggested in #2896, this feature request could potentially be useful in other places in the permissions workflow, such as, on the File Permissions page to show a total number of users that have access to files for a dataset. Currently, an admin is required to count the rows of the `userGroupsAccess` table to determine this number.

[2016-01-29 21:25] pdurbin opened #2897 "A search for "experiment" yields results for "experience""
This bug was first reported by @tercer in https://github.com/IQSS/dataverse/issues/1928#issuecomment-104471953 but I'm opening this separate issue so we can close that one.

I just reproduced the bug with a search at https://dataverse.harvard.edu/dataverse/harvard?q=experiment (v. 4.2.3 build 55-6561f58) and this search for "experiment" yields results for "experience":

![harvard_dataverse_-_2016-

[2016-01-29 21:39] pdurbin opened #2898 "Search: dataverse alias not searchable"
Originally reported by @mcrosas and mentioned at https://github.com/IQSS/dataverse/issues/1928#issuecomment-104671393

A search for https://dataverse.harvard.edu/?q=datapass (sadly) does not find https://dataverse.harvard.edu/dataverse/datapass . This is on v. 4.2.3 build 55-6561f58

I believe the reason for this is that dataverse aliases are indexed under the Solr field `identifier` and this fiel

[2016-01-29 21:41] pdurbin commented on #1928
I just discussed this issue with @scolapasta and we agreed to close this issue (which I'll do now) after I create two issues to note the issues mentioned by @tercer and @mcrosas, which are, respectively:

- A search for "experiment" yields results for "experience" · Issue #2897
- Search: dataverse alias not searchable · Issue #2898

[2016-01-29 21:41] #1928 closed

[2016-01-29 21:47] mheppler commented on #1520
@kcondon, when testing this, make sure you give your browser a good "hold SHIFT and refresh" on the guides homepage, before navigating anywhere, so that you clear the old JS and CSS files out of your cache. I suspect that may have been the case with @pdurbin not seeing the fix. I just retested this locally to confirm it was still good. (See attached screenshot following the use case Phil outlined

[2016-01-29 22:15] ecr2c commented on #2833
Hi there, we have three separate license and terms of use agreement pieces that need to be in our instance. We have good home for the first two:

1. Terms of Use (for general use of the software and content of our Dataverse instance). It is passive consent, users can view the terms from a link (the tag line) in the heading of each Dataverse that goes to:
http://libra.virginia.edu/terms

2. Libra D

[2016-01-29 23:30] mcrosas commented on #2833
Thanks for the useful explanation. Does this mean that every time that same users publishes a new dataset or a version of an existing dataset you want that user to agree to the Confirmation of complying? Just trying to clarify if this should always appear at a time of "publishing".

Would this apply to all deposits for all dataverses in your installation? Otherwise, does this need to be configure

[2016-01-29 23:30] posixeleni commented on #2211
Who would have the most knowledge on our team as to what a super user can
do in the UI and with scripts?
On Jan 29, 2016 3:52 PM, "Philip Durbin" <notifications@github.com> wrote:

[2016-01-30 02:16] posixeleni opened #2899 "Investigate possibility of using Altmetrics for reporting and sharing dataset metrics"
@eaquigley and I spoke with [Altmetrics](https://www.altmetric.com/) about using their repository badges to track metrics for datasets in Dataverse.

They pointed us to this small piece of code which would need to be embedded into each dataset page and would just the section to be populated

[code]

A very helpful description as to what altmetrics offer is included here: https://scholarworks.iu.ed

[2016-01-30 02:21] posixeleni commented on #568
Created a new issue to track Altmetric #2899 and keeping this one for Counter, since they each deal with different kinds of metrics.

Email from Scholars Portal (Alan) had some useful info for us to look into Counter more for download stats

[2016-01-30 08:06] rlzijdeman opened #2900 "info request path in alias"
Hi, this relates to #1303. Users of our (IISH) instance of dataverse would like for the alias reflect the hierarchical structure of their (sub)dataverses. Obviously  '/' cannot be entered in the alias path and the result is that now the 'main' dataverse clutters with all kinds of aliases. In the future people might therefore 'miss out' on why a certain alias cannot be picked (they tend to think in

[2016-01-30 14:01] pdurbin commented on #2900
Dataverse aliases and paths have been discussed at #235. At this point I think it would be a fair amount of effort to refactor the code. Someone would need to dive into the code and play around to be more certain. Anyway, please see that issue for discussion on this topic.

[2016-01-30 15:27] ecr2c commented on #2833
Yes, exactly right! For every dataset a depositor publishes, the confirmation of complying should always appear as the popup box, for all dataverses in our instance.

Can you tell me more about the API issue? We are expecting all deposits to be via the Dataverse interface, does that still mean there are concerns with possible deposits from outside the Dataverse UI, even though we haven’t specifica

[2016-01-30 15:43] pdurbin commented on #2833
All APIs are open an enabled by default. I'm clarifying this in a pull request at #2895.

[2016-02-01 11:04] lmaylein commented on #2003
Regarding the initial request and the two options: Are there any plans to support html templates/snippets (as in Dataverse 3.x) or CSS (includes) on the level of instance or individual dataverses?

[2016-02-01 13:36] pdurbin opened #2901 "Do not load Google Analytics Javascript unless :GoogleAnalyticsCode is configured"
In #1594 and #2069 we stopped hard-coding the Google Analytics code for the Harvard Dataverse in the HTML (see ab6fe38 ) but didn't address the fact that the **Javascript** for Google Analytics ( http://www.google-analytics.com/analytics.js ) is still being loaded.

If the `:GoogleAnalyticsCode` setting is absent the Google Analytics Javascript should not be loaded.

This issue was brought to our

[2016-02-01 15:07] sekmiller commented on #2875
Here is the alter table sql statement to drop the columns (I'm waiting for an appropriate branch to put it into the upgrade script:

alter table
datasetversion
drop column availabilitystatus,
drop column citationrequirements,
drop column conditions,
drop column confidentialitydeclaration,
drop column contactforaccess,
drop column depositorrequirements,
drop column disclaimer,
drop column fileacces

[2016-02-01 15:30] sekmiller commented on #1740
This was fixed as part of the PF upgrade. Can be closed.

[2016-02-01 16:02] ecr2c commented on #2833
Do we as Dataverse administrators have the ability to turn off specific APIs that are on by default? If so, for example, we could turn off the publish API.

On Jan 30, 2016, at 10:43 AM, Philip Durbin <notifications@github.com<mailto:notifications@github.com>> wrote:

All APIs are open an enabled by default. I'm clarifying this in a pull request at #2895<https://github.com/IQSS/dataverse/pull/2895

[2016-02-01 16:25] pdurbin commented on #2833
@ecr2c there are two ways to publish datasets via API:

- http://guides.dataverse.org/en/4.2.3/api/sword.html#publish-a-dataset
- http://guides.dataverse.org/en/4.2.3/api/native-api.html#datasets (search for "publish")

I've never actually tried blocking SWORD, but I believe it's blockable in the same way that "native" API endpoints are blocked. Again, the pull request at #2895 is where how to blo

[2016-02-01 19:12] eijoac opened #2902 "cannot enable access request for individual restricted files"
cannot enable access request for individual restricted files even though I only select one of the restricted files to apply "Edit Files - Restrict" (all restricted files will have access request enabled). Is this an expected behavior? If so, i should not be allowed to select individual restricted files and to apply "Edit Files - Restrict" button.

also related, once having Terms of Access for rest

[2016-02-01 19:35] #1548 closed

[2016-02-01 19:35] #1700 closed

[2016-02-01 19:39] eaquigley commented on #2833
@ecr2c Hi! Would this pop up text need to be displayed each time a user were to publish a new version of a dataset or only the first time they publish the dataset?

[2016-02-01 20:56] ecr2c commented on #2833
We could go either way. if a researcher publishes a new version, they don’t need to see the acknowledgment a 2nd time. They would have seen it on first publish.

But if it is easier to have it programmed to display every time, that is ok too.

Thanks!

On Feb 1, 2016, at 2:43 PM, Elizabeth Quigley <notifications@github.com<mailto:notifications@github.com>> wrote:

@ecr2c<https://github.com/ecr2c>

[2016-02-02 08:43] majorseitan commented on #2901
Addressed in pull request #2903

[2016-02-02 17:03] pdurbin commented on #211
@eaquigley do you have a different expectation if someone tries to create a dataverse with a trailing space via API? Via API I'd expect to see an error message indicating which characters are valid, as reported above. However, as I believe @joshhartigan is suggesting, we **could** do the automatic trimming for both API and GUI.

[2016-02-02 17:06] pdurbin commented on #211
@eaquigley oh, sorry, it was Elda who asserted an expectation above. I think @raprasad simply used your GitHub accounts to import this issue from Redmine.

[2016-02-02 17:11] kcondon opened #2904 "FITS File Upload: not being ingested properly/ possibly due to misidentification of file type"
Reported by a user, see RT 232095
User was uploading a fits file but was not seeing the extracted metadata in the file description.

I tested here, was able to get it to work with a different file, had use try same file. They still could not get it to work. I downloaded their version of my file and it failed ingest for me too. After, all fits ingests failed for me. I was using Firefox v44.0. I tri

[2016-02-02 17:15] eaquigley opened #2905 "Footer: Make Copyright Date Dynamic"
Noticed today the copyright date in the footer is still 2015. Need to make this dynamic so we don't have to remember each year to update it.

[2016-02-02 17:17] mheppler commented on #211
Found a JSF-related, suggested solution on [Stackoverflow](http://stackoverflow.com/questions/33233398/how-to-prevent-spaces-form-jsf-hinputtext).

[2016-02-02 17:19] mheppler commented on #2905
Found a JSF-related suggested solution on [Stack Overflow](http://stackoverflow.com/questions/9174310/display-current-date-on-jsf-page).

[2016-02-02 18:26] sbarbosadataverse commented on #2722
@scolapasta @mheppler
This needs to be modified:
The other bug described by Tim (Brain Genomics Dataverse)

1. Open a private browsing tab
2. Navigate to
https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/25833

3. Click the checkbox next to a restricted file.
4. Click the Download button (not the Request Access button)

Expected Result:
User is not authenticated and will not

[2016-02-02 18:46] pdurbin commented on #2222
A better title for this issue would be "Follow up on Unintuitive behaviors when deleting files via SWORD API in #1784" because that's really what this issue is about.

Basically, back in April/May 2015 or so @scolapasta worked on #1784 and then he and I created this issue for me to change the SWORD code to use the code that has his fix in it. In b62334a (part of 4.0.1) I made this change, and sinc

[2016-02-02 18:47] pdurbin commented on #1784
Today I wrote some tests for this bug. See https://github.com/IQSS/dataverse/issues/2222#issuecomment-178752740

[2016-02-02 20:02] pdurbin commented on #1406
@kcondon the order of startup (at least as of RHEL/CentOS 6) can been seen by executing this command:

`ls /etc/rc.d/rc3.d | grep ^S | egrep 'postgres|shibd|httpd|glassfish|solr'`

What that shows on the demo server is this:

[code]

This means that PostgreSQL is started before Shibboleth (shibd), which is started before Apache (httpd), etc. Glassfish and Solr are started last.

These values come

[2016-02-02 20:53] pdurbin commented on #2322
@bionary just [wrote to the mailing list](https://groups.google.com/d/msg/dataverse-community/0Jp-hhNdM38/g1e3FJA5EQAJ) with a fantastic list of suggestions having to do with SolrCloud, which I just copied and pasted into a Google Doc called [Integrating Dataverse 4.x with SolrCloud](https://docs.google.com/document/d/1tfYtmoKPy-Ci7s6TOLa-PG-Ez9K_BQB5gGYKCAHbFO8/edit?usp=sharing).

[2016-02-02 20:55] pdurbin commented on #456
I hope that any upgrade to Solr (Solr 5 is out) will also include work toward #2322 about load balancing, fault tolerance, and high availability.

[2016-02-02 21:15] kcondon commented on #2280
Closing this issue but will keep idea of VM as part of future tools discussions.

[2016-02-02 21:15] #2280 closed

[2016-02-02 21:24] kcondon commented on #2082
Yes, there are jvm options to limit the size of thumbnails:
dataverse.dataAccess.thumbnail.image.limit
dataverse.dataAccess.thumbnail.pdf.limit

The optimized part I don't know about. The main problematic use case was GSD and their prexisiting, very large, non-jpeg files. I think you did something to address the bad behavior of ImageMagick for non-jpeg performance.

I supposed something similar co

[2016-02-02 21:49] mheppler commented on #2722
OK, to summarize, as I understand it.

The "Download" button at the top of the files table on the dataset page, which is intended for downloading "selected files", is not properly handling the use case for restricted files being selected.

[2016-02-02 21:53] #2082 closed

[2016-02-02 21:56] kcondon commented on #2619
Leonid, passing back to you to add to release notes. Then go ahead and close this.

[2016-02-02 21:58] kcondon commented on #1509
No longer happens, closing.

[2016-02-02 21:58] #1509 closed

[2016-02-02 22:00] kcondon commented on #1119
OK, this fulfills the basics: you can install and it works. I think I was hoping for some other params to be set but we have documented them now and this can be an ongoing project. Closing.

[2016-02-02 22:00] #1119 closed

[2016-02-02 22:12] kcondon commented on #2496
OK, error is suppressed, will reopen if we continue to have issues.

[2016-02-02 22:12] #2496 closed

[2016-02-02 22:21] kcondon commented on #2817
Mentioned, closing.

[2016-02-02 22:21] #2817 closed

[2016-02-02 22:21] kcondon commented on #2663
Documented, closing.

[2016-02-02 22:21] #2663 closed

[2016-02-02 22:22] kcondon commented on #2640
Init script provided, closing.

[2016-02-02 22:22] #2640 closed

[2016-02-02 22:24] kcondon commented on #2521
Documented, closing.

[2016-02-02 22:24] #2521 closed

[2016-02-02 22:25] kcondon commented on #2402
Looks good, closing.

[2016-02-02 22:25] #2402 closed

[2016-02-02 22:26] kcondon commented on #2287
Doc'd closing.

[2016-02-02 22:26] #2287 closed

[2016-02-02 22:27] kcondon commented on #1406
Thanks, the explanation is enough if the result is what we want. Closing.

[2016-02-02 22:27] #1406 closed

[2016-02-02 22:28] kcondon commented on #2289
Yes, this was previously fixed. Closing.

[2016-02-02 22:28] #2289 closed

[2016-02-02 22:31] kcondon commented on #2330
Looks good, closing.

[2016-02-02 22:31] #2330 closed

[2016-02-02 22:34] kcondon commented on #2617
Looks good, closing.

[2016-02-02 22:34] #2617 closed

[2016-02-02 22:36] kcondon commented on #2405
Doc'd closing.

[2016-02-02 22:36] #2405 closed

[2016-02-02 22:37] kcondon commented on #2311
Doc'd closing.

[2016-02-02 22:39] kcondon commented on #2401
OK, part of prereq, required before running installer. Closing.

[2016-02-02 22:39] #2401 closed

[2016-02-02 22:40] kcondon commented on #2415
Yep, doc'd closing.

[2016-02-02 22:40] #2415 closed

[2016-02-02 22:42] kcondon commented on #2632
OK, basics are documented, will update with DOI project. Closing.

[2016-02-02 22:42] #2632 closed

[2016-02-02 23:19] kcondon commented on #2321
Yep, closing.

[2016-02-02 23:19] #2321 closed

[2016-02-02 23:20] kcondon commented on #2661
Good job, pretty comprehensive. Closing.

[2016-02-02 23:20] #2661 closed

[2016-02-02 23:20] landreev opened #2907 "URLs for harvested datasets are not rendered properly."
A side effect of the dataverse page optimizations in 4.2.2. And my penny-pinching with entity objects, trying not to instantiate anything except for what was strictly necessary.
As the end result, a URL pointing to a local dataset.xhtml is rendered, instead of a link to the remote location.
I'm marking it 4.3, but would be in favor of producing a production patch for this.

[2016-02-03 14:31] pdurbin commented on #2134
@scolapasta explained that this is not the case. Password reset actions, even though they don't use the Command pattern, are logged. You can find them with `select * from actionlogrecord where actiontype = 'BuiltinUser';` as I mentioned at https://github.com/IQSS/dataverse/issues/2879#issuecomment-175008535

[2016-02-03 14:38] pdurbin commented on #2464
@scolapasta heads up that I'm going to retest this since I just worked on a similar issue in #2222 and passed it to @kcondon.

[2016-02-03 15:55] pdurbin commented on #2311
Shoot. @kcondon I need to reopen this issue. @sekmiller just ran into #1439 and in helping him troubleshoot his seemingly empty installation and "Search Syntax Error: Expected content type application/octet-stream but got ." in the Glassfish server.log, I'm realizing that during my rewrite I failed to mention that you have to **add** the line in question. For now I'll reopen this. Please send it t

[2016-02-03 16:14] majorseitan commented on #2838
Quick check before the pull request :
If sign-ups are disallowed a 403 error is returned.  The 403
page has a tip to sign up - I wonder if it is appropriate in`
this case.
![screenshot](https://cloud.githubusercontent.com/assets/8282657/12788392/4dd8378e-ca67-11e5-9c4b-88c75e12bc47.png)

[2016-02-03 16:29] pdurbin commented on #2838
@majorseitan ideally you would improve the messaging to make sense but please don't kill yourself on this because we'll want to review it with @eaquigley and @mheppler .

If you're asking what the user should see when they try to go to <http://localhost:8080/dataverseuser.xhtml?editMode=CREATE> directly, I think it should say something like this:

"Creation of local accounts has been disabled. Ple

[2016-02-03 17:09] pdurbin commented on #2464
I just confirmed this is still a bug by repeating the steps above. I'm on 9153e18 (2222-sword-delete-file branch) which is one commit ahead of develop (d65b905) but with no code changes.

This scenario differs in a few ways from the Rest Assured tests I wrote in 9153e18:

- all actions done by non-superuser
- some actions (create dataset, upload file, publish) done in GUI (but I don't think this m

[2016-02-03 17:13] pdurbin commented on #2464
I just retested this scenario with a superuser (dataverseAdmin) and I get the same results as with a non-superuser. The bug is still there.

[2016-02-03 17:17] pdurbin commented on #2222
Testing should also include the scenario here: SWORD: deleting a file from a published version (not a draft) creates a draft but doesn't delete the file · Issue #2464

However, I just re-tested that bug and it's still a bug. Obviously, the Rest Assured tests I wrote so far for this issue haven't caught it. I'm pulling this out of QA.

@scolapasta please advise. You're the one who worked on the fix

[2016-02-03 17:34] pdurbin commented on #2838
Note to self to review some of the ideas from @majorseitan at https://github.com/IQSS/dataverse/compare/develop...majorseitan:2838-account-creation-ignores-AllowSignup

[2016-02-03 17:38] eaquigley commented on #2855
Adding @tokeefe comment from #2261 to this ticket, "I propose adding a timestamp column to the permissions editing panel to reveal when a user submitted a request to access a restricted file, or files. Alternatively, adding the user's name to the automated email would make this information recoverable."

[2016-02-03 17:38] eaquigley commented on #2261
passing to qa to close as duplicate of #2855. (#2855 has more information)

[2016-02-03 17:41] sbarbosadataverse commented on #2896
@scolapasta  Can I close this? It's related to the larger bug #2722  and #2716

[2016-02-03 17:43] shlake commented on #2838
Yes, when AllowSignup up is turned off (i.e, what we would want for users logging in with Shibboleth SSO), the (above) message:
**"Creation` of local accounts has been disabled. Please click "Log In" to log in via your institution."**

sounds good.

[2016-02-03 17:46] eaquigley opened #2908 "Validation Message: Inform user they can't log in with an email address as a username"
We need to add a validation message to the log in and sign up pages to inform users they cannot use an email address as their user name. Tickets are being sent to RT in regards to this and it takes a while for support and the user to figure out what is going in. Would be nice to have email address as a log in option but that will take longer (#2115) and we need to add something in now that will he

[2016-02-03 18:02] landreev opened #2909 "MOC collaboration phase 1: Create a Swift/OpenStack storage driver"
Creating this GitHub issue, so that I could make a branch for the code I'm writing. And to serve as a starting point for other developers who may get involved in this project.

Buzzword Glossary:

MOC - Massachusetts Open Cloud project;
OpenStack - open source OS for cloud computing; used by the MOC.
Swift aka OpenStack Object Storage - scalable/redundant storage system used in OpenStack;
JOSS/jav

[2016-02-03 19:04] sbarbosadataverse commented on #2017
This was resolved as such:
the failure icon only shows up for admins, and does not show to users.

[2016-02-03 19:04] #2017 closed

[2016-02-03 19:05] pdurbin commented on #2464
In 401d840 I pushed a test to exercise the bug and it's a weird one. I'm uploading three files and then publishing the dataset. Then I delete a file. If I delete the **first** file in the list from the SWORD statement, everything is normal. The dataset moves to draft and the file is removed from that draft. If instead (in a new run of the test, the dataset has just been published) I delete the **s

[2016-02-03 19:07] pdurbin commented on #2222
I just improved the Rest Assured tests (still in a branch) in 401d840 so that #2464 is now being exercised. @scolapasta I'm hoping you can take the first look since you worked on the last fix. I'll put this in 4.3 and assign it to you to make sure we talk about it.

[2016-02-03 19:08] sbarbosadataverse commented on #2178
@eaquigley I can't tell you the last time I saw this message, since I created this in May, and didn't think I would need to put every instance of the bug into this ticket, unfortunately.

[2016-02-03 19:10] sbarbosadataverse commented on #2896
related to the larger bug #2722 and #2716

[2016-02-03 19:10] #2896 closed

[2016-02-03 19:32] sbarbosadataverse commented on #2641
@mheppler
Not sure why this was closed? This is not the same ticket as 2896--this is a different part of the files permission page than what was indicated iin #2896....

[2016-02-03 20:03] sbarbosadataverse commented on #2726
Just tried this again today to verify it is still happening--verified. Still a bug.

[2016-02-03 20:42] mheppler commented on #2060
I was able to replicate this locally. The issue relates to the "Download" button at the top of the files page not properly handling when restricted files are selected, whether it's multiple files or a single file. The same problem has been reported by @sbarbosadataverse in #2722.

[2016-02-03 21:07] scolapasta commented on #2834
Since we can now assign @majorseitan to issues, reassigning to him. I have the pull requests and will review.

[2016-02-03 21:42] sbarbosadataverse opened #2910 "Files permission page: success message when assigning permissions by files, should list all files assigned, not just one file"
Can't include complete screen shot due to user name, but when assigning permissions using the bottom files dialogue box on permissions page, you have the choice to select all files, and when you do and assign permission, success message only lists the "first" file in the dialogue box, and not all files successfully assigned and listed

<img width="390" alt="screen shot 2016-02-03 at 4 39 29 pm" sr

[2016-02-03 21:45] scolapasta opened #2911 "File API download bypasses terms of use and guestbook"
Currently, when you download a file through the UI, all logic for creating a GuestbookResponse row is down before hitting the API to download the file.

If you download the file directly from the API, you don't create a row here, so the count does not go up. Also this bypasses the terms of use and guestbook completely. We need to make sure a ) a row gets created, so counts are accurate, b) that we

[2016-02-03 21:50] scolapasta opened #2912 "Add more detail to ActionLogRecord"
The ActionLogRecord table records (among other things) every command that is called. However, the detail of the info for the commands is very sparse. Recently, we've been trying to debug a support issue and it became obvious that a mechanism for a command to provide more detail would be useful.

In this issue, we track the design and development of that infrastructure. Adding details for individua

[2016-02-03 22:18] sbarbosadataverse opened #2913 "File Permissions Page: If you add an already existing user to files, message should say "user already exists""
instead message says "not able to add role please contact ......"

[2016-02-03 22:20] mheppler commented on #2853
I would suggest that #2027 is more than related, it's a duplicate.

[2016-02-03 23:16] kcondon commented on #2852
Good catch guys! Works now: hover over first thumbnail, see preview, move directly over next in list, see preview. Closing!

[2016-02-03 23:16] #2852 closed

[2016-02-03 23:18] kcondon commented on #2502
@mheppler @pdurbin This is still happening on dvn-build, built from develop. Phil, this is now in develop branch, right?

[2016-02-03 23:22] kcondon commented on #2354
OK, I see the added help text:  All the users and groups that have access to your dataverse. for the Users/Groups section.

Since this was about opening the section should this be decided on by @eaquigley as Mike indicated?

[2016-02-03 23:36] pdurbin commented on #2502
Yep. Already in develop.

[2016-02-03 23:38] kcondon commented on #2255
OK, I see the added text, same as in the other ticket. Not sure if this can be closed? @eaquigley

My personal take on the meaning of the two sections are:
permissions: define a general contribution model.
user/groups: assign permissions on an individual user or group basis.

[2016-02-03 23:40] kcondon commented on #2502
OK but not working.

[2016-02-04 01:53] pdurbin commented on #2910
https://github.com/IQSS/dataverse/issues/2464#issuecomment-179409362 is a writeup of another bug where there's a difference between how the first file is treated compared to subsequent files but I sort of doubt these issue are related and this comment I'm making may well just be noise. :)

[2016-02-04 09:16] bencomp commented on #2255
IMHO the meaning of each permission should be very clear and not subject to personal views.

As far as I can tell, for edit access there are the following roles and permissions that allow users to add datasets:

- dataset creator: you can add datasets and edit your own
- contributor: you can add datasets and edit your and others' datasets, submit them for review
- curator: you can add datasets, ed

[2016-02-04 14:58] pdurbin commented on #2104
https://dataverse-demo.iq.harvard.edu was renamed to https://demo.dataverse.org in #2651.

To me this issue is about registering the following two servers at https://incommon.org/federation/info/all-entities.html#SPs

- https://dataverse.harvard.edu (production)
- https://demo.dataverse.org (QA/testing/staging/demo)

As of this writing https://dataverse.harvard.edu is using a non-recommended entit

[2016-02-04 15:16] mheppler commented on #2913
Sonia, is this a duplicate of #1503 "Role Assignment: Able to Attempt to Assign the Same Role to the Same User Multiple Times"? If not, could you clarify the issue in more detail. Thanks.

[2016-02-04 15:20] mheppler commented on #2910
Sonia, is this a duplicate of #2840 "File Permissions: Grant Access success msg only lists file name for one of multiple"? If not, could you clarify the issue in more detail. Thanks.

[2016-02-04 15:35] raprasad opened #2914 "Bug in TokenApplicationTypeServiceBean.getGeoConnectApplication"
Bug where the hard-coded default geoconnect attributes are always used and overwrite the database entry.

The hard-coded attributes should not be used when there is info in the database.

https://github.com/IQSS/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/worldmapauth/TokenApplicationTypeServiceBean.java#L33

Note: To reproduce:

1. Click "Map Data" next to a shapefile
1. Look at

[2016-02-04 15:41] raprasad commented on #2914
Fixed/tested locally.

[2016-02-04 15:51] pdurbin commented on #2046
As of Dataverse 4.2.3, when users log in via Shibboleth and click on "Account Information" they see "You are logged in through your institution. If you need to update any of this information, please contact your institution." Here's a screenshot:

![account_-_root_dataverse_-_2016-02-04_10 46 20](https://cloud.githubusercontent.com/assets/21006/12820324/901657dc-cb2c-11e5-98df-46c3c4275cbd.png)

W

[2016-02-04 15:55] kcondon commented on #2255
Ben, you yourself are offering a personal opinion in an attempt at arriving at a mutually beneficial solution.
This is how people reason.

________________________________
From: bencomp [notifications@github.com]
Sent: Thursday, February 04, 2016 4:16 AM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] Permissions page: explain relationship between the access settings and the user/g

[2016-02-04 16:33] pdurbin opened #2915 "Shibboleth: Add superuser API endpoint to migrate Shib user to builtin/local account"
In #796 we developed a GUI workflow for users will existing builtin/local accounts to convert their account to a Shibboleth account.

Now we'd like to develop a superuser API endpoint to reverse this process. The user would contact support indicating that they'd like to switch to a local account (because they've left their institution or whatever other reason) and someone with an API token associa

[2016-02-04 16:55] bencomp commented on #2255
Fair point, @kcondon. I didn't mean to attack you and I'm sorry for my harsh comment.

[2016-02-04 17:01] kcondon commented on #2255
It's ok, I'm having a tough morning ;) Gustavo and I were discussing the underlying issues and trying to get at the essential problem: what is  the exact behavior and consequences of making selections in the permissions/edit access panel and then correspondingly how to communicate that well. We do have business cases that require this support, particularly Journal workflows, so we need something l

[2016-02-04 17:33] pdurbin commented on #796
Here's how an account conversion from builtin/local to Shibboleth looked as of Dataverse 4.0:

## Step 1: Email match found, prompt to convert

![shib_-_2015-04-13_11 54 43 2](https://cloud.githubusercontent.com/assets/21006/12823648/2bec6b66-cb3b-11e5-88f6-ceaedfc8b128.png)

## Step 2: Account conversion successful

![harvard_dataverse_-_2015-04-13_11 55 50 2](https://cloud.githubusercontent.com/

[2016-02-04 18:49] pdurbin opened #2916 "Shibboleth: tooling for debugging SAML assertions"
When chatting with @ecr2c @shlake and others about troubles they've had getting Shibboleth configured I mentioned over the phone and later in a [support ticket](https://help.hmdc.harvard.edu/Ticket/Display.html?id=232147#txn-4607760) that there's an undocumented database setting that may help them reason about assertions being made via SAML by their Identity Provider by increasing logging in the G

[2016-02-04 19:01] mheppler commented on #1950
Raman, please review if this issue you created is a duplicate of the more recent issue, #2722 Restricted File Download: "Download (selected files)" button above files table is not properly handling restricted files. If it isn't please comment to clarify your issue with more details. Thank you.

[2016-02-04 19:15] pdurbin commented on #2104
I checked in with @kcondon and he said that ideally the following servers would be registered with InCommon:

- https://dataverse.harvard.edu (production) - public
- https://demo.dataverse.org (demo of latest release) - public
- https://beta.dataverse.org (demo of pre-release software) - public
- build server 1 (QA) - private
- build server 2 (QA) - private

I'm adding public vs. private above bec

[2016-02-04 19:28] pdurbin commented on #2104
I just changed the entityID on https://demo.dataverse.org to the one we want to use (`entityID="https://demo.dataverse.org/sp"`). I changed it in two places:

[code]

Running `service shibd restart` was enough to download the new metadata from https://demo.dataverse.org/Shibboleth.sso/Metadata but insufficient for login to work properly. I had to run `service httpd restart` as well. Now it works a

[2016-02-04 19:31] eaquigley commented on #2726
This could potentially be more than just an Rdata issue; this could be happening for any large file that is downloading and times out.

@scolapasta @kcondon

[2016-02-04 19:32] posixeleni opened #2917 "As a researcher, Dataverse admin or curator, I want more information about my data sent to DataCite so that it's more discoverable"
To help expand on the DataCite DOI support #24  we are doing we will also add some additional DataCite fields which will help in the discovery of our datasets in their index.

For example this is what we currently send:

[code]

This will need to be updated to this, which includes metadata suggested by Martin Fenner from DataCite and by the Helmsley project (add contributors).

[code]

Complete ma

[2016-02-04 20:18] landreev commented on #2909
Launched a brand-new CentOS node on the MOC, at 129.10.3.145.
(ask me for ssh credentials if you need to log in).
To get your own MOC account: fill the form at https://github.com/CCI-MOC/moc-public/wiki/MOC-Production-(Kaizen)-User-Account-Requests
Once you have received the password for the account:
The "getting-started" instructions, at https://github.com/CCI-MOC/moc-public/wiki/Getting-started

[2016-02-04 20:32] pdurbin commented on #2115
Related: Validation Message: Inform user they can't log in with an email address as a username #2908

@scolapasta do you want the "quick fix"? To simply inform the user they can't use an email address, which is basically what #2908 is about? Please advise.

[2016-02-04 20:42] raprasad commented on #1950
thanks, @mheppler.  Closing as this is a duplicate of #2722

[2016-02-04 20:42] #1950 closed

[2016-02-04 21:01] eaquigley commented on #2115
@pdurbin we've decided to go ahead and do the logging in via email option instead of the "quick fix".

[2016-02-04 21:56] #2263 closed

[2016-02-04 21:58] mheppler commented on #2502
I tested this again in dvn-build, as well as my local dev environment of the "develop" branch. Both environments show that the "hover-toggle" functionality of the Metrics widget has been disabled, so that when you mouse over the blue, burnt-orange and orange blocks at the bottom of the widget, the larger color-block above them remains on the green "Downloads" section.

If this "hover-toggle" funct

[2016-02-04 22:01] kcondon commented on #2502
OK, I had done shift+refresh but maybe I clicked on the tab which causes coming soon to appear. I understand this ticket is about hover only not removing click through. Closing.

[2016-02-04 22:06] mheppler commented on #2502
My apologies. Didn't realize that there was a "click" action that needed to be disbled as well. I am reopening this ticket to fix.

[2016-02-04 22:11] scolapasta commented on #2873
This appears to be a duplicate of #2699. If not, could you clarify the issue in more detail. Thanks.

[2016-02-04 22:15] scolapasta commented on #2733
Closing, as this appears to be due to previous server instability.

[2016-02-04 22:15] #2733 closed

[2016-02-04 22:18] scolapasta commented on #2639
On page, there is feedback, as designed, in the button text changing and being grayed out. Also, a notification is created (and e-mail sent).

@sbarbosadataverse assigning back as can't reproduce, and you can add more detail if this is mistaken.

[2016-02-04 22:21] scolapasta commented on #2404
We're not able to reproduce. Back then,  we did have issues with delete, which were fixed, so was possibly do to then. If you can reproduce, we can reopen (or open new issue).

[2016-02-04 22:23] scolapasta commented on #350
@eaquigley can we close this one?

[2016-02-04 22:27] scolapasta commented on #315
rediscussed with @kcondon - although this does happen, it:
a) affects only one browser
b) happens with a very specific use case (autofill)
c) has an easy workaround

so we won't invest time to fix. Closing.

[2016-02-04 22:27] #315 closed

[2016-02-04 22:44] scolapasta commented on #2801
This appears to be a duplicate of #2221. If not, could you clarify the issue in more detail. Thanks.

[2016-02-04 22:44] scolapasta commented on #2221
Also md5.

Since these are harvested, we don't have this info, so we probably should hide this on the card.

[2016-02-04 23:21] kcondon commented on #2628
Note noted.

[2016-02-04 23:23] kcondon commented on #2884
Phil, this looks great and was a lot of work. Thanks. I think we can close this and open tickets for specific issues or feedback.

[2016-02-04 23:23] #2884 closed

[2016-02-04 23:37] mheppler commented on #2502
Disable click-toggle functionality of the Metrics block on the dataverse, dataset and file pages.

This code commit was made to the ["feb-16-ux-fixes"](https://github.com/IQSS/dataverse/tree/feb-16-ux-fixes) branch and can be tested there. Sorry for the mixup regarding the hover vs. click functionalities. Should have caught that on the first pass.

[2016-02-04 23:44] mheppler opened #2918 "Guestbook: Custom question dropdown displays behind popup"
The dropdown menu for selecting a multiple-choice answer for custom questions in the Guestbook popup form, displays behind the popup, so that you can not view the options.

[2016-02-04 23:47] mheppler commented on #2918
This issue has been seen in the app before, and since I'm fixing it yet again, I've decided to be more prudent in my attempts to fix. I have gone identified all popups that have a component with a dropdown menu of some sort, so that I may test each to determine if this bug exists anywhere else.

- [ ] roles-edit.xhtml, rolesPermissionsDialog, h:selectManyCheckbox
- [ ] roles-assign.xhtml, userGrou

[2016-02-05 00:05] mheppler commented on #2918
Fixed dropdown menu for custom question that displayed behind popup in the File Download > Guestbook workflow.

After applying the new fix, I was not able to find the bug in any of the menus above. This solution should cover the use of any more PrimeFaces components that use a dropdown menu. (For the record, I do not believe this is an issue for generic JSF components.)

This code commit was made

[2016-02-05 14:14] sekmiller commented on #1223
This has been completed.  To verify please test that view and edit metadata works in both template and dataset contexts

[2016-02-05 14:14] pdurbin commented on #2908
I've been assigned #2115 so I'm grabbing this one as well.

[2016-02-05 15:45] pdurbin commented on #2115
@scolapasta can you please review my commit at ff7770b (new branch 2115-email-as-username).

Things to think about (I wrote tests for these in the commit):

- Users **could** have an extremely long email addresses that violate the length constraint on username.
- Email addresses can have a plus sign or an apostrophe in them (now allowed in the commit per the screenshot below)
- Email addresses **c

[2016-02-05 15:55] pdurbin commented on #2908
Giving this to @scolapasta to review my commit in a new branch. Details at https://github.com/IQSS/dataverse/issues/2115#issuecomment-180409507

[2016-02-05 16:08] pdurbin commented on #211
In case it's of interest, I just wrote some tests of validation logic here: https://github.com/IQSS/dataverse/blob/ff7770b3cc24bcc88b868dcc1248c5d43ad39264/src/test/java/edu/harvard/iq/dataverse/authorization/providers/builtin/BuiltinUserTest.java (hasn't been merged yet, it's part of my pull request at #2919 ).

[2016-02-05 17:14] pdurbin commented on #2115
I just spoke with @scolapasta and realize now that when I made my pull request at #2919 I completely misunderstood the requirement. I guess I was thinking too much about "Inform user they can't log in with an email address as a username" at #2908 and thought that the requirement is to allow the characters that are allowed in email addresses to be allowed in usernames. I was mistaken. The idea here

[2016-02-05 17:15] pdurbin commented on #2908
I misunderstood the requirement: https://github.com/IQSS/dataverse/issues/2115#issuecomment-180447388

I'm stealing this back.

[2016-02-05 18:13] eaquigley opened #2921 "Info Message: Inform user which version they are editing"
we need to add an info message informing a user they are editing a draft of the most recent version if they access the edit options from a version that isn't the most recently published version.

example: on version 1 of a dataset with 3 published versions, select several files, click Edit Tags, need to inform the user they are editing the file tags in v3 NOT v1.

[2016-02-05 18:54] mheppler commented on #2641
This popup has another minor, related bug #2572 that would improve the UI.

[2016-02-05 19:01] mheppler commented on #2391
The SelectCheckboxMenu component shows the same UX issue in the [PrimeFace Component Showcase](http://www.primefaces.org/showcase/ui/input/checkboxMenu.xhtml). In that example, they use a "Submit" link to display the selections to the user on the page. After a quick search, I found a potential [AJAX event listener](https://github.com/primefaces/primefaces/issues/318) solution, which I was able to

[2016-02-05 19:06] pdurbin commented on #2115
Ok, I just made a new pull request at #2922 with some questions for @scolapasta so I'll assign this issue to him.

[2016-02-05 19:07] pdurbin commented on #2908
I just made a new pull request at #2922 with some questions for @scolapasta so I'll assign this issue to him.

[2016-02-05 19:24] eaquigley commented on #2354
its a great idea to have it open by default but really only works when there aren't many users with roles. once you get over 10-15, that page is going to turn really long and the role descriptions at the bottom won't be seen. so if there could be logic that its open by default if there are less than 10 or 15 great. removing from 4.2.4 as there needs to be some more investigation into this.

[2016-02-05 19:26] mheppler commented on #2641
I was not able to locally reproduce all the aspects of this bug report.

- [NO] Request access file count on the File Permissions manage page reflected the number of all files requested, which included files that were not restricted
- [YES] File Access popup list the files in random order
- [NO] File Access popup shows all files selected, but grants access in "chunks", you have to keep clicking "G

[2016-02-05 19:29] eaquigley opened #2923 "File Page: Add Back to Top Option at Bottom of Page"
would be helpful to have something like this: https://codyhouse.co/demo/back-to-top/index.html on the files page so if a user has scrolled down the page to see a ton of files, they can easily navigate back to the top.

this would be something to do during the Files Tab Redux (which includes adding a view all option for the files tab)

[2016-02-05 20:24] mheppler commented on #2835
@sbarbosadataverse - I was not able to reproduce this on my local environment or on production.

Can you share some more details about what the user reported? When was the date on the report? Was there a particular dataset?

[2016-02-05 20:35] landreev commented on #2907
I have a simple fix checked in, into the branch 2686-2907-bugfixpatch-424.
It's simple, or simplified in that, rather than fixing the card-rendering code in the SearchResultsFragment, to render the correct remote url, it was much easier to modify DatasetPage, to redirect to the original harvested URL (instead of issuing 404).
So the user still goes to the local dataset.xhtml, but gets redirected f

[2016-02-05 20:50] eaquigley commented on #350
@scolapasta no, this was never done for multi select fields. I can see this being needed even more with biomedical data. @posixeleni

[2016-02-05 20:51] scolapasta commented on #2115
If for some reason this does not get closed for 4.3, let's reopen #2908 and at least get the validation message in.

[2016-02-05 20:51] scolapasta commented on #2908
in fact, since we're fixing #2115 we can just close this one.

[2016-02-05 20:51] #2908 closed

[2016-02-05 21:22] landreev commented on #2686
The fix is checked in, in the 2686-2907-bugfixpatch-424 branch.
For the record, it wasn't just the typo in the setting name; misspelled or not, that setting was never consulted by the download instance generating the output.

[2016-02-05 21:29] mheppler commented on #2115
Cleaned up the UI for the loginpage to make space for the longer "Username/Email" label.

[2016-02-05 22:00] landreev commented on #2686
The branch: 2686-2907-bugfixpatch-424
The size limit option for the zipped downloads: ZipDownloadLimit
Should be set to the number of bytes.
For example:
curl -X PUT -d 100000000 "http://localhost:8080/api/admin/settings/:ZipDownloadLimit"
to set it to 100MB.

[2016-02-05 22:02] landreev commented on #2907
Once again, the branch name is 2686-2907-bugfixpatch-424
You'll need some harvested datasets in order to test that it's working now...
On a copy of prod. db perhaps?

[2016-02-05 23:14] mheppler commented on #2221
Noticed on [production](https://dataverse.harvard.edu/?q=&fq0=fileTypeGroupFacet%3A%22unknown%22&sort=dateSort&order=desc&page=8293&types=files) that a blank MD5 is also showing up for files that are local.

<img width="708" alt="screen shot 2016-02-05 at 6 13 14 pm" src="https://cloud.githubusercontent.com/assets/687227/12861840/3674c30e-cc34-11e5-83f9-ff3180667ce1.png">

[2016-02-05 23:24] mheppler commented on #2221
Added render logic to hide empty metadata fields for harvested files in the dataverse result cards.

[2016-02-08 14:49] pdurbin commented on #70
Feedback via @thegaryking at https://help.hmdc.harvard.edu/Ticket/Display.html?id=232324

"at https://dataverse.harvard.edu/dataverse/GovDept why is there a list of dates that goes only up to 2013 even though the individual items go until 2016? see screenshot" ![pubdate](https://cloud.githubusercontent.com/assets/21006/12888537/afabe778-ce48-11e5-87d6-1db18a97127f.png)

It's probably time to take

[2016-02-08 15:45] eaquigley commented on #2681
Related to #2716 as there needs to be a counter in that workflow as well. We need to figure out a solution.

[2016-02-08 15:51] kcondon commented on #2283
Phil has addressed a majority of the issues with these changes. This is likely to be an ongoing effort as we receive feedback from users. Subsequent changes will be addressed in separate tickets more targeted at specific issues.

Closing.

[2016-02-08 15:51] #2283 closed

[2016-02-08 15:54] kcondon commented on #2502
OK, hover and clicks are disabled. Closing.

[2016-02-08 15:54] #2502 closed

[2016-02-08 15:59] shlake commented on #2832
Update on the Guide URL problem:

We were running (in test) DV version 4.2 where the guide link for the (user) guide was pointing to:
:GuideBaseUrl/en/4.2/user

Now that we have upgraded our test server to 4.2.3, the URL that the User Guide points to is:
:GuideBaseUrl/en/4.2.3/user
(which means I had to symlink another directory for my guides - or move my guides to the new place)

Please make this

[2016-02-08 16:00] bencomp commented on #2141
Related: #938

[2016-02-08 16:08] mheppler opened #2925 "Files Edit Tags: Missing "Remove" and Add Multiple Custom File Tags"
There were some UX issues outline in #2391 regarding the SelectCheckboxMenu component used for the File Tags and Tabular Data Tags. Additional issues came to light with the Custom File Tag field as that solution was being developed.

- You can not remove a Custom File Tag.
- You can only add one Custom File Tag at a time.

[2016-02-08 16:25] kcondon opened #2926 "Files card: Lock icon not displaying properly in Safari Version 5.1.10 (6534.59.10)"
In  this version of Safari, the lock appears as a tiny colored speck where the lock normally is. I'll test with another Safari on a different machine to confirm. It looks fine in FF and Chrome.

[2016-02-08 16:30] sekmiller commented on #2722
Based on discussions with Liz and Gustavo I have implemented the following:

If the user selects only files that are restricted he will be shown a popup saying that none of the selected can be downloaded.  If the dataset allows request access that will be noted in the popup.

If the user selects both files that he can and cannot download, he will be shown a popup which lists by name those files th

[2016-02-08 16:33] sekmiller commented on #2722
@eaquigley can you review the bundle and make changes or pass to Kevin.

[2016-02-08 16:37] kcondon opened #2927 "Delete Role: There is no way in the UI to delete a user created role."
Deleting a role can be problematic: need to first remove all assignments, etc, cannot delete built in roles, need to be superuser, etc. However, all were true when I tested creating a custom role and saw no way to delete.

[2016-02-08 16:45] juancorr commented on #209
Hi,

I think that there are some issues to solve to have a complete multi-language environment. You could decide the advisable to Dataverse :

- metadatablocks tsv files:
    + Include only labels but not titles or descriptions and use ResourceBundle files?.
    + Create a file version for language and select the correct file for the current i18n configuration (Ej : astrophysics.tsv – astrophysics

[2016-02-08 16:48] raprasad commented on #2615
Done.  Tested on production WorldMap.  (All this code is on the WorldMap side)

[2016-02-08 16:48] #2615 closed

[2016-02-08 16:49] raprasad commented on #2611
Done.  In production and tested on prod Dataverse.  (Code was on the Geoconnect and WorldMap sides)

[2016-02-08 16:49] #2611 closed

[2016-02-08 16:51] kcondon opened #2928 "Assigning Roles: Assigning a duplicate role results in less helpful message."
When I attempt to assign the same role to the same user, it fails and presents an error in the ui:
 The role was not able to be assigned.  Please contact support. Date/Time: 2016-02-08 16:47:16 Server: dataverse-internal.iq.harvard.edu

I was doing something not allowed but this could happen with long lists of users and it would be better if the message said This role has already been assigned or

[2016-02-08 16:57] raprasad opened #2929 "WorldMap: Join Target updates"
This pertains to adding WorldMap join targets for tabular upload.
- Join Targets
- [ ] Django admin: description of the process
- [ ] Description for join target
- [ ] Future: start/end years
- [ ] Add geographical extent
- [ ] Return bounding box

![mozilla_firefox](https://cloud.githubusercontent.com/assets/1036060/12892984/a7120a98-ce5c-11e5-8bca-f3c18ab80974.png)

[2016-02-08 17:00] kcondon opened #2930 "Create Group: After adding a group for the first time, there is a success message but the welcome page needs to be refreshed to see group added."
When I first add a group, there is a success message but the page remains on the initial welcome page. Refresh shows the created group. Adding a second group shows group list and success message as expected.

[2016-02-08 17:01] eaquigley commented on #2255
@bencomp i wanted to clarify that in the edit access section of this page, by default the configuration is that no one can add dataverses or datasets (as can be seen in the image below). a user will need to go in and select the ability for anyone to be able to add sub dataverses or datasets as well as if they can edit or not.

![screen shot 2016-02-08 at 11 44 40 am](https://cloud.githubuserconten

[2016-02-08 17:05] eaquigley commented on #2722
@sekmiller can do. could you comment on the pull request for this feature with this issue # so its easier to find. thanks!

[2016-02-08 17:05] pameyer commented on #2917
One suggestion: allow for '<resourceType resourceTypeGeneral="Dataset">particular kind of dataset</resourceType>' (in addition to just "Dataset") and the "subject" tag.

If that belongs in a different issue (aka - not relevant for this indexing), please let me know (or move it wherever it fits better).

[2016-02-08 17:11] kcondon commented on #2918
Popup in question is fixed, checked others mentioned and they are also working. Closing.

[2016-02-08 17:11] #2918 closed

[2016-02-08 17:28] pdurbin commented on #2863
Speaking of the [CONTRIBUTING.md](https://github.com/IQSS/dataverse/blob/develop/CONTRIBUTING.md) file, #2594 is related and I made a variety of improvements in b622805 to CONTRIBUTING.md in a new branch called 2594-contributing. I think the pull requests section of CONTRIBUTING.md doesn't necessarily need to change. What's important is to have persistent branch (as @bencomp mentioned) for pull re

[2016-02-08 17:34] raprasad commented on #2546
closing.  replacing with updated tickets

[2016-02-08 17:34] #2546 closed

[2016-02-08 17:40] kcondon commented on #2926
Looks ok on Safari 6.1.x so likely an old Safari issue. Closing.

[2016-02-08 17:40] #2926 closed

[2016-02-08 17:57] kcondon commented on #2907
This works for Odum and now Roper, now that the destination service was updated, but fails with 404 for ICPSR. Most likely an issue with the actual destination URL being outdated now, will check.

[2016-02-08 18:07] kcondon commented on #2801
Yes, it is a duplicate, now that it was identified as harvested. Closing.

[2016-02-08 18:07] #2801 closed

[2016-02-08 18:17] pdurbin commented on #2832
@shlake I understand you're problem but it's not clear to me what change you are proposing. When you upgrade to 4.3 or 4.4 you'll need to create a new symlink or rename the directory that has your custom docs, like you said. We could document this fact if it's helpful. It sounds like you already know what to do. It's a post-upgrade step that people who have written custom docs must do.

[2016-02-08 18:24] mheppler commented on #2925
Added static "Apply" button to the Custom File Tag input on the Edit File Tags popup on the dataset pg.

This code was pushed to the ["2391-file-edit-tags"](https://github.com/IQSS/dataverse/commits/2391-file-edit-tags) branch.

[2016-02-08 18:28] landreev commented on #2907
It is a local "404", so it is a lookup problem on our end.
Most likely because our DOI code expects to have another "/" in the authority, maybe? - Their authority has no "shoulder" - it's just "10.3886".
Looking into it.

[2016-02-08 18:31] mheppler commented on #2391
Added component for viewing Selected Tags to the Edit Tags popup form on the dataset pg. It display the tags in a section of the form labeled "Selected Tags". (See attached.)

Additional development is required to get this new custom component wired with the Custom File Tag input. That is being tracked in issue #2925 because other requirements need development for that feature.

This code was push

[2016-02-08 18:44] kcondon commented on #2686
Note: the default is 10MB but it can be changed by the switch mentioned. This should be documented.

[2016-02-08 19:05] mheppler commented on #2221
@kcondon - This was not tested locally, as I was not able to set up my local environment with harvested files.

[2016-02-08 19:05] landreev commented on #2907
Pushed a fix into the branch.

[2016-02-08 19:39] landreev commented on #2686
OK, the default is now 100MB (like what we had in DVN 3.*?)
Also, changed the logic of size checks - it's now checking the size of the file *before* adding it to the zip stream, not after. So, if TOTAL + CURRENT FILE SIZE > LIMIT, then CURRENT FILE doesn't get added. Back in DVN and up until now we were checking this *after* the file was added to the stream.

Yes, if you have the limit set to N, a

[2016-02-08 19:45] kcondon commented on #2686
Works as described.

[2016-02-08 20:01] kcondon commented on #2907
OK, works now. Closing.

[2016-02-08 20:01] #2907 closed

[2016-02-08 20:02] #2686 closed

[2016-02-08 20:10] mheppler commented on #2572
The table order is determined by the attribute `rowKey="#{roleAssignment.id}"`.

[2016-02-08 21:27] eaquigley commented on #2722
text updated in the bundle. passing to @kcondon. could i get another build on dataverse-internal to see how the text looks in the UI? thanks!

[2016-02-08 21:50] kcondon commented on #2722
OK, popups are correct except in the case where you want to download the unrestricted files of those selected, they don't actually download.

[2016-02-08 21:50] mheppler commented on #2572
Fixed sort order of the file table on the Grant FIle Access and File Access popups on the File Permissions pg. Also added icons to action buttons to better distinguish Grant from Reject.

This code was pushed to the ["2572-permissions-ux"](https://github.com/IQSS/dataverse/tree/2572-permissions-ux) branch.

[2016-02-08 21:57] mheppler commented on #2572
Sorry, taking this back. Don't seem to have this solved on all three dataTables on the File Permissions pg. The dataTable (Line 236) in the "Grant Access to Users/Groups" popup is still looking random by `rowKey="#{file.id}"` and not sorted by `sortBy="#{file.displayName}"`.

[2016-02-09 00:58] mheppler commented on #2716
I am taking this issue, as I have found a [potential solution](http://stackoverflow.com/questions/9372632/rowselect-event-primefaces-datatable) to the dynamic counter associated with a selection dataTable.

[2016-02-09 04:04] mheppler commented on #2716
Added counter to dataTables in the File Permissions pg, plus prototype for dynamic "selected" counter in the access action popups.

[2016-02-09 14:19] posixeleni commented on #2917
Thanks for the suggestions @pameyer we are tracking what mapping we can support for the first phase here: https://docs.google.com/spreadsheets/d/1uADPbtVUEIXz5phtThjxU6gkAg-5jojxSlHtF959lEU/edit?usp=sharing

[2016-02-09 15:50] mheppler commented on #2658
Added role description to the Assign Role popup on the Dataverse/Dataset Permissions pg.

[2016-02-09 15:57] raprasad opened #2934 "tabular checklist"
- [x] join map
  - [x] complete join
  - [x] completely failed join
      - [x] no rows message?
  - [x] partial join
      - [x] partial row match
- [x]  delete layer (reuse shp code)
- [x]  classify layer (reuse shp code)
- [x] lat/lng map
- [x] Worldmap, tablejoin delete isn't dropping the view

---

- [x] SERIOUS: csvkit will convert strings to numeric, even if they are quoted.  no way to forc

[2016-02-09 16:38] eaquigley commented on #2722
Had @sbarbosadataverse try out this new workflow. Everything looks good to her except for how difficult it is to identify the names of the restricted files that won't be downloaded. @sbarbosadataverse also stated that no matter the # of restricted files selected, all names need to appear either in a column style or the way it currently is with more formatting (like: File 1, File 2, File 3) and a w

[2016-02-09 16:45] mheppler commented on #2716
Here is a break down of all the counters that are being added to the various permissions page.

*Dataverse/Dataset Permissions*
- Users/Groups role assigned table

*File Permissions*
- Users/Groups access requests table
- Users/Groups file access requested popup (w/ dynamic "Selecting # of... " count)
- Users/Groups access granted table
- Users/Groups file access granted popup (w/ dynamic "Selecti

[2016-02-09 16:55] mheppler commented on #2572
The "Grant File Access" popup seems to be the only place that the `sortBy` attribute is working for. (See attached.)

Here is a list of file and users/groups tables in the various permissions workflows that need to have the sort order fixed.

*Dataverse/Dataset Permissions*
- [ ] Users/Groups role assigned table (broken)

*File Permissions*
- [ ] Users/Groups access requests table (working?)
- [x]

[2016-02-09 16:55] sbarbosadataverse commented on #2716
Will a "date and time" stamp be part of what you are doing? or a separate
ticket?

Thanks

On Tue, Feb 9, 2016 at 11:45 AM, Michael Heppler <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test da

[2016-02-09 17:02] mheppler commented on #2716
@sbarbosadataverse - the issue you reference is outlined in #2855 and will be developed separately from this specific issue. It is my intent to prioritize as many permissions-related issues as possible and get them into development as quickly as possible. This issues is high on that list.

[2016-02-09 17:05] sbarbosadataverse commented on #2716
Great. Thanks. Otherwise what you sent looks great!

On Tue, Feb 9, 2016 at 12:02 PM, Michael Heppler <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Dem

[2016-02-09 17:07] sekmiller commented on #2722
I have formatted the requested restricted files as a list for readability.

The code has been pushed to the branch.

[2016-02-09 18:16] sbarbosadataverse opened #2936 "order "publication date" facet: facet should appear in order by year"
currently "publication date" facet shows up by "year with most datasets"--Gary would like to see it ordered by "year" regardless of # of datasets published, and this can be part of giving the dataverse admin more options in displaying their facets, feature?

[2016-02-09 18:19] pdurbin opened #2937 "Shibboleth: Support "Federated Login Mode" (i.e. feed of Identity Providers from InCommon)"
http://guides.dataverse.org/en/4.2.3/installation/shibboleth.html#dataverse-idp-metadata-xml explains how to configure `/etc/shibboleth/dataverse-idp-metadata.xml` to specify one or more Identity Providers (IdPs) that you would like to allow Shibboleth users to log into your installation of Dataverse from. Many Dataverse installations will chose this mode, only allowing users from their own instit

[2016-02-09 18:22] pdurbin commented on #2936
I left a related comment at https://github.com/IQSS/dataverse/issues/70#issuecomment-181405821

[2016-02-09 18:24] landreev commented on #2619
@kcondon
Oh, you wanted me to close this - yes, closing now.

[2016-02-09 18:24] #2619 closed

[2016-02-09 18:30] eaquigley commented on #2936
@thegaryking the standard way facets work would be to have it the way we currently do it or as @pdurbin says, by using a slider with the ability to input specific years to determine the range of dates. The Harvard HOLLIS Catalog and most databases use the slider (examples below). If the slider works for you, then we should close this ticket and prioritize #70.

![screen shot 2016-02-09 at 1 26 12

[2016-02-09 18:31] #2913 closed

[2016-02-09 18:31] #2910 closed

[2016-02-09 18:32] #2873 closed

[2016-02-09 18:33] #2639 closed

[2016-02-09 18:36] pdurbin commented on #2222
We just merged these tests into the develop branch.

[2016-02-09 18:36] sbarbosadataverse commented on #2835
@mheppler @scolapasta
I've requested a doi from the user who tested last for me: https://help.hmdc.harvard.edu/Ticket/Display.html?id=230544

[2016-02-09 18:37] #2404 closed

[2016-02-09 18:41] mheppler commented on #2221
Deleted old branch, created ["2221-new-harvested-file-cards"](https://github.com/IQSS/dataverse/tree/2221-new-harvested-file-cards) branch and recommitted change to search-include-fragment due to 4.3 development code somehow getting mixed in.

[2016-02-09 18:49] pdurbin opened #2939 "Shibboleth: Remote Authentication Phase 1"
Dataverse 4.0 shipped with experimental Shibboleth support, but there are a number of issues we'd like to resolve before we re-enable Shibboleth at https://dataverse.harvard.edu . In a [Remote Authentication Business Requirements Document](https://docs.google.com/document/d/1vcAmo2nkFYavAr7OwwXzxM0IFQbkRZYZrrX43q-wqGE/edit?usp=sharing) (BRD) the scope of work is described as "Phase 1". I'm creatin

[2016-02-09 18:56] kcondon commented on #2722
Works as described, closing.

[2016-02-09 18:56] #2722 closed

[2016-02-09 18:58] mheppler commented on #2835
Thank you, Sonia. Please pass this ticket back to me when you have the details from the user.

[2016-02-09 20:16] mheppler commented on #2254
@eaquigley - Does this work for a tooltip?

Group Identifier - "Short name used for the ID of this group."

[2016-02-09 20:25] landreev commented on #2221
OK, pushed my fix (for the broken dataset links in harvested *file* cards).
Git made me do a merge in the process... I seriously hope I didn't mess up this branch in the process.
@mheppler
@kcondon
Odum files are still showing as "unpublished". This is NOT a code error. It is something we fixed in the database - but we need to reindex all Odum datasets for it to take effect.

[2016-02-09 20:31] mheppler commented on #2221
Just did a double-check on the latest version of search-include-fragment in this branch, and it looks like my code is still in there.

[2016-02-09 20:38] kcondon commented on #2914
Works as described, closing.

[2016-02-09 20:38] #2914 closed

[2016-02-09 21:13] eaquigley commented on #2254
+1

[2016-02-09 21:14] posixeleni commented on #1990
:+1:

[2016-02-09 21:28] mheppler commented on #2789
@shlake + @sbarbosadataverse -- I have discussed changing the button text with @eaquigley and after reviewing what we use for button text in the Permissions workflow, we've come up with the following proposed solution (see attached) of using "Edit Access". Please let us know if you believe this solution is suitable.

![screen shot 2016-02-09 at 4 27 12 pm](https://cloud.githubusercontent.com/asset

[2016-02-09 21:33] pdurbin commented on #2905
Note that the year is also hard-coded in the Sphinx docs. See f37fdbd as an example of where I updated it from 2015 to 2016 manually for now.

[2016-02-09 22:17] mheppler commented on #2930
Took a quick look at the `update` attribute on the save button for the Create Group popup on `explictGroup-new-dialog.xhtml`. I was able to easily fix the Mange Groups page's automatic refresh to show the newly created group. I am leaving this ticket open though, because there is an additional bug with the validation error messages not displaying in the popup, but instead display on the page behin

[2016-02-09 22:20] mheppler commented on #2930
Other related issues for the Groups workflow: #2240, #2393, #2394, #2408, #2413.

[2016-02-10 08:23] bencomp commented on #2254
I guess that could work, yes.

[2016-02-10 14:44] pdurbin opened #2940 "Upgrade JUnit"
I just realized that there's no Javadoc for the version of JUnit we're using (4.8.1): http://search.maven.org/#search|gav|1|g%3A%22junit%22%20AND%20a%3A%22junit%22

It looks like I added that version a loooong time ago in 66dd604 so I doubt anyone care which version we upgrade to as long as it works.

![the_central_repository_search_engine_-_2016-02-10_09 39 46](https://cloud.githubusercontent.com

[2016-02-10 15:17] bencomp commented on #1510
See also: #2357

[2016-02-10 15:49] pdurbin commented on #2745
I suspect the blue spinner is seen only briefly as of 4.2.3 since I made the expensive part of changing roles asynchronous as part of #2036.

I'd suggest we re-test this issue. I guess I'll assign it to @sbarbosadataverse but @kcondon or @scolapasta or @eaquigley or @mheppler can let me know if the process should be different. Not sure if I should set a milestone or not.

[2016-02-10 15:55] mheppler commented on #2745
No need for a milestone. Save that label for development on features and bug fixes that are going to be merged into "develop". With this issue, we're still in the triage phase of trying to determine if this is still a bug and if it can be closed or needs to be fixed still.

I have tested this locally on a post-4.2.3 branch off develop and couldn't reproduce after a few tries. I believe our permiss

[2016-02-10 15:56] raprasad opened #2941 "Restructure WorldMapTabularLayerInfo"
This class stores the results of a successful mapping.

Make it abstract and instantiate different classes for Lat/Lng results and TableJoin results

[2016-02-10 15:56] sbarbosadataverse commented on #2745
since this happened in production, no need to assign it to me to test. If it happens again, I will create a new ticket.

[2016-02-10 15:56] #2745 closed

[2016-02-10 16:09] raprasad opened #2942 "Detect/Transform basic tabular data for joins"
### Scenario

Common join types such as census tracts are "character" columns and often have leading zeros.  Many tabular files (especially if saved via Excel), strip these zeros and make the columns numeric.  To avoid a high failure rate, two possibilities are:

1. Make the WorldMap target layer available in two forms for these column types.  This requires the extra steps of:
  1. Editing the sha

[2016-02-10 16:20] #2221 closed

[2016-02-10 16:20] posixeleni opened #2943 "Support Registering Multiple Prefixes for DataCite DOIs In an Installation"
[Alan Darnell from Scholars Portal informed us on our User Community](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/dataverse-community/7-5NsSA6iGg/7kG4RR_VEQAJ) that there is an additional use case we need to consider for fully supporting DataCite DOI registration for their installation.

We are already working on Phase 1 of implementing DatCite DOI support (#24 ) which

[2016-02-10 16:32] mheppler commented on #1742
@sekmiller - I tried looking into this and I could not reproduce it locally with my post-4.2.3 branch off develop and on dvn-build (also post-4.2.4). Can you give it a try again? If you still see it, please add details to the issues. If you don't see it, close it!

[2016-02-10 16:43] mheppler commented on #1564
Looking into this, I found a [Stack Overflow question](http://stackoverflow.com/questions/5092439/redirect-to-external-url-in-jsf) related to this that might be a potential lead.

[2016-02-10 16:52] pdurbin opened #2944 "Installation Guide improvements following rewrite for 4.2.4"
In #2884 I spent several days rewriting the Installation Guide and I was very pleased to see #2895 merged in. My changes can be seen at http://guides.dataverse.org/en/4.2.4/installation

I'm opening this issue to start a list of items that we didn't get to and new items that have come up:
- [x] #2212 Guides: Update TwoRavens documentation
- [x] #2311 Explain that you need to [add rather than updat

[2016-02-10 16:57] pdurbin commented on #2686
I'm a little surprised this got past our new Request for Integration (RFI) process but I suppose it hasn't been finalized. Anyway, I added it to a list I just started at #2944.

[2016-02-10 18:20] sekmiller commented on #1742
This is no longer happening. Perhaps a side-effect of PF upgrade.

Closing

[2016-02-10 18:21] #1742 closed

[2016-02-10 19:07] sekmiller commented on #1564
We are already using the external context redirect, which doesn't work in the context of the pop-up.  I wonder if it haas anything to do with the popup.hide

[2016-02-10 19:49] mheppler commented on #2657
Added static placeholder `confirmFileDownloader` dialog as a confirmation popup to the roles-assign pg for the dataverse/dataset permissions pg.

[2016-02-10 20:13] mheppler commented on #2928
@kcondon - is this issue a duplicate of #1503?

[2016-02-10 20:33] pdurbin commented on #2418
I'm going to attach a tiny non-production database below that exercises this bug as of 4.2.3. I was adding and deleting a bunch of users and now this bug has appeared again. It's very mysterious to me. Anyway, once I upload the database I'm going to drop it locally because this bug is blocking my development of #2915.

Here's what I'm seeing right now:

[code]

Here's a sample database to reproduc

[2016-02-10 20:38] scolapasta commented on #2517
Duplicate of #2224

[2016-02-10 20:54] mheppler commented on #2224
Added commas and quotation marks to the success message for delete/restrict actions on Edit Dataset Files pg.

[2016-02-10 21:11] mheppler commented on #1273
Duplicate of #2367.

[2016-02-10 21:11] #1273 closed

[2016-02-10 21:20] mheppler commented on #2206
@sbarbosadataverse - this issues looks to be a duplicate of #2224, which I am working on currently to fix. Please close this is it is a duplicate, or provide more details explaining if the issues are different.

[2016-02-10 21:24] kcondon commented on #2517
Closing.

[2016-02-10 21:24] #2517 closed

[2016-02-10 21:25] kcondon commented on #2853
Closing as dupe.

[2016-02-10 21:25] #2853 closed

[2016-02-10 21:31] pdurbin opened #2945 "Bug: spaces allowed in email and useridentifier in authenticateduser table"
I'm on f37fdbd working on authenticateduser-related code creating users from https://randomuser.me and just noticed that spaces are allowed in email and useridentifier in the authenticateduser table despite Bean Validation. I can only assume this is a bug

[code]

We should also doublecheck email and username on the builtinuser table but I suspect username is fine.

[2016-02-10 21:39] mheppler commented on #2876
@sbarbosadataverse - I could not replicate this locally. Is there more information you could provide? Maybe the amount of files you upload at once, and how big the largest files?

[2016-02-10 21:52] mheppler commented on #2804
Fixed display issue with File Tags in the dataset files table and dataverse results cards.

[2016-02-10 22:14] mheppler commented on #2798
Related to #2391.

[2016-02-10 22:16] mheppler commented on #2808
Related to #2391.

[2016-02-11 01:03] sbarbosadataverse commented on #2206
Will do. Thanks
On Feb 10, 2016 4:20 PM, "Michael Heppler" <notifications@github.com> wrote:

[2016-02-11 01:06] sbarbosadataverse commented on #2876
No more info to provide.  If you upload a zip fir example and files are
extracted, including tabular files,  the option to select filed and delete
remains "active" although ingest is in process.  The select and delete
should not be options until the ingest is complete.
On Feb 10, 2016 4:39 PM, "Michael Heppler" <notifications@github.com> wrote:

[2016-02-11 12:28] pdurbin commented on #1579
@mheppler since you opened this issue are you particularly invested in it? Would you like to see it go through QA? I ask because @bencomp created a pull request (almost a month ago) for it at #2877. If you feel like it, you could get on that branch and see if everything looks ok to you.

[2016-02-11 13:56] majorseitan commented on #2841
There seems to be a few options.
1. viewAction,prerender view listener
2. rendered attribute
3. container managed security
4. filter
What would be the preferred approach?

[2016-02-11 14:55] mheppler commented on #1579
Pretty sure the lack of detail in that initial comment on this one reflects the amount I am invested. If I had to guess, this was a feature that I requested, it got thrown into the app during 4.0-haste, and @scolapasta said, "create a ticket to review this, so that we don't forget, and do something better with it."

[2016-02-11 15:00] pdurbin commented on #1579
@mheppler yeah, that's what I was thinking too. You probably volunteered to enter tickets during a meeting long ago or something. I've done the same.

[2016-02-11 15:10] shlake commented on #2838
Sure everyone is on this, but when AllowSignup is turned off it should also turn off all mentions of signing up in popups too.

Here's a popup when someone (not logged in) clicks "Add Data" button:
![screen shot 2016-02-11 at 9 26 01 am](https://cloud.githubusercontent.com/assets/3809325/12978906/dc00b852-d0a1-11e5-8002-11babc5eaf16.png)

And the popup for "Request Access" on restricted files:
![s

[2016-02-11 15:23] pdurbin commented on #2838
@shlake ah, yes, that makes a lot of sense. Heads up to @eaquigley and @mheppler about this. Thanks!

[2016-02-11 15:54] pdurbin commented on #2594
@shlake just [asked about status of issues](https://groups.google.com/d/msg/dataverse-community/A0a5LHJ49vQ/7CSATMPuEwAJ) so we should probably make sure we explain in CONTRIBUTING.md the "Status" labels we're using now. As of this writing here are the Status labels from https://github.com/IQSS/dataverse/labels

![screen shot 2016-02-11 at 10 52 37 am](https://cloud.githubusercontent.com/assets/21

[2016-02-11 16:25] sbarbosadataverse opened #2946 "guestbook "view collected info" feature is timing out due to volume of information"
IFPRI is an example. There are over 11000 entries and user can't access their own stats. Currently IFPRI has 57 datasets using the guestbook.

[2016-02-11 17:21] shlake commented on #2789
This looks good. Thanks.

[2016-02-11 17:24] sbarbosadataverse commented on #2789
sorry so late. This looks good!

On Thu, Feb 11, 2016 at 12:21 PM, Sherry Lake <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http://dataverse-dem

[2016-02-11 17:53] sbarbosadataverse opened #2947 "sorting file by downloads: feature request by user from HKS"
interested in letting users know which datasets have been downloaded
how many times, and letting users sort the datasets by downloads. Would it
be possible to have this data on the front page and have it an option under
the "sort" pull-down menu

[2016-02-11 18:45] pdurbin commented on #2947
This reminds me of #2729. There are nice screenshots at https://github.com/IQSS/dataverse/issues/2729#issuecomment-154773635

[2016-02-11 19:54] scolapasta commented on #2670
Per issue #2946, if it's large enough, this causes a timeout:
"guestbook "view collected info" feature is timing out due to volume of information -
IFPRI is an example. There are over 11000 entries and user can't access their own stats. Currently IFPRI has 57 datasets using the guestbook."

[2016-02-11 19:55] scolapasta commented on #2946
We already had a very similar issue in #2670, so I added the details of this one to that and am sending this back as a duplicate.

[2016-02-11 20:26] scolapasta commented on #2224
Actually it turns out there's an even earlier issue, #2206 which mentions the space, but is also more general about the display. So I suggest we close this issue as a duplicate of that one.

[2016-02-11 20:29] mheppler commented on #2206
Already committed a fix (ae12ba6fc473e5c5617282adcbaf1f3d19e1bb8c) for this, which was referenced on the other ticket.

[2016-02-11 21:07] raprasad opened #2948 "matched/unmatched record counts not being set when mapping Lat/Lng columns"
The mapping of tabular files by using lat/lng columns is not capturing counts for mapped and unmapped records.

[2016-02-11 21:07] raprasad commented on #2948
Fix is here: https://github.com/cga-harvard/cga-worldmap/commit/7aa8744af5b5ab591174cef4608d3b4e260c3fda

[2016-02-11 21:08] raprasad commented on #2948
Note: I'll do the QA.

[2016-02-11 21:21] raprasad opened #2949 "Mapping of Lat/Lng tabular columns: Add value sanity checks"
Use basic check, e.g.
  - Latitude: -90 to +90
  - Longitude: -180 to +180

A file with 5,000+ records had two records for the columns were off, giving latitude values of over 88,000

[2016-02-12 17:10] pdurbin commented on #2915
I just created a new branch called "2939-shib" where I'm starting to push code for any Shibboleth feature flagged for "phase 1" of #2939, including this one.

In my first commit at 7ea6a01 I stubbed out a superuser API for converting Shibboleth users to builtin/local accounts. As I demoed yesterday to @mcrosas @scolapasta @eaquigley @mheppler and @kcondon the basic workflow is this:

- User emails

[2016-02-12 18:31] eaquigley commented on #2046
Notes on this page from 2/11 Design Review of Shibboleth:
- [ ] Render position to not appear since it won't have a value
- [ ] Leave this text above filled out account information: You are logged in through your institution. If you need to update any of this information, please contact your institution.
- [ ] If possible, make API Token a tab on account page and remove the Edit Account Informatio

[2016-02-12 18:39] eaquigley commented on #2915
Additionally, we discussed adding a line of text into the UI on Create Account and Account Information pages to direct them to the user guide to learn more about converting their remote account into a local account if they are leaving their university.

[2016-02-12 18:44] eaquigley commented on #2939
@mheppler and @pdurbin I'm not seeing an issue in the above list that it makes sense to add in the bug we found where the Help link in the Institutional Log In box isn't going to the right URL and doesn't open the guides in a new tab. Is there one above either of you would want me to add it to or should I go ahead and create a new one?

[2016-02-12 18:47] pdurbin commented on #2046
I'm just copying a comment from @eaquigley from https://github.com/IQSS/dataverse/issues/2915#issuecomment-183444622 to this issue since that issue is about API stuff and this issue is about UI stuff (different parts of the code):

"Additionally, we discussed adding a line of text into the UI on Create Account and Account Information pages to direct them to the user guide to learn more about conve

[2016-02-12 18:53] eaquigley opened #2950 "Shibboleth: Review Text For Converting an Account/Creating an Account"
- [ ] Review, and if necessary change, text on Create Account + Terms of Use page to only be Agree to Terms of Use

![screen shot 2016-02-23 at 3 03 58 pm](https://cloud.githubusercontent.com/assets/5922904/13265914/854d452e-da43-11e5-8818-b8305e6ba4bc.png)

- [ ] Review, and if necessary change, text on Welcome, Me, Myself, and I text; Success Message for converting account (what does this mean t

[2016-02-12 19:00] eaquigley commented on #796
@pdurbin yesterday during the design review, having the user be brought to their account page when they first convert from local to non-local was brought up. is this the right issue to add it to?

[2016-02-12 19:06] eaquigley commented on #2838
Leaving myself a reminder in this ticket to check and make sure Sign Up isn't referenced in places besides the Request Access and Add Data pop ups. @eaquigley

Also, @mheppler, I've just noticed the same alert in both those pop ups above are formatted differently. We should make those consistent with each other.

[2016-02-12 19:08] pdurbin opened #2951 "Shibboleth: Institution Log In changes: Help link and extra text"
The Help button below goes to https://demo.dataverse.org/guides/user/account.html and instead it should go to http://guides.dataverse.org/en/latest/user/account.html

![log_in_-_demo_dataverse_-_2016-02-12_14 05 42](https://cloud.githubusercontent.com/assets/21006/13017398/f9d05b76-d191-11e5-8630-2f7e6efd037a.png)

Here's the code:

[code]

[2016-02-12 19:10] pdurbin commented on #2939
@eaquigley I just created #2951 and added it to the list in the description. Thanks for the reminder!

[2016-02-12 19:12] pdurbin commented on #2951
Incidentally, on the server hosting https://demo.dataverse.org I just moved the old locally-deployed guides aside so that errors like this are no longer masked: `cd /usr/local/glassfish4/glassfish/domains/domain1/docroot/ && mv guides guides.moved-because-all-links-should-go-to-guides.dataverse.org`

We should probably do the same for production because an old stale version from the 4.0 release is

[2016-02-12 19:21] pdurbin opened #2952 "Shibboleth: successful conversion from builtin/local account message should appear on account page rather than the home page."
In  #796 we developed "Account/Shibboleth: Converting from local to non-local" but in a design review yesterday we decided that we'd rather have the success message be on the account page rather than the home page. I don't **think** there are any other requirements in this area but @eaquigley can clarify.

[2016-02-12 19:24] pdurbin commented on #796
@eaquigley probably not since this issue has already gone through QA (though I link to this issue and mention that the feature needs to be re-QAed in the parent ticket at #2939). I just created #2952 to track this change.

[2016-02-12 19:29] pdurbin commented on #2838
@eaquigley @mheppler @scolapasta @kcondon @mcrosas I move we re-name and re-scope this issu to be about making what is now the ":AllowSignup" boolean a real feature with a real name. That is to say, the features purpose is to support one of the modes listed in the [business requirements](https://docs.google.com/document/d/1vcAmo2nkFYavAr7OwwXzxM0IFQbkRZYZrrX43q-wqGE/edit?usp=sharing). Below it's "

[2016-02-12 19:48] pdurbin commented on #2951
@eaquigley I fixed the link in 4121376 so at least it will go **somewhere** but as of this writing (4.2.4) http://guides.dataverse.org/en/latest/user/account.html doesn't say anything about "institutional login" and actually has bad advice for changing your password and editing your name, etc... if you're a Shib user. Since this is a User Guide issue at this point I'm going to pass this issue to y

[2016-02-12 21:00] sbarbosadataverse commented on #2835
@mheppler user reuploaded all their data and no longer can reproduce the issue.
I'm closing and will reopen if IFPRI, the other user who complained, brings this issue up again.

[2016-02-12 21:18] pdurbin commented on #1533
As of http://guides.dataverse.org/en/4.2.4/api/native-api.html the following are **not** documented:

- List: curl http://localhost:8080/api/admin/groups/shib
- Create: curl http://localhost:8080/api/admin/groups/shib -X POST -H 'Content-type:application/json' --upload-file shibGroupTestShib.json
- Delete: curl -X DELETE http://localhost:8080/api/admin/groups/shib/1

[2016-02-12 21:25] pdurbin opened #2953 "Installation Guide: Improve Shibboleth documentation"
http://guides.dataverse.org/en/latest/installation/shibboleth.html should be reviewed. We won't remove "experimental" until #2117 is closed as explained at #2939.

At minimum we need to make the following changes:

- [x] Introduce Shibboleth and the concept of different auth modes (local vs. remote vs. both)
- [x] Document Institution-wide Shibboleth groups developed in #1401
- [x] Mention `chkcon

[2016-02-16 08:54] bencomp commented on #2951
Shouldn't the link be the same as the (configurable) Support link at the top of the page, or a deeplink to the Institutional login information at the configurable location?

[2016-02-16 14:29] posixeleni opened #2954 "Option To Show Non-Required Metadata Fields on Create Dataset"
Some users would like to be able to offer more metadata fields for users to fill in when they create a dataset but do not want to make them "required", which is the only option in the UI at the moment.

cc/ @eaquigley this will be important for folks like the Open Data project.

[2016-02-16 15:42] posixeleni opened #2955 "File Upload: Detection of duplicate files via md5 found in an existing file is confusing to users."
User reported an issue uploading files where no duplicates appeared in the UI but they get an error saying "This file already exists in this dataset. Please upload another file."

See RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=232612

[2016-02-16 20:22] mheppler commented on #2257
There is a "Clear Selection" button on the page (see attached), but the render logic for it is `rendered="#{!empty DatasetPage.dataset.guestbook}"` which only seems to render the button after you save, or preview (which triggers the blue spinner). I tried applying an AJAX behavior event of `rowSelectRadio` in the dataTable, but I was not able to get it to work.

![screen shot 2016-02-16 at 3 18 29

[2016-02-16 20:57] posixeleni opened #2956 "Update File Ingest Documentation To Explain Duplicate File Handling"
Current User Guide needs to be updated to clearly explain how we find and treat duplicate files (checksum verification instead of filename matches)

[2016-02-16 21:44] eaquigley commented on #2956
If the only time the error message in the screenshot below appears is when a file is uploaded has a checksum that is the same as a file already in the dataset, then perhaps we should change the error message to be more explicit so users don't have to go to the user guide to find out what is going on.

![screen shot 2016-02-16 at 4 37 15 pm](https://cloud.githubusercontent.com/assets/5922904/130921

[2016-02-16 21:54] posixeleni commented on #2956
+1

Eleni Castro
Research Coordinator, IQSS
Harvard University
On Feb 16, 2016 4:44 PM, "Elizabeth Quigley" <notifications@github.com>
wrote:

[2016-02-16 22:33] eaquigley commented on #2833
To sum this up, the requirements for this are:

- [ ] ability to add custom text into the Publish pop up
- [ ] have this pop up configurable for the installation so for every dataset published, this pop up happens
- [ ] okay with the custom text being displayed each time the pop up is displayed during publishing (so v1, v1.1, v2, etc)
- [ ] custom text also needs to be displayed for an API user pu

[2016-02-17 08:28] bencomp commented on #2257
How about an default row "no guestbook" with its own radio?
In any case I don't think you want to trigger a server call before you save (like what happened in #2633 before requesting the actual download). Client-side JavaScript could do the same.

[2016-02-17 16:33] shlake commented on #2833
Hi @eaquigley The four requirements you list are exactly what will work for us. Any time frame as to when this would be in place?

Thanks.

[2016-02-17 16:55] mheppler commented on #2925
@eaquigley -- We need to investigate potential UI solutions with @sbarbosadataverse and other stakeholders for "managing" file tags in general for a dataset, as opposed to editing the individual file tags applied to individual file.

[2016-02-17 17:39] raprasad opened #2957 "Dataverse UI for mapping Tabular files"
- Dataverse users with correct (edit) permissions will be able to “tag” a tabular file as containing geospatial data.

The following points apply to _published_ geospatial files.

- [x] Dataverse users with edit permissions will be able to visualize geospatial files via the Map Data button.
   - [x] For the geoconnect link, retrieve the .tab version of the file.  Similar shapefile-specific functio

[2016-02-17 20:07] ecr2c commented on #2833
Thanks @eaquigley . Requirements look good, as @shlake says. We definitely need this change in place before we can soft launch in mid-March, it is the very last piece of our pre-launch puzzle!

[2016-02-17 20:16] mheppler commented on #2657
Proposal to change the confirmation popup to additional help/info text in the Assign Role popup.

The original proposed text was:

“Assigning file downloader role means the user(s) will be given access to all restricted and unrestricted files for all versions of this dataset.”

Which can be generically/dynamically changed to:

“Assigning this role means the user(s) will _be given access/have this

[2016-02-17 20:48] mheppler opened #2958 "File Permissions - Grant Access popup needs existing user access status"
Grant Access popup doesn't display status of a user's access to restricted files in the list after they have been selected in the User/Group autoComplete input.

Originally requested by @sbarbosadataverse in #2641.

[2016-02-17 20:51] scolapasta commented on #2958
The challenge with this is that you can add multiple users with different file access, so if this something we want to do, we'll need to decide how to display this first. (and then see technically how to make it work, but first design!)

[2016-02-17 21:56] landreev commented on #2871
Yes, there is a very serious delay, on the API side, before any content is written; that must be triggering the timeout with the Apache proxy. (Works though, for this particular dataset, on the command line, with wget to localhost:8080). Once the download stars, it's done in less than a minute (there's 300MB in 274 files in this dataset total).

The delay is caused *entirely* by the Authorization

[2016-02-18 00:37] eaquigley opened #2959 "General Terms of Use: Remove Mention of Guest Terms of Use"
Noticed by TDL folks that in the General Terms of Use there is a mention of the Guest Terms of Use. In 4.x, those don't exist because of the use of the CC0 and ability to input Custom Data Usage Agreement that a user (guest or otherwise) would need to accept before a download can begin.

We need to remove Guest Terms of Use and make sure it is clear that CC0 or a Data Usage Agreement is replacing

[2016-02-18 14:52] posixeleni opened #2960 "Download Manager related help text"
A user recently reported (here https://help.hmdc.harvard.edu/Ticket/Display.html?id=232704) that they have had several people report to them that they were unable to download the files from their dataset. The file would start to download ok and then hang up, resulting in them having to re-start the whole process which for a larger file can take a lot of time.

I spoke with @landreev about this yes

[2016-02-18 16:27] sekmiller commented on #2833
@eaquigley, @ecr2c, @shlake - This is going to be set at the dataverse level, so that any dataset within a given dataverse will have the same custom message and display logic.  Question: Should sub-dataverses use the same message/logic or should they be able to set their own message?

[2016-02-18 16:46] mheppler commented on #2391
Created an [FRD](https://docs.google.com/document/d/1ihQ9GiK2qVYH_tKOJSCUdNxPdOw1Ut_AXDEIiGRjQss/edit) for this, to cover other requirements that have been identified during design/development. The new features include:
- Component for viewing Selected Tags
- "Apply" button for Custom File Tag input
- Help/info text for Custom File Tag input
- Updated help/info and removed tooltip text for Tabular

[2016-02-18 17:08] shlake commented on #2833
@sekmiller @eaquigley For UVa we need it set (be able to set it) for all dataverses (top level and sub dataverses), but I don't see why a sub-dataverse shouldn't be able to set their own message (or be able to unset a parent or inhertited message)?

[2016-02-18 17:20] mheppler commented on #2798
I am assigning this issue to @sekmiller, as discussed with @scolapasta and @eaquigley. This bug will be looked into as part of the development of #2391. The scope of the File Tags UX projected is outlined in it's [FRD](https://docs.google.com/document/d/1ihQ9GiK2qVYH_tKOJSCUdNxPdOw1Ut_AXDEIiGRjQss/edit).

[2016-02-18 17:21] mheppler commented on #2808
I am assigning this issue to @sekmiller, as discussed with @scolapasta and @eaquigley. This bug will be looked into as part of the development of #2391. The scope of the File Tags UX projected is outlined in it's [FRD](https://docs.google.com/document/d/1ihQ9GiK2qVYH_tKOJSCUdNxPdOw1Ut_AXDEIiGRjQss/edit).

[2016-02-18 17:25] mheppler commented on #2391
The new component has been added to the Edit Tags popup on the Dataset pg. There are some requirements that will require additional backend development from @sekmiller. Passing this to him to complete those requirements. After which, we can coordinate to apply the new component to the Edit Tags popup on the Edit Files pg.

[2016-02-18 20:40] sekmiller commented on #2833
Thanks for your input, everyone.  As stated in my email and agreed to by the responders, we will make the publishing popup message configurable at the installation level. This will ensure that all data deposited to a given installation will be subject to the same standard sign-off.

[2016-02-19 17:14] mheppler commented on #2657
Added warning/info text to Assign Role popup on Dataverse/Dataset Permissions pg.

Passing to @sekmiller to wire up the object types.

![screen shot 2016-02-19 at 12 14 01 pm](https://cloud.githubusercontent.com/assets/687227/13182931/4a65fbb6-d702-11e5-98ab-e9c4b44a4a77.png)

[2016-02-19 19:18] raprasad opened #2961 "Explore button dropdown"
Related #2957
Prerequisite: #2135 (two ravens settings on/off)

----

#### Possible Explore Button States
1.  Tabular Files
  - No Explore button
      - When the installation DOESN'T have TwoRavens configured and there's no map
  - 1 Explore button: Two Ravens only
      - When the installation has TwoRavens configured and there's no map
  - 1 Explore button: WorldMap only
      - When the instal

[2016-02-19 19:29] raprasad commented on #2135
1. Turn on/off the ability to use TwoRavens
       Explore buttons don't appear on the file listing page next to tabular info
2. Add Default Two Ravens Information to initial SQL script
3. Update instructions

Similar to #2957

[2016-02-19 20:02] raprasad commented on #2135
Need to add initial sql script, rewrite other two ravens button to use new method

[2016-02-22 13:58] pdurbin commented on #2955
https://help.hmdc.harvard.edu/Ticket/Display.html?id=232612 was marked resolved with "Our system looks at the MD5 checksum rather than the file name to determine duplicates."

I'm not sure what development work should be done here (or that this is actually a bug). Should the error explain how the check is performed? Passing back to @posixeleni for feedback.

[2016-02-22 14:20] pdurbin commented on #2960
@pameyer and I talked about this a bit at http://irclog.iq.harvard.edu/dataverse/2016-01-08#i_29469 and it's definitely something that's of interest for @sbgrid . Their in-house system uses rsync for this. I'm not sure the best way to implement this in Dataverse but I'm glad @landreev has some ideas. This feature also seems strongly related to the [Data IO Component BRD](https://docs.google.com/do

[2016-02-22 15:46] mheppler commented on #2659
Here is an outline of all the places where text title, headers, labels, etc. have been changed, as well a few other minor text/icon edits and additions.

*Dataverse/Dataset Permissions Pg > Assign Role Popup*
- Change “User/Group” input label to “Users/Groups”

*Dataset Pg*
- Change “File Permissions” references (edit link) to "Restricted File Permissions"

*Restricted File Permissions Pg*
- Chang

[2016-02-22 17:23] raprasad commented on #2135
Helpful queries:
[code]

[2016-02-22 18:19] sbarbosadataverse commented on #2193
duplicate of #1320

[2016-02-22 18:19] #2193 closed

[2016-02-22 19:43] #2928 closed

[2016-02-22 19:44] #2261 closed

[2016-02-22 19:46] #2224 closed

[2016-02-22 20:42] kcondon commented on #2374
Info is in place in both the UI and doc. Closing.

[2016-02-22 20:42] #2374 closed

[2016-02-22 20:58] kcondon commented on #1740
Yes, tested as part of 4.2.4, closing.

[2016-02-22 20:58] #1740 closed

[2016-02-22 21:23] kcondon commented on #1223
OK, template and dataset/blocks working. Closing.

[2016-02-22 21:23] #1223 closed

[2016-02-22 21:36] kcondon commented on #2442
OK, works, closing.

[2016-02-22 21:36] #2442 closed

[2016-02-22 21:36] pdurbin commented on #2880
@bmckinney for now can you please see if you can reproduce this in the "develop" branch?

[2016-02-22 21:38] pdurbin commented on #2843
@bmckinney I don't think this issue is particularly high priority but maybe play around with the `allowTypes` regex above and see if you're getting the same results I am. Again, pulling in @landreev would be helpful for the cards.

[2016-02-22 23:52] landreev commented on #2871
New code pushed into the branch 2871-batch-downloads-improvements.
Will make a pull request shortly.

Testing:

For the dataset specified in the original report above (hdl:1902.1/21919), this can be tested on dvn-vm5.
Because I copied all the files from this dataset onto vm5. Downloads are not going to work for any other dataset, for which the files are not there.

Before the new code is deployed,

[2016-02-23 01:33] landreev commented on #2871
Oh, forgot to  put this into QA (please see my previous comment).

[2016-02-23 14:55] pdurbin commented on #2951
@bencomp good point that there's already a "Support" link at the top of every page. We could just hide the "Help" link all together. I just don't want people to see this (broken link to non-existent locally-deployed guides):

![screen shot 2016-02-23 at 9 50 37 am](https://cloud.githubusercontent.com/assets/21006/13255209/01126a9e-da13-11e5-887c-6226aa2ebb6c.png)

@eaquigley do you have any opinio

[2016-02-23 15:43] eaquigley commented on #2046
@pdurbin gave us a demo of what this currently looks like:
![screen shot 2016-02-23 at 10 42 08 am](https://cloud.githubusercontent.com/assets/5922904/13256790/1f985b5c-da1a-11e5-9667-4d3ac2b07a07.png)

Comments from @mheppler and me:
- [ ] remove tool tips
- [ ] have user identifier be username (for consistency with built in account page)
- [ ] strip out @ for the username

[2016-02-23 15:47] sbarbosadataverse commented on #2726
This was reported again today, by a user of this data: Tennessee's STAR project.
attached error:
<img width="1752" alt="screen shot 2016-02-23 at 10 36 40 am" src="https://cloud.githubusercontent.com/assets/8322346/13256965/e3c6902a-da1a-11e5-84fd-bd89013509c9.png">

[2016-02-23 15:51] mheppler commented on #2961
Styled "Explore" button dropdown for TwoRavens and WorldMap on the Dataset pg. Also styled some other related components, like the "Preview" link and the "Preview Map" popup.

Passing back to @raprasad to complete his work, including the missing "Map Data" button on the Dataset pg for tabular files that already have a map.

[2016-02-23 16:48] landreev commented on #2726
@sbarbosadataverse
I'm working on this issue now, for 4.3.

[2016-02-23 17:47] pdurbin commented on #2046
In b317365 I changed the following:

- Get values from AuthenticatedUser rather than BuiltIn user (except I show username for builtin users and "useridentifier" for Shib users with the `@` removed. Shibboleth users don't have a username per #1445).
- Never show Position for Shib users (it's never populated)

I deployed this to https://shibtest.dataverse.org if anyone would like to check it out.

@

[2016-02-23 18:17] eaquigley commented on #2951
@pdurbin I plan on adding Shibb info into the user guide however don't know which release it will be in so I don't want to start a documentation branch for it until then.

Regarding the Help link, I like @bencomp's idea. How feasible is that @pdurbin?

[2016-02-23 18:29] eaquigley opened #2965 "Widgets: Handle and DOI links in the citation leave the user within the frame"
When on someone's personal website that has a Dataverse widget and you click on the handle or doi in the citation within the search card, it isn't bringing you back to Dataverse. A user instead is staying on the person's website and the dataset is being opened within the widget frame. This is not happening when a user clicks on the name of a dataset link in the search card.

According to @mheppler

[2016-02-23 18:40] landreev commented on #2871
OK, NOW the branch is ready for QA.

[2016-02-23 18:57] pdurbin commented on #2951
@bencomp actually seems to have two different ideas but the commonality is that rather than being a hard-coded link he wants it to be dynamic.

I see a few downsides with the first idea (support link popup):

- It's further hacking on the fork we made of the [Embedded Discovery Service (EDS)](https://shibboleth.net/products/embedded-discovery-service.html) JavaScript that @mheppler helped me hack

[2016-02-23 19:27] mheppler commented on #2046
Did a few things while I was in the 2939-shib branch.

- Styled "isShibUser" message on Account pg.
- Removed tooltips from the "view" version of the Account Information.
- Fixed broken tooltip issue on the Edit Account Information pg.
- Added empty render logic to the Affiliation and Position fields on Account pg.
- Removed a bunch of old pre-My Data code that was commented out and no longer need

[2016-02-23 19:51] eaquigley opened #2966 "Notifications: Welcome to 4.0 Notification Needs to Change"
Line 218 in the bundle says: "Welcome to Dataverse 4.0! Please take a look around, try everything out, and contact support@dataverse.org if you have questions or feedback."

Need to update this to not say 4.0. Also, I'm guessing we should take out support@dataverse.org as that is quite specific to the Harvard Dataverse and not what other installations will want.

[2016-02-23 19:51] landreev commented on #2662
Should be ready for QA.
Please note: I spoke to Gustavo and we decided to push this fix into the branch "2871-batch-downloads-improvements" - the one for the "zip downloads of large batches of files" issue. This is to make life slightly easier, because
a) this was a relatively simple/minor fix; and
b) it affects one of the class files (Access.java) that was also changed for 2871.

Testing:

You ca

[2016-02-23 19:57] pdurbin commented on #2046
@mheppler I pulled the latest and it's looking good. Thanks. I deployed it to https://shibtest.dataverse.org so folks can take a look. I'm **slightly** concerned about the removal of the pre-MyData code but I left a note under "Features that should be re-tested (no regressions)" at #2939 to remind ourselves to re-test MyData a bit.

@eaquigley I'm passing this to you for feedback on what I wrote a

[2016-02-23 20:13] eaquigley commented on #2951
@pdurbin please take the Help link out and right below Institution Log In header add this:

Use Dataverse with your institutional log in instead of creating an account. Learn more {link to guides}.

I haven't created the guides section for Shibb yet though so that link can't be populate :( Working on it now.

[2016-02-23 20:39] pdurbin commented on #2951
@eaquigley I made those two changes (minus a link to the Guides until you're ready). I deployed the latest to https://shibtest.dataverse.org so you can check it out and I'll give you this issue back until you're ready for me to add a link to the guides. You're welcome to pass this to @mheppler if you'd like him to rearrange the new text I added to the Log In page.

[2016-02-23 20:46] eaquigley commented on #2950
New text for the two items listed above! Woo!

- Accept Terms and Create Account page:
      - For consistency, it should be Create Account which is what is on the Sign Up page under all the fields. Users are accepting terms by clicking on the checkbox
- Welcome page:
       - Question: why is email not displayed as it is in the other workflow?
       - Change to be: Your institutional log in matc

[2016-02-23 20:48] eaquigley commented on #2951
Thanks @pdurbin! I'll pass to @mheppler to spruce that text up once I have the shib guide link.

[2016-02-23 20:52] eaquigley commented on #2046
@mheppler for Account Information text can you change it from "You are logged in through your institution. If you need to update any of this information, please contact your institution." to be:

Account information cannot be edited when logged in through an institutional account. Leaving your institution? Get in touch with Dataverse support for assistance.

I could not for the life of me find an

[2016-02-23 21:08] pdurbin commented on #2311
@kcondon I noticed you sent this issue back to me yesterday and that the milestone is still 4.3. #2895 has already been merged so please advise if you want a new pull request for just this issue (already listed at #2944 by the way) or if you just want me to fix it quick in "develop" or something.

[2016-02-23 21:15] pdurbin commented on #2915
@eaquigley I copied your comment to https://github.com/IQSS/dataverse/issues/2046#issuecomment-183446976 . Let's address it in that GUI-related issue instead of here. I'm a little worried this will fall through the cracks.

[2016-02-23 21:24] eaquigley commented on #2915
@pdurbin I added a comment into #2046 text for @mheppler to add into the Account Information tab and for now, I've added text instructing a user to contact Dataverse support if they are changing institutions so I think we should be set.

[2016-02-23 21:26] mheppler commented on #1520
I think the problem may have been the need for a `(document).ready` wrapped around the block of code on the navbarscroll.js. Hopefully this fixes it.

[2016-02-23 21:31] pdurbin commented on #2915
@eaquigley phew! Thanks!

[2016-02-23 21:37] sekmiller commented on #24
Assigning to QA - Pull request has been made

[2016-02-23 21:44] sekmiller commented on #2925
Per discussion with @eaquigley and @mheppler I added remove unused tag functionality.  I added a check box that if checked will remove any custom tags that are not assigned to any files in a dataset.
![screen shot 2016-02-23 at 4 41 25 pm](https://cloud.githubusercontent.com/assets/2364928/13267676/89f85268-da4c-11e5-8019-45bb1bd7b59f.png)

[2016-02-23 22:08] mheppler commented on #2046
Revised text for Shibboleth users on the Account Information pg, added a link to the Contact Dataverse Support popup. Also added this link to the error message text for 404 and 403 errors.

[2016-02-23 22:08] mheppler commented on #2951
Revised text for Shibboleth users on the Account Information pg, added a link to the Contact Dataverse Support popup. Also added this link to the error message text for 404 and 403 errors.

[2016-02-23 22:20] mcrosas commented on #2950
@eaquigley agree with the proposed changes.

[2016-02-23 22:25] eaquigley commented on #2950
@mheppler I'll write up some updated text for the blue info box in the first screenshot and add it to this ticket. missed that my previous go around.

[2016-02-24 14:28] acjaz88 opened #2967 "Multiple related publications do not appear"
I added multiple entries of this field to a dataset (https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi%3A10.7910%2FDVN%2FFIS9LH&version=DRAFT), but only the first entry appears in the view.

[2016-02-24 14:32] pdurbin commented on #2967
@acjaz88 I'm sorry to hear about your trouble. Please email support@dataverse.org and paste the URL of the ticket that's generated as a comment here. Thanks.

[2016-02-24 14:41] acjaz88 commented on #2967
@pdurbin Thanks for the quick reply. The ticket URL is https://help.hmdc.harvard.edu/Ticket/Display.html?id=232964

[2016-02-24 15:04] sekmiller commented on #2967
This is working as designed. Only the first Related Publication is shown with the "key" or "above the fold" metadata.  The rest are can be seen if you click on the Metadata tab
![screen shot 2016-02-24 at 10 00 45 am](https://cloud.githubusercontent.com/assets/2364928/13289421/0088fd24-dade-11e5-907a-c1a785a2b8f4.png)

[2016-02-24 15:13] pdurbin commented on #2046
@mheppler I left a note about regression testing 404 and 403 errors in #2939 but I couldn't quickly figure out how to trigger a 403 error. Any advice?

[2016-02-24 15:17] pdurbin commented on #2915
@mcrosas @scolapasta @eaquigley @mheppler and @kcondon are there any objections to the workflow I demo'ed to you and wrote up at https://github.com/IQSS/dataverse/issues/2915#issuecomment-183416441 ? I'm asking because the next step for this issue is for me to document how it works. It's a new feature so it isn't yet documented at http://guides.dataverse.org/en/4.2.4/installation/administration.ht

[2016-02-24 15:28] pdurbin commented on #2163
As part of #2895 I **manually** entered links at the bottom of Installation Guide pages like "Now that you have all the prerequisites in place, you can proceed to the Installation section." I didn't research if there's a better way. At some point I'll ask @cchoirat if she can suggest something.

[2016-02-24 15:43] sbarbosadataverse commented on #2967
Yes, working as expected

On Wed, Feb 24, 2016 at 10:04 AM, Stephen Kraffmiller <
notifications@github.com> wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http://dataverse-d

[2016-02-24 15:59] #2967 closed

[2016-02-24 17:15] mcrosas commented on #2915
:+1:
but in addition we should have help text some place in the Login Page (and possibly in the Account page) that says " contact support <link> if you are changing institutions and would like to login through the new institution to the same Dataverse account".  @eaquigley is that OK?

Also, I think that we should add an issue to automate this further in phase 2 or 3 of Remote Authentication.

[2016-02-24 17:17] kcondon commented on #1520
@mheppler Still no luck. I decided to run the browser in debug mode while testing and found this error:
TypeError: $(...).on is not a function
$('a[href*=#]:not([href=#])').on('click', function() {

navbarscroll.js (line 6, col 3)

[2016-02-24 17:22] kcondon commented on #2311
@pdurbin
I think you said the developer should just tell me where to test it, right? What is the process in this case?

[2016-02-24 17:23] kcondon commented on #2833
@sekmiller Can you document how to customize the text?

[2016-02-24 17:45] shlake commented on #2833
Here is the text we want to include:

Which would look similar to the following when added to the popup box:
![publish](https://cloud.githubusercontent.com/assets/3809325/13294947/625e187a-daf4-11e5-81df-ed8a3134d918.png)

[2016-02-24 18:19] sekmiller commented on #2833
Here are the curl commands to get update the settings table:

  curl -X PUT -d true http://localhost:8080/api/admin/settings/:DatasetPublishPopupCustomTextOnAllVersions

curl -X PUT -d "Deposit License Requirements" http://localhost:8080/api/admin/settings/:DatasetPublishPopupCustomText

[2016-02-24 18:58] eaquigley commented on #2915
@mcrosas I had @mheppler add in text to the account information page that says, "Leaving your institution? Contact Dataverse Support {support pop up link} for assistance." so he is going to add that same text to the Institutional Log In area on the Log In page.

+1 to adding an issue for automating this

[2016-02-24 19:05] raprasad commented on #2961
## Testing

Make sure these settings are available and true.  (They may be toggled during testing)

[code]

### When Geoconnect or WorldMap is not available
To see WorldMap inserts as shown in the screenshot below:
  1. Log in as a superuser
  1. Add this setting:
[code]

![new_dataset_for_tags_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/13297230/47841508-daff-11e5-9fc7-be

[2016-02-24 19:30] eaquigley commented on #2833
@shlake the deposit terms will be customizable for each installation so it will be part of the set up script for the installation. @sekmiller have you added how to do this to the installation guide?

[2016-02-24 19:41] #2946 closed

[2016-02-24 19:57] sbarbosadataverse opened #2968 "dataset name uniqueness issue: do not allow same dataset name in Dataverse"
Users are able to create datasets with identical names. This is problematic and allows coauthors to have two separate DOIs for the same dataset, also allows versioning updates to happen in one and potentially not the other, etc ....

[2016-02-24 19:58] sbarbosadataverse commented on #2167
will be handled with related linked search projects. see "We've got issues" document in drive

[2016-02-24 20:00] sekmiller commented on #2833
It is in the installation guide in the branch for this feature.

[2016-02-24 20:24] eaquigley commented on #2833
@sekmiller :100:

[2016-02-24 20:57] kcondon commented on #2833
OK, I used the following command to test the above:

curl -X PUT -d "By clicking Continue you affirm that you have met all licenses, policy and other data agreements:
<ul>
  <li>You have the legal right and authorization to make this data publicly available online worlwide through Libra.</li>
  <li>You have removed any confidential or sensitive informatio, including all information that personally

[2016-02-24 21:31] kcondon commented on #2833
OK, 2 issues:
1. for my browsers, chrome, ff, safari, I see a scroll bar on the popups, custom text or no.
2. for versions greater than 2, html is not rendered.

Passing to Stephen to check out, may make its way to Mike.

[2016-02-24 21:45] pdurbin commented on #2960
@bmckinney I'm giving you this issue to think about and discuss with @pameyer with regard to the needs of @sbgrid. Definitely open to suggestions. :smile:

[2016-02-24 21:53] mheppler commented on #2915
Added "Leaving your institution?..." text with "Dataverse Support" link to shibb login block.

[2016-02-24 21:57] mheppler commented on #2950
Cleaned up layout of the Shib and Account Information pgs and updated help/info/validation messages.

Here is a detailed breakdown of those changes.

*loginpage, shibb enabled*
- Added "Leaving your institution?..." text with "Dataverse Support" link to shibb login block

*shib*
- Removed "Accept Terms and" from "Create Account" and "Convert Account" action buttons
- Updated "Welcome..." help/info

[2016-02-24 22:12] posixeleni opened #2970 "Icons in Share Pop-Up Not Displaying in Firefox v44"
@shlake reported an issue to me that she found in the most recent version of Dataverse where if you are on Firefox V44 on Mac – 10.10 the social media site icons in the Share pop-up are not displaying but instead are just three color bars. They point to the right sites but the icon is missing.

![image](https://cloud.githubusercontent.com/assets/5013837/13302783/0572199c-db4c-11e5-9418-6015909e34c

[2016-02-24 22:22] sekmiller commented on #2833
Fixed issue 2 above with the noted check-in.  Passing to Mike for issue 1.

[2016-02-24 22:27] mheppler commented on #2970
@posixeleni + @shlake -- do you have any more details about where this was seen? I checked our current production Harvard Dataverse (running 4.2.4), as well as another test environment (running the latest and soon to be greatest post-4.2.4 code), and was not able to replicate this issue.

[2016-02-24 22:49] kcondon commented on #2662
OK, works with both command line and header versions. Closing.

[2016-02-24 22:49] #2662 closed

[2016-02-24 22:55] pdurbin commented on #2311
I brought this up to @scolapasta today during the standup so pass this to him for a decision.

@scolapasta again, please note that this issue is linked from the longer todo list at #2944.

[2016-02-24 23:02] kcondon commented on #2871
Yes, great performance improvement: download begins immediately versus 3min delay. Great job!
Closing.

[2016-02-24 23:02] #2871 closed

[2016-02-24 23:30] kcondon commented on #2833
Verified issue 2 is fixed.

[2016-02-25 00:06] kcondon commented on #2961
@raprasad I'm seeing the map it button not disappearing for an already published dataset with a shapefile for which I have run the insert statement. Seems like a bug?

[2016-02-25 00:29] kcondon commented on #2135
@raprasad OK, new 2 ravens setting works. I did not see this in the install doc though?

[2016-02-25 01:10] posixeleni commented on #2970
I saw this on @shlake computer when you click on the Share button at root
and also at dataset level. Was not able to reproduce on my laptop on
Firefox 44 (i have mac 10.11) but was able to verify with Sherry that this
only happened when she was on firefox.
On Feb 24, 2016 11:28 PM, "Michael Heppler" <notifications@github.com>
wrote:

[2016-02-25 09:19] bencomp commented on #2955
One of our partners encountered this issue in our test environment. The error occurs when content (as determined by the checksum apparently) *and* timestamp are a match to an existing file, but to him it was unclear whether it should be an error to allow multiple files with the same content when the timestamps are different.

I would say that some clarity about "acceptible duplication" is welcome.

[2016-02-25 13:51] bmckinney commented on #2960
Thanks, I definitely have some thoughts on this. I'll plan to discuss with @pameyer and share a google doc.

[2016-02-25 14:57] bmckinney commented on #2960
See: https://docs.google.com/document/d/1JDCKh8UzB2fQoRkmlCU8BrY0iwH0dEGnOAgJhRZVepM/edit?usp=sharing

[2016-02-25 15:37] mheppler commented on #1520
After digging through some [documentation for the Sphinx-Bootstrap theme](https://ryan-roemer.github.io/sphinx-bootstrap-theme/README.html?highlight=jquery) I was able to identify that the new jQuery I added in the `navbarscroll.js` was using the incorrect `$` shortcut identifier that the theme was setup to use, which was what was causing the `TypeError` and breaking the scroll animation.

This ha

[2016-02-25 15:37] pdurbin commented on #2960
@bmckinney nice! Please see also the diagram by @michbarsinai at https://github.com/IQSS/dataverse/issues/2728#issuecomment-156491229 and the [BRD: Data IO Component](https://docs.google.com/document/d/19Pu2vA_DT7f5v7LCWqAdKhiVj0s2Heygl2RXvdX39Xw/edit?usp=sharing) doc @raprasad has been working on.

[2016-02-25 15:48] pdurbin commented on #2728
This issue is at least somewhat related to "Support The Ability To Resume Disrupted File Downloads" at #2960. Mostly because of the LargeFileService diagram that appears here. @michbarsinai when you get a chance can you please attach the plantuml file for that diagram?

[2016-02-25 15:48] mheppler commented on #2970
Thank you for the additional details, @posixeleni. I will try to investigate further and replicate it somehow, somewhere.

@shlake -- could you please confirm that you are still seeing on either installation? Also, if you do see still, please attempt this simple method of refreshing your browser's cache of the site. Hold the "shift" key on your keyboard, while clicking the "refresh" button on your

[2016-02-25 16:35] pdurbin commented on #2909
@pameyer from @sbgrid expressed interest in object storage (S3) at http://irclog.iq.harvard.edu/dataverse/2016-02-25#i_31584 . e672380 is a good commit to look at (heads up @bmckinney ). Also, this issue is related to the more general "object storage" issue at #1347.

[2016-02-25 16:37] pdurbin commented on #1347
Just a quick heads up that @landreev is working on code related to object storage (Swift, which is basically S3) in #2909. /cc @pameyer and @bmckinney

[2016-02-25 16:57] pdurbin commented on #2960
@bmckinney I just mentioned your desktop app idea to @landreev and a standup and he agrees that you need **something** on the client side to coordinate resumption of uploads and downloads. Also, I'm reminded of a demo @astrofrog gave to me, @mcrosas (and others?) in May 2015. I just looked at http://irclog.iq.harvard.edu/search.pl?channel=dataverse&q=trobitaille but I can't find a reference to any

[2016-02-25 17:06] bmckinney commented on #2960
before i forget, this project/protocol is somewhat relevant: http://tus.io/ caveats: only deals with uploads, currently no java server implementation. it could be a nice option for "somewhat large" file uploads

[2016-02-25 17:13] spalan commented on #2909
Scholars Portal in Ontario is both a Dataverse and OpenStack Swift user -- we have a 350TB Swift object store in production.  Would be happy to help with testing as this develops.

[2016-02-25 18:29] pdurbin commented on #2965
Right. The citation comes from Solr. To get the values into Solr the indexing code calls DatasetVersion.getCitation.

[2016-02-25 18:37] pdurbin commented on #2311
@scolapasta I just chatted with @kcondon about this and reviewed what's already at http://guides.dataverse.org/en/4.2.4/installation/config.html#jetty-xml

Because that page already links to https://support.lucidworks.com/hc/en-us/articles/201424796-Error-when-submitting-large-query-strings which explains that you have to **add** something, I think most people installing Dataverse will figure it o

[2016-02-25 18:37] mheppler commented on #2965
Added target="_top" attribute to citation block persistentURL HTML link created in the DatasetVersion.java backing bean. This will force that URL to be loaded in the top most window, outside of any and all iframe it may be displayed in. It will behave this way both from the citation block in the result cards on the dataverse pg, as well as the citation block in the dataset pg.

This fix has been c

[2016-02-25 19:14] pdurbin commented on #2915
@mheppler I'm passing this back to you because I deploy the latest (204831d) to https://shibtest.dataverse.org and now it ain't right:

![log_in_-_root_dataverse_-_2016-02-25_14 10 21](https://cloud.githubusercontent.com/assets/21006/13331045/a5f37726-dbc9-11e5-8778-e9fc9c5f3f34.png)

To make that shib login block appear in your dev environment please run this...

    curl -X PUT -d true http://lo

[2016-02-25 19:22] pdurbin commented on #2950
@mheppler I'm passing this back to you because I deploy the latest (204831d) to https://shibtest.dataverse.org and now it ain't right:

![log_in_-_root_dataverse_-_2016-02-25_14 10 21](https://cloud.githubusercontent.com/assets/21006/13331045/a5f37726-dbc9-11e5-8778-e9fc9c5f3f34.png)

To make that shib login block appear in your dev environment please run this...

    curl -X PUT -d true http://lo

[2016-02-25 19:39] pdurbin commented on #2104
As of yesterday (INC01606454) https://dataverse.harvard.edu/Shibboleth.sso/Metadata and https://dataverse.harvard.edu/Shibboleth.sso/DiscoFeed are back in action. I chatted with @bencomp about this at http://irclog.iq.harvard.edu/dataverse/2016-02-25

We still need to (via INC01226245):

- [ ] register https://dataverse.harvard.edu with InCommon
- [ ] register https://demo.dataverse.org with InCom

[2016-02-25 19:57] mheppler commented on #2950
Fixed HTML rendering issue with help text in Institution Log In block on Log In pg.

[2016-02-25 20:00] pdurbin commented on #2950
@mheppler lookin' good. Thanks. I just deployed aa5391a to https://shibtest.dataverse.org

[2016-02-25 21:02] mheppler commented on #2367
This is also happening for the 403 pg, as found in #2838.

[2016-02-25 21:09] mheppler commented on #2838
The same "Why have a Dataverse account?..." help/info message, is also incorrectly showing up on the Account pg, if you are logged in, and have the `editMode=CREATE` parameter in the URL.

![screen shot 2016-02-25 at 4 06 33 pm](https://cloud.githubusercontent.com/assets/687227/13334447/f3d2b82a-dbd9-11e5-94af-643088fe7fc8.png)

[2016-02-25 22:32] #2961 closed

[2016-02-25 22:37] kcondon commented on #2957
OK, works, closing

[2016-02-25 22:37] #2957 closed

[2016-02-25 22:44] raprasad opened #2972 "WorldMap thumbnail generation"
Currently thumbnail generation is only attempted when information is returned via the Dataverse API.

e.g., Dataverse attempts to contact WorldMap via a PNG generation link.

Update the code to check for the thumbnail on each view--if it doesn't exist try the PNG generation link again.

[2016-02-25 22:52] landreev commented on #2726
Fixes have been checked in, into the branch 2726-download-as-rdata.
The file from the user report, above, should now be downloading in R. And it should be working more reliably and faster for other files too.
Going to make a pull request shortly as well.

[2016-02-25 22:59] kcondon commented on #2135
OK looks good. Closing.

[2016-02-25 22:59] #2135 closed

[2016-02-25 23:31] kcondon commented on #2115
Works, closing.

[2016-02-25 23:31] #2115 closed

[2016-02-26 00:56] raprasad commented on #2550
Closing this.  WorldMap changes already in prod.  Some clean up in shared_dataverse_information lib but overall working.

[2016-02-26 00:56] #2550 closed

[2016-02-26 07:58] posixeleni commented on #2966
Hope I am speaking in the right place. I also wanted to add that the Signature should be editable as well since @shlake reported to me that she was not able to edit that part of the notification letters. It says "Dataverse Project"

[2016-02-26 12:09] pdurbin commented on #2966
Yes, let's please use the system email instead.

Given that and Eleni's requirement, this issue needs to be assigned to a developer.

[2016-02-26 14:20] pdurbin commented on #2512
@bencomp I want to make it clear to you and others interested in this issue that for "phase 1" effort underway in #2939 I am **not** planning on building any sort of GUI nor add an additional database table to handle any of the workflows you've suggested. Sorry. We're trying to keep this effort small and focused. My plan is to prevent multiple email addresses from being stored as a single address

[2016-02-26 14:25] bencomp commented on #2512
@pdurbin the first point of phase 2 of the BRD is #1515, isn't it?

[2016-02-26 15:10] pdurbin opened #2974 "Login page for "only remote authentication" mode"
As I dig into #2838 I'm realizing the that "only remote authentication" authentication option in the [Remote Authentication Business Requirements Document](https://docs.google.com/document/d/1vcAmo2nkFYavAr7OwwXzxM0IFQbkRZYZrrX43q-wqGE/edit?usp=sharing) (BRD) is not especially well defined. As of 2016-02-26, this is what it says under "phase 1" (#2939):

The "remote only" mode is not something we

[2016-02-26 15:14] pdurbin commented on #2838
@mheppler and I had a nice chat about the implications `:AllowSignup` should or could have on the login page. I captured some thoughts in a new issue: #2974

[2016-02-26 15:17] pdurbin commented on #2512
@bencomp bah! You're right! Sorry! Doing too many things at once. Probably best to capture the idea in a new GitHub issue then. Please feel free to create one if you're so inclined!

[2016-02-26 15:40] bencomp commented on #2512
"the idea" being (in user story form) "a user with multiple email addresses can choose one", right? I'm not really inclined to open this right now :)

[2016-02-26 15:55] pdurbin commented on #2512
@bencomp yes. No worries. There's a UI component to this so @eaquigley or @mheppler would be in a better position to define the requirement and open the new issue. To be clear, this is outside the scope of phase 1. It would go under "Issues that are definitely out of scope" at #2939.

[2016-02-26 16:21] eaquigley commented on #2966
Passing to @mheppler to update it to be the link to the support form pop up instead of an email address.

[2016-02-26 17:03] eaquigley opened #2975 "User Guide: Add section about remote authentication (experimental)"
Need to add a section about remote authentication into the user guide

[2016-02-26 18:13] mheppler commented on #2966
Reviewed with @eaquigley and have come up with new notification messages related to creating an account, both that display in the Notifications tab on the Account pg, and that get emailed to the user.

`Welcome to {dataverseServiceBean.findRootDataverse().name} Dataverse! Get started by adding or finding data. Have questions? Check out the <a href="{systemConfig.guidesBaseUrl}/{systemConfig.versio

[2016-02-26 18:20] mheppler commented on #2966
Updated welcome/create account-related app/email notifications.

Pushed this code to the [2966-4.0notification](https://github.com/IQSS/dataverse/tree/2966-4.0notification) branch.

[2016-02-26 18:25] sekmiller commented on #2641
On remove permissions getting null pointer on removeRoleAssignments method revokeRole (line 245) is being called with a null role assignment row.

[2016-02-26 18:47] mheppler commented on #2966
Passing this to QA and submitting a pull request.

@posixeleni -- regarding your question, let's review this in more detail when you return to the office. If I am understanding it correctly, the `notification.email.closing` signature can be edited in `Bundle.properties`. If there are any other outstanding issues related to that which we need to address, we can open a new issue specific to those.

[2016-02-26 19:23] mheppler commented on #2966
| Page/Requirements  | Issue# | Commit# |
| ------------- | ------------- | ------------- |
| **Account Pg Notification, Create Account**  |
| Change notification msg to open Contact Dataverse Support popup, improve text in general  | #2966  | 4e44d104080f271a971fee116596ca06aedcac51, 421f821208af1198cc1e3fd18e9be230379d34cf |
| **Email Notification, Create Account**  |
| Change notification msg t

[2016-02-26 19:50] kcondon commented on #1520
This works!

[2016-02-26 19:50] #1520 closed

[2016-02-26 20:25] mheppler commented on #2965
| Page/Requirements  | Issue# | Commit# |
| ------------- | ------------- | ------------- |
| **Dataverse Listing Widget, Personal Site**  |
| Add `target="_top"` attribute to persistentURL link in citation block on dataset result cards  | #2965  | 5977e0e0e8e0105f395d5ba9c2075b4e2684d72a  |

[2016-02-26 20:47] kcondon commented on #2726
@landreev Was the problem and fix specifically for transforming to R format taking a long time or something else too? Should I test some other large tabular file as well?

[2016-02-26 20:55] kcondon commented on #2726
OK, looks good. Was able to download test file mentioned as Rdata with no issues. Closing.

[2016-02-26 20:55] #2726 closed

[2016-02-27 21:08] michbarsinai commented on #2728
1 diagram, coming up.
[fileMicroService.txt](https://github.com/IQSS/dataverse/files/149562/fileMicroService.txt)

[2016-02-29 15:00] pdurbin commented on #2163
I spoke with @cchoirat last week and she indicated that by default Sphinx has "previous" and "next" links but they were taken out for some reason. Here's what the Sphinx docs themselves look like:

![first_steps_with_sphinx_ _sphinx_1 3 7 _documentation_-_2016-02-29_09 56 02](https://cloud.githubusercontent.com/assets/21006/13398074/ba3211bc-deca-11e5-94d4-c2d4103764e5.png)

She suggested looking

[2016-02-29 17:22] shlake commented on #2970
@mheppler after messing w/ a few things, I fixed it by **disabling AdBlock-Plus** on the dataverse sites (Harvard's and UVa's). Running Firefox 44.02   w/ AdBlock Plus 2.7.2.

Now I see the social media site icons.

[2016-02-29 17:24] mheppler commented on #2970
@shlake -- thank you for the additional details! There's something there with browser plugins to look into.

[2016-02-29 19:02] pdurbin commented on #2122
@scolapasta has been working on groups stuff in #2978 but I'm not sure it's related to group resolution or not.

[2016-02-29 19:35] mheppler commented on #2833
Fixed scroll bar issue with Publish Dataset popups on dataset pg.

Sending pull-request and issue back to @kcondon for testing.

[2016-02-29 19:52] sekmiller opened #2979 "File Tags: When adding new Categories and Tags to a Published Version. No new version is Created."
Whether in "Bulk Update" of files on the Dataset page or Edit Tags on the Edit Files page, if you start with a published version that has no tags or categories and try to add both tags and categories to one or more tabular files, the Save Dataset Command fails and no new version is created.

The issue is caused during the merge dataset in the Update Dataset Command.  Specifically a new DataFilesTa

[2016-02-29 20:05] kcondon commented on #2833
OK, all issues resolved. Closing.

[2016-02-29 20:05] #2833 closed

[2016-02-29 20:39] eaquigley commented on #2959
This only needed to be updated in dataverse.org, not part of the code. My bad!

Changed text to say, "Downloaders must be registered Users of the Site or guests that agree to the CC0 waiver or the Custom Data Usage Agreement for a dataset in order to take advantage of the Site’s Services, including downloading any materials or datasets."

Passing to QA to close.

[2016-02-29 21:34] eaquigley commented on #2255
While reviewing this issue, @mheppler and I have realized there are several issues with the Permissions panel. Inconsistencies with text and nothing alerting a user to the impact of them changing those settings. Will review at a high level and use @mheppler's FRD-lite idea that was created for permissions and file ux issues.

[2016-02-29 21:36] #1579 closed

[2016-03-01 02:13] pdurbin commented on #1837
Most recently, this issue is affecting this user:

- https://groups.google.com/d/msg/dataverse-community/eY4ovtrsIGc/QDkt23ZRGAAJ
- https://groups.google.com/d/msg/dataverse-community/k584aXchHRE/roNzFuWTGQAJ

I'm replying with workarounds but really we should just fix this issue. @michbarsinai implemented a fix at https://github.com/IQSS/dataverse/issues/1837#issuecomment-166017382 and it has sin

[2016-03-01 15:56] leeper commented on #2249
I think this would be really valuable. It was how things worked with versions < 4.0, as I recall, and makes it somewhat unpredictable what will happen currently when uploading a project (e.g., via the API).

One possibility might be to do what S3 does with [object keys](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html) that can have slashes in them:

    Note that the Amazon S3 da

[2016-03-01 16:34] pdurbin commented on #2249
This issue was raised yesterday by @pameyer and others from @sbgrid . @bmckinney if you want you could assign yourself to this issue to at least think about. I remember @dpwrussell of OMERO fame talking about it during last year's community meeting.

@leeper you're right. From what I've heard from @landreev in the DVN 3.x days a zip download would sort of reconstruct the file system hierarchy. I'm

[2016-03-01 16:38] Grimaldum opened #2980 "Installer: configure :SystemEmail in the Dataverse settings."
We ran unto a problem with our dataverse : no emails were sent for any actions (reset, publish, etc). We had no logs useful.

After chatting with @pdurbin, we figured out that the problem was that SystemEmail wasn't set. Following the documentation that described the problem (here : http://guides.dataverse.org/en/4.2.4/installation/config.html#systememail), we had to run this command (of course, c

[2016-03-01 16:41] mheppler commented on #1564
Found another reference on [StackOverflow](http://stackoverflow.com/questions/14584187/how-to-use-target-blank-only-if-validation-successfully) suggesting to use PrimeFace's `RequestContext#execute()` with `window.open()`.

[2016-03-01 16:43] pdurbin commented on #2980
Right. They had to turn up logging as explained at http://guides.dataverse.org/en/4.2.4/installation/administration.html#glassfish and http://guides.dataverse.org/en/4.2.4/developers/debugging.html to see this error:

"Email will not be sent because the :SystemEmail setting is null"

I suggested to @landreev that perhaps the installer should prompt for this value. I also added a note that we could

[2016-03-01 16:44] kcondon commented on #2901
Works, closing.

[2016-03-01 16:44] #2901 closed

[2016-03-01 17:21] mheppler commented on #2925
Cleaned up the UI of the Delete Tags checkbox on the Edit Tags popup, as well as the UI in general for the Edit Tags popup linked from the Edit Files pg.

![screen shot 2016-03-01 at 12 20 43 pm](https://cloud.githubusercontent.com/assets/687227/13435394/14c2a410-dfa8-11e5-9a73-c3b608343c60.png)

[2016-03-01 17:46] pdurbin commented on #2974
Assigning to @eaquigley because @mcrosas wants her to check with Odum, DANS, etc.

In #2939 I'm declaring this issue out of scope for "phase 1" but we still want feedback from the community, of course!

[2016-03-01 18:23] pdurbin commented on #2838
As of f328110 the original security problem reported by @ajirnyi has been addressed. (This is still the 2939-shib branch.)

While I was making that commit I went ahead and fixed the login tip problem @mheppler pointed out: https://github.com/IQSS/dataverse/issues/2838#issuecomment-188990140

Next I'll see if I can find mentions of signups per @shlake : https://github.com/IQSS/dataverse/issues/2838

[2016-03-01 18:42] pdurbin commented on #2838
@shlake from what I can tell, the `:AllowSignup` boolean is already being respected for the two places you found. I set `:AllowSignUp` to "no" and here's what I see:

![screen shot 2016-03-01 at 1 30 58 pm](https://cloud.githubusercontent.com/assets/21006/13437445/4dfe92f2-dfb2-11e5-9dca-a9e23c46485f.png)

![screen shot 2016-03-01 at 1 32 52 pm](https://cloud.githubusercontent.com/assets/21006/134

[2016-03-01 18:54] eaquigley commented on #2838
Passing to @mheppler to fix the formatting issues in the pop up, check out the blue info text, and confirm that you can't replicate what @shlake is experiencing with the boolean not working to hide Sign Up.

[2016-03-01 18:57] eaquigley commented on #2974
@pdurbin, @mheppler, and I talked a bit about this today and had a request for @scolapasta to brainstorm what the technical implications are for not having local accounts; how will this impact the database and all actions associated with roles?

[2016-03-01 19:02] mheppler commented on #2798
Currently I can replicate this bug on the Edit File pg, in a local build of the "develop" branch.

User Workflow: Draft version of a published dataset, with tabular data files. Select tabular file, click "Edit Files" button, select "Metadata" from dropdown to go to Edit File pg. Click "Edit Tags" button next to tabular file. Select new tabular data tag from the dropdown. Click "Save Changes" butto

[2016-03-01 19:18] mheppler commented on #2979
Currently I can replicate this bug on the Edit File pg, in a local build of the "develop" branch.

User Workflow:

1. Latest published version of a dataset, with tabular data files.
2. Select tabular file, click "Edit Files" button, select "Tags" from dropdown.
4. Select new file tag from the dropdown.
4. Select new tabular data tag from the dropdown.
5. Click "Save Changes" button on the Edit Tag

[2016-03-01 20:37] mheppler commented on #2838
Fixed styling for the warning msg in the Request Access popup on the dataset pg.

Also was able to replicate what @pdurbin reported seeing, that the proper "Log In"-only msg was displaying in the two "Add Data" and "Request Access" popups after changing the settings for `AllowSignUp` to `no`.

[2016-03-01 20:40] pdurbin commented on #2512
I'm working on this issue now and I just wanted to add a side note that the email address رونیکا.محمدخان@example.com is not considered valid but it comes from https://randomuser.me which I use for testing Shibboleth (documented as "RANDOM" in the Dev Guide). In practice, we don't see right-to-left email addresses like this.

[2016-03-01 20:46] kcondon opened #2981 "Documentation: DOI configuration, persistent id options, installer default need clarification."
We might want to add or enhance the existing doc to alert new installers they need to separately arrange for an account with one of two available DOI providers, how to contact them, that the installer defaults to a test account at EZID that can be used in a test only config and that it needs to be a real account to be uniquely resolvable and citable. Last list in a single place all the config para

[2016-03-01 20:50] posixeleni commented on #2981
@kcondon thanks for putting this together. This will be useful to share with the DataCite Community so please let me know when this is up in the guides and I can send them the link.

[2016-03-01 20:52] pdurbin commented on #2981
This is basically the new #2632 and looks like a good brain dump of how we need to document this stuff better (and maybe change the installer). For now I added it to the long list at #2944 but it would be great to have this be part of pull request #2964 before it's merged.

[2016-03-01 21:33] kcondon opened #2982 "Logging: Remove debug logging for DataCite DOI creation, processing."
On publishing a dataset, some useful but perhaps debugging logging info is written, maybe should be removed for production:

[2016-03-01T13:56:56.516-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.DOIDataCiteServiceBean] [tid: _ThreadID=51 _ThreadName=jk-connector(2)] [timeMillis: 1456858616516] [levelValue: 800] [[
  doiDataCiteRegisterService.toString : edu.harvard.iq.dataverse.DOIDat

[2016-03-01 21:44] pdurbin commented on #2982
@sekmiller if you want to simply reduce it to fine (rather than removing it) I've documented here how sysadmins and developers can increase the logging level: http://guides.dataverse.org/en/4.2.4/installation/administration.html#glassfish

[2016-03-01 21:45] michbarsinai commented on #2512
Just for the record, I've never seen a Hebrew email address either.

[2016-03-01 21:56] sekmiller commented on #2982
I made a typo when I committed the change.  (i put it on 2892). oops. You can see the commit in the pull request for DataCite Support

[2016-03-01 22:04] landreev commented on #2798
Pushed in a fix, into the 2391-file-edit-tags branch branch.
Moving to QA.
(note that it doesn't have a milestone assigned).

[2016-03-01 23:45] kcondon opened #2983 "DataCite DOI: when dataset fails to publish due to DataCite inaccessible, dataset card seems to show published."
Edge case, should only happen when DataCite is unavailable when dataset is published. In this case, the dataset page shows an error happened and retains the draft and unpublished tags but the dataset card seems to have updated the tags so does not appear to be unpublished. The card also appears in listing to an anonymous user as if public but permissions still as draft (prompts log in). So, seems

[2016-03-02 00:01] kcondon opened #2984 "DataCite DOI: EZID DOI Dataset when DataCite configured edit fails silently, publish reports success."
This is out of scope but wanted to raise it as a potential issue/ error handling situation:
When testing, I first configured EZID, created a bunch of datasets, then configured DataCite and created datasets.

Supporting simultaneous DOI providers is not supported but was told display/ resolution would work for EZID but fail on update. It failed silently and did not save. Not sure whether this is re

[2016-03-02 15:19] mheppler commented on #1320
Discussed the WYSIWYG editors that OpenScholar uses. They currently use an older version of [TinyMCE](https://www.tinymce.com/), but are changing to [CKEditor](http://ckeditor.com/) because they looked at what Drupal 8 uses and chose that.

[2016-03-02 15:55] posixeleni commented on #2959
Looks good!

[2016-03-02 15:55] #2959 closed

[2016-03-02 16:32] pdurbin commented on #2888
@majorseitan I just noticed that you closed your old pull request at #2894. Is the new pull request at #2986 now your proposed fix for this issue? If so, can you please include #2888 under "Related Issues" at pull request #2986? Thanks!

[2016-03-02 16:44] mcrosas commented on #2576
Apache also recommends a short header.

@bencomp I did notice that there is inconsistency about the bolierplate or header in the  Java files across Dataverse code (some of them carry what we had for 3.x).

I'm reviewing these issues with legal (cyberspace) experts - I've contacted them already and waiting for feedback.

[2016-03-02 17:33] majorseitan commented on #2888
Corrected  #2986 to point to this issue.

[2016-03-02 17:41] posixeleni commented on #2917
This feature needs to be enabled to send metadata to both:

- [ ] EZID API

- [ ] DataCite MDS

[2016-03-02 20:11] michbarsinai commented on #1320
Trix (https://github.com/basecamp/trix#readme) might be interesting as well. Open source, used in the upcoming Basecamp. Haven't tried it myself.

[2016-03-02 20:55] landreev commented on #2979
Hmm, bummer, for a moment I thought that the code I checked in yesterday also fixed this issue, at least for the Edit Files page. Turns out it is still bombing as described above, when the file doesn't have any categories and tags, AND has not had any categories or tags assigned previously. (Meaning, if I create a tab file, assign some tags, then assign some categories, then remove them all, then

[2016-03-02 21:07] mheppler commented on #2979
Good stuff, @landreev. Thank you for reviewing this in more depth today.

Related to #2808.

[2016-03-02 21:16] pdurbin commented on #2512
In ffd1d6e I implemented a fix:

- Put email addresses throught the same "find single value" logic
  originally developed in #1608 for multiple first and last names.
- Add `@ValidateEmail` to the "email" field on AuthenticatedUser to
  match BuiltinUser.
- Add null check added to EmailValidator to make it testable.
- Add `INVALID_EMAIL` and `MISSING_REQUIRED_ATTR` modes for Shib testing
  in dev.

[2016-03-02 21:32] kcondon opened #2988 "DataCite DOI: Some DOI create/registration failures dump 404 html page to logs."
I've tested a few failure cases and found the server log is logging the 404 html page:

1. Bad DataCite service URL
2. Duplicate identifier on create in cache table.
3. Duplicate identifier on publish at DataCite.

It ends up dumping pages and pages of text to the log file, not very usefule.

[2016-03-02 21:35] kcondon opened #2989 "DataCite DOI: When encountering a duplicate, does not select a new value, just fails."
This may be a requirements issue rather than a bug but the FRD says, "(Part of the DOI reservation process is to make sure that identifiers are not duplicated.  If a duplicate is discovered, another identifier will be submitted. This will continue until a unique identifier is minted.) "

What actually happens is it just fails and never allows for trying another identifier. Gives an error:
 Error –

[2016-03-02 21:37] kcondon opened #2990 "DataCite DOI: Error message does not indicate cause as being DOI outage."
This may be a problem with how the requirements were specified rather than a bug but the FRD says, " If during this process there are repeated API failures, most likely caused by the DataCite API being unresponsive, the dataset will not be published and the user will be notified that the publish command failed due to DOI outage."

The actual error does not indicate an outage nor that it may be tem

[2016-03-02 22:05] mheppler opened #2991 "Edit File Tags: Duplicate Custom Tags"
After working on the UI improvements for Edit File Tags in #2391, it was again suggested that we should review the possibility of consolidating the code for the two version of the Edit File Tags popup, on the Dataset pg and the Edit File pg.

In addition to consolidating the two popups, there are a few remaining bugs that also need to be addressed in these two popups:

Dataset Pg > Edit Tags Popup

[2016-03-02 22:13] kcondon commented on #2027
User filtering is much faster with production data: 1-2 seconds. The limit results to 5 was not done, not sure how to easily do this if there are more than 5 and what you want is >5? Closing this ticket, will revisit shorter list.

[2016-03-02 22:13] #2027 closed

[2016-03-02 22:20] kcondon commented on #2834
Works, closing

[2016-03-02 22:20] #2834 closed

[2016-03-02 22:40] kcondon commented on #1669
OK, according to Gustavo, this means: add a header for the section listing Users and one listing Groups. These are in place, closing.

[2016-03-02 22:40] #1669 closed

[2016-03-02 23:20] kcondon commented on #2965
This works as Mike describes: in the same window, dataset is displayed outside of widget frame. However, clicking on the dataset title opens in a new tab whereas clicking on the citation doi link opens in the same window without the widget frame. @eaquigley @mheppler @scolapasta is this what we want?

[2016-03-02 23:22] kcondon commented on #2965
Can be tested on dataverse-internal.iq.harvard.edu/test.html

[2016-03-03 07:11] chaudj opened #2992 "Getting overall download number for dataverse files"
Hi

Not sure if this question has been raised before but in the other versions of dataverse, we could see the number of downloads for the entire dataverse. In this new version, its for the specific studies.

How do i get the overal  number of downloaded files.

Thanks
Jacquie

[2016-03-03 14:51] pdurbin commented on #2512
`michélle.pereboom@example.com` is [another example](https://github.com/IQSS/dataverse/issues/2512#issuecomment-190891438) of an email address from https://randomuser.me that fails our bean validation:

![screen shot 2016-03-03 at 9 50 25 am](https://cloud.githubusercontent.com/assets/21006/13497864/6051a966-e125-11e5-8c9d-bd8636dafcc0.png)

I'm not sure if we should be worried about this or not.

[2016-03-03 15:24] raprasad opened #2993 "Tabular Mapping: csvkit will convert strings to numeric, even if they are quoted"
Note: Fix is in WorldMap code, not Dataverse

---

This is related to tabular mapping:

  1. csvkit turns a tabular file into a SQL table (postgres), called a DataTable
  2. a column join is attempted between the DataTable and an existing map layer
     In most cases, the column being joined is VARCHAR.
  3. Issues:  when it can, csvkit indiscriminately converts strings to integers when:
    - all

[2016-03-03 15:35] pdurbin commented on #2294
While working on #2916 I just realized that it's still possible to configure Dataverse to use request headers. We might want to consider reverting b64623c to disallow this completely. Certainly, I do not plan to document the boolean that controls it while I work on #2953 because I feel so strongly that this configuration should never be used, based on the many stern warnings I've quoted from the S

[2016-03-03 15:57] kcondon opened #2994 "DataCite DOI: Investigate how to handle dataset Destroy."
@posixeleni @sekmiller
Although destroy is a rarely used option it does happen. How should this be handled via DataCite? We currently do nothing special -the record remains active.

Eleni will check with DataCite to see if they have a recommended approach, Stephen will investigate the DataCite API to see whether there is something he can used to remove the record.

[2016-03-03 18:37] kcondon commented on #2982
It seems to be cleaned up a lot, still logging the following:

[2016-03-03T13:34:05.630-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.DOIDataCiteRegisterService] [tid: _ThreadID=50 _ThreadName=jk-connector(1)] [timeMillis: 1457030045630] [levelValue: 800] [[
  identifier=doi:10.5072/DataCite/U4XFWT, creators=Admin, Dataverse (Dataverse.org), title=new dataset with DataCite DOI, publish

[2016-03-03 19:02] sekmiller commented on #2990
Here is the message I added (based on what I paraphrased from Kevin's suggestion:

This dataset may not be published because the DataCite Service is inaccessible. Please try again. If the issue persists, please contact Dataverse Support for assistance.

[2016-03-03 19:04] sekmiller commented on #2983
Moved the re-index to after the DOI update so that if the DOI update fails the re-index will not be done.

[2016-03-03 19:13] sekmiller commented on #2983
Fix checked into branch

[2016-03-03 19:14] sekmiller commented on #2982
Fix checked into branch

[2016-03-03 19:14] sekmiller commented on #2990
Fix checked into branch

[2016-03-03 19:15] sekmiller commented on #2989
Fix checked into branch

[2016-03-03 19:26] kcondon commented on #2982
OK, works, logging removed. Closing.

[2016-03-03 19:26] #2982 closed

[2016-03-03 19:33] kcondon commented on #2983
OK, works, not indexed on failure, indexed on success. Closing.

[2016-03-03 19:33] #2983 closed

[2016-03-03 19:34] kcondon commented on #24
Tested, works with some issues opened in separate ticket.

Test checklist:
Documentation
	-Are the steps to enable clear?
Configuration
	-Do the configuration steps work?
Create Dataset
	-Does an appropriate DOI/persistent Url get created and appear in the Draft Citation?
	-Since DataCite does not reserve DOIs, does the identifier appear in the DOIDataCiteRegisterCache table?
Publish Dataset
	-Is

[2016-03-03 19:38] kcondon commented on #2990
This is what it actually says, maybe one too many contact supports:
 Error – This dataset may not be published because the DataCite Service is inaccessible. Please try again. If the issue persists, please contact Dataverse Support for assistance. Please contact support.

[2016-03-03 19:42] mheppler commented on #2990
@kcondon + @sekmiller -- please let me and @eaquigley review this message text. If we are going to include the "please contact Dataverse Support for assistance", then I can wire that up to open the Contact Dataverse Support popup. Assign this ticket to me and I will get it done this afternoon.

[2016-03-03 19:42] pdurbin commented on #2916
I just pushed f901d9f to the 2939-shib branch. I decide that more logging is really what sysadmins need so I added more, including information about Shibboleth groups (all groups really). This is not controlled by a database setting anymore. As I hinted at above, you can just change the logging level on the fly by following http://guides.dataverse.org/en/4.2.3/developers/debugging.html . Mostly fo

[2016-03-03 19:44] kcondon commented on #2990
Sure, I had already sent the initial message to Liz but did not hear back.

________________________________
From: Michael Heppler <notifications@github.com>
Sent: Thursday, March 3, 2016 2:42 PM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] DataCite DOI: Error message does not indicate cause as being DOI outage. (#2990)

@kcondon<https://urldefense.proofpoint.com/v2/url?u=https-

[2016-03-03 19:46] kcondon commented on #2990
For the record, the popup was already coded into the original message. Stephen changed the text but had double contact, one without the popup.

________________________________
From: Michael Heppler <notifications@github.com>
Sent: Thursday, March 3, 2016 2:42 PM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] DataCite DOI: Error message does not indicate cause as being DOI outage.

[2016-03-03 19:52] pdurbin commented on #2951
@eaquigley this issue is technically blocked on #2975 (which is already in your name) if you still want a link to a section on remote auth in the User Guide. I've already vetted @mheppler various changes so I'm going to mark this issue as code complete and put it in my name to write up a summary for QA. If you still want the link, please work on #2975 and let me know when you're ready for the link

[2016-03-03 19:54] pdurbin commented on #2950
I've deployed f901d9f to https://shibtest.dataverse.org and now plan to vet all the changes @mheppler mentioned at https://github.com/IQSS/dataverse/issues/2950#issuecomment-188470277 .

[2016-03-03 20:18] eaquigley commented on #2951
@pdurbin I'm almost done with the user guide. it will be ready early next week. if this isn't being QA'd till later next week (which i'm assuming is the case since @kcondon will be out and also needs to finish testing 4.3), then this blocker will go away before QA.

[2016-03-03 20:27] pdurbin commented on #2951
@eaquigley fantastic! I'll keep an eye on #2975 for updates!

[2016-03-03 20:51] pdurbin commented on #2950
@mheppler I found a little bug where affiliation was not being displayed for Shib users so I fixed this in 66c4777.

As I mentioned in person, I think we displayed "Affiliation not provided by institution log in" for a reason, that it was a design decision, but I can't find anything backing this up so I removed it in 58ed4f8 . The point of having that text in there is that we are relying on the af

[2016-03-03 21:41] mheppler commented on #2925
The wiring up of the Delete Tags checkbox on the Edit Files pg version of the popup has been postponed, and documented in a new ticket, #2991.

[2016-03-03 21:45] sbarbosadataverse commented on #2872
@eaquigley @mheppler
FYI HBS complained about this again today, because the have the contact person and email listed in the Terms of use, but "request access" is of course not functioning as described above. There is no good or acceptable work around at the moment. I'm going to add to my github review list to prioritize. Any reason we shouldn't? How long would this take to develop? I see no milest

[2016-03-03 21:53] kcondon commented on #2989
Now it just pretends to succeed but doesn't -indexes and published locally but does not register/update DataCite record.

[2016-03-03 22:19] raprasad commented on #2993
Used solution 2 -- After csvkit table is made, force values in the DataTable join column to unicode--if the Layer join column is chacter. (This works)

a. csvkit -> Table
b. If appropriate, force table column to unicode
c. Create SQL DataTable

[2016-03-03 22:21] raprasad opened #2996 "Tabular Mapping: Standardize layer and view naming"
When a Postgres View (table join) is made between a DataTable and Layer, the resulting view name can be too long:
[code]
Standardize this naming to be approx. 17 chars + random chars until its unique.

[2016-03-03 22:41] raprasad opened #2997 "Tabular Mapping: Update Dataverse API"
For the "dataset_citation", use the HTML version instead of plain text.  This will make the DOI linkable.

_Identified during UX/UI review._

[2016-03-04 13:47] pdurbin opened #2998 "Be more permissive in what we consider a valid email address to be"
While working on #2512 and testing with random email addresses from the https://randomuser.me API, I observed that certain email addresses were treated as invalid. Examples include:
- michélle.pereboom@example.com
- begüm.vriezen@example.com
- lótus.gonçalves@example.com
- رونیکا.محمدخان@example.com

Is https://randomuser.me slipping us bad email addresses or is Dataverse being too strict about wh

[2016-03-04 13:50] pdurbin commented on #2998
In 8471c02 I added some tests to exercise this issue.

[2016-03-04 13:51] pdurbin commented on #2512
I mentioned this email validation issue at yesterday's standup and we agreed to create a separate issue for it, which I just did: #2998

[2016-03-04 14:34] sekmiller commented on #2994
There's no way to delete an identifier via the API.  I did add a method to delete the record from the api cache if a draft is deleted before publish.

[2016-03-04 15:07] pdurbin commented on #2838
@mheppler 901e804 looks like a good fix. I see red triangles everywhere, which seems to be what you and @eaquigley are going for. Thanks. I think we're done code-wise. I still need to add a summary for QA.

[2016-03-04 15:55] pdurbin commented on #1551
@scolapasta I have this issue marked as "out of scope" right now for #2939 but I've mentioned to @mheppler that I'd take a look. Can I pick your brain about the code? I'm attaching a diff for the area of the code I'm messing with. The diff contains hard-coded values but when we do this for real we'd need to get the values from the backing bean and put them somehow in the Javascript. Anyway, here's

[2016-03-04 16:34] pdurbin commented on #1983
@bmckinney is looking into using `launchctl` as part of Ansible playbooks (#2443 is related).

[2016-03-04 16:45] mheppler commented on #2990
Cleaned up error msg on Dataset pg related to persistentURL services down while publishing.

- Moved error msgs from `PublishDatasetCommand.java`, to the `Bundle.properties`.
- Added link to DataCite Status Page.
- Fixed broken popup links for Dataverse Support in `messages.xhtml`.

[2016-03-04 17:00] sekmiller commented on #2981
Completed as requested except for the internal linking to JVM options and Settings entries.

[2016-03-04 18:20] pdurbin commented on #1013
@pameyer just mentioned this is something @sbgrid is interested in and @bmckinney said to go ahead and assign this issue to him.

[2016-03-04 20:32] sekmiller commented on #2657
Fix applied and checked into branch

[2016-03-04 21:28] scolapasta commented on #2606
A backend has been added for this - as well as an API call:

curl -X PUT localhost:8080/api/datasets/XXX/citationdate/distributionDate?key=YYY

this will allow users with Publish Dataset permission to set.

[2016-03-04 21:45] pdurbin commented on #1551
I think I got this working in 96adc39. I just deployed this to https://shibtest.dataverse.org if @mheppler @eaquigley or others would like to check it out. Please note that I have **not** yet addressed #2952 which is related (but should be straightforward).

[2016-03-07 16:05] eaquigley commented on #2965
Tested by myself and @sbarbosadataverse. Comments are in the pull request. Closing this ticket.

[2016-03-07 16:05] #2965 closed

[2016-03-07 16:38] pdurbin commented on #1551
As I mentioned in this morning's standup I was hoping that the fix at 96adc39 I pushed on Friday was a good one but I noticed that Shibboleth users are sometimes redirected properly, sometimes (especially when you completely clear your browser cache), they can't log in at all! Since this issue is a "nice to have" for phase 1 (#2939) I backed out of the fix in 2d5130c. @scolapasta said he'd like to

[2016-03-07 18:59] pdurbin commented on #2952
Done in e911234. Redirects to account page:

![screen shot 2016-03-07 at 1 55 50 pm](https://cloud.githubusercontent.com/assets/21006/13579680/c3d2a644-e46c-11e5-8cf8-1694e843381d.png)

[2016-03-07 19:07] bmckinney commented on #1983
I've found that adding --verbose=true is a decent workaround. Here is a plist I've used for launchctl on yosemite:

`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>glassfish</string>
        <key>ProgramArguments</key>