[2015-02-09 18:03] eaquigley commented on #1387
I registered dataverse-demo today. Passing ticket to QA to be able to close. (@kcondon not sure how you will check this, you will just need to trust that I did this)

[2015-02-09 18:03] eaquigley commented on #513
I registered dataverse-demo today. Passing ticket to QA to be able to close. (@kcondon not sure how you will check this, you will just need to trust that I did this)

[2015-02-09 18:06] eaquigley commented on #923
Since 4.0 is now coming out towards the end of March and I am already rethinking the Logging In process, I would like to add this field in to the registration form.

[2015-02-09 18:10] posixeleni commented on #923
@eaquigley would this field also be pre-populated in the Dataset form like we do for the author name? This would save the user a lot of time having to re-enter the same information twice (or multiple times if they have many datasets).

[2015-02-09 18:11] posixeleni commented on #513
we'll know if the stats are coming into Google Analytics within 24 hours right?

[2015-02-09 18:14] eaquigley commented on #923
@posixeleni yes ma'am, anything from the user sign up that relates to dataset metadata needs to be pre-populated.

[2015-02-09 18:15] eaquigley commented on #513
@posixeleni yup! it is showing now though because we already had google analytics set up. you need to go to the webmaster link above and log in to see it. will check in google analytics and see if it shows there.

[2015-02-09 18:21] eaquigley commented on #1104
@pdurbin I reviewed the four links you have listed in the above comment. To clarify, the comments in the Trello card are the suggested implementation, yes? Is that only for the Data Deposit SWORD API or for all APIs?

[2015-02-09 18:36] pdurbin commented on #1104
@eaquigley the Trello comments suggest tracking who deposited something based on who authenticated, which makes sense.

I would imagine we would want tracking not just for SWORD but any API.

It seems like @posixeleni has definite an initial use case/user story at https://lists.iq.harvard.edu/pipermail/pkp-dataverse-integration/2014-April/000059.html

[2015-02-09 19:01] eaquigley commented on #1249
#610 was a duplicate so this actually relates to #1320 now

[2015-02-09 19:10] mheppler commented on #1409
Added "Request Access" button to restricted files on the dataset page that's displayed for guests (no user is logged in) and linked to a Sign Up/Log In popup.

[2015-02-09 19:13] eaquigley commented on #1385
@posixeleni If the API user selects None, to match the GUI, they still wouldn't need to enter custom Terms of Use.

[2015-02-09 19:14] eaquigley commented on #1311
assigning to @scolapasta to answer @posixeleni 's question

[2015-02-09 19:15] eaquigley commented on #1077
@posixeleni since this is ready, could you go ahead and add it in to documentation so we can get this ticket closed? thanks!

[2015-02-09 19:16] eaquigley commented on #907
passing to @scolapasta to answer @posixeleni 's question

[2015-02-09 19:20] eaquigley commented on #457
This ticket is contingent on #965 being done. Moving it to Beta 15 for the time being.

[2015-02-09 19:26] posixeleni commented on #1385
@eaquigley: Am I misunderstanding something here? I was under the assumption that if you dont select CC0 you would NEED to give Terms of Use? This would need to be figured out in the API calls to match the UI as best as possible.

[2015-02-09 19:26] eaquigley commented on #1178
Assigning this to Beta 13 so you can check in with Dwayne about the status of these icons.

[2015-02-09 19:27] eaquigley commented on #1356
@mheppler there is a low level version of this in but I wanted to check if you planned to do something else or if this could be passed to QA. If needs more, I would say move to Beta 15

[2015-02-09 19:27] eaquigley commented on #1111
@mheppler does this need to be passed to someone else?

[2015-02-09 19:29] pdurbin commented on #923
If we're going to revisit the registration form, can we please make it so **all users** can enter "Position" (or simply remove "Position" altogether?). Currently only builtin users can specify their position. (If we need a separate ticket to revisit the builtin user table vs. the authenticateduser table, that's fine.)

Obviously, **all users** should be able to specify their ORCID or other ID, not

[2015-02-09 19:31] eaquigley commented on #102
passing to QA to close as this has been broken down into individual tickets

[2015-02-09 19:31] posixeleni commented on #1077
@eaquigley after meeting with Merce and Gustavo last week this ticket is actually not ready to be finished yet. I am waiting on this ticket #1430  to close before I can add this mapping to the documentation.

[2015-02-09 19:51] eaquigley commented on #1104
Planning doc: https://docs.google.com/document/d/1f6oGi9DjiCFGJyWxhzymdOSxROcgxpExlvu1kGA0hH0/edit

[2015-02-09 19:54] pdurbin commented on #1430
I would love to see dcterms:subject be used for "Subject" in Dataverse.

However, because "Subject" in Dataverse is a controlled vocabulary, I'm concerned that enforcing a controlled vocabulary on dcterms:subject has the potential to cause the OJS plugin to stop working. We used to let people put anything in dcterms:subject. (Based on some feedback from @jwhitney we've continued to work on OJS com

[2015-02-09 20:09] mheppler commented on #792
The UI should be good, save for some minor spacing issues with the buttons, that are being addressed in another general UI ticket.

Dataverse
- No restricted icons are displayed on the file cards.

[2015-02-09 20:09] posixeleni commented on #66
Per @mcrosas

 In Add Dataset page: What's the best way of sharing data? - description, documentation, metadata in files, commonly used formats, CC0 (unless restrictions or agreements apply), etc.

[2015-02-09 20:10] mheppler commented on #1345
The UI should be good. These are some additional items that might be best as additional tickets.

Manage File Permissions
- Requested Access table is separate from the Users/Groups table, rather than combined into one, and on top of that, is always displayed, even when empty, and without any label/title. Something needs to be done here.
- In the Files table, "0 Users/Groups" is a link to empty pop

[2015-02-09 20:11] kcondon commented on #1104
@pdurbin @eaquigley
My use case was to understand how much load is coming from API use. I don't believe API calls are covered by Google Analytics but we can just look at the access logs. Not sure if there is some better way or other use cases such as Eleni mentioned.

[2015-02-09 20:12] posixeleni commented on #1430
@pdurbin: Given our concerns about SWORD with OJS, I have already spoken with @scolapasta that we should still allow backwards compatibility for the SWORD API. So we should still allow the ability to enter N/A as a subject which is something we have to do for the 3.6 to 4.0 migration anyway.

[2015-02-09 20:15] posixeleni commented on #1104
@kcondon @eaquigley @pdurbin on top of my use case I think like Kevin said its important to know how many people are uploading, updating (generally managing) datasets via an API vs the GUI. This would help us prioritize new API features in the future.

[2015-02-09 20:38] posixeleni commented on #1385
After chatting with @eaquigley I understand better now.

So Users in the GUI as well as the API are NOT expected to enter Terms of Use if they do not select CC0. However, we should allow them the ability (optional) to enter Terms of Use via the API should they want to, right? Some may want to enter a different license that we dont have listed ATM (i.e. CC-BY or some custom license).

Not sure if y

[2015-02-09 20:39] eaquigley commented on #1433
during the meeting on 2/6, we agreed that this was fine. passing to QA to close.

[2015-02-09 20:52] rliebz opened #1443 "Root Dataverse (Harvard) appears in sword service document on dataverse-demo"
On a new Dataverse user:
`curl -u $USERNAME:$PASSWORD https://dataverse-demo.iq.harvard.edu/dvn/api/data-deposit/v1.1/swordv2/service-document` includes the root Dataverse, while the same request using the host `apitest.dataverse.org` does not include the root Dataverse.

[code]

I do not expect that the root Dataverse should appear in either request.

[2015-02-09 21:04] michbarsinai commented on #1104
I'd steer clear of IP addresses and users - these have privacy implications, and I'm not sure we want to go there unless we have some good reason to.
Other than that - great idea. We can also expand a bit, and have the engine store statistics about the commands it executes.

[2015-02-09 21:05] eaquigley commented on #1434
@kcondon I just tried this and was able to do featured dataverses in a dataverse i created beneath the root. the dataverses have to published and i've found that it is VERY easy to skip over the checkmark at the top of the featured dataverses pop up that a user has to check in order to have featured dataverses show. I'd really like it if we could add in logic so if a user moves a dv into the list

[2015-02-09 21:14] eaquigley commented on #1385
@posixeleni API users should definitely have the option to add in Terms of Use. @pdurbin should this ticket be going to you? or is this something for @sekmiller to do? i am confused.

[2015-02-09 21:21] eaquigley commented on #1387
I am closing this ticket and starting a new one about this so these comments aren't deleted.

[2015-02-09 21:21] #1387 closed

[2015-02-09 21:22] eaquigley opened #1444 "Log In & Shibboleth: Onboarding Process"
Due to passwords needing to be changed and Shibboleth account conversions, we need a robust, interactive, and helpful onboarding process to let users know how their accounts need to be updated.

Things to take into consideration:
1) In 3.6, a user could have multiple accounts using the same email address. This cannot happen in 4.0
2) In 3.6, a user account password did not have restrictions, in 4.

[2015-02-09 21:48] pdurbin commented on #1430
@posixeleni I was actually happier when we autopopulated the subject with "Other" in #921. With the "N/A" thing we end up allowing the creation of what seems like not a fully legitimate dataset.

Let's say I create a dataset with SWORD and later I go in to the GUI to change the title. I change the title and click "Save Changes" at the top of the page and I get a validation error (which I can't eve

[2015-02-09 21:55] pdurbin commented on #1385
@eaquigley I would say if @sekmiller would adjust the DatasetPage to use the centrally defined static variable "defaultLicense" I added in https://github.com/IQSS/dataverse/blob/6babd4a45586f408e72bbf54db3083372553958c/src/main/java/edu/harvard/iq/dataverse/DatasetVersion.java#L80 it would be a step in the right direction.

Last time I checked the Native API allows you to create a dataset without

[2015-02-09 22:02] posixeleni commented on #1430
From @pdurbin

The plan from what I know is that if dcterms:subject matches any of the controlled vocab terms we have for subject then we map those terms to subject. ELSE we map "random" non-controlled vocabulary terms to keyword.

As far as what happens if there are no matching controlled vocabulary terms for subject, it depends what workflow we are talking about:
1) For **OJS SWORD** (for backwa

[2015-02-09 22:41] mheppler commented on #1389
Cleaned up the UI for the Edit Categories workflow on files from the Upload + Edit Files view of the dataset page.

[2015-02-09 23:14] mheppler commented on #1389
Cleaned up the UI for the Advanced Options popup on the Upload + Edit Files view of the dataset page.

[2015-02-10 00:13] pdurbin commented on #1443
In #1070 I noted that the Service Document checks the AddDataset but probably other SWORD operations are using a stricter check (the permission names have changed but currently it's EditDataverse). So there's a mismatch here and I was hoping to move more full to the new permission system in that ticket. Once we resolve this (which will be some work) I don't see any reason why we can't allow deposi

[2015-02-10 03:42] pdurbin opened #1445 "Users are unable to change their username"
To help users distinguish between two people with the same name we should show the username next to the "display name". Examples from GitHub and Trello of a search for "John Smith" are below.

Ideally, users should be able to change their username at any point, as long as the username isn't taken.

Local/Builtin users should be allowed to pick their own username at sign up (perhaps auto-suggested

[2015-02-10 16:05] posixeleni commented on #66
Also need to add more documentation on Dataset File features: Download files/citations, Explore files, etc.

[2015-02-10 16:37] eaquigley commented on #1445
@pdurbin Looking over this, I'm inclined for us to go with a hybrid of what I'm seeing in these two examples. Since we collect Affiliation information for a user, we should display: username, first name last name, and affiliation. If there are multiple users with the same name, I'm not positive only having the username would help someone distinguish who two different people are thus the inclusion

[2015-02-10 16:59] pdurbin commented on #1445
As of this writing we only collect affiliation (and position) for **builtin** users and store these values in the **builtinuser** table. This is a bug. At https://github.com/IQSS/dataverse/issues/923#issuecomment-73573356 I'm arguing that if we'd like to collect these values they should be stored in the **authenticatedusers** table. All users can make use of what's stored in the authenticatedusers

[2015-02-10 17:25] eaquigley commented on #1445
@pdurbin Is there a ticket to fix the authenticatedusers table?

[2015-02-10 17:28] posixeleni commented on #833
Re-opening this issue since I need to now work with @scolapasta and @ekraffmiller to figure out how we will migrate datasets that have custom fields. I have the custom fields setup in 4.0 as separate custom metadata blocks but how we migrate them from 3.6 to 4.0 has not been planned out yet. This will be crucial for the migration of these datasets within the following Dataverses:

1) GSD - see #11

[2015-02-10 17:38] pdurbin commented on #1445
@eaquigley not that I know of but #945 and #457 and #965 are related.

[2015-02-10 18:07] pdurbin commented on #769
Right. Thanks for opening #1431

[2015-02-10 18:39] mheppler commented on #1389
Additional clean up for the UI for the Advanced Options popup on the Upload + Edit Files view of the dataset page.

That should be everything.

[2015-02-10 19:55] ekraffmiller opened #1446 "Destroy dataset fails if dataset is linked to a Dataverse"
Need to update the Destroy Dataset command so that it removes any existing links before deleting the dataset

[2015-02-11 02:15] mheppler commented on #1356
Added dynamic dataverseSiteUrl to the Identifier field form input help text of the Dataverse General Information create/edit workflows.

A separate ticket #1429 was created for cleaning up the UI of that entire form.

[2015-02-11 16:28] scolapasta commented on #1214
So, since we are doing apache, we're all set with this, yes? @kcondon can you please verify?

[2015-02-11 16:40] scolapasta commented on #1430
Most of this sounds right. However, while I agree that backwards compatibility is generally important, I think with 4.0, we should be able to say, you need to make some modifications. Let's discuss this in person at the beginning of the beta 14 time frame.

[2015-02-11 16:45] scolapasta commented on #1422
Optimistically setting this to beta 15, but if it has to wait until 4.01, we may need to defer it.

[2015-02-11 16:47] scolapasta commented on #264
Optimistically setting this to beta 15, but if it has to wait until 4.01, we may need to defer it.

[2015-02-11 17:12] scolapasta commented on #815
E-mail validation needs to be consistent, so using this as the issue for all previously entered, related issues:
- dataverse e-mail, #364
dataset e-mail (this)
forgot password e-mail #864

[2015-02-11 17:14] scolapasta commented on #864
Sending to QA, as I've #815 is being used to track e-mail validation and consistency.

[2015-02-11 17:20] eaquigley opened #1447 "Update Text & Messages Across Applications"
General Information Page:
- [x] Text for selecting Metadata Fields (Facets/Metadata Elements from Parent Dataverse)--uncheck to choose which metadata fields you want to use
- [x] Text for selecting Facets

Publish Messages:
- [x] Second part needs to change.

Permissions:
- [x] What type of contributor text change to "What should be the default role for someone adding datasets to this dataverse?"

[2015-02-11 17:30] mheppler commented on #1447
This is related to #1442. These message belong in the Bundle.properties file.

[2015-02-11 18:09] scolapasta commented on #1208
@raprasad can you see if this fix you apply for these works here too?

[2015-02-11 18:12] scolapasta commented on #626
We'll need to think how this works with dataverses within dataverses (that are all unpublished). Maybe we can add a simple only one dataverse up logic for 4.0, while we think about the broader issue).

[2015-02-11 18:13] scolapasta commented on #531
Let's see what, if anything can be done during beta 14, and otherwise defer.

[2015-02-11 18:28] landreev commented on #585
I didn't have time to finish writing up an update for this, for beta 12. I'll get it done for 13, and I'll push in a couple of small ingest fixes I've added since then.

[2015-02-11 18:29] landreev commented on #1287
easy.

[2015-02-11 18:32] landreev commented on #505
@eaquigley
@mheppler
@scolapasta
Hey, could somebody please reply (to the questions from the previous comment), and let me know what the deal is.

[2015-02-11 18:34] landreev commented on #1344
@scolapasta
This is likely a UI issue, also related to the recent addition of the delete/restrict buttons and the corresponding logic; I may ask you to take a quick look, and see if you can easily diagnose this...
Otherwise - beta 14.

[2015-02-11 18:37] landreev commented on #1017
Just to reiterate, this is not about R specifically; this appears to be the result of sending atmosphere pings through the apache proxy. Now that the apache proxy is back, I need to reinvestigate this, see if the problem still there and invest into configuring websocket proxy. beta 14.

[2015-02-11 19:07] eaquigley commented on #505
@mheppler could you please respond to @landreev about this since you have been coordinating icons.

[2015-02-11 19:11] eaquigley commented on #1444
Shibboleth Use Cases:
1. User DOES NOT have a Dataverse account, creates account through Shibboleth
2. User DOES have a Dataverse account, creates another account through Shibboleth
3. User DOES have a Dataverse account and converts it to a Shibboleth account

[2015-02-11 19:30] mheppler commented on #505
@landreev
The custom icons ticket is #1178 and I will be working on it for Beta 13. The backend render logic should be worked on hand-and-hand with this, so we're on the same page. Coordinate a meeting with me when you are ready.

[2015-02-11 19:53] scolapasta commented on #971
@tercer could you please give as an update on where this stands?

[2015-02-11 20:13] scolapasta commented on #1443
As Phil noted, the issue is really what is in #1070 which is that the Service Document is returning what should be correct (does the user have the Add Dataset permission), but the Sword Create Dataset command is not using that permission to check.

[2015-02-11 20:40] tercer commented on #971
Expect it to take a further week of work.  Don't currently have it as a priority on list of tasks for current projects.  Can give some placeholding code that gives very crude image as a function of data if useful for integration.
James

--
James Honaker, Senior Research Scientist
//// Institute for Quantitative Social Science, Harvard University
________________________________
From: Gustavo Duran

[2015-02-11 20:46] scolapasta commented on #1408
@michbarsinai does this relate at all to any of the work you added with IP groups?

[2015-02-11 23:13] scolapasta commented on #1311
That is effectively what is happening - it is failing on an edit. But the edit is a file edit and not a metadata edit. We could consider using the N/A values somehow. But we don't really want to modify the older versions, so maybe when the draft gets created, it creates these N/A values.

Like I said, tricky. Will discuss with @posixeleni next week and figure out something for beta 14 or 15.

[2015-02-11 23:17] scolapasta commented on #1187
Yes, as stated above the add/edit role validation / messaging is defered to post 4.0 and tracked in issue #1135.

So passing to QA, to test the rest.

[2015-02-11 23:27] scolapasta commented on #907
This has been discussed as something we might defer to 4.0.x. I'll review next week and follow up.

[2015-02-12 00:02] pdurbin commented on #845
The uniqueness constraint for "email" definitely needs to be added to the authenticateduser table. I'm hoping the email field can be removed completely from the builtinuser table (so it would be a non-issue): https://docs.google.com/document/d/1zP80gaCx8a1UGD7GNxxjlKbYLBdbaxpQs1mapcrqON4/edit?usp=sharing

[2015-02-12 16:10] mheppler commented on #1444
Mockups for Shibboleth workflows.

https://iqssharvard.mybalsamiq.com/projects/loginwithshibboleth-version3-dataverse40/grid

[2015-02-12 16:12] posixeleni commented on #972
Checking with Berkman if we can apply our standard Account Terms of Use or if we need API Terms of Use.

[2015-02-12 19:23] pdurbin commented on #1444
@scolapasta and I noticed that Harvard Shibboleth will send "One or more of the following values: faculty, staff, student, affiliate, and member" per http://iam.harvard.edu/resources/saml-shibboleth-attributes and in [a meeting](https://docs.google.com/document/d/1zP80gaCx8a1UGD7GNxxjlKbYLBdbaxpQs1mapcrqON4/edit?usp=sharing) we decided we'd like to persist these to the "authenticatedusers" table i

[2015-02-12 19:46] eaquigley commented on #1444
@pdurbin, what do we do with Position? Is it used anywhere in the metadata of dataverses, datasets, or files?

[2015-02-12 19:49] pdurbin commented on #1444
I have no idea what "position" is used for. As of this writing it's only stored for "builtin" users.

[2015-02-12 20:16] kcondon opened #1448 "Export: Export study metadata upon release/ publication."
This was requested by a partner (U. Heidelberg):

we are highly interested in an automated export functionality (and
therefore availability via OAI) when a study is released.

[2015-02-12 20:54] landreev commented on #1178
@mheppler ,
do you have a list somewhere, of what mime types correspond to which of the "Specific File Type" classes? I do remember we started working on that list.

[2015-02-12 21:11] landreev commented on #505
@scolapasta
Spoke to Mike; I can work on this even before all the icons are ready; and get my part done for beta13.
This is not a rocket science ticket. But it is a bit tedious. I have a lot to get done for b13 by now; will try to get done as much as possible.

[2015-02-12 22:37] mcrosas commented on #971
Moved to Beta 15.

[2015-02-13 13:25] bencomp opened #1449 "When only empty facets are selected in non-empty dataverse, "This Dataverse currently has no Dataverses, Datasets, or Files.""
When I navigate to a dataverse without child dataverses and uncheck the boxes in front of Datasets and Files, I see a message suggesting that there is no content *at all* in that dataverse. I expect a message that the existing content is hidden, not non-existent.

For example, the [Shib dataverse](https://dataverse-demo.iq.harvard.edu/dataverse/shib?id=44&q=&types=dataverses&sort=release_or_create

[2015-02-13 15:51] sekmiller commented on #1435
Added a distinctive message when no data verses remain.

[2015-02-13 15:52] sekmiller commented on #1435
Don't know what to do about non-refreshing success message.  I think there is another ticket for success messages overstaying their welcome....

[2015-02-13 15:53] sekmiller commented on #1437
Fixed and checked in. Now the only dataverse you are not allowed to link to is the one that already owns it.

[2015-02-13 16:00] mheppler commented on #1435
@sekmiller -- re: overstaying/non-refreshing success message

I think I can find some possible javascript solutions for this, so if you have a ticket for it, shoot it my way, and I can investigate. I can't promise that it won't involve some backend assistance, but, at the least, I should be able to help identify a way to go about a solution.

[2015-02-13 16:16] sekmiller commented on #1242
You should be able to see the DRAFT link even if you only have view unpublished perms

[2015-02-13 16:31] eaquigley commented on #1449
Great catch @bencomp. @scolapasta who should I send this to for fixing? The message needs to say, "This dataverse currently has no dataverses in it. You can add to it a dataverse by using the Add Data button on this page."

[2015-02-13 17:37] posixeleni commented on #90
@eaquigley We absolutely need to be able to link datasets to Dataverses dynamically since just the PSI Dataverses alone have 5,458 dynamic collections and making these static would not be sustainable for them or for us to manage going forward

[2015-02-13 18:50] eaquigley opened #1450 "Switching from builtinuser table to authenticatedusertable for certain pages"
Currently the builtinuser table is being used to populate information on:
1. Account Information page
2. Create Dataverse/General Information Dataverse page
3. Create/Edit Dataset Metadata

however, since we have moved some components of the builtinuser table to the authenticateduser table, we need to change it so these pages are calling from the authenticateduser table.

[2015-02-13 19:56] mheppler opened #1451 "Search/Browse Results Cards - Improve Visual Separation"
Due to the lack of visual differences with the three types of results cards -- dataverses, datasets, files.

Suggestions were:

- Adding icons
- Adding color

[2015-02-13 19:56] mheppler commented on #1451
Related to #1178.

[2015-02-13 19:57] mheppler commented on #1451
Added result type icons to cards, as well as new border colors to visually separate result types. 81e1168d093723a1fb7925af77c6f1343f002d69

[2015-02-13 20:17] landreev commented on #1178
Mike,
I checked in some code that identifies a) whether a preview (thumbnail) is available and b) the file type class, and displays these *as text* in the search cards. (see attached). Have fun with it.

The following classes are identified:

audio
code
document
astro
image
network
geodata
tabular
video
other

Note that I replaced "fits" with "astro" and "shape" with "geodata" - because we'll like

[2015-02-13 20:22] eaquigley opened #1452 "Dataverse Subject: Remove from General Information Page, Have it be populated by dataset subjects"
Per conversations with @mcrosas it makes more sense to have the subject of a dataverse be populated based off the subjects of the datasets contained within it. So we need to change the way it currently is in the application, including removing it as a selection from the General Information page for a dataverse.

[2015-02-13 20:25] eaquigley opened #1453 "Metadata Blocks: Custom Blocks Need to Be Hidden"
We need to have a way for custom metadata blocks to only appear for the dataverses they are for. For example, the GSD block should only appear in the GSD dataverse general information page and its children. At the root (for Harvard) we should only see Citation, Social Sciences & Humanities, Astronomy & Astrophysics, Life Sciences, and Journal Metadata.

This is critical for migration and preexisti

[2015-02-13 22:03] rtreacy commented on #1034
Switching to jBCrypt should be pretty straightforward. The only caveat is that there is a newly released version 0.4 that is not yet in maven repository

[2015-02-13 22:46] landreev commented on #1424
This was actually fixed before beta 12 and tested. It likely didn't have any milestone set; and I forgot to put it into QA.

[2015-02-13 23:01] landreev commented on #1400
@eaquigley
@posixeleni
I honestly don't feel like it would be super useful...

For tabular data files, having a file-level citation is somewhat justified - because we generate UNFs for them; and the UNF is a fairly important thing, being the unique signature of the data, etc.
For a non-tabular file, the citation will just be the citation of the dataset with the file name added... which is kind of

[2015-02-13 23:06] mcrosas commented on #1400
Let's not do this for 4.0. We would want to review it with Gary and Micah to see if it should follow something similar to their proposed format for tabular datasets. As long as we are have citation for tabular files for 4.0, we are set.

[2015-02-13 23:09] landreev commented on #505
I passed the render and identification methods to Mike.
Basically this ticket is for the backend mechanisms needed for Mike to wire the icons in the UI. Which he's handling in #1178.
I'll pass this ticket to QA once Mike's ticket is done.

[2015-02-14 00:16] landreev commented on #1388
Should be working as specified.

[2015-02-17 15:15] eaquigley commented on #661
At the very least, this needs to pop up to the top of the page and not stay next to the save and cancel buttons when there is an error

[2015-02-17 16:51] posixeleni commented on #121
migration has not started as of today so will need to move this to Beta 14

[2015-02-17 18:42] eaquigley commented on #1348
sending to @scolapasta to determine who can change the link in the notification so it goes straight to the File Permission page for the dataset rather than the dataset page.

[2015-02-17 18:44] eaquigley commented on #746
Passing this to QA to close as it basically is a duplicate of #1348

[2015-02-17 19:43] posixeleni opened #1454 "Migrating Collections for PSI Dataverses"
Related to #121

Since PSI is a power Dataverse user, @mcrosas and I discussed that their collections would best be applied as facets in 4.0. I will need to create a custom metadata block for these facets and will need assistance from @scolapasta to decide how we would map the pre-existing collections to these facets.

Working on this block here: https://docs.google.com/spreadsheet/ccc?key=0AjeLxE

[2015-02-17 20:05] kcondon opened #1455 "Install: Set jvm -server option"
We need to make sure install sets the jvm -server option. -client is default and does not perform well.

[2015-02-17 20:20] landreev commented on #1287
All temp files should now be getting nuked, I believe.
If you come across something that's still being left behind - let me know.

[2015-02-17 21:24] scolapasta opened #1456 "Clean up user code (review specific methods for shib and built in user on AuthenticatedUser)"

[2015-02-17 21:41] mheppler commented on #1178
Made all the custom icons, as outlined above. Notes have been added for those that were not created. This might not be the easiest to test, due to not being able to display all of them currently.

To see the individual icons, I've included a preview:

![fontcustom-icons](https://cloud.githubusercontent.com/assets/687227/6237747/5b2d5ecc-b6c3-11e4-89fc-1dee91a1acd7.png)

[2015-02-17 21:45] scolapasta commented on #1450
#965 #945

[2015-02-17 21:57] landreev commented on #505
OK, Mike has moved #1178 into QA.
One more time, this ticket is the backend mechanics for the ticket above.
So the two should be QAed together.

[2015-02-17 22:32] mheppler commented on #1178
Applied some render logic to get the "Restricted with Access" icons to display on the dataset page.

[2015-02-17 22:47] mheppler opened #1457 "Dataverse Search/Browse Card - File Permissions: Restricted File Icons"
Restricted files need to have the "restricted" and "restricted with access" icons added to the file search/browse cards on the dataverse page.

[2015-02-17 22:55] kcondon commented on #1214
Closing

[2015-02-17 22:55] #1214 closed

[2015-02-17 22:57] kcondon commented on #513
Closing

[2015-02-17 22:57] #513 closed

[2015-02-17 23:01] sekmiller opened #1458 "Clean-up DatasetVersion-User table"
Table should link to authorized user and dataset version.  look into why there are two id fields for ds version

[2015-02-17 23:04] mheppler opened #1459 "Dataverse Search/Browse Card - Linked Dataverse/Dataset/File: Linked Icon"
For any linked dataverse, dataset, file, that is displayed on the dataverse page, through the search-include, there needs to be a "linked" icon added to the search/browse card.

[2015-02-17 23:05] mheppler commented on #1178
Creating new tickets for outstanding icon development issues:

-  Dataverse Search/Browse Card - File Permissions: Restricted File Icons #1457
-  Dataverse Search/Browse Card - Linked Dataverse/Dataset/File: Linked Icon #1459

[2015-02-17 23:22] scolapasta commented on #1428
Added urlencoding the query part of the URL

[2015-02-17 23:27] scolapasta commented on #1348
This can be actually be done by @eaquigley if you're up to it, or by @mheppler . The text for the links is in the bundles and the parameters it sends currently globalId and displayName are on the xhtml calling the bundle (dataverseuser.xhtml). The permissions page, I think, uses id, instead of globalId.

[2015-02-17 23:29] scolapasta commented on #1348
FYI, there are a couple of checkboxes not yet finished at the top. Should we move those to separate issues (the first, I think is mpstly for @mheppler ) and the second requires a design for how best to work (since you may have access to some files already, or already requested access). Possibly could be left for post 4.0, but I think people will want to request for multiple files, so I doubt it.

[2015-02-17 23:30] kcondon commented on #1000
Works, closing

[2015-02-17 23:30] #1000 closed

[2015-02-17 23:31] scolapasta commented on #1450
I think this is all set for #2 and #3. #1 is a bit messy, so I suggest deferring display of account info for none built in (since they also cannot edit) to 4.0.x.

[2015-02-17 23:31] ekraffmiller commented on #773
Updated dataset-updated-version2.json so it's no longer breaking (the correct datetime format is, for example: 2015-02-17T23:07:59Z).    I removed the createTime value because it isn't needed for the update command, and is ignored.

[2015-02-17 23:43] mheppler opened #1460 "Notifications/Dataverse Account - Various Clean Up"
- [x] File permissions notifications should link to File Permissions page, and not the dataset page. (From #1348)
- [x] Dataverse links do not using Pretty Faces URLs.
- [x] Custom icons need to be added for dataverses, datasets, files.

[2015-02-17 23:43] mheppler commented on #1348
There is a lot of clean up required for Notifications on the Dataverse Account page, so I am creating a new ticket.

- Notifications/Dataverse Account - Various Clean Up #1460

I am giving this ticket back to Gustavo, to decide what to do with it.

[2015-02-17 23:48] mheppler commented on #207
Added CSS styling to limit the height (40px) and width (180px) of logo images in the metadata fields, similarly to how it was done in 3.6.

[2015-02-18 00:16] scolapasta commented on #506
As long as you haven't linked to the dataset this should now be working. Issue #1446 tracks the case of not being able to destroy a dataset that has been linked.

[2015-02-18 00:19] scolapasta commented on #1348
OK, so the notification part is now tracked elsewhere. What is left with this ticket is the two checkboxes from above that are unchecked:

Lock icon displayed with thumbnail for restricted files. (Need to also figure out how this will display when restrictions are changed between versions.)

and

"Request Access to Selected Files" button, associated with checkboxes on dataset page.

From my previo

[2015-02-18 00:22] scolapasta commented on #1453
This is not possible with the current design - metadatablocks were not designed to be specific to dataverses, but as global, standard blocks that are usable by anyone.

We'll need to discuss what would need to change to handle something like this, how long it will take, and what consequences it may have (moving datasets, etc.)

[2015-02-18 01:39] mcrosas commented on #1453
@scolapast I thought of some ideas for doing this for now. We have to find
some solution for 4.0, which doesn't involve a big change.

Mercè Crosas, Ph.D.
Director of Data Science, IQSS
Harvard University
http://datascience.iq.harvard.edu

On Tue, Feb 17, 2015 at 7:22 PM, Gustavo Durand <notifications@github.com>
wrote:

[2015-02-18 12:06] bencomp opened #1461 "Dataverse alias can be a number (which breaks API access)"
I created a dataverse on https://apitest.dataverse.org and assigned it the alias (identifier) `5`. The web view shows me my dataverse, but I assume that because the API interprets `X` in `https://[SERVER]/api/dvs/X` as either a database ID *or* an alias, it breaks.

    curl https://apitest.dataverse.org/api/dvs/5?key=<key>
    {"status":"ERROR","message":"Get Dataverse unauthorized."}

By changin

[2015-02-18 12:08] bencomp commented on #1303
If dataverse creators are required to choose an alias/identifier, it must not be allowed to consist of digits only, or it will break the API access: #1461.

[2015-02-18 12:16] bencomp commented on #1461
I see there is a general issue about validating dataverse attributes: #364. Maybe this issue should be merged (then I apologise for opening an extra issue).

[2015-02-18 15:24] ekraffmiller commented on #1392
I tested the Datasets API publish method, and this is handling the version number as expected.  When I call api\datasets\{id}\actions\:publish?type=major&key={key},  on a dataset with a draft version, the result is a published dataset with version 1.0.

In this ticket, the script "publish-dataset-spruce1" is calling the sword data deposit API, so it looks like the issue is how the publish command

[2015-02-18 17:08] sekmiller commented on #1411
Finished as much as possible for Beta 13.  Please verify checked items and continue others in a new ticket for Beta 14 and beyond.  Final check-in just after noon 2/18.  Please make a build before testing.

[2015-02-18 17:35] eaquigley commented on #1450
Passing to QA to confirm 2 & 3. Please send back to me after that so I can decide what to do with 1. thanks! @kcondon

[2015-02-18 18:05] mheppler opened #1462 "Restricted Image Files - Default File Icon"
For restricted image files (or any file that uses a thumbnail image preview), there shouldn't be a image displayed, but instead the default custom image icon.

On the dataset page, currently nothing is displayed, if you don't have access to a restricted file that uses a thumbnail preview. On the dataverse serach/browse card, the thumbnail preview is displayed.

![screen shot 2015-02-18 at 1 03 43

[2015-02-18 18:09] mheppler opened #1463 "File Thumbnail Image Preview - Remove Default Icon Image File"
Now that we have new vector custom icons, we need to remove the old image icon from the backing bean. It is currently being used when a thumbnail image preview can't be generated.

[2015-02-18 18:48] mheppler opened #1464 "Dataset Search/Browse Card - Remove Default Icon"
Now that we have new vector custom icons, we need to remove the old image icon from the backing bean. It is currently being used when a dataset doesn't contain files that have a thumbnail image preview.

[2015-02-18 18:49] mheppler opened #1465 "Dataverse Search/Browse Card - Remove Default Icon"
Now that we have new vector custom icons, we need to remove the old image icon from the backing bean. It is currently being used when a dataverse doesn't have a logo or contains files that have a thumbnail image preview.

[2015-02-18 18:51] ekraffmiller commented on #1193
Since we already have a test feature with the DOI "test" authority, and we have logic that prevents registration in during harvest, need to check with Merce if its ok to close this ticket

[2015-02-18 18:52] eaquigley opened #1466 "File Upload: Restrict & Delete Buttons Appear before any files uploaded"
Currently, the restrict & delete buttons are appearing prior to any files being uploaded. This is odd. There is nothing you can do with these buttons so they shouldn't be appearing prior to a file being uploaded.

[2015-02-18 18:58] eaquigley opened #1467 "Dataverse Permissions Page: Selected Role needs permissions listed"
On the Dataverse permissions page, we see this:
![access1](https://cloud.githubusercontent.com/assets/5922904/6254368/02f2f646-b776-11e4-95fb-9b9adf4c8206.jpg)

but where it says the role (Editor in this example) we also need to have the permissions for it as listed on the Edit Access pop up...
![access2](https://cloud.githubusercontent.com/assets/5922904/6254383/1a97cace-b776-11e4-8825-e2d581fab4

[2015-02-18 19:02] kcondon opened #1468 "Login: Username no longer appearing in upper right."
Login: Username no longer appearing in upper right.

[2015-02-18 19:14] kcondon opened #1469 "File upload: Page is broken after file ingest completes, can't publish or download tabular files."
I created a dataset, saved. Uploaded akiotestfiles.zip, waited for it to complete ingest and then clicked publish, nothing happened. Left page, came back and it works.

[2015-02-18 19:21] scolapasta commented on #1392
@pdurbin, @ekraffmiller and I made a change for this that we think makes sense, but as it's Sword specific code, could you please review, and if OK, pass on to QA.

[2015-02-18 19:23] scolapasta commented on #1446
Destoy will now remove links.

[2015-02-18 19:40] eaquigley opened #1470 "Dataset Version: Switch Default to be Minor"
When publishing a new dataset version, in the pop up, major version is selected as the default. If you could make it so minor is the default as well as switch the order so minor is next to the first radio button and major is next to the second radio button.

[2015-02-18 19:44] eaquigley opened #1471 "Dynamically Populate "Parent" Dataverse"
On the following pages, please change it so instead of the text always saying "parent dataverse" it would be populated with the name of the parent (or grandparent if necessary) dataverse, i.e.-Harvard Dataverse:

- [x] General Information -- Metadata Fields, Facets Selection
- [x] Theme tab for Theme + Widgets
- [x] Manage Guestbook page
- [x] Manage Templates page

[2015-02-18 19:47] eaquigley opened #1472 "Publish Dataset Pop Up Upon Saving Changes"
Need to throw a pop up in that allows a user to publish the new version of the dataset once they have hit the save changes button for metadata or files so they don't forget to publish it.

[2015-02-18 19:53] eaquigley opened #1473 "Dataverse General Information: Uncheck "Metadata Elements from Parent" When another block is checked"
Currently when a user has "Metadata Elements from Parent Dataverse" selected, you cannot click on any of the checkboxes till Metadata Elements is unselected. @sekmiller could you please look into having a way for this to be overwritten when a user selects a metadata block? Thanks.

[2015-02-18 20:01] raprasad opened #1474 "If "Map Data" button pops a new window, how should parent window be refreshed"
@scolapasta - let me know when you have time to consult -- and then will switch assignee to me. thx

#### Problem
1. From dataset page, User clicks "Map Data" which opens a *new window* to geoconnect
1. User creates a Map.  In the background metadata is sent back to Dataverse and saved
1. User closes geoconnect window and sees same dataverse dataset page as before
   - No 'Explore' button appears

[2015-02-18 21:01] mheppler commented on #1468
On dvn-build and locally, it seems that old accounts (before today) display the username in the navbar when logged in, and new accounts (created today) display nothing.

Passing to Gustavo, based on his recent db account changes.

[2015-02-18 21:01] kcondon commented on #1433
Closing

[2015-02-18 21:01] #1433 closed

[2015-02-18 21:03] kcondon commented on #864
Closing

[2015-02-18 21:03] #864 closed

[2015-02-18 21:14] kcondon commented on #1431
Works, closing

[2015-02-18 21:14] #1431 closed

[2015-02-18 21:16] sekmiller opened #1475 "On Dataset Version Improve Checking for IsMinorUpdate"
If the number of files has remained the same verify that these are in fact the same files by comparing FileMetdatas of the files on the two versions

[2015-02-18 21:26] kcondon commented on #1434
Apparent user error, works, closing

[2015-02-18 21:26] #1434 closed

[2015-02-18 21:27] kcondon commented on #102
Closing broken down ticket

[2015-02-18 21:27] #102 closed

[2015-02-18 21:41] kcondon commented on #910
This works as described, closing

[2015-02-18 21:41] #910 closed

[2015-02-18 22:01] kcondon commented on #1389
OK, still works, closing.

[2015-02-18 22:01] #1389 closed

[2015-02-18 22:14] kcondon commented on #1451
OK, colors, icons in place, closing.

[2015-02-18 22:14] #1451 closed

[2015-02-18 22:14] scolapasta commented on #1380
@michbarsinai definitely we should merge them - is that a straightforward thing to do now?

[2015-02-18 22:45] eaquigley opened #1476 "Restricted Files: Request Access to Selected Files Button"
"Request Access to Selected Files" button, associated with checkboxes on dataset page.
- [ ] Confirmation popup with user name, email, to show it is being sent.
- [ ] Email sent with user name, email, requested files names, dataset title, dataverse name, date/time to admin/dataset contact

[2015-02-18 22:47] eaquigley commented on #1348
Checkbox one is now in #1462 and checkbox 3 is in #1476 passing this ticket to QA to be closed.

[2015-02-18 23:42] kcondon opened #1477 "Guestbook: Various issues part deux"
These are remnants from part un:
- [ ] 10. The black bubble view mouseover on the available guestbook table appears through the transparent view popup.
- [x] 14. Wire up commented out edit help info text.

From #1397:
- [x] Display error message in the popup and not on the dataset page.
- [x] Need inline "required field" error msg on validation for the input fields in that popup form.
- [x] Positi

[2015-02-18 23:43] kcondon commented on #1411
Tested fixed items, updated status and opened a new ticket, part deux (#1477) for remainder.
Closing

[2015-02-18 23:43] #1411 closed

[2015-02-18 23:44] kcondon commented on #505
OK, icons appearing, closing

[2015-02-18 23:44] #505 closed

[2015-02-18 23:51] scolapasta commented on #1468
Fixed.

[2015-02-18 23:52] kcondon commented on #990
OK, seems to work, closing

[2015-02-18 23:52] #990 closed

[2015-02-18 23:54] kcondon commented on #1468
Works, closing

[2015-02-18 23:54] #1468 closed

[2015-02-18 23:56] kcondon commented on #1424
Works, closing

[2015-02-18 23:56] #1424 closed

[2015-02-18 23:58] kcondon commented on #1437
Works, closing

[2015-02-18 23:58] #1437 closed

[2015-02-19 00:06] kcondon commented on #1435
Works, closing

[2015-02-19 00:06] #1435 closed

[2015-02-19 00:09] kcondon commented on #1409
Works Closing

[2015-02-19 00:09] #1409 closed

[2015-02-19 00:19] kcondon commented on #792
OK, works, closing. Saw one issue in UI for FF and will open a new ticket.

[2015-02-19 00:19] #792 closed

[2015-02-19 00:21] kcondon opened #1478 "File Permissions: Grant File Access popup has skewed display in FF"
When granting file access, there is a view popup to see which file(s) are requested. In my FF, 35.0.1, the files table is pushed off screen to the right with the top text and buttons to the left. Works ok in Chrome.

[2015-02-19 00:23] kcondon commented on #746
Closing

[2015-02-19 00:23] #746 closed

[2015-02-19 00:37] kcondon commented on #1388
Works, closing

[2015-02-19 00:37] #1388 closed

[2015-02-19 00:39] kcondon commented on #1356
Works, closing

[2015-02-19 00:39] #1356 closed

[2015-02-19 00:42] kcondon commented on #1348
Closing

[2015-02-19 00:42] #1348 closed

[2015-02-19 00:49] kcondon commented on #1345
Works, closing

[2015-02-19 00:49] #1345 closed

[2015-02-19 00:52] kcondon commented on #1242
Works, closing

[2015-02-19 00:52] #1242 closed

[2015-02-19 14:49] raprasad commented on #1474
Use javascript postMessage.  Part of IQSS/geoconnect#91

[2015-02-19 15:03] raprasad opened #1479 "Mapping: Map Icon doesn't appear on dataset.xhtml after initial mapping"
Sequence:
- User clicks "Map Data" and makes a map via Geoconnect
- Geoconnect updates Dataverse map metadata via API
    - Data added to database (**this works**)
    - Dataverse attempts to retrieve icon image via WorldMap url
       - **attempt to retrieve icon (png image) fails**
- If user runs a classification, dataverse tries to retrieve the image a 2nd time
      - **2nd attempt to retrieve

[2015-02-19 16:50] scolapasta commented on #1469
@landreev can you see what is happening here?

[2015-02-19 16:50] kcondon commented on #1178
Custom icons as mentioned above are present: dv, ds, file, access. Other icon issues will be verified in other tickets. Closing.

[2015-02-19 16:50] #1178 closed

[2015-02-19 16:51] scolapasta commented on #1478
@mheppler are you still doing general cleanup for this page?

[2015-02-19 16:51] scolapasta commented on #1461
No problem - personally I prefer target issues like this, because it's easier to review, estimate time, and pass through QA.

[2015-02-19 16:57] scolapasta commented on #1449
I think this is probably one for @pdurbin. Though can this be 4.0.x?

[2015-02-19 17:04] kcondon opened #1480 "Permissions: Assign role popup opens with validation error and doesn't allow saving."
Permissions: Assign role popup opens with validation error and doesn't allow saving.

Try assigning the admin role to a user, you can't save due to the above, unknown validation error.

This also happens with create a group popup. @scolapasta

Note: This does not happen if you log in as root admin but happens with other users, admin of dv.
Note2: As super admin cannot save a role, validation error

[2015-02-19 17:29] kcondon commented on #1187
Tested the available and working messages. Because Role validation is not in place, basic incomplete messages are not appearing.

[2015-02-19 17:45] mheppler commented on #1478
I thought I had gone through the general clean up of file permissions. If
this is still an issue, assign it to me and I can take a look.

On Thursday, February 19, 2015, Gustavo Durand <notifications@github.com>
wrote:

[2015-02-19 18:45] kcondon commented on #796
Tested, basic workflow ok, 2 scenarios:
1. shib email exists with builtin user and needs converting
2. shib email does not exist and direct log in after accepting tou.

Saw a few issues on page:
1. TestShib doesn't pass email so throws a null email error at top of login page.
2. Open tou in larger window link does nothing.
3. Clicking I have read and accept and then clicking button but without pro

[2015-02-19 18:47] kcondon commented on #1401
@pdurbin I think you meant to pass me #796. I tested that one and then passed along to Mike. Giving you back this one.

[2015-02-19 18:50] kcondon commented on #945
Works, closing.

[2015-02-19 18:50] #945 closed

[2015-02-19 18:50] raprasad commented on #1474
See https://developer.mozilla.org/en-US/docs/Web/API/Window.postMessage

[2015-02-19 18:52] kcondon commented on #965
Works, closing

[2015-02-19 18:52] #965 closed

[2015-02-19 19:07] kcondon commented on #1450
OK, 2,3 look good both with builtin and shib user. Passing back to Liz as requested.

[2015-02-19 19:34] kcondon commented on #207
Works, closing

[2015-02-19 19:34] #207 closed

[2015-02-19 19:38] posixeleni commented on #1454
@scolapasta @landreev @ekraffmiller @kcondon During our migration meeting yesterday we had discussed another option for migrating collections into 4.0 which would involve:

1) taking the top-level collections and transforming them to "Topic Classification"
2) all sub collections could be set to "Keyword" if not already.

To test this out I did an in-depth analysis of the PSI Dataverse Collections

[2015-02-19 20:13] kcondon opened #1481 "Groups: UI doesn't allow spaces in name but doesn"
I tried creating a group named Test Root Admin with friendly name Root Admin. This failed validation but it did not explain why. When I removed spaces, it worked.

[2015-02-19 20:18] kcondon commented on #1480
Works, closing.

[2015-02-19 20:18] #1480 closed

[2015-02-19 20:27] kcondon commented on #1378
This works with the above caveats. Permissions are not inherited beyond dv to ds or sub dvs. So unreleased sub dv's or ds are not visible and add data buttons not available on sub dv's.

[2015-02-19 20:27] #1378 closed

[2015-02-19 20:27] scolapasta commented on #1187
I added role validation to #1135, can we close this one?

[2015-02-19 23:01] scolapasta commented on #1452
Decision for 4.0 - we will remove subject as required and also remove from the UI and API.

When editing a datset, it will populate its ancestors subject, but if you remove a subject, that will not remove (eventually yes, but is extra work, since you have to then look at all datasets).

[2015-02-19 23:33] scolapasta commented on #1386
I went ahead and modified these to singular for indexing.

But passing to @eaquigley because of the bundle / internationalization question. I don't think the values on the dataverse page should be in the bundle, as this is data (like subject) and will be stored and indexed in English. (is this an issue? what about with other controlled vocabulary)

[2015-02-20 00:04] scolapasta commented on #1466
Added a fragment around the buttons and update it on add a file and delete (and only show buttons if list is not empty).

Can you make sure to test with dropbox? I don't have that set up in my environment and it has update="@all"; I think these buttons will work fine with that, but am also concerned that that update will cause other (unrelated) issues.

[2015-02-20 01:13] landreev commented on #1441
This was given to me just a documentation task, to add something describing our Data Access API to the guides. I added a section on it to the "API Guide".

[2015-02-20 01:39] eaquigley commented on #1386
@scolapasta I agree that it shouldn't be in the bundle. I'll check and see if any other controlled vocabularies are in the bundle and need to be moved out of it.

On Feb 19, 2015, at 6:33 PM, Gustavo Durand <notifications@github.com<mailto:notifications@github.com>> wrote:

I went ahead and modified these to singular for indexing.

But passing to @eaquigley<https://github.com/eaquigley> because of

[2015-02-20 15:24] pdurbin commented on #1401
@kcondon no, a while back I purposely put this in QA per my comment back then: https://github.com/IQSS/dataverse/issues/1401#issuecomment-72563750

[2015-02-20 15:29] mheppler commented on #1401
@pdurbin, no GitHub Issues commenting on vacation.

On Fri, Feb 20, 2015 at 10:24 AM, Philip Durbin <notifications@github.com>
wrote:

[2015-02-20 16:41] posixeleni opened #1483 "Expand Domain Metadata Support for Humanities"
1. @mcrosas research humanities metadata for specific domains within the humanities (linguistics, etc)
2.  @posixeleni research more general humanities metadata (consult with UK Data)
3. @posixeleni review RDA developed: Metadata Standards Directory http://rd-alliance.github.io/metadata-directory/standards/and Metadata Use Case Repository http://rd-alliance.org/groups/metadata-ig.html (in the work

[2015-02-20 16:57] posixeleni opened #1484 "Templates: Parent template needs to be pre-selected for children"
Discussed with @mcrosas and @eaquigley that we should have the parent template pre-selected for all of their children Dataverses. This is currently not pre-selected.

[2015-02-20 17:02] eaquigley commented on #1438
Featured Dataverses:
- Harvard Smithsonian
- Data-PASS
- PSI
- Avahan
- Murray

[2015-02-20 17:04] posixeleni opened #1485 "Pre-selected Facets at Dataverse Creation"
Spoke with @mcrosas & @eaquigley that to assist users when creating a Dataverse, certain facets should be pre-selected.

Author
Subject
Keyword Term
Deposit Date
_________________

Type (Dataverse, Dataset, File)
Affiliation
Publication Status
Publication Date
Dataverse Category
File Type

appear already by default. The ones above need to be added into to the installer script for 4.0.

[2015-02-20 17:39] eaquigley commented on #1438
Link to branding guidelines: http://guidelines.hwp.harvard.edu/color-palette (Need to log in via PIN)

[2015-02-20 17:40] mheppler commented on #1452
Removed subject from the XHTML.

[2015-02-20 17:40] mheppler commented on #1429
Cleaned up the top section of the Dataverse General Information create/edit form. Removed subject from the XHTML. Cleaned up the Metadata Fields section.

Related #1473, #1452

[2015-02-20 17:41] mheppler commented on #1473
Cleaned up the Metadata Fields section. f6c0aab452630c74adc82b46cfc1bf9b24f791aa

[2015-02-20 18:00] scolapasta commented on #1452
Removed subject from JsonParser.

Added logic to Publish command (better than when editing) to populate subject for its ancestors. (note that if the dv(s) subjects changed, it also reindexes the dv(s)).

There will still be issues when you remove subjects (though technically an old version is still that subject - but we are not keeping that for the dataset), when you deaccession, and when you dest

[2015-02-20 18:17] scolapasta commented on #1454
It almost seems like that should be a different topic classification - the issue still being that we don't have support for hierarchical dataset fields like this, and/or facets.

[2015-02-20 19:11] mheppler commented on #656
Related: Dataverse - Create/Edit General Information Top Section Clean Up #1429

[2015-02-20 19:18] scolapasta commented on #1341
@mheppler you readded the breadcrumbs to this page and they are there on view, not edit. I think the issue is now that javascript you refer to. Call you relook at that?

[2015-02-20 19:47] eaquigley commented on #642
Passing to QA due to this being a duplicate ticket of #1356 regarding the URL/Identifier. QA please close this.

[2015-02-20 20:19] #812 closed

[2015-02-20 20:26] #181 closed

[2015-02-20 20:28] #410 closed

[2015-02-20 20:49] sekmiller commented on #1471
@mheppler please take a look at the theme and customization fragment

[2015-02-20 20:50] sekmiller commented on #1470
Fix is checked in. Please rebuild to test..

[2015-02-20 21:02] mheppler commented on #1460
Fixed dataverse links in Notifications tab of Account page to point to Pretty Faces/alias URL. Replaced image type icons with custom icons.

Need to check on the permission page URL format before changing those here.

[2015-02-20 21:16] mheppler opened #1486 "File Download Button -- Random Font, Icon Issues"
- [ ] Download buttons (not of the dropdown variety) are displaying with a serifed font
- [ ] On Liz's Windows machine... Dropdown download buttons have a strange button styling to the "All File Formats + Information" link (see attached)

![dropdown-button](https://cloud.githubusercontent.com/assets/687227/6309468/c1d4496a-b91b-11e4-9234-0e05bbe4a783.jpg)

[2015-02-20 21:37] mheppler commented on #1486
Fixed some markup issues with commandLinks and Bootstrap icons, that were causing strange font and icon issues with the download buttons on the dataset page. Optimized the markup by removing unnecessary ui:fragment tags and moving the renders to their components.

[2015-02-20 21:45] scolapasta commented on #1469
assigning to beta 14 so @landreev can review if it is critical or easy. If neither, then this can be deferred.

[2015-02-20 21:45] kcondon opened #1487 "Restrict Files: Works intermittently"
Sometimes restrict files works, sometimes not.

When it doesn't, the behavior varies:
Sometimes checkbox works, lock appears but save doesn't work.
Sometimes, checkbox works but no lock appears, save seems to save but does not restrict.

It is not yet clear when it doesn't work.

Note: On my machine it never works in either FF or Chrome.

[2015-02-20 22:24] scolapasta commented on #241
Going to merge this into #1249

[2015-02-20 22:25] scolapasta commented on #1249
Also for Dataverse description (formerly part of #241)

[2015-02-20 22:27] posixeleni commented on #1454
@scolapasta what if we just list ALL the keywords as they have them (dont try to combine) but make sure they are associated with the topic classifications we generate?

[2015-02-20 22:49] mheppler commented on #1460
Changed file permission notifications on the Account page to point to the file permissions page, rather than the dataset page.

[2015-02-20 22:51] scolapasta commented on #801
@kcondon could you retest this one?

[2015-02-20 22:52] mheppler opened #1488 "Bootstrap - Upgrade"
We currently use Bootstrap v3.1.1 and there is a new v3.3.2, that was released Jan 19.

[2015-02-20 22:53] scolapasta commented on #973
#rtreacy - is this fixed now that that import goes through the Json?

[2015-02-20 22:55] scolapasta commented on #756
This is a duplicate of #636

[2015-02-20 23:04] scolapasta commented on #1444
I don't think it's used for anything - but as of now it is stored, or at least storable, for all Authenticated Users.

[2015-02-20 23:11] mheppler commented on #1488
Upgraded Bootstrap to v.3.3.2 by replacing CSS, JS and font files. Changed the font file URL links in the CSS. Changed glyphicon for "Copy role" on the Permissions page to new Bootstrap glyphicon for "duplicate".

[2015-02-21 16:29] mcrosas opened #1489 "API Documentation Organization"
The API guides should be organized in the following way:

Main APIs, more frequently used by external parties:
- Deposit API (SWORD)
- Search API
- Dataset Metadata API (get metadata for a dataset in multiple formats)
- Dataset File API (or Data API, get data files for a dataset)

Dataverse Native  APIs (advanced APIs)
- All native APIs

[2015-02-21 19:16] pdurbin commented on #1392
973d06cd672b139fea8df918b3b35906618607a3 looks like a good fix to me. Before moving it to QA I'll make sure it's fixed on apitest and also fix the example JSON output in the Search API docs.

[2015-02-21 19:20] pdurbin commented on #1472
I can imagine users being annoyed by seeing a pop up every time they click save.

[2015-02-21 19:30] pdurbin commented on #1178
@mheppler These are great! :)

[2015-02-21 19:41] pdurbin commented on #796
I mentioned this to @kevinfoote of TestShib fame.

The larger issue, of course, is if we're going to run into any trouble by requiring email addresses. I'll run this by @bencomp and http://community.dataverse.org/community-groups/auth.html at some point. Probably I'll explain which attributes we're requiring; I think we're requiring four at the moment. Mental note: also explain the scenario where

[2015-02-21 19:52] pdurbin commented on #1378
Right, specifying `permissionRoot=false` in the JSON you use to create a dataverse no longer has an effect as of this commit:

for now, make all dataverses permission root (on create) · fb7e65f

In practice, this means that there is no inheritance of permissions.

[2015-02-21 19:59] pdurbin commented on #1430
"Decision for 4.0 - we will remove subject as required and also remove from the UI and API." -- @scolapasta at https://github.com/IQSS/dataverse/issues/1452#issuecomment-75157642

[2015-02-21 20:09] pdurbin commented on #1444
I spoke with @mcrosas and @eaquigley about "position" the other week and I thought there was interest in using ORCID (and other identifiers) per #923.

What I'm trying to say is that I'm not sure we should persist "position" at all until we've thought it through. As I mentioned above, it would be a little ugly and hackish to separate more than one position with semicolons in the field database.

[2015-02-21 20:31] posixeleni commented on #1430
@pdurbin I believe @scolapasta  comment in #1452 is for Subject at the Dataverse level and not the Dataset level. Subject will still be required at the Dataset level as of the discussions during our meetings this past week.

[2015-02-23 02:30] eaquigley commented on #1183
The error message is persisting on the account page.

Steps to reproduce: Edit Account Info->Remove something that is required->Click Save Changes->Get Error Message->Click Cancel Button->Error Message Remains

[2015-02-23 02:43] eaquigley commented on #1026
Passing this ticket to QA to be closed. Most of the items in the list above have been done either by myself or have been done in other tickets.

[2015-02-23 03:06] eaquigley commented on #1471
@sekmiller and @mheppler I was playing around today and noticed that the dynamic population for Theme is happening in the tool tip and not in the text that appears next to it. It should be appearing there, not in the tool tip.

[2015-02-23 15:15] eaquigley opened #1490 "Text for when there are no guestbooks or templates"
From #1447.

Link to mockups: https://iqssharvard.mybalsamiq.com/projects/guestbookandtemplatesblankpages/grid
These need to appear whenever there are no dataset templates or guestbooks.

[2015-02-23 15:41] eaquigley commented on #1198
@kcondon could you please retest this once @mheppler finishes his clean up on this page. #1429

[2015-02-23 15:51] eaquigley commented on #1481
- Change the name to be Identifier
- Change Friendly Name to be Group Name
- Text for Identifier about which characters can and cannot be used (tool tip)
- Add in inline error messages for this

[2015-02-23 15:59] eaquigley commented on #1459
@scolapasta and @sekmiller need to talk to @pdurbin about this due to linked dv/ds not being something in the index currently.

[2015-02-23 16:22] eaquigley commented on #662
For 4.0, why don't we have it displayed as [UNF] and we can evaluate how that goes after it is in.

[2015-02-23 16:28] eaquigley commented on #1291
Decision made to just delete this message so there is no longer an error message saying, "Please enter a character length..."

[2015-02-23 16:31] mheppler commented on #1198
@kcondon, @eaquigley -- dataverse.xhtml clean up is done on the Metadata Fields section.

[2015-02-23 16:35] mheppler opened #1491 "Dataverse - Edit General Information - Select Facets, Dynamic Parent Dataverse Name"
In the Select Facets section of the Dataverse - Edit General Information page, there was a static "Facets from Parent Dataverse" label for the checkbox. I took the dynamic code from the Metadata Fields section, but this needs to be dynamic for the facets, and not use the code from the metadata section.

Here is the code that I used in the facets section:
[code]

[2015-02-23 16:37] eaquigley commented on #1253
Passing to QA to close as it is a duplicate of #531

[2015-02-23 16:53] mheppler commented on #1278
Added new info message for CC0 - "Public Domain Dedication" on the License + Terms of Use block of the dataset page.

Passing to @sekmiller for the success message.

[2015-02-23 17:01] pdurbin commented on #1212
@mheppler said to pass this to him to take care of hiding the technical details and revealing them with a link. I did stub this out a bit (and fixed a 404 to the search guide) in this commit: 37325ba

[2015-02-23 18:49] eaquigley commented on #658
@rtreacy could you please change the subject line to be a blank input field instead of the drop down menu. thanks!

[2015-02-23 19:10] pdurbin commented on #1449
There are eight possible messaging scenarios depending on if you're logged in, if you can see the Add Data button, and if you're browsing or searching. @eaquigley and I went through all of them and the setup could be reproduced on apitest. In the list below the CAPS indicate comments you can see when you "view source".

Not logged in:

- BROWSE GUEST ZERO COUNTS http://localhost:8080/dataverse/wre

[2015-02-23 19:22] eaquigley commented on #972
The Terms of Use will be in both the database (settings table) as well as available in the documentation that lives in the Sphinx folder for Dataverse. Waiting for the finalized doc from Berkman Center.

[2015-02-23 19:50] michbarsinai commented on #1383
See relevant email from Gustavo.

[2015-02-23 19:53] mheppler commented on #669
All of the above listed tooltips and help text have been added to the appropriate pages.

[2015-02-23 19:56] sekmiller commented on #662
Added brackets around the UNF for display purposes.

[2015-02-23 20:24] mheppler opened #1492 "Search: Move Text to bundle.properties"
There is lots of text in the XHTML for the search-include. That needs to be moved to the bundle.properties.

[2015-02-23 21:07] pdurbin commented on #972
It can be stored in the setting table as of 44e46611186fabe83d781d5cd3188e883cb5430f with this:

    curl -X PUT -d@/tmp/apptos.txt http://localhost:8080/api/s/settings/:ApplicationTermsOfUse

@eaquigley said that she or @posixeleni will be providing the text file, probably in HTML format since the 10 page word document has nice formatting.

Before that commit the settings table could only handle

[2015-02-23 21:54] eaquigley commented on #1450
We will the text from the Account Information edit dropdown appear in this tab instead of there.

[2015-02-23 22:03] eaquigley commented on #1404
@raprasad are you working on this? if not, what needs to be done by a dataverse developer?

[2015-02-23 22:11] eaquigley commented on #1344
Passing to QA to test again.

[2015-02-23 22:13] eaquigley commented on #1327
Decided to use an alternate method instead of captcha. We decided to use @scolapasta 's suggestion to use a simple math question for this.

[2015-02-23 22:34] mheppler opened #1493 "Customization - Improvements"
Customization improvements, based on feedback from Dwayne's experiment to bring 3.6 customizations into 4.0.

- [x] Tagline only allows "alphanumeric" and that means, no commas or periods, and that's weird.
- [x] Change "Link URL" to "Website" label, with watermark for "Your personal site, http://".
- [x] Merge Tagline + Link Text to one option, that works with Link URL.

[2015-02-23 22:43] mheppler commented on #1212
Added collapse functionality to technical details of search with no results on the dataverse page.

[2015-02-23 22:43] mheppler commented on #1492
Moved all text from the search-include to the bundle.

[2015-02-23 23:35] mheppler commented on #1459
Added link icon to the far right of the search/browse cards for linked dataverses/datasets/files.

[2015-02-24 00:01] scolapasta commented on #1359
These should now be wired up.

[2015-02-24 00:10] mheppler commented on #1471
Cleaned up the display of the dynamic parent dataverse name in the Inherit Customization field on the Theme + Widgets popup for a dataverse.

[2015-02-24 01:37] landreev commented on #1184
@kcondon
I've checked in the code for this; however, there's some new wonkiness on the dataset page, that prevents the restrict and delete files buttons from working properly, again; so that would prevent QA-ing this... Gustavo and I will try to look into this tomorrow.

[2015-02-24 03:22] mheppler commented on #1467
Added contributor role descriptions to the Manage Permissions page. Fixed some minor layout issues. Fixed a bug in previous check in for the remove role confirmation popup.

[2015-02-24 14:12] pdurbin commented on #1212
@kcondon you should see different errors/technical details if you search for ":" vs. searching for "foo:bar". See also the screenshots above.

[2015-02-24 14:26] pdurbin opened #1494 "NullPointerException from DataverseUserPage.validateNewPassword"
If you go to https://dataverse-demo.iq.harvard.edu and click "Sign Up" and then click "Create Account" without filling anything in, nothing happens (no validation warnings) and a NullPointerException appears in the logs:

[code]

[2015-02-24 14:52] sekmiller commented on #185
Leonid, can you put in the ingest success/failure messages? or point me in the right direction?
Thanks!

[2015-02-24 15:57] ekraffmiller commented on #1186
@eaquigley , I refreshed this page with out saving your new text, sorry!  Also, with the validation message being right next to the field, I thought maybe a shorter message would be better - right now it just says "Invalid URL"

[2015-02-24 16:15] pdurbin opened #1495 "Shibboleth: strings "givenName" and "sn" are persisted for all Shib users"
f82ac47529873201f799acf0fd939acd22d799d1 introduced a bug (probably as part of #1450) where every Shibboleth user who tries to log in has the strings "givenName" and "sn" persisted:

![shib_-_2015-02-24_10 35 38](https://cloud.githubusercontent.com/assets/21006/6353243/298bacae-bc16-11e4-8c51-a120db5fcc16.png)

Instead, the actual first name and last name should be persisted.

[2015-02-24 16:16] mheppler commented on #1341
Removed javascript from dv_rebind_bootstrap_ui, that was in relation to the hiding and showin of the breadcrumbs. Also commented out javascript that was used for info text, which will be moved to the backing beans.

[2015-02-24 16:40] pdurbin commented on #1495
979a59d0d6a66c3596097594622aa4fe5cebbcae should be a good fix. Please note that Shibboleth attributes "givenName" and "sn" have just been added to the list of required attributes:

- Shib-Identity-Provider
- eppn
- givenName
- sn
- mail

The question of which attributes should be required was raised at https://github.com/IQSS/dataverse/issues/796#issuecomment-75388752 . There's some thinking speci

[2015-02-24 16:46] mheppler opened #1496 "Dataverse Permissions - "Who can add to this dataverse?" Value Disappears"
The selected value for "Who can add to this dataverse?" on the Dataverse Permissions page, disappears after editing the "What type of contributor should be the default for this dataverse?" value on the Edit Access popup.

Steps to reproduce:
- 1. Dataverse > Edit Permissions
- 2. Permissions > Edit Access
- 3. Change "What type of contributor should be the default for this dataverse?" > Save Chang

[2015-02-24 17:00] pdurbin opened #1497 "Shibboleth: persist institution name as affiliation for users"
As discussed especially with @mcrosas and @eaquigley and @mheppler we want to persist "Harvard University" (or whatever friendly string we can get per-institution by parsing https://dataverse.harvard.edu/Shibboleth.sso/DiscoFeed ) to the "affiliation" field in the authenticateduser table for Shibboleth users. Some initial work toward this was done in 193787ccbd3156cad0832065a75405fe29c02f82

If th

[2015-02-24 17:02] ekraffmiller opened #1498 "Migration - handle invalid dataset contact email"
For migration, some emails in production data are invalid (for example, they say "enter your email address".  For these cases, we are substituting NA for dataset contact email.

If email is NA, we need a way to handle the contact button on the dataset page.  Gustavo suggested using the dataverse contact email.

@eaquigley and @posixeleni , is that ok with you?

[2015-02-24 17:07] pdurbin commented on #972
@mheppler I'm giving this ticket to you to help with the design and UI side of the house. I just consolidated the application-wide Terms of Use markup into the old termsofuse.xhtml you set up long ago. That file is now include both by "Sign Up" and "Shib" but I need to show you how to work on Shib locally. In short, this is what you need to do (but I'll walk you and hopefully @scolapasta through t

[2015-02-24 17:47] eaquigley commented on #1450
@mheppler Currently when a user logs in via Shibb and goes to their account page, they see this:
![shibbaccount1](https://cloud.githubusercontent.com/assets/5922904/6355292/de0203ca-bc22-11e4-8ff7-98f53d66c1e8.jpg)

When they click on the Account Info dropdown, they see this:
![shibbaccount2](https://cloud.githubusercontent.com/assets/5922904/6355300/eb0827e8-bc22-11e4-8cf5-8aea40f5204c.jpg)
(bonu

[2015-02-24 18:12] eaquigley commented on #1494
@kcondon has determined this is happening when the password field is blank. validation is there, just doesn't appear when the field is blank causing this nullpointerexception to happen.

Passing to @rtreacy to fix.

[2015-02-24 18:14] eaquigley opened #1499 "Guestbook: Mouseover Issue in Table"
The black bubble view mouseover on the available guestbook table appears through the transparent view popup.

[2015-02-24 18:20] pdurbin commented on #796
For the current list: https://github.com/IQSS/dataverse/issues/1495#issuecomment-75792420

This is no longer possible because as of 979a59d0d6a66c3596097594622aa4fe5cebbcae the attributes "givenName" and "sn" are required as explained at https://github.com/IQSS/dataverse/issues/1495#issuecomment-75792420

[2015-02-24 18:21] eaquigley commented on #1426
Will add a "Member" role with view unpublished dataverse and view unpublished dataverse.

[2015-02-24 18:35] eaquigley commented on #1319
@mcrosas has suggested a better way to display compound subfields in the metadata tab to add the names for some of the subfields before the value. @mcrosas and @posixeleni will review this when @posixeleni is back in the office.

[2015-02-24 18:37] eaquigley commented on #1155
The only part left is to set up a CRON job for the API to email the notifications.

[2015-02-24 18:46] scolapasta commented on #1106
will review with @mheppler to better understand what the issue here is.

[2015-02-24 18:52] sekmiller commented on #1024
Mike, I put in the above text in the bundle can you style it on manage-templates.xhtml.  It only appears after you've added at least one template.....

[2015-02-24 19:01] eaquigley commented on #656
Moving to Beta 14 but most likely will be passed to QA and closed on 2/26 after a UI review.

[2015-02-24 19:11] eaquigley commented on #1366
@pdurbin @ekraffmiller @scolapasta will meet and discuss how to do this. we need something for 4.0.

[2015-02-24 19:17] eaquigley commented on #1497
@pdurbin are we getting Harvard University through the JSON currently?

[2015-02-24 19:54] raprasad opened #1500 "Creating demo dataset, distributor url receiving invalid error"

[2015-02-24 20:04] pdurbin commented on #972
@mheppler if you pull the latest you don't need to mess with Shib.java any more. Please see this for how to change Shib modes on the fly: http://guides.dataverse.org/en/latest/developers/dev-main.html#shibboleth

[2015-02-24 20:10] pdurbin commented on #1497
@eaquigley as I explained to @scolapasta as of 193787ccbd3156cad0832065a75405fe29c02f82 I'm parsing a static file on the filesystem: https://github.com/IQSS/dataverse/blob/master/src/main/webapp/resources/dev/sample-shib-identities.json . There's a test to make sure it's getting the expected values.

What hasn't been done yet is dynamically downloading the JSON from the server (not sure if this sh

[2015-02-24 20:12] mheppler commented on #796
Cleaned up the workflows for Shibboleth Account Converting and the Terms of Use on the Sign Up page.

Added a few comments into the code on shib.xhtml, one in reference to a block of code with rendered="#{false}", asking if that can be removed, another two for validation messages that are hardcoded into the XHTML, rather that using the message block built into the dataverse_header, that can be uti

[2015-02-24 20:12] mheppler commented on #972
Cleaned up the workflows for Shibboleth Account Converting and the Terms of Use on the Sign Up page.

[2015-02-24 20:32] sekmiller commented on #1323
DOI on DS card is now a working link. @mheppler, the css in the citation block is interfering
 with the display, can you take a look search-include-fragment around lines 624-625...

[2015-02-24 20:33] sekmiller commented on #815
All are now using consistent validator.

[2015-02-24 21:01] mheppler commented on #1024
I recommend that the supplied text should be displayed in an info block, at the top of the page, as it is designed for, and not a new block of text above the table.

Attached is a mock up for everyone to review. Enjoy. @eaquigley @sekmiller @mcrosas

![screen shot 2015-02-24 at 3 59 15 pm](https://cloud.githubusercontent.com/assets/687227/6359077/5b61c024-bc3e-11e4-9927-8dbfded23b10.png)

[2015-02-24 21:05] mcrosas commented on #1024
Fine with me

Mercè Crosas, Ph.D.
Director of Data Science, IQSS
Harvard University
http://datascience.iq.harvard.edu

On Tue, Feb 24, 2015 at 4:01 PM, Michael Heppler <notifications@github.com>
wrote:

[2015-02-24 21:07] eaquigley commented on #1024
+1

From: Merce Crosas [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 4:06 PM
To: IQSS/dataverse
Cc: Quigley, Elizabeth
Subject: Re: [dataverse] Dataset Template: Text/Instructions for Pages related to Dataset Template (#1024)

Fine with me

Mercè Crosas, Ph.D.
Director of Data Science, IQSS
Harvard University
http://datascience.iq.harvard.edu

On Tue, Feb 24, 2015 at 4:01 PM,

[2015-02-24 21:08] sekmiller commented on #661
Pops to top of page and displays general validation message and "See below for details."

[2015-02-24 21:11] sekmiller commented on #1024
I can take care of this….

On Feb 24, 2015, at 4:05 PM, Merce Crosas <notifications@github.com<mailto:notifications@github.com>> wrote:

Fine with me

Mercè Crosas, Ph.D.
Director of Data Science, IQSS
Harvard University
http://datascience.iq.harvard.edu

On Tue, Feb 24, 2015 at 4:01 PM, Michael Heppler <notifications@github.com<mailto:notifications@github.com>>
wrote:

—
Reply to this email direc

[2015-02-24 21:11] mheppler commented on #1024
Assigning to @sekmiller to wire up info block text.

[2015-02-24 21:20] sekmiller commented on #1024
Fix Checked in ...

[2015-02-24 21:30] mheppler commented on #1450
Added back user.toEditDetail message to bundle, and revised it to the suggested, updated text. Moved it from Account Information dropdown to the Account Information tab on the Account page.

[2015-02-24 21:45] mheppler commented on #1323
Fixed DOI links in the citation block in file search/browse cards on the Dataverse page.

@sekmiller -- it wasn't a CSS issue. The h:outputText for the styled citation block was missing an escape="false" attribute, in order to render HTML in the value on the page as HTML and not text.

[2015-02-24 22:00] mheppler commented on #1478
Cleaned up the Grant Access form in the popup from the File Permissions page.

[2015-02-24 22:08] mheppler commented on #1320
Was looking up resources for HTML "sanitization" or a "parser" and found this reference.

http://stackoverflow.com/questions/23167104/html-sanitizer-for-jsf

[2015-02-24 22:33] eaquigley opened #1501 "Featured Dataverses: Removing Label & Adding Option to Edit Dataverse Drop Down"
- [ ] Please remove the bold "Featured Dataverses" label that appears on the homepage for a dataverse that has featured dataverses enabled
![fd1](https://cloud.githubusercontent.com/assets/5922904/6360796/ed0f36ee-bc4a-11e4-8fe5-d05306a51e73.jpg)

-[ ] Currently, the Featured Dataverses link in the Edit Dataverse dropdown only appears when a user has at least one published dataverse. This needs to

[2015-02-24 22:34] eaquigley opened #1502 "Dataset Contact Form: Wire this up"
For some reason the Dataset Contact Form was never wired up though the Dataverse Contact Form was. @ekraffmiller could you please do this since you are working on the invalid email migration stuff for datasets. @scolapasta said for me to assign this one to you, it already exists for on a dataverse page behind the email icon button.

[2015-02-24 22:37] mheppler commented on #1111
The following pages all reference "dataverse.xhtml", and will need to be individually review, so as to consistently use the Pretty Faces URLs for dataverses, across the entire site.

- [ ] AdvancedSearch.java
- [ ] DatasetPage.java
- [ ] DataverseHeaderFragment.java
- [ ] DataversePage.java
- [ ] LoginPage.java
- [ ] SearchIncludeFragment.java
- [ ] Shib.java
- [ ] BuiltinUserPage.java
- [ ] Passw

[2015-02-24 22:42] eaquigley opened #1503 "Role Assignment: Able to Attempt to Assign the Same Role to the Same User Multiple Times"
Discovered during a demo that a user can assign the same role to a user multiple times. An error message appears but it says, "an error has occurred, please contact support". Post 4.0, we should make the messaging better and not allow a user to do this.

[2015-02-24 22:51] kcondon opened #1504 "Server log error: Found on demo, not sure of context"
[2015-02-24T11:12:36.813-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.webcontainer.jsf.lifecycle] [tid: _ThreadID=60 _ThreadName=jk-connector(3)] [timeMillis: 1424794356813] [levelValue: 900] [[
  /dataverseuser.xhtml @321,325 validator="#{DataverseUserPage.validateNewPassword}": java.lang.NullPointerException
javax.el.ELException: /dataverseuser.xhtml @321,325 validator="#{Datave

[2015-02-24 22:55] kcondon opened #1505 "Server log error: Found on demo, not sure of context, FileUtil.determineFileType"
[2015-02-24T14:45:08.003-0500] [glassfish 4.1] [SEVERE] [] [edu.harvard.hul.ois.jhove] [tid: _ThreadID=62 _ThreadName=jk-connector(5)] [timeMillis: 1424807108003] [levelValue: 1000] [[
  Testing SEVERE level]]

[2015-02-24T14:45:08.051-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.ingest.IngestServiceShapefileHelper] [tid: _ThreadID=62 _ThreadName=jk-connector(5)] [timeMillis: 14248071

[2015-02-24 22:55] kcondon commented on #1504
Sorry, this was in fact the blank password issue. Closing

[2015-02-24 22:55] #1504 closed

[2015-02-24 22:58] scolapasta commented on #1485
Added api to update facets and added to setup-all script.

[2015-02-24 22:59] scolapasta opened #1506 "Add API to list facets for a dataverse"
In 4.0 we have an API to add them, but we should also be able to list.

(it would be good to verify that we also have an API to list which ones are facetable)

[2015-02-24 23:01] scolapasta commented on #1426
Added member role, but needs a better description (as do other roles).

@eaquigley can you take a look at the roles and update them. They are in the api/data directory and you should be able to just update via github. Let me know if you have any other questions.

(Side note, what did we end up deciding about "Manager"?)

[2015-02-25 14:37] mheppler commented on #1111
AdvancedSearch.java, dataset.xhtml, dataverse.xhtml, dataverseuser.xhtml, widgets.js, themeAndWidgetsFragment.xhtml -- were all easy changes from id to alias. The rest will require review with a developer.

I am editing this list to be two parts. The above pages are easy, these next pages are more complicated.

[2015-02-25 14:47] posixeleni commented on #1498
@ekraffmiller @eaquigley I think the easiest solution like Gustavo suggested would be for any email that is NA (when migrated from 3.6) to use the Dataverse-level Contact Email. People can always go in and change this in their metadata if they want to later on.

Question: From 3.6: Would there ever be no Dataverse-level contact email as well, though?

[2015-02-25 14:48] mheppler opened #1507 "Breadcrumbs - New Dataverse vs. "null Dataverse""
When creating a new dataverse, the breadcrumbs are now displayed, and it reads "null Dataverse". The dataverse header link, and page title both read "New Dataverse". The breadcrumbs should also read "New Dataverse".

[2015-02-25 14:53] mheppler commented on #541
Created new 500 error page, to be wired up into the app.

[2015-02-25 15:18] mheppler opened #1508 "Dataverse - Create/Edit General Information - Clean Up Redux"
- [x] Dataverse input is missing the "Dataverse" text to the left of the input
- [x] The tabindex is off for Affiliation and Identifier

[2015-02-25 15:47] eaquigley commented on #1444
Mockups: https://iqssharvard.mybalsamiq.com/projects/36to40builtinaccounts/grid

These are based off of discussions with @mcrosas and @scolapasta as to what users will need to change account wise when first logging into Dataverse 4.0.

Still missing:
- [ ] a user could have multiple accounts using the same email address, in 4.0, one account per email address in order for the forget password functi

[2015-02-25 16:04] rtreacy commented on #541
500.xhtml has been wire up in web.xml

[2015-02-25 16:10] kcondon commented on #1187
Closing

[2015-02-25 16:10] #1187 closed

[2015-02-25 16:11] kcondon commented on #1246
Ok, tested by just putting N/A in required fields and they were not displayed. Closing

[2015-02-25 16:11] #1246 closed

[2015-02-25 16:11] mheppler commented on #1501
Cleaned up the carousel and popup for the Featured Dataverses on the Dataverse page. Moved text to bundle, and inline CSS to stylesheet, for both Featured Dataverses and Linked Dataverses.

[2015-02-25 16:39] kcondon opened #1509 "Log out: Logging out while on dv permissions page as admin throws 500 error."
[2015-02-25T11:37:27.549-0500] [glassfish 4.1] [SEVERE] [] [javax.enterprise.resource.webcontainer.jsf.application] [tid: _ThreadID=47 _ThreadName=jk-connector(2)] [timeMillis: 1424882247549] [levelValue: 1000] [[
  Error Rendering View[/permissions-manage.xhtml]
javax.el.PropertyNotFoundException: /permissions-manage.xhtml @154,101 rendered="#{managePermissionsPage.dvObject.instanceofDataverse an

[2015-02-25 16:41] pdurbin commented on #1497
After a build if you log in as "myself" using TestShib I expect the "affiliation" column of the authenticateduser table to be populated with "TestShib Test IdP" for that user. (This value comes from https://dvn-build.hmdc.harvard.edu/Shibboleth.sso/DiscoFeed .)

Like firstname, lastname, and email address, the "affiliation" value is updated on every log in, so one way to test is to change the valu

[2015-02-25 16:43] scolapasta commented on #1507
I'm not done with the breadcrumbs issue #1284 for this, so new this was an outstanding item. It's fine to keep it tracked separately, so then I can pass #1284 back to you.

[2015-02-25 16:47] scolapasta commented on #1284
Breadcrumbs have been re added to dataverse and dataset page. There is still an issue with the create mode, but that is now tracked in a new issue, #1507, so I'm going to go ahead and pass this ticket back to @mheppler.

Let me know if you have specific question on any pages. (i also am modifying the previous comment with some notes and reordering as things I know are done)

[2015-02-25 17:05] sekmiller commented on #1484
Fix has been checked in.  Can be tested after a new build

[2015-02-25 17:07] kcondon commented on #1380
In speaking with Gustavo, there is a requirement that is unique to IP Groups: they cannot edit anything, change anything, effectively not write anything. Rather, this group's main purpose is view and access restricted files and unpublished dv's and ds. So, I will test permissions for this group accordingly.

[2015-02-25 17:23] scolapasta commented on #1509
I'm fairly certain this is because of IP groups. @kcondon in this test is a member of an IP group that has been given admin role. However, this is a state we do not want to allow (as we only want edits to be performed by authenticated users).

Will check with @michbarsinai how easy to restrict IP groups to be restricted to the member role (how do we handle groups within groups? - is that even a us

[2015-02-25 17:33] mheppler commented on #1322
Added jQuery matchHeight plugin to apply an even height to all the Featured Dataverses on the Dataverse page.

[2015-02-25 17:37] bencomp commented on #1497
In our situation, the affiliation attribute carries a domain name value. For DANS (my affiliation) it is not "DANS" or "Data Archiving and Networked Services", but "dans.knaw.nl". [It works like this for all SURFconext users](https://wiki.surfnet.nl/display/surfconextdev/Attributes+in+SURFconext#AttributesinSURFconext-Homeorganisation).

Ideally my next suggestion should not be necessary, but a ma

[2015-02-25 17:40] kcondon commented on #1380
Issues I have seen with IP Groups that may or may not need fixing, depending on a design/functionality review:
1. Can't assign a single ip address without specifying it as a range of 1: [1.1.1.1-1.1.1.1] (not really a major issue, just making note of it here).
2. Can assign roles that have write permissions to IP groups, eg. admin, editor, though ipGroups are not supposed to perform these function

[2015-02-25 17:46] ekraffmiller commented on #1502
@eaquigley , I noticed on the latest version of the contact page, the message subject is input text rather than a   drop down.  What default value do you want here (for dataset contact form and dataverse contact form)?

[2015-02-25 18:13] pdurbin commented on #972
@kcondon suggested that this should go in the installers guide somewhere.

[2015-02-25 18:18] posixeleni opened #1510 "Expose Controlled Vocabulary Terms in the API"
With the Native API we should be able to expose controlled vocabulary terms.

For example: this would be helpful if someone wants to use our required Subject controlled vocabulary without having to manually add and update the terms.

See this IRC chat for more information on user needs: http://irclog.greptilian.com/rest/2015-02-07#i_95635

@pdurbin is also stubbing this out here: https://github.co

[2015-02-25 18:24] pdurbin commented on #1510
For now the output is this but it's hard-coded to only show subject. We could make it more general. Also, not to open a can of worms but I have no idea what the plan is for languages besides English. Anyway, here's the current output:

[code]

[2015-02-25 18:30] mheppler commented on #1284
That should be everything. If there are any new pages that need breadcrumbs after this, they can be created in individual tickets.

[2015-02-25 18:34] posixeleni commented on #1510
thanks Phil. This will be helpful for OJS so I'm pinging @jwhitney @axfelix

[2015-02-25 18:43] scolapasta commented on #1186
Confirmed that "Invalid URL" works as the validation method. Passing to QA.

[2015-02-25 18:43] eaquigley commented on #1502
@ekraffmiller sorry for not alerting you about it being input now! i'd prefer no default subject actually so that a user doesn't accidentally skip over that field.

[2015-02-25 18:46] pdurbin commented on #1510
That's fine but I'm purposely not documenting it until we decide what we want. "API design is building in future regret." ;)

[2015-02-25 19:00] ekraffmiller commented on #1502
@eaquigley ok, no problem - should the general feedback subject be blank also?

[2015-02-25 19:01] eaquigley commented on #1502
@ekraffmiller for that one, can you have the build # populate it? i know that has been useful for support in the past.

[2015-02-25 19:03] ekraffmiller commented on #1502
ok, sounds good

[2015-02-25 19:23] michbarsinai commented on #1509
Not easy at all. Especially because of groups within groups (which we need). But also, because the design is intended to overlook *why* you got the permission. That was the requirements.

I'd say, no need to educate the users. If DV admin assigns a range of IP addresses to trusted people (e.g. by MAC address), that's a valid use case.

That said, some commands get an authenticated user at the cons

[2015-02-25 19:31] pdurbin commented on #1392
@scolapasta isn't it a little weird that the PublishDatasetCommand allows the publishing of a dataset with a version of V0? I can't imagine there being any use case for this. Maybe we can fix that post 4.0.

[2015-02-25 19:33] mheppler commented on #1508
Cleaned up the edit/create Dataverse General Information page by fixing tabindex and adding "Dataverse" help text.

[2015-02-25 19:33] sekmiller commented on #1419
File access request is now set at the version level.  Upon publish the dataset will be updated to the value of the published version.  If it is changed in a draft it won't show up at the ds level until republish.

[2015-02-25 19:35] pdurbin commented on #702
@scolapasta can you please explain what you expect to be delivered for this issue? The scope of this ticket, I mean. What functionality should go through QA.

[2015-02-25 19:49] sekmiller commented on #626
Based on discussion w/Gustavo and Liz we identified 3 scenarios.
1) You don't have permission to publish the owning DV
2) You have permission to publish owning DV and  the "grandparent" is published.
2) You have permission to publish owning DV and  the "grandparent" is NOT published. (hopefully unlikely).

[2015-02-25 20:00] scolapasta commented on #702
the scope is to get the indexing to be asynchronous for 4.0. We can discuss in more detail when we get to this next week.

[2015-02-25 20:21] rtreacy commented on #973
The new json based importXML has been incorporated into ContainerManageImpl and CollectionDepositManagerImpl.

[2015-02-25 20:36] posixeleni commented on #1430
@scolapasta I spoke with OJS about their plugin and we will still need in 4.0 to support allowing N/A for Subject in the SWORD API. However, this is something that OJS will plan to work on in the future to have a dropdown list of our Subject Terms in their plugin.

Re-assigning to Gustavo to assign to a developer to work on this ticket.

[2015-02-25 20:38] posixeleni commented on #1399
Will review this with Merce by the end of this week.

[2015-02-25 20:40] posixeleni commented on #1385
I spoke with Berkman and they think that if a user is going through an API to use Dataverse they will need to abide by the general Dataverse terms of use + a set of API-specific terms which they are currently drafting for us. They should have a strawman set of terms by the end of this week for us to review.

[2015-02-25 20:41] posixeleni commented on #1319
Meeting with Merce by the end of this week to finalize this.

[2015-02-25 20:42] posixeleni commented on #1311
@scolapasta Since the GSD was the only active use case that this issue was happening in (issue resolved since they no longer have required fields)... would it be ok for us to postpone this to post 4.0?

[2015-02-25 21:21] pdurbin commented on #796
I can reproduce this. Thanks for the heads up, @kcondon

[2015-02-25 21:32] rtreacy commented on #1494
added a null check in BuiltinUserPage.validateNewPassword(...)

[2015-02-25 22:08] sekmiller commented on #626
Logic and first pass at popups and bundle changes checked in.  Pop-ups may need a little love and Liz will modify the bundle messages.

[2015-02-25 22:09] pdurbin commented on #796
Ok, I did some clean up and bug fixing in cf4cbef

### To address comments by @kcondon ...

This is expected an only happens with TestShib. I'm working with Harvard identity folks in INC01146005 so that hopefully soon we will be able to test with Identity Providers (IdPs) other than TestShib. @bencomp if you'd like to do some testing please let me know. We also put a general call out for Shib test

[2015-02-25 22:10] kcondon opened #1511 "Index: Cannot see unpublised dv or ds if assigned proper view perms as IPGroup."
I've directly assigned admin to an IPGroup for unpublished dv, ds and do not see their cards.

[2015-02-25 22:11] pdurbin commented on #796
Oh, despite two messaging parties I'm still shaky on how to do this. @scolapasta please feel free to steal this out of QA if you'd like to have me work on this right now rather than post 4.0.

[2015-02-25 22:43] eaquigley commented on #1386
@scolapasta I went through the UI and bundle and didn't find other controlled vocabularies listed in the bundle. Passing to QA so this ticket can be closed.

[2015-02-25 22:50] pdurbin commented on #1392
It seems like a good fix. Using SWORD, I can't publish a dataset with "V0" any more. And when I edit just metadata publishing bumps it to V1.1. Adding a file bumps it to 2.0, as expected.

I left a todo in the code to think about why the PublishDatasetCommand allowed a "V0" version to be published. A post 4.0 activity. :)

Passing to QA.

[2015-02-25 23:38] kcondon opened #1512 "Permissions: Explicit groups who are assigned admin role cannot access or edit unpublished dv, ds."
I've directly assigned an explicit group to a unpublished dv and to an unpublished ds and they appear in the search cards, the group appears on the permissions page under role assignment, but I cannot go directly to the landing page, nor the permissions page as a user of the explicit group. Add data/edit buttons also do not appear.

I believe I have also seen this work (2 times fail, one time work

[2015-02-25 23:41] kcondon opened #1513 "Index: Cannot see unpublished dv or ds if assigned proper view perms as IPGroup."
I've directly assigned admin role/ view unpublished dv/ds to an ipgroup but still cannot see the unpublished dv/ds cards, though I can see the role assignment on the permissions page. I can go directly to the landing pages for both and the permissions page for both as a member of the ip group.

[2015-02-26 00:00] scolapasta commented on #1511
Duplicate of #1513

[2015-02-26 00:00] #1511 closed

[2015-02-26 00:08] scolapasta commented on #1430
I don't think there's any dev work needed, as the Json Parser logic will handle populating subject and keyword, and then sword will add N/A if no subject. (until we get OJS to add subject, then we will turn this off, so anyone using our API needs to add subject correctly, or it will break when we deprecate this.

Passing to @pdurbin to just do a sanity check that I am right about it being all set.

[2015-02-26 00:53] pdurbin commented on #1316
Previously the DestroyDatasetCommand wasn't deleting Solr IDs for:

- published datasets
- deaccessioned datasets
- published files

Now it is. Passing to QA. If it's helpful, my script for testing: https://github.com/IQSS/dataverse/blob/53f5e52dbf97a08d3099f8b8992f229bbf68023f/scripts/search/tests/destroy-dataset-spruce1

[2015-02-26 01:40] pdurbin commented on #762
As of dde9997 the bug in the scenario above is no longer reproducible. Passing to QA.

Unrelated: @kcondon if you use my scenario, you might want to look at something somewhat related. If you go to V1 of the dataset and look at the Files tab, the thumbnail image is broken (this is more evident in Chrome than Firefox). I mentioned this to @landreev and he said there might be a ticket for this.

[2015-02-26 02:03] pdurbin commented on #1430
That's why I stubbed out something in #1510 based on chat with @posixeleni

[2015-02-26 14:16] pdurbin commented on #1320
@mheppler I love this part of the top answer in that StackOverflow post:

Pegdown is "a pure-Java Markdown processor" according to https://github.com/sirthias/pegdown

[2015-02-26 14:49] mcrosas commented on #1320
For after 4.0, if we want to consider markdown as a solution (note that
this is not decided yet), we could also follow what RapGenius does. It's
clear and easy, and supports the basic formatting HTML we would want to
support. See attached screens.

Mercè Crosas, Ph.D.
Director of Data Science, IQSS
Harvard University
http://datascience.iq.harvard.edu

On Thu, Feb 26, 2015 at 9:16 AM, Philip Durbin

[2015-02-26 16:05] sekmiller opened #1514 "Use Authenticated User instead of Built-In User for getting default identifying values"
Built-in user was used for getting default identifying values such as name and email for guestbook and dataset version user.  Since not all contributors will be built-in users we must use Authenticated user in place of built-in user

[2015-02-26 16:20] sekmiller commented on #1514
Default dataset version author name and guestbook info is coming from authorized user.

Dataverse Contributor is still using built-in user lookup for getting version tab contributor names.  We may need to change the way contributors are stored.

[2015-02-26 16:31] eaquigley commented on #1501
@mheppler please have featured dataverses appear at the bottom of the list under edit dataverse (above delete dataverse)

[2015-02-26 17:06] bencomp commented on #976
I'm a bit surprised that even for some API `GET` calls you need an API key, but for serious admin stuff there is nothing (except for a "future IP whitelist"). How about a super super secret key and only access via HTTPS and only from localhost?

With Apache as a (reverse) proxy in front of Glassfish, you could filter requests to this path, but it sounds like a job for the firewall. (I haven't full

[2015-02-26 17:53] posixeleni commented on #1399
![image](https://cloud.githubusercontent.com/assets/5013837/6397961/636b17e2-bdb6-11e4-9b02-1b30bf0c7fd8.png)

[2015-02-26 18:08] pdurbin commented on #1262
For this ticket I'm focusing on highlighting search results. Prior to 20c304f if you created a dataset with two authors with the same last name and then searched on that last name, you would only get a highlighted match for one of the authors. Now, you see both:

![wright](https://cloud.githubusercontent.com/assets/21006/6398190/f0d60000-bdb7-11e4-9491-aeb0f04b46f4.png)

The parameter "[hl.snippet

[2015-02-26 18:14] kcondon commented on #766
Create now uses DOI generation logic but I had thought it also needed to support specifying the DOI for cases where it preexisted. The test I ran was using the dataset-create-new.json file under /data:

curl -H "Content-type:application/json" -X POST -d @data/dataset-create-new.json "https://dvn-build.hmdc.harvard.edu/api/dvs/1/datasets/?key=

This worked fine -it create a dataset with a newly gen

[2015-02-26 18:16] kcondon commented on #1193
Merce said this was ok, closing.

[2015-02-26 18:16] #1193 closed

[2015-02-26 18:28] kcondon commented on #1441
OK, documentation is present. I believe the basic download singular and bundle functionality was tested in another ticket. The rest of the API needs to be tested but closing this ticket as API documented.

[2015-02-26 18:28] #1441 closed

[2015-02-26 18:30] kcondon commented on #1401
Shib groups can be created and assigned roles. Closing

[2015-02-26 18:30] #1401 closed

[2015-02-26 18:53] pdurbin opened #1515 "Shibboleth Groups: arbitrary attributes and regex support"
In #1401 I implemented institution-wide Shibboleth groups (i.e. "you logged in with your Harvard account") which is a decent start (though we want the creation to be automated in #1403) but what we **really** want is for people installing Dataverse to be able create a group based on **any arbitrary Shibboleth attribute** ("[eduPersonScopedAffiliation](https://docs.google.com/a/harvard.edu/document

[2015-02-26 18:53] pdurbin commented on #1401
@bencomp not as of this writing but I just opened #1515 about this

[2015-02-26 18:58] mheppler commented on #1111
Passing to Gustavo to see if he can fix the use of "dataverse.xhtml" on Shib.java.
[code]

[2015-02-26 19:01] kcondon opened #1516 "500 error: while browsing, weld error"
Liz saw this, a 500 error that seemed to happen no matter what she clicked. This may be the new face of the session bug. Might it be fixed in a newer version of weld? Not sure yet of the frequency of the issue but it is severe for the user experiencing the issue. For the record, I was on the machine at the same time and did not see the issue. Liz said she was trying to add a new dataverse when it

[2015-02-26 19:06] mheppler commented on #656
Had our UI review on 2/26 and concluded that we have sufficiently addressed this issue, where it mattered most, on the dataset page.

[2015-02-26 19:13] posixeleni opened #1517 "Improve Tooltip Text for Contact field"
Requested by @eaquigley to improve the text in the Contact field in the citation metadata block. Right now it just has "Contact Information" which is not helpful for users.

[2015-02-26 19:15] scolapasta commented on #307
Per Mikes suggestion, I added the block's index (+1) as a tabIndex to each of the input fields (except the multiple checkboxes like subject, tab index does not appear to be supported by primefaces component, only standard component), the +/- buttons, and the special replication for button.

I added a tabindex of 1000 to the bottom save and cancel.

[2015-02-26 19:23] kcondon opened #1518 "Change Password: Agree to TOU checkbox is there and is always required."
I noticed that the account/site TOU checkbox and TOU is on the change password page, it is always there and always required, no matter how many times you accept.

[2015-02-26 19:27] scolapasta commented on #1487
When I started debugging this, you could never restrict files (null pointer). I have foxed that and it has worked for me on my test, but not sure if the intermittent problem is gone (though I'm not seeing it).

[2015-02-26 19:29] kcondon commented on #1492
Mike said this had to do with static application text, the test is to look around at select boxes, labels, etc and see if anything is broken. Looks good as far as I could see. Closing.

[2015-02-26 19:29] #1492 closed

[2015-02-26 19:30] michbarsinai commented on #976
There is nothing *yet*. There will be a key (most of them already have it), and there will be an option to shut it down. Java EE has a web filter mechanism that should be useful here.
I think localhost only is a good solution, except it might not work in some cloud settings (probably not a big problem yet). Any ideas of making it more secure are very much welcome.

[2015-02-26 19:42] kcondon commented on #1449
Looks good, closing

[2015-02-26 19:59] kcondon commented on #1447
OK, all looks good except the last item didn't seem to be in place. Passing back to Liz since there needs to be additional decision making on it (manager role also relevant).

[2015-02-26 20:18] kcondon commented on #1359
OK, looks good, closing.

[2015-02-26 20:18] #1359 closed

[2015-02-26 20:19] kcondon commented on #1291
Message no longer appearing. Closing

[2015-02-26 20:19] #1291 closed

[2015-02-26 20:24] kcondon commented on #1278
Looks good, closing. @eaquigley One minor thing: the community norms link goes to the right page but slightly lower down on the page, perhaps the top is hidden by the floating navbar?

[2015-02-26 20:24] #1278 closed

[2015-02-26 20:32] mheppler opened #1519 "Root Dataverse URL + Pretty Faces -- Unecessary?"
Currently, we have the root using Pretty Faces, to add the alias to the URL:

https://dvn-build.hmdc.harvard.edu/dataverse/root

That shouldn't be necessary. All links to the root should just be:

https://dvn-build.hmdc.harvard.edu/

[2015-02-26 20:34] kcondon opened #1520 "User Guide/Link Target: Headers Display Under Navbar"
This is very minor but I noticed when clicking on the Community Norms link on the licensing tab, the Community Norms label was hidden below the floating nav bar.

[2015-02-26 20:42] eaquigley commented on #1490
@mheppler I'm passing this to you as @mcrosas approved what is in the mockups.

Links for the links needed based off the mockups:
-[ ] http://guides.dataverse.org/en/latest/user/dataverse-management.html#dataset-guestbooks
- [ ] http://guides.dataverse.org/en/latest/user/dataverse-management.html#dataset-templates

[2015-02-26 20:50] mheppler opened #1521 "search-include-fragment ui:param - dataverseLinksStayOnPage == true ?"
[code]

That is from the search-include-fragment. No one seems to know what it is or what it does or why it was added. Look into it, and remove if not needed.

[2015-02-26 21:04] eaquigley commented on #626
messages for @sekmiller
- [ ] Grandparent and parent aren't published (i'd like them broken up into lines as shown below):
This dataset cannot be published until
(grandparent dv w/link)
(parent dv w/link)
are published.
- [ ] Parent isn't published (no permission to do so)
This dataset cannot be published until
(parent dv w/link)
is published by its administrator.
- [ ] Parent isn't published (per

[2015-02-26 21:26] eaquigley commented on #1034
Mockups for when there is only one account associated with an email address: https://iqssharvard.mybalsamiq.com/projects/36to40builtinaccounts/Dataverse%20Account%20II%20-%20Account%20Found

[2015-02-26 21:43] eaquigley opened #1522 "Search/Browse Card: Dataset Descriptions No Longer Displayed"
@pdurbin mentioned to me that description was no longer appearing and posed the question that since no one had noticed it, do we still care about having the dataset description display? I say yes, we do want it still to appear.

Going deep into my archives of the progression of DV 4, I found this screen showing when they were displayed:
![2014-05-08_15-37-17](https://cloud.githubusercontent.com/as

[2015-02-26 21:43] kcondon commented on #1277
OK looks good. All message present, could not test many of the error ones.
Some wording differences but @eaquigley said they were OK. Closing

[2015-02-26 21:43] #1277 closed

[2015-02-26 21:45] mheppler commented on #1487
Cleaned up the Download, Upload + Edit Files, Restrict, Delete buttons atop the files table on the dataset page in both the view and edit modes.

[2015-02-26 21:56] mheppler opened #1523 "Publish Dataset - Clean Up Layout"
"Publish" (Major release)
- [x] Message inline with buttons

"Publish" (Minor/Major release)
- [x] Version number select message in button section, cleanup spacing, styling

"Publish" (Parent not published, publish both)
- [x] Message in one line, capitalize button

"May Not Publish" (Administrator)
- [x] Capitalize header, add "Close" button

"May Not Publish" (Two parent dataverses not published

[2015-02-26 21:56] kcondon commented on #1269
OK, looks good, closing.

[2015-02-26 21:56] #1269 closed

[2015-02-26 21:56] eaquigley opened #1524 "Metadata: N/A shouldn't appear in the section of fields below the citation, above the tabs"
Noticed today: N/A is appearing in the Subject metadata field that is displayed in the no mans land between the citation and the tabs. @scolapasta said that definitely shouldn't be happening since it doesn't display like that in the metadata tab.

[2015-02-26 22:06] kcondon commented on #1253
OK, the general message,  Data input validation error. See below for details.  , works but when the block is collapsed, you still don't see where the problem is. Closing.

[2015-02-26 22:06] #1253 closed

[2015-02-26 22:13] kcondon commented on #1212
OK technical details are hidden behind link, closing

[2015-02-26 22:13] #1212 closed

[2015-02-26 22:16] scolapasta commented on #1507
Fixed for both Dataverse and Dataset (which just had blank)

[2015-02-26 22:53] kcondon commented on #1182
All ok except for copy, which uses the edit message instead. Btw, for guestbook copy used the create  message instead of copy but I let that one go.

[2015-02-26 22:53] scolapasta commented on #1111
I'm actually going to pass this to @pdurbin, so he can add it how he would prefer (I think the easiest is to just remove the use of homepage and add dataverse.xhtml?alias=XXX in the places it's used).

@pdurbin, can you adjust this? the old way "dataverse.xhtml" is not good enough because it does not go through pretty faces. We have another issue #1519 to track how to do this, but for 4.0 we're ju

[2015-02-26 23:04] kcondon commented on #1026
Closing

[2015-02-26 23:04] #1026 closed

[2015-02-26 23:14] kcondon commented on #1025
Looks good, messages are approximately correct. Closing.

[2015-02-26 23:14] #1025 closed

[2015-02-26 23:15] scolapasta commented on #626
For maintainability of these (and possibly for internationalization if other languages format their sentences structures differently) we should keep these as one bundle property per message. You'll have to use <outputFormat> and put <br/> I think in the bundle.

[2015-02-26 23:16] scolapasta commented on #1182
Shouldn't we just say created, even when it's a copy anyway? Thoughts, @equigley?

[2015-02-26 23:28] kcondon commented on #1024
@eaquigley I don't see the explanatory text when there are no templates, is that by design?
Also, do not see the inherit templates checkbox, will report as a bug.

[2015-02-26 23:48] kcondon opened #1525 "Templates: Some template issues"
While testing template messaging, I came across several issues:
1. If a sub dataverse was created at a time when no root dataverse template existed, then when it does have one, no include templates from root dataverse checkbox is present.
2. It is possible to have one root template and not make it default but when there are two templates, one has to be default.
3. When there is only one root templ

[2015-02-26 23:59] kcondon commented on #972
OK, I see the TOU on account create, though currently with placeholder text. It also appears on the change password page so entered a ticket for that.

@eaquigley I think the message when the TOU is not checked is not that great and it removes your password:

Validation Error – Required fields were missed or there was a validation error. Please scroll down to see details.

@eaquigley The checkbox

[2015-02-27 00:05] kcondon opened #1526 "Create Account: Throws exception/ internal server error on save."
When I create a new account I see an error on save and server log error:

Internal Server Error - An unexpected error was encountered, no more information is available.

[2015-02-26T19:01:41.770-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.web] [tid: _ThreadID=50 _ThreadName=jk-connector(5)] [timeMillis: 1424995301770] [levelValue: 900] [[
  StandardWrapperValve[default]: Servlet.service()

[2015-02-27 00:05] kcondon opened #1527 "Create Account: Terms of use field is editable."
The Terms of Use field on create account page is editable.

[2015-02-27 00:18] kcondon commented on #669
Looks good except there is a link in the TOU info area that was not made into a link in the app:

Here is an example of a Data Usage Agreement for datasets that have de-identified human subject data.

Passing back to @mheppler

[2015-02-27 00:24] kcondon commented on #662
Brackets in place. Closing.

[2015-02-27 00:24] #662 closed

[2015-02-27 00:42] kcondon commented on #661
Pops to top of page with generic message:  Data input validation error. See below for details.   @eaquigley is this ok? Closing unless hear otherwise.

[2015-02-27 00:49] kcondon opened #1528 "Linked Dataset: Select box is longer than popup when long names present. Linked dv ok."
Linked Dataset: Select box is longer than popup when long names present. Linked dv ok.
Using FF

[2015-02-27 00:50] kcondon opened #1529 "Contact Us: Text missing from contact us form on dataset. Shows ???dataset.email.tip???"
Contact Us: Text missing from contact us form on dataset. Shows ???dataset.email.tip???

Believed to be a casualty of bundling.

[2015-02-27 01:00] kcondon commented on #658
@eaquigley I have some questions on this, most likely are bugs:
1. Subject is filled in automatically by default, should it be?:
Dataverse 4.0 Beta build 896 Feedback
2. No required asterisks as you requested.
3. Still throws exception when attempt to send email where either subject or message are missing.

[2015-02-27 01:03] kcondon opened #1530 "Contact Us: Throws exception when either subject or message are blank."
Reported by Liz and confirmed still happening. Both UI error and a server log error:
Internal Server Error - An unexpected error was encountered, no more information is available.

[2015-02-26T20:01:34.568-0500] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=50 _ThreadName=jk-connector(5)] [timeMillis: 1424998894568] [levelValue: 900] [[
  A system except

[2015-02-27 09:19] bencomp commented on #660
Neither covers exactly what I see on that tab, but I can't think of anything better.

What should a superuser see on this tab, by the way? Everything, or just the object she has an explicit role in?

[2015-02-27 09:37] bencomp opened #1531 "Account/Data Related to Me - [Dataverse is empty] Message For New User"
When I create an account and click through to "Data Related to Me", I get the message *This dataverse currently has no dataverses, datasets, or files. You can add to it by using the Add Data button on this page.* It is a minor issue, but it suggests I'm looking at a dataverse rather than a collection of objects that I have a part in.

![Screen shot showing "This dataverse currently has no datavers

[2015-02-27 10:36] bencomp opened #1532 "Log important events to an audit log"
As the back-office administrator of a nation-wide Dataverse (Network), with lots of different users, groups and roles in separate partner institutions, I would like to see who did what, when, and how (if applicable).

Not all events are equally important to log, but if something goes wrong (in some user's view), it should be possible to reconstruct the events leading up to the situation. Ideally I

[2015-02-27 14:02] mheppler commented on #1531
Good catch, @bencomp. I will take a look into this and will get a proper message in there, with the help of @eaquigley on a message that is more "your account" specific.

[2015-02-27 14:50] posixeleni commented on #1522
+1 with @eaquigley I believe descriptions are extremely important when a user is browsing a list of results to see which ones are actually most relevant for them to click on.

[2015-02-27 15:26] mheppler commented on #1501
Moved "Featured Dataverse" link to bottom of Edit Dataverse button dropdown.

[2015-02-27 15:45] mheppler commented on #1529
That message was removed from the bundle 38180861d567b1dac54c1c010d6485eea1710e52 before the placeholder popup was removed, and the intended dataset contact form functionality was added, which is being developed in this ticket #1502.

Sending to QA to close.

[2015-02-27 15:46] mheppler commented on #1502
As pointed out in #1529, make sure to also remove the placeholder popup when wiring up this dataset contact form.

[2015-02-27 17:10] eaquigley commented on #1531
Message:
- [ ] You have no dataverses, datasets, or files associated with your account. You can add a dataverse or dataset by clicking the Add Data button above or link dataverses and datasets by using the link button located on a dataverse or dataset page. Read more about adding data or linking data in the User Guide.

Please link to: http://guides.dataverse.org/en/latest/user/dataverse-managemen

[2015-02-27 17:12] kcondon opened #1533 "Shibboleth: Re-test Institution-wide Shibboleth groups and CRUD API operations"
This is a placeholder to test the shib groups API.

[2015-02-27 17:14] mheppler commented on #1531
Since linking isn't possible without a dataverse first, the revised text will be:

You have no dataverses, datasets, or files associated with your account. You can add a dataverse or dataset by clicking the Add Data button above. Read more about adding data in the [User Guide].

[2015-02-27 17:22] raprasad commented on #1404
Not essential, moved to post 4.0

[2015-02-27 17:24] raprasad commented on #1423
The Worldmap server had been deactivated.  Fixed.

[2015-02-27 17:30] kcondon commented on #1525
Retested and was not able to reproduce issues 1,3.

[2015-02-27 17:35] raprasad opened #1534 "geoconnect: return to dataverse link"
Show modal message:  "Your map has been saved back to Dataverse."

[ Keep Map ]    [ Delete Map ]  [Return to GeoConnect]

[2015-02-27 17:35] raprasad commented on #1474
spoke with Liz.  Will keep in same window and add additional messaging on GeoConnect.

See #1534

[2015-02-27 17:35] #1474 closed

[2015-02-27 17:42] kcondon commented on #1423
@raprasad  Send these back to me when they are fixed so they act as a reminder for me to try it again. Thanks!

[2015-02-27 17:49] mheppler commented on #1490
Added new why/how text for empty Dataset Templates/Guestbooks manage pages. Cleaned up a few minor layout issues.

[2015-02-27 18:04] mheppler commented on #669
LINK: http://guides.dataverse.org/en/latest/user/permissions-tou.html#example-of-data-usage-agreement

[2015-02-27 18:07] scolapasta commented on #1526
Fixed.

[2015-02-27 18:20] scolapasta commented on #1493
#1196

[2015-02-27 18:29] mheppler commented on #669
Added link to bundle for help text on the Terms of Use textarea input on the Edit License + Terms view of the dataset page.

[2015-02-27 18:29] #642 closed

[2015-02-27 18:42] eaquigley commented on #658
1. That's fine with me.
2. Definitely still need the required asterisks.
3. Is there another ticket created for that?

@kcondon

[2015-02-27 18:49] eaquigley commented on #661
@kcondon not okay. I'd like it to be the same message that appears on the Dataverse page:

Validation Error – Required fields were missed or there was a validation error. Please scroll down to see details.

Also, I noticed this isn't appearing on the Create Dataset page at all.

[2015-02-27 18:59] mheppler commented on #1531
Also, I am expanding this ticket to include conditional render logic for the search box that currently "Search this dataverse...".

It has been suggested - by @eaquigley -  that "Search this data..." should be there in it's place.

[2015-02-27 19:08] eaquigley commented on #972
@kcondon I definitely think it should remove the password. I do agree that the red checkbox is not enough. @scolapasta @pdurbin can we have that entire area be shown in red?

[2015-02-27 19:16] kcondon commented on #658
1. Great
2. OK, maybe pass to Mike? to add them?
3. Yes
________________________________
From: Elizabeth Quigley [notifications@github.com]
Sent: Friday, February 27, 2015 1:42 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Contact - Feedback, Email Dataverse/Dataset Contact (#658)

  1.  That's fine with me.
  2.  Definitely still need the required asterisks.
  3.  Is there anot

[2015-02-27 19:17] kcondon commented on #972
Couldn't it just have an error like all the other requred fields?
________________________________
From: Elizabeth Quigley [notifications@github.com]
Sent: Friday, February 27, 2015 2:08 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Create Account: Terms of Use Click Through (#972)

@kcondon<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_kcondon&d=BQMCaQ&c=WO-RG

[2015-02-27 19:18] eaquigley commented on #1525
@kcondon I agree. Definitely should be able to have multiple templates with none as default. I'm going to move this ticket to In Review-4.0.x

[2015-02-27 19:20] mheppler commented on #658
Sure. I'll take it. @kcondon @eaquigley

[2015-02-27 19:20] ekraffmiller commented on #658
@eaquigley @kcondon @mheppler FYI, I'm working on this form now, will pass to Mike when I'm done

[2015-02-27 19:20] mheppler commented on #658
@ekraffmiller -- thanks!

[2015-02-27 19:21] eaquigley commented on #1024
@kcondon : @mheppler has added in the text for when there are no templates or guestbooks. this is documented in ticket #1490

[2015-02-27 19:27] scolapasta commented on #972
The message text was there, but there was no display on the page. So I added that and it now shows up. (the whole area is red is not doable, but with the message it is now obvious)

I left the message text as it was; it is in the bundle if you want to change it. (note the terms xhtml is used by multiple places, but I think the message can be the same for all)

[2015-02-27 19:28] mheppler opened #1535 "Terms of Use - Required Asterisk"
This is a required field, it needs an asterisk.

[2015-02-27 19:28] mheppler commented on #972
I am making a separate ticket for the Terms of Use field needing a required asterisk -- #1535. There seems to be a lot going on in this ticket, and I don't want to pile on.

[2015-02-27 19:33] mheppler opened #1536 "Login Page -- Password Error Validation + Input Focus"
You enter an incorrect password, the automatic input focus is put into the Username field, so 9 times out of 10, I end up typing my password into that field, and hitting enter, and getting ANOTHER validation error.

If possible, on validation errors for the password field, the focus should be in the password field.

[2015-02-27 19:37] eaquigley commented on #658
#1502 is the ticket @ekraffmiller has been working on. i think we might have a duplicate ticket situation. ah!

[2015-02-27 19:38] sekmiller commented on #1514
Fixed and checked in.  will need a new build before testing.  To test verify that the contributor's names on the datasetversion tab are correct.

[2015-02-27 19:41] mheppler commented on #658
I am giving this ancient, high-level ticket back to QA to close, as there are other more specific being developed still #1530 #1502 #1327.

If there is something that still needs to be done on THIS ticket, I suggest it gets add to one of the existing tickets.

[2015-02-27 19:43] eaquigley commented on #1182
That's fine with me @scolapasta & @kcondon . Passing this to QA to close.

[2015-02-27 19:45] sekmiller commented on #661
Don't see this happening(lack of a validation message on create.) @eaquigley @kcondon - Is there anything I need to do besides click add and save?

[2015-02-27 19:46] sekmiller commented on #626
Messages are redone per notes above in a single bundle statement for each scenario

[2015-02-27 19:47] sekmiller commented on #626
A new build is required before testing can be done...

[2015-02-27 19:50] eaquigley commented on #661
@sekmiller it could be happening to me because of how the 500 error is appearing each and every time i click a button on dvn-build. please pass this back to me and i will try again next week

[2015-02-27 20:04] mheppler opened #1537 "Account/Data Related to Me - [Return] on Search Input Broken"
When on the Dataverse Account/Data Related to Me page, and you type in a search term into the search input, and hit "Return" on the keyboard, it does not run the search.

[2015-02-27 20:31] mheppler commented on #1531
Created new non-dataverse specific messages for the search-include to display on the Dataverse Account page.

[2015-02-27 20:31] scolapasta commented on #1516
Assigned to @rtreacy to investigate.

[2015-02-27 21:50] mheppler commented on #1535
Added required asterisk for Terms of Use label on the termsofuse include.

[2015-02-27 21:51] kcondon opened #1538 "Linked Dataset: Pop up button says done, should say cancel."
Linked Dataset: Pop up button says done, should say cancel.

In Linked Dataverse popup says cancel.

[2015-02-27 21:53] scolapasta commented on #1516
Build was not running the 2.2.4 welf version. It is now applied, so closing, unless we see it again.

[2015-02-27 22:02] kcondon opened #1539 "Delete Dataset: Deleting a draft does not call reindex so draft card remains."
Delete Dataset: Deleting a draft does not call reindex so draft card remains.

[2015-02-27 22:03] eaquigley commented on #661
works for me now. passing this ticket to QA to close.

[2015-02-27 22:10] kcondon opened #1540 "Bundle Failure: Missing bundle resource: create dataset failure"
Had trouble creating a dataset, error in log:

[2015-02-27T17:08:16.778-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.webcontainer.jsf.lifecycle] [tid: _ThreadID=49 _ThreadName=jk-connector(4)] [timeMillis: 1425074896778] [levelValue: 900] [[
  #{DatasetPage.save}: java.util.MissingResourceException: Can't find resource for bundle java.util.PropertyResourceBundle, key dataset.messa

[2015-02-27 22:14] scolapasta commented on #1539
related to #1316

[2015-02-27 22:19] scolapasta commented on #1532
It's a nice idea - have previously discussed with @michbarsinai the idea of commands logging something. Will discuss more next week to see if it is something we can easily squeeze in now or if it makes more sense for 4.0.x.

[2015-02-27 22:21] scolapasta commented on #966
Reviewing some old tickets, will pass to QA to see if it can be reproduced. (I was not able to)

[2015-02-27 22:25] mheppler commented on #1540
@sekmiller add message for Create DS Failure 5dc36c447ef2e2ed7b5f824f2b01e1ed7627a05a

[2015-02-27 22:25] kcondon commented on #1470
Works, closing. Note: Adding a file still forces a major version change.

[2015-02-27 22:25] #1470 closed

[2015-02-27 22:26] kcondon commented on #1526
Fixed, closing

[2015-02-27 22:26] #1526 closed

[2015-02-27 22:30] mheppler opened #1541 "Message Panel - Not All Messages Use It"
To be consistent, and to not have to reinvent the wheel for every piece of functionality, all info/error/success messages should be using the messagePanel, in the dataverse_header.

loginpage
- [ ] #{not LoginPage.authenticationProvidersAvailable}

permissions-manage
- [ ] #{managePermissionsPage.renderConfigureMessages}
- [ ] #{managePermissionsPage.renderAssignmentMessages}
- [ ] #{managePermiss

[2015-02-27 22:37] kcondon commented on #1535
Asterisk, check! Closing

[2015-02-27 22:37] #1535 closed

[2015-02-27 22:39] kcondon commented on #1540
Can cause the failure to see the message but creating works still so will take word for it , closing.

[2015-02-27 22:39] #1540 closed

[2015-02-27 22:42] kcondon commented on #1529
Closing since that other ticket describes implementing that feature.

[2015-02-27 22:42] #1529 closed

[2015-02-27 22:44] kcondon commented on #1507
Breadcrumbs look just fine, closing.

[2015-02-27 22:44] #1507 closed

[2015-02-27 23:13] kcondon commented on #1182
Closing, edit/create/copy, it's all good.

[2015-02-27 23:13] #1182 closed

[2015-02-27 23:19] kcondon commented on #1501
@eaquigley @mheppler Featured dv's doesn't appear when no published dv's. Passing back.

[2015-02-27 23:22] kcondon opened #1542 "Log in: Not specifying a password results in null ptr error in log file."
Seeing as this was reported for create account, reporting it for log in too.

[2015-02-27 23:24] kcondon commented on #1496
Fixed, closing

[2015-02-27 23:24] #1496 closed

[2015-02-27 23:25] kcondon commented on #1494
Works, closing

[2015-02-27 23:25] #1494 closed

[2015-02-27 23:28] kcondon commented on #1490
In place, closing

[2015-02-27 23:28] #1490 closed

[2015-02-27 23:29] kcondon commented on #1488
Closing, will keep an eye out for weirdness.

[2015-02-27 23:29] #1488 closed

[2015-02-27 23:31] kcondon commented on #1486
Looks good, weirdness has been banished. Closing.

[2015-02-27 23:31] #1486 closed

[2015-02-27 23:33] kcondon commented on #1478
Looks good, closing

[2015-02-27 23:33] #1478 closed

[2015-02-27 23:36] kcondon commented on #1487
Works now, closing

[2015-02-27 23:36] #1487 closed

[2015-02-27 23:37] kcondon opened #1543 "Delete File: Can't delete a restricted file where access has been granted."
Trying to delete a restricted file when access has been granted fails with error in server log. File appears to be removed from file table but remains on edit files view. Cancel shows file was not deleted.

Error in log:

[2015-02-27T18:35:01.122-0500] [glassfish 4.1] [INFO] [jdbc.unable_to_set_client_info] [javax.enterprise.resource.resourceadapter.com.sun.gjc.spi] [tid: _ThreadID=46 _ThreadName=

[2015-02-27 23:40] kcondon commented on #1484
Children inherit from parent. Closing

[2015-02-27 23:40] #1484 closed

[2015-02-27 23:44] kcondon commented on #1428
Error fixed but now cannot find datasets with this subject. Passing back to fix adv search/index.

[2015-02-28 02:22] landreev commented on #1184
Should be working now.
Note that the 4 success messages above (assign thumbnail; assign tab file tag; restrict file(s); delete file(s);) appear after the action is performed, while still in the edit mode of the files tab.
Once the user clicks save, the final, and more generic, "successfully updated" message will appear.

[2015-02-28 03:33] scolapasta commented on #1428
I tried on dvn-build. There is one study with this subject and when I did an advanced search, it was returned.

[2015-02-28 14:20] kcondon commented on #1428
OK, I see the issue. Both dv and ds have the same subject controlled vocab and I was accidentally searching on the dv controlled vocab.

________________________________
From: Gustavo Durand [notifications@github.com]
Sent: Friday, February 27, 2015 10:34 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Adv Search: Selecting subject field with & results in no results (#1428)

I tri

[2015-02-28 20:49] scolapasta commented on #1428
So is still an issue?

[2015-02-28 23:37] landreev commented on #1462
@mheppler
Mike,
I've added logic to the file card, for the "lock" and "unlocked lock" icons;
as of now, it's just showing text "(locked)" or "(unlocked)", depending on which one it is.
Could you please modify it to show your neat little icons instead?

[2015-02-28 23:42] landreev commented on #1462
@mheppler
Oh, I must have given you the wrong ticket.
Meant to give you #1457 instead.

[2015-02-28 23:43] landreev commented on #1457
@mheppler
Mike,
I've added logic to the file card, for the "lock" and "unlocked lock" icons;
as of now, it's just showing text "(locked)" or "(unlocked)", depending on which one it is.
Could you please modify it to show your neat little icons instead?

[2015-03-01 00:04] landreev commented on #185
@sekmiller
@eaquigley
@scolapasta
I just saw this ticket.
I don't know how to do this easily.
The whole thing about ingest is that it happens asynchronously, in the background.
Once it completes, the next time the page refreshes it will show the tworavens icon next to it... so that should give them an idea that they can now explore the data, etc.
But I don't immediately know how to detect the actu

[2015-03-01 01:41] landreev commented on #1462
( @mheppler : fyi )
Should be working as specified now:
If a user has no permission to download an image file, the thumbnail will not be shown either.
But, instead of a broken image or nothing at all, the type-specific default icon will be shown.

[2015-03-01 02:25] landreev commented on #1464
@mheppler
Mike, I added more image logic and modified the search fragment.
now it only displays a thumbnail on a dataset card if a non-default image is available.
otherwise it displays text "(no image available for dataset)".
Please replace this with your fancy vector image.
![screen shot 2015-02-28 at 9 23 57 pm](https://cloud.githubusercontent.com/assets/737558/6429186/36ef63fe-bf90-11e4-872e-81

[2015-03-01 02:45] landreev commented on #1465
@mheppler
Mike,
Similarly to #1464:
Added more image logic and modified the search fragment.
Now it only displays a thumbnail on a dataverse card if a non-default image is available.
otherwise it displays text "(no image available for dataverse)"
Please replace this with your fancy vector image.

[2015-03-01 16:40] michbarsinai commented on #1532
Super easy to do as long as the information we log is obtainable from the command interface (which may be the case). We just need to have the engine log each command it gets. There's a little caveat: User creation is not done via commands, as not DvObjects are involved. But - it's done on a single bean, so again, doable.

We do need a short spec-ing, just making sure we log the right things. Also,

[2015-03-01 17:04] michbarsinai commented on #983
(setting the creator field implemented locally, will push later)

[2015-03-01 17:25] posixeleni commented on #1399
Reviewed with @mcrosas @scolapasta @ekraffmiller :

If no author in the dataset:
Use Producer
ELSE do not show anything before date (hide N/A from the display)

Also, do not show N/A if there is no Title in the dataset. Show nothing.

Assigning to @scolapasta to assess dev effort required for this.

[2015-03-01 17:59] mcrosas commented on #1532
This is also important for our DataBridge project with UNC - worth thinking
about it and doing this soon @scolapasta

On Sun, Mar 1, 2015 at 11:40 AM, Michael <notifications@github.com> wrote:

[2015-03-02 01:46] landreev commented on #1463
Should be ready to QA.
To clarify: there's no new behavior to observe for this one.
There's new logic and new code in the back end, but the frontend behavior should stay the same:
when you upload files and are still in temp view (before clicking save), there should be thumbnails with the word "preview", for files where a thumbnail could be generated; and a neat vector icon otherwise.

[2015-03-02 02:46] landreev commented on #1017
Changed the subject of the ticket.

[2015-03-02 02:51] landreev commented on #1017
While there is more or less a consensus re: running websocket requests through apache proxy being a bad idea; the alternatives are really numerous:
1) mod_proxy_wstunnel is only one of them;
2) mod_pywebsocket is another;
3) haproxy... and more alternatvies still
4) simply running atmosphere on a different port, and bypassing the proxy altogether is yet another possibility - something I actually w

[2015-03-02 05:20] landreev commented on #185
@sekmiller
@eaquigley
@scolapasta

OK, I was able to think of a quick way to trigger a success message on ingest completion.
I slightly modified the message in the bundle (above):
"The file(s) have been successfully ingested. You can now explore them with TwoRavens or download them."
- added "... download them in alternative formats"... (you can download a file before tabular ingest is complete).

[2015-03-02 15:12] eaquigley commented on #1365
Icons are now in Dataverse 4.0 so linked icons are displaying on search/browse cards when they are linked in a dataverse.

[2015-03-02 15:22] ekraffmiller commented on #1498
@posixeleni @eaquigley @scolapasta - I updated the contact form so that if no dataverse-level contact is available, it goes to the general support email.  (I'm assuming that this should happen only rarely).

[2015-03-02 15:23] scolapasta commented on #1505
@landreev can you see if this is something straightforward?

[2015-03-02 15:29] scolapasta commented on #1461
@rtreacy we just need to update the alias validation to not allow just a number.

[2015-03-02 15:31] pdurbin commented on #1461
I'm fine with whatever for 4.0 but @bencomp and I discussed this the other day and I was saying "maybe we could let people tell the app if there providing an alias or a database id... /api/dataverses/alias/5 vs /api/dataverses/id/5 ... could support both rather than requiring that aliases not be only numbers" at http://irclog.iq.harvard.edu/dataverse/2015-02-23#i_16492

[2015-03-02 15:35] mheppler commented on #1465
Added icons for restricted and restricted with access to file cards. Added default icons for dataverse and dataset to the preview for cards. Cleaned up markup and moved CSS to stylesheet.

[2015-03-02 15:36] mheppler commented on #1464
Added icons for restricted and restricted with access to file cards. Added default icons for dataverse and dataset to the preview for cards. Cleaned up markup and moved CSS to stylesheet.

[2015-03-02 15:36] ekraffmiller commented on #766
I wasn't able to recreate this - I removed the persistentUrl from dataset-create-new.json, and was able to successfully create a dataset on dvn-build.  @kcondon , maybe there is a problem with the json you are using?

[2015-03-02 15:36] mheppler commented on #1457
Added icons for restricted and restricted with access to file cards. Added default icons for dataverse and dataset to the preview for cards. Cleaned up markup and moved CSS to stylesheet.

[2015-03-02 15:36] eaquigley opened #1544 "Linked Datasets & Dataverses: Make for only super users"
For 4.0 release, this will be a feature that can only be done by a superuser. 4.0.1 or 4.0.2 will have linked dataverses/datasets make their triumphant return WITH unlinking and a management page.

[2015-03-02 15:36] michbarsinai opened #1545 "Remove the DvContainer table"
As it currently only has ids, and adds nothing.

[2015-03-02 15:37] scolapasta commented on #647
We are no longer seeing this since the weld update.

[2015-03-02 15:37] #647 closed

[2015-03-02 15:40] scolapasta commented on #185
Since the ingest failure does have the red triangle, we do make the user aware of this state.

We may need to revisit once users have used the system more, but for now we can close this.

[2015-03-02 15:45] posixeleni opened #1546 "Add Distribution Date as a Metadata Field in Citation Block"
After some discussion w/ @mcrosas @scolapasta @ekraffmiller we will be adding Distribution Date as an editable metadata field and will make sure all previous studies that used this field will have that date migrated over successfully. Adding this to the Citation metadata block tsv file.

We also discussed that for the migration and for Dataverse 4.0 and on: the Publication Year in the Data Citatio

[2015-03-02 15:50] michbarsinai commented on #1316
This happened to me when the solr index was out-of-date. Maybe we should add a test for the dataverse being `null`, and then issue a -reindex message, while displaying an "index being updated" fragment in the UI.

[2015-03-02 15:54] mheppler commented on #1538
Changed button to read "Cancel" on Link Dataset popup on the dataset page.

[2015-03-02 16:02] scolapasta commented on #1414
It also doesn't prompt when downloading alternate formats.

[2015-03-02 16:04] posixeleni opened #1547 "Privacy Policy - Storing & Displaying Harvard Privacy Policy"
The Harvard Dataverse installation will need to have the Site Privacy Policy stored in either an HTML page or in the DB for our installation. The site Privacy Policy is specific to Harvard's installation: https://www.dropbox.com/s/azsnb9dfle2jbh6/HarvardDataverse_PrivacyPolicy_Final.docx?dl=0 (note: this is just a temporary location for this doc to have it easily accessible (GitHub doesnt allow fi

[2015-03-02 16:05] mheppler opened #1548 "Browse - Files - Logged Out"
I got a weird view of my local dataverse, when I was automatically logged out on a deploy.

![screen shot 2015-03-02 at 9 59 15 am](https://cloud.githubusercontent.com/assets/687227/6444497/e68bc140-c0cb-11e4-8566-f4b4dcb68cd9.png)

It's got a message about logging in, but then it also displays the facets, paginator, results counter, etc. -- just no files.

But, if I browse to the page normally, I

[2015-03-02 16:11] pdurbin commented on #1548
I saw it with my own eyes at http://mheppler.pagekite.me/dataverse/mheppler?id=2&q=&types=files&sort=release_or_create_date_dt&order=desc&page=3

Weird. Obviously, "21 to 12 of 12 results" makes no sense either.

[2015-03-02 16:21] mheppler commented on #1547
Don't this should go in the HTML. Giving to Gustavo to decide how to dynamically store this.

[2015-03-02 16:41] pdurbin commented on #702
The plan is to use the `@Asynchronous` annotation in the same way it's used at processFilePath at https://github.com/IQSS/dataverse/blob/e3d7d0daf75215b72023e2a7f63c7d0a968783d3/src/main/java/edu/harvard/iq/dataverse/api/BatchServiceBean.java#L31

[2015-03-02 16:55] posixeleni opened #1549 "Create a Custom Metadata Block for Murray Archive"
After speaking with @sbarbosadataverse we decided the best way to preserve browsing of MRA collections is to make them into their own Metadata Block with a controlled vocabulary based on the 3.6 collection. Will check this in as a new custom metadata block.

For migration: @scolapasta could we easily map the collection names from 3.6 to this new metadata field based on matching controlled vocabula

[2015-03-02 16:55] mheppler commented on #1528
Changed PrimeFaces component to JSF h:selectOneMenu component in order to fix display of long dataverse names in dopdown for Link Dataset popup on dataset page.

[2015-03-02 16:58] posixeleni commented on #1549
@pdurbin @kcondon when I check this in (along with #1546) it will require a schema.xml update and a db drop for it to display and work in the GUI

[2015-03-02 16:59] michbarsinai commented on #976
Just make sure we can make it a config issue.
Add index-all call.

[2015-03-02 17:02] michbarsinai opened #1550 "API: Move dv to dataverses"

[2015-03-02 17:44] pdurbin opened #1551 "Shibboleth: make use of redirectPage logic for shib users"
"Implement redirect logic for when a user logs in or signs up when they aren't on the homepage" was developed in #869 but only **builtin** users benefit from it. It would be nice if Shibboleth users got the same feature.

For Shibboleth, we'd need to pass the "redirectPage" parameter and value (i.e. redirectPage=%2Fdataverse.xhtml) to the Shib Identity Provider (IdP) and have the IdP return it to

[2015-03-02 18:05] pdurbin commented on #1111
As of b6b73f3 Shib users are redirected to the "pretty" URL for the homepage (http://localhost:8080/dataverse/root). There are three possible ways to end up there:

- When you log in with an existing Shib account
- When you log in as part of creating a Shib acount
- When you log in as part of converting a Shib account (#796)

In looking at this @scolapasta and I noticed that Shib users do not bene

[2015-03-02 18:15] pdurbin commented on #1549
@posixeleni in that case, please consider making your changes in a branch.

[2015-03-02 18:31] michbarsinai commented on #1481
[x] Change the name to be Identifier
    [x] Change Friendly Name to be Group Name
    [x] Text for Identifier about which characters can and cannot be used (tool tip)
    [x] Add in inline error messages for this
    [x] Overall validation messages for this feature

[2015-03-02 18:35] michbarsinai commented on #1481
Over to QA. Once done, please send over to Mike for UI cleanup.

[2015-03-02 18:43] posixeleni commented on #1549
@pdurbin Setup a Metadata-Beta14 branch for these changes. So you can do schema.xml update. How would we merge these changes back into the master? Or would I just check these into the master if it works ok in the branch?

[2015-03-02 18:43] posixeleni commented on #1546
@pdurbin Setup a Metadata-Beta14 branch for these changes. So you can do schema.xml update. How would we merge these changes back into the master? Or would I just check these into the master if it works ok in the branch?

[2015-03-02 18:54] kcondon commented on #1538
OK, works, closing.
@mheppler What happened to the success message?  Opening new ticket

[2015-03-02 18:54] #1538 closed

[2015-03-02 18:56] kcondon opened #1552 "Linked Dataset/Dataverse: No success message after link."
Not sure whether there ever was a success message but seems like there should be for both dv/ds linking.

[2015-03-02 19:20] kcondon commented on #1531
Looks good, closing

[2015-03-02 19:20] #1531 closed

[2015-03-02 19:21] kcondon commented on #1528
Looks good, closing

[2015-03-02 19:21] #1528 closed

[2015-03-02 19:23] kcondon commented on #1508
Looks good, closing

[2015-03-02 19:23] #1508 closed

[2015-03-02 19:23] pdurbin opened #1553 "Document handling of "subject""
Looking into #1430 revealed that behavior with regard to `dcterms:subject` in SWORD has changed from 3.6 to 4.0. In 3.6 this field mapped to `keyword`. Now it maps to both `keyword` and `subject` with special processing if the value matches the controlled vocabulary. This should be documented.

[2015-03-02 19:28] sekmiller commented on #1048
Now if a user tries to go back to inherit metadatablocks he will get a warning pop-up.  Going to custom does not trigger a warning.  User should be able to cancel the pop-up and revert to original state.
New build required for testing

[2015-03-02 19:30] kcondon commented on #1491
OK, works. If parent also inherits, it lists the top level that it will inherit from. Not sure if that is meaningful but ok. Closing

[2015-03-02 20:16] pdurbin opened #1554 "SWORD: "Replacing metadata for a dataset" broken, throws exception"
While working on #1430 I tested the SWORD function "replacing metadata for a dataset" as documented at http://guides.dataverse.org/en/latest/api/sword.html#replacing-metadata-for-a-dataset and it's not working. I throws the OptimisticLockException below.

Here's the curl command I was using to test:

`curl --insecure --upload-file scripts/search/tests/data/dataset-trees1-edit.xml -H 'Content-Type:

[2015-03-02 20:24] sekmiller commented on #1501
Now if there are no published DVs the user may click on Featured Dataverse Link and will get a warning Pop-up saying You must have a published dataverse in order to feature it.

Build rehired for testing

[2015-03-02 20:38] pdurbin commented on #1430
As @scolapasta and I discussed SWORD was **always** adding a subject field even if one exists, resulting in a corrupt dataset. (Should the CreateDatasetCommand refuse to create a corrupt dataset? Probably.) As of 1bc8772 SWORD checks first if there's an existing subject field before adding one.

I'm not sure what the behavior is if you try to **edit** the subject and/or keyword via SWORD and when

[2015-03-02 20:40] sekmiller commented on #1524
Fixed and ready for testing after a new build

[2015-03-02 20:44] ekraffmiller commented on #1502
This is ready for styling fixes now, passing on to @mheppler

[2015-03-02 20:50] michbarsinai commented on #1405
Fixed. Also updated the builtin user signup page to show an error message (username already taken) when the username attempts to create a username that's already taken.

[2015-03-02 21:03] pdurbin commented on #1539
@kcondon I can't reproduce this. Not locally and I even ran a build on https://apitest.dataverse.org where a dataset is deleted as part of a post-deploy test. I don't see any cards. Can you please help me reproduce it? Passing back to you.

[2015-03-02 21:19] pdurbin commented on #1432
@kcondon you're absolutely right. Please try https://github.com/IQSS/dataverse/blob/master/conf/solr/4.6.0/stopwords_en.txt where I've removed "no" as a stop word. You'll need to stop Solr, replace the file, and, start Solr again, and re-index.

After this I was able to find "Is the original code available?: No" with a search for "no". From a Solr perspective, the field being matched was `"PSRI2":

[2015-03-02 21:28] sekmiller commented on #1475
Fix has been checked in.  Must make a new build to test.  To verify, make sure that if the number of files remains the same, but the files themselves have been changed it will force a major release.  Deleting and re-adding the same file may also trigger a major release.  (Not sure if there's any way around that one - probably a minor use case issue.)

[2015-03-02 22:14] sekmiller commented on #1399
Fix is checked in and will be available for testing after the next build.

[2015-03-02 23:06] pdurbin commented on #457
We're going with the former. Datasets are created by users which I think is what @posixeleni meant by "admin name for the account". Basically, we're making SWORD work like the UI where if you're logged in as Sabrina Spruce the "depositor" will be with the last name first like "Spruce, Sabrina".

Passing to QA.

[2015-03-02 23:11] kcondon commented on #1539
Happens in UI, not API. Passing back.

[2015-03-02 23:34] pdurbin commented on #1539
I can reproduce the bug when I create a dataset in the root dataverse but not any child dataverse.

[2015-03-03 00:16] mheppler commented on #1502
Cleaned up the Feedback link in navbar, and Email Dataset/Dataverse Contact button on respective pages. Cleaned up contact form layout, styled send button, validation messages.

[2015-03-03 00:16] pdurbin commented on #1539
The deleteMultipleSolrIds method wasn't calling `commit`. Now it is. Passing to QA.

[2015-03-03 01:06] michbarsinai commented on #1512
Cause: Group membership calculations did not effectively take DvObject containment hierarchy into account.

[2015-03-03 01:46] michbarsinai commented on #298
To be converted:
* Access - DONE
* Browse (what's that?)
* Config
* DatasetFieldServiceApi
* index
* mail
* meta
* Search
* SearchFields

[2015-03-03 02:39] michbarsinai commented on #298
Current state: Meta is the only one left.

[2015-03-03 13:40] pdurbin commented on #1405
Since this change I'm getting very strange results. I enabled `setup-optional.sh` to create pete, uma, and friends and they are not being persisted to the authenticateduser table (though "admin" is):

[code]

I'm also getting these exceptions (I'm on 1d25d8c if you want to look at line numbers), probably when the "optional" script is trying to create dataverses for pete and friends:

[code]

Passi

[2015-03-03 15:04] bencomp commented on #1532
Here are three hypothetical use cases. They may not apply to every installation, but I think they are general enough to say that they could.

## Use case: data librarian checks that data was deleted

Our users generally won't use Dataverse for long term storage, so following certain procedures, some dataverses or datasets will be removed or moved to another system. A researcher wants to see that t

[2015-03-03 16:54] ekraffmiller commented on #1530
this ticket is covered by the general ticket for completing/updating all the Contact Us forms - #1502

[2015-03-03 16:56] ekraffmiller commented on #1327
completed as part of ticket #1502

[2015-03-03 17:10] mheppler opened #1555 "Login Page - Clean Up Form"
The spacing of the labels needs to be cleaned up, to have a little more breathing room.

[2015-03-03 17:10] michbarsinai commented on #1408
This does not seem connected to the IP groups - some instances of this stack trace appear with no connection to the missing request metadata.

Also, note that there's no `edu.harvard....` classes in the stack trace - it's all internal stuff.

Assigning back to @scolapasta, this may need a more systems-based approach.

[2015-03-03 17:10] mheppler commented on #1555
Cleaned up the login form.

[2015-03-03 17:26] kcondon commented on #1516
This is happening again on build with the patch applied. Reopening.

[2015-03-03 17:42] pdurbin commented on #1549
@posixeleni as I mentioned I'm getting errors when I try to load up https://github.com/IQSS/dataverse/blob/4318f1a018bddb8cb978a9e0d5ced608e178f8f9/scripts/api/data/metadatablocks/citation.tsv

[code]

@scolapasta said he could take a look so I'll give this to him.

[2015-03-03 17:45] pdurbin commented on #1549
p.s. This is not the master branch. This one: https://github.com/IQSS/dataverse/tree/metadata-beta14

[2015-03-03 17:58] ekraffmiller commented on #833
@posixeleni , just FYI, here is a snippet of DDI data, to give you an idea of how I will be looking up custom fields in the table we talked about:
    <notes type="DVN:EXTENDED_METADATA" subject="TEMPLATE:Contains Custom Fields;FIELD:Customfield1">This is a plain text input field 1</notes>
            <notes type="DVN:EXTENDED_METADATA" subject="TEMPLATE:Contains Custom Fields;FIELD:Customfield1">

[2015-03-03 17:59] posixeleni commented on #1549
@pdurbin issue should be resolved with citation.tsv file. It was missing a necessary value at the very end of the table. Checked a fix in so it should be working now.

Sorry!

[2015-03-03 18:03] scolapasta commented on #1549
@pdurbin if this is fixed, since other branch, feel free to just close.

[2015-03-03 18:05] posixeleni commented on #1549
@scolapasta but wouldnt we want to merge this branch or have me re-commit this citation.tsv to the master branch?

[2015-03-03 18:28] mheppler opened #1556 "componentStyles.css - REMOVE: Unused"
This stylesheet was added over a year ago, relating to the old roles UI, but is no longer used in the project.

[2015-03-03 18:31] mheppler commented on #1556
Removed old, unused "componentStyles.css" from project, and references to it in the template pages.

[2015-03-03 18:34] mheppler opened #1557 "main.css - REMOVE: Unused"
This is an old, unused stylesheet that related to the header, that is no longer used.

[2015-03-03 18:40] mheppler opened #1558 "Widget iframe -- Missing Custom Font CSS"
Update the iframe.xhtml to be uniform with the dataverse_template.xhtml, to include fontcustom.css link in head tag.

[2015-03-03 18:41] mheppler commented on #1558
Added link to iframe.xhtml for the fontcustom.css.

[2015-03-03 18:42] #1491 closed

[2015-03-03 19:27] mheppler opened #1559 "Dataverse Popup - Clean Up UI/Markup"
Style the messages and clean up button spacing on dataverse related popups.

- [x] Publish
- [x] Featured Dataverses
- [x] Linked Dataverse
- [x] Metadata Reset Modification

[2015-03-03 19:27] pdurbin commented on #298
@michbarsinai sorry but as I mentioned in 7cde601 I'm not ready to change from String to Response in api/Config.java

[2015-03-03 19:58] kcondon commented on #1558
Verified widgets continue to work, closing

[2015-03-03 19:58] #1558 closed

[2015-03-03 20:05] kcondon commented on #1557
Templates still working, no other changes noticed. Closing.

[2015-03-03 20:05] #1557 closed

[2015-03-03 20:08] pdurbin commented on #551
@scolapasta informed me that (unlike DVN 3.x) Dataverse 4.0 does not have Deposit Terms of Use. We'll have some form of API Terms of Use, it seems.

[2015-03-03 20:09] kcondon commented on #1556
OK, roles and templates still working, closing.

[2015-03-03 20:09] #1556 closed

[2015-03-03 20:11] kcondon commented on #1555
Plenty of breathing room, closing

[2015-03-03 20:11] #1555 closed

[2015-03-03 20:14] pdurbin commented on #1517
Solr schema updated. Passing to QA.

[2015-03-03 20:15] kcondon commented on #1502
Looks good, closing

[2015-03-03 20:15] #1502 closed

[2015-03-03 20:16] mheppler commented on #1559
Cleaned up popups layout, message formatting on dataverse page.

[2015-03-03 20:18] pdurbin commented on #1546
Merged! And I committed a new Solr schema.xml. Passing to QA.

[2015-03-03 20:18] kcondon commented on #1530
Fixed, closing

[2015-03-03 20:18] #1530 closed

[2015-03-03 20:19] pdurbin commented on #1549
All set. @posixeleni pushed a fix to the branch and there I updated the Solr schema.xml and merged to master. Passing to QA.

[2015-03-03 20:19] michbarsinai commented on #298
Current state:
apiConfig has to stay as is for now.
meta will probably be merged to Access. At any event, can't change until TowRavens are updated as well.

Assign to @scolapasta - this can be closed, I think.

[2015-03-03 20:42] mheppler commented on #1527
Changed textarea for Terms of Use to be readonly.

[2015-03-03 20:47] eaquigley commented on #1547
spoke with @mcrosas and the privacy policy will live in the docs under Best Practices->Harvard Dataverse Policies. Additionally, have Dataverse Account Terms of Use and Sample Data Usage Agreement documents live here.

Privacy Policy will have a link in the footer of the Harvard Dataverse Installation that will point to the sphinx doc for this.

[2015-03-03 21:01] scolapasta commented on #1461
We considered that approach as well, but I like the idea of not having an alias be a number. (and being able to use the same API interchangeably).

[2015-03-03 21:02] kcondon opened #1560 "API: New script is misspelled on filesystem: post-install-api-block.sh is spelled post-intall-api-block.sh"
API: New script is misspelled on filesystem: post-install-api-block.sh is spelled post-intall-api-block.sh

[2015-03-03 21:06] kcondon commented on #1539
Works, closing

[2015-03-03 21:06] #1539 closed

[2015-03-03 21:08] kcondon commented on #1527
Fixed, closing

[2015-03-03 21:08] #1527 closed

[2015-03-03 21:10] kcondon commented on #1560
Script now correct, closing.

[2015-03-03 21:10] #1560 closed

[2015-03-03 21:20] kcondon commented on #1559
Looks good, closing

[2015-03-03 21:20] #1559 closed

[2015-03-03 21:21] eaquigley commented on #1426
@kcondon I've been updating the display names for the roles and will be adding in descriptions as well. Here is a doc with more information for you when you go to test: https://docs.google.com/document/d/11LuKLswjhGcSdzcFCXdeLgFFrtJ8OrTFfFlFuI3nRLk/edit?usp=sharing

[2015-03-03 21:34] michbarsinai commented on #976
See explanation at post-install-api-block.sh for full description of the new API blocking options.

[2015-03-03 21:36] kcondon opened #1561 "Facets: Double rainbows! Two Less links: click one and then see another one."
Check out this dv, click less link under Murray facet, see another less link.
https://dvn-build.hmdc.harvard.edu/dataverse/m2

[2015-03-03 21:44] michbarsinai commented on #455
Closing, as agreed with @scolapasta.
Now that #976 is done, APIs either use permissions or can be blocked.

[2015-03-03 21:44] #455 closed

[2015-03-03 21:55] kcondon commented on #1549
Murray block works, has one new field with controlled vocab that represents the current production collections. All are facetable, searchable.

[2015-03-03 21:57] michbarsinai commented on #1383
Of course. That's not the issue.

In the UI, we have these areas, metadata and licensing as separate areas. So we can check for permissions before even allowing someone to click edit (and the edit forms are separate.

But through the API, it's all just part of the datasetversion object (either as meteadata fields or as properties directly on the datasetversion). And right now there is one command

[2015-03-03 22:03] scolapasta commented on #1547
Similar to terms of access, should be a setting in the settings table and then add a link to the footer that uses the setting. The value if that setting will be gotten from @posixeleni

[2015-03-03 22:04] pdurbin commented on #973
That commit was 2467468 and after it I can't edit datasets via SWORD, which I reported in #1554

Locally, I backed up to the commit before (811fd5b) and I **can** edit datasets with SWORD.

[2015-03-03 22:09] kcondon opened #1562 "Dataset: Date validation is no longer happening."
Dataset: Date validation is no longer happening for any date field.

[2015-03-03 22:13] kcondon commented on #1546
Field is editable, searchable. Validation is broken at the moment but opened as a separate ticket. Closing

[2015-03-03 22:13] #1546 closed

[2015-03-03 22:21] kcondon commented on #1523
Looks good, closing

[2015-03-03 22:21] #1523 closed

[2015-03-03 22:29] kcondon commented on #1517
Works, closing

[2015-03-03 22:29] #1517 closed

[2015-03-03 22:40] kcondon commented on #1327
OK, formula in place, varies, complains about wrong answers. Closing

[2015-03-03 22:40] #1327 closed

[2015-03-03 22:42] mheppler opened #1563 "Dataverse - Edit General Information - Metadata Fields/Select Facets Improvements"
- [x] Label for the section should be an item (noun) and capitalized, like "Browse/Search Facets", and not an action ("Select facets")
- [x] "Uncheck" action text needs to move from the checkbox label to the help text, "Uncheck to pick the metadata fields to use as facets for browsing datasets and dataverses in this dataverse."
- [x] Label for checkbox should just read, "Browse/Search Facets from

[2015-03-03 22:43] michbarsinai commented on #1532
Decisions so far:

* Log records go to a log record table.
* No API/UI for 4.0
* No truncation/log rotation policy for 4.0. It will be added in a 4.0.x release; meanwhile, rotation and archiving can be done via sql commands.
* On by default, can be turned off using the `settings` mechanism

[2015-03-03 22:45] sekmiller commented on #1544
New Build required for testing

[2015-03-03 22:46] michbarsinai commented on #1532
Log record:
* Timestamp start
* Timestamp end
* type (command, user, etc)
* User
* Info
    * for commands: affectedDvObjects
    * for user creation: username
* result (OK, BadRequest, PermissionError, InternalError)

[2015-03-03 22:47] sekmiller commented on #1414
Fixed for alternate formats and explore (minor issue with two ravens not opening in new window after popup will be a separate issue)

new build required for testing

[2015-03-03 22:49] eaquigley commented on #1520
@posixeleni is there a way to change this in Sphinx or is just the way the cookie crumbles?

[2015-03-03 22:50] sekmiller opened #1564 "Explore Button does not open a new page for Two Ravens if TOU or Guestbook is required"
If Terms of use or Guestbook is required the Two Ravens explore button does not open in a  new window.

review for beta 14

[2015-03-03 22:51] eaquigley commented on #1561
This should say More not Less to begin with so it seems that something has happened and the More link has disappeared and is now Less.

[2015-03-03 22:52] sekmiller commented on #1562
Date validation is happening in general.  There is an issue with "year only" accepting alpha-numeric entries.  Will investigate

[2015-03-03 22:53] posixeleni commented on #1520
@eaquigley this is actually an issue with the nav bar on dataverse.org hiding the part of the page that we anchor to. @mheppler any suggestions ?

[2015-03-03 22:55] pdurbin commented on #1554
As I noted at https://github.com/IQSS/dataverse/issues/973#issuecomment-77046495 from what I can tell the ability to edit dataset metadata via SWORD broke with the switch from the importXML method on foreignMetadataImportService to importGenericService in ContainerManagerImpl.java. If I use the old method, the test (disabled for now) I just wrote at https://github.com/IQSS/dataverse-apitester/comm

[2015-03-03 22:56] eaquigley commented on #972
@kcondon passing this back to you to test and see if the fixes are now working.

[2015-03-03 22:59] mheppler commented on #1520
@eaquigley @posixeleni -- Not sure how to fix this. I will have to take a look at the Sphinx docs.

[2015-03-03 23:05] kcondon commented on #1520
Anchor higher up?
________________________________
From: Michael Heppler [notifications@github.com]
Sent: Tuesday, March 03, 2015 5:59 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Community Norms Link: Link does not take user to top of the page or to that section label. (#1520)

@eaquigley<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_eaquigley&d=BQMCaQ&c=WO-R

[2015-03-03 23:06] mheppler commented on #1520
I am changing the title, and expanding this to cover all links in the guides that come from the app.

[2015-03-03 23:06] eaquigley commented on #1183
Passing to a post 4.0 milestone as API Tokens need to be worked on more before these messages can be put in.

[2015-03-03 23:07] eaquigley opened #1565 "Account Information: Terms of Use Appearing"
On Edit Account Information and Edit Password pages, the Terms of Use and Terms of Use Checkbox are now appearing.

[2015-03-03 23:14] eaquigley opened #1566 "Featured Dataverses: Remove Display Dataverses Checkbox"
Remove display dataverses checkbox and have the logic be that if a user moves one dataverse into the selected column, the featured dataverses display on the homepage.

[2015-03-03 23:16] kcondon commented on #762
Works, closing. I'll test any unrelated issues in their respective unrelated tickets.

[2015-03-03 23:16] #762 closed

[2015-03-03 23:17] mheppler commented on #1561
Fixed duplicate (Double Rainbow!) "Less..." link text in browse/search facets.

[2015-03-03 23:23] eaquigley opened #1567 "Title Tags: Not Appearing in the UI"
From UI review on 2/26. Title tags don't appear in the UI at all. Will need these for icons in the search/browse cards as more are added in the upper right.

[2015-03-03 23:25] eaquigley opened #1568 "Dataset Page UI Changes/Updates"
- [x] Make citation block background a bit lighter
- [x] Keyword tool tip broken when displayed above the tabs

[2015-03-03 23:27] eaquigley opened #1569 "Dataset Page: View Published/Unpublished Button"
Switch from the button it currently is and change it to be a button with a dropdown that shows all versions for a user to be able to select from.

[2015-03-03 23:28] eaquigley opened #1570 "Tooltips: Change Pointer from Hand to Arrow"

[2015-03-03 23:28] eaquigley opened #1571 "Help Text: Change from Blue to Gray"
In the Dataverse General Information edit form, the help text for Metadata Fields and "Select Facets" (soon to be "Browse/Search Facets") is blue, the same as the link on the site. Change this to the help text gray that is being used through out the rest of the site.

This blue help text is also found on:
- [x] API Token
- [x] Dataverse, General Information

[2015-03-03 23:29] eaquigley opened #1572 "Advanced Search: Add Chevrons to Panels"
- [x] Also, panels are blinking before you close them. Not sure if you can fix this.

[2015-03-03 23:32] eaquigley opened #1573 "General Information: Indent Compound Fields Attributes for Metadata Fields"

[2015-03-04 13:50] bencomp commented on #1518
I noticed it too, and don't think it makes sense to have it there. I guess @kcondon means it should not be - if so, I agree.

[2015-03-04 14:10] michbarsinai commented on #1532
To test, look in the actionlogrecord table.

[2015-03-04 14:12] bencomp opened #1574 "System and superuser information and settings can only be read/changed via API"
As a DVN 3.6 network administrator, I have grown used to the Dataverse Network Options GUI. System-wide settings such as superuser management, classifications and controlled vocabularies, harvesting settings and persistent identifier utilities are accessed through this GUI.

Although some current DVN 3.6 functionality is implemented differently in Dataverse 4, settings like the ones mentioned abov

[2015-03-04 14:18] pdurbin commented on #1574
Unrelated to settings but related to a GUI for superusers, I've been thinking there should be some UI for superusers to be able to see the status of Solr, especially if it's in sync with the database or not. For more thoughts on this see https://docs.google.com/document/d/1EGXOdvudBL3xhRpFaqAq1s9Zizm1jgVXwtO9FhAQKxc/edit?usp=sharing

[2015-03-04 14:46] pdurbin commented on #1547
I added a place in the settings to store the privacy policy and documented how to populate it: http://guides.dataverse.org/en/latest/installation/installation-main.html#applicationprivacypolicy

[2015-03-04 15:20] posixeleni commented on #1549
Re-opening for @scolapasta to help us figure out how we can automate the mapping of the Murray Collections from 3.6 to this new facet.

[2015-03-04 15:25] mheppler opened #1575 "Search Keyword Highlight -- Mulitiple "Description Text" Highlight Hits"
On a search of "twice", the search card highlights gave me three returns of the Description Text field. (See attached.)

Here is the single description from the dataset.

[code]
![screen shot 2015-03-04 at 10 25 04 am](https://cloud.githubusercontent.com/assets/687227/6486415/bdd6fb82-c258-11e4-8bd6-b46a782d9fdd.png)

[2015-03-04 15:34] ekraffmiller commented on #833
@pdurbin , can you update the solr schema for the new custom fields that Eleni has added in the tsv files?

[2015-03-04 15:37] pdurbin commented on #1547
@mheppler as I showed you on https://apitest.dataverse.org I added a link in the footer that reads from the database the contents of a file that has been pushed into the database like this:

curl -X PUT -d@/Users/pdurbin/Desktop/privacy-policy.html http://localhost:8080/api/s/settings/:ApplicationPrivacyPolicy

I don't think the link works the way @scolapasta wants though so over to you to figure

[2015-03-04 15:39] sekmiller opened #1576 "Removing Metadata Blocks from Dataverse: How should this effect Templates in the DV?"
If a DV removes a metadata block but existing Datasets have data from the removed block that data will be viewable by all (with permissions) and at edit time all of the fields associated with that block will be available for edit.  What should be done for Templates?

[2015-03-04 15:49] pdurbin commented on #833
@ekraffmiller @posixeleni I can but I'm having trouble finding the commit. I don't see it in master or any branch.

[2015-03-04 15:51] kcondon opened #1577 "File Upload: Selecting edit file categories has popup with no options and missing method error in log."
When I create a dataset, add files, then click on edit categories, popup appears with no options but with a save button enabled and an error about missing method in the logs:

[2015-03-04T10:49:08.511-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.webcontainer.jsf.lifecycle] [tid: _ThreadID=47 _ThreadName=jk-connector(2)] [timeMillis: 1425484148511] [levelValue: 900] [[
  Method set

[2015-03-04 15:51] posixeleni commented on #833
these custom fields have been around for months or several weeks so I am not sure I can locate a specific commit(s) for all of these

[2015-03-04 16:19] posixeleni commented on #1549
We will also need to figure this out for Journals so we map their Collections to the new Journals metadata block

[2015-03-04 16:51] mheppler commented on #1481
Clean up is complete. Need a few minor pieces done on the backend before it's ready for QA.

- [ ] Remove the info text that is displayed in both blue blocks on the popup, as that is now in a grey help-block under the input. The popup doesn't need any blue info blocks.
- [ ] I have added an asterisk next to Users/Groups, as I would assume that is required, but validation doesn't check to make sure

[2015-03-04 17:16] michbarsinai commented on #1481
Role assignees are not required, as groups can be empty. A good use case is when someone sets up a dataverse before all the user have joined.

[2015-03-04 17:46] mheppler commented on #1547
Cleaned up the layout of the Privacy Policy link in the footer of the dataverse_template. Moved remaining text to bundle, and inline CSS to stylesheet.

Passing to @posixeleni to let us know when Privacy Policy is added to Best Practices Sphinx site.

[2015-03-04 18:11] pdurbin commented on #1547
@mheppler the backend changes we talked about are done. The installer will put a default URL in (@posixeleni will be letting us know the final URL) and I updated the guides since I changed the "key" from ApplicationPrivacyPolicy to ApplicationPrivacyPolicyUrl.

@posixeleni if you want to update the final URL yourself, here are the two places:

- https://github.com/IQSS/dataverse/blob/00a63e9740dab

[2015-03-04 18:24] pdurbin commented on #551
This morning I talked on the phone for about an hour with Shuangjun Wang and Christopher Bavitz from Berkman about APIs and Terms of Use. Here are my notes: https://docs.google.com/a/harvard.edu/document/d/1497sGM827nYFAD5QVgWs9OAN2V5eom7xHGSmqea85CA/edit?usp=sharing

They're drafting something for us. It was a very nice chat.

@scolapasta it would probably be a good idea to expose the API Terms o

[2015-03-04 18:24] eaquigley opened #1578 "Linked files: Icons are appearing even if file isn't linked"
In the search/browse cards, the linked icon is appearing on all files.

From @mheppler:
I just tested locally, that linked files ARE displaying properly. The bug is that the icon is displaying for ALL files.
Here is the logic that I used to display the linked icon on the file cards.

<span class="glyphicon glyphicon-link text-muted pull-right" jsf:rendered="#{!result.parent.get('isInTree')}"/>

[2015-03-04 18:25] pdurbin commented on #833
@ekraffmiller is all set. She needed to update her Solr schema locally.

[2015-03-04 18:29] kcondon commented on #1469
Also download button for subsettable files is broken.

[2015-03-04 18:29] mheppler commented on #1563
Cleaned up the UI, labels, and help text on Dataverse Edit General Information.

Passing to @eaquigley to revise help text as needed.

[2015-03-04 18:53] mheppler opened #1579 "App Version Number - Move Out of DataverseServiceBean"

[2015-03-04 18:57] kcondon commented on #1481
@michbarsinai OK, look good. Notice it fails on dupe id but doesn't explain. Also doesn't require unique name but that results in duplicate names in assignment lists. I believe Gustavo has this task for users too, of adding id along with name in pick list.

[2015-03-04 19:00] #1481 closed

[2015-03-04 19:01] eaquigley opened #1580 "Guestbook Error: Not Recognizing Required Fields Have Been Filled Out"
This is happening:

![filledoutform](https://cloud.githubusercontent.com/assets/5922904/6490808/fbd56662-c276-11e4-9925-8cbd4136b0b8.jpg)

![error](https://cloud.githubusercontent.com/assets/5922904/6490803/f744dda8-c276-11e4-9396-e062184b0112.jpg)

[2015-03-04 19:19] kcondon opened #1581 "Groups: Issues with how we handle uniqueness: id, name."
In create group, duplicate ids are prevented with a general validation error but it doesn't indicate what went wrong.

Also, names can be duplicates but when assigning permissions it is not possible to determine which is which. This is the same issue we have with users that may be addressed by adding another piece of info such as id or email. Same could be done here. @scolapasta would have the lat

[2015-03-04 19:20] mheppler commented on #1444
Added static "Welcome to Dataverse" header and warning message to the Edit Password form on the Account page.

[2015-03-04 19:21] scolapasta commented on #1245
This is done, but might best wait to be tested until #1416 (also require validation related) is done.

[2015-03-04 19:21] mheppler commented on #1565
Changed the Terms of Use to only appear on "CREATE" workflow.

[2015-03-04 19:33] kcondon commented on #364
OK, other issues aside, basic validation is in place. Email validation is only intended to be basic, structural, rather than comprehensive.

Alias as a number is logged in another ticket.
Duplicate ids are flagged and invalid chars are too.
Can create duplicate dv names. I know this has come up in the past but not sure if we decided anything, will check.

Closing this ticket.

[2015-03-04 19:33] #364 closed

[2015-03-04 19:35] kcondon commented on #1287
@landreev Still seeing some left behind, passing back:
-rw-r--r--. 1 root   root     105000 Mar  4 09:27 tempTabfile.6450192626126296711.tab
-rw-rw-rw-. 1 rserve rserve   105291 Mar  4 09:27 dataverseTabData_.024285.tab
-rw-rw-rw-. 1 rserve rserve     5743 Mar  4 09:27 dataverseDataFrame_.024285.RData
-rw-r--r--. 1 root   root       5743 Mar  4 09:27 dataversePreprocess_024285.json
-rw-r--r--. 1 r

[2015-03-04 19:49] kcondon commented on #944
@landreev Still happens with small files but will close and see whether UX testing flags it as a problem. closing

[2015-03-04 19:49] #944 closed

[2015-03-04 19:58] sekmiller commented on #1578
Fixed and checked in. Build required.

[2015-03-04 20:00] mheppler commented on #1577
Passing to @sekmiller.

From Leonid, "the setFileMetadataSelected method now has an extra parameter on the DatasetPage backing bean and that is why the Edit Files Categories button isn't working, because it is only calling it with one parameter. Please see me if you have any questions."

[2015-03-04 20:02] scolapasta opened #1582 "Document how to create/alter individual setup script"
we will have a setup-harvard.sh script for our privacy policy, terms of use, etc. per #1587

[2015-03-04 20:38] scolapasta commented on #1383
In reviewing this, we realized it was simpler to just remove this extra permission and have one less role. Authors would still not be able to restrict a file until it was published - thay can restrict on a version draft, but a reviewer would need to confirm.

[2015-03-04 20:43] kcondon commented on #809
Yes, fails with red triangle and simply adding a variable row works. As for the tiny timing issue, this is tracked in another ticket relating to websocket and atmosphere. Closing

[2015-03-04 20:43] #809 closed

[2015-03-04 20:47] kcondon commented on #1226
closing due to above related issue being closed.

[2015-03-04 20:47] #1226 closed

[2015-03-04 20:47] posixeleni opened #1583 "Move Community Norms and Sample Data Usage Agreement Out of User Guide"
Discussed with @mcrosas & @eaquigley that Community Norms and Sample Data Usage Agreement should be moved to dataverse.org Best Practices > Harvard Dataverse Policies.

Once these are moved we will need to update the link in License + Terms of Use that points to "Community Norms"

[2015-03-04 21:07] scolapasta opened #1584 "Manage Permissions: Add Identifier for Users/Groups"

[2015-03-04 21:11] mheppler commented on #1573
Improved styling of compound fields in the "View fields + set as hidden, required, or optional" table in the Metadata Fields section of the Dataverse General Information form.

[2015-03-04 21:18] scolapasta commented on #1576
checked with @posixeleni , same logic as datasets

[2015-03-04 21:38] scolapasta commented on #1584
This needs to be added to all the autocompletes (assign role, create group, and grant (file) access).

The logic is:

                            <p:column>
                                <h:outputText value="#{roleAssignee.identifier}" />
                            </p:column>

But I imagine at this point it probably makes sense to use something other than 3 columns (or at least add text to ide

[2015-03-04 21:46] kcondon commented on #1466
OK works and with drop box too. Closing

[2015-03-04 21:46] #1466 closed

[2015-03-04 21:54] eaquigley commented on #1563
Passing to QA as I have updated the help text in the metadata fields and browse/search facets areas.

[2015-03-04 22:04] eaquigley commented on #1447
@kcondon I've added in the Submit datasets for review to the Editor role.

[2015-03-04 22:08] pdurbin commented on #702
I just made "index all" async with some ideas from @ekraffmiller (thanks!). Since indexing operations return a String with status such as "10 dataverses and 3 datasets indexed" or "Server refused connection at: http://localhost:8983/solr" I'd like to be able to return this String to the person who called "index all". The examples at http://docs.oracle.com/javaee/7/tutorial/ejb-async002.htm use Fut

[2015-03-04 22:50] pdurbin commented on #551
I went ahead and added key for `ApiTermsOfUse` in the settings table in 483931e8fd982cc832f05f340c4088264953788d per @scolapasta 's request and documented it but I'm getting strange results from a multi-line input file. It gets squished onto a single line like this:

`<collectionPolicy xmlns="http://purl.org/net/sword/terms/">This is line 1 of API terms.This is line 2 of API terms.This is line 3 o

[2015-03-04 23:12] mheppler commented on #1106
Added file size limit for logo upload in the Theme + Wdiget popup. Added help text to bundle. Moved CSS to stylesheet.

File size limit on upload: 500 kb
Logo max-width limit on display: 940px
Logo max-height limit on display: 120px

[2015-03-04 23:16] pdurbin opened #1585 "multi-line SWORD collectionPolicy (API Terms of Use) squished into a single line"
First reported at https://github.com/IQSS/dataverse/issues/551#issuecomment-77267924

I'm getting strange results from a multi-line input file. It gets squished onto a single line like this:

`<collectionPolicy xmlns="http://purl.org/net/sword/terms/">This is line 1 of API terms.This is line 2 of API terms.This is line 3 of API terms.</collectionPolicy>`

I'm not sure how to fix this. Here's the m

[2015-03-04 23:21] pdurbin commented on #551
@scolapasta and I agreed to make fixing this bug a post 4.0 activity so I created an issue: #1585

@posixeleni I'm going to give this ticket to you to collect the final API Terms of Use from Berkman, make sure it's in plain text (or HTML? ... plain text would probably be better since it's consumed by the API) and commit the file into git.

[2015-03-04 23:28] pdurbin commented on #1547
Actually, @scolapasta wants a render=false if no privacy policy link is configured and said to give this to @mheppler for that. Then back to @posixeleni please.

[2015-03-04 23:35] scolapasta commented on #1518
Dupe of #1565

[2015-03-04 23:37] pdurbin commented on #1575
Weird, I'm seeing it from the Search API too:

[code]

Maybe I introduced this in 20c304fa5be5c2b83089977e0e78d0db53fd0d17 for #1262

[2015-03-04 23:42] kcondon commented on #1465
OK, icons are in place and look good. Closing.

[2015-03-04 23:42] #1465 closed

[2015-03-04 23:47] pdurbin commented on #1575
Confirmed. By changing setHighlightSnippets from 1 to 10 I introduced this bug. I was trying to improve highlighting as I described at https://github.com/IQSS/dataverse/issues/1262#issuecomment-76231675

@scolapasta please let me know how much time you want me to spend on this.

[2015-03-04 23:51] mheppler commented on #1568
Changed background color of citation blocks on Dataset page and search-include to be a lighter blue. Moved CSS to stylesheet.

Passing to @sekmiller in order to look into the Keyword tool tip that isn't being delivered from the backend/tsv.

[2015-03-04 23:54] kcondon opened #1586 "Setup-all: Metadata block commands dumps more, less useful info."
Metadablock command would list controlled vocab, etc. Now dumps a huge amount of status info. Was this intentional?

Setup the metadata blocks
{"status":"OK","data":{"message":"NA value created."}}{"status":"OK","data":{"message":"File parsing completed:\n\nOutboundJaxrsResponse{status=200, reason=OK, hasEntity=true, closed=false, buffered=false} MetadataBlock added.\nOutboundJaxrsResponse{status=

[2015-03-04 23:57] mheppler commented on #1547
Added render logic for Privacy Policy link in the footer of dataverse_template page.
[code]

[2015-03-04 23:57] pdurbin opened #1587 "Refactor Harvard-specific settings out of setup-all.sh"
We'd like the Harvard-specific setup commands in their own script, commented out by default from setup-all.sh.

[2015-03-04 23:59] kcondon opened #1588 "Setup: post-install-api-block.sh does not have execute set by default like other scripts."
At the end of setup-all.sh it suggests we might run post-install-api-block.sh. However, when you run it, it says permission denied due to not having x perm set. Not sure how that happens but all the other scripts have that enabled. For reference I just downloaded the master.zip file from github and unpacked it on the server.

[2015-03-05 00:03] pdurbin commented on #1575
@scolapasta and I agreed to revert to the old behavior. The bug above should no longer be reproducible with this string as the description of a dataset: "Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice Metadata Publish Twice"

Passing to QA.

[2015-03-05 00:08] pdurbin opened #1589 "Search: highlighting multiple matches of the same string within a multivalued field"
If you create a dataset with two authors with the same last name and then searched on that last name, you only get a highlighted match for one of the authors. What we want is the fix described in https://github.com/IQSS/dataverse/issues/1262#issuecomment-76231675 that unfortunately resulted in the regression at #1575. What we want is this for highlighting (finding both Orville and Wilbur when sear

[2015-03-05 00:11] kcondon commented on #1565
OK, this is gone now but there is a requirement for migration that all users change their password and accept TOU. There is a workflow and conditional render logic for this on this page. It is covered under a separate ticket but there is some static text alluding to this process that I will ignore for now until the other ticket comes my way.

Closing.

[2015-03-05 00:11] #1565 closed

[2015-03-05 00:12] scolapasta commented on #1262
Highlighting has been reverted and is now issue #1589

The index related changes, I think, then are just showing description on search code, which is also separate: #1522

So this is really now just for the changes @sekmiller  made.

[2015-03-05 00:17] scolapasta commented on #1587
In fact, removed from setup-all completely. (if we have to go and uncomment, it's just as easy to run it separately).

[2015-03-05 00:18] scolapasta commented on #1586
I know this related to using the proper status codes, but is there a quick way to make this more compact?

[2015-03-05 00:19] mheppler commented on #1584
I'm going to wire up the autocomplete dropdown user info tables to look a little something like this.

![screen shot 2015-03-04 at 7 18 18 pm](https://cloud.githubusercontent.com/assets/687227/6496561/5cdd3f8a-c2a3-11e4-911c-bca87629d6b6.png)

[2015-03-05 00:29] mheppler commented on #1584
Added user identifier to the autocomplete dropdown user info tables on all role/permission related pages.

[2015-03-05 00:32] mheppler commented on #1584
Added render logic to user affiliation in the autocomplete dropdown user info tables on all role/permission related pages.

[2015-03-05 00:37] kcondon opened #1590 "Icons: Open lock not appearing on file card for users who are admins/owners."
Icons: Open lock not appearing on file card for users who are admins/owners. They do appear on files tab.

[2015-03-05 00:41] kcondon opened #1591 "Linked Objects: Link icon not appearing if you are the owner/creator of target object."
If I create 2 dv's and want to link a dataset between them, I do not see the link icon.

[2015-03-05 00:45] kcondon commented on #1591
I was reminded that this was a conscious decision to allow linking only by superusers for 4.0. Closing.

[2015-03-05 00:45] #1591 closed

[2015-03-05 00:47] kcondon commented on #1518
Gone for now until new migration workflow is implemented. Closing.

[2015-03-05 00:47] #1518 closed

[2015-03-05 00:48] kcondon commented on #1447
OK, note is there, closing.

[2015-03-05 00:48] #1447 closed

[2015-03-05 00:56] kcondon commented on #1571
OK, blue is now gray, closing.

[2015-03-05 00:56] #1571 closed

[2015-03-05 00:58] kcondon commented on #1578
Works closing

[2015-03-05 00:58] #1578 closed

[2015-03-05 01:03] pdurbin commented on #1554
@scolapasta found where the new importXML calls this method and sets the id to `null`. Commenting it out allows the dataset to be edited via SWORD but we want to check with @michbarsinai and @ekraffmiller and @rtreacy about why the id is set to null here.

[code]

[2015-03-05 01:19] pdurbin commented on #702
@scolapasta I've made the following methods in IndexServiceBean async...

- indexAll
- indexDataverse
- indexDataset (also indexes files)

... and ran a build on https://apitest.dataverse.org and the tests passed: https://build.hmdc.harvard.edu:8443/job/apitest.dataverse.org-apitester/16/testReport/ (also different curl tests locally and got the output I expected). I'm passing this to you to think

[2015-03-05 02:07] scolapasta commented on #1554
Wondering if the logic should be to check if the id already exists, if so then if not the same throw an exception. Otherwise proceed.

[2015-03-05 02:10] scolapasta commented on #1581
For second part, solved in #1584

@michbarsinai can you give a better validation error?

[2015-03-05 03:29] posixeleni opened #1592 "Support for Importing and Exporting DCAT v.1.1 Metadata"
To support importing data from data.gov and exporting in the same format for data.gov to ingest our metadata.

Need to research this:
--------
Here is the metadata schema used in the US Government, which is based on DCAT: https://project-open-data.cio.gov/v1.1/schema/

As you can see, there are a lot of optional fields, but only a few required ones (title, description, keywords, contact, URL).  We

[2015-03-05 08:42] leeper opened #1593 "Add ability to host R Shiny Apps?"
I've been thinking about how to maximize value of datasets stored in Dataverse. In the R world, an increasingly common way of letting novice users play around with datasets is via [Shiny](https://github.com/rstudio/shiny), which is basically a web page front-end for an R server instance. Since Dataverse is already interfacing with R to some extent, it would seem like an obvious feature to be able

[2015-03-05 13:24] mcrosas commented on #1593
We've been considering something along these lines with @tercer @cchoirat
and @vjdorazio - Yes, this would fit into TwoRavens, so I'll probably move
it to the TwoRavens repo, after discussing it with them.

On Thu, Mar 5, 2015 at 3:42 AM, Thomas J. Leeper <notifications@github.com>
wrote:

[2015-03-05 14:08] bencomp opened #1594 "Google Analytics is not optional (or configurable?)"
At DANS we are considering moving away from using Google Analytics (GA) to using an in-house installation of [Piwik](http://piwik.org/). However, the script code for GA is hardcoded and always uses the Harvard credentials.

Configuration of analytics could be a setting that can be accessed from the superuser interface (#1574).

[2015-03-05 14:09] pdurbin opened #1595 "Search API: expose Content Type (MIME Type) of files"
Requested by collaborators at https://docs.google.com/a/harvard.edu/document/d/1bq0rYAK1YzzS_YcV3m0Dhl7UH92I5VqR2qlU1reT--Y/edit?usp=sharing

[2015-03-05 14:12] pdurbin commented on #1314
There's weirdness in this field naming too:

        "filetypemime_s":"PNG Image",
        "filetype_en":["PNG Image",
          "image"],
        "filetype_s":"image",

We want to expose a real MIME Type in #1595

[2015-03-05 14:14] michbarsinai commented on #875
Password reset emails has to be configurable. Currently its hard-coded, including the from address.

[2015-03-05 14:20] sekmiller commented on #1562
Date validation will now reject years that are non-numeric

[2015-03-05 14:26] pdurbin commented on #1522
I chatted with @mheppler about this the other day and he agrees with me and @scolapasta that when browsing we should only show the first description. And we'll make sure long descriptions are truncated with ellipsis (...) as before.

[2015-03-05 14:38] pdurbin commented on #1574
As I mentioned at https://github.com/IQSS/dataverse/issues/702#issuecomment-77260638 yesterday I stubbed out a tiny superuser interface prototype. Just a quick proof of concept.

[2015-03-05 14:45] pdurbin commented on #1522
As I mentioned at https://github.com/IQSS/dataverse/issues/69#issuecomment-69761957 "description" is also missing from the Search API for datasets. It works fine for dataverses and files.

[2015-03-05 15:11] pdurbin commented on #1522
Ok, dataset descriptions are back in search cards in the UI...

![dsdescription](https://cloud.githubusercontent.com/assets/21006/6507360/a345ee50-c31f-11e4-80ad-181caf69bcc3.png)

... and newly available from the Search API:

$ curl -s "https://apitest.dataverse.org/api/search?q=goose" | jq .data.items[].description
"What the Spruce Goose was really made of."

Please note that in both cases we on

[2015-03-05 15:28] ekraffmiller commented on #1554
Yes, Gustavo's suggestion seems right to me

[2015-03-05 15:37] posixeleni commented on #1547
@pdurbin @mheppler I have created the Sphinx doc for the Privacy Policy on dataverse.org. The URL is now:

http://best-practices.dataverse.org/harvard-policies/harvard-privacy-policy.html

Will assign to either one of you to add into the db.

[2015-03-05 15:38] posixeleni commented on #1583
@mheppler here is the new URL for Community Norms: http://best-practices.dataverse.org/harvard-policies/community-norms.html

[2015-03-05 15:50] sekmiller commented on #1577
Fix Checked in....

[2015-03-05 15:56] pdurbin commented on #1547
I updated the links. Passing to QA.

[2015-03-05 16:18] mheppler commented on #1590
This is what I've got locally. I'll take a look at dvn-build and see if I can figure out what's crappening there.

![screen shot 2015-03-05 at 11 17 27 am](https://cloud.githubusercontent.com/assets/687227/6508840/4be09098-c329-11e4-808f-fe46285f134f.png)

[2015-03-05 16:28] sekmiller commented on #636
Fixed and checked in.

[2015-03-05 16:44] mcrosas opened #1596 "Visualization of Astronomy data with WWT"
We want to be able to visualize astronomy images and FITS files in the World Wide Telescope. This could follow a similar approach to visualizing geospatial data in WorldMap, but it should be much simpler to integrate since there is already an API to open any FITS files, and some image files in WWT. To discuss more with Gus.

[2015-03-05 16:52] mheppler commented on #1590
This looks good on dvn-build. Sending back to QA to clarify or close.

![screen shot 2015-03-05 at 11 52 08 am](https://cloud.githubusercontent.com/assets/687227/6509567/1ef22916-c32e-11e4-82e2-dea60c698421.png)

[2015-03-05 16:55] posixeleni commented on #1596
@mcrosas I had already created a ticket for this last year: https://github.com/IQSS/dataverse/issues/1300

want me to close that one as duplicate?

[2015-03-05 16:59] mcrosas commented on #1596
yes, please. ANd sorry. I looked for that ticket and couldn't find it.

On Thu, Mar 5, 2015 at 11:55 AM, Eleni Castro <notifications@github.com>
wrote:

[2015-03-05 17:06] mcrosas commented on #1594
This makes a lot of sense @bencomp - sent to @scolapasta for review

[2015-03-05 17:10] posixeleni commented on #1596
Closing this since it is a duplicate. See #1300

[2015-03-05 17:11] posixeleni opened #1597 "For Collections Migration: Make Additional Fields Facetable & Advance Searchable"
To help migrate collections from 3.6 into facets we will need to make more fields facetable and advance searchable.

In **Citation Block**: it would be useful to have:
- Series (seriesName) field: facetable and advance searchable boolean set to TRUE.
- Kind of Data: facetable (already is advance searchable) boolean set to TRUE

Ex 1. RESTAT Dataverse uses Series field to track Journal volume and i

[2015-03-05 17:12] mheppler commented on #1583
Also from Merce, regarding the Community Norms text/link on the License + Terms tab, for end users, she'd like the text updated to:

Our {link}Community Norms{link} as well as good scientific practices expect that proper credit is given via citation. Please use the data citation above, generated by the Dataverse.

[2015-03-05 17:19] mheppler commented on #1583
Changed the help text for end users on the License/CCO field of the License + Terms tab. Changed the URL for the Community Norms link.