[2016-08-19 00:11] landreev commented on #3277
What are you saying Kevin? You had to re-run that harvest... as in, my word was not good enough?
This is really hurting my feelings... This lack of trust... I stayed up late, photoshopping that "zero failed" status message...

[2016-08-19 01:37] kcondon commented on #3277
Trust but verify my friend.

________________________________
From: landreev <notifications@github.com>
Sent: Thursday, August 18, 2016 8:11:56 PM
To: IQSS/dataverse
Cc: Condon, Kevin M; State change
Subject: Re: [IQSS/dataverse] Harvest: Harvesting all IQSS local datasets results in almost 19k success, nearly 800 failures. (#3277)

What are you saying Kevin? You had to re-run that harvest... as i

[2016-08-19 01:59] kcondon opened #3298 "Harvest: Harvest all from IQSS in JSON format had 68 failures out of 19726"
SUCCESS; 19658 harvested, 0 deleted, 68 failed.

[2016-08-19 14:00] kcondon commented on #907
Tested and verified with individual issues opened as new tickets. Closing.

[2016-08-19 14:00] #907 closed

[2016-08-19 14:07] kcondon commented on #813
OK, looks good. Have completed baseline testing of Harvesting, functionality is delivered and issues found are opened in new individual tickets. Closing.

[2016-08-19 14:07] #813 closed

[2016-08-19 14:24] kcondon commented on #3290
Just tested and the [distributor] label still appears. This was in QA but not assigned to me. Was it ready for testing?

[2016-08-19 14:26] kcondon commented on #3285
That issue has nothing to do with the issue in this ticket. The pull request you mention addresses a bug with install but it is a separate issue.

[2016-08-19 14:49] bsilverstein95 opened #3300 "Confirm email phase 2"
Phase I of confirm email is issue #2170. Phase II will introduce consequences / restrictions for users who do not confirm their email address, such as not receiving email notifications.

[2016-08-19 14:51] kcondon opened #3301 "Version: Update build version from 4.4 to 4.5 as last step before release."
Convention has it that the last step before release is to update the version to be the release version. So, that would be changing 4.4 to 4.5.

[2016-08-19 14:52] bsilverstein95 commented on #2170
The confirm email project has been split into more than one phase. This issue has come to reflect phase I, which is resolved by pull request #3299. Phase II is described in issue #3300. The feature was divided into phases per the discretion of @djbrooke , @pdurbin , & @mheppler in a meeting on 8/18/16.

@kcondon please note that the pull request includes an update to the installation guide which d

[2016-08-19 15:11] djbrooke commented on #3301
We should update the version number in Sphinx as well.

[2016-08-19 15:13] djbrooke commented on #3297
Needs some further verification about whether or not this import is in scope for Harvesting.

I'll take a look through the documentation and see if I can find this.

[2016-08-19 15:21] djbrooke commented on #3296
@mheppler will review and update the text of the error message.

@landreev will address the code change referred to in the third paragraph of the previous comment

[2016-08-19 15:26] raprasad opened #3302 "pull metadata from PDF documents"
Requires: filemetadata storage in place

---

Extract basic PDF metadata from PDF files
- number of pages, some text, etc
- existence of images/charts, etc
  There are over 67,796 PDF files in Dataverse.
- Note: 1,227 are files with PDF extensions but not recognized as PDF.  (bad files?)
- We have a PDF preview (unreadable -- more like a thumbnail)

[2016-08-19 15:27] raprasad commented on #3302
dev note:

https://pdfbox.apache.org/

[code]

[2016-08-19 15:35] djbrooke commented on #3298
Pulling out of 4.5. Per @landreev, this is occurring because of controlled vocabulary. I need to investigate whether or not there is an existing ticket for this.

[2016-08-19 15:41] pdurbin commented on #3301
To know which three files to change, please see http://guides.dataverse.org/en/4.4/developers/making-releases.html#bump-version-numbers

[2016-08-19 15:45] sekmiller commented on #3290
Checked in the removal of [distributor] label to harvest branch...

[2016-08-19 15:50] pdurbin commented on #3273
Yesterday I replicated the problem (IP groups within explicit groups are not honored) but I'm blocked on having a new method to call to collects even more groups. From chatting with @michbarsinai in Slack it sounds like one should supply a `RoleAssignee` rather than a `User` to the method. My preference would be to have a working method first and then refactor all the search code as necessary. @mi

[2016-08-19 15:53] landreev commented on #3276
@sekmiller
@kcondon
Actually, no, I don't know of an easier way to find these 8 datasets that are failing export - than to re-run exportAll on vm5; and then to look at the harvest log. But we need a new build on vm5 for that. Kevin, could you please update vm5? - Thanks.

ExportAll should not take long either, because it should only attempt to reexport the still unexported datasets... and that's t

[2016-08-19 16:36] djbrooke commented on #3298
Some background: https://github.com/IQSS/dataverse/issues/1247

[2016-08-19 16:49] kcondon opened #3303 "Installer: Works but throws sql exception in installer output."
Attempting to deploy the application.
Command line: /usr/local/glassfish4/bin/asadmin deploy dataverse.war

PER01003: Deployment encountered SQL Exceptions:
    PER01000: Got SQLException executing statement "CREATE INDEX INDEX_DATAVERSE_fk_dataverse_id ON DATAVERSE (fk_dataverse_id)": org.postgresql.util.PSQLException: ERROR: column "fk_dataverse_id" does not exist
Command deploy completed with w

[2016-08-19 16:50] kcondon commented on #3285
The file was removed, closing.

[2016-08-19 16:50] #3285 closed

[2016-08-19 16:57] kcondon commented on #3290
Works for DDI, json is now putting the wrong value in place: putting the actual distributor field there, should be getting it from the json exported publisher field:

"publisher":"Root* Dataverse"

I think.

[2016-08-19 16:58] kcondon opened #3304 "Export: ExportAll fails with null ptr exception"
[2016-08-19T12:10:37.273-0400] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=1648 _ThreadName=__ejb-thread-pool3] [timeMillis: 1471623037273] [l
evelValue: 900] [[
  A system exception occurred during an invocation on EJB DatasetServiceBean, method: public void edu.harvard.iq.dataverse.DatasetServiceBean.exportAllAsync()]]

[2016-08-19T12:10:37.273-0400]

[2016-08-19 17:16] pdurbin commented on #3298
@djbrooke good find. Interesting to see "This will eventually be used by harvest" at https://github.com/IQSS/dataverse/issues/1247#issuecomment-67544353

[2016-08-19 17:33] mheppler commented on #3296
Revised and styled confirmation msg in the Delete Harvesting Client popup on the manage pg.

![screen shot 2016-08-19 at 1 32 16 pm](https://cloud.githubusercontent.com/assets/687227/17818441/92c5b0ce-6611-11e6-8e73-be30610874d6.png)

[2016-08-19 17:37] pdurbin commented on #3273
@michbarsinai as of 18e1037 in the 1380-honor-ip-groups this is how the method looks in GroupServiceBean that would need to be enhanced:

[code]

That is to say, this is the method that SearchServiceBean relies on to gather as many groups as possible for the `DataverseRequest` in question.

Here's a handy link to the method above: https://github.com/IQSS/dataverse/blob/18e1037aadf4f2da792ce01ccc12

[2016-08-19 17:40] pdurbin commented on #3105
@kcondon awesome. So the fix is in pull request #3103 at least partially fixed by e6438c7. I'll close this issue but I'll note that #3273 is still open which is about "groups within groups".

[2016-08-19 17:40] #3105 closed

[2016-08-19 17:41] pdurbin commented on #1513
@kcondon I'm glad to hear e6438c7 helped. It's in pull request #3103. I'll close this issue but I'll note that #3273 is still open which is about "groups within groups".

[2016-08-19 17:41] #1513 closed

[2016-08-19 17:44] landreev commented on #3304
OK, yeah - you saw my comment there, next to the line that was throwing a null pointer... saying it would never throw a null pointer... I got that idea from looking at the dataset.isDeaccessioned() code - that it would ensure that there is at least one released version... but yeah, it looks like it could still bomb, if the dataset only has a draft version!

[2016-08-19 18:08] landreev commented on #3304
well, no - if the dataset "only has a draft version", it should not return "isReleased() == true"...
that null pointer means there has to be some bad datasets and/or versions in the database; like datasets with no versions; or datasets with no released or deaccessioned versions, but with the non-empty publication date...
But, regardless, it's prudent to *assume* there could be inconsistent data in

[2016-08-19 18:08] pdurbin commented on #3253
Right, https://demo.dataverse.org/?q=&types=%28select+datasets%29 is a simplified example and results in a poor user experience in that none of the "types" (dataverses, datasets, and files) are selected (screenshot below from that server, which is running v. 4.4 build 132-47b04ed) but this **this is a usability bug rather than a security bug**. (The GUI itself should never yield a URL like this bu

[2016-08-19 18:14] djbrooke commented on #3297
Looking at "DocumentationAndAccessToSources" from above. From http://www.ddialliance.org/Specification/DDI-Codebook/2.5/XMLSchema/field_level_documentation_files/schemas/codebook_xsd/elements/srcDocu.html:

<xs:element name="srcDocu" type="simpleTextType">
<xs:annotation>
<xs:documentation>
<xhtml:div>
<xhtml:h1 class="element_title">Documentation and Access to Sources</xhtml:h1>
<xhtml:div>
<xhtm

[2016-08-19 18:14] kcondon commented on #3304
This is working now. Closing.

[2016-08-19 18:14] #3304 closed

[2016-08-19 18:14] sekmiller commented on #3276
Inspecting one of these datasets in production shows no version on the versions tab:
<record>
  <date>2016-08-19T13:51:15</date>
  <millis>1471629075104</millis>
  <sequence>2036</sequence>
  <logger>edu.harvard.iq.dataverse.harvest.client.DatasetServiceBean.ExportAll2016-08-19T13-40-13</logger>
  <level>INFO</level>
  <class>edu.harvard.iq.dataverse.DatasetServiceBean</class>
  <method>exportAllD

[2016-08-19 18:17] pdurbin commented on #3254
For now I'll just include something I wrote internally:

"Note that the default tracking-mode in GlassFish v3 is COOKIE and URL."

https://blogs.oracle.com/swchan/entry/change_session_id_on_authentication

Looks like we could make it just COOKIE like this (in web.xml):

    <session-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

I'm asking about it: https://javabot.ev

[2016-08-19 18:22] pdurbin commented on #3256
Yuck. Yes I can reproduce this as of v. 4.4 build 132-47b04ed at https://demo.dataverse.org/dataverseuser.xhtml?editMode=CREATE&redirectPage=\

I don't believe this is a security issue. In the stacetrace (attached) it seems like "\" simply isn't a valid character in a URL: `Caused by: java.net.URISyntaxException: Illegal character in query at index 40: /500.xhtml?editMode=CREATE&redirectPage=\`

[

[2016-08-19 18:45] landreev commented on #3276
OK, here's the ticket I was talking about:
https://help.hmdc.harvard.edu/Ticket/Display.html?id=236623

- the version tab (and lots of other things) were failing on the page, because there were binary characters x0A, x0B, x0C and x0d in some metadata field. The fix was to remove the offending characters, and then update the field value:

UPDATE datasetfieldvalue SET value='We investigate whether m

[2016-08-19 18:50] pdurbin commented on #3255
@Venki18 this issue made more sense when we were sitting together but at the moment I'm pressed for time (about to go on vacation) and I don't have a quick answer or response for you. I feel like were were able to reproduce a weird XML error with red text on yellow background but now I can't remember what we did. I'll have to circle back to this issue or perhaps @kcondon @landreev or others who ha

[2016-08-19 18:50] djbrooke commented on #3297
Removing from 4.5. We'll address this in the near future when our new metadata librarian joins the team. At that point we'll work with her/him to gather more information regarding the importance of including these fields.

[2016-08-19 19:07] kcondon opened #3305 "Harvest: File type is not harvested, shows as unknown."
DDI harvest, JSON  harvest works.

[2016-08-19 19:09] pdurbin commented on #3303
This error goes back to at least Mar 9, 2016 as seen at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy-develop/11/console which was a build of https://github.com/IQSS/dataverse/commit/553597070511c4612c1fa394e90a2d7afd9c2ee3 which got tagged in 4.3.

[2016-08-19 19:09] djbrooke commented on #3296
@landreev will update the message about not navigating from the page. He will also update the sets and client page so that the greying out happens.

[2016-08-19 19:12] kcondon opened #3306 "Harvest: Delete popup chops text when window is sized smaller."
When I size the window smaller, the delete confirmation popup chops the text

[2016-08-19 19:26] pdurbin commented on #3159
Now that we've enabled Federated Login Mode (#2937) at https://dataverse.harvard.edu you can see this issue there too. Here's a screenshot. Notice that there's no logo for Harvard:

![screen shot 2016-08-19 at 3 24 09 pm](https://cloud.githubusercontent.com/assets/21006/17821722/1917eb88-6621-11e6-8608-b40e782bb970.png)

We are talking about this internally at https://help.hmdc.harvard.edu/Ticket/

[2016-08-19 19:36] pdurbin commented on #3273
Oh, my other thought on this issue to simply stop supporting "groups within groups". They're a little buggy as currently implemented and I wonder if they're more trouble than they're worth.

[2016-08-19 19:44] djbrooke commented on #3303
Removing from the 4.5 milestone as this warning is existing and it still allows the install to continue.

[2016-08-19 19:46] djbrooke commented on #3290
This is related to a discussion in Google Groups (https://groups.google.com/forum/#!topic/dataverse-community/xnB2lComOrs) and some history about why this is set up this way is in #2146.

I'd like to revisit this with @mcrosas, but this is not something that should hold up the release.

[2016-08-19 19:57] landreev commented on #3296
Checked in an update for part 1, sets page.
Please test and review.
This update needs a database update:

ALTER TABLE OAISET ADD COLUMN DELETED BOOLEAN;
ALTER TABLE OAISET ADD COLUMN UPDATEINPROGRESS BOOLEAN;

(note that this update does NOT need to go into the db upgrade script - because this database object is new in 4.5)

Deleting a *large* existing set, such as the all-prod set on vm5, should

[2016-08-19 19:57] djbrooke commented on #3276
@sekmiller - you mentioned you were going to take a look at this and add some additional logging for these binary characters so I'm going to assign it to you.

However, due to the numbers here (8 of 19,734), I don't feel this should be a blocker for release.

[2016-08-19 19:58] landreev commented on #3296
@mheppler
Mike, please take a quick look at my changes to the harvesting sets page - see if anything can/needs to be made prettier. (the text lines should go into the bundle probably?)

[2016-08-19 20:04] mheppler commented on #3306
Fixed CSS rule that was incorrectly applying min-width to content container for popups and not popup body container.

[2016-08-19 20:11] kcondon commented on #3306
Works

[2016-08-19 20:11] #3306 closed

[2016-08-19 20:12] landreev commented on #3296
@kcondon
Just checked in more code for the Sets page (for run set reexport)

[2016-08-19 20:36] mheppler commented on #3296
@landreev -- I am not sure we want to say "Success! – Selected harvesting set is being deleted." The set is either successfully deleted or the intended action wasn't a success.

[2016-08-19 20:55] landreev commented on #3296
@mheppler
"Success" in this context meant "successfully started a background delete job". As opposed to not being able to initiate the action - that would be the failure (also a possibility).

But yes, let's just drop the word "success" - and let it just say "set is being deleted".

[2016-08-19 21:45] kcondon commented on #3296
Here's to Success!

[2016-08-19 21:47] landreev commented on #3296
another db update:

ALTER TABLE HARVESTINGCLIENT ADD COLUMN DELETED BOOLEAN;

Just checked in the code, for the client.
The whole thing about doing the delete in the background, asynchronously - it looks like it's not super important for the sets at all - because even the large ones appear not to take any time at all to be deleted; but yes, it will make the whole process much less confusing potent

[2016-08-19 22:00] kcondon commented on #3296
OK, this looks good, thanks!

[2016-08-19 22:00] #3296 closed

[2016-08-19 22:06] landreev commented on #3296
@mheppler
@kcondon
There is no word "success" in my message. It just looks like JsfHelper.addFlashMessage() method defaults to JsfHelper.addSuccessMessage() - which always adds "Success" to the label.
But if you want, feel free to change it to jsfHelper.addInfoMessage(); on either or both of the clients and server pages.

[2016-08-22 00:31] landreev commented on #3305
Should be fixed, please re-test.
But no, it was neither exported, nor imported, in DDIs.
(Interestingly, it looks like we NEVER exported and/or harveset mime types, for non-tabular files, throughout the DVN3 life span).

[2016-08-22 02:07] landreev commented on #3296
(ok, I did change the "delete in progress" messages to "info" )

[2016-08-22 14:02] djbrooke commented on #3276
Removing from the 4.5 milestone as this was a nice-to-have and the release is nigh.

[2016-08-22 14:50] kcondon commented on #3305
This is working. Closing.

[2016-08-22 14:50] #3305 closed

[2016-08-22 22:00] landreev commented on #3268
@jonc1438
OK, I am confused. If the files were deleted from a draft, before they were released... - as in, if it was a *new* file, added to the draft version, and not available in any previous versions... then there shouldn't be *any* trace of it left in the database.
So we must be talking about files that already existed in a previously released version... But then, if such a file were deleted fr

[2016-08-22 22:10] jonc1438 commented on #3268
L

We are finishing our investigation and Akio/Don can get into specifics but from our testing with 3.x

If you have an unpublished draft with data files in the study and then delete the files prior to publication they are correctly removed from the file system BUT NOT removed from the file names in the database.

We had some cases where our archivists worked with customers where this happened and

[2016-08-23 13:55] djbrooke commented on #3288
@raprasad - is this a code change that needs to be tied to release or is there some script/process that needs to be run/rerun to re-ingest these files? Thanks!

[2016-08-23 14:06] raprasad commented on #3288
@djbrooke: I think @landreev can re-run ingest code.  Can go over more details post stand-up.

[2016-08-23 14:30] kcondon opened #3307 "Harvest: Investigate OAI-PMH protocol test for registration as a data provider."
The OAI-PMH website has information on registering as a data provider, including running a protocol test. We had done this for our first version of harvesting and would be good to do this for validation, improved interoperability, and increased data discovery (being on the list of data providers).

http://www.openarchives.org/pmh/register_data_provider
http://www.openarchives.org/pmh/register_data

[2016-08-24 14:53] djbrooke commented on #3133
We should add the DB triggers as part of the 4.6 release.

[2016-08-24 17:38] mfenner commented on #1013
We at DataCite have finally fixed several long-standing bugs with the bibtex output of our metadata. Author names should be separated by `and`. See for example

[code]
@misc{https://doi.org/10.3886/ICPSR01218,
  doi = {10.3886/ICPSR01218},
  url = {https://doi.org/10.3886/ICPSR01218},
  author = {Beck, Nathaniel L. and King, Gary and Zeng, Langche},
  publisher = {ICPSR - Interuniversity Consortiu

[2016-08-24 18:10] sbarbosadataverse commented on #1013
Thanks, Martin! This is good to know!

On Wed, Aug 24, 2016 at 1:38 PM, Martin Fenner <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, The Dataverse Project
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http://dataver

[2016-08-24 18:12] sbarbosadataverse commented on #1013
@kcondon @djbrooke  do we need to reopen this ticket per the last comment?

[2016-08-24 18:45] djbrooke opened #3311 "Separate Authors in Bibtex Citation with "and" instead of semi-colon"
From https://github.com/IQSS/dataverse/issues/1013#issuecomment-242148386:

[code]

[2016-08-24 18:45] djbrooke commented on #1013
Thanks all. I created a new ticket that we'll get into the next small release.

[2016-08-24 19:10] pameyer commented on #3311
Author separator changed:
https://github.com/pameyer/dataverse/commit/22bdb66fcaded09b0e99beea159fb2aa7510cf6e

[2016-08-24 20:33] djbrooke commented on #2249
@cchoirat stopped by and asked about this today and reiterated its usefulness.

[2016-08-24 20:55] kcondon commented on #3301
Done, closing

[2016-08-24 20:55] #3301 closed

[2016-08-25 02:31] jeisner commented on #2249
Yes, please.   We are about to upload a directory hierarchy.  At present, we have to do it as a single tarball, which means that browsing / replacement / versioning of single files is not possible.

[2016-08-25 12:18] raprasad opened #3312 "Google analytics: Include Dataverse alias in the dataset url (and file page url)"
**NOTE**: This should be considered when designing the file landing page

Example:

- Instead of this PSI dataset link (No **PSI** in link):
  -  ```https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/EJHVCP```

- Have this one (**PSI** added to link):
  - ```https://dataverse.harvard.edu/dataset/PSI?persistentId=doi:10.7910/DVN/EJHVCP```

This will allow Google Analytics repo

[2016-08-25 15:46] kcondon opened #3313 "Metrics: Allow downloading of undefined guestbook download stats at dataset and dv level"
Folks interested in download stats appear to want all downloads stats across all of their holdings (dv level) in a consolidated fashion, rather than or in addition to at a dataset level (this should be verified). Additionally, many or most do not define a guestbook (again verify) but they do want to know download activity.

So, this ticket is a feature request to enable downloading of non or undef

[2016-08-25 15:59] babrahamse commented on #2107
I am a relatively new user of the Dataverse (I'm handling MIT's data uploading and metadata) and I would just like to reiterate the request to make the auto-unzipping feature optional. We have several datasets that are already in ZIP format and we want to keep them that way. Having to double-zip everything, while a functional kludge, really adds a lot of time to the uploading operation.

[2016-08-25 18:01] kcondon opened #3314 "Harvesting: Manage sets, entering a longish string into set name throws exception, throws away set."
When I enter the following string as a set name, it throws an exception:
CGIAR_Research_Program_on_Forests_Trees_and_Agroforestry

This was recreated from a v3.6.2 set which allowed long names. I was able to shorten it to:
CGIAR_Research_Agroforestry and that worked. It is 27 chars long.

I thought this might be the 30char limit we encountered in the client but 20 chars also fails:
123456789012345

[2016-08-25 19:02] kcondon opened #3315 "Harvesting: Manage Sets, sets defined with dataverse scope become less valid when subdv's are added."
The scope of parentId is the specified dataverse, no subdataverses included. So, in the case where a set was defined for a single dv which was later subdivided into sub dv's the set as defined shrinks to nothing since all datasets are moved to the sub dv's. This seems to invalidate the intent of creating the set initially: including all datasets underneath the hierarchy for which the parent is roo

[2016-08-25 20:04] kcondon opened #3316 "Harvesting: Manage Sets page goes deaf after a while, making create set popup not save, does nothing until refresh page."
Not sure the exact sequence that causes this but when creating multiple sets where the manage page sits idle for a while in between, maybe 10 mins or so, page seems to go deaf so that the create set popup cannot save.

Refreshing the manage sets page makes it work again.

[2016-08-26 17:35] landreev commented on #3268
@jonc1438
Jon, I spoke to Gustavo about this, he also showed me an email thread that was going on in parallel, between him and Akio.
I believe I understand now what's going on; and no, it doesn't look as scary as I thought initially. So yes, it looks like those files were meant to be deleted - new files in unreleased versions. It's just that due to some bug in DVN3 the StudyFile object for this fi

[2016-08-26 17:53] djbrooke commented on #2101
@dancabral and @raprasad - please feel free to close this out if this need will be addressed by the Miniverse project. Thanks!

[2016-08-26 18:21] sekmiller opened #3318 "Documentation: Modify Registration API"
In a case where you need to update the Target URL for the DOI provider (we needed to do this when we moved from 3.6 to 4.0 and again when we added more widget support) there is an API that works on either a single Dataset or every dataset.

@Path("{id}/modifyRegistration") for a single Dataset

or

 @Path("/modifyRegistrationAll") for all

They both call the UpdateDatasetTargetURLCommand.

This is

[2016-08-26 18:58] wddabc opened #3319 "Is that possible to add an another example for downloading file with curl?"
http://guides.dataverse.org/en/latest/api/sword.html gives a fairly comprehensive usage of the curl command. I'm wondering if there could be another example for accessing a file given filename, doi using curl?

[2016-08-27 05:44] jeisner commented on #2700
I'd like to request this feature as well.  I see that it's been marked as "Triaged": is that equivalent to wont-fix or to will-consider-again-in-next-version?

[2016-08-29 14:44] raprasad commented on #3259
File level metadata with JSON schema is a prereq. to do this: #3088

Note: We already have FITS metadata but it is rolled up to the dataset level.  Scenario:
  - Datasets has more than one FITS file (often the case)
  - Metadata is aggregated at dataset level
  - Becomes problematic to break that data out on the file level page

[2016-08-29 15:53] raprasad opened #3320 "Remove the 'name' attribute from the DataFile table"
It's confusing and is currently NULL for the 440k+ files

This query returns 0 rows:
- `select name from datafile where name IS NOT NULL;`

[2016-08-29 21:49] kcondon opened #3321 "Harvest: Does not report all available formats in ListMetadataFormats"
Reported by a user on community group: ListMetadataFormats was only reporting dataverse_json in production though I was able to harvest oai_ddi using a dataverse 4 client.

On build, it only reports oai_ddi. Is this a list length issue? How is the client learning which formats work and so display in ui then?

[2016-08-29 21:51] kcondon opened #3322 "Harvest: Do not list a set as available in ListSets until it has been successfully exported at least once."
The IQSS set in production is hung up on export but it appears in the list of available sets. When I harvest from it I get 0 datasets. It would be better not to list it until it has been successfully exported.

[2016-08-30 15:28] kcondon commented on #3203
Reopening. Found that harvested facet is including dataverses in the count on dvn-vm5. This may have happened in the last fix.

facet says Harvard Dataverse (16,195) but when clicked there are only 14404 datasets but Dataverses (1,791)

[2016-08-30 16:26] bradleycaccivio commented on #2881
@scolapasta @mheppler Right now the forwarding URL, along with the reason for deaccessioning and deaccession text, is being validated by javascript on the dataset.xhtml page. I want the validation for all of these fields to occur on the DatasetPage.java page via bean validation. I think the way to go about this would be to use @Range for the deacession reason, since making a selection from the dro

[2016-08-30 16:33] bradleycaccivio commented on #2881
@scolapasta @mheppler I forgot to mention that I have the deaccession button opening the confirmation popup, and then if you select yes the page will reload to what I show in the screenshots.

[2016-08-30 19:50] bikramj opened #3323 "v3.6 Metadata field Funding Agency(fundAg) not migrating to v4"
We are migrating data from v3.6 to 4.x and metadata field fundAg is not importing into v4. I see a [TODO:  here ](https://github.com/IQSS/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/api/imports/ImportDDIServiceBean.java#L1195)
Is there any plan to implement that?

[2016-08-30 21:25] raprasad opened #3324 "GuestBook bug? 633,795 downloads with no timestamps"
## Bug 1

_bug 1 update: @kcondon mentioned that these may be downloads ported from the 3.x system_

I have a July snapshot of data.  I just noticed that **633,795 entries** in the table `guestbookresponse` have NULL responsetime.  This is fully 1/3 of the guestbookresponse entries.

In other words `633,795` file downloads have no timestamp attached (and don't appear in the metrics visualizations)

[2016-08-31 13:45] raprasad opened #3325 ""/api/access/datafile" hardcoded 16 times in 7 files java/xhtml files"
related: #3324

---

Makes it hard to version the API, etc.  Note: 16x is only counting .java and .xhtml files.
- Screenshot shows 33 instances across all files--many of the full 33 not relevant

![netbeans_ide_8_0_2](https://cloud.githubusercontent.com/assets/1036060/18131133/b6d42246-6f5f-11e6-875a-41c7d2d823ff.png)

[2016-08-31 13:48] felliott opened #3326 "Breaking change to API?"
Hello!

Starting yesterday, the OSF integration with Dataverse broke because some fields in the file metadata response were renamed.  `datafile` became `dataFile`, and `dataFile.name` became `dataFile.filename`.  This happens even when using the versioned api url (`https://demo.dataverse.org/api/v1/datasets/1665/versions/`).  From [this issue](https://github.com/IQSS/dataverse/issues/411), I thoug

[2016-08-31 19:52] kcondon commented on #3036
Two other places this fails is the harvest exception banner mentioned above in the closed ticket, #3265
and also in the confirm email expired email link landing page.

[2016-08-31 19:59] kcondon commented on #2170
Found 4 issues:
1. math challenge in the validate linked timed out banner has no numerals, see #3036
2. two different versions of "hey, you need to validate your email" banner message, one is yellow and brown, occurs after you change your email addr on account info page. It says to revalidate your email with the link but does not say where to go to do so. The other is a green success banner when y

[2016-09-01 13:06] pdurbin commented on #3326
@felliott thanks for opening this issue. From looking at https://github.com/CenterForOpenScience/waterbutler/commit/1d803b14a678ee88e599bf25809d890cbfe0d612 I see what you mean. I appreciate you jumping on this and fixing it!

[2016-09-01 17:56] pdurbin commented on #2863
This morning @djbrooke asked if it's possible to merge a release into the master branch via the GUI but from a quick look, I don't think it's possible. @kcondon is more of an authority on this than I am since when 4.0 was in development he regularly merged from the master branch to the beta branch (for example Beta 13 in #1482). I'm leaving this comment here because http://guides.dataverse.org/en/

[2016-09-01 18:09] mheppler commented on #2625
Related to #2356

[2016-09-01 18:09] mheppler commented on #2356
Related to #2625

[2016-09-01 18:14] mheppler commented on #2177
Related to #2164

[2016-09-01 18:19] mheppler commented on #2058
Current display (after the 4.5 release which featured harvesting) of additional metadata fields on the dataset cards for harvested content.

https://dataverse.harvard.edu/dataverse/harvard?q=survey+data&types=datasets&fq0=metadataSource%3A%22Harvested%22&sort=score&order=desc&page=1

![screen shot 2016-09-01 at 2 19 22 pm](https://cloud.githubusercontent.com/assets/687227/18179133/1d1df316-704f-11

[2016-09-01 18:27] mheppler commented on #2107
Related to #2249 #3247

[2016-09-01 18:28] mheppler commented on #2249
Related to #3247

[2016-09-01 20:08] djbrooke commented on #3273
@michbarsinai - we are trying to get the IP Group fixes in 4.5.1 but this method update is blocking this issue. What are your thoughts? Do you have time to work on it or should we take a stab at it on this side? Thanks!

[2016-09-01 20:18] bsilverstein95 commented on #2170
Regarding QA issues:

1. Math challenge issue deferred to @pdurbin as he is more knowledgable of that feature. Will be remedied before anything is merged.

2. Yellow info message upon changing your email modified to be green success message, now specifies user's email and instructs them to follow the link sent there. New message body:

**Success!** – Your account information has been successfully

[2016-09-01 20:19] pdurbin commented on #2170
In a sprint planning meeting today we decided we're going to try to get this pull request in 4.5.1 so I'm giving it that milestone.

[2016-09-01 20:44] pdurbin commented on #3326
@djbrooke as @sekmiller and I discussed this morning, I was hoping that running the "phoenix" API tests would have caught this change to the API but I just ran them against the develop branch, which hasn't changed since 4.5 was tagged and the existing API tests must not exercise the change that @felliott has reported in this issue because all the tests passed: https://build.hmdc.harvard.edu:8443/j

[2016-09-01 21:40] sekmiller commented on #3288
@raprasad What is the query that you are using to get these results?

[2016-09-01 21:43] sekmiller commented on #3326
@pdurbin I did not make any changes to the json export.  Leonid may have changed the file handling and/or attachments.

[2016-09-02 05:32] michbarsinai commented on #3273
@djbrooke I was just talking (slacking?) with @pdurbin about this. I need to implement a method, will get it done by early next week.

[2016-09-02 12:38] djbrooke commented on #3273
@michbarsinai awesome! Thanks much.

[2016-09-02 12:43] nmedeiro commented on #2249
Retention of directory structure in a .zip file is a critical component to our Project TIER protocol, where we teach students how to create reproducible empirical research.  The inability to upload and download .zip files that retain this structures is a real impediment to our application of Dataverse as a platform to showcase these efforts.  It seems to me that users upload .zip files either for

[2016-09-02 12:48] pdurbin commented on #3326
@sekmiller ah, yes, in dfcece1 (part of 4.5) I see 'Cleaned up JSON export and import (got rid of the inconsistencies with the "datafile" vs. "dataFile" naming)'

@scolapasta you had some opinions about this, right? You wanted to know if it was an intentional change, I believe. Right now if applications like OSF want to integrate with Dataverse, they need to look for the key `datafile` for Dataver

[2016-09-02 13:11] pdurbin commented on #2249
@nmedeiro as a workaround, your students can "double zip" their files as discussed in #2107.

@jeisner we still owe you a response to your question at https://github.com/IQSS/dataverse/issues/2249#issuecomment-222241350 about how hierarchical directory structure is related to versioning. I'm not an authority on this but if you look at http://phoenix.dataverse.org/schemaspy/latest/tables/filemetada

[2016-09-02 14:18] sekmiller commented on #3288
Before digging into the ingest code I created some simple .xlsx files.  When I ingest them they are converted into .tab files with a content type of "text/tab-separated-values" @landreev is there a trick to get them to be ingested at xlsx files?

@raprasad is there anything else you can tell about the files in question? Could they have been in 3.6 and migrated to 4.0?

[2016-09-02 14:21] sekmiller commented on #3288
More information - when I try to download one of my original .xlsx files, I am offered that format as the original format.

[2016-09-02 14:27] pdurbin commented on #2170
I'm having trouble reproducing this bug so I asked @bsilverstein95 to try as well. The fix will likely be something like 083f279

[2016-09-02 14:44] sekmiller commented on #3288
@raprasad are you joining datatable in your query? That holds the original file format for files that are ingested as data tables.

[2016-09-02 15:00] mheppler commented on #3222
This is a duplicate of #840.

[2016-09-02 16:13] djbrooke commented on #2058
Closing this as we now provide more information on Harvested datasets.

[2016-09-02 16:13] #2058 closed

[2016-09-02 16:22] mheppler commented on #2161
@djbrooke @landreev @kcondon This is a feature that was delivered in 4.5.

[2016-09-02 16:23] djbrooke commented on #3326
I'm going to close this as this particular issue has been addressed by changes made by CoS. We'll keep this as `dataFile` for now.

To prevent this happening again, we need to provide version support for our API and build up additional capacity for automated testing. These are called out:

- Versioning our API (#1885)
- Automated tests of our API (#2746)

[2016-09-02 16:23] #3326 closed

[2016-09-02 16:23] mheppler commented on #2150
Related to #3247.

[2016-09-02 16:25] #2161 closed

[2016-09-02 16:26] djbrooke commented on #3222
Closed in favor of #840

[2016-09-02 16:26] #3222 closed

[2016-09-02 16:27] mheppler commented on #3220
Duplicate of: Files: Ability to Replace a File Instead of Deleting #2290.

[2016-09-02 16:31] djbrooke commented on #2290
Notes from @raprasad from #3220

[2016-09-02 16:32] djbrooke commented on #2290
[Mockups](https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/File%20-%20Versions)

[2016-09-02 16:34] djbrooke commented on #3220
Closing in favor of #2290

[2016-09-02 16:34] #3220 closed

[2016-09-02 16:39] djbrooke commented on #1991
May we retest this now that 4.5 is out?

[2016-09-02 16:41] pdurbin commented on #2170
@bsilverstein95 helped me reproduce the math challenge bug but I don't know how to fix it. The same math challenge bug was found in the harvesting branch at in #3265 but at https://github.com/IQSS/dataverse/issues/3265#issuecomment-239727104 @scolapasta indicated, "This is not related to this release specifically. It is the math challenge for the general exception. The other math challenge issue i

[2016-09-02 16:41] rmo-cdsp opened #3328 "Publish Dataset - Fails when metadata contains HTML entities w/special characters such as &nbsp;"
I added datasets in a Dataverse using Datacite for DOI's. Those datasets were added with python scripts, using the dataverse python api to first create a "simple" (only the required elements) dataset, then update its metadatas with a json (made by extracting datas from xlsx documents).

The problem here seems to come when I try to publish the dataset. The publish fails and there is the error messa

[2016-09-02 16:42] mheppler commented on #840
Related to: Create Documentation for Super Users in User Guide #2211

[2016-09-02 16:45] mheppler commented on #2211
In 4.5 we the [Admin Guide](http://guides.dataverse.org/en/4.5/admin/index.html) to the Dataverse Guides.

[2016-09-02 16:47] mheppler commented on #1971
Related to: Metrics: Display visualizations on dataverse.org #3230

[2016-09-02 16:49] mheppler commented on #2284
Related to: Metrics page for Dataverses #1971; and: Metrics: Display visualizations on dataverse.org #3230

[2016-09-02 16:52] mheppler commented on #2630
@djbrooke @sbarbosadataverse  Now that 4.5 has been released, featuring the Harvesting functionality, we should review this again.

[2016-09-02 16:59] mheppler commented on #3279
Related to/duplicate of: Tabular File Ingest: No message indicating page will refresh on its own, or if user needs to manually refresh #1798; and: Ingest Dataset File: provide more guidance and information about ingestion process for large files #2204

[2016-09-02 16:59] mheppler commented on #1798
Related to/duplicate of:  File Upload: For slow uploading files, add note to files tab not to move away from page or it will halt upload. #3279 ; and: Ingest Dataset File: provide more guidance and information about ingestion process for large files #2204

[2016-09-02 17:01] pdurbin commented on #1991
It looks like the licensing handling was changed at c785d50 for 4.5. Yes, we should retest this issue.

[2016-09-02 17:18] scolapasta commented on #3311
@pameyer Clearly a straightforward change - can you make a pull request and I'll send it on down the line?

[2016-09-02 17:25] pdurbin commented on #1991
I just moved this card to the QA column in https://waffle.io/IQSS/dataverse since the behavior changed in 4.5. From a quick test it looks like when you create a dataset via native API the license is now persisted as "NONE" rather than a null value. I didn't try specifying CC0 but is should persist that value. "NONE" seems to be the default basically, which is different than what the GUI does.

[2016-09-02 17:47] pdurbin commented on #3153
Per @djbrooke the Sensitive Data project is being deferred until Dataverse 5.0 so I'm unassigning myself since I like having https://github.com/IQSS/dataverse/issues/assigned/pdurbin reflect what I'm actually working on. I'll also add the 5.0 milestone.

[2016-09-02 17:49] pdurbin commented on #2419
Per @djbrooke the Sensitive Data project is being deferred until Dataverse 5.0 so I'm unassigning myself since I like having https://github.com/IQSS/dataverse/issues/assigned/pdurbin reflect what I'm actually working on. I'll also add the 5.0 milestone.

[2016-09-02 17:52] pdurbin commented on #3150
Per @djbrooke the Sensitive Data project is being deferred until Dataverse 5.0 so I'm unassigning myself since I like having https://github.com/IQSS/dataverse/issues/assigned/pdurbin reflect what I'm actually working on. I'll also add the 5.0 milestone.

@lwo as we've discussed, next week we'll at least touch base about the excellent work you've done to address this issue in pull request #3227 but

[2016-09-02 17:56] pdurbin commented on #3300
Today is @bsilverstein95 's last day with us (sniff!) so I'm going to unassign him from this issue. Thanks for all the help with #2170!

[2016-09-02 18:04] pameyer commented on #3311
@scolapasta - I'll give it a shot (https://github.com/IQSS/dataverse/pull/3329)

[2016-09-02 18:06] pdurbin commented on #3319
@wddabc well, you can't download files with Dataverse's implementation of SWORD and we don't plan to work on #183 any time soon. Instead, please use the Data Access API to download files: http://guides.dataverse.org/en/4.5/api/dataaccess.html

You're right that we should document somewhere how to download a file based on a DOI but it's a two step process. First you get a list of file IDs via the "

[2016-09-02 18:10] pdurbin commented on #3164
Per @djbrooke the Sensitive Data project is being deferred until Dataverse 5.0 so I'm unassigning myself since I like having https://github.com/IQSS/dataverse/issues/assigned/pdurbin reflect what I'm actually working on. I'll also add the 5.0 milestone.

[2016-09-02 18:10] pdurbin commented on #3152
Per @djbrooke the Sensitive Data project is being deferred until Dataverse 5.0 so I'm unassigning myself since I like having https://github.com/IQSS/dataverse/issues/assigned/pdurbin reflect what I'm actually working on. I'll also add the 5.0 milestone.

[2016-09-02 18:10] pdurbin commented on #3151
Per @djbrooke the Sensitive Data project is being deferred until Dataverse 5.0 so I'm unassigning myself since I like having https://github.com/IQSS/dataverse/issues/assigned/pdurbin reflect what I'm actually working on. I'll also add the 5.0 milestone.

[2016-09-02 18:17] sekmiller commented on #3275
@pdurbin - The key I think is to look at groupsFor method in the GroupsServiceBean. It takes in an authenticated user and returns a map of the groups the user belongs to.  The intent is to pick up run-time groups here.

[2016-09-02 19:27] djbrooke commented on #2465
Before ready, need mockups of:

- Metadata layout of current fields
- Show file citation information

[2016-09-02 19:32] pdurbin commented on #1403
This is a follow up to #1401. Here is where we document the manual process for adding an institution-wide group: http://guides.dataverse.org/en/4.5/installation/shibboleth.html#institution-wide-shibboleth-groups

[2016-09-02 19:38] djbrooke commented on #2003
Thanks @scolapasta for getting more information about this!

[2016-09-02 19:41] djbrooke commented on #3241
@mheppler - can you link up the mockups here so that we can review and move to ready? Thanks!

[2016-09-02 19:45] djbrooke commented on #3259
I'll confirm that what we show at the dataset is acceptable to also show at the file level. If this is OK, we can use that format.

[2016-09-02 19:48] djbrooke commented on #3245
Mockups are set, but we need information from the Provenance team about what will be displayed under the tab and what error conditions to expect.

[2016-09-02 19:53] djbrooke commented on #3238
Mockups are set, but we need information from the Provenance team about what will be displayed under the tab and what error conditions to expect.

[2016-09-02 19:59] djbrooke commented on #2678
- Need to view the behavior
- See how other sites handle this
- Decide whether or not to include in 4.6 or as a large file reorganization effort

[2016-09-02 20:01] djbrooke commented on #3251
Will meet with @raprasad for further definition here.

[2016-09-05 12:21] Grimaldum commented on #3328
By looking more precisely to my datas, some utf-8 "No-Break Space", aka \xa0, aka & nbsp, were present. So I purged them, and the error disappeared. I had a second error after that, an argument, optionnal for Dataverse, but mandatory for Datacite it seems:
Response code: 400, [xml] xml error: cvc-minLength-valid: Value '' with length = '0' is not facet-valid with respect to minLength '1' for type

[2016-09-06 07:41] michbarsinai commented on #3273
Method implemented. As the `groupsFor` method is used twice, and I didn't want to break existing usages, I've added another method to the `GroupServiceBean`, called `flattenGroupsCollection`. Given a collection of groups, this method returns a stream of the groups in the collection and all their group descendants.

See unit test for sample usage. In the context of this issue, I think it would be e

[2016-09-06 14:42] raprasad commented on #3229
done by benson last week

[2016-09-06 14:42] #3229 closed

[2016-09-06 14:44] raprasad commented on #3288
after talking to @sekmiller, ?s to answer:
(1) When were these xlsx files uploaded?  Pre/post 4.0?
(2) How does the home page "File Type" facet capture files?  e.g. How does it distinguish what is an excel file?

[2016-09-06 14:54] raprasad commented on #3288
Answer to (B) above:
  1. One the home page, the "File type" facet for _properly identified_ Excel files is either:
     1. **tabulardata**.  User uploads an ```.xlsx``` file  and ends up with a ```.tab``` as in @sekmiller's previous comment.  May be problematic/confusing for user but that's a separate issue
     1.  **document**.  An ```.xlsx``` file not "ingested" is considered a file type "docu

[2016-09-06 17:42] djbrooke commented on #2881
@bradleycaccivio and @scolapasta - I'm going to move this to the "backlog" column  if there's not active development on it at this time.  Feel free to move it to the correct column on https://waffle.io/IQSS/dataverse if this is not correct.

[2016-09-06 18:26] djbrooke commented on #3324
@kcondon - you spurred a quick discussion about this during backlog grooming. You said that this may be as expected and not a bug? Can you leave some details here? Thanks!

[2016-09-06 19:35] raprasad opened #3331 "Guestbook - Downloads via API are not counted"
originally part of #3324

---

Update: Downloads via the API are not counted in the GuestBookResponses -- e.g. don't seem to be counted at all.

See this file: `Access.java` and this method--and add a new `GuestBookResponse` object to it:

[code]

[2016-09-06 19:36] raprasad commented on #3324
@djbrooke @kcondon : There were two bugs in this ticket.  I separated the 2nd one (API downloads not being counted at all) into this ticket: #3331

[2016-09-06 20:05] raprasad opened #3332 "Guestbook: Restrict file download counts to current session"
-  **Action**:
  - Users can keep clicking `Download` on the same file.
  -  Each click gets recorded as a separate download.
  -  **Problem**:
    - Inaccurate/skewed file download counts
  - **Fix**:
    - Restrict file download _counts_ by session.

---

Related bugs: #3324, #3331

[2016-09-06 20:30] raprasad opened #3333 "12,400+ of "unknown files" are ".xz" - Mark them appropriately"
12,400+ of "unknown files" (9.990% of unknown files) have extension `.xz`

---

Fixes:
- [x] ~~**Now**: Mark these as compressed files instead of unknown.~~
- [ ] **By end of year**: Alternately, re-crawl these files and save the file list as metadata
  - Depends on #3088

---

Filed under: tech debt

![harvard_dataverse](https://cloud.githubusercontent.com/assets/1036060/18289849/22b3fbfa-744f-11

[2016-09-06 20:38] raprasad opened #3334 "Fix 6% of unknown files; Classify 7,249 .NSDstat files"
- similar to #3333

---

7,249 of files with _known_ extension `.NSDstat` are marked as _unknown_.

Fixes:
- [x] ~~**Now**: Mark these as related to the Norwegian Center for Data Research.~~
  - http://www.nesstar.com/support/faq.html
- [ ] **Later**: If we can read these files and/or get the DDI, then re-crawl, and save the metadata appropriately
  ##  - Depends on #3088

[code]

[2016-09-06 20:45] raprasad opened #3335 "Fix 4.1% of unknown files; Classify 5,156 medical imaging files ( .dcm)"
- similar to #3333

---

5,156 of files with _known_ extension `.dcm` are marked as _unknown_.
- "DICOM (an acronym for Digital Imaging and Communications in Medicine) is the most common standard for receiving medical scans"

Fixes:
- [x] ~~**Now**: Mark these appropriately, e.g. medical images.~~
- [ ] **Later**: Re-crawl, pulling metadata and producing thumbnails
  - http://pydicom.readthedocs.i

[2016-09-07 14:38] djbrooke commented on #3324
Thanks @raprasad. So if this one is expected behavior (if confirmed by @kcondon), we'll close this one out and keep the other around.

[2016-09-07 14:46] mheppler commented on #3333
Related to #2202

[2016-09-07 14:46] mheppler commented on #2202
Related to #3333

[2016-09-07 14:48] mheppler commented on #3334
Related to #2202

Also make sure these files have the proper MIME type to display in the cards and facets.

[2016-09-07 14:48] mheppler commented on #3335
Related to #2202

Also make sure these files have the proper MIME type to display in the cards and facets.

[2016-09-07 14:58] donsizemore opened #3336 "4.5 requires timers, add to upgrade instructions"
Hello,

My in-place upgrades from 4.4 to 4.5 didn't pick up the new dataverse.timerServer=true jvm-option. It's in the Sphinx documentation and the install script will add it to a new installation, but there's not a mention of it in the 4.5 upgrade instructions. I think a note to this effect would be very helpful for your admins.

Thank you,
Donald

[2016-09-07 15:09] kcondon commented on #3324
Yes, this is likely due to migration and expected behavior. Leonid would best be able to confirm since I believe he worked on this aspect of migration.

[2016-09-07 15:21] kcondon commented on #3336
Done

[2016-09-07 17:57] shlake opened #3337 "As a researcher, I want URLs I enter in metadata fields to be clickable (i.e. alternativeURL) so that it's easier to follow links"
The new (v4.4) **alternativeURL** metadata field should be clickable when citation metadata is displayed.

On metadata entry, the Watermark says "Enter full URL".

Solution: In citation.tsv file the field **displayFormat** is empty. In all the other metadata fields that are "URL" fields (and are clickable) have the following as the **displayFormat**:
`<a href="#VALUE">#VALUE</a>`

So I think that

[2016-09-07 19:45] mheppler commented on #3241
Mockups: [Files (All Things) - Admin - Dataverse 4.2 and BEYOND...](https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/grid)

![file-replace-step2](https://cloud.githubusercontent.com/assets/687227/18326057/0b4bffc6-7512-11e6-92a9-e20d46058896.jpeg)

![file-versions](https://cloud.githubusercontent.com/assets/687227/18326056/0b49c74c-7512-11e6-8f00-0bab76940bae.jpe

[2016-09-07 19:50] mheppler commented on #3241
Related to/duplicate of: Files: Ability to Replace a File Instead of Deleting #2290

[2016-09-07 19:53] mheppler commented on #2465
Although the details are fuzzy, we'll move forward with this layout mockup and revise as needed.

Mockups: [Files (All Things) - Admin - Dataverse 4.2 and BEYOND...](https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/grid)

![file-metadata](https://cloud.githubusercontent.com/assets/687227/18326321/2c3972ee-7513-11e6-94bb-1146f6da2826.jpeg)

[2016-09-07 20:02] mheppler commented on #2465
Related to/duplicate of: File Metadata Support #2295

[2016-09-07 20:03] mheppler commented on #2465
Started development related to bring back the previously developed file landing pg on the [file-metadata-provenance-2295](https://github.com/IQSS/dataverse/tree/file-metadata-provenance-2295) branch.

[2016-09-08 17:51] pameyer opened #3338 "support OAuth2 (ORCID, Google, and GitHub) authentication within dataverse"
On 2016-10-03 @djbrooke and I (this is @pdurbin writing) discussed how this issue doesn't have a description and agreed that I would take a swing at filling it in to explain in expected to be in scope and out of scope for this issue. I'm very open to feedback and will likely be pulling in @pameyer and others to help define requirements. Some iteration on the lists below is expected.

## In scope

[2016-09-08 20:50] kcondon opened #3339 "Ingest: Stata 13 file fails ingest, works if saved as 11 and 12"
From #4408

Once again, we DO support Stata 13 already. Rather than "may work in certain cases" it's the other way around - there may be instances of Stata 13 files that we can't ingest. Whether because there's a bug in our implementation; or because something was missing from their documentation that was used to implement the ingest plugin - so we may be coming across some data encoding that we d

[2016-09-09 13:33] pdurbin commented on #3273
@michbarsinai I'm having good luck with the new `collectAncestors` method you added in 1c1c60b. Thanks! Unlike before, the following scenario now works:

- `scripts/api/data/ipGroup-all.json` is used to create an IP group that matches all IP address (in the GUI you can find this group as `&ip/ipGroup3` - "IP group to match all IPv4 and IPv6 addresses")
- in an unpublished subdataverse, create an e

[2016-09-09 14:21] mheppler commented on #1808
Related to: Metrics: Display visualizations on dataverse.org #3230

[2016-09-09 15:20] djbrooke commented on #3338
Hey @pameyer - is this what you guys are working with @michbarsinai on? Feel free to link up and add any details here.

[2016-09-09 15:26] djbrooke commented on #3339
Closing this one out, user confirmed that the file was saved incorrectly.

[2016-09-09 15:28] pdurbin commented on #3338
Yes. I had observed yesterday that there's a `ORCiD-integration` branch at https://github.com/IQSS/dataverse/tree/ORCiD-integration that isn't prepended with a GitHub issue number so @pameyer @bmckinney agreed that we should create one. #829 is related but less well defined, in my opinion. This new issue is clearly about OAuth. #923 is also related but out of scope for now, I believe.

[2016-09-09 15:35] pdurbin commented on #3328
See also details at http://irclog.iq.harvard.edu/dataverse/2016-09-02#i_40373

[2016-09-09 15:39] kcondon commented on #3339
Stata 13 ingest should be working, saving and ingesting as Stata 11/12 is only a workaround.

[2016-09-09 15:41] pdurbin commented on #3339
Right. http://guides.dataverse.org/en/4.5/user/tabulardataingest/supportedformats.html says we support STATA 4 to 13.

[2016-09-09 16:20] pdurbin opened #3340 "IP group JSON should support single addresses"
I gather from a336475 that IP groups should be able to be expressed as a single address. This should be tested/documented. I'm in the middle of resolving merge conflicts in pull request #3103 and I'm a little worried that I may be unfixing this? I'll leave a comment in a bit.

[2016-09-09 16:22] raprasad commented on #3288
update query to fix content type:

## 1 - Run subquery count

[code]

## 2 - Run update query

[code]

[2016-09-09 16:40] pdurbin commented on #3273
Ok, resolving the merge conflict was pretty thorny and resulting in me opening #3340 and leaving a long comment in 80268c3 to explain what I did but both and before and after the merge this issue seems to have been fixed. Please see my last comment about "groups within groups" for how I've been testing. Passing to QA.

[2016-09-09 17:31] pdurbin commented on #3275
I just demonstrated this bug to @raprasad and @sekmiller as of 80268c3 on the `1380-honor-ip-groups`. I'm going add them as assignees to help me figure out where in the MyData code a list of groups for the user is determined.

[2016-09-09 17:32] sekmiller commented on #3275
In the RoleAssignmentServiceBean the method getUserRuntimeGroups needs to use the new "groupsFor" from the GroupsServiceBean

[2016-09-09 17:36] raprasad commented on #3288
almost done, after @kcondon runs index all, content types will be correct in db and solr

[2016-09-09 19:02] kcondon commented on #2170
OK, all of the above is correct and sounds like math challenge is grouped with another reported issue. So marking as closed.

[2016-09-09 19:47] kcondon commented on #1991
Discussed with Gustavo, he needs to confirm with Merce what the expected default behavior should be so assigning to him at his suggestion.

To summarize the status of this winding path of an issue:
Creating a dataset in UI and through APIs (Sword, native) have default Licensing and they differ. UI defaults to CC0, Sword defaults to CC0, Native defaults to NONE per Phil's testing. Should Native def

[2016-09-09 20:21] mheppler opened #3341 "UI Cleanup - Action Button + Metrics Block Layout"
The layout of the top section of the dataverse, dataset and soon to be file pgs (e.g. Metrics block, Edit button, Publish/Submit for Review button, Email/Link/Share button group, mysterious disappearing View Dataset Versions button) could be improved.

This issue was raised upon further review of the mockups for the file pg (#2465) which require the additions of Explore, and Request Access/Downloa

[2016-09-09 20:25] michbarsinai commented on #3338
My bad - I thought this was a pure HMS interest, I didn't even think of searching for an issue. Good thing I didn't fork into a new repo.

I'm happy to change the name of the branch to start with #3338 if that helps.

[2016-09-09 20:35] scolapasta commented on #3337
@shlake correct me if I'm wrong, but the display format for other URLs is: "<a href="#VALUE">#VALUE</a>"; not just #VALUE

Regardless, currently that displayFormat is only used for compound types. This is the first case of a URL in a primitive type. Using display format may be the correct path, bit just setting it won't actually change anything with the current logic.

[2016-09-09 20:37] raprasad commented on #3275
see: ```explicitgroup_containedroleassignees```

[2016-09-09 20:42] shlake commented on #3337
The display format for the other URLs is:
`
 <a href="#VALUE">#VALUE</a>`

it has the HTML code around the #VALUE. (Which I think you typed out in your comment above, but got generated as a link when saved.)

And you are correct, I was going to update the ticket on Monday - me setting the displayFormat to the above code (as the other URLs are set to), does not make it hyperlinked when displaying w

[2016-09-09 20:45] djbrooke commented on #2465
Since this is on the critical path for many 4.6 items, we'll wire this up and move it to done as the above mockups specify.

We'll move forward changes to the appearance of the dataverse, dataset, and file landing pages as part of #3341.

[2016-09-09 20:46] djbrooke commented on #3341
Before moving to ready, we should get an estimate on this and do some user testing.

[2016-09-09 20:47] #3311 closed

[2016-09-09 20:48] djbrooke commented on #3311
@pameyer your code looks fantastic! I verified this on dvn-build with two and three author citations. I also checked it on one author citations as a regression.

Moving to Done.

[2016-09-09 21:02] pameyer commented on #3338
@michbarsinai - I'm pretty sure your branch predates this issue.  I'll defer to the others on branch naming conventions.

[2016-09-09 21:02] pameyer commented on #3311
@djbrooke - I changed maybe four characters (aka - most of the credit for fantastic code goes to someone else).

[2016-09-09 22:01] kcondon commented on #3273
@pdurbin Not working per originally reported issue above.

[2016-09-09 22:02] kcondon commented on #3273
OK, tested and it works now.

[2016-09-09 22:02] #3273 closed

[2016-09-09 23:18] scolapasta commented on #3337
Ah, I fell into same trap you did! (that's why I thought you only put "#VALUE" because your original comment also got generated as a link. But, OK, we are on same page now. :)

[2016-09-10 20:52] michbarsinai commented on #3340
re: the documentation: I'm note sure we have a central place for documenting the formats (we should, of course, but I'm not sure we have the personnel).
We do have example son files at `scripts/api/data/`, and there `ipGroup-localhost.json` does have this format.

[2016-09-12 12:19] pdurbin commented on #3340
@michbarsinai thanks for the fix at b0c0779 ! I just moved this card to the QA column at https://waffle.io/IQSS/dataverse

[2016-09-12 13:33] pdurbin commented on #3275
On Friday @raprasad and I started collaborating on a new branch called `mydata-ipgroups` which I am keeping up to date with the `1380-honor-ip-groups` branch (which pull request #3103 is based on) with the intention of merging the new branch back into the existing branch before the pull request is merged. An SQL query needs to be written in the MyData code to handle "groups within groups" such as

[2016-09-12 13:56] pdurbin opened #3342 "Update forked SWORD library to prevent Maven from reaching out to dataone.org"
As of this morning Travis is having trouble building the Dataverse war file and it has something to do with how the forked SWORD library at https://github.com/IQSS/swordv2-java-server-library we reference in pom.xml is incorrectly reaching out to dataone.org rather than the finding the jar on the filesystem at `local_lib/org/swordapp/sword2-server/1.1-SNAPSHOT`.

This issue is affecting developers

[2016-09-12 14:39] pdurbin commented on #3342
I'm starting to wonder if I'm mischaracterizing the issue, which may be simply that http://dev-testing.dataone.org/maven is down. Locally, for now I'm commenting out this section of the Dataverse pom.xml and I'm able to build quickly again:

[code]

I mean, I think our forked SWORD library might still benefit from having "IQSS" or something in the version but maybe this whole issue goes away if ht

[2016-09-12 14:51] mheppler commented on #2465
Outline of requirements for the file pg:

- [ ] File Metadata
  - Name
  - Description
  - Citation (w/ dataset DOI, additional file info, Cite Data button, Data Citation Standards link)
  - Upload Date
  - File Type
  - File Size
  - MD5/UNF, Variables + Observations
  - File Tags
- [ ] Icon/Thumbnail
  - Preview
- [ ] Actions
  - Edit Metadata/Access/Delete
  - (Publish/Submit for Review?)
  - C

[2016-09-12 15:05] mbjones commented on #3342
@pdurbin That is an older URL -- our maven repository has moved to http://maven.dataone.org.  We will put in a redirect from the old hostname so that it will resolve, but please update your build to use the stable maven repository.  Thanks.

[2016-09-12 15:18] pdurbin opened #3343 "dev-testing.dataone.org/maven deprecated, should be removed from pom.xml"
This is a targeted follow up to #3342 where a problem was identified with our use of http://dev-testing.dataone.org/maven in our pom.xml

Per @mbjones at https://github.com/IQSS/dataverse/issues/3342#issuecomment-246377742 we should be using http://maven.dataone.org instead.

[2016-09-12 15:27] pdurbin commented on #3342
@mbjones thanks! The actual fix is a one line change so I created a new issue (#3343) and pull request (#3344) to update our pom.xml file to use the correct dataone maven repo.

Maybe I was wrong about our SWORD library fork. Maybe we're not doing it wrong. I'm going to close this issue for now but anyone is welcome to comment or re-open it if we should update it.

[2016-09-12 15:27] #3342 closed

[2016-09-12 15:32] pdurbin commented on #3343
Travis seems happy with the one line change I just made in pull request #3344: https://travis-ci.org/IQSS/dataverse/builds/159343249

I moved this issue to QA in https://waffle.io/IQSS/dataverse and will assign the 4.5.1 milestone.

[2016-09-12 15:58] pdurbin commented on #3275
Ok @sekmiller have the "IP Group within an explicit group" test scenario set up on his machine and he's going to take a look. He can see how #3273 was fixed with the `collectAncestors` added by @michbarsinai in 1c1c60b.

[2016-09-12 18:22] djbrooke commented on #3145
(Note to self, mostly) This is a parent issue of the items created and estimated in the 9/8 meeting, notes recorded here:

https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit

These will be created as new Github issues and linked here.

[2016-09-12 19:09] pdurbin opened #3345 "Remove references to apitest.dataverse.org in guides (demo server instead)"
https://apitest.dataverse.org was set up during the Dataverse 4.0 rewrite as a place for API developers to confirm that we had maintained backward compatibility, especially for the SWORD API (#780). At the time, we had concerns with the stability of the API but now we're the API is in production and we're quite comfortable with API users hitting both Harvard's production instance of Dataverse ( ht

[2016-09-12 19:15] #3343 closed

[2016-09-12 19:23] pdurbin commented on #3345
I just posted "apitest.dataverse.org to be shut down, use demo.dataverse.org instead" as a head up to the community at https://groups.google.com/d/msg/dataverse-community/5r1_dB5WShQ/mofiiE6VAwAJ

[2016-09-12 19:39] pdurbin commented on #3275
This bug fix was a joint effort. @raprasad and I refactored the MyData code to allow the new `collectAncestors` method to be called and @sekmiller applied the actual fix in d50351d which I just merged into branch for the IP groups pull request #3103. That is to say that the fix is in the `1380-honor-ip-groups` branch.

The test case scenario is the same as https://github.com/IQSS/dataverse/issues/

[2016-09-12 20:00] mheppler commented on #2465
Added static placeholders (e.g. download, request access, and explore buttons) on file pg.

Passing to @sekmiller to wire these up. Outstanding questions about requirements (citation, publish, permissions, et al) in the outline above can be sorted while this initial development is starting.

[2016-09-12 20:32] djbrooke commented on #2465
Thanks @mheppler!

Can someone instead of @sekmiller pick this up? I'm going to unassign for now since it looks like he has a few things in progress and we can figure it out in standup tomorrow.

[2016-09-12 21:52] kcondon commented on #3340
This works but it requires that you specify both the ipv4 and ipv6 forms of the address, otherwise you get a 500 error. The range form allows only specifying ipv4, which is convenient.

Passing back to Michael for conisderation.

[2016-09-13 13:20] djbrooke commented on #2465
My bad! Talked with @sekmiller and we're all set - he recently finished up a few items and has availability.

[2016-09-13 13:22] djbrooke opened #3347 "Administration Changes to Support rsync"
We'll need to make changes at the Installation and the dataverse level to support the new options available for rsync. Two that were discussed were:
- Administrators able to define the file transfers/uploads available (dropbox, rsync, UI)
- Setting the Data Capture Module (#3145) URL in the installation configuration settings

[2016-09-13 13:33] djbrooke opened #3348 "File Upload w/ Rsync UI/Workflow changes"
Users should be able to upload files via rsync. When rsync is available, users will not be able to upload via http methods.

The technical underpinnings for rsync are present, but we need to decide on what the UI/UX should be for rsync uploads.

[2016-09-13 13:41] djbrooke opened #3349 "Viewing files uploaded using rsync"

[2016-09-13 13:43] djbrooke opened #3350 "Add/Remove download options for files uploaded using rsync"

[2016-09-13 13:47] djbrooke opened #3351 "Custom File Handling - rsync files"
Certain buttons or other options may be disabled for files added to dataverse using rsync.

[2016-09-13 13:48] djbrooke opened #3352 "Add new APIs in support of rsync"
We'll need to add some new APIs to support adding files using rsync.
- Checksum validation API
- Upload Mechanisms API (was Upload API)
- Script Request API

[2016-09-13 13:51] djbrooke opened #3353 "File Import Batch job in support of rsync"
Version support will come in a later iteration.

[2016-09-13 13:52] djbrooke opened #3354 "Support SHA1 rather than MD5 as a checksum on a per file basis"
In support of rsync.

[2016-09-13 14:29] pdurbin commented on #3347
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "3" because code has already been written.

We're using `:DataCaptureModuleUrl` as the setting key in the database in the standard way.

With regard to administrators being able to define the file transfers available w

[2016-09-13 14:34] pdurbin commented on #3348
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "5".

The code that @bmckinney demo'ed lives at https://github.com/bmckinney/dataverse-canonical/tree/dcm-beta and it works (deployed to https://dv.sbgrid.org currently) but would probably benefit from @scolapasta and

[2016-09-13 14:43] pdurbin commented on #3349
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "3" because from my understanding @bmckinney and @pameyer are happy with the status quo in terms of how files are viewed. In the platform they are migrating from ( https://data.sbgrid.org ) users don't have any file vi

[2016-09-13 14:57] pdurbin commented on #3350
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "8".

The system that @bmckinney and @pameyer are migrating from ( https://data.sbgrid.org ) only permits files to enter and leave the system via rsync because the datasets are relatively big (55 GB or so, I believe).

[2016-09-13 15:00] pdurbin commented on #3351
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "5" but I feel like this issue is highly intertwined with #3350 with regard to "download all as zip".

This issue raises several concerns I expressed at the 2016-09-07 demo because those buttons we're talking about hid

[2016-09-13 15:44] pdurbin commented on #3352
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "8". Here are links to the code that was demo'ed the day before:

- Checksum validation API: https://github.com/bmckinney/dataverse-canonical/blob/069fd8d72bfe96ec93b4005550b0c771dee01fc4/src/main/java/edu/harvard/iq/d

[2016-09-13 15:50] pdurbin commented on #3353
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "5". The code has already been written and can be found at https://github.com/bmckinney/dataverse-canonical/tree/dcm-beta/src/main/java/edu/harvard/iq/dataverse/batch

As @djbrooke mentioned in the description, this is

[2016-09-13 15:59] pdurbin commented on #3354
During the 2016-09-08 SBGrid Sprint Planning meeting ( https://docs.google.com/document/d/1wWSdKUOGA1L7UqFsgF3aOs8_9uyjnVpsPAxk7FObOOI/edit ) this issue was given an effort level of "3".

Dataverse calculates and stores MD5 checksums but https://data.sbgrid.org (the system @bmckinney @pameyer and I especially) are trying to migrate from supports and needs to continue to support SHA1 checksums inst

[2016-09-13 17:24] pdurbin commented on #3145
@djbrooke thanks! Here are the related issues we created today:

- #3347
- #3348
- #3349
- #3350
- #3351
- #3352
- #3353
- #3354

[2016-09-13 17:30] pdurbin commented on #1138
This week a user mentioned that disabling SELinux fixed the "Metadata Request Failed" and  "Discovery Request Failed" errors he was seeing while trying to set up Shibboleth. He encouraged me to go ahead and close the ticket he opened ( https://help.hmdc.harvard.edu/Ticket/Display.html?id=240694) but I thought I'd mention it here. This is what I wrote in that ticket:

At
http://guides.dataverse.org

[2016-09-13 21:53] kcondon commented on #3275
Ip groups and ip groups within groups all work on MyData, good job!
Closing

[2016-09-13 21:53] #3275 closed

[2016-09-14 13:27] pdurbin commented on #3338
@michbarsinai please don't worry about the name of the branch but I'll assign this issue to you since you're actively working on it. I moved it to the "Development" column at https://waffle.io/IQSS/dataverse

[2016-09-14 16:35] pdurbin commented on #3354
@djbrooke and I discussed this issue today and I mentioned that one of the issues we'll need to consider is the "cards" for files should show MD5, SHA-1, or both.

Here's how https://dataverse.harvard.edu looks today (v4.5), showing MD5s:

![screen shot 2016-09-14 at 11 55 27 am](https://cloud.githubusercontent.com/assets/21006/18520500/177f19d6-7a76-11e6-9a61-91f89520f3c1.png)

Here's how https:/

[2016-09-14 16:39] pdurbin commented on #3354
@djbrooke and I also discussed why one would choose to use SHA-1 rather than MD5 in the first place. From a quick look at http://crypto.stackexchange.com/questions/18612/how-is-sha1-different-from-md5 it seems like SHA-1 is less (or completely?) vulnerable to collision attacks: https://en.wikipedia.org/wiki/Collision_attack

In practice, I don't know if using MD5s to verify file integrity is reall

[2016-09-14 18:17] pdurbin commented on #3345
Fixed in in pull request #3355. I moved this issue to Code Review at https://waffle.io/IQSS/dataverse but it could probably go straight to QA. I'm comfortable merging it right now. It's not a code change. Just cleanup of the docs (especially removing the reference to the apitest server at http://guides.dataverse.org/en/4.5/api/ ) and cleanup of duplicate scripts that now are used by the phoenix se

[2016-09-14 18:24] djbrooke commented on #3349
Let's keep the status quo as it will make SBGrid users happy and will not require any custom handling that differs rsync files from other files. Can this issue be closed?

[2016-09-14 18:30] djbrooke commented on #3345
Moving to QA

[2016-09-14 19:29] pdurbin commented on #3345
I opened https://github.com/IQSS/dataverse-client-python/issues/36 and left a comment at https://github.com/IQSS/dataverse-client-r/issues/2#issuecomment-247112442 to let other developers know about the change.

[2016-09-14 20:20] kcondon opened #3356 "Saved Search: Null ptr error when creating saved search, may be related to IP Groups refactor"
Testing Saved Search since it was partly refactored due to IP Groups. Found that creating a saved search resulted in a null ptr error:

[2016-09-14T16:05:10.099-0400] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.webcontainer.jsf.lifecycle] [tid: _ThreadID=50 _ThreadName=jk-connector(1)] [timeMillis: 1473883510099] [levelValue: 900] [[
  #{DataversePage.saveSavedSearch}: javax.ejb.EJBExc

[2016-09-14 20:53] kcondon commented on #2789
Restrict/unrestrict works, new button text in place, closing.

[2016-09-14 20:53] #2789 closed

[2016-09-14 21:04] djbrooke commented on #3288
The update of .xlsx files from unknown to known has been completed. This provides significant value in that it reduces the number of files that are undefined in our reports.

The re-ingest of files is an outstanding issue, one that would be better served by delaying until after we have file versioning in place (#2290). I'm going to move this issue out of 4.5.1 and mark it as not started. It will b

[2016-09-14 21:18] #1991 closed

[2016-09-14 21:20] kcondon commented on #1991
per Gustavo/Danny, this endpoint may need additional work but for this issue it is incrementally better so closing this.

[2016-09-14 21:27] scolapasta opened #3357 "API default license should be CCO (and corresponding logic)"
In 4.5, we set the default license via API as "None". We want it to be CC0 (consistent with Sword API and UI).

However, we also need to add logic / validation, so that:
- if they enter any terms, the default, in fact, would be none
- if they enter terms and actively set CC0 then it fails with a validation error

[2016-09-14 21:29] kcondon commented on #2657
Variable text is in place but when assigning roles at the dataset level, the text in some cases also says, Dataverses: Assigning the Member role means the user(s) will have the Member role applied to all Dataverses, Datasets, Files within this Dataset.

Since this at the dataset level, dataverses should not be in the message. Not all roles includes dataverses, why?

Roles including dataverses at d

[2016-09-14 21:29] scolapasta commented on #1991
New issue opened as #3357

[2016-09-14 21:32] djbrooke commented on #3345
Looks good. In the documentation, I see that instances of apitest have been changed up to demo.

[2016-09-14 21:34] kcondon commented on #2658
OK, text in place. Closing.

[2016-09-14 21:34] #2658 closed

[2016-09-14 22:10] #2572 closed

[2016-09-14 22:22] kcondon commented on #2254
Works for me too! Closing.

[2016-09-14 22:22] #2254 closed

[2016-09-15 06:35] michbarsinai opened #3358 "API cleanup"
While working towards JavaOne'16, where we present our API implementation, I found various inconsistencies. This issue is used for tracking their fixes.

[2016-09-15 09:12] michbarsinai commented on #3358
d813105: Should be "Illegal command translates to `403 FORBIDDEN`.

[2016-09-15 13:03] raprasad opened #3359 "Map - Format logos for 4 new installations"
- fyi: Once this is done and installations linked, new map can be added to dataverse.org

---

For the new map of DV installations, logos are needed for these places:

- [x] Maine dataverse
- [x] Scholar's portal
- [x] 	ICRISAT - http://dataverse.icrisat.org/
- [x] DV in france

- @raprasad to coordinate with @mheppler

[2016-09-15 13:09] pdurbin commented on #3345
Pull request #3355 has been merged so I'm tagging this with the milestone for the next planned release (4.5.1). I assume this issue should be closed.

[2016-09-15 13:22] pdurbin commented on #3356
This regression was due to me refactoring the search code (which Saved Search depends on) to operate on a DataverseRequest rather than an AuthenticatedUser in e6438c7 for #1380 and #1513.

Saved Search was created back when there was no DataverseRequest object and what we persist is the id of the AuthenticatedUser who created the saved search (the "creator_id" at http://phoenix.dataverse.org/schem

[2016-09-15 14:19] bmckinney commented on #3354
In general, being able to import checksums using any algorithm via manifest files (like we now do for rsync) and export them (e.g., [bagit](https://en.wikipedia.org/wiki/BagIt)) is desirable.

Re: display - what was the user story for this? Do people currently copy and paste MD5s and/or UNFs from the display and do something with them?

[2016-09-15 14:20] sekmiller commented on #2657
Fixed the logic that displays the types of objects that a user will be granted permission on.

[2016-09-15 14:40] tlchristian commented on #2278
We are up to our elbows moving datasets to dataverses and dataverses to other dataverse in preparation of our migration.  Front-end functionality would be immensely helpful.

[2016-09-15 14:48] raprasad opened #3360 "Fix content types of unknown files with extensions '.dcm', '.NSDstat', '.xz', '.docx', '.doc', 'pdf'"
### Problem
31,415 files  mistakenly have a ```contenttype``` of ```application/octet-stream```--or unknown.

### Overall fix:

This will fix 28% of the files marked as unkown (```application/octet-stream```)

 - [x] Change the contenttype via sql queries (instructions below)
 - [ ] Run a re-indexing to fix file cards
 - Note: Re-ingesting, if applicable, will be done file type by file type

The f

[2016-09-15 14:54] #3345 closed

[2016-09-15 15:39] pdurbin commented on #3354
@scolapasta and I just discussed the design that @sekmiller and I worked on yesterday and the plan now is to say on a per file basis, only one checksum would be able to be stored but it could be MD5 or SHA-1. @bmckinney this was before I saw what you wrote above. Let's sync up on this at our 2pm meeting today. I added it to the agenda: https://docs.google.com/document/d/1A_CtAOyrUTAmR13xUAtsswWrHx

[2016-09-15 15:44] pdurbin commented on #2278
@tlchristian Amber from Scholars Portal (not sure if she's on GitHub or I'd @mention her) brought this up on this week's community call: https://docs.google.com/document/d/1_IrtixbLPDPU7B73EhwJML9t_hfpqs3tdxRGXYb8e0k/edit?usp=sharing

[2016-09-15 16:23] djbrooke commented on #3133
Talked with @scolapasta and he helped me understand that this is not a code change and as such would not go out with the 4.5.1 release.  Removing the 4.5.1 label.

[2016-09-15 17:38] pdurbin commented on #3336
Ever since 4.5 came out when I attempt to run https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy-develop/ I'm getting "EJB Timer Service is not available". My solution has been to ssh into the box and move the "generated" directory aside like this (after stopping Glassfish first):

    mv /usr/local/glassfish4/glassfish/domains/domain1/generated /tmp

This allows the next build (

[2016-09-15 17:47] donsizemore commented on #3336
Phil, I've started performing
`$ sudo rm -rf /usr/local/glassfish4/glassfish/domains/domain1/generated/
$ sudo rm -rf /usr/local/glassfish4/glassfish/domains/domain1/osgi-cache/felix/`
as a part of any redeployment, upgrade or (recently) downgrade.

Do you just want to add it to your scripts (or am I mis-reading the question)?

[2016-09-15 17:53] pdurbin commented on #3336
@donsizemore that's exactly what I was thinking a fix or a work around would be and I've just encapsulated this in pull request #3361 which I'm associating with this issue since it's so closely related. I'm reopening this issue and putting it in QA in https://waffle.io/IQSS/dataverse

[2016-09-15 18:52] pdurbin commented on #3083
@bmckinney will create a new pull request to handle these two remaining items:

- Dataverse theme
- Dataset DOI

As of 4.5, one should be able to set the license via native API.

[2016-09-15 19:12] djbrooke commented on #3349
Closing in favor of #2249.

[2016-09-15 19:12] #3349 closed

[2016-09-15 19:34] djbrooke commented on #3350
If a user currently tries to download a dataset that's too large, the user gets a zip file with some of the files and an additional file that communicates that the file size was too high to be successfully downloaded.

Instead of this experience, it was suggested that the download button is disabled with a message that files can be downloaded individually. This provides a consistent experience for

[2016-09-15 19:39] djbrooke commented on #3350
Moving to the backlog - this is not a blocker for the SBGrid folks.

[2016-09-15 19:40] pdurbin commented on #3350
We noticed this in the code and @bmckinney is going to play around with setting this to "-1":

    /**
     * Download-as-zip size limit.
     * returns 0 if not specified;
     * (the file zipper will then use the default value)
     * set to -1 to disable zip downloads.
     */

[2016-09-15 20:24] pdurbin commented on #3350
Right. This issue is related (error message saved a file within the zip): #2060

[2016-09-15 20:29] kcondon commented on #2657
The issue I previously reported was fixed but found one more, sorry!
When you assign roles at a dataverse, any sub dataverses do not automatically get those perms since currently dataverses are "permission root" meaning they define their own perms and do not inherit.
So, messages at dv level should also not include dataverses.

[2016-09-15 20:30] pdurbin commented on #3347
@bmckinney @djbrooke and I discussed this and we moved it to "Ready" at https://waffle.io/IQSS/dataverse

@bmckinney and I are fine with the approach so I believe the next step is to make a pull request based on the code mentioned above.

[2016-09-15 20:32] pdurbin commented on #3348
@bmckinney @djbrooke and I discussed this and I believe that what should happen next is for a branch to be pushed to the main IQSS repo so that @mheppler can easily switch to it and make UI improvements.

[2016-09-15 20:33] pdurbin commented on #3351
@bmckinney @scolapasta @djbrooke and I discussed this issue today but decided to leave it in the backlog for now. We still need to figure out what the plan is for changing the code.

[2016-09-15 20:36] pdurbin commented on #3352
@bmckinney @scolapasta @djbrooke and I discussed this and it turns out that what was really meant was Upload Mechanisms API. This is the "setUploadMechanisms" method, for example at https://github.com/bmckinney/dataverse-canonical/blob/069fd8d72bfe96ec93b4005550b0c771dee01fc4/src/main/java/edu/harvard/iq/dataverse/api/Dataverses.java#L775 which is to say that that code has already been written so

[2016-09-15 20:39] pdurbin commented on #3353
@bmckinney @djbrooke and I discussed this issue. I indicated that I plan to get on this branch and play around with import code, executing the unit tests at least and what not.

@bmckinney will be scheduling a meeting with @landreev and ideally myself and @scolapasta to spent 10 or so minutes discussing the code and leaving plenty of time to discuss the implications.

[2016-09-15 20:46] pameyer commented on #3350
On the themes of "not caring how files get in", it would seem like it would make sense to hide this UI option (and disable through API as appropriate) if the total dataset size is larger than an admin-configurable threshold (aka - return "-1" for the above method).

[2016-09-15 20:53] pdurbin commented on #3354
@bmckinney @scolapasta and I decided on an approach, which I'll make a pull request for. I'd like to get a list from @pameyer of checksum schemes he thinks should be included in a Java enum but without this input it'll simply be a list of two schemes: MD5 and SHA-1. That is to say I'm not blocked.

[2016-09-15 21:00] kcondon commented on #2716
Ok, generally works well. Found 2 issues that are relatively minor or rare and could be ignored or opened in separate ticket if not have time:
1. Granting perms on dataverse or dataset page does not update user count on success, need to refresh page, otherwise works.
2. If decide to grant access to all files to a user that already has access to some throws both a success msg and 2 exceptions, thou

[2016-09-15 21:16] michbarsinai commented on #3356
The code looks good. At its core, the interplay between IP groups and saved search is that there's no such thing as an "access of a user" anymore - it's "access of a user from a given IP". Hence the application-wide refactoring from commands having a `User` field to commands having a `DataverseRequest` field.

Of course, there's the usual optimizations - if no IP group is defined, there's no real

[2016-09-16 20:42] #3336 closed

[2016-09-16 20:57] pdurbin commented on #3336
@djbrooke and I confirmed that builds 49 and 50 executed just fine after pull request #3361 was merged: https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy-develop/

Once again we can simply click "Build" and it "just works". 😄

[2016-09-16 22:27] pdurbin commented on #3354
I just pushed some scratch work to my fork at https://github.com/pdurbin/dataverse/commit/babb225b83de16eca858ffd729368ac47b25fd7b so that @bmckinney and @scolapasta can make sure that the database schema changes reflect the design we agreed upon yesterday and so that they can get a sense of the size and scope of the code change. I've changed 22 files so far and I'm not done yet. There are still d

[2016-09-19 02:13] landreev opened #3362 "Fix import issue introduced in 4.5 - only one version per dataset is imported!"
This was reported by Odum - the migration process was working for them in 4.4; when upgraded to 4.5 however, they noticed that only 1 version per dataset was migrated; even if there were multiple versions.

Note that this is important to fix as soon as we can (maybe even in 4.5.1!); as this bug makes it impossible to migrate datasets with multiple versions in 4.5!

Things tested and ruled out:

So

[2016-09-19 02:30] landreev commented on #3362
OK, I'm 99% positive I know what it is - it's a change made by Michael to the CreateDatasetVersionCommand... It's just that he committed that change back in December '15, and 4.4 was released in May '16 - so I assumed it was in 4.4 as well. But it wasn't... meaning, it must have been committed into some side branch that didn't get merged into the main develop until 4.5... Hence that's when it brok

[2016-09-19 13:10] pdurbin commented on #3362
@landreev if you're talking about 35f1f8c this was part of the "2746-testable-commands" branch that was merged into develop as part of pull request #3002 which was merged after 4.4 was released. So you're right. I didn't make it into a release until 4.5.

[2016-09-19 14:22] pdurbin commented on #3354
@djbrooke @bmckinney @pameyer should we change the title of this issue from "Store multiple checksum schemes" to "Store an alternative checksum scheme"? I feel like this better captures what we agreed to and what I'm working on per my last comment. Basically, on a per file level, the scheme that is stored is either MD5 (the default) or some other scheme such as SHA1.

[2016-09-19 14:22] raprasad opened #3363 "Mimetypes - Keep DRY*"
(\* Don't Repeat Yourself.)

---

Centralize mimetypes strings, including mimetype "groups" used for faceting.  Ideally have this in a database or database+JSON file.

### Mimetype strings are repeated all over the place.
- Single source them in the code or db.
- Use the official IANA list when possible: http://www.iana.org/assignments/media-types/media-types.xhtml
  - Auto-ingest this list or fin

[2016-09-19 14:25] sekmiller opened #3364 "DataCite DOI update on Dataset Deaccession"
Review process of identifier updates when a Dataset is completely deaccessioned with DataCite as the DOI provider.

[2016-09-19 14:26] pdurbin commented on #3364
For some more context on this issue: https://groups.google.com/d/msg/dataverse-community/GodzLLfeowc/PCpWRYOoBQAJ

[2016-09-19 14:44] mheppler commented on #2716
Thank you, @kcondon. Do you have a test environment for this branch still or should I just take a look locally to reproduce? Once I've had a look, I'll review with @sekmiller to get his input.

[2016-09-19 14:46] kcondon commented on #2716
@mheppler I've switched out the build already so please test locally and let me know if you cannot reproduce it.

[2016-09-19 15:18] kcondon opened #3365 "Version: Update version from 4.5 to v4.5.1 just prior to tagging."
See prior tickets for steps, etc.

[2016-09-19 18:01] mheppler commented on #2716
My notes...

I was not able to replicate this. I went to the dataset pg, and using both the Grant Access and the Assign Access buttons, was able to see the counts updated properly with the success msg displayed.

This is pretty ugly. Ideally we find a better solution than multiple mixed messages, and hopefully something more specific than "The role was not able to be assigned". Also, these msgs do

[2016-09-19 18:11] kcondon commented on #3340
Found another aspect to this issue: in addition to not allowing just ipv4, the ranges version only works with ipv4. It allows both but then does not properly detect the incoming ip addr.

[2016-09-19 19:40] mheppler commented on #3359
Name | Project Site | Installation
--- | --- | ---
Scholar's Portal | scholarsportal.info | dataverse.scholarsportal.info/dvn/
ICRISAT | icrisat.org | ?
Maine? | ? | ?
France? | ? | ?

[2016-09-19 20:13] sbarbosadataverse commented on #2716
If you need me to test let me know

On Sep 19, 2016 2:02 PM, "Michael Heppler" <notifications@github.com> wrote:

[2016-09-19 21:00] mheppler commented on #3359
Installations have been added with the above information, and logos were uploaded.

[2016-09-20 02:02] michbarsinai commented on #3340
@kcondon I was not able to reproduce this (or, it's reverse day again). Here's what I did:
1. Added two new groups, one containing a single IPv4 address and one containing a single IPv6 one (`data/ipGroup-single-IPv4.json` and `data/ipGroup-single-IPv6.json`). Addition was done via API.
2. Added the localhost group (`data/ipGroup-localhost.json`).
3. Added the all-addresses group (`data/ipGroup-al

[2016-09-20 13:54] mheppler commented on #2290
![file-replace-step-1](https://cloud.githubusercontent.com/assets/687227/18672986/2f9c963c-7f18-11e6-8d8c-826db7c1d739.jpg)

[2016-09-20 14:42] kcondon commented on #3356
OK, works now. Closing

[2016-09-20 14:42] #3356 closed

[2016-09-20 14:57] landreev commented on #3362
I have checked in a fix, in the branch 3362-migration-issue-dropped-versions.

[2016-09-20 14:59] kcondon commented on #2657
Works, closing.

[2016-09-20 14:59] #2657 closed

[2016-09-20 15:17] kcondon commented on #3340
@michbarsinai
All I did was
1. try the localhost json but specify just my ip address, not localhost and only use the ipv4 part. It failed with an error.
2. I tried the ipgroup-all and that worked in creating the group but then when I assigned a role to it, my machine/user did not get the perms. When I removed  that group, then used the ipv4 version, perms were correctly granted, looking directly t

[2016-09-20 15:22] raprasad commented on #3360
Checked that re-indexing worked.  e.g. checked facet counts for the fixed file types.

[2016-09-20 15:22] #3360 closed

[2016-09-20 15:44] sekmiller commented on #2716
Made the error message more user friendly when there's a Command Exception. The user will still get multiple messages if they try to assign roles that already exist multiple times. Also, nothing done WRT consolidating success and error messages.

Out of scope for now.

[2016-09-20 16:29] djbrooke commented on #3133
Hey @sbarbosadataverse - we've added some triggers to the DB to provide us with some additional information whenever this occurs. I'll contact Tim to ask him to let us know whenever this happens so that we can look in the logs, but please let me know if you see it as well - thanks!

[2016-09-20 16:41] pdurbin commented on #3362
I just reviewed the code per https://github.com/IQSS/dataverse/pull/3366#issuecomment-248358732 and it looks good so I moved this issue to QA in https://waffle.io/IQSS/dataverse

[2016-09-20 16:55] kcondon commented on #2716
OK, more user friendly, closing.

[2016-09-20 16:55] #2716 closed

[2016-09-20 17:18] raprasad commented on #2892
I have the same issue on production under my own account.....

[2016-09-20 17:58] pdurbin commented on #3354
I just made pull request #3367 and moved this issue to Code Review at https://waffle.io/IQSS/dataverse

@mheppler you are welcome to switch to this branch and give feedback but I believe that no UI changes will be necessary beyond what I changed. Generally speaking, when you configure your Dataverse installation to use SHA-1 rather than MD5 values. See the pull request for details on how to get th

[2016-09-20 18:32] pdurbin commented on #3354
I just moved this issue to QA in https://waffle.io/IQSS/dataverse since @bmckinney did the Code Review of the SQL script I asked for. It's ready for QA.

The code is in pull request #3367 so the "3354-alt-checksum" branch is the one to build from. Please note that to run the code you must:

- Run the SQL update script at https://github.com/IQSS/dataverse/blob/b703e27ec2d785adff459d3ff806e10344a2ef

[2016-09-20 19:21] pdurbin commented on #3338
@michbarsinai as I mentioned last week, I'm having trouble getting GitHub authentication to "just work" on this branch. If there's any special setup I need to do, please advise.

Also, once we have login via Google working, it would be neat to see if I could get my Android app to authenticate to Dataverse via a Google account in order to retrieve one's API token. That's what this issue is about: h

[2016-09-20 19:22] mheppler commented on #2003
Custom hmpg example: [Open Research Data Platform](http://opendata.pku.edu.cn/) (Peking University).

<img width="1280" alt="screen shot 2016-09-20 at 3 18 59 pm" src="https://cloud.githubusercontent.com/assets/687227/18685428/f78ad816-7f45-11e6-88af-17bc348f4975.png">

[2016-09-20 20:30] pdurbin commented on #3349
As @pameyer pointed out, #3247 is also related.

[2016-09-20 21:05] #3359 closed

[2016-09-20 22:00] kcondon commented on #3340
Tested all combinations and they all work! Closing.

[2016-09-20 22:00] #3340 closed

[2016-09-21 08:27] rmo-cdsp opened #3368 "Possible error in oai-pmh xml output file (dc elements namespace and uses)"
Hello.

First, I have to say that I'm not an oai-pmh specialist or what, I'm simply reporting a problem one of my dataverse's users have.
This user wanted to register our dataverse to an harvesting tool, Isidore, which uses oai-pmh format. But the guys from Isidore reported a problem with the xml output of dataverse, and gave us this url for example:
https://catalogues.cdsp.sciences-po.fr/oai?verb

[2016-09-21 13:14] donsizemore opened #3369 "Dataset Metadata - display productionDate, not publicationDate"
Phil suggested Akio add a global setting to the DatasetVersion getCitationDate method to allow this.

Odum can use the native API to fix existing datasets, but newly-created datasets will revert to publicationDate. We'd much prefer productionDate, particularly for older data.

[2016-09-21 13:52] kcondon opened #3370 "IP Groups: List roles assigned to group endpoint stopped working."
The list roles endpoint is relatively new but had been working.
Now, when run it, get a 404:
curl "http://localhost:8080/api/admin/assignments/assignee/\&ip/ipGroup3"
which throws a uri encoding error, so tried
curl "http://localhost:8080/api/admin/assignments/assignee/%26ip/ipGroup3"
which throws a 404

Michael said he'd take a look.

[2016-09-21 14:02] pdurbin opened #3371 "category of a dataverse cannot be set via API"
In #3046 we introduced "Laboratory" as a dataverse category but it's impossible to set categories via API. This is an important feature for anyone migrating to Dataverse from another system, such as https://data.sbgrid.org which wants to set all dataverse categories to "Laboratory" during their migration.

[2016-09-21 14:57] pdurbin commented on #3369
Here's an approach I suggested to @akio-sone via email:

Maybe you could add a setting for which field to use, globally (per installation of Dataverse):

https://github.com/IQSS/dataverse/blob/v4.5/src/main/java/edu/harvard/iq/dataverse/DatasetVersion.java#L750

Settings go in the "Key" enum in SettingsServiceBean:

https://github.com/IQSS/dataverse/blob/v4.5/src/main/java/edu/harvard/iq/dataverse

[2016-09-21 14:58] pdurbin commented on #3369
This issue related to Add Backend Support for Changing Citation Date #2606 and pull request #3000.

[2016-09-21 19:19] landreev opened #3372 "TwoRavens integration: add mechanism/protocol for supplying the R code to the Dataverse"
Currently, the "preprocessing" R code (preprocess.R) is supplied with the Dataverse app.
But the version of it must match that of the TwoRavens app it's going to be used with.
Which is installed and maintained independently.
A clean solution would be to make dataverse request the code fragment from TwoRavens in real time; this way it will be guaranteed to be the right version.
Should be easy to do

[2016-09-21 20:35] pdurbin commented on #3371
I just created pull request #3373, tweaking the work by @bmckinney with a couple commits of my own. I moved this straight into QA at https://waffle.io/IQSS/dataverse because I don't feel like code review is necessary (Bill and I are happy with the code) and the change is small. The code is in the "sbgrid-json-migration" branch and here's how to test it:

- If you put `"dataverseType": "LABORATORY"

[2016-09-21 20:36] pdurbin commented on #3371
I moved this issue straight to QA but the pull request itself I put in Code Review: #3373

[2016-09-22 13:40] pdurbin commented on #3018
@jri-sp just made pull request #3374 and I left a comment at https://github.com/IQSS/dataverse/pull/3374#issuecomment-248905817

I have encouraged @jri-sp and @rmo-cdsp to call in via http://dataverse.org/community-calls to see if the issue can be moved out of "Backlog" at https://waffle.io/IQSS/dataverse

See our full conversation at http://irclog.iq.harvard.edu/dataverse/2016-09-22

[2016-09-22 13:54] mheppler commented on #2200
This may have been completed with the development related to #2805.

![screen shot 2016-09-19 at 1 57 03 pm](https://cloud.githubusercontent.com/assets/687227/18643097/91ce3fb0-7e71-11e6-8ce6-deaa108cebf1.png)

[2016-09-22 14:00] mheppler opened #3375 "File Permissions - Inaccurate success msg, multiple error msg's"
When granting access to multiple files (6) for a user whom already has access to a portion of those files (3), the success and error msg's end up being inaccurate.
- Success msg only lists one file, when access was granted to multiple (3) files.
- Multiple error msg blocks are displayed, and no file name is provided.

![screen shot 2016-09-19 at 1 57 03 pm](https://cloud.githubusercontent.com/asse

[2016-09-22 15:24] pdurbin commented on #2437
This morning @djbrooke and I discussed @jo-pol 's pull request at #3146 and decided to use this issue to represent this work https://waffle.io/IQSS/dataverse so I put this issue in the "Code Review" column. I would guess that @sekmiller is in the best position to review the pull request.

[2016-09-22 16:11] kcondon opened #3376 "IPGroups: Attempting to create a group with a duplicate name throws an error."
Reported by Michael B.

[2016-09-22 17:12] kcondon commented on #2170
Please merge confirmemail.sql with the update db script.

[2016-09-22 17:13] mheppler commented on #3018
Reviewed the code with @pdurbin, and all looks good. We agreed that we'd like @raprasad to also take a peek, in regards to the render used, which was based on his code for Google Analytics.

[2016-09-22 17:21] pdurbin commented on #3083
@bmckinney I just added a34239c to your "sbgrid-migrate-doi" branch and created pull request #3377. At https://waffle.io/IQSS/dataverse I put this issue in Code Review. Please let me know if we can advance it to QA. Thanks!

[2016-09-22 17:28] pdurbin commented on #2170
@kcondon done in fe675b7. Passing back to QA. The script is now called "scripts/database/upgrades/upgrade_v4.5_to_v4.5.1.sql".

[2016-09-22 17:48] mheppler commented on #3018
Received confirmation from @raprasad that everything looks good.

[2016-09-22 17:49] kcondon commented on #2170
OK, looks good, ready for merge.

[2016-09-22 17:49] #2170 closed

[2016-09-22 18:26] djbrooke commented on #3291
@landreev - you mentioned in standup you'd take a look at this one - thanks!

[2016-09-22 20:10] djbrooke commented on #3018
I'm going to add some documentation for this.

[2016-09-22 20:21] djbrooke commented on #3018
Oops - verified that documentation has been added as part of #3374

Awesome!

[2016-09-22 20:32] pdurbin commented on #3083
Also, I wanted to mention that setting a Dataverse theme was added by @sekmiller in 92e89d0 which already made it into 4.5. I'm taking @bmckinney 's word that it works properly. He seems satisfied with it at least.

@bmckinney again, when you have a minute, please let me know if a34239c looks ok and I'll send this to QA in Waffle.

[2016-09-23 12:59] donsizemore opened #3379 "Allow customizable copyright footer"
Thu-Mai would like for us to be able to protect the Odum and UNC names and logos, in addition to anything that doesn't have established user terms. This may better be tacked on to issue #2905.

[2016-09-23 13:22] pdurbin commented on #1936
Pull request #3299 by @bsilverstein95 just got merged which prompted me to update the Jenkins job at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/ to include new integration tests (ConfirmEmailIT) that have been added. Under "Build", the "Goals and options" line now reads this:

`test -Dtest=DataversesIT,DatasetsIT,SwordIT,AdminIT,BuiltinUsersIT,UsersIT,UtilIT,Conf

[2016-09-23 13:48] pdurbin commented on #3379
#2003 is related and currently has a milestone of 4.6. When @tdilauro visited a few months back he talked about how he tweaked the footer to add information that presumably currently lives in their DVN 3.x instance at https://archive.data.jhu.edu/dvn/ (he also added a Johns Hopkins banner to the top, he said).

[2016-09-23 14:02] pdurbin commented on #2003
Right now "About" in the nav bar is hard coded to http://dataverse.org but there's a discussion about making this configurable at https://groups.google.com/d/msg/dataverse-community/2WlHl8gD2q4/NSHELerTCAAJ

In addition, I think small changes to the footer should be considered, such as #3379.

[2016-09-23 14:15] pdurbin commented on #3362
@donsizemore mentioned he's doing some testing of the fix in pull request #3366: http://irclog.iq.harvard.edu/dataverse/2016-09-23#i_41952

[2016-09-23 15:35] pdurbin commented on #3083
This is one of the two issues (the other being #3371) that @djbrooke @bmckinney and I all agree we'd like to get into 4.6 so I'm adding that milestone.

[2016-09-23 15:38] bmckinney commented on #3083
This looks great to me and ready for QA!

[2016-09-23 15:55] pdurbin commented on #3371
@bmckinney can you please code review 203966f? For now I want the API to be more strict so I changed `equalsIgnoreCase` to `equals`. If you're fine with this and you feel like this branch is ready for QA, please comment below. Thanks!

[2016-09-23 16:08] bmckinney commented on #3371
Thumbs, up. Thanks!

[2016-09-23 16:09] pdurbin commented on #3371
@bmckinney great! I moved it to QA in https://waffle.io/IQSS/dataverse

@kcondon instructions on how to test are at https://github.com/IQSS/dataverse/issues/3371#issuecomment-248734852

[2016-09-23 17:14] kcondon commented on #3362
Don confirmed it's working, closing.

[2016-09-23 17:14] #3362 closed

[2016-09-23 18:01] pdurbin commented on #3379
I made a minimal pull request at #3379 to show the part of the code that needs to change. Docs and tests need to be added.

[2016-09-23 19:10] michbarsinai commented on #26
Remove usage of `com.google.common.base.Objects#equal`, replace with `java.util.Objects#equals`.

see https://google.github.io/guava/releases/19.0/api/docs/com/google/common/base/Objects.html#equal(java.lang.Object,%20java.lang.Object)

[2016-09-23 19:50] pdurbin commented on #3243
This bug just entered my consciousness today while @sekmiller and I were reviewing pull request #3367 but seeing as how it was filed on August 5th and Dataverse 4.5 was tagged on August 24th is seems like this is a regression in Dataverse 4.5 or possibly earlier. At any rate, I can easily replicate it on https://demo.dataverse.org running v. 4.5 build 41-dc58ae1 by doing the following:

- create d

[2016-09-23 19:53] kcondon commented on #3243
Or publish. Most likely a dataset that is draft only is being actively worked on by contributors who likely go directly to the dataset to work on it rather than look for individual file cards that would be produced by indexing.

[2016-09-23 20:35] pdurbin commented on #3235
Related: #1312

[2016-09-23 20:36] pdurbin commented on #3257
@raprasad is this done? I'm moving this to Code Review in https://waffle.io/IQSS/dataverse

[2016-09-23 20:58] raprasad commented on #3257
Done.

[2016-09-23 20:58] #3257 closed

[2016-09-26 14:01] djbrooke commented on #3358
Heard from @michbarsinai that this one is ready for code review!

#3381 is the PR.

[2016-09-26 14:18] raprasad commented on #2290
Functionality|File Add|File Replace|Return Error Message
---|:---:|:---:|:---:
Verify user and permissions                         |Yes|Yes|Yes
Retrieve dataset                                    |Yes|Yes|Yes
Ensure file to replace exists                       |--|Yes|Yes
Send new file to ingestService.createDataFiles(..)  |Yes|Yes|Yes
Duplicate check (compare checksums)                 |Yes|Yes|Y

[2016-09-26 14:53] djbrooke commented on #3370
@kcondon can you please retest this one in case anything has changed?

@michbarsinai also interested to hear your thoughts!

Thanks!

[2016-09-26 14:56] kcondon commented on #3370
@djbrooke  I'm waiting for Michael to tell me he fixed it.

[2016-09-26 15:32] djbrooke commented on #3291
@pdurbin - assigning this one your way. You said that you were going to follow up with @telnoratti about a small change to the PR.

[2016-09-26 15:38] pdurbin commented on #3291
Yeah, I gave some feedback to @telnoratti at #3292 and http://irclog.iq.harvard.edu/dataverse/2016-09-23#i_41978 but really I was passing along feedback from @landreev . As long as @landreev is happy with the final result, I think we're good.

[2016-09-26 15:44] djbrooke commented on #3368
@landreev - this may be relevant to the work you're doing in #3307

[2016-09-26 15:46] pdurbin commented on #3368
At http://irclog.iq.harvard.edu/dataverse/2016-09-23#i_41932 @rmo-cdsp mentioned he think it's related.

[2016-09-26 17:34] pdurbin commented on #3358
When I run `mvn test -Dtest=DataversesIT,DatasetsIT,SwordIT,AdminIT,BuiltinUsersIT,UsersIT,UtilIT,ConfirmEmailIT` on develop (ecde099) I get "Tests run: 22, Failures: 0, Errors: 0, Skipped: 0".

However, when I run the same tests on the 3358-api-cleanup branch (c83f555), I'm getting "Tests run: 23, Failures: 3, Errors: 0, Skipped: 0".

Here is more of the failure output: `Failed tests:   testPriva

[2016-09-26 19:58] kcondon opened #3382 "Ingest: Excel ingest can't accept more than 26 (Z) columns."
See RT 241282

User had excel file with more than 26 columns, past Z, AA, AB, etc.
Removing the extra columns made the error disappear.

[2016-09-26T15:56:56.664-0400] [glassfish 4.1] [WARNING] [] [edu.harvard.iq.dataverse.ingest.tabulardata.impl.plugins.xlsx] [tid: _ThreadID=68 _ThreadName=p: thread-pool-1; w: 5] [timeMillis: 1474919816664] [levelValue: 900] [[
  Unsupported column index tag: AA]

[2016-09-26 20:00] kcondon opened #3383 "Ingest: Excel string values that span lines causes ingest to fail."
When string values appear to span lines within a cell, ie. at the top of the spreadsheet, the value line has an expand/show more arrow and the contents appears on more than one line, the ingest fails with a server log error. Replacing the new lines with spaces causes ingest to work.

[2016-09-26T15:03:53.979-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.ingest.tabulardata.impl.plugins.

[2016-09-26 21:07] kcondon opened #3384 "Email Verification: Server log error thrown if update email address before validate user and link not yet expired."
The scenario of updating the email address was tested but using short timeouts so we may have missed this one:
1. create user, do not validate.
2. change email before link timeout occurs, ie use default 24hours
3. see server log error

[2016-09-26T17:00:34.744-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.authorization.AuthenticationServiceBean] [tid: _ThreadID=251 _ThreadName=jk-conne

[2016-09-27 13:52] pdurbin commented on #2588
@mheppler I noticed that the Harvard logo was missing in the 2588-maintenance-pg branch like this...

![screen shot 2016-09-27 at 8 57 25 am](https://cloud.githubusercontent.com/assets/21006/18876422/ac2508cc-8497-11e6-9bb7-936bb18c51aa.png)

... so I made a change at 0230b8c to fix this. Now it looks better:

![screen shot 2016-09-27 at 9 37 03 am](https://cloud.githubusercontent.com/assets/21006

[2016-09-27 14:18] pdurbin commented on #2588
@mheppler and I discussed this issue and agreed we should go ahead and make a pull request, which I did at #3385

This issue and the pull request are in Code Review at https://waffle.io/IQSS/dataverse if anyone would like to take a look but I think it's ready for QA. @mheppler mentioned that as customization is worked on for #2003 the header might change to say "Harvard Dataverse" rather than just

[2016-09-27 14:25] pdurbin commented on #3379
@mheppler and I discussed 242080d this morning and there a few things we'd like to address:

- Roll in a fix for #2905 to make the copyright date dynamic
- Have "Copyright © 2016, " be system generated but have "The President & Fellows of Harvard College" be configurable.
- For performance use `settingsWrapper.get` rather than `systemConfig.footerCopyright`
- Document the new setting.

[2016-09-27 14:28] djbrooke commented on #3379
@pdurbin @mheppler

May we just do the final bullet and call this done instead of expanding this?

[2016-09-27 14:46] #3376 closed

[2016-09-27 14:56] mheppler commented on #2003
Also make sure that as part of any customization changes to the Harvard Dataverse, we apply the same layout changes to the static maintenance pg (#2588).

[2016-09-27 16:50] pdurbin commented on #3384
Good catch, @kcondon . When a user changes their email address, they should get a clean slate. Even unexpired tokens should be deleted before a fresh token is created. I addressed in pull request #3386.

At https://waffle.io/IQSS/dataverse I moved this issue and pull request to QA.

[2016-09-27 17:07] pdurbin commented on #2594
Last week @djbrooke and I figured out the magic string to add to pull requests to associate them with GitHub issues at https://waffle.io/IQSS/dataverse . For example, I just added `This work connects to #3384.` to the bottom of the description of #3386. We should update https://github.com/IQSS/dataverse/blob/develop/PULL_REQUEST_TEMPLATE.md to include this magic string so people can easily make us

[2016-09-27 17:30] pdurbin commented on #2863
@mheppler and I were just looking at #3113 and a consequence of our new-as-of-2016 process of "let's use pull requests" (which I'm a big fan of, by the way) is that we generate many more branches. I'm in the habit of deleting branches I've created after they've been merged. If we'd like all developers to do this, we should document this in the dev guide.

[2016-09-27 17:31] pdurbin commented on #3113
I vote to close this issue in favor of documenting that developers are responsible for deleting branches they've created, as I mentioned at https://github.com/IQSS/dataverse/issues/2863#issuecomment-249937353

[2016-09-27 17:36] mheppler commented on #3113
[Git Clean: Delete Already-Merged Branches](http://stevenharman.net/git-clean-delete-already-merged-branches)

[2016-09-27 17:50] #3384 closed

[2016-09-27 17:59] pdurbin commented on #3379
I just rolled the dynamic copyright year issue (#2905) into my pull request for this issue (#3380) since they are so closely related. @djbrooke indicated that if the fixes are trivial they could be given a milestone of 4.5.1, which I just did. I also documented the setting in the installation guide.

I didn't address the performance concern. I'm not actually sure if settingsWrapper.get performance

[2016-09-27 18:02] pdurbin commented on #2905
I put a fix in pull request #3380 (3379-custom-footer-copyright branch). I suppose to test this you would set the time on the server to a different year.

In https://waffle.io/IQSS/dataverse I moved this to QA. I added the 4.5.1 milestone per https://github.com/IQSS/dataverse/issues/3379#issuecomment-249945746

[2016-09-27 18:51] mheppler commented on #3113
Complete list (in reverse chronological order) of remote, merged branches that have been removed:
- [x] 2914-worldmap-token
- [x] feb-16-ux-fixes
- [x] 2686-2907-bugfixpatch-424
- [x] 2722-handle-Restricted-File-download
- [x] 2221-new-harvested-file-cards
- [x] 2871-batch-downloads-improvements
- [x] 1520-guides-navbar-fix
- [x] 2965-dataset-card-links
- [x] 2726-download-as-rdata
- [x] 2966-4.0n

[2016-09-27 19:04] mheppler commented on #2659
This feature was delivered as part of the pull request [#3346](https://github.com/IQSS/dataverse/pull/3346) and merged into develop.

[2016-09-27 19:04] mheppler commented on #2255
This feature was delivered as part of the pull request [#3346](https://github.com/IQSS/dataverse/pull/3346) and merged into develop.

[2016-09-27 19:29] #3018 closed

[2016-09-27 20:18] pdurbin commented on #2729
Since Piwik is mentioned above, just a heads up that support for Pwiki just merged (pull request #3374).

Also, on today's community call we talked about http://dataverse.org/metrics and how it's pointed at https://dataverse.harvard.edu but the code that powers it ( https://github.com/IQSS/miniverse ) can be pointed at any Dataverse installation. Here's a link to the notes: https://docs.google.com

[2016-09-27 20:39] #3113 closed

[2016-09-27 20:52] mheppler commented on #2905
Discussed with @pdurbin and @djbrooke on moving the dynamic copyright features developed as part of #3379 into this issue, and keeping it in QA for 4.5.1.

Then, #3379 will remain open for a later release, so that we can gather additional input from other installations on how they'd like to further customize the footer with custom text, images, layout, etc.

[2016-09-27 20:53] mheppler commented on #3379
Discussed with @pdurbin and @djbrooke on moving the dynamic copyright features developed as part of this issue, into issue #2905 and send that to QA for 4.5.1.

Then, this issue will remain open for a later release, so that we can gather additional input from other installations on how they'd like to further customize the footer with custom text, images, layout, etc.

[2016-09-27 21:56] #3370 closed

[2016-09-27 21:57] kcondon commented on #3370
curl -X GET http://localhost:8080/api/admin/assignments/assignees/\&ip/ipGroup3
don't forget the s in assignees!

[2016-09-28 13:10] kcondon commented on #3061
Add info on how to do this to the installation guide.

[2016-09-28 14:00] pdurbin commented on #3061
I just added this issue to the long list at #2944.

[2016-09-28 14:14] pdurbin commented on #3379
@mheppler sounds fine. I'll unassign myself from this one so anyone can pick it up to work on logos, etc. Pull request #3380 only handles changing the text (so it doesn't have "Harvard" in it).

[2016-09-28 14:16] pdurbin commented on #3291
@landreev and @telnoratti are discussing the details in pull request #3292 so I'm unassigning myself.

[2016-09-28 15:36] pdurbin commented on #3358
The status of this issue is that I'm asking @michbarsinai to make sure DatasetsIT passes and he is having to mess around with JVM options. I recommend the following:

[code]

(Perhaps this should be documented in the Deveoper Guide.)

Also, I believe @michbarsinai has agreed that status codes changing at least warrants a mention in the release notes. @kcondon indicated he needs to be given a heads

[2016-09-28 15:41] raprasad commented on #2290
main issues/tasks:
- [ ] replace: recovery from finding duplicate file in new draft
- [ ] ability to add description and tags
- [ ] tests

[2016-09-28 16:07] pdurbin commented on #3083
At https://waffle.io/IQSS/dataverse I just pulled this issue and associate pull request out of QA and into development because when you try to publish one of these datasets that has an existing DOI you get `{    "status": "ERROR",    "message": "This dataset may not be published because it has not been registered. Please contact Dataverse Support for assistance."}`

@sekmiller recommends setting `

[2016-09-28 17:57] pdurbin commented on #3083
I just pushed a fix at 1740879 to pull request #3377 so that datasets migrated via JSON are able to be published (now exercised via an API test). @sekmiller reviewed and blessed the change.

At https://waffle.io/IQSS/dataverse I moved this issue and pull request back to QA.

[2016-09-28 18:37] pdurbin commented on #3358
@michbarsinai maybe this scope creep but #2219, #2431 and #2461 could be at least considered as well for API cleanup.

[2016-09-28 18:54] pdurbin commented on #2794
@sekmiller added this in v4.5 (see 07a01dd and earlier) so I'm moving this to QA at https://waffle.io/IQSS/dataverse and giving this issue a milestone of 4.5.

Here's how to get at license and terms of use in the JSON:

`curl https://dataverse.harvard.edu/api/datasets/:persistentId?persistentId=doi:10.7910/DVN/RNXA2A | jq .data.latestVersion.license`

"CC0"

`curl https://dataverse.harvard.edu/api

[2016-09-28 19:18] pdurbin commented on #3338
I took a quick swing at merging the latest from the develop branch (efc83c6) into ORCiD-integration branch (as of e146e21) but merge conflicts in JsonPrinter.java especially are tricky and I think @michbarsinai is probably in a better position than I am to resolve these. Once this is done I'm happy to jump on this branch and poke around.

[2016-09-28 19:21] kcondon commented on #2905
Discussed scope with Phil:
1) the date should be dynamic and 2) you can change the text from “Harvard etc” to whatever you want.

[2016-09-28 19:25] raprasad commented on #2417
done in https://github.com/iqss/miniverse

[2016-09-28 19:25] #2417 closed

[2016-09-28 19:44] kcondon commented on #2905
so basic testing worked fine, including changing date
did notice some slowness when first loading pages but hope it had nothing to do with this

[2016-09-28 20:07] kcondon commented on #2659
Looks good, was already merged. Closing.

[2016-09-28 20:07] #2659 closed

[2016-09-28 20:15] kcondon commented on #2255
Looks good, extra text, popup. Closing

[2016-09-28 20:15] #2255 closed

[2016-09-28 20:18] michbarsinai commented on #2461
Sounds like a missing check in `PublishDatasetCommand`. Faced with such request, the command should throw an `IllegalCommandException`, which the API will automatically translate to `403 FORBIDDEN` (equivalent human message: "Can't do this").

So, not part of #3358, but rather a bug on it own.

[2016-09-28 20:24] raprasad opened #3387 "file replace error bundle + future test list"
part of #2290  (test list in process)

- [x] add to error bundles for #2290
- [ ] add tests, not necessarily for #2290

---

- [ ] 1) Load null dataset
- [ ] 2) Load dataset by null id
- [ ] 3) Load dataset by non-existent id
- [ ] 4) Load good dataset
- [ ] 5) Load good dataset by id
- [ ] 6) User w/o Edit Dataset Perms
- [ ] 7) User w/ Edit Dataset Perms
- [ ] 8) Load new good file, name, conten

[2016-09-28 20:30] kcondon opened #3388 "Documentation: Guides have broken github icons in the footer."
All guides in documentation have broken github icons in the footer:
This has happened before, was working in 4.4, broken in 4.5, must use browser like Chrome to see broken image, FF hides it.

[2016-09-28 20:35] mheppler commented on #3388
Possibly a symptom related to issue #3181. Will investigate locally.

[2016-09-28 20:35] pdurbin commented on #2905
@scolapasta and I decide it should say "Copyright © [YYYY]" by default and we'll let people add `, The President &#38; Fellows of Harvard College` or whatever as a config option. This will help resolved the "For performance use settingsWrapper.get" issue I mentioned at https://github.com/IQSS/dataverse/issues/3379#issuecomment-249880809

I'll update the branch/pull request (#3380).

[2016-09-28 20:50] michbarsinai commented on #3358
Current status: DatasetsIT test working, these tests fail:

[code]

I'm pretty sure that's a setup issue at this point. Maybe run these on a pre-setup machine, or better yet, script it in a Docker container or something.

[2016-09-28 20:56] michbarsinai commented on #3358
@pdurbin - can you please run the test suite on a properly setup machine so we can green the PR?

[2016-09-28 22:10] mheppler commented on #3181
Fixed the following warnings:

- [x] WARNING: Title underline too short.
- [x] WARNING: Inline literal start-string without end-string.
- [x] WARNING: undefined label: label-name (if the link has no caption the label must precede a section header).

[2016-09-28 23:13] mheppler commented on #3388
Fixed URL ref to githubicon.png which was displaying as a broken img in the guides footer. Resized image file (512px) to be smaller (96px).

Code checked into the [3181-guides-build-warning](https://github.com/IQSS/dataverse/tree/3181-guides-build-warning) branch.

[2016-09-29 13:42] pdurbin commented on #3181
@mheppler while you're in there can you please delete all the junk that got committed into https://github.com/IQSS/dataverse/tree/develop/doc/Sphinx ? Thanks.

[2016-09-29 14:04] pdurbin commented on #2905
In d78a834 I pushed the fix that @scolapasta and I talked about. Please see the updated Installation Guide in pull request #3380 for the new behavior. I also addressed the performance issue and am now using  `settingsWrapper.get`. In a nutshell:

- The out of the box behavior is now just "Copyright © [YYYY]" (nothing about Harvard)
- You can use the new `:FooterCopyright` setting to add additional

[2016-09-29 14:11] raprasad commented on #3230
Done in https://github.com/iqss/miniverse

[2016-09-29 14:11] #3230 closed

[2016-09-29 14:56] #2905 closed

[2016-09-29 16:14] mheppler commented on #2211
Placeholder super-user pg removed from the guides. ffa76b46d606b1a79ddc4e215c57c5c4924f2e16

[2016-09-29 16:18] mheppler commented on #3181
No more warnings.

![screen shot 2016-09-29 at 12 08 59 pm](https://cloud.githubusercontent.com/assets/687227/18962446/e0961b0c-863e-11e6-83db-88d22d231155.png)

[2016-09-29 16:22] mheppler commented on #3181
Removed duplicate img files, as well as the unnecessary directories they were contained in, as @pdurbin requested above.

[2016-09-29 16:22] pdurbin commented on #3181
Awesome! Quick! Make all the warnings fatal! Maybe this will help: https://github.com/krb5/krb5/commit/c54a33b520afb8d1e7c6c37db15189185f220ada

[2016-09-29 16:30] pdurbin commented on #2211
@mheppler again, I'm not a fan of the dash: https://github.com/IQSS/dataverse/issues/2211#issuecomment-106351496 . That's why I removed the page ( ffa76b4 ). Plus, it was basically empty. These day we have a new "Admin Guide" too at http://guides.dataverse.org/en/4.5/admin which is probably a better place for it than the User Guide.

[2016-09-29 16:47] pdurbin commented on #3358
The stupid EJB timer prevented me from running my normal drop-database-and-get-set up again scripts that I've talked about #2443 at so I added a fix in 9b5f7af, which is the same as dc0af34 for #3336.

Anyway, yes, the tests pass now. `mvn test -Dtest=DataversesIT,DatasetsIT,SwordIT,AdminIT,BuiltinUsersIT,UsersIT,UtilIT,ConfirmEmailIT` yields "Tests run: 22, Failures: 0, Errors: 0, Skipped: 0... B

[2016-09-29 18:03] mheppler commented on #3388
Made copyright year in guides footer dynamic. d8f1b98a6776c25b79312e44f1e6ea7baa24a1e0

[2016-09-29 18:21] telnoratti opened #3390 "Install script should use environment variables where possible"
Currently the install script prompts on every variable that needs to be set, usually with some default. This is not particularly conducive for automated deployments as inserting a new input would break any scripts used to configure it now in unpredictable ways. For the dataverse-aws project I need to provide a newline delimited list of options and I'm concerned about this breaking in future update

[2016-09-29 18:40] mheppler commented on #2211
There are additional issues that track the original requirements outlined in this issue.

- Harvesting #3262 (Closed)
- Bulk Upload #2204
- Web Analytics? #3112

[2016-09-29 18:52] mheppler commented on #2297
Related to #2146.

[2016-09-29 20:13] kcondon commented on #3388
The icons are fixed but cannot test the footer date since I cannot adjust the system date on the build machine @mheppler @pdurbin please test on your dev boxes thanks.

[2016-09-29 20:20] kcondon commented on #3181
@mheppler @pdurbin  OK, most of the warnings are gone but on  my build, there are still 18:

writing content.opf file...
WARNING: unknown mimetype for _static/jquery.js, ignoring
WARNING: unknown mimetype for _static/underscore.js, ignoring
WARNING: unknown mimetype for _static/doctools.js, ignoring
WARNING: unknown mimetype for _static/websupport.js, ignoring
WARNING: unknown mimetype for _static

[2016-09-29 20:37] mheppler commented on #3388
With the direction of @pdurbin, fudged date to test copyright locally.

![screen shot 2020-09-29 at 4 35 10 pm](https://cloud.githubusercontent.com/assets/687227/18971401/ee749bee-8662-11e6-87c3-d9a5ce2b9598.png)

[2016-09-29 20:38] mheppler commented on #3181
Fixed mistakenly omitted toctree format change on User Guide index.

[2016-09-29 20:44] mheppler opened #3391 "Guides - Building epub version results in warnings"
As noted by @kcondon in #3181 there are warnings when building the docs, which are a results of the epub version being created. This also relates to the warnings when building the pdf version, which are outline in #3134.

[code]

[2016-09-29 20:46] mheppler commented on #3181
Moved the warnings related to the epub version of the docs into a new issue #3391. There is also the older issue (#3134) related to the warnings specific to building the pdf version.

[2016-09-29 21:24] #3181 closed

[2016-09-30 13:08] pdurbin commented on #3112
Huh. Yeah, http://guides.dataverse.org/en/4.5/installation/config.html#googleanalyticscode doesn't explain it very well. I just added this to the list at #2944.

[2016-09-30 13:10] pdurbin commented on #2199
I just wanted to point out the the File Import Batch job in support of rsync being work on in #3353 currently bypasses all the extra processing.

[2016-09-30 13:15] pdurbin commented on #2211
For web analytics, Pwiki support just got merged into 4.5.1 via pull request #3374. And we've had Google Analytics support since 4.0 of course.

[2016-09-30 13:45] pdurbin commented on #3365
I followed http://guides.dataverse.org/en/4.5/developers/making-releases.html#bump-version-numbers and created pull request #3392

Passing to QA.

[2016-09-30 14:08] pdurbin commented on #3112
@donsizemore and I discussed this at http://irclog.iq.harvard.edu/dataverse/2016-09-30#i_42392 and I encouraged him to create a pull request, which he did at #3393.

[2016-09-30 18:30] pdurbin commented on #3390
@telnoratti you seem to be saying you don't like the approach at https://github.com/IQSS/dataverse/blob/v4.5/scripts/deploy/phoenix.dataverse.org/install which is a bash script that defines a bunch of variables and then calls the `installer` script written in Perl.

At https://github.com/IQSS/dataverse/blob/v4.5/scripts/vagrant/install-dataverse.sh#L13 I call `installer` with some arguments (`./in

[2016-09-30 18:59] telnoratti commented on #3390
That script runs the glassfish-setup.sh and that works fine, especially I doubt users are trying to run glassfish-setup.sh in a non-automated way. The problem is with the install script.

Being able to specify all arguments as cli options is useful, but I think doesn't cover the use case of the `--automated` flag. So in dataverse-aws, I have a string that is basically a list of options delimited b

[2016-09-30 19:03] pdurbin commented on #3388
Still broken as of 9f93e7b on the homepage for the docs at least.

[2016-09-30 19:12] #3112 closed

[2016-09-30 19:49] pdurbin commented on #3388
I'm proposing a fix in 74d6846 (pull request #3394) that uses an absolute rather than relative path. It relies on the fact that we create a symlink called "latest". That is to say the GitHub icon is at http://guides.dataverse.org/en/latest/_static/images/githubicon.png . Passing to QA.

[2016-09-30 21:22] #3388 closed

[2016-09-30 21:22] #3365 closed

[2016-09-30 21:35] kcondon commented on #2794
Looks good, also tested Murray dataset that had additional fields:

curl https://dataverse.harvard.edu/api/datasets/:persistentId?persistentId=hdl:1902.1/00235 | jq .data.latestVersion.termsOfUse

[2016-09-30 21:35] #2794 closed

[2016-10-03 13:42] pdurbin commented on #3358
@michbarsinai I reviewed https://github.com/IQSS/dataverse/pull/3381/files as of 9e06128 and I was a little surprised by how much of an extensive rewrite this is. As long as you haven't introduced any typos anywhere I suppose the API should continue to "just work" but @kcondon would probably appreciate a list from you of what changed so he knows what to test. I'll go ahead and pass this to QA at h

[2016-10-03 18:22] pdurbin commented on #2974
Last week @pameyer indicated that SBGrid may be interested in disabling local login once ORCID login is working (#3338).

[2016-10-03 18:43] pdurbin commented on #829
The specific feature of users being about to login to Dataverse via an ORCID (using OAuth) is being tracked at #3338. Existing login options for Dataverse include local accounts and Shibboleth.

[2016-10-03 18:43] donsizemore opened #3396 "SignUpUrl behavior"
The default SignUpUrl, to which users will be sent after signup, worked fine for us but in our installation a new user owned no dataverses, datasets or datafiles and so his/her/zher first impression was a red/orange (I'm colorblind) error stating "No data found to show for these roles: <list of roles>"

I set it to our root dataverse via the API, but it seemed to break our SignUp page off our home

[2016-10-03 18:46] pdurbin commented on #923
This issue is highly related to #3338 which is currently under development.

[2016-10-03 19:20] pdurbin commented on #700
See also pull request #3103 which was merged in 4.5.1 to address #1380 and related issues.

[2016-10-03 19:53] pdurbin commented on #3396
I tried to reproduce this behavior on http://phoenix.dataverse.org running v. 4.5.1 build 57-origin/develop-d601f27 and I guess I'm confused about what this issue is about. That server has the default setting for `curl http://localhost:8080/api/admin/settings/:SignUpUrl` which is `{"status":"OK","data":{"message":"/dataverseuser.xhtml?editMode=CREATE"}}`. It has a published dataset. When I create

[2016-10-03 19:59] pameyer commented on #3338
923 - looks out of scope to me (assuming all users are using orcid/oauth2, being able to specify it is redundant).
2974 - possibly in scope (but may make sense to leave as separate issue)

[2016-10-03 21:25] kcondon commented on #3354
Works, closing.

Btw, if a file has an md5, then both the newer checksum and the older md5 field will appear in the json, if sha-1, only the checksum field.

The 2 api calls I used to test were:

curl -X GET http://dataverse-internal.iq.harvard.edu:8080/api/search?key=xxx-yyyy-zzzz\&q=*\&subtree=kc93016b\&type=file|jq .

curl -X GET http://dataverse-internal.iq.harvard.edu:8080/api/datasets/:persi

[2016-10-03 21:25] #3354 closed

[2016-10-04 04:45] philippconzett commented on #1912
As for tabular data, in addition to the original file format we recommend our users to provide a tabulator separated Unicode utf-8 .txt file. Those seem not be be ingested properly in Dataverse. Here are to examples that can be tested:

http://dx.doi.org/10.18710/SJ4OQE
http://dx.doi.org/10.18710/4MCRQL

Best, Philipp

[2016-10-04 12:45] pdurbin commented on #1912
@philippconzett thanks. To be clear you mean that "Spring_migration_arrival_dates_Acrocephalus_schoenobaenus.txt" (MD5: fcc151933f34034bfd1ea6b2ff3d3186), for example, is a tab separated values file from https://opendata.uit.no/dataset.xhtml?persistentId=doi:10.18710/4MCRQL that you would like to pass ingest. (At https://opendata.uit.no/dataset.xhtml?persistentId=doi:10.18710/SJ4OQE I don't actual

[2016-10-04 12:56] donsizemore commented on #3396
Hi Phil,

So, in our case we renamed the root dataverse (to unc aka /dataverses/unc). If I created a local user, on form submission I was directed to the "My Data" tab and received the not-really-an-error above. I set SignUpUrl thinking it would redirect new accounts to /dataverses/unc, as the guide says "to which users will be sent after signup" but instead it directed the Sign Up tab to /dataver

[2016-10-04 12:56] #3396 closed

[2016-10-04 13:01] pdurbin commented on #3396
@donsizemore ok, no worries. By the way, instead of `/dataverses/unc` it may have worked if you had used `/dataverse.xhtml?alias=odum` for `:SignUpUrl` but that's an uglier URL. I haven't tested this myself. To get the "pretty" URLs we use something called PrettyFaces. Here's where we map "dataverse.xhtml" to "dataverse": https://github.com/IQSS/dataverse/blob/v4.5/src/main/webapp/WEB-INF/pretty-c

[2016-10-04 14:47] mheppler commented on #3396
Question, @donsizemore. Is this, `/dataverses/unc?redirectPage=%2Fdataverse.xhtml` the **_exact_** URL that you tried forward to? Because that would return a Page Not Found error due to the plural `dataverses` in the URL. That is incorrect. It should be singular, `dataverse`, as you can see this URL, `
https://dataverse.harvard.edu/dataverse/odum`, for the ODUM Harvested Dataverse in the Harvard D

[2016-10-04 14:52] donsizemore commented on #3396
@mheppler whoops! that was my typo this morning. I gave it /dataverse/unc just now which results on my test machine as https://dataverse-test.irss.unc.edu/dataverse/unc?redirectPage=%2Fdataverse.xhtml%3Falias%3Dunc (no 404, but no sign-up page either, just the contents of the UNC dataverse).

All I'm really after is avoiding new users seeing the 2nd screenshot on sign-up (which is what I remember

[2016-10-04 15:06] raprasad opened #3398 "API Key: If expired, add message to "API token" tab"
I logged in using an older Dataverse account in order to grab the API key.

When tried to use API key, it was expired--but the UI never mentioned it.

[2016-10-04 15:13] pdurbin commented on #3398
@raprasad does the API say that the token is expired?

[2016-10-04 15:34] raprasad commented on #3398
When I used it: yes

[2016-10-04 16:01] pdurbin commented on #2461
We just noticed this bug being exercised during an integration demo.

[2016-10-04 19:24] pdurbin commented on #3338
There was no description in this issue so yesterday I added one, attempting to define what is in scope and out of scope for this issue as it travels through our Waffle board: https://waffle.io/IQSS/dataverse

[2016-10-04 19:50] pdurbin commented on #2558
#1510 is related in the sense that people don't know what subjects are allowed when creating a dataset (and it's a required field).

[2016-10-05 04:40] philippconzett commented on #1912
Sorry about that. I should have linked to a tab separated uft-8 .txt file that has not been properly ingested. Here is an example:
http://hdl.handle.net/10037.1/10296
See e.g. the file: Database fiskesammensetninger for publisert versjon Maal og Minne 2016_1.txt

[2016-10-05 12:13] pdurbin commented on #1912
@philippconzett ah, yes, I see what you mean. Thanks.

[2016-10-05 12:22] pdurbin commented on #1612
In https://github.com/pdurbin/dataverse/commit/c90fb7cf5d22feb9a89d5eb14a3887b847ceaee1 in my fork I played around creating a separate servlet based on some code at https://github.com/javaee-samples/javaee7-samples/blob/master/servlet/file-upload/src/main/java/org/javaee7/servlet/file/upload/TestServlet.java from @arun-gupta but ideally (I think), a separate servlet wouldn't be necessary. (I'm als

[2016-10-05 12:42] pdurbin commented on #3358
@michbarsinai any thoughts on rolling a fix for #3209 into your pull request?

[2016-10-05 13:59] mheppler commented on #3396
@donsizemore + @pdurbin -- This issue didn't sit with me, and this morning I set out to reproduce it, and succeeded. On the same http://phoenix.dataverse.org/ machine that Phil tested it. Here is how I reproduced the issue Don initially reported.

1. From the Root Dataverse, click the Sign Up link in the navbar to navigate to the Create Account pg.
2. While on the Create Account pg, you'll notice

[2016-10-05 14:08] mheppler commented on #3396
@donsizemore -- I'd also like to get more details regarding accessibility issues with the error and warning message blocks. Feel free to open a new GitHub issue to report on those, so that we can address them, and try to improve them.

[2016-10-05 14:30] donsizemore commented on #3396
Good morning, @mheppler you said better than I what I had to say. The only thing I could add would be that setting the sign-up url to point to the root dataverse (in our case /dataverse/unc) broke the link to the SignUp page. Thinking through steps 3 and 4 is essentially what I was reporting. Thank you!

[2016-10-05 15:21] scolapasta commented on #3396
It's possible this may be something related to introducing a bug during a
previous refactoring:

https://github.com/IQSS/dataverse/issues/3225

After reading the details there, I'm not quite sure, without further
investigation.

On Wed, Oct 5, 2016 at 10:30 AM, Don Sizemore <notifications@github.com>
wrote:

[2016-10-05 15:41] pdurbin commented on #1445
To be clear, the "username" that is displayed for Shibboleth users (all users, really), is the `useridentifier` field from the `authenticateduser` table. An "@" sign is prepended, such that it looks like `@johndoe` this:

![screen shot 2016-10-05 at 11 26 26 am](https://cloud.githubusercontent.com/assets/21006/19119865/1f0735e2-8aef-11e6-892b-c50819c02aa7.png)

The problem is that this value canno

[2016-10-05 21:21] michbarsinai commented on #3358
Sure, feel free to roll it in (I'm still traveling from the conference, might take some time to get to it).

[2016-10-06 13:05] pdurbin commented on #3209
@michbarsinai do you have a preference for changing the `@Path` as described above or should we simply blow away `src/main/java/edu/harvard/iq/dataverse/api/TestApi.java` since it isn't be used by any automated testing. I'd prefer to simply blow it away (and remove the warnings in the guides).

[2016-10-06 13:05] pdurbin commented on #3358
@michbarsinai I might, but let's discuss the details in the other issue. I just left a comment there: https://github.com/IQSS/dataverse/issues/3209#issuecomment-251955375

[2016-10-06 13:22] pdurbin commented on #1612
There's interest at https://github.com/IQSS/dataverse-client-java/issues/1 in supporting non-zip file upload.

[2016-10-06 13:48] michbarsinai commented on #3209
It's very useful for testing commands. If there's a way of not packaging it into production, that's great. But having a way of bypassing the UI is very important.

[2016-10-06 13:51] pdurbin commented on #3209
@michbarsinai ok, so let's put it under "/api/admin" like I'm proposing above by changing the path. And updating the guides to tell sysadmins not to worry about blocking "/api/test" in production.

[2016-10-06 16:24] mheppler commented on #2232
I believe that this issue has been fixed in [4.5.1](https://github.com/IQSS/dataverse/releases/tag/v4.5.1) or earlier. Having retested this locally, I can no longer reproduce this issue. Sending to QA.

[2016-10-06 16:37] mheppler commented on #2616
It appears that sections for Metadata, Terms, and Permissions have been added to the [User Guide](http://guides.dataverse.org/en/4.5.1/user/dataset-management.html) in the [4.3.1 release](https://github.com/IQSS/dataverse/releases/tag/v4.3.1).

With the development of a new file pg ([#2465](https://github.com/IQSS/dataverse/issues/2465)), we can track the seperation of dataset and file management

[2016-10-06 19:48] mheppler commented on #3023
Also add link to Account Creation & Management pg on the [Dataverse Management](http://guides.dataverse.org/en/4.5.1/user/dataverse-management.html) pg to replace the "(see Create Account)" text.

[2016-10-06 19:59] mheppler commented on #3023
Also fix layout width issue due screenshots images in the Permissions and Assign Roles sections.

![screen shot 2016-10-06 at 3 55 26 pm](https://cloud.githubusercontent.com/assets/687227/19168369/e0bfe7e4-8bdd-11e6-9596-46ed6dfbaba8.png)

[2016-10-06 20:11] mheppler commented on #3023
Added missing links to Appendix and Account Creation & Management pgs, plus fixed screenshot image widths on Dataverse Management pg in User Guides.

[2016-10-06 21:13] mheppler commented on #2157
With the development of the new File Replace (#2290), the way files are deleted and replaced is changing, and the proposed UI mockup includes dates with previous versions.

Also, in [4.2](https://github.com/IQSS/dataverse/releases/tag/v4.2) upload and edit workflows were broken out into separate workflows, which should also clarify confusion.

Sending back to @sbarbosadataverse to review and close

[2016-10-06 21:26] donsizemore opened #3401 "allow customizable "sticky header" logo"
Thu-Mai would like to be able to set UNC's logo à la #2003 (specifically, Scholars' Portal) - would it take much effort to make her happy? It would be so wonderful not to have to shoe-horn in minor tweaks like this. Sorry if this issue is a dupe (and please close it if #2003 has the wheels in motion).

p.s. we're ironing out some final Shibboleth issues, and have a test box upgraded to 4.5.1!

[2016-10-07 13:02] michbarsinai commented on #963
Re-opening, after talking with @pdurbin about this. This bag should be worked on after #3338 is implemented and merged.

[2016-10-07 13:45] mheppler commented on #2003
From #3401 @donsizemore -- would like to be able to set UNC's logo (in header navbar) à la Scholars' Portal

[2016-10-07 13:51] mheppler commented on #3401
Don, Thu-Mai, I am going to close this as a duplicate issue to #2003. I have copied over your feature request for the configurable navbar logo into a comment on that original issue. As you suggested, that ticket has some motion to it already, covering features to customize the navbar logo, about pg link, user guide link, as well as add a custom landing pg.

Those features are currently scheduled t

[2016-10-07 13:51] #3401 closed

[2016-10-07 13:58] mheppler commented on #3401
Also updated the title of #2003 to include more detail: Installation Branding - Customize/configurable navbar logo + links, landing pg etc.

[2016-10-07 14:57] djbrooke commented on #2917
@pdurbin @bmckinney

Going to move this out of In Progress for now, feel free to re-add the label and an owner if this is incorrect. Thanks!

[2016-10-07 16:39] sbarbosadataverse commented on #2748
@scolapasta
@mcrosas

I'm trying to get an update on what we are doing with scholar one API integration---this seems to fall short of a decision on our end or theirs?

[2016-10-07 16:57] sbarbosadataverse commented on #2748
Just adding additional notes to this:

"ScholarOne submitted their proposal for implementing integration to OUP and the ball is in OUPs court to give them the greenlight to begin development. Eleni will follow-up with both ScholarOne and OUP to see if any agreement has been made and if there is a timeline for this feature being enabled." (OUP is Oxford University Press.)

From Harvard-Odum Sloan P

[2016-10-07 17:07] pdurbin commented on #2917
@djbrooke sorry, I should have left a comment. On Thursday I said I'd created an issue called something like "DataCite XML: send more fields on published". Then I realized that this issue already exists and @pameyer has already commented on it. @bmckinney and I discussed it and he agreed he'd work on it the next two weeks or so I assigned it to him and put it in "Development" in https://waffle.io/

[2016-10-07 17:20] raprasad commented on #2110
fyi: This will re-impact #3241 -- primarily taking time to write "efficient" code to pull the title out of every dataset's version w/o repeating.  e.g. need to write custom SQL similar to metrics and not use the ORM layer

[2016-10-07 17:23] djbrooke commented on #2157
Going to close this in favor of #2290. Please reopen if this is not covered by the mockup.

[2016-10-07 17:23] #2157 closed

[2016-10-07 17:24] djbrooke commented on #2290
Closed #2157, as it will be covered by this.

[2016-10-07 17:27] djbrooke commented on #2700
Going to merge this and #2416 into a new issue.

[2016-10-07 17:28] djbrooke commented on #2416
Going to merge this and #2700 into a new issue.

[2016-10-07 17:56] djbrooke commented on #2917
Sounds good - feel free to move it over when work begins on it!

[2016-10-07 18:15] mheppler commented on #2832
@shlake -- we are starting to look at feature requests related to customizing Dataverse installations (#2003) and this issue as well as #2831 are features we intend to include.

Can we close this specific issue related to inconsistent URLs, and track your request going forward with just #2831? The two issues are already linked, so comments here can continue to be referenced even if the issue is cl

[2016-10-07 18:22] mheppler commented on #3247
Closing this issue in favor of #2249. Your comments, @pameyer, will be copied over, to make sure we deliver a feature that supports your use case.

[2016-10-07 18:22] mheppler commented on #2249
From #3247

[2016-10-07 18:23] #3247 closed

[2016-10-07 18:34] mheppler commented on #2150
@chaudj -- In issue #2249 we are discussing the intention to support directory structure being retained as part of the upload process, and displayed properly in the UI and retained for the end user upon download.

We are going to close this issue, but the two have been linked so your input here will not be lost. Please feel free to add any additional information in comments on that issue, which we

[2016-10-07 18:34] #2150 closed

[2016-10-07 18:56] pameyer opened #3403 "Data Locality Module (DLM) support (an alternative to LOCKSS?)"
Overall issue for supporting Data Locality Module (DLM) within Dataverse.  Why would a user want to install/configure a DLM? - replicating datasets to remote storage sites (preservation, facilitating remote access, facilitating local access at the remote sites, data close to compute resources).

Similar to [DCM](https://github.com/IQSS/dataverse/issues/3145) this will be another separate component

[2016-10-07 18:57] #2416 closed

[2016-10-07 19:43] pdurbin commented on #2290
@akio-sone do you think [ModeShape](http://modeshape.jboss.org) could be used in the context of "file replace"?

[2016-10-07 21:22] djbrooke commented on #2819
@jggautier is leading efforts to redesign the landing page and this is good feedback!

@shlake - as @jggautier moves forward in the process and needs some folks for user testing may he reach out to you?

If it's OK, I'll close out this issue.

[2016-10-07 21:34] djbrooke commented on #2548
Closing this in favor of #2974.

[2016-10-07 21:34] #2548 closed

[2016-10-07 21:39] djbrooke commented on #2129
@pdurbin can we close this one?

[2016-10-07 21:43] djbrooke commented on #1650
Closing in favor of #1602

[2016-10-07 21:43] #1650 closed

[2016-10-07 21:46] djbrooke commented on #1515
@pdurbin can this one be closed?

[2016-10-07 22:28] djbrooke commented on #952
Closing this. There are issues under the "SBGrid" label that cover the upload of large files.

[2016-10-07 22:28] #952 closed

[2016-10-07 22:33] #203 closed

[2016-10-07 22:33] djbrooke commented on #203
Closing this. Will reopen if this comes up in the future.

[2016-10-07 22:36] djbrooke commented on #2358
@landreev I'm closing this one. If we need to do so, we can address this when we re-add handles support.

[2016-10-07 22:36] #2358 closed

[2016-10-08 18:35] michbarsinai commented on #2110
How about adding a "dataset summary" endpoint with easy representation at `api/datasets/<dataset-idtf>/summary`? This won't break backwards compatibility, will not appear to be a full representation of a dataset (as in,  no one will expect the response body can be `POST`ed into dataverse later) and will allow easy access to selected fields.

Open questions: what fields will be included, and what t

[2016-10-10 13:19] mheppler opened #3404 "Dataset - File UI Improvements"
There have been many suggested features and reported bugs with relation to the display of files on the dataset pg. These [mockups](https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/Dataset%20-%20Files) have been created for many new features, including facets and sorting to improve browsing.

The scope of this issue will cover all the new UI improvements needed fo

[2016-10-10 13:23] mheppler commented on #2835
A new issue, Dataset - File UI Improvements #3404, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:23] #2835 closed

[2016-10-10 13:23] mheppler commented on #2701
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:23] #2701 closed

[2016-10-10 13:24] mheppler commented on #2699
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:24] #2699 closed

[2016-10-10 13:24] mheppler commented on #2947
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:24] #2947 closed

[2016-10-10 13:25] mheppler commented on #2808
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:25] #2808 closed

[2016-10-10 13:25] mheppler commented on #2705
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:25] #2705 closed

[2016-10-10 13:26] mheppler commented on #2681
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:26] #2681 closed

[2016-10-10 13:26] mheppler commented on #2508
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:26] #2508 closed

[2016-10-10 13:26] mheppler commented on #2506
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:26] #2506 closed

[2016-10-10 13:27] mheppler commented on #2455
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:27] #2455 closed

[2016-10-10 13:43] mheppler commented on #2021
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:43] #2021 closed

[2016-10-10 13:46] mheppler commented on #2023
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:46] #2023 closed

[2016-10-10 13:54] mheppler commented on #2923
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:54] #2923 closed

[2016-10-10 13:56] mheppler commented on #2584
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 13:56] #2584 closed

[2016-10-10 14:26] mheppler commented on #2122
@yarikoptic commented on Apr 4 on issue #3058

[code]

[2016-10-10 14:27] mheppler commented on #3058
Closing in favor of #2122 as @pdurbin suggested above. Moved the code snippet from @yarikoptic to that older issue.

[2016-10-10 14:27] #3058 closed

[2016-10-10 15:01] mheppler commented on #3092
Since this is a symptom of #2782, I am closing this issue in favor of that older one.

[2016-10-10 15:01] #3092 closed

[2016-10-10 15:01] mheppler commented on #2782
pdurbin commented on Apr 26 on issue #3092

![screen shot 2016-04-26 at 3 12 03 pm](https://cloud.githubusercontent.com/assets/21006/14830969/6d426a90-0bc1-11e6-8f5e-750ff18fd106.png)

[2016-10-10 15:09] mheppler commented on #3323
@scolapasta -- can you take a look at this TODO discovered in ImportDDIServiceBean.java.

[2016-10-10 15:31] shlake commented on #2819
Would love to test. Just let me know when and how. @djbrooke @jggautier

[2016-10-10 15:33] shlake commented on #2832
Love to help @mheppler

[2016-10-10 15:35] mheppler commented on #2832
Great! Thank you, @shlake.

[2016-10-10 15:35] #2832 closed

[2016-10-10 15:41] mheppler commented on #2831
Discussion related to this issue can be found on #2832 which was closed in favor of this issue.

@pdurbin commented that a working example of this can be found at the [Peking University Open Research Data Platform](http://opendata.pku.edu.cn/) (running Dataverse 4.0) developed in part by @pengchengluo.

This feature relates to the installation branding/customization features being tracked in #2003

[2016-10-10 15:50] mheppler commented on #3160
It appears this was fixed in the commit a1456b15d5c41dd72c5679e4d8c2995ae0fbb696 and was released as part of [4.5.1](https://github.com/IQSS/dataverse/releases/tag/v4.5.1).

[2016-10-10 18:52] mheppler commented on #3245
Should look at correcting UI issues related to version dates displayed for datasets (Updated Dates: Search Results Cards + Versioning #2607) as part of this Provenance project.

[2016-10-10 18:58] mheppler commented on #2591
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 18:58] #2591 closed

[2016-10-10 19:11] mheppler commented on #2285
A new issue, **Dataset - File UI Improvements #3404**, was created to track the UI improvements related to the files view on the dataset pg. Older feature requests and bug reports like this one will be closed in favor of that new issue.

[2016-10-10 19:11] #2285 closed

[2016-10-10 19:25] mheppler commented on #2248
It appears that this issue has been fixed. If that is not the case and this issue should be reopened, then please let us know.

[NBA Contracts and Recency Bias: An Investigation into Irrationality in Performance Pay Markets](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/Z1A1KE)

<img width="408" alt="screen shot 2016-10-10 at 3 24 17 pm" src="https://cloud.githubusercont

[2016-10-10 19:25] #2248 closed

[2016-10-11 21:12] djbrooke commented on #2911
Updating this to cover terms of use and not increasing download count, which is covered in #3331.

[2016-10-12 07:24] jri-sp commented on #2753
Hi,

I think I have same issue here...

I have to restart Glassfish every morning due to memory consumption (WebUI is not responding), and I got same messages in the logs.

I don't think my server is too small, there is two Glassfish with Xmx up to 4Go for 100 visitors a day.
It's more like the Java memory is filling up little by little (sometimes with no visits) before Glassfish crash.

[2016-10-12 08:36] rmo-cdsp commented on #3307
Any informations/help needed about my pull request, or anything else about OAI-PMH (as much as I can help about it) ?

[2016-10-12 13:25] sekmiller commented on #3331
This has been addressed in conjunction with the file landing page redesign of the download processing. Guestbook records will be created when the user invokes a download via the API.

[2016-10-12 15:50] landreev commented on #3368
Hi,
Sorry I didn't comment sooner.
You are correct, we are dumping "Extended DC"/DCTERMS fields into "plain DC" records.
We should of course skip these fields when we produce records under the original,  http://purl.org/dc/elements/1.1/ schema.

I will incorporate this fix into the next release, as part of the OAI work I'm doing under #3307.

[2016-10-12 15:51] landreev commented on #3307
@rmo-cdsp
I left a comment in #3368.
Thank you for reporting this and submitting a fix. We will incorporate in the next release.

[2016-10-12 18:53] tlchristian commented on #3066
This is something that some of our users would like, also.  On their Dataverses, they would like to sort by alpha.  They even named their datasets in such a way that a default sort by alpha would make the most sense for their users.  It would be nice if we can change the default sort setting.

[2016-10-12 19:08] mheppler commented on #2293
This logo image is now showing up as a broken URL for [Murray Research Archive](https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/00235) datasets.

![screen shot 2016-10-12 at 3 07 08 pm](https://cloud.githubusercontent.com/assets/687227/19324037/a09500f0-908d-11e6-9728-7c56b62b8401.png)

[2016-10-12 19:18] mheppler commented on #2936
Closing this issue as a duplicate of **Search/Browse: Improve facet UI for dates in fields such as "Publication Date" #70**.

[2016-10-12 19:18] #2936 closed

[2016-10-13 15:35] kcondon commented on #2200
Not resolved. See original request, the idea is to find out which machine a user is on at any time, not just when an error happens.

[2016-10-13 18:51] kcondon commented on #2616
I don't think the issue Eleni raised in her doc review was addressed:
the dataset section (was named edit dataset, renamed to be edit files) mostly talks about how to create a dataset in order to add files and talks alot about files.

What I *think* Eleni was getting at is what things should you consider when creating a dataset:
what type of metadata should be entered, any templates, terms of use,

[2016-10-13 18:56] kcondon commented on #3160
Fixed, closing.

[2016-10-13 18:56] #3160 closed

[2016-10-13 19:18] kcondon commented on #3023
Appendix link in Dataverse Management section of User Guide fixed.
See Create Account link fixed.
Screenshot sizing fixed.

Closing.

[2016-10-13 19:18] #3023 closed

[2016-10-13 19:26] pdurbin commented on #2917
@bmckinney is working on this so I moved it to Development in Waffle.

[2016-10-13 19:28] pdurbin opened #3405 "Add new field to filemetadata table to display full path filename (file hierarchy)"
@bmckinney and @landreev agree that a new field should be added to the filemetadata table to display full path filename (file hierarchy).

[2016-10-13 19:30] kcondon commented on #2232
Works, closing.

[2016-10-13 19:30] #2232 closed

[2016-10-13 19:31] pdurbin commented on #2917
See also number 7 at https://docs.google.com/document/d/1Vaje0yxKG6CWUu0xDVC62PVgQcuI5T4M6OCVvgRDtJc/edit?usp=sharing

[2016-10-13 19:33] pdurbin commented on #3405
@bmckinney is working on this so I put this in the Development column at https://waffle.io/IQSS/dataverse

[2016-10-13 19:37] pameyer commented on #2843
To re-iterate, this isn't a blocker for us and is low priority.

[2016-10-13 19:58] sekmiller commented on #2917
@bmckinney The action happens in the DOIDataCiteServiceBean, specifically getUpdateMetadataFromDataset and getMetadataFromStudyForCreateIndicator (There could be a little cleanup done here to reduce repeated code.)  There are methods on the DatasetVersion object to get specific field values that you can use to pattern additional methods for the additional metadata required. See getTitle() and getD

[2016-10-13 20:45] djbrooke commented on #3307
Outdated registration: http://www.openarchives.org/Register/BrowseSites?viewRecord=http://dvn.iq.harvard.edu/dvn/OAIHandler

[2016-10-13 20:53] kcondon commented on #3291
Tested, works, merged. Closing.

[2016-10-13 20:53] #3291 closed

[2016-10-13 21:30] mheppler commented on #2607
This issue was also reported in issue #2061 by @suenjedt.

![screen shot 2015-04-21 at 11 20 19](https://cloud.githubusercontent.com/assets/7300319/7255709/019a35ec-e819-11e4-8eaf-f207175b501a.png)
![screen shot 2015-04-21 at 11 18 02](https://cloud.githubusercontent.com/assets/7300319/7255710/019b87c6-e819-11e4-9edd-a5bd9ebf87d6.png)

[2016-10-13 21:31] mheppler commented on #2061
Closing this issue as a duplicate of #2607.

[2016-10-13 21:31] #2061 closed

[2016-10-13 22:18] kcondon commented on #2588
Looks good, closing.

[2016-10-14 14:26] pdurbin commented on #2594
Yesterday @djbrooke and agreed to create a "low-hanging-fruit" label ( https://github.com/IQSS/dataverse/labels/low-hanging-fruit ) and like all other labels, it should be described in CONTRIBUTING.md. Here's how I would describe it:

low-hanging-fruit: issues that are good candidates for a new contributor because the change required is not great or doesn't require a deep knowledge of the code

We

[2016-10-14 14:28] pdurbin commented on #1510
This has been requested at https://github.com/IQSS/dataverse-client-java/issues/6

[2016-10-14 14:53] #2588 closed

[2016-10-14 14:54] pdurbin opened #3406 "Shibboleth support for Dataverse requires SELinux to be disabled or set to permissive"
As documented at http://guides.dataverse.org/en/4.5.1/installation/shibboleth.html#disable-selinux the way Shibboleth support has been implemented for Dataverse requires that SELinux be disabled or set to permissive.

Users such as @Venki18 have indicated at https://groups.google.com/d/msg/dataverse-community/U04sLtEkJ7Q/HTufSDqgAgAJ that "Our IT team want us to set SELinux enforcing ON". As of th

[2016-10-14 15:43] djbrooke commented on #3331
Closing this. Will leave a note in #2465.

[2016-10-14 15:44] djbrooke commented on #2465
#3331 will be resolved by this. I've closed that issue, we should test it here.

[2016-10-14 15:57] kcondon commented on #3371
Please add json example to docs, thanks.

[2016-10-14 16:55] mheppler commented on #2465
Talked to @mcrosas and @scolapasta to get together an outline of what the file citation should look like. Here is a generalized example, where the squiggly-brackets `{ }` represent dynamic content.

`{dataset.citation} {file.name} [{file.name.label}] {file.unf}`

Here is an example of a citation from tabular file in a [3.6 dataset](http://dvn-archive.hmdc.harvard.edu/dvn/faces/study/StudyPage.xhtm

[2016-10-14 16:56] kcondon commented on #3083
I've discussed this ticket with Phil and the scope is implementing import for datasets using json, specifically for SBGrid. There are known limitations: it does not support datasets with multiple versions, files, supports only doi, and it is a super user only feature.

[2016-10-14 18:42] pdurbin commented on #3371
@kcondon as we discussed I added a JSON example in 510b907 and while I was in there I improved the error reporting for when you don't send the right JSON to create a dataverse. I'm aware that a 500 error is still being thrown but at least you get a sense of which bean validation rules are not being obeyed. Passing back to you.

[2016-10-14 19:23] kcondon commented on #3371
Looks good, closing.

[2016-10-14 19:23] #3371 closed

[2016-10-14 20:21] pdurbin opened #3407 "When users convert their account from the "Username/Email and Password" to the "Institutional Log In" option, they receive a confirmation email with no link"
Per https://help.hmdc.harvard.edu/Ticket/Display.html?id=242106 somehow this message was sent by https://dataverse.harvard.edu running v. 4.5.1 build 49-7e5e8c9 which doesn't contain a "confirm email" link to click. Confirm email is new as of 4.5.1 (#2170) and I'm not sure how to reproduce this bug. It may have something to do with Shibboleth but I'm not sure. Shibboleth users should not be asked

[2016-10-14 22:08] jggautier commented on #2819
Sherry and I are in touch to discuss this and other elements of the 4.x homepage.

[2016-10-15 12:26] pdurbin commented on #3406
@whorka has what seems to be excellent advice in this area: "Typically, the simplest way to do this is to feed the audit log messages through the "audit2allow" tool, which generates SELinux rules to permit any of the denied operations. You can see an example of this at https://wiki.centos.org/HowTos/SELinux#head-faa96b3fdd922004cdb988c1989e56191c257c01 ."

[2016-10-15 12:57] pdurbin commented on #2548
@djbrooke #2974 is quite different than this issue. #2974 is about completely disabling login by local users, something we don't support as of this writing. This issue is about an edge case we didn't anticipate in how DANS uses Shibboleth. They support login from ~18 institutions but from the Dataverse perspective they are hidden behind a single Identity Provider (at https://dataverse.nl you can s

[2016-10-15 13:02] pdurbin commented on #2129
@djbrooke sure, I'll close it. I'm not sure if institution wide Shibboleth groups will for DANS or not due to their unique setup described in #2548 but since that issue has been closed I suppose this issue can be closed as well. DANS is very interested in #1515 which should be a solution for them some day. As far as being tied to Shibboleth as a SAML implementation, it would be a radical change to

[2016-10-15 13:02] #2129 closed

[2016-10-15 13:05] pdurbin commented on #1515
@djbrooke we should leave this issue open. Harvard can't make use of this feature until a deal is worked out with HarvardKey people to release more information about what department or lab people are in but Odum and DANS are both interested in this feature. See also the "2014-06-19 meeting with Jon Crabtree about iRODS and Shibboleth" doc at https://docs.google.com/a/harvard.edu/document/d/1Rk1Mqc

[2016-10-15 13:10] pdurbin commented on #952
The primary issue to track for the SBGrid use case is this one:  Data Capture Module (rsync support) #3145

[2016-10-15 13:24] pdurbin commented on #2110
I'm well aware that this issue is about JSON and that people don't like XML very much but I'd like to point out that now that we have export (#907) it isn't too tough to get the title out XML representations of datasets such as Dublin Core:

` curl -s 'https://dataverse.harvard.edu/api/datasets/export?exporter=dcterms&persistentId=doi:10.7910/DVN/FAZJE4' | xpath -e '//dcterms:title/text()' `

[cod

[2016-10-15 13:41] pdurbin commented on #3323
I pointed out the TODO to @scolapasta during an SBGrid meeting last week since @bmckinney mentioned the need to store funding agency (as well as how there would ideally be a list of funding agencies to choose from in the GUI).

[2016-10-15 14:08] pdurbin commented on #2753
@pengchengluo do you have to restart Glassfish every morning too? I don't believe we have this problem at https://dataverse.harvard.edu but we do have some sort of restart script in place to detect if Glassfish is dead or not responding or whatever. I don't believe it gets triggered very often.

If @pengchengluo or @jri-sp or others can suggest how we can reproduce this problem on a test box, plea

[2016-10-15 14:09] pdurbin commented on #3066
The customer is always right, I guess. Thanks for the feedback @tlchristian :)

[2016-10-15 14:21] pdurbin commented on #2607
The existing behavior is a result of a design decision made at an April 2014 meeting: https://docs.google.com/a/harvard.edu/document/d/1DWsEqT8KfheKZmMB3n_VhJpl9nIxiUjai_AIQPAjiyA/edit?usp=sharing

The date in question that appears on the card (the date that you're sorting by) is this: 'it will either be "Release Date" (which is the "Major Version Release Date") or "Creation Date"'

Here are the d

[2016-10-15 14:24] pdurbin commented on #3331
The non-counting of downloads via API has been noted in #2911.

[2016-10-15 15:43] pdurbin commented on #434
This is something @bmckinney at least mentioned last week so I added the SBGrid label.

[2016-10-15 21:18] pdurbin commented on #723
While working on a way to add files to the native API yesterday (#1612, basically) @raprasad added the ability to send JSON along with the file and once this includes description we might want to close this issue and just say to use that new endpoint instead if you need to add a description to a file via API.

[2016-10-15 21:19] pdurbin commented on #1612
If we add the ability to put a description on a file via native API, we might want to consider closing #723.

[2016-10-15 21:22] pdurbin commented on #2584
#739 is related.

[2016-10-15 21:23] pdurbin commented on #739
#2584 is related in the sense that even trying to print a dataset page is messy.

[2016-10-16 01:46] pdurbin commented on #902
I don't know if anyone ever directly answered @muelle12 's question at https://github.com/IQSS/dataverse/issues/902#issuecomment-63485930 or not but the people who can see unpublished datasets are the ones who have been given at least a read only role on that dataset (Member). The news on this front is that there is now a feature called "Private URL" that could also be used to give anonymous read

[2016-10-16 01:50] pdurbin commented on #3259
@djbrooke should we close #916 since it's so closely related?

[2016-10-16 01:50] pdurbin commented on #916
@kcondon is right and #3259 appears to be the modern incarnation of this issue and actually has a milestone so we should probably close this issue.

[2016-10-16 01:54] pdurbin commented on #924
If we do want to integrate this idea with the idea of badges, the badges issue is #2119

[2016-10-16 01:55] pdurbin commented on #2119
#924 is related.

[2016-10-16 01:58] pdurbin commented on #343
#934 is related.

[2016-10-16 02:02] pdurbin commented on #938
I'm just adding the word "quota" here because that's what will help me find this issue again in the future.

[2016-10-16 02:07] pdurbin commented on #961
It's not entirely clear to me what this issue is about but `label` and `type` both exist in the `datavariable` table ( http://phoenix.dataverse.org/schemaspy/latest/tables/datavariable.html ) so I assume that's what it's about. A user story would help. Even better would be knowing who is asking for this feature so we can let them know if or when we implement it. :smile:

[2016-10-16 02:10] pdurbin commented on #961
Hmm, editing variable labels and types is mentioned (among many other things) in #962 (and opened on the same day).

[2016-10-16 02:10] pdurbin commented on #962
Part of this issue are also mentioned in #961

[2016-10-16 12:15] pengchengluo commented on #2753
I restarted our glassfish and find the first error doesn't exist but the second error still exist.

We don't restart glassfish every morning. But the web page responding become longer over time. So restarting the glassfish every week is necessary.

[2016-10-17 11:58] mheppler commented on #739
Related in the sense that both involve a printer, but the codebook is an entirely different feature from clicking command-P when viewing a dataset pg.

[2016-10-17 13:06] pdurbin commented on #3387
I added the "4.6 - File Replace" milestone. It seems to be under active development to I dragged it to that column at https://waffle.io/IQSS/dataverse

[2016-10-17 13:17] djbrooke commented on #3387
Let's track the creation of these tests as part of the larger issue (#2290) instead of creating additional sub issues that need to be tracked and completed before the larger issue can be moved to done.  Closing this.

[2016-10-17 13:18] #3387 closed

[2016-10-17 13:19] djbrooke commented on #2290
If they are needed in order to complete this issue, we should reflect the list of tests from #3387 as part of this issue.

[2016-10-17 14:04] sekmiller commented on #3238
On the provenance tab we allow the user to upload a provenance file.  We have to add a process for ingesting these files. It's my understanding that they will be saved to the provenance file directory. Phil suggested that this might need to be configurable.

[2016-10-17 14:08] pdurbin commented on #3238
Yeah, I was suggested that for now the files could be put in `10.5072/FK2/ZPWUDQ/provenance` or whatever. I'm sure people like @pameyer and @bmckinney will be very glad to hear that the eventual plan is to put the provenance files on a separate file system because they definitely don't want these files intermixed with data they're trying to do computation on! But yes, a sane default for the locati

[2016-10-17 16:19] djbrooke commented on #2290
Test list from #3387:

 1)

- [ ] Add good file
- [ ] Add File null dataset id
- [ ] Add file by non-existent id dataset id
- [ ] Add good file
- [ ] Load good dataset by id
- [ ] User w/o Edit Dataset Perms
- [ ] User w/ Edit Dataset Perms
- [ ] Load new good file, name, content type
- [ ] Load null file input stream
- [ ] Load null file name
- [ ] Load null content type
- [ ] Load good file to r

[2016-10-17 18:11] kcondon commented on #3083
@pdurbin When you have a minute, can you share the api endpoint syntax for this as well as what the json format should be? I have a json export for a fully populated dataset and would like to use that to test this but likely it would need some tweaking.

[2016-10-17 19:25] pdurbin commented on #3406
@whorka and I came up with this and it seems to work!

[code]

[2016-10-17 19:54] mheppler commented on #2465
Also, as discussed with Mercè, we need to review the use of brackets around the UNF in the dataset citation.

<img width="1155" alt="screen shot 2016-10-17 at 3 52 40 pm" src="https://cloud.githubusercontent.com/assets/687227/19453133/ea31f8e2-9481-11e6-91a4-f9be6d9f74a2.png">

[2016-10-17 20:32] pdurbin commented on #3083
Adding "importType=migration" as a query parameter to the regular "add dataset with JSON" curl command and using "dataset-finch2.json" from https://github.com/IQSS/dataverse/pull/3377/files should do the trick. Sorry for not mentioning this earlier! Possible values for "importType" (which is new) are "migration", "new", and "harvest". The query parameter "separator" is also new and defaults to "/"

[2016-10-17 23:44] djbrooke commented on #3407
@bsilverstein95 - welcome back. I'm going to assign this one to you.

[2016-10-17 23:44] djbrooke commented on #3225
@bsilverstein95 - welcome back! I'm going to assign this one to you.

[2016-10-18 02:03] djbrooke commented on #3233
Closing in favor of #3106, will leave this note there.

[2016-10-18 02:03] #3233 closed

[2016-10-18 02:04] djbrooke commented on #3106
From #3233
_________

It is not obvious to less technical admins which ip or shib groups exist to assign roles to. While there are API commands that list each type, someone who exclusively uses the UI would not have access to this.

Also, maybe expand the User Guide to discuss the use of groups and their types in more detail.

There is some useful information on explicit groups on the groups page

[2016-10-18 08:08] michbarsinai opened #3410 "Remove instantiation of `ShibAuthenticationProvider` in `AuthenticationServiceBean#startup`?"
The `startup()` method of `AuthenticationServiceBean` contains an instantiation of `ShibAuthenticationProvider`. Seems not to have any effect?

https://github.com/IQSS/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/authorization/AuthenticationServiceBean.java#L98

[2016-10-18 14:52] djbrooke commented on #3368
Hey @rmo-cdsp - I'm going to close this out as it will be handled as part of another issue. Please follow along with #3307 - @landreev has some code available and it would be great if you could add comments or questions in the issue.

Cheers!

[2016-10-18 18:08] mheppler commented on #434
With the potential to require this feature in association with a custom Harvard Dataverse homepage (#2003), I have added the 4.7 milestone label.

[2016-10-18 20:42] djbrooke commented on #3241
@mheppler - sending this your way, as you were going to update some wireframes - thanks!

[2016-10-18 20:52] pdurbin commented on #3406
I just made pull request #3411 to document how to make use of the SELinux Type Enforcement (TE) file I posted above. At https://waffle.io/IQSS/dataverse I'm advancing this to Code Review and @landreev said he'd be willing to take a look since there's potential for figuring out how to get rApache to work with SELinux as well. The pull request is only a change to the Installation Guide and the Devel

[2016-10-18 20:56] pdurbin commented on #3406
@djbrooke said to go ahead and add a milestone of 4.6 on this so I just did.

[2016-10-19 13:08] pdurbin commented on #3368
@rmo-cdsp specifically, please keep an eye on pull request #3409.

[2016-10-19 13:54] djbrooke commented on #2819
Thanks both. I'm going to close this. This is one of the things we'll be user testing as part of the new homepage, so we'll have data about what's best to display here.

[2016-10-19 13:54] #2819 closed

[2016-10-19 15:58] pdurbin commented on #3406
@landreev @Venki18 to make it easier to see the changing to the guides @kcondon just built the docs in a temporary location (thanks!). To see the "diff" please go to f9e6b14 but to see the rendered HTML pages, please visit the following places that have changed in pull request #3411:

- http://guides.dataverse.org/en/3406-shib-selinux/installation/shibboleth.html#disable-or-reconfigure-selinux
- h

[2016-10-19 16:28] adam3smith commented on #2717
(Please re-direct if this isn't the right place):
Google has now released an experimental metadata schema for data markup and discoverability: https://developers.google.com/search/docs/data-types/datasets
While I'm not necessarily in love with google just defining a new standard, it's google so it'd be great to support that in addition to schema.org (on which I agree with Merce & others).

[2016-10-19 17:13] pdurbin commented on #3405
@landreev I just created pull request #3412 based on code written by @bmckinney and as we've been discussing, your input would be very much appreciated so I'm assigning this issue to you as I put it in Code Review at https://waffle.io/IQSS/dataverse

For my part, I worked with Bill to improve the integration tests such that they work remotely (on http://phoenix.dataverse.org ) if or when the pull

[2016-10-19 17:32] pdurbin opened #3413 "Native API allows you to create empty files with arbitrary checksum values and other metadata"
While testing the code that has lead to pull request #3412 I noticed that I'm able to persist to the database arbitrary information about files such as:
- label (filename)
- description
- checksum
- etc.

For what I expect is a full list please see file examples in https://github.com/IQSS/dataverse/blob/a509fcaa6c8b5d43c2b73ed1936b5586d25f20b7/src/test/resources/json/complete-dataset-with-files.js

[2016-10-19 18:06] kcondon commented on #3083
I've found a few bugs that exist in this branch but not in production:
1. creating a dataset as non super user does not grant dv defined access perms to creator, ie they have no direct perms on the dataset the just created, does not see draft card.
2. non super users can specify a doi when creating a dataset, this should be super user only.
3. all modes, including default, set globalidcreatetime i

[2016-10-19 18:22] jcjesus commented on #2628
After this problem with glasfish 4.1.1, I was downloading glasfish 4.1 version and solve my problem.

[2016-10-19 18:40] pdurbin commented on #2628
@jcjesus we did the same. This issue is all about how we tried and failed to upgrade from Glassfish 4.1 to Glassfish 4.1.1. (We also tried to upgrade to 4.1.1.154 per my summary above at https://github.com/IQSS/dataverse/issues/2628#issuecomment-158202002 . See also "Internal defect ID: PAYARA-834" at https://github.com/payara/Payara/issues/532 ) It's sad because on Glassfish 4.1 we make our users

[2016-10-19 18:46] pdurbin commented on #2863
I mentioned to @michbarsinai that developers are now asked to use the special "connects to" syntax to associate pull requests will issues. This should be added to the Dev Guide and the PULL_REQUEST_TEMPLATE.md. Here are the docs from Waffle explaining the syntax: https://github.com/waffleio/waffle.io/wiki/FAQs#prs-and-issues

[2016-10-19 19:15] kcondon commented on #3358
From Michael:

Changes:
1/ https://github.com/IQSS/dataverse/issues/3209 - putting the `test` endpoint under `admin`. This includes updates to the guides (config.rst, where we tell installers what endpoints to block).
2/ Try to perform an action you're not authorized, and see that you get a 403 FORBIDDEN rather than 400 BAD REQUEST
3/ Following Endpoints were changed, but using automated refactori

[2016-10-19 20:19] pdurbin commented on #3358
Here is the latest result from REST Assured testing: https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/edu.harvard.iq$dataverse/56/testReport/edu.harvard.iq.dataverse.api/ . @kcondon and I looked at console output too and generally poked around. There are a lot of assumptions in the REST Assured tests. They expect the "burrito" key to be there so you can create users, f

[2016-10-19 20:21] michbarsinai commented on #3358
@pdurbin we all expect a burrito!

[2016-10-19 22:43] mheppler commented on #2465
After reviewing the file pg with @sekmiller today, we identified a few remaining to-do's and bugs.

- [ ] Deaccession - This entire feature/workflow/use case needs to be added, then demoed and reviewed with @scolapasta and @mcrosas
- [ ] Permissions/Access - Not logged in, can view draft/unpublished file pg
- [ ] File Citation - version number inaccurate (V2 same even if datasetVersionId=1 vs data

[2016-10-20 09:00] smillidge commented on #2628
@pdurbin we are keen to help. I'm not sure whether the conclusion was the problem was in your code's use of @Context in a non-JAX-RS resource or a bug in Payara. We can work together to work out which if you need to?

[2016-10-20 13:44] pdurbin commented on #3338
See the "2016-10-18 Meeting and demo about OAuth and ORCID login" doc below for notes and screenshots from a demo by @michbarsinai to @djbrooke @kcondon @sekmiller @raprasad Derek, @jggautier , @scolapasta , @mheppler and myself: https://docs.google.com/document/d/1Lja6sqG0Ljg2Q6suoMJbYr3J01DTpw6HkgvRwdbEDXQ/edit?usp=sharing

Public comments are enabled and very welcome!

[2016-10-20 14:58] pdurbin commented on #2881
@djbrooke and I discussed this issue this morning. Sounds like this isn't low hanging so we'll unassign @bradleycaccivio and put him to work elsewhere. 😄

[2016-10-20 17:10] djbrooke commented on #3338
We had a list of items coming from the demo. We should work on these

- [ ] How to handle changing emails (Allow users to update their data from Dataverse (being implemented))
- [ ] How to handle when no email is provided (first login flow deals with this already (as well as with selecting the username and agreeing to the EULA)).
- [ ] Admin Setup (Documentation and Settings changes (Done - https:

[2016-10-20 19:25] landreev commented on #3405
@bmckinney Answering the question about the checkForDuplicateFileNames() method: it can be left as is, for now. This is because it's only used by the Dataverse file upload methods that do not populate the directory label field. It will need to be modified once I/we modify these methods (the zip file upload is the primary candidate) to take advantage of these folder label... But we've agreed that i

[2016-10-20 20:00] mheppler commented on #1308
eaquigley commented on Apr 29 in issue #3096 (which I am closing in favor of this issue).

![screen shot 2016-04-29 at 10 34 21 am](https://cloud.githubusercontent.com/assets/5922904/14919245/f658c47e-0df5-11e6-991d-87cbe29539e7.png)

[2016-10-20 20:01] mheppler commented on #3096
Closing this issue as a duplicate of #1308.

[2016-10-20 20:01] #3096 closed

[2016-10-20 20:05] mheppler commented on #1267
In addition to not being able to see the Metadata, the Version tab reads, "No records found" when there are in fact other published/draft version.

<img width="980" alt="screen shot 2016-10-20 at 4 03 12 pm" src="https://cloud.githubusercontent.com/assets/687227/19575934/f4b61da2-96de-11e6-9e7b-efa038cabd37.png">

[2016-10-20 20:09] mheppler commented on #1267
Related to #1308.

[2016-10-20 20:31] pdurbin commented on #3083
@bmckinney @scolapasta @djbrooke @mheppler met today today to discuss this and other SBGrid-related issues. Notes are at https://docs.google.com/document/d/1VeD4mEUMb7qMT2_KSswEDTksTBTVpUi2gIR5PoduQMI/edit?usp=sharing

Two things are at issue:

- What do with pull request #3377
- What to do with this issue

We talked about three options for pull request #3377:

- Option 1: Do not merge to core. Bi

[2016-10-20 20:45] mheppler commented on #1308
Also deaccession related #1221.

[2016-10-21 00:48] djbrooke opened #3416 "Provenance Export"
The [Provenance System](https://www.usenix.org/conference/tapp12/workshop-program/presentation/macko) will provide an export of a "Provenance Bundle." This is a JSON file and we should provide some way through the UI to export this file.

[2016-10-21 00:54] djbrooke opened #3417 "Provenance Dataset and File Linking"
In the [Provenance System](https://www.usenix.org/conference/tapp12/workshop-program/presentation/macko), there is a way to designate a parent-child relationship between two files or two datasets. We need to provide a UI for this.

To be considered:
- There should be some way to search. DOIs were suggested as a possibility, but files do not currently have DOIs.
- The relationships can only be defi

[2016-10-21 00:56] djbrooke commented on #3417
Need to determine if this is in scope for 4.6 or will be added for a later version.

[2016-10-21 12:40] pdurbin opened #3418 "Set expectations for coding style and code review in dev guide"
Yesterday, @bmckinney  @scolapasta @mheppler @djbrooke and I discussed the inconsistent formatting in the code base during an [SBGrid sprint planning meeting](https://docs.google.com/document/d/1VeD4mEUMb7qMT2_KSswEDTksTBTVpUi2gIR5PoduQMI/edit?usp=sharing). It was decided that some clarity on the expectations is warranted and that I would expand on what's currently at http://guides.dataverse.org/e

[2016-10-21 13:32] pdurbin opened #3419 "Native API should support deleting files"
At https://github.com/IQSS/dataverse/pull/3415#issuecomment-255102882 @raprasad and I have been talking about how user's shouldn't need to switch to the SWORD API just to delete a file. This operation should be part of the native API. Yesterday, @djbrooke said to go ahead and create an issue for this so here it is.

For reference, here's how to delete a file with SWORD: http://guides.dataverse.org

[2016-10-21 14:37] pdurbin commented on #1612
I'm assigning this to myself and @raprasad  because I mentioned yesterday that I plan to deploy the code Raman has been working on to https://dev1.dataverse.org so that OSF, OJS, and others who integrate with Dataverse ( http://guides.dataverse.org/en/4.5.1/api/apps.html ) or work on client libraries ( http://guides.dataverse.org/en/4.5.1/api/client-libraries.html ) can kick the tires on the new f

[2016-10-21 14:44] pdurbin commented on #3405
@bmckinney I'm adding you as an assignee here after when discussing this issue with @landreev there were a number of improvements to make:

- clear rules about trailing and leading slashes (and refactoring code from an EJB to a unit-testable "util" class
- other stuff I'm forgetting

Thanks!

[2016-10-21 14:48] pdurbin commented on #830
I think this would be a very nice and low-hanging-fruit feature but users aren't exactly clamoring for it so I vote we close it until there's actual user demand.

[2016-10-21 14:59] pdurbin commented on #3353
@scolapasta and @bmckinney discussed this issue fairly extensively yesterday in an [SBGrid spring planning meeting](https://docs.google.com/document/d/1VeD4mEUMb7qMT2_KSswEDTksTBTVpUi2gIR5PoduQMI/edit?usp=sharing) and it sounded like the decision was that @bmckinney will beef up the existing class rather than adding a new one. I'm happy to be corrected if I misunderstood.

[2016-10-21 15:00] pdurbin commented on #2917
@scolapasta and @bmckinney discussed this issue fairly extensively yesterday in an SBGrid spring planning meeting and it sounded like the decision was that @bmckinney will beef up the existing class rather than adding a new one. I'm happy to be corrected if I misunderstood.

[2016-10-21 15:30] pdurbin commented on #3358
@kcondon this morning I mentioned a "gotcha" that the REST Assured test suite has an assumption that ordinary users can create both datasets and dataverses in the root dataverse. On http://phoenix.dataverse.org I run https://github.com/IQSS/dataverse/blob/v4.5.1/scripts/search/tests/grant-authusers-add-on-root to set these permissions. It passes in the following to the root dataverse:

[code]

(Th

[2016-10-21 16:02] pdurbin commented on #1612
After standup @raprasad indicated that the `1612-api-add-file` branch is the one to deploy to dev1 (pull request #3415) but we plan not to announce it until after is has gone through some code review.

[2016-10-21 16:08] pdurbin commented on #3307
This issue was just mentioned at https://groups.google.com/d/msg/dataverse-community/OlOsF5tJrrE/_FFRocaPAAAJ

[2016-10-21 16:18] pdurbin opened #3420 "Shibboleth: Improve help text/provide options if your institution isn't listed"
If you go to Sign Up ( https://dataverse.harvard.edu/dataverseuser.xhtml?editMode=CREATE&redirectPage=%2Fdataverse.xhtml ) you'll see at the top "Want to create your account through your institution? Log In here." You click and see long list (over 200 institutions) and "Select your institution and click "Continue" to log in via your institution's authentication system... Use Dataverse with your in

[2016-10-21 17:07] kcondon opened #3421 "Facets: Investigate why Metadata Source facet returns slightly higher number than basic search."
While verifying the scope of a harvest OAI set, which should include all locally owned datasets, we discovered the set definition when returns slightly fewer datasets than the Metadata Source, Harvard Dataverse, Datasets only facet.

dsPersistentId:"hdl:1902.1" OR dsPersistentId:"doi:10.7910" returns 20765 in both the OAI set def view in the dashboard and in basic search.

The facet mentioned retu

[2016-10-21 20:23] pdurbin commented on #3182
https://github.com/IQSS/dataverse-aws/issues/10 might be related but I'm not sure.

[2016-10-21 20:30] pdurbin commented on #3420
There's also the opposite problem (and maybe should be in yet another issue). We got a report in https://help.hmdc.harvard.edu/Ticket/Display.html?id=241588 that UC Davis shows up in the list (because they're part of R&S) get the user got "given name was null" when attempting to log in. This should never happen because all Identity Providers (IdPs) that are part of R&S are supposed to release the

[2016-10-21 20:31] djbrooke commented on #3417
Talked through this in the Provenance meeting this morning. There is a need for this, but not necessarily in the first version. Keeping it out of 4.6 for now.

[2016-10-21 21:47] michbarsinai commented on #3338
Had to re-architect the user/provider stuff to revolve around capability queries (e.g. `provider.isUserInfoUpdateAllowed()`) rather than classes (`user.isBuiltInUser()`). Here's a sequence diagram to make some sense of it: How the Account Information page decides whether to show the account info update screen. PlantUml file is in `doc/Architecture/update-user-account-info.puml`.

![update-user-acc

[2016-10-22 18:45] pdurbin commented on #585
@tracykteal thanks for linking to https://github.com/datacarpentry/archive-datacarpentry/tree/master/lessons/excel/ecology-examples which seems like good advice for researchers using Excel.

@zward I'm not exactly sure what you mean by "field specific metadata" but in DVN 3.x we used to have the idea of a "control card" file (see http://guides.dataverse.org/en/3.6.2/dataverse-user-main.html#contro

[2016-10-22 18:50] pdurbin commented on #1293
In the "2016-10-18 Meeting and demo about OAuth and ORCID login" meeting (notes at https://docs.google.com/document/d/1Lja6sqG0Ljg2Q6suoMJbYr3J01DTpw6HkgvRwdbEDXQ/edit?usp=sharing ) I asked @michbarsinai if we (he) had learned anything about OAuth that will help us someday use OAuth for API tokens instead of our existing strings. It sounds like not. Switching from our existing strings (UUIDs) to s

[2016-10-22 18:53] pdurbin commented on #1346
An interesting development in this area is that @richarda23 has started a repo at https://github.com/IQSS/dataverse-client-java which contains SWORD client code, which we could perhaps someday consider incorporating into Dataverse.

[2016-10-22 19:02] pdurbin commented on #1299
These days there's an (undocumented) "MyData" API that could probably be used to support non-public search. I added a script that exercises it here: https://github.com/IQSS/dataverse/blob/v4.2.1/scripts/issues/2649/reproduce

[2016-10-22 19:03] michbarsinai commented on #1293
Just to clarify, OAuth tokens are characterized by the way users obtain them and by how they behave. UUID is a way of generating (probably) unique strings without coordinating at the software level. Either unrelated or I don't understand the question.

For the record, ORCiD uses UUID strings as its OAuth tokens:

    "access_token":"89f0181c-168b-4d7d-831c-1fdda2d7bbbb"

(From https://members.orci

[2016-10-22 19:06] pdurbin commented on #1347
Pull request #3239 contains some Swift code by @anuj-rt but I'm not sure exactly what it does or if it addresses @spalan original request.