[2015-03-25 16:31] sbarbosadataverse commented on #1766
https://docs.google.com/spreadsheets/d/1Y_y5SbxbZZrCLQOIpTIar236BFjQ18V2hYdX6ZKAjFg/edit?usp=sharing

[2015-03-25 16:31] sbarbosadataverse commented on #1765
GSD
ARCS
Political Science Replication Initiative
Digaii
CHIA

[2015-03-25 16:31] sbarbosadataverse commented on #1764
Linked collections
linked dataverses/datasets
dynamic/static collection check
dataverses containing only “linked” datasets

[2015-03-25 16:32] sbarbosadataverse commented on #1767
Check that all migrated as “unrestricted datasets” have all data files “restricted.”
Check that admins choosing to “unpublish” have been migrated correctly
https://docs.google.com/spreadsheets/d/1vo9u6eF2A0OnaGS1uVrazLG8LC1KQ0MLXxLMmRpkwMs/edit?usp=sharing

[2015-03-25 16:32] sbarbosadataverse commented on #1763
migrate as: unpublished; contact all admins
https://docs.google.com/spreadsheets/d/1DokjeY-JcHTYcAnkERg6kwIXS10DZadL1prrMVuUbf8/edit#gid=2101023578

[2015-03-25 16:33] sbarbosadataverse opened #1770 "Open Scholar Embedded dataverses"
follow up with admins about changes (Sonia)
Liz-open scholar contact
Richard will update codes to 4.0 widgets, deploy new open scholar code by 4/18, keep link to 3.6 in open scholar until fully resolved
https://docs.google.com/spreadsheets/d/1REHqTO3YBvKiOYuWbP8J6nmohMMegcY6NJfx1JuxmnE/edit?usp=sharing

[2015-03-25 16:38] sbarbosadataverse opened #1771 "Facets"
We should add some preliminary facet fields for dataverses that used collections or custom fields--

[2015-03-25 16:39] sbarbosadataverse opened #1772 "Individual Dataverse Needs for 4.0"
Townsend:
-restricted datasets moved as unpublished except for cases that they are removing from 3.6;
-they have a selection to move as “unpublished.”

Contact individual Dataverses to let them know if we had to slightly transform their data for it to validate during migration. Gustavo will give me a list of Dataverses. (Eleni)

Center for International Forestry Research Dataverse
 will remove fro

[2015-03-25 16:43] sbarbosadataverse commented on #1764
Note from Eleni and Gustavo:

Linked collections
Email from Gustavo for us to keep track of:
The International Interactions Dataverse(s) is a complicated linked collections use case:

http://thedata.harvard.edu/dvn/dv/internationalinteractions
http://thedata.harvard.edu/dvn/dv/interact

The other collections linked to dynamic are as follows:
values are:
the id of the dataverse
the alias of the dat

[2015-03-25 16:55] pdurbin commented on #1516
dvn-build has been upgrade to Weld 2.2.10...

[code]

... and I just saw the Weld error:

![weld](https://cloud.githubusercontent.com/assets/21006/6830048/cd67f7ae-d2ed-11e4-89b0-9166a7c40569.png)

Judging from the commit at https://github.com/mkouba/core/commit/f36c02428041ef8b20dcb310d387bc8f510e1742 and how the stacktrace (below) looks, I do believe that extra debugging information is included

[2015-03-25 17:02] pdurbin commented on #90
As @scolapasta and I just discussed, we plan to reuse the `dataverselinkingdataverse` and `datasetlinkingdataverse` tables created by @sekmiller for #113 and #114 (below) but it would probably be a good idea to add a column that somehow indicates if the link was created automatically (by Saved Search) or manually (by a user actively clicking the "link" icon):

[code]

[2015-03-25 17:37] mheppler commented on #1637
Added help text on Sign Up for creating account with Institutional Log In with link to login page.

Passing to @pdurbin -- needs render logic on Line 278 for Shib being enabled.
[code]

[2015-03-25 17:37] mheppler commented on #1637
Please pass to @eaquigley after for QA.

[2015-03-25 17:45] eaquigley commented on #1649
added mention of special characters in commit 2ab5a1e05423d4f47474f968d66973a7415bfc66

[2015-03-25 17:46] #1649 closed

[2015-03-25 18:07] kcondon opened #1773 "Create Account: Sign up page validation not happening unless email field is completed."
Field validation for the sign up page is happening but not in all cases, leaving the impression in those cases it is not working properly at all.
1. Enter any combination of fields but do not fill in the email field and no validation occurs.
2. Enter any combination of fields and do fill in the email field and validation occurs.

[2015-03-25 18:19] pdurbin commented on #1762
@scolapasta asked me to re-assign this to @mheppler

I'm not exactly sure what the message should say... maybe "This Dataverse installation is configured for login via Shibboleth but there was an internal error. Please contact support."

Here's where that message comes from:

[code]

[2015-03-25 18:21] scolapasta commented on #1758
Fixed.

[2015-03-25 19:01] raprasad commented on #1754
![dataverse_-_netbeans_ide_8_0_2](https://cloud.githubusercontent.com/assets/1036060/6832918/ccde2c9c-d2ff-11e4-8456-11b8ca39742a.png)

[2015-03-25 19:07] scolapasta commented on #1757
Query in sql to get only the modular values:
select * from dataverse where id % 3 = 1;

It does seem like EJBQL supports this with MOD( 7, 3 ) = 1, so we probably don't have to write is as a native query.

[2015-03-25 19:08] scolapasta commented on #800
from issue #1735:

The Search/Browse Cards generate a high number of queries. File Cards, in particular, appear to create in the neighborhood of 500 queries each.

A listing of queries for 18 dataverses, 3 datasets, 9 files is available on google drive:

https://drive.google.com/a/harvard.edu/folderview?id=0B4VvItDJwfehemRYN0ktVFJnRzA&usp=sharing
The query list is related to the screenshot below:

[2015-03-25 19:09] scolapasta commented on #1735
Moved info to #800, passing to QA as a duplicate

[2015-03-25 19:09] pdurbin commented on #1637
Done in 56f1ec2

Passing to @eaquigley for QA.

[2015-03-25 19:10] mheppler commented on #1755
Improved the widget code to style and fix some issues on the search box and iframe code that was being rendered via our javascript.

Revised list of improvements:
- [x] "Search my dataverse..." placeholder text added to search box input.
- [x] Styled search box input and Find button to have more of a Dataverse look-and-feel.
- [x] Blue "loading" spinner displayed as iframe background, to display w

[2015-03-25 19:18] mheppler commented on #1762
Gave to @scolapasta to review in the "In Review - 4.0" milestone.

This isn't just swapping out the text displayed in the modal popup - but thank you, @pdurbin for digging that up.

As I said in my email, "(when there is a FATAL error from Shib) we need to have our built-in login displayed so the majority of our users can access the site, and not a modal popup that covers the entire screen with so

[2015-03-25 19:47] landreev commented on #1653
@mheppler
Mike, this is how it works.
The "advanced options" is the only place where you can select an image to be the thumbnail.
There's no such thing as "selected by default" - if no specific thumbnail is selected, it just grabs the first image in the dataset it can find (there's no guarantee that the same image will be selected on different occasions).
This should encourage users to select spec

[2015-03-25 20:25] ekraffmiller commented on #1691
@mheppler @eaquigley , what is the exact text wanted here for CC0?

[2015-03-25 20:30] mheppler commented on #1653
@landreev -- confirmed with @mcrosas that leaving this "grab the first image" as a default, without setting the "use this image" checkbox is fine for 4.0.

However, in my previous comment, I explained that your render logic ("#{fileMetadata.dataFile.tags}") for the tags in the browse/search cards doesn't work. Can you clarify or come by and help me figure out what I'm doing wrong?

[2015-03-25 20:44] sbarbosadataverse commented on #1432
Yes returns results
No does not return results
One study containing both custom values used in ARCS metadata template

![aqghmrxicmp38l4x1jym3jbszdwwzha66t0ag-l_lhs](https://cloud.githubusercontent.com/assets/8322346/6834994/27c498e0-d30e-11e4-9940-376062c4d7fe.png)

![tmwkxpybagtzyoyaqomkija3ucyabl-zjrpluzay2b0](https://cloud.githubusercontent.com/assets/8322346/6834998/2b41fc74-d30e-11e4-9098-65

[2015-03-25 20:45] mheppler commented on #1731
For the navbar status label and popup, updated text in bundle and add render logic.

@ekraffmiller has moved the "upgrade" specific message to a curl command that gets added to the database. The render logic I added checks to see if it is there.
[code]

[2015-03-25 20:51] landreev commented on #1653
Didn't notice that, sorry.
That render logic  was for the dataset page only. It won't work in the search fragment because it doesn't know what  "filemetadata" is. (it's the row name of the files table in dataset.xhtml).

In the search fragment, try this:

#{result.entity.tags}

and if that isn't working either, @scolapasta  will know how to get it to work.

All that said, are you sure the tab file

[2015-03-25 20:56] mheppler opened #1774 "Google Analytics -- Track Social Shares/Interactions"
With the Sharrre social media sharing plugin added to dataverses and dataset in ticket #449, we should be tracking these shares/interactions in our Google Analytics.

Ref: http://sharrre.com/track-social.html
Ref: https://developers.google.com/analytics/devguides/collection/analyticsjs/social-interactions

[2015-03-25 20:56] mheppler commented on #449
Related: Google Analytics -- Track Social Shares/Interactions #1774

[2015-03-25 21:07] eaquigley commented on #1442
All of these items have been done or checked to see if anything needed to be changed. Passing to QA.

[2015-03-25 21:09] sbarbosadataverse commented on #1485
here is what's showing up as preselected facets:

Affiliation
 Publication Date
 Author Name
 Subject
Keyword Term
Deposit Date

Are these fields in a particular block? If so, which (doesn't appear in social science block)

Publication Status
Publication Date
Dataverse Category
File Type

[2015-03-25 21:10] eaquigley commented on #1637
Looks great and works! Closing ticket.

[2015-03-25 21:10] #1637 closed

[2015-03-25 21:10] sbarbosadataverse commented on #1485
Eleni, just a question on which metadata block contains the list of fields--I found "type" under astronomy?

[2015-03-25 21:16] #1485 closed

[2015-03-25 21:21] mheppler commented on #1653
@landreev @scolapasta -- That displays: "{IndirectList: not instantiated}" on the file card. Do I need a ui:repeat or some jazz?

Yes, @mcrosas has requested tags on the browse/search cards.

[2015-03-25 21:29] raprasad commented on #1754
Offending lines generating about 2,000 queries for 50 published files
[code]

[2015-03-25 21:32] raprasad commented on #1754
The links in th versions tab generate another 400 queries for the 50 published files

[code]

[2015-03-25 21:36] mcrosas commented on #1653
I'm confused!

- I just wanted to make sure that tags that apply to a file are shown for
each file card. This is sufficient for 4.0 (there could be MANY tags for a
dataset that has 100s of files, so if we want to show then in the dataset
cards, we would need to figure out how many we display, etc).
- What do I mean by a file card? The file card inside a dataset page or a
file card return in a sear

[2015-03-25 21:55] sekmiller commented on #1727
You should only be able to edit the input level of fields if the DV is in non-inherit mode.  Also a view link has been added for when you are in inherit mode or the given mdb is not selected.

[2015-03-25 21:55] mheppler commented on #1653
@mcrosas @landreev -- Here is what is being asked for on the browse/search file cards.

![screen shot 2015-03-25 at 5 49 05 pm](https://cloud.githubusercontent.com/assets/687227/6836367/9d26bd94-d317-11e4-83dd-3c942c872442.png)

[2015-03-25 21:57] sekmiller commented on #1688
OK - There is still a known issue that there isn't an inline error message for a required "multiple choice" question, however the blanket error should show at the top of the pop-up

[2015-03-25 22:00] landreev commented on #1653
@mcrosas
No, it's not that difficult to show the tags in both places (dataset page and dataverse/search results pages). It's just something minor that needs to be figured out there (the 2 pages use different ways of access the metadata).

I did initially assume that we wanted the files on the dataset page only. So I only told Mike how to access these tags from there.

[2015-03-25 22:12] mcrosas commented on #1653
OK, thanks @landreev and thanks @mheppler

Now that I see it in more detailed I realized that the TAGS I was referring
were the tags that say "geospatial" "survey" "time series" etc for tabular
files (not the categories). But I guess they are all (both categories and
tabular types) considered TAGS, right?

On Wed, Mar 25, 2015 at 6:00 PM, landreev <notifications@github.com> wrote:

[2015-03-25 22:14] mheppler commented on #1653
Do we even have "tags" (not categories) implemented anywhere on the site?

[2015-03-25 22:16] landreev commented on #1653
@mheppler
@scolapasta
And you are positive the file you are testing has assigned tags?
Gustavo says he will take a look at this.

Once you can get the tags list, you should be able to get away with something like

[code]

So yeah, I guess I should've mentioned that you need tag.typeLabel to get the actual string representing the type of the tag.

[2015-03-25 22:56] landreev commented on #1653
@mcrosas
I've been trying to use the word "tag" to only refer to these special "data tags", that only apply to tabular files. So that they are not confused with the file categories...

But yes, it is potentially confusing. Somebody who's just learning the Dataverse terminology may not initially see the difference between "tag" and "category".

I guess the solution is to try and always use the long

[2015-03-25 23:36] mheppler opened #1775 "Dataset, Upload + Edit Files, Advanced Options - Any Edit Removes Categories"
When adding a tabular data tag or setting an image to be the default thumbnail -- any action from the Advanced Options popup -- it will remove the pre-existing category assigned to that file.

[2015-03-25 23:45] mheppler commented on #1775
Additional Advanced Options bugs:

When you Save

[2015-03-26 00:10] mheppler opened #1776 "File Categories + Tabular Data Tags - Improve Layout"
Now that the file category and tabular data tags are properly displaying on the browse/search file cards and the files table on the dataset page, please review their layout, see what improvements can be made.

- [x] "You currently have no categories set for this file" message on Upload + Edit Files is displayed when the tabular data tags are displayed.
- [x] Review label colors for file categories

[2015-03-26 00:11] mheppler commented on #1653
Sorry for the confusion on this ticket. The two tasks outlined in the original comment have been completed. Separate bug (#1775) and UI clean up (#1776) tickets have been created for issues this ticket discovered.

[2015-03-26 01:59] pdurbin commented on #1757
As of 317bcbf "index all" can be load balanced across multiple Glassfish servers. I provided a script that explains how to select the number of partitions (i.e. number of Glassfish servers) and for the given server, which partitionId should be run.

Here's the script: https://github.com/IQSS/dataverse/blob/master/scripts/search/index

Here's some example output:

curl 'http://localhost:8080/api/ad

[2015-03-26 09:31] mkouba commented on #1516
@pdurbin Looks like the thread is corrupted - in the sense of some ThreadLocals have unexpected values. Weld is using ThreadLocals to handle session/request/conversation contexts. We've seen similar problems when using server push and/or async processing. Go through the log and search  for messages like "Unable to dissociate context..." or "Unable to deactivate context..." - these indicate a probl

[2015-03-26 12:49] mcrosas commented on #1516
Many thanks for the information @mkouba - we'll look into this today.

[2015-03-26 13:23] pdurbin commented on #1612
@chrisseto I like this idea! However, rather than...

[code]

... we actually might want to take this one step further since we support more metadata at the file level than just "description". We also support categories so perhaps instead of `Content-Type: text/plain` we could specify JSON that includes both the description and the categories like this:

[code]

And I suppose we could support more

[2015-03-26 13:26] samchrisinger commented on #1612
This sounds great.

[2015-03-26 13:31] chrisseto commented on #1612
@pdurbin from an API point of view allowing json file metadata would be a great idea!

You may want to keep in mind that if you kept everything as form fields then this endpoint could become the canonical file upload endpoint.
So an API upload would be a form post and when uploading from the website interface its just submitting a form to the same endpoint.

This way you can can have slightly DRYe

[2015-03-26 15:51] posixeleni opened #1777 "Fix migration issues for custom fields w/ controlled vocabulary"
Uncovered errors during a recent migration test by @ekraffmiller that I will need to fix in the following custom metadata blocks:

**GSD Block**
1. Fix missing values for gsdCoordinator and gsdFacultyName
[code]

**PSRI Block**
1. Fix missing NA value in PSRI8 and PSRI2
[code]

**ARCS Block**
1. Trim whitespace at the end of No
[code]

[2015-03-26 16:10] ekraffmiller commented on #1516
Hi @mkouba , I took a look at our log files, and "Unable to deactivate context..." appears many times, but  haven't found any instances of 'Unable to dissociate context'.   I updated our web.xml file with the new context parameter, and will be checking to see if we still get the error.  FYI, here is a snippet of our log where the messages are occurring -

WELD-000717: Unable to deactivate context

[2015-03-26 16:17] sekmiller opened #1778 "Breadcrumbs - Need a way to include a link for a Page that is not a dvObject"
The View Guestbook Responses page is kicked off from a button on the Manage Guestbooks Page.  The breadcrumbs on View GB Responses only have a link back to the dataverse that owns the Guestbook.  There's no easy way to get back to the Manage Guestbooks page.  We need a way to put in a link back to this page as a general solution for other instances where you may be in several layers of pages.

[2015-03-26 17:38] posixeleni commented on #1777
@ekraffmiller I have put in the fixes for the issues found in the error log you submitted to me. This wont need a new schema.xml but a db drop would be needed to see the new values in build for @kcondon to test.

I did encounter two types of errors that I could not immediately resolve with the tsv and need you and @scolapasta advice:

1. There is one error I cannot fix using the tsv: but it can be

[2015-03-26 17:51] ekraffmiller commented on #1516
@mkouba , one of our issues is that so far we haven't been able to consistently reproduce this problem.  Given the errors in the log, do you have any suggestions for what we can do force the error to occur?

[2015-03-26 17:53] sekmiller commented on #1730
Mike,
I created a new page guestbook-responses.xhtml  Please take a look and format the responses.  I talked to Gustavo about the breadcumbs.  We're not in a position to add something at the moment, but I created a ticket for "In Review"

[2015-03-26 18:08] scolapasta commented on #1737
There had been an issue with the validation message for required dropdown questions (error message at top, but not next to question). This has been resolved, so please let us know if you see anything else.

[2015-03-26 18:09] scolapasta commented on #1689
added dataset download counts - need to discuss if we will have dataverse counts a) at all and b) for 4.0 with @mcrosas.

[2015-03-26 18:13] sekmiller commented on #1773
Fix is checked in

[2015-03-26 18:13] scolapasta opened #1779 "Post migration: Move groups to appropriate dataverses"
In 3.6 groups existed at the installation level, so they will all belong to the root post migration.

We need to review the groups and manually move them to the appropriate dataverse level (for example, PSI can go to PSI dataverse).

[2015-03-26 18:50] scolapasta commented on #1777
For the English and Dutch one, we added this to the pre scrub:
update studyfieldvalue set strvalue='English' where metadata_id=273999 and studyfield_id=218 and strValue='English and Dutch';
insert into studyfieldvalue (strvalue, metadata_id, studyfield_id, displayorder) values ('Dutch', 273999,218,1);

[2015-03-26 18:53] scolapasta commented on #1777
@posixeleni

For the 2nd question; not sure.

They clearly can't be part of the controlled vocab. Is there some other existing field that these can be parsed to? If so, we can do a prescrub where we set that value and then delete these?

[2015-03-26 19:18] posixeleni commented on #1777
@scolapasta for me to better answer that question is there any way you or @ekraffmiller can give me the dataset IDs for these problematic datasets in Q#2? Once I go in to the actual datasets to see what they are doing it might make it easier to resolve this issue.

[2015-03-26 19:40] posixeleni commented on #1446
I tested the ability to delete unpublished datasets that are linked to Dataverses, which works, but to close this particular I will need to reassign to @kcondon for him to try destroying a published dataset that is linked to a dataverse. Related to https://github.com/IQSS/dataverse/issues/506

I would do this myself but do not know how or if I can do this in the GUI or if this needs a certain comm

[2015-03-26 19:50] posixeleni commented on #1341
Can now see breadcrumbs when editing and uploading files for a dataset after Create:

![image](https://cloud.githubusercontent.com/assets/5013837/6855539/a3e473fc-d3cf-11e4-90ec-7ac84026c89e.png)

Closing this ticket.

[2015-03-26 19:50] #1341 closed

[2015-03-26 20:09] posixeleni commented on #1477
All reported issues have been resolved but found a new issue when testing where at the Dataverse-level if you click on the "View" the guestbook and then "x" out of it the black help text "View" bubble stays displayed / frozen even when I go to hover over the other Guestbook options

![image](https://cloud.githubusercontent.com/assets/5013837/6855878/5ba14a86-d3d2-11e4-9b53-17f5d7c14439.png)

Re-as

[2015-03-26 20:11] eaquigley opened #1780 "Notifications: Weird display of Xs"
Noticed on dvn-build that two Xs near the bottom were oddly displaying and weren't in line with their notifications.

![notificationsbug](https://cloud.githubusercontent.com/assets/5922904/6855930/c5b960d4-d3d2-11e4-944b-dbfb75d097aa.png)

[2015-03-26 20:15] mheppler commented on #1477
@posixeleni @sekmiller @kcondon -- the reported issue with tooltips "sticking" or however you want to describe it, is a site wide issue that will need a site wide solution. Please open a ticket specific to this issue and give it to me, for "In Review - 4.0.x". Thank you.

[2015-03-26 20:24] posixeleni opened #1781 "Issue with Tooltips Sticking"
When testing the Guestbook at the Dataverse-level if you click on the "View" the guestbook and then "x" out of it the black help text "View" tooltip stays displayed / frozen even when I go to hover over the other Guestbook options.

@mheppler commented in https://github.com/IQSS/dataverse/issues/1477#issuecomment-86697512 that this is a site wide issue that will need a site wide solution not just

[2015-03-26 20:26] posixeleni commented on #1477
@kcondon @sekmiller Per @mheppler's comment above https://github.com/IQSS/dataverse/issues/1477#issuecomment-86697512, I created a new ticket for the tooltip sticking issue: https://github.com/IQSS/dataverse/issues/1781

This ticket is closed since Guestbook is specifically working as expected.

[2015-03-26 20:26] #1477 closed

[2015-03-26 20:37] posixeleni commented on #121
Closing this ticket since it has been replaced with: https://github.com/IQSS/dataverse/issues/1764

[2015-03-26 20:37] #121 closed

[2015-03-26 23:29] scolapasta opened #1782 "Review dataverses that have no admin"
Aliases:

GAS
social

[2015-03-26 23:30] scolapasta commented on #1782
3.6 query to get this list:
select id, alias, creator_id from vdc where id not in (
select vdc_id from  vdcrole
where role_id=3
);

[2015-03-27 02:35] raprasad opened #1783 "dateset.xhtml query reduction: Only check each command a single time"
Part of #1754
Only use the permissionService once for each of these commands.  (about 100 extra queries for a non-published dataset)

[code]

[2015-03-27 09:15] mkouba commented on #1516
@ekraffmiller It seems that ThreadID=51 (used when WELD-000343 occured) was not cleaned up properly. Most probably because `ServletRequestListener.requestInitialized()` and `ServletRequestListener.requestDestroyed()` were called in different threads (see also https://bz.apache.org/bugzilla/show_bug.cgi?id=57314). I've created [WELD-1907](https://issues.jboss.org/browse/WELD-1907) to track this iss

[2015-03-27 12:41] mheppler commented on #1780
@eaquigley -- which browser are you in. This isn't appearing for me in any of my browsers on a Mac.

It looks like the "x" from the previous row is getting pushed down, which will be a simple CSS fix.

[2015-03-27 12:59] pdurbin commented on #1717
@scolapasta and @sekmiller can you please double-check that in 9c1d2cf I'm showing files from the most recently published version and only the most recently published version?

@michbarsinai I'm pretty sure @rliebz is going to want to do the lookup by globalId (i.e. DOI) rather than database id, so that's what I implemented. However, it makes this endpoint different than the rest in the Datasets A

[2015-03-27 13:53] posixeleni commented on #1782
@scolapasta sorry but this ticket is a bit hard to understand what you need me to do. Can you please explain this to me when you get the chance?

[2015-03-27 14:05] posixeleni commented on #86
@eaquigley is this something you are working on? I see its assigned to me but I'm working on the Dataset documentation section. Just want to make sure we dont duplicate our efforts.

[2015-03-27 14:06] posixeleni commented on #32
This is a duplicate ticket which is already being tracked by individual tickets.

[2015-03-27 14:06] #32 closed

[2015-03-27 14:24] eaquigley commented on #86
@posixeleni please assign it to me; I worked on it in the past so I'll finish it up.

On Mar 27, 2015, at 10:06 AM, Eleni Castro <notifications@github.com<mailto:notifications@github.com>> wrote:

@eaquigley<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_eaquigley&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=Y9aY3P6kFFpmMLaYYO_id08dS3gL1xWMQuI2CZ74PoI&m=SKFqexkpBU51b-PaNoEZyIStfhA_5Y61ijXQ

[2015-03-27 14:24] eaquigley commented on #1780
@mheppler I was using chrome.

On Mar 27, 2015, at 8:41 AM, Michael Heppler <notifications@github.com<mailto:notifications@github.com>> wrote:

@eaquigley<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_eaquigley&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=Y9aY3P6kFFpmMLaYYO_id08dS3gL1xWMQuI2CZ74PoI&m=Vb_U3DZLW6lt-5WtL_aw8tuzDWqODILU313yEML9dZY&s=YheNWKVYEXcYpKZ04_2MtIxiXOqqzgSqFtVUeA4QZak

[2015-03-27 14:53] mheppler commented on #449
Passing to @eaquigley to review the messaging of the share popup, as well as the text that gets added to a tweet. Right now, that just reads, "View this (dataverse/dataset)."

[2015-03-27 15:02] scolapasta commented on #1782
There are two dataverses that in 3.6 have no admin and will be migrated a such. @mcrosas asked that we review with them if this is the appropriate state or do we need to set someone to as admin.

[2015-03-27 15:07] sbarbosadataverse commented on #1457
Lock Icon - yes
Request Access - yes

![xo4j2ireu9yxinkyapfvatfl-dcewgwzeei5zskhd6o](https://cloud.githubusercontent.com/assets/8322346/6870033/bd344260-d46f-11e4-84f0-3e40011e386f.png)

Lock/Request Access does not show up when searching for a restricted file: F8.txt in this case:
![x8sd4cez7qbbpgfiguwfp9ptbfhesydgrtekgl0qs1y](https://cloud.githubusercontent.com/assets/8322346/6870137/5cc0b6ba-d4

[2015-03-27 15:08] #1735 closed

[2015-03-27 15:12] scolapasta commented on #1717
The code looks correct for showing the right files.  However, I agree that the consistency of the API would be nice. Also, a general form of this should be straighforward, so you could get the files from any version.

So something like id/version/files

where the API already has special logic for handling version as ":latest-published".

But I do agree with you about global id as well as db id. Bu

[2015-03-27 15:16] sbarbosadataverse commented on #1737
Validation error when required field left blank!

![alt1_vnk3nioxzsgesuowiubvzkf8t_fxyzia9lo-nm](https://cloud.githubusercontent.com/assets/8322346/6870480/b52e3bd6-d472-11e4-95d4-1c131772e3b7.png)

[2015-03-27 15:16] #1737 closed

[2015-03-27 15:21] sbarbosadataverse commented on #1432
Search: New metadata block uses yes/no as controlled vocab/ Yes and No search returns accurate results

![gklx_s7qfd_4ct12j9s7wobscoorrh8_xmdco3o22bk](https://cloud.githubusercontent.com/assets/8322346/6870556/40d417aa-d473-11e4-9aee-3418d18e8945.png)

[2015-03-27 15:21] #1432 closed

[2015-03-27 15:26] sbarbosadataverse commented on #1457
Restricted File Icon does not show up on search for restricted data files

[2015-03-27 15:29] rliebz commented on #1717
This endpoint looks like just what I needed! Also, allowing version to be specified from this endpoint is certainly something of which the OSF could easily take advantage.

I do think allowing global ids in more places will make the APIs more compatible with each other, especially from the perspective of adding functionality to existing usages of the SWORD API.

[2015-03-27 15:31] scolapasta commented on #1777
The db id is in the error as the number (before the dash) of the xml file. You can use that id and the version number (which is the number after the dash) on the study page in production, like so:

http://thedata.harvard.edu/dvn/faces/study/StudyPage.xhtml?studyId=92777&versionNumber=1

This one for example is a draft. (I assume they all might be)

[2015-03-27 15:39] rliebz opened #1784 "Unintuitive behaviors when deleting files via SWORD API"
Expected
------
Attempting to delete a file from a dataset in the `RELEASED`  released state will:
 1. Succeed regardless of when the file was published or what actions have occurred since publishing
 2. Move the dataset to the `DRAFT` state

Actual
-----

First, a file that has been published on a dataset cannot be deleted if no actions been taken since that file was published. This means that th

[2015-03-27 16:03] posixeleni commented on #1777
@scolapasta @ekraffmiller after looking at the datasets it became evident that they renamed/renumbered this field in 3.6 so all of the PSRI8 ones that have an error above should be mapped to PSRI3 which already exists in the custom metadata block and is a free-text field. Is this possible?

![image](https://cloud.githubusercontent.com/assets/5013837/6871483/47ede6e6-d479-11e4-8705-8c133e94b466.png

[2015-03-27 17:02] sbarbosadataverse commented on #1727
Inherited metadata block does not allow editing. Perfect~

![mgdvbymq75sn5op0d64vf9dxscg1e4qyfkodpioxsbg](https://cloud.githubusercontent.com/assets/8322346/6872736/71a00d7c-d481-11e4-9fda-2b50f72456cf.png)

[2015-03-27 17:02] #1727 closed

[2015-03-27 17:05] sbarbosadataverse opened #1785 "inherited metadata block: if you unselect to "inherit" a block, the metadata block should no longer be "checked""
I unselected the "inherit" option, but the check still remains next to "journal" metadata block.

![ga50ouzjhl0zteahpkztyuuetceu3-5zwfokj1llmog](https://cloud.githubusercontent.com/assets/8322346/6872759/911202b4-d481-11e4-9059-f0b9b57f6694.png)

[2015-03-27 17:15] sekmiller commented on #1785
The intent of the unchecking inherit is that you start out with the inherited blocks, but you may then change them.

[2015-03-27 17:19] sbarbosadataverse opened #1786 "inherited metadata block/missed required field combination : if you miss required field, you can't unselect "inherited" block until you correct and save "required" field"
If you miss a "Required" field, and hit save, you get the missing field validation error.
If you correct the error, but don't save immediately" then move to metadata blocks and try to "unselect" inherited block, it doesn't let you do so

![hqbioqtirsmanv5ktr4b-ujy-a1geq51df9dbhnezbo](https://cloud.githubusercontent.com/assets/8322346/6872961/4c6a4f0c-d483-11e4-926a-059fab32df4d.png)

[2015-03-27 17:28] sbarbosadataverse opened #1787 "The metadata could not be updated. Please contact support."
I missed required metadata block field. I hit save. Received error. Filled in missing fields, hit save, and error showed up.

[2015-03-27 17:29] posixeleni commented on #1773
Validation occurs when email field is not filled in:
![image](https://cloud.githubusercontent.com/assets/5013837/6873206/24da142a-d485-11e4-930d-f7e2129f9e61.png)

Working as expected. Closing this ticket.

[2015-03-27 17:29] #1773 closed

[2015-03-27 17:30] sbarbosadataverse commented on #1787
Tested one more time. Same results. Not able to update metadata fields.

[2015-03-27 17:30] mheppler commented on #1457
Fixed typo in render logic for restricted icons in a failed attempt to get them to display properly on file browse/search cards. c13bc257d3543e5c87df78907d14fe268810f3ce

Saw that @scolapasta was last in there with render logic improvements(?) on the icons in the name of performance enhancement. 40417938a9ee19842a6312b01edd3e67e660aaec

[2015-03-27 17:32] posixeleni commented on #1743
Help link is now working as expected. Closing ticket.

[2015-03-27 17:32] #1743 closed

[2015-03-27 17:33] sbarbosadataverse commented on #1524
NA not showing up between citation and tabs

[2015-03-27 17:33] #1524 closed

[2015-03-27 17:36] posixeleni commented on #1712
As @scolapasta mentions above this ticket is a duplicate of #1653 so I will close this one.

[2015-03-27 17:36] #1712 closed

[2015-03-27 17:43] posixeleni commented on #1697
This help text with link to guides is showing up on the File Upload and Handling page of a dataset. Closing.

[2015-03-27 17:43] #1697 closed

[2015-03-27 17:50] sbarbosadataverse commented on #1399
I tested in DVN-5, searched for "title:N/A"
returned no values

Can't test in build until datasets from 3.6 with this value in "author" field, or missing values in author field are migrated.

[2015-03-27 17:53] #1716 closed

[2015-03-27 17:53] raprasad commented on #1751
Problem wasn't related to restricted files but older data on geoconnect

[2015-03-27 17:53] #1751 closed

[2015-03-27 19:18] kcondon opened #1788 "Install: Setup-optional-harvard has two errors"
{"status":"ERROR","message":"Problem with API token: Could not find user from API token."}
- Setting up the MIT Shibboleth institutional group
{"status":"ERROR","message":"Problem with API token: Could not find user from API token."}

[2015-03-27 19:21] kcondon opened #1789 "Install: Add stopwords_en.txt to Harvard installation recipe."
Due to a metadatablock that uses "no" as a controlled vocab term, stopwords_en.txt was changed for Harvard's installation:
Search: New metadata block uses yes/no as controlled vocab. Yes search works, no returns "no" results. #1432

This ticket is a reminder to add this file to the recipe for configuring the Harvard instance.

[2015-03-27 19:30] mheppler opened #1790 "Includes - XMLNS Attributes in DIV Containers"
Rather than using DIV tags as containers for includes with the XMLNS attributes, use ui:composition tags instead, to avoid the XMLNS attributes ending up in the source code.

Ref: http://stackoverflow.com/questions/4792862/how-to-include-another-xhtml-in-xhtml-using-jsf-2-0-facelets

H/T: @raprasad

[2015-03-27 19:35] kcondon opened #1791 "Create Account: Works but throws server log error"
[2015-03-27T15:33:40.446-0400] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=41 _ThreadName=jk-connector(2)] [timeMillis: 1427484820446] [levelValue: 900] [[
  A system exception occurred during an invocation on EJB PermissionServiceBean, method: public edu.harvard.iq.dataverse.PermissionServiceBean$PermissionQuery edu.harvard.iq.dataverse.PermissionServ

[2015-03-27 19:50] raprasad commented on #1783
Folded into #1754

[2015-03-27 19:50] #1783 closed

[2015-03-27 19:50] raprasad commented on #1754
Only use the permissionService once for each of these commands.

[code]

[2015-03-27 20:01] mheppler opened #1792 "Dataverse Footer - Twitter, GitHub Logo Images + Page Load"
Remove the Twitter and GitHub logo images from the footer, and utilize the vector based social media icons from Socicon, that were added to the app for the share functionality.

[2015-03-27 20:11] kcondon opened #1793 "View Dataverse: Viewing dataverse works but throws server log error."
[2015-03-27T16:04:32.627-0400] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=41 _ThreadName=jk-connector(2)] [timeMillis: 1427486672627] [levelValue: 900] [[
  A system exception occurred during an invocation on EJB PermissionServiceBean, method: public edu.harvard.iq.dataverse.PermissionServiceBean$PermissionQuery edu.harvard.iq.dataverse.PermissionServ

[2015-03-27 20:14] sekmiller commented on #1787
Could not get this to happen. Sonia is seeing it happen on one particular DS, but when we try to recreate it on other DSs on build it does't happen.

[2015-03-27 20:15] kcondon opened #1794 "Create Dataverse: No Edit or Publish buttons on a new dv created by new user."
First reported by Mike:

1. Create new user account.

2. Create dataverse on Root.

3. No "Edit" or "Publish" button on dataverse page, but there is a mocking "success" message.

4. Can create a dataset in that dataverse though, and get "Publish" and "Edit" buttons for that.

5. Go to publish the dataset and get warned that I can't because the parent dataverse isn't, but asked "Would you like to p

[2015-03-27 20:37] mheppler commented on #1702
Cleaned up guestbook workflow, change guestbook-responses to a dataTable layout.

Passing to @sekmiller to look into displaying the custom questions in the dataTable, using p:columns, that doesn't seem to be working, potentially because of the additional back end work needed (ref: http://stackoverflow.com/questions/18867345/how-to-display-variable-number-of-columns-in-primefaces-datatable).

Pass

[2015-03-27 21:01] mheppler commented on #1792
Swapped out Twitter and GitHub image logos from the footer for vector icons.

[2015-03-27 21:02] mheppler commented on #1730
Passing to @sekmiller to look into displaying the custom questions in the dataTable, using p:columns, that doesn't seem to be working, potentially because of the additional back end work needed (ref: http://stackoverflow.com/questions/18867345/how-to-display-variable-number-of-columns-in-primefaces-datatable). Also, rather than formatting the date "3/27/2015", please change it to "March 27, 2015",

[2015-03-27 21:09] mheppler commented on #1794
This is now happening locally, for all users, "Admin Dataverse" included, all dataverses, new and previously existing.

[2015-03-27 21:17] scolapasta commented on #1794
Should be fixed.

[2015-03-27 21:30] kcondon opened #1795 "API: Add a way to discover file ids from a dataset to enable use in download API."
Users have been asking how to download files. We have a method but you need to know the file id.
We need an api method, most likely at the dataset level, to discover the contents, ie. file ids that can be used for download.

[2015-03-27 21:32] kcondon commented on #1794
Works, closing @mheppler

[2015-03-27 21:32] #1794 closed

[2015-03-27 22:16] mheppler commented on #449
I am taking this back. Still need your input on the text, but I am seeing all sorts of weirdness in the console log, that I want to look into, to make sure I've got this wired properly.

![screen shot 2015-03-27 at 6 15 51 pm](https://cloud.githubusercontent.com/assets/687227/6877987/54d9e272-d4ad-11e4-8d6d-b40be818caeb.png)

[2015-03-27 22:17] mheppler commented on #1692
This popover is now broken locally and on dvn-build. No message is being delivered to what is now an empty popover container.

![screen shot 2015-03-27 at 6 17 05 pm](https://cloud.githubusercontent.com/assets/687227/6878007/8705db98-d4ad-11e4-835b-b96444c2a446.png)

[2015-03-27 22:19] scolapasta commented on #1785
Exactly, disinheriting "unlocks" you from the parent, but the base you start out as is that.

[2015-03-27 22:45] mheppler commented on #1692
Fixed broken popover on dataverse and dataset Description fields in edit view. Changed trigger to hover.

[2015-03-27 23:06] sekmiller commented on #1786
I see this happening.  I don't know the cause yet.

[2015-03-28 00:31] pdurbin commented on #1784
I agree that this is very strange behavior. I wonder if DVN 3.x works the same way. I haven't yet tried to reproduce this.

[2015-03-28 00:33] scolapasta commented on #800
Many improvements made, I think performance may finally be ready for release.

[2015-03-28 00:47] posixeleni commented on #1777
@ekraffmiller @scolapasta Sorry about the confusion this week over this one issue with PSRI8. I have gone in and made sure all the fields mapped to the correct ones (especially the YES/NO/NA). Here is the updated spreadsheet with the correct mapping: https://docs.google.com/spreadsheets/d/1rZo3QugzmYifpo518QgvvpIOb14Z8IM-5dWumzG5FME/edit?usp=sharing

Please let me know if you need me to help with

[2015-03-28 00:57] pdurbin commented on #1795
This related ticket has an emphasis on file IDs for **published** datasets: #1717

[2015-03-28 01:04] posixeleni commented on #1777
@ekraffmiller I updated the csv file and checked it into github so let me know if I can help with anything else. Fingers crossed the error log looks MUCH better this time.

[2015-03-28 01:06] posixeleni commented on #1777
Ready for QA to test with a re-migration to see if any errors come up.

[2015-03-28 01:43] scolapasta commented on #1457
Rendering fixed.

[2015-03-28 01:47] scolapasta commented on #1793
Could you retest this one? (I made a fix, that I think may have fixed it)

[2015-03-28 01:49] scolapasta commented on #1791
This could be same issue as #1793 - since this includes the search fragment.

@kcondon, could you please retest?

[2015-03-28 14:43] raprasad commented on #1754
FileDownload Perms, move to PermissionsWrapper and also use for dataverse page:

[code]

[2015-03-28 18:38] scolapasta opened #1796 "review logic for setting displayimage (for search cards) to see if it can be more efficient"

[2015-03-29 13:37] michbarsinai commented on #1717
@scolapasta  The infrastructure supported getting DvObjects by global id for quite some time now (see https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/api/AbstractApiBean.java#L174). However, the doi naming scheme contains slashes, and so does not play well with REST api. We could introduce a scheme where the doi id is escaped or the slashes are replaces with da

[2015-03-29 13:48] michbarsinai commented on #1795
This can be easily added to the get dataset version command - we can list the file metadata there. But - we need to know which files to show to whom.

@scolapasta @eaquigley what is the logic of showing file metadata to a user? Which permissions should I look into, and how does the `isRestricted` method of `DataFile` comes into play?

[2015-03-29 16:20] scolapasta commented on #1795
@michbarsinai If a user can see a version, they can see all the files associated with that version (via the file metadata objects). isRestricted applies only for download.

[2015-03-29 16:57] scolapasta opened #1797 "Clean up docs directory"
Looking at the docs, we have several things in there that we probably don't need as "official" docs for release.

Let's review and clean this up.

Example:
the  /doc/gui/ingest/language_encoding/ directory.

[2015-03-29 16:58] scolapasta commented on #1610
The first one is actually in the docs area, which needs general cleanup, so I created a new issue: #1797

Moving this one to QA.

[2015-03-30 02:30] mheppler commented on #1790
- [x] dataverse_header
- [x] contactFormFragment
- [x] permissions-configure
- [x] guestbookResponseFragment
- [x] gui_subset
- [x] metadataFragment
- [x] search-include-fragment
- [x] termsofuse

[2015-03-30 02:32] mheppler commented on #1790
Improved code of includes to be wrapped in ui:composition tags, and not div tags.

[2015-03-30 04:28] mheppler commented on #1780
Cleaned up markup and styling of notification items on Account page, to fix bug in Windows Chrome.

[2015-03-30 13:36] mheppler commented on #449
Added empty urlCurl option for sharrre plugin to remove Google Plus error in console.

Without the sharrre.php file in our site, we won't be able to get the count from Google Plus. But the share button will still work.

Passing back for messaging review.

[2015-03-30 14:32] mheppler commented on #1732
Metadata Fields/General Information issue no longer seems to be an issue on dvn-build, or locally, in Chrome/Windows. Passing back to @eaquigley.

[2015-03-30 14:32] eaquigley commented on #1732
@sekmiller fixed this as well as added in logic so a user can always View the metadata fields but can only set them as hidden, required, or optional, if they disinherit from the root.

[2015-03-30 14:41] posixeleni commented on #1077
Assigning to @pdurbin to review

[2015-03-30 14:46] posixeleni commented on #1077
@axfelix @jwhitney I published the DC Terms to Dataverse DB fields Crosswalk for our 4.0 SWORD API documentation so if you have a moment to review that this all looks kosher from the OJS POV that would be fantastic!

Thanks!

Dublin Core Terms (DC Terms) Qualified Mapping - Dataverse DB Element Crosswalk
[code]

[2015-03-30 15:29] posixeleni commented on #1765
@ekraffmiller @scolapasta for me to properly QA this is it possible for you to let me know when these Dataverses with their Datasets have been migrated over? I know this is set for post-deployment of 4.0 but if you do migrate these to dvn-5 or some other place ahead of time please let me know so I can catch any issues ahead of time.

Thanks!

[2015-03-30 15:37] posixeleni commented on #1659
This is working as expected. I can close this ticket.

As a related aside: I had a question: @eaquigley: do we want to have a notification when someone publishes their Dataverse? Or do we only get notifications when someone publishes a Dataset?

[2015-03-30 15:37] #1659 closed

[2015-03-30 15:39] sbarbosadataverse opened #1798 "Tabular File Ingest: No message indicating page will refresh on its own, or if user needs to manually refresh"
Also don't see the "ingest" note until you click save---in 3.6 this is clear before hitting save--what is the expected behavior? Because before hitting save I thought perhaps the system didn't identify my file as subsettable.

![hwtsiuvvfswodhrxsp47dwn11aikzkbj-3siw6psrtq](https://cloud.githubusercontent.com/assets/8322346/6899880/20bba4a0-d6d1-11e4-9908-93a85ba40d99.png)

[2015-03-30 15:42] posixeleni commented on #1715
@mheppler any advice on how I can test if this is now working/looking as expected in build?

[2015-03-30 15:43] sbarbosadataverse commented on #1798
So it did not refresh on its own--had to manually refresh to notice it had completed.

[2015-03-30 15:45] sbarbosadataverse opened #1799 "Download terms don't go away once you hit accept, nor when you cancel from two ravens"
The dialogue box stays open--should disappear once you accept and go into two ravens. If you "x" out of two ravens, box still appears underneath two ravens dialogue box

![1rfdfsj5tb5bdon74_g7coiu650hy5hahmadpdkhjko](https://cloud.githubusercontent.com/assets/8322346/6900095/4424f184-d6d2-11e4-9a45-e876ce123d82.png)

[2015-03-30 15:46] sbarbosadataverse commented on #1799
Image stays open under Two Ravens

![lnmt4zg4u2rfvzaz9eowx2aifuadwjuuam_hq5jmjtu](https://cloud.githubusercontent.com/assets/8322346/6900122/6f4b01c8-d6d2-11e4-9261-eeafa82b0213.png)

[2015-03-30 15:47] mheppler commented on #1715
Nope. @kcondon ? @sekmiller ? @scolapasta ? All I did was remove the button from the dataset page. Not sure how to best orchestrate a test scenario to display it is being handled properly on publish.

[2015-03-30 15:48] sbarbosadataverse commented on #584
I was able  to successfully select "data subset," select files, and save the file.

[2015-03-30 15:48] #584 closed

[2015-03-30 15:48] posixeleni commented on #1687
Confirmed that this is working correctly in build which has the latest code. Closing.

[2015-03-30 15:48] #1687 closed

[2015-03-30 15:50] posixeleni commented on #1715
thanks @mheppler I was assuming we would need to orchestrate some way to make it so that a dataset did not register a DOI when it was first created to see if the button shows up. @sekmiller @kcondon @scolapasta please help!

[2015-03-30 15:57] sbarbosadataverse opened #1800 "guestbook terms of use should only show up once per dataset download options"
Once you accept the terms for one file, should be able to access the same file for multiple download options without having to complete guestbook terms for said file, each time.

[2015-03-30 16:07] eaquigley commented on #1800
duplicate of 1420. closing ticket.

[2015-03-30 16:07] #1800 closed

[2015-03-30 16:08] sbarbosadataverse commented on #1332
@kcondon --I won't be able to see if this (html tags) is showing up until we migrate correct?

[2015-03-30 16:10] sbarbosadataverse commented on #1457
Perfect~

![ahheqdv5yct9wfhx8cbd82zo0fu-qltq8oiwykohjry](https://cloud.githubusercontent.com/assets/8322346/6900617/c6c47e4a-d6d5-11e4-8c40-5576245e3b0a.png)

[2015-03-30 16:10] #1457 closed

[2015-03-30 16:12] pdurbin commented on #1332
@sbarbosadataverse the way you would test this:

- put some HTML in some places (descriptions, etc.)
- make sure the HTML is showing up when you look at the page (you can see bold or links or whatever)
- do a search on words you used in the HTML
- see if you can see any HTML tags when you search (you shouldn't!)

I hope this helps!

[2015-03-30 16:13] sbarbosadataverse opened #1801 "Restricted File Icons placement"
The icon is far removed from the file name. Does it make sense to put it right next to the file names, preceding the file name?

![ahheqdv5yct9wfhx8cbd82zo0fu-qltq8oiwykohjry](https://cloud.githubusercontent.com/assets/8322346/6900676/228078ce-d6d6-11e4-86d0-a55834825aed.png)

[2015-03-30 16:17] axfelix commented on #1077
Hey Eleni,

Thanks for this. Looks sensible with the exception of dcterms:coverage; I don't think that's supposed to be equated to dcterms:spatial, but I don't think it'll be a huge issue in many cases.

Also, your friendly neighbourhood pedant wants you to know that if you're formatting something like a table as plaintext it's nice not to have more than 80 characters per line :)

[2015-03-30 16:18] sekmiller commented on #1730
This page still needs a little love, but we got a "good enough for now" from Liz.

[2015-03-30 16:38] mcrosas commented on #1730
:heart_eyes:

[2015-03-30 16:56] eaquigley commented on #1780
Looks good. Closing ticket.

[2015-03-30 16:56] #1780 closed

[2015-03-30 16:59] eaquigley commented on #1692
Woooo hover works like a dream! Closing ticket.

[2015-03-30 16:59] #1692 closed

[2015-03-30 17:04] eaquigley commented on #1702
@mheppler definitely think this button should say submit not accept but i can't find the button text in the bundle.

[2015-03-30 17:11] scolapasta commented on #1799
Duplicate of #1742

[2015-03-30 17:16] sekmiller commented on #1702
It’s called acceptTerms.  I can take care of it.

On Mar 30, 2015, at 1:04 PM, Elizabeth Quigley <notifications@github.com<mailto:notifications@github.com>> wrote:

@mheppler<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_mheppler&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=d7bbsLIcERTG2Qe_gE_iKH1z80JxaTHhJpRXaS4mxwM&m=uc0dhVjtnKfIQDl5-G4MT4YxctZgHjeEQ0TBWfoSJsE&s=QURnGNtu_MK1Ih9lJm2Jc1vr

[2015-03-30 17:22] eaquigley opened #1802 "Meta Description Tag: Have Better Description of Dataverse"
When a user shares a dataverse or dataset via facebook or google plus, we need to have a standard message appear that says what Dataverse is. @mheppler please add this:

The Dataverse Project is an open­ source software application to share, cite and archive data. Dataverse provides a robust infrastructure for data stewards to host and archive data, while offering researchers an easy way to share

[2015-03-30 18:05] mheppler commented on #1802
Looking lots better!

![screen shot 2015-03-30 at 1 52 15 pm](https://cloud.githubusercontent.com/assets/687227/6903069/ca66f36a-d6e5-11e4-897b-01f45dcbf467.png)

[2015-03-30 18:14] kcondon commented on #1284
Additionally, I noticed:
-Some create pages do not say create in breadcrumb but others do:
create guestbook, create account do not
create template, create dataset do
-API Token page has no breadcrumb, not sure if that is what was intended by the above list (remove from page).

[2015-03-30 18:22] mheppler commented on #1702
Looks like @sekmiller got to this -- thank you, sir. d6c4b821b192f6911db2b60548a3a5efc687828f

[2015-03-30 18:34] posixeleni commented on #1709
WIll need to fix the journals.tsv file so that the new compound field shows properly.

[2015-03-30 18:38] posixeleni commented on #1709
@pdurbin please check if this new journals.tsv commit will need a schema.xml change. I added a new field Publication Date and created a compound field called Journal (which has Volume, Issue, Publication Date as children).

[2015-03-30 19:00] raprasad commented on #1618
When to show Map-related buttons

|Show Button?|Draft / File Not Published|File Published / No Map|File Published / Map Exists|Draft / Map Exists / File Previously Published|Draft / No Map /File Previously Published|Draft / New File (Unpublished)|
|----------- |----------- |----------- |----------- |----------- |----------- |----------- |
|Explore|||Yes|Yes|||
|Reminder*|Yes|||||Yes|
|Map||Yes|Yes

[2015-03-30 19:34] posixeleni commented on #1733
I am now able to select the Edit button with any published version of a dataset (not just in DRAFT). Works as expected. Closing.

[2015-03-30 19:34] #1733 closed

[2015-03-30 19:34] sbarbosadataverse commented on #1575
I searched for "Twice" in dvn-5, and no multiples of description field returned in search results

[2015-03-30 19:34] #1575 closed

[2015-03-30 19:49] pdurbin commented on #1021
@kcondon I think I was using https://redmine.hmdc.harvard.edu/attachments/download/685/homemade.zip from https://redmine.hmdc.harvard.edu/issues/3273

[2015-03-30 20:17] posixeleni commented on #1707
Returns to Draft for:
- Upload + Edit Files, Cancel
- Edit Metadata, Cancel
- Edit License + Terms, Cancel (these three workflows share the same button at bottom)

Still unable to test:
 Submit for Review
 Return to Author

[2015-03-30 20:21] kcondon commented on #1021
There are multiple versions of Homemade.zip file at this point. Confusing, I know. We'll call the two main flavors, homemade_phil.zip and homemade_3273.zip from the redmine ticket of same name.

homemade_phil.zip, from which this ticket was made, works as Leonid describes: it fails to unpack the zip file, uploads as is, and prints an error in the ui:
Failed to unpack Zip file. (Unknown Character S

[2015-03-30 20:21] #1021 closed

[2015-03-30 20:28] posixeleni opened #1803 "Permissions Issue: Unable to add a Dataset as an Authenticated User Contributor"
In build I setup the "Eleni Is Testing" https://dvn-build.hmdc.harvard.edu/dataverse/el-test Dataverse permissions to allow anyone with a Dataverse Account to Add Datasets as a Contributor.

![image](https://cloud.githubusercontent.com/assets/5013837/6905828/bc41d044-d6f8-11e4-8f99-0e63f9f199e5.png)

However, when I login as an authenticated user (through shibboleth or regular login) I do not see

[2015-03-30 20:33] posixeleni commented on #1803
To see if this issue can be repeated, I created another Dataverse https://dvn-build.hmdc.harvard.edu/dataverse/tj with a different user and put the same permissions in as before. When I log in as a different authenticated user I am unable to see the Add Data button in this dataverse as well.

[2015-03-30 20:33] kcondon opened #1804 "File Upload: Uploading a specific zip file fails to save properly: ERROR: null value in column "createdate" violates not-null constraint"
In general, uploading zip files works but we found one that acts strangely. When saving it throws a server log error and depending on when you upload it: at dataset create or afterwards, it either fails with UI error dataset cannot be created or fails with files could not be updated.

The zipfile homemade.zip, is not the same zip file of Phil fame, though many of the files are the same.

You can g

[2015-03-30 20:38] kcondon commented on #1804
Discussed with Leonid. This zip file has several duplicate files that were removed on upload. He believes this issue may have the same root cause as the add/delete in same upload session bug.

[2015-03-30 20:38] sbarbosadataverse commented on #1581
"Group ID"- duplicate- validation error clearly indicates that the "group id already exists/is duplicate"
Can still create two identical "group names" when group "ID is" different
It is possible to distinguish which group ID the identical names belong to:

https://www.dropbox.com/s/irperm3spsqgwnq/Screenshot%202015-03-30%2016.37.43.png?dl=0

[2015-03-30 20:38] #1581 closed

[2015-03-30 20:39] raprasad commented on #1754
Trim down Dataset Difference computation.

This can significantly add # of queries (30%, 50% of queries, etc):
- DatasetVersion.java: https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/DatasetVersion.java#L485
- dataset-versions.xhtml: https://github.com/IQSS/dataverse/blob/master/src/main/webapp/dataset-versions.xhtml#L43

[2015-03-30 20:45] sbarbosadataverse commented on #1426
Contributor
and
Member

can view unpublished dataverse

![jypvc2itan6b-uuh1h2jzhi4fjsipfku9gc-e8l3qs0](https://cloud.githubusercontent.com/assets/8322346/6906306/1933bc88-d6fc-11e4-8b1e-a72e6c6379f3.png)

![nx4uebsealfqjg3kiq8f7j6gdkgaphlkmb2xfjduklk](https://cloud.githubusercontent.com/assets/8322346/6906272/dd68f380-d6fb-11e4-988d-d77738cd5798.png)

[2015-03-30 21:02] sbarbosadataverse opened #1805 "Can't remove user access to a restricted file in a dataverse"
I assigned Eleni to a restricted file a few days ago--tried to delete her today in the "user group" and "files" section, it appears to work, but does not~

![sr3s8ioyhfkodzaupuowvpsli1cnkr32nahpam_rsyy](https://cloud.githubusercontent.com/assets/8322346/6906634/1eee65c2-d6fe-11e4-8fae-ef8bbc73fde9.png)

![revmfrvnsq-ilfxy1tcz8rzuc5n6hwh-sor6xpyyf4e](https://cloud.githubusercontent.com/assets/83223

[2015-03-30 21:05] scolapasta opened #1806 "API: test the create and update dataset versions"
We had to make a change to the Commands these call (that should work fine), but as a sanity check, we should test these to make sure our changes work. In particular verify that a Json file with a missing required field fails appropriately.

[2015-03-30 21:11] scolapasta commented on #1806
The AP path for this:

    @PUT
	@Path("{id}/versions/{versionId}")

[2015-03-30 21:25] sbarbosadataverse opened #1807 "Permissions: can't assign permissions to a user or group/throws exceptions in log/no feedback in UI"
Attempting to add permission to a user and group, but when I saved no feedback was given and no assignment appeared in assignment table/and no failure message

Server log error:

Caused by: javax.persistence.PersistenceException: javax.validation.ConstraintVi                                                                                                             olationException: Bean Validatio

[2015-03-30 21:29] sbarbosadataverse commented on #1426
Not able to finish testing until "permissions assignment" is working again.

[2015-03-30 21:30] sbarbosadataverse commented on #1807
Please assign this back to me when fixed so I can test related ticket

[2015-03-30 21:36] raprasad commented on #1754
Check the Poole dataset: http://dvn-vm6.hmdc.harvard.edu:8080/dataset.xhtml?globalId=hdl:1902.1/12061&versionId=12401

[2015-03-30 21:36] kcondon commented on #1807
@sbarbosadataverse I was able to assign permissions, need to look more closely at your particular use case. I know you are using Windows and working within a user created dataverse.

[2015-03-30 21:43] mheppler opened #1808 "Dataverse - Views, Downloads, Citations, Shares"
Add counting metrics like views, downloads, citations, shares to the top of the dataverse page.

[2015-03-30 21:43] mheppler commented on #1689
Revamped Metrics block to work on hover. Removed Metrics block from dataverse page.

Taking this ticket back, assuming the discussion on dataverses has happened for 4.0, and that another ticket can be created for "In Review - 4.0.x" for that functionality. (And, done #1808.)

[2015-03-30 21:45] sbarbosadataverse commented on #1807
I can retest from scratch. Let me know.
On Mar 30, 2015 5:36 PM, "kcondon" <notifications@github.com> wrote:

[2015-03-30 21:46] kcondon commented on #1807
Try from scratch and if it works then we need to look more closely at what you are trying to assign permissions to.
________________________________
From: sbarbosadataverse [notifications@github.com]
Sent: Monday, March 30, 2015 5:45 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Permissions: can't assign permissions to a user or group/throws exceptions in log/no feedback in UI (

[2015-03-30 22:11] sbarbosadataverse commented on #1807
Ok will do
On Mar 30, 2015 5:46 PM, "kcondon" <notifications@github.com> wrote:

[2015-03-30 22:33] scolapasta commented on #844
You'll need to drop the db, but e-mail is now configured to be unique.

[2015-03-30 23:01] kcondon opened #1809 "API: View data in dataverse only works with authenticated user key even on public dv. Needs doc or change."
The view data in dataverse works but only if you are an authenticated user and supply the key.
If the dataverse is unpublished,  you need perms.

This is not mentioned in the doc but does indicate a key is needed on failure.
1. Is this how we want it to work for published dvs?
2. Probably want to add a note and update the URI in the doc:
   View data about the dataverse identified by $id. $id can

[2015-03-30 23:23] kcondon opened #1810 "API: View roles directly assigned to a dataverse returns nothing when roles are assigned."
I assigned an admin and a member role to a builtin user and saw nothing returned by this api command:
GET http://$SERVER/api/dataverses/$id/roles?key=$apiKey

I did see this:
{"status":"OK","data":[]}

I was using a web browser to make the call.

[2015-03-30 23:25] kcondon commented on #1810
User error, confused "roles" endpoint with "assignments" endpoint. Both work, closing.

[2015-03-30 23:25] #1810 closed

[2015-03-30 23:31] kcondon opened #1811 "API: Delete role not working, throws 404 return and server log error."
I was not able to get delete role from a dv working. It throws a 404 error and this in the server log:
[2015-03-30T19:30:21.090-0400] [glassfish 4.1] [WARNING] [] [] [tid: _ThreadID=41 _ThreadName=jk-connector(2)] [timeMillis: 1427758221090] [levelValue: 900] [[
  Response has already been committed, and further write operations are not permitted. This may result in an IllegalStateException being

[2015-03-30 23:34] kcondon commented on #1811
User error: works by id but tried alias as in other endpoints and that fails. Closing.

[2015-03-30 23:34] #1811 closed

[2015-03-31 14:55] scolapasta commented on #845
This has been added, but need to make sure the UI does validation for this (rather than fail at the save) (Same with API, but that is lower priority).

[2015-03-31 14:59] scolapasta commented on #436
I am passing this to QA as we have been to able to do a complete migration (albeit with some issues) and did not have any db issues.

[2015-03-31 15:15] mheppler commented on #1689
Finalized styling and functionality of the metrics block, and hover feature.

Had to change it to a simpler hover/fade functionality, based on the tab Bootstrap and jQuery component.

[2015-03-31 15:25] mheppler commented on #1776
Need some fixes to the Edit Tags popup. The Tabular Data Tags aren't saving.

Please also review the SPSS workflows to make sure they are working properly. The text still needs to be updated on those buttons and popups from "Advanced Options" to something more specific. @landreev  @eaquigley -- suggestions?

[2015-03-31 15:30] pdurbin opened #1812 "Can't delete a unpublished dataverse that has linked to another dataverse or dataset"
If you link a dataset or dataverse to an unpublished dataverse and then try to delete that unpublished dataverse, you will see "Error – This dataverse was not able to be deleted. Please contact support" in the screenshot below and the following stacktrace:

![root_dataverse_-_2015-03-31_11 26 17](https://cloud.githubusercontent.com/assets/21006/6922430/12b27d2a-d799-11e4-862b-0e60a5c9c57b.png)

Ca

[2015-03-31 15:53] posixeleni opened #1813 "Saved Search: Automatically Create A Dataverse When Generating A Saved Search"
Hi @eaquigley

@pdurbin and I have been trying out how Saved Search (#90) will work in 4.0 and already found a usability issue that we would need to prioritize for development.

The issue is that someone would need to manually create a Dataverse ahead of time in which to place their Saved Search in.

An easier workflow would be to allow the user be able to create the Dataverse at the SAME time as

[2015-03-31 16:06] eaquigley commented on #1813
If we were to add this functionality in, we would also need to add it for linked dataverses/datasets since they are similar functionality and I would want the workflows to be similar.

[2015-03-31 16:09] posixeleni commented on #1813
@eaquigley so from the Linked/Saved Search workflow have the option to:

A. Link to a pre-existing Dataverse
B. Create a New Dataverse

[2015-03-31 16:11] posixeleni commented on #1708
RData file now has the extension included when you download the original file. Works as expected. Closing.

[2015-03-31 16:11] #1708 closed

[2015-03-31 16:19] scolapasta commented on #1788
@michbarsinai since you're moving the groups to admin, can you look at this? I asked @pdurbin and he said he added key requirements in the code, s they just need to be removed (and the the script updated with the new /admin path)

[2015-03-31 16:33] posixeleni commented on #1688
Third button is no longer present. Works as expected. Closing.

[2015-03-31 16:33] #1688 closed

[2015-03-31 16:41] posixeleni commented on #786
Just spoke with Leonid and harvested studies are still in the process of being migrated over so I cannot test the non-latin characters found in the study mentioned above http://thedata.harvard.edu/dvn/faces/study/StudyPage.xhtml?globalId=hdl:10527/10466

[2015-03-31 16:41] posixeleni commented on #786
Havent been able to find a local study that has non-latin chars to test so waiting for this migration to complete.

[2015-03-31 17:01] mheppler commented on #1618
Added popup with message to a "Map Data" button on shape files for a dataset, that is only displayed when the file is unpublished.

Sending to @eaquigley to review the header and message of the popup.

Re: other tasks. "Map Data" was determined to be good enough. The "Preview" link was moved to the thumbnail area, and styled. Hopefully in a future release, we can review changing the functionality

[2015-03-31 17:30] pdurbin commented on #1812
A related problem is that while the dataverse is not deleted the Solr document is, which means you can't easily find the dataverse again. In this case on dvn-build I went to https://dvn-build.hmdc.harvard.edu/api/admin/index/dataverses/278 to re-index the dataverse so it can be found. (I could have done an "index all" as well, of course.)

[2015-03-31 17:32] posixeleni opened #1814 "Crosswalk for Importing Datasets From NARA Into Dataverse"
Working with NARA https://dataverse.harvard.edu/dataverse/nara to develop a crosswalk for us to be able to ingest metadata for their studies into Dataverse. They are a Data-PASS member.

This is the NARA export of batch datasets which contains 887 records (https://www.dropbox.com/s/ule0djqytersv8v/lgoodsell_150505103739_concat.tar.gz?dl=0) that we need to import into dataverse like we do for harve

[2015-03-31 18:13] posixeleni opened #1815 "Astronomy Metadata: Add Support for Unified Astronomy Thesaurus"
Requested by the CfA group to add the Unified Astronomy Thesaurus as a controlled vocabulary field in Dataverse's Astronomy Metadata block. http://astrothesaurus.org/

Can work with Katie Frey when we are ready to implement this. Can start with this flat file: https://drive.google.com/file/d/0BzeLxEN77UZoRGVnS2VQZDVNOUk/view?usp=sharing but will follow-up with Katie to make sure there havent been

[2015-03-31 18:23] posixeleni commented on #1685
@kcondon I dont see a whitespace in the UI. How can I test if it is saving whitespaces in the backend?

[2015-03-31 18:35] posixeleni commented on #1675
Seeing color change in Upload + Edit files page:
![image](https://cloud.githubusercontent.com/assets/5013837/6926221/d322196c-d7b2-11e4-877f-65d2565fefbb.png)

Also in Permissions Grant File Access
![image](https://cloud.githubusercontent.com/assets/5013837/6926281/3387fb46-d7b3-11e4-8d37-076ddbd6da6f.png)

Works as expected. Closing this ticket.

[2015-03-31 18:35] #1675 closed

[2015-03-31 18:44] sekmiller commented on #845
UI now enforces unique email prior to attempting to save

[2015-03-31 18:47] sekmiller opened #1816 "Make retrieval of Dataset Versions uniform"
The Dataset page and the API retrieve dataset versions differently in some cases.  Review how each is done and implement the best version across the application.

[2015-03-31 18:47] kcondon commented on #1799
Dupe, closing

[2015-03-31 18:47] #1799 closed

[2015-03-31 18:49] kcondon commented on #1790
@posixeleni Just test the above areas to make sure they still work.

[2015-03-31 19:10] mheppler commented on #1284
- [ ] Dataset Permissions
- [ ] Create Guestbook
- [ ] Create Account
- [ ] API Token (doesn't have "Account" in the breadcrumb, need more assistance to make that happen)

- General Information : this isn't it's own page, but it will be some day, and when it does, it can have it's own breadcrumb, until then, this is more difficult than what I can get done.

[2015-03-31 19:16] kcondon commented on #1685
@posixeleni Try copying the text (swiping with mouse/ selecting) and see whether there is a space.
Seems like reason for deaccession allowed this so you might try that functionality, it also shows up on versions tab?

[2015-03-31 19:24] kcondon commented on #1707
@posixeleni Return to Author is going away: https://github.com/IQSS/dataverse/issues/1695
What is the trouble with Submit for Review?

[2015-03-31 19:45] eaquigley commented on #90
@pdurbin gave me a demo of saved search today and I have a few comments:

1. Based off the mockups above, the "Link Search" button needs to be in the context of the search area however it currently is in the button bar at the top (where the email, link, and edit buttons are). So this needs to be fixed.
2. Currently, after saving a search, none of the results a user just saved appear in the dataver

[2015-03-31 19:46] posixeleni commented on #1685
@kcondon When I look at the "View Source" HTML I am still seeing a trailing space under Version Notes:

[code]
Can you please confirm if there is a trailing space in the db? I don't see any in the UI but its hard to tell how its actually stored.

[2015-03-31 19:58] posixeleni commented on #1777
Had to add one more gsdCoordinatorName to the customGSD.tsgv block

[code]

[2015-03-31 20:00] mheppler opened #1817 "Dataverse - Edit General Information - Improve Layout of "Dataverse" and "{dataverseSiteUrl}""
The light grey text for "Dataverse" and "{dataverseSiteUrl}" next to the inputs for Dataverse and Identifier respectively, need to improve in order to stand out a little more.

[2015-03-31 20:03] posixeleni commented on #1685
FYI @kcondon

Checked with @sekmiller in the DB and there is no trailing white space there. The HTML version must pad it.

Works as expected.

Closing.

[2015-03-31 20:03] #1685 closed

[2015-03-31 20:04] mheppler commented on #1817
Change the style from grey "muted" text, to a styled "input-group-addon" form component from Bootstrap. Adjusted the padding of the entire form around it, to give it some more room.

[2015-03-31 20:06] posixeleni commented on #1715
Assigning to @kcondon to confirm that this is working as expected.

[2015-03-31 20:07] astrofrog opened #1818 "Implement a way for tools to get a token for a user given username and password"
A third-party tool, for example glue (http://www.glueviz.org) could take a username and password then request the API token from a dataverse server - which would then allow the tool to access data on the dataverse.

Better though would be if the third-party tool doesn't have to deal with username and passwords but simply launches a browser to a specific location where the user has to log in to the

[2015-03-31 20:09] rliebz commented on #1818
:+1:

[2015-03-31 20:10] posixeleni commented on #1777
@kcondon I thought I was unable to because of this bug https://github.com/IQSS/dataverse/issues/1803

But after our discussion I will try just putting in the URL to "Add a Dataset" to see if it will let me test.

[2015-03-31 20:21] posixeleni commented on #1707
@kcondon I thought I was unable to because of this bug #1803

But after our discussion I will try just putting in the URL to "Add a Dataset" to see if it will let me test.

[2015-03-31 20:23] rliebz commented on #1717
@michbarsinai I think that because the SWORD API takes DOIs in their original form, it would be a bit cumbersome to have to use differently-escaped versions of the same DOI to be able to use the two APIs. In that sense, I think if you escaped/replaced/base64-ed DOIs for the native API, the SWORD API should accept those as well.

I do think an endpoint converting global IDs to local IDs would make

[2015-03-31 20:31] michbarsinai commented on #1717
@rliebz I also lean towards a conversion endpoint. Using global identifiers in an encoded form does not sound intuitive at all.

[2015-03-31 20:34] kcondon commented on #1550
Tested the dataverse endpoints and they're working. Closing.

[2015-03-31 20:34] #1550 closed

[2015-03-31 20:35] eaquigley commented on #1802
@mheppler I'm seeing the right message for Twitter and Google Plus but for some reason, Facebook still isn't showing the correct one.

[2015-03-31 20:40] mheppler opened #1819 "Dataset Deaccession - Entering Reason + URL Gives NullPointerException"
If you select "Other..." and type a reason, and provide a URL, you can't deaccession a dataset, because it throws a 500/NullPointerExeption.

Just selecting a reason from the dropdown, and only that, succeeds.

[2015-03-31 20:41] eaquigley commented on #449
Looks most excellent! Closing ticket.

[2015-03-31 20:41] #449 closed

[2015-03-31 20:43] eaquigley commented on #1689
Looks really good. tried downloading a few files and saw the download count go up (goes up upon refreshing the page)

[2015-03-31 20:43] #1689 closed

[2015-03-31 20:44] pdurbin commented on #90
If developers are interested in seeing the code I demoed today I just pushed it to a branch: 9ac807c

[2015-03-31 20:46] mheppler commented on #1670
Applied red deaccession-styled background color to the citation block on dataset browse/search cards. Removed green/success button color from deaccession Yes button in confirmation popup.

[2015-03-31 20:51] raprasad commented on #1754
Lots of queries here for a published page, 1 file, no versions:
- https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/DatasetVersion.java#L1018
- Other (bigger) hit, as mentioned above is DatasetVersionDifference

[2015-03-31 20:52] eaquigley commented on #1702
Button now says Accept. Looks good. Closing ticket.

[2015-03-31 20:52] #1702 closed

[2015-03-31 21:00] #1802 closed

[2015-03-31 21:03] mheppler commented on #1715
The button made a mysterious and miraculous return back to the dataset.xhtml code. I have removed it again. Hopefully this allows it to be properly tested. Good luck.

[2015-03-31 21:12] raprasad opened #1820 "Performance: Dataset Versions Tab"
Preview computation can significantly add # of queries (30%, 50% of queries, etc)

These queries are the No.1 and/or No.2 issues on the Profiler.
#### Redo the Dataset Versions Tab.
- [ ] Do not pre-calculate version differences
- [ ] Set "View Details" to trigger same event as checking that selected version and previous version
- [ ] Save dataset version summary "note" for each published dataset

[2015-03-31 21:13] michbarsinai opened #1821 "API endpoint for dataverse metadata blocks crashes when gets ints in the array"
Must escape them:

    curl -X POST -H"Content-type:application/json" -d "[\"1\",\"2\",\"5\"]" http://localhost:8080/api/dataverses/1/metadatablocks/?key=$KEY

Not stringing the ints fails over class cast exception, waiting for JsString rather than JsNumber.

[2015-03-31 21:15] raprasad opened #1822 "Dataset Page: Metadata Display. Need More Efficient Method (solr, json, etc)"
Reconstruct Metadata values for display is costly in terms of queries that shoot to the top of the profiler*
(\* 2nd after #1820)

Solr documents already contain metadata for display.  Use these instead.

Longer terms:  Save Metadata values as JSON (even if put into a Postgres field)

[2015-03-31 21:26] sekmiller commented on #1819
The "select other" was the key to solving this.  Thanks Mike.  Fix is checked in.

[2015-03-31 22:11] scolapasta commented on #1803
Fixed - when rendered logic was moved to permissionsWrapper, the wrong command was being checked.

[2015-04-01 00:26] pdurbin commented on #1795
@michbarsinai  over all, it looks good but two things:

1. Below we have camel case such as "contentType" but in the Search API I used "file_content_type". I'm actually thinking the Search API should change. There's so much camelCase other places I should probably embrace it.
2. Today in chat @astrofrog [clued me in](http://irclog.iq.harvard.edu/dataverse/2015-03-31#i_17686) to the fact that we're

[2015-04-01 00:48] pdurbin commented on #1822
While this is true for the most part, the data you get out of Solr is flat key/value pairs. You lose all the hierarchy of compound fields.

[2015-04-01 07:37] bencomp commented on #1815
Just to confirm: is this thesaurus *not* a subject thesaurus? If the function of the terms in this thesaurus in dataset metadata was to indicate subject terms, they would surely be used in the Subject field?

[2015-04-01 09:55] michbarsinai commented on #1795
This is created at JsonPrinter line 341. @landreev - any input on why `dataFile.getFilename()` returns the  path?

[2015-04-01 10:22] michbarsinai commented on #1809
We had discuss this under the "should guest user have an API key" subject. The decision was that all APIs require API key an thus a registered user of some sort.

Technically, it would be very easy to just return guest user if no API key is provided, and take it from there.

[2015-04-01 10:32] pdurbin opened #1823 "SWORD: disable auth via username and password in favor of API key/token"
Even though we've always required HTTPS for SWORD we have long recognized that it's suboptimal to have people pass their actual username and password to authenticate.

Now that we have API keys/tokens (#1293) we'd like to make their use **required**.

Obviously this is a big change and assuming it lands in 4.0 will be highlighted at the top of http://guides.dataverse.org/en/latest/api/sword.html#b

[2015-04-01 10:38] astrofrog commented on #1818
Just out of curiosity, is there any chance this could be squeezed in to the 4.0 API, or will it have to wait for a future version?

[2015-04-01 11:29] pdurbin commented on #1809
Without an API key you can use the Search API, the Data Access API, the "meta" API (used by TwoRavens), and probably others, as I mentioned in a recent [comment on a Google Doc](https://docs.google.com/document/d/1-VM0Y6peBvJgxzIMfezkA7PSq2ugW96qjYUuPys-6yc/edit?usp=sharing).

For the Search API I'm using GuestUser until I get around to finishing #1299

[2015-04-01 11:37] pdurbin commented on #1818
@astrofrog I just flagged this ticket for review at least. I asked if anyone had security concerns at http://irclog.greptilian.com/rest/2015-03-31#i_106173

[2015-04-01 13:34] posixeleni commented on #1815
@bencomp its a subject thesaurus that is specific to "astronomical concepts and their inter-relationships" and contains thousands of terms.

For 4.0 the Subject field is currently being used only to classify at a very high-level what major discipline(s) the dataset covers and is not meant to be as granular as this thesaurus would allow. We may in the future decide to merge this discipline-specific

[2015-04-01 13:38] posixeleni commented on #1814
Designing the Crosswalk here: https://docs.google.com/spreadsheets/d/1prBLBsmf4HmPiehFTq7oL8YciA0uzLTD4ZVXOSHGBgc/edit#gid=0

[2015-04-01 14:08] posixeleni commented on #1695
Works as expected. Closing this ticket.

[2015-04-01 14:08] #1695 closed

[2015-04-01 14:11] posixeleni commented on #1707
All workflows listed in this ticket are working as expected where they go back to right version (tested with Draft). Closing.

[2015-04-01 14:11] #1707 closed

[2015-04-01 14:22] posixeleni commented on #1792
Confirmed that the logos have been swapped out in build. Closing this ticket.

[2015-04-01 14:22] #1792 closed

[2015-04-01 14:32] eaquigley opened #1824 "Account Page: Error Message Redundancy"
@mheppler can you please change the error message that appears when a user enters the incorrect username and/or password while logging in. Currently it says contact support@dataverse.org and please contact support. Can you please change it to read, "The username and/or password you entered is invalid. If you need assistance accessing your account, please contact support." (the contact support is s

[2015-04-01 14:36] posixeleni opened #1825 "Getting a 404 when I log in or log out from dataset.xhtml"
When I log in or log out from a published Dataset page (dataset.xhtml) it logs me out or logs me in successfully but I get an error message page instead of being taken back to the Dataset.

To recreate this here is the dataset I am logging in and out from: https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi:10.5072/FK2/Z3F8OG&version=1.0

![image](https://cloud.githubusercontent.com/

[2015-04-01 14:36] eaquigley commented on #1817
Looks great. Closing ticket.

[2015-04-01 14:36] #1817 closed

[2015-04-01 14:38] eaquigley commented on #1670
Showing as red now. Closing ticket.

[2015-04-01 14:38] #1670 closed

[2015-04-01 14:48] kcondon commented on #1825
It looks like any dataset does it, even draft.

[2015-04-01 14:51] posixeleni commented on #1755
Updates work as indicated. Closing.

[2015-04-01 14:51] #1755 closed

[2015-04-01 15:02] sekmiller commented on #1825
I will take a look at this to see if it might be related to the change to the dataset url…

On Apr 1, 2015, at 10:48 AM, kcondon <notifications@github.com<mailto:notifications@github.com>> wrote:

It looks like any dataset does it, even draft.

—
Reply to this email directly or view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_IQSS_dataverse_issues_1825-23issuecomme

[2015-04-01 15:03] eaquigley opened #1826 "GeoConnect: Update Delete Map Messaging"
Messaging is confusing right now as it doesn't clearly state to the user that every version of the map they have ever done will be deleted. @raprasad please change the messaging on the delete map pop up to say:

in red box area, "This will permanently delete all versions of this map."

Checkbox: I understand all versions of this map will be deleted from WorldMap.

[2015-04-01 15:07] eaquigley opened #1827 "GeoConnect: Allow a user to only delete the latest version of the map"
Currently when a user uses the delete map functionality, it deletes all versions of the map. It would be better if we had options to delete only the most recent version of the map or delete all versions of the map.

[2015-04-01 15:12] eaquigley commented on #1618
Looks good. Created separate ticket for changing the messaging with the delete pop up #1826
Closing ticket.

[2015-04-01 15:12] #1618 closed

[2015-04-01 15:12] posixeleni opened #1828 "Listing Dataverses Widget is Displaying Unexpected Datasets and Dataverses"
I am seeing unexpected dataverse and dataset results when I use a the Listing Dataverses Widget for a specific Dataverse:

**Example: Testing Widgets Dataverse**

For this Dataverse I should only see the following 2 datasets listed:
![image](https://cloud.githubusercontent.com/assets/5013837/6943968/4367f9e2-d85f-11e4-9630-1b86a9d662a9.png)

But for this script:
[code]

I am seeing other Dataverse

[2015-04-01 15:15] sekmiller commented on #1825
Code is now fixed.  A new build is required for testing.

[2015-04-01 15:17] kcondon commented on #1819
Works, closing.

[2015-04-01 15:17] #1819 closed

[2015-04-01 15:26] scolapasta commented on #1784
@rliebz Can you clarify something on this?

You said "Because of this, it is possible for a dataset listed by SWORD as RELEASED to be different than the actual last published version."

We're trying to understand this to make sure that it's not something critical.

What we understand is you can't just delete a file from a dataset (because it fails - and shouldn't). So to delete a file, you first m

[2015-04-01 15:26] mheppler commented on #1824
Need to revise the suggested error, to fit into how we're currently building these error messages.
Part 1, from messages.xhtml:
[code]
+
Part 2, from ShibServiceBean.java:
[code]
+
Part 3, from messages.xhtml:
[code]

[2015-04-01 15:26] kcondon commented on #1793
No longer happening, closing.

[2015-04-01 15:26] #1793 closed

[2015-04-01 15:28] kcondon commented on #1287
@scolapasta Not sure why you gave this back

[2015-04-01 15:32] mheppler commented on #1672
Duplicate of #1617 -- moving over comments from here.

[2015-04-01 15:33] posixeleni commented on #1825
Issue resolved. Now working as expected. Closing

[2015-04-01 15:33] #1825 closed

[2015-04-01 15:36] landreev commented on #1287
@kcondon
Gustavo and I spoke about this one. He meant to move it back into beta15, for me. But he may have assigned it to you in the process, by mistake.
I'll grab it...

[2015-04-01 15:37] pdurbin commented on #90
@eaquigley the saved search you just created runs the linking/indexing on create as of 6b051d7

@scolapasta and I gave a quick demo to @mcrosas about saving a query for "health" within a dataverse for a country (Mali).

Next steps for me:

- [ ] don't link children/grandchildren (would naturally appear in subtree)
- [ ] merge to master (especially so @mheppler and @sekmiller can help)
- [ ] talk w

[2015-04-01 15:39] eaquigley commented on #1824
Change second sentence to say, "Need assistance accessing your account?" Then please contact support.

[2015-04-01 15:43] mheppler commented on #1824
Fixed error message regarding username/password in both the bundle and ShibServiceBean.

This ticket helped identify that not all messaging from the backing beans are pulling from the bundle, and that message.xhtml will need to be reformatted when we try to complete internationalization, because of how error messages are put together, as outlined above.

[2015-04-01 15:49] scolapasta commented on #1821
@michbarsinai is it possible to get this fixed by EOD tomorrow (Thursday)? Otherwise we can move this to 4.0.1.

[2015-04-01 15:51] scolapasta commented on #1818
@michbarsinai is it possible to get this fixed by EOD tomorrow (Thursday)? Otherwise we can move this to 4.0.1.

[2015-04-01 15:53] scolapasta commented on #1812
Since linked dataverses and datasets are superuser only for 4.0, we should be able to manage this behavior.

[2015-04-01 15:57] scolapasta commented on #1809
Discussed with @mcrosas and @kcondon and we think it makes sense that all public APIs keys should require API tokens, so we know who's calling them. Will discuss with @pdurbin and @landreev to see if there's any issues with this.

[2015-04-01 15:58] posixeleni commented on #1803
Now working as expected. Closing this ticket.

[2015-04-01 15:58] #1803 closed

[2015-04-01 16:09] scolapasta commented on #1752
We need to get real terms of use in here and see what it looks like. I'll work with @posixeleni to get those in.

[2015-04-01 16:22] raprasad commented on #1822
(updated based on @pdurbin  comments)

Short term strategy:
- [ ] create table **DatasetMetadataDisplay** (or something similar)

|dataset id|dataset version id|json metadata|timestamp|
|-----------|-----------|-----------|-----------|

- [ ] For each version of metadata fields,  look to the table above for info.
- [ ] If not found:
  - Construct display metadata the current way
  - Save the const

[2015-04-01 16:23] mheppler commented on #1617
I'll start a running list of popups that I've worked on.
- Preview Guestbook (License + Terms tab, dataset pg)

[2015-04-01 16:31] posixeleni commented on #1777
Fixed more missing controlled vocabulary values added for customGSD.tsv

[code]

[2015-04-01 16:41] pdurbin opened #1829 "Clicking "My Unpublished Data" throws Internal Server Error"
Observed on dvn-build running v. 4.0 Beta build 992, commit 11e7f185d7389e57ebc0a724c5404a89901f898e

To reproduce:

- log in as admin
- click name in top right
- click My Unpublished Data

Stacktrace:

[code]

[2015-04-01 16:48] eaquigley commented on #1826
Looks most excellent. Closing ticket.

[2015-04-01 16:48] #1826 closed

[2015-04-01 16:56] pdurbin commented on #1809
I'm sure requiring API keys/tokens will prevent potential collaborators from even trying out our APIs. They'll see "API token required. Please sign up." If they bother to try to sign up they'll see "give us your email address." Some will do this. Many will stop being interested in our APIs.

I prefer the GitHub model where they let you use their APIs without sign up but they rate-limit you. It's m

[2015-04-01 17:04] rliebz commented on #1784
These may be two separate issues. You can't delete a file from a dataset if and only if that file was originally released in the most recent published version.

This is the scenario in which I the dataset listed by SWORD as RELEASED can be different than the actual last published version:

1. A unpublished dataset is published with file1.txt.
2. The dataset is published again with file1.txt unchan

[2015-04-01 17:13] pdurbin commented on #1709
@posixeleni this is going to sound crazy but I can't find your commits in any branch, such as your latest one:

[code]

Can you find it under https://github.com/IQSS/dataverse/branches ?

[2015-04-01 17:16] pdurbin commented on #1709
Instead of seeing "branch:whatever" I'm seeing "tree:25cf69beb2" here:

https://github.com/IQSS/dataverse/blob/25cf69beb2a341e5a11f9010079c962f5fef9b85/scripts/api/data/metadatablocks/journals.tsv

I assume this the version we want ( @posixeleni can you please confirm?) though I'm not sure why it isn't in any branch.

[2015-04-01 17:33] posixeleni commented on #1709
@pdurbin Re-checked this into a new branch

[2015-04-01 17:35] eaquigley commented on #1774
Notes from discussing with @mheppler:
- [ ] sharre instructions above is outdated
- [ ] need to use code from google analytics link
- [ ] will put in the code for facebook and twitter so we can try it out and see if it works
- [ ] need to also add that code into the Tracking Code information on Google Analytics so it works

[2015-04-01 17:44] pdurbin commented on #1709
I generated a new Solr schema and pushed it to master. Passing to QA.

[2015-04-01 18:14] posixeleni opened #1830 "Guides Footer - Broken Github Image, Favicon, Outdated Copyright"
In all of our Sphinx guides the GitHub icon is broken at the footer.

![image](https://cloud.githubusercontent.com/assets/5013837/6948066/5429e014-d879-11e4-9ba7-44b4ff405822.png)

@mheppler do you know where / how this can be fixed?

[2015-04-01 18:23] kcondon commented on #1791
OK, no longer throwing error, closing.

[2015-04-01 18:23] #1791 closed

[2015-04-01 18:26] kcondon commented on #1758
Navigating to dataset with files no longer throws server log error, closing.

[2015-04-01 18:26] #1758 closed

[2015-04-01 18:35] kcondon commented on #1715
Register button is gone but so is publish button. It makes sense that it is gone when not able to register but it never returns so can never publish/register it.

[2015-04-01 18:39] kcondon commented on #1691
Closing since behavior is correct.

[2015-04-01 18:39] #1691 closed

[2015-04-01 18:40] kcondon commented on #1677
@scolapasta How do we test this?

[2015-04-01 18:41] kcondon commented on #1672
Closing as dupe.

[2015-04-01 18:41] #1672 closed

[2015-04-01 18:42] mheppler commented on #1828
Added viewParam to iframe, to fix Dataverse Listing widget bug.

[2015-04-01 18:45] kcondon commented on #1654
Works now, closing.

[2015-04-01 18:45] #1654 closed

[2015-04-01 18:46] kcondon opened #1831 "Create Dataset: Double validation errors appear when geo block/ country is required and not completed on save."
1. Enable geo block.
2. Make country field required.
3. Create dataset, do not complete country field, save.
4. Notice correct validation message but there are two of the same on top of each other.

[2015-04-01 18:53] kcondon commented on #1651
Questions on edit access moved above content, closing.

[2015-04-01 18:53] #1651 closed

[2015-04-01 18:53] kcondon commented on #1648
Rootless, closing.

[2015-04-01 18:53] #1648 closed

[2015-04-01 18:55] kcondon commented on #1646
Guestbook selection is preserved, closing.

[2015-04-01 18:55] #1646 closed

[2015-04-01 18:58] mheppler commented on #1830
Also, the copyright is outdated.

[2015-04-01 19:04] posixeleni commented on #1777
Added another missing value to the customGSD.tsv file based on @ekraffmiller error log.

[code]

[2015-04-01 19:05] kcondon commented on #1645
Works, closing.

[2015-04-01 19:05] #1645 closed

[2015-04-01 19:09] posixeleni opened #1832 "Manually fix email addresses that did not pass validation on migration"
Will need to grab the error log from @scolapasta when the migration has completed to see which email addresses are valid but did not pass validation due to some human error in entering the email in a way that the validator expects it as.

[2015-04-01 19:17] kcondon commented on #1644
Works closing.

[2015-04-01 19:17] #1644 closed

[2015-04-01 19:17] kcondon opened #1833 "Guestbook: Unchecking inherit from parent on active guestbook does not disable it."
1. Check inherit guestbook from parent, make sure there is a guestbook.
2. Create a dataset with file, select the parent guestbook.
3. Verify guestbook works
4. Uncheck inherit guestbook from parent
5. Guestbook still works -maybe unchecking should effectively disable it like you do with local guestbooks.
6. Editing licensing and clearing it does work.

[2015-04-01 19:20] kcondon opened #1834 "Guestbook: Required field validation pink background spans whole popup behind textbox or default fields, eg. name."
Using FF 37.0, when I create guestbook that makes some or all default fields required, when I do not complete them, the validation error is correct but the pink message background spans the whole popup, behind the text boxes.

[2015-04-01 19:23] raprasad commented on #1754
another place to improve.  This line runs 2 queries per file:
[code]

[2015-04-01 19:24] kcondon commented on #1633
Text changed on menu and on tab. Closing.

[2015-04-01 19:24] #1633 closed

[2015-04-01 19:27] mheppler commented on #1715
The Publish button still had some render logic in it, that was hiding it.
[code]
Removed that from the button, should now display properly. When the dataset isn't registered, the publish confirmation popup will display a message, "This dataset is unregistered. We will attempt to register it before publishing."

[2015-04-01 19:28] kcondon commented on #1641
Order is restored. Closing

[2015-04-01 19:28] #1641 closed

[2015-04-01 19:32] michbarsinai commented on #1821
Now, even this works (note that there's a duplicate block):

    curl -X POST -H"Content-type:application/json" -d "[1,2,\"geospatial\"]" http://localhost:8080/api/dataverses/1/metadatablocks/?key=$KEY

[2015-04-01 19:32] sekmiller commented on #1786
Fix is checked in. Build required for testing

[2015-04-01 19:37] sekmiller opened #1835 "Edit User Account: Revisit Logic around duplicate email"
We are checking both the built in users and authenticated users for email matches.  In edit mode we say this is ok if the ids match.  This works in my local db after I manually add an authenticated user to the table.  just want to make sure it works when we let the world in.

[2015-04-01 19:45] kcondon commented on #1639
OK, download as R now working, closing.

[2015-04-01 19:45] #1639 closed

[2015-04-01 19:46] posixeleni commented on #1828
@kcondon can you please let me know if Mike's recent code update made is in build for me to test? https://github.com/IQSS/dataverse/commit/e5d3970f7f148271744b834ea55f1a10cf21c2e7

[2015-04-01 19:48] kcondon commented on #1627
Works, closing

[2015-04-01 19:48] #1627 closed

[2015-04-01 19:50] kcondon commented on #845
Yep, email needs to be unique. Closing.

[2015-04-01 19:50] #845 closed

[2015-04-01 19:54] posixeleni commented on #1739
Works as expected. Closing.

[2015-04-01 19:54] #1739 closed

[2015-04-01 19:56] posixeleni commented on #1777
@kcondon to test this in build I would need a db drop as well

[2015-04-01 19:58] kcondon commented on #844
OK, reset with dupes no longer throws exception, just doesn' send email. Looks like the fix is to just require uniqueness.

Ok, closing.

[2015-04-01 19:58] #844 closed

[2015-04-01 20:00] kcondon commented on #1516
We've applied v2.2.10 of Weld and set lazy=false and have not yet seen this error. I am closing for now but will keep an eye on it and reopen if needed. Thanks for all your help @mkouba

[2015-04-01 20:00] #1516 closed

[2015-04-01 20:04] scolapasta commented on #1829
Fixed.

[2015-04-01 20:13] kcondon commented on #1734
Fixed, only one file showing. Closing.

[2015-04-01 20:13] #1734 closed

[2015-04-01 20:14] kcondon commented on #544
#1734 fixed, closing.

[2015-04-01 20:14] #544 closed

[2015-04-01 20:17] pdurbin commented on #1829
Right, fixed in 736ee0af1a7f10124b5612ba91acb780c6b18862 apparently but now a new bug when you do a search from My Unpublished Data:

[code]

[2015-04-01 20:39] mheppler commented on #1774
OK. Updated Google Analytics code on dataverse_template, to track social interactions (send, tweet) with Facebook and Twitter. Updated the account UA number to track on dvn-build.
[code]

[2015-04-01 20:42] mheppler commented on #1774
Related to #1594. All of our analytics code in dataverse_template is related to harvard.edu, and this needs to be moved into a systemConfig setting that is configurable per installation.

[2015-04-01 20:43] posixeleni commented on #1828
Listing Dataverses Widget is now working as expected. Closing.

![image](https://cloud.githubusercontent.com/assets/5013837/6952206/46848c06-d88e-11e4-9874-a048e7100347.png)

[2015-04-01 20:43] #1828 closed

[2015-04-01 21:05] raprasad opened #1836 "dataset page: order files by name"
May be helpful to the user*

[2015-04-01 21:26] eaquigley commented on #1756
Email with text sent to Openscholar team. closing ticket.

[2015-04-01 21:26] #1756 closed

[2015-04-01 21:28] eaquigley commented on #1824
Looks perfect! Closing ticket.

[2015-04-01 21:28] #1824 closed

[2015-04-01 21:38] mheppler commented on #1042
I couldn't stand looking at it another minute.

![screen shot 2015-04-01 at 5 34 22 pm](https://cloud.githubusercontent.com/assets/687227/6953210/d82c83dc-d895-11e4-83c1-17a96c4dc4db.png)

[2015-04-01 21:45] landreev commented on #1775
I'm going to check in a fix for this, and 1776, shortly.

[2015-04-01 21:46] landreev commented on #1776
I'm going to check in a fix for this, and 1775, shortly.

[2015-04-01 22:39] scolapasta opened #1837 "Add support in datasets API for persistent id (doi)"
We currently have the APis as using the db id, but we need to support persistent Id.

[2015-04-01 22:39] scolapasta commented on #1837
From 1717:

However, the doi naming Scheme contains slashes, and so does not play well with REST api. We could introduce a Scheme where the doi id is escaped or the slashes are replaces with dashes, or maybe base64-ed. Not sure any of these is a good idea - at least, it's not a very intuitive one. We could offer another endpoint that converts global ids to local ones.

[2015-04-01 22:40] scolapasta commented on #1717
This is now supported for all versions via the standard datasets API.

Opened new issue  #1837 for persistent id support

[2015-04-01 23:19] scolapasta opened #1838 "Consider options for opening APIs without tokens"
In 4.0, we require tokens for all APIs even if searching published dataverses and datasets. Going forward, we want to think of the best way to open this up (rate limts? guest token?)

[2015-04-01 23:20] scolapasta commented on #1809
For 4.0 we will block.

Opened issue #1838 for future consideration of opening.

[2015-04-01 23:20] scolapasta commented on #1809
Passing to @pdurbin to add token logic to search.

[2015-04-01 23:36] scolapasta commented on #1752
Added real terms to dvn-build. Line breaks are there, but there isn't formatting.

(Other option would be to not have it be in a text area and store html markup in the setting)

Are we OK with how this looks for 4.0? (if so, we will work on adding this to setup-harvard and commit).

[2015-04-02 00:02] pdurbin opened #1839 "Indexing: potential problem indexing dataset that has a draft and deaccessioned version and files but no published version"
@scolapasta and I were just talking about how we should look more at `datasetVersion.isDraft() && dataset.isReleased()` and how `dataset.getReleasedVersion().getFileMetadatas()` might be throwing an NPE.

[2015-04-02 00:04] pdurbin commented on #1809
As @scolapasta and I discussed, since we're not supporting public search until #1299 we'll require an API token for the Search API but then execute the search as the guest user.

[2015-04-02 01:49] pdurbin commented on #1823
As of c0f1980 we are no longer allowing authentication to SWORD via usernames and passwords. An API key/token is required.

I ran this by @rliebz and @axfelix yesterday and they seemed ok with the change: http://irclog.iq.harvard.edu/dataverse/2015-03-31#i_17668 . Heads up to @leeper about this.

I also updated the docs and emphasized that this is a backwards-incompatible change (for good reason,

[2015-04-02 01:58] landreev commented on #1775
Please test, should be working properly now.
Designating an image as the dataset thumbnail should not be erasing any existing file categories;
same for the "tabular tags" (they are now in the same popup as the "tab. tags")

[2015-04-02 02:01] landreev commented on #1776
@mheppler
Tabular tags should now be working;
#1775 is already in QA;
SPSS ingest options are working too.
This ticket should be ready for QA. Except I noticed that the "File Tags" (former "categories") and "Tabular Tags" are being displayed in the same color. And I don't know if this is by design, or by accident.

So please either send this to QA or change the color, whichever is appropriate.

[2015-04-02 02:07] landreev commented on #1287
So, I spoke about this to Gustavo.
I proposed that for these files, that are TwoRavens and Rserve-related, we stick with the DVN 3.* approach - keep the temp files and rely on the tempwatch to clear the directory. I feel that it could be useful for debugging purposes, particularly so for working out the integration between the dataverse and TwoRavens. So basically this is staying as is for 4.0.

[2015-04-02 03:05] landreev commented on #1738
Here's what's going on:
In order to handle image formats other than the basic JPG, BMP, and a couple of others, we ship the app with JAI - Java Advanced Imaging library. However, it appears that the only way to actually make these extra image codec plugins available at run-time, with Glassfish 4, is to put them into Glassfish's "extension library" path. That is glassfish/domains/domain1/lib/ext.
S

[2015-04-02 05:30] landreev commented on #1678
@posixeleni ,
This is the same screenshot I posted on the list.
See how all the search cards of harvested objects have this access information note: "This Dataset is harvested from our partners at Statistics Canada, Canada's central statistical office. Clicking the link will take you directly to the archival source of the data."
I haven't been very creative with these notes; for the Odum datasets

[2015-04-02 06:56] mkouba commented on #1516
FYI [WELD-1907](https://issues.jboss.org/browse/WELD-1907) should be fixed in [2.2.10.SP1](https://issues.jboss.org/browse/WELD/fixforversion/12326907) which will be released soon.

[2015-04-02 13:02] mheppler commented on #1678
@landreev @posixeleni @eaquigley -- I would like to review these message, and clean them up. I would like to bump those messages down a few pixels in font size. Maybe throw in an "info" icon too. Please pass me this ticket when you're done.

[2015-04-02 13:04] pdurbin commented on #1809
I just had another thought about the implications of requiring an API token for Saved Search. It will mean that my little proof of concept Android app at https://github.com/IQSS/dataverse-android will stop working because it (currently) doesn't do any authentication. My plan would be to have it make use of the new "retrieve your API token" endpoint developed in #1818.

But who cares about my littl

[2015-04-02 13:20] posixeleni commented on #1752
@scolapasta  Berkman had updated the General Terms of Use earlier this week, which is not reflected in the Sphinx guide at the moment, since we were waiting to hear from Cris & Gary if they wanted to modify anything. Gary responded already but Cris did not so I will follow-up with her to see if she has any reservations about the Terms or if we can use them as is.

cc/ @eaquigley

[2015-04-02 13:33] leeper commented on #1823
Thanks for the cc. Seems like a good idea to me, despite loss of backwards-compatibility.

[2015-04-02 13:38] mheppler commented on #1829
Moved "Link Search" button back to dataverse, to fix 500 error on My Unpublished Data for superusers. Button still needs clean up for issue #90.

[2015-04-02 13:39] mheppler commented on #90
Moved "Link Search" button back to dataverse, to fix 500 error on My Unpublished Data for superusers. Button still needs clean up. Let's discuss and confirm that we want a dropdown for the two "Link" features, and then I can wireframe that up for @pdurbin.

[2015-04-02 13:52] pdurbin commented on #1686
@mheppler and I just discussed this. I'm wondering if for superusers if we should call it something other than "My Unpublished Data". For superusers it's really "All Data" and there's no difference from regular browsing from the home page.

On a related note, last night @scolapasta and I were spitballing the idea of making the superuser boolean something you could turn on and off. Maybe one boolea

[2015-04-02 14:10] scolapasta opened #1840 "Linked/Saved Search: Review Functionality + Usability Test"
Original post from Eleni in #2053:

In 4.0 only Super Users have the ability to Link Dataverses and Datasets and Save Searches, however we have had several users (during trainings and RT https://help.hmdc.harvard.edu/Ticket/Display.html?id=196686) ask for this functionality to be available to them so that they can do this and manage these themselves (like they did in 3.6).

[2015-04-02 14:12] scolapasta commented on #1752
@mheppler is taking a look at this. Mike, if you need to change terms of use, it's in the Settings table as :AppicationTermsofUse. Just add what you need there. I'll be working on adding this to the setup-harvard script momentarily.

[2015-04-02 14:32] scolapasta commented on #1678
This text is stored in the db. so code wise is all set. Passing to @mheppler to clean up the UI.

If the text should change, please let @landreev know and he can adjust the script where he sets it. (we can always set it directly in db, even post release)

[2015-04-02 14:33] scolapasta commented on #1676
The code for this is in place; @landreev has been working through individual issues for different harvest sources.

[2015-04-02 14:33] sbarbosadataverse commented on #1807
I was able to assign permissions for both the dataset and the restricted file, and see the username show up on the list.

[2015-04-02 14:33] #1807 closed

[2015-04-02 14:35] sbarbosadataverse opened #1841 "Permissions - Can't assign "multiple" roles to a user/must save each role as it is assigned"
I can only assign one role at a time, per user. Believe we should be able to select multiple roles at once?

[2015-04-02 14:44] sbarbosadataverse commented on #1785
according to comments, this is working as designed.

[2015-04-02 14:44] #1785 closed

[2015-04-02 14:45] mheppler commented on #1752
@scolapasta @posixeleni -- please provide a file or text/HTML snippet of what isn't properly displaying, so I can test it locally. (Emailing a file is preferable. Posting it here in a comment could change the formatting.)

[2015-04-02 14:46] sbarbosadataverse commented on #1652
Code has been added

![2vgg_yikk72wri1jwjxpejtmxwyvxppp6o_p8ciruim](https://cloud.githubusercontent.com/assets/8322346/6966240/85e6fe96-d925-11e4-8fc1-92ac5cd8283c.png)

[2015-04-02 14:46] #1652 closed

[2015-04-02 14:52] sbarbosadataverse commented on #1658
Edit and P"edit and upload" are "locked."
I don't see "publish" anywhere on here
and there is not message letting me know that tabular file upload is in process???

![0_ts85_j6cp6ms2ems6dlpalvyxr94uvqpyre7_trhk](https://cloud.githubusercontent.com/assets/8322346/6966322/3494e764-d926-11e4-898c-5f340e22cec1.png)

[2015-04-02 15:00] sbarbosadataverse opened #1842 "Guestbook onl"

[2015-04-02 15:00] scolapasta commented on #1807
The specific error seemed due to something wrong with a specific dataset, which also caused #1787 We have not reproduced either issue with other datasets.

[2015-04-02 15:00] sbarbosadataverse opened #1843 "Guestbook only showing "Cancel" option when prompted to complete fields/no "submit" option available"
![bkg12mae6olrrktxixqt5lqbdztswrohzkrigz4d4qw](https://cloud.githubusercontent.com/assets/8322346/6966494/787106b0-d927-11e4-8f47-fe0238d371e9.png)

[2015-04-02 15:06] sbarbosadataverse opened #1844 "Once you are in data "explore" no options to exit and get back into the dataset file page"
Once you hit "explore" you are taken to "Two ravens" but there are no options to get back to the study page, and two ravens doesn't open in a new window

[2015-04-02 15:16] sbarbosadataverse opened #1845 ""Restricted" Files page, giving option to download "Selected files" followed by glassfish error"
![ci-69-2byv_kkpltdxm-t7rthxeuavlppx9ykr_lzly](https://cloud.githubusercontent.com/assets/8322346/6966782/7e60a16e-d929-11e4-8297-74511e32ee2f.png)

![re69jkyigox-kig0ylpsmqyblhnprim0kvuavaafrwm](https://cloud.githubusercontent.com/assets/8322346/6966814/ab65957a-d929-11e4-82a0-cad3db2f37a4.png)

[2015-04-02 15:17] mheppler commented on #1844
This is a duplicate of #1699. @kcondon

[2015-04-02 15:18] posixeleni opened #1846 "Unable to Save Dataverse Theme"
Tried to edit my Dataverse Theme and when I tried to save nothing happened.

[2015-04-02 15:25] mheppler opened #1847 "commandButton - type="button" Attribute Blocking update, action, oncomplete Functionality"
In the follow code, the type="button" is blocking functionality in the update, action, oncomplete attributes. Remove all type="button" from all commandButton's. Review the JSF and PrimeFaces requirements and HTML validation for this attribute, to identify a best practice going forward.
[code]

[2015-04-02 15:26] mheppler commented on #1846
This is a duplicate to #1847. @kcondon

[2015-04-02 15:36] scolapasta commented on #1805
One of the type="button" issues (#1847). Fixed.

[2015-04-02 15:38] mheppler commented on #1847
Found on:
- dataset-license-terms
- dataset-versions
- dataset
- datasetFieldForEditFragment
- dataverse
- explicitGroup-new-dialog
- manage-guestbooks (on Continue, breaks page)
- manage-templates (on Continue, breaks page)
- permissions-manage-files (on Continue, breaks page)
- permissions-manage
- themeAndWidgetFragment (on Save Changes, breaks page)

[2015-04-02 15:56] scolapasta opened #1848 "Email notifications as they get created"
We had logic for e-mailing bulk notifications, but decided to have it send the notification when it gets created, instead. Post 4.0, users will be able to configure how they want their notifications e-mailed.

[2015-04-02 16:00] scolapasta opened #1849 "Terms of Use popup should not pop up when CC0"
Right now if you have a dataset with CC0 and no guet book, you still get a terms of use popup. With CC0 there are no terms to agree to.

[2015-04-02 16:18] mcrosas commented on #1809
This issue about terms of use will not happen moving forward for datasets that have a CC0 and the data files are not restricted.

Since there are several use cases to consider, let's make a final decision next week on the tokens for public APIs  with @scolapasta @landreev @michbarsinai @pdurbin @kcondon

(I do care about the Android app, but we also want to plan this well and safely! )

[2015-04-02 16:19] mheppler commented on #1846
Removed type="button" attribute from commandButton, that was breaking the button's functionality.

This should now be fixed.

[2015-04-02 16:43] suenjedt opened #1850 "File type (xlsx) is not recognized after upload"
- states "unknown file type"
- see, https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi:10.5072/FK2/YBURNO&version=1.0

[2015-04-02 16:49] suenjedt opened #1851 "Missing box for "alternative" Terms of Use (when not selecting CC0)"
- if the user decides NOT to select CC0, there is (currently) no box allowing the user to enter their preferred license/ToU.

[2015-04-02 17:06] pdurbin opened #1852 "Change "link dataverse" feature to be powered by Saved Search"
From #90 originally:

Now that I've prototyped this change I can better express that we would be changing the behavior of linking a **dataverse** not a dataset.

**Current behavior**: linking a dataverse adds an entry in the `dataverselinkingdataverse` table. The problem is the contents of the dataverse you link to are not searchable and do not show up as cards, as reported at #1366.

**Goal**: Ch

[2015-04-02 17:09] pdurbin commented on #90
I'm making this into its own ticket (#1852) and will push a commit to a new branch called 1852-link-dv-change.

[2015-04-02 17:11] pdurbin commented on #1852
@scolapasta I'd like to give you a demo of 1814251 before I merge it to master.

[2015-04-02 17:40] posixeleni commented on #1851
There use to be a Custom Terms of Use free-text box that allowed folks to enter in any custom ToU.

[2015-04-02 17:43] posixeleni commented on #1846
Now working as expected. Thanks @mheppler
![image](https://cloud.githubusercontent.com/assets/5013837/6969645/2c01449a-d93e-11e4-9356-a1bc264b0bc0.png)

Closing this ticket.

[2015-04-02 17:43] #1846 closed

[2015-04-02 17:54] sbarbosadataverse commented on #1829
No error after following steps to repeat listed by Phil

[2015-04-02 17:54] #1829 closed

[2015-04-02 17:55] scolapasta opened #1853 "Review indexing for deaccessioned datasets"
A late change removed the indexing of files from deaccessioned datasets - this is likey what we want going forawrd, but we should review the idea (and the code).

[2015-04-02 17:59] sbarbosadataverse commented on #1805
successfully removed a user with access to restricted file

[2015-04-02 17:59] #1805 closed

[2015-04-02 18:02] posixeleni commented on #1752
@mheppler would this be helpful? http://best-practices.dataverse.org/harvard-policies/harvard-terms-of-use.html

[2015-04-02 18:07] posixeleni opened #1854 "Document SPSS Ingest Advanced Options in User Guide"

[2015-04-02 18:13] kcondon opened #1855 "Logging: Lots of chatty logging enabled, please remember to shut off for release."
2015-04-02T14:11:36.662-0400] [glassfish 4.1] [INFO] [] [] [tid: _ThreadID=40 _ThreadName=Thread-8] [timeMillis: 1427998296662] [levelValue: 800] [[
  getting key, name = :SolrHostColonPort]]

[2015-04-02T14:11:36.719-0400] [glassfish 4.1] [INFO] [] [] [tid: _ThreadID=40 _ThreadName=Thread-8] [timeMillis: 1427998296719] [levelValue: 800] [[
  getting key, name = :SolrHostColonPort]]

[2015-04-02T1

[2015-04-02 18:20] kcondon opened #1856 "Button: Dataset version button shows nothing."
The View Dataset Versions buttons appears as soon as a dataset is published. Clicking on shows a blank list, no matter how many versions there are.

[2015-04-02 18:28] kcondon opened #1857 "Upload files: Checkboxes and restrict/delete buttons do not work after uploading from dropbox."
I had an existing study with a single file. I uploaded another from drop box and found that the checkboxes stopped working and so did the restrict/delete buttons. The edit tags still worked.

Using FF v37 on Mac

[2015-04-02 18:30] pdurbin commented on #1809
As of 8be10bb the Search API requires an API token. It checks for a valid token but executes the search as the guest user (non-guest searches are coming in #1299).

Passing to @landreev for any changes he may need to make to other API endpoints.

[2015-04-02 19:15] pdurbin commented on #90
@mheppler I'm giving you this ticket to merge to two link buttons into one with a dropdown.

[2015-04-02 19:17] pdurbin commented on #1852
I merged 1814251 with master but @scolapasta and I agree that we'll persist a single saved instead of two. We'll link the target dataverse immediately so the user can see some effect right away. I'll work on this now.

[2015-04-02 19:24] mheppler commented on #1776
Cleaned up the "Advanced Ingest Options" popup for SPSS files on ingest. Changed label colors for Tabular Data Tags on dataset and browse/search on dataverse pages.

[2015-04-02 19:31] raprasad commented on #1754
check: Error Rendering View[/dataset.xhtml]
javax.el.ELException: /dataset-versions.xhtml @118,80 value="#{versionTab.versionDate}": java.lang.NullPointerException

[2015-04-02 19:40] kcondon opened #1858 "View Template: Peristent id field shows nullnullnull"
Created a new template, put something in title for no particular reason, saved. Viewed it and saw:
Dataset Persistent ID   null:nullnullnull

[2015-04-02 19:46] kcondon commented on #1847
OK, tested all of the above. Found a couple unrelated issues, reported separately. Otherwise ok. Closing.

[2015-04-02 19:46] #1847 closed

[2015-04-02 19:50] posixeleni opened #1859 "Duplicate / Wrong Text Found When Deaccessioning A Dataset"
There is duplicate text on this page. The first text should say "Which version(s) do you want to deaccession?" rather than "What is the reason for deaccession?" which is already displayed in the valid section below. See screenshot.

![image](https://cloud.githubusercontent.com/assets/5013837/6971766/e66a0cbe-d94c-11e4-803d-d68e8a7e57f3.png)

cc/ @mheppler @sekmiller

[2015-04-02 19:54] mheppler commented on #90
Added Link Search into a dropdown button along with Link Dataverse on dataverse page.

[2015-04-02 20:02] pdurbin commented on #1852
Again, the focus of this ticket is how we’ve changed the behavior of “link dataverse” so this could be a good fix for #1366 so please feel free to test both tickets at once.

Below is how I was testing this locally with the same data you can see at https://apitest.dataverse.org

This is a superuser only feature for now.

Go to http://localhost:8080/dataverse/trees and click “link dataverse” and ch

[2015-04-02 20:03] pdurbin commented on #1366
I'm moving this ticket to QA and the current milestone (beta 15) because I believe I've fixed this in #1852.

[2015-04-02 20:06] pdurbin commented on #90
From the list above I did **not** get a chance to do these:

- friendlier looking filter queries in UI
- don't allow duplicate saved searches
- don't allow wildcard queries from root dataverse (too expensive at index time)

I checked the boxes above what what I **did** do.

[2015-04-02 20:06] kcondon commented on #1658
This works as described: ingest in progress message is present, specified buttons are disabled. Sonia has opened a separate ticket about ingest in progress messaging that covers any gap in messaging. Closing.

[2015-04-02 20:06] #1658 closed

[2015-04-02 20:15] sbarbosadataverse opened #1860 "Versions button won't display all versions after selecting to view a previous version"
I went to a dataset
clicked on versions
selected version 1.0 of the three versions possible
took me to the version, then when I click/hover over versions again, I get a slim little empty box under it but no option to see other versions, including released version

![szmkyvs_wbs1eexqnopb4crmdpjtq15wki080osizho](https://cloud.githubusercontent.com/assets/8322346/6972648/331a780e-d953-11e4-8986-7855c

[2015-04-02 20:38] mheppler opened #1861 "Dataset Deaccession Popup - Validation Error Popups-on-Popups"
When you deaccession a dataset, you are prompted with a popup that asks for additional required information. The validation messages are delivered in a popup that displays on-top of the original popup. An open and shut case of popup-on-popup crime. These messages should be in "error" message styled blocks, on the form, in the original popup.

![screen shot 2015-04-02 at 4 26 13 pm](https://cloud.g

[2015-04-02 20:48] posixeleni commented on #1860
Test

[2015-04-02 20:55] suenjedt opened #1862 "Umlauts don't show correctly when used in "templates""
Once I save the words containing Umlauts, they dont show correctly anymore in the template.

[2015-04-02 21:27] mheppler opened #1863 "Terms of Use - HTML Formatting"
Need to properly format our terms of use text with HTML, so it displays nicely in the new, HTML enabled Term of Use block on the Account page.

[2015-04-02 21:28] mheppler commented on #1752
Fixed display of HTML formatted teext on term-of-use.

Created new ticket #1863 for properly formatting the terms text with HTML for deployment.

[2015-04-02 21:28] sekmiller commented on #1848
Coding around creating email notifications complete.  The text of the emails is in the bundle if they need to be modified.  Verified that email is being created as expected, but didn't actually test send because the "no-reply" address not set

Info:   Email as
Hello,
Welcome to Dataverse 4.0 Beta! Please take a look around, try everything out,
 and check out our Google Group (https://groups.google

[2015-04-02 21:30] suenjedt opened #1864 "User/Groups shown incorrectly when editing the permissions of a dataverse"
as shown on screenshot below.

In addition, when selecting the group's role, it might be helpful to call the first field "group name" (same name convention used when defining the group earlier).

![screen shot 2015-04-02 at 17 23 29](https://cloud.githubusercontent.com/assets/7300319/6974047/54b8e8b0-d95d-11e4-86a8-a950d903836f.png)

[2015-04-02 21:41] mheppler commented on #1678
Fixed display of harvested dataset message on the browse/search cards. My only suggestion for @landreev to change in the text to make "Dataset" lowercase. @eaquigley might have other suggestions.

![screen shot 2015-04-02 at 5 38 00 pm](https://cloud.githubusercontent.com/assets/687227/6974266/5407fab2-d95f-11e4-8751-dd58d3e24081.png)

[2015-04-02 22:08] scolapasta commented on #95
Migration code as a whole is set. Any issues found should be opened as new issues.

[2015-04-02 22:10] scolapasta commented on #1676
Passing to QA. Any issues for individual sources should be opened as separate issues.

[2015-04-02 22:15] sekmiller commented on #1849
We could't recreate this but in testing discovered that TOU wasn't available for editing when CC0 was de-selected.  I fixed that and now you should be able to set custom terms if you de-select CC0.

[2015-04-02 22:17] scolapasta commented on #1848
if you run setup-optional-harvard, it will set the mail and can be tested (sent from support@dataverse.org). (You can also just run that individual curl command)

[2015-04-02 23:28] scolapasta commented on #1839
Had to fix for index to run after exception.

[2015-04-02 23:54] pdurbin commented on #1849
Ah ha! I see what's going on.

Here is a screenshot of what @mcrosas and I were looking at this morning:

![spruce_goose_-_spruce_dataverse_-_2015-04-02_19 35 21](https://cloud.githubusercontent.com/assets/21006/6975829/88b50dda-d96f-11e4-8031-ce4c3427a89d.png)

This was confusing to us because we were thinking it's not right that we have to accept Terms of Use to download a file from a dataset li

[2015-04-03 00:22] pdurbin commented on #1855
Looks like a fixed was checked in at https://github.com/IQSS/dataverse/commit/51ad6b256cde34b61d139364997f8ff267c058fc

[2015-04-03 00:28] pdurbin commented on #1510
@scolapasta this is behind an API endpoint I believe we plan to block: https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/api/DatasetFieldServiceApi.java /cc @michbarsinai

[2015-04-03 00:39] pdurbin commented on #456
I just thought I'd mention that when looking into #1332 I did briefly run Solr 4.10.4 (the latest in the 4.x branch) on my laptop and it seemed to work fine with our custom schema.xml.

[2015-04-03 02:41] mcrosas commented on #1753
When we do this, we should also make more clear the difference between choosing a license and entering custom terms of use (with the terms of use, users need to click through before downloading).

[2015-04-03 11:44] pdurbin commented on #1809
Of course, as predicted above, in no longer works. I opened a ticket to add the ability to retrieve one's API token: https://github.com/IQSS/dataverse-android/issues/1

[2015-04-03 13:35] mheppler opened #1865 "Validation Errors - Scroll to Message Top of Page"
These following pages could use a "scroll to top" feature, similar to what is being used on dataset #1698.

- [x] Dataverse
- [x] Dataset Template

This is something that should probably be added to the "Save..." buttons of every page, but that is something for another release.

[2015-04-03 13:36] posixeleni commented on #1849
@pdurbin here is a sample Terms of Use you can use that Berkman put together for us for human subject data

http://best-practices.dataverse.org/harvard-policies/sample-dua.html

[2015-04-03 13:42] posixeleni commented on #1849
confirmed that @sekmiller fix is working in build.

![image](https://cloud.githubusercontent.com/assets/5013837/6982895/8d88e8b0-d9e5-11e4-94e5-f1c1833b52f5.png)

Re-assigning to @pdurbin to modify the documentation per his comment https://github.com/IQSS/dataverse/issues/1849#issuecomment-89084026 and feel free to close this ticket when that's completed.

[2015-04-03 13:44] pdurbin commented on #1849
Thanks @posixeleni ! Maybe I'll use something short like "Downloader will not use the Materials in any way prohibited by applicable laws" in the SWORD XML examples.

[2015-04-03 13:47] mheppler commented on #1698
Fixed the "scrollTo" functionality for displaying validation errors on dataset to only display on error, and delete file success, messages. Applied fix to dataverse and dataset template pages as well.

[2015-04-03 13:48] mheppler commented on #1865
Fixed the "scrollTo" functionality for displaying validation errors on dataset to only display on error, and delete file success, messages. Applied fix to dataverse and dataset template pages as well.

[2015-04-03 13:54] mheppler commented on #1567
This was a high-level ticket, covering the title attributes for links across the site. All of the links in the bundle, for pages like User Guides, Best Practices, etc., have the title attribute, to help improve accessibility and usability. A majority of the links in the XHTML across the app, do as well. Any stragglers found can be fixed with a new ticket, in a future release.

[2015-04-03 13:59] mheppler commented on #1520
Moved this to "Deployment" to go with my other guides-project site-related ticket.

[2015-04-03 14:12] posixeleni commented on #1849
@pdurbin works for me... just has to make sense

thanks!

[2015-04-03 14:45] pdurbin commented on #1809
@scolapasta and @mcrosas I **believe** your intention is that even unrestricted published files should **not** be able to be downloaded without using an API token. Is that correct?

I bring this up because I just pushed the latest code (e945eeb) to https://apitest.dataverse.org and I can still download files without any authentication:

[code]

Please note that you can also download preview images

[2015-04-03 14:54] raprasad opened #1866 "Dataset Page Performance - tags/categories per file - (sub issue #2)"
Part of #1754

##### ~~Removing these lines removes **21 seconds** for the Poole data (running locally).~~

Mostly sped up by indexing.  Still reducing queries should reduce overall load

Optimize selection of categories and tags:
- [ ] one query for tags
- [ ] one query for categories

Current code: Runs 2 queries per file:

example: 121 files is 242 extra queries

from ```dataset.xhtml```
[code]

[2015-04-03 15:01] suenjedt opened #1867 "CC0 - waiver vs. license [nomenclature]"
Just a minor comment:
at CERN we also use CC0. We also used a similar phrasing to yours (including "licence") in our ToU and metadata. However, we got approached by Creative Commons directly as they preferred to change the wording to "waiver" instead of using the expression CC0 "license".
Our revised ToU can be found here, http://opendata.cern.ch/terms-of-use

[2015-04-03 15:06] sekmiller commented on #1473
You want to make the mdbs clickable when the dv is in "inherit" mode? Is this requirement obviated by the ability to "view" the contents of an unselected block? @eaquigley?

[2015-04-03 15:07] sekmiller commented on #1472
Could be, @pdurbin.  Maybe we can figure out a way to show a popup the first time you make a draft after a publish.  Even that could become annoying.

[2015-04-03 15:15] suenjedt opened #1868 "Add/Delete emails upon new dataverse creation resulting in persistent mouseovers"
I tried several times - with this result (Firefox)

![screen shot 2015-04-03 at 11 07 42](https://cloud.githubusercontent.com/assets/7300319/6983982/0af6eb24-d9f2-11e4-9069-1babe6204700.png)

[2015-04-03 15:31] mheppler commented on #1473
@sekmiller @eaquigley -- After reviewing what is currently on dvn-build, and seeing the new "View fields" changes made from Mar 25 cf4448beb9a3760287d6472828f29f1509224b39, I remember discussing this functionality.

What is being asked is, for a child dataverse, with "Use metadata fields from Root Dataverse" selected, allow the admin to click on the (now disabled, uncheckable) check boxes for the

[2015-04-03 15:44] posixeleni commented on #786
As Leonid pointed out accented characters that were migrated from 3.6 show up fine:
![image](https://cloud.githubusercontent.com/assets/5013837/6984277/25ffb664-d9f5-11e4-97b7-f6e2b38208c5.png)

I also recreated a study that had non-latin characters to build to see if the characters would display properly and the Thai is showing up great.

Will close this ticket.

However, searching for a known da

[2015-04-03 15:44] #786 closed

[2015-04-03 15:48] posixeleni opened #1869 "Unable to search Thai characters"
Searching for a known dataset with Thai characters does not work, which we had resolved in #1274 for Japanese characters.

![image](https://cloud.githubusercontent.com/assets/5013837/6984415/9913349a-d9f6-11e4-8213-83ee3fd0a4bb.png)

Here is the study you can test this with in build:
https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi%3A10.5072%2FFK2%2F2PBREP

[2015-04-03 15:50] scolapasta commented on #1856
Tested with @kcondon - works.

[2015-04-03 15:50] #1856 closed

[2015-04-03 15:51] raprasad opened #1870 "Number Formatting: Commas for Numbers 999+"
http://stackoverflow.com/questions/8740578/how-to-format-the-number-with-comma-when-user-lost-focus-in-hinputtext
[code]
![screen shot 2015-04-03 at 11 53 56 am](https://cloud.githubusercontent.com/assets/687227/6984564/26dd3df6-d9f8-11e4-854c-e94d5a5b2f21.png)

[2015-04-03 15:52] scolapasta commented on #1867
Assignig to beta 15 for @posixeleni to investigate - then we can decide if we want to make a change.

[2015-04-03 15:53] sbarbosadataverse commented on #1786
works!

[2015-04-03 15:53] #1786 closed

[2015-04-03 15:55] sbarbosadataverse opened #1871 "while testing 1786, the metadata "checkbox" function stopped working"
I can select the metadata block, but the check doesn't appear

![t0lbvuly5uubhii-jl-_8ebzhyjovulirxomhynx8pe](https://cloud.githubusercontent.com/assets/8322346/6984566/2b2da792-d9f8-11e4-9548-36142957295f.png)

[2015-04-03 16:03] sbarbosadataverse commented on #1679
This error not happening. I click on "publish." Then click "edit--->general information" I get the full edit page.

[2015-04-03 16:03] #1679 closed

[2015-04-03 16:05] scolapasta commented on #1841
Passing to @eaquigley to decide how we want this to work

[2015-04-03 16:08] raprasad opened #1872 "Dataset Page Performance - version in query string - (sub issue #1)"
Part of #1754

**ISSUE**:   Having a query line specifying a version number (not DRAFT) retrieves the Dataset twice.
**Profiler adds 30%+ more time** doing ```DatasetField.copy``` and  ```DatasetFieldCompoundValue.copy```.
  - Example query string.  ```version=3.2``` adds the extra profile time:
[code]

**FIX**: Rewrite the DatasetPage.java init() logic

## Logic:
### Potential url identifiers:
1.

[2015-04-03 16:14] scolapasta commented on #1869
seems related to #1862

[2015-04-03 16:18] suenjedt opened #1873 "Inherited guestbooks: Could not enable the guestbooks in a chain of dataverse/dataset children"
I tried to set up a chain of dataverses and datasets (4 levels). In the lower levels we could not enable the guestbooks. We could still look at them, so they were inherited, but we could not enable them. We double checked that they were enabled in the upper levels.

[2015-04-03 16:20] scolapasta commented on #1499
This is happening with other mouseovers too: #1868
Keeping this issue as the parent of all this and closing the other as a duplicate.

[2015-04-03 16:20] scolapasta commented on #1868
related to #1499, so closing this as aduplicate and putting details there.

[2015-04-03 16:20] #1868 closed

[2015-04-03 16:21] raprasad opened #1874 "Dataset Page Performance (sub issue #3) (if needed)"
Part of #1754

**ISSUE**:   Displaying metadata conducts circuitous queries to display each piece of information

**'FAST FIX'**: Stash the display data (for released versions) as JSON.  Run 1 query rather than hundreds.

**ADDITIONAL BENEFIT**: Use this data for Solr Indexing. e.g 1 query rather than hundreds

Short term strategy:
- [ ] create table **DatasetMetadataView** (or something similar)

[2015-04-03 16:22] sbarbosadataverse commented on #1694
all fields accounted for:

![uej2tb29vhxdpqjp6qa5w3mvcr7ixg9fcyof1uyxmhe](https://cloud.githubusercontent.com/assets/8322346/6984946/147cdd52-d9fc-11e4-9d74-58dd906839c5.png)

[2015-04-03 16:23] #1694 closed

[2015-04-03 16:23] scolapasta commented on #1860
Fixed.

[2015-04-03 16:24] sbarbosadataverse opened #1875 "reference 1694-Eleni asked about position of Publication Date and DOI-should move up in citation info?"
DOI appears at bottom of the list, and does publication date. Perhaps can move under title as these are pretty important citation fields?

![uej2tb29vhxdpqjp6qa5w3mvcr7ixg9fcyof1uyxmhe](https://cloud.githubusercontent.com/assets/8322346/6984969/4085c1ac-d9fc-11e4-85b0-00722153536d.png)

[2015-04-03 16:28] sbarbosadataverse opened #1876 "The metadata could not be updated. Please contact support."
I was going to test "version" bug, I entered text into "subtitle" field, hit save, and error message above

![cdd_q-wqhwpmniuvj5k9gtfuvj_7x1xdw0oen8gb9q0](https://cloud.githubusercontent.com/assets/8322346/6985036/cda28138-d9fc-11e4-908d-93a477aab3c1.png)

[2015-04-03 16:32] mheppler commented on #1875
Those are static fields, as opposed to dynamic fields, we we can not place
them between fields. They need to be on the top or the bottom. We went with
bottom originally, and intended to review after.

Would you prefer them above Title?

[2015-04-03 16:37] sekmiller commented on #1858
Fixed will be checked in shortly - pending other available  minor fixes

[2015-04-03 16:41] pdurbin commented on #1874
I wonder if we take advantage of the JsonWalker code somehow.

[2015-04-03 16:48] sekmiller commented on #1858
checked in

[2015-04-03 16:52] scolapasta commented on #1870
Duplicate - of #1761 - copying the above info to that issue.

[2015-04-03 16:53] scolapasta commented on #1761
http://stackoverflow.com/questions/8740578/how-to-format-the-number-with-comma-when-user-lost-focus-in-hinputtext
[code]

[2015-04-03 16:57] kcondon commented on #1870
Closing as dupe.

[2015-04-03 16:57] #1870 closed

[2015-04-03 17:06] sekmiller commented on #1831
Fixed and checked in. Another build, please.

[2015-04-03 18:08] scolapasta commented on #50
For 4.0, we've developed some mitigating strategies (multithreaded indexing). Moving post 4.0 for improving performance.

[2015-04-03 18:16] mcrosas commented on #1809
To be discussed with @scolapasta @pdurbin @landreev on Monday (4/6)

[2015-04-03 18:17] raprasad opened #1877 "Dataset Page Performance - large file counts - (sub issue #4)"
(@scolapasta to prioritize)

Related: #1754

- dataset.xhtml
  - 600+ files
  - Many tabular.
  - All restricted

Lots of permissions checking.
(Roll Call data)

### Run 1 (Not Logged In), 4,100+ queries
![dataverse_-_netbeans_ide_8_0_2](https://cloud.githubusercontent.com/assets/1036060/6987045/618944e0-da11-11e4-899c-df80f6d352bc.png)
[code]

### Run 2  (Logged in as admin), 11,200+ queries
  (a

[2015-04-03 18:23] mcrosas commented on #1875
Above the title:
DOI (first)
Publication Date (second)
Title

[2015-04-03 18:24] mcrosas commented on #1873
To be review with QA team

[2015-04-03 18:29] raprasad opened #1878 "Dataset Page Performance: Missing Index (sub issue #5)"
- Easy fix, part of #1754

Add index to

  1. **table**: ```DATASETFIELDVALUE```
  1. **column**: ```DATASETFIELD_ID```

- Currently table scanning on 930,000+ rows
- CREATE INDEX INDEX_DATASET_FIELD_VALUE_DS_ID ON DATASETFIELDVALUE (DATASETFIELD_ID);

- High profile item

[2015-04-03 18:35] mcrosas commented on #1864
New layout to make this clearer:

Column 1: User/Group Name (affiliation)
Column 2: id

@mheppler if this is confusing, talk to me

[2015-04-03 18:40] scolapasta commented on #1850
@suenjedt   Can you provide a sample file?

[2015-04-03 18:42] scolapasta commented on #1784
@pdurbin setting to critical at least for the investigation.

[2015-04-03 18:54] suenjedt commented on #1850
I just tried again with a different xlsx file and it works fine. The test yesterday was on @posixeleni  computer. Maybe she can double check with exactly the same file again...

[2015-04-03 19:00] suenjedt opened #1879 "Saved Search - "Link earch" is Disabled, Can Click Through Anyway"
![screen shot 2015-04-03 at 14 48 28](https://cloud.githubusercontent.com/assets/7300319/6987091/d5ceb7fe-da11-11e4-8774-9c0f94562c87.png)

[2015-04-03 19:00] raprasad commented on #1877
@kcondon
This is the Poole data running locally.  Takes 30 sec + to run.

[2015-04-03 19:12] scolapasta commented on #1754
Several sub issues have been created for dataset performance, so we're moving this more general one to QA to be closed.

[2015-04-03 19:19] sbarbosadataverse commented on #1843
Could not reproduce again

[2015-04-03 19:20] sbarbosadataverse commented on #1860
Fixed!

[2015-04-03 19:20] #1860 closed

[2015-04-03 19:24] sbarbosadataverse commented on #1738
Thumbnail generated for .tif file

![s9kw4zx1fcvnh6y7lvweggeofh-w75ibms041z1dh0u](https://cloud.githubusercontent.com/assets/8322346/6987490/6e252d3c-da15-11e4-8cd0-ec3636663cec.png)

[2015-04-03 19:24] #1738 closed

[2015-04-03 19:35] posixeleni commented on #1850
@scolapasta here is the file we tried: https://www.dropbox.com/s/00yl2jsxzr3wen4/chinese-rice-paddy-values-5517.xlsx?dl=0

[2015-04-03 19:43] sbarbosadataverse commented on #1709
NOT DONE:

customGSD.tsv
    Added to gsdCoordinator controlled vocabulary: Idenburg, Florian;

[2015-04-03 19:49] suenjedt commented on #1850
Thanks - The xlsx now appears as a tab file.

https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi%3A10.5072%2FFK2%2FQ8MZL9&version=DRAFT

[2015-04-03 19:50] sbarbosadataverse commented on #1730
New page, and not a popup --- YES
    Table display --- YES
    (Future release) Download

[2015-04-03 19:50] #1730 closed

[2015-04-03 19:52] posixeleni commented on #1850
Since the file is now being recognized I am going to close this ticket. Thanks @suenjedt and @scolapasta !

[2015-04-03 19:52] #1850 closed

[2015-04-03 19:53] posixeleni commented on #1709
@kcondon we need a db drop for this controlled vocabulary field to show. I had checked this in earlier in the week.

[2015-04-03 19:56] sbarbosadataverse commented on #1449
Message active:
There are no dataverses within this dataverse. You can add to it by using the Add Data button on this page.

[2015-04-03 19:56] #1449 closed

[2015-04-03 20:08] sekmiller commented on #1843
I haven't been able to get this to happen

[2015-04-03 20:10] sbarbosadataverse commented on #1720
No error message associated with searching for a complete doi; returns exact dataset containing the doi

[2015-04-03 20:10] #1720 closed

[2015-04-03 20:22] raprasad commented on #1866
[code]

[2015-04-03 20:49] mheppler commented on #1761
Formatted dynamic counts for search-include and dataset (Downloads). Optimized some bundle code to utilize outputFormat and choices.

[2015-04-03 21:01] raprasad opened #1880 "Index Check"
Process Note:

1. In the appropriate Java class: add ```@Table```, ```@Indexes annotation```
1. Drop local table(s) via pgAdmin
1. Reload local server
1. Check pgAdmin for new indices
1. Check in updates

----

- [x] actionlogrecord	 (RP - checked in)
- [x] apitoken	(GPD - checked in)
- [x] authenticateduser	(GPD - no change)
- [x] authenticateduserlookup	(GPD - no change)
- [x] authenticationprov

[2015-04-03 21:12] posixeleni opened #1881 "Unable to Add Dataset in Chrome (works in Firefox)"
We dropped the db this afternoon and as soon as this happened I was unable to Add A Dataset. It would just refresh the page back to the form. Sonia tried this on her computer as well and had the same issue. Not seeing any server log errors.

However, when I tried in Firefox it saved the Dataset just fine.

cc/ @mheppler @kcondon

[2015-04-03 21:17] mheppler commented on #1881
Related to #1698 -- which was in QA. Send that back to me. Closing this issues as a dup.

[2015-04-03 21:19] mheppler commented on #1698
Bug reported in Chrome #1881. Can't create dataset in Chrome. Page just refreshes. No message. No error logged.

[2015-04-03 22:33] kcondon commented on #1865
Doesn't work for Chrome, scrolls but validation errors not appearing.

[2015-04-03 22:40] kcondon opened #1882 "Install: Setup-optional-harvard.sh is putting the support queue email as the system email. Don't!"
Setup-optional-harvard.sh is putting the support email as the system email and as a result it is creating an RT ticket everytime someone creates a dataverse or dataset. Stop the madness!!!!

OK, the actual cause was putting the support email in the super user account. Need to review with Gustavo/ Merce how it works to see which email goes where.

[2015-04-03 22:53] pdurbin opened #1883 "Indexing: N/A values should not be indexed"
"I noticed that in #1246 that we don't want to display N/A values in UI, but as of this writing it's easy to create a dataset like this via SWORD by simply not including any dcterms:subject elements in the XML"

I first made that comment a month ago at https://github.com/IQSS/dataverse/issues/1430#issuecomment-76814420 but I'm opening this ticket (with a screenshot) to make sure we're ok with show

[2015-04-03 22:58] #1865 closed

[2015-04-03 23:00] mheppler commented on #1875
Moved Persistent ID and Publication Date to the top of the Citation Metadata block on dataset page.

[2015-04-03 23:01] kcondon commented on #1859
OK, duplicate text is gone, replaced by correct text. Closing.

[2015-04-03 23:01] #1859 closed

[2015-04-03 23:18] kcondon commented on #1875
Works as described, closing

[2015-04-03 23:18] #1875 closed

[2015-04-03 23:19] kcondon commented on #1858
Fixed, closing.

[2015-04-03 23:19] #1858 closed

[2015-04-04 02:44] scolapasta opened #1884 "Saved Search - do not link to search or link to files"
Since we currently don't support linking to files (and may not want to), we should not create any links for files.

Also, we can remove the files as something for the filter query when saving.

[2015-04-04 02:45] scolapasta opened #1885 "Support newer versions of API"
In 4.0, we added v1 to the URLs, but we'll need to modify code for when we want to support more versions.

[2015-04-04 02:46] scolapasta opened #1886 "Enhancements to API structure, whitelist"
Rather than blaclist APIS, it'd be nice to have the option to white list. That we we can block all and only allow certain ones. Any newly created API, by default would be blocked.

[2015-04-04 03:12] scolapasta commented on #1155
for 4.0  we decided to send e-mails when the notification is created and not as a cron job.

Passing to QA.

[2015-04-04 03:51] scolapasta commented on #1699
Duplicate of #1564

[2015-04-04 03:56] scolapasta commented on #1883
We should not be indexing these N/A values.

[2015-04-04 03:57] scolapasta commented on #1883
Notice with production data we also see several N/As.

[2015-04-04 03:59] scolapasta opened #1887 "Review the harvest note that is set for each harvest configuration"
This shows up for each dataset and is currently configurable in the db.

[2015-04-04 10:51] raprasad commented on #1866
snippets for if pursued:

- for DatasetPage
[code]
- for DataFileServiceBean
[code]

[2015-04-06 12:43] pdurbin commented on #1849
In 0d12045 (in a new branch) I updated the Terms of Use to not be about CC0: "Downloader will not use the Materials in any way prohibited by applicable laws."

@scolapasta I made a pull request for this so you can easily approve and merge it: #1888

[2015-04-06 13:52] pdurbin commented on #1698
#1881 opened by @posixeleni and confirmed by @sbarbosadataverse describes what I just observed about not being able to create or edit a dataset in Chrome but since this is the open ticket I'll comment here.

Nothing is logged to the Glassfish log but in the Chrome Javascript console I see this:

`Uncaught SyntaxError: Unexpected token ; dataset.xhtml?ownerId=3:548`

This was on build 1011 on dvn-b

[2015-04-06 14:22] mheppler commented on #1698
@pdurbin -- Yup. Can't have an ";" in javascript function of the onerror attribute of the f:ajax tag, that I was using on the hidden Save Changes commandButton. In fact, you don't need the "()" either. Unfortunately, you remove those, and it no longers works in Firefox, or anywhere for that matter. Need to have @scolapasta review the use of the hidden Save Changes commandButton to determine if a T

[2015-04-06 14:35] pdurbin commented on #1883
@scolapasta please review a195b17 (pushed to a branch) and let me know if it's ok to merge in. The question I have is for the dataset level. In that commit the logic is to never index an "N/A" value for **any** dataset field that has a controlled vocabulary that includes "N/A" (not just the "subject" field).

[2015-04-06 14:54] kcondon commented on #1787
I was able to reproduce this. I updated an existing draft, unpublished dataset by entering a value for the notes field. On save got the could not update metadata error and an error in server log re: db deadlock. Saved again and it worked. See server log error below:

[2015-04-06T10:50:26.727-0400] [glassfish 4.1] [WARNING] [] [org.eclipse.persistence.session.file:/usr/local/glassfish4/glassfish/do

[2015-04-06 15:36] pdurbin commented on #1884
It sounds like this ticket is about two things:

Thing 1: If there's a hit on a file, don't ever link the parent dataset.

This is easy enough. It's just a backend change to skip any hits for files when making links. I pushed this change in a new branch in this commit: fee47b7

@scolapasta please let me know if you'd like this to be merged in.

Thing 2: After a user has done a search, explain that

[2015-04-06 15:47] posixeleni commented on #1887
This is what it currently looks like:

![image](https://cloud.githubusercontent.com/assets/5013837/7006768/afb987c8-dc51-11e4-8d76-6049a08e99f4.png)

@scolapasta this generic text is good for the most harvested open data repositories but during our 3/13/15 migration meeting https://docs.google.com/document/d/1AqOQKGRBzjqacp4_x8BzAPJqyQaP4_5OOYaMCmygaZ0/edit?usp=sharing @mcrosas had discussed putti

[2015-04-06 15:49] raprasad commented on #1698
error seen in firebug and chrome (but firebug keeps going):
[code]

related: http://forum.primefaces.org/viewtopic.php?f=3&t=1872
http://stackoverflow.com/questions/26912246/syntaxerror-missing-using-primefaces-extensions-inputnumber-using-jquery

[2015-04-06 15:56] scolapasta opened #1889 "Add harvested icon to search cards"
Now that we have harvested data, we need to change the icon for those. @mcrosas has ideas, and @landreev can point you to the rendered logic (I think it's just .harvested from the entity).

[2015-04-06 16:03] posixeleni commented on #1867
We should use the same language as the folks in Creative Commons which according to their website is:

CC0 - Public Domain Dedication
https://creativecommons.org/publicdomain/zero/1.0/

[2015-04-06 16:14] mheppler commented on #1867
That page doesn't refer to either a "Waiver" or a "License". But if you click on the "Legal Code" link, there, you have...

There is a reference to a "Waiver". I assume that means we should use "Waiver".

@posixeleni @scolapasta @mcrosas @suenjedt

[2015-04-06 16:21] pdurbin commented on #1884
From chatting with @scolapasta it sounds like the backend change at fee47b7 is the main one he's interested in (not linking datasets of files that match). We can sort out the usability issue later.

[2015-04-06 16:29] mheppler commented on #1867
Talked to Merce. Showed her the Creative Commons link. She has OK'd changing "License" to "Waiver".

- [ ] Anywhere it reads "License + Term" for tab, link, etc, it should now be just "Terms".
- [ ] Anywhere the CCO - "Public Domain Dedication" is referenced as a "license", it should be "waiver".
- [ ] Tab label should be "Waiver", help text should be revised.
- [ ] User Guide help text should als

[2015-04-06 16:52] pdurbin commented on #1883
I chatted with @scolapasta and it sounds like we want to avoid indexing "N/A" for as many fields as possible, including fields that don't have controlled vocabularies (which is most fields).

Since the logic I'll need to put in the code is spread on various lines, I just did a query on our migrated data to make sure I adjust indexing for as many fields as possible. The main ones to adjust will be

[2015-04-06 17:12] posixeleni commented on #1867
@mheppler I will tackle the User Guides

[2015-04-06 17:42] posixeleni commented on #1867
@mheppler the documentation should be all set: also updated here: https://github.com/IQSS/dataverse/blob/master/doc/sphinx-guides/source/user/dataset-management.rst

[2015-04-06 18:02] pdurbin commented on #1883
@scolapasta please review the new-and-improved version at 269081b and let me know if I should merge it to master.

[2015-04-06 18:08] suenjedt opened #1890 "Saved search: problem when selecting destination dataverse"
![screen shot 2015-04-06 at 13 40 23](https://cloud.githubusercontent.com/assets/7300319/7009097/e69c7eda-dc65-11e4-8aaf-8a488a0114c2.png)

[2015-04-06 18:11] pdurbin commented on #1890
@suenjedt can you please elaborate on what the problem is?

[2015-04-06 18:15] pdurbin commented on #90
Let's use #1890 to track this.

[2015-04-06 18:16] pdurbin commented on #1890
@suenjedt explained that the facet are not friendly enough, so as I mentioned at https://github.com/IQSS/dataverse/issues/90#issuecomment-90180966 we can use this ticket to track this.

[2015-04-06 18:39] pdurbin opened #1891 "SWORD: prepare docs for 4.0 release"
SWORD was worked on before many features such as DOI registration were added so http://guides.dataverse.org/en/latest/api/sword.html should be reviewed to make sure it still makes sense. Many "known issues" are gone and some of the features on the roadmaps have already been implemented.

[2015-04-06 18:50] kcondon commented on #1869
Was able to fix  this by adding     <parameter-encoding default-charset="UTF-8" /> to the glassfish-web.xml file. Leonid will check it in so it will be in place upon deployment. Closing.

[2015-04-06 18:50] #1869 closed

[2015-04-06 18:51] sekmiller commented on #1843
Tried multiple ways to recreate this.  Have not been able to do so.

[2015-04-06 18:54] mheppler commented on #1879
Fixed the disabled links for Link Dataverse and Link Search. Also applied similar fixes for the links in View Dataset Versions on dataset, and pagination links for "<</Previous" and "Next/>>" on search.

These commits are on a new branch and need to be merge to master.

[2015-04-06 18:57] mheppler commented on #1864
Applied suggested layout clean up to the User/Group Name (Affiliation) and ID to tables/dropdowns on permissions-manage, permissions-manage-files, explicitGroup-new-dialog and roles-assign.

These changes are in a new branch and need to be merged into master.

[2015-04-06 19:00] mheppler commented on #1889
Added new icons to the browse/search cards for files, dataset, dataverse. Also added titles to these icons, and the other icons for type, linked, restricted, restricted w/ access icons.

These changes are in a new branch, which needs to be merge to master.

[2015-04-06 19:16] kcondon commented on #1787
Saw it again this afternoon. Page was somewhat broken afterwards fields not displaying but labels were.
Stack trace:

2015-04-06T15:13:53.276-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.IndexServiceBean] [tid: _ThreadID=161 _ThreadName=jk-connector(7)] [timeMillis: 1428347633276] [levelValue: 800] [[
  Desired state for existence of cards: {RELEASED=true, DRAFT=false, DEACCESSIONED=f

[2015-04-06 19:19] posixeleni commented on #1787
@kcondon

I was just working on that dataset so could it be that we tried to update it at the same time? I got no error message.

-Eleni

--
Eleni Castro
Research Coordinator, Data Acquisition and Archiving, Data Science
IQSS, Harvard University
http://www.iq.harvard.edu/people/eleni-castro

We're redesigning Dataverse and want your feedback! Please check out our Beta Site.<http://dataverse-demo.i

[2015-04-06 19:28] kcondon opened #1892 "Create Dataset: Created dataset, sent me to login page with successfully created message."
I created a dataset in root dv as regular user/ contributor with access perms set to allow anyone with account create dataset/dv as contributor. It redirected me to the login page with message that it was successfully created.
Additionally, I found that I no longer had access to that dataset when I clicked on it so it seems to be a permissions issue.
Does not happen with no files on create or not

[2015-04-06 19:46] kcondon commented on #1787
Happened again:

2015-04-06T15:44:46.974-0400] [glassfish 4.1] [WARN] [] [org.jboss.weld.Servlet] [tid: _ThreadID=161 _ThreadName=jk-connector(7)] [timeMillis: 1428349486974] [levelValue: 900] [[
  WELD-000715: HttpContextLifecycle guard not set. The Servlet container is not fully compliant.]]

[2015-04-06T15:45:00.862-0400] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container]

[2015-04-06 19:55] raprasad opened #1893 "dataset-versions.xhtml null pointer"
Issue
[code]
#### Failed fix:
- Null check on ```versionDate```

[code]

#### Correct Fix:
- ```versionDate``` is not an actual field, only a method that formats ```lastUpdateTime```
    - instead use: ```!empty(versionTab.lastUpdateTime)```
[code]

[2015-04-06 20:17] posixeleni opened #1894 "Revise Ref-Type in EndNote XML Export for Dataset Data Citation"
When exporting the dataset data citation to EndNote XML I am seeing the ref-type is set to <ref-type name="Online Database">45</ref-type>

Example:

[code]

If possible, this should be set to:

[code]

I spoke with @kcondon who explained to me why it is showing up as <ref-type name="Online Database">45</ref-type>  but if possible after 4.0 it would be more ideal if we could change this to be <ref-

[2015-04-06 20:25] mheppler commented on #1867
Swapped out all front-end references to "license" for "waiver" for tab, buttons, labels, help text, as related to CC0 being applied to the dataset.

These changes are all on a new branch, and need to be merged to master.

[2015-04-06 20:34] kcondon opened #1895 "Deaccession Dataset: Contributor is incorrectly? allowed to deaccession but it doesn't work."
This may be a permission issue where a contributor should not be allowed to deaccession a dataset but is given the opportunity to try.

Works fine for admin.

[2015-04-06 20:50] scolapasta commented on #1862
Same fix as #1869

[2015-04-06 20:55] kcondon opened #1896 "Request Access: First time clicking request access does not update button to requested though it has and throws server log error."
Click request access and using Chrome and it does not update request access button, throws server log error but does send request. Refresh page and see button was updated to requested.

[2015-04-06T16:47:05.148-0400] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=40 _ThreadName=jk-connector(1)] [timeMillis: 1428353225148] [levelValue: 900] [[
  A system e

[2015-04-06 21:16] mheppler commented on #1881
I reopened this ticket, because #1698 will not be completed for Beta 15 and is getting moved to another milestone. I have reverted back the old code, so that fixes this bug ticket, which I am sending to QA.

This check-in is in another branch and will need to be merged with master.

[2015-04-06 21:21] mheppler commented on #1698
This will need to be moved to another milestone, to review further. I have reopened #1881 and sent that to QA, to confirm that Chrome bug that this fix created is fixed.

The problem that remains with dataset is as follows:

- Create new dataset, fill out a bunch of metadata fields, click "Save Changes" at the bottom of the page.
- The browser viewport jumps up to the top of the page, where you se

[2015-04-06 21:35] kcondon opened #1899 "File Ingest: Ingesting a file puts dataset in incorrect UI state, added file not visible/ apparent until refresh."
1. Create a dataset, publish.
2. Ingest a data file, say fearonlaitin.dta to published dataset.
3. Upon saving, see grayed out edit, publish buttons, consistent with ingest in progress but notice file does not appear in UI and dataset is published version, not new draft. Refresh and everything appears correctly.

[2015-04-06 21:37] kcondon opened #1900 "File upload: Adding files to a dataset adds the string "hello!" to the versions tab for that version."
1. Create a dataset, publish.
2. Add a file, publish.
3. Look at version tab, see the word, "hello!" after the add files comment.

[2015-04-06 22:56] kcondon opened #1901 "Assign Role: Assigning roles to user does not update index."
I assigned both shib user and built in user admin role at root.
I noticed they had access to everything root admin had but could not see existing unpublished dvs, ds, or files. However, when as root admin, I created new unpublished dvs, ds, files, they could see the new ds and files but not the dvs. Likewise removing role does not remove the indexed but no longer accessible ds and files.

So there

[2015-04-07 13:08] bencomp commented on #1815
@posixeleni hmm, I see that I really meant *keyword field*, oops. Subject terms from this thesaurus, I my humble opinion, could be entered in the keyword field, with the URL of the thesaurus in the vocabulary URL subfield. (I was confusing *subject* with *keyword*, maybe because I thought of LCSH. LCSH is mentioned as a potential source of keywords for the keyword field, and the UAT appears to hav

[2015-04-07 13:35] posixeleni commented on #1815
@bencomp thanks for clarifying. We will have to review this after 4.0 to see if we can support options for indexing multiple controlled vocabularies in the Keyword field. At the moment it is a free-text field which allows for any term / vocabulary to be manually entered. Our system is not currently setup to allow users to choose from different vocabularies/ontologies/thesauri (like LCSH, MeSH, UAT

[2015-04-07 14:18] posixeleni opened #1902 "Data Citation Export: API Integration w/ EndNote"
Work with EndNote to allow for more seamless data citation export from Dataverse into EndNote using RESTful API. See email below from EndNote Developer:

[2015-04-07 14:25] posixeleni commented on #1203
This can also be something we work with Gus on to provide visualizations for World Wide Telescope files that can have a widget inserted in a journal article.

[2015-04-07 14:48] augustfly commented on #1300
watching to jump in later...

[2015-04-07 14:48] augustfly commented on #1203
Yep, @posixeleni!

[2015-04-07 15:26] kcondon opened #1903 "Metadata blocks: Geospatial and Journal metadata blocks are broken for compound fields, parents not identified correctly, leading to incorrect hidden designation."
Viewing the default display for the geospatial and journal metadata blocks at root when these are *not* selected shows the compound fields parent/child order is incorrect, ie. parents display below the children, and possibly as a result, the children are all marked as hidden when in fact they are not.

This also happens in a child dv when these blocks are chosen/ enabled. We do not have the abilit

[2015-04-07 15:42] scolapasta commented on #1884
While there is still work to be done on this on the usability side, since this is a super user feature, it is OK for 4.0.

[2015-04-07 15:49] mcrosas commented on #1815
This will also be a critical feature for life sciences metadata - supporting multiple controlled vocabularies for one field.

[2015-04-07 16:12] sekmiller commented on #1900
Removed the static "hello!" text @raprasad It looks like you were using this for debugging

[2015-04-07 16:13] sekmiller commented on #1896
Fixed Logic in Email Notifications - it was assuming the notification was pointing at a dataset version instead it was based on a dataset.

[2015-04-07 16:14] kcondon commented on #1843
I was able to reproduce this the buy editing a stale view of a dataset and then saving:
1. In one browser, create/edit a dataset, submit for review, leave page open.
2. In another browser, publish the dataset.
3. In the first browser, edit the submitted dataset, still showing draft, change something, save, see error.

@eaquigley @mheppler @scolapasta
I think the bug is when you click edit, it shou

[2015-04-07 16:16] kcondon commented on #1699
Closing as a duplicate

[2015-04-07 16:16] #1699 closed

[2015-04-07 16:40] scolapasta commented on #1901
@pdurbin can you look at 1, and I'll see what the issue is with 2?

[2015-04-07 16:43] sbarbosadataverse commented on #1709
all set!

[2015-04-07 16:43] #1709 closed

[2015-04-07 16:47] pdurbin commented on #1883
@scolapasta merged #1897 but we decided to change `break` to `continue` in 50a4b9a so that we don't stop indexing values on the first "N/A" in a list of controlled vocabulary values. Some of those values may not be "N/A".

Ready for QA.

[2015-04-07 16:48] sbarbosadataverse commented on #1843
All set!

[2015-04-07 16:48] #1843 closed

[2015-04-07 16:49] sbarbosadataverse commented on #1876
No error today.

[2015-04-07 16:49] #1876 closed

[2015-04-07 16:54] kcondon commented on #1855
This was removed/ corrected. Closing.

[2015-04-07 16:54] #1855 closed

[2015-04-07 17:02] kcondon commented on #1900
Hello! was removed, closing.

[2015-04-07 17:02] #1900 closed

[2015-04-07 17:03] kcondon commented on #1844
Closing as a duplicate.

[2015-04-07 17:03] #1844 closed

[2015-04-07 17:04] suenjedt commented on #1879
Works

[2015-04-07 17:04] #1879 closed

[2015-04-07 17:10] scolapasta commented on #1901
The answer to 2. Currently we don't have inheritance of permissions of at the dataverse level. ViewUnpublishedDataverse does not mean you get to view children, just if that dataverse is unpublished.

So you would not get to view any child unpublished dataverse unless you had that permission at the child. This is different with Datasets, because Datasets do inherit permissions from the Dataverse. S

[2015-04-07 17:12] kcondon commented on #1896
Works, closing

[2015-04-07 17:12] #1896 closed

[2015-04-07 17:15] sbarbosadataverse opened #1905 "Metadata can't be updated-contact support"
This came up when I used GSD custom fields, made fields required, and was attempting to add values, and hit save.

![ijjzvu-o0st5l9gai0venmkq6kktwtvx9byldjdsf2s](https://cloud.githubusercontent.com/assets/8322346/7029010/21d2b678-dd28-11e4-8c9f-18d5532ce1cc.png)

[2015-04-07 17:17] kcondon commented on #1848
OK, email is sent when notification is sent. Closing.

[2015-04-07 17:17] #1848 closed

[2015-04-07 17:22] posixeleni commented on #377
This is a feature that we now have a business case for: F1000 Research has authors with multiple affiliations (sometimes up to 6) and they will be sending us some examples shortly.

[2015-04-07 17:24] sbarbosadataverse opened #1906 "Root Dataverse > Account moving between tabs is slow and disrupted"
Stuck on blue rotating icon after a few clicks

![lnlfibazwsyteptqxq4mzx4n3gibykcdz8fokhwqugo](https://cloud.githubusercontent.com/assets/8322346/7029148/4bd0b8fc-dd29-11e4-9c4f-8cfebf471f30.png)

[2015-04-07 17:25] kcondon opened #1907 "File Upload: Csv files not ingested when added as part of a multi file zip upload."
Testing with a collection of sample files included in testfiles.zip. There are 15 or so files of each major type. There are 3 smaller csv files that attempt to ingest when uploaded alone or with 2 or 3 files but fail to attempt to ingest when uploaded as part of the larger zip file.

I can provide the test zip file.

[2015-04-07 17:28] suenjedt commented on #1867
With the current wording, I would propose to remove some "waivers" in the text in the individual record's ToU box, so that it would read the following:

Datasets will default to a CC0 public domain dedication. CC0 facilitates reuse and extensibility of research data. Our Community Norms as well as good scientific practices expect that proper credit is given via citation. If you are unable to give

[2015-04-07 17:36] sbarbosadataverse commented on #1732
all set!

[2015-04-07 17:36] #1732 closed

[2015-04-07 17:38] posixeleni commented on #1831
Cant test this until this issue https://github.com/IQSS/dataverse/issues/1903 is resolved since I cannot currently make the Country field required

![image](https://cloud.githubusercontent.com/assets/5013837/7029390/55fb2694-dd2b-11e4-8982-ff6995c25b94.png)

[2015-04-07 17:39] sbarbosadataverse commented on #1731
Change "Beta" label in navbar to "Upgrade In Progress" --- done
Link label to popup with more information --- done

About will link to http://dataverse.org - done
Feedback will change to Contact (navbar and contact form popup) - done

Footer: "Powered by Dataverse" logo will link to dataverse.org - done

and Privacy Policy will show with a link to the page on dataverse.org (http://best-practices.d

[2015-04-07 17:39] #1731 closed

[2015-04-07 17:39] sbarbosadataverse commented on #1155
@kcondon
the document referenced doesn't seem complete?? Can I test this yet?

[2015-04-07 17:46] suenjedt commented on #1851
Works.
However, when you confirm. You see the following:
![screen shot 2015-04-07 at 13 43 38](https://cloud.githubusercontent.com/assets/7300319/7029526/3d460730-dd2c-11e4-9859-6c8e663b1538.png)

I wonder, if it is confusing for an external/new user to see waiver, non-waiver, and selected alternative licence in one box here. Maybe one could remove the "waiver" information here and solely focus on

[2015-04-07 17:46] posixeleni commented on #1761
@kcondon not sure how to test this in build where we have only a small handful of datasets and are nowhere near anything in the thousands to verify that we are now seeing commas in larger numbers. I looked in vm5 but this also now currently only has a small handful of datasets. Can you advise where I can test for this?

[2015-04-07 17:58] sbarbosadataverse commented on #1426
Members role added with permissions to view unpublished dataverse/dataset
contributor can view unpublished dataset

[2015-04-07 17:58] #1426 closed

[2015-04-07 18:02] posixeleni commented on #90
Testing on Saved Search

"Your Dataverses" Dropdown box does not align properly with the field name:
![image](https://cloud.githubusercontent.com/assets/5013837/7029747/d220ef7c-dd2d-11e4-96d5-da31b4368a40.png)

[2015-04-07 18:05] kcondon commented on #1761
Test on one of the migration boxes when the update the code. Gustavo would be able to advise.
________________________________
From: Eleni Castro [notifications@github.com]
Sent: Tuesday, April 07, 2015 1:46 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Browse/Search - Number Format (#1761)

@kcondon<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_kcondon&d=BQMCa

[2015-04-07 18:07] posixeleni commented on #1761
@scolapasta can you please let me know when one of the servers used to test migration has the latest code so I can test and close this ticket?

[2015-04-07 18:12] mheppler opened #1908 "404 + 500 Error Page -- Clean Up"
- [x] Move page title, button, input placeholder, message text to bundle.
- [x] Make placeholder text have lower case "dataverse...".

[2015-04-07 18:17] suenjedt commented on #1864
Indeed, clearer.

Minor thing: The formatting in the table is not clean, but I understand it is for admins predominantly.
![screen shot 2015-04-07 at 14 16 18](https://cloud.githubusercontent.com/assets/7300319/7030174/b70a74da-dd30-11e4-9d11-30f537a7e517.png)

[2015-04-07 18:18] #1864 closed

[2015-04-07 18:22] posixeleni commented on #1889
@kcondon sorry for all the questions but according to Mike's last message in this ticket this was not yet merged with master. How can I test this? Unless you know that this was finally merged?

@mheppler can you please let me know what the harvested icon will look like so I know what to expect?

[2015-04-07 18:26] mheppler commented on #1889
@posixeleni @kcondon -- branch was merged this AM by @scolapasta 1378835f963306e594b243ae3daa0966c237fe4a

[2015-04-07 18:41] sbarbosadataverse opened #1909 "reset password page: the old password should be included for the user and doesn't appear to be the case"
the old password appears to be included in password reset, but when new password is entered it says the old password is incorrect

![39vvwyhta-y8zi8jfdofd1vkhsxjyyqc-lq8hs4ylco](https://cloud.githubusercontent.com/assets/8322346/7030650/00909cda-dd34-11e4-9c32-15e7202ce397.png)

[2015-04-07 18:47] pdurbin commented on #1784
There's definitely something weird going on. I just pushed some code to https://github.com/IQSS/dataverse-apitester/commit/79fb4b91f8bc3134cef6da271cd29dc8e4409387 to start reproducing this bug but I need more time to make an assessment.

(A more crucial bug has surfaced at #1901 that needs my attention.)

[2015-04-07 19:13] suenjedt commented on #1862
They show correctly.

[2015-04-07 19:25] posixeleni commented on #1889
@scolapasta which of the servers have migrated harvested datasets with the latest code from Mike? I need to know so I can test if the icon is showing up.

Thanks!

[2015-04-07 19:41] mcrosas commented on #1851
I agree this is confusing. @eaquigley could you review this with @suenjedt ? I t would make sense not to show the waiver information if terms of use are selected instead.

Also It would be clearer if the "community norms' text doesn't show as part of the waiver (it should be in a separate line)

[2015-04-07 19:49] posixeleni commented on #1851
we could still show this Waiver information when a user goes in to Edit but on View hide it right?

[2015-04-07 19:53] pdurbin opened #1910 "DataFile.getDisplayName NPE (can't create dataset)"
On 9123216 we saw a strange case on dvn-build where we could not create datasets. We believe that running "index all" fixed it.

Before the "index all" there was an NPE:

[code]

[2015-04-07 19:58] suenjedt commented on #1851
Good question. Initially I thought yes, but once it is published you should not be able to change the licence/waiver information for that version, anyway - non?

[2015-04-07 19:59] posixeleni commented on #1851
For that version yes but changing the license information should make you publish a new version. Is it not doing that now?

[2015-04-07 20:02] suenjedt commented on #1851
Yes - you are right. Just tested it. Works

[2015-04-07 20:15] pdurbin commented on #1784
I'm getting new behavior as of 71dc999 I think.

[2015-04-07 20:25] mheppler commented on #1908
Moved 404 and 500 error pages' page title, error message, button text, etc. to bundle.

[2015-04-07 20:26] pdurbin commented on #90
I just tried it locally (I'm on commit 71dc999) and it worked fine:

![1](https://cloud.githubusercontent.com/assets/21006/7032729/ae49d216-dd42-11e4-92f6-cb40b592b507.png)

![2](https://cloud.githubusercontent.com/assets/21006/7032732/b2ac6d64-dd42-11e4-8420-ba0901d2d56d.png)

@kcondon can you please try? If there's a stacktrace can you please grab it?

[2015-04-07 20:35] posixeleni commented on #90
Sorry @kcondon I am unable to login to do stacktrace. I reported the issue to HMDC support since the password is not letting me login.

[2015-04-07 20:38] pdurbin commented on #1901
That **would** be more accurate. The description currently reads "View an unpublished dataverse". A more accurate description would be "View this unpublished dataverse and its datasets but not its child dataverses (if any)." It gets a little verbose!

As I was telling @kcondon my rule of thumb is that a card shouldn't exist if clicking on it means you are prompted to log in. So I'm not going to to

[2015-04-07 21:06] raprasad commented on #1872
Logic in on local machine to follow discussed flow.

To do:
- [ ] Add message if user selected version doesn't match latest release
- [ ] Other than dropdown, how does user with ViewUnpublished access know that a DRAFT mode exists?  e.g. person taken right to latest released version.

[2015-04-07 21:47] #1862 closed

[2015-04-07 21:58] sbarbosadataverse opened #1911 "lock icon for restricted files has disappeared on main page"
The file is restricted in the dataset-when you browse in the dataverse you should see a restricted icon showing up next to the file name

![kmwpqiiyovwbac7n2z1jeqmtj1fqjf2pfwapnuru3eu](https://cloud.githubusercontent.com/assets/8322346/7034573/9b72bbb4-dd4f-11e4-804a-1b34f7d653e8.png)\

![rk4mt8n9qcydqgi5cncaiujghnlngywv0d8ec31n6xc](https://cloud.githubusercontent.com/assets/8322346/7034628/d6bae8

[2015-04-07 22:01] sbarbosadataverse commented on #1155
following this document: https://docs.google.com/spreadsheets/d/1skbZbetn7h7tB3Iaiyc0UQZZdYTUT4ir-HEenZo7g4U/edit#gid=0

DATAVERSE:
USER CONTACTED DV ADMIN - YES
DATAVERSE CREATED - YES

DATASET:
Create a dataset - (BY ADMIN!) --- Yes
New Version (minor) published -- NO NOTIFICATION to email or on dataverse
New version (major) published - No Notification to email or dataverse
Publishing dataverse

[2015-04-07 22:10] sekmiller commented on #1903
Fixed - new build required for testing

[2015-04-07 22:11] suenjedt commented on #1849
The pop up did not appear anymore when having an unrestricted, no guestbook, CC0 file.
Text change for ToU is visible here, http://guides.dataverse.org/en/latest/api/sword.html#dublin-core-terms-dc-terms-qualified-mapping-dataverse-db-element-crosswalk

[2015-04-07 22:11] #1849 closed

[2015-04-07 23:17] scolapasta commented on #1892
Still not sure why exactly this was happening, but fixed by switching the a call to save the file to re find the file by id (I think somewhere the method had pre merged data?)

[2015-04-08 13:21] posixeleni opened #1912 "Support for tsv file ingest for tabular data"
We currently do not support special ingest for tabular files that are in a tab-delimited format (.tsv). Spoke w/ @mcrosas that this is something we should also support if we already can handle .csv format which similarly looks at the first row of the table to grab variable metadata.

[2015-04-08 13:45] pdurbin commented on #775
On a related note, I just learned of a Java code coverage library called JaCoCo ( http://www.eclemma.org/jacoco/ ) at http://www.programmingthrowdown.com/2015/04/episode-41-nodejs.html that's super easy to use. You just add the following to your `pom.xml` and run `mvn package` to produce reports like in the screenshot below:

![shapefilehandler_-_2015-04-07_22 11 35](https://cloud.githubuserconten

[2015-04-08 13:48] pdurbin commented on #1784
Uh oh. When I pulled the latest (df14aee) and ran my test at https://github.com/IQSS/dataverse-apitester/blob/79fb4b91f8bc3134cef6da271cd29dc8e4409387/src/test/java/org/dataverse/apitester/sword/SwordTest.java#L156 two drafts are created:

![2drafts](https://cloud.githubusercontent.com/assets/21006/7046524/5fd4ddd2-ddd4-11e4-9448-7576d05c302a.png)

[2015-04-08 14:45] scolapasta opened #1913 "Review default admin e-mail / values"
We need to decide what the best default admin e-mail address is.

[2015-04-08 14:45] scolapasta commented on #1882
We're fine with support@dataverse.org as the system e-mail.

[2015-04-08 14:45] #1882 closed

[2015-04-08 14:48] scolapasta commented on #1895
Review all the sub buttons under edit (permissions, etc).

[2015-04-08 14:56] scolapasta commented on #1906
@kcondon will test some more to evaluate the scope of the issue.

[2015-04-08 14:58] sbarbosadataverse commented on #1643
@mheppler "No template-Clear default values" clears all fields except for "author" and "contact." Is this what I'm expecting in build or should all fields be cleared?

[2015-04-08 15:04] mheppler commented on #1643
@sbarbosadataverse -- that dropdown option is up to debate and will hopefully be redesigned to be clearer in a later release #1674.

That said, if the template enters "author" and "contact", then it should be cleared. If those fields are automatically pre-filled with user information from the current user in session, then those won't get removed by selecting that option. I think.

[2015-04-08 15:09] sekmiller commented on #1895
With respect to deaccession - the link was rendering if the user has delete dataset permission, but the command required publish dataset permission.

[2015-04-08 15:14] posixeleni commented on #1889
tested this on vm5 and I am now seeing the harvested icon
![image](https://cloud.githubusercontent.com/assets/5013837/7048328/69bc7bc8-dde0-11e4-8e1c-9e62f79661ab.png)

Closing since this works as expected.

[2015-04-08 15:14] #1889 closed

[2015-04-08 15:30] kcondon opened #1914 "Email: Create account email says welcome to Dataverse 4.0 Beta, should remove beta and maybe 4.0?"
@eaquigley
Just created an account and got a nice welcome email. Saw it said welcome to Dataverse 4.0 Beta. Since we are close to releasing, we should remove beta and depending on how it gets 4.0, we may consider removing that. If automatically populated, then ok.

[2015-04-08 15:33] sbarbosadataverse opened #1915 "Notification that a user has requested access to a restricted file is extremely limited/need more information"
There are three restricted files in this study, doesn't tell me which study and who requested access

![nxhfrykzj70jvr3mkesdglrvzb3lt1qkoubvmrqerhc](https://cloud.githubusercontent.com/assets/8322346/7048777/fa9c9342-dde2-11e4-8bc3-7dcc97bb335d.png)

[2015-04-08 15:45] scolapasta commented on #1909
Reviewed with @sbarbosadataverse; the issue was that her browser was storing the password for the "admin" account and she was logging in as a different account.

This is browser password storing behavior and not on our side.

[2015-04-08 15:48] posixeleni commented on #1903
Needed to test this before being able to test #1831 and this is now working as expected. Closing.

[2015-04-08 15:48] #1903 closed

[2015-04-08 15:51] posixeleni commented on #1831
Double validation error is no longer showing. Issue resolved. Closing this ticket

![image](https://cloud.githubusercontent.com/assets/5013837/7049173/8c475d02-dde5-11e4-8faf-bebd1c853b91.png)

[2015-04-08 15:51] #1831 closed

[2015-04-08 15:54] posixeleni commented on #1881
Able to Add Dataset in Chrome now. Works as expected.

[2015-04-08 15:54] #1881 closed

[2015-04-08 15:59] scolapasta commented on #1915
That is the messaging for this notification for 4.0/ Post 4.0 we will add more detail. It should however have a link to the file permissions page to get that.

@eaquigley can you take a look at if this is something that just needs to be added to the bundle? You can consult with @sekmiller

[2015-04-08 16:00] suenjedt opened #1916 "As a researcher, I want to know what dataset/dataverse a contact email is referring to so that I can follow up"
I tried to contact dataset contacts and received the emails as expected. I just wanted to raise that there was no context info given: which dataset/dataverse, who wrote (I was logged in) etc. Thought that might be helpful for potential recipients.
![screen shot 2015-04-08 at 11 59 17](https://cloud.githubusercontent.com/assets/7300319/7049329/b7bcb7b0-dde6-11e4-8b86-bc691090c444.png)
![screen shot

[2015-04-08 16:05] scolapasta commented on #1787
When you get the "The metadata could not be updated. Please contact support." it just means an unexpected system error occurred and could be a # of things. The one about the action log seems to be the same issue as #1905, which is a bean validation constraint error (we have updated the code to provide a better error message in log and see this). We will investigate that one under #1905.

The other

[2015-04-08 16:06] kcondon commented on #1909
Closing

[2015-04-08 16:06] #1909 closed

[2015-04-08 16:10] kcondon commented on #1873
Was able to reproduce: it only works for 2 levels of dataverses.

[2015-04-08 16:13] kcondon opened #1917 "Guestbook: No copy button for inherited guestbooks."
Inherited guestbooks should not be editable by children dvs but they should be able to be copied. Confirmed with Mike.

[2015-04-08 16:49] sekmiller commented on #1895
Fix checked in

[2015-04-08 17:01] bencomp commented on #775
@pdurbin even red bars in such a report look a lot better than encountering `// TODO: implement test` in a test class. I'd say go ahead :+1:

I'm tempted to add "limit length of methods" to the style guide, but I don't know the reasons for creating [~300 line methods](https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/ingest/IngestServiceBean.java#L1632)

[2015-04-08 17:04] mheppler commented on #1887
Please make "Dataset" lowercase. Review the format of these messages with @eaquigley.

[2015-04-08 17:20] suenjedt commented on #1839
When I am logged in as admin, I can search, find and access the draft version (old versions not shown in search results).
When I am logged in with my guest account, I cannot find it.

[2015-04-08 17:23] kcondon commented on #1895
This works now, closing.

[2015-04-08 17:23] #1895 closed

[2015-04-08 17:26] kcondon opened #1918 "Deaccession Dataset: Upon deaccessioning dataset, user is shown 404 error."
I deaccessioned a dataset that had only a single published version and saw a 404 error. This is related to the recent version state handling changes.

Saw some info in the server log:

[2015-04-08T13:11:19.838-0400] [glassfish 4.1] [WARNING] [] [edu.harvard.iq.dataverse.DatasetVersionServiceBean] [tid: _ThreadID=411 _ThreadName=jk-connector(2)] [timeMillis: 1428513079838] [levelValue: 900] [[
  Da

[2015-04-08 17:26] suenjedt opened #1919 "Empty search on root does not give any results"
... and shows "Null".
I would expect this search to show the complete repository content.

![screen shot 2015-04-08 at 13 24 42](https://cloud.githubusercontent.com/assets/7300319/7050947/b8a84bba-ddf2-11e4-956f-e5ed10dd833b.png)

[2015-04-08 17:29] sbarbosadataverse opened #1920 "Update ICSPR IP address range/access"
ICPSR Direct Permitted Addresses

Institution Name: Harvard University

Institution Number: 45

Last Changed: Unrecorded

Allowed IP Addresses:

128.103.0.0/16
131.142.0.0/16
134.174.14.0/23
134.174.140.0/22
134.174.144.0/20
134.174.16.0/23
134.174.160.0/21
134.174.168.0/22
134.174.172.0/23
134.174.174.0/24
134.174.178.0/23
134.174.180.0/22
134.174.184.0/21
134.174.193.0/24
134.174.4.0/22
140.247.

[2015-04-08 17:41] kcondon commented on #1787
Closing as duplicate, opening a messaging ticket for concurrent use for 4.0.1

[2015-04-08 17:41] #1787 closed

[2015-04-08 17:45] kcondon opened #1921 "Save Dataset: Concurrent access or stale read results in cannot update metadata. Investigate better workflow."
Not sure how much work this should get but if I try to save a dataset that had been modified while I was editing or if I am viewing a draft version that became published while I was viewing it and then edit from that view, on saving I get cannot update metadata and essentially a concurrent access error in the log file.

Not sure whether this can be improved but submitting for review.

[2015-04-08 17:46] kcondon commented on #1906
This happens for admin on build but not for admin on vm6. Works for other users on build.

[2015-04-08 17:46] posixeleni commented on #1489
@scolapasta can we meet next week to discuss what remains to be done for this? And who needs to work on documenting each API. @mcrosas and I spoke recently that the API Guides will need to be ready sooner than other guides (aside from User Guide) since we want others to easily be able to integrate with us ASAP after 4.0 is released.

[2015-04-08 18:01] kcondon commented on #1892
OK, works now, closing

[2015-04-08 18:01] #1892 closed

[2015-04-08 18:09] kcondon opened #1922 "Server log: More cleanup for verbose logging"
When I perform a search, say on "data", I see lots of server log entries:
https://localhost/dataverse/root?q=data

[2015-04-08T14:06:10.775-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.SolrSearchResult] [tid: _ThreadID=427 _ThreadName=jk-connector(5)] [timeMillis: 1428516370775] [levelValue: 800] [[
  SolrSearchResult class: title:[Replication <span class="search-term-match">Data</spa

[2015-04-08 18:11] kcondon commented on #90
@posixeleni Can you try again? I was not able to reproduce this.

[2015-04-08 18:18] raprasad commented on #1893
Moving to QA
@kcondon

[2015-04-08 18:33] eaquigley commented on #1867
Great suggestions @suenjedt . I've taken the extra waivers out and think post 4.0, we can discuss the location of the icon.

[2015-04-08 18:33] #1867 closed

[2015-04-08 18:52] eaquigley commented on #1774
So this is turning out to be a bigger situation. The Sharres aren't being counted properly in the UI but it is showing in Google Analytics so that is GREAT NEWS. I am closing this ticket and opening another one to review Sharres and look into other options.

[2015-04-08 18:52] #1774 closed

[2015-04-08 19:15] mheppler opened #1923 "Dataset Metadata - Contact "[Email in Contact button above]""
The message displayed next to the Contact name, in place of the email, needs to be cleaned up, styled, reviewed, changed.

![screen shot 2015-04-08 at 3 14 19 pm](https://cloud.githubusercontent.com/assets/687227/7053281/ef19cfd4-de01-11e4-9afa-553a36710aa6.png)

[2015-04-08 19:26] scolapasta commented on #1919
Duplicate of #1338

[2015-04-08 19:36] mcrosas opened #1924 "Remove Federated Dataverse"
We don't need anymore the "federated dataverse" dataverse. We should have keep the dataverses under this dataverse that we harvest, but a few of them should be removed because we don't harvest anymore. The harvested dataverses should be renamed adding "harvest" in the name, for example, "ODUM Harvested Dataverse"

[2015-04-08 19:38] mheppler opened #1925 "Header Navbar "Community & Support" - New Links"
The link for "Community & Support" under the Support dropdown in the header navbar, needs to be split into two separate links.

From @mcrosas + @eaquigley:

[2015-04-08 19:50] kcondon commented on #1908
404 page looks good, not sure how to generate 500 error. Closing but will keep an eye out for it.

[2015-04-08 19:50] #1908 closed

[2015-04-08 20:13] mheppler commented on #1925
Added new URLs in the navbar for Support dropdown options Comminuty and Support. Added navbar open-dropdown background styles to stylesheet.

[2015-04-08 20:29] scolapasta commented on #1784
OK, so attempting to fix this has been trickier than we anticipated. So, for 4.0, what we've done is not allow deleting of any file from a released dataset version. What that means is that if you try the above the delete will fail with this error:
"Could not delete file: edu.harvard.iq.dataverse.engine.command.exception.CommandException: Cannot delete files from a released version. Please create a

[2015-04-08 20:31] rliebz commented on #1784
Is there a simple way to create a draft version of the dataset through the API without making any changes?

[2015-04-08 20:38] eaquigley opened #1926 "Google Analytics + Sharre: Review other options"

[2015-04-08 20:45] pdurbin commented on #1784
@rliebz if you send the same XML you used to create the dataset, it should create a draft version.

[2015-04-08 20:51] rliebz commented on #1784
Does this update the metadata? SWORD doesn't return as much metadata as you send, so for pre-existing datasets, I wouldn't want to remove any metadata that I don't know about.

[2015-04-08 20:57] pdurbin commented on #1922
As of 24aae98 these are places where we should do some cleanup (but won't be part of my next commit):

[code]

And I'm sure there's more...

[2015-04-08 21:10] raprasad commented on #1872
handing over to QA.  (Note, I'm still looking at #1899)

@kcondon

[2015-04-08 21:14] raprasad opened #1927 "Dataset Page, add DatasetVersion id as query string parameter"
Add something similar to this method in the DatasetVersionServiceBean:

(Deferring from #1872)

[code]

[2015-04-08 21:23] kcondon commented on #1893
OK, went to versions tab with draft and other versions and do not see the server log error. Closing.

[2015-04-08 21:23] #1893 closed

[2015-04-08 21:25] kcondon commented on #1919
Closing as duplicate.

[2015-04-08 21:32] mheppler opened #1928 "Search Results - Improve Results"
On our test server, with the migrated production data, I ran a simple search for "murray" in attempt to locate the "Murray Research Archive Original Collection Dataverse". (FULL DISCLOSURE: Being able to search for AND FIND a dataverse is a very important feature for me, personally. I was hired to customize dataverses, and I can't tell you the amount of man hours I wasted my first few months here,

[2015-04-08 21:42] sbarbosadataverse commented on #1928
I noticed that in searching today too...v6.
On Apr 8, 2015 5:32 PM, "Michael Heppler" <notifications@github.com> wrote:

[2015-04-08 21:53] sekmiller commented on #1917
Fixed. needs a build for testing

[2015-04-08 21:54] sekmiller commented on #1873
Fixed. needs a build for testing

[2015-04-08 22:03] kcondon opened #1929 "API: Deleting a user does not clean up roles, can introduce undesirable behavior."
Phil indicated that the delete user api only deletes the user and does not clean up any associated roles, nor does it check whether it will orphan any object: dv, ds. This could lead to undesirable behavior, perhaps security issues.

[2015-04-08 22:41] mheppler opened #1930 "Dataverse Browse/Search - Improve Layout"
With the real production data migrated over to our test servers, the dataverse page is looking a little too dense. This can be improved with some simple CSS improvements -- mainly bumping down the font-size of most elements, in order to improve the visual hierarchy on the page.

- Facet Links
- Result card description, metadata, citation

![screen shot 2015-04-08 at 5 55 54 pm](https://cloud.githu

[2015-04-08 22:58] raprasad commented on #1918
Fixed if deaccessioned version number is in url

[2015-04-08 22:59] raprasad commented on #1918
moved to qa

[2015-04-08 23:47] kcondon opened #1931 "Guestbook: Guestbook data has blank dataset name if dataset is not published."
I created a guestbook for a dataset that was not yet published. I downloaded a file, completed the guestbook and checked the collected data. The dataset name was blank. After publishing new downloads have the dataset name.

[2015-04-08 23:48] kcondon commented on #1873
Works, closing.

[2015-04-08 23:48] #1873 closed

[2015-04-08 23:54] raprasad commented on #1899
Reproducible bug.  Needs more investigation of how the async. ingest process works with the DatasetPage.  The DRAFT version is being retrieved after file is saved.  However, it is not the version getting to the screen.

Talked @scolapasta and moving to review

[2015-04-09 00:00] kcondon commented on #1917
OK, can now make copies of inherited guestbooks. Closing.

[2015-04-09 00:00] #1917 closed

[2015-04-09 00:00] kcondon opened #1932 "Guestbook: Cannot delete a guestbook"
Cannot delete a guestbook.

[2015-04-09 00:03] kcondon commented on #1930
OK, closing.

[2015-04-09 00:03] #1930 closed

[2015-04-09 00:05] scolapasta commented on #1905
CVV Datasetfields were still being saved in db. This is now removed.

[2015-04-09 00:07] kcondon commented on #1925
Looks good, closing.

[2015-04-09 00:07] #1925 closed

[2015-04-09 00:15] eaquigley commented on #1914
done in 0bd57136e077d8bc0d8a03a2c8d95cf3370a65f7

[2015-04-09 00:19] kcondon commented on #1918
Now throws exception in UI, see server log error:
[2015-04-08T20:19:05.004-0400] [glassfish 4.1] [WARNING] [] [edu.harvard.iq.dataverse.DatasetVersionServiceBean] [tid: _ThreadID=131 _ThreadName=jk-connector(3)] [timeMillis: 1428538745004] [levelValue: 900] [[
  DatasetVersion not found: SELECT dv.* FROM DatasetVersion dv INNER JOIN Dataset ds ON dv.dataset_id=ds.id AND ds.protocol= 'doi' AND ds.a

[2015-04-09 00:27] scolapasta commented on #1928
Moving to Beta 15, as critical to investigate what we might be able to do.

[2015-04-09 00:37] kcondon commented on #1788
Works, closing.

[2015-04-09 00:37] #1788 closed

[2015-04-09 00:55] raprasad commented on #1918
checking it.  @kcondon

[2015-04-09 01:22] scolapasta commented on #1914
See line 267 of MailServiceBean - we need to move this text to the bundles, as well as the do not reply and dataverse network references (which should be removed / replaced with better text).

[2015-04-09 01:42] pdurbin commented on #1901
60e82b1 seems like a good fix and I went over it with @scolapasta

Datasets that are direct children of the root dataverse were not being indexed when roles were granted. This should be fixed.

Because there is no inheritance of permissions, we switched away from using a Solr query to determine the subtree of candidates for re-indexing. We are querying the database instead.

Passing to QA.

[2015-04-09 01:48] pdurbin opened #1933 "Uploading zip files stopped working"
@scolapasta is aware of this but as of a42f628 we can no longer upload files via SWORD.

(Reverting that commit locally fixed the problem.)

To reproduce, for example:

curl -s --insecure --data-binary @scripts/search/data/binary/trees.zip -H 'Content-Disposition: filename=trees.zip' -H 'Content-Type: application/zip' -H 'Packaging: http://purl.org/net/sword/package/SimpleZip' -u 22416513-1a1f-418

[2015-04-09 01:56] posixeleni commented on #90
@kcondon try to reproduce the issue by doing the following:

- Go to root in build
- search for "test"
- select Save Linked Search
- Pop-up appears and select to add it to a dataverse (i have tried adding it to a couple)
- blue circle spins and spins but doesnt seem to go anywhere (does it timeout?)
![image](https://cloud.githubusercontent.com/assets/5013837/7059149/d8a82786-de39-11e4-87c6-8e604ac

[2015-04-09 02:03] pdurbin commented on #1489
Putting "all native APIs" on a single page at http://guides.dataverse.org/en/latest/api/native-api.html feels wrong since there are so many endpoints there.

Are we saying that creating a dataset with JSON is an advanced operation?

[2015-04-09 02:18] pdurbin commented on #1928
I created at Dataverse 4.0 Search Relevance Functional Requirements doc we can collaborate on: https://docs.google.com/a/harvard.edu/document/d/1W5UM076mMO8xFtl6t0X_eTnYmcb3G5HOUEQo_O-BsuQ/edit?usp=sharing

[2015-04-09 02:21] pdurbin commented on #1784
Hmm, if you want preserve all the metadata, I would recommend the "native" API: http://guides.dataverse.org/en/latest/api

[2015-04-09 02:23] pdurbin commented on #1929
Related is the "Stop using `@pete` and `@uma` in role assignments" issue: #1151

[2015-04-09 02:23] eaquigley commented on #1915
@sekmiller could you also please take out the Please do not reply to this email text and remove Network from the signature so it reads The Dataverse Project instead of The Dataverse Network Project

[2015-04-09 02:24] sekmiller commented on #1914
That method is not used for the notification email.  I left all of the original methods in the bean, but the notification emails come from a single method sendNotificationEmail which uses the Bundle.

[2015-04-09 02:35] sekmiller commented on #1915
Removed the Please do not reply and "Network"

[2015-04-09 03:51] scolapasta commented on #1933
This should now be fixed.

[2015-04-09 03:52] scolapasta commented on #1905
The other issue was that blank fields were getting created when going to view. Which mean that when you published a dataset, those blanks were getting saved to the db.

This should be all set now. @sekmiller knows how to consistently reproduce the issue, so can help test.

[2015-04-09 03:53] scolapasta commented on #1905
Please note, the previously created datasets that had this issue will continue to have this issue, as the bad data is already in the db.

[2015-04-09 03:58] scolapasta commented on #1929
What do you mean by orphan any objects?

[2015-04-09 04:43] scolapasta commented on #1914
@sekmiller we should remove all the old methods

[2015-04-09 10:33] bencomp commented on #1200
Duplicate of #1167?

[2015-04-09 11:03] bencomp opened #1934 "Glassfish is installed and run as root"
The installer script (#1119) requires that it be run as root. Glassfish is installed by this script, possibly making root the owner of the Glassfish server.

In our test environment, Glassfish now runs as the root user.

I am told running Glassfish as root is **very bad practice** and unnecessary. As we followed install instructions closely, I suspect the script is in some way responsible and woul