[2016-05-20 13:23] sekmiller commented on #3049
@eaquigley @sbarbosadataverse
Do we want other installations to be able to set their demo environment or are we OK with all of them using our Demo Dataverse?

[2016-05-20 13:39] eaquigley commented on #3049
@sekmiller I'm fine with it not be configurable!

@sbarbosadataverse

[2016-05-20 13:41] eaquigley commented on #3071
@sekmiller @kcondon I would just have the first sentence not render if there is no set file upload limit.

[2016-05-20 13:47] eaquigley commented on #3075
spoke to @sekmiller and we will have the message say,

"By default, datasets in the {insert installation name} Dataverse are published with the CC0 Waiver <insert link to waiver site behind CC0 Waiver>. To publish with custom Terms of Use, click the Cancel button and go to the Terms tab for this dataset."

[2016-05-20 14:20] sekmiller commented on #3071
Fixed and checked into https://github.com/IQSS/dataverse/tree/3049-accout-notification branch

[2016-05-20 14:23] sekmiller commented on #3075
Fixed, that is the setup-optional-publish-terms.sh script has been updated to reflect the new disclaimer.
In order to fix production, we need to modify the setting table.  Let me know if you have any questions about the update query required for this.

Fix applied in this branch:
https://github.com/IQSS/dataverse/tree/3049-accout-notification

[2016-05-20 14:25] sekmiller commented on #3049
Fix checked into the branch created for this ticket.

[2016-05-20 21:31] sbarbosadataverse commented on #3129
@pdurbin  any update? Thanks

[2016-05-21 01:30] posixeleni commented on #568
http://www.slideshare.net/JiscRDM/research-data-metrics-for-usage (another item to read when working on COUNTER)

[2016-05-22 02:44] kcondon commented on #3122
Works, closing.

[2016-05-22 02:44] #3122 closed

[2016-05-22 02:45] kcondon commented on #3119
Was no longer able to reproduce, closing.

[2016-05-22 02:45] #3119 closed

[2016-05-22 02:46] kcondon commented on #3116
@sbarbosadataverse Can you take a look at this and update this ticket? Thanks.

[2016-05-22 02:47] kcondon commented on #3091
These issues have been addressed. Closing.

[2016-05-22 02:47] #3091 closed

[2016-05-22 02:48] kcondon commented on #3044
This was fixed in pull request, closing.

[2016-05-22 02:48] #3044 closed

[2016-05-22 02:50] kcondon commented on #1762
Updated as described, closing.

[2016-05-22 02:50] #1762 closed

[2016-05-22 02:54] kcondon opened #3132 "Widgets: Advanced options, cancel button does not appear to cancel"
Tested on Windows using Chrome, Version 50.0.2661.102 m

Using advanced options to set a forwarding URL, cancel appears to save the value entered when you return to the form.

[2016-05-23 14:25] davidandradeb commented on #2628
In this blog exaplained how to fix issue replace an archive.
http://ayudasdesarrollo.blogspot.com.co/2016/05/glassfish-441-falla-con-jax-rs-y-json.html

[2016-05-23 16:24] sbarbosadataverse opened #3133 "Permissions: approved users go "missing" from permissions page"
Brain Genomics Dataset specific at the moment.
Gustavo has looked into this and I am unable to determine why approved users go missing from the permissions page.
Tim reported today again, that the issue is still happening.

[2016-05-23 18:34] pdurbin commented on #1991
@bmckinney and I discussed this and decided that his pull request at #3082 seem to be a fix so I listed it under "related issues" in that pull request and am sending this issue to QA.

[2016-05-23 21:09] kcondon commented on #3116
OK, tested 2 scenarios, both user reported:
1. Drag and drop is missing files.
2. Uploading zip file does not work.

Tested on both the current version in production, 4.3.1 and the release in progress, 4.4, which contains a fix for ConcurrentModificationException.

This is what we found:
I. Drag and drop missing files:
-both v4.3.1 and v4.4 showed the same failure of missing files when moving two

[2016-05-23 22:26] kcondon opened #3134 "Documentation: Building PDF version of docs results in error"
l.3553 \begin{itemize}

@pdurbin I think you said you were familiar with this problem? Can you help?

!  ==> Fatal error occurred, no output PDF file produced!
Transcript written on Dataverse.log.
make[1]: **\* [Dataverse.pdf] Error 1
make[1]: Leaving directory `/var/lib/jenkins/workspace/guides.dataverse.org-rfi/doc/sphinx-guides/build/latex'
make: **\* [latexpdf] Error 2
Build step 'Execute shel

[2016-05-23 22:50] kcondon opened #3135 "Widgets: Download citation, BibText shows spinner, does not go away."
BibText citation format opens in the browser and displays the animated spinner. It does not go away even after displaying the citation.

Happens in both Chrome and FF.

[2016-05-23 23:56] kcondon opened #3136 "Widgets: Guestbook response is not being recorded."
With or without guestbook enabled, download info is not being recorded.

[2016-05-24 14:36] bencomp commented on #2255
After the [recent conversation in the Community group](https://groups.google.com/forum/#!topic/dataverse-community/G9TMVnhab5A) between @pdurbin and @shlake, I realised this morning that I had overlooked something pretty essential: apart from the roles *dataset creator*, *contributor* and *curator* at the *dataverse* permission level, there are *dataset* level roles called *contributor* and *curat

[2016-05-24 14:44] pdurbin commented on #2255
@bencomp yes, the top panel is essential because it allows you to choose between "Contributor" (the default) and "Curator" when answering the question, "What should be the default role for someone adding datasets to this dataverse?"

![dv3](https://cloud.githubusercontent.com/assets/21006/15508168/6394d046-219c-11e6-8dd5-a50aef17544c.png)

If there is an API call to control this I'm not aware of i

[2016-05-24 15:23] sekmiller commented on #3132
Fix checked in to the widgets branch.

[2016-05-24 15:25] sekmiller commented on #3136
@kcondon Was the dataset in draft status? If so, guestbook responses are purposely suppressed.

[2016-05-24 15:43] posixeleni commented on #2721
Scholars Portal has mapped DDI to MARC and have shared with us their documentation
[marc.zip](https://github.com/IQSS/dataverse/files/279869/marc.zip)
: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/dataverse-community/iwYEwAJRmtQ/2KIaADLNAAAJ

[2016-05-24 15:55] pdurbin commented on #3134
Here's more of the error as of a build from c81b7cf9e1c5486361bfd0d7b720eef1f231dbca

[code]

The last successful build was from 11ad621673d569a85287c0d12da1e95a2b89a0d9 and ended with this:

[code]

So I guess something bad happened between 11ad621 (which shipped as part of 4.3.1) and c81b7cf (which is in the 2469-widgets branch). The 2469-widgets branch is pull request #3118 and the only change

[2016-05-24 17:09] sekmiller commented on #3136
can't recreate this one....

[2016-05-24 18:56] pdurbin commented on #1070
I just opened pull request #3137 as a fix for this issue. Passing to QA.

[2016-05-24 18:57] pdurbin commented on #2495
I just opened pull request #3137 as a fix for this issue. Passing to QA.

[2016-05-24 19:07] pdurbin commented on #784
I just opened pull request #3137 as a fix for #1070 and #2495 but I'm passing this issue to QA because my new fix is so closely related to the performance fix I put in for #2012 but now I'm restoring group support (except Shib groups) when retrieving the SWORD Service Document.

@michbarsinai I'd be interested to get your feedback on the latest iteration of a method I keep tweaking to go from (Use

[2016-05-24 21:40] kcondon commented on #3136
User error. Closing.

[2016-05-24 21:40] #3136 closed

[2016-05-24 21:56] kcondon commented on #3132
Fix works, passing back for review.

[2016-05-25 12:54] pdurbin opened #3138 "User Guide: Add section about Private URL"
This morning @posixeleni and I chatted about how the User Guide should be updated to explain the Private URL feature once it lands in "develop". She'll be doing the writing so I'm assigning this issue to her.

As of this writing pull request #3111 has not yet been merged so the most logical place to update the User Guide is in the branch on which the pull request is based: https://github.com/IQSS/

[2016-05-25 13:29] raprasad opened #3139 "Decide on a datastructure/mechanism to capture dataset mode"
The Biomedical (Helmsley) and Interactive/Streaming Datasets (Sloan)* will have distinct dataset page views.  The functionality for these views is diverse/complex enough that it cannot be easily "tacked" onto the existing code.  e.g. A dataset should inherently know it's mode or type.  What is the data structure/strategy to capture this?

[2016-05-25 13:49] sekmiller commented on #3132
@mheppler
I used this from PrimeFaces:

http://www.primefaces.org/showcase/ui/misc/resetInput.xhtml

In particular I adapted this code to the cancel button on the Advanced Options Popup:
            <h:commandButton value="Reset p:ajax" style="margin-right:20px;" >
                <p:ajax update="panel" resetValues="true" />
            </h:commandButton>

Any Comments? Objections?

[2016-05-25 14:07] pdurbin commented on #2117
The other day I asked @scolapasta if I should pass this to QA and give it a milestone of 4.4 and he indicated that I should so I'm doing that now.

From my perspective, the Shib code is in much better shape in the "develop" branch than is was in previous releases (v4.3.1 is the latest release as of this writing) since the following pull requests have been merged:

- #3025 Shibboleth: Remote Authen

[2016-05-25 14:12] pdurbin commented on #2937
We've been tracking InCommon registration for Harvard Dataverse servers in INC01226245 but now there is also IAMPROJECT-412 in Jira. I am blocked but on this but @donsizemore indicated at https://help.hmdc.harvard.edu/Ticket/Display.html?id=233688#txn-4712505 that Odum/UNC might be able to register a Dataverse server with InCommon so that some testing could potentially take place there.

[2016-05-25 14:16] pdurbin commented on #3139
Right, @raprasad explained the other day that in this experiment to relationship to the dataset id is expressed in his InteractiveDataset object: https://github.com/IQSS/dataverse/blob/3102-geotweets/src/main/java/edu/harvard/iq/dataverse/interactivedataset/InteractiveDataset.java

    @OneToOne
    @JoinColumn(name="dataset_id")
    @Expose
    private Dataset dataset;

It sounds like instead the

[2016-05-25 14:17] donsizemore commented on #2937
Phil: Odum is currently working on registering dataverse-test.irss.unc.edu and dataverse.unc.edu with InCommon (so far, they're each registered with SSO.unc.edu and we're currently wrangling the Shibboleth configuration). Please pardon any break-age on our current Shibboleth test server.

[2016-05-25 16:40] mheppler opened #3140 "Cite Data: Various formats of citation are not accessable via URL"
In the [Widgets project](https://github.com/IQSS/dataverse/pull/3118), changes to how a user can access the various formats of the dataset citation were implemented, with the intent to improve the UX. Additional improvements should be made to access these formats directly through a URL.

For example, the URL to access the BibTeX version is:

[code]

Instead of pointing to the dataset pg, ideally w

[2016-05-25 16:56] mheppler commented on #3135
Added target attribute to anchor link for BibTeX format of dataset citation in the Cite Data dropdown on dataset pg. That fixed the problem with it opening within the widget, and the blue spinner being displayed (it was there because it is the background image of the widget's iframe).

This issue raised another issue, where I noticed the URL of the BibTex version was just the dataset URL, and not

[2016-05-25 17:18] mheppler commented on #3132
It looks like instead of updating the inputText and the messages components via the ajax tag, if you update the dialog with `themeWidgetsForm:advancedOptions` it returns the watermark to the input on cancel.

[2016-05-25 18:17] sekmiller commented on #3132
Awesome! Thanks, Mike. I will make that change.

[2016-05-25 18:25] sekmiller commented on #3132
Fixed the watermark per Mike's suggestion. Checked into Widgets Branch.

[2016-05-25 18:31] raprasad opened #3141 "Dataverse shapefile API not catching potential null"
This bug was put into the last release:

[code]

Fix:

[code]

For the interim, it is fixed at the Geoconnect level by passing an empty string in the JSON instead of a null.

[2016-05-25 18:56] pdurbin commented on #2225
At https://github.com/IQSS/dataverse/pull/3137#issuecomment-221651754 and below @sekmiller and I have been discussing a related problem where a 500 error from ArrayIndexOutOfBoundsException was seen and a dataset couldn't be created. This seems to be more about EZID being down than DataCite though:

![screen shot 2016-05-25 at 2 48 38 pm](https://cloud.githubusercontent.com/assets/21006/15552538/d

[2016-05-25 19:38] pdurbin commented on #3140
I don't believe there are any formal requirements for this feature but here are some quick notes from a conversation with @scolapasta

- 4 formats:
  - regular citation
  - bibtex
  - RIS
  - EndNote XML
- per dataset version, see `:latest-published` and friends at http://guides.dataverse.org/en/4.3.1/api/native-api.html#datasets
- drafts too but check with @posixeleni
- should all open in browser

[2016-05-25 20:03] posixeleni commented on #3140
@pdurbin regarding your https://github.com/IQSS/dataverse/issues/3140#issuecomment-221683642 comment/question about drafts: yes on drafts being able to support export on citations since researchers may want to add their data citation in pre-publication (hence why we already have a DOI reserved).

[2016-05-25 20:33] kcondon commented on #3141
Works, closing.

[2016-05-25 20:33] #3141 closed

[2016-05-25 21:27] kcondon commented on #3049
@eaquigley @sekmiller
Email and notification messages are different, neither has support info (should it?) and email shows actual links and one is not clickable.

email:
Hello,
Welcome to Dataverse! Get started by adding or finding data. Have questions? Check out the User Guide at http://guides.dataverse.org/en/4.3.1/user/ or contact Dataverse Support for assistance. Want to test out Dataverse fea

[2016-05-25 21:34] kcondon commented on #3071
@sekmiller This works but also needs to go on the create dataset page.

[2016-05-25 21:38] eaquigley commented on #3049
@kcondon i'm confused, in the notification are there no links behind the User Guide and Demo Site text? Also, if I am remembering correctly, the emails are difficult to customize or something like that for other installations so we weren't having support@dataverse.org in them. @sekmiller @scolapasta please clarify if I have this wrong.

[2016-05-25 21:45] kcondon commented on #3049
@eaquigley OK, when I copied and pasted into github it did some funny things with links. I'll forward you my email, the demo link is not clickable in email. Both are clickable links in notification, just that the email had a mention of support and notification does not.

[2016-05-25 22:00] kcondon commented on #3075
Works but needs a little attention on line spacing. 3 br's is too many. 2 works.

[2016-05-26 13:30] pdurbin commented on #3140
Related: Include dataset citation in native API #2059

[2016-05-26 14:08] mheppler commented on #2588
A static maintenance pg has been created, based on input from a quick [FRD](https://docs.google.com/document/d/1lyEnvFzOPfm-GSwzokM9k6rgSJ-cuvV0Sk8iX4oRl60/edit) that outlines the requirements.

Whether anything else is needed for this is up for discussion still. This pg could be stripped to be a more generic template, which we could include in the code source, along with instructions for customiz

[2016-05-26 14:59] kcondon commented on #2588
Maybe change "going through unexpected maintenance" to "undergoing maintenance" so it sounds less like we're out of control.

________________________________
From: Michael Heppler <notifications@github.com>
Sent: Thursday, May 26, 2016 10:08:48 AM
To: IQSS/dataverse
Cc: Condon, Kevin M; Author
Subject: Re: [IQSS/dataverse] Deployment: Create static maintenance page server by Apache until we have

[2016-05-26 15:54] sekmiller commented on #3071
Dynamic File size is now gotten directly from System Config.  Fix is checked into the branch.

[2016-05-26 15:55] sekmiller commented on #3075
Fix is checked into the branch

[2016-05-26 15:57] pdurbin commented on #3140
@scolapasta as promised I spent about two hours poking around in the code and I think this is way more than a 2-3 day effort. My guess is two weeks, maybe more. I went ahead and pushed my scratch work to c433395 and I hope that the todo's I left in that commit help explain some of the challenges. I recommend revisiting this issue once the work for #2608 is complete.

[2016-05-26 18:36] sekmiller commented on #3049
Take a period off the end of the Bundle text to make the link work properly

[2016-05-26 18:37] sekmiller commented on #3049
Fix pushed to the branch.

[2016-05-26 18:59] kcondon commented on #3071
OK, works, closing.

[2016-05-26 18:59] #3071 closed

[2016-05-26 19:04] kcondon commented on #3075
OK, looks good, closing.

[2016-05-26 19:04] #3075 closed

[2016-05-26 19:09] kcondon commented on #3049
Works, closing.

[2016-05-26 19:09] #3049 closed

[2016-05-26 21:04] kcondon opened #3143 "Widgets: Add forwarding url help text, target url needs widget code"
It might help to add a little more info on the forwarding url popup to indicate the page the url points to needs to host or have the dvlisting widget code to work.

Current text:
Forward persistent URL's in your dataset citation to your personal website.

Maybe something add something like:
Forward dataset persistent URLs to your personal website. Your page must contain the dataverse listing widge

[2016-05-26 21:22] kcondon commented on #1722
OK, works, tool tips work after validation failure.

[2016-05-26 21:22] #1722 closed

[2016-05-26 21:26] kcondon commented on #2841
OK, all of the above URLs are now protected from unauthorized viewing. Closing.

[2016-05-26 21:26] #2841 closed

[2016-05-26 21:50] kcondon commented on #2469
OK, footer in place with link, message and logo. Closing.

[2016-05-26 21:50] #2469 closed

[2016-05-26 22:48] kcondon commented on #2090
OK all works, closing.

[2016-05-26 22:48] #2090 closed

[2016-05-26 23:07] kcondon commented on #2499
OK, works as described, closing.

[2016-05-26 23:07] #2499 closed

[2016-05-27 14:49] pdurbin opened #3144 "Submit for Review workflow via API"
At https://github.com/CenterForOpenScience/osf.io/pull/5344#issuecomment-221905243 @mfraezz from the @CenterForOpenScience suggested that some day OSF recognize the case of a Contributor not being able to publish a dataset on their own and that OSF could issue a "Submit for Review" API call to Dataverse instead.

It's a fantastic idea but unfortunately "Submit for Review" is a GUI-only feature. ht

[2016-05-27 18:06] scolapasta commented on #2618
As these issues seemed to have been related to general server slowness, which we have improved, we're going to close this issue. We can always reopen, if we begin to see issues again.

[2016-05-27 18:06] #2618 closed

[2016-05-27 18:07] kcondon commented on #3135
Works, closing

[2016-05-27 18:07] #3135 closed

[2016-05-27 18:08] kcondon commented on #3132
Works, closing

[2016-05-27 18:08] #3132 closed

[2016-05-27 18:08] kcondon commented on #3101
Looks good, closing.

[2016-05-27 18:08] #3101 closed

[2016-05-27 18:09] kcondon commented on #3036
Why was this reopened?

[2016-05-27 18:11] kcondon commented on #2117
Closing.

[2016-05-27 18:11] #2117 closed

[2016-05-27 18:15] kcondon commented on #2880
OK, the fix did not correct the one missing file issue, that is being tracked in: #3116
We are seeing "hung up files" when uploading zip files, before unpacking, also in #3116.
I have not yet reproduced the initial problem reported in this ticket.

[2016-05-27 18:25] kcondon commented on #3036
I tested the error pages math challenge and they work now. Passing back to Dev to fix the last problem Gustavo mentioned.

[2016-05-27 18:39] kcondon commented on #2367
Works, closing, error is presented but URL is preserved and correct http code is returned.

[2016-05-27 18:39] #2367 closed

[2016-05-27 18:42] pdurbin commented on #2249
My biggest concern with this issue is how versioning of files would be supported. Imagine if you could just `rsync` some files up to Dataverse. Then you publish your dataset as 1.0. You add some more files and publish the 2.0 version of your dataset. How do you toggle back and forth between the files in 1.0 and 2.0? When you uploaded your files the first time did they go into a directory called "1

[2016-05-27 19:11] kcondon commented on #2880
Tested the above scenario with the mentioned files. Was able to upload twice without errors or missing/ hung files. Closing this particular issue but as mentioned, some weirdness remains and will be addressed in #3116. Closing.

[2016-05-27 19:11] #2880 closed

[2016-05-27 19:44] pdurbin opened #3145 "Data Capture Module (rsync support)"
@pameyer @bmckinney and I [met yesterday](https://docs.google.com/document/d/1h_F32GpYo_CDXQiPgZUK2VwmPSFTZkQ9u_fxGvtA85c/edit?usp=sharing) to discuss what we're calling a "Data Capture Module" or "DCM" for short. http://guides.dataverse.org/en/4.3.1/installation/prep.html#architecture-and-components lists a number of optional components for Dataverse (Shibboleth, rApache, Rserve, Geoconnect, etc.

[2016-05-27 20:06] jeisner commented on #2249
@pdurbin  I'm confused why hierarchical directory structure is related to versioning.  If the directory is flat, don't you still have the problem that version 1.0 and version 2.0 might have some identical or similar files?

That said: The standard way to store identical files is symlinks.  And the standard way to store similar files is to store only the latest version, together with diffs that mak

[2016-05-27 20:15] pdurbin commented on #2170
http://policy.security.harvard.edu/sa6-appropriate-user-acccess says "SA6: Users must only be permitted to access a server or application after their current business need for access has been established" and lists "Review active accounts" and "Disable account access" under "How to Comply". I'm assigned this issue to myself because @mcrosas @kcondon @whorka and I have discussed how the RCE account

[2016-05-27 20:34] scolapasta commented on #3134
Reverted the doc change from he widgets branch and it now works.

(we still need to work on the doc for widgets in general, so we'll make sure this continues to work when that is complete.

[2016-05-27 21:21] pameyer commented on #3145
For the DCM (and data uploads generally), "rsync" is short-hand for rsync over ssh.  Client-side checksums are also part of the DCM: we'll have to decide how we want to handle the difference in hash functions (switching hashes or multi-hash support in Dataverse).  Sorting that out might be out of scope for DCM MVP.

Minor correction - data.sbgrid.org currently handles uploads with this approach; d

[2016-05-28 01:54] michbarsinai commented on #784
Sorry for the late reply - I was snowed under IWPE'16 and DataTags stuff.

A few comments:
1. We should use prepared query rather than composing and parsing the SQL each time. JDBC supports parameter binding for IN clauses, so that should not be a problem, and would increase performance.
2. No need to go over the (much larger) dvobject table, since we're only interested in the id of Dataverses. It

[2016-05-31 14:20] raprasad commented on #3139
Closing after talking to @scolapasta.  This will be a method on the Dataset object with presentation functionality integrated into the dataset page.

[2016-05-31 14:20] #3139 closed

[2016-05-31 14:35] pdurbin commented on #3139
@raprasad can you please ping me and @bmckinney when a branch has been pushed that has this new method?

[2016-05-31 14:53] raprasad commented on #3139
@pdurbin: will do

[2016-05-31 15:33] mheppler opened #3147 "Widgets - Documentation"
The User Guides need to be updated with the new widgets features.

Created a [Google doc](https://docs.google.com/document/d/1lb_7igH9mseJDcOcXdepgXGspmZfMTSoZutgolx643k/edit#) for collaboration on updating the text.

[2016-05-31 15:33] mheppler commented on #3134
Created a new issue to track the work needed for the widget documentation. #3147

[2016-05-31 15:35] mheppler commented on #3143
I have created a new issue to track the widgets documentation (#3147), which I name a new branch off of. Development for this issue will be done on that branch.

[2016-05-31 16:03] tdilauro opened #3148 "Missing root dataverse results in uncaught exception and opaque HTTP 500 message page"
Absence of the root dataverse results in an uncaught exception and internal server error, which is displayed roughly as below. This error does not give a clear indication of what might be going wrong.

[code]

And here are a couple key lines from the mentioned domain server log, server.log:

[code]

It would be useful to catch this exception and display a more helpful error message.

This could be

[2016-05-31 16:09] pdurbin commented on #3148
@tdilauro thanks for creating this issue. As I was [saying in IRC](http://irclog.iq.harvard.edu/dataverse/2016-05-31#i_35770) we could also have the installer do a sanity check at the end to make sure that doing a `curl` of the homepage doesn't result in a 500 error. Belt and suspenders. 😄

See also: Datavere 4.3.1 installation problems - getSingleResult() did not retrieve any entities. - Google G

[2016-05-31 16:40] pdurbin commented on #2446
I'm grabbing this issue to discuss with @mcrosas and @kcondon to see if it's related at all to the [Support for Sensitive Data BRD](https://docs.google.com/document/d/1iSO6u2pRadyMbWJ-x4hXFeLEJGNuRC2ij-euWzipwzw/edit?usp=sharing). It may turn out to be a requirement we can defer until a later effort such as DataTags integration.

[2016-05-31 18:05] tdilauro commented on #3148
@pdurbin I think that would be good to do a check during installation, as well, and perhaps as a first step. But I think it would be good to have this in the interface, as well.

[2016-05-31 18:25] pdurbin commented on #3148
@tdilauro yep. The change to https://github.com/IQSS/dataverse/blob/develop/scripts/installer/install (checking for a 200 response rather than 500 at the end) might be lower hanging fruit, depending on one's love of Perl, and could be done by a non JSF-hacker. 😄

Here's how I do something similar in bask with curl at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy-develop/ as

[2016-06-01 10:51] brijesh27 opened #3149 "Solr instance auto restarting in solr cloud mode"
Hi,
1. I am running solr cloud with 6 solr instances having version solr5.2.1 and 3 zookeeper (3.4.7)
2.  I have 2 questions regarding solr cloud :

   How can i run solr cloud on port 80 smooothly, i have tried to run it but when i restart it gives me some exception , after doing some work i found that " ps aux | grep solr" its showing me the - -DSTOP.PORT= -920 , -920 port is nothing actually it

[2016-06-01 11:46] pdurbin commented on #3149
@brijesh27 hi, are you running the Dataverse code based of pull request #2985 from @bionary ( https://github.com/bionary/dataverse/commits/2322-solrCloud )? I'm asking because until that pull request is merged we recommend running Solr 4.6.0. For the latest docs on installing Solr for Dataverse, please see http://guides.dataverse.org/en/4.3.1/installation/prerequisites.html#solr

[2016-06-01 12:56] pdurbin opened #3150 "Sensitive Data: Complex Passwords"
Enforcing complex passwords is a requirement for storing level 3 data as defined by http://policy.security.harvard.edu/level-3 and the following text comes from http://policy.security.harvard.edu/sa2-complex-passwords as of 2016-06-01:

On 2016-05-25, we were advised that "The upcoming changes to the password policy will only include a relaxation of complexity rules for passwords of 20 characters

[2016-06-01 13:08] pdurbin opened #3151 "Sensitive Data: IP Groups should not allow access to level 2 data or above"
Level 2 data is defined at http://policy.security.harvard.edu/level-2 (not public).

[2016-06-01 13:08] pdurbin opened #3152 "Sensitive Data: Private URL should not allow access to level 2 data or above"
Level 2 data is defined at http://policy.security.harvard.edu/level-2 (not public).

[2016-06-01 13:13] pdurbin commented on #2419
In talking with @mcrosas and @kcondon I believe we'll want to provide the ability to disable/deactivate accounts as part of the Sensitive Data project so I'm assigning this issue to myself for now.

[2016-06-01 13:29] pdurbin opened #3153 "Sensitive Data: Mitigate against password guessing attacks"
http://policy.security.harvard.edu/sb2-password-guessing says the following as of 2016-06-01:

Dataverse **does** do its own authentication in the case of local/builtin accounts so we need to meet this requirement to be able to host level 3 data as defined at http://policy.security.harvard.edu/level-3

When Shibboleth accounts are used, we're trusting that the Identity Provider (IdP) is mitigating

[2016-06-01 14:01] mheppler commented on #3147
@eaquigley -- I have checked in my initial take on the widgets documentation. I am passing this along to you in hopes that you can help review and improve it.

[2016-06-01 17:56] pdurbin commented on #2944
@djbrooke this is the issue I mentioned about some known issues with the Installation Guide. As we discussed, let's create a new branch called something like "2944-install-guide" where we can start making commits.

[2016-06-01 19:24] djbrooke commented on #2944
@pdurbin - sounds good. Thanks for the overview! I'll plan to create separate issues and respective branches for the other guides (as/if needed).

[2016-06-02 05:10] michbarsinai commented on #3106
re: write access: I don't see why not. IP Groups can allow administrators, who control the IP assignments on a network, to assign roles an a way that appears as "zero configuration" to the users. Valid (I think) use cases include:
* all computers in lab X have the curator on the tutorial dataverse
* all computers in the sysadmin offices are administrators
* "trust" another computer in the same dat

[2016-06-02 05:13] michbarsinai commented on #1380
Tasks:
1. Assign IP Group to an explicit group
2. Access restricted files and unpublished datasets based on IP group
1. Resync the PR

[2016-06-02 13:28] djbrooke opened #3154 "User Guide Updates"
In the documentation, we should note "BibTex" as a Download Citation option on the "Finding and Using Data" page in two places:

[https://github.com/IQSS/dataverse/blob/2935cdedcd2f907d9b44356410d5139cfaf19062/doc/sphinx-guides/source/user/find-use-data.rst#download-citation]

and

[https://github.com/IQSS/dataverse/blob/2935cdedcd2f907d9b44356410d5139cfaf19062/doc/sphinx-guides/source/user/find-u

[2016-06-02 13:32] mheppler commented on #3154
@djbrooke -- Liz and I are going to meet to discuss documentation changes in the User Guide related to the Widgets project. I am going to take this issue, and make sure we include it in our [3147-widgets-docs](https://github.com/IQSS/dataverse/tree/3147-widgets-docs) branch.

[2016-06-02 13:37] djbrooke commented on #3154
@mheppler  - I was hoping to make this small change to familiarize myself with the process end-to-end. Let me know if there's another preferred way for me to get acquainted. Thanks!

[2016-06-02 13:39] mheppler commented on #3154
My apologies! Have at it.

[2016-06-02 13:44] djbrooke commented on #3154
Awesome, thanks! PR incoming.

[2016-06-02 13:44] eaquigley commented on #3154
@djbrooke let me know if you need the link to the Sphinx formatting cheat sheet document!

On Thu, Jun 2, 2016 at 6:39 AM -0700, "Michael Heppler" <notifications@github.com<mailto:notifications@github.com>> wrote:

My apologies! Have at it.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__gith

[2016-06-02 13:49] djbrooke commented on #3154
@eaquigley please send it on when you have a chance. Thanks.

PR is out - let me know what I missed!

https://github.com/IQSS/dataverse/pull/3155

[2016-06-02 13:52] mheppler commented on #3154
@djbrooke -- While you're in there, adding the BibTex info, please also update the text under the Download Citation section to reflect the UI changes we'll be making in the Widgets project. The button text has been changed to "Cite Data" (see attached).

<img width="974" alt="screen shot 2016-06-02 at 9 48 37 am" src="https://cloud.githubusercontent.com/assets/687227/15747195/94b14c24-28a7-11e6-97

[2016-06-02 14:00] djbrooke commented on #3154
OK - I've updated the PR with that change.

[2016-06-02 15:06] pdurbin commented on #1380
@michbarsinai I assume you don't object to #3151: Sensitive Data: IP Groups should not allow access to level 2 data or above. I'd like to at least get you thinking about this requirement.

[2016-06-02 15:12] michbarsinai commented on #1380
@pdurbin I actually do object - in the hands of a capable sysadmin, IP groups are a pretty strong and secure tool. It can be pretty hard to connect to a network socket in a locked room...
I'd do a user survey before blocking this.

[2016-06-02 15:26] pdurbin commented on #1380
@michbarsinai I created #3151 after a meeting with HUIT Security, @mcrosas and @kcondon to get answers to some questions having to do with the [Support for Sensitive Data](https://docs.google.com/document/d/1iSO6u2pRadyMbWJ-x4hXFeLEJGNuRC2ij-euWzipwzw/edit?usp=sharing) project. Let's loop you into these discussions if you object to any of the tasks being defined. It sounds like at minimum you'd li

[2016-06-02 15:36] michbarsinai commented on #1380
@pdurbin IMHO, configurable, and defulting to "no" sounds best. IP groups are a feature for "power users" (can we still use this term?) so I assume they wouldn't mind changing an extra setting after they've configured the IP assignment table on their network.

That said, if even our power users don't want it, we can hard-code it to "no".

[2016-06-02 16:48] shlake opened #3156 "Expose Customized Publish Popup Message through API-Publish"
UVa has a configured popup message (thanks to the resolution of the following issue: https://github.com/IQSS/dataverse/issues/2833).

Our configured popup message needs to pass through when a "publish" request is sent via the API. For UVa, it is OK to expose this popup without an API token.

[2016-06-02 18:17] eaquigley opened #3157 "Dataset Citation: Add Padding to Blue Data Citation Box"
There needs to be padding added around the updated dataset citation box. Its too crowded and difficult to read as is.

![screen shot 2016-06-02 at 2 16 49 pm](https://cloud.githubusercontent.com/assets/5922904/15755866/a951a5e6-28cc-11e6-950d-1fab7885b314.png)

[2016-06-02 19:12] mheppler opened #3158 "Guides - Oversized Screenshots Break Layout"
When a large screenshot is added to the guides, the large width breaks the page layout and you get some weird scrolling/layering issues. (See attached.)

To resolve this, you should be able to add the `img-responsive` class from the Bootstrap theme to the images in Sphinx via the [options](http://www.sphinx-doc.org/en/stable/rest.html), that will properly size the image to the width of it's contai

[2016-06-03 12:31] pdurbin commented on #2419
Specifically, http://policy.security.harvard.edu/sa6-appropriate-user-acccess says, "SA6: Users must only be permitted to access a server or application after their current business need for access has been established." Under "How to Comply" it says, "Disable account access if user leaves University or changes jobs such that they no longer have a business need to access the information; the best

[2016-06-03 14:31] pdurbin opened #3159 "Shibboleth: Harvard logo missing from login page"
https://dataverse-test.irss.unc.edu has been registered as an InCommon Service Provider (SP) at https://incommon.org/federation/info/all-entities.html#SPs and I observed that the Harvard Identity Provider (IdP) doesn't show a logo:

![log_in_-_root_dataverse_-_2016-06-03_10 23 45](https://cloud.githubusercontent.com/assets/21006/15781750/92a25b70-2975-11e6-9d44-06110c42ad5a.png)

This is because a

[2016-06-03 14:33] pdurbin commented on #3159
You can also see the difference at https://incommon.org/federation/info/all-entities.html#IdPs

![incommon_federation_info_entities_-_2016-06-03_10 32 36](https://cloud.githubusercontent.com/assets/21006/15781999/8f5f38ba-2976-11e6-8420-7ea4488144b7.png)
![incommon_federation_info_entities_-_2016-06-03_10 32 15](https://cloud.githubusercontent.com/assets/21006/15782000/8f5f5f34-2976-11e6-8007-d321

[2016-06-03 14:37] mheppler commented on #3158
Fixed screenshot image size issue that broke the layout by adding img-responsive style class.

[2016-06-03 14:43] lmaylein opened #3160 "Broken link in documentation"
http://guides.dataverse.org/en/4.3/installation/r-rapache-tworavens.html :

Broken link in Chapter "1. Set Up R":
https://github.com/IQSS/dataverse/conf/R/

[2016-06-03 16:50] mheppler commented on #3143
Revised the help text in the Advanced Options popup of the dataverse widgets. Added documentation to the Dataverse Management and Dataset Management pages of the User Guide.

[2016-06-06 12:14] pdurbin commented on #3150
@lwo was recently looking at this part of the code in his pull request #3095 and because no good deed should go unpunished (kidding!) I pinged him to see if he'd like to take a swing at this issue. He agreed so I assigned it to him but I'll be keeping an eye on this issue as well. @lwo if you'd like me to start a requirements doc for this issue, please just say the word.

To be clear, implementing

[2016-06-06 13:03] pdurbin commented on #2150
Related:

- Files: Provide Way to Organize Files Hierarchically · Issue #2249
- Use Solr for file listing on dataset page · Issue #2455
- File grouping in Dataverse 4 - Google Groups - https://groups.google.com/forum/#!msg/dataverse-community/PW6xCnhkjmQ/u7V6t82zAgAJ

[2016-06-06 17:26] pdurbin commented on #3156
@jacksonokuhn and I discussed this issue briefly on Friday as I was heading out the door and he seemed eager to work on it, which is fantastic, so I'm assigning it to him.

On a dev box we want `curl http://localhost:8080/api/system/settings/:DatasetPublishPopupCustomText` (no authentication) to return a JSON representation of that database setting.

The API endpoint should be documented in the AP

[2016-06-06 21:54] tdilauro opened #3161 "Migration: Empty tables from DVN 3.6.3 result in null ids in DV 4 tables"
During migration from DVN 3.6.3 to DV 4, I ran into mysterious referential integrity issues running migrate_users.sql in [Step 1 of the migration instructions](https://github.com/IQSS/dataverse/blob/develop/scripts/migration/migration_instructions.txt#L24). This was because the id column had been inadvertently set to null by the [offset adjustments SQL commands in the migration pre-steps](https://

[2016-06-06 22:46] tdilauro commented on #3161
https://github.com/tdilauro/dataverse/commit/1ca2e9b0e1b64c20e64717707e9225e7b24e73b8

[2016-06-07 14:31] pdurbin commented on #2937
@donsizemore thanks for adding https://dataverse-test.irss.unc.edu to https://incommon.org/federation/info/all-entities.html#SPs ! I'm absolutely thrilled to have a place to test what it's like for a Dataverse installation to be a Service Provider (SP) with InCommon, which is exactly what the "Federated Login Mode" feature is about.

Unfortunately, being listed at https://incommon.org/federation/i

[2016-06-07 14:44] sbarbosadataverse commented on #2178
This is happening with my first data assignment task this morning
<img width="1378" alt="screen shot 2016-06-07 at 10 42 29 am" src="https://cloud.githubusercontent.com/assets/8322346/15862154/c75c5c38-2c9c-11e6-8133-7dbe7b2904b2.png">

[2016-06-07 17:43] pdurbin commented on #2170
@bsilverstein95 I'm assigning this issue to you to start thinking about the implementation details. I'd suggest looking at how the password reset feature was implemented in #416 in the sense that we email a user a link with a unique token in it. You can see the `passwordresetdata` database table at http://phoenix.dataverse.org/schemaspy/latest/tables/passwordresetdata.html

In order to support thi

[2016-06-07 18:01] pdurbin commented on #2974
I just re-read the line "To disable account creation by users, sys admins may turn off the LocalAuthenticationProvider module" at https://github.com/IQSS/dataverse/blob/v4.3.1/doc/Architecture/auth.md#notes-about-the-design and it seems relevant for this issue. (I assume it's true but I've never tested it.) #2838 about `:AllowSignup` is related, of course.

[2016-06-07 20:34] jacksonokuhn opened #3163 "Add dev mode option to installer"
It would be good to include the option to enable dev mode on install so that the test suite works out of the box.

[2016-06-07 20:38] pdurbin commented on #3163
When in dev mode the installer should run `setup-all.sh --insecure` like we do at https://github.com/IQSS/dataverse/blob/v4.3.1/scripts/deploy/phoenix.dataverse.org/post

Otherwise, the expected "burrito" string is deleted: https://github.com/IQSS/dataverse/blob/v4.3.1/scripts/api/setup-all.sh#L83

Without the "buritto" string, integration tests fail to create temporary users with which to run the

[2016-06-08 13:26] pdurbin commented on #2443
Over at #3163 we're considering adding a "dev mode" to the standard installer.

[2016-06-08 13:28] pdurbin commented on #2443
I mentioned this issue in a talk I gave last week: 2016-06-01 Setting Up Your Dataverse Development Environment - http://bl.ocks.org/pdurbin/raw/7847a0642f8bd6601a07c3619b4a35f6

[2016-06-08 13:45] pdurbin commented on #2937
Woo hoo! https://dataverse.harvard.edu is now listed as an InCommon Service Provider (SP)! The following screenshot is what you see if you click "Harvard Dataverse" at https://incommon.org/federation/info/all-entities.html#SPs

![incommon](https://cloud.githubusercontent.com/assets/21006/15896128/e412061e-2d5c-11e6-96aa-75b6c6008484.png)

The next step will be to get https://dataverse.harvard.edu

[2016-06-08 15:53] pdurbin opened #3164 "Sensitive Data: Document in Installation Guide how to configure Dataverse to support sensitive data."
For the [Support for Sensitive Data](https://docs.google.com/document/d/1iSO6u2pRadyMbWJ-x4hXFeLEJGNuRC2ij-euWzipwzw/edit?usp=sharing) we intend to configure https://dataverse.harvard.edu to be able to support "level 3" data as defined by http://policy.security.harvard.edu/level-3 which will involve stricter rules for users (such as password complexity #3150) than an out-of-the box installation of

[2016-06-08 17:11] eaquigley commented on #2608
Based on today's meeting, @sekmiller will do the following:

- [ ] Download Metadata button renamed Export Metadata
- [ ] Dropdown menu within the button for JSON, DDI, and Dublin Core options
- [ ] Metadata opens in new tab

After these three things have been done, a review with @mcrosas and @posixeleni will happen.

[2016-06-09 13:35] pdurbin commented on #3153
I posted a link to this issue to https://groups.google.com/d/msg/dataverse-dev/hxnA_Wumo_M/J41aNceCBAAJ and http://irclog.iq.harvard.edu/dataverse/2016-06-08#i_36462 and http://irclog.perlgeek.de/crimsonfu/2016-06-09 for discussion and I like the idea from @pameyer and @bpeisenbraun of what seems to be called "exponential backoff". The screenshot below is from https://devcentral.f5.com/articles/im

[2016-06-09 15:58] pdurbin commented on #2579
@sekmiller ran into similar trouble. This morning we did some testing with `msv.jar`as documented at http://guides.dataverse.org/en/4.3.1/developers/tools.html#msv . In short DDI 2.0 is defined in a single file but DDI 2.5 seems to be spread across multiple files.

In the code base we have the DDI 2.0 schema at https://github.com/IQSS/dataverse/blob/v4.3.1/src/test/java/edu/harvard/iq/dataverse/ex

[2016-06-10 20:25] pdurbin commented on #2937
https://dataverse-test.irss.unc.edu is now listed under "research-and-scholarship" at https://incommon.org/federation/info/all-entity-categories.html#SPs ...

![incommon_federation_info_entity_categories_-_2016-06-10_16 21 56](https://cloud.githubusercontent.com/assets/21006/15977565/8367a220-2f27-11e6-8fe7-9ee4a3cad197.png)

... which resulted in MIT and UIC being able to log in!

Unfortunately,

[2016-06-11 11:25] pdurbin commented on #2960
"Resumable upload supports uploading videos that are up to 1.75GB and 45 minutes long." https://developers.facebook.com/docs/graph-api/video-uploads#resumable via http://socialwg.indiewebcamp.com/irc/social/2016-06-10/line/1465619059043

Too small for our requirements but potentially interesting.

[2016-06-13 15:02] pdurbin commented on #3156
@shlake thanks for opening this issue. At https://github.com/CenterForOpenScience/osf.io/pull/5344#issuecomment-225607309 I'm asking if you can help us test a fix by @jacksonokuhn on a dev server.

Either way, I'll go ahead and pass this issue to QA. @kcondon you can test the fix in isolation at https://github.com/IQSS/dataverse/pull/3166 or combined with the SWORD auth bug fix in https://github.c

[2016-06-13 16:36] pdurbin commented on #2937
@donsizemore figured out how to limit the number of institutions that can log in to https://dataverse-test.irss.unc.edu to just the 57 that are part of the Research & Scholarship category by following https://spaces.internet2.edu/display/InCFederation/Migrating+an+SP+to+Global+Research+and+Scholarship . Of course, that leaves Harvard users and many others out in the cold but it makes no sense to o

[2016-06-13 16:45] tdilauro opened #3168 "Metadata: Dataverse project take ownership of documentation for creating metadata blocks"
At JHU we currently have two use cases for creating custom metadata blocks:
- [Migration of custom metadata fields](https://github.com/IQSS/dataverse/blob/develop/scripts/migration/migration_instructions.txt#L27-L28) (the instructions for which don't explicitly mention metadata blocks, but they are implied) for production/staging instances; and
- Experimentation with metadata models to support sof

[2016-06-13 18:12] pdurbin commented on #2937
https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPMetadataProvider#NativeSPMetadataProvider-ChainingMetadataProvider is interesting. The examples shows a URL from a federation **and** a local XML file:

[code]

It also says "With V2.4 and above, this is implied by any configuration with multiple <MetadataProvider> elements, so is no longer explicitly needed unless one of its optional se

[2016-06-14 07:31] Venki18 opened #3169 "authorIdentifierScheme : Add "ResearcherID" as one of the option"
Please help to add "ResearcherID" as one of the options to the authorIdentifierScheme as one of the controlled vocabulary.

[2016-06-14 18:27] mheppler opened #3170 "Widgets - Usability Revisions"
Suggested revisions to the Widgets feature based on [usability testing feedback](https://docs.google.com/document/d/1bhdzpLG_0qUZcaAnKvYgxow-3jSqnYmzWGuB-YcaIKg/edit) collected by @eaquigley.

- [x] Display the Feature Dataverses carousel on the dataverse pg
- [x] Display Versions tab on dataset pg, but hide content, instead displaying text about finding "more information" and being able to "edit

[2016-06-14 20:11] mheppler commented on #3170
Added the Featured Dataverses carousel to the widgets view of the dataverse pg. Added Versions tab to the widgets view of the dataset pg with conditional msg and link to view/edit full version on dataverse.

Passing to @eaquigley to review/approve/improve msg text.

![screen shot 2016-06-14 at 4 11 28 pm](https://cloud.githubusercontent.com/assets/687227/16058069/b1003bf4-324a-11e6-85d5-7a0746afb7

[2016-06-14 20:41] mheppler commented on #2579
Cleaned up styling and layout of the Export Metadata button in the Metadata tab of the dataset pg.

[2016-06-15 12:48] eaquigley commented on #3170
@mheppler

Update:

To view more information about the versions of this dataset or edit it if this is your dataset, please visit the full version of this dataset at the Root Dataverse.

[2016-06-15 13:39] pdurbin commented on #2416
https://help.hmdc.harvard.edu/Ticket/Display.html?id=236541 has details about another request for this feature. I've invited that person to comment here as well.

[2016-06-15 13:51] mheppler commented on #3170
Revised help/info text in Versions tab on dataset pg conditionally displayed in widgets view.

(Thank you, @eaquigley.)

[2016-06-15 14:11] eaquigley commented on #3147
Widgets section of the user guide is complete. Passing this issue to QA. Not sure if branch is ready for pull request though due to some development work that still needs to be done with the citation.

[2016-06-15 14:17] pdurbin commented on #2134
@bmckinney you seem interested in making good use of the `actionlogrecord` table. Do you or @pameyer have opinions on this issue? Is it something you'd like to tackle? @pameyer and I chatted a bit about this at http://irclog.iq.harvard.edu/dataverse/2016-06-14#i_36923

[2016-06-15 14:57] kcondon opened #3171 "Widgets: Finishing touches, adjust URL in citation, do not resolve DOI to remote site."
From recent review meeting with stakeholders:

1. DOI's will always be directly redirected to dataverse.
2. We will still allow users to "register their widget". If they do, the website they input will be used as part of the citation (see 3).
3. We will modify the citation to:
  - A. show the DOI (or other persistent ID) as "doi:xxxx/yyyy", i.e. the text will not display the URL. However for the o

[2016-06-16 13:28] posixeleni opened #3172 "Freeze dataset during review"
During the review period of the _Private URL for draft dataset peer review_ one stakeholder commented that the following functionality would also be helpful:

This suggestion is therefore for an option to freeze a dataset to allow others to review it. This can either be done by having version control at the draft level or providing some UI functionality that a user can choose to freeze a dataset u

[2016-06-17 13:49] pdurbin commented on #3153
Obviously, we'd like to avoid the scenario at https://twitter.com/esttorhe/status/743623557352022020 in the screenshot below:

![screen shot 2016-06-17 at 9 48 27 am](https://cloud.githubusercontent.com/assets/21006/16152607/bc7050c8-3470-11e6-8e46-0c912ea5aca8.png)

[2016-06-17 16:24] raprasad opened #3173 "Link dataverse function has abnormally long response time"
-  Simply clicking "Link Dataverse" results in a 20+ second pause before the list of Dataverse appears.
- What's going on?  Is it permissions?  Fix the queries...

---

<img width="1078" alt="new_haven_independent_dataverse" src="https://cloud.githubusercontent.com/assets/1036060/16157376/501966e2-3486-11e6-94d8-6d4b76bf5939.png">

[2016-06-17 17:54] mheppler opened #3174 "Private URL -- UI Improvements"
UI improvements to the Private URL (#1012) project.

![screen shot 2016-06-16 at 2 24 24 pm](https://cloud.githubusercontent.com/assets/687227/16159809/c1e54668-3492-11e6-878c-b26d9b8c1ac8.png)
- [x] 1. Expand title header to be "Unpublished Dataset Private URL". The popup header has the space to give a little more information about the feature, even if the dataset's Edit dropdown button only says

[2016-06-17 19:00] kcondon commented on #1198
Additional clarification, unchecking refers to deselecting the metadatablock for that dataverse. Once deselected, the fields in that block should not be editable but still are.
.

[2016-06-17 19:05] kcondon opened #3175 "Metadata Fields > Edit Dataverse General Information: "Done" btn is broken on new dataverse form only, when viewing metadata fields"
Steps to reproduce:
1. Create a dataverse, do not yet save.
2. On any of the metadatablocks, under Metadata Fields, click View Fields.
3. Click Done and notice the block remains expanded, cannot close, and now cannot view any other blocks.

Refreshing the page does restore functionality.

This was reported by a user, see RT 235672

[2016-06-20 19:05] mheppler commented on #3171
Updated screenshot based off refining the requirements.

![screen shot 2016-06-17 at 3 41 39 pm](https://cloud.githubusercontent.com/assets/687227/16206814/24cc4008-36f8-11e6-8a44-de99e75ed68c.png)

Also, this issue is related to issues #2297 and #2146 which are based on user requested features to add metadata fields to the dataset citations.

[2016-06-20 19:28] posixeleni commented on #2297
Just spoke with @scolapasta and @eaquigley that there may be a use case where someone would like to use different dates depending on the dataset in their dataverse, rather than just one kind of date across the board. For example in 3.6 we allowed people to use either distribution or production date for the citation so they would have two different kinds of dates in their citation within a single d

[2016-06-20 19:34] mheppler commented on #3171
Removed the Advanced Options feature from Dataverse Listing Widget section of the Dataverse Theme + Widgets pg.

[2016-06-20 19:56] kcondon commented on #3134
The error still happens with the most recent build. Passing back.

[2016-06-20 19:59] scolapasta commented on #2297
We should also make this consistent with facets and metadatablocks and have inheritance for this. So a checkbox to say is "citation customization root" or something like that.

If this is something stored on dvobject, then it could be inherited by datasets by default, but you could override for a specific dataset (if we encounter a use case like @posixeleni described).

[2016-06-20 20:11] scolapasta commented on #3143
This has now been removed from the code.

[2016-06-20 20:57] kcondon opened #3177 "Widgets: Featured Dataverse Links should follow same render logic as other dv links (child opens in widget)."
Featured dataverse links currently open at Dataverse in a new tab. Most featured dataverses are children of the hosting parent dv so should open in the widget according to the general render logic.

There are cases such as linked dataverses, where this would not be the case, right?

[2016-06-20 20:58] kcondon commented on #3170
OK, versions tab with text and link in place.
Featured dv's in place but links need updating, in separate ticket. Closing.

[2016-06-20 20:58] #3170 closed

[2016-06-20 21:10] kcondon commented on #3143
True, closing.

[2016-06-20 21:10] #3143 closed

[2016-06-20 21:23] scolapasta commented on #3134
@pdurbin can you take a look with @mheppler and @eaquigley who have made doc changes and figure out what is causing this to break? Thanks.

[2016-06-20 22:28] mheppler commented on #3177
Applied widgetWrapper URL logic to the links in the Featured Dataverses carousel.

[2016-06-21 15:19] mheppler commented on #2146
Requirement gathering and discussions about the UI and workflows have started on this feature, as it relates to the Widgets project. Notes can be found on the (Custom Citation Format (FRD))[https://docs.google.com/document/d/1m64RUNhvE_78h92VKfNGaCc8mcy6BTfN6XVW5kGcZBw/edit].

[2016-06-21 15:45] pdurbin commented on #3134
@eaquigley is taking a look so I'll assign this to her. Something about nesting.

[2016-06-21 18:25] kcondon commented on #3134
There are also numerous latex build warnings leading up to the Too Deeply Nested error and most of those have to do with the Installation guide, shibboleth section but others too:

LaTeX Warning: Hyper reference `installation/shibboleth:shibboleth2-xml' on pag
e 63 undefined on input line 3595.

LaTeX Warning: Hyper reference `installation/shibboleth:specific-identity-provi
der-s-vs-identity-feder

[2016-06-21 18:28] kcondon opened #3178 "Version: Update Dataverse version to be 4.4 in preparation for v4.4. release."
The last dev task by current convention is to update the version of Dataverse that shows up in the footer in the app and also determines where it looks for the docs.

We are fast approaching  the last dev check in (one last known one addressing the citation link) and we can complete this.

[2016-06-21 18:45] pdurbin commented on #3178
How to do this is documented at http://guides.dataverse.org/en/4.3.1/developers/making-releases.html#bump-version-numbers

[2016-06-21 18:56] pdurbin commented on #3134
Huh. If nesting in the Shib docs are a problem I do plan to revisit those docs as part of #2937.

The real problem here is that developers don't know how to create the PDF version of the guides on their laptops. I just tried this on my MacBook and wasn't able to figure out out quickly. If we ever make PDF versions of the guides a first class citizen (#2148) it will be considered a regression if a

[2016-06-21 19:00] kcondon commented on #3134
Right we just talked about this: we should be looking at warnings in the doc builds and understanding how to avoid them but the specific ones mentioned can likely be deferred for this release until we have time to revisit or, worst case, when we implement printable versions using pdf.

[2016-06-21 19:12] kcondon commented on #3171
OK, 1-3 are done, adv options removed. 3b. needs some modification to meet Gary's expectation.

[2016-06-21 19:13] kcondon commented on #3177
Works, closing.

[2016-06-21 19:13] #3177 closed

[2016-06-21 19:34] kcondon opened #3179 "Citation: Review citation format to make sure it is what is intended"
In testing recent citation changes, there was a question about the placement of the DOI in the citation. It is correct according to our academic credit post here: http://dataverse.org/best-practices/academic-credit

but at one point it was discussed as being placed elsewhere, more like:
http://www.icpsr.umich.edu/files/ICPSR/enewsletters/iassist.html

Just want to confirm the current placement is

[2016-06-21 19:40] kcondon commented on #3157
Looks good, wraps with more space/ padding before the end of the citation block, closing.

[2016-06-21 19:40] #3157 closed

[2016-06-21 19:49] kcondon commented on #3171
Closing this ticket since it was essentially delivered. The one word change can be tracked separately. Closing.

[2016-06-21 19:49] #3171 closed

[2016-06-21 20:08] kcondon commented on #3158
Seems ok, closing.

[2016-06-21 20:08] #3158 closed

[2016-06-21 20:09] kcondon commented on #3147
Looks good, closing.

[2016-06-21 20:11] kcondon commented on #3147
Spoke too soon. This is no longer true and needs to be removed from the docs:

http://guides.dataverse.org/en/3147-widgets-docs/user/dataset-management.html#widgets

Note: You can forward the persistent URL (DOI or Handle) of your dataset to your personal website. For more information on the widgets available for a dataverse, please visit the Widgets section of the Dataverse Management page.

[2016-06-21 20:41] pdurbin commented on #3134
Did we ever successfully build a pdf for 4.3 or 4.3.1? The latest I could find was http://guides.dataverse.org/en/4.2.4/Dataverse.pdf so maybe PDF generation has been broken for a while.

[2016-06-21 20:49] kcondon commented on #3134
We only recently began seeing guide build errors which prompted this ticket.

[2016-06-22 13:07] pdurbin commented on #2937
@donsizemore have been talking a lot about how to handle Identity Providers (IdPs) who do not release attributes that Dataverse requires such as "eppn" (a unique identifier for a user).

He pointed out https://spaces.internet2.edu/display/InCFederation/Error+Handling+Service which is a service InCommon member can use to display a somewhat friendlier error message. For example, if a researcher from

[2016-06-22 14:24] djbrooke opened #3180 "Widgets: Conditional display of "Producer" or "Distributor" text"
If a Dataset specifies ONLY ONE metadata field of type URL:
e.g.
- Producer URL
- Distributor URL

then the Dataset Citation widget will NOT display the respective title of the field in the widget and will only display "URL"

If a Dataset specifies multiple metadata fields of type URL:

then the Dataset Citation widget will display the display name of the field, e.g. "Producer URL" along with the

[2016-06-22 14:27] djbrooke commented on #3180
@scolapasta - feel free to edit this one up if it does not reflect the desired changes!

[2016-06-22 14:34] eaquigley commented on #3147
@kcondon good catch! deleted that section.

[2016-06-22 15:35] kcondon opened #3181 "Documentation: Resolve build warnings for HTML version of doc"
There are a dozen or so warnings in the build output when making the html version of the docs. They do not seem to cause any problem with rendering/viewing the content but it would be a good idea to understand and resolve them to make build output cleaner and prevent potential future issues by using the doc tool better. Note: These warnings are separate from the PDF build issue (#3134) and occur w

[2016-06-22 15:43] pdurbin commented on #3134
As I mentioned to @kcondon yesterday I spend maybe 15 minutes trying to get a PDF to build in Vagrant as of 75031ba but with a random version of Sphinx (1.4.4). I'm getting this error...

[code]

... then I hit return and I see this...

[code]

... I hit return again and a PDF is produced but I don't know why I have to hit return. On Jenkins we use Sphinx 1.1.3. I don't feel like the dependencies

[2016-06-22 16:06] djbrooke commented on #2327
I'm going to move this from 4.4 and into 4.5.

[2016-06-22 16:32] sbarbosadataverse commented on #2327
FYI: this is not only Murray data, but Gary's data are impacted as well.
And I'm certain he has not noticed the UNF is missing but won't be happy
when he does find this out. Why are we moving it to 4.5?
Thanks

On Wed, Jun 22, 2016 at 12:06 PM, Danny Brooke <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, I

[2016-06-22 16:46] kcondon commented on #3147
Section removed, closing.

[2016-06-22 16:46] #3147 closed

[2016-06-22 18:02] djbrooke commented on #2327
I'd have liked to get this in as well, but we are very close to delivering the widgets part of this release and I'm hesitant to try and get in changes that haven't yet been started. It's unfortunate that this was not brought in and worked on (I should have absolutely noted this earlier), but I'd like to move forward without it in 4.4 and I'll make sure to do better track things in the future.

[2016-06-22 18:06] sbarbosadataverse commented on #2327
Absolutely your call, but wanted you to know why it was so important to
begin with. Gary really makes use of this UNFs so I suggest we keep this in
mind for 4.5.
 thnks

On Wed, Jun 22, 2016 at 2:02 PM, Danny Brooke <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Datav

[2016-06-22 19:20] pdurbin commented on #1012
Today @djbrooke @mheppler and I met to discuss the Private URL feature and the state of the branch, open issues, and pull request.

We are now definitely targeting 4.5 so in 95570c7 I renamed the SQL script to have the target release in it (`upgrade_v4.4_to_v4.5.sql`)

I'm going to pass this issue to @scolapasta to weigh in on a javadoc comment/todo about the identifier (":privateUrl42" vs. "#42"

[2016-06-22 19:41] pdurbin commented on #3174
Today @djbrooke @mheppler and I met to discuss the Private URL feature and the state of the branch, open issues, and pull request.

Mike will be working on some of the changes he suggested above so I'll pass this issue to him. The work should be done in the 1012-private-url branch, which pull request #3111 is based on. After switching to the branch, you must run the SQL update at
https://github.co

[2016-06-22 22:58] raprasad opened #3182 "Dataverse theme logos directory name repeated many, many times in code"
Centralize the logo directory name and path in settings. "logos" directory name appears over 10 times in code.
-  Filed under: technical debt.

<img width="697" alt="dataverse_-_netbeans_ide_8_0_2" src="https://cloud.githubusercontent.com/assets/1036060/16286865/f6abc58e-3893-11e6-8074-769ab8076f03.png">

[2016-06-23 15:46] tomck commented on #2944
Two suggestions for the install guide, prerequisites page:

1. Under glassfish, note that port 4848 issues might be connected to the hosts file. http://stackoverflow.com/a/17171641/6338845
2. Under Solr, the user is in the wrong directory to execute java -jar start.jar at the time it's suggested, they need to be ../../.. to run that.

[2016-06-23 16:09] kcondon commented on #3180
@djbrooke I was not aware of the second requirement regarding multiple citation field URL labels.
@scolapasta Did you code for the multiple citation URL case?

[2016-06-23 16:10] scolapasta commented on #3180
Yes, it checks count of URLs and only substitutes the name if there is only one URL.

[2016-06-23 17:14] kcondon commented on #3180
Yes, verified with 1, 2, and 3 different url fields. Waiting final tweak, passing back to Gustavo to fix generalization issue.

[2016-06-23 19:54] pdurbin commented on #3138
There may be some text edits coming in #3174.

[2016-06-23 21:04] pdurbin commented on #3174
Border gone in 27a8e48

6 was done in a8963d3

5b is half working. Please see the FIXME at 2c80313

@mheppler can you please take a look?

[2016-06-23 21:32] tomck commented on #2169
Could I get clarification on this? The docs, referencing this issue, say "If the MaxFileUploadSizeInBytes is NOT set, uploads, including SWORD may be of unlimited size."  I removed the limit by using curl -x DELETE, but it seems the text above the file upload box isn't variable and still displays "File upload limit is 2GB per file."

Attempting to upload via Dropbox and my temp uploads seem to hit

[2016-06-24 14:49] pdurbin commented on #3138
@eaquigley I'm passing this issue to you to work on "12. Update User Guide to be consistent with labeling in the UI: https://github.com/IQSS/dataverse/blob/1012-private-url/doc/sphinx-guides/source/user/dataset-management.rst " from #3174.

[2016-06-24 14:57] pdurbin commented on #3174
@mheppler I got the "Close" button to properly set privateUrlWasJustCreated to false in f515e4b but please not that I changed the FIXME to reflect the fact that there's a related known issue I just discovered in this area.

The bug is that if you click the "X" in the upper right corner rather than the "Close" button (or the "Disable Private URL" button) the green "Success" message doesn't go away.

[2016-06-24 15:05] tomck commented on #2125
@bencomp How did you get a symbolic link to work? For me, I can create the symbolic link to a temporary disk, but when the application starts it magically replaces it with a real directory on the present disk. Once glassfish is stopped the symbolic link returns.

[2016-06-24 15:07] tomck commented on #2140
While a cleaner job works, I've noticed that after files have been moved from the first state, currently-being-uploaded, to the second state, uploaded-but-not-saved, they lose the 'tmp' and 'upload' head and tail. But, after being saved, they're copied (not moved) to their destination directory, so they sit in temp taking up space. I would think at least files that have been successfully placed in

[2016-06-24 15:12] pdurbin commented on #1012
I just left a status update at https://github.com/IQSS/dataverse/pull/3111#issuecomment-228370372 (the pull request for this feature).

Since this issue is mostly about the code from my perspective, I'm going to pass it to @mheppler who can move this to QA when he's done reviewing or changing things in #3174. Please note that there is a separate issue about docs at #3138.

[2016-06-24 15:12] tomck opened #3183 "File type not recognized on dropbox upload by ingest"
Scenario: .tar.xz files to compress fastq as much as possible (statistically better than .cram even) stored in Dropbox. (Transfer and saving takes forever, but that's not the issue.)

Filetype determines fine when using browser upload, but "unknown" when using dropbox upload.
![screenshot 2016-06-24 10 07 55](https://cloud.githubusercontent.com/assets/324521/16341702/1bbedff8-39f4-11e6-88e8-ee9c5d

[2016-06-24 15:15] pdurbin commented on #2125
@tomck you may or may not get a quick answer from @bencomp since he's no longer a service manager for DataverseNL: http://irclog.iq.harvard.edu/dataverse/2016-06-03#i_36010 . I'd suggest emailing support@dataverse.org with questions about these symlinks.

[2016-06-24 15:26] pdurbin commented on #2169
@tomck it sounds like you've hit bug #3071 (File Upload: Make upload limit text dynamic based on setting) which is fixed in the "develop" branch and will be part of Dataverse 4.4.

If the docs on MaxFileUploadSizeInBytes aren't clear, please let us know.

Since you seem to be operating on somwhat large files, you may be interested in the work going on at #3145 (still early days).

[2016-06-24 15:31] pdurbin commented on #3145
@bmckinney and I met yesterday (notes at https://docs.google.com/document/d/1BSVqAqsc_KieqfFfg_CeKdV7HwDO1Y3UuC2VMO-RJDk/edit?usp=sharing ). I demo'ed https://github.com/pdurbin/dataverse/tree/3145-dcm and he's going to try to merge that branch with https://github.com/bmckinney/bio-dataverse/tree/feature/file-system-import so we can deploy the combined code at https://dv.sbgrid.org and hopefully g

[2016-06-24 16:10] donsizemore opened #3184 "catch builtinuser e-mail field mismatch when Shibboleth is enabled"
This is possibly a tack-on to #2937 or possibly a suggestion, or possibly just noise.

During installation I set the dataverseAdmin account to my university address, with the intention that it be temporary until I found out where our archivists wanted such messages to go. Once I enabled Shib, a local login to the dataverseAdmin account found my e-mail address and dutifully offered to convert datav

[2016-06-24 17:50] pdurbin commented on #3184
Hmm. I hope most users don't hack on database tables directly. Much better would be to change an email address via the GUI. I guess an API endpoint could be added some day.

Anyway, @donsizemore I'm glad you were able to recover. It sounds like the errors in server.log were helpful as-is. Thanks for the feedback. It's not noise. 😄

This vaguely related to #2170 which @bsilverstein95 is starting to

[2016-06-27 17:22] eaquigley commented on #3138
@kcondon i've finished updating the user guide for Private URL. passing to you for QA.

[2016-06-27 17:34] pdurbin commented on #3174
@mheppler it looks like the section title and anchor changed at a54d5e8 so this key in the Bundle should change (I would think):

`dataset.privateurl.tip=Use a Private URL to allow those without Dataverse accounts to access your unpublished dataset. For more information about the Private URL feature, please refer to the <a href="{0}/{1}/user/dataset-management.html#private-url-for-draft-dataset-re

[2016-06-27 19:00] mheppler commented on #1012
Workflow displaying "Success!" msg is great. After reviewing with @pdurbin and @scolapasta we're going to fine tune it an improvement to the backing bean.

[2016-06-27 19:02] mheppler commented on #3174
Fixed User Guide link in Private URL dialog. Fixed "X" close dialog navigation issue on confirm dialog.

Passing back to @pdurbin to fine tune the backing bean and how the "Success!" msg is displayed and removed.

[2016-06-27 19:41] kcondon opened #3185 "My Data: Provide information on dataverses, datasets, and files that user actually created or edited, etc. "working set"."
My Data currently shows dataverses, datasets and files that a user has permission to and the role they have in them.

However, for curators and other admin they likely see a large set of objects they have permission to but have not personally acted upon. So this ticket is about filtering on those objects they have actually created, edited, approved, etc with some timeframe for reference.

The curr

[2016-06-27 19:54] pdurbin commented on #3174
@mheppler I checked with @scolapasta and he knew immediately how to fix the delay we were seeing. I needed to switch it from "onclick" to "oncomplete", which did the trick. I rolled it into what I hope is the final commit for this branch and pull request: 50ae521

Moving to QA.

[2016-06-27 19:58] pdurbin commented on #1012
@mheppler @scolapasta and I worked through the final fixes for the success message in 50ae521 . It's working as desired now.

Passing to QA.

[2016-06-27 20:15] pdurbin commented on #2588
@kcondon mentioned that we're looking for a place in the git repo to put the maintenance page.

I'd suggest putting it at `doc/sphinx-guides/source/_static/installation/files/var/www/html/maintenance/index.html`

I say this because if you look at https://github.com/IQSS/dataverse/tree/v4.3.1/doc/sphinx-guides/source/_static/installation/files/etc/init.d for example, that's where we put files that

[2016-06-28 09:06] rmo-cdsp opened #3186 "Multiple KindOfData fields"
Hello !

I'm making some python datasets import scripts for Dataverse, and I just had a strange "bug":
I've made multiple kindOfData fields in the Citation metadatas (I made a loop mistake :( ), like this:

[code]

By seeing my metadatas json result, I though my dataset's update failed but ... in this case, it succeed and updated the dataset with the kindOfData field, but there is 3 kindOfData fie

[2016-06-28 15:25] mheppler commented on #2588
The [Administration pg](http://guides.dataverse.org/en/4.3.1/installation/administration.html) of the Installation Guide has been suggested as where to link to this file.

[2016-06-28 15:30] pdurbin commented on #3153
This morning @djbrooke and I met to discuss this issue. I presented two approaches:

- **Approach 1: Lock account**. After 10 (or fewer, configurable) successive invalid logins, lock the account (#2419) for a period of time (configurable).
- **Approach 2: Block IP**. After 10 (or fewer, configurable) successive invalid logins, block the IP address for a period of time (configurable).

@djbrooke in

[2016-06-28 18:05] mheppler opened #3187 "Widgets - Improve "Widgets" Label"
It has been determined that "Widgets" are not descriptive enough of a label for this feature, and that we expand it to be "Embed Widgets" or "Embeddable Widgets".

[2016-06-28 18:10] pdurbin commented on #3180
In e62d5a2 I updated the Solr schema for the alternativeURL field added in e10ab1e but I thought I'd mention that it seems a little strange to me that this field appears even above "title" when updating metadata:

![screen shot 2016-06-28 at 1 56 48 pm](https://cloud.githubusercontent.com/assets/21006/16426906/0620297a-3d39-11e6-83ee-fe2ed8db2558.png)

Also in in e10ab1e the tsv was edited directl

[2016-06-28 18:14] pdurbin commented on #3168
https://github.com/IQSS/dataverse/issues/3180#issuecomment-229133781 is the most recent of me updating the Solr schema due to a field being added.

[2016-06-28 18:33] kcondon commented on #3179
Merce confirmed it was intentional. Closing.

[2016-06-28 18:33] #3179 closed

[2016-06-28 19:17] scolapasta commented on #3180
That location was the first suggested location from @mcrosas but after further review (seeing it here) we moved it between alternativeTitle and OtherId.

[2016-06-28 19:34] scolapasta commented on #3180
Also, I went ahead and updated that doc with this new field; however I don't think it has been kept up to date for other changes. (For example, these were removed: contributorAffiliation, contributorIdentifierScheme, contributorIdentifier, but are still there)

These changes are from before, and outside the scope of this issues.

[2016-06-28 21:15] kcondon commented on #3180
Works! Closing.

[2016-06-28 21:15] #3180 closed

[2016-06-28 21:27] kcondon commented on #3028
Works, closing.

[2016-06-28 21:27] #3028 closed

[2016-06-28 21:48] kcondon commented on #2297
OK, backend changes are in but please note that the additional fields need to be ordered and currently are not or the order is unclear. This will need to be decided on both in backend (order column) and UI.

[2016-06-29 05:41] michbarsinai commented on #3153
Important heads-up. Thanks, Phil!

My comments:

1. Disabling account is very different from blocking a login. For example, if someone tries to guess user X's password, while user X is logged in from another device or is using the API via a script, X's legitimate usage would be stopped. Moreover - if someone has a password and tries to guess the username, this would go under the radar of account d

[2016-06-29 14:29] djbrooke commented on #3187
Closing this one. It was decided to keep "Widgets" for now. If further testing indicates that this is not sufficient, we can reopen.

[2016-06-29 14:29] #3187 closed

[2016-06-29 14:42] mheppler commented on #2588
Found a [GitHub Help suggestion](https://help.github.com/articles/getting-permanent-links-to-files/) with a solution for permanent file links that is more reliable than RawGit, and less hacky than linking to the commit.

[2016-06-29 15:21] mheppler commented on #2588
Assigning to @scolapasta to look at in more detail and make a decision on the best technical decision for this project.

[2016-06-29 15:26] sbarbosadataverse opened #3189 "Permissions: update "roles" description for "Admins" to specify this role allows you to approve requests to restricted data"
I noticed that none of the roles, including "Admin" specifically says who can "approve" access to restricted data. I think this should be included somewhere in the "roles" description.
If this is a quick update, can we do it sooner rather than later?

[2016-06-29 17:14] pdurbin commented on #3036
On dataverse-internal running v. 4.4 build 132-47b04ed I just noticed that if you enter a bad username and password, you don't see the math challenge:

![log_in_-_root_dataverse_-_2016-06-29_13 13 25](https://cloud.githubusercontent.com/assets/21006/16461605/589ccdc6-3dfb-11e6-94c4-6059ee69623f.png)

[2016-06-29 20:10] pdurbin commented on #3153
@michbarsinai thanks for your thoughts on all this. I'm not sure a CAPTCHA fulfills the requirement of "Block user from logging in for a period of time after no more than 10 successive invalid login attempts."

As I mentioned at https://github.com/IQSS/dataverse/issues/3153#issuecomment-229085993 I'm focusing on locking the account for now. Here's a screenshot to get @mheppler @eaquigley and @mcro

[2016-06-29 20:16] michbarsinai commented on #3153
But any disaffected student could lock his professor out this way... maybe the rule needs updating or refinement.

What does Harvard's SHIB/HarvardKey servers do?

[2016-06-29 22:28] kcondon opened #3190 "Index: Index all halts due to bad data in email field, should report error and continue."
Index all halts due to bad data in the email field of the authenticateduser field. The email value is of the form: "email1@domain.org, email2@domain.org".

Index halts and apparently does not index any object at all since no indextime was updated. I believe a preferred behavior would be to index incrementally up to the failure and then log/report the problem and ideally skip over the failing item

[2016-06-29 22:38] kcondon commented on #3190
Command line:
{"status":"ERROR","message":"javax.ejb.EJBTransactionRolledbackException javax.ejb.TransactionRolledbackLocalException Exception thrown from bean javax.persistence.PersistenceException javax.validation.ConstraintViolationException: Bean Validation constraint(s) violated while executing Automatic Bean Validation on callback event:'preUpdate'. Please refer to embedded ConstraintViolati

[2016-07-01 17:35] raprasad opened #3191 "Add Dataset Title to the Dataset Version table"
If not using Solr, retrieving the DatasetVersion title from the metadata citation block can take several queries.  Would be nice to have this element exposed at the DatasetVersion level.  Or, alternatively, expose it through a cached version of a document (JSON) containing all metadata.

Current steps to retrieve the DatasetVersion title:
1.  Get the DatasetFieldType for the citation title
   - na

[2016-07-01 18:15] tomck opened #3192 "Builtin-Users API doc not clear how to specify user with JSON"
https://github.com/IQSS/dataverse/blob/develop/doc/sphinx-guides/source/api/native-api.rst

This information isn't very clear, creating issue per @pdurbin in IRC

[2016-07-01 18:31] pdurbin commented on #3192
@tomck thanks for creating this issue. http://guides.dataverse.org/en/4.4/installation/installation-main.html#superuser-account mentions `dvinstall/data/user-admin.json` and as of this writing it looks like this:

[code]

This comes from https://github.com/IQSS/dataverse/blob/v4.4/scripts/api/data/user-admin.json and there are similar files in that directory.

I have some crazy scripts I use in te

[2016-07-01 18:54] raprasad opened #3193 "Extra metadata field created after editing a Dataset"
### Description

Within the citation metadata block, the following fields were created in the _database_ **without the user entering information**:
- Related Publication (DatasetField)
  - ID Type (child DatasetField under "Related Publication")
    - No value was assigned to "ID Type"
- Contributor (Dataset Field)
  - Contributor Type (child DatasetField under "Contributor")
    - No value was as

[2016-07-01 18:59] tomck opened #3194 "Dropbox-like file picker for integrating Dataverse into other platforms"
Presently, one may upload files to Dataverse using a simple Dropbox file picker. However, as Dataverse is now being referred to as "[a dropbox for structural biologists](https://hms.harvard.edu/news/dropbox-structural-biologists)", it could be quite handy for other platforms to integrate Dataverse through a similar file picker, so that data could be further processed without requiring the user to

[2016-07-01 19:14] pdurbin commented on #3193
This smells a bit like the "smurfFunder" bug I reported at #973.

[2016-07-05 16:37] raprasad opened #3196 "DataMed harvesting non-medical data from Dataverse"
## Issue

The NIH-funded DataMed (a Biocaddie project), a **biomedical data search engine**,  went live today.

Their process indexes __everything__ in Dataverse--not only biomedically related data.
  - Example: https://datamed.org/search.php?query=gary+king&searchtype=data

## To do:

Flag/Mark DataMed appropriate datasets and coordinate future indexing with the DataMed team.

[2016-07-05 16:50] pdurbin commented on #3196
The "Data Types" at https://datamed.org/datatypes.php are interesting. @pameyer and @bmckinney check them out:

![datamed_biocaddie_ddi_-_2016-07-05_12 47 12](https://cloud.githubusercontent.com/assets/21006/16592425/9d4c0bc8-42ae-11e6-96e5-5a5d8627a634.png)

There's overlap, of course, with the "dataType" field we've been playing with as part of #3145

A broad search for "data" at https://datamed

[2016-07-05 19:36] scolapasta commented on #3151
Can this be combined with #3152 to just be "User must be authenticated" in order to download Level 2? (that seems to be the underlying issue with users who are just identified by IP address, but not logged in, or private URLs)

[2016-07-05 20:32] djbrooke commented on #2170
Notes from the meeting on 7/5:

- @eaquigley is going to work with @bsilverstein95 to move this through our usual development process, that is - mockups, user testing, then development and usability testing
- We'll plan to not allow unconfirmed users to take action in Dataverse (uploading, creating, etc.) instead of intervening later in the workflow (such as blocking at the publishing step)

[2016-07-05 20:51] djbrooke commented on #3151
Notes from 7/7 meeting:

- We need more information about datatags before implementing this completely, but we can make an assumption that a datatag will be referenced by this code when making the determination about whether or not the user can access the data. We can move forward with the backend while the datatags project is still being defined.
- Messages will need to display about why these us

[2016-07-05 20:58] djbrooke commented on #3153
Notes from 7/7 meeting:

- 10 tries before an account is locked
- We need better error message visibility
- The lockout period should be configurable
- Open question - does the superuser have the ability to unlock an account?

[2016-07-05 21:14] kcondon opened #3197 "Index: Harvested datasets without a distribution date (?) fail indexing"
Reported by Leonid, present in at least v4.3.1.

[2016-07-06 13:49] raprasad opened #3198 "Add MyData presentation to the docs"
[MyData-Cards.pdf](https://github.com/IQSS/dataverse/files/349902/MyData-Cards.pdf)

[2016-07-06 16:28] scolapasta commented on #3197
This was due to a change I made, but it should already be fixed in @landreev's branch.

[2016-07-06 19:58] kcondon opened #3200 "Delete Dataset: Contributor deleting a draft of a published version is not indexed."
When a contributor deletes a draft of a published dataset, it is removed but not reindexed so the draft card stays around. This happens in the private url branch and does not happen in v4.4 on demo.

See related ticket: #3201

[2016-07-06 20:01] kcondon opened #3201 "Private URL: When a contributor deletes a draft of a published dataset with privateURL defined, role is not cleared."
When a contributor deletes a draft of a published dataset that has a privateURL defined, the role assignment that identifies a privateURL is not removed but the dataset draft is. This can be observed by seeing the privateURL blue banner still displaying when visiting the dataset as an admin.

This does not happen in v4.4 but happens in the private url branch.

See related ticket: #3200

[2016-07-06 20:32] sbarbosadataverse commented on #2167
@djbrooke Danny: this is related to the "link or saved" search feature I sent an email about. Can someone update me on the status? I'm asking Kevin for several moves that could be resolved with this feature. There is no workaround for this at all.

[2016-07-06 20:46] pdurbin commented on #3200
Whoops. This a regression. DatasetPage is reporting (for example) "Can't execute command edu.harvard.iq.dataverse.engine.command.impl.GetPrivateUrlCommand@144d3d0c, because request [DataverseRequest user:edu.harvard.iq.dataverse.authorization.users.AuthenticatedUser@3@0.0.0.0] is missing permissions [ManageDatasetPermissions] on Object Darwin's Finches".

I'm calling GetPrivateUrlCommand and Delet

[2016-07-06 20:49] kcondon commented on #2167
Update: this bug seems to be entirely performance related and related to the size of the db, not the size of the search results. It works on demo (2000+ results) and test boxes with smaller db's. In production it happens in a single dv with a single study.

[2016-07-06 20:58] kcondon opened #3202 "Widgets: Dataverse listing widget, clicking page 2 opens on dataverse site, not within widget."
Child objects are supposed to open within a widget on the remote site but clicking on page 2 or next button in a long dataverse listing opens back on Dataverse site.

[2016-07-06 22:04] michbarsinai commented on #3200
1. As far as transactions go, commands use whatever the beans they call specify. So by default they all run in the same transaction, but some bean methods might require new transactions. Note, though, that rolling back only applies for database. So Solr, Email etc. actions are not rolled back. There's a long-term plan to have commands run in their own transaction, and execute other commands after

[2016-07-07 13:11] pdurbin commented on #3200
@michbarsinai to be clear, there are three commands that would need to be duplicated to have more relaxed permissions, to allow a Contributor to revoke a role, which isn't allowed currently. Maybe we would append "AsContributor" to them or something:

- GetPrivateUrlCommandAsContributor
- DeletePrivateUrlCommandAsContributor
- RevokeRoleCommandAsContributor

Right now a Contributor can never revok

[2016-07-07 14:53] pdurbin commented on #3200
@scolapasta the change for the approach we talked about would be fairly small, I think. I still need to write API tests around this but I think these changes to [DeleteDatasetVersionCommand](https://github.com/IQSS/dataverse/blob/b62959884ad8deb06a7135e485517672eb3c6fdf/src/main/java/edu/harvard/iq/dataverse/engine/command/impl/DeleteDatasetVersionCommand.java#L71) would fix this bug and #3201:

[

[2016-07-07 15:22] scolapasta commented on #3202
@bradleycaccivio the links on the search-include-pager should work the same as the links in the sort section of the search-include fragment.

[2016-07-07 15:23] scolapasta commented on #2881
@bradleycaccivio you should be allowed to do a ?, of course. Let me know if you need any guidance on how to fix this.

[2016-07-08 13:23] pdurbin commented on #3178
This was done in #3188. Closing.

[2016-07-08 13:26] pdurbin commented on #2454
Closing per https://github.com/IQSS/dataverse/issues/2454#issuecomment-215573854

[2016-07-08 13:26] #2454 closed

[2016-07-08 13:40] djbrooke commented on #2594
Yesterday, I presented a new process to the IQSS Dataverse Team. There was some good discussion and we'll absolutely be changing the way that we work and the contributing.md doc will be changed to reflect this process.

I'll update this issue (as well as various other places) as the changes are implemented.

[2016-07-08 14:41] pdurbin commented on #3200
In 4015d35 I added tests to exercise this bug and #3201. @scolapasta and @michbarsinai please take a look.

[2016-07-08 14:43] pdurbin commented on #3201
I added some tests to exercise this bug ( https://github.com/IQSS/dataverse/issues/3200#issuecomment-231377876 ) but I'd like to keep the conversation in #3200.

[2016-07-08 14:58] pdurbin commented on #3200
@scolapasta I pushed a fix in 24df280 to a new branch. This is the one we talked about where we call service beans directly. Let's chat with @michbarsinai about it next week at the Community Meeting. If we're ok with this we can merge the branch in to the active pull request for Private URL at #3111.

[2016-07-08 15:31] pdurbin commented on #3200
@michbarsinai I'm going to [co-assign](https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests) this issue to you. I think 24df280 is an adequate solution but let's chat about it next week.

[2016-07-08 15:38] scolapasta commented on #3129
The file page search doesn't search everything currently. It runs a query in the db. What we really want is for this to go through Solr, but we'll need to resolve how we handle versions first.

So, solutions:
1. Add Solr search here, tracked by issue #2455
2. Add md5 to the limited search provided here.

(Not so great) Workaround: do the search from the dataverse page

[2016-07-08 15:44] djbrooke commented on #2872
Removing from 4.5. Will be re-prioritized for a future release.

[2016-07-08 15:48] #3178 closed

[2016-07-08 15:52] djbrooke commented on #2863
Removing from 4.5. Will be re-prioritized for a future release.

This will be updated at the same time as #2594

[2016-07-08 15:55] djbrooke commented on #2641
Removing from 4.5. Note the external dependency with our friends at Glassfish, where the issue has existed for 4 years. When this issue is reprioritized, we may need to consider a different approach that removes the dependency.

[2016-07-08 15:57] djbrooke commented on #2586
Removing from 4.5. This will be re-prioritized for a future release.

[2016-07-08 15:57] djbrooke commented on #2462
Removing from 4.5, will be prioritized for a later release.

[2016-07-08 15:59] djbrooke commented on #209
Removing from 4.5. This will be prioritized for later release. Going to assign to @scolapasta for now as he will be having some conversations about this at the Community Meeting and may update this ticket with more information.

[2016-07-08 15:59] djbrooke commented on #70
Removing from 4.5, will be reprioritized for a future release.

[2016-07-08 16:01] pdurbin commented on #3153
The code I demoed to @djbrooke @mheppler @eaquigley @scolapasta @kcondon and @bsilverstein95 on 2016-07-05 was 6852a96 from https://github.com/pdurbin/dataverse/tree/3153-passwordguess

To echo what @djbrooke wrote, @eaquigley felt that the change from "wrong password" to "locked" was too subtle.

@eaquigley also asked that I test to make sure that resetting one's password doesn't unlock the accou

[2016-07-08 17:19] pdurbin commented on #1012
I took pull request #3111 out of QA due to #3200 and #3201 so I'm taking this out of QA as well.

[2016-07-08 18:04] djbrooke opened #3203 "Add additional facet for searching and filtering on Harvested content"
The title says it all! As part of the 4.5 release, it will be extremely helpful to include/exclude Harvested content when searching and filtering.

[2016-07-08 18:05] djbrooke commented on #3203
@pdurbin - can you please take this on while @landreev moves the rest of Harvesting to completion? Let me know if you need additional info. Thanks!

[2016-07-08 19:46] kcondon commented on #3154
This was merged and will be available in v4.5.

[2016-07-08 19:46] #3154 closed

[2016-07-08 20:41] djbrooke commented on #2327
Checked with @landreev - he is going to work on this for 4.5.

[2016-07-11 16:31] tomck commented on #2838
Just a note, tested in 4.4, still allowed a user to signup.

[code]

[2016-07-11 17:56] pdurbin commented on #2838
@tomck f328110 is the main commit that fixed this issue. Users should see get a 403 (redirect) if they try to create an account through the GUI.

[2016-07-12 13:33] felliott opened #3204 "Restore `/account/apitoken` url"
Hello!

My name is Fitz Elliott and I'm a programmer with the [Center for Open Science](https://cos.io).  We provide an addon to the [Open Science Framework](https://osf.io) (OSF) that allows Dataverse users to connect their Dataverse and OSF accounts, enabling the simple transfer of research materials into Dataverse.  The v4.4 release of Dataverse changed the url for a logged-in user to get their

[2016-07-12 20:37] tlchristian opened #3205 "Add Variable List View with Frequencies"
With TwoRavens replacing the 3.x analysis capability, we've lost the variable list view that allows users to view individual variables along with their labeled value frequencies in one nice table.

I thought I remembered hearing an intern working on this, but I'm not sure if there are any plans to add this classic function.  Any updates on this?  I know that many of our users will miss the variabl

[2016-07-13 19:16] pdurbin commented on #3200
@scolapasta I described my "3200-3201-privateurl-perms-command-bypass" fix at 24df280 to @michbarsinai and he didn't seem to like it so I just pushed an alternative "3200-3201-duplicate-commands" fix at 4f6cc0c and will leave it to you two to decide if you are happy with either fix. Please advise.

[2016-07-14 13:22] pdurbin commented on #3201
@scolapasta please see https://github.com/IQSS/dataverse/issues/3200#issuecomment-232458080

[2016-07-14 13:24] pdurbin commented on #1012
@scolapasta please see https://github.com/IQSS/dataverse/issues/3200#issuecomment-232458080

[2016-07-14 13:37] pdurbin commented on #3204
@felliott before UVA can integrate with OSF, they will need to be running a version higher than 4.4 that includes the following fixes:

- #3156 (pull request #3166)
- #1070 (pull request #3137)

Thank you very much for the fix at https://github.com/CenterForOpenScience/osf.io/pull/5957 and sorry that I didn't give you a heads up that this URL was changing.

https://github.com/CenterForOpenScience/

[2016-07-14 13:57] felliott commented on #3204
Oh!  I didn't realize that UVa was going to be upgrading.  Then can I modify my request?  When an OSF user is connecting their DV account, we give them a link to `/dataverseuser.xhtml?selectTab=apiTokenTab` that they can click on and go directly to the token tab.  If they haven't logged in yet, they are sent to a login screen.  The redirect function of the login page strips the query parameter fro

[2016-07-14 15:21] pdurbin commented on #3204
@felliott sure! Please update the subject/title of this issue to better reflect what you want.

[2016-07-14 17:46] kcondon opened #3206 "Documentation: Consider adding Two Ravens site and guide to our own Two Ravens user guide section."
We received a comment that it was not immediately clear how to use Two Ravens so we may consider linking to the Two Ravens site and user guide pdf as well as possibly an instructional video. Sent email to the Two Ravens team.

[2016-07-14 18:00] felliott opened #3207 "Preserve query parameter when redirecting from login page."
When an OSF user is connecting their Dataverse account, we give them a link to `/dataverseuser.xhtml?selectTab=apiTokenTab` that they can click on to go directly to their api token. If they haven't logged in yet, they are sent to a login screen. The redirect function of the login page strips the query parameter from the original url, so after a successful login they are sent to `/dataverseuser.xht

[2016-07-14 18:01] felliott commented on #3204
Thanks, @pdurbin!  I've created a [new issue](https://github.com/IQSS/dataverse/issues/3207), without the irrelevant information.

[2016-07-14 18:01] #3204 closed

[2016-07-14 19:03] pdurbin opened #3208 "rApache RPM for RHEL/CentOS 7"
In #975 an rApache RPM was created for RHEL/CentOS 6 (hosted by HMDC and linked from http://guides.dataverse.org/en/4.4/installation/r-rapache-tworavens.html ) but a number of users are upgrading to RHEL/CentOS 7 ( https://groups.google.com/d/msg/dataverse-community/KIwy7bYgo0Q/X0AamCDzBQAJ ) and would appreciate an RPM so they can run TwoRavens.

[2016-07-14 20:09] pdurbin commented on #3208
In 4daf136 I pushed an rApache RPM for CentOS 7 (and the files used to build it) to a branch. The RPM is only 29 KB so the idea is that it will be downloadable from the guides just like our custom Grizzly patch.

Anyway, if someone out there with CentOS 7 would like to try the RPM, you can download it from https://github.com/IQSS/dataverse/blob/4daf136b59a5dc7bfbf0f5395194057544128484/doc/sphinx-g

[2016-07-14 20:44] pdurbin commented on #3200
@scolapasta and @michbarsinai blessed the fix at 24df280 so I merged it into pull request #3111. Passing to QA.

[2016-07-14 20:44] pdurbin commented on #3201
@scolapasta and @michbarsinai blessed the fix at 24df280 so I merged it into pull request #3111. Passing to QA.

[2016-07-14 20:45] pdurbin commented on #1012
@scolapasta and @michbarsinai blessed the fix at 24df280 so I merged it into pull request #3111. Passing to QA.

[2016-07-14 23:06] jonc1438 commented on #2419
Odum will be needing this too. Our case would be a situation where an Admin wants to remove a users that has left an organization. Especially for case of sensitive data.
I think step one would be a deactivation of login that would occur either manually by sysadmin or by repeated login failures. Step two would be a final cleanup of the records and movement of related objects to another user maybe d

[2016-07-15 13:11] pdurbin commented on #2446
@michbarsinai and I discussed this issue briefly yesterday and I have a better idea of what it's about. In practice *all* traffic between end users and the server at https://dataverse.harvard.edu is encrypted over HTTPS but especially as we introduce other ways of getting data in and out (such as rsync in #3145) we need to make sure that these mechanisms are at least as secure at HTTPS. That's my

[2016-07-15 13:17] pdurbin opened #3209 "Remove or rename "/api/test" endpoint"
Yesterday @michbarsinai and I discussed https://github.com/IQSS/dataverse/blob/v4.4/src/main/java/edu/harvard/iq/dataverse/api/TestApi.java and how we strongly require that people installing Dataverse block the "/api/test" endpoint.

http://guides.dataverse.org/en/4.4/installation/config.html#blocking-api-endpoints says, "There is a “test” API endpoint used for development and troubleshooting that

[2016-07-15 13:55] kcondon commented on #3105
This might be a duplicate of #1513

[2016-07-15 13:55] kcondon commented on #1513
Related, possibly a duplicate: #3105

[2016-07-15 14:10] pdurbin commented on #3208
I made 4daf136 into pull request #3210. Basically, I'm adding an experimental rApache RPM for CentOS 7 that described in and downloadable from the "R, rApache and TwoRavens" section of the Installation Guide. I can confirm that the RPM can be installed on CentOS 7. I've reached out to the Dataverse community at https://groups.google.com/d/msg/dataverse-community/KIwy7bYgo0Q/EkdtbW5eAwAJ for help i

[2016-07-18 13:30] kcondon commented on #3200
Works, closing.

[2016-07-18 13:35] kcondon commented on #3201
Works, closing.

[2016-07-18 14:59] sbarbosadataverse commented on #2021
added a related request that came in this morning:
'https://help.hmdc.harvard.edu/Ticket/Display.html?id=238458&results=c53170a1cdb9320f7c122c4b54b8608d

[2016-07-18 15:34] pdurbin commented on #3203
@landreev will provide details on what is needed and when so I'll pass this to him.

[2016-07-18 15:55] bricas opened #3212 "Support multi-core Solr instances"
Currently, Dataverse assumes the URL you're entering for Solr is a single-core instance (as evidenced by the code adding /solr to the config url)

https://github.com/IQSS/dataverse/blob/v4.4/src/main/java/edu/harvard/iq/dataverse/search/SearchServiceBean.java#L91

If the config option was changed to be the full endpoint URL to Solr, (so localhost:8983/solr instead of just localhost:8983) then Data

[2016-07-18 16:07] pdurbin commented on #3203
It's my understanding that for 4.5 we should use the existing `isHarvested` method to search and facet on and that I should make my changes to the [4.5-export-harvest](https://github.com/IQSS/dataverse/tree/4.5-export-harvest) branch. Extra methods may be added in the future.

[2016-07-18 17:01] kcondon commented on #3138
Looks good, closing.

[2016-07-18 17:01] #3138 closed

[2016-07-18 17:02] kcondon commented on #1012
Tested according to the design doc in github and looks good, closing.

[2016-07-18 17:02] #1012 closed

[2016-07-18 17:09] kcondon commented on #3174
Looks good, closing.

[2016-07-18 17:09] #3174 closed

[2016-07-18 20:16] pdurbin commented on #3203
@landreev @scolapasta as we discussed I added a "source" facet in 527149b that shows "Harvested" vs. "Local". @scolapasta wanted it to only show when there is more than one type to show so that's what I implemented. Here's a mini screenshot:

![screen shot 2016-07-18 at 4 11 18 pm](https://cloud.githubusercontent.com/assets/21006/16928824/ba688340-4d02-11e6-87d5-a72c847acd1b.png)

Heads up to @sek

[2016-07-19 13:16] kcondon commented on #3208
This is currently unsupported but was tested by Don from Odum.

[2016-07-19 13:17] donsizemore commented on #3208
Successfully tested by Don from Odum! (and thanks @landreev for finding the versioning issue with preprocess.R)

[2016-07-19 13:17] kcondon commented on #3203
@eaquigley @mheppler
Any UX, Design input needed?

[2016-07-19 13:27] #3055 closed

[2016-07-19 13:29] kcondon commented on #3208
Yes, tested successfully and found to work, thanks! Closing.

[2016-07-19 13:29] #3208 closed

[2016-07-19 13:29] kcondon commented on #3024
@raprasad I'm taking this out of QA since it shows up in my queue, thanks.

[2016-07-19 13:51] kcondon commented on #2657
This fix is in branch 2572 according to Stephen: It's in the permissions branch 2572
It has not yet be made into a pull request.

[2016-07-19 13:57] kcondon commented on #1360
@pdurbin Is this still an issue since IPGroups can only perform read-only operations?

[2016-07-19 14:04] kcondon commented on #784
Leaving in QA but removing my name until I get pull request.

[2016-07-19 14:04] kcondon commented on #3203
Leaving in QA but removing my name until I get pull request.

[2016-07-19 14:05] kcondon commented on #3156
Leaving in QA but removing my name until I get pull request.

[2016-07-19 14:06] kcondon commented on #2657
Leaving in QA but removing my name until I receive pull request.

[2016-07-19 14:06] kcondon commented on #2495
Leaving in QA but removing my name until I receive pull request.

[2016-07-19 14:07] kcondon commented on #1991
Leaving in QA but removing my name until I receive pull request.

[2016-07-19 14:08] kcondon commented on #1360
Passing to @pdurbin for comment.

[2016-07-19 14:09] kcondon commented on #1070
Leaving in QA but removing my name until I receive pull request.

[2016-07-19 14:16] pdurbin commented on #1360
@kcondon from my perspective this issue is about how a year and a half ago (prior to the Dataverse 4.0 release) SWORD operations started failing after a change introduced by @michbarsinai which is why I assigned this issue to him originally (as instructed by him in the code). It sounds like he changed/fixed things in #1257?

Since that time SWORD has been in production for over a year. I think it'

[2016-07-19 14:19] kcondon commented on #1360
Thanks, then I'll close this. As you and I have been talking about ip groups a lot recently I think we are on the same page -it is not yet ready for production and we need to review all areas where it may impact behavior.

[2016-07-19 14:19] #1360 closed

[2016-07-19 17:37] eaquigley commented on #3203
I think this should be updated to say Dataset Source instead of just source (that is, if this is only for datasets) and instead of local say, "Harvard Dataverse"

Thoughts @mcrosas?

[2016-07-19 18:40] bricas opened #3213 "Documentation enhancement for Apache config for mod_shib on Ubuntu"
I'm installing Dataverse on Ubuntu 14.04 with Apache 2.4 / mod_shib & mod_proxy_ajp.

After some trial and error, I was able to find a working combination:

[code]

Most importantly is the presence of the `Require` line early on:

[code]

I had it after the `<Location /shib.xhtml>` section, and was getting authenticated, but no ENV variables were being sent to Dataverse. Moving it higher up was th

[2016-07-19 18:43] pdurbin commented on #3213
@lwo you might be interested in this since you have "Shibboleth" at https://github.com/IQSS/dataverse-puppet#to-do :smile:

[2016-07-19 19:00] scolapasta commented on #3203
I think it's also files. Eventually it might be for dataverses.

Also, @eaquigley another question that came up. This logic of not showing a facet if it only has one value (i.e won't filter results any), do we want to extend that to other facets? (not necessarily in this release)

[2016-07-21 04:23] Venki18 commented on #3208
Hi Phil, Thanks a lot for your kind help. We are able to install Rapache from the RPM that you have posted here.

[2016-07-21 12:45] pdurbin commented on #3208
@Venki18 fantastic! If either you or @donsizemore can confirm that rApache is working (not just installed, which I did myself), please let us know! In pull request #3210 I'm calling this RPM "experimental" in the guides and provide a link to download it. Come to think of it, above @donsizemore has already said "Successfully tested by Don from Odum!" That sounds like it's working. Either way, we'd

[2016-07-21 15:05] pdurbin opened #3215 ""Securing Your Installation" section of Installation Guide could cover ongoing security, advisories, private discussion"
There's already a "Securing Your Installation" section of Installation Guide at http://guides.dataverse.org/en/4.4/installation/config.html#securing-your-installation but its focus is installation time, not ongoing security.

How should institutions who run Dataverse be alerted that they should upgrade as soon as possible to new versions of Dataverse that have security fixes?

Both @Venki18 and @l

[2016-07-21 15:55] pdurbin commented on #3150
Today @lwo met over Google Hangouts to discuss this issue. We took a few notes at https://docs.google.com/document/d/1Cq6ud-yydSPxRkTAlp_IS_5iCbBDNNk4goe7Yxp3T5A/edit?usp=sharing

I hadn't really considered that "No common names or dictionary words" necessitates having access to a dictionary! The plan is to ship one with Dataverse, to bundle it with the app, rather than relying on some operating s

[2016-07-21 16:20] kcondon commented on #784
Tested service doc in test w/ prod data (21s) and prod (16s) from root as admin.
Tested list datasets from antislaverypetitions dv in test w/ prod data (39s) and prod (25s).

[2016-07-21 16:46] lwo commented on #3215
I like the approach of the Drupal security board at https://www.drupal.org/security

Likewise, the IQSS could setup a read only, authoritative public page one can subscribe to. So
when a security issue arises via other channels (security@dataverse.org), the IQSS can prepare the fix and then use the page to describe the security issue, the versions affected and a date for when the fix is published;

[2016-07-21 17:13] mercecrosas opened #3216 "Enable/Disable Exploration options per dataset and/or dataverse"
Add a switch to enable and disable TwoRavens and other exploration tools at the dataset and dataverse level. Dataverse admins and dataset owners should be able to do this.

This is requested by the Center for Health Decision Science (CHDS) at the School of Public Health, and was requested in the past by other groups.

[2016-07-21 19:21] kcondon commented on #1070
Tested, works with admin, curator, contrib roles and explicit groups. Closing.

[2016-07-21 19:21] #1070 closed

[2016-07-21 19:21] kcondon commented on #2495
Tested and works in root dv. Closing.

[2016-07-21 19:21] #2495 closed

[2016-07-21 19:23] #784 closed

[2016-07-21 19:57] pdurbin opened #3217 "SWORD integration tests on phoenix server failing due to unexpected name for root dataverse"
Pull request #3137 just got merged (yay!) but the SWORD integration test at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/edu.harvard.iq$dataverse/37/testReport/junit/edu.harvard.iq.dataverse.api/SwordIT/testCreateDataverseCreateDatasetUploadFileDownloadFileEditTitle/ failed because the test is expecting the root dataverse to be called "Root" rather than "Phoenix":

[2016-07-21 20:13] pdurbin commented on #3217
Fixed in b38eff5 and merged from pull request #3218.

[2016-07-21 20:13] #3217 closed

[2016-07-21 21:13] kcondon commented on #3202
Works, closing.

[2016-07-21 21:13] #3202 closed

[2016-07-24 17:14] lwo commented on #3150
Hello @djbrooke,
I better ask you, as @pdurbin should be on his break. For this I like to use a well documented third party library
http://www.passay.org/
which is dual licensed under both the LGPL and Apache 2. Can you confirm I can use this maven dependency to tackle this issue? Without response, I will work under the assumption that this is ok.

[2016-07-25 07:15] Venki18 commented on #3215
I too like the idea of having a security page where IQSS can detail the steps in plugging the hole if the patch is not available immediately and also if the user cannot upgrade to the latest version.

I wanted to mention about how Microsoft issues security bulletin but I liked the idea of Lucien Van Wouw.

Thanks Phil for asking.

Regards
Venki

[2016-07-25 12:02] zward commented on #585
We use .csv files as a 'lowest common denominator' filetype for a project aimed largely at in-country partners.  They are well-structured/formatted (no spaces in header rows, no blanks, no mixing of datatypes in the same column, etc.) but still not compatible with TwoRavens.  One option is to upload them as Rdata files and let users download the tsv created during ingest, but ideally we would like

[2016-07-25 12:05] zward commented on #3216
We're having trouble getting TwoRavens to work with our files, and our users are getting confused since they end up there quite often when trying to look at the data.  An option to disable TwoRavens on a dataset would be great while we work out any issues that may be happening at ingest.

[2016-07-25 13:06] pdurbin commented on #3150
Heh. @djbrooke and I are both back now. Passay looks fine to me, from a quick glance. The website says it's built on vt-password and you may have noticed that in code (PasswordValidator.java) I had already suggested switching to this. Yes, the license looks fine and you are welcome to allow Maven to resolve dependencies. Thanks @lwo!

[2016-07-25 14:18] pdurbin commented on #3153
I just pushed some code to a branch at https://github.com/IQSS/dataverse/tree/3153-2419-lockuser which is more or less a cleaned up version of what I demo'ed on 2016-07-05. In order to run this code without dropping your database, you need to run the SQL script at https://github.com/IQSS/dataverse/blob/3153-2419-lockuser/scripts/database/upgrades/lockuser.sql

[2016-07-25 14:26] pdurbin commented on #2419
@jonc1438 hi! There's a lot to unpack in your comment but I wanted to clarify that for #3153 we are working on having repeated login failures **lock** an account **temporarily**. What you're calling deactivation of login I'm calling "locking an account indefinitely." It's just an implementation detail, I guess.

I already pinged @donsizemore at http://irclog.iq.harvard.edu/dataverse/2016-07-21#i_3

[2016-07-25 19:42] sekmiller commented on #2608
Complete except for Leonid's adding of variable data.  It's not in the requirements for 4.5, but do we need to add the ability to "turn-off" the download of variable data for DDI?

[2016-07-26 12:59] #3200 closed

[2016-07-26 13:14] #3201 closed

[2016-07-26 13:50] djbrooke commented on #3203
Let's confirm whether or not it's for files, and if so, let's move it to QA as is. If it's just for Datasets let's change it to "Dataset Source" as Liz recommends.

[2016-07-26 13:52] djbrooke commented on #907
@sekmiller - is this part of the export work? It's marked as part of 4.5 but I'm unclear on the status. Thanks!

[2016-07-26 13:53] djbrooke commented on #2608
@sekmiller - thanks! Can you please tag a person that can answer the question above?

[2016-07-26 14:00] sekmiller commented on #907
Yes, This is part of the export work. As it stands now, all supported export formats (DDI, Dublin Core and json) will be saved to the file system at dataset publication time.  We might need to run a script to catch everything that hasn't been exported to the file system at the time we deploy 4.5. I think Leonid was adding a timer job for this. (I know he added "lastExportTime" as a field for datas

[2016-07-26 14:36] djbrooke commented on #2327
Thanks @pdurbin for offering to take a look!

[2016-07-26 14:37] pdurbin commented on #2327
@djbrooke asked me to take a look at this issue. From looking at https://dataverse.lib.virginia.edu/dataverse/uva?q=protein and https://dataverse.lib.virginia.edu/dataset.xhtml?persistentId=doi:10.18130/V3/LWPBIY (screenshots below) I can see how UNFs looked in 4.3.1. For example:

`Shupnik, Margaret, 2016, "A new role for Wilms Tumor protein 1: differential activities of + KTS and -KTS variants t

[2016-07-26 14:37] djbrooke commented on #907
Thanks @sekmiller !

[2016-07-26 15:11] djbrooke commented on #2327
At standup today, @landreev mentioned that he is already working on this. Reassigning. Thanks @pdurbin for being willing to work on this!

[2016-07-26 15:14] djbrooke commented on #2588
@scolapasta - what are your thoughts here? This is currently marked as 4.5 so I'd like to move it forward. Thanks!

[2016-07-26 18:13] sekmiller commented on #2327
As discussed I took care of the issue where datasets with UNFs were not having them carried forward when a new dataset version is created (by any means other than adding a new file.)

[2016-07-26 18:52] pdurbin commented on #3156
We discussed the pull request at #3166 and decided to use "info" rather than "system" in the URL of this API endpoint. I just created a new pull request at #3219 to address this change.

Passing to QA.

[2016-07-26 18:58] raprasad opened #3220 "File Replace"
To support Provenance, we need to add versioning/replace functionality for DataFile objects.

Basics:

  - User may replace an existing dataset file with a new one:
     - via UI
     - via API
  - File versions are tied to dataset versions

Technical notes:

Internal storage:
 - DataFile will have two extra fields:
     - Root DataFile id
     - Previous DataFile id

| DataFile id | Root DataFile

[2016-07-26 19:04] landreev opened #3221 "Re-calculate UNF when a tabular file gets deleted."
While the Dataset version UNFs is correctly re-calculated when tabular files are added, it appears that it doesn't get refreshed when tabular files are DELETED. Which is just as important.

[2016-07-26 19:04] landreev commented on #3221
Working on it, will make a pull request shortly.

[2016-07-26 19:05] eaquigley commented on #3203
I still think the Local label should be changed to be "Harvard Dataverse" whether or not its for more than datasets. Additionally "Source" is already the name of a facet in the CHIA metadata schema so we probably shouldn't be reusing labels for facets. @djbrooke @scolapasta @pdurbin

Regarding not showing the facet, I would still show the facet even if there is only one value. I would recommend ha

[2016-07-26 19:31] djbrooke opened #3222 "Dashboard"
In 3.x, there were several options available for administering a Dataverse installation  through a Dashboard. We've collected data about how often specific Dashboard features in 3.x were used.

 This data will drive our decisions about which Dashboard features to re-add as part of 4.7.

[2016-07-27 15:50] kcondon commented on #1991
Reassign it to the person and say it needs CR before QA as was agreed upon by the team, move it back into the development column

[2016-07-27 15:50] kcondon commented on #2657
Reassign it to the person and say it needs CR before QA as was agreed upon by the team, move it back into the development column

[2016-07-27 15:50] kcondon commented on #3156
Reassign it to the person and say it needs CR before QA as was agreed upon by the team, move it back into the development column

[2016-07-27 15:51] mheppler opened #3223 "Widget - Footer Height Cuts Off Dataverse Project Logo"
As reported by the OpenScholar team, the height of the footer should be looked into in order to fix a layout issue where the Dataverse Project logo is cut off when the width of the widget is very narrow.

![screen shot 2016-07-26 at 3 10 17 pm](https://cloud.githubusercontent.com/assets/687227/17182093/63cb627e-53f0-11e6-9f89-7f1921666d15.png)

[2016-07-27 15:54] pdurbin commented on #3156
@scolapasta please code review pull request #3219 and if you're ok with how it looks, please move this issue through the pipeline to QA.

[2016-07-27 16:00] pdurbin commented on #1991
This issue needs more than code review. As I mentioned at https://github.com/IQSS/dataverse/pull/3082#issuecomment-234373747 pull request #3082 has merge conflicts. Since that pull request was made by @bmckinney I'll assign this to him. But! In that pull request @sekmiller has said he has applied a similar fix to the https://github.com/IQSS/dataverse/tree/4.5-export-harvest branch. Does @sekmiller

[2016-07-27 20:27] mheppler commented on #3223
Fixed minor layout issue with the Dataverse Project logo in the footer in widget view.

![screen shot 2016-07-27 at 1 34 18 pm](https://cloud.githubusercontent.com/assets/687227/17191225/e7f2a21c-5416-11e6-84b4-939e850c6023.png)

[2016-07-28 17:24] scolapasta commented on #3203
@eaquigley I had no issue with "Harvard Dataverse" if that's what you / @mcrosas want. I was just responding to the Source / Dataset Source part.

OK, in general, we'll keep single facets. We don't yet have the ability to make source be selectable (it is not one of the dynamic facets).  So for this case, I think we should keep the don't show of only one type logic, since there will be installation

[2016-07-28 18:15] kcondon commented on #3223
OK, looks good. Tested with html table at 400 width, saw issue, saw it disappear with new code for all widgets using footer.

[2016-07-28 18:15] #3223 closed

[2016-07-28 20:03] kcondon commented on #3156
The actual command is: curl http://localhost:8080/api/info/settings/:DatasetPublishPopupCustomText

The solution is instead of displaying this tou during a publish api call, instead make the tou text accessible by the above api call so the OSF/DV integration and implement business rules of fetching, displaying, and requiring agreement to the custom tou.

Docs are also in place.

[2016-07-28 20:03] #3156 closed

[2016-07-28 20:14] bsilverstein opened #3225 "Redirect to login page after sign up submission"
While testing email confirmation with @pdurbin we happened upon a bug wherein after creating a [builtin] user, the redirect page brings you to loginpage.xhtml after logging in the newly created user. Using demo.dataverse.org to test (v4.4 build 132-47b04ed), the resulting URL from pressing Sign Up via loginpage.xhtml is:

https://demo.dataverse.org/dataverseuser.xhtml?editMode=CREATE&redirectPage=

[2016-07-28 21:52] scolapasta commented on #3225
Something may be broken...

There is an optional parameter on each xhtml file that is supposed to direct it to where to go after login, if not itself.

login.xhtml has:
<ui:param name="loginRedirectPage" value="dataverse.xhtml"/>

But clearly it's not doing that...

[2016-07-28 21:57] scolapasta commented on #3225
Ah, I think this is a regression from when I moved some logic from the header to the new navigationWrapper.

[2016-07-29 13:02] pdurbin commented on #2937
Woo-hoo! https://demo.dataverse.org and https://beta.dataverse.org were just added as InCommon Service Providers! That means we can work on switching from "Specific Identity Provider(s)" mode to "Identity Federation" mode as documented at http://guides.dataverse.org/en/4.4/installation/shibboleth.html#specific-identity-provider-s-vs-identity-federation

Part of this will be setting up (and probabl

[2016-07-29 18:22] landreev commented on #2327
OK, just to summarize:
This was not a matter of the UNF *not being shown* in the displayed citation;
It was a matter of not copying the UNF of an existing version to the draft, if the said draft was created by means other than adding another tabular file.
The UNF would be properly calculated eventually, when and if another tab. file were added to the dataset.

The issue has now been solved, not by

[2016-07-29 18:22] djbrooke commented on #3061
So.... can we close it? Thanks!

@pdurbin @kcondon

[2016-07-29 18:23] landreev commented on #3221
I have a fix in the 3221-unf-fixes-4.5 branch. Needs to be reviewed, than can go into QA.

[2016-07-29 18:24] pdurbin commented on #3061
https://help.hmdc.harvard.edu/Ticket/Display.html?id=234442 has been marked "resolved" so I vote we close it.

[2016-07-29 18:24] landreev commented on #3197
So, since this is fixed in the export-harvest branch, I'm assuming it's in QA as part of the general export and harvest QA.

[2016-07-29 18:28] djbrooke commented on #3061
Closed it!

[2016-07-29 18:38] djbrooke commented on #2909
Hey @landreev, @anuj-rt - is this moving forward with the MOC work? If it's done or being tracked elsewhere can we close it? Thanks!

[2016-07-29 19:02] djbrooke commented on #531
(just assigning this to Liz so that we can discuss on Monday)

[2016-07-29 19:04] spalan commented on #2909
I was wondering which branch I could use to get the version of DV that supports Swift.  I would be interested in trying it with our local cluster.

Alan

On Jul 29, 2016, at 2:38 PM, Danny Brooke <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @landreev<https://github.com/landreev>, @anuj-rt<https://github.com/anuj-rt> - is this moving forward with the MOC work? If it's don

[2016-07-29 19:25] djbrooke commented on #2572
@mheppler @sekmiller I'm going to move this to not started, but I saw there were a few commits that referenced it.

[2016-07-29 19:46] djbrooke commented on #3063
@raprasad - I'm going to move this to the backlog, but if it should be in some other state feel free to move it! Thanks!

[2016-07-29 19:46] djbrooke commented on #3100
@raprasad - I'm going to move this to the backlog, but if it should be in some other state feel free to move it! Thanks!

[2016-07-29 20:12] kcondon commented on #2327
Tested, this now works: when you create a draft by editing metadata only, the previous UNF is copied over to citation. Closing.

[2016-07-29 20:12] #2327 closed

[2016-07-29 20:35] #3221 closed

[2016-08-01 14:07] djbrooke commented on #2657
@scolapasta - sounds like this needs CR - assigning to you! Thanks!

[2016-08-01 14:11] djbrooke commented on #2657
To be moved along with #2572.

[2016-08-01 14:13] djbrooke commented on #2572
The fix for #2657 is in this branch.

[2016-08-01 14:33] raprasad opened #3228 "Metrics: Deploy on Heroku"
Requires: #3229

---
- Configure and deploy the Django metrics application on Heroku (IQSS enterprise version)
  - Staging instance
  - Production instance
- Requires amazon S3 account for hosting logos

Need: Feeding metrics, including visualizations, to dataverse.org

[2016-08-01 14:37] raprasad opened #3229 "Metrics: Create read-only database users for demo production"
Prerequisite for: #3228

---

The metrics application requires:
  - Postgres (read-only) user credentials to gather stats
  - IP access from the Heroku apps to the Postgres servers.

These user credentials should exist for:
  - Database feeding http://demo.dataverse.org
  - Database feeding https://dataverse.harvard.edu/

Within Postgres, create user credentials and open up firewalls for the metri

[2016-08-01 14:42] raprasad opened #3230 "Metrics: Display visualizations on dataverse.org"
Prerequisite: #3228

---

- Consult with open scholar group (Dan Cabral) regarding best method for displaying metrics on dataverse.org
  - e.g. embedded js/html, javascript widget, iframe, etc
- Actual work will be some type of view from the metrics server

[2016-08-01 16:18] raprasad commented on #3191
pain point: Would help with Metrics and other tasks!

[2016-08-01 19:35] eaquigley commented on #2947
Something to think about when adding this sorting option:
- [ ] Downloads equals: explicit dataset downloads; e.g.-one file in the dataset downloaded 1000 times
- [ ] Downloads equals the sum of all the files downloaded; e.g.-each file in the dataset downloaded 5 times each
- [ ] Downloads of Metadata for the dataset

Per discussion with @djbrooke

[2016-08-01 19:56] eaquigley commented on #1938
Reviewing this issue with @djbrooke and from what I can tell, the only thing that could be added to a dataverse card would be the Category.

[2016-08-01 19:58] eaquigley commented on #531
Yes, I still do believe that the metadata block with the error in it should stay open.

[2016-08-01 20:31] pdurbin commented on #2937
I just reconfigured https://demo.dataverse.org for "Federated Login Mode" and captured the necessary changes into f0f5ac9 (`maxRefreshDelay="3600"` which is in seconds, is the key).

Next @djbrooke will be picking up where we left on the R&S form: https://spaces.internet2.edu/display/InCFederation/Research+and+Scholarship+Application+Form . The demo site is ready to go. We can now check the box ne

[2016-08-02 13:37] pdurbin commented on #2937
@djbrooke discussed this issue. I'll take a swing at filling out https://spaces.internet2.edu/display/InCFederation/Research+and+Scholarship+Application+Form myself.

[2016-08-02 14:01] djbrooke opened #3232 "Integrate Data Viz"
There's some interest from the community in integrating the contents of the Data Viz repo with Dataverse:

https://github.com/IQSS/data-viz

[2016-08-02 14:11] djbrooke commented on #3010
@eaquigley and I met to discuss this so that I could become familiar with the current state. This will be prioritized for a future release, but back to the unassigned pool for now!

[2016-08-02 14:15] djbrooke commented on #2974
@eaquigley and I met to discuss this so that I could become familiar with the current state. The potential value and impact of this increases as more folks enable Shib. Will revisit for a future release.

[2016-08-02 14:16] pameyer commented on #3232
@djbrooke - is this interest in augmenting two-ravens specifically, or integrating other visualization tools (along the lines of what rpartridge has been working on)?

[2016-08-02 14:30] pdurbin commented on #2937
For entityID "https://demo.dataverse.org/sp" I filled out https://spaces.internet2.edu/display/InCFederation/Research+and+Scholarship+Application+Form and saw "Your response has been sent successfully!" It says "A copy of this application form will be sent to this email address" so I'm hoping that an email will go to the address I provided, which was support@dataverse.org (nothing yet).

For "How

[2016-08-02 14:37] djbrooke commented on #2607
Talked with @eaquigley about this inconsistency. Will be prioritized for a future release.

[2016-08-02 14:40] djbrooke commented on #2473
Unassigning myself for now, but could perhaps be rolled into 5.0 and the Sensitive Data project.

[2016-08-02 14:41] pdurbin commented on #3232
Here's a screenshot from an experiment at https://dv.sbgrid.org/dataset.xhtml?persistentId=doi:10.15785/SBGRID/190 that shows what @rpartridge has been working on. Note the new "Visualization" tab:

![screen shot 2016-08-02 at 10 39 47 am](https://cloud.githubusercontent.com/assets/21006/17332677/91435f5c-589d-11e6-87b7-f508378853f1.png)

[2016-08-02 14:49] djbrooke commented on #3232
Oops! Closing this in favor of #3205, which I did not see and is more specific. Feel free to move the convo to there if it is still relevant.

[2016-08-02 14:50] djbrooke commented on #3232
(and tagging @tlchristian)

[2016-08-02 14:50] #3232 closed

[2016-08-02 14:52] djbrooke commented on #3205
@tlchristian - the work that you reference is here:

https://github.com/IQSS/data-viz

I don't have any updates at this time. I'll get you something soon.

[2016-08-02 14:54] djbrooke commented on #350
@eaquigley gave me an overview of the importance of this, especially in those metadata schemas that have many options. Removing myself for now, will be added in a future release.

[2016-08-02 17:02] kcondon opened #3233 "Groups: Allow shib/ ip groups to be discovered in the UI."
It is not obvious to less technical admins which ip or shib groups exist to assign roles to. While there are API commands that list each type, someone who exclusively uses the UI would not have access to this.

Also, maybe expand the User Guide to discuss the use of groups and their types in more detail.

There is some useful information on explicit groups on the groups page when there are no grou

[2016-08-02 18:19] djbrooke commented on #1380
This came up in the 8/2 Community Call (https://docs.google.com/document/d/1FsXatbbq-F4qwD_w9dqkFXpr2Sd4MqScKevUcHLCVDY/edit).

[2016-08-03 09:56] lwo commented on #3150
Hmm... those password lists... I am still unsure about the technical translation from the "No common names or dictionary words" requirement. For example: "Password" and "password123" are commonly used passwords, and we could take a dictionary list from: http://weakpass.com/
to block them. But then, those examples any the large majority of those dictionary words would not pass the validator anyway

[2016-08-03 14:52] eaquigley commented on #3203
@scolapasta I know, I was bringing it back up though since @djbrooke's comment only mentioned the Dataset Source label so it was not clear if Local was going to be changed to Harvard Dataverse. Still concerned about "Source" being an existing facet for another metadata block...

[2016-08-03 15:18] sbarbosadataverse commented on #1380
This also came up for Numeric Data Services were anyone using Harvard Library should be able to access their dataverse via IP. Another case is "licensed" data that the PI would like other institutions that subscribe to the data, to access via Dataverse (like Princeton, etc...) This would increase use of the data itself  and bring traffic to Dataverse--both of which we want.

[2016-08-03 15:42] scolapasta commented on #3205
We've also discussed adding this list as part of the new File Landing page.

[2016-08-03 19:58] pdurbin commented on #3105
Today @michbarsinai @scolapasta @kcondon and I discussed IP groups and I've been asked to try to reproduce this bug in the branch that pull request #3103 is based on. It's believed this is still a bug.

[2016-08-03 19:58] pdurbin commented on #1513
Today @michbarsinai @scolapasta @kcondon and I discussed IP groups and I've been asked to try to reproduce this bug in the branch that pull request #3103 is based on. It's believed this is still a bug.

[2016-08-03 20:16] mheppler commented on #3203
Label suggestion: "Metadata Source".

<img width="230" alt="screen shot 2016-08-03 at 4 16 20 pm" src="https://cloud.githubusercontent.com/assets/687227/17380551/adb3eba4-5995-11e6-9559-3bdc697914c9.png">

[2016-08-03 22:00] raprasad opened #3234 "Metrics: bug/questions"
Should Dataverse counts include harvested Dataverses/Datasets?

[2016-08-03 22:33] michbarsinai opened #3235 "API: Provide an API-firendly 404 on nonexistent endpoints"
currently, there's an HTML 404 page there. Should be JSON.

[2016-08-03 22:39] mheppler commented on #3235
:thumbsup: :star:

[2016-08-04 12:50] pdurbin commented on #3208
@donsizemore said "the rapache/centos7 rpm worked well at odum" at http://irclog.iq.harvard.edu/dataverse/2016-07-21 so I think pull request #3210 is in good shape.

[2016-08-04 13:52] michbarsinai commented on #1380
While working on bug: Note that the inability to delete an IP group that has assignments is OK. It's just that the error message was misleading. Error message fixed in 2ee3fad.

[2016-08-04 17:22] djbrooke commented on #813
@landreev - I met with @eaquigley to review the Usability Testing Feedback and these items should be fixed for this release:

- Move Dashboard link to be an item in the navigation and not within the username dropdown
- Make all boxes on Dashboard landing page same size
- If a user tries to harvest content that has already been harvested, there is nothing in the UI that tells them this has happened

[2016-08-04 18:23] anuj-rt opened #3236 "Caching data file locally on harvesting from a Dataverse OAI server"
A new feature is added to the existing export-harvest code to cache data files on the local storage.
This caching extends the existing harvesting functionality.

[2016-08-04 19:50] pdurbin commented on #1513
I can easily reproduce this bug by giving an IP Group "admin" on an unpublished non-root dataverse, which should result in the "Guest" user being able to see a search card for the unpublished dataverse.

Interestingly, the indexing seems fine. The unpublished dataverse in question says it's discoverable by the IP Group: `"discoverableBy":["group_ip/ipGroup3", "group_user5"]`

The problem is at run

[2016-08-04 20:35] pdurbin commented on #2419
Today @mheppler and I looked at the latest code in the [3153-2419-lockuser](https://github.com/IQSS/dataverse/tree/3153-2419-lockuser) branch (v. 4.4 build 3153-2419-lockuser-4f05d67 deployed to https://dev1.dataverse.org ).

When a user is disabled/deactivated and attempts to log in it currently says the user is locked out until the year 9999 (this is an allowed date in the SQL spec from what I u

[2016-08-04 20:37] pdurbin commented on #3153
Today @mheppler and I looked at the latest code in the [3153-2419-lockuser](https://github.com/IQSS/dataverse/tree/3153-2419-lockuser) branch (v. 4.4 build 3153-2419-lockuser-4f05d67 deployed to https://dev1.dataverse.org ).

Out of the box the behavior is "three strikes and you're out" for 60 minutes but both of these values are configurable.

Mike will make any changes to the branch as he sees f

[2016-08-04 20:40] djbrooke opened #3238 "Manual Provenance Integration for Files"
File and dataset level, we'll need a few things in order to populate the [Provenance system](https://www.usenix.org/conference/tapp12/workshop-program/presentation/macko) with relevant information from Dataverse so that provenance graphs can be displayed (#3245).

At the file level we need to:
- Allow a User to upload a provenance file and/or allow a user to add text explaining the transformation

[2016-08-05 01:21] Venki18 commented on #3208
Hi Phil

The rapache rpm worked well for us too. Thank you very much for your help.

Have few other things to report to so thought would drop an email on that but time didn’t permit it. Sorry for not having informed you earlier.

Regards
Venki

[2016-08-05 15:23] pdurbin opened #3240 "Document how to migrate passwords from DVN 3.x to Dataverse 4"
https://github.com/IQSS/dataverse/blob/v4.4/scripts/migration/migration_instructions.txt#L111 says the following:

[code]

Users are confused by this, most recently at http://irclog.iq.harvard.edu/dataverse/2016-08-05#i_39166

[2016-08-05 15:29] djbrooke commented on #3238
We'll get a demo and code walkthrough from @jacksonokuhn next Friday and learn more about what we should expect.

[2016-08-05 15:41] djbrooke commented on #3220
[Mockups](https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/File%20-%20Versions)

[2016-08-05 15:45] djbrooke opened #3241 "View File Versions"
The user may view the previous versions of a file, if they exist
- [ ] via UI
  - [ ] Includes the versions tab on the Dataset page and the written description of differences between versions.
- [ ] via API

[2016-08-05 16:40] pdurbin commented on #84
Here's where it's hard-coded in the GUI: https://github.com/IQSS/dataverse/blob/v4.4/src/main/java/edu/harvard/iq/dataverse/search/SearchIncludeFragment.java#L309

[2016-08-05 16:56] mheppler commented on #2572
Updated my comment above to make the checklist items clearer as to which dataTable was broken and in which popup from which page.

[2016-08-05 16:58] #3234 closed

[2016-08-05 17:01] mheppler commented on #2716
The dynamic "selecting" count is buggy. If you click around on the Restricted File Permissions pg and go from one popup to another the count can carry over and incorrectly display a count.

![screen shot 2016-08-05 at 1 00 35 pm](https://cloud.githubusercontent.com/assets/687227/17444190/b46f25da-5b0c-11e6-853a-ed7378b54346.png)

![screen shot 2016-08-05 at 1 01 03 pm](https://cloud.githubusercont

[2016-08-05 17:29] kcondon commented on #2937
Works, closing.

[2016-08-05 17:29] #2937 closed

[2016-08-05 19:06] kcondon opened #3243 "Index: Uploading a file to a preexisting draft dataset without any metadata change does not index file."
If you add a file to an existing draft dataset, regardless of whether it has a published version, and do not modify any metadata, the file is not indexed until metadata is modified of draft is published.

[2016-08-05 19:35] djbrooke commented on #2465
Moving to ready as this is already has work done and is slated for 4.6.

[2016-08-05 19:57] kcondon opened #3244 "File Upload: Uploading image files fails on demo machine only, missing class."
On demo.dataverse.org and no other test or prod machine, image files upload, then immediately disappear from UI and throw a server log error. Leonid thinks this may be due to a missing optional Java library.

The server log error:

[2016-08-05T15:55:45.923-0400] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=56 _ThreadName=jk-connector(5)] [timeMillis: 14

[2016-08-05 20:08] kcondon commented on #3244
Note: in  this particular case, restarting glassfish resolved the issue.

[2016-08-05 20:38] pdurbin commented on #1513
Some initial progress in e6438c7 but a bit rushed. Ideally I'd add some API tests.

[2016-08-08 14:49] djbrooke opened #3245 "Provenance Graph View for Files and Datasets"
In #3238, we feed the [Provenance System](https://www.usenix.org/conference/tapp12/workshop-program/presentation/macko) transformation information so that the system can then feed Dataverse with a representation of those changes.

- The Provenance System will provide us with an interactive visualization (see comments below)
- This should be made available under the "Provenance" tab for both Files

[2016-08-08 15:11] raprasad opened #3246 "For Dataverse users, record (1) date created, (2) last login, and (3) lastApiUse"
Add the following timestamp columns to the authenticated user table:
- authenticateduser.created
- authenticateduser.last_login  (this may already be covered by 'modificationtime')
- authenticateduser.last_confirmed (possible - @scolapasta's discretion)

To supply basic metrics to stakeholders and dev. team including:
- how many users are added to the system during specific time periods (e.g. user

[2016-08-08 16:29] pameyer opened #3247 "support directory structure visualization of transfered data files"
Data files transferred through the [Data Capture Module](https://github.com/IQSS/dataverse/issues/3145), data sets with data files that have directory structure available should display that structure.

Related to https://github.com/IQSS/dataverse/issues/2249, but distinct in that this doesn't require supporting re-organization of uploaded files (and possibly should support disabling such an optio

[2016-08-08 16:37] pameyer opened #3248 "Support multiple dataset (or datafile) level download URLs"
For data sets where the data files are available at multiple locations (which are known to the dataverse installation - will need a related issue for that), the dataset landing page should display all of the URLs.

It might be helpful to try and recommend a particular distribution URL (aka - recommend a download URL close to the location of the user).

[2016-08-08 16:41] pameyer opened #3249 "support display of non-http download URLs on dataset landing page"
For some types of data files (e.g. large data files, or data files that have been "deposited by reference") the landing page should display one (or [more](https://github.com/IQSS/dataverse/issues/3248) non-http download URLs.

[2016-08-08 18:03] michbarsinai commented on #2110
Note that, strictly speaking, there is no such thing as a "dataset title". A title is a property of a **version** of a Dataset. So that's one level of indirection that will alway see there (at least, until the application logic changes).

[2016-08-08 18:09] michbarsinai opened #3250 "Refine HTTP response code for bad API tokens"
Currently we reply with `unauthorized`. Should really be `400 bad request`.

[2016-08-08 20:43] djbrooke opened #3251 "File Level Metadata - Worldmap Metadata"
For those files that have Geospatial Metadata, we should display that Metadata on the File Level Landing Page.

[2016-08-08 20:46] djbrooke opened #3252 "File Level Metadata - Tabular Metadata"
Tabular files have additional metadata that is created during the ingest process. Some of this metadata should be shown, along with a preview, on the File Level Landing Page (#2465).

[2016-08-08 20:51] djbrooke commented on #3245
@mheppler - Can you link the wireframes here once they are created? Thanks!

[2016-08-09 14:59] djbrooke commented on #3220
Moving to ready since mockups are available.

[2016-08-09 16:27] landreev commented on #813
There was one serious bug found during the usability session that is NOT on this list: After creating a new, or editing and saving an existing client, clicking on the "edit" button resulted in an empty popup; the page would stay in that state  until reloaded.
This was indeed a really bug, unlike almost everything else on this list, and it has been fixed.

[2016-08-09 16:33] landreev commented on #813
@djbrooke
I would like to point out that 4 of these bullet points: 1, 2, 6 and 7 are cosmetic fixes of the page itself; that would be for Mike to work on, and not for me. They are probably very easy to fix, but seeing how it's kind of late, and nobody has yet alerted Mike about it, I propose we table them - ? (and seeing how they don't appear to be anywhere near crucially important for the actual

[2016-08-09 16:38] landreev commented on #813
Any chance we could drop number 4 from the list:

 - Add text that says the scheduling is for the local time of the installation

and just go on pretending it has never been brought up in the first place? Unless somebody could give me a single reason anyone would ever assume that this is NOT their local time, but, say, London or Central Australian time?

[2016-08-09 16:44] landreev commented on #813
Item 5:

- Change column heading from "Statistics" to "Number of datasets" (unless this will display anything aside from Number of datasets)

it's more complex than just a "number of datasets" - it could be *various* numbers of datasets related to this set: "N number of datasets found; M already exported; K marked as deleted". But, I agree, "Statistics" is not the best term. I have changed it to j

[2016-08-09 16:48] landreev commented on #813
Item number one:
- Move Dashboard link to be an item in the navigation and not within the username dropdow

I can do this is in about 5 seconds, most likely... but where is "navigation"?

[2016-08-09 17:08] mheppler commented on #813
@landreev @djbrooke -- My $0.02... Why have usability testing if we aren't going to implement suggested UI improvements? Can we meet quickly this afternoon to review these and I can give a LOE to determine if indeed I can get them into this release. Seems foolish not to.

[2016-08-09 17:17] landreev commented on #813
Number 3:
This is a super important one (was the single most embarrassing point of the usability session)
Because it failed in the most un-gracious, user-unfriendly way (by hanging in the "inprogress" state)

This is the way I have resolved this:
Now, if any dataset being harvested is found to already exist in this Dataverse installation, but AS PART OF ANOTHER dataverse, the following will happen

[2016-08-09 17:24] landreev commented on #813
@mheppler @djbrooke
Mike, that is the plan - Danny and I are meeting at 2:30 to go through the list.
I was about to ask you if you wanted to join us.
I just wanted to comment on all this before the meeting.

I wasn't talking about not implementing these (with the exception of one, the time zone)
I was talking  about 4.5 vs 4.5.1.

If you feel that any of this is a low-hanging fruit that you could

[2016-08-09 20:00] djbrooke commented on #813
Thanks @landreev and @mheppler for meeting about this! Good to put together a plan to tackle these.

[2016-08-09 20:39] mheppler commented on #813
Status of my UI updates from the list above:

[x] Move Dashboard link to be an item in the navigation and not within the username dropdown
[x] Make all boxes on Dashboard landing page same size
[ ] Use Tool tips instead of onscreen text under the specific boxes
[ ] Make the first input field the focus when opening a new modal

[2016-08-10 03:58] Venki18 opened #3253 "Types parameter in the URL"
This is part of a series of issues raised by NTU libraries as discussed with @pdurbin

NTU Central IT division did an Appscan on dataverse application installed in the development server and found few issues. Please refer to the section below on Appscan and what is it and how its being done.

The types parameter in the URL (_GET /?q=& types=%28select+datasets%29 &sort=dateSort&order=desc&page=1_)

[2016-08-10 04:26] Venki18 opened #3254 "Sign Up Url - Session ID"
This is part of a series of issues raised by NTU libraries as discussed with @pdurbin

Refer to other issue - #3253

The jsession ID that is generated when the user clicks on "Sign Up" url. The appscan report says that the session ID generated before the user log in can be modified or altered by an middle man. So the session ID must be generated after the sign up is completed. This was flagged as

[2016-08-10 05:06] Venki18 opened #3255 "Cross-Site Request Forgery - Dataverseuser.xhtml"
This is part of a series of issues raised by NTU libraries as discussed with @pdurbin

Refer to other issues - #3253, #3254

The Appscan showed the following url as affected https://dataversedev.ntu.edu.sg/dataverseuser.xhtml . This was flagged as Medium Vulnerability.

_The mitigated risk includes:_ It may be possible to steal or manipulate customer session and cookies, which might be used to imp

[2016-08-10 05:14] Venki18 opened #3256 "Error Page showing Glassfish error"
This is part of a series of issues raised by NTU libraries as discussed with @pdurbin

Refer to other issues - #3253, #3254, #3255

When the URL parameter is changed to null for example in the following url
/dataverseuser.xhtml?editMode=CREATE& redirectPage=\
the redirectPage parameter was set to "\" and the error page is shown as seen in the image.
![image](https://cloud.githubusercontent.com/ass

[2016-08-10 14:43] djbrooke commented on #3251
This will include a Preview of the map and metadata from the JSON document.

[2016-08-10 14:46] djbrooke commented on #3252
Need to check with @landreev - the metadata is generated from a tabular file and outputted in a standard format

[2016-08-10 15:46] raprasad commented on #3229
- After conversation on 8/8, ticket sent to Evan for HMDC database access

[2016-08-10 16:27] raprasad opened #3257 "Metrics / demo.dataverse.org: Make the postgres db (dvndb) accessible from the public IP"
Required for https://github.com/IQSS/dataverse/issues/3229

---

For testing the Heroku metrics application, make the postgres "dvdb" database accessible via demo.dataverse.org's public IP

- Once this is done, Evan can update the firewall rules so Heroku can access it

[2016-08-10 16:27] djbrooke commented on #3203
Let's go with Metadata Source. Thanks @mheppler for the suggestion!

[2016-08-10 19:58] sekmiller opened #3258 "Track time when a File Access Request is made"
In discussions with @sbarbosadataverse  around the Manage Permissions issues, she asked that we track the time a file access request is made and display it on the Manage File Permissions page so that the admin responsible for granting permissions could see when an access request was made. (Currently we just track the user and file in the fileaccessrequests table).  Dream scenario - allow the admin

[2016-08-10 20:01] djbrooke commented on #3258
Thanks @sekmiller! I talked briefly with @sbarbosadataverse and we'll punt on this for now but may come back to it in a future release.

[2016-08-10 20:15] djbrooke opened #3259 "File Level Metadata - FITS Metadata"

[2016-08-10 20:20] djbrooke commented on #3259
- I'll need to connect with someone from Seamless Astronomy (http://projects.iq.harvard.edu/seamlessastronomy/home) to gather more specific requirements for this.

[2016-08-11 15:46] kcondon opened #3260 "Harvest: Automatically update manage client page as harvesting completes."
Currently when you run a harvest client, the UI has a message indicating you need to refresh the page to see the status. Although as designed, It would be nice if this happened automatically in a future release.

[2016-08-11 15:55] kcondon opened #3261 "Export: Add a paragraph in admin section about how export behaves generally."
While the visible aspects of Export are an export metadata button and two api calls (export dataset, export all), it would be good for administrators to understand how export functions generally: when does it run, where does it put stuff, any logging, what happens on failure, what formats are exported, how it might interact with import?, what currently makes use of export (harvest server).

[2016-08-11 15:58] djbrooke commented on #3260
Removing from 4.5, possibly will be added in a future release.

[2016-08-11 15:59] djbrooke commented on #3261
I'll do this as part of my text edits.

[2016-08-11 16:01] kcondon opened #3262 "Harvest: Provide more documentation and examples on how to define common harvest sets"
Based on prior experience and recent UX comments from Odum, there should be both general and specific info on syntax used to define harvest sets. General being we support the syntax used by our local search syntax used by Solr that can be discovered searching with Advanced Search and viewing the resulting syntax displayed in the search box on the results page. Specific being commonly used sets fro

[2016-08-11 20:54] kcondon opened #3263 "Harvest: Update sets to handle deaccessioning of published dataset version where previously published version exists."
When an entire dataset, meaning all versions, is deaccessioned then it is not harvested, or if deaccessioned after harvesting, it is then handled as a deletion.

We also allow deaccessioning of individual versions of datasets. If older versions of datasets are deaccessioned, then the set is unaffected. If the latest published version is deaccessioned but there exists a previously published version

[2016-08-11 21:08] kcondon opened #3264 "Harvest: Using more than 30 chars in client nickname results in exception in UI and logs."
Using more than 30 chars in client nickname results in exception in UI and logs. Error in UI says reason unknown so user would not know how to correct it.

[2016-08-11T17:04:26.062-0400] [glassfish 4.1] [SEVERE] [] [edu.harvard.iq.dataverse.EjbDataverseEngine] [tid: _ThreadID=165 _ThreadName=jk-connector(5)] [timeMillis: 1470949466062] [levelValue: 1000] [[
  Unexpected bean validation constraint

[2016-08-11 21:11] kcondon opened #3265 "Harvest: Exception error banner support email does not include math challenge numbers so won't work."
This problem has appeared before: the numbers do not appear in the math challenge required to send a support email in the case of an exception so no email can be sent.

The use case was to enter more than 30 chars as the client nickname, see exception when save.

[2016-08-11 21:33] kcondon opened #3266 "Harvest: Server archive type could use better explanation; clicking on datasets harvested with incorrect type results in 404 error."
The last step in creating a harvest client is choosing a server archive type.  If you choose the wrong type, the redirect to the original source is broken and throws a 404. It is my understanding that "...we cook the redirect urls based on it, among other things."

The current help text says,

Select the archive type that best describes this remote server in order to properly apply formatting rule

[2016-08-11 21:40] kcondon opened #3267 "Harvest: Deleting a client can be problematic, needs more feedback."
Harvest client delete button is always available. This can cause some problems since the harvest status is not automatically updated and the client may still be finishing up even after the harvest stats are posted. The result is nothing happens in the UI. Nada. Exceptions in logs though. Does work if you wait 5-10 mins more.

Another related issue is when deleting large but not running clients. Wh

[2016-08-11 21:48] kcondon opened #3268 "Fix real-time, incremental harvesting from Odum archive"
Of the 3000+ datasets harvested from Odum, 50 failed.

For example,
1902.29/10497, grep -c "  Exception processing getRecord()" server.log_2016-08-01T15*

[2016-08-11 21:51] kcondon opened #3269 "Harvest: Remove the metadata.tmp files left in /tmp directory"
This is a known task to be taken before releasing this feature. Right now, harvesting ends up leaving lots of metadata.tmp files in the /tmp directory. This becomes a cleanup/ maintenance issue unless our app cleans up after itself.

[2016-08-11 22:01] kcondon opened #3270 "Harvest: Harvest client and server use different ordering schemes."
Client puts newest last, server uses alphabetical order.
Is this intentional?

[2016-08-11 22:03] kcondon opened #3271 "Export: Dublin Core format is missing language tag."
Elen's metadata mapping spreadsheet specifies language as a required field for Dublin Core export but it is not included.

[2016-08-11 22:07] kcondon opened #3272 "Harvest: Dublin Core, publisher (producer) not searchable/ imported."
According to Eleni's metadata mapping spreadsheet, the publisher should be imported and therefore searchable after harvest. It is not. Not sure where the breakdown is but it appears to be exported and might be in import.

[2016-08-12 13:53] djbrooke commented on #3262
Hey Kevin - something like this (stolen from 3.6 documentation 😄)?

_Generally speaking, basic queries take the form of study metadata field:value. Examples include:
globalId:"hdl 1902 1 10684" OR globalId:"hdl 1902 1 11155": Include studies with global idshdl:1902.1/10684 and hdl:1902.1/11155
authority:1902.2: Include studies whose authority is 1902.2. Different authorities usually represent diff

[2016-08-12 14:25] djbrooke commented on #3271
Stephen - can you please take a look at this issue? The spreadsheet is here:

https://docs.google.com/spreadsheets/u/1/d/10Luzti7svVTVKTA-px27oq3RxCUM-QbiTkm8iMd5C54/edit?usp=sharing

[2016-08-12 14:26] michbarsinai commented on #1380
OK! off to final QA, and then, hopefully, dev.

[2016-08-12 14:32] kcondon commented on #3262
The basic content and concepts are good, the actual query syntax has changed.

The query examples from your example seem to be:

1. specific datasets (we no longer say study) by global id (we may say persistent identifier now and field name may be persistentId)

2. specifying an entire globalid authority

3. specifying datasets by dataverse

4. specifying datasets that have a common field/ keyword

[2016-08-12 14:38] djbrooke commented on #3262
Got it - thanks!

[2016-08-12 16:19] sekmiller commented on #3271
Fix is checked in.  The surefire way to test is to republish a dataset that has an entry in the list of languages - the manually export.

[2016-08-12 19:08] sekmiller commented on #3271
@djbrooke - not sure why you assigned this back to me.  I just looked on as @kcondon verified the fix on Build. Do I need to do something in Waffle?

[2016-08-12 19:10] djbrooke commented on #3271
Beh. Waffle thing. Sorry about that!

[2016-08-12 20:43] michbarsinai opened #3273 "Unpublished DvObjects' cards don't show for IpGroups contained within a group that has permission to view them."
Given a dataverse that:

1. Contains unpublished Datasets
1. Has an explicit group with `Admin` role (call that `eg`)
1. `eg` has an IpGroup as a member (we'll call that `ipg`)

When a user logs in from an IP address that's a member of `ipg`, she does not see the card of the unpublished dataset. Note that when the role is assigned to `ipg` directly, these cards are shown.

[2016-08-12 20:44] michbarsinai commented on #3273
@kcondon - is that right?

[2016-08-12 20:46] kcondon commented on #3273
Yes sounds right.

________________________________
From: Michael <notifications@github.com>
Sent: Friday, August 12, 2016 4:44:42 PM
To: IQSS/dataverse
Cc: Condon, Kevin M; Mention
Subject: Re: [IQSS/dataverse] Unpublished DvObjects' cards don't show for IpGroups contained within a group that has permission to view them. (#3273)

@kcondon<https://urldefense.proofpoint.com/v2/url?u=https-3A__githu

[2016-08-12 20:54] kcondon opened #3274 "Harvest: harvest client does not check for unique identifiers."
I am able to harvest an existing dataset from one web server pointing to the same db to the other web server pointing to the same db. This shows the client does not detect duplicate id's.

While this particular use case is likely only a test case, it may be possible to harvest the same id's from different, non dataverse OAI servers.

[2016-08-12 20:59] kcondon commented on #1513
This is working now. Phil, we can close this unless there is something more you want to do.

[2016-08-12 21:00] kcondon commented on #3105
This is working now. Phil we can close this unless there is something more you want to do.

[2016-08-12 21:04] kcondon opened #3275 "My Data: Does not display access via IP Groups permissions"
IP Groups was recently overhauled and fixed and one of the remaining issues is My Data does not display cards where access was granted via ip groups.

[2016-08-12 21:11] kcondon opened #3276 "Harvest: Exporting all IQSS datasets has several failures."
I've created a set that includes all of the IQSS handle and doi domains and see from the set status the following results:

19,734 datasets (19,726 records exported, 0 marked as deleted)

so, 8 datasets failed export, pretty good record! This ticket is to investigate the 8 failing cases.

[2016-08-12 21:18] kcondon opened #3277 "Harvest: Harvesting all IQSS local datasets results in almost 19k success, nearly 800 failures."
The set advertises 19726 exported datasets.
The client successfully harvested 18933, with 792 failures.
18933+792=19725, or one less than were exported in the set.

So two issues:
1. 792 failures
2. The client harvest count does not agree with the total set size from the server.

[2016-08-12 21:43] kcondon opened #3278 "Index: Index all fails on migrated harvested content other than Odum"
If performing an index all, it will halt when it encounters IQSS migrated legacy harvested content from places other than Odum: ICPSR, Roper.

This did not happen in builds prior to 4.4, though the underlying condition may have existed.

A temporary workaround is to bypass indexing these datasets by setting the last harvest date and doing an incremental index but it would be good to be able to ind

[2016-08-12 21:57] kcondon opened #3279 "File Upload: For slow uploading files, add note to files tab not to move away from page or it will halt upload."
Sometimes files take a long time to upload and at certain points, feedback is limited, such as when a large zip file has uploaded but is unpacking.

In those times, users may navigate away from the page and come back only to find the upload has disappeared and in fact fails.

So one of our in house users suggested we add a note to the files upload screen saying not to navigate away or it will halt

[2016-08-12 22:11] kcondon opened #3280 "Harvest: Disabling Harvest Server does not disable service, only disables UI."
Disabling the OAI Harvest server hides all existing sets and shows status disabled on the dashboard but the OAI server is still accessible by external clients.

[2016-08-12 22:22] kcondon opened #3281 "Export: No easy way for admin to determine how many and which datatsets have failed export."
Datasets are exported on publish but can fail, in which case an error is posted to the screen but the dataset is still published. How can an admin discover this and investigate?

It would be good to have something in the dashboard to help with that or at least an export error log?

Presumably the export timer job will come along, see the export did not succeed (is export time left blank in case of

[2016-08-12 22:40] kcondon opened #3282 "Create Dataset: Save fails with unique constraint error for datafilecategory_pkey on harvesting branch."
While testing on harvesting branch had problem saving a dataset with two files, one tabular, that was restricted and had a category and tags. This does not happen on demo with v4.4.

Server log error:

[2016-08-12T18:37:13.833-0400] [glassfish 4.1] [INFO] [] [] [tid: _ThreadID=163 _ThreadName=Thread-8] [timeMillis: 1471041433833] [levelValue: 800] [[
  ADDING FILE: 50by1000-1.dta; for dataset: doi

[2016-08-12 22:54] kcondon opened #3283 "Harvest: Deleted datasets do not remove associated file cards."
While testing set redefinition behavior, I found that a dataset that was marked for deletion because it was no longer part of the set (but still existed, though probably not related) resulted in the dataset being removed but its file cards remaining.

[2016-08-12 22:59] kcondon opened #3284 "Harvest: When harvesting a set that has been deleted, client reports success though set not accessible."
Was investigating behavior of client when set is deleted. Found that the client reports success but nothing harvested, no error in logs, etc.

Would be nice to know something happened. On server, in logs it reports that a set does not exist anyway.

[2016-08-15 02:20] landreev commented on #3266
Word, the original inline help text I wrote said something like "It is very important to properly select the remote archive type, or else ..." - then it was toned down by somebody else.

I have just added this sentence to the current Bundle.properties:

<b>Note</b> that improperly selecting the type of the remote archive can result in incomplete entries in the search results, and a <b>failure to r

[2016-08-15 02:29] landreev commented on #3261
Kevin, Danny,
In addition to Steve's entry on the API "datasets/export" command, in the User Guide, there is also a small section on export in the Admin guide. Please review, and see if it's sufficient, and/or if you can think of more info to add to it?

[2016-08-15 02:37] landreev commented on #3264
Kevin, good eye!
The 30 characters constraint is legit; it is enforced by the bean validation rule in HarvestingClient.java. (hence the exception you saw). However, the validation rule inside the page was not enforcing it, hence you were allowed to try and save a set with a longer nickname... I checked in the code that syncs that validation up with the bean constraint. The page should now stop you

[2016-08-15 02:44] landreev commented on #3262
I have a (short-ish) section on this in the guide ("Managing Harvesting Server and Sets", guides/admin/harvestserver.html).
I have a few simple examples there, but have more detailed explanations on how they work ("more detailed" than the inline help text that you see on the page). I also have a good practical advice on how to discover fields and learn to use them to cook up working queries - by e

[2016-08-15 02:44] landreev commented on #3262
I have a (short-ish) section on this in the guide ("Managing Harvesting Server and Sets", guides/admin/harvestserver.html).
I have a few simple examples there, but have more detailed explanations on how they work ("more detailed" than the inline help text that you see on the page). I also have a good practical advice on how to discover fields and learn to use them to cook up working queries - by e

[2016-08-15 02:58] landreev commented on #3271
@kcondon @djbrooke
It looks like Steve has fixed it in his export util - great!
Do you want me to fix this on the import side too then? Or are you less concerned with the import?

I believe the fix is trivial - it'll just require an extra mapping line in the reference_data.sql; and an extra line in upgrade_v4.4_to_v4.5.sql, for the existing nodes upgrades... But you would have to re-test it... So,

[2016-08-15 03:06] landreev commented on #3270
I made both appear in the "alphabetical by name" order.
Please review?

[2016-08-15 03:22] landreev commented on #3280
Fix, please retest.

[2016-08-15 03:39] landreev commented on #3274
Hmm. Could you please verify what happened there?
I DO check for duplicate IDs, and I have verified and tested it.
It has come up previously in a slightly different context: when during the usability session they attempted to harvest some datasets that had already been harvested, *in another dataverse*.
When this condition is detected, the dataset is skipped, and an error entry is added to the har

[2016-08-15 04:00] landreev commented on #3272
Could you add a link to Eleni's spreadsheet please? - I can't find it.
It doesn't get imported, no - we don't provide a DC -> dataverse metadata mapping for this field...
Looking at the DC export code it's not clear how to import it either. Because when we export, apparently we just push the name of the owner dataverse into the field... We obviously can't reverse this when we import...
Yeah, I kin

[2016-08-15 04:04] landreev commented on #3265
Just to make sure I understand - this is not immediately related to harvesting and export; you are just that this has stopped working during the development of this release, correct?

[2016-08-15 04:12] landreev commented on #3269
Checked in code to delete all these temp files after the import is complete.
Please re-test.

[2016-08-15 04:16] landreev commented on #3260
Adding my comment I added earlier to Kevin's "test checklist" document:

I'm afraid we'll have to live with this in 4.5. That's why the message says "refresh the page to see the results..." This approach is being used in other pages... so it's ok, right?

(end of quote)

Yeah, it's ugly... But it's not as trivial as it one would expect... It took some effort to make the tabular ingest status of a

[2016-08-15 04:20] landreev commented on #3265
I meant "you are just REPORTING that this has stopped working..."

[2016-08-15 04:22] scolapasta commented on #3265
This is not related to this release specifically. It is the math challenge
for the general exception. The other math challenge issue is still open for
this user case.

On Mon, Aug 15, 2016, 00:20 landreev <notifications@github.com> wrote:

[2016-08-15 04:25] landreev commented on #3283
OK, this is a serious issue... I'll have to fix this tomorrow (I mean, on Monday).
I can see now why it's happening. I thought deleting a dataset "document" in SOLR was supposed to automatically delete all the file entries belonging to the dataset... But no, it appears I'm supposed to specifically delete all the individual file documents too - otherwise they stick around...
There's a "nuclear" wor

[2016-08-15 04:43] landreev commented on #3282
Hmm. What database was that? - as in, a brand new database initialized by the deployment of this build? Or an older database upgraded with a sql script?
Let's look into this tomorrow...

[2016-08-15 13:46] djbrooke commented on #3265
#3036 is the other Math Challenge issue.

[2016-08-15 13:47] #3265 closed

[2016-08-15 13:54] djbrooke commented on #3272
Spreadsheet is here:

https://docs.google.com/spreadsheets/d/10Luzti7svVTVKTA-px27oq3RxCUM-QbiTkm8iMd5C54/edit#gid=0

[2016-08-15 14:56] kcondon commented on #3266
OK, looks good except found some typo/formatting issues on the last sentence:
'''as failure to do so can result in information missing from the pthe search results, and, a <b>failure to redirect the user to the archival source</b> of the data!'''

[2016-08-15 15:15] djbrooke commented on #3284
The desired behavior would be for a message to display with more accurate information - specifically, that the set is no longer available.

[2016-08-15 15:19] djbrooke commented on #3282
Thanks @kcondon - will retest to see if it's consistent. If it is consistent, we'll keep it in this release.

[2016-08-15 15:22] djbrooke commented on #3281
@sekmiller - Can you take a look at this to determine if the logging is robust enough to give some information to the administrators so that they can troubleshoot.

[2016-08-15 15:28] djbrooke commented on #3277
We should investigate the 792 failures as a high priority issue for the 4.5 release.

[2016-08-15 15:31] djbrooke commented on #3276
@sekmiller - can you take a look at this with @kcondon to determine that the failures were reasonable and accurately counted?

[2016-08-15 15:35] djbrooke commented on #3272
@kcondon - thanks for offering to provide some more details here!

[2016-08-15 15:36] djbrooke commented on #3271
Let's fix this for 4.5.

[2016-08-15 15:41] djbrooke commented on #3268
We should verify that these failures are reasonable. @landreev - please take 30 minutes to do this. Thanks!

[2016-08-15 15:50] djbrooke commented on #3203
Thanks @pdurbin

[2016-08-15 16:04] mheppler opened #3285 "Installer - Remove creation of "reference_data_filtered.sql" file"
In a new installation, the installer created the "reference_data_filtered.sql" file locally, and it is no longer in use, and can be removed from the installation.

[2016-08-15 16:09] pameyer commented on #1838
The eUtils guidelines (http://www.ncbi.nlm.nih.gov/books/NBK25497/#chapter2.Usage_Guidelines_and_Requiremen) might be worth a look.

Requiring authentication (token or otherwise) for read-access APIs seems unusual, at least based on other repository APIs I've used (eUtils, RCSB).  Is there a significant effect on system load?

[2016-08-15 16:55] djbrooke commented on #3266
Nice work @landreev and @kcondon - I made some small formatting changes directly on the branch:

https://github.com/IQSS/dataverse/commit/170e0849df2a44ec65d59dc0c631b856cd18ec80 https://github.com/IQSS/dataverse/commit/9fa91fcbb574f65e5de829a19de464d55fb62f1a

Closing...

[2016-08-15 16:55] #3266 closed

[2016-08-15 17:04] djbrooke commented on #3262
Hey @pdurbin - I think @landreev was referencing this issue in the meeting this morning. Is it OK if we work on this together so I can learn more about the query format? Thanks!

[2016-08-15 17:06] djbrooke commented on #3261
Link to the documentation below. I think this is OK for now. Closing this.

https://github.com/IQSS/dataverse/blob/4.5-export-harvest/doc/sphinx-guides/source/admin/metadataexport.rst

[2016-08-15 17:06] #3261 closed

[2016-08-15 17:08] pdurbin commented on #3246
Related: #2470

[2016-08-15 17:08] pdurbin commented on #2470
Related: #3246

[2016-08-15 17:18] pdurbin commented on #2110
@michbarsinai sure, but once we're within a dataset version I'm just saying I would prefer something like...

`jq '.data.latestVersion.title'`

... rather than what we have to do now:

`jq '.data.latestVersion.metadataBlocks.citation.fields[] | select(.typeName=="title").value'`

[2016-08-15 17:20] pdurbin commented on #3250
Not `403 Forbidden`? What's driving this change? I guess I don't understand the context of this issue.

[2016-08-15 17:40] kcondon commented on #3280
OK, you now cannot harvest and it says FAILED for status. In server log it says, Error querying service. Returned HTTP Status Code: 503

Might be friendlier to say, Service unavailable or Error querying service but I suppose we don't have much room for that. Will leave it up for follow up UX.

[2016-08-15 17:40] #3280 closed

[2016-08-15 17:40] mheppler commented on #3245
The mockups are being finalized, and can be reviewed in [Balsamiq](https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/Dataset%20-%20Provenance%20-%20Details).

![dataset-provenance-graph](https://cloud.githubusercontent.com/assets/687227/17673147/d579f776-62ed-11e6-8821-ddac8244109d.jpg)

[2016-08-15 17:42] pdurbin commented on #3281
Related: #3276

[2016-08-15 17:52] pdurbin commented on #3262
@djbrooke yep! @landreev mentioned that we don't give any guidance on how to use the "q" parameter at http://guides.dataverse.org/en/4.4/api/search.html

I guess we could link to https://cwiki.apache.org/confluence/display/solr/The+Standard+Query+Parser since that's what http://lucene.apache.org/solr/quickstart.html links to. That is to say, it explains how to use the "q" parameter.

In addition t

[2016-08-15 18:09] michbarsinai commented on #3250
Differentiating between an incorrect/invalid token and an OK token that's not authorized to access a resource.

[2016-08-15 18:13] kcondon commented on #3274
Retested. Duplicate id is checked unless you are harvesting from/to same dataverse in same dv. In which case, existing dataset is updated with "This dataset is harvested from our partners..." message.

It is true this is really just a test scenario but sometimes these reveal loopholes in underlying logic so worth at least bringing to attention of dev.

[2016-08-15 18:17] kcondon commented on #3270
OK, looks good, closing.

[2016-08-15 18:17] #3270 closed

[2016-08-15 18:19] kcondon commented on #3269
OK, seems to be working. Closing

[2016-08-15 18:19] #3269 closed

[2016-08-15 18:22] kcondon commented on #3264
OK, field is now validated to 30 chars. Closing.

[2016-08-15 18:22] #3264 closed

[2016-08-15 18:37] pdurbin commented on #3250
I see. Well, this will likely break a lot of tests at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/ . Also, I'm changing the title of this issue from "HTML" to "HTTP" since that's what I think is meant.

[2016-08-15 18:44] kcondon commented on #1380
OK, basic ip group support is working. There are two remaining tickets, #3273, #3275. Closing this.

[2016-08-15 18:44] #1380 closed

[2016-08-15 19:55] kcondon commented on #3282
In retesting and discussing with leonid, this was due to a corrupted database sequence nums from directly inserting demo data for harvesting. Dropped, built db and now works. Closing.

[2016-08-15 19:55] #3282 closed

[2016-08-15 20:00] kcondon commented on #3197
Tested and discussed with Leonid:
The current fix works for Odum harvested datasets but others, eg. ICPSR still fail for unknown reasons. We have a temporary workaround of not indexing these datasets for v4.5 deployment but the issue still needs to be resolved long term.

[2016-08-15 20:18] djbrooke commented on #3262
@pdurbin Cool - let's take 15 after standup tomorrow to finish this up and so that I can learn something! 👍

[2016-08-15 20:42] landreev commented on #3285
i pushed in a fix earlier today.

[2016-08-15 20:44] landreev commented on #3283
Should be fixed now.
harvested files should no longer stick around in search results, after you delete their parent datasets.

[2016-08-15 21:37] kcondon commented on #3272
Discussed with Leonid. The metadata mapping spreadsheet can be somewhat ambiguous, especially when, for a given dc terms field, publisher, has a different export and import field source and destination.

In this particular case, literally the dc field publisher should map to the Dataverse field producerName.

[2016-08-15 21:51] landreev commented on #3274
The bottom lines, it was an artificial test case; but it exposes real issues that can be of practical value to others.

Good to know that the check for a global id already in the database was working.

I have added another check to the logic for what to do if a dataset with this global id IS already in the database. So this is how it's handled now:

If I already have this global id in the database

[2016-08-15 21:57] landreev commented on #3272
OK, so I believe adding these 2 lines to the database should make DC import handle both the "publisher" and "contributor" fields correctly, as described above:

INSERT INTO foreignmetadatafieldmapping (id, foreignfieldxpath, datasetfieldname, isattribute, parentfieldmapping_id, foreignmetadataformatmapping_id) VALUES (18, ':publisher', 'producerName', FALSE, NULL, 1 );

INSERT INTO foreignmetadata

[2016-08-15 22:03] landreev commented on #3271
The solution in #3272 should take of this as well.

[2016-08-16 01:34] landreev commented on #3278
@kcondon

For the sake of accuracy, we don't know that indexing is failing on harvested datasets from everywhere but Odum. We don't know if it's failing on the datasets from ICPSR and Roper either.
Because we gave up on reindexing  harvesting datasets as soon as we saw the first exception from a non-Odum harvested dataset. Which happened to be a Nesstar one. (We are not likely to go back to harves

[2016-08-16 01:41] landreev commented on #3271
Kevin, I added some code to the DC import to handle controlled vocab. fields. So it should be working for "dc:language" now.
![screen shot 2016-08-15 at 9 39 59 pm](https://cloud.githubusercontent.com/assets/737558/17685333/ffae5f58-6330-11e6-9a5f-c9580ca8af4f.png)

[2016-08-16 13:35] djbrooke commented on #3197
Thanks @kcondon. Is this the same as #3278?

[2016-08-16 13:43] djbrooke commented on #2863
Additional feedback from the community, some likely covered elsewhere:

1. Provide the minimum and recommended configuration of the server.
2. Handles
3. Harvesting
4. Two Ravens graphic tutorial

[2016-08-16 14:35] pdurbin commented on #1813
In helping with the Harvesting feature (#813) I was reminded of this issue and how Harvesting is another area where it would be nice to have a workflow that supports a dataverse being created when you're setting up a harvesting client. Right now you have to stop what you're doing and go create a dataverse first:

![screen shot 2016-08-16 at 10 32 38 am](https://cloud.githubusercontent.com/assets/2

[2016-08-16 14:43] kcondon commented on #3197
Not necessarily. This was the initial issue. It was fixed, then I continued to see index failures for harvested content of unknown origin.

________________________________
From: Danny Brooke <notifications@github.com>
Sent: Tuesday, August 16, 2016 9:35:30 AM
To: IQSS/dataverse
Cc: Condon, Kevin M; Mention
Subject: Re: [IQSS/dataverse] Index: Harvested datasets without a distribution date (?) fai

[2016-08-16 15:15] kcondon opened #3286 "Export: Logging for export all contains no individual entries, only start and finish"
The newly added logging for export all does not contain details on what was exported, only a start and end entry. The entries for individual exported datasets are still being written to the server.log file. Maybe this is because export all is just a wrapper around individual export dataset calls and those still write to server.log?

[2016-08-16 15:55] landreev commented on #3278
OK, roper datasets ARE failing to index too. It's unrelated to/different from #3197 - the citation code doesn't like something about their global ids. Could be easy to fix, I'll take another look.
(for the record, being able to index these old, grandfathered Roper datasets may not in any way help us to start harvesting new records from new Roper. I can explain if needed. But as I said, probably ea

[2016-08-16 16:24] kcondon commented on #3274
OK, works, closing.

[2016-08-16 16:24] #3274 closed

[2016-08-16 17:36] kcondon commented on #3283
File cards are now removed. Closing.

[2016-08-16 17:36] #3283 closed

[2016-08-16 17:45] sekmiller commented on #3286
For the dedicated export logs of ExportAll and ReExportAll, Added one line per dataset exported successfully; plus summary statistics (counts) at the end.

[2016-08-16 17:46] sekmiller commented on #3286
Fix checked into the Harvest branch

[2016-08-16 17:48] sekmiller commented on #3281
There's one line printed for each successfully exported dataset and summary counts added to the dedicated export log...

[2016-08-16 18:44] djbrooke commented on #2249
@pameyer brought this up on the community call 8/16 and asked if it would be included in 4.6. It is not currently planned to be worked on as part of this release.

[2016-08-16 18:49] djbrooke commented on #2438
Sebastian brought this up on the community call 8/16 and asked if it would be included in 4.6. There are currently no plans to work on this for 4.6.

[2016-08-16 19:00] pdurbin commented on #3203
As discussed yesterday, I just changed how the facet looks to this:

![screen shot 2016-08-16 at 2 41 05 pm](https://cloud.githubusercontent.com/assets/21006/17711783/29476b94-63c1-11e6-8a52-85109299ff9a.png)

"Source" is now "Metadata Source" and "Local" is now "Root Dataverse" or whatever you renamed your root dataverse to (such as "Harvard Dataverse). A reminder that this facet is unlike most o

[2016-08-16 19:29] landreev commented on #3267
OK, I've made the following improvements:
When you start a harvest now, you should see the status of the client change to "inporgress". The run, edit and delete buttons will become disabled while the harvest is in progress.
So this will prevent a user from trying to delete a running harvest.

While the delete is in progress, yes, it looks like it was possible to click the delete buttons again, eve

[2016-08-16 20:39] pdurbin opened #3287 "Upgraded (Bcrypt) password required for conversion from local to Shibboleth account"
First reported by @donsizemore at https://help.hmdc.harvard.edu/Ticket/Display.html?id=239603 it has been observed that if a BuiltinUser hasn't first gone through the password upgrade process, they will not be able to convert to a Shibboleth account.

As of 988f243 on the "develop" branch, I'm seeing this error: Validation Error - Your account can only be converted if you provide the correct passw

[2016-08-16 20:45] raprasad opened #3288 "Fix 8.5% of unknown files; Re-ingest 10,000+ Excel files (.xlsx)"
Needed for #2202 to work properly
##
## Fixes
- [x] ~~Update contenttypes in the db~~ (done)
- [ ] Attempt to re-ingest each file

---

According to a dataverse snapshot at end of July:
- There are ~~19,362~~ 13,696  files with extension ".xlsx"
- Of these files, ~~15,187~~ 10,460 files, are contenttype: "application/octet-stream"
  - In other words, these ~~15,187~~ 10,460 files do not seem to be

[2016-08-16 21:37] kcondon commented on #3286
Works, closing

[2016-08-16 21:37] #3286 closed

[2016-08-16 21:43] kcondon commented on #3281
Works, closing.

[2016-08-16 21:43] #3281 closed

[2016-08-16 21:53] sekmiller commented on #3276
Added more logging; haven't seen any failures

[2016-08-16 22:02] kcondon commented on #3271
Works, closing.

[2016-08-16 22:02] #3271 closed

[2016-08-16 22:04] kcondon commented on #3272
Works, closing.

[2016-08-16 22:04] #3272 closed

[2016-08-16 22:06] kcondon commented on #3267
Works great! Closing.

[2016-08-16 22:06] #3267 closed

[2016-08-16 22:14] kcondon commented on #3276
Was able to do an export all against prod db and it completed without failures. The source of the failures was the export stats on the All_local set for prod db on vm5. So, the issue may be with how the stats are reported. We should retest.

[2016-08-16 23:48] landreev commented on #3263
OK, here's how I'm handling it now:

Deaccessioning a version now triggers a re-export of the last previously released version (if available). Any OAI sets that the dataset is part of are NOT automatically updated.
So this means that in the meantime, before the set is rebuilt (manually or by a scheduled job), the following takes place:

- if a brand new harvester comes in, they will get the correc

[2016-08-17 00:28] landreev commented on #3284
Actually, for this one I'd like to petition that we leave it as is for now.

This is how it is implemented in XOAI-dataprovider - the OAI library/implementation we are using. They really do return a "nothing found" response, when you ask for records from a non-existing set; that's indistinguishable from a response you get when you don't get back any records because nothing has changed since the la

[2016-08-17 01:37] landreev commented on #3278
Kevin, I fixed that global identifier thing in the citation code that I talked to you about.
Roper datasets appear to be indexing now; though I only indexed the first 100. Also tried some Nesstars, worked too. Let's try and run it on all of them, and see how it goes (no guarantees some other datasets  aren't going to bomb on something else). But I'll reindex the local holdings first.

Also, the wh

[2016-08-17 02:02] landreev commented on #3268
I'd like to suggest that we drop this off the 4.5 milestone as well.

It's not just because it's a "good success ratio".

It's just that it would be kind of a wasted effort; to investigate why their DVN3-produced DDIs are not getting imported... Because they are upgrading to Dataverse 4 pretty much as soon as we give it to them. And then they'll re-export their datasets; those new DDIs produced wi

[2016-08-17 12:04] donsizemore commented on #3268
Leonid, in case this information is helpful, here's what we exported locally during our migration test run (August 10):

[dls@irss-dvn3-patchtest ~]$ ./versions_source_ http://localhost/dvn/ddi 1902.29
3989 studies processed.
3730 released versions;
635 had versions other than released;
Total 4639 versions processed.

[dls@irss-dvn3-patchtest ~]$ ./versions_source_ http://localhost/dvn/ddi 10.1513

[2016-08-17 12:33] jonc1438 commented on #3268
I agree with Leonid but we have a much bigger issue. We need to get our datasets out of 3.x and into 4.x and the issues here might help diagnose the migration problems we are having since it uses the same export set you are reading here.
We have a long list of mismatches between the datasets and files on 3 and our new 4.x box
We are working to reconcile them but if you have any tips please let us

[2016-08-17 13:39] djbrooke commented on #3284
Leonid - thanks for the research. Sounds good to me.

[2016-08-17 14:04] djbrooke commented on #3288
This has value beyond analytics.

@sbarbosadataverse - I know we have discussed this but I couldn't find another Github issue. Is there one, or should we just track the work here?

[2016-08-17 14:07] pdurbin commented on #3288
This issue strikes me as a bit of a duplicate of #585 and #2264.

[2016-08-17 15:04] djbrooke commented on #3268
OK - thanks all for the comments. I'll remove this from the 4.5 Milestone, but it sounds like we'll need to have some further discussion.

[2016-08-17 15:12] djbrooke commented on #3276
We need to retest this.

[2016-08-17 15:16] djbrooke commented on #3197
Closing this in favor of #3278.

[2016-08-17 15:16] #3197 closed

[2016-08-17 16:11] djbrooke commented on #3268
@jonc1438 @donsizemore - as I mentioned over email, please send me a note when you're ready to bring us in to help on this one - thanks!

[2016-08-17 16:23] kcondon commented on #3263
Works now, thanks. Closing.

[2016-08-17 16:23] #3263 closed

[2016-08-17 17:00] djbrooke commented on #3262
OK - I left a few in there, modeled after what was there in 3.x.

@kcondon if these strings are correct, feel free to close this out. If they're not, let me know where I went astray and I'll get them fixed up.

[2016-08-17 18:20] pdurbin commented on #3287
I'm proposing a fix in #3289 (heads up to @michbarsinai in case he wants to code review it) and am passing it to QA.

[2016-08-17 18:42] djbrooke commented on #2579
@kcondon gave me some good info about how to test this. Going to give it a shot.

[2016-08-17 18:42] djbrooke commented on #2608
@kcondon gave me some good info about how to test this. Going to give it a shot.

[2016-08-17 18:44] mheppler opened #3290 "Harvesting - Data Citation Values Missing"
When investigating how the citation is handled for harvested datasets, I noticed that our two latest and greatest harvesting test servers are not able to display the full, original citation after the dataset is harvested. Specifically, the distributor and version values are missing.

To add to the mystery, you can see that the value is actually harvested, and can be found when searching for the ex

[2016-08-17 19:18] kcondon commented on #3262
Looks good, closing.

[2016-08-17 19:18] #3262 closed

[2016-08-17 19:43] landreev commented on #3290
OK, I couldn't stop myself from going digging in there... Yes, the value was exported, harvested and imported properly... and even indexed properly - but only as an individual field, and not as part of the citation (we index the citation as a complete string).
It was literally 1 line in DatasetVersion.java:
for (DatasetField dsf : this.getFlatDatasetFields()) {
instead of
for (DatasetField dsf : t

[2016-08-17 19:52] raprasad commented on #2992
I'll add this to the miniverse API metrics...
Right now it has downloads by month.  Not vouching for uptime, but test site is here:
https://services-dataverse.herokuapp.com/static/swagger-ui/index.html?url=https://services-dataverse.herokuapp.com/metrics/v1/swagger.yaml#!/metrics_-_files/get_files_downloads_count_monthly

[2016-08-17 20:03] landreev commented on #3278
OK, went through 30K harvested datasets (we have 38K total). Then died on the first ICPSR dataset. (ok, that really means we've gone through everything harvested, except for the ICPSR).
Will take a look.

(it looks like our DataCitation parser just doesn't like their DOIs.. probably because they have these dot-separated suffixes - as in doi:10.3886/ICPSR24006.v2... and the parser expects them to o

[2016-08-17 20:15] telnoratti opened #3291 "Install script fails if postgres master password and user password differ"
To reproduce this issue, begin an install of dataverse using dvinstall/install and override the admin password to be "secret1" and the user password to be "secret2". The postgresql instance will also need to be configured with the correct admin password. The install fails saying:

    Configuring Postgres Database:

    Creating Postgres user (role) for the DVN:
    Could not create the DVN Postgr

[2016-08-17 20:57] mheppler commented on #3290
I am trying to find reference to the use of bracketed labels in the citation, but I am struggling to find good source. There are a few old tickets that reference that once had a "[Publisher]" label in the early dev stages of 4.0, but that was since removed -- I believe at the suggestion of Gary.

@sekmiller might be of some help in figuring out if "[Distributor]" should also be removed. I believe

[2016-08-17 21:20] kcondon commented on #3203
@pdurbin Basically works but found a weird issue: renaming root does not change the name of the local facet, even after an index clear/ reindex.

[2016-08-17 21:38] landreev commented on #3278
icpsr has finished indexing... Kevin, if you want to re-test one reindex of everything, one more time - it's all yours.

[2016-08-17 22:00] kcondon commented on #3276
Still happens when I export the set, same message:
All_local
all local
dsPersistentId:"hdl:1902.1" OR dsPersistentId:"doi:10.7910"	19,734 datasets (19,726 records exported, 0 marked as deleted)

[2016-08-17 22:19] pdurbin commented on #3203
Restarting Glassfish might help.

On Aug 17, 2016 5:20 PM, "kcondon" <notifications@github.com> wrote:

[2016-08-18 00:29] landreev commented on #3277
![screen shot 2016-08-17 at 8 26 01 pm](https://cloud.githubusercontent.com/assets/737558/17757956/4c13c7e6-64b9-11e6-9d5f-c3872d747f66.png)

[2016-08-18 00:32] landreev commented on #3277
How's that for a success ratio? Good enough?

[2016-08-18 13:35] djbrooke commented on #3277
👏 👏

Nice!

[2016-08-18 13:56] pdurbin commented on #3285
@landreev @kcondon can you please look at pull request #3292 by @telnoratti which fixes #3291 and see if it makes sense to merge it (or make the equivalent change to the 4.5-export-harvest branch since the pull request is against "develop") before testing this issue about reference_data_filtered.sql?

[2016-08-18 15:31] kcondon commented on #3203
Leonid fixed this, will retest, thanks!

[2016-08-18 16:01] kcondon opened #3293 "Shibboleth: Error when logging in from EZ Proxy URL."
See RT 239864

User was following a link to Dataverse from Hollis library cross search. Link was an EZ Proxy modified URL. Was able to access Dataverse but when tried logging in to Harvard via Shib, got an error.

RT ticket has enough info to reproduce. We have discontinued EZ Proxy authentication support but I believe EZ Proxy can still be used as a type of web services firewall so the proxy forw

[2016-08-18 18:04] pdurbin opened #3294 "Link to "Metadata Crosswalk" doc from appendix of User Guide"
From https://help.hmdc.harvard.edu/Ticket/Display.html?id=239869

"It would be nice if you exposed the native JSON mapping somewhere online almost like a standard namespace for all to see and reference, this makes things easier for our preservation activities and METS creation. That would also cover the non-DDI and extra disciplinary elements that either fit into an existing standard or are local

[2016-08-18 18:12] jonc1438 commented on #3268
Danny

We are getting closer to figuring it out. We do have one question.

It seems that the migration process is finding a list of files that SEEM to belong to studies where someone REMOVED the files during the DRAFT phase and before they were released.

These file were REMOVED from the file system and in reality do not exist BUT the 3.X database does still track the metadata.

During migration w

[2016-08-18 18:14] pdurbin commented on #3294
Update it looks like we already link to the doc from here: https://github.com/IQSS/dataverse/issues/907#issuecomment-92869060

[2016-08-18 18:28] kcondon commented on #3278
This is now working, too 6hours, 43 mins:

  3832 dataverses and 68481 datasets indexed. index all took 24182515 milliseconds. Solr index was not cleared before indexing.

Closing.

[2016-08-18 18:28] #3278 closed

[2016-08-18 18:28] kcondon commented on #3203
This is working now. Closing.

[2016-08-18 18:36] djbrooke commented on #3268
Hey @landreev - any thoughts on the zombie metadata? I looked for issues (both closed and open) that would be helpful to reference here, but nothing came up.

[2016-08-18 18:44] kcondon commented on #3277
This is working now, all 19726 exported datasets were harvested. Closing.

[2016-08-18 18:44] #3277 closed

[2016-08-18 19:11] kcondon opened #3295 "Shibboleth: Error when logging in from EZ Proxy URL."
See RT 239864

User was following a link to Dataverse from Hollis library cross search. Link was an EZ Proxy modified URL. Was able to access Dataverse but when tried logging in to Harvard via Shib, got an error.

RT ticket has enough info to reproduce. We have discontinued EZ Proxy authentication support but I believe EZ Proxy can still be used as a type of web services firewall so the proxy forw

[2016-08-18 19:11] kcondon commented on #3295
Dupe

[2016-08-18 19:11] #3295 closed

[2016-08-18 19:14] kcondon opened #3296 "2 Issues: 1. Manage Server: Gray out buttons when exporting or deleting sets; 2. Manage Clients: Reloading the page during a large delete is an issue."
We gray out buttons when deleting a client and provide a spinner if it takes a while but when deleting a really large client, such as when harvesting all of IQSS, there is not much feedback as to progress or how long it may take. Additionally, if you refresh the page or move away and come back, the grayed out status and spinner disappears and it is not clear how or when it may finish. Also, not mu

[2016-08-18 19:18] kcondon commented on #3296
Incorrectly submitted.

[2016-08-18 19:44] landreev commented on #3296
How about I add this to the text in the confirmation popup - "This may take a while, depending on the amount of harvested content. Do not reload the page while the delete is in progress".

[2016-08-18 20:12] pdurbin commented on #2146
Related discussion: https://groups.google.com/forum/#!topic/dataverse-community/xnB2lComOrs

[2016-08-18 20:48] djbrooke commented on #2579
Going to close this. Will open a related issue for the logic of how we handle "fundag," but that's an existing issue and unrelated to Export.

[2016-08-18 20:48] #2579 closed

[2016-08-18 20:49] djbrooke commented on #3287
@kcondon can this one be closed? Thanks!

[2016-08-18 20:55] kcondon commented on #3287
This is working and has been merged. Closing.

[2016-08-18 20:55] #3287 closed

[2016-08-18 21:05] djbrooke commented on #2608
Thanks @kcondon for setting up dataset with every possible field filled in! All fields are present in the export.

I believe that the variable data question is being tracked here: #1067

Marking this as closed.

[2016-08-18 21:05] #2608 closed

[2016-08-18 22:00] kcondon opened #3297 "Harvest: DDI import appears not to include all fields exported as DDI."
Searching on fields in the DDI export of a dataset mostly works but there are some fields apparently not imported.

Fields not searchable/ not imported but that appear in the DDI export include:

| | | |
| ---- | ---- | ---- |
| Producer URI | software version | Terms of Use |
| Producer Logo URI | software name | Confidentiality Declaration |
| Keyword Vocab URI | data sources | Special Permissio

[2016-08-19 00:08] landreev commented on #3296
OK, so just to clarify... We appear to be talking about 2 different things here...

My suggestion above was for the issues you described related to deleting a *Client* with lots of harvested content. Yes, I feel we could get away with somewhat of a Band-aid solution of adding a warning to the delete confirmation. (actually, I no longer think refreshing the page killed that delete; it looks like it