[2018-09-20 14:35] pameyer commented on #5068
Hi @poikilotherm,
My unsophisticated interpretation of "integration tests" is "stuff that needs a functional set of servers to execute".  With the current setup, this doesn't require docker, although that's the only approach I personally was able to get working - IQSS jenkins, and I believe most of the IQSS dev team, use different approaches (and ones that appeared to me to require more manual sta

[2018-09-20 14:53] poikilotherm opened #5072 "Refactoring of S3AccessIO driver"
Hi @landreev

while digging into the driver to get things running for #4690 and #5068 it seems you wrote most of the storage driver for AWS S3. (At least you opened #3921 :wink: )

In #5059 I started work to implement unit and integration testing for the driver. Are you interested to join?

[2018-09-20 15:01] mheppler commented on #4410
Added configurable support team name and text link to contact popup to dataset linking popup help msg, removed it from success msg.

Sending back to @sekmiller for a bug fix.

- [ ] When using capitalization in the autocomplete input, it can not find the same results that using lower case returns.

![screen shot 2018-09-20 at 10 56 23 am](https://user-images.githubusercontent.com/687227/45827514-9

[2018-09-20 15:03] pdurbin commented on #2739
A couple things:

- rOpenSci just published a blog post called "Building Reproducible Data Packages with DataPackageR" that says, "When a manuscript is submitted based on a specific version of a data package, one can make a GitHub release and automatically push it to sites like zenodo so that it is permanently archived." https://ropensci.org/blog/2018/09/18/datapackager/
- "Papers with code" seems

[2018-09-20 15:05] qqmyers commented on #5043
@jggautier - sorry for being slow. An updated citations.tsv file is not yet in the PR and I need to do some work since QDR has added/deleted fields relative to the base version. As is, the code does generate custom URIs that follow the tsv file/field name hierarchy so there's always a default. And the PR includes the update that allows an extra columns to be added to specify an namespace for the w

[2018-09-20 15:15] pameyer commented on #5069
Since I never actually assigned myself to this when I was looking into it, I can't un-assign myself.

But PR #5070 should be good to go.

[2018-09-20 15:26] zziz commented on #2739
Dear @pdurbin, dataset is already available on the repository as a CSV file. But I don't recommend to use it just yet. I have very recently started this project and there are some works yet to be finished. You are welcome to use is it right now, but I recommend to check back in a month.

[2018-09-20 16:06] sekmiller commented on #4610
checked in fixes for both of @pameyer 's notes above. moving back to QA assigning back to Pete.

[2018-09-20 16:18] pameyer commented on #4949
According to https://en.wikipedia.org/wiki/ZIP_(file_format)#Limits; standard zip has a max of ~4G for archives (and individual files w\in the archive); ZIP64 has a max of ~16 EiB.  Info-ZIP (standard for CentOS 7 / OS X?) supports ZIP64; haven't checked support on other platforms.

[2018-09-20 16:34] matthew-a-dunlap commented on #4949
When I looked into tar it seemed like the the limit was unlimited though maybe for some implementations the max is 8gb? https://www.linuxquestions.org/questions/red-hat-31/tar-file-size-limit-542690/ https://lists.gnu.org/archive/html/help-tar/2015-04/msg00001.html

[2018-09-20 17:30] mheppler commented on #5067
- Capitalized file types displayed in facets from MimeTypeFacets.properties
- Added comment to FileUtil.java outlining suggested captilization changes to the getFacetFileType function

Discussed this with @scolapasta and @landreev to determine where facet values were coming from that were not defined in `MimeTypeFacets.properties`. Gustavo pointed out a comment from Leonid in the `getFacetFileType

[2018-09-20 17:33] kcondon commented on #4410
@dmurphy @scolapasta @sekmiller
Noticed a couple things that may or may not require a change but does need a ruling so I'm passing back to Dev for comment:
1. Note above says UI linking a published dataset only but API allows unpublished dataset linking (the original implementation) as long as you own it/ have perms on it. Might be useful in the prepublication author/project dataverses scenario.
2

[2018-09-20 17:47] mheppler commented on #5067
Pulled the recent changes from Leonid, reindexed, and now my facet list is beautifully capitalized and consistent.

![screen shot 2018-09-20 at 1 45 57 pm](https://user-images.githubusercontent.com/687227/45836778-baa47580-bcdb-11e8-97d6-a1a036aded7c.png)

[2018-09-20 18:11] matthew-a-dunlap commented on #4938
After looking at the existing search order stories and other docs (#1928 , #2472), we need a new definition of our goals when doing search order. Having those in a "spec" will make it easier for me to config solr for our needs.

For reference, we have these fields boosted in the `solrconfig.xml` (I have removed the boost values because those are fairly arbitrary and need rework). I am curious if t

[2018-09-20 18:36] pdurbin commented on #3243
@mheppler this is the issue I was just telling you about and I guess it's older than I remembered. Time flies when you're having fun! ✈️ 😄

[2018-09-20 18:42] mheppler commented on #3243
Thanks, @pdurbin. Now that this issue has had sufficient time to marinate, I would like to propose we estimate this Bad Larry, and get it done. Came across this bug when developing fixes for #5067. This fix would help make testing that issue easier, as opposed to manually reindexing every time I upload a new file.

[2018-09-20 18:50] djbrooke commented on #3243
Moving to Ready and tagging for estimation despite not knowing what Bad Larry means.

[2018-09-20 18:55] oscardssmith commented on #5067
I knew that breaking this better in the TSV issue was the right choice!

[2018-09-20 19:01] pdurbin commented on #5067
I just ran `./ec2-create-instance.sh 5067-file-type-facet-caps` to deploy the branch to http://ec2-34-227-22-74.compute-1.amazonaws.com:8080/ and it seems to work. Note how it's "Image" in the screenshot below rather than "image":

![screen shot 2018-09-20 at 2 59 35 pm](https://user-images.githubusercontent.com/21006/45840801-0c51fd80-bce6-11e8-83ed-7fe9e32811a6.png)

[2018-09-20 19:08] mheppler commented on #3243
Pleaded my case to @djbrooke that this "low hanging fruit" get a "1" slapped on it and moved into this sprint, in order to fix along with #5067 since this bug will make testing that issue harder than it should be.

[2018-09-20 19:39] dlmurphy commented on #4410
Just talked about that first point with Danny - let's have both the UI **and** API require that a dataset is published in order to link it.

We talked about the second point too. For now let's leave the unlinking API as it is, and if we end up getting a ton of support tickets we can revisit.

[2018-09-20 20:47] qqmyers commented on #5043
@jggautier - Draft mappings to community vocabularies are now in citations.tsv - the last column if the exist. Other terms in citations.tsv will be defined as "https://dataverse.org/schema/<name from column 1> due to the last column in the metadatablock row. Terms in any other tsv file currently default to <instance base URL>/schema/<tsv name>/<any parent filed name>/<name>, but, as with citations

[2018-09-20 21:17] mheppler commented on #5009
Much better! Thanks, @matthew-a-dunlap for tackling this one.

![screen shot 2018-09-20 at 5 14 55 pm](https://user-images.githubusercontent.com/687227/45847421-fb5eb780-bcf8-11e8-8db2-c24a3cb2e89e.png)

[2018-09-20 21:57] pameyer commented on #4610
@sekmiller Thanks; fixes look good.

It looks like I've run out of ways to break this; the closest I came was inconsistent UI state:

one way native upload can be inactive
![screenshot from 2018-09-20 17-39-36](https://user-images.githubusercontent.com/10261853/45848935-40d1b380-bcfe-11e8-81dc-08f2dd71ab0d.png)

the other way native upload can be inactive
![screenshot from 2018-09-20 17-44-31](htt

[2018-09-21 00:07] matthew-a-dunlap commented on #4938
I realized I made a fundamental mistake in how I was testing solr results. Looks like where we put the boosting in solr-4.6 did not work when we switched to solr-7.x. So our boosting _IS_ turned off in 4.9.2.

That being said, changes in upgrading to solr 7.3 mean that the ordering is still wacky with our old boost values. So the discussions were still of value and will inform the new solr configu

[2018-09-21 01:00] pdurbin commented on #5072
@poikilotherm I see you're already working away on this over at https://github.com/poikilotherm/dataverse/commit/52510451d3f9b58bdead72311150fc5b9c63c05f adding unit tests. Great! Thanks!

[2018-09-21 01:29] pdurbin commented on #5069
@pameyer your fix for the harvesting stuff looks good to me but are we using this issue to represent the FileMetadataIT.testJsonParserWithDirectoryLabels failure as well? If so, I assume there's more work to do.

[2018-09-21 01:52] pdurbin commented on #5009
Yes, looks better but I'll go ahead and repeat my comment from our sprint planning meeting yesterday that it makes more sense to me to say that an installation of our software is powered by Dataverse rather than powered by the Dataverse Project. The software is called Dataverse. We don't call the software "The Dataverse Project".

There's a doc from 2014 called "Naming Things" at https://docs.goog

[2018-09-21 02:01] pameyer commented on #5069
@pdurbin If FileMetadataIT.testJsonParserWithDirectoryLabels is still failing on develop, that makes sense to me - but I don't see those failures when I run them.

[2018-09-21 02:52] pdurbin commented on #5069
Ok, now that I've added HarvestingServerIT to the list of tests on the phoenix server and run the test suite https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/240/ indicates that HarvestingServerIT.testOaiFunctionality is failing, as expected. It sounds like this is good to go so I'll move it to QA.

[2018-09-21 10:17] poikilotherm commented on #5072
Yes I am - but it is quite an amount of work... And many details of the implementation are unknown to me.

Example: in [getMainFileKey()](https://github.com/IQSS/dataverse/blob/d0cb4021a9396e6ac47aef97910abe028fa49510/src/main/java/edu/harvard/iq/dataverse/dataaccess/S3AccessIO.java#L646) it is not obvious to me, why this method is not written sideeffect free. I hoped that @landreev could help me

[2018-09-21 11:10] poikilotherm commented on #5072
Maybe @ferrys, @matthew-a-dunlap, @bsilverstein, @oscardssmith and other can look into this, too?

[2018-09-21 11:59] poikilotherm commented on #5068
While working on #5072, #4690 and #5059, this seems to become more crucial.

I can write unit tests for S3, but only mocked. To really test things, I need running stuff. This is always heavy lifting in contrast to unit tests, so it would be a good idea to hand it over to integration testing.

I would go on and try to come up with something, ok?

[2018-09-21 11:59] oscardssmith commented on #5072
Most of the changes I made were making `StorageIO` parametric on the type of `DVObject` stored. My sense in general is that this area was rather underdesigned, and the reason for most of these types of questions is because "It worked and we want to move on". What is the side effect by the way?

[2018-09-21 12:01] poikilotherm commented on #5072
Both the instance vars `key` and `bucketName` get set inside, although `key` is set again with the return value of the function. This could be by design or unintended - hard to predict without comments and not being involved before... :wink:

[2018-09-21 12:17] pdurbin commented on #5068
@poikilotherm sure, we very much welcome ideas about how to improve our automated testing. We know we have a long way to go. Thanks!

[2018-09-21 12:59] pdurbin commented on #4990
Yesterday in standup I mentioned that I'm ready for volunteers to try out the documentation I wrote for how to download the script, configure your machine for AWS, and spin up an arbitrary branch of Dataverse: http://guides.dataverse.org/en/4990-ec2-ansible-scripting/developers/deployment.html

The good news is that I got the script working with non-IQSS repos but I'm currently depending on a chan

[2018-09-21 13:45] poikilotherm commented on #5068
While working on PeerPub, I was using Spring Boot, which made things easy. With dataverse, we have to deal with EJB etc.

I saw on IRC (and other places?) that you struggle from non-clean test environments. If you guys can agree using Docker for integration testing, maybe using Arquillian plus Arquillian Cube (and maybe Arquillian APE including DBUnit and Arquillian Suite Extension) can help a lot

[2018-09-21 13:47] pdurbin commented on #5068
@poikilotherm the technology choices sound fancy and fine but should we back up a level and define a little more what we want? I could start a Google doc for this if you want.

[2018-09-21 13:49] poikilotherm commented on #5068
Uhm... Maybe? Unsure. Is this a topic that needs to be discussed @IQSS more broadly? If it helps to get people into the same boat and run smoothly, go ahead. I'm just a guy from overseas :wink:

[2018-09-21 14:11] poikilotherm commented on #2940
There might be a blocker for upgrading to JUnit 5 depening on decisions in #5068: Arquillian is JUnit 4 only as of writing this (they are discussing on supporting it in arquillian/arquillian-core#137).

I have not yet tested if using the Vintage engine is compatible with Arquillian as mentioned in that issue. If this is not possible, it might be needed to rollback this later on.

[2018-09-21 15:23] poikilotherm opened #5075 "Code styling seems inconsistent?"
Dear all,

currently being active working on patches and stuff, I wondered about the style conventions you guys use and how I should write my code to be in line with your code of conduct. Example: indentation. I just found http://guides.dataverse.org/en/latest/developers/coding-style.html, which is not very precise/elaborated on that.

I would really enjoy something more sophisticated (like how yo

[2018-09-21 15:43] pdurbin commented on #4966
@landreev are we changing the default Glassfish directory from "/usr/local/glassfish4" to "/home/glassfish/glassfish4"? This surprised me a bit and if we are, we should probably change the guides, which refer to "/usr/local/glassfish4" quite a bit.

[2018-09-21 15:47] pdurbin commented on #4966
Another thing, should we allow people to specify the SMTP port? smtp.gmail.com timed out and I think it's because it listens on port 465 rather than 25:

[code]

I'm worried I'm expanding the scope of this issue with this stuff and my comment about how we don't want any more new installations using EZID but I guess I'll keep reporting these user experience observations as I hit them.

[2018-09-21 15:47] landreev commented on #4966
@pdurbin where are you seeing that path?
short answer is no, we are not doing this on purpose.

[2018-09-21 15:52] pdurbin commented on #4966
@landreev this was as of c90f762 on my Mac. I'll attach the output from the run: [installer-run-c90f762-pdurbin-mac.txt](https://github.com/IQSS/dataverse/files/2406054/installer-run-c90f762-pdurbin-mac.txt)

[2018-09-21 15:54] landreev commented on #4966
with the smtp port - i can add that easily; to get it to work with  smtp.google though, doesn't it need more configuration, other than the different port?
with the EZID, I'll implement what was discussed during the meeting - switch the default to datacite and add the 2 lines telling them to register for an account. I will test that it is actually possible to do that and use that setup to publish i

[2018-09-21 15:55] landreev commented on #4966
@pdurbin Do you have a default.config file sitting around?

[2018-09-21 15:58] landreev commented on #4966
(but yeah, I'm willing to invest a bit of extra work into making it possible to have the installer work with google's smtp out of the box; it would be useful to a lot of people...)

[2018-09-21 17:15] pdurbin commented on #4966
@landreev whoops! I do. Sorry! Here it is:

[code]

[2018-09-21 17:17] mfenner commented on #5024
DataCite is happy to give credentials to the DataCite test system to everyone who asks for that, but we would not be happy with a standard test account and no password as EZID is doing.

Even better: we have an API to create client accounts, so someone can automate this on behalf of the Dataverse consortium for the test and/or production system for DOI registration.

Martin (DataCite Technical Dir

[2018-09-21 17:20] 4tikhonov commented on #4966
As you're changing installation folders please consider to move files folder to docroot containing logos. We've discovered limitation of Google Cloud to mount 2 persistent volumes in the same time (one to keep files and second to keep pictures from logos folder).

After I moved files and logos to docroot it's started to work with persistent volume to keep all stuff that users/admins creating.

[2018-09-21 17:26] mfenner commented on #5024
We are of course very interested in providing a nice developer experience with Dataverse.

Another issue that you might look at at some point (and in a different GitHub issue) is that DataCite has developed a new API for DOI registration. No reason to switch to that API now, but medium-term that is something to consider. Main advantage is that it is a JSON REST API :), and the MDS and EZ APIs are

[2018-09-21 17:44] jonc1438 commented on #5024
I can not speak for Harvard studies but Odum has about 407 or so "Draft" studies that are assigned Draft DOIs with EzID. These can not just be deleted and not reassigned. Once the migration happens we will have to re-register them as drafts DOIs with DataCite. So we will need to track them so we do not lose DOIs in the process.

[2018-09-21 17:52] landreev commented on #5024
@mfenner It was already our working assumption that a DataCite-like shared test account was not an option. But thank you for chiming in and confirming.

[2018-09-21 17:58] jonc1438 commented on #5024
Just a note too that after talking to EzID last week they gave us unitl Jan 1st to migrate all the GDCC DataCite Agents off EzID

[2018-09-21 18:16] sekmiller commented on #5052
Explore Button would not appear if the file was a WorldMap file and there were no other explore tools.
Also, it wouldn't; appear a button with a dropdown option if there was exactly one explore tool plus World Map

[2018-09-21 18:19] pameyer commented on #5075
It looks like it hasn't hit a release yet, but `doc/sphinx-guides/source/developers/coding-style.rst` may have some more information.  I've done a little with `astyle` (although I didn't come up with a satisfactory solution to the "just reformat the code you changed, not the whole file" recommendation).

But regarding the question - the code styling seems inconsistent because it is inconsistent.

[2018-09-21 18:37] landreev commented on #5024
@jonc1438 The thing about the DOIs of the draft datasets is that the concept of a "reserved" DOI is a proprietary DataCite-only feature. As their (DataCite's) migration document reminds us: "*Reserved identifiers cannot be migrated! They are “known” only to EZID.*" When your Dataverse is configured to use DataCite, the DOI of a newly-created, not-yet-published draft dataset only exists in the loca

[2018-09-21 18:39] pdurbin commented on #4966
@4tikhonov sorry, this was my mistake. We are not changing the default installation folder. I had a default.config file that was being read.

[2018-09-21 18:42] landreev commented on #5024
(for the life of me I cannot talk about "DataCite" and "EZID" without mixing up the two; I did that in the first draft of the comment above - but have since corrected it; so it should the correct in its present form. I think)

[2018-09-21 18:50] jonc1438 commented on #5024
Ok that makes sense when DataCite did not have "draft" DOIs but now they do.

Does that mean once the study is published a second check against the DataCite server happens to be sure another group has not used the DOI Dataverse is holding locally.

The question we need to ask the community is should the "draft dois" be only in Dataverse or should they get registered? ie Does the public registratio

[2018-09-21 18:52] djbrooke commented on #4610
Thanks @pameyer - we should do those suggestions as part of this issue.

@dlmurphy can you put together a checklist from the notes doc and add it here?

[2018-09-21 19:08] landreev commented on #5024
"but now they do" - are you saying that DataCite has a concept of a draft/reserved identifier now? I wasn't aware of that.

[2018-09-21 19:15] jonc1438 commented on #5024
yep

Yes, the "draft" DOIs provided by DataCite have basically the same functionality as EZID "reserved" DOIs. What we can't do though, is automatically transfer EZID "reserved" DOIs to DataCite, this has to be done manually. And DOIs in "registered" or "findable" state can't be turned back into "draft" DOIs.

Registering "draft" DOIs is easy with DOI Fabrica and the EZ API. And with the MDS API y

[2018-09-21 19:31] pdurbin opened #5078 "java.util.MissingResourceException: Can't find bundle for base name Bundle, locale en"
I spent quite a bit of time today struggling with my dev environment on Mac after pulling the latest from the "develop" branch, commit d0cb402, which was the merge for pull request #5023 for #4892.

I was unable to deploy to Glassfish and saw this error in Glassfish's server.log:

    java.util.MissingResourceException: Can't find bundle for base name Bundle, locale en

This was coming from line 5

[2018-09-21 20:45] dlmurphy commented on #4610
**Checklist from UX Review:**

- [ ] Add text to end of rsync upload script: "ALL TRANSFERS COMPLETE. Dataverse is now verifying the checksum and your upload should appear in the UI in ~5 minutes."

- [ ] Upload method accordions need chevron icons to indicate open/closed state, similar to this metadata block, for example:
<img width="104" alt="chevron" src="https://user-images.githubusercontent.c

[2018-09-21 20:48] pdurbin commented on #4990
Ok, I'm done hacking on pull request #5063 and @matthew-a-dunlap indicated he'd like to take a look so I'm moving this to code review. The changes to the dev guide are the best entry point to what has been implemented.

[2018-09-21 20:59] pameyer commented on #5078
This sounds similar to an issue that was fixed in the PR.  It is odd that I'm not seeing this on linux systems, but that it shows up on os x.

[2018-09-22 01:00] pdurbin commented on #5075
Thanks, @pameyer , yes I was going to point out that your pull request #4995 helped explain about our preferred curly brace placement. It's been merged already and can be seen here for now: http://guides.dataverse.org/en/4990-ec2-ansible-scripting/developers/coding-style.html#braces-placement

[2018-09-22 01:18] pdurbin commented on #5078
Yep. It's a weird one. @sekmiller also mentioned that when he changes Bundle.properties like we always have the changes aren't reflected so he updated the new JVM option to point to the traditional location of Bundle.properties as a workaround.

[2018-09-22 06:33] poikilotherm commented on #2940
I will test it in a separate little test project using some simple Arquillian  example and report back. IMHO it would be a good idea to be future proof with using JUnit 5...

[2018-09-22 11:15] pdurbin commented on #2940
That's how we started with REST Assured. One tiny file to exercise the API a bit. Our usage has grown quite a bit.

[2018-09-24 03:29] ross-spencer opened #5081 "Documentation doesn't describe bibtex files in Dataverse bundles"
Thank you for contributing an issue to the Dataverse Project! If this is a bug report, please let us know when the issue occurs, which page it occurs on, to whom it occurs, and which version of Dataverse you're using. If this is a feature request, please let us know what you'd like to see and give us some context - what kind of user is the feature intended for, and what inspired the request? No ma

[2018-09-24 04:39] philippconzett commented on #1753
The EUDAT License Selector might be of interest here:
https://www.eudat.eu/services/userdoc/license-selector

[2018-09-24 08:56] poikilotherm commented on #4690
Hey @matthew-a-dunlap and @pdurbin,

I think I got this ready for review.

Beware of the monsters in the shadows:

1. I could only test this with [Minio](http://minio.io), not with AWS, as I do not have an AWS account.
2. As I wrote the unit test in JUnit5, this is blocked by #2940. That's why the branch is based on that feature branch, too.
3. As there is no such things as Arquillian in place rig

[2018-09-24 09:08] poikilotherm commented on #4690
@sparrowjack63 and @mbamouni, could you test my feature branch with your S3 services and report back? Thank you!!!

[2018-09-24 10:29] poikilotherm commented on #2940
Hey @pdurbin,

I just walked through http://arquillian.org/guides/getting_started and extended the tutorial project to use JUnit 4 based Arquillian tests.

And guess what: it just works... :man_dancing:

Could you guys please review the PR and (hopefully) merge it? THX!

(Oh and while we're on it: could you assign this issue to me? That would be awesome, as I have to find it near the bottom of the

[2018-09-24 10:58] pdurbin commented on #5081
@ross-spencer hi! I'm not sure what you mean by "bundle" though I do see "zipped bundle" in the part of the docs you quoted. I feel like we usually just call this a "zip file" or something. Anyway, you can find a little more about BibTex support at http://guides.dataverse.org/en/4.9.2/user/find-use-data.html#cite-data . I'm sure you're right that the docs could be improved. Are you interested in m

[2018-09-24 11:01] pdurbin commented on #1753
@philippconzett interesting. Thanks. Since the first question is about if data or software is being deposited, it seems relevant to #2739 (code deposit) as well.

[2018-09-24 11:06] pdurbin commented on #4690
@poikilotherm thanks! Pull request #5059 is the one to look at, right? (The description still says "do not merge".) I moved this issue over to code review at https://waffle.io/IQSS/dataverse

[2018-09-24 13:08] poikilotherm opened #5082 "As a scientist/user, I want to mint a PID from different providers"
Dear all,

currently, only one persistant identifier can be stored per `DvObject`. Protocol, authority and identifiert are stored within the database and together form the `GlobalId`.

Besides that we need support for different providers than already present (currently only Handle and DOI via providers for EZID, DataCite and Handle.net), described in #4106, there is a need to have multiple persist

[2018-09-24 13:16] pdurbin commented on #5082
@poikilotherm thanks for opening this issue. Can you please take a look at pull request #5064 for issue #4832 which solves a specific but related issue some installations of Dataverse have where they ran with Handles for a while and want to mint DOIs for those datasets but still have the old Handles work. Thanks.

[2018-09-24 13:59] poikilotherm commented on #4690
Sorry, missed the description. Thank for pointing that out, fixed. :smile_cat:

[2018-09-24 14:07] pameyer commented on #5082
@poikilotherm any specific PIDs you're thinking of?  minid came across my radar for what might be a similar use case, but there may be better alternatives.

[2018-09-24 14:14] poikilotherm commented on #5082
@pameyer definitly [ePIC](https://www.pidconsortium.eu). E. g. big EU player [B2SHARE](https://github.com/EUDAT-B2SHARE/b2share) is using it and they provide a mechanism to add a DOI to a dataset with an ePIC PID when it gets published. (Clever trick: the ePIC is built almost the same as the DOI, but a bit longer. Thus the IDs part looks very similar afterwards, as the DOI is actually a shortened

[2018-09-24 14:44] #4410 closed

[2018-09-24 14:49] poikilotherm commented on #4106
Note to self: some examples for plugin mechanisms https://www.phillip-kruger.com/post/some_factory_examples/

[2018-09-24 14:58] kcondon commented on #5055
OK, this works but saw Mike's comments in pull request. Not sure of order/timing, will discuss with group at standup.

[2018-09-24 15:00] ross-spencer commented on #5081
Hi @pdurbin, that's interesting about the naming convention. We adopted it from the API call, `.../api/access/datafile/bundle/<id>` so it kinda stuck from there! :) Sure, I'll work up a PR, I think it's just a small addition so will try and get that to you within the week. It looks like that zip/package for tabular data will now contain all citation formats available with any dataset.

[2018-09-24 15:07] djbrooke commented on #4938
Hey @matthew-a-dunlap, I know we discussed this last week, but as this heads to QA is there a short summary of the expected changes before/after with this PR? Thank you!

[2018-09-24 15:12] pdurbin commented on #4938
Pull request #5080 looks fine to me so I moved it to QA.

The reason the fix works (in theory, since I haven't tested it) is tied in with the long comment I left in d3b721e when I changed the Solr request handler from "/spell" to "/select" in pull request #4520 when we upgraded from Solr 4 to Solr 7. Here's that comment:

Back in 60e640b when I was playing with spelling suggestions from Solr I
cha

[2018-09-24 15:17] matthew-a-dunlap commented on #4938
@djbrooke Summary is I updated the solrconfig.xml to move the boosting to the more normal location where it'll be picked up by Solr 7. Also, due to changes in the (non-boosted) weights in Solr 7 and needs to prioritize Dataverses even more, I increased the spread of the boosting so Dataverses are prioritized even more. I also added a tie variable that means objects that match multiple fields will

[2018-09-24 15:37] djbrooke commented on #5055
We're waiting for @JayanthyChengan and SP to review @mheppler suggestions re: capitalization and the changes made in #5067.

[2018-09-24 15:45] pdurbin commented on #4261
I'm playing around with Documentation Driven Development (DDD), if that's a thing, by making pull request #5084 which for now is only a stub of the direction I think we're going. See d2ccf59

At standup I mentioned that for my family site I recently switched from Jekyll to Hugo, which creates a sitemap at http://thedurbins.com/sitemap.xml . Hugo creates an XML file but at https://support.google.co

[2018-09-24 15:48] pdurbin opened #5085 "DatasetsIT.testCreateDeleteDatasetLink failure after pull request #5014 was merged"
After pull request #5014 was merged, DatasetsIT.testCreateDeleteDatasetLink started failing. We should ensure that the API test suite is passing before we cut a release. Please note that other failures have been reported in #5069.

[2018-09-24 15:50] philippconzett opened #5086 "resourceType for dataset files"
File DOIs from Dataverse are marked with "Dataset" in DataCite Fabrica, thus in the same way as dataset DOIs are; see this screenshot:

![image](https://user-images.githubusercontent.com/21955790/45962768-eef09c80-c021-11e8-8aab-2b8156c742df.png)

According to @pdurbin (cf. this [post](https://groups.google.com/d/msg/dataverse-community/ZY53hidy-MU/ErYnAhEnAAAJ) in the Dataverse Google Group),

I

[2018-09-24 15:51] #5009 closed

[2018-09-24 15:55] #5069 closed

[2018-09-24 16:03] amberleahey commented on #4448
hello! Just checking in, we have a new developer on staff at SP, Victoria Lubitch started a few weeks ago and will be resuming dev of the DCT tool. We have an ongoing list of issues to work on, including integration with DV workflow and code. I'll share a mock-up of the architecture diagram workflow we recently discussed for feedback / input shortly.

Can work continue on the API to write DDI at t

[2018-09-24 16:41] mheppler opened #5087 "Branding - AWS Cloud Name"
Old habits die hard. Noticed we have a "dvn" in our AWS URL in instead of "dataverse" when I was downloading a file from production (see screenshot below). Also, we shouldn't have to name our dog "Dog".

Rather than "dvn-cloud" as the bucket name* which displays in these URL's (*reference @matthew-a-dunlap), I'd suggest we stick to our branding recommendations and just call it "dataverse" so that

[2018-09-24 17:03] mheppler commented on #5067
NOTE: When developing/testing, in order to see changes to these file type facet values, you need to clear Solr and reindex.

`curl http://localhost:8080/api/admin/index/clear`

`curl http://localhost:8080/api/admin/index`

http://guides.dataverse.org/en/4.9.2/admin/solr-search-index.html

[2018-09-24 17:18] pdurbin commented on #3243
As I said in my review for pull request #5083, I love one line fixes. Off to QA.

[2018-09-24 17:28] pdurbin commented on #5081
@ross-spencer ok, I didn't realize the citation formats are included in the zip. Thanks for offering to make a pull request! I just dragged this issue to "Community Dev" at https://waffle.io/IQSS/dataverse and you might find http://guides.dataverse.org/en/4.9.2/developers/documentation.html helpful when working on the guides. If you have any questions, please let us know!

[2018-09-24 17:30] pdurbin commented on #5087
Makes sense. Does "DVN" mean anything these days other than the name of version 3 (and lower) of the software we now call "Dataverse?" I don't think so.

[2018-09-24 17:42] pdurbin commented on #4448
@amberleahey great news! I just moved this issue to "Community Dev" at https://waffle.io/IQSS/dataverse .

For now I'd like to assign you to this issue so I just invited you to join https://github.com/orgs/IQSS/teams/dataverse-readonly so you can be assigned. It would be great to add Victoria to that group as well so if you know her GitHub username already, please pass it along.

I believe the rel

[2018-09-24 18:01] sekmiller commented on #5085
Test was failing because the Datasets and Dataverses had not been published.

[2018-09-24 18:11] oscardssmith commented on #5067
Do you have any data on if/how much the permissions changes make on re-indexing? Hopefully, it will be at least 4x (and possibly more) faster.

[2018-09-24 18:16] dlmurphy commented on #4990
I just walked through the instructions and had a bear of a time trying to get things working. With some help from @matthew-a-dunlap I managed to eventually spin up a branch and then terminate it. Here are the points where I had difficulty, our guide could perhaps address these:

- Adding the AWS CLI executable to my command line path was a very confusing process. Matthew linked me to [Amazon's gui

[2018-09-24 18:31] pdurbin commented on #4448
@lubitchv thanks! I just sent you an invite to join https://github.com/orgs/IQSS/teams/dataverse-readonly . Please feel free to stop by http://chat.dataverse.org if you're a chat person. 😄 I recommend subscribing to https://groups.google.com/forum/#!forum/dataverse-dev because that's where we post notes about keeping one's dev environment in working order.

[2018-09-24 19:20] mheppler commented on #4610
Added chevron icons to upload method headers. Fixed warning msg styling. Added new render logic for missing msgs when HTTP file is added. de33aec8f88981ffcea0f7f0286326dea99165eb

![screen shot 2018-09-24 at 2 54 25 pm](https://user-images.githubusercontent.com/687227/45973783-68ca5b00-c00d-11e8-9e9e-504b0707cb4d.png)

[2018-09-24 19:48] kcondon commented on #4832
-Endpoint should say POST in guides
-error when minting doi on published dataset wit hdl.

[2018-09-24 19:54] mheppler commented on #4610
Had to remove `!empty EditDatafilesPage.fileMetadatas` render logic from the dataTable to get the "There are no selected files to display." empty table msg on the Edit Files pg to display again. Unfortunately that also return the "Files you upload will appear here." empty table msg on the Create Dataset and Upload Files pgs.

![screen shot 2018-09-24 at 3 50 44 pm](https://user-images.githubuserco

[2018-09-24 19:56] scolapasta commented on #5078
Reviewing the code, it looks as if the issue hinges on the existence of the directory. Regardless of whether you have the setting, the code looks for a directory (either what you set or /tmp/lang). If the directory exists, but is empty, you would see this exception. If the directory doesn't exist, it attempt to use the standard location, i.e. use the included bundle.

If this is accurate (and @sek

[2018-09-24 20:02] matthew-a-dunlap commented on #2940
This looks to be working well! The only caveat is that I had to completely blow away my .m2 folder before maven would grab the correct versions of things... but that's maven for you ¯\_(ツ)_/¯

[2018-09-24 20:04] matthew-a-dunlap commented on #2940
@poikilotherm fwiw we often use our waffle board to suppliment the github issue UI: https://waffle.io/IQSS/dataverse

[2018-09-24 21:07] #5085 closed

[2018-09-24 21:15] #3243 closed

[2018-09-24 21:28] matthew-a-dunlap commented on #2940
@djbrooke @kcondon we could pull this branch as is or bring it in alongside #4690 . I lean towards pulling this work in alongsize #4690 because 4690 exercises the upgrade more, but I've also said things like this before and had code wait a long time :P

[2018-09-25 07:37] poikilotherm commented on #4690
Hi @matthew-a-dunlap you guys should already have access to the pull request branch by default, haven't you? Or are you asking me to enable push access for @IQSS for the whole fork?

[2018-09-25 12:45] qqmyers commented on #4838
FWIW - I found the Submit for Review error independently and fixed it by changing the <button> to be a <p:commandLink> to be the same as the other 'button's in that area (and changing jsf:rendered to rendered as they have as well.) As far as I can tell, there's no reason for this button to be different than the others...

[2018-09-25 14:00] JayanthyChengan commented on #5055
@djbrooke : I reviewed and commented at https://github.com/IQSS/dataverse/pull/5073

[2018-09-25 14:20] matthew-a-dunlap commented on #4690
@poikilotherm I was running into issues getting to the point where i could push to the branch, but it may have been a problem on my end

[2018-09-25 14:28] sekmiller commented on #5078
After reviewing our hypothesis above, I made the changes outlined.

Removed the code that set the directory to "tmp/lang" in the absence of the of the jvmOption. Now if the option is set, but the directory is missing or the directory designated in the jvmOption exists, but does not contain the expected bundle a catastrophic deployment error will occur.

[2018-09-25 14:28] pdurbin commented on #5055
@JayanthyChengan thanks. There's a new developer who's having trouble will the latest code in "develop". @juancorr and I have been trying to help. If you have time, please take a look at http://irclog.iq.harvard.edu/dataverse/2018-09-25

[2018-09-25 15:36] rmo-cdsp commented on #4593
@pdurbin I am back to the subject and wanted to fix the EZID problem with @pameyer solution (I will open a new issue if needed), but I ran into a new problem (when I merged my code with the lastest develop branch commits), that your are mentioning on irc, about a login problem. So I may wait a little bit before coming back about this ticket :S

[2018-09-25 15:56] jggautier commented on #5043
@qqmyers. Thanks for the info! I took a look at the mappings in the citation.tsv file and @scolapasta is looking at it, too.

Creating a dataverse.org namespace for dataverse fields, and mapping those fields to fields in other vocabularies (like dublin core and schema.org) seems like a requirement for the json-ld OAI-ORE map file, but not the focus of your work to archive published datasets in DPN

[2018-09-25 15:56] pdurbin commented on #4593
@rmo-cdsp thanks for the quick chat at http://irclog.iq.harvard.edu/dataverse/2018-09-25#i_73255 . Please keep us posted on if you're having trouble with your dev environment. We definitely don't want you to be blocked!

[2018-09-25 16:02] qqmyers opened #5089 "Avoiding persistent temp files"
Working on behalf of TDL, I've found one case for shapefile zips where a successful upload leaves temporary files in the defined temp directory and several ways that user actions to delete or cancel when uploading can cause temp file to remain. I've gone through the code and have changes to submit.

The only cases I'm aware of where 'persistent' temp files can still be created would be 1) where ne

[2018-09-25 16:09] pdurbin commented on #5089
@qqmyers thanks for opening this issue! Perhaps we'll close some of these related issues in favor of this one that you just opened: #2125 #2140 #2848 #3818

[2018-09-25 16:09] rmo-cdsp opened #5090 "Can't log in in French"
By pulling the latest commits on develop branch (93cd4da28cffcc90fad852b340a7c8b0d184d18b), I ran into a login problem.
Here is the usecase:
- Going to the login page (and be pleasantly surprised by the french text)
- Enter login and password
- Nothing happens

On Glassfish logs, we can see this:

[code]

I added some logs to understand what's happening, and it seems that the validate method recei

[2018-09-25 16:22] qqmyers commented on #5089
@pdurbin - this is probably closest to #2140, not sure of the overlap on the others.

[2018-09-25 16:58] qqmyers commented on #5043
@jggautier - the link with the DPN/Bagit part is that the OREmap file is submitted as part of the Bag, so it would be nice to have 'reasonable' mappings for a v1, even if they get updated later.

For the other tsv files - I should have read my comment :-) My bracketed terms got dropped to create  /schema///, but take a look at the edited comment above now to see the form of the default term names

[2018-09-25 17:27] pdurbin commented on #5090
@rmo-cdsp thanks for opening this issue and for chatting about it at http://irclog.iq.harvard.edu/dataverse/2018-09-25 . I just took the liberty of renaming it to the phrase I was using in standup last week, which was "Can't log in in French" because that's how I was able to reproduce it https://github.com/IQSS/dataverse/issues/4892#issuecomment-422417899 but I wasn't able to reproduce it again a

[2018-09-25 18:11] tcoupin commented on #5090
@rmo-cdsp Thanks for opening issue for me ;-)
My system local is fr so I use `LANG=G mvn package` instead of just `mvn package`

[2018-09-25 18:15] poikilotherm commented on #4690
It definitly is enabled...
![grafik](https://user-images.githubusercontent.com/5468333/46033930-af987d80-c0ff-11e8-9a0e-d0f7886efc83.png)

[2018-09-25 18:47] pameyer commented on #4610
on 7e45bbfd9

@mheppler do you think the oddness with "files will appear" widgets is confusing enough to get sorted?
![screen shot 2018-09-25 at 2 04 43 pm](https://user-images.githubusercontent.com/10261853/46033413-23209780-c0cc-11e8-81a7-d0b3fcfbd473.png)
![screen shot 2018-09-25 at 2 05 16 pm](https://user-images.githubusercontent.com/10261853/46033450-3af81b80-c0cc-11e8-9423-d4cb5feb7a5d.png)

[2018-09-25 18:55] jggautier commented on #5043
Ah I understand the comment now. Thanks!

So in the citation.tsv, does a metadata field have its own URI in the dataverse.org schema if there is also a uri in either of the last two columns?

[2018-09-25 18:57] scolapasta opened #5092 "Test direct S3 downloads URLs for large (package files)"
For #4949 we decided we would uploads packages through the DCM as zip files (or other compressed single file format), and then generate a time limited URL to download.

This issue is to test that these types of downloads (using the URL through some download manager) is practical and will work for these packages.

[2018-09-25 18:59] scolapasta opened #5093 "Implement ability to reserve DOIs through DataCite"
Datacite has added the ability to reserve DOIs pre publish (as EZID did). This ticket will track adding the ability to reserve those DOIs when we create datasets, as well as a one time ability to reserve DOIs for existing drafts that have only reserved their DOIs on the dataverse side.

[2018-09-25 19:01] mheppler commented on #4610
@pameyer -- I was at a loss with that one. Initially, there was render logic that would hide that table, but it also resulted in an empty Edit Files pg when you delete a file. I can take another look at the render logic and see if there is another workaround for both workflows.

[2018-09-25 19:59] qqmyers commented on #5043
The order of precedence is: a field's URI is
* the URI in the last column for a field, if it exists
* <`MDblock URI`><`fieldname`>/<`subfieldname`>, if the MDBlock URI is set in line 2 col 4, or
* <`instance base URL`>/schema/<`tsv name`>/<`any parent field name`>/<`name`>

Note - I updated the citation.tsv file in the pull since I didn't have the block name in the MDblock URI.
It would be good fo

[2018-09-25 20:06] pdurbin commented on #5075
@poikilotherm thanks for pull request #5094! I'll move it to code review at "Community Dev" at https://waffle.io/IQSS/dataverse but like you said in the pull request we probably won't want to merge it exactly as is so there's a good chance we'll send it back to you with questions or create our own config based on what you've demonstrated in the pull request.

[2018-09-25 21:05] qqmyers opened #5095 "Inherit admins when creating dataverses to support distributed management"
Currently, admins of a parent Dataverse do not get any role on child Dataverses created within ones they admin. For configurations such as that for TDL, where their are Dataverse admins at multiple locations who are not superusers, it is useful for admins to automatically gain admin rights in child dataverses. To support their use case, I've created code that, if a new :InheritParentAdmins setting

[2018-09-25 21:15] jggautier commented on #5043
Ah, okay. Everything makes sense to me so far. I'll take myself off review. Thanks again!

[2018-09-25 21:29] amoeba opened #5097 "Add the ability to "Explore in Whole Tale" (External Tool)"
Hey all, @pdurbin and I met the other week and we talked about Dataverse and [WholeTale](https://wholetale.org/). WholeTale is a reproducibility-oriented environment for science and it would integrate really well with Dataverse's External Tools. WholeTale isn't in production just yet so this issue is intended to raise awareness between our projects and keep track of this idea for later. See https:

[2018-09-25 21:33] qqmyers opened #5098 "closing more potential resource leaks"
In looking through potential resource leaks for TDL, I came up with a few that were not in earlier PRs. I'll make a small PR for them...

[2018-09-26 00:59] pdurbin commented on #5097
@amoeba hi! Thanks for creating this issue and for linking to my comment over on the Whole Tale side. I guess there are a few details I'd like to emphasize here:

- It was absolutely fantastic to hang out with you all at the 2018 Whole Tale workshop. I've been thinking I should blog about it or something but for now people can check out the slides from my lightning talk call "Reproducibility and D

[2018-09-26 06:38] poikilotherm commented on #5075
IMHO you should cover as many aspects as possible... The sooner you get a consistent styling and the sooner you get people to document the code they are writting the better. But that's just my 2 cents. :wink:

[2018-09-26 09:52] rmo-cdsp commented on #5090
I tried the LANG=C fix, but it changes nothing. I can't log, and the logs are the same. Am I missing something ?
I did : LANG=C mvn package
I undeployed and deployed the new war generated, also restarted the glassfish domain.

[2018-09-26 11:18] pdurbin commented on #5090
@rmo-cdsp are you using the new ":Languages" database setting? As documented at https://github.com/IQSS/dataverse/blob/d0cb4021a9396e6ac47aef97910abe028fa49510/doc/sphinx-guides/source/installation/config.rst#languages you can run a curl command like this:

`curl http://localhost:8080/api/admin/settings/:Languages -X PUT -d '[{ "locale":"en", "title":"English"}, { "locale":"fr", "title":"Français"

[2018-09-26 13:01] donsizemore opened #5100 "increase default timeout in example systemd unit"
During boot, one of my test systems (4 cores, 64GB of RAM) is sufficiently bizzy that systemd kills glassfish at systemd's default 90s timeout. PR to bump the timeout to say 120s or 180s forthcoming.

[2018-09-26 13:55] rmo-cdsp commented on #4966
Hello !

I just ran into this problem (I am on Linux). I tried pulling the last version of develop, but had this problem, so @pdurbin asked me to use the 4966-installer-fixes branch and ... I still has the issue.

I attach my glassfish logs.
[server.log.txt](https://github.com/IQSS/dataverse/files/2420001/server.log.txt)

And an extract of the script error:
[code]

[2018-09-26 14:01] pdurbin commented on #4966
@landreev I asked @rmo-cdsp to try the "installer fixes" branch because it worked for me. He's on Linux, if it matters. He (Romain) has code written for NESSTAR import (#4593) and is trying to merge the latest from develop before making a pull request. In IRC I've been trying and failing to help him get a working dev environment set up.

[2018-09-26 14:52] jggautier opened #5102 "Linked datasets disappear when using move dataverse API"
When I use the _move Dataverse_ API to move a dataverse that has a linked dataset into another dataverse, the linked dataset no longer appears in the moved dataverse. I thought this was expected, but it's not. The linked dataset should still appear in the dataverse that was moved.

@scolapasta saw that if you force the dataset to be reindexed (e.g. by publishing a new version of the dataset) the d

[2018-09-26 14:54] RightInTwo commented on #2778
I would love to see this, as our primary publication target is DataCite-based and mints new DOIs for new versions of publications. Without the relationType IsNewVersionOf/IsPreviousVersionOf, I can't think of a way to accurately describe this.

All the best
Jonas

[2018-09-26 16:03] pameyer commented on #5098
bac9dfcbff25c3bc546ffffd5ada1c1c96e6c477 ; ran through API dataset creation / upload (to exercise FileRecordJobListener.java), no leaks judging by the usual `lsof` approach; no problems with functionality..  Same approach on develop c43b4864b; DCM success API calls seem to intermittently leave open a read descriptor for the manifest.

[2018-09-26 17:36] matthew-a-dunlap commented on #4906
The same fix was used for this issue and #4558. They should be reviewed together.

[2018-09-26 17:36] matthew-a-dunlap commented on #4558
The same fix was used for this issue and #4906. They should be reviewed together.

[2018-09-26 19:10] jggautier commented on #5029
I'm starting to think that Google Dataset Search prefers the `creator` property (as opposed to the `author` property that Dataverse uses). For every dataset landing page I've found in Google Dataset Search where Google shows the author, the `creator` property is used instead of the `author` property.

Unless someone finds something different, I'd propose that Dataverse uses the `creator` property

[2018-09-26 20:18] pdurbin commented on #4966
I made a couple tiny tweaks to docs and comments (no code changes) and I'm moving this to code review. I didn't execute any code but I did try this branch last week on my Mac (I don't think I wrote down the commit) and it worked fine. @rmo-cdsp and I with help from @pameyer and @donsizemore worked through his installation woes in IRC and he's all set now. Phew.

[2018-09-26 20:18] mheppler commented on #4610
Discussed remaining to-do issues with @sekmiller so we can swarm and get this to done!

- [ ] Improve render logic to display empty files table with "There are no selected files to display" msg on Edit Files pg after you delete a file, but *NOT* display empty files table with "Files you upload will appear here" msg that is inaccurate for rsync uploads
- [ ] Edit Files pg, when you delete a file, S

[2018-09-26 22:07] 4tikhonov commented on #5046
I've just tested pre-release of 4.9.3 and it works fine. Just a question about translation of metadata fields still remain, how it will be handled in this release?

I see the extension of citation and metadata blocks with translated properties here:
https://github.com/scholarsportal/dataverse-property-files/blob/master/french/citation_fr.properties

Should this file should be merged with Bundle_fr

[2018-09-26 22:10] #5078 closed

[2018-09-26 22:12] qqmyers commented on #5043
I committed a couple bug fixes and did some refactoring for the bagit generation /dpn PR. I also updated https://github.com/QualitativeDataRepository/dataverse/wiki/Data-and-Metadata-Packaging-for-Archiving
with links to updated example files (oai-ore.jsonld map, bag and datacite.xml). The [oai-ore](https://github.com/QualitativeDataRepository/dataverse/raw/feature/QDR-953/src/test/resources/oai-o

[2018-09-26 22:52] #4966 closed

[2018-09-27 11:40] tcoupin opened #5104 "Cant publish imported dataset with existing DOI"
I test the new feature https://github.com/IQSS/dataverse/blob/ddc41f58c1cc21449eb5d1f9a69a13be7915ca8d/doc/sphinx-guides/source/api/native-api.rst#import-a-dataset-into-a-dataverse

I can import a dataset with an existing doi and auto-publishing it (release=yes).
I can import a dataset with an existing doi and not auto-publishing it (release=no) but the dataset can not be publish using UI or API.

[2018-09-27 16:05] pdurbin commented on #5075
@poikilotherm I think what we need is more of a baby step at this point so I just closed your pull request #5094 in favor of pull request #5106 which is smaller in scope and doesn't fail the build. Code review from all is welcome!

[2018-09-27 16:09] pameyer commented on #5104
@tcoupin Could you provide more information about the use case you're using  `release=no` for?

[2018-09-27 16:16] #4832 closed

[2018-09-27 16:28] #2940 closed

[2018-09-27 16:33] #5100 closed

[2018-09-27 16:42] #4558 closed

[2018-09-27 16:59] pdurbin opened #5107 "API tests failing as of 201fa1a"
As of 201fa1a API tests started failing on phoenix:

![screen shot 2018-09-27 at 12 47 51 pm](https://user-images.githubusercontent.com/21006/46162032-24310080-c255-11e8-8439-0df347a0b33d.png)

See https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/245/testReport/

[2018-09-27 17:00] #4906 closed

[2018-09-27 17:07] #5098 closed

[2018-09-27 17:29] pameyer commented on #5107
6af5c1f7fbc9162bbf47d5837fc6b8d264fab52f ; docker-aio ; Tests run: 76, Failures: 20, Errors: 17, Skipped: 0

[2018-09-27 17:39] sekmiller commented on #5107
The testMigrateToDOI requires a set-up that can connect to a handle server.  I can set it to ignore that test for now. Not sure why the others would be failing. They are passing for me locally. I will investigate further.

[2018-09-27 17:40] jggautier commented on #5043
Thanks a lot for all of this great documentation!

[2018-09-27 17:43] thaorell commented on #4897
@kcondon Hi Kevin, sorry for the delay. how did you reproduce this problem? I tried create datasets and access it unauthorized but couldn't reproduce the error

[2018-09-27 17:48] thaorell commented on #4897
While I tried to reproduce the error, I found this error when trying to publish a dataset. Does it look like a separate issue?
<img width="1323" alt="screen shot 2018-09-27 at 1 44 27 pm" src="https://user-images.githubusercontent.com/25762021/46164447-fef3c080-c25b-11e8-80f3-6f39397ba153.png">

[2018-09-27 17:52] kcondon commented on #4897
@thaorell

It has been a while but general steps to reproduce:
1. restrict a file, enable request access, publish dataset.
2. as a separate logged in user, go to dataset with restricted file, click on file name so you end up on file landing page, click request access. Normally you would see a popup with terms and agreement/continue button but does not appear here.
3. Go back to dataset, click requ

[2018-09-27 18:08] sekmiller commented on #5107
On a fresh build from dev, all of my tests are passing so for further investigation I need something from the logs for one or more failing tests.

[2018-09-27 18:09] pameyer commented on #5107
ddc41f58c1cc21449eb5d1f9a69a13be7915ca8d also failing for me; suggesting that this may not be related to that branch.

[2018-09-27 18:09] pdurbin commented on #5107
@pameyer can you please post which tests are failing for you?

[2018-09-27 18:17] pameyer commented on #5107
on ddc41f58c
`
[ERROR] Failures:
[ERROR]   DatasetsIT.testDeleteDatasetWhileFileIngesting:1018 Expected status code <201> doesn't match actual status code <500>.

[ERROR]   FileMetadataIT.testJsonParserWithDirectoryLabels Multiple Failures (2 failures)
        Expected status code <201> doesn't match actual status code <500>.

        Expected status code <200> doesn't match actual status code <40

[2018-09-27 18:19] mheppler commented on #4610
Wanted to add some additional information about the commit above --  "Improved render logic for filesTable on editFilesFragment to only show with empty msg if a file was deleted in the Edit File view".

Once upon a time, the editFilesFragment was made to be an include that could be used on more than once page (7c7e1e0259d426680e9279de997197652932aca6). I believe there may have been some render log

[2018-09-27 18:20] pdurbin commented on #5107
@pameyer thanks. The phoenix server uses DataCite, not EZID.

[2018-09-27 18:29] pameyer commented on #5107
@pdurbin unless something's changed, there aren't generic test credentials available for DataCite.

[2018-09-27 18:29] thaorell commented on #4897
@kcondon I got that error when I tried publishing the dataset, does it look familiar to you?

[2018-09-27 18:32] pdurbin commented on #5107
@pameyer that's right. Please see "we would not be happy with a standard test account and no password as EZID is doing" at https://github.com/IQSS/dataverse/issues/5024#issuecomment-423610278

[2018-09-27 18:33] pdurbin commented on #5107
For what it's worth http://status.datacite.org says "major outage" for MDS:

![screen shot 2018-09-27 at 2 30 33 pm](https://user-images.githubusercontent.com/21006/46166871-3d8c7980-c262-11e8-9806-824dacde4ac3.png)

[2018-09-27 18:38] pameyer commented on #5107
Well, I'll wait with interest for DataCite's suggestions on how to make use of their service from automated provisioning / automated testing.

[2018-09-27 18:40] pdurbin commented on #5107
@pameyer in the same comment, did you catch "we have an API to create client accounts"?

[2018-09-27 18:40] kcondon commented on #4897
@thaorell We've checked in a new version of the installer last night which at the last moment changed the default persistent identifier provider from EZID to DataCite. DataCite requires you to contact them to get an account in order to publish a dataset. The error just indicates you do not have /have not specified an account and so cannot register a PID/publish. As a workaround you could switch ba

[2018-09-27 18:47] pdurbin commented on #5107
After merging pull request #5108 all the tests on the phoenix server are now passing:

![screen shot 2018-09-27 at 2 46 10 pm](https://user-images.githubusercontent.com/21006/46167588-36ff0180-c264-11e8-9558-81679b56ff74.png)

[2018-09-27 18:47] #5107 closed

[2018-09-27 19:00] pdurbin opened #5109 "Clarify in guides that EZID is no longer the default persistent ID provider"
In pull request #5058 we switched the installer to not configure EZID as the default but I'm noticing that we should make a few doc changes. For example:

source/developers/troubleshooting.rst
104:If you've reconfigured from EZID to DataCite and are seeing ``Response code: 400, [url] domain of URL is not allowed`` it's probably because your ``dataverse.siteUrl`` JVM option is unset or set to local

[2018-09-27 19:44] 4tikhonov commented on #5046
Update: I've managed to get all metadata fields translated from merged Bundle_fr.properties file:
<img width="1156" alt="screen shot 2018-09-27 at 9 29 36 pm" src="https://user-images.githubusercontent.com/704075/46170490-413df180-c29e-11e8-9fc9-791828e3a033.png">

I don't know if you guys will be interested in the solution as probably new release is already coming with the same functionality.

[2018-09-27 19:55] pdurbin commented on #5046
@4tikhonov that's awesome but #4684 is the issue about metadata fields so could you please post the screenshot over there? My understanding of this issue (#5046) is that it's about French in France vs French in Canada.

[2018-09-27 19:59] 4tikhonov commented on #4684
I've managed to get all metadata fields translated in French
<img width="1156" alt="screen shot 2018-09-27 at 9 29 36 pm" src="https://user-images.githubusercontent.com/704075/46171272-56b41b00-c2a0-11e8-8089-04afb4183175.png">

I can share my solution if the same functionality isn't coming with new release.

[2018-09-27 20:05] JayanthyChengan commented on #4684
Hi @4tikhonov :  Thanks.
I was able to get the output and I committed the code to
https://github.com/scholarsportal/dataverse/tree/4684-metadatablock-internationalization

Will do PR soon after committing french metadata files.

[2018-09-27 20:10] 4tikhonov commented on #4684
Hi @JayanthyChengan, thanks, I see, it's good idea to have a separate folder for translated properties. I'm looking forward to see it in the master branch, we'll use it for DataverseEU as well.

[2018-09-27 20:34] pdurbin commented on #5055
@JayanthyChengan heads up that the pull request for #5067 was merged today. That's pull request #5073 where some capitalization happened.

[2018-09-27 20:35] pdurbin commented on #4856
What's the status of this issue?

[2018-09-27 20:49] JayanthyChengan commented on #5055
@pdurbin:  Thanks.  I merged the latest develop branch.  The code is ready for review.

Also requested @mhvezina for capitalization correction in french MimeTypeFacets.properties

[2018-09-27 20:52] #5052 closed

[2018-09-27 20:54] matthew-a-dunlap commented on #4938
This was moved back into develop for two reasons:
1. The results are still not really where we want them. Specifically:
   - Dataverses are boosted high, but probably too high still as they drown out some results
   - Searching for multiple words does not prioritize the results that match those two words in the same order high enough. Switching to the old boosting helped for this somewhat but we m

[2018-09-27 21:02] #5109 closed

[2018-09-27 21:14] JayanthyChengan commented on #4856
@pdurbin:
 Merged the latest code from develop branch to https://github.com/scholarsportal/dataverse/tree/4856_FrenchPropertyFiles

Bundle_fr.properties is up-to-date with english property until Sept 25th
MimeTypeDisplay.properties is up-to-date
MimeTypeFacets.properties has to be verified for capitalization
Thanks to @mhvezina for translation

The PR which I created last time (https://github.com/

[2018-09-27 21:39] poikilotherm commented on #2940
Thanks for merging @kcondon :+1:

Wow, my first real contribution to Dataverse... :smile: Glad you guys merged it so fast.

[2018-09-27 22:20] landreev commented on #5024
Status update:
I checked in a README file documenting the migration process (mostly with other Dataverses who will need to migrate as well in mind).
We are NOT migrating on Oct. 8 after all - the date is not going to work for the DataCite staff. They offered Oct. 4 or 5 as "significantly easier" dates for them. So let's discuss and confirm.

[2018-09-27 22:30] pdurbin commented on #5024
@landreev I reviewed 18efd94 and it makes sense. I'd say you should feel free to make a pull request since the instructions are a nice addition we may well want to link to some day.

[2018-09-27 22:53] kcondon commented on #4990
@pdurbin
I had aws cli already installed so I was able to spin up two separate branches using the command supplied, verified it worked, then destroyed the instance using the provided command.

Would like to discuss any doc changes that might help with Derek's reported issues. Otherwise seems ready to merge.

[2018-09-28 00:00] pdurbin commented on #4990
@kcondon thanks, that's good feedback. For the SMTP thing I opened https://github.com/IQSS/dataverse-ansible/issues/28 but the branch should already be there. It was added in https://github.com/IQSS/dataverse-ansible/commit/d4dc7cbc213f1fbb0e20ad08c571dfc2f8c22e68 . What's missing from the build number is the commit. Let's chat about it to make sure we're seeing the same thing. We can discuss doc

[2018-09-28 10:12] philippconzett commented on #4917
More css flexibility at sub-dataverse level would also be useful for our Dataverse installation. Thanks!

[2018-09-28 10:47] poikilotherm commented on #4259
Hey guys,

it just came to my attention that non-commercial support for Oracle JDK 8 will end in January 2019.

There might huge impact for this project lurk in the shadows. As there will be no public updates to **Oracle** JDK 8 available anymore, people would be forced to use unsafe systems. That most certainly is not what they (should) want...

Updates to OpenJDK 8 seem to be coming in anyway, s

[2018-09-28 11:16] pdurbin commented on #4259
@poikilotherm thanks for you comment. It's good to know that a new LTS release of Java is finally out. I wonder when I'll be able to run `yum install java-1.11.0-openjdk` (or whatever Java 11 is) on CentOS.

With regard to what the Dataverse Installation Guide recommends in terms of where to download Java from, this is the quote from https://blogs.oracle.com/java-platform-group/oracle-jdk-releases

[2018-09-28 11:46] pdurbin commented on #4259
@poikilotherm ok, if paying for a license is required for Oracle JDK in production for R&D institutions, it sounds like we should switch to OpenJDK for the Installation Guide (and testing leading up to it).

I see your side note about testing but any thoughts on what's written at http://guides.dataverse.org/en/4.9.2/developers/dev-environment.html#install-java ? On Mac I've always used Oracle JDK

[2018-09-28 13:37] poikilotherm commented on #4259
@pdurbin wrote:

Citing https://access.redhat.com/articles/3409141 about that:

@pdurbin wrote:

Currently I have no proof in form of a written document somewhere, just the live experience here at FZJ. We had a license audit from Oracle some time ago, when they wanted to know if some enterprise Java analysis tooling is in use. IIRC that where some profiling and heap analysis things that shipped wi

[2018-09-28 13:56] pdurbin commented on #4259
@poikilotherm ok, is your dev environment Mac or Linux? I just downloaded openjdk-11+28_osx-x64_bin.tar.gz for Mac from http://jdk.java.net/11/ and uncompressed it and it seems to run fine on my Mac running OS X 10.11 (El Capitan):

[code]

It would be nice if I could install this via `brew` but I'm not sure if there's a formula for it.

[2018-09-28 14:28] pdurbin commented on #4259
As of 5390f28 on the "develop" branch Dataverse does not compile on Java 11 (openjdk 11 2018-09-25 on Mac). I ran this:

`JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk-11.jdk/Contents/Home mvn package`

And got compilation errors like this:

`[ERROR] /Users/pdurbin/NetBeansProjects/dataverse/src/main/java/edu/harvard/iq/dataverse/util/JhoveFileType.java:[103,13] reference to Module is ambiguous`

[2018-09-28 14:51] donsizemore commented on #4990
@pdurbin dataverse-ansible should be munging build.properties when a branch is passed. i'll check on that.

[2018-09-28 15:18] qqmyers commented on #5003
Just verified that this is an issue in the develop branch as of this week (just before 4.9.3 release). To resolve, I think the 4.9.3 release notes should just say to revert the change from 4.8.6 if it was done.

[2018-09-28 15:35] philippconzett opened #5112 "Exclude deaccessioned dataset from being harvested"
We'd like deaccessioned datasets to be excluded from being harvested. I have tried to create an OAI set by setting the Solr field publicationStatus:Deaccessioned in the OAI set query; cf. [this thread](https://groups.google.com/forum/?hl=no#!topic/dataverse-community/hy_GlMdEBwU) in the Dataverse Google Group. Please have a look into this and enable deaccessioned datasets from harvesting. Thanks!

[2018-09-28 15:44] eugene-barsky commented on #4917
Just seconding this request for a second logo option, as we have many multidisciplinary teams that want to deposit data and are coming from many institutions...

[2018-09-28 15:47] landreev commented on #5024
Yes, there's now a PR #5113. Whether this is something we want to merge now, or wait till we actually migrate - not sure.
I feel we should wait till we are done with the actual migration - since it is possible we will run into something unexpected, that requires extra fixes that may need to be documented.

[2018-09-28 16:11] pdurbin commented on #5024
@landreev sure, that make sense. We might make a commit or two to that README based on lessons learned. Thanks for making the pull request.

[2018-09-28 16:29] qqmyers commented on #3924
verified this is still an issue as of ~4.9.3 and is not browser specific... (planning to investigate at some point)

[2018-09-28 17:01] pdurbin commented on #4990
I sat with @dlmurphy to discuss his two bullets above and made improvements to the docs in 562c9c7 and 746eec5

I also spoke with @kcondon and @djbrooke and it sounds like we're happy with how phase 1 has turned out so I'm moving this to QA.

@donsizemore yes, the branch is being added to the bottom right corner but not the commit. I'll ping you in IRC or in the dataverse-ansible repo about this.

[2018-09-28 17:59] pdurbin commented on #4261
As I mentioned at standup, I did a little code and docs clean up and now I'm ready for code review for pull request #5084.

[2018-09-28 18:00] jggautier commented on #1969
Noting that metrics that Dataverse will display when implementing Make Data Count standard (#4821) will include page views.

[2018-09-28 18:03] pdurbin commented on #1969
@jggautier I removed the "vote to close" label but please help us remember to put this issue through QA as part of Make Data Count support if we're not simply closing it as a duplicate.

[2018-09-28 18:11] #4990 closed

[2018-09-28 18:30] pdurbin commented on #5027
I just created pull request #5114 and will move it to code review.

[2018-09-28 18:32] landreev opened #5115 "Open the MoveDataset to non-superusers."
This is per request from BARI project.
They have a dataverse with a complex hierarchy inside. They want to be able to move datasets between dataverses on their own.

The API/Commands are currently superuser only.

Should not be hard to implement. Main issue appears to be figuring out the permissions. It can't be as simple as checking that the user owns/can modify the dataverses involved, unfortuna

[2018-09-28 18:35] pdurbin commented on #5003
@qqmyers sorry, I'm confused. Revert a change having to do with `&gbrecs=true`? In the Java code? Most installations just deploy the war file as-is, I believe, without hacking on the code and compiling their own war file.

[2018-09-28 18:39] qqmyers commented on #5003
@pdurbin - The release notes for 4.8.6 tell you to edit app_ddi.js in the /var/www/html/dataexplorer/... and if you did that and are now on v 4.9+, you'll get a warning. The newer Dataverse java code no longer needs &gbrecs=true in the app_ddi.js file to avoid duplicate download counting, so if you revert to what it was before v 4.8.6, the warning is gone and all is good.

[2018-09-28 18:47] mheppler commented on #5115
This functionality was part of the original 4.0 designs, and the front-end code is still in `dataverse.xhtml`.

[code]

[2018-09-28 18:57] pdurbin commented on #5092
It looks like the 256 GB file we uploaded is going to take around 9 or 10 hours to download:

![screen shot 2018-09-28 at 2 51 41 pm](https://user-images.githubusercontent.com/21006/46227835-5cf0d880-c32e-11e8-9633-c165f0c6bca7.png)

[2018-09-28 18:58] poikilotherm commented on #4259
Hi @pdurbin,

I just created #5116. If you want to try it out, go ahead :smile: My results are mixed.

To use my branch:

1. Install Java 11 first. Used `dnf install java-11-openjdk-devel` on my Fedora 28 Linux Dev Box :wink:
2. Run `JAVA_HOME=<your_java_11_home> mvn -Pjava11 clean test`

Watch unit tests fail at two tests currently:
[code]

This seems to be related to a different message since JD

[2018-09-28 19:01] poikilotherm commented on #4259
IMHO this is not a very clean approach. See my solution in cd5296d68, which I find to be more inline with good coding practise.

[2018-09-28 19:04] scolapasta commented on #5115
We'll want to focus on Datasets only first (moving Datasets introduces mass indexing, similar to linked dataverses).

For permissions, we'll need to decide if we want separate permissions for moving a published dataset versus a draft dataset. If we do, we'd have to use dynamic perms; if not, then we'd use the strictness of published for both states.

Here's what I suggest:

For Drafts:
AddDataset

[2018-09-28 19:04] #5075 closed

[2018-09-28 19:07] pdurbin commented on #5092
`wget --continue` seems to work as advertised. "Continue getting a partially-downloaded file."

I started downloading the file and then turned off my wifi:

[code]

Then I used `wget --continue` like this:

[code]

Back in Firefox, I saw a "failed" message after turning off wifi:

![screen shot 2018-09-28 at 3 04 53 pm](https://user-images.githubusercontent.com/21006/46228408-fcfb3180-c32f-11e8-8a

[2018-09-28 19:20] pdurbin commented on #4259
@poikilotherm thanks for the pull request and links. Yes, I was just trying to illustrate what "Module" is in our code. Let's go with your approach.

In my mind the next steps are:

- fix those two failing unit tests
- put a FIXME next to every reference to Java 8 in the docs and code to help us think about the scope of work. Vagrant? Docker? Installation Guide? OpenShift?
- actually make the chan

[2018-09-28 19:24] kcondon opened #5117 "Update version to v4.9.3"
Usual pre-release update

[2018-09-28 19:28] pdurbin commented on #5030
@qqmyers I just saw your note on pull request #5032 at https://github.com/IQSS/dataverse/pull/5032#issuecomment-425533923 about which files to make searchable and I'm wondering if this issue should now be in the "code review" column at https://waffle.io/IQSS/dataverse

[2018-09-28 19:29] qqmyers commented on #5030
@pdurbin - checking one more thing - I'll ping you when this is ready to go again.

[2018-09-28 19:30] pdurbin commented on #5003
Ah, weird. So the fix is just to tweak the release notes? That sounds easy. You're making me wish our release notes were in git so you could make a pull request and I could move this to code review. I guess for now I'll put it in "community dev" to get it out of the inbox at https://waffle.io/IQSS/dataverse

[2018-09-28 19:34] qqmyers commented on #5003
@pdurbin - yep. Although I think it applies back to 4.9, just adding something about it to the 4.9.3 notes would be good.

[2018-09-28 19:34] poikilotherm commented on #4259
I think as soon as RHEL upstream will provide them, they will be in CentOS shortly after.

Both failing tests need debugging... :disappointed:  Not easy to tell why this is not working as supposed.

[2018-09-28 19:36] pdurbin commented on #5117
While we're working on the 4.9.3 release notes can we please include @qqmyers 's suggestion on how to fix Two Ravens? Please see #5003

[2018-09-28 19:55] pdurbin commented on #4259
@poikilotherm I went ahead and assigned this issue to you and dragged it to "community dev" at https://waffle.io/IQSS/dataverse

Once we decide the scope for this thing (Vagrant? Docker? OpenShift? Installation Guide?) let's rename the title of this issue from "Java 9 Upgrade" to something more reasonable. Or even before we decide the exact scope. Java 9 is EOL.

[2018-09-28 20:28] pdurbin commented on #4842
I just made pull request #5118 and moved this issue to code review at https://waffle.io/IQSS/dataverse

[2018-09-28 20:32] djbrooke commented on #5104
Hi @tcoupin - I read through the IRC logs and I'm not sure I understand what you're trying to implement here. Are you submitting a PR with a UI change in order to fix a bug? I think we'd want to implement a fix for the underlying bug here instead, but some more context would be helpful. Thanks!

[2018-09-28 20:40] poikilotherm commented on #5030
The integration of Tika could be usefull for the upgrade to Java 11, too. See #4259. I get failing tests while detecting file types and I wonder if Tika can help.

This is just a cross-reference, will open a new issue for this if necessary.

[2018-09-28 20:45] scolapasta commented on #5095
Some background:
When we first designed Dataverse 4, we wanted the concept of inheriting permissions from parent dataverse to child dataverse (like we do now for datasets inheriting from dataverses and files inheriting from datasets). We ran into issues with this - if I recall correctly it was indexing performance. So we removed it with the idea to address in the future.

Manual inheritance is a g

[2018-09-28 21:01] #5117 closed

[2018-09-28 21:06] mheppler commented on #4842
Changed the UI component of the status header from a label to an alert. This will allow for the `:StatusMessageHeader` and `:StatusMessageText` to be displayed together.

There are some things still to determine for this new layout.

- Do we need the popup anymore?
- Should there be a limit to the amount of text you can add to the message? (We could truncate the message and display the entire mess

[2018-09-28 21:11] landreev commented on #4741
I have replicated the temp cleaner crontabs we have in production (domain1/files/temp had *a lot* of old files in it, having it cleaned will help a lot!);
Adjusted the tmpwatch time limits to match what we are using in production;
Also automated your script for deleting older datasets, to be run by a cronjob every month (on the 1st of every month).

[2018-09-28 22:19] 4tikhonov commented on #5117
Great release, thanks! I can confirm that it works with DataverseEU internalization.
Look at Slovenian web interface and metadata fields:

<img width="1173" alt="screen shot 2018-09-29 at 12 18 01 am" src="https://user-images.githubusercontent.com/704075/46236009-35752c80-c37d-11e8-9b13-7337936a715b.png">

[2018-09-29 00:04] oscardssmith commented on #5115
Correct me if I'm wrong,  but can't dataset permissions be inherited from the dataverse they are in? To me this seems like it could create a lot of weird issues where for example, you could move a dataset to a location where you could no longer edit it. Is this a problem? I'm not sure it is, but it feels weird.

[2018-09-29 00:06] oscardssmith commented on #5095
Also, indexing performance should be retested given that much of  the permissions code has been sped up, and I'm 90% sure it can deal with this.

[2018-09-29 00:59] pdurbin commented on #5095
@oscardssmith your pull request hasn't yet been merged.

[2018-10-01 08:50] tcoupin commented on #5104
No. During the my development of #5105, I could create a new dataset with a existing DOI using UI but I have the same exception of #5104. To finish my PR, I fix it and this fixes also this issue.

So I'm not submitting a  PR with a UI change in order to fix #5104, but the PR with the new UI feature fixes this issue.

I'm not sure to be clear, especially since my English is buggy...

[2018-10-01 13:28] JayanthyChengan commented on #5055
@pdurbin:  updated MimeTypeFacets_fr.properties after fixing capitalization

[2018-10-01 13:30] JayanthyChengan commented on #4856
@pdurbin: created new PR https://github.com/IQSS/dataverse/pull/5121 for this issue.  Thanks

[2018-10-01 13:40] poikilotherm commented on #4690
Hey @sparrowjack63 and @mbamouni,

I would really appreciate if you could test this feature branch and give us some feedback. If this is no longer relevant to you, maybe you can drop a comment anyway? Thanks!!!

[2018-10-01 13:43] poikilotherm commented on #4690
Hey @djbrooke, @dlmurphy and @matthew-a-dunlap (and maybe @pdurbin ?),

could you guys please approve my PR #5059 so it might get merged soon? That would be really awesome! If there is anything missing or if anything needs to be changed, just drop me a line.

Thank you! You're awesome building Dataverse! :smile: :+1:

[2018-10-01 13:53] pdurbin opened #5122 "Cannot re-execute "Test File" without BUILD FAILURE"
I'm on 6eecbf1 on the 4261-sitemap branch (pull request #5084) and seeing some strange behavior with running unit tests, perhaps because pull request #5071 was recently merged.

When I run SiteMapUtilTest with "Test File" in Netbeans as described at http://guides.dataverse.org/en/4.9.2/developers/testing.html#writing-unit-tests-with-junit it works fine and the tests pass, but only if I do a `mvn c

[2018-10-01 14:00] pdurbin commented on #4690
@poikilotherm our convention is that while an issue is in Code Review at https://waffle.io/IQSS/dataverse the assignees on the issue indicate who is still doing work on it. So if you're done working on the issue, can I unassign you? It will make the status of the issue more clear at standup in about an hour.

@dlmurphy you're still assigned as well from back when you self-assigned last week. I ass

[2018-10-01 14:04] poikilotherm commented on #5122
Hey @pdurbin,

I just tried this on my dev machine. Not using Netbeans, but as you were wondering if the JUnit 5 stuff might brake things: the test seems to be perfectly fine.

The test is passing with `mvn test -Dtest=SiteMapUtilTest` every time, even after 10 iterations.
Running the test after a clean from IDEA 2018.1 is also working for multiple iterations (had again about 10).

This might be r

[2018-10-01 14:09] pdurbin commented on #5122
@poikilotherm I just ran `mvn test -Dtest=SiteMapUtilTest` three times in a row and got "BUILD SUCCESS" each time. It's important to use for "Test File" to continue to work in Netbeans. I don't think any of us have upgraded to Netbeans 9 yet. Are you willing to install Netbeans 8.2 and make an attempt to replicate the problem above?

[2018-10-01 14:37] pdurbin commented on #5122
@poikilotherm and I have been discussing this issue at http://irclog.iq.harvard.edu/dataverse/2018-10-01 and said I could assign it to him. Thanks! I dragged it to "Community Dev" at https://waffle.io/IQSS/dataverse

Something else we could try is re-executing an older test file that's been in the code base for a while.

[2018-10-01 14:44] dlmurphy commented on #4690
I'm all set, moving this to QA.

[2018-10-01 15:04] kcondon commented on #4690
The underlying PR is blocked so awaiting clarification on status.

[2018-10-01 17:31] matthew-a-dunlap commented on #5092
Resuming from Chrome after hard-killing my internet connection allowed it to be picked up again which is great

[2018-10-01 17:37] matthew-a-dunlap commented on #5092
Hmm seems to be somewhat a fluke, killing it for more than a few seconds and it didn't resume.

[2018-10-01 17:44] pameyer opened #5123 "as a developer, I'd like to be able to run integration tests without manual configuration"
On ec377d2a4e27424db8815c55ce544deee48fc5e0; docker-aio setupIT does not result in a configuration capable of passing integration tests, due to the removal of EZID test credentials.

Would not be surprised if manual configuration was also required for the recent EC2 scripts (pending update to dataverse-ansible).

[2018-10-01 18:51] pdurbin commented on #5053
@matthew-a-dunlap here's the doc we were just looking at that has notes from tech hours and later meetings with design: https://docs.google.com/document/d/1AtvODFY8aNQSE9BleeQEf5GkFsDWrziUB-IX-1xA0Y8/edit?usp=sharing

[2018-10-01 19:41] mheppler commented on #5053
Still waiting on new mockups from @TaniaSchlatter for the Recent Activity section, but here are some of the decisions we discussed in the design mtg.

- Instead of a general published datasets (which might show harvested results) and file downloads (which would require a new API plugged into guestbook) make all three columns published datasets by dataverse categories (like the third "journal" colu

[2018-10-01 19:44] pdurbin commented on #5095
@qqmyers I asked at standup if we want this and @djbrooke and @scolapasta indicated that we do but the most obvious problem with pull request #5096 is that nothing has been written in the guides about it. I just pushed 81c3c97 to your branch and added FIXMEs in the following three files:

- doc/sphinx-guides/source/admin/dataverses-datasets.rst
- doc/sphinx-guides/source/installation/config.rst
-

[2018-10-01 19:46] JayanthyChengan opened #5125 "Internationalization: Replace ResourceBundle.getBundle("Bundle").getString("key") to BundleUtil.getStringFromBundle("key")"
Hi:
Found few java files still has ResourceBundle.getBundle("Bundle").getString("key"), where internationalization is not handled.  So planning to replace them with BundleUtil.getStringFromBundle("key").

[2018-10-01 19:46] qqmyers commented on #5095
@pdurbin - will do. Knowing where you want documentation is a big help...

[2018-10-01 19:55] JayanthyChengan opened #5126 "Internationalization: Need to create key=value property file for Built-in Roles(JSON files)"
Noticed that there are English terms in the built-in roles json files, which are loaded to database table(dataverserole) and displays in roles-assign.xhtml, roles-edit.xhtml and permission-manage.xhtml.  Planning to create a property files for Internationalization.

[2018-10-01 20:02] pdurbin commented on #5092
I accidentally left `wget --continue` running all weekend (sorry for the Amazon bill) so I have a little more information on the user experience.

The good news is that the download completed! It finished on the 12th retry and from `man wget` it looks like the default before it gives up completely is 20 retries. Phew.

The bad news is that I wasn't able to calculate the md5 of the file. My fan spu

[2018-10-01 20:18] #5123 closed

[2018-10-01 20:44] pdurbin commented on #5095
@qqmyers thanks for adding docs! I move this issue to QA.

[2018-10-01 20:59] landreev commented on #5003
@qqmyers Sorry this has taken so long.
For the record, you DON'T want to remove that "&gbrecs=true" part of the URL; it wasn't a temporary fix, it's something that is needed going forward, since the original count bug has been fixed in 4.8.6 and the TwoRavens "explore" sessions are now properly counted on the Dataverse side. So without the gbrecs flag set by TwoRavens the download count will get i

[2018-10-01 21:05] landreev commented on #5003
OK, done.
@qqmyers @kcondon - I've added that blurb (above) to the end of the 4.9.3 upgrade instruction. Please let me know if you think it should be made more prominent - ?

(since there's no code, this is going directly into QA)

[2018-10-01 21:46] #5003 closed

[2018-10-01 22:02] jggautier commented on #5043
Hi, Jim. @scolapasta and I had a question about the last two columns in the metadata block TSVs. It looks like the first column has the URI, unless the field is a child field of a compound field; for those fields, like author name or author affiliation, the URI is in the second column.

Would it be possible to use just one column? It doesn't seem like there would be cases where both columns have U

[2018-10-01 22:04] scolapasta commented on #5095
@qqmeyers one thing I had missed (thanks @kcondon) was that this seems to be only copying over admin perms? (based on the setting name and "I've created code that, if a new :InheritParentAdmins setting is true, adds individual and (native) group admins of the parent to child dataverses during their creation."

Would you be ok with changing this to be more generic and copying over all role assignme

[2018-10-01 22:04] kcondon commented on #5095
@qqmyers @pdurbin @scolapasta

Just to confirm the expected and implemented behavior, this code provides both a setting that is installation-wide and an endpoint that is dataverse-specific, superuser only, that propagates all permissions from parent dataverse to child dataverses, not just admin roles and "native" groups but all groups, correct?

Also, the implication of this is child dataverses wi

[2018-10-01 23:29] matthew-a-dunlap commented on #4938
I've taken another stab at the boosting. It is more in line with the original boosting values, but I added an extra xml option for phrase based boosting. This means that when a user searches two words results with both of those words will get boosted extra, especially if they are right next to each other.

[2018-10-02 01:07] pdurbin commented on #5123
Yep, now that dataverse-ansible has been upgraded to 4.9.3 I can't even create a dataset. I just opened this issue: https://github.com/IQSS/dataverse-ansible/issues/29

[2018-10-02 07:19] lmaylein commented on #4929
What is the corresponding configuration option in 4.9.3. Could not find anything in the documentation except :DataFilePIDFormat

[2018-10-02 10:39] poikilotherm commented on #5122
@pdurbin could you trigger review and/or QA for this? Seems ready for me, successfully resolving your problem.

(I could reproduce it with NetBeans: the `${argLine}` is escaped by NetBeans and thus JVM is complaining about a missing main class named like the var and exits immediately.)

[2018-10-02 11:02] pdurbin commented on #4929
@lmaylein good job finding it. :smile:

The "latest" symlink hasn't been updated yet but the 4.9.3 docs have been built: http://guides.dataverse.org/en/4.9.3/installation/config.html#filepidsenabled

[2018-10-02 12:04] poikilotherm commented on #5062
Hey guys,
curious if there is room for improvement here? This could hit us pretty badly in production if drives start to get full or other stuff happens.

IMHO there should be an error message that the files cannot be uploaded right now before the potentially large upload starts. At least there should be a clear error message.

Maybe add check at startup time that ensures a writeable path? And may

[2018-10-02 12:10] poikilotherm commented on #4259
Hey @pameyer, once the unit tests are all fixed, I will need to tackle the integration tests. Currently, those run in the `docker-aio` container using Java 8.

What makes more sense to you guys: try to make a second container using Java 11 or instead try to get things moving and use a Travis CI approach with a test matrix including both Java versions? (We can use Docker inside TravisCI jobs)

[2018-10-02 12:27] pdurbin commented on #5062
@poikilotherm there is definitely room for improvement. Any interest in poking around in the code and maybe making a pull request?

[2018-10-02 12:42] pameyer commented on #4259
@poikilotherm With the caveat that I think IQSS jenkins is still the authoritative "source of truth" for integration tests; I think it might make sense to start with another container for Java 11.  But part of that is because I'm not too familiar with Travis CI or Arquillian - so if these are a simpler approach, I'm not opposed to it.

My (completely unsupported) suspicion is that the current stat

[2018-10-02 12:54] qqmyers commented on #5062
FWIW: The permission issue that this issue started with should be a one-time thing, i.e. once you're setup correctly, users shouldn't be running into it. A check could be written, but it might still be overkill to run it for every upload.

Managing disk space would trickier in many ways. Since multiple users could be uploading in parallel and one user can drag files into the upload interface seque

[2018-10-02 13:49] qqmyers commented on #5095
Added commit to support all group types. Note that this required adding the GroupServiceBean to the CommandContext class.

[2018-10-02 14:02] pdurbin commented on #5122
@poikilotherm thanks for pull request #5127! I tested it by making a new branch off my sitemap branch and merging your pull request it. Then I ran "Test File" a few times from Netbeans on SiteMapUtilTest and it worked fine. Back to normal. Off to QA. Thanks again!

[2018-10-02 14:05] djbrooke commented on #4690
Thanks @poikilotherm - I'll move it over to QA.

[2018-10-02 14:15] djbrooke commented on #4938
Thanks @matthew-a-dunlap, let's discuss today if possible.

[2018-10-02 14:27] qqmyers commented on #5043
@jggautier @scolapasta - sorry - just typos. There should only be one additional column for the fields. I updated the citation.tsv file in the commit (and added a header for the column added in the metadatablock and the 1 column for specific fields).

[2018-10-02 14:59] pdurbin commented on #4593
@rmo-cdsp hi! I'm just checking in to see if you need any help with your dev environment or if you've pushed your branch yet. Please note that we've released Dataverse 4.9.3 so merging the latest from "develop" into your branch is definitely recommended.

[2018-10-02 15:10] pdurbin commented on #5087
The problem with "dataverse.s3.amazonaws.com" is that there are 34 installations of Dataverse so maybe something like "harvard-dataverse.s3.amazonaws.com" would be more appropriate for Harvard Dataverse.

[2018-10-02 15:43] qqmyers commented on #5003
@landreev - glad I could help by suggesting the wrong fix, when I was involved in investigating the double counting to start with. :-) Thanks for documenting the correct fix - it looks good.

[2018-10-02 15:44] pdurbin commented on #5092
At standup we discussed the fact that `md5 d511.zip` failed with "Killed: 9" and @landreev suggested running `zipinfo` on the file so I did. I'm seeing "zipfile corrupt" errors:

[code]

[2018-10-02 16:01] kcondon commented on #4261
Sending back, here's your requested "Punch List" @pdurbin, mostly what we had discussed last evening:

1. Need logging to indicate something is running for admins when job takes longer than a few minutes, eg. start, finish, object counts. Other ideas welcome.

2. Running endpoint on copy of prod finished in around an hour, shows a sitemap page but not sure it actually finished correctly since the

[2018-10-02 17:53] pdurbin commented on #5092
The "zipfile corrupt" error is troubling but at least the size in bytes matches between what I downloaded on my laptop and what the S3 console is showing. Both say it is 275292856244 bytes:

[code]

![screen shot 2018-10-02 at 1 50 53 pm](https://user-images.githubusercontent.com/21006/46366971-6fc71e00-c64a-11e8-92ab-b192ef5bfaf9.png)

[2018-10-02 18:47] scolapasta commented on #5095
I think if we don't want to inherit all roll assignments (and I get the idea of not wanting the Dataset Creators; but I could also see wanting the same "Curators"), I think doing a list of roles (with *) would make most sense.
Then also would inform a potential future UI (if we do decide being able to select this for individual dataverses)  where you could choose what roles to copy down.

[2018-10-02 18:48] scolapasta commented on #5095
I didn't do the intial code review, but I looked over it quickly now - is there any particular reason (now that you do copy all groups), to have the check for Authenticated Users  and Groups and not just do them all?

[2018-10-02 18:53] qqmyers commented on #5095
@scolapasta - OK - I'll look into making the setting a list of roles or '*' for all. I'll also check the loops but the one issue I know of is that there's a failure if you try to save a role that already exists so at least in the API call, where some children may already have users/groups in roles, you need to only add new ones. The command may only need to avoid adding a role for the current user

[2018-10-02 18:55] scolapasta commented on #5095
One other thing; there seems to be a lot of logic in the API call. Can some of the code from that and the command be gerneralized and put in one place? Regardless, can the logic in the API code to a more "business logic" location? I get that we don't have a UI for this right now, but if we did, we'd definitely want to share the code then.

[2018-10-02 20:39] pdurbin commented on #4261
@kcondon after we chatted a few minutes ago I added the final thing we agreed would be nice: feedback from the curl command if the staged file exists. Over to you. Thanks.

[2018-10-02 20:49] pameyer commented on #5092
Short version - it looks to me like this is behaving as expected.

``
$ wget -c https://s3.amazonaws.com/5092/d511.zip
--2018-10-02 13:06:33--  https://s3.amazonaws.com/5092/d511.zip
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.129.5
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.129.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 275292856244 (256G

[2018-10-02 21:00] qqmyers commented on #5030
@pdurbin - I think this is ready to go.

FWIW/future reference, I looked into whether one could reuse the full-text field from a prior file (since the file content never changes) and think it should be possible but I see a couple issues that looked bigger than I can handle right now:
* the existing file documents are deleted in the complex logic of the IndexServiceBean.indexDataset method before t

[2018-10-02 21:45] scolapasta commented on #4980
We met at tech hours today and decided as a first step (and the scope of this issue) that we will extract the db scripts that get created when you deploy, then write a new script that takes in two parameters, startVersion and endVersion, and it will generate a script that will do all the db changes required, including:
- creating the tables that would have been created by deployment of each versio

[2018-10-02 22:29] matthew-a-dunlap opened #5129 "builtinuser login broken when using email address"
There is an issue with builtinusers on the login page using their email address. Usernames work fine. Password reset works but if you log out after reset logs you in and try to log in with email again, its still can't find you.

This is due to the removal of information from builinuser. A check needs to be added back to the login flow to check for email as that was lost in transition.

[2018-10-03 00:00] mdmADA opened #5131 "Feature Request: Add more ways to sort from collections page and allow setting default sort method"
At ADA, we are creating brand new datasets on our Dataverse installation as required. But then we are also adding our legacy datasets at the same time. So sorting by "newest" (the current default) isn't ideal since the legacy datasets will appear first.

We would like to see more ways to sort:
- sort by dataset collection date
- sort by most popular (most downloads)
- maybe a few others

And the a

[2018-10-03 00:37] pdurbin commented on #5131
@mdmADA thanks for opening this issue. Please see some related discussion at #3066

Here's where the sort logic lives: https://github.com/IQSS/dataverse/blob/v4.9.3/src/main/java/edu/harvard/iq/dataverse/search/SearchIncludeFragment.java#L237

[2018-10-03 00:50] pdurbin commented on #3066
Related: #5131

[2018-10-03 01:02] mdmADA commented on #5131
Thanks, Phil.

If I have time at some point, and the issue hasn't been addressed yet, I may look at the code myself and see what can be done and how much effort it would take.

M.

[2018-10-03 01:14] pdurbin commented on #5131
I told believe anyone is working on this issue. Our current efforts are toward #5053 which is about making a new custom homepage for Harvard Dataverse. More eyes on the code are always welcome! 😄

[2018-10-03 14:32] pameyer commented on #5129
Agree on the PR.  https://github.com/pameyer/dataverse/tree/exp-selenium0 might be something else to revisit / consider for the future.

[2018-10-03 15:19] TaniaSchlatter commented on #5053
There is a new mock up in the doc and descriptions of dynamic content including our development discussions, and discussions with library folks: https://docs.google.com/document/d/1AtvODFY8aNQSE9BleeQEf5GkFsDWrziUB-IX-1xA0Y8/edit

[2018-10-03 15:29] #5122 closed

[2018-10-03 15:29] scolapasta commented on #4842
With the entire status message now on screen, we want users to be able to dismiss this. If so, we need to store the fact that they dismissed in the session, so it doesn't just pop up when they navigate to another page. (unless there's some primefaces way to track this, but I don't know if they track that across the session automatically)

[2018-10-03 16:04] matthew-a-dunlap commented on #5129
For future clarity: there was api endpoint code created for exercising email logins via API, in part for testing purposes. That code could only be enabled through a temporary developer code change and was removed as part of #4565 . This code included a test that wasn't exercised but if it had been enabled it would have caught this issue.

To see at https://github.com/IQSS/dataverse/pull/4993/files

[2018-10-03 16:29] matthew-a-dunlap commented on #4980
Here are the raw notes from our tech hours discussion on this issue. Gustavo's summary has come out of this discussion:
- What breaks if we skip versions?
   - SQL updates
   - JPA updates between versions
      - Glassfish ddl (dml?) scripts
      - e.g. /usr/local/glassfish4/glassfish/domains/domain1/generated/ejb/dataverse-4.9.2/dataverse-4.9.2_VDCNet-ejbPU_createDDL.jdbc
      - it keeps the a

[2018-10-03 17:28] #3789 closed

[2018-10-03 17:34] pameyer commented on #5006
When I was looking into this, https://github.com/cdnjs/cdnjs seemed like a good resource for tracking down resources from vanished projects.

[2018-10-03 18:04] mheppler commented on #4842
Removed previous screenshot of the layout in order to update it here based on changes approved by @TaniaSchlatter. Layout is good and checked in, just need to work on the cookies for the dismissible functionality.

![screen shot 2018-10-03 at 2 02 18 pm](https://user-images.githubusercontent.com/687227/46429711-1f68c280-c715-11e8-8879-7e8bf23846bc.png)

[2018-10-03 18:34] djbrooke commented on #4371
Let's exclude File Download URL for now. It can follow on in a separate issue.

[2018-10-03 20:03] #5129 closed

[2018-10-03 20:06] pameyer opened #5132 "enumerate URLs dataverse replies to"
`web.xml`, `pretty-config.xml`  and `glassfish-web.xml` all have wildcards for URLs that dataverse listens on, and tries to reply to.  Having an enumerated list of valid URLs would be useful in a variety of cases (discoverability, testing, security, etc); with the tradeoff that this would require changing (adding to) these files when new URLs are developed.

[2018-10-03 20:45] sekmiller commented on #5013
The name and email address of the contributor who presses the "Submit for Review" button is added to the email and notifications received by those having Publish Dataset permission on the dataset.

Email excerpt:

Don't forget to publish it or send it back to the contributor (Joe Contributor at joe_con@domain.org)!

[2018-10-03 22:03] pdurbin commented on #4714
I see that @jonc1438 already weighted in on https://github.com/whole-tale/whole-tale/issues/43 but heads up to @aculich and others interested in reproducible research publishing and interoperability that @whole-tale is hosting a meeting on Wednesday October 24th, organized by @craig-willis (thanks!). Details are in that issue.

[2018-10-03 23:19] pdurbin commented on #5097
I'm just noting that over at https://github.com/whole-tale/whole-tale/issues/43 there's a plan to meet on October 24th.

[2018-10-04 01:01] djbrooke commented on #5104
Thanks @tcoupin. @pameyer helped me get this branch running and I’ve attached a screenshot of the proposed change here.

I believe I understand the need that you have, but we’d need to do some user research about the best approach from a UI/UX perspective and to accommodate the largest number of community workflows. From a development and QA time standpoint, PIDs are pretty central to the applicat

[2018-10-04 01:34] pdurbin commented on #565
I'd like to point out that datasets such as https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/GSQG1K already have badges and above them it says, "The associated article has been awarded Open Materials and Open Data Badges. Learn more about the Open Practice Badges from the Center for Open Science."

Here's a screenshot:

<img width="1563" alt="screen shot 2018-10-03 at 9 30

[2018-10-04 01:39] pdurbin commented on #639
When we tried to estimate #4529 about downloading all file based on a persistent ID (DOI or Handle) we decided against implementing that feature due to concerns over performance problems: https://github.com/IQSS/dataverse/issues/4529#issuecomment-385772705

This issue represents even more load on the server so by the same logic we wouldn't implement this either.

[2018-10-04 01:48] pameyer opened #5136 "(some) thumbnails display as "question mark" under some conditions"
Took a quick look at [a dataset](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/GSQG1K) @pdurbin mentioned in #565, and noticed that the dataset icon (and icon for a PDF in the dataset) were `?` instead of what might be supposed to be a thumbnail image of the PDF.

<img width="1003" alt="screen shot 2018-10-03 at 9 44 26 pm" src="https://user-images.githubusercontent.com/

[2018-10-04 01:57] pdurbin commented on #5029
Today during sprint planning @jggautier explained his hunch on how switching from `author` to `creator` might help. This was while discussing #4371.

[2018-10-04 02:31] pdurbin commented on #3939
Related: #4339

[2018-10-04 02:40] pdurbin commented on #4769
We discussed #4430 today in sprint planning and it's related in some ways. It's somewhat difficult to support users with auth problems, especially when they try logging in with more than one method.

[2018-10-04 02:48] pdurbin commented on #4423
@mheppler heads up that I just tried tabbing through "Subject" on https://demo.dataverse.org running Dataverse 4.9.4 and this accessibility issue still seems to exist (I'm using Firefox) even though we upgraded to Primefaces 6.2 in Dataverse 4.9.2. Bummer. Others are encouraged to re-test as well.

[2018-10-04 02:50] pdurbin commented on #4902
@lmaylein are you still having these problems? I hope not!

[2018-10-04 02:53] pdurbin commented on #3632
Related: #5104

[2018-10-04 02:58] pdurbin commented on #4774
@bricas any thoughts on "definition of done" for this issue?

[2018-10-04 03:10] pdurbin commented on #3513
I just wanted to mention that we revisited "download all" for the dataset level in #4000 which was included in Dataverse 4.9.3.

Here's how the example above at http://dx.doi.org/10.7910/DVN/29604 looks now:

## dataset level

<img width="219" alt="screen shot 2018-10-03 at 11 08 27 pm" src="https://user-images.githubusercontent.com/21006/46450820-4fd64e00-c761-11e8-9d47-106f69cd1711.png">

## fil

[2018-10-04 06:52] tcoupin commented on #5104
I can split #5105:
- fix publish (CreateNewDatasetCommand.java, PublishDatasetCommand.java, FinalizeDatasetPublicationCommand.java)
- UI change (xhtml+DatasetPage.java+Bundles)
?

For UI, do you want a field similar to pid parameter of import route (https://github.com/IQSS/dataverse/blob/ddc41f58c1cc21449eb5d1f9a69a13be7915ca8d/doc/sphinx-guides/source/api/native-api.rst#import-a-dataset-into-a-da

[2018-10-04 07:29] philippconzett commented on #5086
I'm not sure whether I understand your question, @jggautier. But DataCite now displays all our files as datasets in the search engine; cf. [](https://search.datacite.org/works?query=dataverseno). This search results in 1 041 datasets, but we only have 178 datasets. So the rest are files.

[2018-10-04 13:09] andrewSC commented on #4442
I just ended up manually removing the control characters. Haven't had any issues since!!

[2018-10-04 13:29] pdurbin commented on #4442
@andrewSC great. Do you think it's possible to replicate this bug on newly created datasets? Since you're personally all set, do you think we should consider closing this issue? With 823 open issues I try to keep an eye on what's open and still relevant.

[2018-10-04 14:28] pameyer commented on #5136
Initially observed on safari; not reproducible on firefox, did not check chrome/chromium/edge/ie.  Would suspect TIF formated of the data URI if a reload hadn't fixed it (and code check showed only `data:image/png`); not planning on investigating further at the moment.

[2018-10-04 14:33] qqmyers commented on #4980
FWIW: Given that the normal instructions have you delete the generated dir, I'm not sure that the actual deployment of the intermediate wars does anything. For TDL, I've been successful in basically applying the non-war instructions for each version sequentially and then deploying the final war.I did that for 4.8.4-4.8.6 and then for 4.8.6-4.9.3 (just on the dev/test machine so far.) Doing things

[2018-10-04 14:40] mheppler commented on #565
Those are images and links that were manually added by the depositor to the Notes metadata field. This issue is requesting built in functionality provided by the system as opposed to something external and manual.

Vote to remove the Vote to Close label.

[2018-10-04 14:46] pdurbin commented on #565
Removed! Thanks for helping me understand. I see what you mean about how the "Notes" field is being used or abused to have badges in it. Suboptimal but a clever workaround. 😄

[2018-10-04 14:53] Mahsanas opened #5137 ""https://hdl.handle.net" is hard coded!"
Hi,

We are using handles for our dataverse instance and would like to use our local handle server instead of the Global Handle Registry (GHR). But the "https://hdl.handle.net" is hard coded at:
https://github.com/IQSS/dataverse/blob/v4.9.4/src/main/java/edu/harvard/iq/dataverse/HandlenetServiceBean.java#L396

Is it possible to make it configurable so we can use our local handle server instead of

[2018-10-04 15:01] pdurbin commented on #4980
@qqmyers good examples. Thanks for your input. You seem to grok the situation quite well. The SQL update scripts we've been writing for years never have "add table" statements in them. We figure the war file will add the tables (with warnings, unfortunately, which is what #4920 is about). So one of the main deliverables of this issue is capturing the "createDDL" file mentioned above as part of our

[2018-10-04 15:05] pdurbin commented on #5137
@Mahsanas with software, anything is possible. 😄

Are you interested in making a pull request? I would suggest adding a new JVM option similar to the ones described at http://guides.dataverse.org/en/4.9.4/installation/config.html#configuring-dataverse-for-handles . Perhaps it could be called "dataverse.handlenet.baseurlstring" to match "doi.baseurlstring"? In the code the variable is called "provi

[2018-10-04 16:06] adam3smith commented on #4894
I was just looking at this because Dataverse links on Twitter are sad. I think adding Open Graph tags for Twitter and Facebook would be great.

I don't have answers or even opinions on most of the other questions except that, if there is no description given e.g. for a file, the metadata for description should be empty. I think it's bad practice to put some default text in the description instead.

[2018-10-04 16:46] pdurbin commented on #594
Related: #3259 and #916

[2018-10-04 16:51] pdurbin commented on #4894
@adam3smith can you please post a screenshot of a sad Dataverse link on Twitter? https://twitter.com/BrianAmos/status/1034081533227937793 doesn't look bad but maybe they added an image separately? Here's a screenshot:

![screen shot 2018-10-04 at 12 49 40 pm](https://user-images.githubusercontent.com/21006/46489697-17bc2300-c7d4-11e8-9b1a-aee20c663443.png)

[2018-10-04 17:00] pdurbin commented on #4430
Nice discussion on this issue during sprint planning yesterday. One thing I meant to say is that Shibboleth ("institutional account) users will see (for example) "Leaving your institution? Please contact Harvard Dataverse Support for assistance." It looks like this:

![screen shot 2018-10-04 at 12 53 51 pm](https://user-images.githubusercontent.com/21006/46490003-d1b38f00-c7d4-11e8-8f1a-2a2d7e9fee

[2018-10-04 17:10] adam3smith commented on #4894
yeah, that looks like an image to me. Tweet: https://twitter.com/qdrepository/status/1046796917013975040 (contrast with the CUP article below).

Screenshot:
![image](https://user-images.githubusercontent.com/128986/46490762-daa56000-c7d6-11e8-9ff0-c8802b7b9d6d.png)

[2018-10-04 17:55] pdurbin commented on #4894
@adam3smith thanks. Good examples.

You and @qqmyers might want to look at pull request #4879 to see how small the fix was for #4468 and I wonder if a fix for this issue would be similarly small.

@lmaylein made that excellent contribution by the way. Thanks again!

[2018-10-04 18:33] pdurbin commented on #4816
@qqmyers ah, if so, we should have added a "connect to" for this issue in pull request #4971, which was merged and released in Dataverse 4.9.3. But if it's done are you saying it's ready to go to QA? If so, please add a "how to test" comment if you think it would be helpful.

[2018-10-04 19:13] kcondon commented on #4261
@pdurbin
Found a couple things:
1. Path to sitemap.xml is listed as two different places in multiple web server (logos) versus sitemap  instructions (sitemap). It appears the sitemap instructions are correct based on the log messages.
2. When no initial sitemap exists, endpoint fails in server log:
[code]

[2018-10-04 19:43] qqmyers commented on #5095
@scolapasta - PR is updated to now support inheriting assignments for any roles listed by alias in a comma-separated list or '*' for all, and to handle all groups rather than just explicit ones, and to have the update logic in DataverseServiceBean rather than the Admin api class. I didn't see a good way to combine the logic in the CreateDataverseCommand and for the api call, so I left the command

[2018-10-04 19:51] donsizemore opened #5138 "migrate endpoint throws a 404"
Verified by Phil, and seemingly introduced at some point after 4.8.6:

`$ curl http://localhost:8080/api/batch/migrate` returns

{"status":"ERROR","code":404,"message":"'/api/v1/batch/migrate' endpoint does not exist on this server.

If this was intentional, please disregard and close. The 404 seemed to take Phil by surprise, though, so I'm dutifully opening an issue.

[2018-10-04 20:06] pdurbin commented on #5138
http://irclog.iq.harvard.edu/dataverse/2018-10-04#i_74736 has some details the important chatter from my perspective:

As of b8090f0 that BatchImportIT test was working (Dataverse 4.9) but this test isn't in the list of tests on phoenix because it doesn't work over the network. This is because that "migrate" code operates on local files on disk. So I don't know when it "migrate" stopped working.

[2018-10-04 20:08] pdurbin commented on #3205
According to @donsizemore at http://irclog.iq.harvard.edu/dataverse/2018-10-04#i_74773 thu-mai sez "yes, data explorer does give us what i wanted". Hooray! So everyone who wants this should install Data Explorer, linked from http://guides.dataverse.org/en/4.9.4/installation/external-tools.html

[2018-10-04 20:08] #3205 closed

[2018-10-04 20:27] pdurbin commented on #5102
Pull request #5139 looks good (adds reindexing of datasets, as we expected we needed). Moved to QA.

[2018-10-04 20:43] djbrooke commented on #4938
I moved this over to QA because I'm happy with the results shown to me on a test server. @mheppler is happy with it as well.

@matthew-a-dunlap - if there's anything helpful that you can add in here for QA, please do so. Thanks for your work on this issue.

[2018-10-04 20:46] pdurbin commented on #4897
@thaorell the support address for DataCite is support@datacite.org which you can find with more context at http://guides.dataverse.org/en/4.9.4/installation/config.html#persistent-identifiers-and-publishing-datasets

[2018-10-04 20:56] #4938 closed

[2018-10-04 21:18] #5125 closed

[2018-10-04 21:32] #5055 closed

[2018-10-04 21:45] matthew-a-dunlap commented on #5053
This issue is likely blocked by https://github.com/IQSS/dataverse/issues/3616 , in which the image urls provided by our API are unusable. I say "likely" because I have some skepticism around using the search api in general for this page. I created a prototype javascript block for testing the "most recent datasets by category" functionality, and it seems pretty slow, but there are a number of trick

[2018-10-04 22:16] donsizemore commented on #5138
update: I've found that the migrate endpoint answered on a 4.9.1 deployment, but threw a 404 in 4.9.2. 109 closed issues in that milestone; i'll try to poke through them this evening or tomorrow.

[2018-10-04 23:11] bricas commented on #4774
@pdurbin No idea why it happened and I haven't seen it since. Closing!

[2018-10-04 23:11] #4774 closed

[2018-10-05 01:28] pdurbin commented on #2992
@chaudj I believe we chatted at the most recent community meeting so I have a little more context now. One new thing I wanted to point out is that you can get overall downloads from https://dataverse.harvard.edu/api/info/metrics/downloads/toMonth (for example) as documented at http://guides.dataverse.org/en/4.9.4/api/metrics.html

[2018-10-05 09:54] lmaylein opened #5140 "Database upgrade via deployment?"
Is it possible that some of the database updates are done via deployment of the application and not via database-upgrade script?

We want to upgrade from 4.8.6 to 4.9.4. Do we really have to deploy every single version between?
If not, dataverse misses for example the relation alternativepersistentidentifier even if we run the database-upgrade scripts for all versions between 4.8.6 and 4.9.4.

[2018-10-05 10:13] lmaylein opened #5141 "DatasetPage.jsonLd java.lang.NullPointerException"
After upgrading from 4.8.6 to 4.9.4 we get the following error for each dataset:

[code]

[2018-10-05 10:56] lmaylein opened #5142 "Released and unchanged datasets appear as new drafts when upgrading from 4.8.6 to 4.9.4"
When upgrading form 4.8.6 to 4.9.4 the number of the datasets in our instance is increased.
There are additional draft versions for already publicated (and unchanged) datasets.

[2018-10-05 11:00] pdurbin commented on #5141
@lmaylein hi https://github.com/IQSS/dataverse/blob/v4.9.4/src/main/java/edu/harvard/iq/dataverse/export/ExportService.java#L282 seems to indicate that a temp file may not have been created. Is there any more to the stack trace?

[2018-10-05 11:02] pdurbin commented on #5140
@lmaylein it's a good idea but I'm not sure how technically feasible it is. Can you please take a look at #4980 and leave a comment there with your thoughts?

[2018-10-05 11:04] pdurbin commented on #5142
@lmaylein that doesn't sound good. Are you basing this on what you're seeing in the database or Solr?

[2018-10-05 11:05] lmaylein commented on #5141
Yes, there is more (see above).

Ok. I've tested the migration without the files mounted (but the temp directory is available).

As part of the upgrade procedure we change the virtual machine. I could not switch
the file partition (mounted via NFS) unless #5142 is solved.

[code]

[2018-10-05 11:14] lmaylein commented on #5142
First: It was only a testmigration :-)
Here are some Screenshots:

4.8.6:

![dataset_count_4 8 6](https://user-images.githubusercontent.com/7468155/46532171-1fe19480-c8a0-11e8-9484-c11b4f8cccdf.png)

4.9.4:

![dataset_count_4 9 4](https://user-images.githubusercontent.com/7468155/46532199-2c65ed00-c8a0-11e8-9366-733c2d275b38.png)

[2018-10-05 11:15] lmaylein commented on #5142
Some of the additinal draft versions.
The description "dummy" was entered, when the datasets were created (several weeks ago).

![draft_datasets](https://user-images.githubusercontent.com/7468155/46532360-b746e780-c8a0-11e8-891e-10f939145d94.png)

[2018-10-05 11:30] donsizemore commented on #5140
@lmaylein If this were Wordpress (or likely Drupal, my memory is hazy) then yes, the SQL upgrade scripts would handle this. However, Dataverse has so far allowed the Glassfish warfile deployment process to create any tables or additional columns, and relied on the SQL upgrade scripts to alter or remove existing columns.

While in theory you could switch between several point releases which require

[2018-10-05 11:33] poikilotherm commented on #5140
Hey guys, do I get the right impression that you are suffering from migration hell?

Any chance you might consider using tooling like [Flyway](https://flywaydb.org/) or [Liquibase](https://www.liquibase.org/) to make life easier?

[2018-10-05 11:34] poikilotherm commented on #4980
Hey guys, do I get the right impression that you are suffering from migration hell?

Any chance you might consider using tooling like [Flyway](https://flywaydb.org/) or [Liquibase](https://www.liquibase.org/) to make life easier?

[2018-10-05 11:53] pdurbin commented on #5142
Phew. I'm already recovering nicely from my heart attack.

Could it be that the draft datasets have been around for a long time but never indexed? Perhaps you ran an "index all" as part of your migration process? I long time ago I wrote some code to "diff" what's in Solr vs the database but it's buggy and we haven't documented it. You can find references to it in #4205.

[2018-10-05 11:59] poikilotherm commented on #4980
I have been working with Django migrations and used MongoDB related Java migration stuff a bit.

Currently cannot call myself an expert in this field, but I am aware that using this kind of tooling is state of the art and bullet-proof industry grade stuff.

I can just encourage every dev to read up these notes by Scott Allen: https://odetocode.com/blogs/scott/archive/2008/01/30/three-rules-for-dat

[2018-10-05 12:04] pdurbin commented on #5141
Ok, the error makes sense, then. Dataverse is trying to write the "export" formats to the directory where files for the dataset are stored. For example: /usr/local/glassfish4/glassfish/domains/domain1/files/10.5072/FK2/HCPTZG/export_schema.org.cached

[2018-10-05 12:07] lmaylein commented on #5142
I've reindexed our 4.8.6 (productive) dataverse now. The number number of dataset is the same as before. The nine additional draft versions don't appear in 4.8.6.

If I copy the dataset links generated by 4.9.4 to our official/productive domain
(e.g. https://heidata.uni-heidelberg.de/dataset.xhtml?persistentId=doi:10.11588/data/VGWRB7&version=DRAFT) I get:

I'll check your diff script.

[2018-10-05 12:14] lmaylein commented on #5141
Yes, you are right. If if fake the corresponding directory, everything is okay.
Thanks.

[2018-10-05 12:14] #5141 closed

[2018-10-05 12:19] lmaylein commented on #5142
Ok. After fixing the problem described in #5141 ...

The URL
`https://<new_ip_for_dataverse_4.9.4>/dataset.xhtml?persistentId=doi:10.11588/data/9UXUB0&version=DRAFT`

shows the same result, when clicking on the "ghost draft":

[2018-10-05 12:19] pameyer commented on #4980
`I brought up Flyway at tech hours on Tuesday (and I was looking briefly again at the Liquibase website) but the idea was dismissed and I can't remember exactly why.`
@pdurbin because I thought I remembered that the open source version of Flyway meant you were locked into whatever the most recently released postgres version was.

[2018-10-05 12:29] kcondon commented on #4430
@pdurbin
I know the incremental approach above would require little code and is a good first step.

To help with the next step, I was thinking more about direct conversion I am not sure where the complexity lies -there are 2 tables, the account types are exactly the same, barring the default info, which is always overwritten when logging in via shib, I think the email and eppn are the only unique

[2018-10-05 12:42] pdurbin commented on #5140
Slight correction. When we add a column to an existing table we have to add a line like `ALTER TABLE externaltool ADD COLUMN type` or whatever to our SQL update scripts.

Since #4980 is in the current sprint (see https://waffle.io/IQSS/dataverse ), it would be best to take the conversation there.

[2018-10-05 12:46] poikilotherm commented on #4980
@pameyer what do you mean by locked in? You are locked into Postgres 9.6 anyway right now, correct?

If this dependency was changed to Postgres 10 or 11, this would mean an upgrade outside of Dataverse anyway either via dump/restore or `pg_upgrade`...?

About Flyway + Postgres compatibility: https://flywaydb.org/documentation/database/postgresql
There seems to be support for versions I would call

[2018-10-05 12:47] lmaylein commented on #5140
Ok. Thanks.

[2018-10-05 12:47] #5140 closed

[2018-10-05 12:58] rmo-cdsp commented on #4593
@pdurbin Just tested my thing with 123 ddi files from our data servers. 101 could be properly imported, 22 still has problems. I have 3 problems:
- Countries string not part of the controlled vocabulary (France is ok, but not "FRANCE", not "European Union", etc). Gonna check if it is a problem on our datas as ddi or else. I'll try to do an error message for this side.
- Multiple depositors : it se

[2018-10-05 13:41] pdurbin commented on #4980
Interesting. Here's a screenshot from https://flywaydb.org/documentation/database/postgresql (thanks for the link):

![screen shot 2018-10-05 at 9 38 42 am](https://user-images.githubusercontent.com/21006/46538669-8d7ec800-c882-11e8-949b-2926a122086c.png)

When you click "download/pricing" at https://flywaydb.org/download they call this feature of Enterprise Edition "Older database versions compat

[2018-10-05 13:44] shlake commented on #4980
Not specifying how this is done, but in favor of easier upgrading to the most recent version without having to step through each individual release.

[2018-10-05 13:44] poikilotherm commented on #4259
@pdurbin An update on this: I'm having a hard time getting the `MimetypeFilesTypeMap` working for the `FileUtil` class... Despite adding the dependency, this is constantly rejecting to work :disappointed:

(Also trying in a simple example project works flawless).

Will continue on this next week.

[2018-10-05 13:47] pdurbin commented on #4259
@poikilotherm thanks, I really appreciate the legwork on this. We don't want to be stuck on Java 8 forever.

[2018-10-05 14:42] jggautier commented on #5086
Hi @philippconzett. Did you mean this question?: "Are dataset and file metadata records already sent to EZID/DataCite being updated?"

I referenced this github issue in that issue (#5060), which is about investigating if EZID and DataCite are getting any new metadata that Dataverse sends (as Dataverse changes things like the resourceType values for files) and making sure that the existing metadata

[2018-10-05 14:45] sekmiller commented on #4610
With my latest check in you can delete a file in the Edit Metadata workflow. IF the list of files is empty the buttons will not revert to "Done" because you must press "Save Changes" complete the delete. Or "Cancel" if you change your mind. Again.

[2018-10-05 15:02] donsizemore opened #5143 "augment solr resource documentation"
I want to tweak formatting and augment the limits.conf example in the solr install section. Pull request forthcoming.

[2018-10-05 15:40] jggautier opened #5144 "Resend metadata to PID providers when metadata schema used to register PIDs is modified"
During discussion of Github issue https://github.com/IQSS/dataverse/issues/5060, the team agreed to make a separate issue for resending metadata -- which Dataverse had already sent when registering persistent IDs for published datasets and files -- whenever Dataverse changes the metadata schema it uses to register those PIDs.

Currently (as of Dataverse 4.9.4), Dataverse should be sending new meta

[2018-10-05 15:41] #4856 closed

[2018-10-05 15:59] philippconzett commented on #5086
Hi @jggautier, sorry for the confusion, but I think the display behavior in DataCite Fabrica and in DataCite Search are both based on the Resource type. But I'm not sure whether there is a Resource type = File (or Dataset File) in DataCite. I guess other data repository applications also are interested in getting their file DOIs viewed as files and not as datasets in both DataCite Fabrica and in D

[2018-10-05 16:23] #4610 closed

[2018-10-05 16:27] pameyer opened #5145 "expand logging for draft edits"
Short version - change log for draft datasets could use some additional information.

Longer version - `UpdateDatasetVersionCommand` (and possibly `CreateDatasetVersionCommand`) provide information about which dataset version was changed, and who changed it - but there doesn't appear to be accessible information about what was changed.  Not sure if it makes more sense to add this to the action log

[2018-10-05 16:47] jggautier commented on #5029
I [asked for clarification](https://productforums.google.com/forum/#!topic/webmasters/Ix1PXcY9IHc) in the structured data section of Google's webmaster forum.

[2018-10-05 17:06] pdurbin commented on #2960
@pameyer good point about wget. I chronicled my experience with `wget --continue` at #5092 and it sounds like we're going to promote the use of non-browser tools like wget in #4949.

[2018-10-05 17:19] pdurbin commented on #5145
Related: #1002

[2018-10-05 17:51] pdurbin commented on #5143
I fixed up the formatting a bit in c1fc384 but the content of pull request #5146 looks good. Off to QA. Thanks, @donsizemore !

[2018-10-05 18:19] jggautier commented on #5086
I agree that in DataCite Search, the resource type is based on the controlled vocab you listed, and there's nothing like file. I like your earlier suggestion:

As long as we don't get too semantic with the word "file," since I imagine some people might ask "what about archived files, like zip files, or things in datasets that are collections of files?" Would you say the value is in being able to,

[2018-10-05 19:02] pameyer commented on #5145
@pdurbin Thanks - that is closely related (aka #1002 would eliminate the need for this).

[2018-10-05 19:12] pdurbin commented on #5030
Hi @qqmyers your pull request was extra work to code review because it included so many formatting changed that I can only assume were introduced whatever IDE you're using. It doesn't seem to like long lines, for example. I created a new branch and pull request at #5147 that is the same code as your pull request but that represents a smaller diff so it's easy to review now and in the future. Basic

[2018-10-05 19:27] pdurbin commented on #5030
@qqmyers no sweat. Since I was on the branch anyway I went ahead and deployed it to my laptop and it works! I uploaded a PDF that has the word "learning" in it...

![screen shot 2018-10-05 at 3 27 12 pm](https://user-images.githubusercontent.com/21006/46555972-26c5d280-c8b3-11e8-93b7-264fd7617beb.png)

... and I was able to find it by searching for "learning":

![screen shot 2018-10-05 at 3 26 02

[2018-10-05 19:33] pdurbin commented on #5030
Oh, there were no docs so I added some in 278f37e and noted that this (awesome) feature is off by default but we could switch the boolean and docs so that it's on by default. Or we could leave it alone and treat it as an experimental feature for now.

[2018-10-05 20:33] pdurbin commented on #5044
@qqmyers I moved this over to code review based on what you wrote at https://github.com/IQSS/dataverse/pull/5048#issuecomment-426732955 but if you don't mind I'm curious about what sort of workflows you're imagining. "As a curator, I want to..."

[2018-10-05 20:41] qqmyers commented on #5044
@pdurbin - this is part of the DPN submission of bagit bags #4706  - I needed to update the workflow mechanism itself to be able to get additional settings, for a post-publication workflow to be able to access the state of the dataset being published and further update it, etc.  As with the sha256/512 PR before, the changes here are used for/were motivated by DPN submission but are stand-alone tec

[2018-10-05 21:11] pdurbin commented on #5044
@qqmyers perfect. And #4706 has tons of detail, especially the wiki page your wrote, on what DPN submission is about. Thanks!

[2018-10-06 12:12] qqmyers commented on #5065
FWIW - Looks like S3IOAccess just reads the jvm option and fails if it is not set. If it is set, for file reads, the code does use the bucketname written in the file storage identifier.

[2018-10-06 12:33] qqmyers opened #5149 "'harmless' potential Dataset s3 storageidentifier variation between migrated and new content"
Perhaps a note rather than an issue?

When migrating file-system content to S3 for TDL (dev instance) I noticed a difference between the database and the update query in the [Migration to AWS: Cutover Steps](https://docs.google.com/document/d/1tZLhoK25kUFe_Frd92BuuJBW6F0pg2NTiwBbGKsenik/edit) @pudrbin pointed me to: the query adds the bucketname to the Dataset storageidentifiers, but the ones gene

[2018-10-06 13:02] philippconzett opened #5150 "Enable facet UI for Time Period Covered"
This issue may be related to #70.

Dataverse offers faceting for several date fields. However, faceting does not work for
Time Period Covered: timePeriodCoveredStart + timePeriodCoveredEnd (Citation Metadata)

It would be nice to make this field facetable just like this field in the Astronomy Metadata:
coverage.Temporal: coverage.Temporal.StartTime + coverage.Temporal.StopTime

Thanks!
Philipp

[2018-10-06 13:49] philippconzett commented on #4052
I'm not sure how far the implementation of the embargo feature has come, but I'd like to add some more thoughts about the definition of metadata about embargoed datasets.

According to the current version of the [DataCite Metadata Schema](https://schema.datacite.org/meta/kernel-4.1/) (4.1), the following applies for the DataCite metadata field PublicationYear:

@jggautier pointed out the following

[2018-10-06 16:08] philippconzett commented on #5086
Thanks, @jggautier, I have raised this issue in the DataCite Metadata forum; see this [posting](https://groups.google.com/d/msg/datacite-metadata/q76opsIqJFc/Lt6JK4WjBQAJ).

[2018-10-07 13:29] chaudj commented on #2992
Great! Thanks...

On Fri, 5 Oct 2018 at 09:28, Philip Durbin <notifications@github.com> wrote:

--
Regards,
Jacquie Muliro
Research Management Consultant

Tel: +254 721 252 532

[2018-10-07 16:07] mfenner commented on #5086
I suggest to distinguish between what can be done with the DataCite Metadata Schema now, and how the metadata schema could be updated in the future (the next schema release for the end of 2018 is basically finalized).

With the current schema resourceTypeGeneral `Dataset` is the best fit, and you can add granularity via resourceType (which is a free text field). I like `DataFile`, but would also c

[2018-10-08 10:40] chewsw commented on #5029
Hi Julian,

Thanks very much for following up on this. Changing the "author" property
to "creator" seems like a good idea. Let's see how Google will respond to
this!

On Sat, Oct 6, 2018 at 12:47 AM Julian Gautier <notifications@github.com>
wrote:

[2018-10-08 11:17] lmaylein commented on #5142
Additional information:

Affected are the last nine datasets which have been release (in 4.8.6).

[2018-10-08 11:54] poikilotherm commented on #4259
Alright, I think I found the reason why the MIME type detection based on `javax.activation.MimetypesFileTypeMap` is not working...

The `abdera-core` library used by SWORDv2 is depending on the `geronimo-activation_1.1_spec` as a compile time dependency, which is included in the final WAR.

As Java 11 does not have a `javax.activation` implementation onboard (has been removed from 11 as it is a Ja

[2018-10-08 11:56] poikilotherm commented on #4690
Hey @kcondon,
is there any chance this could be merged anytime soon?
Thx!

[2018-10-08 15:00] adam3smith commented on #4760
@djbrooke trying to follow the status changes on this ticket -- could you briefly say what the status is here?

[2018-10-09 09:06] chewsw commented on #3438
May I check if there are any updates on the missing email verification button? I've encountered cases where the email verification button do not appear even after the 24 hours deadline has passed.

[2018-10-09 11:35] pdurbin commented on #5149
@qqmyers thanks for the heads up. I was going to leave a comment on that doc linking back to here but I don't have permission so I'll try to remember to ask if we can move it to one of our normal shared folders.

[2018-10-09 11:45] pdurbin commented on #5150
@philippconzett hi, I just wanted to confirm that you aren't being affected by the bug in #4906 which was fixed in Dataverse 4.9.3.

[2018-10-09 11:50] pdurbin commented on #5086
@mfenner thanks for mentioning `DataDownload`, which seems like an emerging standard for providing the URLs to download individual files. Last week I wrote about it at https://github.com/whole-tale/whole-tale/issues/35#issuecomment-427411937 in the context of #4371.

[2018-10-09 11:52] pdurbin commented on #3438
@chewsw hi, no one is working on this bug. If someone out there in the community would like to work on it, I'm happy to point out where in the code to start looking.

[2018-10-09 11:57] pdurbin commented on #4760
@adam3smith hi, @djbrooke is on vacation but by looking at https://waffle.io/IQSS/dataverse I can see that it's under the "Ready" column (recently renamed from "Backlog" so we should also update the GitHub label, changing it from "Backlog" to "Ready") but it hasn't yet been estimated. That is to say, it hasn't yet been given a "size" in Waffle. We give issues a size/estimate during sprint planning

[2018-10-09 12:41] philippconzett commented on #5150
@pdurbin hi, I we have just upgraded to 4.9.4, and I have tested this again, but there is no facet _Time Period Covered_ popping up.

[2018-10-09 13:07] #4741 closed

[2018-10-09 13:14] adam3smith commented on #4760
Thanks -- that's actually how I (think I) understood the process, but then I would have expected the "ready for estimation" label to stay on the issue until it was estimated?  Or did you just retire that label?

[2018-10-09 13:14] kcondon commented on #4690
@poikilotherm  Sorry, I have been a bit backlogged. I'm working on this now.

[2018-10-09 13:16] lmaylein opened #5151 "Other author identifier schemes"
Is it possible to add further identifier schemes for authors?
For example:
 * VIAF (http://viaf.org/) or
 * GND (http://www.dnb.de/EN/Standardisierung/GND/gnd.html, mainly interesting for Germans, but widely used here (for example the German Wikipedia also uses the GND))

[2018-10-09 13:28] pdurbin commented on #4760
The "ready for estimation" label is new and still in use. The pattern so far has been to add "ready for estimation" and then assign it to someone who who explain the issue during sprint planning or backlog grooming so that we can estimate the effort (size in Waffle).

[2018-10-09 13:34] pdurbin commented on #5150
Thanks. I just took a quick look at scripts/api/data/metadatablocks/citation.tsv and "facetable" is already set to "true" so I'm not quite sure what's going on. Here's a screenshot:

![screen shot 2018-10-09 at 9 32 47 am](https://user-images.githubusercontent.com/21006/46672820-68ea5f00-cba6-11e8-9a04-f3dece3cc11c.png)

This would need some more investigation.

[2018-10-09 14:00] philippconzett commented on #5150
@pdurbin, hmm, I'm not sure, maybe enabling faceting of the field in row 62 helps?

[2018-10-09 14:02] pdurbin commented on #5150
@philippconzett I'm not sure if it would help or not. You are welcome to try it. 😄

[2018-10-09 14:11] philippconzett commented on #5150
@pdurbin I'll ask our system admin. In the meantime, could you please send me a screenshot of the configuration of the three fields for coverage.Temporal?

[2018-10-09 14:16] pdurbin commented on #5150
@philippconzett sure, here you go:

![screen shot 2018-10-09 at 10 14 19 am](https://user-images.githubusercontent.com/21006/46675303-1e6be100-cbac-11e8-8bf6-02e87e3eb2a8.png)

You can find these TSV files at https://github.com/IQSS/dataverse/tree/v4.9.4/scripts/api/data/metadatablocks and we recently documented how they work (#3168): http://guides.dataverse.org/en/4.9.4/admin/metadatacustomizatio

[2018-10-09 14:38] philippconzett commented on #4977
@pdurbin Thanks! I just noticed similar behavior in other date field, e.g. Time Period Covered:
![image](https://user-images.githubusercontent.com/21955790/46676862-acae8a00-cbe1-11e8-9f21-14812d70fd4a.png)

[2018-10-09 14:38] philippconzett commented on #5150
@pdurbin  Thanks! I just tested this again, but this time in our production repo, and it works:
![image](https://user-images.githubusercontent.com/21955790/46676542-095d7500-cbe1-11e8-9d66-e601769b007c.png)

I just see here the chronological sort issue popping up again. I commented this in #4977

[2018-10-09 14:39] pdurbin commented on #5150
@philippconzett great! So it's working? Do you want to close this issue?

[2018-10-09 14:43] philippconzett commented on #5150
Yes, please. Thanks!

[2018-10-09 14:43] #5150 closed

[2018-10-09 15:36] amberleahey opened #5152 "Archivematica Integration"
Placeholder for community dev tracking

Dataverse-Archivematica integration project information: https://wiki.archivematica.org/Dataverse

Basic functionality: Users can configure local Archivematica instance to connect to any Dataverse instance and make Data Access API calls to select and retrieve Dataverse files (data + metadata) for preservation processing + METS metadata + PREMIS metadata + AI

[2018-10-09 15:36] pameyer opened #5153 "Basic search yields no results from non-boosted fields"
in docker-aio

[code]

[2018-10-09 15:37] pameyer commented on #4812
I'm wondering of doing a local cron job that automatically creates issues might be another way of addressing this.

[2018-10-09 15:50] pdurbin commented on #5152
@amberleahey thanks for creating this issue and for linking to the various open issues! I moved this over to "Community Dev" and assigned it to you.

When you're ready to start promoting this integration, how do you feel about making a pull request to add Archivematica to this list of integrations in the Admin Guide? http://guides.dataverse.org/en/4.9.4/admin/integrations.html is the current list

[2018-10-09 15:53] amberleahey commented on #5152
will do! :)

[2018-10-09 16:10] amberleahey commented on #3604
Hi folks, @lubitchv and I are revisting where this frequency and statistical information actually gets generated in DV and it would be good to understand a bit more about why and how we can get this stored in the DDI XML upon upload / ingest in DV rather than relying on seperate calls to R / Two Ravens generated files...again just getting up to speed on this, seems like it would be helpful for bot

[2018-10-09 16:35] matthew-a-dunlap opened #5154 "Provenance Validator slowness & network dependency"
There are two notable issues with the Provenance validator:

1. The validator is loaded synchronously, causing the first load of the dataset page after deployment to take an extra ~8 seconds
2. When the validator loads the schema, it attempts to connect to the ID url in the schema for the additional information needed by the $ref tags https://json-schema.org/understanding-json-schema/structuring.h

[2018-10-09 16:49] pameyer commented on #5153
courtesy of @pdurbin , this is sounding like it's more of a configuration issues with docker-aio than a code or test issue.

[2018-10-09 17:29] kcondon opened #5155 "Docs: Review API and Options functionality not listed in main api or config sections to see whether should be added to reference-style list."
There are several places in the guides where api endpoints and jvm options are listed in topics but not in the configuration section or the api guides:

S3 jvm options
Shibboleth
Admin
Big Data
Other?

This ticket is to review what is there to see if this is intentional and whether it makes sense to consolidate into a reference section in addition to where the currently live.

[2018-10-09 18:08] #5143 closed

[2018-10-09 18:10] #4816 closed

[2018-10-09 19:18] pameyer commented on #5153
Initial troubleshooting suggests that this is an interaction of the DOI configuration in docker-aio and setupIT (more specifically, DOI configuration needs to happen in the middle of setupIT (after deployment, before `post`) because `post` is trying, and failing, to publish things.

Not fully clear on which change since 738b5fd1cbbffb28b4a4c56561a6902729d43bbd and edff192275df861739bc56f002adc9bf8

[2018-10-09 22:17] #5102 closed

[2018-10-10 06:55] lmaylein commented on #5151
If I get it right, I could change citation.tsv and load this file via API in our local dataverse installation.
Or would it be better to add these two identifier schemes to the offical distribution and make a pull request?

[2018-10-10 07:30] poikilotherm commented on #4690
Thanks for fixing the docs @pdurbin and thanks for merging @kcondon!

Glad this is in upstream now :tada:

[2018-10-10 10:54] pdurbin commented on #5151
@lmaylein a pull request would be better, I believe.

I wonder if @Venki18 is still interested in #3169.

[2018-10-10 10:58] pdurbin commented on #4690
@poikilotherm sure. @kcondon and I were talking about improvements we could make to the docs in the future but we didn't want to hold up merging just for docs. Thank you for your contribution!

[2018-10-10 11:10] poikilotherm commented on #4690
@pdurbin I just saw this issue is not assigned to a milestone... Should this be added to a 4.9.5 or 4.10 release?

[2018-10-10 11:39] pdurbin commented on #4690
@poikilotherm if I knew for sure we were planning to release 4.9.5 I would add it there but I don't what the next release will be or when. A number of 4.x releases are mentioned at https://dataverse.org/goals-roadmap-and-releases

[2018-10-10 13:27] poikilotherm commented on #5093
This could be a better approach than using multiple providers as we had planned first in #4833 and #5082. Private drafts seem to be a proper fit for our use case, even so they won't be resolvable until "registered". (Scientist could share a Dataverse installation URL instead for collaboration...)

Do you guys think this is a good topic for a community contribution?

[2018-10-10 13:36] poikilotherm commented on #5093
(That was a quick and comprehensive answer, @pdurbin :wink: )

[2018-10-10 13:40] pdurbin commented on #5093
@poikilotherm heh. Thanks for chatting at http://irclog.iq.harvard.edu/dataverse/2018-10-10

As I mentioned there @sekmiller and I talked about it and we don't think the refactoring he's working on for #5060 will conflict.

We are, of course, available to answer any questions.

Thanks for linking to https://support.datacite.org/docs/doi-states which explains the new feature, listing three states:

[2018-10-10 13:59] poikilotherm commented on #5093
To be more complete, I should mention that these states are [not usable via the XML based MDS API](https://support.datacite.org/docs/doi-states#section-doi-states-outside-of-fabrica), but via the [REST API](https://support.datacite.org/docs/api#section-creating-dois) and EZID API.

This could be a big blocker, because that means changing the whole code of `DOIDataCiteServiceBean` currently using t

[2018-10-10 15:53] donsizemore opened #5162 "can't publish using the EC2 script"
DataCite requires credentials to publish test DOIs. The dataverse-ansible role now sets the DataCite baseurl, username and password in domain.xml, and it would be nice for developers to be able to set this in ec2-create-instance.sh alongside the desired branch and repo.

These variables might be specified in a conf file such as `~/.dataverse/dataverserc` or `~/.dataverse/ec2.env` so that ec2-creat

[2018-10-10 15:58] pdurbin commented on #5162
@donsizemore thanks for creating this issue! As I mentioned at https://github.com/IQSS/dataverse-ansible/issues/29#issuecomment-428579810 I tested a new version of ec2-create-instance.sh and was able to publish but the task now is to avoid doing hacks I added such as hard coding passwords into the script like this:

DATAVERSE_DOI_USERNAME='REDACTED'

Instead, as you've described well, we need to s

[2018-10-10 16:02] pdurbin commented on #5093
@poikilotherm as promised, I mentioned this issue at standup. Thanks for linking to https://support.datacite.org/docs/doi-states#section-doi-states-outside-of-fabrica which gives details on your assertion that we can't use the old DataCite API for this:

![screen shot 2018-10-10 at 12 00 18 pm](https://user-images.githubusercontent.com/21006/46749674-3a42b600-cc84-11e8-8ee6-8e4da4a811c9.png)

The

[2018-10-10 16:44] matthew-a-dunlap commented on #5153
@pameyer it looks like its actually due to my update of the solrconfig, for some reason the boosting update is stopping results from coming through. I'm investigating currently.

[2018-10-10 17:05] matthew-a-dunlap commented on #5153
The boost configuration was using the old "text" catchall. Solr boost wasn't complaining about it but also didn't know what to do with it, so results that weren't one of the core boosted values were just getting no results. We didn't notice it earlier because until #4938 boosting was not actually enabled.

[2018-10-10 17:13] matthew-a-dunlap commented on #5153
For this issue we will need to redeploy the solrconfig. We also need to update the config on phoenix.

To test this issue, searching for matches on attributes outside the ones listed in the boost section of the solrconfig ("qf") should return results. For example searching a persistentId.

[2018-10-10 17:30] pameyer commented on #5153
@matthew-a-dunlap thanks for taking a look.  I'm surprised that a solrconfig change would affect docker-aio (where there was a failure) and phoenix (where there wasn't) differently though.

[2018-10-10 17:37] pdurbin commented on #5153
I'm starting to get slightly freaked out about how search is working these days.

Are we saying that if a field isn't boosted it can't be found by basic search? Let's use "Production Place" as an example of a field that isn't boosted. I enter "Boston" as the "Production Place":

<img width="1208" alt="screen shot 2018-10-10 at 1 30 19 pm" src="https://user-images.githubusercontent.com/21006/467547

[2018-10-10 17:39] matthew-a-dunlap commented on #5153
@pdurbin It returns it back to normal. It's broken in that instance because we needed to change the name of the boost catch-all field. Without it things were falling through the cracks.

[2018-10-10 17:41] pdurbin commented on #5153
@matthew-a-dunlap awesome. Great fix, then. I changed the title of this issue to "searching on non-boosted fields yields no results" to clarify what the issue is. Off to QA.

[2018-10-10 17:42] #5154 closed

[2018-10-10 17:50] matthew-a-dunlap commented on #5153
@pameyer The reason for the discrepancy between phoenix and docker is that phoenix does not have solr deployment automated in any way and is running off an old version of the solrconfig.xml

[2018-10-10 17:55] pameyer commented on #5153
@matthew-a-dunlap That makes sense - thanks.  Works for me in docker-aio on 5153-solr-search-fix-9e226002b.

[2018-10-10 18:30] #5013 closed

[2018-10-10 18:47] pameyer commented on #4371
Thanks to @jggautier I was able to track down some tools for validating schema.org JSON-LD.  https://github.com/jessedc/ajv-cli can be used from the command line to validate the JSON against a schema ; after using https://github.com/scrapinghub/extruct to retrieve the JSON-LD from the generated html/xhtml.

[2018-10-10 19:38] scolapasta commented on #5095
@qqmyers thanks for adding the ability to inherit any and all roles

I see what you're saying about the API / command. I didn't actually realize that the API call is a recursive down call. I had assumed it was taking just one dataverse and getting roles from its parent.

I wonder if adding such an API would be more useful. (as I'm sure where there are some cases where someone has created a dataver

[2018-10-10 21:15] landreev commented on #5115
@scolapasta The PR looks good; but it is implemented per your specifications above, and that includes:

"We'll want to focus on Datasets only first (moving Dataverses introduces mass indexing, similar to linked dataverses)."

I'm not sure if this is going to fully satisfy BARI. Looking at their emails (I tried to add you to the cc: there, but they may have left you off some followup messages), the

[2018-10-10 21:37] qqmyers commented on #5095
@scolapasta - Given that this is TDL supported and their use case was covered even prior to this update, I guess I'd like to avoid adding scope for now unless they think it's worth it.

FWIW - just thinking for a moment - for a general API, I think I might want either a way to take one role and propagate it down a tree, or just to be able to assign roles to one dataverse, leaving any recursion to

[2018-10-10 21:37] qqmyers commented on #5043
@kcondon - merged...

[2018-10-10 21:38] qqmyers commented on #5095
@kcondon - merged...

[2018-10-10 21:44] #5151 closed

[2018-10-10 21:57] landreev commented on #5115
What about Oscar's question above, about permissions? Does anyone have any comments/ideas?

As currently implemented, the sole permission we appear to require is to be able to publish the destination dataverse; which is kind of weird, if you think about it - does it really mean that I can steal *anyone's* dataset, and move it into my own dataverse? We should probably check for something on the dat

[2018-10-10 22:14] kcondon commented on #5043
@qqmyers Thanks. Have applied db update and tsv file. When I click on an existing dataset or try to publish a new one I see 500 errors and associated server log errors:

[2018-10-10T18:09:36.650-0400] [glassfish 4.1] [WARNING] [] [edu.harvard.iq.dataverse.util.BundleUtil] [tid: _ThreadID=53 _ThreadName=jk-connector(4)] [timeMillis: 1539209376650] [levelValue: 900] [[
  Could not find key "dataset.

[2018-10-10 22:21] kcondon commented on #5043
@qqmyers I am out tomorrow but will be in Friday to continue testing your 3 prs.

[2018-10-10 22:34] #5153 closed

[2018-10-10 22:51] pdurbin commented on #3169
@Venki18 if you'd like to make a pull request, please see pull request #5161 as an example. It was for #5151 to add two identifiers for authors.

[2018-10-10 23:02] kcondon commented on #5030
@qqmeyers Still testing but noticed the file size limit for indexing does not seem to limit: :SolrMaxFileSizeForFullTextIndexing

When I set it to 1, it still indexes a small file of 3 words and 15 bytes. Not sure whether it has something to do with the small values involved or what.

I'll keep testing but I am out tomorrow. Will return on Friday to finish up.

[2018-10-10 23:05] pdurbin commented on #5162
@donsizemore thanks for working on this and pointing out https://github.com/IQSS/dataverse/compare/develop...OdumInstitute:5162_cant_publish_using_EC2_script in IRC! Looks like a great start. If you want, go ahead and make a pull request and I can mess with docs or whatever. Thanks! Thanks also for all the work on the dataverse-ansible side.

[2018-10-11 02:10] Venki18 commented on #3169
@pdurbin thank you. Will do it during the next upgrade of Dataverse.

[2018-10-11 10:14] pdurbin commented on #3169
@Venki18 great. If you need any help making the pull request, please just let us know.

[2018-10-11 12:53] rmo-cdsp opened #5164 "Allow multiple depositors for datasets"
Hello,

While handling an issue (#4593 ), I had troubles importing a ddi file having multiple depositors (<depositr>) in it because Dataverse allows only ONE depositor per dataset.
I talked with @pdurbin on dataverse irc chat about this (http://irclog.iq.harvard.edu/dataverse/2018-10-11#i_75331), and agreed that handling multiple depositors should be supported.

So, I opened this issue to deal wit

[2018-10-11 13:35] pdurbin commented on #5164
@rmo-cdsp thanks for opening this issue. My understand from @jggautier and from looking at http://www.ddialliance.org/Specification/DDI-Codebook/2.5/XMLSchema/field_level_documentation_files/schemas/codebook_xsd/schema-overview.html#xml_source (screenshot below) is that we should allow multiple depositors because of this line:

    <xs:element maxOccurs="unbounded" minOccurs="0" ref="depositr"/>

[2018-10-11 13:57] qqmyers opened #5165 "resource leaks in S3AccessIO calls"
If I'm following things correctly, a call to something like isAuxObjectCached() (e.g. from ImageThumbConverter.isThumbnailCached()) is calling open() (no parameters, defaults to read mode), which for the S3AccessIO class goes ahead and opens an InputStream for reading. Since this call and others like it never access the InputStream, it looks to me like that stream is left open. A quick scan shows

[2018-10-11 14:06] qqmyers commented on #5030
@kcondon - good catch. I hadn't realized that open() has to be called before the accessIO object size is available. Fixed (and tested locally) in the new commit. FWIW - this also lead me to identify what I think are resource leaks (see #5165 ).

[2018-10-11 14:12] pdurbin commented on #5115
@landreev good catch. I just pushed d85a7f6 to prevent dataset theft. 😄

[2018-10-11 14:19] pdurbin opened #5168 "Glassfish systemd file doesn't work as-is (glassfish.service)"
@otheus is reporting a problem with the Glassfish systemd file we provide at http://guides.dataverse.org/en/4.9.4/installation/prerequisites.html#launching-glassfish-on-system-boot and has made a pull request at #5167 (thanks!)

Here is the bug report from the pull request:

I'm moving this issue to "Code Review" at https://waffle.io/IQSS/dataverse

[2018-10-11 14:36] pdurbin commented on #5030
@kcondon the new commit @qqmyers is talking about ( 3aad24b ) having to do with :SolrMaxFileSizeForFullTextIndexing and open() is now in the branch you're testing (5030-full-text-indexing / pull request #5147).

[2018-10-11 14:45] qqmyers commented on #5043
@kcondon -added the missing Bundle properties.

[2018-10-11 15:27] donsizemore commented on #5168
looks good to me. i added the comment after the fact at the suggestion of more complete documentation.

[2018-10-11 17:38] jggautier commented on #5164
Hi @rmo-cdsp. From the irc chat, it sounded like you might look into why there are multiple depositors. Were you able to look into those use cases? I'm wondering if those depositors are always the people who physically uploaded and published the data.

Also, because Dataverse pre-populates the depositor field with the name of the account used to create the first dataset version, and continues to p

[2018-10-11 17:49] scolapasta commented on #5095
@qqmyers I agree with this statement: " Making an/using the current API to find child dataverses (can find all dvobjects now) and another to set role assignments (currently one at a time) on one dataverse as desired might be the most flexible...".

It seemed like that would have more utility going forward. We could wait to add this when / if we omve this funtionality to the dataverse (rather than

[2018-10-11 18:01] scolapasta commented on #5115
Moving this back to dev for 2 reasons:
1. The permissions used are not what is enumerated above*. If there's reason to do it differently, then please comment here the reasoning.

(*) if we're not doing dynamic permissions based on draft/versus published, the suggested permission for the Dataset was Publish Dataset

2. There is a way to do annotated permissions on multiple objects. See MoveDatavers

[2018-10-11 20:10] qqmyers opened #5171 "Can't reset file search"
When viewing a dataset the "Search this dataset..." Find capability in the files table can't be reset, i.e. once you search for 'test', deleting the word test doesn't reset the table so you can see all the files.

Checking the code - a simple issue - null values are rejected. Sending in " ", which is then stripped to be a zero length string works as a work-around, but I'll submit a PR to set the t

[2018-10-11 22:51] dconner3 commented on #3404
Hello. We are using the "Request Access" button on a restricted file, but the emails we receive does not tell us who the requester was.

It seems like this ticket (as well as two preceding tickets (https://github.com/IQSS/dataverse/issues/1476, https://github.com/IQSS/dataverse/issues/2552) were going to try an address this issue. Is there any update?

More on our use case:
Without being able to f

[2018-10-12 01:02] pdurbin commented on #3404
@dconner3 I agree with what @mheppler is saying but if the email doesn't show the email address of the person who clicked "Request Access", please open a new issue about this with a screenshot, if possible. I wanted to point out that even if the email doesn't say who clicked "Request Access" which, again, would be a bug), the email should link you to the dataset and from the web interface you shou

[2018-10-12 07:00] lmaylein commented on #5142
Can I further support the debugging of this problem?
Do you need any select results from the database?

In the solr result cited, both datasets (draft and release) have the same datasetVersionID. Maybe a problem with a join while indexing?

Which, however, speaks aginst it are the old metadata (description "Dummy") which are displayed in the search result for the drafts and which certainly reflect

[2018-10-12 07:51] lmaylein commented on #4902
blocked by #5142

[2018-10-12 07:58] poikilotherm commented on #5072
Mentioning #5165

[2018-10-12 09:12] tcoupin commented on #5104
So... split or not split ??

[2018-10-12 10:29] pdurbin commented on #5142
@lmaylein hi, all the detail here is much appreciated but can you please email support@dataverse.org to open a support ticket? If you've done this already, you can just mention the ticket number here. Thanks!

[2018-10-12 10:37] pdurbin commented on #5104
@tcoupin hi, if you could make a pull request that doesn't change the UI, that would probably be best. Does that help? When we change the UI, adding buttons or whatever, we pull in our design team whenever possible.

[2018-10-12 12:32] mheppler commented on #3404
Thanks for jumping in @pdurbin with some more detail. Since I seemed to overlook the email portion of this use case, I did some more digging in our issues and found this open issue.

- Permissions: Timestamp + user name in notifications/permissions pg for access requests #2855

@dconner3 if that issue covers the problem you are seeing, I would suggesting commenting there in order to track it's pro

[2018-10-12 12:37] donsizemore opened #5173 "installer: make datacite url and credentials config_variables"
c.f. https://github.com/IQSS/dataverse/blob/develop/scripts/installer/glassfish-setup.sh#L69 and https://github.com/IQSS/dataverse/blob/develop/scripts/installer/install#L57

would streamline the install process a bit. pull request forthcoming.

[2018-10-12 14:21] pdurbin commented on #5115
@scolapasta it was extremely helpful that you mentioned using MoveDataverseCommand as a model. I just pushed 47fb045 and I'm moving this back to code review.

[2018-10-12 14:28] otheus commented on #3148
I should note, I had this problem because the `setup-all.sh` script failed to set up the "root dataverse", and it failed to do so because `localhost` was being proxied (!). The proxy server had no idea what to do with `localhost` so all the REST-based setup requests failed.

[2018-10-12 14:35] pdurbin commented on #5115
Whoops, after I pushed I realized that a unit test was failing. I'm not sure the case I was testing before is still possible with the new way so I added an `@Ignore` in 7a91717.

[2018-10-12 14:38] rmo-cdsp commented on #5090
I still had the problem, even by using mvn package with LANG=C, and even by using the command @pdurbin gave.
But I found a way to "fix" the problem, by using some commands to deploy the war. But, be careful, because if you ever stop and start glassfish, the problem reappears ! I don't know why, but the same problem with the password validation persist (the error in the first post of the issue).
So

[2018-10-12 14:44] pameyer commented on #4528
@poikilotherm If maven solves the problem of broken dependency resolution, then it solves the problem :)

[2018-10-12 14:44] pdurbin commented on #4528
@poikilotherm it's more than you and @pameyer both seem to dislike Make so I thought you two should put your heads together. 😄

/me runs

[2018-10-12 14:45] pdurbin commented on #5090
@rmo-cdsp thanks for the update and the chatter in IRC.

@tcoupin are you still having this problem?

[2018-10-12 14:56] otheus opened #5175 "installer: fails to restart glassfish if it was previously started by systemd"
When running the `dvinstall/install` script on a system which is configured to use systemd to manage the glassfish service, the script will stop glassfish, but be unable to restart it.

[code]

Eventually, that command will TIMEOUT, and abort the installation process.

## Work-arounds

1.  In another terminal window, I restarted the glassfish process with `systemctl start glassfish`
2.  Prior to r

[2018-10-12 14:58] mheppler commented on #5053
Added the first version of the new dynamic custom homepage template to the docs at `source/_static/installation/files/var/www/dataverse/branding/custom-homepage-dynamic.html`.

This has most of the styling and messaging from the latest version of the mockups, and can be used to start bringing dynamic content from the API's that @matthew-a-dunlap is working on.

Happy to help get the javascript int

[2018-10-12 15:00] otheus opened #5176 "installer: still trying to populate the new db. with reference data, even in --skip_db_setup mode"
If `dvinstall/install` script fails before completion, re-running the script will stop and abort when trying to re-create the postgresql database.

To work-around this problem, one can stop glassfish, drop the database, and re-run from scratch, *or* one can use `--skip_db_setup`. This latter method will fail:

[code]

This is due to the fact that the `--skip_db_setup` option prevents the `$psql_ex

[2018-10-12 15:03] pdurbin commented on #2043
@mdmADA hi! I've retired the "dev efforts by the community" spreadsheet I mentioned above and I'm interested in some way of tracking the fact that you and @stevenmce have a solution in production, which Steve presented very well back in June. So I assigned this to you and dragged it to the new "Community Dev" column at https://waffle.io/IQSS/dataverse to remind us to do some housekeeping around th

[2018-10-12 15:04] otheus opened #5177 "installer: UNCONFIRMED: noninteractive stops on prompt with "asadmin login""
When using `default.config` and `-y` options, the installer will enter "noninteractive" mode, skipping all prompts. However, when initializing a login for glassfish, the user will still be prompted with the name of the admin user for glassfish.

          When/if asadmin askes you to Enter admin user name,
          it should be safe to hit return and accept the default
          which is admin

[2018-10-12 15:12] pdurbin commented on #5175
@otheus thanks for opening this issue and for all the chatter at http://irclog.iq.harvard.edu/dataverse/2018-10-12

I just wanted to point out that problem above is as of 4.9.4 with the installer coming from the dvinstall.zip for that release.

Related: #5176 #5177

[2018-10-12 15:12] pdurbin commented on #5176
@otheus thanks for opening this issue and for all the chatter at http://irclog.iq.harvard.edu/dataverse/2018-10-12

I just wanted to point out that problem above is as of 4.9.4 with the installer coming from the dvinstall.zip for that release.

Related: #5175 #5177

[2018-10-12 15:12] pdurbin commented on #5177
@otheus thanks for opening this issue and for all the chatter at http://irclog.iq.harvard.edu/dataverse/2018-10-12

I just wanted to point out that problem above is as of 4.9.4 with the installer coming from the dvinstall.zip for that release.

Related: #5175 #5176

[2018-10-12 15:14] rmo-cdsp commented on #5164
I work for the CDSP, which is an entity that doesn't produce that much data, but instead handle the datas of other entities. So, in that case (and from what I understood from my co-workers handling this), the depositor is the entity that gave us the datas. The owners, I may say. So, when the ddi files end up on the dataverse, the depositors of the datas are the entities that asked for it, not real

[2018-10-12 15:18] pameyer commented on #5177
Also worth pointing out that I can't reproduce this behavior on c95e53d805579b1f6718c7b8f49b6d4126db52ba (develop after 4.9.4) in case anyone's looking into it in more detail.

[2018-10-12 15:27] pdurbin commented on #5168
Looks fine to me too but I've barely used systemd. I wanted to point out that just now @otheus opened #5175 which is related.

[2018-10-12 16:12] pdurbin commented on #5175
I just noticed "start glassfish with asadmin so subsequent Ansible-initiated restarts succeed on RedHat/CentOS" at https://github.com/IQSS/dataverse-ansible/blob/064a8fa47b5f5283446191ab7bb1dbdbbbeef774/tasks/dataverse-glassfish.yml#L72 but I'm not sure if it's related or not. Sorry for the noise if it's unrelated! 😄

[2018-10-12 16:41] matthew-a-dunlap commented on #5053
The state of the homepage queries:
- We don't have an endpoint to get the past 30 days, right now we can just give the total up until a specified month. We could do so, but if the main goal is just to show activity, maybe we should switch this section to be "publications this month".
- Returning datasets via dataverse subjects has some issues:
	- The max returned results returned by solr for our a

[2018-10-12 17:07] tcoupin commented on #5090
I upgrade my test server to 4.9.4 with provided war on release page and still have this issue.
Running curl has no effect, expect the language selector but the login form was still in french.
Manually remove bundles except the english one fix the log in form:
`rm -r GLASSFISH_PATH/glassfish4/glassfish/domains/domain1/applications/dataverse-4.9.4/WEB-INF/classes/Bundle_*`

[2018-10-12 17:52] qqmyers opened #5178 "Edit Files - Dropdown (delete/restrict/unrestrict) menu hidden in new dataset form"
The Edit menu in the file table on the new dataset page appears to be being cut-off/not shown except for a few pixels. Visible on demo.dataverse.org. I've tracked it down to an overflow:hidden style being applied to the table as part of the .ui-datatable-scrollable-header class being applied, but I'm not sure what a good fix would be. The existing dataset page, which has a paginated table rather t

[2018-10-12 17:59] pdurbin commented on #5178
Sounds like a duplicate of #3835

Here's a screenshot I just took from the demo server:

![screen shot 2018-10-12 at 1 58 08 pm](https://user-images.githubusercontent.com/21006/46885742-e3c1ad00-ce26-11e8-82c8-9809428fdca2.png)

Or are you seeing something else, @qqmyers ? A screenshot might help.

[2018-10-12 18:00] mheppler commented on #5178
@qqmyers I had noticed this in a recent development branch and will look into it in more detail. This seems to be an oversight on my part, or possibly a result of bad merge.

[2018-10-12 18:10] qqmyers commented on #5178
@pdurbin - possibly the same bug, but different symptom. I see the cutoff in the Edit menu in the header - almost completely hidden in this snip.

![image](https://user-images.githubusercontent.com/6731983/46886309-84fd3300-ce28-11e8-9aa3-58bdcba00cb1.png)

[2018-10-12 18:42] qqmyers commented on #5178
@mheppler - Hmmm. I only see it on demo when I have enough files (I tried 4 and then 47 but guessing it's above the 25 per page limit). It is in the new dataset page only, which I think is using editFilesFragment.xhtml rather than filesFragment from #4656. The stylesheet being referenced shows as
https://demo.dataverse.org/javax.faces.resource/components.css.xhtml?ln=primefaces&v=6.2 in my browse.

[2018-10-12 18:50] mheppler commented on #5178
Ahhhh, sorry I missed that it was on the New Dataset pg form, @qqmyers. I was able to replicate this locally with 33 files and will investigate further.

<img width="1146" alt="screen shot 2018-10-12 at 2 49 14 pm" src="https://user-images.githubusercontent.com/687227/46888302-1622d880-ce2e-11e8-8c9c-8c8f5fd7f174.png">

[2018-10-12 20:18] mheppler commented on #5178
Removed the scroll functionality from the Edit Files dataTable, which was left behind after the changes to the dataset version of the dataTable in #4656. This was causing the Edit File dropdown menu in the table header to display behind table rows, because the CSS which would correct this was removed.

You would need 27 or more files in the dataTable to see this issue when editing/uploading files

[2018-10-12 20:44] mheppler opened #5181 "Submit For Review + Upload Files - Admin role can not upload files"
When comparing demo (4.9.4) and my local copy of the `develop` branch, it appears that a permissions bug has slipped into the Upload File pg, as part of the work on the `editFilesFragment.xhtml` page in the [dual mode branch](https://github.com/IQSS/dataverse/pull/4862/files).

In demo, for a dataset draft that is in review, the admin can go to the Upload Files pg, and add files.

However, in my l

[2018-10-12 22:08] matthew-a-dunlap commented on #4842
@mheppler I've wired up the dismiss button to a session based variable. Let me know what you think.

[2018-10-12 22:16] #5043 closed

[2018-10-12 22:34] #5030 closed

[2018-10-12 22:36] #5162 closed

[2018-10-12 23:15] mheppler commented on #4842
Looks good! The only question I had was if the status msg is X'd out while there no session, and then you log in, then there is no msg displayed. Should there be?

[2018-10-13 13:06] pdurbin commented on #3404
Huh, I finally got the email about six hours ago. Screenshot below. Sure enough, there's no way to tell who requested the file, just like @dconner3 said. That's not great.

<img width="592" alt="screen shot 2018-10-13 at 9 02 11 am" src="https://user-images.githubusercontent.com/21006/46905813-f390ce00-cec6-11e8-9725-b2c537ae6472.png">

@dconner3 do you feel like creating an issue for this? The fi

[2018-10-13 13:13] pdurbin commented on #2855
Regarding the three comments above...

- "the emails do not contain the user who requested the files"
- "adding the user's name to the automated email would make this information recoverable"
- "Alex from HBS accidently rejected a user who requested access to data. I asked him to send me the notification so I can see if a name was attached to the request and nothing was attached: no name, no email

[2018-10-13 13:29] pdurbin commented on #3650
I just wanted to mention that pull request #4802 was replaced by pull request #4971 and was merged in Dataverse 4.9.3. It looks like the button label is the same as before, though. It still says "Cite Data File" rather than "Export Citation" or whatever.

[2018-10-13 15:36] qqmyers opened #5183 "restrict/unrestrict performance for large number of files"
In QDR, trying to restrict/unrestrict  ~1900 files (all but a few files in the dataset), can take hours. Looking at the code, it appears that there are unnecessary nested loops. Will submit a PR...

[2018-10-14 19:42] pameyer opened #5185 ":ExcludeEmailFromExport setting no longer has an effect"
in docker-aio:
[code]
which would appear to break https://github.com/IQSS/dataverse/issues/3443.

Not fully clear on where the 1 skip is coming from, but that's a problem for another day.

IQSS jenkins appears to be showing same behavior https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/.

[2018-10-14 21:39] mdmADA commented on #2043
Hi Phil - It would be great to have ADA's code in the main code base. I would like to redesign some of it to make it more flexible as my first go at it was simply to quickly implement the functionality ADA needed in order to use Dataverse. Separating the requestbook database records from the guestbook database records, and tracking the full life cycle of a requestbook record would be on my agenda

[2018-10-14 22:59] jggautier commented on #5164
Thanks! I think I understand:

Dataverse's definition and DDI's definition seem to be in conflict in cases where (1) _the person/organization who deposited the data_ and (2) the _person/organization that owns the data and gave it to the archive storing it_ are different.

The depositor field being pre-populated is a convenience when the Dataverse account owner who is depositing the data also owns

[2018-10-14 23:51] pdurbin commented on #2043
@mdmADA sounds great. The main thing I wanted to convey is that you're on the right track. There's lot of interest in this feature. Thanks!

[2018-10-15 08:42] poikilotherm commented on #4833
Closing this in favor of #4106 and #5093.

[2018-10-15 08:42] #4833 closed

[2018-10-15 11:10] juancorr commented on #5090
Sorry @pdurbin, now I can't reproduce the bug and I have not understand
the authentification code, but perhaps there are some clues in the code:

BuiltinAuthenticationProvider (credentials are translated):

        KEY_USERNAME_OR_EMAIL =
BundleUtil.getStringFromBundle("login.builtin.credential.usernameOrEmail");
        KEY_PASSWORD =
BundleUtil.getStringFromBundle("login.builtin.credential.passw

[2018-10-15 12:16] rmo-cdsp commented on #5164
I just ran into an other similar event (just had new datas to import from my data managers): the samplingProcedure (ddi:sampProc) can also be used with multiple fields. The dataverse schema only allows one. Shall I regroup every sampProc into one field (given it is a textarea in the app) or should the field be multiple in dataverse ? Multiple fields would be cleaner imho, as with depositors.

[2018-10-15 13:08] pdurbin opened #5186 "As a developer I'd like some guidance on writing SQL upgrade scripts"
I just switched to the "develop" branch and could not deploy due to this error:

Caused by: Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.5.2.v20140319-9ad6abd): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.postgresql.util.PSQLException: ERROR: column "uri" does not exist
  Position: 184
Error Code: 0
Call: SELECT ID, ADVANCEDSEARCHFIELDTYPE, ALLOWC

[2018-10-15 13:09] poikilotherm opened #5187 "As a developer and sysadmin, I would enjoy the benefits of using Java MicroProfile based deployments with an application server like Payara Micro or Thorntail."
* This has been inspired from a [discussion on IRC](http://irclog.iq.harvard.edu/dataverse/2018-10-12).
* This is related to #4248, #4172, #4665 and #5068

In these days of 2018, things start to change while developing and deploying web applications:

1. It has become common to use Docker in development environment and continious integration scenarios.
2. With Kubernetes and other tools, the usage

[2018-10-15 13:41] pdurbin commented on #5173
I didn't test it but pull request #5188 makes sense to me. Off to QA. Thanks, @donsizemore !

I guess I'll note that `doi.baseurlstring` and related fields also apply to EZID so we could consider changing the variable name from "DATACITE_BASEURL" to "DOI_BASEURL".

[2018-10-15 13:56] pdurbin commented on #4172
@poikilotherm thanks for opening #5068 and #5187, for chatting at http://irclog.iq.harvard.edu/dataverse/2018-10-15 , and for agreeing to work on this issue! Please let us know if there's help you need!

[2018-10-15 14:13] pdurbin commented on #5185
@pameyer thanks for opening this issue. I tweaked the title a bit and I'll paste a screenshot of http://guides.dataverse.org/en/4.9.4/installation/config.html#excludeemailfromexport to explain what the :ExcludeEmailFromExport setting does:

![screen shot 2018-10-15 at 10 08 59 am](https://user-images.githubusercontent.com/21006/46956139-8b76ef00-d062-11e8-81a8-93e1e3f389c7.png)

Based on the timin

[2018-10-15 14:15] matthew-a-dunlap commented on #4842
@mheppler I had the alert close following the flow of the other info in the session, so it gets cleared on logout but does not on login. I can add another hook to clear it on login as well if this doesn't seemed like enough for supporting multiple users sharing the same computer.

[2018-10-15 14:17] qqmyers commented on #5186
@pdurbin I think I just put it in that way since I didn't know what version it would become part of... If I should have done it differently, let me know...

[2018-10-15 14:21] mheppler commented on #5186
That's a very valid point @qqmyers and something we should consider moving forward, especially as we start ramping up the speed of releases with #4980.

[2018-10-15 14:35] pdurbin commented on #5186
@qqmyers here's what I do:

- Look in `scripts/database/upgrades` to see if there's a script that's already been merged that indicates what the next release will be. If it exists, add my SQL updates statements to it.
- If there is no SQL script in `scripts/database/upgrades` that takes us to the current released version to the next planned release, double check with @djbrooke what the next release

[2018-10-15 15:04] sekmiller opened #5190 "Restricting a file on Dataset Create fails"
Looks like it is related to Dual Mode where I put in an extra test for dataset locks. That test throws an exception when the dataset hasn't been saved. (The dataset is new.)

[2018-10-15 15:07] pdurbin commented on #5190
Related: #3896 #4110

[2018-10-15 15:09] JayanthyChengan commented on #4842
@matthew-a-dunlap:  I selected French language in the interface, but the status message still remains in English.

![screen shot 2018-10-15 at 11 07 38 am](https://user-images.githubusercontent.com/12862735/46959713-ae0d0600-d06a-11e8-83ce-fc50eccdbc30.png)

[2018-10-15 15:14] pdurbin commented on #5186
@qqmyers pull request #5189 looks good for moving the SQL statements to the right place. Do you want me to add a bit about our process to the dev guide? (Some of the "here's what I do" above.) We could also defer messing with the dev guide.

[2018-10-15 15:17] JayanthyChengan commented on #4842
@matthew-a-dunlap:
Adding <f:view>  in the harvestclients.xhtml solves the issue ( french interface displays the status message in french).  Do we need to add <f:view in all the pages ?

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:js

[2018-10-15 15:19] juancorr commented on #4842
I think that this issue is related to #5090 .

  I have seen it on Spanish in e-ciencia Datos and now I see this message
in Spanish for all interface languages :

[image: image.png]

[image: image.png]

[image: image.png]

Juan Corrales

El lun., 15 oct. 2018 a las 17:09, JayanthyChengan (<
notifications@github.com>) escribió:

[2018-10-15 16:14] scolapasta commented on #5186
So to weigh in:
For a while I've been advocating we take this approach (naming db scripts based on issue and then compiling them all at the time we create a release). Too many times we've had to rename db scripts because we change our plan of what is next.

we will discuss it here as a team and can provide some guidance going forward.

[2018-10-15 16:33] pdurbin commented on #5186
@scolapasta makes sense. I'm assigning this to you to sort out. As long as we document the process. Thanks!

[2018-10-15 16:48] pameyer commented on #5185
@pdurbin thanks - looks good to me (Tests run: 76, Failures: 0, Errors: 0, Skipped: 1).  Still not sure where the skip is coming from, but that's a different problem.

[2018-10-15 16:54] jggautier opened #5193 "In dataset and file citations with multiple authors, restore spaces after the semicolon that separates each author"
In Dataverse versions 4.9.2 and later, when there are multiple authors in the dataset and datafile citations displayed in the UI, the space was removed after each semicolon that separates each author:

<img width="847" alt="screen shot 2018-10-15 at 12 47 55 pm" src="https://user-images.githubusercontent.com/18374574/46965318-8f157080-d078-11e8-8eb2-6795ae8becae.png">

This change also shows up in

[2018-10-15 18:41] pdurbin opened #5194 "Regression: Can't upload files after pull request #4862 was merged"
Tested on https://dev1.dataverse.org running e948af2 on the "develop" branch.

![screen shot 2018-10-15 at 2 39 15 pm](https://user-images.githubusercontent.com/21006/46970838-54b3cf80-d088-11e8-998f-f40c4f95927b.png)

![screen shot 2018-10-15 at 2 39 27 pm](https://user-images.githubusercontent.com/21006/46970837-54b3cf80-d088-11e8-8dd9-a55d8c969cd6.png)

[2018-10-15 18:50] pdurbin commented on #5186
@kcondon good question. Without a process I'm blocked on making SQL updates. I'm attempting to use the new process in pull request #5195 but as @scolapasta indicated we will be discussing this as a team.

[2018-10-15 19:03] pdurbin commented on #5185
@qqmyers thanks for pull request #5192 which is a variation on my pull request #5191. I'm going to let someone with more Java experience than me decide which approach is better. The main thing is that we've identified a fix for the regression.

[2018-10-15 19:20] scolapasta commented on #5186
For this issue, we can use the current process of using the update script, if people prefer, so we can get it done and over. The more general discussion will happen in the next few weeks, I hope.

[2018-10-15 19:41] scolapasta commented on #5185
It seems a little strange to have a static reference to an EJB. (but it also looks as if that was there before and you are just setting it*).  Not necessarily for this issue, but as tech debt cleanup, I wonder if Json Printer should be a service bean as well (and then could just inject the setting service).

(*) one issue is for example changes like this were a change could break things, if the se

[2018-10-15 20:34] kcondon commented on #5095
@qqmyers The api endpoint is not reporting what was updated, always returns {"status":"OK","data":{"Dataverses Updated":[],"Admins added":[],"Admins not added":[]}}. Also, since it doesn't work when :InheritParentRoleAssignments is disabled, should not return OK.

[2018-10-15 20:48] pdurbin commented on #4371
@jggautier and I just compared notes for 90 minutes and gave ourselves some todo items:

![schemaimg_20181015_163814258](https://user-images.githubusercontent.com/21006/46977398-1b845b00-d09a-11e8-89a9-cf5f04a88dee.jpg)

[2018-10-15 20:50] pdurbin commented on #5186
Ok, I'll document the process we've been using since I got here.

[2018-10-15 20:51] kcondon commented on #2693
Ran into this again when testing roles -can't create 2 custom roles with same alias system wide, fails silently but with server log error.

[2018-10-15 21:57] kcondon opened #5196 "Docs: Example IP Group json file does not work as is, works if ipv6 portion is removed."
Not sure whether this is a doc bug or functional bug but the sample ipgroups json file in docs doesn't work unless you remove the ipv6 portion.

http://guides.dataverse.org/en/4.9.4/admin/ip-groups.html#creating-an-ip-group

[2018-10-15 22:01] kcondon opened #5197 "Perms: Assigning a group within a group works but throws server log error"
[2018-10-15T17:39:25.931-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.ManagePermissionsPage] [tid: _ThreadID=52 _ThreadName=jk-connector(3)] [timeMillis: 1539639565931] [levelValue: 800] [[
  Got to assignRole]]

[2018-10-15T17:39:25.946-0400] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.webcontainer.jsf.lifecycle] [tid: _ThreadID=52 _ThreadName=jk-connector(3)] [timeMillis

[2018-10-15 22:14] kcondon opened #5198 "Docs: Sample create dataverse json file fails with parsing error."
The sample json file provided in api guide fails with {"status":"ERROR","message":"Error parsing Json: Invalid token=EOF at (line no=1, column no=0, offset=-1). Expected tokens are: [CURLYOPEN, SQUAREOPEN]"}

http://guides.dataverse.org/en/4.9.4/api/native-api.html#create-a-dataverse

[2018-10-15 22:32] pdurbin commented on #3533
Related: #5198

[2018-10-15 22:33] pdurbin commented on #5198
Related: #3533

[2018-10-16 06:58] lmaylein commented on #5142
Mea culpa!

If I deploy every version between 4.8.6 and 4.9.4
sequentially, it looks good.

[2018-10-16 07:15] juancorr commented on #4842
Sorry , I have reply the e-mail and the screenshots are not shown

![imagen](https://user-images.githubusercontent.com/325896/46998675-8a59c680-d123-11e8-9eee-e30faa1d315c.png)

________________________________________________________

![imagen](https://user-images.githubusercontent.com/325896/46998734-b70dde00-d123-11e8-9934-e03321a9112f.png)

_____________________________________________________

[2018-10-16 09:44] tcoupin commented on #5104
- Part 1 (no UI change) submitted in #5199
- Part 2 (UI change) : it would be great if the UI can have the same feature as api import dataset endpoint, provide pid. In API, pid can be a doi or a handle. Can the design team work on a similar field on dataset creation page ?

[2018-10-16 10:14] pdurbin commented on #5142
@lmaylein no problem. While upgrades are on your mind, you might want to leave a comment on #4980 which is related.

[2018-10-16 11:18] #5142 closed

[2018-10-16 13:28] pdurbin commented on #5173
As of a354f35 the variables have been renamed so the pull request looks even better. Thanks again, @donsizemore

[2018-10-16 14:11] JayanthyChengan commented on #4842
@juancorr: Thanks for the images,
In the third image - I see the status message in French when English language is selected.  why is the status message not toggled to English

[2018-10-16 14:18] djbrooke commented on #5104
Thanks @tcoupin ! We'll review PR #5199.

In terms of the UI change, it's unlikely that we would be able to work on this in the near term. Most of our design efforts are focused in other areas right now and we don't have the time do the research, user testing, and design that would be needed for this change.

[2018-10-16 14:34] djbrooke commented on #5053
@scolapasta @matthew-a-dunlap @mheppler Let's talk today to scope this and keep it moving.

[2018-10-16 14:43] juancorr commented on #4842
I was wrong, this issue is not related to #5090. " <f:view>" tag translate the "Manage Harvesting Clients" but not the login page.

[2018-10-16 14:46] kcondon opened #5200 "Log in: Local login does not report invalid log in, leading to confusion, support ticket."
A new installation partner ran into a problem where they didn't realize the username was case sensitive and so was typing dataverseadmin rather than dataverseAdmin. Since log in doesn't seem to report any errors with incorrect log in or even when submit empty fields, user reported a problem to Support and requested that we add this.

In addition, logging in with incorrect credentials throws except

[2018-10-16 15:08] scolapasta commented on #4842
FYI, those messages are not what is meant by the "status message" which is text defined in the settings. If there is an issue with these other messages, would you mind opening up a separate issue?

For the status message, the challenge for internationalization is that this is not text that is distributed with the code (or as an auxiliary component) but that is decided on by the admin. So an admin

[2018-10-16 15:38] scolapasta commented on #5185
@qqmyers would you mind opining on my comment above and if you have any bandwidth to work on this tech debt now?

[2018-10-16 15:50] pdurbin commented on #4842
@juancorr @JayanthyChengan to reiterate what @scolapasta is saying, can you please create a new issue for the bug you found? Thanks!

I'm moving this to QA after taking another look at pull request #5118 now that @mheppler and @matthew-a-dunlap have finished it off.

[2018-10-16 16:29] qqmyers commented on #5185
@scolapasta - I don't know. The entire class is a bunch of static methods, one of which needs the exclude email setting, which it then sends as a parameter to DatasetFieldWalker (could this be an EJB instead?).

Based on that, it seems a bit odd to me to have JsonPrinter be an EJB, but DatasetFieldWalker is mostly static as well and the other options above in our discussion aren't perfect either.

[2018-10-16 16:58] pdurbin commented on #5186
As discussed at standup this morning I'll be adding some documentation of our existing process for writing SQL upgrade script. I'll tweak the title of this issue to reflect this.

At standup we also agreed to remove scripts/database/3561-update.sql which leads contributors astray into thinking that's what we want. I did this in 7c67734 and had the thought that we **could** move the content into up

[2018-10-16 17:08] scolapasta commented on #5185
In theory, we'd want the settings to be changeable without having to restart (that is one differences between settings and jvm options and why we generally use jvm options more for "configuration" options instead of "customization" options).

Changing to an ejb would mean changing all the static methods to non static, so that does seem like overkill for this fix / cleanup (since the static referen

[2018-10-16 17:19] qqmyers commented on #5095
@kcondon - Thanks! Just committed fixes for the two issues - not returning an error for an empty/missing setting, and getting the values into the return message.

For the custom roles - it looks like the current code 'correctly' creates the roleAssignment on the child but does not create/add the role itself to the child. So it probably shouldn't stay as is. I don't have a strong opinion one way or

[2018-10-16 17:29] qqmyers commented on #5095
or is the current code OK? The comment in DataverseRole says "Users may assume roles from the current dataverse, or from its parent dataverses, up to the first permission root dataverse.". If that's true, just propagating the roleassignment to children would be valid. If that's true, then people using the api can always avoid custom roles buy specifying the riles they do want rather than using *.

[2018-10-16 17:42] qqmyers commented on #5095
If, as it looks, roles don't handle hierarchy, it seems like it would be troublesome to add roles to children - they couldn't reuse the same role, so I'd have to clone the roles except for the owner_id - not sure if the alias should then also be unique, etc. It seems much more straight-forward to just check roles and, if the have an owner_id, skip them (verified that custom roles created on the ro

[2018-10-16 18:11] pdurbin commented on #5186
I just added at "SQL Upgrade Scripts" section to the Dev Guide in b802c85

@qqmyers et al. you are welcome to give feedback!

[2018-10-16 18:51] pdurbin commented on #4178
@pameyer thanks for creating pull request #5182. I took a look and came up with a different approach in pull request #5201. I'll grab you so we can discuss. Thanks!

[2018-10-16 18:51] JayanthyChengan opened #5202 "Internationalization - alert messages is not toggling with language selection"
The alert info/warning/success messages remains English , and doesn't toggle with Language selection .

![image](https://user-images.githubusercontent.com/12862735/47039452-fa7f4100-d151-11e8-95d4-ef0f9b434bfd.png)

[2018-10-16 18:52] JayanthyChengan commented on #4842
@pdurbin: created new issue https://github.com/IQSS/dataverse/issues/5202

[2018-10-16 18:53] pdurbin commented on #4842
@JayanthyChengan thanks!

[2018-10-16 18:56] kcondon commented on #5095
@qqmyers I'm ok with not inheriting custom roles, especially if it unnecessarily complicates things. I've tested your other changes and can merge now, depending on whether you have added new code or not.

[2018-10-16 18:58] qqmyers commented on #5095
@kcondon - Sounds good. Haven't yet added the code to filter out custom roles. Hopefully soon.

[2018-10-16 18:59] kcondon commented on #5095
@qqmyers so just to be clear, it's ok to merge now?

[2018-10-16 19:00] qqmyers commented on #5095
@kcondon - sorry - No. Give me ~an hour. I'm not sure if copy a custom roleAssignment as it would now will cause any issues.

[2018-10-16 19:05] #5168 closed

[2018-10-16 19:38] pdurbin commented on #4178
@pameyer and I discussed and we closed pull request #5182 in favor of pull request #5201 and are moving this to QA.

To test, follow the updated conf/docker-aio/readme.md which shows the new password and boils down to running `./conf/docker-aio/prep_it.bash` and logging in to http://localhost:8083

[2018-10-16 19:40] scolapasta commented on #5012
Discussed with team and since other tools would need to support Oauth as a client in these cases, it seemed just as useful for them to just support Google or Github (or even Shibboleth) and not have to provide infrastructure on the Dataverse side to be yet another provider.

[2018-10-16 19:40] #5012 closed

[2018-10-16 19:53] pameyer commented on #4178
Also from discussion w\ @pdurbin ; #5201 doesn't solve the entire problem.  Whether that means leaving this issue open, or closing it and letting me (or another developer) open another one is another question - I don't have an opinion on that.

[2018-10-16 19:57] qqmyers commented on #5095
@kcondon - OK. Just made a small commit to filter the custom roles out so no assignments are mode for them. Tested at TDL. So - should be ready to merge.

[2018-10-16 20:13] kcondon commented on #5095
@qqmyers Merged! Thanks!

[2018-10-16 20:13] #5095 closed

[2018-10-16 20:31] #5171 closed

[2018-10-16 20:55] 4tikhonov commented on #4684
@JayanthyChengan, we've introduced in DataverseEU ISO codes for all languages we're supporting, can you please also test it with current release?
 https://github.com/IQSS/dataverse-docker/tree/master/dataversedock/dataverse-property-files
fr-CA here is coming from Scholarsportal, other translations were done by our community.

Also we modified
https://github.com/IQSS/dataverse-docker/blob/master/d

[2018-10-16 21:11] jggautier commented on #4371
The gist of the discussion was about how to add more metadata in schema.org while both making changes that are as backwards compatible as possible and making sure that consumers (people in charge of other systems) of the metadata are aware that because it's an evolving/unstable schema, there's a good chance that changes will affect how they consume and use this metadata.

The list kept in this [Gi

[2018-10-17 12:03] pdurbin commented on #5081
@ross-spencer hi! Just checking in. Do you need a hand making the pull request? We're happy to help.

[2018-10-17 12:03] pdurbin commented on #4923
Related: #5057

[2018-10-17 13:15] 4tikhonov opened #5204 "Table alternativepersistentidentifier is missing"
At the moment it's not possible to migrate from Dataverse 4.9.2 to 4.9.4 as table alternativepersistentidentifier is missing:

"Local Exception Stack:
Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.5.2.v20140319-9ad6abd): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.postgresql.util.PSQLException: ERROR: relation "alternativepersistentidentifier" does

[2018-10-17 13:16] rmo-cdsp opened #5205 "Metadata Customization : add a note about setup"
Add a note in the Metadata Customization part in the guide about the way the dataset fields are setup in the app. Thanks to @pdurbin , I now know that the script https://github.com/IQSS/dataverse/blob/v4.9.4/scripts/api/setup-datasetfields.sh , used by the installer script, define this. This information may be useful in the guide to understand this.

[2018-10-17 13:19] pdurbin commented on #5205
@rmo-cdsp thanks for opening this issue! As we discussed at http://irclog.iq.harvard.edu/dataverse/2018-10-17 this information is not currently in http://guides.dataverse.org/en/4.9.4/admin/metadatacustomization.html

The file to edit is https://github.com/IQSS/dataverse/blob/develop/doc/sphinx-guides/source/admin/metadatacustomization.rst

[2018-10-17 13:28] 4tikhonov commented on #5204
Ok, but that's exactly the problem: we've migrated from 4.9.2 to 4.9.4 on Google Cloud and faced this error message.

[2018-10-17 13:34] rmo-cdsp opened #5206 "Dataset : deposit date and the displayed date of a dataset"
Hello,

I have a question about dataset "date". Here is a screen shot of a dataset I created:

![1539782870-screenshot-from-2018-10-17-15-23-43](https://user-images.githubusercontent.com/687227/47091833-a7f66100-d1f3-11e8-8ce3-4c16d9358049.png)

You can see a date, Oct 17, 2018 . To me, it's the deposit date. I want to change it, so I edit the field "Deposit Date" of the dataset:

![1539783197-scr