[2018-07-10 21:59] matthew-a-dunlap commented on #4676
I took myself off review on this issue, as I don't think my review will mean much without a LOT of getting up to speed and I really shouldn't have taken it on. This is a good one for @landreev when he is back.

[2018-07-11 13:40] jggautier commented on #4143
@sbarbosadataverse noted during the 2018 Community Meeting that someone asked if the depositor could choose the people that would receive the notification. I wonder if the depositor could choose from the list of people with edit access to that dataset, and if this would help prevent too many email notifications from going out.

[2018-07-11 14:08] pdurbin commented on #4764
@thaorell implemented the extra build step in 3bb3cb8 and I think pull request #4805 is in good shape so I moved it to QA.

[2018-07-11 15:02] scolapasta opened #4832 "Harvard Dataverse: Mint DOIs for datasets that currently have handles"
With the new addition of PIDs for files, we ran into an issue with older datasets that have handles and given them DOIs. While it is possible to have mixed, it doesn't make sense in the case where you use "dependent" file PIDs, as we do at Harvard.

This issue is for tracking what is needed to Mint DOIs for those Datasets and track the handle elsewhere.

Note: we'll still need to maintain the hand

[2018-07-11 15:06] dlmurphy commented on #4000
We just discussed this issue in our weekly design meeting.

For this issue, our goal is to allow users to easily “download all” files in a dataset in their original format using our UI.

On the dataset page's "Download all" button, we want to add two dropdown options:

- Archival (non-proprietary) format

- Original format

------

But we're open to suggestion, leave your comments if you have any

[2018-07-11 15:06] scolapasta commented on #4832
The original idea I had was place the handle in the Other ID metadata field. We could then choose display this metadata field in the summary section.

A few issues with this:
1. We won't know for sure that the other id is the old handle or something else, so all Other Ids would show in the summary. This is possibly a non issue.
2. @mercecrosas  also suggested "And Ideally there would be some text

[2018-07-11 15:10] scolapasta commented on #4000
Do we want to have logic to only give these options in the case where you have ingested files? Also to consider, currently we only ingest tabular files, but we have discussed the idea of other types of ingest, e.g. ingest zip files as a dataverse "package". Nt sure if this affects the design for this at this stage or if it's a bridge we should cross later.

[2018-07-11 15:11] dlmurphy commented on #4000
Yes, we only want to offer these options in cases where the distinction matters, i.e. when the dataset has at least one ingested file.

[2018-07-11 15:12] scolapasta commented on #4000
That's what I assumed. Just wanted to make sure it got tracked in the issue.

[2018-07-11 15:28] matthew-a-dunlap commented on #4761
I cut a Dataverse branch that captures just the work for this. https://github.com/IQSS/dataverse/tree/4761-dcm-new-pid-structure

Most of the work was on the dcm side, captured here: https://github.com/sbgrid/data-capture-module/tree/fix_dvid_shoulder

[2018-07-11 15:36] dlmurphy commented on #2739
Here's our design team's document for summarizing what we know about this issue and considering next steps:

https://docs.google.com/document/d/1Wa8OJBftzJs_v9QDeccRanx6S0MNoiuPjqnRaL20cNk/edit

[2018-07-11 16:03] pdurbin commented on #4656
@mheppler and I just discussed this issue. To start the plan is to merge #4780 (4220-primefaces-6-2) and #4806 (4219-bootstrap-upgrade) into the 4656-filetable-paginator branch and then put the code up on https://dev1.dataverse.org so that we call all look at the GUI and decide what the remaining TODO items are for this issue. At a high level I think of this issue as providing relief from the "liv

[2018-07-11 16:03] pdurbin commented on #4000
One quick thought is that @mheppler and I seem to agree that we shouldn't hack on the code until after we've refactored it for #4656.

[2018-07-11 16:35] mheppler commented on #4790
Looking into recent changes made to `search-include-fragment.xhtml` this appears to be a bug that was introduced when the PR for issue #4583 was merge.

Here is the current popup msg on that page...

[code]

It appears the new `getSignupUrl()` logic is being applied to both the Sign Up and Log In links, when it should only be applied to Sign Up. We most likely will need to simply revert the Log In

[2018-07-11 16:39] mheppler commented on #4538
Also closely related to _Custom Analytics - More than just pageviews #4660_.

[2018-07-11 16:43] mheppler commented on #4656
Somewhat related to selecting files + download, _Restricted Files Download - Fix Height for Warning Popup with Large File List #4472_.

[2018-07-11 16:49] pdurbin commented on #2122
@oscardssmith the other day I was telling you about a nice visualization in D3 that @raprasad made that shows a hierarchy of dataverse. He and I just looked and couldn't find it but we did find the JSON output that the visualization was created from at "Full Dataverse hierarchy (pretty)" linked from https://services.dataverse.harvard.edu/miniverse/metrics/metrics-links

Here's a few lines of how h

[2018-07-11 17:06] pdurbin commented on #4656
I just did all the merging described above and below is a screenshot as of 5c3b1fc with Primefaces 6.2 and Bootstrap 3.3.7 from https://dev1.dataverse.org/dataset.xhtml?persistentId=doi:10.5072/FK2/WGWEOM

![42_files_-_root_-_2018-07-11_13 02 59](https://user-images.githubusercontent.com/21006/42588197-1ec515fa-850b-11e8-81ea-92040d443aef.png)

Obviously, we need to remove "TEST", but what else sh

[2018-07-11 17:32] pdurbin commented on #4656
@mheppler and I just came up with this TODO list:

- [ ] Remove one of the duplicate "selection messages" (i.e. "0 files are currently selected. Select all 42 files in this dataset. Clear selection.").
- [ ] Remove "TEST" and move dynamic counter to be left-aligned.
- [ ] Right align "Upload Files" button.
- [ ] Styling of the paginator has been lost. Make more Bootstrappy.
- [ ] Make "Clear selec

[2018-07-11 18:06] kcondon commented on #3083
OK, basic regression testing works: create, update, publish datasets, harvest.
Tested basic import, both release and not release, handles and dois, including files and that works.
To effectively use this endpoint, some documentation and guidance is needed.
A bit more testing is needed around metadata blocks but generally completed.
Here are the issues and recommendations:

1. Provide importable sa

[2018-07-11 18:21] sekmiller commented on #4822
By consensus, we want to leave the target url alone and have it resolve to the latest version the file is active in.

[2018-07-11 18:36] djbrooke commented on #4718
We'll address this through a documentation change.

[2018-07-11 19:13] pdurbin commented on #2917
I assume that data is sent do DataCite on publish for Handles too.

Mostly I'm leaving a comment here because #4782 which is in flight is also about sending more data to DataCite.

Also, code has been written for this issue #2917 at https://github.com/sbgrid/sbgrid-dataverse/blob/feature/datacite-xml/mod-sbgrid/src/main/java/edu/harvard/iq/dataverse/export/datacite/DataciteDataModel.java but it se

[2018-07-11 19:40] bencomp commented on #2917
DataCite doesn't register Handles, as far as I know – the local Handle server does. Metadata is a requirement for getting DOIs for datasets from DataCite, but I don't think they would accept metadata for datasets with Handles.

[2018-07-11 19:44] pdurbin commented on #2917
@bencomp that makes sense. Thanks!

[2018-07-11 21:00] michbarsinai commented on #3083
Thanks, @kcondon.
We have some documentation, I'll see what can be improved (@pameyer - do you have anything?).

As for files, I think this is out-of-scope for #3083, which concentrates on packages. Files can be added later based on this work.

[2018-07-11 21:17] pameyer commented on #3083
I do - @michbarsinai do you want first crack at `native-api.rst`, or should I do a first pass?

[2018-07-11 21:33] michbarsinai commented on #3083
If you could give it a pass today, that would be great. I'll take a pass at it tomorrow morning (yay timezones!)

[2018-07-11 22:20] pameyer commented on #3083
Ok - I gave it a first pass.

[2018-07-12 01:13] pdurbin commented on #752
@raprasad is the one who opened this issue and was its champion but I spoke with him today and now that no longer works on Dataverse day to day he doesn't plan to revisit most of the 63 issues that are still open in his name (this one is the oldest of those). This week I mentioned this issue and MPTT at https://github.com/IQSS/dataverse/issues/2122#issuecomment-403529813 and we can always re-open

[2018-07-12 01:13] #752 closed

[2018-07-12 01:33] pdurbin commented on #3288
@djbrooke yes, especially now that #2301 about Stata has been addressed we should revisit how best to retry ingesting a whole variety of files that failed ingest with older versions of Dataverse. Is that what this issue represents? Should we create a fresh one instead? In 06ef690 I tested that a certain Brooke's file are now expected to ingest properly once we cut a release. :smile:

[2018-07-12 01:35] pdurbin commented on #2071
I talked to @raprasad today and he said he's fine with me closing most open issues in his name. No one else seems to have reported this issue. Closing.

[2018-07-12 01:35] #2071 closed

[2018-07-12 01:39] pdurbin commented on #3750
This is a good catch but doesn't seem to be a priority. Closing. If someone feels strongly about this, please open a fresh issue. Thanks.

[2018-07-12 01:39] #3750 closed

[2018-07-12 01:41] pdurbin commented on #3748
Closing in favor of #2634 which is quite similar.

[2018-07-12 01:41] #3748 closed

[2018-07-12 01:44] pdurbin commented on #3333
Closing in favor of #2202

[2018-07-12 01:44] #3333 closed

[2018-07-12 01:45] pdurbin commented on #3334
Closing in favor of #2202

[2018-07-12 01:45] #3334 closed

[2018-07-12 01:45] pdurbin commented on #3335
Closing in favor of #2202

[2018-07-12 01:45] #3335 closed

[2018-07-12 01:46] pdurbin commented on #3960
This issue is old and if performance is a concern we can open a fresh issue. Closing.

[2018-07-12 01:46] #3960 closed

[2018-07-12 01:48] pdurbin commented on #2766
Not a bad idea but no one is championing this issue. Closing.

[2018-07-12 01:48] #2766 closed

[2018-07-12 01:50] pdurbin commented on #3398
In a year and a half no one else has reported this. It'll come up again naturally if someone reports it. The workaround is simply to regenerate a new API token for yourself with the click of a button. Closing.

[2018-07-12 01:50] #3398 closed

[2018-07-12 01:52] pdurbin commented on #3422
Not a bad idea but this issue doesn't have a champion anymore. Closing.

[2018-07-12 01:52] #3422 closed

[2018-07-12 01:54] pdurbin commented on #3325
There is no will to address this anytime soon. Closing.

[2018-07-12 01:54] #3325 closed

[2018-07-12 01:56] pdurbin commented on #3320
This issue doesn't have a champion. Closing.

[2018-07-12 01:56] #3320 closed

[2018-07-12 01:57] pdurbin commented on #3363
Yep, I think the note is enough. Someone can open a fresh issue if they want to work on MIME type specifically and champion that cause.

[2018-07-12 01:57] #3363 closed

[2018-07-12 01:58] pdurbin commented on #2490
Yes, it's ugly but we're living with it. If someone wants to champion this issue, please open a new one. Closing.

[2018-07-12 01:58] #2490 closed

[2018-07-12 01:59] pdurbin commented on #3932
Closing in favor of #3714

[2018-07-12 01:59] #3932 closed

[2018-07-12 02:01] pdurbin commented on #3302
Closing in favor of #2272

[2018-07-12 02:01] #3302 closed

[2018-07-12 02:02] pdurbin commented on #3499
I don't believe we are working on this. Closing.

[2018-07-12 02:02] #3499 closed

[2018-07-12 02:05] pdurbin commented on #3718
Development on #4530 seems to be going fine without this. Closing.

[2018-07-12 02:05] #3718 closed

[2018-07-12 02:06] pdurbin commented on #3602
Apparently, no one feels strongly about this. If someone out there does feel strongly, please open a new issue. Thanks. :smile: Closing.

[2018-07-12 02:06] #3602 closed

[2018-07-12 02:08] pdurbin commented on #3332
Closing in favor of #3331

[2018-07-12 02:08] #3332 closed

[2018-07-12 02:14] pdurbin commented on #3094
It actually appears four times, some in parenthesis but they all have unique displayName's so I don't think it's a bug: https://github.com/IQSS/dataverse/blob/v4.9.1/scripts/api/data/metadatablocks/biomedical.tsv

It's true that Menges appears twice. Probably a bug. GSD is super Harvard-specific. I guess no one has noticed: https://github.com/IQSS/dataverse/blob/v4.9.1/scripts/api/data/metadatablo

[2018-07-12 02:17] pdurbin commented on #2941
We are living the the code as it is and this issue doesn't have a champion. Closing.

[2018-07-12 02:17] #2941 closed

[2018-07-12 02:18] pdurbin commented on #3503
I don't believe there's enough detail in this issue to be useful to anyone. Closing.

[2018-07-12 02:18] #3503 closed

[2018-07-12 02:21] pdurbin commented on #3191
We've been surviving with the code as it is and this issue doesn't have a champion. Closing.

[2018-07-12 02:21] #3191 closed

[2018-07-12 02:22] pdurbin commented on #3182
We're living with the code as it is. If someone wants to work on this, please open a new issue. Closing.

[2018-07-12 02:22] #3182 closed

[2018-07-12 02:30] pdurbin commented on #1820
The code has changed significantly in the three years since this issue has been reported. I don't think there's a lot of value in keeping this open. If the application is unacceptably slow in places, users tell us and we try to fix it. If you're one of of those users, please open a new issue! :smile: Closing.

[2018-07-12 02:30] #1820 closed

[2018-07-12 02:33] pdurbin commented on #2169
They're working on SWORD v3: https://groups.google.com/d/msg/dataverse-community/D7lRTA3f8Hc/nX0v50MKAgAJ

Hopefully this issue will be addressed there. This issue doesn't seem to affect very many people. Closing.

[2018-07-12 02:33] #2169 closed

[2018-07-12 02:35] pdurbin commented on #2492
A while back additional edits were made to the readme at https://github.com/IQSS/geoconnect and I think they're sufficient. Closing.

[2018-07-12 02:35] pdurbin commented on #2444
Is anyone still interested in this? If not, vote to close.

[2018-07-12 02:37] pdurbin commented on #2216
Support for Data Explorer (#4249) was shipped in Dataverse 4.8.6! Closing.

[2018-07-12 02:37] #2216 closed

[2018-07-12 02:38] pdurbin commented on #3642
This issue is super-specific to Harvard Dataverse. No one seems to be championing it. Closing.

[2018-07-12 02:38] #3642 closed

[2018-07-12 02:41] pdurbin commented on #2647
We tried to use a CDN for Bootstrap but due to controversy we removed it (before QA): https://github.com/IQSS/dataverse/issues/4219#issuecomment-403601277

Sadly, @raprasad is no longer here to advocate for CDNs so I'm closing this issue. A new champion for use of CDNs is very welcome to create a new issue.

[2018-07-12 02:43] pdurbin commented on #3068
Great idea. This issue doesn't have a champion. Closing.

[2018-07-12 02:45] pdurbin commented on #3949
Closing in favor of #2892.

[2018-07-12 02:45] #3949 closed

[2018-07-12 02:46] pdurbin commented on #3128
I don't believe we are working on this anymore. Closing.

[2018-07-12 02:46] #3128 closed

[2018-07-12 02:47] pdurbin commented on #3102
I don't believe we are working on this anymore. Closing.

[2018-07-12 02:47] #3102 closed

[2018-07-12 02:47] pdurbin commented on #3088
I don't believe we are working on this anymore. Closing.

[2018-07-12 02:47] #3088 closed

[2018-07-12 02:51] pdurbin commented on #4061
Closing in favor of #4060. We can reopen this chunk as we actually start working on integrating PSI.

[2018-07-12 02:51] #4061 closed

[2018-07-12 02:52] pdurbin commented on #4060
Closing in favor of #4063. We can reopen this chunk as we actually start working on integrating PSI.

[2018-07-12 02:52] #4060 closed

[2018-07-12 02:52] pdurbin commented on #4062
Closing in favor of #4063. We can reopen this chunk as we actually start working on integrating PSI.

[2018-07-12 02:52] #4062 closed

[2018-07-12 02:55] pdurbin commented on #3390
@telnoratti I'd like to encourage you to review the installer redesign in pull request #4805 for #4764. Closing.

[2018-07-12 02:55] #3390 closed

[2018-07-12 02:56] pdurbin commented on #2439
No one is championing this issue. The code seems to work fine as is. Closing.

[2018-07-12 02:56] #2439 closed

[2018-07-12 02:56] #2062 closed

[2018-07-12 03:21] pdurbin commented on #778
Closing in favor of this list I'm maintaining: No functionality should be GUI-only. Make all functionality reachable via the API #3440

[2018-07-12 03:21] #778 closed

[2018-07-12 09:09] michbarsinai commented on #3083
Gave it another pass. Added PID data to the JSON etc.

We now return to @kcondon at IQSS Central.

[2018-07-12 12:39] poikilotherm commented on #4248
Hi @pdurbin,

I will be on vacation for the next three weeks. After that I will come back to this topic...

Cheers
Oliver

[2018-07-12 12:47] poikilotherm opened #4833 "Feature: use ePIC PIDs in addition to DOI and EZID"
We would like to have EPIC PIDs supported within Dataverse. See also http://www.pidconsortium.eu

I heard about a possible future installation of Dataverse at Göttingen university. The GWDG is the current hoster of EPIC services, so maybe they already try to integrate this?

There are good chances we at Forschungszentrum Jülich can provide man power for this feature, too.

Any interest in this ove

[2018-07-12 13:54] mercecrosas commented on #2444
Please open again. We would like to consider doing this, in particular for plotly (possibly not for CartoDB).

Sent from my iPhone

[2018-07-12 14:04] djbrooke commented on #4833
Hi @poikilotherm, good to hear from you! More PID provides are always welcome!

You should connect with @fbgesis and @4tikhonov as they've been working on and discussing a plugin provider in #4106. They'll be meeting in Germany soon and it may be an opportunity to combine resources.

[2018-07-12 14:14] poikilotherm commented on #4106
Hi @4tikhonov and @fbgesis,

I'm working at Forschungszentrum Jülichs RDM team and we are evaluating to use Dataverse as a RD repo.

We would like to use [ePIC](https://pidconsortium.eu) PIDs for our datasets instead or in combination with Dataverse DOIs.

There are good chances that we at FZJ would invest man power to implement the provider (most certainly me). Maybe I could learn from your exper

[2018-07-12 14:17] scolapasta commented on #4106
So recently we've worked on a lot of code that has touched these areas, File DOIs, #3083. Once that last one gets merged, I think it would be the right time to get the work that @fbgesis did merged with the core and then we could also help work with you for ePic PIDs.

[2018-07-12 14:24] mheppler commented on #4181
Reopening this to see if community developer @pameyer is still interested in investigating these improvements to the UI. With UI redesign efforts under way, there is ample opportunity to improve our product, specifically related to UI perfomance.

[2018-07-12 14:30] 4tikhonov commented on #4106
Great @scolapasta, if you'll be fast enough then probably we can cancel our meeting in Cologne. :)

[2018-07-12 14:31] scolapasta commented on #4106
I thought you were going to say you were inviting me there! :)

Seriously, though, #3083 is in QA right now, so hopefully it'll be merged soon, and this is on my list to address as soon as that happens.

[2018-07-12 14:42] mheppler commented on #4391
This issue seems like the most logical place to drop a reminder to look into improving the performance of the file pg, as noted in _File page - slow/excessive queries (regressive*) #3960_. Before we add more features to this page, we should review and refactor as much of the existing code as possible to make sure we are not adding excessive burden to a page that is already under performing.

[2018-07-12 14:48] scolapasta commented on #3068
This something that we still want and in my opinion, I'd like us to find a wa y to prioritize - it would make our APIs significantly more useful and we have the related new work in #3083 for importing datasets.

[2018-07-12 14:49] scolapasta commented on #3094
Re: the same value appearing with different display values - it should ideally be one value, and we should have a better way to have more "display values" link to the same value. This has been discussed in the context of subjects. (if the display value is not really a s"synonym" it should have a different value)

[2018-07-12 14:52] mheppler commented on #3750
I'll be your huckleberry.

Added a reference to this issue in _Dataset - File UI Improvements #3404_ to make sure it is addressed as part of the UI redesign efforts which are currently underway.

[2018-07-12 15:00] scolapasta commented on #2647
We removed it with the idea of exploring community thoughts on it (e-mail forthcoming).

[2018-07-12 15:02] mheppler commented on #2647
I reopened _UI Performance - investigate improvements to static file handling #4181_ with the hopes that a solution can be found, without specifically suggestion one option or another.

@scolapasta I suggest that any outreach you undertake points to that issue, or we open another new issue, to track the community feedback you generate.

[2018-07-12 15:15] pdurbin commented on #2444
@mercecrosas sure. Re-opened. Now that we have the framework for external tools ( http://guides.dataverse.org/en/4.9.1/installation/external-tools.html ) perhaps someone from the community could work on adding this feature.

[2018-07-12 15:15] mheppler commented on #3341
When reviewing links that use icons, and no text, make sure to consider accessibility improvements, as suggested in _homepage: 508 / accessiblity follow-up #3748_.

[code]

[2018-07-12 15:33] sekmiller opened #4834 "DatasetPage limit calls to GetPrivateUrlCommand"
Currently the init method of the DatasetPage calls the getPrivateUrlCommand for every page load regardless of whether the user has permission to run the command. Permission errors are logged to the Action Log Record table causing some unnecessary noise. If we limit the calls to only those users who have ManageDataset permission we can reduce the noise.

[2018-07-12 15:43] pameyer commented on #4181
@mheppler - I'm still interested.

[2018-07-12 15:45] sekmiller opened #4835 "Writing to Action Log Record table fails when the dvObject name is "long""
On Dataset Page load, when the getPrivateUrlCommand fails due to a permission error a record is written to the Action Log Record table.  The Info column of the table is 1024 characters and we try to write something along the lines of:
:[15054 Firefox]  (Can't execute command edu.harvard.iq.dataverse.engine.command.impl.GetPrivateUrlCommand@415a97d8, because request [DataverseRequest user:[GuestUse

[2018-07-12 15:49] kcondon commented on #2492
@pdurbin While the Geoconnect readme does clearly start how to connect a dataverse installation to geoconnect, essentially by contacting support, I think the Dataverse documentation on Geoconnect is a little vague on the subject: http://guides.dataverse.org/en/4.9.1/installation/geoconnect.html

As of this writing, the README at https://github.com/IQSS/geoconnect recommends not installing Geoconne

[2018-07-12 15:54] matthew-a-dunlap commented on #4703
After discussing with @pameyer , my understanding is that this work does not include functionality to allow downloading of files uploaded via DCM S3. The end result of this work will be that the file-bundle is uploaded to a structured S3 bucket that dataverse is aware of. This will lay the foundation for the later download functionality.

[2018-07-12 16:49] kcondon commented on #3083
OK, I've added checkboxes to my list. Doc looks good, will check on files issues, and one remaining issue is doc how to specify pid in json. I tried using the sample file that was added but got this error:
{"status":"ERROR","message":"Please provide a persistent identifier, either by including it in the JSON, or by using the pid query parameter."}

[2018-07-12 17:35] matthew-a-dunlap commented on #4703
Here is some important info about Dataverse's batch file system jobs https://github.com/sbgrid/sbgrid-dataverse/wiki/INFO:-Batch-Job-Implementation https://github.com/sbgrid/sbgrid-dataverse/wiki/HOWTO:-Batch-Job-Testing#3-manual-tests .

Posting these here for future developers as well as myself. The functionality around this needs to at least be understood when implementing an s3 version of the

[2018-07-12 19:42] matthew-a-dunlap commented on #4703
Another facet: should we consider creating an actual package (e.g. tar/zip) to store on s3? AWS has per-file charges for getting/moving files around in buckets, and if we aren't providing the ability to download individual files in the dcm-dataset anyways, maybe we should consider actually zipping things up?

[2018-07-12 20:50] pdurbin commented on #4656
@mheppler and I just discussed the state of the code as of 2fcc12f and poked around where it is deployed at https://dev1.dataverse.org

We agreed that he's going to go ahead and make commits to fix the left-align, right-align, and styling items in the checklist above so I'll add him to this issue.

I'll leave myself on the issue for now. I will need to pick @sekmiller 's brain because Mike wants u

[2018-07-12 21:19] mheppler opened #4836 "Solr 7 - Highlighting"
[**Note:** this issue # has been changed to only capture highlighting. The information on search result older is being kept for historical reasons and future development]

I will preface this by saying I am searching production as a super user for the first time in a long while, so maybe I am not familiar with the type of results I should expect... that said...

When searching for ["murray" on pro

[2018-07-12 21:31] kcondon opened #4837 "DOI: Updating title in EZID doi metadata does not work properly."
Each time a dataset is published some fields, including title, author, root dataverse name as publisher, and publication date (publish year?) are updated. This works generally but title shows some strange behavior when updated by itself.

If original published title is title 1, then update it to title 2, publish, ezid shows title 1 but record was updated based on timestamp. If progress to title 3,

[2018-07-12 23:24] mheppler opened #4838 "Guestbook - Broken Datatset/File Pg UI"
A [support issue](https://help.hmdc.harvard.edu/Ticket/Display.html?id=264255) came in for a dataset on production that -- among other things -- had a broken Guestbook form at the bottom of the dataset pg (also discovered to be broken on the file pg as well).

Was able to replicate it on [dvn-build](https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi%3A10.5072%2FFK2%2FZYIAPY). Here i

[2018-07-13 01:57] oscardssmith commented on #3320
why are we closing this? It seems both easy and useful

[2018-07-13 02:31] pdurbin commented on #4812
#4332 is related, a fancier way to raise awareness that tests are failing that what is suggested above.

[2018-07-13 02:39] pdurbin commented on #4373
The "original file" download option is no longer available via the dataset above because worked on this issue: Make "download as original" disappear from download options, when there is no saved original. #4796

Here's how it looks now:

<img width="291" alt="screen shot 2018-07-12 at 10 34 33 pm" src="https://user-images.githubusercontent.com/21006/42669548-09431b40-8624-11e8-956a-f241cf6dd4fb.pn

[2018-07-13 02:41] pdurbin commented on #4365
@ffritze hi! There's a fairly massive refactoring of that Perl script going on in pull request #4805 and lost of details in #4764 if you'd like to check it out. Are you still interested in getting your change above incorporated in?

[2018-07-13 02:43] pdurbin commented on #4411
@mullaium are you all set? If so, can you please close this issue?

[2018-07-13 02:47] pdurbin commented on #4392
@lbigramUWI great, sorry for the extremely slow reply. Are you interested in making a pull request to add your tip to the Installation Guide? Or maybe you could write up an email to https://groups.google.com/forum/#!forum/dataverse-community about your fix? I'm trying to figure out when this issue can be closed. Thanks!

[2018-07-13 02:50] pdurbin commented on #4457
@gohsunee hi, I'm just wondering if you saw the question by @pameyer above.

[2018-07-13 02:56] pdurbin commented on #4449
@xibriz it was nice meeting you at the Dataverse Community Meeting last month! We spoke to @djbrooke about this a bit. I understand that you've already done all the work to get Norway's national auth service incorporated into the Java library we use in Dataverse. It's great to hear that nothing broke when you tested it.

[2018-07-13 03:01] pdurbin commented on #4442
@andrewSC thanks for reporting this issue. Did you figure out a solution? Did you end up removing those control characters?

[2018-07-13 03:13] pdurbin commented on #4475
@laertecchla are you still interested in a delete button for users? You might be interested in the " User accounts - should users be able to request deletion of their accounts?" thread at https://groups.google.com/d/msg/dataverse-community/nGVCS5L3vPk/GSjkx1-xCAAJ

[2018-07-13 03:15] pdurbin commented on #4480
@stevenmce yes, #4246 is where the "shopping cart" for the "Compute" button was introduced. It's a similar concept.

[2018-07-13 03:18] pdurbin commented on #4468
@lmaylein are you interested in making a pull request or do you have access to a developer who can? Making the change I suggested above would be pretty straightforward and I'd be happy to help coach someone on what to do.

[2018-07-13 03:20] pdurbin commented on #4000
Is #4464 a duplicate of this ticket?

[2018-07-13 03:21] pdurbin commented on #4464
We discussed #4000 this week and now I'm more convinced that this is the same issue. @nprasai can you please take a look and close this issue if you agree it's the same? Thanks!

[2018-07-13 03:22] pdurbin commented on #4563
@pkiraly thanks! Any news?

[2018-07-13 03:31] pdurbin commented on #4586
@chStaiger is the workaround I described above enough for you or are you still interested in a fix?

[2018-07-13 03:36] pdurbin commented on #4644
@gboeing hi! Now that fix for #4573 has been deployed to Harvard Dataverse, do you want to see if you can still reproduce this error?

[2018-07-13 03:39] pdurbin commented on #4715
@ross-spencer has your question been answered? If so, please feel free to close this issue. Or is there anything else you need for this issue?

[2018-07-13 03:41] pdurbin commented on #4707
@blavoie hi! Any updates? Is this still an issue for you?

[2018-07-13 03:43] pdurbin commented on #4698
@mdmADA thanks for reporting this issue. Have you tested it on more recent versions of Dataverse? As of this writing the latest version is 4.9.1.

[2018-07-13 03:46] pdurbin commented on #4690
@aries-strato thanks. Any news from your end? I'm wondering what the status of this issue is. Are you @sparrowjack63 interested in making a pull request?

[2018-07-13 03:49] pdurbin commented on #4747
@pkiraly thanks for following up on the discussion at https://groups.google.com/d/msg/dataverse-community/ao-zFwN_M0M/LDlfR3hfBQAJ by creating this issue.

[2018-07-13 03:50] pdurbin commented on #4729
@FASposito is your sysadmin back? Any news? 😄

[2018-07-13 03:52] pdurbin commented on #4716
@ross-spencer is this bug easy to reproduce? Can you please provide the steps?

[2018-07-13 03:54] pdurbin commented on #4769
@laulandn is there something you'd like us to fix in the code? Should this issue remain open? Were you able to figure out a workaround?

[2018-07-13 04:00] pdurbin commented on #4788
@PaulBoon I'm wondering if this should be a support ticket instead of a GitHub issue since it's specific to your data, one of your migrated datasets. If you like that idea you could try emailing support@dataverse.org

[2018-07-13 04:04] pdurbin commented on #4776
@laulandn is this issue something that someone like @nwoodward or another developer that's part of TDL would be interested in working on? I'm asking because I don't think it's an especially high priority for the dev team at IQSS.

[2018-07-13 04:05] pdurbin commented on #4774
@bricas have you been able to characterize this bug any further? Do you know how it can be reproduced?

[2018-07-13 04:29] pdurbin commented on #3320
@oscardssmith please feel free to make a pull request if you'd like.

[2018-07-13 05:47] ffritze commented on #4365
@pdurbin hi. At the moment I don't have the time to look at the pull requests you have mentioned. But I have to say that I have forgotten to do a pull request for my small changes of the install script. Yesterday I tried to installl a new instance of DV but found the install script still buggy. So I inserted my changes which I mentioned on the 7 Dec 2017 and it worked. So I would suggest that I wa

[2018-07-13 06:07] gohsunee commented on #4457
Thanks @pdurbin for the alert and @pameyer for your question. We recently experimented with customised metadata template (see https://doi.org/10.21979/N9/VTVWFJ metadata - 'Daoist metadata'). We could apply the same approach to provide CCDC metadata fields such as 'Identifier' eg. CCDC number, CSD number, CSD refcode, ICSD number and 'Compound name' eg. 'sulfadiazine' ).

[2018-07-13 06:09] FASposito commented on #4729
Hi Phil, Unfortunately he's still away. We're developing a new workflow in the meantime and will post the logs once we have them.

[2018-07-13 12:12] pdurbin commented on #3937
@danmcp @thaorell and I talked about rewriting parts of the installer in Python for #4764 but in the end we decided to go with the approach of splitting the somewhat large Perl script into two. Smaller scripts are easier to rewrite so maybe we'll just keep doing this? Opinions are welcome.

[2018-07-13 12:15] pdurbin commented on #2505
@mheppler while you're working on #4790 I wonder if you can comment on the current state of this old issue.

[2018-07-13 12:17] pdurbin commented on #1249
Are any actual users complaining about this? Does anyone care if we ever fix this or not? If not, we might want to consider closing it. Someone can come along in the future and open a new issue.

[2018-07-13 12:33] bricas commented on #4774
@pdurbin Unfortunately, I have no further information. It's also hard to reproduce as I was able to read my notifications, but my co-worker was not (and still cannot).

[2018-07-13 14:02] mheppler commented on #1249
Yes. I am going to remove the label and promise to consolidate this issue into a more comprehensive dataverse UI improvements issue.

There are some simple [CSS solutions](https://codepen.io/ojbravo/pen/YPJpXe) out there to consider when trying to solve this.

<img width="924" alt="screen shot 2018-07-13 at 10 00 55 am" src="https://user-images.githubusercontent.com/687227/42695559-bfeadf2c-8683-1

[2018-07-13 14:18] mheppler commented on #2505
Yes. Fixed (5240542d138259859f0743c98b2cac94eab67aa4).

Here is an example of the hardcoded links from the bundle, way back in Sep 2015.

[code]

Those have now been fixed.

[code]

[2018-07-13 14:18] #2505 closed

[2018-07-13 14:23] landreev commented on #4836
FWIW, the way I understand the issue, the fact that the superuser is seeing results different from regular users is NOT the main problem. (Admins/users with more permissions are supposed to see different search results by design).
The main issue is that our system of "bumping" certain hits up in the sort order - so that dataverses would appear first, then datasets, and then files - is no longer wo

[2018-07-13 14:50] mheppler commented on #4836
@landreev thank you for investigating and clarifying. :dataverseman: emoji

[2018-07-13 15:13] pdurbin commented on #4656
I just showed @sekmiller the screen recording above and he said he'd take a look. The branch is "4656-filetable-paginator". We also tried with no files selected and only clicking the "select all" checkbox results in "0 file(s) are currently selected".

[2018-07-13 15:43] pdurbin commented on #4836
Are we sure boosting isn't working under Solr 7? @matthew-a-dunlap wrote "Also, confirm the solr boosting is working as expected. I did a simple test, taking it out and putting it back, and it seemed to work." over at https://github.com/IQSS/dataverse/issues/4158#issuecomment-375406170 and he documented how to remove the boosting (if installations don't like it) in f90e00a.

[2018-07-13 15:47] pdurbin commented on #4828
@qqmyers I'm sorry to do this but can you either fix up pull request #4830 or make a new one that doesn't have the whitespace changes? It's difficult to see what you changed.

[2018-07-13 15:47] matthew-a-dunlap commented on #4836
I know when I did my test it was mainly to see if there was any impact. I did not have a great understanding of what the desired outcome was so I did not test deeply. I don't mind looking into this deeper but I won't be able to do so before my appointment today.

[2018-07-13 15:56] mheppler commented on #4836
I am quite sure that as a super user, I found it rather frustrating that the dataverse I was looking for by searching "murray" was four pages of results deep because [unpublished](Murray Research Archive) and [deaccessioned](https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/14800) datasets were being returned in the [top 10 results](https://dataverse.harvard.edu/dataverse/harvard

[2018-07-13 16:00] pdurbin commented on #4656
@sekmiller fixed the bug above in 45981b3 and he and I have resolved to stop calling that checkbox the "select all" checkbox because it's misleading. When a dataset has 42 files "select all" implied that all files will be selected. That's not what the checkbox does. It selects all the files that are visible on the current page. So if you want all the files on page 2 and 4, you navigate to page 2,

[2018-07-13 16:23] kcondon opened #4839 "Import API: Specifying the PID in json does not work."
Part of the original design for import/migration API was to allow specifying the PID in json rather than on the command line. Since it was not working, the text referencing it was removed from the doc, to be fixed and added back later. This ticket covers that work.

[2018-07-13 16:25] djbrooke commented on #4839
@michbarsinai - I'm assigning this one to you. I wanted to get the PR for #3083 merged in, and this was the remaining issue. Thanks for investigating!

[2018-07-13 16:47] pdurbin opened #4840 "API tests failing on phoenix server after 3083-support-migration-with-dois branch was merged"
Pull request #4606 (3083-support-migration-with-dois branch) was just merged and now the following tests in the API test suite are failing:

- DatasetsIT.testCreatePublishDestroyDataset
- DatasetsIT.testExport
- DatasetsIT.testExcludeEmail
- DatasetsIT.testPrivateUrl
- SwordIT.testCreateDatasetPublishDestroy
- SwordIT.testDeleteFiles

<img width="1552" alt="screen shot 2018-07-13 at 12 36 15 pm" s

[2018-07-13 17:03] mheppler commented on #4685
With the help of @scolapasta (java) and @pdurbin (git), I was able to get the language dropdown for the navbar converted over from a selectOneMenu form component, to a list of links, in the Bootstrap styling we had originally mocked up.

<img width="965" alt="screen shot 2018-07-13 at 12 49 21 pm" src="https://user-images.githubusercontent.com/687227/42704196-f70225d8-869c-11e8-879b-72b9b90c9acf.p

[2018-07-13 17:09] mheppler commented on #4685
NOTE: This branch will most likely need to be updated with `develop`, as well as have some documentation added, before it is ready for QA. I can take care of those next week while, either as part of the revisions from the review, or before the review gets started. Just wanted to get this code into GitHub while it was still warm and fresh! 🍰 😎

[2018-07-13 17:13] pdurbin commented on #4840
Interesting. On the same commit ( 06b5e92 ), I cannot reproduce any of these failures in docker-aio. The test suite passes. The investigation should focus on why we are seeing failures above on the phoenix server.

[2018-07-13 17:33] mheppler opened #4842 "Status Message - Improve UI"
While reviewing the new navbar language toggle contributed by community developer @JayanthyChengan, the design team determined that the `:StatusMessageHeader` label, which displays just to the right of the Dataverse branding, will need to be moved in order to improve it's ability to communicate messages, as well as clear out a lil more real estate for the new navbar link.

<img width="965" alt="sc

[2018-07-13 17:33] mheppler commented on #4685
Also, created a new issue, _Status Message - Improve UI #4842_, to give the new navbar language dropdown a lil more real estate to work with.

[2018-07-13 18:00] laulandn commented on #4776
We have about 20 members in our consortium, and this affected only two of them, so we've solved it by not attempting to separate "Texas A & M Galveston" from "Texas A & M" (parent of A &M System) users.

The trick is that there are a good handful of other A & M System member universities that have their own authentication system...so far the Galveston branch is the only one that doesn't.

So unles

[2018-07-13 18:01] laulandn commented on #4769
I think ulitmately I really need a good way for the admin to delete "extra" users (or ones that used an undesired auth method) from the user management dashboard. This is https://github.com/IQSS/dataverse/issues/4475

The problem is that I've had to use the api call to remove the "extra" oauth user (so they can then log in using shibboleth).  It will fail if items are owned, so I then have to dele

[2018-07-13 18:02] pdurbin commented on #4819
Pull request #4606 was just merged and now pull request #4807 has merge conflicts that should be resolved before this is QA'ed.

Also, I thought of an idea of how to maybe test this issue while DataCite is up. We could retest #3328 by putting an `&nbsp;` in a dataset description to see if we get a better error for the user than "PublishDatasetCommand@2e107f1d failed: null" or whatever.

[2018-07-13 18:04] pdurbin commented on #4044
Pull request #4606 was just merged and now pull request #4817 has merge conflicts that should be resolved before this issue is QA'ed.

[2018-07-13 18:06] pdurbin commented on #1515
Related: #4776

[2018-07-13 18:07] pdurbin commented on #4776
@laulandn cool. Do you want to close this issue, then? We're hovering at 808 open issues at the moment. 😄

We can always open it up again or open a new one in the future when there's time to work on a solution. For now I've added a link to #1515 back to this ticket because that's the one that I'd probably refer to when it comes to more specific shib groups.

[2018-07-13 18:18] #3083 closed

[2018-07-13 18:29] laulandn commented on #4776
Yep, go ahead and close it...one less!

[2018-07-13 18:29] pdurbin commented on #4776
Thanks! Closing!

[2018-07-13 18:29] #4776 closed

[2018-07-13 18:34] pameyer commented on #4840
changes to `scripts/database/drop-all.sh` suggested possible cleanup issues; repeating runs of `run-test-suite.sh` with same container in docker-aio suggested this was less likely (aka - continued to pass).

[2018-07-13 18:41] #4770 closed

[2018-07-13 18:41] pdurbin commented on #4840
@pameyer thanks. I don't think it's that drop script because phoenix doesn't use it.

What's actually failing is `DestroyDatasetCommand` and locally (not commited) I'm playing around with disabling the cleanup of datasets that were created by tests. Not a great solution, but having the test suite pass is more important to me that the cleanup.

One difference between phoenix and docker-aio is that

[2018-07-13 18:46] sekmiller commented on #4840
I'm running DataCite locally and I'm seeing failing tests in DatasetsIT on Destroy Dataset.
DataCite recently changed the way they mint (or not mint) DOIs in their test environment (10.5072/FK2) IT may have something to do with it. I'll take a closer look.

By the way I was fine until I got the latest from DEV with 3083.

[2018-07-13 18:53] pdurbin opened #4843 "Regression: datasets can no longer be destroyed when using DataCite (rather than EZID)"
Pull request #4606 was just merged an a regression was introduced such that datasets can no longer be destroyed if you are using DataCite rather than EZID as your DOI provider.

I'm on commit 06b5e92

The dataset I created has a file:

![screen shot 2018-07-13 at 2 49 16 pm](https://user-images.githubusercontent.com/21006/42708666-f38f3c2e-86ab-11e8-89f5-80088570ee1b.png)

Here's the command to de

[2018-07-13 18:54] pdurbin commented on #4840
@sekmiller yes, I'm quite sure that merging pull request #4606 lead to the regression. I just opened #4843 specifically about no longer being able to destroy datasets when using DataCite rather than EZID as your DOI provider.

[2018-07-13 19:43] pdurbin commented on #4843
I just created pull request #4845 and put it into code review at https://waffle.io/IQSS/dataverse

I've been discussing the problem a bit with @sekmiller

@michbarsinai and @scolapasta can you please take a look? This regression was introduced by pull request #4606

[2018-07-13 19:44] kcondon opened #4846 "Validation: Dataverse name does not check for special chars, no specific msg when blank."
While testing validation message to bundle ticket #3980, found what appears to be previously broken functionality:

1. src/main/java/edu/harvard/iq/dataverse/Dataverse.java
most required fields when saved blank show field-specific error msg except dataverse name, when it appears the logic is there in the code, just not called. Also, validation on that field checks for special chars but that also d

[2018-07-13 19:47] pdurbin commented on #4840
I just made a pull request for #4843 which I think will resolve this issue as well. I guess I'll just sit on the other issue has been merged.

[2018-07-13 20:00] sekmiller opened #4847 "Create Dataset Command fails when a Template is used (after after 3083-support-migration-with-dois branch was merged)"
The postPersist method in the Create Dataset Command tries to increment the template usage count but fails with the null pointer exception.

Stack trace was not particularly helpful:

Warning:   Local Exception Stack:
Exception [EclipseLink-69] (Eclipse Persistence Services - 2.5.2.v20140319-9ad6abd): org.eclipse.persistence.exceptions.DescriptorException
Exception Description: A NullPointerExcept

[2018-07-13 20:06] pdurbin commented on #4044
Ok, merge conflicts resolved in c616686. @oscardssmith see the commit message for what was in conflict.

While I have this branch loaded up I tested https://github.com/IQSS/open-source-at-harvard/blob/master/data/2017-07-31.tsv and it wasn't ingested. I'm not sure why.

[2018-07-13 20:44] pdurbin commented on #4819
Nope, as of 90daeb5 at least, you still get an ugly "Error – Command edu.harvard.iq.dataverse.engine.command.impl.FinalizeDatasetPublicationCommand@56ebb36a failed: null" like this if you put an `&nbsp;` in a dataset description:

![screen shot 2018-07-13 at 4 33 38 pm](https://user-images.githubusercontent.com/21006/42712818-18c1cbec-86bb-11e8-9a9d-4b5a4e6b24a7.png)

![screen shot 2018-07-13 at 4

[2018-07-13 21:04] kcondon commented on #4846
These messages are at the object level, not page level, which are handled separately.

[2018-07-13 21:04] #4846 closed

[2018-07-13 21:12] #3980 closed

[2018-07-13 21:48] kcondon commented on #4044
@oscardssmith , I assume ingesting a csv file, downloading as .tab, renaming to .tsv, then ingesting again should work? So far, no luck. I'm going to try with a simpler file I created myself.

[2018-07-13 21:51] landreev commented on #4676
What is the deal with the "isLabled" filed in the DataVariable entity?
If I build from this branch, but try to deploy using an existing database, ingest stops working  - because my "datavariable" table does not have the column "islabled"; so our normal procedure is to provide a db upgrade script... I've checked it in -  scripts/database/upgrades/upgrade_v4.9.1_to_v4.9.2.sql:
[code]

But, could you

[2018-07-13 22:38] kcondon commented on #4378
@matthew-a-dunlap I've just tried using the elisabeth.json file we used as a prov file during initial testing and that comes back as invalid. Is this a problem and is there a valid one to use?

[2018-07-13 22:46] landreev commented on #4676
I like the idea of using this R package (haven) for directly converting the saved stata and spss files into RData frames.
But there are some issues that need to be addressed.
But there are some issues that need to be addressed. First of all, this package needs to be installed on the R server that the dataverse instance is configured to talk to. (It's not one of the standard packages that come with

[2018-07-13 22:49] gboeing commented on #4644
@pdurbin just checked it out, and I now cannot delete any files from my draft dataset, even one at a time. I get this error message:

![capture](https://user-images.githubusercontent.com/4977197/42717184-2dd0c8aa-86b4-11e8-90cc-07204f0e4e3a.PNG)

[2018-07-13 22:49] oscardssmith commented on #4676
The idea behind this is (if I've implemented it right) is that with this change, we are considering stata and spss lacked data as a distinct concept from R factors. that said, neither it, nor `iscategorical` are ever used with either of these types, so I'd be happy to nix this change.

[2018-07-13 22:52] pdurbin commented on #4644
@gboeing bah! I'm guessing there's something wrong it the database or something. Not to alarm you. I'm sure it can be fixed somehow. I'm not sure that this is a code issue. More of a data issue, like I'm saying. Can you please click that "Harvard Dataverse Support" link in the screenshot and report this? Please provide the DOI of your dataset. You should get an email back with a support ticket num

[2018-07-13 22:52] oscardssmith commented on #4044
the extension should be tsv, but it might, and arguably should work for both.

[2018-07-13 22:54] oscardssmith commented on #4044
it may not be working because the downloaded one we provide is missing the header, which we need to ingest.

[2018-07-13 22:57] pdurbin commented on #4365
@ffritze that's fine. At this point, yes, it would be best for you to wait until #4805 have been merged before you make your own pull request with your fix for the port. Thanks for your patience. Do you mind changing the title of this issue to something about the postgres port? Thanks!

[2018-07-13 22:59] landreev commented on #4676
Another issues is with the tab files that are not ingested from either Stata or SPSS.
If I'm reading the code correctly, it appears that if the saved original is a dta, sav or por file, we transfer the file to rserve and call a direct haven read_* method on it; but it will just fail is the original format is Excel or csv.
It seems like for these cases it would be wise to keep the old way of genera

[2018-07-13 23:02] gboeing commented on #4644
@pdurbin I tried to fill out the ticket, but I'm not sure if it submitted successfully or not. The window just disappears when I hit "send message" and I haven't received a confirmation email. Also, the ticket window has a challenge question with a required answer, but I have no clue what it's asking me because it just says "+=". I entered "0" as my response.

![capture](https://user-images.github

[2018-07-13 23:03] pdurbin commented on #4457
@gohsunee yes! I remember seeing your "Daoist" custom metadata block. It's great that you've figured out how to create them. I think the question @pameyer was asking is if there is a URL to the metadata standard you're talking about? I just took a quick look at https://www.ccdc.cam.ac.uk and happened to see a tweet at https://twitter.com/ccdc_cambridge/status/1008699962094424069 to find my way to

[2018-07-13 23:04] pdurbin commented on #4729
@FASposito no rush! Thanks! Have a good weekend!

[2018-07-13 23:05] pdurbin commented on #4774
@bricas no problem. This relatively new API endpoint may or may not help you and your co-worker troubleshoot: http://guides.dataverse.org/en/4.9/api/native-api.html#get-all-notifications-by-user

[2018-07-13 23:06] landreev commented on #4676
There is also the case specific to our production (and maybe to one or two particularly old external installations, such as Odum): we have a limited number of ingested tabular files for which we don't have the saved originals/don't have the original format preserved at all. The files in question were grandfathered from something called "VDC" - the dinosaur ancestor of the Dataverse application. So

[2018-07-14 00:01] pdurbin commented on #2669
Related: #4835

[2018-07-14 01:03] pdurbin commented on #4644
@gboeing yikes. Can you please try emailing support@dataverse.harvard.edu instead? It goes to the same ticketing system. Meanwhile, you seem to have found another bug. 😞

[2018-07-14 08:53] philippconzett opened #4848 "Alphabetical sort of dataset templates in pull-down menu"
For user convenience, please apply alphabetical sort of dataset templates in pull-down menus; cf. screenshot:

![image](https://user-images.githubusercontent.com/21955790/42722868-0c644502-8754-11e8-8ae1-38040026409d.png)

Best,
Philipp (DataverseNO)

[2018-07-14 18:58] gboeing commented on #4644
Email sent. ID # 264343.

[2018-07-14 22:34] pdurbin commented on #4644
@gboeing thanks! Yes, I can see it in the ticketing system. I'm going to close this out. Thanks for your patience.

[2018-07-14 22:34] #4644 closed

[2018-07-15 15:01] gohsunee commented on #4457
Thanks @pdurbin and @pameyer! yes, it's indeed the core cif at https://www.iucr.org/resources/cif/dictionaries/cif_core ! Any chances of it being included as one of the ready-to-use Dataverse templates?

[2018-07-15 18:32] michbarsinai commented on #3083
One summery note on this: the automated integration tests ("docker-aio") were a crucial part of  making sure this rather wide refactoring works. Kudos to @pdurbin for creating and maintaining them, and to @djbrooke for deciding we make sure they all pass before proceeding to manual testing.

[2018-07-15 18:53] matthew-a-dunlap commented on #4378
@kcondon Turns out a few of the prov files we used before are actually invalid based upon the schema. Here is a valid sample (I had to zip it to upload):

[provout.json.zip](https://github.com/IQSS/dataverse/files/2196004/provout.json.zip)

[2018-07-15 18:55] matthew-a-dunlap commented on #4378
Note that I updated the branch since Friday. Caught an exception when the json is invalid. Also merged in develop.

[2018-07-15 18:56] matthew-a-dunlap commented on #4378
Lastly: The unit tests for the json validation are pretty slow, we may want to comment out the annotation that has them run on build as it's a fair bit of slowdown.

[2018-07-15 21:39] matthew-a-dunlap commented on #4836
I spent a bit of time investigating the solr highlighting issue. We had punted on it during the upgrade because the problems seems amorphous and we didn't want to hold up the release.

The highlighting is on in some form, but weird and inconsistent. For example, the words "test" and "test1" get highlighted in the description, but "Murray" and "murray" do not. "murrayz" does though. Maybe a diction

[2018-07-16 00:33] pdurbin commented on #4457
@gohsunee are you interested in making a pull request? Someone has to create the tsv file like the ones at https://github.com/IQSS/dataverse/tree/v4.9.1/scripts/api/data/metadatablocks

[2018-07-16 10:05] rmo-cdsp commented on #4133
Woaw, sorry for the delay ! Thanks for the answer (and the update). In my case, I would say it is to test the rights the person applied to a dataverse, to be sure that no mistakes were made during the edition.

[2018-07-16 10:32] pdurbin commented on #4133
@rmo-cdsp is there other software that has something like this?

[2018-07-16 10:40] rmo-cdsp commented on #4133
@pdurbin The first thing that comes to my mind in the option "see page as" that facebook has. This allow you to look at your profile page as a friend or a guest, for example, and have an idea of what is available to who.

Just in case, the main idea of this issue comes from a user of our dataverse, I'll try to ask this person to chat here directly, in case it might helps ;)

[2018-07-16 12:03] PaulBoon commented on #4788
Sorry, I missed the empty releasetime in the datasetversion table, so it is indeed a migration issue.

[2018-07-16 12:03] #4788 closed

[2018-07-16 13:24] bricas commented on #4774
Here's what I get back for a user that can't use the web interface:

`{"status":"OK","data":{"notifications":[{"id":65,"type":"PUBLISHEDDS"},{"id":54,"type":"ASSIGNROLE"},{"id":39,"type":"ASSIGNROLE"},{"id":34,"type":"PUBLISHEDDS"},{"id":31,"type":"ASSIGNROLE"},{"id":28,"type":"REQUESTFILEACCESS"},{"id":25,"type":"REQUESTFILEACCESS"}]}}`

[2018-07-16 13:50] pdurbin commented on #4774
@bricas ok, it's probably id 28 or 25 since those are for "REQUESTFILEACCESS". Or both. Or maybe if you delete one you'll see an error for a different type.

[2018-07-16 13:56] pdurbin commented on #4819
I pulled this issue out of QA because the merged conflicts above need to be resolved before testing.

[2018-07-16 13:58] sekmiller commented on #4847
Fixed the template usage increment method in the template service bean. Also, put in error handling so that if the increment fails for any reason the dataset will still be created and a note will be sent to the log.

[2018-07-16 14:04] pdurbin commented on #4826
@thaorell thanks for making pull request #4850. I just approved your one line change (I'm not sure why that "VOLUME" line is in there anyway) but standup is in about an hour and I'll invite others to take a look if they want to.

[2018-07-16 14:06] pdurbin commented on #4257
Last week @jggautier indicated he's interested in trying something on a running server with the openaire branch on it. This morning I pinged @juancorr at http://irclog.iq.harvard.edu/dataverse/2018-07-16#i_70126 and he's going to set up a server for testing soon. Thanks!

While I'm writing, any news, @abollini ?

[2018-07-16 14:08] pameyer commented on #4826
The VOLUME line exports that directory to persistent storage; the failure is probably because of a uid/gid mismatch between the filesystem and the glassfish user.

[2018-07-16 14:12] thaorell commented on #4826
@pameyer  that's exactly what happened.

[2018-07-16 14:23] pameyer commented on #4826
@thaorell this might be a naive question, but will removing the VOLUME instruction mean that restarting the glassfish container will lose any user uploaded files?

I'd assume that the StatefulSet directives might cover this, but didn't see a filesystem path there

[2018-07-16 14:33] pdurbin commented on #4847
Pull request #4849 looks good. It makes sense not to blow up completely and prevent users from creating datasets simply because the usage count for the template can't be updated. While we're looking at this I wonder how important that "usagecount" column on "template" table is. I assume it provides value to someone or used to. Maybe if you went to the trouble of setting up a bunch of templates you

[2018-07-16 14:33] bricas commented on #4774
It worked after I cleared them both. I tried just number 28 first, but no luck. Here's what the users's notifications looked like, pre-delete:

[code]

[2018-07-16 14:34] mheppler commented on #4836
Thanks for the input @matthew-a-dunlap. I have added highlighting to the issue title. We need this feature back. The combination of the two problems makes for some confusing results.

[2018-07-16 14:38] pdurbin commented on #4774
@bricas great! How do you feel about closing this issue? Is there any more you need?

[2018-07-16 14:39] djbrooke commented on #4836
Thanks for the investigation!

Note to self for backlog grooming, we should estimate this with and without the highlighting piece and consider smaller batches. I'm OK with no highlighting (I made the call to not include it earlier and we haven't heard any feedback aside from @mheppler) but I'm not OK with no boosting.

[2018-07-16 14:50] bricas commented on #4774
Well -- why did this happen? Can it happen again?

[2018-07-16 14:56] pdurbin commented on #4774
@bricas good questions. I'm not sure. Do you think you'd be able to reproduce the scenario above? Would you like something in the admin guide about the SQL query you figured out? Would you like a dashboard for a superuser to see if there are any errors with regard to notifications and the ability to delete them. I'm just throwing ideas out there. Before we can estimate an issue, we need to have a

[2018-07-16 15:00] pdurbin commented on #4044
@oscardssmith and I have been taking about this issue this morning. It's not ready for QA. I did end up botching the merge conflict resolution on Friday so I just created a branch called "4044-tsv-ingest2" so we can try again if we want to put that branch through QA instead.

I did notice a small bug or at least shortcoming. I was able to ingest `scripts/issues/2595/numconnacquired.tsv` but it doe

[2018-07-16 15:07] mheppler commented on #4790
Added back `<f:param value="#{navigationWrapper.redirectPage}"/>` that was needed for log in link. The original change for #4583 should have only been applied to the Sign Up links, but it was mistakenly applied to the Log In links as well.

Applies to:
- "Add Data" button on datavese pg
- "Request Access" buttons on dataset pg (table header and table row)
- "Request Access" button on file pg

[2018-07-16 15:08] pdurbin commented on #4044
Adding `text/tsv=tabulardata` below `text/tab-separated-values=tabulardata` in `src/main/java/MimeTypeFacets.properties` and uploading a new file fixes the facet bug above but I'm not sure if we should have both forms or replace the former with the latter.

[2018-07-16 15:12] bricas commented on #4774
I'm unsure as to what went on to create the issue in the first place, honestly.

If the errors were for "REQUESTFILEACCESS" notifications, does this mean it's trying to get info from an object that no longer exists?

If that's the case, then any notifications for objects that don't exist should either just disappear or the notification should already have the info so it can be displayed without ex

[2018-07-16 15:14] landreev commented on #4676
A couple more things:
Generally, it makes perfect sense, to want to use a piece of software written in R, by R programmers, and specifically for the purpose of converting foreign formats to RData. Rather than writing and maintaining code in R ourselves, which is not our strongest point.
Whoever, there's one potential issue with this approach: the above is only true for the tabular ingest as it is

[2018-07-16 15:14] pdurbin commented on #4774
@bricas that makes sense. If you're looking for a test environment, you're welcome to use https://demo.dataverse.org

[2018-07-16 15:15] landreev commented on #4676
And also, I'm glad to see that you are also addressing this on ingest.
But, just wondering, why did you decide to use "Label5" for the value 5, when no label is provided - as opposed to just "5"?

[2018-07-16 15:39] danmcp commented on #4826
@pameyer This is a good question.  The answer is that we haven't done any of the work necessary to keep state long term.  The remaining work is to add persistent volume claims to the template to specify which containers need persistent storage (which I think is all of them).  We haven't done so yet because it typically means knowing something about the environment you are deploying into.  This mig

[2018-07-16 15:56] matthew-a-dunlap commented on #4378
@jacksonokuhn After implementing [schema](https://www.w3.org/Submission/2013/SUBM-prov-json-20130424/schema) validation for the prov json, I have been unable to find almost any example in the wild that passes the validation. We are curious what your (and maybe Matt's) take on it is. My assumption in in the end is that we need to be strict about the schema because that's what gives it value, but ma

[2018-07-16 15:58] TaniaSchlatter commented on #4836
Is there a description of what "working as expected" is that we can use for a baseline shared understanding, and to make judgements against?

[2018-07-16 17:10] jacksonokuhn commented on #4378
Where are you drawing examples from? I’m curious which tools in particular are responsible for the JSON that isn’t working.

[2018-07-16 17:23] pameyer commented on #4826
@danmcp @thaorell deferring until working on keeping state long term sounds good to me.

[2018-07-16 17:47] matthew-a-dunlap commented on #4378
@jacksonokuhn To be honest it was a pretty chaotic round of google searches. I pulled a fair number off https://www.hl7.org/ . If there are specific systems we know to be generating valid prov I'd like to know as well!

[2018-07-16 17:51] matthew-a-dunlap commented on #4378
@jacksonokuhn I think the main thing our group is looking to understand is whether we should be strict with enforcing the schema, and if not how should we be more lax

[2018-07-16 18:05] sekmiller commented on #4790
Looks good. Moved to QA.

[2018-07-16 18:21] jacksonokuhn commented on #4378
my general feeling is that we should err on the side of relaxedness, but if
all the example stuff I've given you so passes, that's a good sign

On Mon, Jul 16, 2018 at 2:05 PM, matthew-a-dunlap <notifications@github.com>
wrote:

[2018-07-16 18:22] jacksonokuhn commented on #4378
I should honestly just take a look at the validation code though

[2018-07-16 18:50] pdurbin commented on #4811
I just made pull request #4852 and moved this issue to code review.

[2018-07-16 18:57] pdurbin commented on #4718
I just made pull request #4853 and will move this to code review.

[2018-07-16 19:17] matthew-a-dunlap commented on #4378
@jacksonokuhn The code really just checks the schema against the json, nothing more. We felt that we should apply some strictness on intake of the provenance, otherwise we may end up with a lot of data that has no use.

[2018-07-16 19:38] jacksonokuhn commented on #4378
that's fair. it might be fair to relax the schema though. I'll think about
the right way to do that

On Mon, Jul 16, 2018 at 3:17 PM, matthew-a-dunlap <notifications@github.com>
wrote:

[2018-07-16 19:47] landreev commented on #4676
Re: documentation: there's a section in the API guide, "Basic File Access" that mentions download as R:
RData | Tabular data as an R Data frame (generated; unless the “original” file was in R);
this is probably a good place to explain how these RData files are generated.

[2018-07-16 19:57] pameyer opened #4855 "what (doctype) does dataverse want to be?"
One (of several) things w3c's vnu html validator is unhappy about is that the doctype of generated JSF pages appears to be confused.  More specificly, the doctype is declared as `<DOCTYPE html>` (indicating HTML5); but several pages include XML headers/instructions (`<?xml version="1.0" encoding="UTF-8"?>`, suggesting an XHTML variant.

- [ ] Decide if the DOCTYPE should be one of the XHTML varian

[2018-07-16 21:12] #4220 closed

[2018-07-16 21:40] #4219 closed

[2018-07-17 10:30] pdurbin commented on #4788
@PaulBoon no problem and thanks for closing this issue.

[2018-07-17 10:37] pdurbin commented on #4468
@lmaylein oh, I thought you wanted to set head.meta.description once for the whole installation. That, to me, would be good progress, just to have the text **not** be hard coded, to have the text be about your installation of Dataverse, rather than being about the project. Now you seem to be saying that the text would vary based on where in the tree of dataverses one has navigated to. Do keep in m

[2018-07-17 10:40] pdurbin commented on #4593
@janetm hi! I'm realizing that your questions above were asked before the Dataverse community meeting. Did you get answers then?

@rmo-cdsp what's your status, please? Still interested in maybe making a pull request some day?

[2018-07-17 11:52] rmo-cdsp commented on #4593
@pdurbin I intend to work on this feature during next weeks, had no time available before that.

[2018-07-17 12:25] LauraHuisintveld commented on #3661
We at DANS now encounter the same error that @shlake reported in November.
When you delete files from a dataset, and click publish to create a new version, the files in the older version are not downloadable any more and URL's seem wrong. (We are using version 4.8.6)

I assume that no separate issue has been created in the mean time, because I do not see it linked here. Is that because a solution

[2018-07-17 13:53] pdurbin commented on #4593
@rmo-cdsp great! When you're ready to begin, please let us know and we'll move this issue into the new "Community Dev" column at https://waffle.io/IQSS/dataverse

![screen shot 2018-07-17 at 9 52 56 am](https://user-images.githubusercontent.com/21006/42821748-464d16ae-89a7-11e8-8395-6637e68818ea.png)

[2018-07-17 13:56] pdurbin commented on #3661
@LauraHuisintveld how do you feel about trying to reproduce the download problem on https://demo.dataverse.org which is running 4.9.1?

(Also, the wrong URLs were fixed in #4308 in version 4.9.)

[2018-07-17 14:00] lmaylein commented on #4468
@pdurbin I wasn't sure if a temporary solution really is okay because of the problem described by @mheppler

Maybe a dataverse without any description could inherit it from a parent dataverse? Or we could suppress the meta tag if there is no description?

I thought it could even be easier to use the same template variable for the description within the meta tag and within the displayed description

[2018-07-17 14:10] pdurbin commented on #4468
@mheppler is thinking holistically, which is extremely valuable. I'm thinking about the smallest change possible to get the description of the Dataverse project out of head.meta.description. I mentioned how no matter which installation of Dataverse I link to in Slack, I always see the description of the project, like this:

<img width="547" alt="screen shot 2018-07-17 at 10 08 25 am" src="https://

[2018-07-17 14:32] pdurbin commented on #4762
From discussion at http://irclog.iq.harvard.edu/dataverse/2018-07-17 we might want to watch https://www.youtube.com/watch?v=PC8mYweMgV4&t=434s

[2018-07-17 14:39] mheppler commented on #4829
I was looking into this issue, and it seems that the solution is most likely in the backend logic. The HTML could be optimized though. Here is how the message gets to the page from `dataset-license-terms.xhtml`.

[code]
A better way to write that would be to put conditional render logic into one component, as opposed to two.

[code]

In addition to a render logic fix that takes into account that t

[2018-07-17 14:43] JayanthyChengan opened #4856 "Update French property files"
Our ScholarsPortal team would like to add french property files into Dataverse code repository.  And in future, any new terms added to English property files will be translated to French and keep in Sync with Dataverse codebase.  Thanks

[2018-07-17 14:54] pdurbin commented on #4765
@thaorell @pameyer and I have been discussing this issue at http://irclog.iq.harvard.edu/dataverse/2018-07-17 and heard that @tkmonson is working on it, so I dragged it to the new "Community Dev" column at https://waffle.io/IQSS/dataverse

@thaorell emailed me some slides from a recent talk he and @tkmonson gave and said it's ok to upload them to this issue: [Dataverse Lunch Talk.pdf](https://gith

[2018-07-17 14:56] pdurbin commented on #4856
@JayanthyChengan thanks for making pull request #4857. It's just translation files, no risk to the app, so I'm moving it to QA.

[2018-07-17 15:09] mheppler commented on #4856
Quick Draw Durbin gave this an approval before I could a single comment into my review. Trying to look at this in a little more depth than a superficial 5 min glance. Moving out of QA and adding comments to the PR in the "Files changed" view.

[2018-07-17 15:12] pdurbin commented on #4822
I just created pull request #4858 and moved it to code review at https://waffle.io/IQSS/dataverse

[2018-07-17 15:16] landreev commented on #4753
@kcondon IMO, we should just go ahead and merge this PR as is. Because Don's changes appear to be working as advertised - you can follow them to configure Dataverse/TwoRavens combo to work with R 3.5,*when running CentOS/RedHat 7*.
Tinkering with our test servers that are still running RH6 however, I discovered building all the packages that TwoRavens needs, under R 3.5, is still problematic. To t

[2018-07-17 15:19] donsizemore commented on #4753
agree to prefer R-3.4. Jon ran into missing variable metadata in Data Explorer on Friday, and happened to be hitting our one R-3.5 service. I pointed that Dataverse instance at an older, 3.4 R server: everything was good.

[2018-07-17 15:42] scolapasta commented on #4811
This is a good start, but only blocks certain characters and would need to be updated for others. Let's take the opposite approach and define what we allow and make sure PIDs parse that way. (and when some group says they need us to allow something else, we can consider adding it to what is allowable).

[2018-07-17 15:55] landreev commented on #4753
@donsizemore I was about to ask you to confirm that everything was actually working for you properly, specifically, TwoRavens, once you have upgraded to R 3.5... The fact that you saw some problems with Data Explorer (its needs are much simpler than those of TwoRavens) is a bit alarming.

Did you try and rebuild all the 3rd party R packages? (this is the r-setup.sh step in our installation guide).

[2018-07-17 15:58] donsizemore commented on #4753
@landreev post RPM upgrade, I did try to rebuild all packages in place (though I didn't explicitly run the r-setup.sh script, just kept calling update.packages() as root in R. I also tried a clean 3.5 install. Odum is sticking with 3.4 until we can get a better handle on what's going on.

[2018-07-17 16:02] pdurbin commented on #4840
As I mentioned at standup today, this issue is still blocked by the pull request for #4843.

[2018-07-17 16:17] jggautier opened #4859 "Spike: Investigate how Dataverse stakeholders and users need to collect and use funder metadata"
In Dataverse 4.x Citation metadatablock, in the Contributor metadata field, there's a "Funder" contributor type:

<kbd>![screen shot 2018-07-17 at 11 33 30 am](https://user-images.githubusercontent.com/18374574/42827868-60382514-89b5-11e8-9807-cee392a43552.png)</kbd>

The "Funder" type comes from DataCite's list of contributor types, added in their 3.x schema. I think we should remove the contribu

[2018-07-17 16:26] landreev commented on #4753
OK, so it sounds like we are not merging this PR for now.

BTW, did you downgrade to R 3.4, or did you simply have a 3.4 installation preserved on some server(s)?
I seem to have the older, 3.4 epel rpms preserved. But they likely require extra dependencies that are no longer available on epel. (though Harvard may have a local mirror of an older epel snapshot, that was providing 3.4)

[2018-07-17 16:30] donsizemore commented on #4753
@landreev We happened to have 3.4 servers preserved. Probably the safest thing to recommend is that new instances compile 3.4 from source (only my opinion, others may have a better experience with 3.5).

[2018-07-17 16:41] lmaylein commented on #4468
This is the part of dataverse.xhtml which is responsible for the description display:
[code]
Wouldn't it be a very small change to use something like
[code]
within dataverse_template.xhtml instead of
[code]

[2018-07-17 16:47] landreev commented on #4753
OK.
I've just taken another shot at rebuilding all the required libraries explicitly, under R 3.5, and was more successful this time around. Will report on whether TwoRavens and/or Data Explorer are working properly...

[2018-07-17 16:47] pdurbin commented on #4856
@JayanthyChengan @mhvezina not a big deal but two additional bundle keys were recently added in pull request #4808 if you'd like to go ahead and add them as well. To be clear, I'm fine with merging your pull request as-is but I thought I'd mention this. The translations are always going to lag behind the "develop" branch a bit because that the branch we merge pull requests into.

[2018-07-17 16:50] pdurbin commented on #4468
@lmaylein you're right. That would be a nice small change. Do you want to go ahead and make a pull request for this?

[2018-07-17 16:54] landreev commented on #4753
@donsizemore Predictably, I can't install your rapache-1.2.9_R-3.5 rpm on a RH6 system. Could you share the spec file you used to build it? - I'd like to try and build a RH6 version... Thanks!

[2018-07-17 17:03] pdurbin commented on #4656
I put the latest code (63efaf5) on https://dev1.dataverse.org and @TaniaSchlatter @jggautier @djbrooke @scolapasta @mheppler @dlmurphy and I just talked through the current state during a design meeting. Here's a screenshot:

<img width="790" alt="screen shot 2018-07-17 at 1 02 29 pm" src="https://user-images.githubusercontent.com/21006/42833305-b7f1e2ca-89c1-11e8-9757-c9bc8227f451.png">

@mhepple

[2018-07-17 17:14] donsizemore commented on #4753
[rapache.spec.txt](https://github.com/IQSS/dataverse/files/2202657/rapache.spec.txt)
@landreev attached!

[2018-07-17 17:27] #568 closed, assigned to nobody

[2018-07-17 17:35] #4790 closed

[2018-07-17 17:39] jggautier commented on #1970
When Dataverse implements metrics using Make Data Count's standard (https://github.com/IQSS/dataverse/issues/4821), the usage metrics will include citation counts. Since citation counts will be involved in that discussion, I'm going to close this issue.

[2018-07-17 17:39] #1970 closed

[2018-07-17 17:51] pdurbin commented on #4829
I just created pull request #4860 and moved this issue to code review at https://waffle.io/IQSS/dataverse

[2018-07-17 18:01] CCMumma opened #4861 "JHove documentation"
As I mentioned on the Community call today, a librarian at UT Austin is working on the Core Trust Seal documentation gathering for the TDR Dataverse and noticed that JHove documentation is lacking in the current user-facing docs.

Thanks,
Courtney C. Mumma
Deputy Director, Texas Digital Library

[2018-07-17 18:31] #4843 closed

[2018-07-17 18:45] pdurbin commented on #4840
Now that pull request #4845 has been merged (the one for #4843), the API test suite is passing again on the phoenix server so I'm closing this issue. Here's a screenshot from https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/ (blue means passing):

![screen shot 2018-07-17 at 2 43 09 pm](https://user-images.githubusercontent.com/21006/42838898-f6a8955a-89cf-11e8-97bf-da

[2018-07-17 18:45] #4840 closed

[2018-07-17 18:54] pdurbin commented on #4610
I took a quick look at pull request #4862 and noticed that there are merge conflicts in the bundle.

[2018-07-17 19:39] landreev commented on #4753
Thanks Don!
Was able to build the rpm, installed it on one of my RH6 boxes;
will try to retest the whole TwoRavens/Data Explore mess, will report on the results.

[2018-07-17 19:51] pameyer opened #4863 "custom homepage should add css class to it's container"
Since CSS doesn't have parent selectors, it would be helpful for customization if the parent container of a custom homepage had enough info to pick it up from a a CSS selector; adding a class seems like a reasonable initial approach.

[2018-07-17 20:03] scolapasta commented on #4766
So the approach we agreed in is that the script will accept any arbitrary call to the metrics API and try it. Assuming success it will write the values to a cache (and use that on subsequent calls within a certain time period).

This keeps a relatively light approach (rather than having wrappers of each individual API), while still allowing these APIs to be pinged "on demand".

[2018-07-17 20:21] landreev commented on #4753
It looks like I was able to get TwoRavens to work, under R 3.5 and RH6. I will try and test data explorer now.
@donsizemore , when you mentioned the problem with missing variable metadata, how severe was that? Just some pieces of the metadata missing, for specific files... vs. no tabular metadata shown for any files?

[2018-07-17 20:29] pameyer commented on #4863
Despite https://github.com/IQSS/dataverse/pull/4864, it's very possible that the resolution if this issue is that the end user in question (aka me) is attempting to do something that could be better resolved another way.

[2018-07-17 20:41] pdurbin commented on #4610
@sekmiller fixed the merge conflict in b5f81e3 and I offered to help with weaving this new feature into the guides somehow. He's going to take a look at the render logic for installations that haven't been configured with Dropbox or DCM. Right now it's all visible, including some placeholder text that @dlmurphy or others might want to weigh in on:

![screen shot 2018-07-17 at 4 37 00 pm](https://u

[2018-07-17 20:47] pameyer commented on #4610
Yes, it does make sense to retain the ability for different upload methods to be configurable (at minimum at the installation level, possibly at the dataverse level).

[2018-07-17 20:47] landreev commented on #4753
Data Explorer appears to be working too.
The test system is https://dvn-build.hmdc.harvard.edu

[2018-07-17 20:48] landreev commented on #4753
Going to try it on an RH7 system next.

[2018-07-17 22:04] pdurbin commented on #4610
@pameyer ok, thanks. @sekmiller we can't just put `!settingsWrapper.rsyncUpload` back in to disable "Upload with HTTP via your browser". (Also, I just noticed that we need to move that English out of editFilesFragment.xhtml and into the bundle.) I guess we need a setting or something to disable "Upload with HTTP via your browser". @pameyer in your mind when "Upload with HTTP via your browser" is d

[2018-07-17 22:07] djbrooke opened #4865 "File Reingest API"
We've added support for new versions of Stata in #2301. Following the release of the code for #2301, we should reingest the files in production that had previously failed ingest due to being an unsupported Stata version. An API endpoint instead of a db script seems the best way to go for community and reusability purposes.

This should not be a version change and it's OK if the citation gets a UNF

[2018-07-17 22:15] pdurbin commented on #3288
Closing in favor of this new issue:  File Reingest API #4865

[2018-07-17 22:15] #3288 closed

[2018-07-17 22:30] kcondon commented on #4044
TSV ingest generally works but it is dropping the extension on original file download.

[2018-07-18 01:02] pdurbin commented on #4517
Just an update that #4665 is about using Docker and there's been a lot of chatter in there.

@ajs6f do you still think we should fix this port issue? Again, people mostly run Dataverse behind a proxy, I think and configure `dataverse.siteUrl` to not have a port.

[2018-07-18 14:39] pdurbin commented on #4610
@sekmiller and I spoke with @djbrooke @pameyer @landreev and @oscardssmith this morning. In 3ba0036 I adjusted the `FileUploadMethods` enum to rename "NATIVE" to "native/http" in preparation for making it possible to disable http upload for both GUI and API. @sekmiller and I believe it will be better to have "native/http" explicitly set as a database setting out of the box rather than having impli

[2018-07-18 14:48] oscardssmith commented on #4044
Fixed

[2018-07-18 14:58] landreev commented on #4753
@donsizemore
I looked at the file in the dataset you created (https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi%3A10.5072%2FFK2%2F1QHHUT) - and to me both the Data Explorer and TwoRavens appear to be working properly. (definitely no blank pages; though I haven't closely inspected every variable).
Could you please take another look and confirm?

(please let me know via email if you

[2018-07-18 15:01] donsizemore commented on #4753
@landreev you are correct! and yes, this morning they're both responding for me. yesterday evening i only got a blank page from Data Explorer. so... even though we tested file ingest against a squeaky-clean 3.5 R server, for production, would we want to nuke all .prep files, and/or other filetypes per dataset?

[2018-07-18 15:46] laertecchla commented on #4475
Hi Philip.
Thank you.
Laerte.

De: "Philip Durbin" <notifications@github.com>
Para: "IQSS/dataverse" <dataverse@noreply.github.com>
Cc: "laertecchla" <laerte@cchla.ufpb.br>, "Mention" <mention@noreply.github.com>
Enviadas: Sexta-feira, 13 de julho de 2018 0:14:03
Assunto: Re: [IQSS/dataverse] Admin Manage Users (#4475)

[ https://github.com/laertecchla | @laertecchla ] are you still interested in

[2018-07-18 15:50] pdurbin commented on #4475
@laertecchla you're welcome. Are you still interested in this issue? If so, can you please give it a more specific title?

[2018-07-18 15:50] kcondon commented on #4044
OK note that downloading a file that was uploaded as .tab becomes .tsv on download as original file. This is because we do not store the extension but recreate it by examining the mime type. Though an issue, it preexists this PR and might be worked on when we look at preserving original filenames/ store original filenames requested by Odum.

[2018-07-18 15:50] #4044 closed

[2018-07-18 15:51] mheppler commented on #4656
In #2506, there was a commit 5367b8ca0a3164b1bd8d3700e77dae72c42c90c4 to disable a sort button on the dataset pg files table, because it was too buggy to ship. The button code and render logic was left in the XHTML however. I am removing it in this branch, and we can revisit this feature as part of #2506.

[2018-07-18 16:00] pdurbin commented on #4044
@donsizemore @akio-sone and @evelynPM have been discussing this at #2734

[2018-07-18 16:00] pdurbin commented on #2734
A comment was just added at https://github.com/IQSS/dataverse/issues/4044#issuecomment-405980337 about this: "we do not store the extension but recreate it by examining the mime type"

[2018-07-18 16:03] pdurbin commented on #4656
I spoke with @mheppler this morning and it sounds like we're going to try https://stackoverflow.com/questions/17487670/update-component-at-change-of-page-on-primefaces-datagrid-with-pagination so I guess I'll give it a shot.

[2018-07-18 16:10] laertecchla commented on #4475
Philip,
I am still interested in this issue for sure. But, at the moment, only on technical aspect once I have been created some users for test in dataverse.ufpb.br and I would like to exclude some of them. I've been reading Janet McDougall post as well as your post about delete a user and I've been concluded that we have got an unresolved question...
So, a more specific title would be: how can I

[2018-07-18 16:30] landreev commented on #4753
No, I don't think you need to nuke either your .prep files, or your saved .RData files; they should really be exactly the same, whether produced by R 3.4 or 3.5.

When you say "this morning they're both responding for me", you mean both Data Explorer and TwoRavens, *on dvn-build.hmdc*, correct? (NOT both my 3.5 server and yours?) - I'm assuming your 3.5 instance is still not working as it should..

[2018-07-18 16:33] scolapasta commented on #4829
One issue with this, which we have never handled well, is the fact that while you define these per version, the actual values that matter (and are used for the lock logic) are the published version (i.e. it gets pushed up to the dataset level when the version gets published). Which is probably what the logic is trying to accomplish.

i.e. file request access is enabled in v1 then published; in v2

[2018-07-18 16:41] donsizemore commented on #4753
@landreev want me to stand up a box here and open a firewall punch for a given harvard ipv4? i'm happy to do the legwork; i don't have the expertise to troubleshoot R/ingest and akio is tied up with another project...

[2018-07-18 17:09] pdurbin commented on #4475
@laertecchla the new title sounds fine to me so I changed it. It reminds me of #1929 and you might find some useful information in there. If not, please let us know how we can help!

[2018-07-18 17:31] pdurbin commented on #3661
@shlake thanks. I witnessed this bug myself yesterday when working on a fix for #4822 so this is still a bug as of 4073e2e in the "develop" branch.

[2018-07-18 17:49] mheppler commented on #4656
The two checklist items in the comment from Phil still require attention. In my latest commit, I added a `TO-DO` list into `filesFragment.xhtml` above the static counter I returned to the top of the dataTable, so that it may be dynamisized(?).

- [ ] Convert static "1 to 10 of..." to dynamic counter wired to dataTable paginator with p:ajax
- [ ] Use h:outputFormat and f:param as we see here, with

[2018-07-18 18:02] pdurbin opened #4866 ""text/tab-separated-values" changed to "text/tsv" and "Tab-Delimited" changed to "text/tsv", forceReplace=true required after 4044-tsv-ingest2 branch was merged"
Pull request #4854 was recently merged and now the FilesIT.test_006_ReplaceFileGood test failing API test is failing:

![screen shot 2018-07-18 at 2 00 50 pm](https://user-images.githubusercontent.com/21006/42899162-287f3d9a-8a93-11e8-8b8f-17638826c9b9.png)

If you use "file replace" on a tsv file, you get the warning "The original file (Tab-Delimited) and replacement file (text/tsv) are different

[2018-07-18 19:09] djbrooke commented on #4836
- We used to have rules about boosting and highlighting, we should investigate why these are no longer being followed (solr upgrade related or otherwise) and reapply them
- There are some things happening in the search (ex. highlighting of "king") that we should investigate and document

There was some discussion of re-evaluating how we rank search results, but we'll not do this now because this w

[2018-07-18 19:12] djbrooke commented on #4842
In backlog grooming today, there was some discussion about how it would be a little extra work to keep the dismissed message dismissed as the user navigates around the site.

[2018-07-18 19:13] djbrooke commented on #4838
Thanks @mheppler for the detailed investigation. @sekmiller is going to take a closer look (timebox 30 minutes or an hour) and bring it back to the team for estimation.

[2018-07-18 19:14] mheppler commented on #4836
The "super user" aspect of this story maybe a red herring. After demoing this issue in our sprint planning mtg, we saw questionable results returned for a guest.

![screen shot 2018-07-18 at 3 08 55 pm](https://user-images.githubusercontent.com/687227/42902467-cc68f24e-8a9c-11e8-884b-203f85ad207e.png)

The last three results for a guest searching ["murray"](https://dataverse.harvard.edu/dataverse/

[2018-07-18 19:16] djbrooke commented on #4832
I brought this to backlog grooming today thinking there would be no UI implications but that's not case. Since it is the case, we should work this through our usual design process. We'll get a better idea of what's needed and bring it to a future planning meeting.

Thanks @landreev for offering to put in notes from yesterday's meeting and to put in some further thoughts.

[2018-07-18 20:12] pdurbin commented on #4866
I just made pull request #4867 and moved it to code review. The behavior of the code changed in pull request #4854. "text/tab-separated-values" changed to "text/tsv" and "Tab-Delimited" changed to "text/tsv" and I updated the assertions in the API test suite. forceReplace=true wasn't required in one of the tests but now it is.

[2018-07-18 20:31] mheppler commented on #4863
After discussing this issue and pull request yesterday, I had suggested that if this configuration option was being added just to deliver custom CSS to the homepage, there was a better solution that did not require a code change.

In the Configuration pg of the Installation Guide, under the [Custom Homepage](http://guides.dataverse.org/en/4.9.1/installation/config.html#custom-homepage) section of

[2018-07-18 21:45] #4863 closed

[2018-07-19 00:46] pdurbin commented on #2047
Is anyone out there interested in this?

[2018-07-19 01:30] pdurbin commented on #3650
It looks like there are some proposed changes to the button in c0c852f as part of pull request #4802 by @qqmyers for #4777.

[2018-07-19 01:35] pdurbin commented on #3256
@Venki18 I just went to https://demo.dataverse.org/dataverseuser.xhtml?editMode=CREATE&redirectPage=\ and can't reproduce this anymore as of 4.9.1 build 876-7237517. Closing. Please let us know if you can still reproduce this. Thanks!

[2018-07-19 01:35] #3256 closed

[2018-07-19 01:37] pdurbin commented on #3253
Again, this is not a security bug and the GUI doesn't ever produce the problem above. You have to hack on the URL. Vote to close.

[2018-07-19 01:39] pdurbin commented on #3254
@Venki18 are you still interested in a fix for this issue? My understanding is that you don't like it when `jsessionid` appears in the URL.

[2018-07-19 01:40] pdurbin commented on #3255
@Venki18 can you still reproduce this problem?

[2018-07-19 01:44] pdurbin commented on #3655
@tdilauro this is a fantastic write up of the problem and solution but at this point I believe all (definitely most) DVN 3.x installations have been migrated to Dataverse 4 so I'm closing this issue. We will certainty point anyone to this issue if they run in this problem. Thanks!

[2018-07-19 01:44] #3655 closed

[2018-07-19 01:55] pdurbin commented on #3632
@didaRo are you still interesting in this issue? If so, pull request #4606 for issue #3083 was just merged and you could try an import using JSON.

[2018-07-19 01:56] pdurbin commented on #3646
@didaRo are you still interested in this? If so, is this a duplicate of #3632?

[2018-07-19 02:36] pdurbin commented on #3813
#3777 has been closed with pull request #4566 and the new write up is at http://guides.dataverse.org/en/4.9.1/api/native-api.html#update-metadata-for-a-dataset

@didaRo do you feel like re-testing this? Also, this sample JSON file has termsOfUse if you want to try it: https://github.com/IQSS/dataverse/blob/v4.9.1/scripts/api/data/dataset-create-new-all-default-fields.json

[2018-07-19 02:37] pdurbin commented on #3565
@andrewSC are you still interested in this?

[2018-07-19 03:05] pdurbin commented on #3213
@bricas do you feel like making a pull request for this?

[2018-07-19 03:09] pdurbin commented on #4339
@CCMumma is asking for the same thing (storage quotas) in #3939

[2018-07-19 03:14] pdurbin commented on #3893
@mdmADA hi, have you tried the new "Uningest a File" API endpoint at http://guides.dataverse.org/en/4.9.1/api/native-api.html#uningest-a-file that was developed in pull request #4631 for #3766?

[2018-07-19 08:47] 4tikhonov commented on #2245
Sure, I think we're moving fast in this direction now and able to create any metadata fields. And a lot of new opportunities are coming with Docker.

[2018-07-19 12:31] 4tikhonov commented on #2245
Sure, please close it.

[2018-07-19 12:34] #2245 closed

[2018-07-19 12:38] pdurbin commented on #2245
@4tikhonov thanks! Now we're at 799. 😄

[2018-07-19 12:50] bricas commented on #3213
Sure! I'll try and whip up a doc patch ASAP.

[2018-07-19 14:46] bricas opened #4869 "Simplified login for single remote auth endpoint"
The login procedure for remote auth when only one provider is listed seems overly complex:

![screenshot from 2018-07-19 11-41-30](https://user-images.githubusercontent.com/18400/42949815-0806c478-8b49-11e8-8100-df0943cdff52.png)

The select list and "type" options could be hidden, IMHO.

[2018-07-19 14:52] landreev commented on #4753
@donsizemore Yes, that would definitely work. (Somehow missed your last comment yesterday)
My harvard ip is 140.247.116.170.

[2018-07-19 14:52] pdurbin commented on #4838
For the record, line 136 is `<f:selectItems value="#{customQuestionResponse.responseSelectItems}" />`: https://github.com/IQSS/dataverse/blob/v4.9.1/src/main/webapp/file-download-popup-fragment.xhtml#L136

[2018-07-19 14:54] bricas opened #4870 "Config docs should mention the API and not DB tables"
As per the IRC chat, the documention for ["Auth Modes: Local vs. Remote vs. Both"](http://guides.dataverse.org/en/latest/installation/config.html#auth-modes-local-vs-remote-vs-both) talks about a database table "authenticationproviderrow" -- the documentation should point people to the API rather than directly to the database.

[2018-07-19 16:11] adam3smith commented on #4777
Thinking more about this, I'm not convinced what we're doing with this is optimal. As of now we have three different citations:
1. Dataset citation
2. Dataset with file citation (equivalent of current data file citation)
3. Data file citation.

with 1 on the dataset landing page, 2 and 3 on the data file landing page.

Logically these also correspond to three different sets of metadata. I think th

[2018-07-19 16:18] scolapasta commented on #4777
@mercecrosas thoughts on @adam3smith's comment? (this is related to one of our recent discussions)

[2018-07-19 16:42] pdurbin commented on #4656
As I mentioned at standup, I'm blocked trying to implement the StackOverflow suggestion above. In 8e1796f I pushed my progress with FIXMEs but I need help from someone who knows and loves JSF.

[2018-07-19 16:52] oscardssmith commented on #2122
At this point, I've added fastpaths for superusers and non logged in users that both only take ~2 seconds to complete. Now to get Authenticated Users equally fast.

[2018-07-19 17:00] pdurbin commented on #4765
I got on 48c59f5 on my laptop but to test I was hoping to use the new `./build.sh internal` feature I added to #4805. Otherwise I have to push images to Docker Hub, which is slow.

The error that @tkmonson reported in Slack is a "broken pipe" exception in Glassfish's server.log.

@tkmonson at some point we need to bring your code and @thaorell 's code together. I will very likely ask you to resolv

[2018-07-19 17:12] thaorell commented on #4762
After some trials and errors, right now  I am working on making solr a headless service with 2 nodes (a master and a slave).

[2018-07-19 17:59] pdurbin commented on #3213
Pull request #4871 looks good and fixes 404s in doc/shib/shib.md because we deleted the old "auth" branch. Moving to QA.

[2018-07-19 18:24] andrewSC commented on #3565
Sure am! Sorry for not getting back to you sooner on this.

[2018-07-19 18:28] donsizemore opened #4872 "Shibboleth 3"
Has hit the yum repo. Shibboleth.net's wiki says:

The upgrade documentation doesn't mention federation or the Research and Scholarship attribute set. More at (https://wiki.shibboleth.net/confluence/display/IDP30/UpgradingFromV2)[https://wiki.shibboleth.net/confluence/display/IDP30/UpgradingFromV2]

[2018-07-19 18:34] pdurbin commented on #3565
@andrewSC no worries. Heads up that pagination is being added to the file listing page in #4656 but I don't believe there is a "go to page" feature planned.

[2018-07-19 18:43] andrewSC commented on #3565
Gotcha gotcha

[2018-07-19 19:20] mercecrosas commented on #4777
I do agree that is cleaner and less confusing to display simply:

Dataset citation
File citation

The reason to include the "dataset with file citation" was to maintain the
standard proposed by Altman & King 2007. However, we PID for files, now it
makes less sense to maintain that format, so it seems reasonable to change
it and use the proposed File Citation. I'd like to make sure though that
what

[2018-07-19 19:22] adam3smith commented on #4777
No, I haven't yet -- happy to check

[2018-07-19 19:40] pdurbin commented on #4610
Pull request #4862 is looking good, I think, so I moved it to QA. Heads up to @mheppler and @dlmurphy that in 4a7fcf5 I removed some help text that I didn't find very helpful. If someone can suggest better text, please advise and it can be put back in.

[2018-07-19 20:00] scolapasta commented on #4829
So a little more feedback: the change in the PR changes from showing the version value instead of the dataset value. So this would change the way we display for older versions and is what is need of a better designed fix, as mentioned in my previous comment.

That said, I think we could do an incremental fix of showing the dataset value for now as we always do, unless it is a draft, and in that ca

[2018-07-19 21:37] #4764 closed

[2018-07-19 21:48] #3213 closed

[2018-07-20 10:03] LauraHuisintveld commented on #3661
Thanks for the info @shlake  and @pdurbin . I also tried it myself on the Harvard demo site (https://demo.dataverse.org/dataset.xhtml?persistentId=doi:10.5072/FK2/XTBCX1) and I was able to download files that were deleted higher versions. Seems like the fix for the wrong URL's is the solution? (https://github.com/IQSS/dataverse/issues/4308)

@pdurbin: the bug you witnessed yesterday, was this anot

[2018-07-20 11:58] pdurbin commented on #3661
@LauraHuisintveld hi, when I go to https://demo.dataverse.org/dataset.xhtml?persistentId=doi:10.5072/FK2/XTBCX1 I get an "XML Parsing Error: not well-formed" in Firefox...

<img width="1166" alt="screen shot 2018-07-20 at 7 52 48 am" src="https://user-images.githubusercontent.com/21006/43001139-2114aa94-8bf2-11e8-8453-a8c26235d264.png">

... and a "This page contains the following errors: error on

[2018-07-20 12:36] LauraHuisintveld commented on #3661
Thanks @pdurbin , you are right, the error is still there. I was able to download the files, but that was while I was logged in. Good to know it is on the top end of the backlog.

[2018-07-20 13:15] laertecchla commented on #4475
Peter,
I've read #1929 and your answer to @amberleahey drawn my attention. In that case, how is it possible to remove the user "sparrow", for instance?
Laerte.

De: "Philip Durbin" <notifications@github.com>
Para: "IQSS/dataverse" <dataverse@noreply.github.com>
Cc: "laertecchla" <laerte@cchla.ufpb.br>, "Mention" <mention@noreply.github.com>
Enviadas: Quarta-feira, 18 de julho de 2018 14:09:22
Assu

[2018-07-20 13:19] ajs6f commented on #4515
@pdurbin:

As I wrote above:

As long as new admins look at that screen and clearly and immediately know that there are users to manage and how to add roles to them, the problem I had won't happen again. That could happen via any number of different visual cues, but I'm no designer. I also don't know what your resources are, so I'm not inclined to make a more concrete suggestion.

[2018-07-20 13:23] ajs6f commented on #4517
The point I was making above is that I cannot see why Dataverse has a setting like `dataverse.siteUrl` at all. That's normally the province of the container, not contained applications. If Dataverse is going to continue to manage its own URL, this ticket could be closed as "won't-fix".

[2018-07-20 13:34] ajs6f commented on #4523
Not to speak of-- I have not heard any requests from the group evaluating Dataverse.

Looking at this issue with fresh eyes, it occurs to me that the simplest solution would be to release a WAR (which you are now doing) with an accompanying README explaining what database connections (or other JEE resources) are needed under what names to run it. Then people like me could take the WAR, set up the

[2018-07-20 13:51] pdurbin commented on #4656
@sekmiller is working on this: Revert the hacks in pull request #4363 to undo the change to the behavior of the "select all files on page" checkbox that we implemented in #4051.

He also tried to implement the StackOverflow suggestion above and couldn't get it working. (I spent about three hours trying to get it to work). Since we're both blocked, I'm adding @scolapasta to unblock us. Either we ge

[2018-07-20 13:54] pdurbin commented on #4866
@oscardssmith fixed this is c87ea92 and I'll move it to QA if the tests still pass.

[2018-07-20 14:03] pdurbin commented on #4475
@laertecchla it's Phil not Peter but that's ok. 😄

Like this:

    curl -X DELETE http://localhost:8080/api/admin/authenticatedUsers/sparrow

[2018-07-20 14:09] pdurbin commented on #4515
@ajs6f thanks! @mheppler recently emailed me a list of issues related to permissions (#2178 #2641 #2655 #3450 #3686 #3726 #3978 #4287 #4435) and I just emailed him back asking him to look at this issue and your most recent comment as well. Please be advised that he just left for vacation. Thanks for your patience and feedback!

[2018-07-20 14:18] laertecchla commented on #4475
Sorry, Phil!
I have two more doubts:
1. Why dataverse hasn't got a button to remove a user like "sparrow"?
2. If sparrow had got datasets, the comand [curl -X DELETE http...] could remove the datasets as well?
Thanks.
Laerte.

De: "Philip Durbin" <notifications@github.com>
Para: "IQSS/dataverse" <dataverse@noreply.github.com>
Cc: "laertecchla" <laerte@cchla.ufpb.br>, "Mention" <mention@noreply.git

[2018-07-20 14:33] pdurbin commented on #4517
@ajs6f thanks. I hear what you're saying about containers (but I don't know what the fix would be) but right now, a variety of Dataverse features absolutely depend on `dataverse.siteUrl` such as these from a quick swing through the code:

- email confirmation (this issue)
- password reset link (code should be refactored to use the setting)
- generating a Private URL
- exporting to Schema.org forma

[2018-07-20 14:37] pdurbin commented on #4523
@ajs6f I see. I think you have more confidence than I do in getting Dataverse running on any application server other than Glassfish (or Payara, see #4172, which is an actively patched version of Glassfish). I'm curious which other application servers you would try.

No requests from the group evaluating Dataverse sounds good, I guess! Hopefully they are still kicking the tires. We'd love to hear

[2018-07-20 14:46] pdurbin commented on #4475
@laertecchla as #2419 says, "Removing the account altogether would create a hole in existing datasets." It sounds a little scary to me to give superusers a button to click that deletes a bunch of datasets. What if the datasets have been published and have a real DOI and that DOI has been cited? We use a special word for deleting published datasets: destroy. And we don't offer a button for datasets

[2018-07-20 15:02] pdurbin commented on #4866
The tests pass on my laptop as of c87ea92 so I'm moving this to QA. I stopped by and talked to @landreev about the change and he's cool with it. @kcondon please note that this latest commit changes the GUI slightly:

![screen shot 2018-07-20 at 11 01 32 am](https://user-images.githubusercontent.com/21006/43009698-5bd6d4c6-8c0c-11e8-9c76-fc79b7d6caff.png)

[2018-07-20 15:08] landreev commented on #2218
@kcondon @pdurbin
Yes, Phil is correct - the size of the file is way above our threshold for DTA files. So if somebody tries to upload it now, we'll never even attempt to  ingest is tabular data. It is in fact larger than our threshold for *any* upload; so it will not be uploaded as an uningested .dta file either. (But we do occasionally upload files this large for specific users, on request, usin

[2018-07-20 15:09] pdurbin commented on #4763
@kcondon good news. Pull request #4827 no longer touches the installer. I didn't realize this yesterday but @tkmonson or @thaorell already merged the changes into pull request #4805 which you tested yesterday.

[2018-07-20 15:15] pdurbin commented on #4765
@tkmonson now that pull request #4805 has been merged can you please base your changes to this issue on the latest from "develop" or #4827 (now in QA) and send me a link to your branch? I'd like to see if I can replicate the "broken pipe" error you were seeing yesterday. Thanks!

[2018-07-20 15:20] pdurbin commented on #4872
@donsizemore I just approved pull request #4873 and changed this issue to match the title you gave the commit/pull request: "lock shibboleth at 2.6.1 until 3.0 is safely tested". This better reflects what's being delivered right now. Thanks!

[2018-07-20 15:22] matthew-a-dunlap commented on #4703
- [ ] Copy/update data-capture-module's scanner to use S3 instead of posix. This means calling aws commands within the bash script.
- [ ] Update Datasets.java receiveChecksumValidationResults to not refer to the local file storage. Namely, call a new command instead of ImportFromFileSystemCommand().
- [ ] Decide whether DCM jenkins tests should be updated, and if so update them.
   - This may also

[2018-07-20 15:22] pdurbin commented on #4856
@JayanthyChengan yesterday at standup @scolapasta mentioned that you're looking at ways of translating Java apps without bundle property files that are in the main Maven project. Is that right? Any findings so far? I'm curious about how other Java apps like Jenkins handle translations but I haven't looked.

[2018-07-20 15:29] pdurbin commented on #2218
@landreev great write up.

[2018-07-20 15:40] ajs6f commented on #4517
The issues that you mention in that list require the application to have some URL in hand, but I'm not sure why any of them require that the application maintain that URL itself. In any event, I'm perfectly fine with however you'd like to handle this ticket. If I had seen some really blaring blatant warnings in the install pages (YOU MUST SET THIS CONFIG OR NOTHING ON THE FOLLOWING LIST OF FUNCTIO

[2018-07-20 16:05] oscardssmith commented on #4866
It actually just reverts an un-noticed change that my previous tsv pr created.

[2018-07-20 16:09] pdurbin commented on #4517
@ajs6f cool. Makes sense. I just changed the title of this issue to "The importance of setting dataverse.siteUrl should be emphasized in the Installation Guide" and spoke with @kcondon about it who agrees with us about how important that setting is.

Do you feel like making a pull request? It would be a way for you to see our dev process. Right now this issue is in the "Inbox" at https://waffle.io

[2018-07-20 16:59] JayanthyChengan commented on #4856
To @pdurbin @scolapasta :
Created new branch : https://github.com/scholarsportal/dataverse/tree/dataverse-externalProperty and tried the below steps

Step 1:
Created a JVM options
/usr/local/glassfish4/glassfish/bin/asadmin create-jvm-options "-Ddataverse.lang.directory=/tmp/lang"

Step 2:
And saved language.json and bundle.properties, bundle_fr.properties in /tmp/lang

- Used language.json file i

[2018-07-20 17:36] jggautier commented on #4766
Just noting here that for Harvard Dataverse the total download count that the API reports, https://dataverse.harvard.edu/api/info/metrics/downloads/toMonth, won't match the total shown on the  https://dataverse.harvard.edu homepage (root). I think this is because of the appx. 600k guestbook records in the database that don't have timestamps (https://github.com/IQSS/dataverse/issues/3324).

[2018-07-20 17:49] pdurbin commented on #4856
@JayanthyChengan thanks for linking to your branch! Interesting! @landreev you might want to check this out.

[2018-07-20 17:56] pdurbin commented on #4828
@qqmyers I just remembered that by adding `?w=1` to the URL like https://github.com/IQSS/dataverse/pull/4830/files?w=1 I can see the "diff" without the whitespace changes:

![screen shot 2018-07-20 at 1 53 55 pm](https://user-images.githubusercontent.com/21006/43017562-9156613a-8c24-11e8-9d42-08b8962ee297.png)

However, now there's a merge conflict with `src/main/java/edu/harvard/iq/dataverse/engi

[2018-07-20 18:51] thaorell opened #4874 "Solr and init-container not working properly in OpenShift"
After issue #4764, there are some minor changes need to be made because right now there are two bugs:
1. Glassfish cannot talk to Solr
2. Every time the user scales up the Glassfish StatefulSet, the database is flushed.

The main work will be made in install and postgres-setup scripts.

[2018-07-20 18:59] #4822 closed

[2018-07-20 19:22] #4847 closed

[2018-07-20 19:42] #2218 closed

[2018-07-20 20:23] #4866 closed

[2018-07-20 20:31] pameyer opened #4875 "404 errors for bootstrap.min.css.map"
Looks like the minified CSS from the boostrap upgrade has references to the sourcemap, which is triggering 404 errors (possibly because the sourcemap is `bootstrap.min.css.map` instead a prime-face-ized `bootstrap.min.css.xhtml?version=4.9.1`)

[2018-07-20 21:03] kcondon commented on #4610
Discussed design with Stephen and Phil. Have 3 questions/issues before testing:
1. It says dual mode but drop box was added as a 3rd option. Is that legit and it implies people want to remove drop box and potentially run in drop box only mode (may not work well).
2. File upload apis (sword, native, replace) are disabled during rsync-only mode but not disabled during dual mode. UI blocks mixed uplo

[2018-07-20 23:01] kcondon commented on #4610
Native and Dropbox work in basic UI testing. Could not get Rsync to work by following dcm_mock instructions.

Need to test API enable/disable, mixed mode, rsync only mode. Need to follow up on above questions.

[2018-07-23 01:33] mdmADA opened #4877 "Native API call to create dataset with JSON file changes keyword=Law to subject=Law and keyword=Engineering to subject=Engineering"
DV 4.6.1

1. API call:     POST http://$SERVER/api/dataverses/$id/datasets/?key=$apiKey
 send metadata json file containing keyword=Law and/or keyword=Engineering as post data.

2. the method removes Law/Engineering as keyword and sets subject=Law and/or subject=Engineering. It shouldn't. (ADA has a Social Sciences study researching professions, one of which is Engineering. So Engineering is a key

[2018-07-23 02:02] landreev opened #4878 "Provide "bare minimum" R installation instructions; add "haven" package."
We need to provide an easy-ish process (and instructions) for installing basic R functionality (R itself, plus Rserve and a couple other 3rd party libraries) needed to ingest R and export R files.

As of now, we instruct the users to install the R components by using the installer script maintained as part of the TwoRavens distribution. It installs the above plus all the dependencies that TwoRaven

[2018-07-23 04:02] jacksonokuhn commented on #4378
Actually looking at this more, I think the schema is fine as is. I actually
think the stuff that's failing is supposed to fail. It might be useful to
be able to store PROV-JSON invalid provenance as a simple text file or
something though.

On Mon, Jul 16, 2018 at 3:38 PM, Jackson Okuhn <jpokuhn@gmail.com> wrote:

[2018-07-23 11:20] tandraschko commented on #4220
@mheppler I accidentally stumbled across this topic. If you have problems with p:autoUpdate, which worked before with autoUpdate=true, please create a issue on our PrimeFaces side and provide a forked primefaces-test project, which shows the bug.
We already have removed the autoUpdate attributes for the upcoming 6.3.

[2018-07-23 13:43] pdurbin commented on #4468
@lmaylein thanks for making pull request #4879! I tried it out on my laptop and it seems to work fine. If the dataverse doesn't have a description (it's not a required field), the meta description is simply blank (`<meta name="description" />`) which I think is just fine. I'm moving this to QA. Thanks!

[2018-07-23 13:45] sekmiller commented on #4656
I have been able to get the update of the files displayed to work when the page is changed (1-10 changed to 11-20 when you go to page 2). Still working on the update when change is from 10 files per page to 25 or 50.

[2018-07-23 13:51] pdurbin commented on #4875
I can easily reproduce the problem as of 42e6f7d on the phoenix server. Here's a screenshot:

![screen shot 2018-07-23 at 9 46 59 am](https://user-images.githubusercontent.com/21006/43080303-7568a5f6-8e5d-11e8-86ab-cdcec3ae8b9d.png)

@pameyer I'm looking at pull request #4876 and I see that you've commented out `sourceMappingURL` like this:

![screen shot 2018-07-23 at 9 49 20 am](https://user-ima

[2018-07-23 13:53] pdurbin commented on #4656
@sekmiller great news! You don't seem to be blocked to I narrowed the assignees for this issue to be just you. If there's an opportunity to swarm on this, please let me know!

[2018-07-23 13:57] pameyer commented on #4875
My suspicion is that the older bootstrap version had the sourcemap commented out in the minified CSS, and the newer one didn't (or there's a different in the minification procedure used internally between the two bootstrap versions).

[2018-07-23 14:10] pdurbin commented on #4875
@pameyer ok, I just search through the git history trying to figure out if we purposefully commented out `sourceMappingURL` in the past. If so, I couldn't find a commit message about it. I went ahead and approved #4876 but before dragging it to QA, I'll let others weigh in. It bothers me a little that we can't use Bootstrap out of the box, that we have to edit these files. It makes me wonder if we

[2018-07-23 14:30] matthew-a-dunlap commented on #4378
@jacksonokuhn Thanks for looking into this! I agree that would be nice to have as well, as often folks won't really be able to easily fix their broken provenance data...

[2018-07-23 14:55] landreev commented on #4676
I requested some changes in the PR. (want to address/rename the new "isLabled" thing in DataVariable)

[2018-07-23 15:06] pdurbin commented on #4829
@scolapasta ok, I just opened pull request #4880 to implement the incremental fix you described above and closed the older pull request #4860.

[2018-07-23 15:11] pdurbin commented on #4875
@pameyer interesting. Are you saying that your pull request actually gets us closer to vanilla Bootstrap?

[2018-07-23 15:54] pdurbin commented on #4875
@pameyer ok, I went to https://stackoverflow.com/questions/21773376/bootstrap-trying-to-load-map-file-how-to-disable-it-do-i-need-to-do-it and I think I better understand what you're up to in your pull request. I was mistaken when I said you were commenting out something. You're deleting something that's commented out. It's a weird fix but I'm fine with it. Moving to QA.

[2018-07-23 15:57] djbrooke commented on #4878
@landreev is this a necessary part of #4676, just called out as a separate issue?

[2018-07-23 16:05] oscardssmith commented on #4878
No. It just makes #4676 more convenient.

[2018-07-23 16:08] pdurbin commented on #4656
I just deployed 53415d6 to https://dev1.dataverse.org if anyone wants to take a look. Thanks, @sekmiller !!! You are my JSF hero.

There's still a little cleanup Mike wanted so I'm going to jump on the branch and see what I can do.

[2018-07-23 16:09] djbrooke commented on #4878
Got it, thanks.

[2018-07-23 16:15] pdurbin commented on #4676
I discussed this issue with @oscardssmith and @landreev this morning and have a pretty good sense of the work that's left, messing with the new unused boolean. There's a file floating around called "BeerTastingTestData.dta" that can be used for testing. One needs to install the haven R package or use an Rserve with it (dvn-build soon, probably).

[2018-07-23 16:30] pdurbin commented on #4762
@thaorell and I discussed this issue a bit at http://irclog.iq.harvard.edu/dataverse/2018-07-20 and my quick take is that Solr docs recommend SolrCloud but there's concerns that adding Zookeeper to the mix will complicate things.

[2018-07-23 17:06] pdurbin commented on #4656
I just updated the to do lists above and made pull request #4881 and will move this to code review.

One of the items was to sanity check how the compute button looks so here's a screenshot:

![screen shot 2018-07-23 at 1 00 07 pm](https://user-images.githubusercontent.com/21006/43091819-2cc31c20-8e79-11e8-9653-103f3c11df69.png)

[2018-07-23 18:17] pameyer opened #4882 "Better error handling"
Having the dataset persistent ID as a GET parameter to the dataset page can result in 500 errors when $pid is interpretable by postgres.

[2018-07-23 18:42] pdurbin commented on #4882
@pameyer if you're curious about how we remove `.xhtml` from URLs, see dfe0488 for an example from src/main/webapp/WEB-INF/pretty-config.xml

PIDs are especially challenging because they have slashes in them. When we added the ability to target a dataset using a PID rather than a database id in #1837 we used a (GET) query parameter.

[2018-07-23 20:09] qqmyers commented on #4819
@pdurbin - I've addressed the conflict, but #3328 exposes a fun wrinkle. Apparently, the 400 response code from having &nbsp; in the description causes a transaction rollback which then causes an exception in the catch clause as part of the getProviderInformation() call. (Looks like the idServiceBean is null due to the earlier rollback.). I'm not sure I understand EJB enough to explain this, but c

[2018-07-23 20:14] pdurbin commented on #4676
I made the requested changes in 03c8051 and cleared them with @oscardssmith and then @landreev . I'm attaching the file I used to ensure that the new "factor" column is being populated with a "true" when the RData file contains factors: [test_factor.RData.txt](https://github.com/IQSS/dataverse/files/2220858/test_factor.RData.txt)

Back to code review.

[2018-07-23 20:40] thaorell commented on #4874
what I've attempted to get solr to work:
1. reindexing
2. getting solr documents json using `curl -s 'http://dataverse-solr-service:8983/solr/collection1/select?rows=1000000&wt=json&indent=true&q=*%3A*'`

[2018-07-23 20:48] pdurbin commented on #4828
@qqmyers I see you resolved the merge conflict. Thanks! I assume you're ready for code review, but if not, please let us know!

[2018-07-23 20:52] pdurbin commented on #4874
@thaorell is testing c560667 on https://github.com/thaorell/dataverse/tree/4874-bug-fix-glassfish-solr-container if someone wants to help reproduce the problem.

@thaorell do you think it would be easy to replicate this problem on the "develop" branch?

[2018-07-23 21:05] qqmyers commented on #4828
+1 - ready to go.

[2018-07-23 22:08] dlmurphy opened #4884 "Allow boolean operators when searching Dataverse guides"
Looking through recent search logs for our guides, I noticed a lot of attempts at using quotations to search for exact phrases. Unfortunately, the search tool for our guides is very basic and does not allow this kind (or any other kind) of boolean operator.

One user searched for "terms of use" in quotations. This is what happens when you attempt this query in our current search:

![termsofuse](ht

[2018-07-24 02:04] oscardssmith commented on #4884
it would be easier to just do the quotes and not parts, as the other 3 require equation parsing (and are needed less often)

[2018-07-24 02:35] pdurbin commented on #4877
@mdmADA thanks for the bug report. You're right, this is easy to reproduce on the "develop" branch. I'm on commit 42e6f7d.

Using `curl -H "X-Dataverse-key: $API_TOKEN" -X POST $SERVER_URL/api/dataverses/$DV_ALIAS/datasets --upload-file issue4877.json.txt` with this [issue4877.json.txt](https://github.com/IQSS/dataverse/files/2221719/issue4877.json.txt) file that contains the following:

[2018-07-24 02:45] pdurbin commented on #4220
@tandraschko hi, @mheppler is on vacation. Thanks for reaching out. We're aware that `<p:fragment  autoUpdate="true">` is deprecated and we're trying to get rid of it but e4a6eed is an example of a recent commit where we re-introduced it due to `<p:autoUpdate>` not working. I don't know the details but @sekmiller was telling me about it.

[2018-07-24 13:15] thaorell commented on #4874
@pdurbin I think you can just run Dataverse on OpenShift/ MiniShift
1. log in
2. create and publish a dataset
3.  go to the main page, and you will see that the dataset is not there.
4. `oc rsh` into postgres pod and select dataset, the dataset is present
5. query solr, the docs will show that the dataset is there

[2018-07-24 13:17] pdurbin commented on #4828
@qqmyers cool. I hope you don't mind but in 8712c94 I reverted the whitespace changes to make it easier to code review the pull request.

[2018-07-24 13:32] pdurbin commented on #4874
@thaorell ok, I won't push to Docker Hub. It might be interesting for one of us to see if `oc new-app conf/openshift/openshift.json` on the "develop" branch yields a working Dataverse installation or not. Again if `openshift.json` and those old images are out of sync, it might all be broken anyway. If it's already broken, I feel like we should feel free to push new images. I recently added a note

[2018-07-24 13:34] thaorell commented on #4874
It does work (I tested it yesterday), but it eliminates all the efforts on #4764 because it runs the old install script.

[2018-07-24 13:45] pdurbin commented on #4755
I just clicked "build now" at https://build.hmdc.harvard.edu:8443/job/guides.dataverse.org-develop/ to build the latest version of the guides on the "develop" branch because I'm tired of building them locally as I wait for the next release.

[2018-07-24 13:58] pdurbin commented on #4877
In b4cd129 in February 2015 which was before Dataverse 4.0 was released a method called `convertKeywordsToSubjects` was added.

The commit message was "add special processing to JsonParser to move keywords that match subject controlled vocabulary values to the subject datasetField"

The javadoc says, "Special processing of keywords and subjects. All keywords and subjects will be input from foreign

[2018-07-24 14:22] landreev commented on #4878
This will address one thing - an R package - that's needed for #4676 to work, among other things.
But it addresses other issues, that are important/somewhat urgent. As of now, the only way for a Dataverse to get Data Explorer to work, as documented, is to fully install TwoRavens... and that kinda invalidates the biggest selling point of Data Explorer - that it was supposed to be a simpler alternat

[2018-07-24 14:29] donsizemore commented on #4878
@landreev I'm happy to dump my branch or give you write access to the OdumInstitute repo (whichever will make this easiest for you, as I'm most grateful to have a roadmap!)

[2018-07-24 14:39] melloware commented on #4220
It looks like you had the p:autoUpdate in the wrong spot.  It needs to go inside the p:fragment like...

[code]

[2018-07-24 14:42] pdurbin commented on #4220
@melloware thanks, over at https://gitter.im/primefaces/primefaces?at=5b571f6ee06d7e74099c0909 @tandraschko also suggested that we could add a jsf:id to the div. I let @sekmiller know.

[2018-07-24 14:46] matthew-a-dunlap commented on #4220
Thanks for the reply @melloware, this is the actual commit where we reverted the tag https://github.com/IQSS/dataverse/commit/98b2431bb1c23f63e148cf3e3e75dc17a6f0325e

[2018-07-24 14:51] melloware commented on #4220
OK that is strange then that you were having a side effect because from looking at that commit they should be equivalent.   You can try the JSF:ID to the DIV but I feel like there is some other underlying issue.  If you definitely think it is a defect create a simple reproducible example using our Test project... https://github.com/primefaces/primefaces-test

Its a stripped down project that you c

[2018-07-24 14:57] ajs6f commented on #4517
[Here](http://guides.dataverse.org/en/latest/installation/installation-main.html)? I can try quickly to insert a new paragraph, but that's about it. (All of my engagement with DV has been entirely speculative, and as such I appreciate your attention and time, but before I invest much more I need to hear from other SI staff that we have some real likelihood of using the product.) Is `dataverse.site

[2018-07-24 14:57] pdurbin commented on #4874
I'm on commit 8587646 from pull request #4886 and I can't see the logs for the dataverse-glassfish-0 pod like I used to be able to a couple months ago. It says "Pod initializing" like this:

![screen shot 2018-07-24 at 10 54 42 am](https://user-images.githubusercontent.com/21006/43147091-341f1ade-8f30-11e8-97a6-f3fcc179152d.png)

When I click on "events" I see a dozen "Back-off restarting failed c

[2018-07-24 14:59] thaorell commented on #4874
The log is sometimes too slow, you can try `oc log dataverse-glassfish-0` on the command line.

[2018-07-24 15:00] pdurbin commented on #4517
@ajs6f yep! Somewhere in the "Running the Dataverse Installer" section. The source file is here: https://github.com/IQSS/dataverse/blob/develop/doc/sphinx-guides/source/installation/installation-main.rst

[2018-07-24 15:01] pdurbin commented on #4874
@thaorell thanks. This is what I'm getting though:

[code]

[2018-07-24 15:14] landreev commented on #4676
@kcondon For QA, please use Rserve on dvn-build.hmdc.harvard.edu.

[2018-07-24 15:33] scolapasta commented on #4877
@mdmADA @pdurbin  well, it's not really a bug as it was added purposefully. This was due to wanting to add subjects to datasets that were being migrated from DVN 3.x. Since we've removed that migration route, we probably can remove it.

[2018-07-24 15:43] pdurbin commented on #4517
Pull request #4887 looks good! Thanks! I moved it and this issue to QA at https://waffle.io/IQSS/dataverse

[2018-07-24 15:45] pdurbin commented on #4877
@scolapasta thanks.

@mdmADA to provide a bit more context, subjects were not required in DVN 3 but as you probably know, they are required in Dataverse 4.

[2018-07-24 15:48] #4517 closed

[2018-07-24 17:31] #4875 closed

[2018-07-24 17:35] qqmyers commented on #4828
That's great. I try not to change whitespace but was rushed with that commit.

[2018-07-24 19:53] kcondon commented on #4468
Discussed with Julian and Tania. Fine with current scope but should open a new ticket covering dataset and file pages, seek out community input on what it should entail.

[2018-07-24 19:53] #4468 closed

[2018-07-24 21:56] kcondon commented on #4656
Generally works well. Found a few file count display issues:

- [ ] Changing the display size can corrupt the file count
1,901 to 1,000 of 1,000 Files

To reproduce:
-upload 1000 files (probably would happen with less but >2x50
-Click on button to go to end of pages.
-Change files per page to 25, then to 50. Notice count displayed is recalculated incorrectly.

- [ ] Uploading files on dataset crea

[2018-07-24 23:20] mdmADA commented on #4877
Ok, thank you for the information.

Something to be aware of for API users, I guess. If that functionality could possibly still be needed in the future for those who may still be on version 3.x, setting a flag instead of removing it completely might be an idea.

[2018-07-25 00:07] pdurbin commented on #4877
@mdmADA sure. Now that you have more information, what would you consider the "definition of done" to be for this issue? Document the behavior in the API Guide? Add a flag to enable (or disable) the behavior? Something else? :smile:

[2018-07-25 00:19] mdmADA commented on #4877
I personally would prefer the functionality be changed by adding a flag or removing it - whichever the Dataverse team decides is the best approach.

People tend not to read documentation in its entirety. And if a user is using the API to create many datasets, going in and having to change subjects back to keywords really would not be fun so changing/removing the functionality is, IMO, the "definit

[2018-07-25 14:04] landreev commented on #4878
@donsizemore @kcondon I figured the easiest, and cleanest, housekeeping-wise, is keep your branch attached to #4753, and merge it as is, ASAP. Then I'll sync up this branch with develop, clean up, and move it into CR and QA as well; also asap.

[2018-07-25 14:11] landreev commented on #4753
@donsizemore @kcondon
We've determined that R 3.5 works, under RH/CentOS 6 and 7, both. So I propose that we merge this branch asap - moving it back into QA - and then I'll quickly sync up my other branch (for #4878), add a couple of small changes, and move that one along as well.
Don, the "couple of small changes" I want to make, to the section that you have updated - I want to add the rApache rp

[2018-07-25 16:28] sbarbosadataverse opened #4889 "Guestbook: User should be able to associate a guestbook with a template in a dataverse"
I'd like the ability to associate any given guestbook with a "Template" I create for a dataverse

[2018-07-25 16:41] pdurbin commented on #4782
In 1c4313c I helped @benjamin-martinez resolve some merge conflicts. He's going to re-test to make sure the code still works. @sekmiller heads up that some comments you added got lost during merge conflict resolution. I don't know how important they are.

[2018-07-25 18:48] xibriz commented on #4449
It was nice meeting you too @pdurbin :) Yes I have made the changes in my fork over at https://github.com/uit-no/dataverse/tree/4334-dataporten-provider

We are not running this fork in production, but I have been keeping it up to date when new versions of Dataverse has been released and it seems to be working just fine.

I will be starting the testing of Dataverse on Kubernetes hosted by Uninet w

[2018-07-25 19:14] dlmurphy commented on #4610
Some notes from conversation about Add New Dataset page with Phil, Kevin, and Tania:

- Make rsync window collapsible like the other two.

- Properly indent the messaging in the rsync window

- Replace the text in the rsync window with:

[2018-07-25 19:48] JayanthyChengan opened #4892 "Resource Bundle Property files"
This issues is created to investigate on storing all language specific resource bundle property files in the file system outside DV WAR file

Conversation started from here : https://github.com/IQSS/dataverse/issues/4856#issuecomment-406633954

ScholarsPortal github branch has implementation:
https://github.com/scholarsportal/dataverse/tree/dataverse-externalProperty

I would like to merge this co

[2018-07-25 20:14] jggautier opened #4894 "As a data curator, I need other discovery systems (search engines, social media platforms) to display description metadata for my datasets and files so that the data is easier to find"
This github issue is about making sure that search engines display what's in the description field when displaying datasets and files, similar to the work done for making sure that search engines display dataverse descriptions (https://github.com/IQSS/dataverse/issues/1802).

_Google uses the meta.description tag (`<meta name="description" content="" />`) to display dataverse descriptions in searc

[2018-07-25 20:31] TaniaSchlatter commented on #4610
Sketch that hints at render logic for dropbox and rsync panels:
![img_6949](https://user-images.githubusercontent.com/15386424/43225863-36aacf16-9028-11e8-9bc3-c08caf0d0908.jpg)

[2018-07-25 20:37] pdurbin commented on #4610
Fixed in 7452e66

Fixed in a867f5b

My understanding is that there is still work to be done in this area. @djbrooke will do housekeeping on the issue.

[2018-07-25 20:42] pdurbin commented on #4449
@xibriz interesting. Thanks. You might be interested the "Docker for production" issue at #4665 because Kubernetes is being used.

[2018-07-25 20:44] djbrooke commented on #4610
Will discuss with @mheppler and other interested parties when he's back next week.

[2018-07-25 20:57] pdurbin commented on #4877
We made a decision at sprint planning today to simply delete the functionality rather than adding a flag.

[2018-07-25 21:05] pdurbin commented on #4874
@thaorell on my machine the "Back-off restarting failed container" issue is fixed as of a8f2257. Thanks!!!

Now we can focus on the Solr error. This is how it looks for me ("Required service Solr not running. Have you started the required services?"):

![screen shot 2018-07-25 at 5 04 39 pm](https://user-images.githubusercontent.com/21006/43227490-d8bd1c6a-902c-11e8-8427-fb875ff74b53.png)

Oh, I a

[2018-07-25 21:10] thaorell commented on #4874
What does the log spit out for the solr pod?

[2018-07-25 22:14] pdurbin commented on #4874
Can you please remind me what command to run?

[2018-07-25 23:56] kcondon opened #4895 "Unpublish Dataset: Create an API endpoint to unpublish a dataset"
We need an API endpoint to unpublish datasets in some cases where a user may mistakenly publish their dataset in root when it needs to be reviewed first in by a journal dataverse.

Here are the essential steps by hand that hopefully will become the endpoint:

Tables involved:
Dataset
Datasetlock
Datasetversion
Dvobject

To Unpublish a Dataset:
 1. Lock dataset
 insert into datasetlock (reason, sta

[2018-07-26 13:58] thaorell commented on #4874
First we need the pod name so run ‘oc get pods’, then we run ‘oc logs <solr_pod_name>’

[2018-07-26 14:51] pdurbin commented on #4874
@thaorell thanks! Here you go:

[code]

[2018-07-26 14:58] matthew-a-dunlap opened #4896 "Classifying junit tests for testing versatility"
There is a need to organize our tests such that only some are run during development while others are run by Travis. Some tests can be pretty slow and running the full suite every time can slow down dev work.

Looking into this a bit, there are at least two JUnit options to choose from: @suite and @category annotations . It may be best to choose the option that does not require annotating every te

[2018-07-26 14:59] thaorell commented on #4874
It looks normal. I wonder if anything is wrong in entrypoint.sh, I will take a look.

[2018-07-26 15:01] pdurbin commented on #4878
Pull request #4891 looks good to me so I moved this to QA. @landreev I did add some comments in my review to think about for the future.

[2018-07-26 15:02] landreev commented on #4878
@donsizemore
Sounds like you had a chance to look at the new instructions in this branch; but if not, here's my own copy.
The "basic" install, in the prerequisites section:
http://140.247.116.170:8080/guides/installation/prerequisites.html
The TwoRavens install section:
http://140.247.116.170:8080/guides/installation/r-rapache-tworavens.html

[2018-07-26 15:03] landreev commented on #4878
Thanks @pdurbin. Will take a look at the comments (And @donsizemore if you have any feedback for the docs, it's not too late)

[2018-07-26 16:19] #4656 closed

[2018-07-26 16:20] #4753 closed

[2018-07-26 16:24] donsizemore commented on #4878
I tried to comment this morning but GitHub kept eating them, so I abandoned. If you want I'll stand up one more CentOS 7 test box and walk through the R installation as stupid-ole-me, then point a test Dataverse instance at it?

At a glance, the instructions look great.

[2018-07-26 16:44] adam3smith commented on #4777
@mercecrosas -- haven't heard back from Martin. Do you have any other thoughts on who to ask? My view would be to just go ahead with this change. I tried to look for standards and practices on file citations when I made the original proposal and didn't  find anything at all.

[2018-07-26 16:57] benjamin-martinez commented on #3661
For clarification, what should a non-authorized/non-owner user see when they try to download a file from an older version that has since been deleted in later versions?

[2018-07-26 16:58] kcondon opened #4897 "Request Access: button does not launch popup if logged in and request from file landing page."
Reported by user in production, see RT 264937 and reproduced here.

This works from the dataset files tab.

This is separate from the broken log in link in popup if not logged in.

Browser reports:
Uncaught TypeError: Cannot read property 'show' of undefined
    at HTMLAnchorElement.onclick (file.xhtml?persistentId=doi:10.5072/FK2/P7RCOS/KCU6BZ&version=1.0:133)

[2018-07-26 17:03] mercecrosas commented on #4777
This makes sense.

Here is what I think we should implement as a general rule:

- If there is a PID (now DOI) assigned to a file, display file citation (in
addition to dataset citation)
- If files doesn't have a PID, display Dataset with file citation

----------
Mercè Crosas, Ph.D., Chief Data Science and Technology Officer, IQSS, Harvard
University
@mercecrosas <https://twitter.com/mercecrosas>

[2018-07-26 17:04] adam3smith commented on #4777
Yes, that makes sense to me, too.

[2018-07-26 17:31] thaorell commented on #4874
@pdurbin is it possible that you could upload your images to docker hub, let's say pdurbin/dataverse-glassfish and pdurbin/init-container so I can try them out?

[2018-07-26 18:08] pdurbin commented on #4882
I just created pull request #4898 and moved this issue to code review at https://waffle.io/IQSS/dataverse

[2018-07-26 18:41] pdurbin commented on #4861
I just created pull request #4899 and moved this issue to code review at https://waffle.io/IQSS/dataverse

@CCMumma you are very welcome to take a look (or have your librarian at UT Austin take a look) at the change at https://github.com/IQSS/dataverse/pull/4899/files and give feedback! As of this writing, here's a screenshot of how the change looks and to give you more context, it would appear on

[2018-07-26 18:46] #4829 closed

[2018-07-26 18:55] pdurbin commented on #4897
I suspect this is a duplicate of #4554.

[2018-07-26 18:55] pdurbin commented on #4554
I believe #4897 is a duplicate.

[2018-07-26 19:07] pdurbin commented on #4874
@thaorell sure, I'm still on 9b89140 and I just ran `./build.sh huborg pdurbin` to build and push images to https://hub.docker.com/u/pdurbin/

I'm confused about your status. Again, I'm seeing "Required service Solr not running". What are you seeing? Solr is running but Glassfish can't talk to it, as you originally reported? Something else? Is everything working for you?

[2018-07-26 19:19] pdurbin commented on #4877
Pull request #4900 looks good so I moved it to QA at https://waffle.io/IQSS/dataverse

[2018-07-26 19:49] pdurbin commented on #4828
@qqmyers I see you moved those methods within the null check. Thanks. @sekmiller and I just talked about this issue and he'll take a look at your pull request.

[2018-07-26 20:11] #4819 closed

[2018-07-26 20:34] pdurbin commented on #4782
@benjamin-martinez the pull request has merge conflicts again. Can you please resolve them? Thanks! Here's that page we were looking at yesterday if it helps: http://guides.dataverse.org/en/4.9.1/developers/version-control.html#how-to-resolve-conflicts-in-your-pull-request

[2018-07-26 21:07] matthew-a-dunlap commented on #4378
Note: The prov junit tests are commented out in this branch, as they are slow. When we take on #4896 they should be uncommented and added to a full test suite

[2018-07-26 21:47] matthew-a-dunlap commented on #4703
I've identified an issue with setting up docker-dcm where the Dataverse installer does not complete when being run in non-interactive mode. It looks to be specifically related to glassfish-startup, where the installer does not get past this part:
`When/if asadmin asks you to "Enter admin user name",
it should be safe to hit return and accept the default
(which is "admin").

Press any key to contin

[2018-07-26 21:56] matthew-a-dunlap commented on #4703
The above issue does not block the dcm s3 work but makes it a bit more annoying to get docker-dcm up and running (as you must run each step in /opt/dv/install.bash manually).

My understand of this story is that I need to document the steps needed to have dcm use s3 instead of posix, but that actually automating that in docker is not needed at this point. I am pretty close to having that be delive

[2018-07-26 23:41] pdurbin commented on #3328
I just re-tested this bug on the phoenix server as of 8cfca31 now that pull request #4807 has been merged for issue #4819 and I'm happy to report that while the end user doesn't get a specific error. Instead of some weird error about "FinalizeDatasetPublicationCommand" and "null", the user gets a more appropriate error saying "This dataset may not be published due to an error when contacting the D

[2018-07-27 06:22] lmaylein opened #4902 "java.lang.OutOfMemoryError: GC overhead limit exceeded"
For the second time within 24 hours our dataverse application has stopped with the following log messages. Does this mean I have to adjust the jvm-options?

[code]

[2018-07-27 08:06] lmaylein opened #4903 "Glassfish start-domain fails. DOIEZIdServer problem?"
Suddenly (since this morning) we are no longer able to start our dataverse instance.

[code]

The admin console (Port 4848) shows:
`Status: The Admin Console is starting. Please wait.`

After that, I have to use `kill 9 <pid>` to stop the process.

The last message in the server.log is

[2018-07-27T09:55:34.579+0200] [glassfish 4.1] [INFO] [AS-EJB-00054] [javax.enterprise.ejb.container] [tid: _Thr

[2018-07-27 08:19] lmaylein commented on #4903
Ok. Obviously DOIEZIdServiceBean is also responsive for datacite interface. The mentioned ip is part of the datacite API.

At the moment
http://status.datacite.org/
shows an "Metadata Store (MDS) API" outage of 23 minutes but our problem has been around for at least 2 hours.

[2018-07-27 09:24] Thanh-Thanh opened #4904 "Problem with thumbnail of geo file"
Hi all,

I use dataverse 4.8.6 with a local geoconnect.
I managed to make it work in general. I have now all the related button (Preview, Explore).
But the thumbnail of the file is not viewed as it must be, cf. following photo.
Someone has an idea how to make it works please ?

Thx in advanced,
Thanh Thanh

![worldmap_icon_problem](https://user-images.githubusercontent.com/39987392/43313120-731c95

[2018-07-27 10:11] donsizemore commented on #4903
I'm not part of IQSS, but am up early, and in case this helps:

- with Glassfish stopped, rm -rf /usr/local/glassfish4/glassfish/domains/domain1/generated (or equivalent)
- also with Glassfish stopped, hop in Postgres and remove any entries from the "EJB__TIMER__TBL" table

Then try to start Glassfish? This may be a result of #4902 - on our production system, we have 64GB of VM RAM and set an Xmx

[2018-07-27 10:56] lmaylein commented on #4903
... and https://mds.datacite.org/ is not responding :-(

[2018-07-27 11:01] pdurbin commented on #4903
I have a server at https://dev1.dataverse.org configured to use DataCite that's running 7608db9 which is some code that recently got merged into the "develop" branch. So it's pretty much 4.9.1 plus the stuff we've been working on for 4.9.2.

I just did a little experiment to see if I can replicate this problem but I wasn't able to.

That server is configure to use the test MDS service at https://m

[2018-07-27 11:07] lmaylein commented on #4903
Ok. I'll send you the server.log
Could you please check, if you could reach https://mds.datacite.org ? Maybe it's a regional problem.

[2018-07-27 11:36] pdurbin commented on #4903
Wow, that's crazy. I wonder why the opposite wasn't true in my test. Fingers cross that when https://mds.datacite.org comes back up you are able to start Glassfish. @mfenner do you have any information on the status other than what we see at http://status.datacite.org ?

[2018-07-27 11:41] lmaylein commented on #4903
Maybe https://mds.datacite.org is reachable from your location. It seems to me that the datacite service resides in amazon cloud. Therefore there could be differences in reachability.

[2018-07-27 11:49] pdurbin commented on #4903
@lmaylein no, https://mds.datacite.org is definitely down for me too. When I was doing my test I saw "504 Gateway Time-out" in my browser. And testing right now from that dev1 server itself, I see the same:

[code]

So why is it that Dataverse starts when my server is configured to use https://mds.datacite.org but yours does not? It's down for both of us.

Meanwhile I don't see anything particular

[2018-07-27 11:59] lmaylein commented on #4903
I don't think it's a glassfish problem. There could be differences in connection management between different java versions or operating systems...

Could you see something in our logs which causes the problems described in #4902

[2018-07-27 12:15] pdurbin commented on #4903
@lmaylein I'm looking at the logs but I'll leave a comment about the OutOfMemoryError in #4902

Did you notice that @donsizemore asked about EJB__TIMER__TBL at https://github.com/IQSS/dataverse/issues/4903#issuecomment-408375445 ? There's some more information on this at http://guides.dataverse.org/en/4.9.1/admin/troubleshooting.html but I'm not sure if it will help you get your Dataverse installa

[2018-07-27 12:16] pameyer commented on #4903
Also not IQSS - but under the assumption that failure to access https://mds.datacite.org is the source of the problem (I'm seeing 504 from that URL as well), one option to try might be to use /etc/hosts to switch mds.datacite.org to mds.test.datacite.org (where I'm seeing 200) and see if glassfish starts that way.  Obviously, this is something you'd want to switch back after glassfish startup (and

[2018-07-27 12:18] pdurbin commented on #4902
Anyone trying to troubleshoot this should look at the Glassfish logs provided by @lmaylein in https://help.hmdc.harvard.edu/Ticket/Display.html?id=264966

@donsizemore my first thought is that you and @akio-sone fixed some memory leaks recently. Do you think @lmaylein is running an affected version? #4903 indicates he is running 4.8.6.

[2018-07-27 12:22] lmaylein commented on #4903
@pameyer Thanks. To change /etc/hosts is probably a better idea than to change the url in domain.xml  (my current workaround).

[2018-07-27 12:23] pdurbin commented on #4903
@pameyer good though. @lmaylein already established that he **can** start Glassfish with the test MDS: https://github.com/IQSS/dataverse/issues/4903#issuecomment-408391710

What you and he may not know is that after Glassfish has been started, you can reconfigure from test MDS to production MDS on the fly with asadmin commands so that you don't have to restart Glassfish. http://guides.dataverse.or

[2018-07-27 13:58] djbrooke commented on #4903
Hey @lmaylein - do you have any updates on this? Is there any change in status or is there anything else you've tried that may be helpful for us to know?

[2018-07-27 14:08] thaorell commented on #4874
I am using your image and everything is running fine. I wonder if it's your Solr pod that is creating troubles

[2018-07-27 14:08] thaorell commented on #4874
recent:///b4d76cba9577ab433d78dd095b5b2603

[2018-07-27 14:09] thaorell commented on #4874
![screenshot from 2018-07-27 10-01-43](https://user-images.githubusercontent.com/25762021/43325603-1e3c3c54-9185-11e8-9a46-35b093915551.png)

[2018-07-27 14:10] jggautier opened #4905 "Versions Tab: Adding/removing a guestbook does not appear in version differences"
When you add a guestbook to a published dataset, or remove one, and publish a new dataset version, the change isn't in the table in the versions tab or in the pop up. And if guestbook changes are the only changes you've made, the table and pop up show no changes:

<kbd>![screen shot 2018-07-27 at 10 04 16 am](https://user-images.githubusercontent.com/18374574/43325381-846e3604-9184-11e8-8116-17716

[2018-07-27 14:11] lmaylein commented on #4903
MDS is now online again. At the moment our Dataverse starts and stops without any problems.

[2018-07-27 14:20] pdurbin commented on #4874
@thaorell oh! That's fantastic news that everything is working for you! Let's get some eyes on pull request #4893 since you modified the installer. I just dragged this issue to code review at https://waffle.io/IQSS/dataverse

I'm home with a sick kid today so I'm on completely different hardware and software. Linux (Ubuntu) instead of Mac. It'll take me a while to get set up but I'll report back.

[2018-07-27 14:21] pdurbin commented on #4703
This is a new script added by @thaorell and @tkmonson and I just mentioned your trouble to them at https://github.com/IQSS/dataverse/issues/4874#issuecomment-408432993

[2018-07-27 14:22] pdurbin commented on #4685
@oscardssmith this issue is in code review but there are two open pull requests associated with it at https://waffle.io/IQSS/dataverse . Can you please close the pull request that we are not supposed to look at? Thanks.

[2018-07-27 14:35] pdurbin commented on #4685
@oscardssmith thanks. I took a quick look at pull request #4841. Please document the new database setting.

[2018-07-27 14:42] oscardssmith commented on #4685
will do.

[2018-07-27 14:42] mfenner commented on #4903
We at DataCite have an issue with handle registration that is intermittently not working. A permanent fix is in the works and will be deployed after more testing tomorrow.

[2018-07-27 15:24] pdurbin commented on #4685
@oscardssmith thanks for documenting the new setting in 2b67476

Chinese isn't in the example but it seems to work too... sort of... the header is translated at least:

`curl http://localhost:8080/api/admin/settings/:Languages -X PUT -d '[{  "locale":"en", "title":"English"},  {  "locale":"fr", "title":"Français"}, {  "locale":"zh_CN", "title":"Chinese"}]`

<img width="1497" alt="screen shot 2018-

[2018-07-27 15:30] pdurbin commented on #4903
@mfenner thanks!

@lmaylein any ideas on how a developer can reproduce this problem? I'm glad to hear you're back up now. It's still crazy to me that Glassfish won't start for you when MDS is down. I have no idea why. 😕

[2018-07-27 15:35] landreev commented on #4878
@donsizemore I'll leave it to Kevin, whether to take you up on the offer of trying to replicate the whole thing from scratch, since he's doing the QA for this.
I thought/talked to some folks about the docs yesterday, and I was able to think of a couple of clarifying sentences to add there; I'll do that now.

[2018-07-27 15:41] pdurbin commented on #4905
@jggautier as far as I know this is by design. Have any users of Dataverse asked for this?

[2018-07-27 17:36] dlmurphy commented on #4861
I've looked over @pdurbin's additions to the guide and they look good to me.

[2018-07-27 18:51] #4861 closed

[2018-07-27 19:43] matthew-a-dunlap commented on #4703
With this story, testing is needed both on the posix rsync updates and the rsync-s3 code.There are a lot of manual steps needed to get the environment up and running for testing. I will post these up in a few parts.

[2018-07-27 19:47] #4378 closed

[2018-07-27 19:51] matthew-a-dunlap commented on #4703
Initially setting up the docker images:
- Install docker if you do not have it
- Use the 4703-merge-dual branch
- Follow along with docker-dcm/readme.txt
   - This has you first do steps in docker-aio
   - Note that when you are waiting for the images to show up as healthy, glassfish takes like 5 minutes even if you see a healthy status. Definitely wait.

[2018-07-27 19:52] matthew-a-dunlap commented on #4703
To run rsync posix (also needed for rsync s3):
    * DataCite instead of ezid
        * connect to dvsrv box: docker exec -it dvsrv /bin/bash
        * run curl: curl -X PUT -d DataCite "http://localhost:8080/api/admin/settings/:DoiProvider"
    * Update dcm with branch code (rpm pulled by dataverse is out of date and incompatible)
        * Files
            * api/sr.py
                * docker c

[2018-07-27 19:56] matthew-a-dunlap commented on #4703
- To run rsync s3
   - Before: the default bucket for dcm to hold files in s3 is named test-dcm. It is coded into post_upload.bash (line 30). If you want a different bucket then use it.
      - This bucket should exist on our testing environment, but if it is not there go and create it through the browser ui
   - docker cp /Users/matthew/Documents/github/data-capture-module/scn/post_upload_s3.bash

[2018-07-27 19:58] matthew-a-dunlap commented on #4703
Actual operation (normal and s3):
- Create dataset and download rsync upload script
- Upload script to dcm_client (if needed, you can probably do all the actions for create/download inside dcm_client)
   - docker cp ~/Downloads/upload-FK2_NN49YM.bash dcm_client:/tmp
- Create a folder of files to upload (you just need something...)
- Run script
   - bash ./upload-FK2_NN49YM.bash
- manually run post

[2018-07-27 20:03] kcondon commented on #4782
OK, in addition to Leonid's comments on how it works, the scope is both EZID and DataCite but not Handles.

[2018-07-27 20:07] matthew-a-dunlap commented on #4703
**Some additional tips on tweaking / developing in the docker containers:**
- You can completely blow away all the docker images with these commands (including non dcm ones!)
   - docker stop dvsrv
   - docker stop dcm_client
   - docker stop dcmsrv
   - docker rm $(docker ps -a -q)
   - docker rmi $(docker images -q)
- There are a few logs to tail
   - dvsrv : server.log
   - dcmsrv : tail -n 200

[2018-07-27 21:22] #4782 closed

[2018-07-27 21:33] #4877 closed

[2018-07-27 22:13] kcondon commented on #4839
Tested and import with pid on command line as well as in json work but noticed a few issues:
1. pid in json does not check/ensure the pid already exists as it does on command line.
2. example json in doc does not work for pid in json and shows shoulder in authority when should be prefix on identifier. maybe just use current dataset-package-files.json that does work as example and also provide a li

[2018-07-30 11:03] lmaylein commented on #4903
Unfortunately I'm not able to reproduce this problem.

Blocking outgoing https requests (`iptables -A OUTPUT -p tcp -d 0.0.0.0/0.0.0.0 --dport 443 -j DROP`) only delays glassfish start.

[code]

I assume this problem only occurs if MDS is in the same state as it was three days ago (tcp connection okay but problems with the service itself).

[2018-07-30 14:21] amberleahey opened #4906 "Cannot add Time Period Covered as facet option in Dataverse"
Testing Harvard Dataverse , I cannot seem to get the Time Period Covered metadata elements as facet options to work even after setting them up in the Dataverse facet customization section under 'general information' and adding metadata in a test dataset https://dataverse.harvard.edu/dataverse/alipsos

Tried this in SP Dataverse as well https://demodv.scholarsportal.info/dataverse/ipsostest and wai

[2018-07-30 14:40] djbrooke commented on #4904
Hi @Thanh-Thanh - it's great to hear that Dataverse is working for you! Just to confirm, are other thumbnails working? If it is just thumbnails for geospatial files, I think that you may be running into something related to issue #2972.

[2018-07-30 14:45] landreev commented on #4865
Status update:
I checked in the initial implementation from last week.
It's working but I realized I need to add a little more before I consider it done:
- I'm adding API tests;
- I need to add some extra code for re-checking the mime type of the data file; for example, the uningested Stata v.14 files in the prod. db are listed as application/x-stata; but they need to be re-identified as applicati

[2018-07-30 15:15] landreev commented on #3661
@sekmiller
I vote for removing all the old 2015 comments next to that code fragment. They are more confusing than useful at this point.

I can see why the code that was in there was not doing the right thing (it insisted that the file must be in the *latest* published version). Again, I would just remove that old, currently commented-out code.

Relying on DatastVersion.isPublished() is ok, yes.
It

[2018-07-30 16:03] mheppler commented on #4838
Anything we learn about optimizing the popups should be added to for further code refactoring _Dataset Publish/Submit for Review - Optimize Button/Popup Code #1664_.

[2018-07-30 16:12] oscardssmith commented on #4865
Why wouldn't both of these cases be the same API? Maybe it should be called `tryIngest` or something with the behavior that if it is ingested, it will drop the data and re-ingest, and if not ingested it will try to complete an ingest.

[2018-07-30 17:54] djbrooke commented on #4610
Thanks @sekmiller and @mheppler for working together to generate a checklist of remaining items here. I'll be happy to help with questions of scope, etc.

[2018-07-30 17:59] sekmiller commented on #3661
Pursuant to Leonid's question I tested the following scenario:

A given data file in:
Version 3 - Deleted
Version 2 - Restricted
Version 1 - Public

The file download API gives an unauthorized message. That is the expected behavior and I think it is correct. Passing to QA.

[2018-07-30 18:37] kcondon commented on #4882
Under the test scenario I was given, this issue still occurs. Passing back to Dev. See me or pete for test scenario.

[2018-07-30 19:06] mheppler commented on #4610
Talked to @sekmiller. The only remaining to-do requiring my attention is:

- [ ] fix the header link toggle for the rsync panel

[2018-07-30 19:28] matthew-a-dunlap commented on #4703
Because this code was built off the #4610 branch which is still in QA, I have not created a normal pull request yet for this issue. Instead refer to this compare for the differences https://github.com/IQSS/dataverse/compare/4610-upload-dual-mode...4703-merge-dual

Some of this work was done on the DCM side, please refer to this pr for that: https://github.com/sbgrid/data-capture-module/pull/28

La

[2018-07-30 20:51] oscardssmith commented on #2122
I have an implementation with Solr working, which I am now going to ditch because it takes about as long as my previous attempt (25 min) just for solr to do it's part. At this point we have 3 options to go forward

1. Write lots of custom queries to brute force this
2. Cache group membership
3. Only allow users to lookup some number ~50 at a time.

[2018-07-30 22:16] kcondon commented on #4878
Basic R install works fine, including RData ingest, export, Data Explorer.
Advanced R install, aka Two Ravens is ongoing.

[2018-07-30 22:18] matthew-a-dunlap commented on #4836
While waiting on things for other stories, I took another look at the configs around this and touched base with folks on the solr irc. Their recommendations were to start over with a new solrconfig.xml file out of 7.3.0 and customize that as we need it. It seems like a good path as we mostly used defaults before anyways.

[2018-07-31 04:06] mdmADA opened #4908 "The 'Advanced Search' doesn't seem to work for publication date."
Dataverse v4.6.1 although it doesn't seem to work on dataverse.harvard.edu's version either

The 'Advanced Search' doesn't seem to work for publication date.

For example, if I go to dataverse.harvard.edu -> Advanced Search and enter '2018-07-30' in Dataset->Production Date, no results are returned (the error message that there are no Dataverses, datasets,etc.... is rendered).   dsPublicationDate:

[2018-07-31 09:32] Thanh-Thanh commented on #4904
Hi @djbrooke , I have thumbnails for image file (don't know if there are other types of thumbnails?!).
I've read the #2972 issue, they are related I think.
However, I digged into the log and having this :

[2018-07-30T18:06:33.604+0200] [glassfish 4.1] [WARNING] [] [edu.harvard.iq.dataverse.MapLayerMetadataServiceBean] [tid: _ThreadID=48 _ThreadName=jk-connector(1)] [timeMillis: 1532966793604] [le

[2018-07-31 14:51] landreev commented on #4530
@nolanphillips @djbrooke
I'm trying to put together a single checklist for everything, in one place, that needs to be done/figured in order to wrap up this first stage of the collaboration. For the sake of doing things in manageable increments. There is not much left, really. If you think it'll help to figure it out in another meeting, let's schedule one.

To rehash, we decided to start with setti

[2018-07-31 15:45] landreev commented on #4848
This is what I was talking about during the standup:
The templates pulldown has this custom converter attribute defined:
[code]

This converter is implemented as this java class: src/main/java/edu/harvard/iq/dataverse/TemplateConverter.java

I suspect that, because it uses the database id of the template, PrimeFaces ends up re-sorting the list automatically by that numeric id (??).
(that would be

[2018-07-31 15:53] kcondon commented on #4828
@qqmyers  I've tested this and found that though it does not register unpublished files, it still registers published files as reserved rather than public

[2018-07-31 16:04] dlmurphy opened #4909 "Expand/rewrite CC0 documentation in User Guide"
@sbarbosadataverse and @jggautier pointed out in a recent email thread that they've seen cases of user confusion around the CC0 Public Domain Dedication we use as a default for datasets in Dataverse. To help address this confusion, I'd like to rewrite [the user guide section on CC0](http://guides.dataverse.org/en/4.9.1/user/dataset-management.html#cc0-waiver-dataset-terms-of-use), which is current

[2018-07-31 16:40] benjamin-martinez commented on #4848
I made a custom sorter that alphabetizes templates, but it is very inefficient. Even if I made it more efficient, I'm not sure if we want to add a custom sorter to our source code. If someone can figure out why the line:

`Collections.sort(dataverseTemplates, (Template t1, Template t2) -> t1.getName().compareToIgnoreCase(t2.getName()));` doesn't work, that would be ideal.

[2018-07-31 16:50] qqmyers commented on #4828
@kcondon  - Hmm - we just ran ezid publication of files on qdr and I verified that they were public. Our deployed code is more like the initial commits here, so perhaps something in the shuffle of code inside if statements broke it. I'm on travel, but will look again as I can to see if I can spot an issue.

[2018-07-31 17:00] sekmiller commented on #4848
Very strange. And here's an even weirder thing. It's not ordering them by template.id The ordering seems to be related to which one was updated most recently. Whenever you create a dataset with a template we increment a usage count. As near as I can tell if I use a template, the next time I go to create a dataset the most recently used template is pushed to the bottom of the list. And this is even

[2018-07-31 17:02] #4464 closed

[2018-07-31 17:12] landreev commented on #1339
@matthew-a-dunlap
The test cluster is made up of 2 app nodes:
dvn-cloud-dev-1.lts.harvard.edu
dvn-cloud-dev-2.lts.harvard.edu
I created a shell account for you, with the username mdunlap an sudo powers.
I'll slack the password to you.
The elb for the cluster is
https://dvn-dev.lts.harvard.edu/

Both nodes are using the database on dvn-cloud-dev-1.

[2018-07-31 17:36] #3661 closed

[2018-07-31 18:10] thaorell opened #4910 "Remote Solr service not working"
In the source code,  Solr is set to localhost:8983 by default in SystemConfig.java. Therefore, if a dataverse installation is running on OpenShift with a remote Solr service, the main page will fail to fetch dataverse/dataset listing because GlassFish is not connecting to the correct Solr's IP.

[2018-07-31 18:35] thaorell commented on #4910
I suggest that in SystemConfig.java, we can do something

[2018-07-31 18:46] matthew-a-dunlap commented on #1339
This story is mostly blocked until we hear back from LTS about access to the web console, they only provided us access to the boxes themselves.

I'll can do some deeper research into web application firewall in the meantime.

[2018-07-31 19:27] #4874 closed

[2018-07-31 21:45] landreev commented on #4878
I have rebuilt the rpm fort R3.5 + RedHat/CentOS6.
Appears to be working (as in, installs) on both vm4 and dvn-build.

[2018-07-31 21:49] qqmyers commented on #4828
FWIW - the code at https://github.com/QualitativeDataRepository/dataverse/blob/v4.9.1-qdr-4777/src/main/java/edu/harvard/iq/dataverse/engine/command/impl/RegisterDvObjectCommand.java works for QDR. Other than moving the updates inside the test to see if an identifier exists, and merging with the change to use the GlobalIdServiceBean class, I don't see any difference that would cause it not to work

[2018-08-01 02:29] djbrooke commented on #4910
@thaorell are you going to work on this one?

[2018-08-01 02:39] djbrooke commented on #4908
Thanks for the report @mdmADA. I was able to verify this as well.

[2018-08-01 15:17] landreev commented on #4865
Yeah, I decided to use the same API for both. And to call it "reingest" after all.
It will require a "force" option, in order to run it on a datafile that's already been ingested as tabular.

[2018-08-01 16:34] #4676 closed

[2018-08-01 16:41] #4882 closed

[2018-08-01 18:34] kcondon commented on #4878
-update two ravens R install syntax, was missing end of line between 2 statements
-update two ravens R installation erase to include core packages
-update two ravens repo version of preprocess.R to include fixed end of line chars fixed in this branch to avoid version mismatch.

[2018-08-01 19:35] matthew-a-dunlap commented on #4848
It looks like the problem was due to the ArrayList being passed back via `dataverseService.find(ownerId).getTemplates()` . It had no problems adding elements to it but just did not want to be sorted. Adding its elements to a fresh ArrayList allowed sorting via @benjamin-martinez 's 1-liner.

[2018-08-01 19:43] kcondon commented on #4828
@qqmyers I think the branch you just mentioned is different from the one in the PR, no?
QualitativeDataRepository:4828-DOI_registration_with_EZID_does_not_make_DOIs_public

[2018-08-01 20:51] qqmyers commented on #4828
@kcondon Yes. The URL in my comment is to QDR's current deployment. My point was that it works and I don't see anything different enough from the PR to cause what you're seeing. Unless you can see something, it would have to be something in the recent merge or some config issue, etc. The only guess I have would be that this change won't update existing reserved dois to public, so if some had been

[2018-08-01 21:39] matthew-a-dunlap opened #4913 "non-interactive installer does not complete"
I've identified an issue with setting where the Dataverse installer does not complete when being run in non-interactive mode. It looks to be specifically related to glassfish-startup, where the installer does not get past this part:

There may be some new installer option I'm missing. This is the line I'm running that use to work: `./install -admin_email=dvAdmin@mailinator.com -y -f > install.out

[2018-08-01 21:58] djbrooke commented on #4760
Thanks @adam3smith. I ran this by @mercecrosas and she's OK with it.

As far as implementation, I'm thinking API only and no front end. Do you (or anyone else out there) have any thoughts on this approach?

[2018-08-01 22:01] djbrooke commented on #3661
Ping @shlake and @LauraHuisintveld - this has been merged and will be included in the next Dataverse release.

[2018-08-01 22:43] #4848 closed

[2018-08-02 15:17] landreev commented on #4878
I've made the documentation updates as described above;
except for the "start rserve" - the install script will start it, so they don't need to do it manually.

Also, updated the preprocess.R in the tworavens distribution.

But I'm out of ideas as to why tworavens isn't working on vm4. I'm not sure what to do with this issue; since it was supposed to be about the "simple r install" - and we are no

[2018-08-02 15:56] landreev commented on #4878
@kcondon
For the release/upgrade notes:
If your Dataverse is configured to use R, you need to install one extra R library (haven); Dataverse is now using it to export tabular datafiles as RData. Install the package with the following R command (for example):
[code]

[2018-08-02 15:57] landreev commented on #4878
@kcondon
(maybe mention the new-and-improved RData export in the release features too?)

[2018-08-02 16:44] landreev commented on #1339
I just emailed Tom (Scorpa) directly.

[2018-08-02 17:53] landreev commented on #1339
Got this from Tom:

I'm assuming access to enable/disable nodes in the ELB? Yes, that is doable, I will ask Sharon for the sign off when she's back next week.

(I suggested to get you two directly in touch too)

[2018-08-02 20:45] landreev commented on #4878
@kcondon
OK, it appears that the vm4 troubles were due to the httpd setup on that instance. Changing the dataverse.conf and ssl.conf files to match the setup on dvn-build (minus the host-specific certs, plus the server name directive - to reflect the name dataverse-internal.iq, which is a DNS alias for dvn-vm4.hmdc) appears to have fixed it (mysteriously??)

Please review the doc changes/take a lo

[2018-08-02 21:32] #4878 closed

[2018-08-03 07:32] lmaylein opened #4917 "Dataverse header: Additional css class in dataverse_header.xhtml"
I would like to suggest an additional css class for

` <div id="dataverse-header-block">`

depending on the dataverse which is displayed.

For example:

` <div id="dataverse-header-block" class="dv-alias-#{dataverse.alias}">`

This would allow administrators to use individual css styles for dataverses.

[2018-08-03 16:09] benjamin-martinez commented on #4685
@JayanthyChengan The toggle button now works and switching between languages is possible. It also works when you change your browser's language settings to a different language. However there is a slight bug that we are having issues dealing with. If one were to change their entire OS to a language other than English, the toggle button does nothing except for changing the text of the button.

[2018-08-03 17:00] JayanthyChengan commented on #4685
@benjamin-martinez  and all:  Thanks for working on this and getting it ready for testing.  I will update the findings from our testing.  Thanks.

[2018-08-03 17:25] qqmyers commented on #4706
An update: w.r.t. code - the URI and namespace for metadatablocks and support for sha256/512, including an api call to verify the existing hash and replace it, if the file is still valid, with one form the new algorithm, are both done/in the branch. I'm currently working on default URIs for the citation metadata block, and adapting the bag.

John Crabtree and I had a good call with Dave Pcolar of

[2018-08-03 18:08] thaorell commented on #4762
Currently, the following work has been done:
1. Making Solr a StatefulSet
2. Configuring master-slave replication for better scalability, for more information, read https://lucene.apache.org/solr/guide/6_6/index-replication.html#index-replication
3. Setting up how backup and restoration for the master pod in OpenShift

[2018-08-03 18:10] kcondon opened #4918 "Save on Upload error: Upload 3 files at once with descriptions and custom tags results in exception."
Uploading 3 files to an already created, unpublished draft in production results in an exception error.
The 3 files are 1 doc, 1 tab, 1 .sav. All have descriptions and 2 custom tags.
They belong to: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/AUSK9U&version=DRAFT
Clicking save on the same dataset eventually succeeds after a few clicks.

This does not happen if the file

[2018-08-03 18:23] kcondon commented on #4828
OK, thanks. I've retested it and see the same "reserved" behavior.
I'm attaching a copy of my test db for you. It was created using 4.8.6, 4 datasets, 2 published, 2 unpublished, upgraded to 4.9.1, before running register endpoint. I'll also attach a copy after running it.
[testdb.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5798d98d18ccf10e00ce215e/125516c66e82c728ace2

[2018-08-03 18:35] qqmyers commented on #4828
@kcondon - Thanks. What are you seeing in the log? For the original problem, there were warnings from EZID about the DOI already existing (because publicize calls create if the id isn't registered and create then fails.). With Fine logging, publicize adds a message but by default you should be seeing the warnings from within the create call.

[2018-08-03 19:28] qqmyers commented on #4828
@kcondon - OK - a good clue in the log:  it looks like the protocol from the dvObject coming in is null and due to that, the new code in GlobalIdServiceBean is returning null instead of a bean - you've got the SEVERE log message about that. Any exception from that would get caught and ignored in the command class. Not sure I understand how you get reserved ids at all yet, but something to dig into

[2018-08-03 19:54] qqmyers commented on #4828
@kcondon - When you said 'reserved' - did you just mean that the doi is in the DB or that you could see the DOI in EZID as 'reserved'?. Hopefully the former - I can see how the DOI would get generated before the null bean would cause an error and will add a fix in the PR, but if EZID is actually getting contacted, something else is going on. FWIW - this PR fixes the issue where EZID is contacted b

[2018-08-03 19:56] kcondon commented on #4828
@qqmyers I could see the doi in EZID as reserved

[2018-08-03 20:24] qqmyers commented on #4828
@kcondon - Hmm - I don't understand that unless some other part of the code sees the generated Id and calls EZID . Can you try the modification I just committed to the PR? It should allow the command to succeed and create IDs and make them public at EZID, and get rid of the SEVERE message in the logs. If it works, I can look a bit more and see if I can find if there is somewhere else EZID could be

[2018-08-03 20:39] thaorell opened #4920 "Mobilizing "create-tables" in persistence.xml and removing unnecessary errors when table is re-created"
After our biweekly call last week, it has come to attention that during GlassFish deployment, Java Persistence API tries to create tables in Postgres and will still do so even if the tables exist. This has two consequences:
1. If we redeploy the application, thousands of unnecessary warnings will be in the log
2. Startup time will be longer even if it's the second time the installation is run.

A

[2018-08-03 21:02] kcondon commented on #4828
@qqmyers your branch fails to build -refresh from /develop since we've fixed a failing test today

[2018-08-03 21:10] qqmyers commented on #4828
@kcondon - its merged...

[2018-08-03 21:31] kcondon commented on #4828
@qqmyers Your last fixes have resolved the issue. I'll merge this now.

[2018-08-03 21:32] #4828 closed

[2018-08-03 21:41] pameyer commented on #4913
I can confirm seeing this as well; haven't dug into it yet but @matthew-a-dunlap's ideas sound very plausible.

[2018-08-03 21:43] qqmyers commented on #4828
Yeah! So ftr the second commit handles a change between IdServiceBean and GlobalIdServiceBean where the latter no longer handles a null protocol parameter (by finding the currently configured one in the context) in the getBean() method. I did a quick search back through other places that call getBean() and I think all of the others handle situations where the protocol will always be defined. It's

[2018-08-03 21:50] pameyer commented on #4896
@matthew-a-dunlap From a very quick look ~ a year ago, completely disabling running unit tests when building (with maven) didn't result in a significant enough speed-up for me personally to bother building that way.  Assuming I'm remembering correctly (which is always in question), ~5-10ss of ~1-2m build.

More efficiency is always good - just advanced warning that there's a chance this may not sp

[2018-08-03 22:56] matthew-a-dunlap commented on #4896
@pameyer if anything I know the pro parser/validator test were slowing down my builds by ~12 seconds, but they may be the only ones with a real impact

[2018-08-06 15:07] martinezsebastian commented on #3749
Hi!
This issue is still present for members of the University of Glasgow

[2018-08-06 15:10] pdurbin commented on #2443
@michbarsinai and I just discussed this issue and he's fine with closing it now that the installer doesn't require root.

[2018-08-06 15:10] #2443 closed

[2018-08-06 15:11] landreev commented on #4865
For QA: An easy way to upload stata, etc. files without ingesting is tabular is to set the limit (:TabularIngestSizeLimit) to something very low.
Then you can reset the limit, and test the API:
[code]
You have to be superuser.

[2018-08-06 15:39] oscardssmith commented on #4865
Since ingest limits can change, should we remove the code that checks if the format is one that we've changed ingest process for?

[2018-08-06 15:57] landreev commented on #4865
Not sure I got that, sorry - remove what code?

[2018-08-06 15:59] oscardssmith commented on #4865
Never mind, I must have imagined this functionality.

[2018-08-06 16:26] djbrooke commented on #4896
assigning to @matthew-a-dunlap to talk about this at next estimation session

[2018-08-06 16:26] djbrooke commented on #4000
assigning to @dlmurphy  to talk about this at next estimation session

[2018-08-06 16:28] djbrooke commented on #4565
assigning to @scolapasta  to talk about this at next estimation session

[2018-08-06 16:29] pdurbin commented on #4610
At standup this morning I volunteered to deploy the code to the dev1 server in various configurations:

- native + dropbox only
- rsync only
- both

As of ec8aa56, native + dropbox only has been deployed: https://dev1.dataverse.org

[2018-08-06 16:35] djbrooke commented on #4760
@scolapasta - I have this one as ready to be estimated and I'd like to get your thoughts on the architecture here. Would this be a separate API endpoint or would the "no version update" be something that's passed as part of a request to a current endpoint? Or something completely different? I feel like the latter would be more scalable, but I'm not familiar enough with this. Thanks!

[2018-08-06 17:53] landreev commented on #4865
let me fix the already-ingested-as-tabular fix real quick...

[2018-08-06 17:55] pdurbin commented on #4917
@lmaylein sounds fine to me. How do you feel about making a pull request?

[2018-08-06 18:29] pdurbin commented on #3749
@martinezsebastian thanks for letting us know and for chatting at http://irclog.iq.harvard.edu/dataverse/2018-08-06

[2018-08-06 20:29] donsizemore opened #4922 "test Shibboleth 3.0.2"
Pull request forthcoming. [https://dataverse-test.irss.unc.edu](https://dataverse-test.irss.unc.edu) is now running shibboleth-3.0.2 and seems fine to my light testing.

If you all would like to log in with your Harvard keys or other federated InCommon accounts, we can accept my pull request to remove the 2.6.1 lock-in from Dataverse's Shibboleth documentation?

Why this moved up from back burner

[2018-08-06 20:40] donsizemore commented on #4922
Er. I thought we had locked in Shibboleth at 2.6? Oh, well. The test box above is running 3.0.2 if you want to try it out.

[2018-08-06 20:40] #4922 closed

[2018-08-06 20:47] landreev commented on #4865
This is documented in the Native API guide.
(The formatting of the entire "Files" section of the Native API guide was a bit messed up; section headings were missing, etc. - but I fixed it)

[2018-08-06 21:31] #4865 closed

[2018-08-06 21:38] matthew-a-dunlap commented on #4836
Some to-do:
- [ ] Get highlighting working
   - [ ] Currently changing the highlighting config in solrconfig.xml seems to do nothing.
- [ ] Get boost working
- [ ] Update our core creation steps as they don't quite follow the correct practice

[2018-08-06 22:46] matthew-a-dunlap commented on #4836
Discussing with the folks in the solr IRC, I learned that if you do not provide configuration for highlighting (and other components) but then your queries to solr have highlighting params, solr will revert to a default. This is why removing the highlighting section from our configs had no effect, as either way it was the same configuration.

The current solrconfig.xml we have in develop is not ac

[2018-08-07 07:59] pkiraly opened #4923 "An extra '/' at the beginning of the ID in one record blocks whole dataverse"
We have a strange Dataverse issue.
A Java exception is blocking the rendering of the Dataverse front
page. The error is recorded in the server.log as:

[code]

I found that the problem is caused by a Solr record:

[code]

I identified several place in Postgres which might cause this result in Solr.

In `doidataciteregistercache` table:

* doi: `doi:/10.25625/VUHOIJ`
* url: `https://data.gro.uni-go

[2018-08-07 10:00] lmaylein commented on #4917
I do it with pleasure. Is there any naming convention for ids or class names in dataverse?

[2018-08-07 10:40] pdurbin commented on #4917
I suppose you're asking if we use BEM or OOCSS or SMACSS or some other CSS naming convention. I don't know and I don't see anything about this in the Style Guide: http://guides.dataverse.org/en/4.9.1/style

[2018-08-07 10:47] pdurbin commented on #4923
@pkiraly great investigation and fix! Yes, "authority" should not be null and it's very strange that the "authority" value was in the "identifier" column. You've moved it to the right place.

Interesting. Does the bug only happen when you create a dataset using RSpace? Or does it happen when you create a dataset with the Dataverse GUI as well?

[2018-08-07 11:07] pdurbin commented on #4908
Yes, very similar to #4558 in the sense that a field (`dsPublicationDate`) isn't being indexed. Here's a dump from `scripts/search/query` of what's in Solr for a dataset on http://phoenix.dataverse.org at the moment:

[code]

Obviously, we should fix this regression (and #4558 as well) but a workaround would be to search on `dateSort` instead but because this is a date field rather than a string,

[2018-08-07 11:57] pdurbin commented on #4922
I can log in with HarvardKey at https://dataverse-test.irss.unc.edu

[2018-08-07 12:56] pkiraly commented on #4923
@pdurbin I tried it now, and yes, when I create a new dataset within the Dataverse UI I end up with a URL having this trailing slash:
https://data.gro.uni-goettingen.de/dataset.xhtml?persistentId=doi%3A%2F10.25625%2FY3WP5V&version=DRAFT (encoded here as %2F)
After submitting the form I am redirected to the above URL, but it gives a 404 HTTP error. The server log contains:

[2018-08-07T14:52:56.458

[2018-08-07 13:35] pdurbin commented on #4923
@pkiraly when you run

curl http://localhost:8080/api/admin/settings/:Authority

Does the value start with a slash ("/")? It shouldn't.  Here's how it looks on a server I use for testing:

    {"status":"OK","data":{"message":"10.5072"}}

You can get a dump of all database settings with this:

    curl http://localhost:8080/api/admin/settings | jq .

I believe you can get a dump of all Dataverse-r

[2018-08-07 13:49] pkiraly commented on #4923
@pdurbin It is strange that now I don't have the Authority settings however I have a note that once I set it. Maybe I did something wrongly, or would it be anyhow possible, that one of the update removed it?

curl http://localhost:8080/api/admin/settings/:Authority
[code]

curl http://localhost:8080/api/admin/settings | jq .
[code]

asadmin list-jvm-options | egrep 'dataverse|doi'
[code]

As a nex

[2018-08-07 14:03] pkiraly commented on #4923
@pdurbin
I reset the :Authority value, and the record creation process went smoothly, however I found strange values in the DOI and in the database as well.

The URL is https://doi.org/10.25625/10.25625/RWTRVQ (the DOI prefix is duplicated)

The database values (removed some columns):

[code]

same in the other table:
[code]

[2018-08-07 14:07] pdurbin commented on #4923
@pkiraly thanks, seeing these settings helps a lot. I'm assuming you ran `upgrade_v4.8.6_to_v4.9.0.sql` as documented in the release notes at https://github.com/IQSS/dataverse/releases/tag/v4.9 which say, "While your existing persistent identifiers stay the same (as the name suggests!), the update script will modify the database entries (it has to do with how the "authority" and "shoulder" suffix

[2018-08-07 14:09] pdurbin commented on #4765
@tkmonson hi! I'm catching up after a week long vacation. I see you made pull request #4916 changing `VDCNet-ejbPU` to `masterPU` and a variety of other changes but the pull request says "[WIP -- DO NOT MERGE]". Should this issue be dragged from "Community Dev" to "Code Review" at https://waffle.io/IQSS/dataverse ? That is to say, are you ready for code review? Thanks!

[2018-08-07 14:10] djbrooke commented on #4917
@lmaylein @pdurbin I'd like to get the design team's feedback on whether or not we want to allow this before any PRs are made. I'll check back in soon.

[2018-08-07 14:15] tkmonson commented on #4765
@pdurbin Yes, it's ready for code review at this point. I just forgot to change the title of the PR after finishing the changes yesterday.

[2018-08-07 14:26] pkiraly commented on #4923
@pdurbin Many thanks! It helps, and solved all the issues.

Indeed, I run the conversion script you mentioned.

I am pretty sure that I did not set Shoulder (I have notes about the steps of setting the site, and Shoulder is not mentioned), so it might be an issue in the conversion script.

Best,
Péter

[2018-08-07 14:27] pdurbin commented on #4762
@thaorell great! Are you close to making a pull request? Are you blocked in any way? Please let us know how we can help.

[2018-08-07 14:29] pdurbin commented on #4923
@pkiraly great news. Thanks for the update. How do you feel about closing this issue and opening as many "small chunk" issues as you want for any work that you feel should be done?

[2018-08-07 14:29] thaorell commented on #4762
@pdurbin I think I am ready for a pull request. One question though, I have two new files solrconfig_master.xml and solrconfig_slave.xml, should these be in conf/solr or conf/docker/solr?

[2018-08-07 14:30] thaorell commented on #4762
as I have mentioned with @pdurbin, I also wrote some docs about how to configure persistent volumes on Kubernetes so Solr can backup and restore its index (glassfish and postgres will also follow suit if needed later)

[2018-08-07 14:33] pkiraly commented on #4923
@pdurbin I am fine with it. However I could create the small issues suggested earlier in the thread not earlier than Friday.

[2018-08-07 14:34] pdurbin commented on #4762
Let's have @matthew-a-dunlap comment on this because he's actively working on Solr config files for #4836.

Awesome to hear about the backup and restore! As a developer, I run Solr in a very non-fancy way. I'm quick to reinstall it entirely. I have so little data on my laptop that for me it's quick to delete all the data out of Solr and reindex my installation of Dataverse. Real backup and restore

[2018-08-07 14:35] pdurbin commented on #4923
@pkiraly great, no rush. I just assigned this issue to you to work on closing it and opening smaller issues as needed. Thanks!

[2018-08-07 14:56] pdurbin commented on #4088
@matthew-a-dunlap heads up that Netbeans 9 is out: "Apache NetBeans 9.0, released on the 29th of July, 2018" https://netbeans.apache.org/download/index.html

[2018-08-07 14:56] pdurbin commented on #4089
@matthew-a-dunlap heads up that Netbeans 9 is out: "Apache NetBeans 9.0, released on the 29th of July, 2018" https://netbeans.apache.org/download/index.html

[2018-08-07 15:03] pdurbin commented on #4906
Huh, I expected the fix would be to change "facetable" from false to true but I just looked at https://github.com/IQSS/dataverse/blob/v4.9.1/scripts/api/data/metadatablocks/citation.tsv#L63 and it's already true. It's easier to look at this TSV file in Excel so here's a screenshot:

![screen shot 2018-08-07 at 11 01 20 am](https://user-images.githubusercontent.com/21006/43784171-7798669c-9a31-11e8

[2018-08-07 15:14] matthew-a-dunlap commented on #4762
I've started making some changes to our solar setup in #4836. solrconfig.xml has changed somewhat (I went back to a clean slate) and is definitely going to change more. More importantly, I changed our solr installation steps based upon recommendations from folks in the solar irc, our code in develop is pointing to the installation folder for its templates which could lead to unforseen consequences

[2018-08-07 15:21] thaorell commented on #4762
I will create a PR soon so you could see the files.

[2018-08-07 15:39] djbrooke commented on #4908
Thank for the research @pdurbin - I assigned to you to give a brief overview in our next estimation session.

[2018-08-07 15:40] djbrooke commented on #4906
@pdurbin can you please give a brief overview on this one in our next estimation session? Thanks!

[2018-08-07 15:52] matthew-a-dunlap commented on #4762
Sounds great! @thaorell I realized I didn't answer your initial question about the config placement, maybe put them in the dockers folder for now and if we bring scaling into our normal deployments we can then move those

[2018-08-07 20:06] pdurbin commented on #4908
Duh. Yes it is. It's indexed as `"dsPublicationDate":"2018"` in the JSON example I gave above.

@mdmADA what this means is that `dsPublicationDate` does work fine but your expectation of how it works doesn't match how it actually works. You want to to enter a full date like "2018-07-30" but the field only accepts the year like "2018" and the tool tip doesn't give you any help to know this:

![scre

[2018-08-07 20:15] benjamin-martinez commented on #4896
@matthew-a-dunlap @pameyer Aside from the prov tests, what other tests do you think would be included in this "Slow Test" or "Non-Essential Test" category?

[2018-08-07 21:07] pameyer opened #4925 "investigate and resolve potential workflow issue"
Intermittent publication issues when using pre-publication workflow suggest that there may be an issue with the workflows (errors are reported from PID provider; assumption to be confirmed that these PID provider errors do not occur on publication w\out a workflow).

[2018-08-07 21:18] kcondon opened #4926 "Dataset locks API"
There may be times when a dataset lock becomes disassociated/orphaned/stuck and needs to be cleared. Creating an endpoint would make it easier than going to the db and doing it. Latest use case is file doi registration is interrupted, leaving lock in place.

[2018-08-07 21:26] kcondon opened #4927 "Script to switch production file dois from reserved to public"
There was/is a bug in the register single file doi endpoint which resulted in file dois that were retroactively created to remain in reserved state even when published. The net result is the dois are not resolvable. We need a way to preserve the dois that were created but switch them to public.

[2018-08-07 21:32] kcondon opened #4928 "Investigate and fix if needed, bug in register single file api endpoint that leaves file dois as reserved."
When we retroactively registered file dois using the single file registration endpoint, it left them all as reserved.
@qqmyers fixed this bug for the batch, registerall endpoint in v4.9.2 but I am not yet sure whether it still exists in the single file endpoint. @qqmyers , do you know the answer? Also, how did you switch your dois from reserved to public in prod?

[2018-08-07 21:59] scolapasta opened #4929 "Allow ability to choose whether file PIDs are created/minted"
As feedback from the community, we've heard that some group do not want to create / mint file PIDs. So this issue is to add a setting to allow this code to be optional.

Tasks:
- [ ] add setting to settings table
- [ ] use setting in publish commands to decide whether to create / mint file PIDs
- [ ] add display logic to show different file page citation/s depending on whether there is a file PID*

[2018-08-07 22:04] matthew-a-dunlap commented on #4836
Looks like the highlighting problem is related to how the schema field type `text_en` has changed between solr 4.6 and 7.3 .  Next step is to alter its configuration or switch to a newer type if one is available.

[2018-08-07 22:47] qqmyers commented on #4928
@kcondon - The fix is in the RegisterDVObjectCommand which is called by both the all files and single file API calls, so it should be fixed for both.

For QDR, I added a limit argument on the register all call, so I only had a couple files in reserved, and just used the ezid website to update them. If someone has many reserved DOIs, I'm not sure what the best option is. I don't think it would be h

[2018-08-07 22:54] kcondon commented on #4928
@qqmyers Thanks, that helps.

[2018-08-08 01:57] pdurbin commented on #4908
@mdmADA you're welcome. For the tooltip problem, comments on #3925 are very welcome.

For the main issue, we're probably going to estimate it tomorrow so we're going to have to decide the scope of it. I'll try to record the decision here but I may call upon you to create follow up issues depending on how big of a change we decide to take on for this issue. I appreciate all of your thoughts on this

[2018-08-08 13:43] donsizemore opened #4930 "tweak prlimit syntax in installation docs"
should say

`$ sudo prlimit --pid pid --nofile=32768:32768`

so prlimit doesn't interpret 32768:32768 as a command.

[2018-08-08 14:29] thaorell commented on #4762
@matthew-a-dunlap when your finish with #4836, I would appreciate it if you could inform me so I would fix my solrconfig_master.xml and solrconfig_slave.xml.

[2018-08-08 15:07] oscardssmith commented on #4896
One good category is test that depend on external resources

[2018-08-08 16:11] benjamin-martinez commented on #4896
Okay, so what I am thinking is that we should have a test suite called "NonEssential" and within this suite we'll have two+ specific categories. As of now the two categories will be "Slow" and "External Dependency". The name "Slow" is probably just a place holder for now until I can come up with something more specific.

If we want to go even further with this, we could create several test suites

[2018-08-08 16:24] matthew-a-dunlap commented on #4896
@benjamin-martinez I think the best approach is to keep it pretty simple for now. Your approach in the first paragraph seems on that path. Can we also create a suite called "Essential" and have it be everything that isn't "Slow" or "External Dependency"? We'll need that to be what is run by the developer builds every time.

I don't have a good understanding of how suite / category are used togethe

[2018-08-08 16:27] pdurbin commented on #4906
Huh, weird errors when you use the "Time Period Covered" start and end fields, the same errors as in #4558:

[2018-08-08T12:22:51.723-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.search.IndexServiceBean] [tid: _ThreadID=51 _ThreadName=jk-connector(3)] [timeMillis: 1533745371723] [levelValue: 800] [[
  unable to convert Start: 1955-01-01  into YYYY format and couldn't index it (timePer

[2018-08-08 16:28] pdurbin commented on #4558
#4906 is related and when we fix it hopefully this issue (#4558) will be resolved as well. Same error.

[2018-08-08 16:32] kcondon opened #4932 "Update version to v4.9.2"
As last step before tagging, update version to 4.9.2

[2018-08-08 16:50] kcondon opened #4933 "Data subset: Downloading data subset is not working for basic file in 4.9.2"
Downloading data subset for the basic file, 50by1000 works in prod for v4.9.1 but does nothing in v4.9.2, no errors.

Note that this functionality has some mixed success on more complex files but there the failure is up front with no variables displayed in popup: #2586

[2018-08-08 17:45] mheppler commented on #4610
Latest and greatest to-do checklist based on review of the new [feature summary doc](https://docs.google.com/document/d/14mkaH_YW1jP-xlFMtLuW-xDuAx_3g3FbIuVJ_0YhLAE/edit#) with @pameyer and @pdurbin and @dlmurphy.

- [ ] Need to improve `isHasRsyncScript()` render logic to deliver more informative msg than just "Rsync script not available!" Should add "I'm broken" and "I'm busy" logic, with approp

[2018-08-08 17:54] #4932 closed

[2018-08-08 19:34] pdurbin commented on #4777
I'm copying a comment from @qqmyers just now from https://github.com/IQSS/dataverse/pull/4802#issuecomment-411512289 ...

"I think this PR may be ready again for review. It should now contain @adam3smith 's updates to the RIS and endnote exports and the consensus to provide a dataset and file citations on the file page (with the latter using the file DOI if published and appending the filename to

[2018-08-08 20:16] djbrooke commented on #4000
Notes from sprint planning:

- The option to download original files will only show up when there's at least one file that has been ingested
- We should add some text (guides and manifest file) that the original format refers to the files themselves and not the hierarchy

[2018-08-08 20:17] djbrooke commented on #4908
We'll update the tool tip and the field name to reflect that this is year only, not a specific day. If we want to provide the option to search for a specific day, that can be added as another issue in github.

[2018-08-08 20:27] dlmurphy commented on #4410
After much deliberation, some updates to this issue:

- This issue will cover dataset linking. There will be a separate issue to cover dataverse linking soon.

- The main impact of this issue is to open up dataset linking to all users, not just superusers.

- A user creating a new link will need their account to have a role that includes the "Add Dataset" permission on the dataverse that is doing