[2015-11-24 21:31] kcondon commented on #2718
Tested, it works with one edge case: if the creator no longer has publish dv permission as in the case of some larger dv's where admins move on, then the saved search  makelinks command would fail, the link would have stale content.

This may or may not be easily detectable and would require a support ticket and someone to update the db to change the link creator to another user with publish dv pe

[2015-11-24 21:31] #2718 closed

[2015-11-24 21:36] kcondon opened #2770 "Saved Search: If creator of link loses published dv permission, update link api call fails."
See issue #2718 .

The saved search logic requires currently requires a super user to create the link and gets updated for new content by running the saved search makelinks command as that user, requiring no key.

This works fine except for when that user no longer has publish dv perms as would be the case if ownership is transferred to local users or that person leaves the organization. In those

[2015-11-24 21:39] pdurbin commented on #2718
Right. We'll work on this in #2770. I'll explain the work around there.

[2015-11-24 21:44] pdurbin commented on #2770
Right. The workaround in this scenario is to update the "creatorId" in the saved search ("1" in the example below) to the id of an authenticated user who does have the "PublishDataverse" permission on the definition point (the "trees" dataverse, in the example below):

[code]

See also #2543 where we'd like to move away from cron altogether and have an EJB timer control when the "make links" logic

[2015-11-24 22:04] kcondon opened #2771 "Themes & Widgets: When selecting rectangular layout for image, logo alignment select box is sized too small."
The logo alignment select box for rectangular logo format is sized too small: less than one character so "Left" is the top choice and you barely see "L". Once selected they appear correctly as a list.

This does not happen in v4.2.2.

[2015-11-24 22:17] kcondon commented on #2742
OK, checked the above list and all seems to be working. Closing.

[2015-11-24 22:17] #2742 closed

[2015-11-24 22:19] kcondon commented on #2735
OK works now for both newly ingested and existing files. Closing.

[2015-11-24 22:19] #2735 closed

[2015-11-24 22:33] kcondon commented on #2493
OK, works. Got all files listed in the UI download list. Closing.

[2015-11-24 22:33] #2493 closed

[2015-11-24 22:55] kcondon opened #2772 "Deaccession: Deaccession option missing from tech update branch."
This is probably expected since tech branch was created before deaccessioning was fixed but this is a placeholder to verify this gets fixed in tech branch.

[2015-11-24 23:05] kcondon opened #2773 "Download File: Accept Terms of Access button on popup results in file download but popup remains in screen."
The accept in the TOA popup works in that the file download completes but the popup remains onscreen as if nothing happened.

[2015-11-24 23:12] pdurbin commented on #2772
Just capturing the commit this was tested on: b5a3ca2

It does sound like the fix for #2732 (a2fad92) hasn't been merged into the 2731-techupdate branch yet.

@landreev plans to merge the latest there from the 4.2.2 branch when he's done.

[2015-11-24 23:41] pdurbin commented on #2513
In 661990d I started having phoenix.dataverse.org generate schemaspy reports but I haven't decided which hostname to use. I'm leaning toward http://schemaspy.dataverse.org and plan to have "/latest" so we can version it some day if we want to.

[2015-11-25 01:53] posixeleni opened #2774 "Export / Share Full DataCite XML to EZID"
This will be important for our work with Helmsley to include fuller DataCite XML metadata when registering DOIs to EZID/DataCite.

[2015-11-25 02:09] pdurbin commented on #2774
@posixeleni thanks for opening this issue. #907 is the parent ticket for exporting various formats such as DDI, JSON, etc. but it's great to have a focused issue about a subtask.

[2015-11-25 09:50] bencomp commented on #2774
This may be a precondition for #24.
Note that according to [the DataCite metadata schema v3.1](http://doi.org/10.5438/0010), if a related identifier is included (e.g. for publications that build on the dataset), a relation type must be given. That may require to have another look at the metadata model.

[2015-11-25 16:48] mheppler commented on #2769
Fixed overflow style issue with dropdown buttons in datatables. Check other manage-type pages, like Groups and Guestbooks, and those pages do not have dropdown buttons in the datatable.

Going forward, anytime a dropdown button is used in a datatable, we'll have to apply these new style class to the markup in order to resolve this layout issue with PrimeFaces + Bootstrap.

[2015-11-25 17:24] mheppler opened #2775 "Dataverse Pg -- Broken Save Functionality, Layout Issue Search-Include Ignoring "Edit" Mode"
New to 4.2.3's technology branch is a layout issue on the dataverse pg, where the search-include -- with it's search box, facets and results cards -- is being displayed on the edit General Information view of the dataverse pg, just below the Save Changes and Cancel buttons.

In addition to the layout issue, it appears that the Cancel button is broken, doing nothing when clicked, and the Save Chang

[2015-11-25 18:16] mheppler commented on #2771
Removed panelGrid components from themeAndWidgets form that was causing layout issues.

The validation error messages, as well as the form input components on the page, were inside of a PrimeFaces panelGrid component. Since those weren't necessary, I removed them, and that resolved the sizing issue for the select menu.

[2015-11-30 04:38] landreev opened #2776 "Dataverse Page/Search Include Fragment: optimize handling of thumbnails."
The code that retrieves and displays thumbnails in  the search fragment is inefficient.
A couple hundred queries (or more) could be easily saved on an average page load, by using better strategies and custom queries.

(fyi:  There is some overlap with #2475)

[2015-11-30 04:45] landreev opened #2777 "Optimize Dataverse page, to issue fewer queries and load faster."
Dataverse page still issues 1,200+ queries to load the default home page in production.
Custom/native queries can be used to speed things up. (Raman already worked out some solutions for the mydata page).
Also, an important subtask of this is #2776 - optimizing handling of thumbnails. This alone generates a surprising number of database requests; hence it has a dedicated ticket of its own.

fyi: C

[2015-11-30 14:06] posixeleni opened #2778 "Add "Relation Type" to related publication metadata fields to send DataCite related publication metadata"
comment from @bencomp in #2774

[2015-11-30 14:07] posixeleni commented on #2774
Thanks @bencomp I created a separate new ticket to track the "Relation type" work that needs to be done. https://github.com/IQSS/dataverse/issues/2778

[2015-11-30 14:55] keflavich commented on #1612
:+1:

[2015-11-30 15:23] mheppler commented on #2765
Fixed broken placeholder text for File Permissions page.

Message text was broken due to a typo in the xhtml for the bundle message. Overwrote PrimeFaces CSS to resolve truncating of placeholder text within the input.

[2015-11-30 15:25] mheppler commented on #2761
- [ ] Dataverse Permissions > Assign Role > Cancel

[2015-11-30 15:49] mheppler commented on #2761
Fixed broken cancel buttons on Permissions pg that were missing the new PrimeFaces 5 hide onclick formatting.

[2015-11-30 15:49] pdurbin commented on #2744
I just tried `vagrant up` in the 4.2.2 branch (commit 4a3e7b2) and I'm getting the same failure that @bricas originally reported:

`BUILD FAILURE`

...

` [ERROR] Plugin org.jacoco:jacoco-maven-plugin:0.7.5.201505241946 or one of its dependencies could not be resolved: Failed to read artifact descriptor for org.jacoco:jacoco-maven-plugin:jar:0.7.5.201505241946: Could not transfer artifact org.jaco

[2015-11-30 15:49] mheppler commented on #2764
Fixed broken save button on Permissions pg that was missing the new PrimeFaces 5 hide onclick formatting.

[2015-11-30 16:00] mheppler opened #2779 "Dataverse - Fake (Not Logged In) "Add Data" Sign Up/Log In Popup Buttons Broken"
When accessing the dataverse pg, while not logged in, a placeholder "Add Data" button is displayed on the page, that brings up a Sign Up/Log In popup. This popup is not being displayed when the Add Data button is clicked.

[2015-11-30 16:01] mheppler commented on #2779
Fixed broken Add Data Sign Up/Log In popup and cancel button.

[2015-11-30 16:15] raprasad commented on #2777
fyi:  There is overlap with #2475

[2015-11-30 16:26] pdurbin opened #2780 "PublishDatasetCommand: same error appears three times, should be unique"
The error "This dataset may not be published because it has not been registered. Please contact thedata.org for assistance" appears three times in the PublishDatasetCommand (as of 4a3e7b2) making it difficult for me to diagnose the problem reported by @Grimaldum at http://irclog.iq.harvard.edu/dataverse/2015-11-30#i_27476

The messages should vary slightly so we can tell which "else" the code has

[2015-11-30 16:31] posixeleni commented on #2729
+1

[2015-11-30 16:39] pdurbin commented on #2475
Work is being done related to this in 4.2.2 in #2776

I'm going to move this issue to the 4.2.2 milestone for a decision on if the two issues should go through QA at the same time.

[2015-11-30 16:42] pdurbin commented on #2475
@landreev can you please comment on if you'd like to keep this issue open, separate from #2776 ? If so, let's move it out of the 4.2.2 milestone.

[2015-11-30 16:44] posixeleni commented on #2780
This also should not say "contact thedata.org for assistance" since this is a site we no longer use but rather something more like "Harvard Dataverse Support"

[2015-11-30 16:50] pdurbin commented on #2780
Well, not "Harvard Dataverse Support" because other institutions besides Harvard run Dataverse. But yes, I agree that we should no longer reference that legacy thedata.org URL.

[2015-11-30 16:58] eaquigley opened #2781 "Privacy Policy - Disappeared from dataverse.harvard.edu"
There used to be a link in the footer to the privacy policy and it now is not there. According to #1547 there is a script that needs to be run for it to appear. Assigning to @pdurbin to get that done ASAP.

[2015-11-30 17:04] pdurbin commented on #2781
https://github.com/IQSS/dataverse/blob/v4.2.1/scripts/api/setup-optional-harvard.sh#L10 is where the URL is set. I have no idea why it's gone from production but we can re-run that part of the script.

[2015-11-30 17:11] mheppler commented on #2763
Tested this locally in both Firefox (42.0) and Chrome (46.0) and could not replicate it. Sending it back to QA. This may have been fixed due to changes made in commits for #2764 or #2761.

[2015-11-30 17:12] pdurbin commented on #2781
@kcondon offered to investigate and fix this so I'm assigning it to QA. This is not a code change but rather a setting that needs to be populated.

Because the setting is in the "optional Harvard" script people who have been installing Dataverse have had a little difficulty finding it: https://groups.google.com/d/msg/dataverse-community/ziGFSMCmEDA/OAMRMTKICQAJ

We **could** move it to the main se

[2015-11-30 17:13] pdurbin commented on #2781
Oh, also, it's unlikely that the setting truly disappeared from the "setting" table (we'd have to go to database backups to confirm this, which would be time consuming) but anything's possible, I guess. It's quicker to just add the setting of course.

[2015-11-30 17:14] mheppler commented on #2759
This was fixed with the commit 246e64389f353bce36b860b67acb83e759dbbcdc for work done on the permissions pg in #2765.

[2015-11-30 17:15] mheppler commented on #2762
This was fixed with 6b98f34e93f9cd934b9c38855bf1e771ac64810f for work done on permissions page for #2761 #2764.

[2015-11-30 17:17] mheppler commented on #2764
Related #2761 #2762 #2763

[2015-11-30 17:17] mheppler commented on #2761
Related #2762 #2763 #2764

[2015-11-30 17:17] mheppler commented on #2762
Related #2761 #2763 #2764

[2015-11-30 17:17] mheppler commented on #2763
Related #2761 #2762 #2764

[2015-11-30 17:18] posixeleni commented on #2780
"Dataverse Support"

[2015-11-30 17:24] kcondon commented on #2781
OK, policy is in place, closing.

[2015-11-30 17:24] #2781 closed

[2015-11-30 17:44] pdurbin commented on #2744
Interesting... `yum install nss` seems to be helping. I found this tip here: MESOS-3752 CentOS 6 dependency install fails at Maven - ASF JIRA - https://issues.apache.org/jira/browse/MESOS-3752

[2015-11-30 17:49] mheppler commented on #2773
@sekmiller -- looked into this, and didn't see any obvious problem regarding the new PrimeFaces 5 formatting of hide/show commands for popups.

[2015-11-30 17:57] sekmiller opened #2782 "Dataset - View Dataset Versions button does not appear on page load"
One of the things we did to improve performance was to not load the versions onto the Versions Tab until the user actually went to the Versions tab. A side effect of that was that the View Dataset Versions button was not available on page load because its rendering is dependent on the presence of multiple versions, either published or one published and one draft if the logged in user has the permi

[2015-11-30 18:06] mheppler commented on #2775
Related to #2757

[2015-11-30 18:06] mheppler commented on #2757
Related to #2775

[2015-11-30 18:20] mheppler commented on #1243
This issue was also reported in #2736 and was fixed in the commit 1686142c9a801e5b85a462157af20926cc0f30c0.

[2015-11-30 18:39] pdurbin commented on #2744
In ef1720b I added `yum install nss` and now Vagrant is able to build the war file again. I don't really understand why nss is suddenly necessary but looking at https://issues.apache.org/jira/browse/MESOS-3752 might provide a clue.

@bricas thanks for pointing out that Vagrant was failing to build the war file (I updated the subject of this issue). I made my fix in the 4.2.2 branch so when we tag

[2015-11-30 18:39] #2744 closed

[2015-11-30 18:48] pdurbin commented on #2441
@garthg I was just looking at https://help.hmdc.harvard.edu/Ticket/Display.html?id=227665 and wondering if I can close it. I figured I'd check in with you here since this related issue is still open.

[2015-11-30 18:50] kcondon opened #2783 "Installation Guide: Provide instructions on configuring persistent identifiers."
We currently support DOI from EZID through 4 fields in the setting table and account credentials in the domain.xml file:

setting table:
select name, content from setting where name like '%Protocol%';
   name    | content
-----------+---------
 :Protocol | doi
(1 row)

select name, content from setting where name like '%Doi%';
     name      | content
---------------+---------
 :DoiProvider  | EZI

[2015-11-30 19:04] kcondon commented on #2783
Closing as a duplicate of: https://github.com/IQSS/dataverse/issues/2632

[2015-11-30 19:04] #2783 closed

[2015-11-30 19:04] kcondon commented on #2632
Another customer wrote in with a support issue:

https://github.com/IQSS/dataverse/issues/2783

[2015-11-30 19:28] kcondon commented on #1243
Still works, closing.

[2015-11-30 19:28] #1243 closed

[2015-11-30 19:44] sbarbosadataverse opened #2784 ""Unknown File Format:" before "publishing" file format is identified. After publishing, file format becomes "unknown""
<img width="1348" alt="screen shot 2015-11-30 at 2 41 58 pm" src="https://cloud.githubusercontent.com/assets/8322346/11482441/c6aaf9e6-9770-11e5-960f-2111c799e48b.png">

This "unknown file format" has been found on most if not all of the "corrupt" files issues we have seen latelty. The user tried to download the file and they get html code instead.

[2015-11-30 19:44] kcondon commented on #2779
Works now, closing.

[2015-11-30 19:44] #2779 closed

[2015-11-30 20:30] landreev commented on #2784
@sbarbosadataverse  this has been fixed in 4.2.2. There was a separate ticket for it, #2735 - you saw it.
I'll close this one as a duplicate.

(this "unknown" instead of the original format is NOT related to the fact that the user could not download the file; it's an entirely different, less serious issue. Just a missing label).

[2015-11-30 20:30] landreev commented on #2784
Closing the issue as a duplicate of #2735.

[2015-11-30 20:30] #2784 closed

[2015-11-30 20:32] sbarbosadataverse commented on #2735
@landreev ok. but the file in my case is an excel file, not a stata file. or an spss file. just an FYI

[2015-11-30 20:35] eaquigley commented on #2337
Passing to @kcondon to close since it was fixed in another ticket.

[2015-11-30 20:35] mheppler commented on #2750
The guides should have the same navbar links that are found on the (Dataverse Project)[http://dataverse.org/] site.

![screen shot 2015-11-30 at 3 34 22 pm](https://cloud.githubusercontent.com/assets/687227/11483715/002fe85a-9778-11e5-90f3-96787503f5bd.png)

[2015-11-30 20:44] landreev commented on #2735
@sbarbosadataverse - correct, it was showing as "unknown" for all formats.

[2015-11-30 21:17] bencomp commented on #2632
Relates to configuring anything #2283

[2015-11-30 21:32] pdurbin commented on #2283
There's a "configuration" section in the installation guide improvement and reorganisation proposal linked from https://groups.google.com/forum/#!msg/dataverse-community/qujUFJDYXG0/0BhECCp0HQAJ

That would probably be a good place to jot down ideas. Here's a direct link to the doc: https://docs.google.com/document/d/1GLky44JbtCNhGuavLXGEP8WPNdjbyHNxalEGjR78MaA/edit?usp=sharing

Anyone interested

[2015-11-30 22:36] kcondon commented on #2337
Retested, works, closing.

[2015-11-30 22:36] #2337 closed

[2015-11-30 22:37] kcondon commented on #2771
No longer an issue, closing.

[2015-11-30 22:37] #2771 closed

[2015-11-30 22:45] mheppler commented on #2750
Replaced dynamic guide navbar solution for the guides with a static version to fix missing links.

![screen shot 2015-11-30 at 5 00 03 pm](https://cloud.githubusercontent.com/assets/687227/11486939/25141dd2-978a-11e5-99c5-e965155cafe8.png)

[2015-11-30 22:47] kcondon commented on #2761
Works now, closing.

[2015-11-30 22:47] #2761 closed

[2015-11-30 22:50] kcondon commented on #2769
Works, closing

[2015-11-30 22:50] #2769 closed

[2015-11-30 22:51] kcondon commented on #2765
Works, closing.

[2015-11-30 22:51] #2765 closed

[2015-11-30 22:53] kcondon commented on #2764
Works, closing

[2015-11-30 22:53] #2764 closed

[2015-11-30 22:53] kcondon commented on #2763
No longer happening. Closing.

[2015-11-30 22:53] #2763 closed

[2015-11-30 23:12] kcondon commented on #2759
Still happens even after shift reload.

[2015-11-30 23:15] kcondon commented on #2762
Works, closing

[2015-11-30 23:15] #2762 closed

[2015-11-30 23:19] kcondon commented on #2760
Now now guestbooks appear on dataset terms tab.

[2015-11-30 23:28] mheppler commented on #2759
My original check in only resized one part of the autocomplete component, so I have fixed the CSS to adjust the width for all pieces needed to resolve this issue.

[2015-12-01 14:59] posixeleni commented on #952
@mcrosas @scolapasta since this relates to the helmsley grant funded project we are working on that will need FRD work to start in early January who should this ticket be assigned to and which milestone should we add it to?

cc/ @pdurbin @eaquigley

[2015-12-01 15:05] posixeleni commented on #2774
@scolapasta @mcrosas since this relates to the Helmsley project can we assign this to a milestone to make sure it gets prioritized?

[2015-12-01 15:31] pdurbin commented on #952
I'm fine with using this issue to track work for @sbgrid (the Helmsley grant). If so, it can be assigned to me. Or we can create an issue dedicated to that work with specific requirements.

I'd also like to point out some related issues:

- #1347 opened by @spalan mostly about S3 and Swift support (interest by @CCI-MOC)
- #2728 opened by @mutanthumb mostly about storing the files elsewhere (i.e. G

[2015-12-01 18:18] sekmiller commented on #2775
This was tripping up because the scroll to in the event of error had improper syntax in the PF5 world

 <f:ajax onerror="window.scrollTo(0, 0)" />

[2015-12-01 18:19] sekmiller commented on #2773
Issue was with the scrollTo in error handling.

[2015-12-01 18:19] sekmiller commented on #2773
Code for the fix has been checked in...

[2015-12-01 18:24] kcondon commented on #2750
OK, tested, works, closing.

[2015-12-01 18:24] #2750 closed

[2015-12-01 18:58] kcondon commented on #2775
When I reported #2757, I tried editing and cancelling and it seemed to work for me for the main general info fields but not for the metadata blocks. This is still the case.

This is still not working for the metadata blocks view fields.  This ticket seems to be a duplicate of #2757 based on my testing.

[2015-12-01 19:03] mheppler commented on #2775
@kcondon -- this ticket was specifically opened because of the layout issue in the edit view of the dataverse pg, which is not mentioned in your original ticket. I added the save being broken to the ticket when I tried to get as detailed an explanation of what happening as possible. This resulted in some duplication apparently.

[2015-12-01 19:11] kcondon commented on #2775
OK:
1. not seeing search box in edit mode. Good.
2. save/ cancel works for general edit but fails for metadata block view state. Less good.

I'm closing this ticket and will open a separate ticket for the issue in #2.

Closing.

[2015-12-01 19:11] #2775 closed

[2015-12-01 19:25] kcondon commented on #2757
The checkbox works but the view states cannot be saved. Passing back to fix the view states.

[2015-12-01 19:45] pameyer commented on #952
Does it make sense to include local checksumming (md5, sha, something else) in with the large file uploads, or should that be split off into something separate (since it could potentially be of use for small file uploads too)?

[2015-12-01 19:50] kcondon commented on #2759
OK, works now. Closing.

[2015-12-01 19:50] #2759 closed

[2015-12-01 19:53] kcondon opened #2785 "Permissions: Edit Dataset, Permissions, Dataset/File select displays off screen if browser small."
The child select box for Edit Dataset->Permissions->Dataset or File, always displays to the right in v4.2.3, even when the browser width is small, resulting in those options displaying partly off screen and scroll bars appearing. This does not happen in v4.2.2, the dataset/file select box appears to the left instead.

[2015-12-01 20:02] shlake opened #2786 "Have popup Calendar as option on Metadata Date Fields"
For any date field (advance search or metadata creation), allow the user to either type in a date OR have a calendar pop up to allow date choosing.

[2015-12-01 20:08] kcondon opened #2787 "Edit Dataset: Restricting a file on edit files tab results in TOA popup behind the white background."
The behavior varies, depending on whether you restrict the file on creating the dataset or just editing the file metadata. It works if you restrict from the view dataset mode.

1. On create dataset:
create a dataset, upload a file, restrict that file, save.
The TOA popup is completely behind the whiteout background and you cannot interact with the popup.

2. On edit file metadata:
On save, the TOA

[2015-12-01 20:11] pdurbin opened #2788 "API: check md5 before accepting uploaded file from the client"
@pameyer originally brought this up at https://github.com/IQSS/dataverse/issues/952#issuecomment-161075150 but it deserves its own issue.

The SWORDv2 spec says we "The server SHOULD verify the Content-MD5 header against the content. If the check fails, the server MUST respond with 412 Precondition Failed, and MAY return a SWORD Error document" at http://swordapp.github.io/SWORDv2-Profile/SWORDPro

[2015-12-01 20:11] kcondon commented on #2773
This is still happening. Did the code get checked in?

[2015-12-01 20:14] pdurbin commented on #952
@pameyer good point about checksums. This certainly deserves its own issue so I just created one: #2788

[2015-12-01 20:15] mheppler commented on #2785
The right-side dropdown/flyout submenus is something that was fixed in 4.2.2, as originally reported in #2736. That same fix was also applied to the Edit Dataset button. The code from 4.2.2 has yet to be merged with 4.2.3. Once it is, this will no longer be an issue.

[2015-12-01 20:15] sekmiller commented on #2773
Sorry - it was a mistake on my part to send this to QA.  I confused it with an edit dataverse ticket. not sure why.  is it Friday yet.

[2015-12-01 20:18] shlake opened #2789 "Restrict Button to have more "Actionable" Label"
Suggestion to label the "Restrict" button "Set Restriction" (OK, maybe that's too long). But the comments I've been getting is that the word on the button "Restrict" seems to be the action that will be performed when clicked. My users missed the small down arrow on the side of the button where once clicked THEN they pick Restrict or Unrestrict. Testing here, our users couldn't remember how to unre

[2015-12-01 20:43] spalan commented on #952
I think the checksumming is critical in any context where a researcher needs to be sure of the integrity of the file he/she is working with.  It is also critical to the data archivist for proactive management of content he/she is curating, so that periodically checksums can be validated and corruption due to bit rot or other issues can be flagged early on.

Alan

On Dec 1, 2015, at 2:45 PM, pameye

[2015-12-01 20:49] mcrosas commented on #952
:+1: I don't think there is any questioning whether to include checksumming. The question is more about how it is implemented for larger files and whether is part of the upload (before or after)

[2015-12-01 20:58] posixeleni commented on #2786
:+1:

[2015-12-01 20:58] mcrosas commented on #2774
@posixeleni we are not ready yet to assign issues to milestones since the focus now is in the patch performance releases. We will as soon 4.2.2 and 4.2.3 are completed.

Also this is not as high priority as I thought originally. Dataverse does submit already the required fields from DataCite schema to EZID, and those are searchable through DataCite new search. However, we could send additional met

[2015-12-01 21:23] augustfly commented on #2778
commenting for reasons of tracking this thread and opinion, but jumping on board with DOI/DataCite relation types is something Dataverse really should do. the controlled vocab and use cases are there for the reuse. i'm sure there are UI issues downstream from implementing it though.

[2015-12-01 22:52] eaquigley commented on #2729
Hi @pengchengluo this is looking really cool! Are you planning on submitting a pull request for this so we can test it with the source code?  Would love to be able to get this onto one of our test servers so I can play around with it and see what the user experience is like. Thanks for doing this!

[2015-12-01 23:21] garthg commented on #2441
Hey @pdurbin , thanks for checking in! My update was successful except for a couple of entries, but those all appear to be things I can fix on my end (one known bug in my code plus a couple of server timeouts that I can just retry). So I think we can close this bug! Thanks again to you and the team for all the help!

[2015-12-01 23:23] garthg commented on #2441
@pdurbin Since you're the owner of this github tracker, it looks like I can't actually close it, but please feel free to do that and also to close the hmdc ticket at your convenience! Thanks again.

[2015-12-01 23:37] mheppler commented on #2787
Fixed CSS for dialogs displaying behind blockUI component on both Dataset and Edit Dataset Files pgs.

In addition to the reported bug, I also found that clicking the Cancel button on these pages would leave the blockUI component displayed over the page content area. To resolve this, I have added 'PF('blockDatasetForm').hide();' to the onclick attributes for every dialog Cancel button as well as a

[2015-12-02 00:51] pdurbin commented on #2441
@garthg thanks. I'm very glad to hear you're all set. I closed the help ticket. Let me touch base with @kcondon before we close this issue.

[2015-12-02 08:47] RinkeHoekstra commented on #1837
This is a blocker as well for my project, and I do not see what the reason is that the search API does not expose the dataset ID's by default.

As it turns out, several dataverse installations I've tested do provide the id's when the 'show_entity_ids=true' parameter is passed in the URL. However, this feature is undocumented in the API docs.

[2015-12-02 13:24] sekmiller commented on #2757
Editing and updating dataset field input levels is fixed.  New build required for testing.

[2015-12-02 14:02] pdurbin commented on #1837
See also #1717 which spawned this ticket. I think @michbarsinai @scolapasta and I need to get together and decide on an approach to try. Options include:

- put the DOI in a query parameter: `/api/datasets?persistentId=doi:10.7910/DVN/UXTXA`
- escape the DOI keeping it where it is the path: `/api/datasets/doi%3A10.7910%2FDVN%2FUXTXA`
- put the DOI at the end of path: `/api/datasets/versions/:lates

[2015-12-02 15:16] sekmiller commented on #2773
This time it really is fixed sorry about yesterday's mixup.

[2015-12-02 15:23] landreev commented on #2776
OK, let's refresh the database that vm5 is using.
We'll need to
a) run the db update script;
b) I'll need to copy the files for 10 or so pages worth of datasets, in order to be able to QA thumbnails properly.

[2015-12-02 15:28] landreev commented on #2777
I can see 2 areas of QA process for this issue:

1. regression - compare the functionality to the 4.2.1;
2. performance. verify savings in the # of queries against 4.2.1? stress test, compare to 4.2.1?

for best results the same db should be used.
I also have a preserved version of a 4.2.2 war file, built before my dataverse page fixes were added.

[2015-12-02 15:32] landreev commented on #2777
(a new build is needed; i've already made a commit today)

[2015-12-02 15:45] sbarbosadataverse commented on #2437
@eaquigley @mcrosas @scolapasta
Hi Guys: ticket came in this morning that handles are not going directly to a dataset, but rather a list of recently published data: example:  http://hdl.handle.net/1902.1/21720
If you click on that as a link, you don't go directly to the dataset
Does this have to do with this registration issue or should I create a new ticket?

[2015-12-02 15:53] bencomp commented on #2437
If you input the actual handle in the form at http://hdl.handle.net and check the box "don't redirect to URLs", you'll see that the URL for the handle is http://thedata.harvard.edu/dvn/study?globalId=hdl:1902.1/21720

I think the redirects performed by thedata.harvard.edu are incorrect. But the handle records should really be updated to point at the current URLs.

[2015-12-02 15:57] sbarbosadataverse commented on #2437
@bencomp  thanks! @scolapasta does this need a new ticket in github?

[2015-12-02 15:58] pdurbin commented on #2437
@bencomp thanks! I didn't know how to troubleshoot handles like this. Very handy to see this:

![handle_proxy_-_2015-12-02_10 57 14](https://cloud.githubusercontent.com/assets/21006/11535813/8646241a-98e3-11e5-94e6-b90a03ebcb86.png)

[2015-12-02 16:17] spalan commented on #952
This document describes strategies Swift uses for uploading very large files or collections of many files:

http://docs.openstack.org/developer/swift/overview_large_objects.html

I doesn’t mention anything about the use of checksums, however.

This cloud based data sync tool, rclone, supports transfers of large files to multiple cloud providers and does use checksums for validating successful tran

[2015-12-02 16:32] sekmiller commented on #2760
Went over the functionality w/Kevin.  Appears to be working as expected.

[2015-12-02 16:44] kcondon commented on #2437
We had confirmed this was a redirect/rewrite issue earlier but have not yet had a chance to correct it.

________________________________
From: sbarbosadataverse [notifications@github.com]
Sent: Wednesday, December 02, 2015 10:45 AM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Handles: Restore handle registration functionality in 4.x (#2437)

@eaquigley<https://urldefense.proofpoi

[2015-12-02 16:45] spalan commented on #952
http://docs.openstack.org/developer/swift/api/large_objects.html

More on Swift handling of large objects that describes use of checksums

[2015-12-02 18:27] sekmiller commented on #2772
Getting the jump on the merge.  Hopefully this will save Leonid one small step.

[2015-12-02 20:53] michbarsinai commented on #1837
Another option is to have a DOI endpoint. This will also allow to point to different types of items from a DOI, which is, I think, one of the main goals of the DOI project.

Something along the lines of:

    /api/doi/10.7910/DVN/UXTXA

Not sure how to deal with versions there - we could append them (`/api/doi/12.3456/DVNE/UXTXA/versions/:latest`) and use some semi-clever URL parsing. Or we could

[2015-12-02 20:59] kcondon commented on #2787
@mheppler Thanks. So, in addition to testing the issue I should also retest every button then?

[2015-12-02 21:29] mheppler commented on #2787
I have checked most of them, but not all of them. Here are the dialog widgets that I added code to. (Double asterisk indicates that it is more than just the Cancel/Close button that new code was added to.)

dataset
- deleteConfirmation
- deleteVersionConfirmation
- deleteFileConfirmation
- deleteSelectedFileConfirmation
- deaccessionBlock
- deaccessionAllConfirmation
- compareTwo
- detailsBlocks
-

[2015-12-02 21:39] kcondon opened #2790 "My Data: Since dv optimization, My Data fails to load content list, null ptr error in log."
My Data fails to load the dataset listing, just displays spinner and a null pointer error in server log:

[2015-12-02T16:33:44.426-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.web.core] [tid: _ThreadID=49 _ThreadName=jk-connector(1)] [timeMillis: 1449092024426] [levelValue: 900] [[
  Servlet.service() for servlet edu.harvard.iq.dataverse.api.ApiConfiguration threw exception
java.lang.NullP

[2015-12-02 21:53] kcondon opened #2791 "Thumbnails: Image file thumbnails are no longer generated after optimization."
When I upload a known good image file no thumbnail is generated.

[2015-12-02 22:31] kcondon opened #2792 "Themes: Image uploaded to Dataverse is not displayed on dv page or card."
Uploading an image to a dataverse using themes does not result in the image in the dataverse homepage banner and does not appear in featured dv's or dataverse cards.

[2015-12-02 22:40] mheppler commented on #2792
- Dataverse Header: Broken image URL, image alt text in it's place
- Feature Dataverse Carousel: Broken image URL, image alt text in it's place
- Dataverse Result Card: Default icon-dataverse symbol in it's place

[2015-12-02 22:41] mheppler commented on #2791
Related #2792

[2015-12-02 22:46] landreev commented on #2792
I'm looking into it.

[2015-12-02 22:50] landreev commented on #2792
#2791 is unrelated.

[2015-12-02 23:12] landreev commented on #2792
OK, fixed the part where logos were not appearing in the carousel, and in the page headers.

[2015-12-02 23:16] landreev commented on #2792
#2791 is related after all - in that we still have real-time generation of *new* thumbnails disabled (on vm4 and vm5 both)! Existing ones should be showing.
so that's not a bug - just a configuration setting.

[2015-12-02 23:32] landreev commented on #2791
OK, so it looks like that may have been a false alarm. Because we have real-time thumbnail generation disabled on both vm4 and vm5. (we disabled it because we didn't want the app to waste any time trying to do so - as we didn't have any files locally on either box).
I'll re-enable it and re-test, and confirm.

[2015-12-02 23:40] jonc1438 commented on #907
I just wanted to remind everyone that a key function of the export is not only to share metadata but to store it in the file system in a preservation format.

Currently the version 4.2.1 we are testing only stores metadata in the database. For archives to use the Dataverse the metadata needs to be stored on disk as a preservable format like JSON or XML. That will allow it to be preserved with the

[2015-12-02 23:55] bencomp commented on #907
I think I overlooked @posixeleni's spreadsheet in my issue #2357. However, it is still relevant in light of @jonc1438's comment.

[2015-12-03 01:04] garthg commented on #1837
@RinkeHoekstra In case it's helpful, I wrote some Python that does cached lookup of dataverse IDs to make it slightly easier to manage this issue. Some code is on pastebin at: http://pastebin.com/ipdhEPXA . Obviously that's not a substitute for proper implementation through the API, but I wanted to pass it along just in case it's helpful.

[2015-12-03 02:55] landreev commented on #2791
Please retest this on vm4; thumbnails should now be generated.
Same on vm5. Also, on vm5 I copied the image files from production for the first 10 pages-worth of search results (with or without file search cards) - so you should be seeing thumbnails there as well.

[2015-12-03 04:56] landreev commented on #2777
OK, there are following known limitations/things that may be messed up:
- no "linked" icon;
- extra info for tabular files may not be shown;
- harvested cards - not sure if displayed correctly.
- mydata (and potentially any other components using SearchServiceBean) are not available...

But it is fast!! lol

I have solutions for these things; will wire them on Friday. Really had to leave today.
An

[2015-12-03 08:23] RinkeHoekstra commented on #1837
@garthg thanks! I found similar code somewhere on Github and now have a workaround.

A separate issue is that the search API is rather picky as to how the DOI is quoted. For instance Python requests always quotes the query parameters in a GET request, but the API then searches for the quoted string rather than unquoting it first. But that is a separate issue ...

[2015-12-03 16:47] kcondon commented on #2768
Had Sonia demo the issue:
1. On dataverse permissions page, create a group.
2. Select one user and in the same dialog session, select a second user.

Notice with the first user, the select user drop down is the width of the entire edit text field and so can see all the columns: name, affiliation, username but when you add a second user, it is much narrower and you can't see all the columns: anchor

[2015-12-03 17:11] kcondon opened #2793 "Groups: select list for users appears behind whiteout background in Chrome, works in FF."
From any dataverse, edit->groups->create group
type something in user/group edit box so options appear, notice the list is dispalyed behind whiteout background.

Happens in Chrome, not FF.

[2015-12-03 17:15] kcondon commented on #2792
Works now, closing.

[2015-12-03 17:16] #2792 closed

[2015-12-03 18:05] mheppler commented on #2793
Fixed layering issue with autcomplete component dropdown list on the Create Group popup from the Manage Groups pg.

[2015-12-03 18:43] kcondon commented on #2791
OK, works. Closing.

[2015-12-03 18:43] #2791 closed

[2015-12-03 19:30] kcondon commented on #2777
Also missing from the harvest card a note at the bottom that reads:
 This dataset is harvested from our partners at the ICPSR at the University of Michigan. Clicking the link will take you directly to the archival source of the data.

[2015-12-03 19:38] kcondon commented on #2777
For tabular data, for comparison on what is missing, for the same file:

production:
Tabular Data - 228.3 KB - 1559 Variables, 77 Observations - UNF: UNF:5:OJzZAAxyY+KzHZUBuzGj1A==

4.2.2:
Tab-Delimited - 228.3 KB - MD5:

[2015-12-03 19:45] kcondon commented on #2776
OK, thumbnails are still working and page is much faster. Will perform some benchmarks.

[2015-12-03 20:00] mheppler commented on #2777
I am going to take the list of to-do items from both Leonid's comment and Kevin's comment, and combined them here. Please add additional items here, for one easy to read checklist, rather than a running dialog of new comments.

-  [ ] no "linked" icon
-  [ ] extra info for tabular files may not be shown;
-  [ ] harvested cards - not sure if displayed correctly.
-  [ ] mydata (and potentially any o

[2015-12-03 20:33] mheppler commented on #2768
Looked at this issue in 4.2.2 locally and on dataverse-internal, as well as in 4.2.3 locally and on dvn-build. The upgrade to PrimeFaces 5 in 4.2.3 seems to have done away with this issue on the Create Groups popup because I am seeing a different behavior, that displays the dropdown list in fully.

I am sending this issue back to QA, and I recommend closing it, as it will be fixed in the upcoming

[2015-12-03 20:38] eaquigley commented on #1698
@mheppler I'm going through some older issues and came across this one. The workflow you describe in the last comment is no longer happening because
1) That blue box of text has been moved to the bottom of the create dataset page
2) The page grays out while the spinner is going

I'm thinking this issue can be closed since modifications were done in other tickets and this is not behaving the same w

[2015-12-03 20:48] evelynPM opened #2794 "license and terms of access information not appearing in json"
Json metadata returned as a result of a data access API call does not include the information entered in the terms tab. For example, the json pulled from https://apitest.dataverse.org/dataset.xhtml?persistentId=doi%3A10.5072%2FFK2%2F0MOPJM&version=1.3 did not include license or termsOfUse fields.

[2015-12-03 21:28] eaquigley commented on #1436
Hey @kcondon do we have data for production to see if publishing is still taking this long? I guess I'm asking if that query you list above is still showing up. If not, let's close this issue! :)

[2015-12-03 21:29] pdurbin commented on #2794
@evelynPM this is a good point. Thanks. Here's how the "Terms" tab looks as of v. 4.2.1 build 32-3164663 for the dataset you mentioned:

![metadata_mapping_test_study_-_artefactual_systems_dataverse_-_2015-12-03_16 05 56](https://cloud.githubusercontent.com/assets/21006/11574163/f8923e6a-99d7-11e5-8d2f-d63b7ca7e2a8.png)

You're basically looking for...

- CC0 - "Public Domain Dedication"
- Data is

[2015-12-03 21:33] kcondon commented on #1436
@eaquigley no, haven't see it but maybe Sonia has? Looks like it may affect datasets that have lots of versions.

[2015-12-03 21:37] pdurbin commented on #1991
Related: license and terms of access information not appearing in json #2794

[2015-12-03 21:37] eaquigley commented on #531
This is only happening on the Edit Metadata page after a dataset is created. I tried this on the Create Dataset page but on that page, the extra block with a required field was open by default so it didn't close. I'm wondering what the difference in the code is between the Create Dataset page (where extra metadata block is open by default) and Edit Dataset Metadata page (where extra metadata block

[2015-12-03 21:57] scolapasta commented on #531
I believe this was a design decision. On create there are required fields
(that are initially blank) so they are open. On Edit, they are already
filled in, and it was decided to start them as closed to keep form more
manageable.

If we were to have them open to start, then I think this issue would go
away.

On Thu, Dec 3, 2015 at 4:37 PM Elizabeth Quigley <notifications@github.com>
wrote:

[2015-12-03 22:59] bencomp commented on #2746
:+1: ! Of course I won't need to add much to what I have said before about testing.

I recently heard about [QuickTest](https://en.wikipedia.org/wiki/QuickCheck) on [Software Engineering Radio](http://www.se-radio.net/2015/11/se-radio-episode-242-dave-thomas-on-innovating-legacy-systems/). It's a system (the original works for Haskell, but there are various Java implementations) that generates lot

[2015-12-04 00:57] pdurbin commented on #2729
@pengchengluo I agree completely with @eaquigley that your visualizations are fantastic! Please do let us know if you're interested in contributing some code!

---

Meanwhile, I just heard about @metabase at https://medium.com/@metabase/why-we-picked-clojure-448bf759dc83 (someone tweeted it) which prompted me to go listen to https://changelog.com/182/ with @tlrobinson and @salsakran and it seems r

[2015-12-04 03:06] pengchengluo commented on #2729
Hi @pdurbin, the faculties in our university are interested in who download their data and the downloaders' detail information. The google analytic just collect anonymous usage information. Therefore, we add this usage statistic function.

@eaquigley , @pdurbin  We are very glad to share our code!

[2015-12-04 15:11] mheppler commented on #1698
@eaquigley -- I concur. With the addition of the blockUI PrimeFaces component (#2566), the scrollTo functionality is far less jarring and prohibits the user from impatiently clicking around on form buttons.

@scolapasta @kcondon -- closing.

[2015-12-04 15:11] #1698 closed

[2015-12-04 15:11] eaquigley commented on #1436
@kcondon I tried this on beta with a dataset that has many versions and it was always less than 3 seconds for publishing. I think this one can be closed.

[2015-12-04 15:11] #1436 closed

[2015-12-04 17:32] pdurbin commented on #2151
I pulled this out of QA to document in the Dev and Installation Guides that Java 8 will be required.

[2015-12-04 17:54] kcondon commented on #2777
Benchmark summary:
Both 4.2.1 and 4.2.2 had the same max load: 240 concurrent users but the response time at the maximum and the growth in response time under load varied considerably: 4.2.1 sharply increased, 4.2.2 stayed relatively flat.
Query count summary:
4.2.2 query counts were a factor of 10 less than 4.2.1:
4.2.2 was roughly 280 for the homepage, 250 for the files facet and 4.2.1 was 3500

[2015-12-04 17:59] pdurbin commented on #2785
Merged! c3fc5e8

[2015-12-04 18:24] mheppler commented on #2785
With 4.2.2 and the techupdate branch having been successfully merged into a new 4.2.3 branch, I can now confirm that the menu fix is there and working as advertised.

[2015-12-04 18:33] sekmiller commented on #2730
Passing to Leonid for updating push context

[2015-12-04 18:33] pdurbin commented on #2628
I just chatted with @edburns at https://javabot.evanchooly.com/logs/%23glassfish/2015-12-04 and left a comment at https://java.net/jira/browse/GLASSFISH-21440?focusedCommentId=390816&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-390816 linking back to this issue. They seem well aware of the problem which is something about how moxy/Eclipselink needs to be upgraded t

[2015-12-04 18:51] landreev commented on #2790
Please build and re-test.

[2015-12-04 18:53] kcondon commented on #2777
Benchmark
4.2.1
Users Resp (ms) / Resp (ms) File Facet Total requests RPS Fail Max Mem CPU
5         1689            3187                          99                   0.4    0    6.5GB       4.7%
100     2811            8228                          518                 6       0    7.2GB       50%
200   16665          56335                          518                 5.5    0    10GB        60%

[2015-12-04 19:04] mheppler commented on #2777
:dizzy_face:

[2015-12-04 19:21] landreev commented on #2777
Tabular data files: cards should now have proper display of UNF, var counts, etc.

[2015-12-04 19:31] kcondon commented on #2776
Tested with thumbnails in root dv homepage, see benchmarks in #2777 . Closing

[2015-12-04 19:31] #2776 closed

[2015-12-04 20:06] mheppler opened #2796 "Dataverse Result Cards - CSS Fixes"
As part of the 4.2.2 merge into 4.2.3, it seems that some minor CSS changes from #2742 didn't make into the new branch. Attached is a screenshot of how it should look.

- File cards border is dark grey
- Font size on all cards is 100% and not 90%

![screen shot 2015-12-04 at 3 05 25 pm](https://cloud.githubusercontent.com/assets/687227/11600109/8c4ea75e-9a98-11e5-9e0d-2a9e7610bdd6.png)

[2015-12-04 20:08] kcondon commented on #2777
my data and tabular data file cards now ok.

[2015-12-04 20:26] kcondon commented on #2793
Works, will test other mods with post merge regression testing. Closing.

[2015-12-04 20:26] #2793 closed

[2015-12-04 20:31] pdurbin commented on #2731
The 4.2.3 branch (as of 808f81b anyway) contains the Java 8 upgrade (#2151) and the Primefaces 5.x upgrade (#2730).

It's looking like the Glassfish 4.1.1 upgrade (#2628) isn't going to make it into 4.2.3 due to the blockers in that issue.

[2015-12-04 20:38] kcondon commented on #2787
Works in FF and Chrome. Will test the additional mods as part of merge regression testing. Closing.

[2015-12-04 20:38] #2787 closed

[2015-12-04 21:01] mheppler opened #2797 "Dataset - Edit Files "Please select..." Message Missing"
When you click the "Edit Files" button on the dataset pg, you are provided a dropdown with the options to Delete, Metadata, Restrict, Unrestrict, Tags. If you have no files selected, and choose Delete and Metadata, you get a message "Please select a file or files..." If you choose Restrict, Unrestrict, Tags, there is no such message -- for Unrestrict it even displays a success message.

There need

[2015-12-04 21:15] kcondon commented on #2790
Works now, closing.

[2015-12-04 21:15] #2790 closed

[2015-12-04 21:29] mheppler commented on #2796
Fixed lost CSS changes to dataverse pg result cards. 756a222ba08cdd15b8557fd9d86c539eda63d1f2

[2015-12-04 21:32] pdurbin commented on #2151
Since this merge is done, this matters to me more now. :)

My fix was to update my ~/.bashrc file to contain this:

[code]

Now running `mvn package` works fine from my Mac. Probably not many developers do this though. In practice Netbeans should take care of all this for us.

What else? The job at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy/17/console failed with "remote

[2015-12-04 22:13] kcondon opened #2798 "File Tags: Tabular tags are not save on an already existing draft"
On an already existing draft version of a dataset, either unpublished or of a published dataset, saving tabular data file tags does not work. Normal file tags do.

Also, the file tags are truncated if there are a lot on the view dataset and edit files views but does not seem to be on the file card.  Opened this one as #2804

These bugs exist in v4.2.1.

[2015-12-04 22:53] landreev commented on #2777
Cards for harvested dataverses and datasets should be properly formatted now.

[2015-12-04 23:31] landreev commented on #2777
Cards for harvested files should also be properly formatted now.

[2015-12-05 12:42] michbarsinai commented on #2746
Grea list, @pdurbin! Commands are normally testable by providing a text context. There's a PoC unit test for this. It's probably a good idea to add some real tests as well - this will allow for building reusable mock service beans.

[2015-12-07 04:43] landreev commented on #2777
Linked objects - should now be displayed properly.

[2015-12-07 04:43] landreev commented on #2777
File categories - should now be displayed in the file card.

[2015-12-07 04:52] landreev commented on #2777
Per @mheppler 's list of TODO items:

To the best of my knowledge, all the issue have been resolved.
With the single exception being the tabular data tags. I can easily retrieve them (at the cost of one extra db query per page); however, I feel we should just start indexing these things - same way we are already indexing file categories. This way they'll be available from SOLR, with no need to ret

[2015-12-07 14:30] pdurbin commented on #2777
A few things.

- It's confusing to me that we use the term "tags" so much (I think this deserves its own issue):
  - File categories (already indexed) show up under as the "File Tag" facet in the GUI (the Solr field is "fileTag").
  - The proposal above is to index "Tabular Data Tags". Their not currently being indexed was noted by @kcondon at https://github.com/IQSS/dataverse/issues/2466#issuecom

[2015-12-07 15:05] sekmiller commented on #2798
@kcondon  Is this on bulk update, individual file update or both?

[2015-12-07 16:21] kcondon commented on #2777
@landreev  Citation is missing from harvested datasets:
Production:
ICPSR, 2014, "Toward a Healthy America: Selected Research Data from the Health and Medical Care Archive at ICPSR", http://hdl.handle.net/1902.29/CD-11511
4.2.2:
blank but with a thin blue line which would be the background color of the citation.

[2015-12-07 16:46] kcondon opened #2799 "My Data: Card icons are incorrectly sized and positioned, regression introduced in 4.2.2."
The object type card icons that are larger and positioned to the left of the citation are now tiny and centered in the card above the citation. Should be fixed for v4.2.2.

[2015-12-07 17:04] landreev opened #2800 "Make sure citations are shown for harvested datasets, just as in 4.2.1."
Harvested datasets still have no indexed citations. So up until 4.2.2 we relied on some code that was "cooking" harvested citations in real time.

So for 4.2.2 we are going to move that code into SearchServiceBean and reindex all the harvested datasets. This way we can stop treating these harvested citations as a special case on the dataverse page.

I'm opening a separate (4.3 or 4.4) issue for a

[2015-12-07 17:05] kcondon opened #2801 "Harvested Files: Card show 0 bytes, blank MD5"
Example:
data/various-formats - 0 bytes - MD5:

Could maybe hide this or perhaps a note indicating file is hosted remotely.

[2015-12-07 17:30] landreev commented on #2800
@kcondon
I committed a change that makes harvested datasets show citations.
But we still need to reindex all the harvested datasets, to make sure the citations are well-formatted.
(Most importantly, we don't want to show the handle global ids that we used to assign to nesstar studies)

[2015-12-07 18:47] pdurbin commented on #2132
@landreev it was just pointed out to me by @scolapasta that as part of draft cleanup of hdl:1902.1/00097-8 on dvn-vm5 we are seeing NullPointerException at `for (DataVariable var : variables) {` here...

- v4.2.1: https://github.com/IQSS/dataverse/blob/v4.2.1/src/main/java/edu/harvard/iq/dataverse/search/IndexServiceBean.java#L916
- 4.2.2 branch: https://github.com/IQSS/dataverse/blob/57639509e749

[2015-12-07 19:16] kcondon opened #2802 "Files Card: Tabular data tags do not appear on files card in v4.2.2."
Tabular data tags do not appear on file cards in v4.2.2. but do appear in v4.2.1.

[2015-12-07 19:17] #2777 closed

[2015-12-07 19:22] kcondon commented on #2798
@sekmiller It happens on the edit file metadata view, aka individual files.

[2015-12-07 20:13] kcondon commented on #2760
Works, closing

[2015-12-07 20:13] #2760 closed

[2015-12-07 20:17] kcondon commented on #2772
OK works, closing

[2015-12-07 20:17] #2772 closed

[2015-12-07 20:19] kcondon commented on #2757
Works, closing

[2015-12-07 20:19] #2757 closed

[2015-12-07 20:23] kcondon commented on #2768
Looks good, closing.

[2015-12-07 20:23] #2768 closed

[2015-12-07 20:26] kcondon commented on #2785
Looks good, closing

[2015-12-07 20:26] #2785 closed

[2015-12-07 20:27] kcondon commented on #2773
Works, closing

[2015-12-07 20:28] kcondon commented on #2773
Works, closing

[2015-12-07 20:30] #2773 closed

[2015-12-07 20:41] landreev commented on #2802
Interestingly, we have the total of 200 tabular files with "data tags"; in 16 distinct datasets.
So that's only 16 datasets to reindex; if we were to start indexing these.
Which I am really going to do!

[2015-12-07 20:41] landreev commented on #2802
("we have ... in production" that is)

[2015-12-07 20:44] kcondon commented on #2796
@mheppler Tags do not appear in v4.2.3 on the file card so can't verify this. I'll open a new ticket for this.

[2015-12-07 21:35] kcondon commented on #2151
Closing

[2015-12-07 23:36] landreev commented on #2777
Just an  info update:
We realized today the 4.2.1 query-counting test, above, was done with a pre-production build of 4.2.1.
But I re-ran the tests today, with the final, production 4.2.1 build - and the numbers are virtually the same. (they don't have to be exactly the same, because some datasets have been reindexed since last week - so the data objects loaded on the home page are not the same).

[2015-12-08 00:17] landreev commented on #2802
Tabular data tags are now being indexed and displayed.
The attached screen shot is from dvn-vm5. The data tags are being shown for existing files there because I updated the solr schema on vm7 and reindexed the datasets that had tab files with tags.
Any other solr instance will need to have the schema updated; and any existing tagged files will need to be reindexed. (this will need to be done in p

[2015-12-08 02:05] landreev commented on #2800
OK, nevermind on the "need to reindex" part. All the harvested datasets in production already have properly-formatted citations indexed in solr.
So, in terms of QA, please double-check that the citations shown in search cards on vm5 are identical to what we get in production.

[2015-12-08 14:56] evelynPM opened #2803 "DDI.XML file retrieved in multi-file bundle download contains 0 bytes"
A bundle retrieved through the Data Access API from https://apitest.dataverse.org/dataset.xhtml?persistentId=doi:10.5072/FK2/D3B38B included an empty DDI.XML file.

[2015-12-08 15:14] pdurbin commented on #2803
@evelynPM can you please provide an example in curl or Python for how to reproduce this?

Note to self that apitest is currently running v. 4.2.1 build 32-3164663.

[2015-12-08 16:32] pdurbin commented on #2264
#2803 may be related.

[2015-12-08 16:34] pdurbin commented on #2263
This appears to be a duplicate of #1912.

[2015-12-08 16:54] kcondon commented on #2800
OK, looks good. Closing.

[2015-12-08 16:54] #2800 closed

[2015-12-08 17:04] kcondon opened #2804 "Files Tab: File tags are cropped well short of width of table and shorter than file card."
This issue predates 4.2.2 but reporting it after retesting this area:
If you enable all default tags, both file category and tabular data tags for a tabular data file, all appear on the file card but are cropped at geo in geospatial on the files tab view.

[2015-12-08 17:28] kcondon commented on #2802
OK, works, closing.

[2015-12-08 17:28] #2802 closed

[2015-12-08 20:18] pdurbin commented on #2132
In this morning's standup @scolapasta mentioned the constraint was added to production. I'm not sure why this isn't in the 4.2.1 milestone though so I'll move it there.

[2015-12-08 20:18] landreev commented on #2803
Was the bundle generated for the file ERS_weather_data_hourly_2015-x.tab?

[2015-12-08 21:09] scolapasta opened #2805 "Add Date/Time and Sever for unexpected error messages"
When people get unexpected error messages, we have a message for them to contact support. It would be useful for us to have the day/time and server on this, so that if they take a screenshot, we know exactly where in the logs to look.

[2015-12-08 21:11] #2132 closed

[2015-12-08 21:38] pdurbin commented on #2805
Related: #2200

[2015-12-08 21:39] pdurbin commented on #2200
Related: #2805

[2015-12-08 21:40] evelynPM commented on #2803
Yes, that bundle contained the 0 byte DDI.XML file.

[2015-12-08 21:57] kcondon opened #2806 "Guestbook: Throws server log error when downloading multiple files and no guestbook selected."
There is a server log error thrown when a user downloads multiple files at once and there is no guestbook selected. This disappears as soon as a guestbook is chosen:

[2015-12-08T16:41:25.168-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.resource.jta.com.sun.enterprise.transaction] [tid: _ThreadID=50 _ThreadName=jk-connector(4)] [timeMillis: 1449610885168] [levelValue: 900] [[
  DTX5014: Ca

[2015-12-08 21:59] kcondon opened #2807 "Guestbook: Selecting guestbook in a draft version enables it in published version."
Selecting a guestbook in a draft version should not enable it in other versions until the draft version is published but instead enables it as soon as it is selected.

Please check in with Gustavo for a detailed explanation.

[2015-12-08 22:02] kcondon commented on #2805
No way to reproduce but will make sure rest of app works ok. Closing.

[2015-12-08 22:02] #2805 closed

[2015-12-08 22:48] kcondon opened #2808 "Files Tab: Tabular data tags are not sorted."
Tabular data tags appear in random order: for a dataset with several tabular files, batch add tabular data tags, select all, and notice they are in different order per file. This was fixed in the file cards.

[2015-12-08 23:20] kcondon commented on #2637
@sbarbosadataverse @scolapasta
The bug is that you cannot create a dataset using a template and upload files at the same time. Creating a dataset with a template without files works and creating a dataset with files without a template works.

The workaround for now is to create the dataset using the template, then add files.

[2015-12-09 02:28] posixeleni commented on #2437
Note this is also affecting Gary's datasets:
https://dataverse.harvard.edu/?globalId=hdl:1902.1/11193

On Wed, Dec 2, 2015 at 11:44 AM, kcondon <notifications@github.com> wrote:

--

Eleni Castro
Research Coordinator, Data Curation and Outreach
IQSS, Harvard University
617-496-0703
http://www.iq.harvard.edu/people/eleni-castro
http://orcid.org/0000-0001-9767-8536

~Got Data? Check out the Datavers

[2015-12-09 08:51] bencomp commented on #2437
@kcondon redirect/rewrite might be a temporary solution, but you should really update the Handle records to point at the correct URLs.

[2015-12-09 13:34] kcondon commented on #2437
Thank Ben, I'm fully aware of the options and am pursuing those according to my own best judgement.

________________________________
From: bencomp [notifications@github.com]
Sent: Wednesday, December 09, 2015 3:51 AM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] Handles: Restore handle registration functionality in 4.x (#2437)

@kcondon<https://urldefense.proofpoint.com/v2/url?u

[2015-12-09 15:45] kcondon commented on #2437
So an update for all the watchers:
-We resolved the first issue from a week ago by updating the handle record to use the correct URL.
-We had intended to update all handle records to use the correct URLs after we changed URLs but this seems to not have been done or not done completely so a review needs to be performed.
-There is also a rewrite issue that makes the general problem visible as a resu

[2015-12-09 16:33] kcondon opened #2809 "Persistent Identifiers: Update forwarding URLs to reflect current Dataverse production URL"
For both DOI and Handles the identifier records need to be reviewed holistically and updated to reflect the current production URL so we do not need to rely on rewrite rules indefinitely to resolve them.

[2015-12-09 16:36] kcondon opened #2810 "Rewrite Rules: Retest and correct URL rewrite rules"
The rewrite rules were moved from glassfish to apache and at least one rule, redirecting datasets from thedata.harvard.edu to dataverse.harvard.edu is not working: rather than resolving and redirecting handles to the appropriate datasets, they send users to the dataverse.harvard.edu home page.

[2015-12-09 16:58] kcondon commented on #2751
@sbarbosadataverse This is fixed in v4.2.2, to be deployed today and fixed in another ticket, #2735 , as part of the v4.2.2 release. Closing.

[2015-12-09 16:58] #2751 closed

[2015-12-09 17:29] mheppler opened #2811 "My Data -- 500 Internal Error for User in Multiple Groups"
It has been discovered on my localhost that if a user is in multiple groups, My Data throws a 500 error. Glassfish output below.

[code]

[2015-12-09 18:25] mheppler commented on #2799
Fixed CSS issues with icon alignment and text size on MyData and dataverse pg.

[2015-12-09 18:34] sekmiller commented on #2806
Fixed and checked into 4.2.2

[2015-12-09 19:22] mheppler opened #2812 "Dataset Save Failed - Clean Up Error Message"
In 4.2.2 the date, time and server were added (#2805) to the error message displayed when something inexplicably goes wrong when creating dataset. Here are some formatting suggestions for cleaning up what the user sees when they encounter that error.

  -- The date and time should be a little easier on the eyes, or maybe we should use whatever format is in the logs, so that support can find it eas

[2015-12-09 19:30] sekmiller commented on #2637
@kcondon  - There may be more to it than that.  I wasn't able to recreate this in the simplest case.  Do you have to change templates during the create process? Have a template with data in other metadata blocks? I will continue to try to recreate.

[2015-12-09 20:45] sbarbosadataverse opened #2813 "Custom ordering of Featured Dataverses broken: should be able to order featured children"
Custom ordering of  "featured child dataverses"  not working. Noticed this as I was using this feature today,

[2015-12-09 23:09] landreev commented on #2813
Correct, the dataverses in that carousel are not being sorted by DisplayOrder. A simple bug in the new query.

I have checked in a fix. We can decide tomorrow if we are patching the production for this, and if so - when.

@sbarbosadataverse  - could you please take a look at dvn-vm5.hmdc.harvard.edu, and confirm if that's the correct order?
My latest patch is already applied there.

[2015-12-10 01:27] pdurbin commented on #2813
It looks like the fix (422a310) is in the 4.2.2 branch so I'll set the milestone to the same.

[2015-12-10 14:02] posixeleni opened #2814 "Dataset Summary: Related Publication URL should display if no identifier"
Confirmed with @scolapasta that this is a bug. On the Dataset Summary the URL will not display in the Related Publications if there is no identifier filled in for it. The expected behavior is that the URL should display if there is no identifier.

![image](https://cloud.githubusercontent.com/assets/5013837/11717176/a89d0b3e-9f1c-11e5-980b-0b9a03f6d9f0.png)

[2015-12-10 14:45] sekmiller commented on #2637
It happens when you go from no template to a template.

[2015-12-10 14:57] sbarbosadataverse commented on #2637
Thanks, Kevin. That's the one I didn't test--with adding files.

On Tue, Dec 8, 2015 at 6:20 PM, kcondon <notifications@github.com> wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0

[2015-12-10 15:05] pdurbin opened #2815 "Indexing is not forgiving enough about bad data in database, should report what's wrong"
In production we get a 500 error when visiting a certain dataset via either of these links:
- https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/E2ULRS
- https://dataverse.harvard.edu/dataset.xhtml?id=2735375

![500_internal_server_error_-_harvard_dataverse_-_2015-12-10_10 00 42](https://cloud.githubusercontent.com/assets/21006/11718656/13270128-9f25-11e5-8aa5-e8054de68256.pn

[2015-12-10 18:00] kcondon opened #2816 "Error Handling: Throws 500 error rather than 404 for missing or non existent dataset."
The system should throw a 404 error when a requested dataset does not exist but currently throws a 500 error. This was a regression and needs to be corrected.

[2015-12-10 18:38] pdurbin opened #2817 "Mention Vagrant in the Installation Guide"
In January 2013 a user was having trouble running `vagrant up` on 32bit Windows: https://groups.google.com/d/msg/dataverse-community/wRxRSGE8VpQ/jO2liOkcnLsJ

Today I have been helping someone with similar trouble.

We should see what we can do with the Vagrant config to make `vagrant up` work on more platforms.

I *think* the solution could be to detect 32 bit and use a different Vagrant base box

[2015-12-10 18:45] pdurbin commented on #2817
Actually, for the problem in question it may be that installing a version of VirtualBox that allows for the creation of 64 bit Linux may help. Here's how it should look:

![screen shot 2015-12-10 at 1 44 18 pm](https://cloud.githubusercontent.com/assets/21006/11724800/44eacf68-9f44-11e5-841e-4a4b09c9e1ef.png)

[2015-12-10 18:57] pameyer commented on #2817
I haven't tested enough to know if it's specific to the default puppet-vagrant-boxes.puppetlabs.com-centos-65-x64-virtualbox-puppet.box; but `vagrant up` also appears to need VirtualBox 5 (VirtualBox 4.3.34 is supported by vagrant, but has networking issues for standalone.vm.box).  I'm not sure if this is something that could be checked for in vagrant or not (or how reproducible it is, for that ma

[2015-12-10 19:09] landreev commented on #2816
4.2.2?

[2015-12-10 19:14] pdurbin commented on #2815
I spoke with @kcondon and he indicated that this issue can be moved out of the 4.2.2 milestone so I'll do that now. #2816 is related.

[2015-12-10 21:15] landreev commented on #2816
OK, I have a code fix for that.
I still feel this is something we could/should delay till 4.2.3. (this is definitely something that was introduced back in 4.2.1)

[2015-12-10 21:18] landreev commented on #2816
(I'm not checking in my fix, until we decide we patching this bug in 4.2.2; discuss at the AM meeting?)

[2015-12-11 11:35] pdurbin commented on #2729
@eaquigley it looks like @pengchengluo just made a pull request at #2818 . Did you have a test server in mind?

[2015-12-11 14:45] pdurbin commented on #2777
That issue is #2802

[2015-12-11 14:58] pdurbin commented on #2817
Ok, I'm cheating a bit by removing "32bit" from the title of this issue. It's far easier for me to assume that people using Vagrant are able to boot a 64 bit Linux VM in VirtualBox.

The person I was helping yesterday actually had a 64 bit version of Windows and she found a solution at http://www.fixedbyvonnie.com/2014/11/virtualbox-showing-32-bit-guest-versions-64-bit-host-os/ which helped her di

[2015-12-11 15:37] eaquigley commented on #2729
@pdurbin beta.dataverse.org would be the test server in mind since it is intended to be the test machine that shows new features and functionality.

[2015-12-11 15:43] bencomp commented on #2729
It would be interesting to see the performance under load, as ElasticSearch can scale, but for it to scale I think you need multiple machines. Something for [locust](http://locust.io/)?

Server capacity at DANS is low, so although this work is very interesting, I would probably want to wait with setting up all of this.

[2015-12-11 15:45] eaquigley commented on #2729
@bencomp it would be interesting to set this up on one of our test machines (beta.dataverse.org) and run locust against it to see what happens to performance of the application.

[2015-12-11 17:21] sekmiller commented on #2637
Fix checked into 4.2.2

[2015-12-11 17:44] landreev commented on #2816
Fix checked in, into 4.2.2.

[2015-12-11 18:55] pdurbin commented on #531
Apparently the same logic holds when **viewing** a dataset. Everything but the "Citation" metadata block is hidden (collapsed). You have to click "Geospatial Metadata" for example, to see the fields that have been filled in. I suspect that new users may not realize they can click to see more metadata:

![ethiopia_social_accounting_matrix_ sam _2005-06_-_international_food_policy_research_institute

[2015-12-11 19:02] kcondon commented on #2816
Works, closing

[2015-12-11 19:02] #2816 closed

[2015-12-11 19:04] kcondon commented on #2637
Fixed, closing.

[2015-12-11 19:04] #2637 closed

[2015-12-11 19:05] kcondon commented on #2813
Fixed, closing.

[2015-12-11 19:05] #2813 closed

[2015-12-11 19:05] kcondon commented on #2811
Fixed closing.

[2015-12-11 19:05] #2811 closed

[2015-12-11 19:06] kcondon commented on #2806
Fixed, closing.

[2015-12-11 19:06] #2806 closed

[2015-12-11 19:06] kcondon commented on #2799
Fixed, closing.

[2015-12-11 19:06] #2799 closed

[2015-12-11 20:52] pdurbin commented on #2805
As I was mentioning to @scolapasta the commit at c32cd3e contains code that should show which server you are on (such as kirk vs. picard for us). #2200 is related.

[2015-12-11 21:34] shlake opened #2819 "Initial Home (Results) Page"
Suggestion by a few of our users.

The "home" dataverse pages has the text "__1 to 10 of XXX Results__". Comment was "I haven't done a search yet, why am I getting results?"

A suggestion, based on top screens from DV 3.6:
There the text has "__Recently Released__". That is totally understandable (maybe "Recently Published" in V 4.2?). This is what the initial screen is showing published datasets/

[2015-12-11 21:40] shlake opened #2820 "Better Differentiation between Dataset boxes and Dataverse boxes"
Suggestion by a few of our users.

To make the borders (red/blue) around dataverse/datassets thicker. Comment was the red and blue boxes did not make them distinct enough.

[2015-12-11 21:55] shlake opened #2821 "Advanced Search "File Type" needs better label"
Suggestion that this field be renamed to "File Extension" as this is what is being searched (and is what the tool tip says).

There is also an inconsistency with the FileType facet. In the screenshot below, the search was for fileType "tab", but the File Type facet says "**tabulardata**:

![screen shot 2015-12-11 at 4 49 33 pm](https://cloud.githubusercontent.com/assets/3809325/11756375/75b958d8-a

[2015-12-11 22:12] shlake opened #2822 "Cannot Advance search for Original File types (files that have been converted to tab)"
When uploading a csv file, IF it is good format, dataverse converts it to a "tab" file. But if a user searches for that file with "File Type = csv", (or any original file type that has been changed to tab) it will not be found. It is found with File Type = tab

Actually searching for "csv" in File Type doesn't find any file (and "csv" is one of the example extensions in the tool tip). And there ar

[2015-12-13 22:46] lwo commented on #2712
I see the error as well in a clean install of dataverse 4.2.1. The action that triggers it in this case is a download of dataset files as a zip. The latter works, but throws a database error on the side:

Caused by: org.postgresql.util.PSQLException: ERROR: null value in column "datafile_id" violates not-null constraint
  Detail: Failing row contains (23, Download, , , Guest, , 2015-12-13 23:43:45

[2015-12-13 22:54] scolapasta commented on #2712
@kcondon can you verify we closed this with the most recent change to 4.2.2?

[2015-12-14 15:59] raprasad opened #2823 "File Access API not working for WorldMap key"
<img width="1147" alt="500_internal_server_error_-_harvard_dataverse" src="https://cloud.githubusercontent.com/assets/1036060/11785882/b98d7f22-a251-11e5-9730-b0b76802292c.png">

[2015-12-14 19:17] pdurbin opened #2824 "API: unable to delete users who have published (usernotification table)"
I'm in the 4.3.2 branch (e10e6fb) writing API integration tests as part of #2746 and now that I'm starting to publish dataverses and datasets via API I'm no longer able to delete the users that created them. I'm getting this:

org.postgresql.util.PSQLException: ERROR: update or delete on table "authenticateduser" violates foreign key constraint "fk_usernotification_user_id" on table "usernotificat

[2015-12-14 19:27] pdurbin commented on #2824
Fixed in ff12dfb

To test:

    curl -X DELETE http://localhost:8080/api/admin/authenticatedUsers/jdoe

[2015-12-14 19:40] pdurbin opened #2825 "API: Cleaner messaging when attempting to delete a user that has "history""
Related to #2824 about deleting users, it's impossible to delete a user if that user had published the root dataverse:

org.postgresql.util.PSQLException: ERROR: update or delete on table "authenticateduser" violates foreign key constraint "fk_dvobject_releaseuser_id" on table "dvobject"
  Detail: Key (id)=(8) is still referenced from table "dvobject".

I'm not sure what the right fix for this sho

[2015-12-14 19:43] #2712 closed

[2015-12-15 10:02] lwo opened #2826 "IPv4Address exception using API via proxy"
On dataverse 4.2.1

Users can see HTML pages. But under certain proxy conditions using an API call gives the error.

Our log throws the following exception:
{code}[2015-12-15T10:14:57.130+0100] [glassfish 4.1] [WARNING] [] [javax.enterprise.web] [tid: _ThreadID=47 _ThreadName=jk-connector(2)] [timeMillis: 1450170897130] [levelValue: 900] [[
  StandardWrapperValve[default]: Servlet.service() for se

[2015-12-15 13:22] pdurbin commented on #2826
@lwo thanks for the bug report. Would it be possible for you to create a branch at https://github.com/IQSS/dataverse-puppet that sets up this configuration in Vagrant? I'm personally not familiar with Varnish and I've barely touched nginx.

[2015-12-15 13:29] pdurbin commented on #1971
#2729 has some information on \# of data explorations.

[2015-12-15 13:34] pdurbin commented on #1104
@michbarsinai https://github.com/IQSS/dataverse/issues/2729#issuecomment-154773635 has IP, username, country, city, etc.

[2015-12-15 14:22] pdurbin commented on #2330
I just wanted to point out that @landreev created a very nice "dataflow" diagram in cd08f71 and the latest version looks like this:

![dataflow](https://cloud.githubusercontent.com/assets/21006/11812945/d6ab2b70-a30c-11e5-9eb3-bffa93f9b0e9.png)

I think we should produce multiple diagrams, however. For example, it would be nice to have one that explains the physical hardware behind https://dataver

[2015-12-15 15:15] pdurbin commented on #2330
In e9716b9 I pushed a diagram of the six servers we use in production at Harvard:

![components](https://cloud.githubusercontent.com/assets/21006/11814436/b2506b52-a314-11e5-8764-7191ba54ddf9.png)

[2015-12-15 15:24] pdurbin commented on #2330
I just created a Google Doc called "[Harvard Dataverse Architecture Diagram and Hardware Specs](https://docs.google.com/document/d/1LM-LGCuB8s8kNbZhaXYiMv-yC3uUdSP154DDQ8BxNQg/edit?usp=sharing)" where I'm putting these diagrams for now. Comments are welcome!

[2015-12-15 18:15] mheppler commented on #531
It looks like the render logic is there, but it isn't applied consistently to the various moving parts of the collapsible panel components of the additional metadata blocks.

For example, here is what Citation Metadata block looks like in the dataset pg "Edit" view, with the text blue, and the chevron icon pointed up, and the panel open.

![screen shot 2015-12-15 at 1 09 58 pm](https://cloud.githu

[2015-12-15 18:30] eaquigley commented on #1736
@mheppler Could we have text in the box with the view that renders to only show when its a guestbook that is inherited? my other thought would be a column for Dataverse Created In but that seems a bit much.

[2015-12-15 18:31] eaquigley commented on #1729
@kcondon I'm passing this ticket to you to close as it seems to be a duplicate of #1418.

[2015-12-15 18:53] eaquigley commented on #1350
I went in and looked to see what is being tracked with guestbook downloads now. The image below shows the data being collected. @sbarbosadataverse, would you expect to see other data that is outside of the guestbook fields here?

![screen shot 2015-12-15 at 1 47 31 pm](https://cloud.githubusercontent.com/assets/5922904/11820408/68629efc-a332-11e5-8cec-c9955539049a.png)

[2015-12-15 19:23] #1729 closed

[2015-12-15 20:27] mheppler commented on #531
Fixed render logic for the collapsible panel and styles missing from panel-heading of dataset metadata blocks in the "create" view.

The other reported issues regarding the additional metadata blocks being collapsed in the "edit" and "info" views was as designed, as was pointed out in previous comments. This is something that can be further looked into with usability testing, and shouldn't keep th

[2015-12-15 21:04] mheppler commented on #1736
Yes, I believe the best approach would be to add a small text message to the Action column of the Manage Guestbook pg, like we do for inherited roles on the Manage Permissions pg. (See attached.)

<img width="462" alt="screen shot 2015-12-15 at 4 00 10 pm" src="https://cloud.githubusercontent.com/assets/687227/11824027/66919bd8-a345-11e5-8e31-0ae8c91a425f.png">

Also, this same "no edit button" is

[2015-12-15 21:09] mheppler opened #2827 "Manage Templates: No Edit Button for Inherited Templates"
When a dataset template is inherited by a dataverse from it's parent, no "Edit" button is displayed on the Manage Templates pg. To resolve this usability issue, it was suggested that a message like the one used for inherited permissions could be added to the "Action" column of the manage table.

This issue was also pointed out on the Manage Guestbooks pg #1736. More information about that issue, a

[2015-12-16 15:12] sekmiller commented on #2597
@raprasad, @landreev
Is there an ingest aspect to this? In other words, does some processing happen during ingest that we need to turn on/off?

[2015-12-16 15:32] eaquigley commented on #2745
@sbarbosadataverse I tried recreating this today and I couldn't get it to happen on demo.dataverse.org. can i pass this to @kcondon to try and if it isn't happening, close? i'm wondering if this was one of those things that happened when the servers were acting up.

[2015-12-16 15:38] sbarbosadataverse commented on #2745
Depends when the server was acting up. This wasn't that far back. I've
noticed lingering dialogue boxes as recent as this week.

On Wed, Dec 16, 2015 at 10:32 AM, Elizabeth Quigley <
notifications@github.com> wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!

[2015-12-16 16:40] sekmiller commented on #2797
Restrict and unrestrict messaging fixed.

[2015-12-16 16:45] pdurbin commented on #2597
As decided in this morning's meeting I created a new [2597-geoconnect-toggle-off](https://github.com/IQSS/dataverse/commits/2597-geoconnect-toggle-off) branch for @sekmiller to push to for this issue, branched from the v4.2.2 tag. I bumped the version number to 4.2.2.1 to distinguish it from v4.2.2 which is already tagged. We **might** end up just cherry-picking the fix into 4.2.3 (I guess I'll ch

[2015-12-16 17:44] kcondon opened #2828 "Publish Dataset: During service instability, dataset was published, not indexed, doi not made public/"
This is a real life service issue that points to the need for more defensive coding around publishing a dataset: RT 230496

There were 2 issues:
1. The dataset was published but not reindexed so the dataset card showed draft unpublished when the dataset page itself showed published. Reindexing solved this.
2. The DOI was registered but not made public. This should never happen: when the dataset is

[2015-12-16 17:50] sekmiller commented on #2780
Suggested changes to the error messages have been made and checked into 4.2.3 branch.

[2015-12-16 17:51] pdurbin commented on #2815
I haven't verified this yet but the thought is that a huge list of dataset ids is created at the start of "index all" and by the time indexing completes (slow in production per #50) it's possible that someone has deleted a dataset completely (no trace, unpublished draft deleted), causing an indexing failure since the dataset doesn't exist.

[2015-12-16 18:13] pdurbin commented on #2828
I explained my theory to @kcondon that perhaps something went wrong in the ~30 lines of code that get executed in the PublishDatasetCommand **after** the call to reindex the dataset. Since this issue happened in 4.2.2 I'll link to that version below.

My question to @sekmiller and @scolapasta is if there is any problem with me moving the call to "indexDataset" to the very bottom of the "execute" m

[2015-12-16 20:00] michbarsinai commented on #1837
URL scheme for external persistent ids:

    http://dataverse.org/api/datasets/:persistentid/:draft?persistentid=doi:10.2.3.4./open/ended/notation*

* As long as the character is legal in URL parameters, so can't support, e.g.  `&`.

[2015-12-16 20:14] eaquigley opened #2829 "Dataverse Category: Add Department"
During a demo, it was mentioned how being able to create a sub dataverse for an institution that was categorized as a department would be really helpful.

@posixeleni could you add Department as an option to the Dataverse Category dropdown?

If possible, @scolapasta, could this be added in for the first release of the new year? Thanks!

[2015-12-16 20:21] eaquigley opened #2830 "Browse/Search Facets: Custom Metadata Schemas Showing as options for Facets"
In #2077, custom metadata schemas were fixed to only show in the dataverses they belonged to. However, in the browse/search facets section the facets available for the custom metadata schemas are still showing up. We should have the facets match the same behavior as the metadata schemas section so only the citation, geospatial, social sciences, astronomy + astrophysics, life sciences, and journals

[2015-12-16 20:21] shlake opened #2831 "Installation Customization - Configurable Navbar Link for User Guides"
Propose that the "Guides" link at the top of the page NOT be a drop down but go to one [configurable] link (set as GuidesURL, so we can select THE URL - one - we want, and not need a "base" URL - currently the configuration setting is GuidesBaseURL).

[2015-12-16 20:35] shlake opened #2832 "Guides URLs are not Consistent"
The Guides URLs are not consistent.

Two of them have - __en/4.2__ and
two have __en/latest__

Because of the inconsistent URLs, adding a baseURL (GuidesBaseURL) does not work.

Phil says Harvard DV manually symlink "latest" to the version of the docs that's in production.

But I don't believe that this is feasible for the rest of us to do it that way.  If we want to change the default Guide locat

[2015-12-16 22:05] pdurbin commented on #2160
Now that this is in production, the "Topic Classification Term" term in [the MRA](https://dataverse.harvard.edu/dataverse/mra) looks nice (compare with https://github.com/IQSS/dataverse/issues/2160#issuecomment-152556315 ):

![murray_research_archive_dataverse_-_2015-12-16_17 02 02](https://cloud.githubusercontent.com/assets/21006/11855240/03472cc8-a417-11e5-9304-182eb5e1a52f.png)

[2015-12-16 22:13] pdurbin commented on #2832
You can read about the reasoning behind "latest" for Dev and Installation Guides and "4.2" (or whatever versions) for User and API Guides at #2154. In short, we want to direct users (both GUI and API users) to the version they are using. People installing Dataverse should install the latest version. Developers should look at the latest dev guide.

Thanks for opening this issue @shlake as a follow

[2015-12-16 22:59] posixeleni commented on #2829
Hi Elizabeth,

Unfortunately, this is not something I have edit abilities to do since it
is at the Dataverse-level rather than the dataset metadata level. So it
needs to be edited in the code rather than in the metadata tsv's.

Cheers
Eleni

Eleni Castro
Research Coordinator, IQSS
Harvard University
On Dec 16, 2015 3:40 PM, "Elizabeth Quigley" <notifications@github.com>
wrote:

[2015-12-16 23:26] pdurbin commented on #2829
Yeah, it's an enum in "Dataverse.java":

[code]

[2015-12-17 15:30] pdurbin commented on #2122
@michbarsinai and I took a look at this today and I captured some profiling data, which I uploaded to [Google Drive](https://docs.google.com/a/harvard.edu/document/d/1dafzUn7Ng6q-DBPqQliJdSW6Y4j5wEObu0f8GRmXb1w/edit?usp=sharing). `curl http://localhost:8080/api/dataverses/:root/contents?key=$API_TOKEN` ran for about 40 minutes but I'm not sure what the output ultimately was since I was piping the

[2015-12-17 17:01] kcondon commented on #2810
An example: http://hdl.handle.net/1902.1/11193
Current record: http://dvn.iq.harvard.edu/dvn/study?globalId=hdl:1902.1/11193
Resolves incorrectly to: https://dataverse.harvard.edu/?globalId=hdl:1902.1/11193
Should resolve to: https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/11193

Please note there is another ticket, #2809 that is the fundamental fix for these issues: update the

[2015-12-17 20:04] pdurbin commented on #2036
I demoed to @kcondon a fix I just pushed to a separate branch in 1770995 that makes the indexing of permissions asynchronous when granting or revoking roles.

Per the output below, the time to grant was reduced from 14.5 seconds to 0.2 seconds.

@scolapasta I'm going put this in the 4.2.3 milestone so you can review the code and decide if you want it in. I know in the past we've had to back out of

[2015-12-17 20:26] landreev commented on #2810
OK, there was a problem with this rule:

We (I) were using

RewriteRule     ^.*globalId=(.*)        https://dataverse.harvard.edu/dataset.xhtml?persistentId=$1

- but, apparently, RewriteRule only matches on the URL (not on the URL parameters).
So, to match the globalId parameter, the following rule needs to be used instead:

RewriteCond     %{QUERY_STRING} globalId=(.*)
RewriteRule     ^/(.*)

[2015-12-17 20:27] landreev commented on #2810
That said, it's not clear why some of our registered handles still have the old hostname registered.
I'll need to go through them one more time and see if any need to be re-registered still.
So I'm keeping that other ticket (#2809) in my queue .

[2015-12-17 21:55] shlake opened #2833 "Publish Data: Configurable popup message"
When publishing a dataset, we would like the current pop-up

![screen shot 2015-12-16 at 11 50 48 am](https://cloud.githubusercontent.com/assets/3809325/11881308/f578e7fe-a4d3-11e5-8dca-7771a00275fd.png)

to have additional information (configurable??), such as  "Deposit License" text.

Suggestion is to include (on the "Are you sure" Publish Data pop-up) brief text (confirmation of complying with

[2015-12-18 19:51] sbarbosadataverse opened #2834 "Groups: "usernames" are not accepted when trying to add users to "groups.""
You can only add users by "first and last name." Since everything else with permissions has been updated to use either or or, this should also be applied to this feature.

[2015-12-18 20:12] sekmiller commented on #2597
@raprasad
mapit link and md5 are non-nullable fields so an insert statement for worldmapauth_tokentype needs to have values for these.

[2015-12-18 20:32] sbarbosadataverse opened #2835 "data files scrolling: users report Chrome not allowing to scroll past 25-50 files"
Two users have reported that chrome is limiting their ability to scroll files on the "files" tab, beyond 50 files.

[2015-12-19 19:23] michbarsinai commented on #1837
Implemented in feature branch 1837-persistent-id-in-dataset-api. To test: Use the regular API testing, but refers to the dataset as `http://dataverse.org/api/datasets/:persistentid/:draft?persistentid=doi:<doi-goes-here>`.

[2015-12-21 16:40] posixeleni opened #2836 "Add Data Button Missing on Demo Server"
@sbarbosadataverse and I have a demo at CfA this afternoon and when I logged into demo https://demo.dataverse.org/ I am unable to see the Add Data button in order for me to "Add Data" or "Add Dataverse". It is using the same build as production v. 4.2.2 build 54-9883aaa

![image](https://cloud.githubusercontent.com/assets/5013837/11935613/cbeb8922-a7d6-11e5-89e3-573ce28161fb.png)

For the short te

[2015-12-21 17:05] posixeleni commented on #2836
Issue resolved. Permissions were not setup correctly when 4.2.2 was setup in demo. Closing.

[2015-12-21 17:05] #2836 closed

[2015-12-22 04:32] sbarbosadataverse opened #2837 "adding files while creating new dataset results in error; solution is to create dataset without adding files"
This has been reported several times in the past two weeks:

I am trying to create a new dataset as part of [any] Dataverse. However, it's giving me the following error:

"edu.harvard.iq.dataverse.engine.command.exception.IllegalCommandException: Dataset with identifier 'TMSXYD', protocol 'doi' and authority '10.7910/DVN' already exists"

I was able to successfully create a dataset if I skipped ad

[2015-12-22 18:44] ajirnyi opened #2838 "Local account creation URL ignores :AllowSignup"
If I set `:AllowSignup=no` by doing `curl -X PUT -d no "$SERVER/admin/settings/:AllowSignUp"`, it removes the "Sign Up" link at the top of the page; however, the actual URL  "https://our.dataverse.server.edu/dataverseuser.xhtml?editMode=CREATE" remains functional, and allows creation of new local user accounts.

It would be nice if the `:AllowSignup=no` setting actually disabled creation of new lo

[2015-12-27 11:38] lwo commented on #2826
That is not a bad idea... But I think the underlying cause of the issue itself is here:
https://github.com/IQSS/dataverse/blob/4.2.2/src/main/java/edu/harvard/iq/dataverse/engine/command/DataverseRequest.java#L23

where the client's IP is determined by reading from the "X-Forwarded-For" header. In a proxy chain this may be a comma separated list: "X-FORWARDED-FOR: ip1, ip2, ip3", and so the class

[2015-12-31 22:10] michbarsinai commented on #2746
Hello Everyone,
35f1f8c Shows how a command can become testable. It also adds 2 unit tests to the `CreateDatasetVersionCommand` - one testing that the added version is added properly, and the other validates that datasets cannot have two draft versions.

[2015-12-31 22:19] michbarsinai commented on #2746
Work will continue on 2746-testable-commands

[2016-01-02 21:41] michbarsinai commented on #2746
@scolapasta / @ekraffmiller Can one of you add a unit test to https://github.com/IQSS/dataverse/blob/2746-testable-commands/src/test/java/edu/harvard/iq/dataverse/engine/command/impl/CreateDatasetVersionCommandTest.java#L98 where an attempt is made to add a version that violates the constraints? That would bring the coverage of `CreateDatasetVersionCommand` to 100%.

[2016-01-04 11:52] michbarsinai commented on #2746
:smile:
https://github.com/IQSS/dataverse/blob/2746-testable-commands/doc/theTestibleCommand/TheTestableCommand.md

[2016-01-04 14:43] pdurbin commented on #2838
I just tested this on my laptop on the 4.2.3 branch (24c7a4e) and can confirm that this is a bug. The setting only seems to hide the "Sign Up" link in the header. You can still create "builtin" accounts if you know the right URL (for me it's <http://localhost:8080/dataverseuser.xhtml?editMode=CREATE> ).

This feature/setting seems to have been last worked on in #988 ("My understanding of the purpo

[2016-01-04 16:03] sbarbosadataverse opened #2840 "File Permissions: Grant Access success msg only lists file name for one of multiple"
When role is give to multiple files, either use generic success message or display all files user was given access to. Otherwise, it appears only one of multiple files selected was successfully assigned.

[2016-01-04 16:55] sbarbosadataverse commented on #2837
Went into same dataverse as user, no template was attached to this dataverse, created a dataset and added file, save successfully.

Can't recreate this same error : edu.harvard.iq.dataverse.engine.command.exception.IllegalCommandException: Dataset with identifier 'TMSXYD', protocol 'doi' and authority '10.7910/DVN' already exists"

[2016-01-04 17:04] mheppler opened #2841 "Permissions - Pages w/o Log In Accessible Via URL"
These admin-permission-like pages can be viewed, without being logged in, by going directly to the URL of the page.

- [x] Theme + Widgets: <http://localhost:8080/ThemeAndWidgets.xhtml?id=1>
- [x] Manage Dataverse Groups: <http://localhost:8080/manage-groups.xhtml?dataverseId=1>
- [x] Manage Dataset Templates: <http://localhost:8080/manage-templates.xhtml?dataverseId=1>
- [x] Create Dataset Templa

[2016-01-04 18:09] sekmiller commented on #2837
After discussing with Gustavo and Kevin, we've decided to close this for now.  We will re-open if there are further reports of  the issue.

[2016-01-04 18:09] #2837 closed

[2016-01-04 18:43] eaquigley commented on #1308
Passing to @kcondon to determine if this is a duplicate of #1267 and can be closed.

[2016-01-04 18:47] kcondon commented on #2841
@mheppler Thanks!

[2016-01-04 18:52] eaquigley commented on #1705
@mheppler I checked in demo and am no longer seeing this, it also appears that we have moved away from & and are now doing : for group identifiers (can be seen in screenshot)
![screen shot 2016-01-04 at 1 50 05 pm](https://cloud.githubusercontent.com/assets/5922904/12097587/6268457a-b2ea-11e5-8485-fc4d7ccdb3d5.png)

@kcondon I'm passing this to you to close as it no longer seems to be an issue.

[2016-01-04 18:57] eaquigley commented on #1841
@sbarbosadataverse what would the use case be for needing to assign multiple roles at once to one user? i.e.-Member + File Downloader?

[2016-01-04 18:58] eaquigley commented on #2001
tried this in demo and it appears to be working now. passing to @kcondon to test and close.

[2016-01-04 19:03] pdurbin commented on #1705
The only group type seen in the screenshot above is the one with the colon but the ugly ones are still with us (such as "&explicit/1-firstGroup" below):

![permissions_-_api_test_dataverse_-_2016-01-04_14 02 00](https://cloud.githubusercontent.com/assets/21006/12097793/cb0591cc-b2eb-11e5-9951-851e2bad4655.png)

[2016-01-04 19:04] eaquigley commented on #1705
@pdurbin Gross. Why are two different punctuation marks (: and &) being used for groups?

[2016-01-04 19:05] kcondon commented on #1308
@eaquigley  #1267, #1308 and #2363 are related and could be combined but they are separate:
#1267 complains about the missing metadata tab on any deaccessioned version for permitted users, was a requirement in the FRD, apparently.
#1308 complains about not being able to edit and add a draft after deaccessioning
#2363 indicates a problem happens when the latest published version is deccessioned -th

[2016-01-04 19:10] kcondon commented on #1308
I'm adding notes from #2363 to this and changing the title and description to cover the more general case:

Deaccessioning the latest published version (including all) of a dataset results in the edit button not being rendered so that a user cannot create new draft versions of the dataset and cannot deaccession other versions.

[2016-01-04 19:12] kcondon commented on #2363
Combined with #1308. Closing.

[2016-01-04 19:12] #2363 closed

[2016-01-04 19:16] pdurbin commented on #1705
That is a question for @michbarsinai . The code looks like this:

    public RoleAssignee getRoleAssignee(String identifier) {
        switch (identifier.charAt(0)) {
            case ':':
                return predefinedRoleAssignees.get(identifier);
            case '@':
                return authSvc.getAuthenticatedUser(identifier.substring(1));
            case '&':
                return gr

[2016-01-04 19:19] eaquigley commented on #1705
then i shall pass this back to @michbarsinai, who was originally assigned

[2016-01-04 19:21] pdurbin commented on #1837
@scolapasta this is one of the issues I mentioned this morning for which code has been pushed from a branch off of 4.2.3 and a decision should be made whether to merge it in to the 4.2.3 branch or not.

[2016-01-04 19:27] eaquigley commented on #2241
#2232 has more information. @kcondon would you be okay with closing this one?

[2016-01-04 19:28] eaquigley commented on #2178
@sbarbosadataverse have you seen this again recently?

[2016-01-04 19:34] kcondon commented on #2241
Closing as duplicate of @2232.

[2016-01-04 19:34] #2241 closed

[2016-01-04 19:51] pdurbin commented on #2122
@michbarsinai you poked at the code a bit the other day, I believe. Perhaps you could comment on any findings.

[2016-01-04 19:51] sekmiller commented on #2597
Checked into my local branch.

[2016-01-04 20:40] eaquigley commented on #2015
I tested this and noticed that if I go back in and unhide Unit of Analysis then try to make any field required, it won't move over from Optional.

[2016-01-04 21:24] mheppler commented on #1736
Added new message to manage tables to identify templates and guestbooks that were created in the root or parent dataverse.

![screen shot 2016-01-04 at 4 21 04 pm](https://cloud.githubusercontent.com/assets/687227/12100851/9004a66c-b2ff-11e5-97b8-1ebf59f9259f.png)

[2016-01-04 21:24] mheppler commented on #2827
Added new message to manage tables to identify templates and guestbooks that were created in the root or parent dataverse.

![screen shot 2016-01-04 at 4 20 52 pm](https://cloud.githubusercontent.com/assets/687227/12100842/8a6dd4c6-b2ff-11e5-9788-d271d35fe14c.png)

[2016-01-05 06:39] michbarsinai commented on #2122
Seems to have something do to with group resolution. This one is the next on my list, so hopefully we'll see some advances here soon.

[2016-01-05 06:52] michbarsinai commented on #1705
That's a design decision. Assignees starting with `:` are built-in ones, such as `:guest`, `:authenticated-users` etc. `&XXX` are user-defined groups, and `@YYY` are users.
This also solves the issue of preventing names of user-defined assignees from clashing with built-in ones. For example, a user cannot calling herself `:guest`. She can only be `@guest`.

[2016-01-05 07:01] michbarsinai commented on #1705
Summary:
1. We can remove the `:` prefix, but then face another issue of name clashes (@scolapasta ruled in favor of keeping `:`, if memory serves).
2. Current group name is composed of `&``Group Provider``/``Group-id`. We can replace this structure with `&``GroupName` and add another lookup table, connecting `GroupName` with the provider and it's internal id.

[2016-01-05 14:27] pdurbin commented on #1705
I can get behind @pdurbin meaning a person or organization (@IQSS) because we see it here on GitHub and also on Twitter (huh, and [Facebook](https://en.wikipedia.org/wiki/At_sign#Contemporary_usage) apparently). Using an ampersand for a group is unique to Dataverse, I believe. It's a little ugly in my opinion but my only suggestion is to use an "@" sign for both users and groups (and maybe this is

[2016-01-05 14:29] posixeleni commented on #1705
:+1: for @pdurbin

[2016-01-05 15:42] eaquigley commented on #696
Checked in dataverse-demo and the Publication Date is now showing in the citation part of the metadata tab. Passing to @kcondon to close.

[2016-01-05 15:55] eaquigley commented on #2509
Infinite scroll was added in during a previous release and there is a ticket for View All button (#2705). Passing this ticket to QA to close as a duplicate.

[2016-01-05 16:27] eaquigley commented on #2627
Duplicate of #2354. Passing to @kcondon to close.

[2016-01-05 17:07] eaquigley commented on #2255
Text for the Permissions tab in the Dataverse permissions page:

Already know if all users should be able to add to your dataverse or only certain users? Select who should be able to add dataverses and/or datasets by clicking the Edit Access button.

[2016-01-05 17:38] kcondon commented on #696
Publication date appears in citation block, closing.

[2016-01-05 17:38] #696 closed

[2016-01-05 17:39] kcondon commented on #2509
Closing

[2016-01-05 17:39] #2509 closed

[2016-01-05 17:40] kcondon commented on #2627
Duplicate, closing.

[2016-01-05 17:40] #2627 closed

[2016-01-05 18:46] eaquigley commented on #2722
@sbarbosadataverse do you mind trying this again and seeing if it is still happening? i believe this was before we made changes to the dataset page. thanks!

[2016-01-05 18:48] sbarbosadataverse commented on #2722
sure will!

On Tue, Jan 5, 2016 at 1:46 PM, Elizabeth Quigley <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http://dataverse-demo.iq.harvard.edu/

[2016-01-05 18:49] pdurbin commented on #2579
@sekmiller I'll go through this in person, but here's a summary of where this issue stands.

The goal generally is for the DDI output to be complete, accurate, and valid against an XML schema. You might find http://www.ddialliance.org/resources/markup-examples helpful.

I would advise starting by opening DdiExportUtilTest.java in Netbeans and clicking "Test File" (under "Run"). This should should

[2016-01-05 18:51] pdurbin commented on #2722
This is still happening. For example: https://dataverse.harvard.edu/api/access/datafiles/104548

[2016-01-05 18:52] sbarbosadataverse commented on #2722
@eaquigley just tested and still happens.
The "download" option is still available on the top of the files list, when not logged on, and select a "Restricted" file that doesn't allow "request access to data"

Glass fish error shows up after you see the "murray terms" of agreement and of course, you shouldn't even get that far

[2016-01-05 18:52] eaquigley commented on #2722
@sbarbosadataverse ah! not logged in is the account state for this. adding that to the original issue text. thanks!

[2016-01-05 18:57] mheppler commented on #2608
Sending to @sekmiller per this morning's status meeting discussion.

[2016-01-05 18:58] posixeleni commented on #2579
Regarding DDI 2.5 vs 2.0:
1. There is documentation on how to update to the newer version of the
codebook:
http://www.ddialliance.org/Specification/DDI-Codebook/2.5/Updating_existing_DDI_Codebook_Instances_to_2-5.pdf
2. With regards to supporting 2.0 or not: The DDI-Codebook development line
is backward compatible meaning that instances compliant with DDI versions 1
– 2.1 will also be compliant wi

[2016-01-05 20:23] pdurbin commented on #2579
@posixeleni when I asked "For DDI export via API, should the same access rules apply as for JSON export?" I was referring to the existing **native** JSON export we shipped in #422 as part of Dataverse 4.0. If there are JSON representations of DDI or Dublin Core I'm not aware of them. #2608 is the issue to track for having a button in the GUI to export datasets as native Dataverse JSON.

[2016-01-05 21:05] eaquigley commented on #2711
Discussed with @kcondon and am sending this back to him to retest and see if it is still happening.

[2016-01-05 21:06] mheppler commented on #2255
Improved messaging on the dataverse and file Permissions pages. Worked with @eaquigley on an improved placement and wording of the help text, mainly by moving the brief section descriptions to the panel header, so the settings contained in each are more obvious upon first viewing the page.

Committed changes to a new branch titled "2016-01-ux-branch". This is branch is not associated with a milest

[2016-01-05 21:10] eaquigley commented on #2517
@kcondon I'm passing this back to you to take a look at again since we have changed how these tabs are designed. i am guessing when it says edit metadata page you are referring to when editing metadata of a dataset and uploading files were on the same page.

[2016-01-05 21:26] eaquigley opened #2842 "Edit Files: No Batch Tag Button on Edit Files Metadata Page"
According to the mockups for Files, there should be an Edit Tags button at the top of the Edit Files Metadata page like there is for restrict and delete.

Carrying this over from #2511 so #2511 can be passed to QA to close.

[2016-01-05 21:27] eaquigley commented on #2511
Created #2842 for the edit tags button missing. Passing this ticket to QA for @kcondon to close.

[2016-01-05 21:31] eaquigley commented on #2428
Passing to QA to test out. I tried this on demo.dataverse.org and the progress bar worked for the pdf I uploaded.

[2016-01-05 21:34] pdurbin commented on #2832
Today I [noticed](http://irclog.iq.harvard.edu/dataverse/2016-01-05#i_29241) the installation of Dataverse 4 at http://opendata.pku.edu.cn and was reminded of @shlake saying "[We only want the User Guides](https://groups.google.com/d/msg/dataverse-community/pH_XT1NBQyk/D8mfM_jSDQAJ)" which is all PKU seems to want as well:

![peking_university_open_research_data_platform_-_2016-01-05_16 32 43](htt

[2016-01-05 21:42] eaquigley commented on #2137
On dataverse.harvard.edu, this seems to be working again. Passing ticket to @kcondon to review and decide if it can be closed.

[2016-01-05 21:53] eaquigley commented on #1030
I tried this on demo.dataverse and wasn't able to reproduce. Passing to @kcondon to see if it can be closed.

[2016-01-05 21:55] kcondon commented on #2711
Retested above test case and found it mostly works with the exception of the request access button not appearing for custom role without file download perm.

Works:
Custom role having only view unpublished dataset permission but without the file download permission (like member without file download).
 Can see unpublished dataset, can download unrestricted file, downloading all does not download r

[2016-01-05 21:58] kcondon commented on #2517
This still happens: select some files, edit, then select some files on edit view, delete, see success message with file names without spaces in message (worse when you delete many):

 Success! – Files onea.txtShortFile.txt will be permanently deleted from this version of this dataset once you click on the Save Changes button.

[2016-01-05 22:05] kcondon commented on #2511
Closing

[2016-01-05 22:05] #2511 closed

[2016-01-05 22:27] sbarbosadataverse commented on #2428
@kcondon  where is the best place for me to test today?

[2016-01-05 22:28] kcondon commented on #2428
demo.dataverse.org
________________________________
From: sbarbosadataverse [notifications@github.com]
Sent: Tuesday, January 05, 2016 5:27 PM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] Processing bar not showing progress: post the last 4.1 release, noticed blue progress bar showing no progress during file upload (#2428)

@kcondon<https://urldefense.proofpoint.com/v2/url?u=htt

[2016-01-05 22:30] pameyer opened #2843 "Dataverse Theme + Widgets - Support SVG upload for Logo Image"
Minor suggestion - allow for SVG (in addition to PNG, JPEG) or another vector graphics format for logo image uploads.

[2016-01-05 22:32] sbarbosadataverse commented on #2428
works fine. progress bar processed quickly!

On Tue, Jan 5, 2016 at 5:28 PM, kcondon <notifications@github.com> wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http://dataver

[2016-01-05 22:34] kcondon commented on #2428
I tested on demo using the file in the screen shot and did not see a problem. We sometimes see issues with the progress bar due to client/ server communication so wonder whether this feature is brittle in some way. Depending on production observations going forward, we may want to rethink such a feature for reliability.

[2016-01-05 22:34] #2428 closed

[2016-01-05 22:51] kcondon commented on #2137
Works, closing

[2016-01-05 22:51] #2137 closed

[2016-01-05 23:03] kcondon commented on #1030
@eaquigley
This still happens if you do not click done after making choices as indicated in Stephen's comment.
So:
1. make Universe required, uncheck Data Collector, do not click done, click save changes. Data Collector is correctly marked as hidden but Universe is back to optional.
2. repeat test 1 but click done then save, works.
3. after running test 2, edit again and this time make Time Method

[2016-01-05 23:46] kcondon opened #2844 "Templates: Cannot create template, throws exception in server log"
When I create a template in technology branch, throws exception in server log:

[2016-01-05T18:45:11.923-0500] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=52 _ThreadName=jk-connector(1)] [timeMillis: 1452037511923] [levelValue: 900] [[
  A system exception occurred during an invocation on EJB TemplateServiceBean, method: public edu.harvard.iq.dataverse

[2016-01-05 23:53] kcondon opened #2845 "Manage Templates: Inherit template checkbox missing"
Not sure whether the inherit checkbox was removed or not included but guestbook has one.

[2016-01-05 23:58] kcondon commented on #1947
@eaquigley
Works as described for sub dv's but not for sub dv's from root.

[2016-01-05 23:59] kcondon commented on #2845
Dupe of #1947, closing.

[2016-01-05 23:59] #2845 closed

[2016-01-06 00:00] kcondon commented on #1736
Message is as described, closing.

[2016-01-06 00:00] #1736 closed

[2016-01-06 00:15] kcondon opened #2846 "Dataverse: Edit General Info, cannot disable selected blocks by Use metadata fields from parent."
Related #1473

If in a sub dv you choose specific metadata blocks, then later decide to use parent blocks again, simply checking use parent and saving doesn't work, though it acts like it does: clears check boxes and saves but revisiting settings shows old values still there.

The way to deselect is to first deselect each selected block, save, then select use parent, save. Not obvious.

[2016-01-06 00:19] kcondon commented on #1947
@eaquigley
It is true if the metadata blocks are different from parent dv blocks, you cannot inherit templates. However, it also doesn't work if parent has any additional blocks selected other than citation (default) and the child is using the same blocks. That seems like a bug.

[2016-01-06 00:21] kcondon commented on #2827
Message appears as described, closing.

[2016-01-06 00:21] #2827 closed

[2016-01-06 00:28] kcondon commented on #531
@mheppler @eaquigley
I can test Mike's latest changes but this ticket is not about that so think it should stay open:
Elda:
should the block stay open to easy locate where the invalid value was entered?
Liz:
yes, the block should stay open and this relates to #661
Thoughts?

[2016-01-06 09:03] bencomp commented on #2482
Related to but not the same as #2491?

[2016-01-06 09:06] bencomp commented on #2195
Possibly related: #1612

[2016-01-06 09:14] bencomp commented on #2125
We experience this too. Via a support ticket we (@ekoi and @kcondon) discussed using a symbolic link to at least prevent having lots of orphaned files in the application directory. This seems to work, but a configurable directory is better. In DVN 3.6.2 it wasn't clear to us that there would be a difference between the temporary directory (which is configurable using a JVM option) and the "arrival

[2016-01-06 09:30] bencomp commented on #2491
We had a situation in DVN 3 in production where uploaded files were stored within the application environment (see also #2125) and it filled up the partition. Glassfish got into problems and some sessions may have been killed causing the UI to hang.

[2016-01-06 09:33] bencomp commented on #2140
Definitely related to #2125, as the caching may have caused this. There may be a difference between the directory for uploaded files before they are saved and the temporary directory in which processing of files takes place.

[2016-01-06 13:38] pdurbin commented on #2617
In the code I found a setting called "ZipDonwloadLimit" \[sic] documented as "Download-as-zip size limit. returns 0 if not specified; (the file zipper will then use the default value) set to -1 to disable zip downloads." I'm going to encourage @pameyer to play with this since he asked about it. That said, if it does work properly (#2686 makes me wonder), we should fix the spelling and document it

[2016-01-06 14:47] pdurbin commented on #2843
I confirmed this issue in 4.2.3. It says "The image could not be uploaded. Please try again with a jpeg, tiff, or png file.logo.svg"

![screen shot 2016-01-06 at 9 43 52 am](https://cloud.githubusercontent.com/assets/21006/12145066/047eae38-b45a-11e5-9e3e-a4b64a802a9d.png)

[code]

Here's where it's controlled:

    <p:fileUpload invalidFileMessage="#{bundle['dataverse.theme.logo.image.invalidMsg'

[2016-01-06 14:53] pdurbin commented on #2843
By adding "svg" to the list (twice, on lines 50 and 54, which should be refactored), I'm able to upload an SVG file from http://wiki.greptilian.com/greptilian.com/logo.svg

![screen shot 2016-01-06 at 9 48 56 am](https://cloud.githubusercontent.com/assets/21006/12145207/e9c28c44-b45a-11e5-844e-2aef7b024e0d.png)

@mheppler @eaquigley @scolapasta is there any reason why we shouldn't allow SVG images

[2016-01-06 15:01] pdurbin commented on #2843
From what I understand svg is a much more web-friendly format that tff, which Dataverse supports for logo uploads.

[2016-01-06 15:20] pdurbin commented on #1346
I just wanted to mention that while I was writing API tests as part of #2746 as described at https://groups.google.com/d/msg/dataverse-community/X8OrRWbPimA/LT0OU_s5DQAJ I could see where it would be helpful to try using https://github.com/swordapp/JavaClient2.0 in the API tests. It could be a good check against our implementation of SWORD to let the official SWORD Java client library provide "rel

[2016-01-06 15:24] pdurbin commented on #2482
@pameyer and I will be working support for uploading largish files (up to maybe 60 GB?) as part of https://hms.harvard.edu/news/dropbox-structural-biologists and I'll try to remember to report back here on any findings. It sounds like the problem reported here has more to do with many large files at once.

[2016-01-06 15:25] eaquigley commented on #2843
@pdurbin I have nothing against SVG as a file type for logo. Might have been an oversight or something that by default wasn't part of the primefaces component.

@scolapasta @mheppler

[2016-01-06 15:36] pdurbin commented on #2843
I just realized that while the SVG logo looks fine in the header the default logo appears in the cards:

Header:

![header](https://cloud.githubusercontent.com/assets/21006/12146306/0b7bead2-b461-11e5-92db-edb1842b8a69.png)

Cards:

![cards](https://cloud.githubusercontent.com/assets/21006/12146308/0db47bfc-b461-11e5-8e00-d0569683615c.png)

Maybe this is why we don't support SVG? Not sure. @landre

[2016-01-06 15:44] mheppler commented on #2502
Disabled hover-toggle functionality from the Metrics block on the dataverse, dataset, file pages in order to hide "Coming soon..." text.

Committed changes to a new branch titled "2016-01-ux-branch". This is branch is not associated with a milestone, which is why none is selected for this ticket.

[2016-01-06 16:17] mheppler commented on #2354
Improved messaging on the dataverse and file Permissions pages. Worked with @eaquigley on an improved placement and wording of the help text, mainly by moving the brief section descriptions to the panel header, so the settings contained in each are more obvious upon first viewing the page.

With these changes in place, I am assigning this to @eaquigley to review if further changes are needed to th

[2016-01-06 16:35] kcondon commented on #531
@mheppler
OK, tested chevrons and label colors and are consistent between create and edit modes.
However, viewing metadata blocks from the tab does not work consistent with the other modes:
chevrons never change direction opened or closed and for citation is always pointing up, for others, always pointing down.

[2016-01-06 16:41] kcondon commented on #2796
OK, cards look as described, closing.

[2016-01-06 16:41] #2796 closed

[2016-01-06 16:54] mheppler commented on #1700
The issues listed above no longer seem to be an issue. (See attached.) Sending to QA.

![screen shot 2016-01-06 at 11 53 30 am](https://cloud.githubusercontent.com/assets/687227/12148411/42672df8-b46c-11e5-9bd2-b98082d9701e.png)

[2016-01-06 17:09] kcondon opened #2847 "File Tags Popup: The list of available tags is appearing behind the popup and grayed out background."
Tested with both FF and Chrome
Edit file metadata, add tags, select from list of tags, tag list appears behind tag popup and grayed out background.

[2016-01-06 17:39] kcondon commented on #2824
Getting 500 error when deleting user with published dataset:

[2016-01-06T12:32:04.730-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.DatasetPage] [tid: _ThreadID=52 _ThreadName=jk-connector(1)] [timeMillis: 1452101524730] [levelValue: 800] [[  retreived version: id: 60, state: RELEASED]]

[2016-01-06T12:32:35.886-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.authorization.A

[2016-01-06 17:39] mheppler commented on #2847
Fixed CSS layering issue with dropdown menus and the blue spinner displaying behind popups.

[2016-01-06 18:50] pdurbin commented on #2036
@kcondon @scolapasta as we discussed this morning I just merged the 2036-async-grant branch into 4.2.3. It contains a fairly small commit (1770995) that I described previously at https://github.com/IQSS/dataverse/issues/2036#issuecomment-165567932 . In short, the change is make the **indexing** part of changing role assignments asynchronous.

Passing to QA. Some testing around assigning and removi

[2016-01-06 19:12] eaquigley commented on #2252
At demo.dataverse.org with build  v. 4.2.2 build 54-9883aaa, the notifications are only deleted after refreshing the page.

[2016-01-06 19:20] pdurbin commented on #2824
Right. Such an error is expected for now. Here's the Javadoc on the deleteAuthenticatedUser method (emphasis mine):

Interest in deleting users has been expressed at https://groups.google.com/forum/#!topic/dataverse-community/NXnVDrh1-h8 so maybe we should make this more real and document it? Personally, I would prioritize the "disable user" case in #2419 which is probably more common.

@scolapast

[2016-01-06 19:32] pdurbin commented on #2824
I raised this specific question about the "releaseuser" at #2825.

[2016-01-06 19:33] pdurbin commented on #2825
One is unable to delete a user with a published dataset either: https://github.com/IQSS/dataverse/issues/2824#issuecomment-169399614

[2016-01-06 19:38] kcondon commented on #2151
@pdurbin Thanks, can we document alternatives too?

[2016-01-06 19:47] eaquigley commented on #2181
I was able to find #626 that relates to this. I am guessing that we followed the same conventions for dataverses within dataverses, @sekmiller do you remember if that is what we did?

I'm not sure though because there is a comment in #626 from @scolapasta that says, "We'll need to think how this works with dataverses within dataverses (that are all unpublished). Maybe we can add a simple only one

[2016-01-06 19:55] kcondon opened #2848 "Documentation: Document various temp directories used by Dataverse"
Currently we use several temp directories for different purposes and while not usually an issue for end users, it may impact system admins as a maintenance issue.

Known temp directories:
 /tmp
Used by ingest and Two Ravens. Two Ravens does not clean up after itself, ingest (mostly) does. Suggested to use a /tmp cleaner cron job but may be able to further clean up after self.

JSP
eg.
/usr/local/g

[2016-01-06 20:00] pdurbin commented on #2151
Sure! Done in 148b7f5 and now available at http://guides.dataverse.org/en/4.2.3/installation/prerequisites.html#java

[2016-01-06 20:04] sekmiller commented on #2181
I think the intent was to allow you to publish a parent, but to only go up one level - that is if your parent and grandparent are unpublished then you have to go up the line and publish them manually.

On Jan 6, 2016, at 2:47 PM, Elizabeth Quigley <notifications@github.com<mailto:notifications@github.com>> wrote:

I was able to find #626<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.

[2016-01-06 20:11] pdurbin commented on #1934
In #2443 @michbarsinai and I have discussed the need for a "developer-machine friendly setup script" that does not require root.

Also, these days we're back to running Glassfish behind Apache on https://dataverse.harvard.edu per #2180 so there's no need to run Glassfish on a low port. Glassfish runs on its normal high ports (8080 and 8181) and doesn't need to be started as root.

[2016-01-06 20:30] pdurbin commented on #1533
@kcondon I'm preparing a list of open issues having to do with Shibboleth for an upcoming meeting. This issue is still open and I'm not sure why.

On a related note, @bencomp recently asked at http://irclog.iq.harvard.edu/dataverse/2015-12-07#i_28069 if the JSON for Shib groups could be changed, saying "the API should accept a group definition that has multiple attribute-pattern combinations in a

[2016-01-06 20:40] pdurbin commented on #923
From an email I sent last summer:

[2016-01-06 20:50] pdurbin commented on #1554
I added an API test to replace metadata via SWORD in eb3d08d and it works fine:

INFO: Title updated from "My Working Title" to "My Awesome Dataset" -- https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-4.2.3/18/console

I don't if that's enough to close this issue, but I'm satisfied.

[2016-01-06 20:56] pdurbin commented on #1705
"we did discuss several issues of not displaying the @ (easy to strip out) and handling the other prefixes (& and :) in a different manner" -- @mcrosas in #2046

[2016-01-06 21:20] michbarsinai commented on #1705
Some comments:
* The `RoleAssignee` interface defines a method of getting a `RoleAssigneeDisplayInfo` object[1]. We might need to re-define its fields a bit, but the basic infrastructure of displaying different types of role assignees (group or users) is there.
* I think `&` makes sense for groups, as it connects parties ("Phil & Ted", "Joe & Co." etc.).
* Role assignee identifiers currently hold

[2016-01-06 21:33] sekmiller commented on #2844
The ajax pop to the top of the page was failing.  Mike thought he might have changed the save buttons from <p:command to <h:command.

Changing them back to "p" buttons fixed it.  Also removed some dead code while I was in there.

[2016-01-06 21:35] sekmiller commented on #2844
Fixed checked in to the 4.2.3 branch.  Build required before testing.

[2016-01-07 01:12] pengchengluo commented on #2832
I also agree with that users only want the user guides. For developers, installation, dev, API guides are necessary and we can lead them to dataverse.org where all of this can be found.

[2016-01-07 01:13] pengchengluo commented on #2832
Hi, @pdurbin and @shlake. I also agree with that users only want the user guides. For developers, installation, dev and API guides are necessary. We can lead them to dataverse.org where all of this can be found.

[2016-01-07 04:41] landreev commented on #2151
Please disregard this if there is a separate documentation issue for this (but I couldn't find one);
As of now, the JDK change is only half-reflected in the 4.2.3 documentation:

The dev. guide still says that JDK 1.7 is required;

The "prerequisites" section of the installation guide does say that 1.8 is needed. However, in the Mac paragraph it still says that "MacOS X comes with the JDK (but mak

[2016-01-07 10:51] bencomp commented on #2255
I like the placement of the panel descriptions, but the relation between "Permissions: Current access configuration..." and "Users/Groups: All the users and groups..." is not what I understand to be "Limited options for access control" and "Full options for access control".

You can skip "Edit Access" and go to "Users/Groups" for full control. "Edit Access" only allows to set the DVN3-style access

[2016-01-07 15:50] mheppler commented on #2844
FYI, I looked at the annotation history of the code in NetBeans, and that commandLink tag wasn't part of the PrimeFaces vs JSF optimization changes I made. My second guess as to what changed is that something related to Ajax in PrimeFaces could have changed with all the updates that we're now utilizing with PrimeFaces 5.3.

[2016-01-07 16:31] kcondon opened #2849 "Create Dataverse: Index throws server log exception"
When I create a dataverse/dataset as a new user, I see an error in the server log involving index and permissions.

Steps to reproduce: create a new user, create a dataverse or dataset, see log error though dataverse or dataset is created.

Server log error for dataverse:

[2016-01-07T11:28:59.854-0500] [glassfish 4.1] [WARNING] [AS-EJB-00056] [javax.enterprise.ejb.container] [tid: _ThreadID=172 _

[2016-01-07 16:47] mheppler commented on #531
Added oncomplete attribute to the p:ajax component associated with the p:tabView component to rebind jQuery that toggles the chevron icons on the metadata panels of the dataset pg.

[2016-01-07 17:01] pdurbin commented on #2597
@sekmiller and I merged the branch into 4.2.3. Please note the two new geoconnect settings in 46d3feb2c75d4dcbfb37339c7d323a0c59c91ea1 (GeoconnectCreateEditMaps and GeoconnectViewMaps).

Set ``GeoconnectCreateEditMaps`` to true to allow the user to create GeoConnect Maps. This boolean effects whether the user sees the map button on the dataset page and if the ingest will create a shape file.

`cur

[2016-01-07 17:03] kcondon opened #2851 "Two Ravens: Possible config issue causing error when running models on build machine."
Smoke testing on the build machine revealed Two Ravens is not loading the data pebbles when we press the explore button.

Browser debug console shows this error:
"NetworkError: 500 Internal Server Error - https://dvn-build.hmdc.harvard.edu/api/access/datafile/160?key=<redacted>&format=prep"

The URL without the format arg works.

Rserve was restarted and it shows a package error when the explore b

[2016-01-07 20:02] kcondon commented on #2847
Works, closing.

[2016-01-07 20:02] #2847 closed

[2016-01-07 20:03] kcondon commented on #2844
Works, closing.

[2016-01-07 20:03] #2844 closed

[2016-01-07 20:10] pdurbin commented on #2151
@landreev good catch. As we discussed the dev guide seems fine, but I rewrote the Java section in the  Installation Guide in 454e5b4 (we'd like to rewrite the whole guide per https://docs.google.com/document/d/1GLky44JbtCNhGuavLXGEP8WPNdjbyHNxalEGjR78MaA/edit?usp=sharing ).

@kcondon this is ready for QA.

[2016-01-07 20:12] kcondon commented on #531
Chevrons working now, Mike's changes have been verified. Passing back to Liz for consideration of original issue.

[2016-01-07 20:57] sbarbosadataverse opened #2852 "Dataset Image File Preview: Preview window buggy, must move off image completelty"
preview of next image in an "image" dataset: preview doesn't work unless move off image completelty and return cursor to image list

https://demo.dataverse.org/dataset.xhtml?persistentId=doi:10.5072/FK2/C09I1Z&version=DRAFT

here is an example. If I hover to "preview" one image and move directly "down" to the next image with my cursor, the preview doesn't expand for viewing. Must move curses off t

[2016-01-07 21:10] pdurbin commented on #2849
Good catch. In f315644 I added a null check that prevents this error from appearing in the logs. Back to QA.

[2016-01-07 21:30] kcondon commented on #2036
6-8s to look up user
2-3s to save
2s-3s to delete

[2016-01-07 21:33] #2036 closed

[2016-01-07 21:37] kcondon opened #2853 "Permissions: Looking up username on large dataverse for role assignment takes 6-8s."
PSI/Madagascar is a large nested dv with lots of role assignments. When adding a new user to assign a role to, it takes 6-8s to look up the username. This slows down an admin who may need to add several users.

[2016-01-07 21:43] pdurbin commented on #2849
@kcondon as we discussed as a local experiment (not pushed) I just went back to the commit **before** the fix I just mentioned and reverted 1770995 which was the async fix for #2036. This also caused the problem to go away (errors in the log). I'm throwing away this local experiment since we want the async fix.

Also, as I mentioned, I'm not sure why `updatePermissionIndexTime` is called twice whe

[2016-01-07 21:45] pdurbin commented on #2853
@michbarsinai and @scolapasta discussed this recently when Michael was in town. Maybe @landreev too? I'm not sure if any diagnostics were done.

[2016-01-07 22:08] #2849 closed

[2016-01-07 22:19] kcondon commented on #2151
Looks good, closing.

[2016-01-07 22:19] #2151 closed

[2016-01-08 14:12] pdurbin commented on #1456
@scolapasta what is this issue about?

[2016-01-08 16:25] mheppler commented on #2852
This also happend on dvn-build in 4.2.3.

https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi%3A10.5072%2FFK2%2FRNEAUE

[2016-01-08 17:43] kcondon commented on #2597
Tested the map it button and that worked, had some trouble getting WorldMap to process the shape file so still need to test the explore button.

[2016-01-08 18:05] scolapasta commented on #2731
Moving to QA (but removing glassfish from title, as that is not for 4.2.3 and tracked separately in #2628)

[2016-01-08 18:12] kcondon commented on #2731
This was tested and individual tickets opened. Closing

[2016-01-08 18:12] #2731 closed

[2016-01-08 18:19] scolapasta commented on #2824
We shouldn't delete users who have "done" something - created a dataset, released a dataset, etc.

Deleting user notifications and role assignments is fine. But we do need to track who created or released - in those cases, if anything, we would want to disable them as @pdurbin metioned and is tracked by #2419.

However, we should make the API call cleaner, I think, by checking for these things fir

[2016-01-08 18:30] kcondon commented on #2597
OK, tested both settings and the work, also confirmed they are in script.Closing

[2016-01-08 18:30] #2597 closed

[2016-01-08 18:30] scolapasta commented on #2825
This is the desired behavior, as we want to track ho did what.

However, we should make the API call cleaner, I think, by checking for these things first and providing a friendlier message.

[2016-01-08 18:31] scolapasta commented on #2824
OK, #2825 is now tracking the cleaner API call, passing this one to QA.

[2016-01-08 19:29] sekmiller commented on #2797
Added a message for selected "Tags" with no selected files

[2016-01-08 19:30] sekmiller commented on #2797
@kcondon one more small issue to be tested.  Will need a build.

[2016-01-08 19:45] kcondon commented on #2824
Confirmed was able to delete user with notifications after removing created objects.
Closing.

[2016-01-08 19:45] #2824 closed

[2016-01-08 19:46] kcondon commented on #2810
Tested, works, closing

[2016-01-08 19:46] #2810 closed

[2016-01-08 19:58] kcondon commented on #2797
@mheppler @sekmiller OK all have messages. Tags says select files to be edited. Hope that ok closing

[2016-01-08 19:58] #2797 closed

[2016-01-08 19:59] mheppler commented on #2852
Fixed hover issue on the Preview popover for image files on the dataset pg.

Committed changes to a new branch titled "2016-01-ux-branch". This is branch is not associated with a milestone, which is why none is selected for this ticket.

[2016-01-08 21:15] ajirnyi opened #2854 "4.2. to 4.2.1 upgrade instructions appear incorrect"
Hi -- the upgrade instructions at https://github.com/IQSS/dataverse/releases/tag/v4.2.1 seem to have a couple problems:

-  the undeploy instruction says "undeploy the current application /glassfish4/bin/asadmin list-applications /glassfish4/bin/asamin undeploy dataverse-4.1" -- I assume this should read "4.2" rather than "4.1"?
- run the upgrade psql script provided: upgrade_v4.1_to_v4.2.sql rest

[2016-01-08 21:30] pdurbin commented on #2854
Hmm. I think @ajirnyi is on to something. @kcondon can you please take a look? I guess I'll assign this to the milestone under development (4.2.3).

Generally speaking, no. When upgrading Dataverse versions you have to do all the upgrades in between. It typically comes down to whether there are database schema updates to run or not. Or Solr schema updates to be aware of.

[2016-01-08 22:35] landreev commented on #2756
I'd like to close this ticket, as this is tracked under "Change PushContext to EventBus for new Push API" subsection of #2730.
The above was simply a symptom of the app still trying  the deprecated PrimePush functionality for page refreshes.

[2016-01-08 22:39] kcondon commented on #2756
Just pass it to me and I'll retest/ close when the other is updated.

________________________________
From: landreev [notifications@github.com]
Sent: Friday, January 08, 2016 5:35 PM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] Dataset: When system first started, clicking on dataset link works but throws server log exception. (#2756)

I'd like to close this ticket, as this is t

[2016-01-09 01:39] ajirnyi commented on #2854
Thanks!
BTW, a stupid question: what exactly is the recommended procedure for
running the SQL updates? I have not worked with Postgres before, but it
seems that the default settings prevent password logins from command line.
What I ended up doing (after quite a bit of exploration) was

runuser -l postgres
psql -d dvndb -a --file=/tmp/upgrade_v4.1_to_v4.2.sql

but somehow this doesn't seem like the

[2016-01-09 01:54] landreev commented on #2758
Moving to QA.

TL;DR:
PimeFaces advertised this upgrade of their push/atmosphere technology as a complete and major rewrite. I was hoping it would solve all the problems we've had with its flakiness. But so far I'm not super impressed. I spent a lot of time experimenting with it, and I've already seen it being kinda flaky, just like the old version. By flaky I mean, keeps working, then, after anot

[2016-01-09 01:56] landreev commented on #2730
Just moved #2758 into QA. That appears to be the last sub-issue here, so moving this ticket into QA as well.

[2016-01-09 01:58] landreev commented on #2756
Please re-test and/or close. This should be fixed as part of the issue referenced above, that's already in QA.

[2016-01-09 16:27] kcondon commented on #2854
Good catch. Updated instructions. Closing

[2016-01-09 16:27] #2854 closed

[2016-01-09 16:31] kcondon commented on #2854
There are several ways you can run a postgres script:
1. Switch to user postgres, then run psql as you have done, we use su - postgres.
2. Pass user info on psql command line with -U option, I am not always able to get that to work.
3. Log on to db using psql in interactive mode, connect to the db wih \c, then run the script with \i

There is not a preferred way, just what works for you.

[2016-01-10 17:56] ajirnyi commented on #2854
Thanks for clarifying this!
A couple more things though:
- "deploy the new war file /glassfish4/bin/asadmin deploy dataverse-4.2.war" -- I guess this should read "4.2.1"?
- There is a schema.xml file in 4.2.1. release downloads; does this mean that an extra step to update schema.xml in Solr, similar to the one listed in the 4.1 -> 4.2 upgrade instructions needs to be performed?

Also:
- Does the s

[2016-01-10 18:16] kcondon commented on #2854
Thanks, we should probably remove version specific info from the instructions and simply specify whether war file, schema, update script, etc should be part of the upgrade since conceptually the steps are the same. I will check on schema.xml.

[2016-01-10 18:21] ajirnyi commented on #2854
Thanks! That would make it easier, especially if there was a separate section on how exactly to perform each corresponding step, as some (e.g. the sql script) are not obvious.

What is your recommendation on autodeploy though? e.g. if I have used the omnubus script originally, the asadmin undeploy command leaves the original .war (which was named dataverse.war for version 4.1) in the /autodeploy d

[2016-01-11 11:27] rlzijdeman commented on #2447
Hi! Is there any outcome on the review yet? We've rolled out Dataverse and are now in the processing of moving all our datasets into it. We use 3 people who all should have all rights in the subdataverses. It's kind of a hassle to do this manually.

[2016-01-11 13:54] pdurbin commented on #2447
@rlzijdeman for now, if you're looking for a way to automate things, you could use the API to assign roles. Here's an example: https://github.com/IQSS/dataverse/blob/v4.2.2/scripts/issues/2036/grant-role-then-revoke

See also http://guides.dataverse.org/en/4.2.2/api/native-api.html#dataverses

[2016-01-11 15:54] pdurbin commented on #2854
@ajirnyi I very much appreciate your fresh eyes on this. Can you please take a look at the "Dataverse 4 Installation Guide Hierarchy and Reorganization" proposal https://docs.google.com/document/d/1GLky44JbtCNhGuavLXGEP8WPNdjbyHNxalEGjR78MaA/edit?usp=sharing started by @bencomp at https://groups.google.com/forum/#!msg/dataverse-community/qujUFJDYXG0/0BhECCp0HQAJ ?

I feel like many of your suggest

[2016-01-11 16:37] sbarbosadataverse opened #2855 "Permissions: Timestamp + user name in notifications/permissions pg for access requests"
The"" File Permissions" page does not display a
submitted timestamp next to outstanding requests, and the emails do not
contain the user who requested the files.

Problem : Gmail tends to group similar looking emails into the same conversation. Especially ones
with the same Subject, From, and To. So this may actually be part of the
reason why admins see many more requests in the File Permissions p

[2016-01-11 17:38] pdurbin commented on #2852
I just merged the latest from the 4.2.3 branch into the 4.3 branch and then the 4.3 branch into 2016-01-ux-branch and then 2016-01-ux-branch back into the 4.3 branch. Along the way the version in the pom and guides was changed to 4.2.3. @scolapasta do we need a branch to fix this? My inclination is to just fix these in the 4.3 branch.

[2016-01-11 17:38] pdurbin commented on #2502
I just merged this into the 4.3 branch per my comment at https://github.com/IQSS/dataverse/issues/2852#issuecomment-170628537

[2016-01-11 17:39] pdurbin commented on #2255
I just merged this into the 4.3 branch per my comment at https://github.com/IQSS/dataverse/issues/2852#issuecomment-170628537

[2016-01-11 17:40] pdurbin commented on #2354
I just merged this into the 4.3 branch per my comment at https://github.com/IQSS/dataverse/issues/2852#issuecomment-170628537

I'm giving this the 4.3 milestone. Heads up @eaquigley since this issue is in your name.

[2016-01-11 17:51] pdurbin commented on #1012
@posixeleni I noticed that this issue has a high priority number in the new spreadsheet and your name appears under "BRD Lead" so I'm assigning this to you (after consulting with @scolapasta and Len) to work on the BRD. In the spreadsheet there's no "target release" so I'll leave the milestone unassigned.

[2016-01-11 18:02] kcondon commented on #2854
@ajirnyi Thanks for pointing out these issues. I'll try to answer your remaining questions but for support questions please open a ticket by sending an email to support@dataverse.org.

Regarding reindexing, you should only need to reindex at the very end of your upgrades, though if you want to confirm each upgrade worked by viewing content, you should probably index at each step and do it as expla

[2016-01-11 19:09] ajirnyi commented on #2854
Thanks!

As for deployment, what I mean is that it would be nice if upgrade
instructions (which do not use autodeploy, and have the file named
"dataverse-x.x.x.war") were consistent with the omnibus installation script
(which uses autodeploy, and have the file named "dataverse.war" -- or at
least in version 4.1 it did).

--aj

On Mon, Jan 11, 2016 at 12:02 PM, kcondon <notifications@github.com> wr

[2016-01-11 19:36] kcondon commented on #2758
Ingest is now working. There are some logging statements that may need to be cleaned up and as mentioned some errors. Will open new tickets as needed. Closing.

[2016-01-11 19:36] #2758 closed

[2016-01-11 19:44] kcondon commented on #2756
Not seeing this anymore. Closing.

[2016-01-11 19:44] #2756 closed

[2016-01-11 19:44] kcondon commented on #2730
Ingest is working now, closing.

[2016-01-11 19:44] #2730 closed

[2016-01-11 19:48] zmughal opened #2856 "Using Accept header with DOI does not seem to return data consistently"
Requesting the [doi:10.7910/DVN/29381](http://dx.doi.org/10.7910/DVN/29381) with
[code]
returns a `200 OK` with the response
[code]

while requesting the [doi:10.7910/DVN/MD2UM1](http://dx.doi.org/10.7910/DVN/MD2UM1) with
[code]
returns a `404 Not Found` with the response
[code]

[2016-01-11 19:51] kcondon opened #2857 "File Download: Logging reports not recording downloading of unpublished dataset files as a severe error but should be info."
Download a file from an unpublished dataset and the log prints this:
[2016-01-11T14:48:10.969-0500] [glassfish 4.1] [SEVERE] [] [edu.harvard.iq.dataverse.DatasetPage] [tid: _ThreadID=146 _ThreadName=jk-connector(3)] [timeMillis: 1452541690969] [levelValue: 1000] [[
  No Silent/Default Guestbook response made. No response to save - probably because version is DRAFT - not certain ]]

Since not loggi

[2016-01-11 19:54] eaquigley commented on #2447
@rlzijdeman if your institution is running their own Dataverse installation, please do let us know if you'd like it to be added to the repositories map at dataverse.org by emailing support@dataverse.org

[2016-01-11 19:55] pdurbin commented on #2856
Version 1 of http://dx.doi.org/10.7910/DVN/29381 was published March 6, 2015 which is **before** the migration from DVN 3.x to Dataverse 4 which was in April of 2015.

Version 1 of http://dx.doi.org/10.7910/DVN/MD2UM1 was published on January 11, 2016 which is **after** the migration to Dataverse 4.

I feel like maybe I've heard @mcrosas or @posixeleni or @eaquigley or @scolapasta mention somethin

[2016-01-11 20:19] kcondon opened #2858 "File Download: Download as R fails with 503 error for specific file."
Downloading the ODUM file, harris_s1635_spss.tab (por file used for testing long labels) as R data results in a 503 error and error in server log. Works for other test files.

Server log error:

[2016-01-11T15:18:41.049-0500] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.rserve] [tid: _ThreadID=53 _ThreadName=jk-connector(2)] [timeMillis: 1452543521049] [levelValue: 800] [[
  Data Frame Serv

[2016-01-12 07:25] rlzijdeman commented on #2447
@pdurbin @eaquigley Thank you very much for these lighting fast and adequate responses!

[2016-01-12 14:54] sekmiller commented on #2856
Not sure what is happening here the identifier is definitely registered with the proper metadata. See
http://ezid.cdlib.org/id/doi:10.7910/DVN/MD2UM1
Also I can get a proper return via
curl -v -LH "Accept: application/x-research-info-systems" 'http://dx.doi.org/10.7910/DVN/MTHO5E'
which is a dataset created in Version 4x (11/17/2015)

[2016-01-12 17:02] bencomp commented on #2857
Are you sure this only happens when the downloaded file is from a draft dataset version? The author of this log message apparently wasn't. It it logged [here](https://github.com/IQSS/dataverse/blob/4.3/src/main/java/edu/harvard/iq/dataverse/DatasetPage.java#L2684) (links to 4.3 branch).

The message would be more useful if it reported some context, like the file ID and dataset (version) ID.

[2016-01-12 17:06] bencomp commented on #2825
In DVN 3.6 we don't delete users, we deactivate their accounts when necessary. It doesn't seem to be possible though: #2419

[2016-01-12 17:58] eaquigley opened #2859 "Edit File Metadata: Select All Files in Tab, Can't Edit Them All after clicking Edit Metadata"
Seen by @sbarbosadataverse and me today on production.

We scrolled all the way through the files in the file tab, selecting all of them individually. We then clicked Edit Metadata and only 50 of the 66 files were available for editing. It seems like you cannot continuously scroll in the Primefaces component when on the edit page like you can on the view page.

[2016-01-12 18:47] pdurbin commented on #2825
Yep. We haven't forgotten about that issue ( @scolapasta and I discussed it last week at https://github.com/IQSS/dataverse/issues/2824#issuecomment-169426416 and below) but thanks for linking it here, @bencomp

[2016-01-12 18:50] #1554 closed

[2016-01-12 18:50] #1498 closed

[2016-01-12 18:50] #1460 closed

[2016-01-12 18:50] #1446 closed

[2016-01-12 18:51] #1430 closed

[2016-01-12 18:51] #1399 closed

[2016-01-12 18:51] #1382 closed

[2016-01-12 18:51] #1381 closed

[2016-01-12 18:57] #833 closed

[2016-01-12 18:57] #773 closed

[2016-01-12 18:57] #766 closed

[2016-01-12 18:57] #756 closed

[2016-01-12 18:57] #616 closed

[2016-01-12 18:57] #506 closed

[2016-01-12 18:57] #457 closed

[2016-01-12 18:57] #298 closed

[2016-01-12 18:58] #1068 closed

[2016-01-12 18:58] #973 closed

[2016-01-12 18:58] #1191 closed

[2016-01-12 18:58] #1316 closed

[2016-01-12 18:58] #1374 closed

[2016-01-12 19:05] #1851 closed

[2016-01-12 19:05] #1877 closed

[2016-01-12 19:05] #1878 closed

[2016-01-12 19:05] #1884 closed

[2016-01-12 19:05] #1901 closed

[2016-01-12 19:05] #1905 closed

[2016-01-12 19:05] #1910 closed

[2016-01-12 19:05] #1911 closed

[2016-01-12 19:05] #1914 closed

[2016-01-12 19:05] #1915 closed

[2016-01-12 19:05] #1918 closed

[2016-01-12 19:05] #1922 closed

[2016-01-12 19:05] #1923 closed

[2016-01-12 19:05] #1932 closed

[2016-01-12 19:05] #1933 closed

[2016-01-12 19:05] #1943 closed

[2016-01-12 19:05] #1944 closed

[2016-01-12 19:05] #1945 closed

[2016-01-12 19:05] #1946 closed

[2016-01-12 19:05] #1948 closed

[2016-01-12 19:05] #1949 closed

[2016-01-12 19:05] #1952 closed

[2016-01-12 19:05] #1954 closed

[2016-01-12 19:05] #1957 closed

[2016-01-12 19:05] #1958 closed

[2016-01-12 19:05] #1567 closed

[2016-01-12 19:05] #1584 closed

[2016-01-12 19:05] #1595 closed

[2016-01-12 19:05] #1610 closed

[2016-01-12 19:05] #1617 closed

[2016-01-12 19:05] #1666 closed

[2016-01-12 19:05] #1676 closed

[2016-01-12 19:05] #1677 closed

[2016-01-12 19:05] #1678 closed

[2016-01-12 19:05] #1715 closed

[2016-01-12 19:05] #1717 closed

[2016-01-12 19:05] #1723 closed

[2016-01-12 19:05] #1752 closed

[2016-01-12 19:05] #1757 closed

[2016-01-12 19:05] #1775 closed

[2016-01-12 19:05] #1776 closed

[2016-01-12 19:05] #1784 closed

[2016-01-12 19:05] #1790 closed

[2016-01-12 19:05] #1795 closed

[2016-01-12 19:05] #1806 closed

[2016-01-12 19:05] #1818 closed

[2016-01-12 19:05] #1821 closed

[2016-01-12 19:05] #1823 closed

[2016-01-12 19:05] #1839 closed

[2016-01-12 19:05] #1845 closed

[2016-01-12 19:05] #95 closed

[2016-01-12 19:05] #411 closed

[2016-01-12 19:05] #436 closed

[2016-01-12 19:05] #542 closed

[2016-01-12 19:05] #619 closed

[2016-01-12 19:05] #800 closed

[2016-01-12 19:05] #976 closed

[2016-01-12 19:05] #1017 closed

[2016-01-12 19:05] #1096 closed

[2016-01-12 19:05] #1284 closed

[2016-01-12 19:05] #1287 closed

[2016-01-12 19:05] #1314 closed

[2016-01-12 19:05] #1366 closed

[2016-01-12 19:05] #1442 closed

[2016-01-12 19:05] #1458 closed

[2016-01-12 19:05] #1479 closed

[2016-01-12 19:05] #1500 closed

[2016-01-12 19:14] eaquigley commented on #979
Closing this issue as it is quite vague and any changes we make that make dataverses and datasets have similar functionality will require individual tickets.

[2016-01-12 19:14] #979 closed

[2016-01-12 21:26] pdurbin commented on #2856
We are no longer getting a 404 for [doi:10.7910/DVN/MD2UM1](http://dx.doi.org/10.7910/DVN/MD2UM1)  as originally reported by @zmughal

[code]

now returns the following data:

[code]

@sekmiller you mentioned this might be a time-based thing. That we should give it another day and try again.

[2016-01-12 21:28] pdurbin commented on #2856
@zmughal is this is indeed an expected delay, how or where would you like or expect this to be documented?

[2016-01-12 22:49] kcondon opened #2861 "Create Dataset: Creating a dataset with a restricted file throws incorrect popup and server log error, doesn't create."
When I create a dataset in v4.2.3 and restrict a file on create, it first presents a popup that incorrectly says,  Please select unrestricted file(s) to be restricted.

Then, I uncheck the selected file that had been restricted (restricting does not automatically clear the checkbox, didn't in v4.2.2 either) then it throws a server log error and does not save the dataset.
It also throws a weird err

[2016-01-12 23:09] kcondon opened #2862 "Create Dataset: Delete file on create dataset does not delete."
This happens in v4.2.2, 4.2.3.
You may ask yourselves who in their right mind would delete a file on creating a dataset?
1. It's possible so it should work.
2. Someone uploading some files but notices one they do not want.
3. Me.

[2016-01-13 02:00] zmughal commented on #2856
Hmm, I don't know where something like that should be documented. It would make more sense to note it where developers of tools for bibliographic data might see it, but I don't know if that is the role that Dataverse takes.

I only noticed it because I have a small script that I use to quickly retrieve BibTeX data from DOIs.

[2016-01-13 02:02] pdurbin commented on #2856
@zmughal thanks much. I'm not actually sure if there's anything actionable for this issue so I'm passing it to QA for comment or to close.

[2016-01-13 15:03] pdurbin commented on #2852
@scolapasta @kcondon I went ahead and fixed the versions in the 4.3 branch, updating them from 4.2.3 in 2875820

[2016-01-13 15:16] pdurbin opened #2863 "Guides - Update Developer Guide to Reflect New Process"
It's a new year and we've introduced a new "develop" branch, which is now the default. We need to update the "Branching Strategy" and "Making Releases" docs to explain the purpose of the "develop" branch:
- http://guides.dataverse.org/en/4.2.3/developers/branching-strategy.html
- http://guides.dataverse.org/en/4.2.3/developers/making-releases.html

Top of mind thoughts:
- The "develop" branch repr

[2016-01-13 15:38] mheppler opened #2864 "Guides - Developers vs. Developers'"
The use of Developers vs. Developers' for the guides is inconsistent across the application.

Since "User" and "Installation" are singular, I suggest we put this debate to rest once and for all by changing all instances and references of the guide that is to be used by a developer to the "Developer Guide".

[2016-01-13 15:41] pdurbin commented on #2864
:+1: good idea, @mheppler

I'm on board with changing it to "Developer Guide" (singular). The only place we won't change is the URL which will still have "developers" ( http://guides.dataverse.org/en/latest/developers ) but that's fine.

[2016-01-13 15:51] mheppler opened #2866 "Guides - Outdated Reference to TwoRavens"
In the User Guide > Data Exploration Guide > TwoRavens: Tabular Data Exploration, there are references to TwoRavens old name "Sola Fide", which should be corrected ASAP.

[2016-01-13 15:56] pdurbin commented on #2718
I'm just noting here that since we didn't go with that commit as a solution I'm going to delete that branch.

[2016-01-13 16:00] pdurbin commented on #2645
I'm just noting here that since we didn't go with this fix I'm deleting the branch it was in: 2645-file-downloader-view-dataset

[2016-01-13 16:54] sekmiller commented on #2861
Fix for this is in the 4.2.3 branch - a new build will need to be done before testing

[2016-01-13 18:51] pdurbin commented on #2861
@kcondon after you QA this in 4.2.3 please ping a developer to merge the fix into develop.

[2016-01-13 19:11] kcondon commented on #2861
@pdurbin we'll merge when we finish the final fixes as discussed.

________________________________
From: Philip Durbin [notifications@github.com]
Sent: Wednesday, January 13, 2016 1:51 PM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] Create Dataset: Creating a dataset with a restricted file throws incorrect popup and server log error, doesn't create. (#2861)

@kcondon<https://ur

[2016-01-13 19:14] kcondon commented on #2851
Reinstalled Two Ravens on dvn-build, ran into some issues with the installer. Worked with Leonid to remove the old installation config and got it to the point where data pebbles and variables were loading. Models were not running though so that needs to be address but is most likely a config issue and not a code issue at this point. Moving this to v4.3 to continue cleanup.

[2016-01-13 19:38] kcondon commented on #2861
Works, closing

[2016-01-13 19:38] #2861 closed

[2016-01-14 12:49] bencomp commented on #2863
@pdurbin Is there any consensus on the branching strategy at IQSS, or is this just your idea and up for discussion? If PRs keep being closed for making them against branches that are closed because the branching strategy may change, I may very well lose interest in contributing. Moreover, if it's just you (and for just a tiny bit, me) who determine(s) how developers should write code and commit it

[2016-01-14 14:22] pdurbin commented on #2826
A fix for this issue has been proposed by @lwo in #2865

@michbarsinai do you have any comments on the bug or the pull request?

[2016-01-14 15:20] pdurbin commented on #2826
I can definitely trigger the 500 error on https://demo.dataverse.org which is running v. 4.2.2 build 54-9883aaa with the following:

`curl -H "X-Dataverse-key: $API_TOKEN" -H "X-FORWARDED-FOR: 1.2.3.4, 5.6.7.8" https://demo.dataverse.org/api/dataverses/harrisonlab`

(Thanks for (the reminder](https://github.com/IQSS/dataverse/pull/2865#issuecomment-171664089), @lwo )

Here's the stacktrace as of 9

[2016-01-14 16:09] sbarbosadataverse opened #2871 "file downloading for large number of files: downloading problematic"
Example dataset: https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/21919

User complaint:
1.When I try to download all the files at once, the app times out.
2.When I try to download small batches (5-6 at a time) I often don’t get the files that I checked. 3.Downloading the files one at a time works but is very frustrating as it reloads the page every time and I have to scroll dow

[2016-01-14 16:11] sbarbosadataverse commented on #2871
@eaquigley
assigning to you so you can make sure it gets into the correct milestone.
We need to figure out this issue with "download all" that fails using API or simply via the UI.

The second issues seems to be a bug---

[2016-01-14 18:06] eaquigley opened #2872 "Request Access: User Should Get Pop Up with Terms of Use + Terms of Access when clicking Request Access button"
In the original FRD for all things files: https://docs.google.com/document/d/1v-6WuFyClnAAHqyMf1VsWtCdXDTTR-ikuG6Ou8RtDMM/edit?usp=sharing, there is a requirement that was never implemented:

Clicking Request Access button pulls up terms of access and terms of use

This is needs to be added in where the Request Access button would be there, and when a user clicks on it, a pop up with the Terms of

[2016-01-14 18:13] sbarbosadataverse opened #2873 "Odd tabular file behavior: duplicate tab files displayed on files page after ingest"
This is the second time in two days that I've uploaded tabular data and while scrolling on the files tab have noticed two identical tabular files in the list. If I completely leave the files page it eventually resolves itself, but not immediate: In this example TIF.TAB shows up at the top of the screenshot and at the very bottom-which should be impossible?

<img width="1232" alt="screen shot 2016-

[2016-01-14 18:33] sbarbosadataverse commented on #2457
@mcrosas
Hi Merce:
Any idea when this can be corrected? Currently all the URLs appear as the entire address instead of a link.

[2016-01-14 19:45] ajirnyi opened #2874 "Dataverse creation: Indentifier field width too small"
When the base URL is long enough (e.g. 49 symbols in our test case), the Identifier entry field is too short except for very wide browser windows, and it is not possible to see the text entered there (see example below). The issue is most noticeable in Firefox (box is too small up to screen width of 1183 pixels, after which it instantly expands), but is present in all browsers.

![dvidentifier](ht

[2016-01-14 19:52] sekmiller opened #2875 "Remove Extraneous Columns from Dataset Version"
In Version 4.2 of Dataverse we established the TermsOfUseAndAccess table.  Fields on this table used to reside on the DatasetVersion table.  To complete this process we should remove these unused columns from the DatasetVersion table

[2016-01-14 19:53] sekmiller commented on #2875
These are the columns that should be removed:

availabilitystatus, citationrequirements, conditions, confidentialitydeclaration,
contactforaccess, depositorrequirements, disclaimer, fileaccessrequest, license, originalarchive, restrictions, sizeofcollection,
specialpermissions, studycompletion, termsofaccess, termsofuse
  FROM datasetversion;

[2016-01-14 19:54] pdurbin commented on #2874
Yeah, in Chrome I tried "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ" as an alias and I can't quite see the first "z":

![screen shot 2016-01-14 at 2 53 48 pm](https://cloud.githubusercontent.com/assets/21006/12335735/a6e5fe4a-bace-11e5-8ce0-f8e82e9ba263.png)

[2016-01-14 21:14] michbarsinai commented on #2826
I've commented on the issue as well. As far as I can see, we can merge the pull request.

Maybe even tweet about this, giving @Iwo some street cred and encouraging community to offer such small fixes? Not sure, just a thought.

-- Michael

[2016-01-14 21:27] landreev commented on #2826
I have committed a fix today, that removed the code that was checking the x-forwarded-for header from DataverseRequest (into the 4.2.3 branch).
So, that should make this moot, correct?

[2016-01-14 21:27] pdurbin commented on #2866
I just merged the fix into the 4.2.3 branch (will set the milestone to this) in 6fe7c3a and ran a guides build. Passing to QA to check out http://guides.dataverse.org/en/4.2.3/user/data-exploration/tworavens.html

[2016-01-14 21:29] pdurbin commented on #2864
I just merged the fix into the 4.2.3 branch (will set the milestone to this) in 6fe7c3a since this looks fine on my laptop (Developer Guide "singular"):

![screen shot 2016-01-14 at 4 25 06 pm](https://cloud.githubusercontent.com/assets/21006/12338099/e7cb9e4e-badb-11e5-995a-9ec9746dc891.png)

Passing to QA. @mheppler if you have any particular testing instructions, please comment.

[2016-01-14 21:38] michbarsinai commented on #2826
No, in the long run we want to re-enable this.

[2016-01-14 21:47] pdurbin commented on #2863
@bencomp it was nice chatting with you at http://irclog.iq.harvard.edu/dataverse/2016-01-14 and I hope I answered most of your questions! We love our contributors! Please stay tuned!

[2016-01-14 21:48] landreev commented on #2826
Re-enable what?

[2016-01-14 21:50] michbarsinai commented on #2826
Using the IP Address from the X-Forwarded-For header. That's important for IP groups when GF is behind a firewall.

[2016-01-14 22:16] iwo commented on #2826
@michbarsinai nick of the guy you wanted to mention is @lwo not @iwo

[2016-01-14 22:22] landreev commented on #2826
I'm really confused. A Firewall? Or a Proxy? - the way it was communicated to me, was that it was done to get the IP address when Glassfish is "behind the Apache proxy". I.e., in a setup like our current production.
This definitely doesn't seem to be the case - the Apache proxy preserves the real, original IP address in the HttpServletRequest. I verified that (and added a long comment on this in D

[2016-01-14 22:56] kcondon commented on #2864
Closing

[2016-01-14 22:56] #2864 closed

[2016-01-14 22:58] kcondon commented on #2866
Closing.

[2016-01-14 22:58] #2866 closed

[2016-01-14 23:18] scolapasta commented on #2282
Yes, there is no one user / one role / one dvObject rule. As @pdurbin, it is a feature to have 2 roles (think Member, and Dataset Creator, for someone who should be able to add datasets to an unpublished dataverse). So I think this can be closed.

[2016-01-15 02:04] raprasad commented on #2282
FYI: I think I made the ticket in the initial planning for 'mydata' -- it should have been closed.  Eg During that process, @scolapasta explained the underlying rationale.

On Jan 14, 2016, at 6:18 PM, Gustavo Durand <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, there is no one user / one role / one dvObject rule. As @pdurbin<https://urldefense.proofpoint.com/v2/url?u=ht

[2016-01-15 06:43] michbarsinai commented on #2826
Oh. Sorry. Good fix. Thanks, @lwo!

[2016-01-15 06:49] michbarsinai commented on #2826
@landreev if the apache proxy preserves the original IP address, we're fine. But we were told that's not always the case, especially when there are a few proxies on the way. See the original report, with nginx and varnish thrown in the mix.

It's a security hole alright, which is why we need it to be configurable, but it's a common problem so I assume solution exists. One way would be to have the

[2016-01-15 09:01] lwo commented on #2826
If you keep the XFF header in, then as you said it should be deliberately enabled with a vm parameter or setting... I think the DV documentation should point out that if you want to use IP groups and the proxy chain does not allow the dataverse instance to see the client IP, that then enabling XFF is an option and that there are steps you must take to guarantee its authenticity. The latter may be

[2016-01-15 10:07] bencomp commented on #2863
You did answer my main question about consensus on IRC (I admit I was a bit frustrated when I wrote the above comment).
It would be helpful to explain the reasons for the (changed) branching strategy and refer to the team decision. Perhaps add some background about how changes were pushed to master and what problems you ran into?

Regarding your questions:

- yes, pull requests should be made agai

[2016-01-15 11:46] pdurbin commented on #2863
Please wait for something more official but my take on the reasons for the change are:

- We want code to be better tested in a branch before it gets merged into the branch that represents the next release.
- We want developers to know that they can always branch from "develop" when starting work on a new feature or bug fix.

That said, we're still discussing. And really, we need to experiment a b

[2016-01-15 14:10] pdurbin commented on #2856
I reached out to EZID folks via private email (and cc'd @sekmiller ) and there are more hops in this pipeline than I realized:

Dataverse -> EZID -> DataCite -> other hops -> doi.org

The suggestion I was given was "unless the delay is more than 24hrs I would hesitate to bring the issue up with [DataCite]".

Makes sense. @kcondon I'm moving this to 4.2.3 to get your feedback. I still think we can

[2016-01-15 14:29] michbarsinai commented on #2826
Thanks. That seems to be an even simpler way of solving this. We should probably provide a sample Apache/Nginx config files in the documentation sections as well.

[2016-01-15 14:30] pdurbin commented on #2283
@bencomp do you mean where the **files** are stored on disk?

I'm looking at feedback from @pameyer that says, "file storage location (which I was able to infer is in the glassfish domain by seeing where new files ended up)". From a quick look at scripts/installer/install it looks like `$FILES_DIR` gets set to `$CONFIG_DEFAULTS{'GLASSFISH_DIRECTORY'} . "/glassfish/domains/" . $ENV{'GLASSFISH_DOMAI

[2016-01-15 14:48] pdurbin commented on #2826
Sample Apache files are already provided at http://guides.dataverse.org/en/4.2.3/installation/shibboleth.html#configure-apache but probably we should talk about Apache earlier in the guide and explain that it's optional. Another place in the guides where we talk about ports (as I was mentioning to @pameyer) is http://guides.dataverse.org/en/4.2.3/installation/r-rapache-tworavens.html#d-ports-confi

[2016-01-15 16:21] lwo commented on #2283
We use it to point to a mount
/data
with the owner set to glassfish

[2016-01-15 16:36] bencomp commented on #2283
@pdurbin yes, that is what I meant. We also point to a mount at /data, coincidentally. The storage location may not matter to Dataverse (and from comments in the code I infer that @landreev envisions that Dataverse will at some point abstract away from file systems), but you need to plan (and monitor) the size and available space on the data volume(s).

I'll add a comment to the reorg proposal (th

[2016-01-15 16:48] kcondon commented on #2871
I tested this after the user report. The dataset mentioned has a lot of small files, 50k or so. I was able to download 5-6 files with no trouble but when I downloaded a page worth of files, sometimes it worked, sometimes I got the server busy/ 503 error, which in this case seems like a timeout between apache and glassfish when processing the request. I say this because I can immediately browse the

[2016-01-15 17:08] pdurbin commented on #2863
@kcondon as we've discussed I made a very small change in b2fcf4d to top of the following pages to note that the branching strategy is under review and that this issue is the one to follow for updates:

- http://guides.dataverse.org/en/4.2.3/developers/branching-strategy.html
- http://guides.dataverse.org/en/4.2.3/developers/making-releases.html

I just did a build and these changes are live so I'

[2016-01-15 17:09] pdurbin commented on #2856
@kcondon said to go ahead and close this issue after discussing it with me and @sekmiller this morning. Obviously, if this delay becomes frequent we'll revisit this issue.

[2016-01-15 17:09] #2856 closed

[2016-01-15 17:13] kcondon commented on #2863
OK, verified the above changes. Marking the follow on work described by this ticket for v4.3.

[2016-01-15 17:48] pdurbin commented on #2171
@scolapasta hasn't been able to reproduce this and neither can I (tested 94117bb in 4.2.3 branch).

@eaquigley I'm going to close this issue. If you can reproduce it, please re-open it and (as @scolapasta said) please provide as much detail as possible about how to reproduce it. I'm happy to look over your shoulder. Please just grab me.

[2016-01-15 17:48] #2171 closed

[2016-01-15 18:01] pdurbin commented on #2436
Obviously the app must have been in a strange state if you click "Save" but the page remains on the "edit" view. (My guess is that was probably an exception was thrown.) You shouldn't have to hit "Save" a second time.

I checked with @sbarbosadataverse and am closing this issue based on what she had to say:

"I think this was one of those bugs that we won't be able to reproduce....we have many of

[2016-01-15 18:01] #2436 closed

[2016-01-15 18:09] pdurbin commented on #2470
@raprasad do you remember why you flagged this issue as both High and Critical? I'm tempted to remove both labels. I'm also not sure why you gave it to @eaquigley but maybe there's a project for this on the new spreadsheet? If so I can't find it.

@scolapasta you asked me to look at this issue but I'm not sure if you want to treat this as a bug fix ("just add the missing column to the table") or i

[2016-01-15 18:12] pdurbin commented on #2841
I feel like this issue might have "merge conflict" written all over so as a first step I think it makes the most sense to be clear about which xhtml files are in play so I'll modify the list by @mheppler to include them.

[2016-01-15 18:32] pdurbin commented on #2834
Hmm, I see what you mean @sbarbosadataverse . I just created the following user:

- username: foo
- given/first name: bar
- family/last name: baz

When I type the username ("foo"), the user can't be found:

![screen shot 2016-01-15 at 1 28 18 pm](https://cloud.githubusercontent.com/assets/21006/12361468/4beed66a-bb8c-11e5-9fc3-441ff4a8813c.png)

Typing the first or last name works fine:

![screen

[2016-01-15 18:37] pdurbin commented on #2434
@sbarbosadataverse this "save twice" issue sounds suspiciously like #2436 which we just agreed to close per https://github.com/IQSS/dataverse/issues/2436#issuecomment-172036797 where you had said "I think this was one of those bugs that we won't be able to reproduce....we have many of these...I think we can close it and say we will open again if it happens again...I haven't seen it since i reporte

[2016-01-15 18:37] #2434 closed

[2016-01-15 18:54] pdurbin commented on #2278
@kcondon can you please write down any guidelines based on your real-world experience of moving datasets and dataverses through the database? I know that in some cases reindexing is required but I'm also wondering about the concerns we had expressed in the doc I mentioned previously:

* metadata blocks may be different
* groups (defined at dataverse level) may not be available: https://github.com/

[2016-01-15 20:33] pdurbin commented on #2249
Feedback from @pameyer: "preserving file naming and directory structure (with the exception of `files.sha` which holds the checksums) is important for users downloading the dataset, and doing computation locally on it".

Mostly I just want to make it clear that **download** is a use case. (We probably need a separate issue to talk about running computation on files.) In the FRD above this is curre

[2016-01-15 21:30] sbarbosadataverse opened #2876 "file upload: when uploading a combination of files that include tabular data, the "select and delete" option will not work although the "action" is available to attempt, until files ingest"
It appears to be a "bug" because the option to select files and delete is still available, but when you complete the action, the page appears to "refresh" without deletion and leaves you in "edit" mode to select "save" for tabular data ingest

[2016-01-15 21:51] pdurbin commented on #2686
https://help.hmdc.harvard.edu/Ticket/Display.html?id=229652 is an example of where this bug has been noted.

In addition, I'm working with @pameyer on stuff for @sbgrid and I noticed a MANIFEST.TXT file in dataverse_files.zip with contents that start with lines like this:

.adxv_beam_center (application/octet-stream) 19 bytes.
files.sha (application/octet-stream) 2742 bytes.
kdc_apr11_d3_1_001.img

[2016-01-15 23:41] bencomp commented on #2853
Related: #2027

[2016-01-16 12:00] kcondon commented on #2024
This is an old ticket, WorldMap is undergoing a redesign so there may be periods of service instability. This will be tracked outside of the ticketing system. Closing.

[2016-01-16 12:00] #2024 closed

[2016-01-16 12:04] kcondon commented on #1928
@scolapasta This was assigned to me way back. It seems like there have been specific search issues found but not yet addressed? Phil asked how we should approach improving search results generally.

I can try more testing, with input from others since they're good at finding cases, but sounds like we already have a basis for work, no?

[2016-01-16 12:05] kcondon commented on #1880
Indexes were applied, closing

[2016-01-16 12:05] #1880 closed

[2016-01-16 12:06] kcondon commented on #2260
Closing as duplicate

[2016-01-16 12:06] #2260 closed

[2016-01-16 12:13] kcondon commented on #2168
Many of these notifications issues were resolved. Not able to reproduce, closing.

[2016-01-16 12:13] #2168 closed

[2016-01-16 12:14] kcondon commented on #2001
Works, closing

[2016-01-16 12:14] #2001 closed

[2016-01-16 12:16] kcondon commented on #2578
Tested this as part of the release and was working. Closing.

[2016-01-16 12:16] #2578 closed

[2016-01-16 12:18] kcondon commented on #2507
Tested as part of a release but this ticket was not associated with a release so was not closed. Closing.

[2016-01-16 12:18] #2507 closed

[2016-01-16 12:20] kcondon commented on #2592
Not seeing as clearly distinct performance issues but index server does seem to benefit from a reboot after completing a full index.

[2016-01-16 12:21] kcondon commented on #2592
Will look at this a part of general performance testing and cleanup.

[2016-01-16 12:21] #2592 closed

[2016-01-16 12:22] kcondon commented on #75
Closing, start from scratch as suggested.

[2016-01-16 12:22] #75 closed

[2016-01-16 12:23] kcondon commented on #1599
Will test as part of general performance testing. Closing.

[2016-01-16 12:23] #1599 closed

[2016-01-16 12:24] kcondon commented on #2233
This works, was implemented in v4.2.1 I believe but this ticket was not associated with a release so was missed. Closing.

[2016-01-16 12:24] #2233 closed

[2016-01-16 12:26] kcondon commented on #1920
@sbarbosadataverse This is an old ticket and I'm wondering what it means and whether it is still relevant. Can you comment? I'd like to close it or work on it. Thanks!

[2016-01-16 12:30] kcondon commented on #2504
OK, seems fine, closing.

[2016-01-16 12:30] #2504 closed

[2016-01-16 12:43] kcondon commented on #1718
OK, sword api tou is in place, closing.

[2016-01-16 12:43] #1718 closed

[2016-01-16 12:44] kcondon commented on #2282
Closing

[2016-01-16 12:44] #2282 closed

[2016-01-16 12:47] kcondon commented on #2612
I'm not sure having such a ticket is helpful other than as a reminder that we have a big list of migration tasks divided by three people that needs reviewing. So, next step is to schedule a review and before hand see which tasks can be completed.

[2016-01-16 12:50] kcondon commented on #2222
@scolapasta Not sure why this was assigned to QA: @pdurbin was this ever looked at, in your opinion should it be working now?

[2016-01-16 12:50] kcondon commented on #2441
Closing based on user confirmation.

[2016-01-16 12:50] #2441 closed

[2016-01-16 15:35] pdurbin commented on #2834
#2001 seems to be related but I'm not sure who worked on it. The commits were not tagged with that issue number, apparently.

[2016-01-16 15:38] pdurbin commented on #2222
@kcondon either you or I should probably check to make sure we aren't getting that exception. I do have a REST Assured set for deleting a file now: 3e9ca28

[2016-01-19 14:52] posixeleni opened #2878 "Number of total Datasets not displaying correctly when narrowing search to Dataverse Category: Journal"
I need to collect metrics of # of total datasets for journal dataverses but when I narrowed my results down to just _Dataverse Category: Journal_ the number of total datasets displays as "0" which is not possible since there are 75 journal Dataverses listed with published datasets in them. For example this Dataverse is listed and has 24 published datasets: https://dataverse.harvard.edu/dataverse/r

[2016-01-19 16:11] sbarbosadataverse opened #2879 "reset password email not received by end user: case sensitive"
https://help.hmdc.harvard.edu/Ticket/Display.html?id=231097

RT ticket attached for FU.
User tried several times, no reset email received, he included a screenshot indicating the email being used, and the message indicating reset link was on the way

[2016-01-19 16:51] kcondon commented on #2871
I've tested on staging and did not see the problem, even when selecting all. However, the zip process occurred much quicker, whereas in production, it was 40+ seconds, then the error. Seems likely a timeout. Why it's slower in production, available memory, etc, I don't know. Load didn't seem to be high.

[2016-01-19 21:11] pameyer opened #2880 "File Upload: completed files remain in the "select files to add" box after finishing upload"
Uploaded ~150 ~11 MB files individually (not in zip/tgz)
 - create new dataset
 - files -> "+ Select Files to Add"
 - select all (in browser window)
 - small number of files (not fully reproducible - ~2-5) remain in the "Select Files to Add" box after upload completes (judging by drop in server load, presence of these files in the unlabeled box of files uploaded below, and presence on the filesyst

[2016-01-19 21:38] ajirnyi commented on #2669
Hi all -- just wondering, is there any currently functional workaround for this issue, or is the only solution to place the ToC off-site with a link?

Thanks!!

[2016-01-19 22:14] mheppler commented on #1520
Utilized some jQuery (via [Stack Overflow](http://stackoverflow.com/a/20320919)) to fix a UI problem in the guides that caused section headers to display under the navbar.

[2016-01-20 13:50] pdurbin commented on #2669
@ajirnyi @shlake on my Mac, I just put the contents of the failing file (more that 1024 characters) in my copy/paste buffer from the terminal like this...

`curl https://github.com/IQSS/dataverse/files/18657/Scratch2.html.txt | pbcopy`

... (but there are other ways, of course) and used [pgAdmin3](http://www.pgadmin.org) to create a new "name" in the "setting" tabled called ":ApplicationTermsOfUse

[2016-01-20 13:59] pdurbin commented on #2879
In production, it's possible to grep through the Glassfish `server.log` to get more diagnostics on what went wrong but as of this writing we have three Glassfish servers. I think we should consider logging password resets to the database and exposing this information to a superuser GUI so that people like @sbarbosadataverse aren't flying blind trying to help people.

[2016-01-20 14:22] pdurbin commented on #2878
@posixeleni the behavior you're describing has to do with the fact that "Dataverse Category" applies only to dataverses. It's something you can facet on for dataverses. This is unlike "Subject" which applies to both dataverses and datasets:

![advanced_search_-_harvard_dataverse_-_2016-01-20_09 04 36](https://cloud.githubusercontent.com/assets/21006/12451032/0a651084-bf55-11e5-86c4-dae03eb56d2a.pn

[2016-01-20 14:32] posixeleni commented on #2878
Thanks for your reply @pdurbin and for explaining the logic, I need a short term solution script to collect these metrics to make sure we are meeting our FY2016 IQSS and Sloan goals for journals. Would you be able to assist me with this script or can someone else help?

For the long term I think @eaquigley and @mheppler will need to comment on how user friendly this display of zero datasets is. Fr

[2016-01-20 14:39] pdurbin commented on #2879
Another suggestion would be to have the logs for all three Glassfish servers get fed into something like Splunk or similar (i.e. [Logstash](https://www.elastic.co/products/logstash)) so we could search across all the logs at once. Probably @sbarbosadataverse wouldn't do this herself though. Maybe. It depends on how arcane the interface is and various security considerations.

Another suggestion (b

[2016-01-20 14:48] mheppler commented on #1249
Example of long dataverse description:
- [UCLA Social Science Data Archive Dataverse](https://dataverse.harvard.edu/dataverse/ssda_ucla)

[2016-01-20 15:00] pdurbin commented on #2878
@posixeleni for now can you use the GUI to select each of the 66 journal dataverses one by one and then looking at the count of datasets in the top left. For example, you could click "Land Cover Map at APTBNC Dataverse" and see that there is one dataset:

![harvard_dataverse_-_2016-01-20_09 57 14](https://cloud.githubusercontent.com/assets/21006/12452445/7fe80152-bf5c-11e5-800b-c8e902bc4d2c.png)

[2016-01-20 15:00] pdurbin commented on #2171
"Appears to no longer be happening. Thanks." -- @eaquigley

[2016-01-20 15:02] posixeleni commented on #2878
@pdurbin i forgot to mention that I was already doing that, but this is time consuming and is not sustainable for the long term as the # of dataverses increases.

[2016-01-20 15:09] pdurbin commented on #2878
@posixeleni gotcha. Well, it sounds like you have a very real world use case (user story) that @eaquigley and @mheppler should review. Let's give this to @eaquigley for now to think about.

I'm afraid I can make any firm commitments about writing a script, @posixeleni . If you want I can sit with you and get you started if you'd like to write a script. I believe you were interested in Python at on

[2016-01-20 15:49] pdurbin commented on #2880
I'll probably try to reproduce this with files from https://data.sbgrid.org/dataset/133/ based on what @pameyer mentioned at http://irclog.iq.harvard.edu/dataverse/2016-01-20

[2016-01-20 15:51] pameyer commented on #2880
For reproducibility, I was seeing this on 4.2.2

[2016-01-20 15:53] pdurbin commented on #2880
Thanks. I wonder if the upgrade from Primefaces 4 to 5 in #2730 as part of 4.2.3 will make any difference in reproducing this bug.

[2016-01-20 16:31] eaquigley commented on #2878
Spoke to @posixeleni and we were under the impression there was going to be a tag put on datasets for the dataverse category they belong to (so the reverse of what is currently happening with Subject(s) on datasets populating the Dataverse subject).

The requirement would be, "If I'm faceting on Dataverse Category, I should be able to get results for all the Dataverses, Datasets, and Files within

[2016-01-20 16:35] eaquigley commented on #813
@scolapasta what should i do with this ticket? i'm working on the BRD but @landreev has already done some development for this.

[2016-01-20 16:39] pdurbin commented on #2686
@landreev as discussed at this morning's standup I'm changing the assignee of this issue to you and making the milestone 4.3 for now. If you could fix the "ZipDonwloadLimit" typo while you're in there I'd appreciate it.

[2016-01-20 18:20] pdurbin commented on #2880
On my laptop I'm on commit a90be2a of the 4.2.3 branch and I just tried uploading all 148 files from https://data.sbgrid.org/dataset/133/

The main thing I want to do for now is upload a screenshot of what I'm seeing, which I'll put below, to make sure this is what @pameyer is talking about.

Other observations (while using Firefox) are that my Mac was "beachballing" during the upload and I couldn

[2016-01-20 18:41] eaquigley commented on #1990
If we do this when a user hits publish, as mocked up: https://iqssharvard.mybalsamiq.com/projects/termsofuse-dataverse40/1C%20Terms%20of%20Use%20and%20Licensing then that should fix the problem.

[2016-01-20 19:29] pameyer commented on #2880
@pdurbin - that screenshot matches what I was seeing.  The number of files varied (I deleted and re-uploaded a few times).

I didn't notice any beachballing - but I wasn't watching for it.

[2016-01-20 19:43] pdurbin commented on #1548
@mheppler can you reproduce this in "develop"?

[2016-01-20 21:10] pdurbin commented on #2834
To be clear, you can just type the username ("foo") and find it from the permissions page from a dataverse for example (<http://localhost:8080/permissions-manage.xhtml?id=1>):

![screen shot 2016-01-20 at 4 10 00 pm](https://cloud.githubusercontent.com/assets/21006/12463238/62115ba4-bf90-11e5-9cf2-8b8ec1a9ed64.png)

[2016-01-20 22:11] mheppler commented on #1548
No. That said, I didn't know how to reproduce this state then, I still don't know how to reproduce it now.

[2016-01-20 22:31] scolapasta opened #2881 "Deaccession: forwarding URLs with ? don't seem to work"
I attempted to deaccession a dataset with a forwarding URL like:

https://dataverse.harvard.edu/dataset.xhtml?persistentId=XXXXXX

and it gave a validation error for the forwarding URL.

Switching to a URL with out the "?" worked.

[2016-01-21 13:29] pdurbin commented on #1548
Ok. I doubt this issue has much value staying open then. I recommend we close it. Moving to QA.

[2016-01-21 14:29] sbarbosadataverse opened #2882 "Email Dataset Contact - Email needs more information when authors replyto a user"
I've been using the email icon to contact authors and when they reply I get no indication which dataset/dataverse they are replying from. Would be more helpful to have this info attached to the email dialogue box in some way.

[2016-01-21 14:33] sbarbosadataverse opened #2883 "Support for stata 14"

[2016-01-21 14:35] pdurbin commented on #2883
This seems to be a duplicate of #2301

[2016-01-21 14:41] sbarbosadataverse commented on #2883
Thanks, Phil! I searched but nothing came up!

On Thu, Jan 21, 2016 at 9:35 AM, Philip Durbin <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http:

[2016-01-21 14:41] #2883 closed

[2016-01-21 14:41] pdurbin commented on #533
This feels related to #1589 and might even be the same issue.

[2016-01-21 14:46] pdurbin commented on #2834
I'm assigning this issue to myself because I plan to mentor a new developer on fixing it. Also, we should test this with thousands of users in the system because with the fix in place I suspect it might suffer from #2853. (I create users with these scripts if it's helpful: https://github.com/IQSS/dataverse/blob/develop/scripts/search/populate-users and https://github.com/IQSS/dataverse/blob/develo

[2016-01-21 14:59] posixeleni commented on #2291
@pdurbin would it be possible for you to add this information into the Search API guide? I have a feeling more and more people will want to be able to search on this to only retrieve the freshest published data for their integrations with us.

[2016-01-21 15:00] pdurbin commented on #2628
I just wanted to note that five days ago there was some activity from Payara at https://github.com/payara/Payara/issues/532#issuecomment-172173372 in trying to reproduce the problem.

[2016-01-21 15:23] pameyer commented on #2880
@pdurbin - the fans spinning up on your laptop might have been the dataverse app (ingestion?) rather than the browser?

[2016-01-21 15:25] pdurbin opened #2884 "Reorganize and improve Installation Guide based on proposal from community"
As I mentioned to @scolapasta yesterday, I'd like to take a swing at improving the Installation Guide based on the [Dataverse 4 Installation Guide Reorganization Proposal](https://docs.google.com/document/d/1GLky44JbtCNhGuavLXGEP8WPNdjbyHNxalEGjR78MaA/edit?usp=sharing) that the community has been iterating and commenting on ever since [it was announced](https://groups.google.com/d/msg/dataverse-co

[2016-01-21 15:26] pdurbin commented on #2880
@pameyer I had that thought as well but I don't have any evidence one way or the other. :)

[2016-01-21 16:20] posixeleni commented on #1814
@scolapasta @mcrosas my mapping work for this has been completed but we need help from development to make this custom harvested datasets available in Dataverse. Since this relates to DataPASS what would the priority for this be?

[2016-01-21 17:39] mcrosas commented on #1814
Eleni, could you add this in the export/harvesting BRD? Harvesting of NARA
data is a business requirement, so support of this the crosswalk should be
part of this. I forgot it in the BRD.

Mercè Crosas, Ph.D.
Chief Data Science and Technology Officer, IQSS
Harvard University
http://scholar.harvard.edu/mercecrosas

On Thu, Jan 21, 2016 at 11:20 AM, Eleni Castro <notifications@github.com>
wrote:

[2016-01-21 19:32] posixeleni commented on #1814
Will do. Thanks.

Eleni Castro
Research Coordinator, IQSS
Harvard University
On Jan 21, 2016 12:39 PM, "Merce Crosas" <notifications@github.com> wrote:

[2016-01-21 23:15] pameyer commented on #2884
Looks good to me so far.

Two suggestions:
 - The install url (postgresl.org) and repo name (EPEL) don't match up for postgresl pre-req.
 - jq (which is an install script dependency) isn't mentioned in prerequisites; on CentOS6 this can be supplied by EPEL.

[2016-01-22 11:20] bencomp commented on #2104
The [Entity IDs doc](https://spaces.internet2.edu/display/InCFederation/Entity+IDs) also has a warning that says

So in any case it's important to choose wisely before registering and using an ID. Add to #2884?

[2016-01-22 14:55] mheppler commented on #2863
I've expanded this ticket to be updating the Developer Guide as a whole, since other pages also needed updated.

- [ ] Branching Strategy
- [ ] Testing
- [ ] Making Releases
- [ ] Documentation

[2016-01-22 14:58] mheppler commented on #2863
Assigning @scolapasta this ticket, as the Lead Developer, to take the lead on bringing this home.

[2016-01-22 15:21] mheppler commented on #2195
In a Google Doc for [ingest requirements](https://docs.google.com/document/d/1pGCiH5oPfQD2V5wzGoz62M4pDElGHU50NKBioG2IT9c/edit), dated Nov '14 for the last edit, I found a requirement of "Automatically unpacks - mandatory (Delivered)" under the ZIP Files section. Whether or not that requirement was changed for one reason or another was not documented in that FRD however.

In a comment from @landre

[2016-01-22 16:50] kcondon commented on #2195
This is not a duplicate because it involves unpacking files of .tar format rather than unpacking files of .zip format.
In v3.6.x we did both and the assumption is we still wanted that but it was overlooked.

________________________________
From: Michael Heppler [notifications@github.com]
Sent: Friday, January 22, 2016 10:21 AM
To: IQSS/dataverse
Cc: Condon, Kevin M
Subject: Re: [dataverse] File u

[2016-01-22 17:02] pdurbin commented on #2195
Here's how the tar upload feature was documented in DVN 3.6:

[2016-01-22 20:57] pdurbin commented on #2884
89e3a3f is the first of what will probably be many commits to the 2884-install-guide-reorg branch I just created. I'll continue to push updates to http://dvn-vm1.hmdc.harvard.edu/tmp/issues/2884/build/html/installation/intro.html for now I guess. Comments are welcome on that commit or at http://chat.dataverse.org or in comments here or wherever. There are still lots of good ideas in the [Dataverse

[2016-01-25 10:08] wbuchanan commented on #2883
@pdurbin Not sure how well/easily things would fit into your project, but I started working on building out a more comprehensive .dta reader with handling for the different .dta file formats.  It is still a while away from being completed, but I classes to handle the individual tag elements and have been trying to create a consistent interface (with regards to the structure/objects in the files).

[2016-01-25 14:02] pdurbin commented on #2331
@landreev check out the comment by @wbuchanan about how he has built https://github.com/wbuchanan/data-transfer processing Stata files in Java: https://github.com/IQSS/dataverse/issues/2883#issuecomment-174459123

[2016-01-25 14:04] pdurbin commented on #2883
@wbuchanan interesting! Thanks for letting us know about your project! I left a comment for @landreev especially (who works on Stata ingest) at https://github.com/IQSS/dataverse/issues/2331#issuecomment-174517288

[2016-01-25 18:41] mheppler commented on #2499
As the comments above show, a lot of improvements and new widget features already have development issues created. There isn't an issue for the dataset page yet, so I am narrowing the scope of this ticket to just that feature by changing the title.

[2016-01-25 18:54] pdurbin commented on #2834
@scolapasta I helped get @majorseitan up and running with a Dataverse dev environment and he has already submitted two possible fixes:

- #2885 seems to be the smallest possible change
- #2887 seems to be a fancier changes

I haven't pulled either fix locally and thought I'd check with you before doing so. I'll assign this issue and both pull requests to you to decide how you'd like to proceed wit

[2016-01-26 12:28] pdurbin commented on #2502
The "develop" branch was created from 4.3 so this fix is already in develop.

[2016-01-26 12:28] pdurbin commented on #2852
The "develop" branch was created from 4.3 so this fix is already in develop.

[2016-01-26 13:22] pdurbin commented on #2879
Reviewing the case at https://help.hmdc.harvard.edu/Ticket/Display.html?id=231097 has made me realize that the password reset feature I developed in #416 is case sensitive. D'oh!

I just tested this on the develop branch (commit d65b905) by signing up for an account with the email address "testcase@Mailinator.COM" to simulate the situation in the ticket above. Then I tried resetting the password w

[2016-01-26 14:01] posixeleni commented on #2170
We should also add upon sign-up that the user must enter their email address twice in the UI to confirm that this is entered correctly. At the moment we only enter an email once and that could allow for people to put in invalid or incorrect email address.

Cc/ @eaquigley

[2016-01-26 14:04] posixeleni opened #2888 "Account Sign Up: Can Enter The Same Email Address More Than Once (different cases)"
@pdurbin and I just spoke about this related issue #2879 (case sensitive password reset) and so I tried to create a second account with the same email address but with different cases.

example foo@Harvard.edu and foo@harvard.edu

[2016-01-26 14:09] pdurbin commented on #2888
#2170 about confirming email addresses is also related.

[2016-01-26 14:25] eaquigley commented on #2170
@posixeleni where is the entering of an email address twice requirement coming from?

On Jan 26, 2016, at 9:01 AM, Eleni Castro <notifications@github.com<mailto:notifications@github.com>> wrote:

We should also add upon sign-up that the user must enter their email address twice in the UI to confirm that this is entered correctly. At the moment we only enter an email once and that could allow for p

[2016-01-26 14:32] posixeleni commented on #2170
@eaquigley here are two examples of a Sign Up page (facebook and patreon) which ask you to re-enter your password when creating your account:
![image](https://cloud.githubusercontent.com/assets/5013837/12583231/a7dd570e-c40f-11e5-887b-66d7267d7fd0.png)

![image](https://cloud.githubusercontent.com/assets/5013837/12583189/7e5a234e-c40f-11e5-8423-20c08a91893c.png)

[2016-01-26 14:33] pdurbin commented on #2884
I just set up builds at http://guides.dataverse.org/en/2884-install-guide-reorg/installation so we can preview the docs.

The branch being used for these builds is https://github.com/IQSS/dataverse/tree/2884-install-guide-reorg

I'll send a pull request when I think the branch is good enough for @kcondon and others to look at it.

[2016-01-26 14:34] eaquigley commented on #2170
@posixeleni, this is for password but your comment was about entering email address twice. Dataverse already has the user enter password twice during account creation.

On Jan 26, 2016, at 9:32 AM, Eleni Castro <notifications@github.com<mailto:notifications@github.com>> wrote:

@eaquigley<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_eaquigley&d=CwMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=

[2016-01-26 14:38] posixeleni commented on #2170
@eaquigley sorry i just assume since the title was email confirmation that
this would cover it. Want me to create a separate issue?

On Tue, Jan 26, 2016 at 9:34 AM, Elizabeth Quigley <notifications@github.com

--

Eleni Castro
Research Coordinator, Data Curation and Outreach
IQSS, Harvard University
617-496-0703
http://www.iq.harvard.edu/people/eleni-castro
http://orcid.org/0000-0001-9767-8536

~

[2016-01-26 14:40] eaquigley commented on #2170
@posixeleni oh I'm sorry, I wasn't clear, the images you added to the ticket showed password being entered twice examples

On Jan 26, 2016, at 9:38 AM, Eleni Castro <notifications@github.com<mailto:notifications@github.com>> wrote:

@eaquigley sorry i just assume since the title was email confirmation that
this would cover it. Want me to create a separate issue?

On Tue, Jan 26, 2016 at 9:34 AM, E

[2016-01-26 14:42] posixeleni commented on #2170
@eaquigley images are correct for email being entered twice but I had a typo in my explanatory text. Fixed this.

[2016-01-26 14:48] eaquigley commented on #2170
Oooohhhh!!! Thanks @posixeleni!

(This is why I shouldn't try to read issues on the T 🙃)

On Jan 26, 2016, at 9:43 AM, Eleni Castro <notifications@github.com<mailto:notifications@github.com>> wrote:

@eaquigley<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_eaquigley&d=CwMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=Y9aY3P6kFFpmMLaYYO_id08dS3gL1xWMQuI2CZ74PoI&m=C5VdrQKQM-HQXPAevFmdC95ddOsbIhfPs

[2016-01-26 14:52] pdurbin commented on #2212
All the links above are 404s. The builds are gone, the branch is gone. If this update got off the ground I'm not aware of it.

@eaquigley can you please weigh in on this issue, especially with regard to the User Guide?

For the Installation Guide portion, I'm not planning on touching how http://guides.dataverse.org/en/4.2.3/installation/r-rapache-tworavens.html looks as part of the reorg for #2884

[2016-01-26 15:02] pdurbin commented on #2280
@eaquigley yeah, Iet's leave it unassigned, I guess, until there is a VMWare image to link to.

@4tikhonov any plans to post the image you created on Dropbox or similar? If so, a readme with contact information on how to reach you would be appreciated since would be a community-supported effort. Creating and supporting VMWare images is not something the Dataverse team at @IQSS can do at this time.