[2015-05-11 19:55] pdurbin commented on #2086
@scolapasta I'm going to assign this to you as a reminder to review the commit I mentioned in https://github.com/IQSS/dataverse/issues/2086#issuecomment-95984798

Since that fix requires a change to the Solr schema.xml as well as reindexing, we'll be partially addressing the "making Solr debug fields searchable" issue (#2038) so we may want to make a decision on the list of candidates in that issu

[2015-05-11 20:01] posixeleni commented on #1229
@eaquigley @scolapasta I am copying over Templates from 3.6 to 4.0 right now and am unable to copy over template text from Terms of Use metadata

![image](https://cloud.githubusercontent.com/assets/5013837/7573831/aae99312-f7f6-11e4-9416-8a6ab20ed000.png)

I am making a note of all the templates that i need to go back in and add this once its supported in 4.0

[2015-05-11 20:33] mheppler commented on #561
- [ ] Change "Dataverse Project" navbar header and link to read "Dataverse Guides {VersionNumber}" (version number in smaller font) and link to "{DataverseInstalltion}/guides/index.html"

[2015-05-11 21:00] scolapasta opened #2149 "Add file upload limiter"
Add to the settings, if no setting, then lo limit.

Make sure it is used my primefaces upload, the API, and the dropbox upload.

[2015-05-11 21:56] scolapasta commented on #1750
@mheppler, didn't we already have a solution for this in 3.6? Why can't we use that?

[2015-05-12 06:42] chaudj opened #2150 "Data - File Structure"
In the previous versions of Dataverse, we have always had a file structure that groups similar data sets together. Any chance of having the same in 4.0. Something like this:
![dataverse](https://cloud.githubusercontent.com/assets/3154601/7580825/5e88e052-f884-11e4-8402-50e3a47bbf31.PNG)

[2015-05-12 11:16] pdurbin commented on #2021
@chaudj has attached a screenshot of how files were groups in DVN 3.6: #2150

[2015-05-12 11:23] pdurbin commented on #2149
@raprasad please note that the API already uses `DataDepositApiMaxUploadInBytes` per #1043 so please update the code and docs to use instead whatever new common (shared between the GUI and API) `setting` table key you come up with.

Here's how you'd test afterwards: http://guides.dataverse.org/en/latest/api/sword.html#add-files-to-a-dataset-with-a-zip-file

[2015-05-12 12:51] pdurbin opened #2151 "Upgrade from Java 7 to Java 8"
According to [Oracle Java SE Support Roadmap](http://www.oracle.com/technetwork/java/javase/downloads/eol-135779.html) "after April 2015, Oracle will no longer post updates of Java SE 7 to its public download sites... Developers and end-users are encouraged to update to more recent Java SE versions that remain available for public download."

In short, we should upgrade to Java 8. Developers first

[2015-05-12 13:10] pdurbin commented on #2100
I've been [told](http://javabot.evanchooly.com/logs/%23glassfish/2015-05-12) that this version has better audio: https://www.youtube.com/watch?v=RIl8Fekqtwk

@smillidge thanks for the offer! Great presentation!

[2015-05-12 14:26] raprasad opened #2152 "dropbox upload button gives an error"
Only tested with my personal dv account:

Error message:
[code]

Url of pop-up box:
[code]

![mozilla_firefox_and_new_haven_crime_data__2007_-_new_haven_independent_dataverse](https://cloud.githubusercontent.com/assets/1036060/7589480/eb5b6110-f890-11e4-8a7f-0ab4d952f86f.png)

[2015-05-12 14:49] mcrosas commented on #2150
Thanks for submitting this issue, we've heard this from other users. We are thinking of a different solution for 4.0, providing at the top of the files table options to filter and sort by the categories/tags. Assigned to @eaquigley who can follow up on details.

[2015-05-12 14:50] mcrosas commented on #2150
As we finish the design, this will be a candidate for 4.0.2.

[2015-05-12 15:39] raprasad commented on #2149
- [ ] rename ```DataDepositApiMaxUploadInBytes``` to ```DataDeposiMaxUploadInBytes```
- [ ] dropbox: use in DatasetPage.java ```handleDropBoxUpload```
- [ ] UI:  sizeLimit="500000" invalidSizeMessage="File exceeds our limits. Please contact support."

[2015-05-12 17:45] dliburd commented on #1311
This may be related to this existing issue. I’m getting a “Dataset Save Failed” error when attempting to add data to a study with preexisting data files.

Error Message:
Dataset Save Failed  - edu.harvard.iq.dataverse.engine.command.exception.IllegalCommandException: Validation failed: Subject is required.

Also the preexisting files are labeled with this message:
A file with this MD5 already exis

[2015-05-12 17:48] scolapasta opened #2153 "Update Guide references in code"
So we want all guides to go to dataverse.org. (but configurable for an installation if they want to modify them for themselves).

So we'll want a setting for the general root: http://guides.dataverse.org/
and then the code would use this and add the rest of the URL (i.e.user/index.html while also getting the version dynamically)

[2015-05-12 17:59] eaquigley opened #2154 "Navigation + Bundle: Guides Links for Navbar, Bundle, etc."
About
Guides with dropdown for User Guide, API Guide, Installation Guide, Developers Guide (talk to @pdurbin  about this please)
Support (pop up form)
Sign Up
Log In

[2015-05-12 18:06] mcrosas commented on #2154
Related to: https://github.com/IQSS/dataverse/issues/2153

[2015-05-12 18:12] hamogu commented on #2074
I opened a helpdesk ticket today, because I could not find a link to my published dataverses. At first, I thought I had lost the contact to my dataverses during the most recent update.
Instead, I was referred to this thread.
So, :+1: that the account page definitely needs some kind of link to my published dataverses / datasets.

[2015-05-12 18:31] eaquigley commented on #2073
This needs to be designed during 4.0.2 to be developed during 4.0.3.

[2015-05-12 18:35] eaquigley commented on #2073
Things to think about:
- When a user moves a dataset into a dataverse, if that dataverse doesn't have the metadata domains the dataset uses, the user needs to be told to go to the dataverse and enable the metadata domains needed for the dataset.

[2015-05-12 18:48] eaquigley opened #2155 "Featured Dataverses: Review this functionality"
Reconsider Featured Dataverses so they could also be used to show the hierarchy of the dataverse.

cc @mcrosas

[2015-05-12 18:59] sbarbosadataverse opened #2156 "Search: characters in (dataset names) return zero results"
Example:
 4.0 search doesn't like the "%" in this search:

População Estrangeira na Europa e no Mundo Nôvo (%) - 1870 - 2001

When I remove the "%", it has no problem searching....

[2015-05-12 19:24] sekmiller commented on #2132
Tried being logged in as different users - that didn't force multiple drafts.
Also tried saving in one window while a ingest was occurring in the original window.  - that didn't do it either. Previously tried editing same and differing sections (metadata, files, terms.) - that didn't yield multiple versions.

[2015-05-12 19:32] sbarbosadataverse opened #2157 "Delete files: in File---> edit, can't see track record of when a file was uploaded to determine which version to delete"
In a case where a user has uploaded new versions of files and they want to go back and delete

![ix45msfwcjny0hnj1wqilnjsxfqndmwree9dy8enocw](https://cloud.githubusercontent.com/assets/8322346/7596478/efb38c30-f8bb-11e4-826c-ec1971db5901.png)

[2015-05-12 19:40] raprasad commented on #2152
thanks for looking at this @landreev

[2015-05-12 20:13] landreev commented on #2152
Is working now.

[2015-05-12 21:33] eaquigley commented on #2074
Functional Requirements Document for this feature: https://docs.google.com/document/d/1xv_IKS1hWYUzX3GZOjHqGQ3BUBI7QH_2FekP90cexNA/edit?usp=sharing

[2015-05-12 21:33] eaquigley commented on #2081
Functional Requirements Document for this feature: https://docs.google.com/document/d/1xv_IKS1hWYUzX3GZOjHqGQ3BUBI7QH_2FekP90cexNA/edit?usp=sharing

[2015-05-12 21:34] eaquigley commented on #2150
Functional Requirements Document for this feature: https://docs.google.com/document/d/1RkPycxX3nsCJJV9xbhc2mXvgwxJTkyDCsb_k2LGWrII/edit?usp=sharing

[2015-05-12 21:34] eaquigley commented on #2021
Functional Requirements Document for this feature: https://docs.google.com/document/d/1RkPycxX3nsCJJV9xbhc2mXvgwxJTkyDCsb_k2LGWrII/edit?usp=sharing

[2015-05-12 21:35] eaquigley commented on #1840
Functional Requirements Document for Linked Search: https://docs.google.com/document/d/1dmxs4XIQkrn9QfP4Ih4wIbyARUyWFJflJk3y4W3nzXk/edit?usp=sharing

[2015-05-12 21:35] eaquigley commented on #1813
Functional Requirements Document for Linked Search: https://docs.google.com/document/d/1dmxs4XIQkrn9QfP4Ih4wIbyARUyWFJflJk3y4W3nzXk/edit?usp=sharing

[2015-05-12 23:37] pdurbin commented on #2073
We used to have a "move dataverse" command but it was problematic and #283 is still open. The challenges listed in the Google doc mentioned in that issue still apply: [Implications of moving dataverses and datasets](https://docs.google.com/document/d/1W8AXMtFJ32XCILCe1PX2BTIER6hxGiOLZMLhbFPQe7A/edit?usp=sharing).

It sounds like in production we've moved a few things manually. I'd be interested in

[2015-05-12 23:46] pdurbin commented on #2154
The main thing to know about linking to the Developers' Guide is that (unlike the other guides) we always want to link to the **latest version**: http://guides.dataverse.org/en/latest/developers

For the other guides, we want to link to **the version that is currently installed** (that the user is actively using) such as http://guides.dataverse.org/en/4.0/user (or 4.0.1 or 4.3, etc.).

[2015-05-13 13:34] posixeleni commented on #2143
For Journals I would recommend that we use the Journal Metadata (NISO JATS Schema) that I put together which stores the Journal Volume, Issue and Year as a compound field https://docs.google.com/spreadsheets/d/13HP-jI_cwLDHBetn9UKTREPJ_F4iHdAvhjmlvmYdSSw/edit#gid=8

So we could potentially, like topic classification show this information hierarchically.

[2015-05-13 16:44] eaquigley opened #2158 "Getting Started: Remove from Guides"
Need to remove the getting started portion of the guides.

[2015-05-13 17:04] posixeleni commented on #2146
@garthg Good question. Unfortunately, at the moment, without trying to hack your metadata (add Massachusetts Archives as an author which isnt good metadata practice) there isnt much that can be done.  I am submitting this ticket as a "Suggestion" to our Dataverse Development team to review.

[2015-05-13 17:09] sbarbosadataverse opened #2159 "Versioning: "destroy version" option for superusers"
Gustavo asked me to create this ticket based on recent user interaction.

[2015-05-13 17:31] sbarbosadataverse opened #2160 "Metadata Topic Classification as Facets: where we display these two fields as concatenated so we would show the Term and the Vocabulary in parentheses. Ex. 1 (Generations)"
Eleni spoke with Phil about this and explained to him that this is expected UI behavior since we are just showing the Topic Classification Term field and not also showing the Topic Classification Vocabulary field right next to it which provides some context as to what the "1" means.

One solution would be to have this show like it did in 3,6 where we display these two fields as concatenated so we

[2015-05-13 17:50] eaquigley opened #2161 "Harvested Data: When going to a harvested dataset, should open in a new tab"
When a user goes to a harvested dataset, the link is opening in the same window, this should open in a new tab so their search on Dataverse hasn't been lost.

[2015-05-13 18:20] raprasad commented on #2149
If MaxFileUploadSizeInBytes is found in the settings table, use that number.  If not, default to unlimited upload size.

Moving to QA

[2015-05-13 18:20] eaquigley opened #2162 "Dataverse Metadata Fields: Have Link to Metadata Appendix"
In the General Information of a dataverse, within the Metadata Fields area, have a link to the Metadata Appendix section so users can easily learn which schemas are being used for each domain.

Link should open the Metadata Appendix in a new tab.

[2015-05-13 19:37] scolapasta commented on #1913
Switched e-mail to dataverse@mailinator.com

[2015-05-13 19:37] sekmiller commented on #2083
@posixeleni do we need to update the "display order" so that the entries are alphabetical?

[2015-05-13 20:15] mheppler commented on #561
With the changes to how the User Guides are hosted and linked, this fix to the navbar is no longer required, per @mcrosas @scolapasta @eaquigley . Closing.

[2015-05-13 20:15] #561 closed

[2015-05-13 20:18] posixeleni commented on #2083
@eaquigley @sekmiller I am re-assigning this to me since this metadata has yet to be added to the biomedical.tsv file.

Also this wont be ready for 4.0.1 since I am waiting to hear from @scolapasta if there will be update scripts available after 4.0.1 so that I can actually push this change to the metadata.

[2015-05-13 20:22] posixeleni commented on #2158
Removed this from the Guides and also removed it as a link in dataverse.org. Closing ticket.

[2015-05-13 20:22] #2158 closed

[2015-05-13 20:39] pdurbin commented on #1352
@raprasad fixed a lot of these in 906aefbf8363d4cba6d56f62d9b00304ee01d065 ... thanks!

[2015-05-13 21:09] mheppler commented on #1830
Fixed broken image URLs for footer and favicon in User Guides. Updated copyright year.

[2015-05-13 22:07] pdurbin commented on #912
I spent probably 10 hours on http://guides.dataverse.org/en/latest/developers and I'm happy enough with the content and how it looks. Good enough to tag 4.0 I think.

In particular, I attempted to address the desires of people who responded to this thread I started on the community list: [What would you like to see in the Dataverse Developers Guide?](https://groups.google.com/forum/#!topic/dataver

[2015-05-13 23:18] terriko opened #2163 "Previous/Next navigation links in dev guide"
It would be great if there were previous/next links in the dev guide to make things easier for folk who want to read through from start to finish (or finish to start, I guess?)

[2015-05-13 23:23] pdurbin commented on #2163
@terriko and I have been [talking](http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-05-12) [about](http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-05-12) the dev guide which I've been working on in #912 and I prompted her to create this issue. I imagine this would be helpful to have in all guides but I'm not sure.

I haven't even looked but I assume Sphinx supports it. /cc

[2015-05-14 07:43] chaudj opened #2164 "Creating Dataset templates"
Tried creating different  data set templates but it wont give any option to add and remove any meta- data fields.

[2015-05-14 11:55] pdurbin opened #2165 "Installer: factor out hard-coded references to dataverse-4.0.war"
As @akio-sone pointed out on Monday, the string `dataverse-4.0.war` appears in several places in our code base.

Once we increment the version in `pom.xml` to "4.0.1" per http://guides.dataverse.org/en/latest/developers/making-releases.html we'll need to make sure these scripts still work:

[code]

[2015-05-14 12:50] pdurbin commented on #2117
Please see the long commit message in cfb5426 in which I reverted the 8181 experiment. It's non-standard and untested and doesn't belong in code that's about to be tagged as "4.0".

Shibboleth works fine when you run mod_shib on the standard port (443) but we currently have a constraint that we can't do this for https://dataverse.harvard.edu . I started a new Google doc about this constraint and o

[2015-05-14 13:40] pdurbin commented on #1352
I believe all the old `s/setting` examples have now been changed to `admin/setting` and reflect that data must be sent with `PUT -d $VALUE`.

This is a good suggestion but my focus was on removing examples that don't work before we tag 4.0. Passing to QA.

[2015-05-14 13:50] posixeleni commented on #2164
@chaudj you can hide, make required or set as optional metadata fields but this is now done at the Dataverse-level. To view this feature go to your Dataverse and click on the Edit button and select "General Information" in the dropdown. Once in General Information scroll down to the metadata options and unselect the pre-selected checkbox "Use metadata fields from Harvard Dataverse" then you will s

[2015-05-14 14:01] pdurbin commented on #2147
Moving to QA but please check in with me or @scolapasta before testing.

[2015-05-14 14:20] sbarbosadataverse commented on #2024
@raprasad
@scolapasta

someone just reported a geoconnect error today--does this look like the same error or
Should I create a new ticket?

![image001](https://cloud.githubusercontent.com/assets/8322346/7633547/bd65958a-fa22-11e4-9567-21b57c2be079.jpg)

[2015-05-14 15:12] mheppler commented on #2154
Revamped navbar with new links for each of the guides, including dynamic version number in the URL where needed.

In addition to pointing the Developers Guide link to "latest", I am also pointing the Installation Guide to "latest" as well.

Also found a number of instances across the application, where links to the guides have absolute paths to the "latest" version, and should be dynamic (in the a

[2015-05-14 15:25] raprasad opened #2166 "shapefile upload not working on prod"
The files are never properly ingested.

Example of log:
[code]

(This works on dvn-build)

[code]
\cc @landreev, @scolapasta

[2015-05-14 15:34] posixeleni commented on #2154
I can look at the dataset page you mention below to make sure they all have relative links on there.

From: Michael Heppler <notifications@github.com<mailto:notifications@github.com>>
Reply-To: IQSS/dataverse <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thu, 14 May 2015 08:12:37 -0700
To: IQSS/dataverse <dataverse@noreply.github.com<mailto:dataverse@noreply.github.com>>
Subject: R

[2015-05-14 15:52] sbarbosadataverse opened #2167 "Linked Search: Creating linked searches fails in production with blank popup due to timeout. Works on smaller db's like demo."
This started yesterday for me. Today, linking a single dataset search took about 20 minutes, then the screen stops processing, remains on the link search dialogue box, without a success message, but the dataset does link.

[2015-05-14 15:53] pdurbin commented on #2153
In 6bc409f I just pushed the ability to change the base URL for guides from http://guides.dataverse.org and documented it here: http://guides.dataverse.org/en/latest/installation/installation-main.html#guidesbaseurl

[2015-05-14 15:56] mcrosas commented on #2143
:+1:

[2015-05-14 16:03] garthg commented on #1837
Hi,

This is a blocker issue for my project, because without the ids I can't perform metadata updates, and I can't get the ids because the get_contents() call takes too long to complete. I will give a try on some of the workarounds described here, so thank you to folks who posted those!

One possible suggestion for a simple solution here would be to URL-escape the DOIs and then use them in the RES

[2015-05-14 16:43] sbarbosadataverse opened #2168 "Server error when accessing notifications"
Internal Server Error - An unexpected error was encountered, no more information is available.

I have a movie file of the steps to reproduce,  but can't attach that to github-not supported.

[2015-05-14 17:37] raprasad opened #2169 "SWORD upload limit, change from int to long"
Currently the SWORD library returns a Java `int` for `getMaxUploadSize`

  see: https://github.com/IQSS/dataverse/blob/master/src/main/java/edu/harvard/iq/dataverse/api/datadeposit/SwordConfigurationImpl.java#L126

Change from an `int` to a `long``to accommodate 10gb files*.
Or anything beyond Java's``Integer.MAX_SIZE` of 2,147,483,647
- [ ] contact sword team
- [ ] potentially change upstream cod

[2015-05-14 17:57] sbarbosadataverse commented on #2168
![error](https://cloud.githubusercontent.com/assets/8322346/7638207/2a1087a8-fa41-11e4-9ebd-2ec6bddaafbd.gif)

[2015-05-14 18:01] pdurbin commented on #2169
From looking at the DVN 3.x code at https://github.com/IQSS/dvn/blob/97fc08b8d9364ddcacd24045483086d4ed7610d6/DVN-root/DVN-web/src/main/java/edu/harvard/iq/dvn/api/datadeposit/SwordConfigurationImpl.java#L96 it looks we put in equivalent behavior in DVN 3.x.

We would try `Integer.parseInt(maxUploadInBytes)` and catch `NumberFormatException` and return unlimited and log the following:

logger.fine

[2015-05-14 18:15] pdurbin opened #2170 "Confirm email address on signup and change"
Most sites confirm your email address on signup and Dataverse should do the same: https://support.twitter.com/articles/97942-confirming-your-email-address

In a [2015-04-30 Dataverse User Accounts and Auth Meeting](https://docs.google.com/document/d/157sw9gaFGwrb0EtCGGlLMxSg0cooHfKEvIsjcebPcA8/edit?usp=sharing) @mcrosas and I talked about where email addresses come from (institution vs. user-suppl

[2015-05-14 18:59] posixeleni commented on #1766
I now have access to the templates in 3.6 and am recreating them in 4.0

[2015-05-14 19:33] scolapasta commented on #2063
The issue had to do with datasets that got reregistered doi's. This has been handled with symblic links, but requires a little bit of cleanup (remove those links and make the file permanent) and generate a report  of dataset that this happened to.

Moving to post curation for this.

[2015-05-14 20:03] eaquigley commented on #1489
Passing to @posixeleni to QA for me.

[2015-05-14 20:07] eaquigley opened #2171 "Logging In: Incorrect Password Breaks Page"
I’ve reset my password multiple times because when I go to log in and use one of my two possible passwords, I get the error message then when I do my other possible password I am getting the error message again. I’ve now tested this on dvn-build with using the wrong password then doing the correct password and I am getting the same behavior.

This is leading me to come to the conclusion that the l

[2015-05-14 20:12] sekmiller commented on #2089
Successfully registered all DOI by hand via the EZID Admin interface.
http://dx.doi.org/10.7910/DVN/28028
http://dx.doi.org/10.7910/DVN/27669
http://dx.doi.org/10.7910/DVN/28447
 http://dx.doi.org/10.7910/DVN/FZNFL

[2015-05-14 20:14] landreev commented on #2166
The fact that it's different on the prod and other boxes is strange.
The unpack directory /opt/dvn/data/IQSS/DVN/data/temp/shp_2015-05-14-11-21-15-651 does exist, and is empty.

Do you see the "unable to delete" message on our test boxes, where the ingest is working?

In your code, would it generate a fatal condition, if you can't delete it? (it probably shouldn't - yes?)

The difference between p

[2015-05-14 20:37] eaquigley commented on #1813
Moving back to In Review. We've discussed this and it is a nice to have feature that will take some more time to figure out how to make it work. Would probably be best to do this once we have the ability to move dataverses and datasets implemented.

[2015-05-14 20:54] scolapasta commented on #2089
Verified the doi links go to 4.0 production.

[2015-05-14 20:54] #2089 closed

[2015-05-14 21:08] mheppler commented on #2154
Changed links in guides to be relative, instead of absolute, to allow for dynamic versions and roots.

[2015-05-14 21:27] sekmiller opened #2172 "Bundle Error - Text for Dataset Version Differences metadata "removed" was set to "file""
In the summary of Dataset Version Differences the notation for removed items was set to "file"

[2015-05-14 21:46] sekmiller commented on #2172
One line change in the Bundle checked in 5/14 5:45

[2015-05-14 22:05] landreev opened #2173 "Finalize the resolution of the issues caused by changed DOIs post-migration."
A few datasets changed their DOIs the first week after the migration, seemingly spontaneously.
This was caused by the fact that the global id registration time stamp was left blank by the migration process.

Recent correspondence:

From Gustavo:

We need to reviw these. I discussed with Merce and she is fine with using the new DOIs for these dataset, but we need to get a list of all the ones that

[2015-05-14 22:15] landreev commented on #2173
The final list of the DOIs affected by this issue is below.
No new datasets have been affected by this since the links were put in place. (I must have created them after Raman re-registered the old DOIs, or most of them).
Note that there are 27 DOIs on the final list, while the last time I reported on this there were 29.
The following 2 datasets have been deleted since then:

DB_ID     DOI_OLD

[2015-05-14 22:24] landreev commented on #2173
The symbolic links have been removed.
The files now live in directories matching their current global identifiers, like all the other files in production.

[2015-05-14 22:31] landreev commented on #2173
@scolapasta
Gustavo, what else do I need to do for this?
From what Steve said, it does sound like the old DOIs are still reserved (but not resolving).
Whether we decide to un-register them or not, we should probably wait until we confirm with the owners. (We are still doing that, correct?)

[2015-05-14 22:35] landreev commented on #2063
We are going to close this issue, since there shouldn't be any download issues with the files in this dataset at this point.
I have created a new ticket #2173 for finalizing the resolution of this issue for all the datasets involved.

[2015-05-14 23:00] mheppler commented on #2154
Passing to @sekmiller to look into the MailServiceBean.java and DataversePage.java uses of the bundle, and how to make the messages delivered from the bundle contain the dynamic version number `#{dataverseServiceBean.applicationVersion}` and root `#{systemConfig.guidesBaseUrl}`.

[2015-05-15 13:10] #2063 closed

[2015-05-15 13:41] posixeleni commented on #1489
now displaying as expected in http://guides.dataverse.org/en/latest/api/index.html

closing.

[2015-05-15 13:41] #1489 closed

[2015-05-15 13:53] pdurbin commented on #1489
@posixeleni I'm a little troubled that my concerns at https://github.com/IQSS/dataverse/issues/1489#issuecomment-91090017 were not addressed at all. :(

[2015-05-15 14:01] posixeleni commented on #1489
@pdurbin I'm going to create a new ticket related to your concern so that we can track it separately from this ticket which needed to be completed asap. Unfortunately I dont have an answer for you but if you have a proposal for how you want the Native API documentation to look like I would strongly recommend you put something together!

[2015-05-15 14:02] posixeleni opened #2174 "Review Native API Documentation"
From @pdurbin https://github.com/IQSS/dataverse/issues/1489#issuecomment-91090017

[2015-05-15 14:04] pdurbin commented on #1489
@posixeleni perfect! Thanks for creating #2174! We'll sort this out in a future version of the API docs. :)

[2015-05-15 14:18] raprasad commented on #2166
If above fix doesn't work, potential next step.  Also remove this line from ```ShapefileHandler.java``:
  ```FileUtils.deleteDirectory(dir_for_unzipping);```

[2015-05-15 14:56] raprasad commented on #2166
Example of temp directories no longer deleted right after call:

[code]

[2015-05-15 14:57] raprasad commented on #2166
Fix should allow upload of shapefile zips -- and resulting file list not having 'unknown' / 0k files

[2015-05-15 16:01] mheppler opened #2175 "Dataverse - "Save Search" Feature"
Use Case 1:  A user has done a search and wants to be able to return to that search.

Rather than adding the results of a search to one's dataverse (see, ["Link Search"](https://docs.google.com/document/d/1dmxs4XIQkrn9QfP4Ih4wIbyARUyWFJflJk3y4W3nzXk/edit)), this feature would allow a user to run a search (on a term, or facets, or multiple Advanced Search terms), then save those search parameters t

[2015-05-15 16:28] pdurbin commented on #2175
This feature suggestion reminds me of a nice "saved search" feature Twitter has: https://support.twitter.com/articles/96646-saving-searches

[2015-05-15 18:31] posixeleni commented on #2083
@sekmiller the updated biomedical.tsv is now here https://www.dropbox.com/s/5l6970xoh5vsw3e/biomedical.tsv?dl=0 but I am holding off commiting it to GitHub until you have the update script ready

https://docs.google.com/spreadsheets/d/1GvP-Nxc6UUMrWLSPBPPcvm3oP3iecb_FsyKsyiObrFc/edit?usp=sharing

[2015-05-15 20:38] pdurbin commented on #2154
I explained e81a7aa to @scolapasta before committing and there's still more to do but it's a good start. Next steps:

- [ ]  convert `notification.email.createDataverse` and `notification.email.createDataset` to use new BundleUtil methods (`dataverse.create.success` was converted in that commit)
- [ ] add variations of getGuidesBaseUrl that include the version (and perhaps make choice of language

[2015-05-15 21:02] landreev commented on #2022
This has been done back in April.

[2015-05-15 21:15] landreev commented on #1640
Downloaded filename should now have "-subset" in it.

[2015-05-15 21:23] landreev commented on #1038
I didn't realize how old this ticket was - thought it was something newly discovered.
Probably a duplicate. Kevin, please re-test and close.

[2015-05-16 10:56] pdurbin commented on #1891
In addition to the first pass of corrections I made in 67fd763 I reviewed the SWORD docs fairly thoroughly as part of #1077. I think they're good enough to tag as 4.0. Moving to QA.

[2015-05-16 10:58] pdurbin commented on #1891
Oh, ready except for #1553 which is a separate ticket.

[2015-05-16 11:04] pdurbin commented on #1138
I'm stealing this from @landreev because yesterday he, @scolapasta and I agreed I would document Shibboleth as an experimental feature since we had to remove it from https://dataverse.harvard.edu for reasons detailed in #2117.

I'll improving what's already at http://guides.dataverse.org/en/latest/installation and perhaps deleting https://github.com/IQSS/dataverse/blob/master/doc/shib/shib.md

[2015-05-17 22:38] michbarsinai commented on #2102
Supposed fix is pushed to a new branch for validation (https://github.com/IQSS/dataverse/tree/4.0.1-issue2102)

[2015-05-17 22:39] michbarsinai commented on #2102
Over to @scolapasta for validation

[2015-05-18 13:28] pdurbin opened #2176 "Obviate need for dv_rebind_bootstrap_ui.js"
https://github.com/IQSS/dataverse/blob/master/src/main/webapp/resources/js/dv_rebind_bootstrap_ui.js is a code smell. It was refactored into its own file in #527 which is great but why do we need to rebind Bootstrap in the first place? Let's see if we can obviate the need for this.

Some avenues to pursue:
- BootFaces (by @TheCoder4eu): "BootsFaces plays nicely with PrimeFaces" according to http:/

[2015-05-18 13:48] posixeleni opened #2177 "Set Required, Hidden & Optional Metadata Fields At the Template Level"
While setting up templates in 4.0 I discovered that some Dataverses (migrated from 3.6) have multiple templates, and in 3.6 the required, hidden and optional fields were set at the template level not the Dataverse-level.

However, in 4.0 you can only setup ONE set of required, hidden and optional metadata fields per Dataverse even if they have multiple templates. This makes it impossible for me to

[2015-05-18 15:40] sbarbosadataverse opened #2178 "Permissions->assign role: error message saying role not updated, but user appears on list as successfully"
I've seen this error message once last week:

 The role was not able to be assigned.  Please contact support.

User appears to be successfully added.

[2015-05-18 15:46] pdurbin commented on #912
@abidart as we discussed in our weekly meeting, please give us feedback on http://guides.dataverse.org/en/latest/developers

Here's the source, by the way: https://github.com/IQSS/dataverse/tree/master/doc/sphinx-guides/source/developers

[2015-05-18 17:37] TheCoder4eu commented on #2176
Hi Philip,
I'm the BootsFaces original Author, thanks for mentioning.
Nice project! I'll have look at it ASAP.
Please let me know if you need help with the Framework in case you decide to use it in your project!

[2015-05-18 18:35] sbarbosadataverse commented on #1977
@landreev
Hi Leonid, Just checking on the last bit of work left to do on this ticket:  Left to do: CfA handles with different prefix

Thanks

[2015-05-18 18:41] raprasad opened #2179 "Update migration script to remove "null" string from notes"
Related: #2075

[2015-05-18 19:09] stephanrauh commented on #2176
Hi Philip,

more to the point, we went into great lengths to ensure the BootsFaces is compatible to PrimeFaces. If there's any issue, don't hesitate to report it. But I'm sure there nothing to report ;).

BTW, thanks for mentioning AngularTetris. You made my day! Still laughing :)

Regards,
Stephan

[2015-05-18 19:58] posixeleni commented on #1964
Updating this ticket is dependent on #2083 being completed by development since we need update scripts to be able to change metadata now that 4.0 is released.

[2015-05-18 20:45] pdurbin opened #2180 "Address known issues with running Glassfish behind an Apache proxy"
Java web applications are commonly run behind a proxy such as [Apache](http://www.payara.co.uk/creating_a_simple_cluster_with_glassfish) or [nginx](http://doginpool.blogspot.com/2013/10/glassfish-4-behind-nginx-proxy.html) but we've experienced difficulty running Dataverse 4.0 behind Apache in production at https://dataverse.harvard.edu

In this issue we will first enumerate the [challenges we fac

[2015-05-19 08:22] bencomp commented on #813
I just realised this issue is not about providing an OAI-PMH endpoint for dataset metadata. Or is it? Should another issue be opened for it?

[2015-05-19 08:52] bencomp commented on #1489
It seems there is no Dataset Metadata API at http://guides.dataverse.org/en/latest/api/index.html. Am I missing something?

[2015-05-19 09:04] bencomp commented on #2162
May I suggest to rename the metadata blocks/schemas to something that explains their domain? I do support links to more information about each schema and field, but it would make the software more generic if using e.g. "School curriculum metadata" instead of "Graduate School of Design metadata".

[2015-05-19 09:09] bencomp commented on #2148
As long as someone is adding this to the Jenkins job, could they also add `make epub`?

[2015-05-19 13:37] posixeleni commented on #2162
@bencomp: apologies for the confusion we have some metadata blocks (such as the Graduate School of Design) that were created to support custom use cases we use to support in 3.6 (custom fields) and these should not be showing up for other installations or for the root level Dataverse. We have a ticket here to hide those custom non-standard metadata blocks and only show them for the specific Datave

[2015-05-19 13:38] posixeleni commented on #2077
@scolapasta when can we work on this ticket together?

[2015-05-19 13:40] pdurbin commented on #1489
@bencomp since this ticket is in QA can we please discuss this further in #2174?

[2015-05-19 13:59] posixeleni commented on #2107
We have another use case where a user has hierarchical file structuring in the zip file which will be flattened when the zip file is unpacked so they want to preserve this.

So how about another workaround which is similar to what we do for STATA and SPSS files that we just store the original zip version of the file but also unpack it (so the user doesnt even have to think and it happens automatic

[2015-05-19 14:32] mcrosas commented on #813
@bencomp yes, supporting harvesting includes supporting OAI-PMH for dataset metadata.

[2015-05-19 15:28] raprasad commented on #2179
In ImportServiceBean.java, update processNotes

[2015-05-19 15:29] raprasad commented on #2179
moved to QA

[2015-05-19 15:36] raprasad commented on #1857
- [ ] restrict/delete buttons can be rebound via ```dv_rebind_bootstrap_ui.js```
- [ ] primefaces checkboxes broken, look at how to rebind

[2015-05-19 16:41] sbarbosadataverse opened #2181 "Publishing: sub-sub dataverses no prompt to publish "all.""
When publishing a sub sub dataverse within an unpublished sub-dataverse and unpublished parent dataverse, you are not prompted to published the entire Dataverse tree.

[2015-05-19 20:36] #2136 closed

[2015-05-19 20:58] pdurbin commented on #1138
@kcondon as we've discussed I've documented Shibboleth at http://guides.dataverse.org/en/latest/installation/shibboleth.html and you are welcome to test on https://shibtest.dataverse.org or any other host.

Heads up to @bencomp and @akio-sone that this new page on Shibboleth is now available. Feedback is welcome!

Passing to QA.

[2015-05-19 21:05] raprasad commented on #1857
Broken checkbox issue appears to be caused  by ```java.nio.BufferUnderflowException```

This happens for 1k files (and possibly bigger) whether they are uploaded via dropbox for the regular file upload widget.

Culprit is uncaught exception related to  ```detectTabularDataFormat```

[code]

[2015-05-19 21:18] pdurbin commented on #2154
Done. Passing to QA. Code clean up deferred.

[2015-05-19 21:30] pdurbin commented on #2153
Passing to QA.

[2015-05-19 21:32] raprasad opened #2183 "Worldmap - some type of check if service is 504, etc"
WorldMap service is frequently down or times out:
- [ ] Provide functional test that can be called by nagios
  e.g. url on WorldMap that shows server availability
- [ ] Use functional test (or similar) to provide user-friendly message

(@scolapasta for evaluation of priority)
/cc @kcondon

[2015-05-19 21:33] kcondon commented on #2166
Tested on build, will retest in prod.

[2015-05-19 21:57] kcondon commented on #2172
OK, wording better, closing.

[2015-05-19 21:57] #2172 closed

[2015-05-19 21:58] kcondon commented on #2183
Also add server logging when it fails as a record.

[2015-05-19 22:08] pdurbin commented on #2148
Today @cchoirat mentioned that epub versions should be possible.

[2015-05-19 22:09] pdurbin commented on #1077
@posixeleni and @scolapasta should we move this to QA? We'd like to tag 4.0 soon.

[2015-05-19 22:11] kcondon commented on #2152
Works, closing.

[2015-05-19 22:11] #2152 closed

[2015-05-19 22:23] kcondon commented on #2154
@mheppler @pdurbin @scolapasta Do we want to point to the latest installation guide? I think we want the latest *released* installation guide, no?

[2015-05-19 22:27] pdurbin commented on #2154
The idea of this ticket is that it should point to whatever version is at https://github.com/IQSS/dataverse/blob/master/src/main/java/VersionNumber.properties (4.0 as of this writing). So http://guides.dataverse.org/en/4.0/user or whatever.

[2015-05-20 02:23] cchoirat commented on #2148
Indeed, just as @bencomp wrote: `make epub`.  It's supported out of the box.

[2015-05-20 07:49] bencomp commented on #1138
IMO It looks great, it's very readible. Let me check that Arnoud agrees. I am unsure he would agree on changing SELinux settings, although if the official docs say it has to be done…

[2015-05-20 10:51] bencomp commented on #1489
@pdurbin I think it has little to do with the native API #2174, so creating a new issue or reopening this one makes more sense to me.

[2015-05-20 15:04] posixeleni opened #2184 "Add Documentation About OpenScholar Dataverse Widgets"
In the Dataverse section of the User Guides there is a placeholder for OpenScholar but this needs to be fleshed out more.

https://dataverse.harvard.edu/guides/user/dataverse-management.html?highlight=openscholar

Passing to @eaquigley to review how this should be written.

[2015-05-20 15:45] pdurbin commented on #912
@abidart did a great job ensuring the dev guide explains enough for a new developer to get Dataverse running locally. We learned that the installer even works on Ubuntu! At least for dev (#1059 is for prod).

I just added a few finishing touches and did a build so http://guides.dataverse.org/en/latest/developers has the latest.

@kcondon if you do have time to look through the dev guide I'd apprec

[2015-05-20 16:28] raprasad commented on #1750
fix, similar to:
[code]
Update ```dataverse_template.xhtml``` and append current version from SystemConfig class

e.g. potentially applicable css
[code]

[2015-05-20 17:03] posixeleni opened #2185 "Expand Index & Search Within Files"
A user came to me today during Dataverse Office Hours with a use case we don't currently support:

They have tabular files which we index the variables for but they also want users to be able to search for all the values in the file (not just variables).

From the user:

[2015-05-20 17:07] pdurbin commented on #2185
@posixeleni would the user be able to supply us with a sample tabular file we could test with? A file that can be made public (no restrictions) would be ideal.

[2015-05-20 17:18] kcondon commented on #2149
OK, works, closing. Need to set this is prod to 10GB.

[2015-05-20 17:18] #2149 closed

[2015-05-20 17:24] sbarbosadataverse opened #2186 "linked dataverses: include a "facet" for linked dataverses so it's easier to see/find the datasets from "linked" pages"
I noticed there is no easy way in facets to find all studies associated with a linked dataset.

[2015-05-20 17:31] posixeleni commented on #2185
@pdurbin yes I am going to get them to send us one

[2015-05-20 18:06] kcondon commented on #2154
OK, links reference 4.0 except dev and install, which reference latest. Closing

[2015-05-20 18:06] #2154 closed

[2015-05-20 18:18] posixeleni commented on #2095
@sbarbosadataverse just had another user report this same issue and can replicate it

[2015-05-20 18:26] posixeleni opened #2187 "Add support for additional dcterms fields in SWORD"
Comment from @pdurbin

[2015-05-20 18:29] posixeleni commented on #2187
![image](https://cloud.githubusercontent.com/assets/5013837/7733383/a6abc718-fefc-11e4-8ec9-35263a0cc01f.png)

[2015-05-20 18:33] posixeleni commented on #1077
@pdurbin @scolapasta OK with me to send to QA. Created a new ticket to work on the items phil mentioned in https://github.com/IQSS/dataverse/issues/1077#issuecomment-96677687 and https://github.com/IQSS/dataverse/issues/1077#issuecomment-96728984

[2015-05-20 18:36] sbarbosadataverse commented on #2095
@scolapasta

[2015-05-20 18:37] kcondon commented on #1913
OK, script updated, works.

[2015-05-20 18:37] #1913 closed

[2015-05-20 18:47] pdurbin commented on #2102
@scolapasta asked me to merge this in to 4.0.1.

@michbarsinai please advise if there's anything we should look out for.

[2015-05-20 18:54] kcondon commented on #2153
Works, default is fine and setting updates guides url. Closing.

[2015-05-20 18:54] #2153 closed

[2015-05-20 19:09] pdurbin commented on #1077
Ok, I passed it to QA. Thanks for creating the new ticket (#2187) for future development, @posixeleni

[2015-05-20 19:14] kcondon commented on #2147
Phil demonstrated the before and after. Closing.

[2015-05-20 19:14] #2147 closed

[2015-05-20 19:14] pdurbin commented on #2148
Wow, `make epub` seems to work great. @bencomp and I were checking it out: http://irclog.iq.harvard.edu/dataverse/2015-05-20#i_20046

[2015-05-20 19:15] raprasad commented on #1750
CSS Update

**Before**
[code]
**After:**
[code]

[2015-05-20 19:16] pdurbin commented on #1489
@bencomp it sounds like you're going think some more about what the new issue would be: http://irclog.iq.harvard.edu/dataverse/2015-05-20#i_20044

And that you're ok with this issue going through QA for 4.0.

Again, we'll improve the API doc organization in #2174.

[2015-05-20 19:16] raprasad commented on #1750
Header Image Update

**Before**
[code]

**After**
[code]

[2015-05-20 19:18] raprasad commented on #1750
Javascript update

**Before**
[code]

**After**

[2015-05-20 19:31] raprasad commented on #1750
QA steps:
1.  View source on any Dataverse page
1.  CSS links in header
  - Check for any empty strings.
  - Click on the css file links
1.  JS links in footer
  - Check for any empty strings.
  - Click on the js file links

\cc @kcondon @mheppler @scolapasta

[2015-05-20 19:43] scolapasta commented on #2095
These issue is being caused by duplicate entries being created in the DataverseFieldTypeInputLevel table for a dataverse and datasetfield.

While we don't know the cause of that, we shouldn't allow it to happen, so we will add a unique constraint on the db aide.

[2015-05-20 20:30] mheppler commented on #1989
Added file count to the top of the Files tab on the Dataset page.

Made the "Files" vs. "File" dynamic in the bundle. Count also displays for the Upload + Edit Files workflow.

[2015-05-20 21:12] raprasad commented on #1857
Adding tests to avoid future ```java.nio.BufferUnderflowException```

[2015-05-20 21:14] mheppler commented on #1834
Fixed display issue with input validation error blocks in the Dataset Download File (Guestbook) form popup.

[2015-05-21 13:07] pdurbin commented on #2165
@scolapasta I believe this work needs to happen as part of 4.0.1 so I'm at least moving it to the candidate milestone.

[2015-05-21 14:20] kcondon opened #2188 "Install: Running make to generate install zip does not find schema.xml"
When running make to generate the installer .zip file, it complained that it could not located dvninstall/schema.xml.

I was able to add this file manually to the right location and run it but wanted to report this issue for future fix.

[2015-05-21 14:33] sekmiller commented on #2095
Constraint added to entity

[2015-05-21 14:40] sekmiller commented on #2083
Coding of datasetfield input/update updated.

To test run the update-datasetfields.sh script

[2015-05-21 14:41] sekmiller commented on #1410
Fixes will be available after next build

[2015-05-21 14:42] sekmiller commented on #2020
Ready for testing after build.  there should be no differences in the display of global ids.

[2015-05-21 15:06] sbarbosadataverse opened #2189 "File Upload: When uploading a new file, the most recent upload should show up at the top of the list, not the bottom"
Gary sent the following to support today:

after I dragged the file, it looked like nothing happened and in fact
the screen didn't change at all so far as I could tell.  i tried dragging
it again and it said that i had already uploaded it.  so then i looked down
and saw it at the bottom of the long list of files (off the bottom of the
screen).  the user shouldn't have to discover this; it should b

[2015-05-21 15:08] sbarbosadataverse opened #2190 "Validation Errors redirect: When a validation error occurs, page should take user to the error (the exact missed metadata field), not ask user to scroll and find the error"
Gary submitted the following today:

 _Validation Error - Required fields were missed or there was a validation
error. Please scroll down to see details._

------ we shouldn't tell people to scroll down; we should do it for them.

[2015-05-21 16:05] pdurbin commented on #2091
Merged into 4.0.1. Passing to QA.

[2015-05-21 16:05] pdurbin commented on #2092
Merged into 4.0.1. Passing to QA.

[2015-05-21 16:29] pdurbin commented on #2038
As I mentioned in #2086 I think the only way to solve #2086 is to make this field searchable:

- parentId

While we're making more fields searchable, I would suggest also making these searchable because the values are short and shouldn't contain very many special characters (or at least the special characters will be predictable):

- entityId
- identifier
- parentIdentifier
- unf
- fileSizeInBytes

[2015-05-21 17:03] pdurbin commented on #2102
@michbarsinai the fix didn't seem to work so I'm giving this ticket back to you and changing the milestone to "**candidate** for 4.0.1". If you could write a test next time along with the fix it would be awesome.

In 255f0cf (new branch) I cherry-picked fa411ed on tip of 4.0.1 and repeated the test at https://github.com/IQSS/dataverse/issues/2102#issuecomment-99625189 but the file is still deleted

[2015-05-21 19:52] pdurbin commented on #2086
I pushed a fix that requires updating the Solr schema.xml . In addition, it's not enough to simply update the schema.xml. The fix is only good for files that were indexed **after** the Solr schema.xml has been updated. This is because the fix relies on being able to identify a list of files that once were part of a dataset (now orphaned) **based on a search across files for a `parentId` that match

[2015-05-21 19:56] pdurbin commented on #2038
@scolapasta in 96e411c I started making `parentId` searchable, which (again) I needed for #2086.

Feel free to move this ticket out of 4.0.1. There's no rush for the other fields.

[2015-05-21 20:24] raprasad commented on #1880
Indices added today (by 4:22pm) -- more to come
Note: For dvobject, 3 of 4 should already exist.  New one is for ```dtype```

[code]

[2015-05-21 21:43] kcondon commented on #2166
I am able to upload to production, closing.

[2015-05-21 21:43] #2166 closed

[2015-05-22 01:39] tercer commented on #1928
I just searched on "Experiment" and half my results on the first two pages were "Experience" in a Field Term.  Is this an issue caused by boosting Fields in search.  Here's an image from the middle of the first page of search results:

![screen shot 2015-05-21 at 9 37 00 pm](https://cloud.githubusercontent.com/assets/2085037/7762362/9d425416-0001-11e5-85b0-c19414c64e0a.png)

[2015-05-22 13:50] garthg opened #2191 "Prefer full titles shown in search results"
Hi,

When searching in a Dataverse, the search results are shown in a list in the right-hand pane. It appears that each result is having its title truncated sometimes, which makes the results unclear. For us it would be preferable if the full title was always shown. See attached screenshot for an example.

Thanks,

Garth

![screenshot from 2015-05-22 09 43 04](https://cloud.githubusercontent.com/a

[2015-05-22 14:08] pdurbin commented on #2191
@garthg I see what you mean. A search for https://dataverse.harvard.edu/dataverse/antislaverypetitionsma?q=garrison shows "of William Lloyd Garrison" rather than "Senate Unpassed Legislation 1864, referred to next general court, SC1/series 231, Petition of William Lloyd Garrison."

Perhaps the fix will be as simple as increasing this value: https://wiki.apache.org/solr/HighlightingParameters#hl.fr

[2015-05-22 14:15] pdurbin commented on #1928
@tercer hmm, yep, I can easily replicate this. I mentioned it at http://colabti.org/irclogger/irclogger_log/lucene-dev?date=2015-05-22 but no one jumped in with an explanation. Weird. Thanks.

Also, @mcrosas just mentioned that a search for https://dataverse.harvard.edu/?q=datapass (sadly) does **not** find https://dataverse.harvard.edu/dataverse/datapass presumably because it has it has a hyphen

[2015-05-22 14:17] pdurbin commented on #2170
A user reported this issue today at https://help.hmdc.harvard.edu/Ticket/Display.html?id=216399

[2015-05-22 14:20] garthg commented on #2191
Thanks @pdurbin ! You're exactly right about what we'd expect to see there.

[2015-05-22 15:37] sbarbosadataverse opened #2192 "Citation: Remove MD5s, if you have UNF"
Gary's sent the following:

why are there MD5's?  these I think should all be removed. we have UNFs
instead.

[2015-05-22 15:38] sbarbosadataverse opened #2193 "Dataset Metadata UI: make text boxes html friendly"
from Gary:
please make the text boxes turn into rich text with the buttons etc (like
in openscholar).  that way when we enter the citation, etc., we can add
italics, links, etc.

[2015-05-22 15:43] pdurbin commented on #2192
MD5s are commonly used to verify that files were not corrupted during download. Every Mac and and Linux box has the native ability to calculate and MD5 of a file. For Windows it's a supported addon: https://support.microsoft.com/en-us/kb/841290

[2015-05-22 17:27] pdurbin commented on #1612
Since I was just looking at the SWORD spec again for @posixeleni I'll mention that while the Dataverse implementation of SWORDv2 only accepts zip files, this was an implementation decision on my part.

Here's what the SWORD spec says:

It was for this reason that I had Dataverse support a simple zip format for upload via SWORD. I figured I had to if clients are supposed to assume that format if a

[2015-05-22 18:02] kcondon opened #2195 "File upload: Tar file upload does not automatically unpack like zip as in v3.6."
Not sure whether this was intentionally dropped or missed in the dev process but tar file currently do not automatically unpack as they did in v3.6

[2015-05-22 18:06] mcrosas commented on #2192
This is issue is not well defined as it is. @thegaryking does this question apply to subsettable Tabular files? why is it bad to have both UNF and MD5? as @pdurbin comments, MD5 are the most commonly used by preservation groups and libraries, and can be useful in addition to UNF to verify the original deposited file.

[2015-05-22 18:10] pdurbin commented on #2195
Unfortunately, the 4.0 User Guide is inaccurate. It says:

[2015-05-22 18:11] mcrosas commented on #2193
@thegaryking and @sbarbosadataverse this issue also needs also additional information before it can be reviewed. There are already several issues related to this, so it would help to be more specific. What metadata fields are we talking about? What citation are we talking about? there is a reason why some fields do not accept formatting or html, because they follow a standard metadata schema and s

[2015-05-22 18:21] posixeleni commented on #2195
can someone confirm that tar is expected to be supported in 4.0? If so @pdurbin the mention of tar should remain in the documentation and the bug should be fixed

[2015-05-22 18:24] kcondon commented on #2195
I honestly don't know whether the omission was intentional or not. I tested it and it is not working. This may have been a case of testing by ticket -there was a ticket for zip files and it was tested. No ticket for tar files, not tested, and was missed in the gap analysis of the feature list.

________________________________
From: Eleni Castro [notifications@github.com]
Sent: Friday, May 22, 201

[2015-05-22 18:32] raprasad commented on #1880
Updated list of SQL statements

[code]

[2015-05-22 19:29] posixeleni commented on #2195
In our guides, I clarified that we do not currently support tar and referenced this ticket. @kcondon when you QA this before you close this ticket would you please also make sure that someone has added in the documentation that tar is supported? Thanks!

[2015-05-22 20:10] raprasad opened #2196 "dataset page, appropriate pluralization for file count"
![dropbox_test_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/7778808/ffe05212-009c-11e5-93a1-550c00d95705.png)

[2015-05-22 20:18] mheppler commented on #2196
This is a bug related to 4.0.1 issues #1989.

[2015-05-22 20:18] sekmiller commented on #2196
Suggestion - That File number is not rendered if there are no files, since we already have the "There are no files in this dataset." displayed. Then we just have to distinguish between 1 and more than one.

[2015-05-22 22:20] kcondon opened #2197 "File Downloads: Downloading a specific file results in internal server error."
See RT #216402.

Is this part of the review files batch job?

[2015-05-23 14:27] thegaryking commented on #2192
we're first and foremost trying to communicate with users, almost none of
which know about either md5 or unfs. we have taken them another step and
told them about unfs; we have a page describing them, and when we put in
enough effort they get what they are.  there's no reason to introduce
another new concept.  let's just use another degree of indirection. if the
librarians want something for files

[2015-05-23 14:47] mcrosas commented on #2192
Yes, I agree with the general approach, but we need to do some research to
implement this well. Here are the three main issues:

- If we only provide a UNF for tabular files (spss, stata, r, etc), and not
an MD5 for the original format, then we don't have a way to verify the
original deposited file, which is important in some cases when we need to
recalculate the UNF or there is some issues or unc

[2015-05-23 15:01] posixeleni commented on #2192
I agree with @mcrosas  that the MD5 checksum should exist for every file to ensure bit-level preservation. When I presented a preview of Dataverse 4.0 to the Library of Congress' National Digital Stewardship Alliance in the Fall they were particularly impressed that we included MD5s for all our files. Here's a blog post from them discussing the importance of file fixity/data integrity: http://blog

[2015-05-23 15:51] thegaryking commented on #2192
ok, but let's get MD5s out of the file list now.  we can stick it in the
metadata when we expand the long list, as an unchangable item if someone
wants it.

and separately, let's create a google doc or something with specifications
of a UNF that would satisfy everyone.  we can even create the specs and
either get the grant ourselves or have a call for PIs to take on this task,
perhaps with us.  we

[2015-05-24 14:18] pdurbin commented on #2192
Maybe we should remove **both** UNFs and MD5s from the default listing for files. They add a lot of noise.

I just clicked on a [random dataset](http://dx.doi.org/10.7910/DVN/8KN41O) and saw this for a PowerPoint file:

![documentation_and_metadata_-_training_materials_dataverse_-_2015-05-24_10 00 24](https://cloud.githubusercontent.com/assets/21006/7788123/327273d0-01fc-11e5-8b89-608b7b05a7d8.png

[2015-05-24 15:06] mcrosas commented on #2192
@pdurbin we should not just remove these from the file cards without the appropriate research and consideration of preservation good practices - it has been an expectation from users and partners to find the fixity easily even if it's not used all the time. But you bring good points, it's worth reviewing if they can be displayed in another place.

I'm assigning this issue to @mheppler and adding i

[2015-05-24 15:11] mcrosas opened #2198 "Generalize UNF definition to apply across all Files"
We would like to apply a new, more general algorithm to UNF to apply it across all files. See original discussion on this in #2192

Functional Requirements Document (FRD) will be created and linked to this issue.

[2015-05-26 13:07] wfarnum commented on #2185
@posixeleni I will posted it to dataverse. Search for Pheidole for the data set of names.

[2015-05-26 14:34] posixeleni commented on #2185
Thanks @wfarnum !

@pdurbin you can access the data here: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/HMAFSD&version=DRAFT

[2015-05-26 15:54] raprasad commented on #1989
related #2196

[2015-05-26 16:14] pdurbin commented on #2165
@landreev it sounds like you're fine with tackling this so I'm giving this ticket to you and setting it to 4.0.1.

At out meeting just now we seem to have reached a consensus to remove the version number from the war file. I think this will make things easier going forward. We'll all just deploy `dataverse.war` (developers and users).

p.s. Please don't worry about any hard coded references to `da

[2015-05-26 16:44] pdurbin commented on #2148
@scolapasta and I agreed that we'd use this ticket to track the addition of "last updated" (suggested by @posixeleni ) to the guides so people can see which version they are looking at.

In bb9b0cb I just uncommented `html_last_updated_fmt` to enable the default formatting, so "Last updated on May 26, 2015." was added to the bottom of http://guides.dataverse.org/en/4.0.1/user/appendix.html (I just

[2015-05-26 16:56] posixeleni commented on #2148
Thanks @pdurbin.

Is this the "Last Update" date for the entire guide or just this particular page of the guide? The text looks great I just worry that it is lost a little bit in the footer text. Is there any way to bump this "last update" text to show closer to the actual guide text?

From: Philip Durbin <notifications@github.com<mailto:notifications@github.com>>
Reply-To: IQSS/dataverse <reply@r

[2015-05-26 17:03] pdurbin commented on #2148
@posixeleni if you click around you'll see the same date on the bottom of every page.

I haven't worked on templates or themes or whatever they are called in Sphinx but maybe @mheppler or @raprasad or @cchoirat or others can comment on how easy it is to move the date from `html_last_updated_fmt` out of the footer to somewhere else on the page.

[2015-05-26 17:07] mheppler commented on #2148
I can look into reviewing where the date is displayed in the footer. I'd also like to see why there are two Sphinx links as well.

@pdurbin, if you have time to meet today, let's take this discussion offline and review some options before pushing anymore changes.

[2015-05-26 17:31] eaquigley commented on #2184
I wrote this before leaving on vacation so it should be there. @posixeleni please let me know if you don't see it.

On May 20, 2015, at 10:04 AM, Eleni Castro <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #2184<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_IQSS_dataverse_issues_2184&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=Y9aY3P6kFFpmMLaYYO_id08dS3gL1xW

[2015-05-26 17:38] posixeleni commented on #2184
@eaquigley if I go to: http://guides.dataverse.org/en/latest/user/dataverse-management.html#theme-widgets I can see that this documentation has been updated however it has not been updated in the guides that point from Harvard Dataverse: https://dataverse.harvard.edu/guides/user/dataverse-management.html#theme-widgets

@kcondon @pdurbin would either of you be able to comment on when it will be upd

[2015-05-26 17:44] kcondon opened #2199 "File Upload: Allow users to skip ingest as tabular data."
In v3.6 we had an upload as "other" option that allowed problematic files, those failing ingest or too large to ingest, to upload as the original format without additional processing.

We might want to call it something else rather than "other" but this is a very useful feature for Support and users too.

[2015-05-26 17:57] mheppler commented on #2148
- Talked to @pdurbin, moved this ticket into "Dev".
- Decided that the date made more sense in the footer than higher up, in the context of the page, because the date reflects changes to the entire guides site and not to an individual page.
- Added guides version number.
- Removed duplicate Sphinx link.
- See attached screenshot for mocked up layout revisions that I am checking in shortly.
![scree

[2015-05-26 18:00] posixeleni commented on #2148
:+1:

[2015-05-26 18:08] mheppler commented on #2148
Cleaned up layout of Guides footer, to show new version number and last updated date. Also removed redundant Sphinx link.

@pdurbin, the layout changes are committed. Let me know if you need anything else.

[2015-05-26 18:46] sekmiller commented on #2095
Script Added to upgrade sql

[2015-05-26 19:07] posixeleni commented on #1229
Another example for why we need to include in the Templates Terms of Use:

This Elections Data Dataverse uses CC-BY but they would have to set this every time they create a new dataset. https://dataverse.harvard.edu/dataverse/eda

![image](https://cloud.githubusercontent.com/assets/5013837/7820855/eb15da7c-03b8-11e5-8285-3c3c00084f7b.png)

[2015-05-26 19:07] kcondon opened #2200 "Guides - Add machine name/host to hidden url or utility pg"
When troubleshooting in a multi web server environment, it is helpful to know which server the client is talking to without resorting to the time tested practice of viewing live server logs.

In the previous version, we displayed the machine name on the settings page. Something like that would be really useful.

[2015-05-26 19:10] kcondon opened #2201 "Contact us: The subject for contact us is hosed, says "Dataverse ???header.contact???" but is seemingly intermittent."
Sometimes the contact us/ support link form shows ???header.contact??? in the subject, sometimes it displays nothing for subject, sometimes it displays the text entry field.

I myself saw each within the same browser session.

I have also received at least one such email from a user.

[2015-05-26 19:29] pdurbin commented on #2200
@raprasad asked about this once and I pointed him to a commit I made in a branch: c32cd3e

[2015-05-26 19:31] pdurbin commented on #2200
@bencomp mentioned the DVN 3.6 system-wide settings page here: #1574

[2015-05-26 20:28] pdurbin commented on #2148
@mheppler as we discussed I'd probably like some input from you and others on where to link to PDF and ePub versions of the docs. There's a similar ticket for Zelig: https://github.com/IQSS/docs.zeligproject.org/issues/5

Building ePubs is easy and I reconfigured Jenkins to build them. You can find the "next" (unreleased) version here: http://guides.dataverse.org/en/next/Dataverse.epub

I don't be

[2015-05-26 20:36] pdurbin commented on #2148
Another option for generating PDFs (rather than messing with the Jenkins server, build.hmdc) would be to switch to readthedocs. It seems to be a supported feature: https://docs.readthedocs.org/en/latest/features.html#pdf-generation

[2015-05-26 20:38] mheppler commented on #2148
For the PDF and ePub links, I'd suggest that we add them to the footer. I don't think that they make much sense in the sidebar (as suggested in that Zelig Project issue) or elsewhere, unless we build an entire standalone page, with a heading, some help text, and links to the various versions.

Here is a mockup of the links in the footer, which I believe makes the most sense.

![screen shot 2015-05

[2015-05-26 20:49] posixeleni commented on #2148
:+1:

[2015-05-26 20:54] mcrosas commented on #2198
This has been moved to the UNF repo: https://github.com/IQSS/UNF/issues/2

[2015-05-26 20:54] #2198 closed

[2015-05-26 21:09] landreev commented on #2192
@pdurbin - yes, the long Microsoft mime types are terrible. But we have a mechanism for dealing with this - it's just a matter of adding the "friendly" version of it (such as "PowerPoint") to the list we maintain. (it's a .property file).
The friendly types for Excel and Word are already there. PowerPoint was left out, probably because it's not as common.

[2015-05-26 21:14] mheppler commented on #2192
Thank you for commenting on that @landreev. I was going to ask you about these "friendly" file types, since I recall going over these with you for the file icons. We should separate out that task of identifying as many of these file types as we can in our current production data, and giving them friendly labels.

[2015-05-26 21:20] landreev commented on #2192
@mheppler
Yes, we could use a dedicated ticket for creating these "friendly" labels for as many types as possible.
The file in question is ./src/main/java/MimeTypeDisplay.properties

[2015-05-26 21:44] mheppler opened #2202 "Dataset - Too Many "Unknown" Files, Friendly File MIME Type Display Names"
As referenced in #2192, there are files in production that need friendly MIME Type labels.

From @landreev

We should identify as many of these as possible, and give them friendlier display names that the one that @pdurbin  found.

![documentation_and_metadata_-_training_materials_dataverse_-_2015-05-24_10 00 24](https://cloud.githubusercontent.com/assets/21006/7788123/327273d0-01fc-11e5-8b89-608b

[2015-05-26 21:45] mheppler commented on #2192
@landreev @pdurbin -- #2202 -- new issue for MIME Type improvements created. Enjoy.

[2015-05-27 07:57] bencomp commented on #2177
Perhaps to not confuse people who have just been getting used to the new way of setting required, hidden and optional metadata fields, the current settings for a dataverse could be moved to a template that every dataverse has - the *Default template*?

[2015-05-27 13:40] pdurbin opened #2203 "Update CONTRIBUTING.md to explain feature request process and what a Functional Requirements Document is"
We plan to update https://github.com/IQSS/dataverse/blob/master/CONTRIBUTING.md to explain (among other things) what a Functional Requirements Document (FRD) is and we may attach the following image (or similar) in the CONTRIBUTING.md doc:

![feature-request](https://cloud.githubusercontent.com/assets/21006/7837273/1741347a-0454-11e5-9d74-6f582dee3a1d.png)

[2015-05-27 13:47] bencomp commented on #2203
Sounds great! :+1:

[2015-05-27 13:51] pdurbin commented on #2148
Hmm, I just opened the PDF and noticed that "How the Guides Are Organized" appears on page 79 (chapter 5) when I believe we want that text to be very early, probably just after the table of contents.

@posixeleni would you be interested in experimenting with https://readthedocs.org in a test repo to figure out some of these PDF layout issues?

[2015-05-27 13:59] posixeleni commented on #2148
@pdurbin How the Guides Are Organized should definitely be Chapter 1 this is the root level index.rst file so I dont know why it's put it as Chapter 5? @cchoirat @raprasad would either of you know why this would be happening?

[2015-05-27 15:09] mheppler commented on #2201
Related to #2078.

[2015-05-27 15:10] mheppler commented on #2078
Related to #2201.

[2015-05-27 15:18] suenjedt opened #2204 "Ingest tabular file: provide more guidance and information about ingestion process for large tabular files"
We have been receiving a number of tickets regarding the ingestion process for large and complex files. Upload takes long and users receive "warnings" that the formal ingestion process did not succeed. It might help to add some "heads-up" messaging throughout the uploading/ingestion procedure so the expectations are managed more proactively.
This would be in addition to https://github.com/IQSS/dat

[2015-05-27 15:24] mheppler commented on #2201
Removed subject from Support commandLink setPropertyActionListener in dataverse_header so that the contact form opens with a blank input field.

In a previous commit 7afddf84196024e4dbd3c728c08de9b9be9e4e45 from @raprasad, for #2078, he removed the conditionally rendered static text that used to read, "Dataverse Contact" from contactFormFragment.xhtml.

That alone should fix the bug here in this i

[2015-05-27 15:55] eaquigley commented on #2184
@posixeleni I am moving this ticket to 4.0.1 because that is when the change to how the guides are built will be done. Also, moving to this QA so that it can be tested.

[2015-05-27 15:57] posixeleni commented on #2184
:+1:

[2015-05-27 16:13] pdurbin commented on #2148
@doprdele [hooked me up](https://help.hmdc.harvard.edu/Ticket/Display.html?id=216558) with the `scl enable python27` magic to get the Jenkins server to build the PDFs:

`cd $WORKSPACE/doc/sphinx-guides; make clean; scl enable python27 "make html";  scl enable python27 "make latexpdf"; cp build/latex/Dataverse.pdf build/html; scl enable python27 "make epub"; cp build/epub/Dataverse.epub build/html;

[2015-05-27 16:42] raprasad commented on #1857
Moving to QA....

[2015-05-27 16:49] pdurbin commented on #1098
@scolapasta should the priority be bumped up on this? Please see https://help.hmdc.harvard.edu/Ticket/Display.html?id=216470

[2015-05-27 17:00] sbarbosadataverse opened #2205 "Requesting Access to (multiple) restricted files: allow to request access to all files simultaneously"
Now, results in multiple emails to dataverse admin,one for each file request.

[2015-05-27 17:24] posixeleni commented on #907
@scolapasta any updates on when this will be scheduled to be developed on?

All the Export and Import Mappings/Crosswalk for Dataverse 4.0 metadata are here:
https://docs.google.com/spreadsheets/d/10Luzti7svVTVKTA-px27oq3RxCUM-QbiTkm8iMd5C54/edit?usp=sharing

[2015-05-27 18:50] sbarbosadataverse opened #2206 "Edit Dataset Files Message: file names extend off page, need a space"
![uvj7__pikbjpt5tgqlxcjoeomjo_0z7n6wj9yyai0ck](https://cloud.githubusercontent.com/assets/8322346/7844614/a0150918-047f-11e5-956e-cace05ede114.png)

[2015-05-27 20:16] eaquigley commented on #2148
@pdurbin you mentioned earlier today there are a lot of blank pages in the docs. i took a look at the zelig docs and they have the same amount of blank pages so i am presuming this is a sphinx thing.

[2015-05-27 20:49] sekmiller commented on #1660
@eaquigley  What should the notification say?
Something like:
You have been added as a [Name of Role] to the [Link to DV/DS] Dataverse/Dataset

[2015-05-27 21:03] eaquigley opened #2207 "https cert invalid for dvn.iq.harvard.edu"
reported by @thegaryking when you try to access Dataverse using the URL dvn.iq.harvard.edu in Chrome, there is a Your connection is not private warning. This needs to be fixed. Additionally, are there any other URLs that now redirect to dataverse.harvard.edu that we need to make sure have valid https certs?

[2015-05-27 21:21] eaquigley opened #2208 "Remove all No Records Found Displaying in the UI"
We need to remove anywhere in the UI that "No Records Found" is displayed.

[2015-05-27 21:51] eaquigley opened #2209 "Sign Up Page: Add text about having a dataverse account"
Add text to the sign up page that tells a user the benefits of having a dataverse account.

[2015-05-27 22:50] pdurbin commented on #2148
@eaquigley did I? Well, I'm way less worried about blanks pages than I am about weirdness like this:

Lines cut off (code examples too):

![dataverse pdf_-_2015-05-27_18 44 35](https://cloud.githubusercontent.com/assets/21006/7849190/d9f8aef2-04a0-11e5-9ec9-a50f266f65c9.png)

Image placement and w e i r d  s p a c i n g:

![dataverse pdf_-_2015-05-27_18 45 15](https://cloud.githubusercontent.com/a

[2015-05-28 13:07] mercecrosas opened #2210 "Notebook or Labbook for datasets"
A suggestion from Dustin Tingley (also requested by other users from different scientific domains):

Connect a dataset with a labbook or notebook, or more generally a documentation stream that a researcher produces that documents semi-regularly issues that come up in the research process.

This could be implemented by having a metadata field in the dataset that points to the labbook. It could inte

[2015-05-28 13:18] posixeleni opened #2211 "Create Documentation for Superusers in User Guide"
@pdurbin indicated that the documentation from Super Users needs to be updated for 4.0 and this ticket is a placeholder for us to update this page:

https://github.com/IQSS/dataverse/edit/4.0.1/doc/sphinx-guides/source/user/super-user.rst

In 3.6 Super Users were able to do many things in the UI so @scolapasta there are some features we  need your help figuring out what we can currently support in

[2015-05-28 13:26] pdurbin opened #2212 "Guides: Update TwoRavens documentation"
We will be previewing changes here (builds every hour from branch 4.0.1 currently):
- http://guides.dataverse.org/en/next/user/data-exploration/index.html
- http://guides.dataverse.org/en/next/installation/r-rapache-tworavens.html

@vjdorazio will push to this branch, which we will eventually merge: https://github.com/IQSS/dataverse/tree/2212-two-ravens

[2015-05-28 14:26] pdurbin commented on #2211
I just wanted to note that @mcrosas and I seem to prefer "superuser" (no dash) over "super-user". I assume this extends to "Superuser" over "Super User."

[2015-05-28 14:52] eaquigley opened #2213 "Dataset Page: Contact Metadata Field link to Contact Form"
Currently the contact email metadata form displays, "Use email button above to contact". We should figure out how to have this dynamic field work as a link to open the contact form found behind the email button at the top of the dataset page.

[2015-05-28 14:59] eaquigley opened #2214 "Files: Quick Viewers for Common File Extensions"
We already have a preview for image files but we should investigate adding more quick viewers for common file extensions such as:
- [ ] PDF
- [ ] data
- [ ] documents
- [ ] gif

By default, maybe these could show the first 100 lines of the file.

Suggestion from @thegaryking

[2015-05-28 15:28] mheppler commented on #2213
This is related to a few existing tickets.
- Dataset Metadata - Improve display of compound fields in metadata tab #1625
- Dataset Metadata - Contact "[Email in Contact button above]" #1923

[2015-05-28 15:59] eaquigley commented on #2207
Closing as this was made into an RT ticket.

[2015-05-28 15:59] #2207 closed

[2015-05-28 17:27] posixeleni commented on #2211
@pdurbin please feel free to make these changes in the file

[2015-05-28 18:07] raprasad commented on #2214
For data, grab first 10 to 50 lines for:
 - [ ] .csv
 - [ ] .tab
 - [ ] .xls
 - [ ] .xlsx

[2015-05-28 18:19] eaquigley opened #2215 "Dataset Description Truncation: Expand (wasted whitespace)"
Now that we have real data in dataverse, we can see that 200 characters is too small for truncated descriptions on the browse cards. We should play around with the abbreviate method from Omnifaces to see what looks best so there isn't a lot of white space left over in the line of the card.

Here is where you can see some wasted whitespace:

![harvard_dataverse_-_2015-05-28_14 40 37](https://cloud.

[2015-05-28 20:31] raprasad opened #2216 "Dynamic Charts for (Tabular) Data Files"
Visually explore tabular file by creating charts, that can be exported, shared, etc.

FRD:
https://docs.google.com/document/d/1RzcZ9qaSZauDEKbwO9M3_QAb-qIptk7J0spW1xYu-5o/edit

[2015-05-28 20:38] raprasad commented on #1880
@kcondon, SQL statements are here: https://github.com/IQSS/dataverse/blob/4.0.1/scripts/database/upgrades/upgrade_v4.0_to_v4.0.1.sql

[2015-05-28 20:49] kcondon opened #2217 "File Ingest: File type identification relies on browser identification, sometimes misidentifies type and fails ingest."
We have found an issue with file type identification that causes tabular ingest, namely stata files, to fail.

This was found in on my machine with FF only but also found in a user report:
https://help.hmdc.harvard.edu/Ticket/Display.html?id=215169

Turns out files with extension .dta were being misidentified by some browsers as stata13 and dataverse was trusting this id to process the files. In b

[2015-05-28 22:05] kcondon opened #2218 "File Ingest: Large dta file partially completes ingest before failing, leaves file in incorrect state."
User reported an issue uploading file, see https://help.hmdc.harvard.edu/Ticket/Display.html?id=215169
Initially, it had ingested but resulted in red triangle. Updated ingeststatus in db to remove triangle. File was reporting as dta, stata13 but was actually the tab file. Has since been corrected.

File: CNR_Latvia_IMFER.dta (~7GB)
Dataset: http://dx.doi.org/10.7910/DVN/HHHM5E

---

Added 2018-06-

[2015-05-29 03:11] scolapasta commented on #2103
Please retest this use case.

[2015-05-29 03:11] scolapasta commented on #2099
Please retest this use case.

[2015-05-29 03:12] scolapasta commented on #2097
Please retest this use case.

[2015-05-29 03:15] scolapasta commented on #2044
Please retest these use cases.

[2015-05-29 09:34] bencomp opened #2219 "Native API: set using PUT instead of toggle using POST"
In the [Native API](http://guides.dataverse.org/en/latest/api/native-api.html), a user can be made superuser by toggling her/his status using a POST command:

This is not like any other setting and requires to keep state outside the system.

Somewhat similarly, authentication providers are enabled/disabled by `POST`ing a status, instead of `PUT`ting it:

These settings should, like all the others,

[2015-05-29 09:38] bencomp commented on #2211
So this is not necessarily related to the [Administration documentation](https://github.com/IQSS/dataverse/blob/4.0.1/doc/sphinx-guides/source/installation/administration.rst)? My role in 3.6 is both information manager ("administrator") and superuser, so to me Superuser Action and Administration are related.

[2015-05-29 12:24] pdurbin commented on #2219
If we follow the same logic as #1329 I do believe @bencomp is right.

[2015-05-29 12:43] bencomp commented on #1838
As [I just suggested on IRC](http://irclog.iq.harvard.edu/dataverse/2015-05-29#i_20289): how about making this part of configuration of a Dataverse installation?

If "free access" enabled, not including an API key should be interpreted as if a guest API key was used.

I don't know about best practices for rate limiting, but the basis for it could be configurable as well (e.g. by IP, per day/week/m

[2015-05-29 13:01] pdurbin commented on #2211
As I (mentioned yesterday](http://irclog.iq.harvard.edu/dataverse/2015-05-28#i_20253) products such as RHEL have separate guides for installation and administration:

- [Installation Guide](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/index.html)
- [System Administrator's Guide](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/index.html)

As @be

[2015-05-29 13:05] pdurbin commented on #1838
If a Dataverse installation someday runs in a mode where the Search API doesn't require a token, a proof of concept Android app I wrote could be used without needing he modifications I opened this issue about: https://github.com/IQSS/dataverse-android/issues/1 :)

[2015-05-29 13:14] posixeleni commented on #2211
@pdurbin @bencomp to clarify this Super User documentation is meant for Administrators of an entire Dataverse installation for **post-installation** and would be for features a Super User (Aka Super Admin) would be able to do in the **Dataverse GUI** (which we use to have features for in the 3.6 User Guides).

[2015-05-29 13:27] posixeleni opened #2220 "Write-Up A Preservation Policy For Harvard Dataverse"
In 3.6 we use to document how the Harvard Dataverse handled preservation in different places:
- http://projects.iq.harvard.edu/thedata_new2/book/data-backup-preservation-terms
- http://projects.iq.harvard.edu/thedata_new2/book/faq-using-harvard-dataverse-network

However for 4.0 we should make this information more formally available in a Preservation Policy document that would be hosted on Datave

[2015-05-29 14:05] pdurbin commented on #2211
@posixeleni where should we document SQL scripts that people like @bencomp or @kcondon will need to run until a GUI can be built? I mean for things like deleting an API token: http://guides.dataverse.org/en/next/installation/administration.html#deleting-an-api-token

[2015-05-29 14:11] posixeleni commented on #2211
@pdurbin If it's post-installation this can't be in the Installation guide, right? Nor in the API Guide? So would have to be in this section of the User guide, I suppose, with a caveat that this needs to be done outside of the GUI for now.

[2015-05-29 14:52] raprasad opened #2221 "Harvested Files - Several with 0 bytes"
Potential error.  May be with source data

![harvard_dataverse](https://cloud.githubusercontent.com/assets/1036060/7885218/a18fd58a-05f0-11e5-96bb-9d256342223a.png)

[2015-05-29 15:33] pdurbin opened #2222 "SWORD: stop calling DeleteDataFileCommand"
@scolapasta indicated that the SWORD code needs to be modified to not call DeleteDataFileCommand. It should instead call UpdateDatasetCommand.

[2015-05-29 15:38] posixeleni commented on #1229
This will be an issue for ALL the PSI Templates and the UCLA SSDA Templates since they have Terms inserted in their templates.

[2015-05-29 16:16] scolapasta commented on #1537
Since we are getting rid of search on this page, this goes away.

[2015-05-29 16:19] scolapasta commented on #2196
Should be easy to do with the choice logic in the bundle.

[2015-05-29 17:41] pdurbin commented on #2220
Right, http://libguides.mit.edu/ssds/hmdc/dvn_deposit for example, currently links to http://thedata.org/data-backup-preservation-terms which doesn't exist anymore.

(There are a number of other links on that page that that we should redirect to their new homes as well.)

[2015-05-29 17:54] sbarbosadataverse commented on #2043
@eaquigley
@pdurbin

Contact from user today regarding this function. In 3.6, clicking on username allowed admins to see: names, affiliations, and email. Also mentioned they can't grant access to their users until this is resolved which bumps it up to high/critical request
We need a function that resembles this.

[2015-05-29 17:58] sbarbosadataverse commented on #2037
@scolapasta
Just an FYI that this has not been assigned to anyone--any idea when this will be fixed? I see this often because I'm admin on several dataverses.

[2015-05-29 19:24] pdurbin commented on #2222
I made the change in b62334a which @scolapasta might want to review.

Passing to QA. I only tested deleting files from **unpublished** datasets, which seems to work fine.

[2015-05-29 19:27] pdurbin commented on #1837
While I was just trying to write a test for #2222 it was driving me crazy (again) that I can't see the dataset entity/database IDs from SWORD. I just pushed a proof of concept to correct this in 639d8c3.

[2015-05-29 21:11] tingleyd commented on #2210
For the persistence issue you point to in your email Merce, my idea there was that DV would just query the text contents of the link so it would be stored on DV side. This was just to make it simple for users to update regularly, but have those updates stored within a DV log. But, if there is an ipython way that would be most robust and get you additional features, that is cool.

My primary concer

[2015-05-29 21:44] landreev commented on #2165
Oh, this should be in QA.

[2015-05-29 21:45] landreev commented on #2165
Both the installer, and the Makefile that builds the installer zip bundle, have been cleared of all the hardcoded version numbers.

[2015-05-29 21:50] landreev commented on #2217
This issue doesn't have a milestone; but I believe I have a (simple) fix, so I'm moving it into QA.
The code fix has been checked into the 4.0.1 branch.

[2015-05-29 22:03] mcrosas commented on #2217
Added milestone 4.0.1

[2015-05-29 22:15] landreev commented on #2217
Also, just to document it here: the RT issue 215169 appears to be unrelated. Their files are real Stata 13 files. I'm looking into that separately.

[2015-05-29 22:17] mcrosas commented on #2043
@eaquigley can you this to the In Design milestone, so we can push it to an upcoming release as soon as possible? This is urgent. From users the inability to verify users information is equivalent to the system being down because they cannot process requests.
@scolapasta this is high priority for an upcoming release.

[2015-05-30 23:38] pdurbin commented on #2203
If we're going to tweak CONTRIBUTING.md a bit we might consider taking some inspiration from https://github.com/contribute-md/contribute-md-template/blob/master/contribute.md from http://contribute.md

Hat tip to @prologic for mentioning this at https://github.com/circuits/circuits/issues/14#issuecomment-107016175

[2015-05-30 23:41] prologic commented on #2203
Haha no worries :) It seems like a *useful* place to start! Funny thing s we've always had this piee of [documentation](http://circuits.readthedocs.org/en/latest/dev/contributing.html); just not int he form of a ``CONTRIBUTING.md`` :)

[2015-05-31 00:25] pdurbin commented on #2210
Since IPython Notebook has been mentioned I'd be remiss if I didn't link to the conversation with @fperez over at https://github.com/IQSS/dataverse-client-python/issues/6

What's interesting is that what @tingleyd seems to be describing sounds like Dataverse would **pull** (query) some other system for updates. This sounds a bit like [harvesting](http://en.wikipedia.org/wiki/Open_Archives_Initiati

[2015-06-01 08:28] bencomp commented on #2220
Please know that DSA (or any other standard for TDRs) applies to an organization, not just a system. If we host a Dataverse installation, we won't instantly get the DSA because IQSS has a certified installation. What I'm trying to say is that your documentation should make clear that your policies apply only to the IQSS Dataverse service, not the system in itself.

[2015-06-01 13:51] posixeleni commented on #2220
@bencomp yes as you mentioned this will be very clear that it **only applies to the Harvard installation**  (this will not be in the general Dataverse release documentation) since it will be only in our Harvard policies documentation. But other installations are free to use this as a model or an example of how preservation can be done.

[2015-06-01 15:35] kcondon opened #2223 "Build process: Change war file name to be only dataverse.war rather than dataverse-4.0.1.war"
Build process: Change war file name to be only dataverse.war rather than dataverse.4.0.1.war

[2015-06-01 15:38] posixeleni commented on #2077
Assigning to @scolapasta but let me know if I can help with anything

[2015-06-01 15:40] posixeleni commented on #2019
Assigning to @sbarbosadataverse since I will most likely be out when this will need to be worked on

[2015-06-01 15:42] posixeleni commented on #1790
assigning to @kcondon since I will not be able to complete this QA

[2015-06-01 15:44] posixeleni commented on #1761
this is now working as expected in production

[2015-06-01 15:44] #1761 closed

[2015-06-01 15:48] posixeleni commented on #1883
Searched for N/A in production and was unable to find it indexed. Also looked at facets to confirm this was the case. Closing this ticket.

[2015-06-01 15:48] #1883 closed

[2015-06-01 15:49] posixeleni commented on #1766
Working on templates here: https://docs.google.com/spreadsheets/d/1Y_y5SbxbZZrCLQOIpTIar236BFjQ18V2hYdX6ZKAjFg/edit#gid=0

[2015-06-01 15:51] posixeleni commented on #1765
@sbarbosadataverse Would you please review these when you get the chance?

[2015-06-01 15:54] posixeleni commented on #377
Example from F1000Research:

[2015-06-01 15:58] posixeleni commented on #1284
@kcondon would you be able to verify this for me?

[2015-06-01 16:06] kcondon opened #2224 "Delete File: Success message for deleting file before save needs spaces between file names."
Success message for deleting file, before save needs spaces between file names:
 Success! – Files images.jpgmuench2002.fitsharris_s1635_spss.tab will be permanently deleted from this version of this dataset once you click on the Save Changes button.

[2015-06-01 16:14] kcondon opened #2225 "Publish Dataset: When DataCite is down, can't publish but no message to user, other issues."
[2015-06-01T12:12:14.983-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dvn.core.index.DOIEZIdServiceBean] [tid: _ThreadID=53 _ThreadName=jk-connector(4)] [timeMillis: 1433175134983] [levelValue: 800] [[
  modifyMetadata failed]]

[2015-06-01T12:12:14.984-0400] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dvn.core.index.DOIEZIdServiceBean] [tid: _ThreadID=53 _ThreadName=jk-connector(4)] [timeMillis:

[2015-06-01 17:09] kcondon opened #2226 "API endpoint to move dataset: Allow super user to move a dataset to another dataverse, one at a time."
We frequently have requests to move datasets to another dv and it currently is done with a db sql statement along with an api index call.

This could be made a lot easier and enable support to do it directly with the ability to move single datasets through the UI. I am not talking about moving dataverses as in the pre v4.0 feature, only individual datasets. Make it super user only for now?

Relate

[2015-06-01 17:56] landreev commented on #2202
Also, I believe we should extend this "friendly name" functionality, to support wild cards.
As in:

image/jpeg=JPEG Image
image/gif=GIF Image
image/bmp=Windows Bitmap Image
image/*=Graphic Image

i.e., we provide friendly names for the types we know about; and a generic name for an image of type image/blah-blah that's not specifically listed.
We can do the same with MS documents and other types of

[2015-06-01 18:29] kcondon commented on #2225
At first I thought the above issue was a delete/publish issue but now it seems to be just a publish issue.
I've reproduce serious slowness publishing even a dataset with no files on v4.0.1 and v4.0, multiple machines.

So, my guess is ezid is having trouble or our local network is but leads me to the question of why our app doesn't hide this from the user?

[2015-06-01 18:37] scolapasta commented on #2161
Wouldn't it be the same case, though, for local datasets? (Another related idea is a message informing the user they are leaving the dataverse site)

[2015-06-01 18:40] kcondon opened #2227 "Delete File: Adding/deleting adding a different file in same session results in no file being added."
This use case is trivial but gets at a potential issue with preserving state on this form.

A more likely case that causes similar behavior is:
add a file, delete it (realized it was the wrong one)
add another file, save, the second file is not added.

[2015-06-01 18:46] scolapasta commented on #2181
At some point this was by design. @eaquigley can you comment?

[2015-06-01 18:48] scolapasta commented on #2180
assigning @pdurbin for now, since it may be related to the shib work

[2015-06-01 18:52] scolapasta commented on #2175
Because the URLs are bookmarkable now, it is possible to do this by simply making a bookmark in your browser. Of course we could consider replicating similar beahvior on the dataverse side.

[2015-06-01 19:05] kcondon commented on #2217
Was able to ingest both Stata12 and Stata13 files without error. Closing.

[2015-06-01 19:05] #2217 closed

[2015-06-01 19:18] #2184 closed

[2015-06-01 19:40] raprasad commented on #2038
@scolapasta, this will be needed for the Data Related to Me page.
If a dvobject id is known, no way to grab only that object from solr.
- Ideally: index by dvobject id
- OR index
   - dataverse alias
   - dataset persistent id
   - datafile id

[2015-06-01 20:17] eaquigley opened #2228 "Files Permissions Page: Add User Email Address to Table"
Requested by users so they are able to contact the users who request access to restricted files.

Fix would be to insert an email address column in the table on the files permission table.

![filerequestissuefix](https://cloud.githubusercontent.com/assets/5922904/7922365/b1079efe-0879-11e5-8cb1-5dbf67488b85.png)

[2015-06-01 20:22] posixeleni commented on #2228
:+1:

[2015-06-01 21:09] kcondon commented on #2201
Looks good, closing

[2015-06-01 21:09] #2201 closed

[2015-06-01 21:20] kcondon commented on #2225
Turns out EZID was running ok but DataCite had issues https://ezidstatus.wordpress.com/
This scenario exposed an opportunity for some defensive coding:
1. Do not publish dataset locally until remote status can be changed from reserved to public.
2. If cannot change status or cannot contact EZID, present message to the user. Liz suggested same messaging when cannot create a draft DOI.

[2015-06-01 21:22] kcondon commented on #2120
OK, says save dataset, closing.

[2015-06-01 21:22] #2120 closed

[2015-06-01 21:30] kcondon commented on #2112
OK, not seeing the message now, closing.

[2015-06-01 21:30] #2112 closed

[2015-06-01 21:38] kcondon commented on #2103
Still happening, passing back. Log error:
Local Exception Stack:
Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.5.2.v20140319-9ad6abd): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.postgresql.util.PSQLException: ERROR: update or delete on table "datasetversion" violates foreign key constraint "fk_filemetadata_datasetversion_id" on table "filemetadata

[2015-06-01 21:40] kcondon commented on #1038
This works now! Closing.

[2015-06-01 21:40] #1038 closed

[2015-06-01 21:53] kcondon commented on #1344
OK, delete/add, add/delete seems fixed here but I reported another, related ticket:
https://github.com/IQSS/dataverse/issues/2227

Happens when add/delete is in the same session not a preexisting file.

Closing this one.

[2015-06-01 21:53] #1344 closed

[2015-06-01 21:55] kcondon commented on #1661
This works, closing

[2015-06-01 21:55] #1661 closed

[2015-06-01 21:56] eaquigley commented on #2091
Works as expected. Closing ticket.

[2015-06-01 21:56] #2091 closed

[2015-06-01 21:56] eaquigley commented on #2092
Works as expected. Closing ticket.

[2015-06-01 21:56] #2092 closed

[2015-06-01 22:03] kcondon commented on #1804
This is working now, closing.

[2015-06-01 22:03] #1804 closed

[2015-06-01 22:05] kcondon commented on #2044
OK, all child tickets closed, closing.

[2015-06-01 22:05] #2044 closed

[2015-06-01 22:48] kcondon opened #2229 "Tabular Ingest: CSV: Add handling for commas embedded in character strings."
While testing a customer issue, see RT 214978, I found his csv file was not being ingested.
Discussed with Leonid and seems csv type is not being detected, instead shows up as plain text.

Last, the original ingest issue in the RT ticket seems to be due to a comma in a string variable causing that string to be counted as two a parts, throwing off the variable/ column count and causing the ingest f

[2015-06-01 22:52] kcondon commented on #2099
Not able to test this case, his physical file is gone. This seems to be a migration issue, Leonid will follow up on a related ingest issue, closing.

[2015-06-01 22:52] #2099 closed

[2015-06-01 22:54] kcondon commented on #2095
Closing.

[2015-06-01 22:54] #2095 closed

[2015-06-02 13:57] posixeleni commented on #1746
just received a user request for uploading astro data from Google Drive into Dataverse

[2015-06-02 15:41] mheppler commented on #2228
Should the user email display also be expanded to the dataverse/dataset permissions? @mcrosas @scolapasta @eaquigley @posixeleni -- thoughts?

![screen shot 2015-06-02 at 11 42 08 am](https://cloud.githubusercontent.com/assets/687227/7940024/436d28ca-091c-11e5-8193-bf4c08bead9d.png)

[2015-06-02 15:44] mheppler commented on #2228
Added email field to the permissions-manage-files Users/Groups tables for requests and access.

[2015-06-02 15:45] mcrosas commented on #2228
I think @sbarbosadataverse and other dataverse admins would find this very useful. We discussed the privacy concerns, but perhaps once you've added a member  (contributor, admin or other) in your dataverse/dataset, it is reasonable to show the email address.

[2015-06-02 16:05] raprasad opened #2230 "Identify unzipped shapefile for Worldmap use"
Can we take the pieces of shapefile and allow mapping?

See: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/28674

[2015-06-02 17:11] kcondon opened #2231 "DOI: Provide a way to update reserved status to public."
In rare cases where DataCite is unavailable and we need to publish a dataset that already has a reserved DOI, we need the ability to update that reserved record later to be public when DataCite becomes available again.

[2015-06-02 17:55] eaquigley commented on #1989
Number of files is now showing. Closing ticket.

[2015-06-02 17:55] #1989 closed

[2015-06-02 17:55] eaquigley commented on #2040
affiliation no longer showing on homepage. closing ticket.

[2015-06-02 17:55] #2040 closed

[2015-06-02 17:56] eaquigley commented on #2078
Subject for contacting is blank. Closing ticket.

[2015-06-02 17:56] #2078 closed

[2015-06-02 17:57] eaquigley commented on #1830
Can see fix here: http://guides.dataverse.org/en/4.0.1/user/

Closing ticket.

[2015-06-02 17:57] #1830 closed

[2015-06-02 17:59] eaquigley commented on #1553
Documentation for Shibboleth is done. Closing this issue. If any issues arise relating to Shibboleth Documentation, a new issue should be created.

[2015-06-02 18:01] pdurbin commented on #1553
@eaquigley this has nothing to do with Shibboleth. It has to do with the "native" API and SWORD. The code in question was written by @ekraffmiller or @rtreacy I believe.

[2015-06-02 18:01] eaquigley commented on #1553
had too many tickets open. whoops!

[2015-06-02 18:02] eaquigley commented on #1138
Documentation for Shibboleth is done. Closing this issue. If any issues arise relating to Shibboleth Documentation, a new issue should be created.

[2015-06-02 18:02] #1138 closed

[2015-06-02 18:07] posixeleni commented on #1553
@pdurbin I had documented this new mappin behavior in the DC Terms - Dataverse DB Element Crosswalk in the SWORD API documentation see #1077  but for some reason this table is no longer showing in the guide. Who removed this?

[2015-06-02 18:18] posixeleni commented on #1553
@pdurbin - I fixed the display issue someone had improperly edited the table markdown causing it to not be recognized by Sphinx or GitHub https://github.com/IQSS/dataverse/blob/master/doc/sphinx-guides/source/api/sword.rst

The documentation for how we handle dcterms:subject is in the crosswalk table and can be sent to QA

[2015-06-02 18:26] eaquigley commented on #1553
@posixeleni thanks for making this change. closing ticket as this is now found in the crosswalk table.

[2015-06-02 18:26] #1553 closed

[2015-06-02 18:45] mheppler commented on #2228
Original task outlined in the ticket is completed. Passing to @scolapasta to determine if anything else needs to be done with the dataverse/dataset permissions page.

[2015-06-02 19:00] pdurbin commented on #1553
Actually, more importantly (I believe), the example XML shows how you can use controlled vocabulary values in dcterms:subject now:

[code]

[2015-06-02 19:05] posixeleni commented on #1553
@pdurbin both help :+1:

[2015-06-02 19:15] pdurbin commented on #2228
A 500 error is thrown when the role assignee is a group: https://github.com/IQSS/dataverse/commit/21d612b50350768e5fd973c4eea93c8205682b21#commitcomment-11483661

[2015-06-02 19:16] mheppler commented on #2228
Added "!empty" render logic to the email values on the permissions-manage-files Users/Groups tables for requests and access. 423556fb3501a8f80e7c1dab8c54c7f7d6e7c629

[2015-06-02 19:24] eaquigley commented on #1077
Spoke with @posixeleni and got confirmation that this is good to go. Any new issues that may arise should be entered as a new issue. Closing ticket.

[2015-06-02 19:24] #1077 closed

[2015-06-02 19:32] eaquigley commented on #1891
#1553 has been closed so I am going to go ahead and close this. If any new issues may arise relating to this documentation, a new issue should be created.

[2015-06-02 19:32] #1891 closed

[2015-06-02 19:35] pdurbin commented on #915
Related: #2174

[2015-06-02 19:45] mheppler commented on #2228
Removed email values on the permissions-manage-files Users/Groups access table.

This should fix the 500 error associated with groups that have file access, that @pdurbin reported. Passing to QA.

[2015-06-02 19:56] mheppler opened #2232 "File Permissions: Granting File Access to Group"
When I create a group, I am able to assign it a role to a dataverse or dataset, but I can not grant it access to a restricted file. To replicate, follow these steps:

1. As the dataverseAdmin, create group in the Edit Dataverse > Permissions page.
2. Go to dataset with restricted files, and navigate to Edit Dataset > Permissions > Files page.
3. Click the "Grant Access to Users/Groups" button.
4.

[2015-06-02 21:46] #1525 closed

[2015-06-02 21:50] kcondon commented on #1365
Link icons are in place. Closing.

[2015-06-02 21:50] #1365 closed

[2015-06-02 21:51] #1747 closed

[2015-06-02 21:52] kcondon commented on #2097
Can't retest since the test case was deleted. @scolapasta What was the cause based on the above error?

[2015-06-02 21:53] kcondon commented on #2097
Closing for now until/unless we see the behavior again.

[2015-06-02 21:53] #2097 closed

[2015-06-02 21:57] kcondon commented on #2076
Have not seen this issue in testing, closing.

[2015-06-02 21:57] #2076 closed

[2015-06-02 21:59] kcondon commented on #2051
Right, this is just the subject now required on an existing dataset that didn't have one. Closing since the other ticket covers it.

[2015-06-02 21:59] #2051 closed

[2015-06-02 22:09] kcondon commented on #1834
Looks good, closing

[2015-06-02 22:09] #1834 closed

[2015-06-02 22:56] kcondon commented on #1857
OK, works, can upload from dropbox and perform other ops, technical behavior noted. Closing.

[2015-06-02 22:56] #1857 closed

[2015-06-02 22:57] kcondon commented on #2010
Seems like a request for information rather than a bug, retested zip upload, works, closing.

[2015-06-02 22:57] #2010 closed

[2015-06-02 23:01] kcondon commented on #2179
@raprasad I looked at this same dataset on v4.0.1 and null is still there.

[2015-06-02 23:04] kcondon commented on #1640
This is working as described, closing.

[2015-06-02 23:04] #1640 closed

[2015-06-03 13:51] posixeleni commented on #1012
@scolapasta the design for this was already completed by @eaquigley (see mockups above) is there any chance we can change the label from design and assign to a developer?

[2015-06-03 14:00] suenjedt opened #2233 "Batch tagging of files"
For more complex, bigger datasets, it might be very helpful to allow the assignment of tags to multiple files.

[2015-06-03 14:12] posixeleni commented on #1203
Received word from F1000 that these are the most common file types they would like to visualize in a Dataverse file visualization widget:

[2015-06-03 14:19] augustfly commented on #1203
my random thoughts:

* .tex -- That is a good list, but if you're going to do XML/TXT then also include .TEX.
* .ipynb --
* As for astronomy, I would recommend converting astronomy 1 or 2D "FITS" to 8 bit png and then display that instead of trying to do native FITS in a file viz widget. I guess you could push FITS to WWT, but boy that is a lot of wasted bits unless WWT preparses FITS files in dat

[2015-06-03 14:39] scolapasta commented on #2227
Fixed.

[2015-06-03 15:06] pdurbin opened #2234 "Guides: Solr config should come from installer rather than GitHub"
http://guides.dataverse.org/en/4.0/installation/prerequisites.html#solr says to get the Solr schema.xml based from https://github.com/IQSS/dataverse/raw/master/conf/solr/4.6.0/schema.xml but really it should come from https://github.com/IQSS/dataverse/releases/download/4.0/dvinstall.zip

Related: https://help.hmdc.harvard.edu/Ticket/Display.html?id=216678 #2188 #1167

[2015-06-03 16:48] scolapasta commented on #2055
Can we consider this a duplicate of #2107?

[2015-06-03 17:01] scolapasta commented on #1801
Assigning to In Design so we can decide if we are happy with what we have or want to move it,

[2015-06-03 17:05] scolapasta commented on #1594
This was handled for 4.0, no?

[2015-06-03 17:13] pdurbin commented on #1594
This was fixed in #2069

[2015-06-03 17:22] mcrosas commented on #2055
yes @scolapasta

[2015-06-03 19:24] eaquigley opened #2235 "Dataset Metadata: Have Contributor Appear as an Above the tabs Field"
Brought up during IASSIST. Move Contributor to also be one of the fields that is exposed in the box with description and subject. This way it is easy to see who all has been part of the creation of the dataset.

We should also look at Credit Taxonomy (http://credit.casrai.org) for this controlled vocabulary. Credit to @thevandalen for the link!

[2015-06-03 19:35] eaquigley opened #2236 "OSF + Dataverse: OSF now mints DOIs for Registries"
OSF is now minting DOIs for registries, do we have that DOI being pushed into the Related Materials metadata field when an OSF publishes data from OSF to Dataverse? we should look into this.

[2015-06-03 21:36] kcondon commented on #2179
Discussed with Raman and Gustavo. This was for the script itself, not for existing data. This was verified by Raman, closing.

[2015-06-03 21:36] #2179 closed

[2015-06-03 21:38] scolapasta commented on #2103
OK, now try. I tried with both files that existed before the draft and files that I added to the draft.

[2015-06-03 22:09] kcondon commented on #2227
Works now, closing.

[2015-06-03 22:09] #2227 closed

[2015-06-03 22:16] kcondon commented on #2103
Works, closing.

[2015-06-03 22:16] #2103 closed

[2015-06-03 22:20] kcondon commented on #1760
Closing

[2015-06-03 22:20] #1760 closed

[2015-06-03 22:45] eaquigley commented on #1988
Talked to users at IASSIST and this is really crucial to them to have in as soon as possible

[2015-06-03 22:45] kcondon opened #2237 "Documentation: Installer's manual has incorrect info on Weld and should probably be made more obvious given the seriousness of the issue."
The installer's guide references v2.2.4 of WELD but to fix the issue I believe we need v2.2.10 as well as the lazy load setting.

http://guides.dataverse.org/en/latest/installation/prerequisites.html?highlight=weld

[2015-06-04 00:10] posixeleni commented on #2235
We use the DataCite controlled vocabulary for Contributors so we can compare with Casrai's list to see what is missing.

[2015-06-04 00:15] posixeleni commented on #2236
With OJS' integration the article DOI is put into the Related Publications field under ID Number but the Related Materials field is just a free-text field .

![image](https://cloud.githubusercontent.com/assets/5013837/7974228/32cdf7da-0a2d-11e5-9ffa-9299a44115f1.png)

[2015-06-04 14:46] mheppler commented on #2196
@raprasad fixed this in his commit 29195cfff2085f9b024d2cd4a6883772c2c815ab which is in 4.0.1.

Moving this ticket to 4.0.1 and sending it to QA.

[2015-06-04 15:29] 4tikhonov opened #2238 "E-mails in the API to list explicit group members"
Is it possible to add emails in the API to list group members?

At the moment this functionality allows to see containedRoleAssignees.
http://guides.dataverse.org/en/4.0/api/native-api.html#explicit-groups
"List explicit groups under dataverse $id:
GET http://$server/api/dataverses/$id/groups"

At the moment:
{"status":"OK","data":[{"identifier":"&explicit/34-di","groupAliasInOwner":"rurep","owner

[2015-06-04 15:33] garthg opened #2239 "dataverse-client-python SSL error on connection"
Hi @pdurbin ,

I seem to have encountered a problem in the Python Dataverse client. I'd really like to be able to use the client, because it's got a lot of helpful functionality, so I'm reporting the error here.

I'm receiving a fatal SSL error when I create a new Dataverse connection object. My invocation looks like this:
[code]
Here is the traceback:
[code]
This same code ran without a problem t

[2015-06-04 15:40] posixeleni opened #2240 "Review Groups UI: determine missing workflow steps based off user feedback"
Working with a user issue today where they created a group but the group doesnt display anywhere in the UI after its been created (until you go to Assign a Role) which made them think that the group was never actually created (regardless of a success message).

Can we have a place in the UI:
1. where it lists all the groups a user has created even before they assign roles to them? Otherwise it loo

[2015-06-04 17:10] wfarnum commented on #2185
@pdurbin would be possible to meet and discuss this project in person in the coming week?

[2015-06-04 17:13] mheppler commented on #2208
- [ ] search-include-fragment (empty dataverse)

[2015-06-04 17:18] pdurbin commented on #2238
This conversation started in chat: http://irclog.iq.harvard.edu/dataverse/2015-06-04#i_20411

[2015-06-04 17:38] pdurbin commented on #2239
Hi @garthg! Are you reporting the error here rather than https://github.com/IQSS/dataverse-client-python/issues because you suspect there's a problem with the SSL cert at https://dataverse.harvard.edu ? I **think** that cert is fine but could you also try https://apitest.dataverse.org ? All the tests seem to be passing at https://travis-ci.org/IQSS/dataverse-client-python

[2015-06-04 17:42] pdurbin commented on #2185
@wfarnum do you mean at the Dataverse Community Meeting ( http://projects.iq.harvard.edu/dataverse-community-meeting )? I'll definitely be around!

That dataset at doi:10.7910/DVN/HMAFSD isn't published so I can't see it without giving myself special permission. Is there a public file I could look at?

[2015-06-04 18:10] garthg commented on #2239
Hi @pdurbin ,

I just tested against apitest.dataverse.org and succeeded in connecting, so it's definitely something wrong either with my setup or with the production server at dataverse.harvard.edu. I don't have any certificate problems in the web browser, though, so if it's the same cert then it must be something else about the connection. In that case, probably this bug would be more appropriat

[2015-06-04 20:08] pdurbin commented on #2239
Hmm, maybe there **is** a problem with that cert in production:

[code]

I'll notify the authorities! :)

[2015-06-04 20:13] kcondon commented on #2196
Works, closing.

[2015-06-04 20:13] #2196 closed

[2015-06-04 20:21] kcondon commented on #1871
Could not reproduce. Sent Sonia an email to double check. Closing for now, will reopen if Sonia can reproduce. Closing.

[2015-06-04 20:21] #1871 closed

[2015-06-04 20:26] pdurbin commented on #2239
@astrofrog are you seeing these errors too?

[2015-06-04 20:43] garthg commented on #2239
Thanks for checking it out @pdurbin !

[2015-06-04 20:49] kcondon commented on #2228
This works fine for individual users. Have not yet tested with groups, need some pointers from @pdurbin since am not able to assign explicit groups file perms in UI.

[2015-06-04 21:04] kcondon commented on #1880
Ran this to get a list of indexes:

 SELECT i.relname as indname,
       i.relowner as indowner,
       idx.indrelid::regclass,
       am.amname as indam,
       idx.indkey,
       ARRAY(
       SELECT pg_get_indexdef(idx.indexrelid, k + 1, true)
       FROM generate_subscripts(idx.indkey, 1) as k
       ORDER BY k
       ) as indkey_names,
       idx.indexprs IS NOT NULL as indexprs,
       idx.i

[2015-06-04 21:07] kcondon opened #2241 "Permissions: Cannot add groups to file permissions in UI."
I am able to add an explict group to a dataset's perms but not to a file's.

[2015-06-04 21:10] pdurbin commented on #2228
Try with an IP Group:

scripts/search/tests/ipgroup-add

[2015-06-04 21:18] astrofrog commented on #2239
I see the same error with ``curl``

[2015-06-04 21:24] kcondon commented on #2022
This was tested as part of a previous release, just an unused db field. Closing.

[2015-06-04 21:24] #2022 closed

[2015-06-04 21:27] kcondon commented on #2048
Was not able to reproduce/ works fine, closing.

[2015-06-04 21:27] #2048 closed

[2015-06-04 21:28] kcondon commented on #2048
@suenjedt Can you reproduce this? If not, marked as closed.

[2015-06-04 21:32] posixeleni commented on #2220
draft is here for internal review first: https://docs.google.com/document/d/19BWWX2Mo5TYTPilMq3QgtkLUueezmEKfG5zUzJRgHt4/edit?usp=sharing

[2015-06-04 21:49] kcondon commented on #1853
Non issue, closing.

[2015-06-04 21:49] #1853 closed

[2015-06-04 22:18] kcondon commented on #2228
This works now, closing.

[2015-06-04 22:18] #2228 closed

[2015-06-04 22:31] kcondon commented on #2086
Works!! Closing.

[2015-06-04 22:31] #2086 closed

[2015-06-04 22:37] kcondon commented on #2088
OK, says Dataverse Support, closing.

[2015-06-04 22:37] #2088 closed

[2015-06-04 22:55] kcondon commented on #1410
Tested, toa and tou seem to work, data file tags are not appearing. Also, the title for the TOU/TOUA block in the verions tab could use some styling to appear like the other blocks: files/ metadata changes.

[2015-06-05 00:37] pdurbin commented on #2241
Possible duplicate: #2232

[2015-06-05 12:27] pdurbin commented on #1515
["All roads lead to Groups"](https://twitter.com/kentondoyle/status/606516238836211713) was the message from the "Enabling Cross-University Collaboration with Harvard IAM: TIER, InCommon, and Grouper" talk at yesterday's [2015 Harvard IT Summit](http://www.centerdigitaled.com/events/Harvard-University-IT-Summit-2015.html?page=agenda). Meanwhile, it would be very interesting to have other Dataverse

[2015-06-05 14:28] sekmiller commented on #1410
@kcondon
Data file tags appear if they are changed from one version to another.  They are not displayed for a new file.  Should they be? And if they are displayed for a new file should all metadata for a new file be shown?Also, I labeled them as "Category" because that is what they are called internally.  Should I change it to "File Tags" "Tags" Something else?

[2015-06-05 15:31] 4tikhonov opened #2242 "Let users from the same group directly inform each other about changes in the shared dataset"
We want to create collaborative platform where all our researchers will be combined in the specific groups to share efforts and work on the same dataset. Every person from the group should be able to contact other researcher to inform about latest updates in datasets.

Probably the basic "Email Dataset Contact" function can be extended with functionality like that if  person that sharing the same

[2015-06-05 15:33] posixeleni commented on #2242
@eaquigley @mheppler @scolapasta would this be something we could do via our notifications feature but specifically for Groups?

[2015-06-05 15:37] 4tikhonov commented on #2242
Just note that it's really critical for us to have possibility to select people from the list as we have quite a lot of people in our institution collecting data on different countries from the same dataset, for example.

[2015-06-05 15:56] 4tikhonov commented on #2242
At the moment it works like that:
![collabs](https://cloud.githubusercontent.com/assets/704075/8009894/131c93ee-0bac-11e5-8e56-ebfb1411f90d.png)

[2015-06-05 16:05] sekmiller commented on #1410
Changed label to Tag(s) and added more metadata (including tags and "restricted") to new files

[2015-06-05 17:00] kcondon commented on #2020
Global id creation and resolution still work, closing.

[2015-06-05 17:00] #2020 closed

[2015-06-05 17:01] kcondon commented on #1410
Working, closing.

[2015-06-05 17:01] #1410 closed

[2015-06-05 18:02] kcondon commented on #1750
OK, saw versions for css and js. Not sure what the image change would be. Checking with Raman, will reopen if this is an issue. Closing.

[2015-06-05 18:02] #1750 closed

[2015-06-05 18:13] lyndsysimon commented on #2239
We're having the same issue on the OSF. It seems to be coming from the fact that a new SSL cert was issued for the domain `dataverse.harvard.edu`. The cert works for me on my Macbook Air in Chrome, Firefox, and Safari - but it doesn't validate for others in the COS office.

Here's a screenshot of the cert details:

![screen shot 2015-06-05 at 1 28 28 pm](https://cloud.githubusercontent.com/assets/

[2015-06-05 18:21] borsna opened #2243 "Add schema.org markup to Dataset pages"
This would make it easier for search engines to parse information about the title, author, timeperiod etc.

Relevant types to do markup for:
http://schema.org/Dataset and http://schema.org/DataCatalog

Validation and testing of markup can be done on this page:
https://developers.google.com/structured-data/testing-tool/

The markup can be done directly in the html template.

[2015-06-05 18:23] scolapasta commented on #912
Documentation for 4.0 is done, so closing this issue. If any specific issues arise relating, a new issue should be created.

[2015-06-05 18:23] #912 closed

[2015-06-05 18:23] scolapasta commented on #913
Documentation for 4.0 is done, so closing this issue. If any specific issues arise relating, a new issue should be created.

[2015-06-05 18:23] #913 closed

[2015-06-05 18:24] scolapasta commented on #915
Documentation for 4.0 is done, so closing this issue. If any specific issues arise relating, a new issue should be created.

[2015-06-05 18:24] #915 closed

[2015-06-05 18:26] scolapasta commented on #964
Documentation for 4.0 is done, so closing this issue. If any specific issues arise relating, a new issue should be created.

Note: the installation has changed from 3.6 for 4.0, so the above tweaks are no longer relevant. For example, in 4.0 we don't currentl have read-only mode (will need to redocument once we reimplement). Also, the docs are no longer generated per installation, instead pointing

[2015-06-05 18:26] #964 closed

[2015-06-05 18:27] scolapasta commented on #1352
Documentation for 4.0 is done, so closing this issue. If any specific issues arise relating, a new issue should be created.

[2015-06-05 18:27] #1352 closed

[2015-06-05 18:28] scolapasta commented on #1582
Setup harvard script was created.

Documentation for 4.0 is done, so closing this issue. If any specific issues arise relating, a new issue should be created.

[2015-06-05 18:28] #1582 closed

[2015-06-05 18:30] scolapasta commented on #1797
Handing first to @landreev, but this may need to be reviewed by several developers.

[2015-06-05 18:31] scolapasta commented on #917
jvm option configuration setup was documented.

Documentation for 4.0 is done, so closing this issue. If any specific issues arise relating, a new issue should be created.

[2015-06-05 18:31] #917 closed

[2015-06-05 19:10] keflavich commented on #2239
Is there a temporary workaround I can try?  I'm also experiencing this issue.

[2015-06-05 19:13] kcondon commented on #2222
Tested, works on an unpublished draft but throws exception on a published dataset and on a draft of a published dataset. V4.0 failed with an error explaining cannot delete file of a published dataset and worked on a draft of a published dataset.

Stack trace:

[2015-06-05T14:50:25.779-0400] [glassfish 4.1] [WARNING] [] [javax.enterprise.web] [tid: _ThreadID=50 _ThreadName=jk-connector(4)] [timeMil

[2015-06-05 19:20] posixeleni commented on #2243
Related to: https://github.com/IQSS/dataverse/issues/1393

[2015-06-05 19:20] posixeleni commented on #1393
Related to https://github.com/IQSS/dataverse/issues/2243

[2015-06-05 19:26] borsna commented on #1393
I also think the description for each item should be in the <meta name="description"> on landing pages.
right now the same static description is used:

[code]

[2015-06-05 19:41] posixeleni commented on #1311
A user requested that until we can resolve this issue some help text (or pop-up) like what I send to users would be helpful since we ( @suenjedt @sbarbosadataverse ) have received multiple support tickets where the user had no idea where to go and edit the "Subject"

2. Once in your dataset click on the Edit button on the right hand side of the page and select "Metadata" in the dropdown. This is w

[2015-06-05 19:44] posixeleni opened #2244 "Edit Dataset Files - Issue with selecting multiple files to edit"
User reported an issue when trying to click on multiple files:

unexpected behavior report).  I was selecting files to delete for a
version, and if I click exactly on the checkbox button, I am able to
select multiple files.  If I miss the checkbox button and hit any
other part of the file "box" (which is large), *that file* will be
selected, but all others will be unselected.  This makes selection

[2015-06-05 20:03] garthg commented on #2239
Thanks @lyndsysimon for clarifying!

It sounds like the eventual solution is to get a new cert, which makes sense. In the meantime, I just wanted to cast a vote for deploying the temporary fix you suggested (finding the correct CA cert and installing it), because I think all some or all API users are blocked at the moment.

Please let me know if you take any steps here, or make any additional disc

[2015-06-05 20:10] mheppler commented on #1311
Related to #2190.

[2015-06-05 20:11] mheppler commented on #2190
Related to #1311. (Duplicate?)

[2015-06-05 20:19] kcondon commented on #2083
OK, all values correct, closing.

[2015-06-05 20:19] #2083 closed

[2015-06-05 20:27] kcondon commented on #947
OK, metadata blocks still functioning after id change. Closing.

[2015-06-05 20:27] #947 closed

[2015-06-05 21:20] posixeleni commented on #1766
Completed templates given the current functionality available and left notes in the spreadsheet: https://docs.google.com/spreadsheets/d/1Y_y5SbxbZZrCLQOIpTIar236BFjQ18V2hYdX6ZKAjFg/edit?usp=sharing

Any items in the spreadsheet with a red box indicates that I was not able to 100% complete the template copying due to us not having the Terms of Use and Terms of Access in the templates for 4.0.

Will

[2015-06-05 21:20] #1766 closed

[2015-06-05 21:22] posixeleni commented on #1229
Any items in the following spreadsheet with a red box indicates that I was not able to 100% complete the template copying due to us not having the Terms of Use and Terms of Access in the templates for 4.0.: https://docs.google.com/spreadsheets/d/1Y_y5SbxbZZrCLQOIpTIar236BFjQ18V2hYdX6ZKAjFg/edit?usp=sharing

When this functionality is in place someone will need to go in and copy the terms of access

[2015-06-08 12:31] pdurbin commented on #1346
On a related note, I've seeing some [tweets](https://twitter.com/sparrowbarley/status/603572505899618306) about how [Jisc](http://www.jisc.ac.uk/) is conducting an interesting [survey](https://www.surveymonkey.com/s/PTHY5ND) going on right now that mentions "SWORD+" and a proposed API for getting data from repos to journal systems:

![helper-app](https://cloud.githubusercontent.com/assets/21006/80

[2015-06-08 13:14] posixeleni commented on #1346
:+1:

[2015-06-08 15:12] posixeleni commented on #2220
@eaquigley if this document is approved by @mcrosas would you please put this on dataverse.org under Harvard Policies? Re-assigning to you since I will be out.

[2015-06-08 15:13] posixeleni commented on #2187
@scolapasta my mapping instructions are on this comment https://github.com/IQSS/dataverse/issues/2187#issuecomment-103987351 will assign this to you for now since I will not be around for 4.0.2

[2015-06-08 15:35] scolapasta commented on #1841
Can we decide if this is something we want and then confirm the design (just change to checkboxes)?

[2015-06-08 15:37] mheppler commented on #2216
Mock ups, in progress:
https://iqssharvard.mybalsamiq.com/projects/chartingdata-dataverse/grid

[2015-06-08 15:38] scolapasta commented on #2046
We should discuss what exactly we mean for this issue.

[2015-06-08 16:00] eaquigley commented on #829
List of open code available for APIs with ORCID: http://members.orcid.org/api/code-examples

[2015-06-08 16:12] garthg commented on #2239
Hi @lyndsysimon and @pdurbin ,

I hope you both had a good weekend. Unfortunately, I'm pretty much blocked by this at the moment, so I wanted to check and see if either of you had any updates on it, either for a fix or for a temporary workaround. Anything new here?

Thanks for your help!

Garth

[2015-06-08 18:00] mheppler commented on #92
FRD: https://docs.google.com/document/d/1P4HOUuJEoPfU06-4R9xP0nRFapNyZUg5xnjYNVRvFik/

[2015-06-08 18:00] lyndsysimon commented on #2239
I've not had time today to investigate further, but I found a resource on Friday that seemed to indicate that the problem could be solved by bundling additional intermediate certificates.

http://www.acns.colostate.edu/files/UnderstandingInCommonSSLCertificateChains.pdf

[2015-06-08 18:03] mheppler commented on #92
Mock ups: https://iqssharvard.mybalsamiq.com/projects/groupsui/grid

[2015-06-08 18:05] garthg commented on #2239
Hi @lyndsysimon , thanks for the update. That pdf does seem to suggest that the currently-breaking certificate could be made to work by somehow causing the Dataverse server to link it with an already-trusted certificate, but I'm not so familiar with how that works. Please let me know if you figure anything else out with this stuff!

[2015-06-08 19:26] garthg commented on #2239
Hey,

My test for this just started passing. Did a fix or workaround just get implemented? If so, thank you very much!

Garth

[2015-06-08 20:00] michbarsinai commented on #2102
Added file metadata copying to the CreateDatasetVersionCommand.
Over to QA - there's a new folder: /scripts/issues/2102, with some scripts file to get the testing started (compose the curl commands etc). There is also a son file to post.

[2015-06-08 20:03] michbarsinai commented on #2102
Also, QA: database state file is also in that folder, so you can generate the starting conditions of the database. It does not include the file itself - not sure if that matters.

[2015-06-08 20:09] akio-sone commented on #2165
There are at least two issues within the modified installer of branch 4.0.2: the path setting of VersionNumber.properties lacks "main" portion and the regex that tries to match the version string should be "version.number" instead of "dataverse.version"

[2015-06-08 20:12] pdurbin commented on #2239
@garthg I just heard that the cert was worked on, so if you're saying it's fixed, that's great! For my part, I repeated by `curl` test and I'm no longer seeing any cert errors.

[2015-06-08 22:25] michaelsuo commented on #1506
@scolapasta what info should the API expose? Right now I have the id of the `DataverseFacet` and the display name of the `DatasetFieldType`.

[2015-06-08 23:21] landreev commented on #2165
Thanks Akio - will fix shortly.

[2015-06-09 03:21] landreev commented on #2165
OK, fixed.

[2015-06-09 14:54] garthg commented on #2239
Hi @pdurbin , yep it looks like it's working! Thanks to all those who helped resolve this so quickly!

[2015-06-09 14:54] #2239 closed

[2015-06-09 16:41] landreev commented on #2165
Thinking about it, the installer shouldn't be relying on the number in versionNumber.properties.
Reading the pom.xml file should be more reliable - as the war file is guaranteed to contain the version number from the pom file in its name.
The versionNumber.properties should be auto-generated from the pom file somehow - maybe?

[2015-06-09 17:50] bppmit commented on #2218
Update: it does not appear to be a problem exclusively of Stata 13 files. Large Stata 12, and 11 files have similar issues. We are currently trying to solve problems in a related dataset. https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/E4NE50&version=DRAFT
File size seems to be the problem. Thanks

[2015-06-10 11:20] 4tikhonov opened #2245 "API endpoint as new object type in Dataverse"
Problem statement
During community meeting it was big discussion how to describe, store and process Big Data (petabytes of data) in Dataverse.

Suggestion
Dataverse data model should be extended with new object called "API" that will keep the information about all API endpoints and will allow to add technical specification how to use specific APIs.

Solution

Prototype
I used our our project API e

[2015-06-10 14:04] 4tikhonov commented on #2245
Phil, I'm attaching the drawing I've showed you yesterday (sorry for low quality of the image).
I'll explain the vision and idea behind today.
![img_0406](https://cloud.githubusercontent.com/assets/704075/8084223/38c778ac-0f8a-11e5-9dc7-99df10e690ba.JPG)

[2015-06-10 17:34] pdurbin commented on #1059
@lwo this is the issue I was telling you about and you're right that "Here be dragons!" if you run `export OPERATING_SYSTEM=debian` before you run `vagrant up`. Don't let that scare you, though! Please feel free to send us a pull request, even with the Puppet stuff we talked about at the [community meeting](http://projects.iq.harvard.edu/dataverse-community-meeting)! :)

For my part I run Ubuntu a

[2015-06-10 17:47] pdurbin commented on #2245
@4tikhonov as we discussed, **perhaps** we could think about defining a different kind of dataset, perhaps similar to a "harvested" dataset. It sounds like you're going to do some more thinking and prototyping. Also, perhaps the functionality you're looking for could be built into a separate "microservice" that runs alongside Dataverse, rather than being part of the Dataverse code itself.

[2015-06-10 17:52] eaquigley opened #2246 "Guides: Add Functional Requirements Documents to Guides"
Brought up during Dataverse Community Meeting. Would be great to add FRDs after development is completed to the guides so they aren't behind google drive and are easy to access as while as read.

[2015-06-10 20:26] dpwrussell opened #2247 "External References & API Interaction"
Hi,

Especially for fields where there are vast amounts of data and/or non-file-based representations, I think there is a requirement to reference globally unique IDs in a external repository instead of importing the data into Dataverse. This would be up to the owner of the Dataverse to determine which external repositories were eligible to fulfil the contract required by Dataverse to maintain dat

[2015-06-10 20:27] dpwrussell commented on #2247
I realise that there is probably some crossover with #2245

[2015-06-10 20:33] 4tikhonov commented on #2245
Well, I've just intended Breakout Session for Metadata curation and have beautiful idea to extend Metadata section with extra field called API. What is the best way to create new metadata fields in Dataverse?

[2015-06-11 03:31] 4tikhonov commented on #2247
Yes, this is exactly the same topic of discussion how to store API endpoints with metadata descriptions and technical specification in Dataverse.

[2015-06-11 11:05] nmedeiro opened #2248 "Software field in metadata displaying version instead"
In the conversion to 4.0, the software field, which in our case always encoded "Stata" appears with the version instead (12).  The resulting display reads

12, Version: 12

[2015-06-11 13:56] eaquigley opened #2249 "File Hierarchy: I want to be able to preserve my dataset's files' directory structure, for easy import, computation, and navigation."
User community request to be able to organize files in a dataset in a hierarchical manner so when a user exports files from Google Drive, Dropbox, or [OSF](https://osf.io) (or any other location), the file structure is maintained without causing the user extra work on the Dataverse side.

[2015-06-11 14:09] dpwrussell commented on #2249
One highly related thing which is extremely prevalent in microscopy and I would guess other fields, is that in addition to encoding metadata into the directory hierarchy, they have also encoded it into the filenames, usually underscore separated.

E.g. ```/usr/people/bioc0759/data/EB1-posterior-polarity/EB1-Colcemid-UV-inactivation/RMP_20090228_colcemid_UV_inactivation/rmp_20090228_colcemid-6hrs_E

[2015-06-11 14:10] dpwrussell commented on #2247
Closing in favour of #2245

[2015-06-11 14:10] #2247 closed

[2015-06-11 14:16] dpwrussell commented on #2249
It might be useful to have a look at this tool, built for the Open Microscopy Environment. The UI is not beautiful, but it does this kind of metadata extraction into Tag Annotations: https://www.openmicroscopy.org/site/products/partner/omero.webtagging/

[2015-06-11 14:49] umeditor opened #2250 "Error when trying to explore tabular data"
Clicking "Explore" gives me this error message:

![error](https://cloud.githubusercontent.com/assets/206762/8109852/07604ad0-1027-11e5-905a-c0e81f87d03e.png)

? There was an error making hte request. xmlhttprequest status is 0.

I'm running Google Chrome Version 41.0.2272.101 (64-bit) on Mac OS X 10.9.5.

To recreate:
1. Goto https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/CGKY

[2015-06-11 15:24] kcondon opened #2251 "Geoconnect: provide heartbeat link to allow service monitoring of geoconnect and worldmap"
We have been seeing availability issues with the Geoconnect/ Worldmap function and would like an automated way to monitor and measure the availability of both services.

---

### Notes:
  - This is a dataverse codebase change

[2015-06-11 16:21] landreev commented on #2250
Hi,
Please try again.
TwoRavens, the data explore application, was upgraded last night. It turned out that it introduced some issues, that affected some datasets. We have just put in place some fixes.
Please let us know if it is working for you now.

[2015-06-11 17:05] umeditor commented on #2250
Looks good.

[2015-06-11 17:05] #2250 closed

[2015-06-11 18:08] eaquigley commented on #2021
Request from community to be able to set a tag for all files in a dataset at one time. For example, if a user is uploading 25 files at once and wants them all to have the same tag without having to click edit tags for each file.

[2015-06-11 18:15] eaquigley opened #2252 "Notifications: Deleting notifications does not update UI until page refresh/reload."
Seen in demo and production on macbook. Click on the X to delete the notification and it does nothing. Notification does not disappear.

[2015-06-11 18:21] eaquigley opened #2253 "Metadata Fields: General Information Page, Checking Box when Metadata Domain Fields are Showing"
Seen during training. View fields for Life Sciences, check box to select it, stays gray and cannot hide or select fields as required.

[2015-06-12 14:39] scolapasta opened #2254 "Group identifier needs tool tip to explain why it's important"

[2015-06-12 14:40] scolapasta opened #2255 "Permissions page: explain relationship between the access settings and the user/groups"

[2015-06-12 14:40] scolapasta commented on #2255
Mentioned by @bencomp during a demo.

[2015-06-12 14:41] scolapasta commented on #2254
Mentioned by @bencomp during a demo.

[2015-06-12 14:45] scolapasta commented on #2255
Another coomment - more explanation about the inheritance of role and grouops (through child dataverses)

[2015-06-12 14:46] scolapasta opened #2256 "Templates: link for editing general info does not work"
It used editMode in the URL., but editModes are not currently guaranteed to work from the URL.

[2015-06-12 14:57] #1842 closed

[2015-06-12 14:58] scolapasta opened #2257 "Cannot deselect guestbook for a dataverse"

[2015-06-12 14:59] scolapasta commented on #2257
Noticed by @bencomp during a demo.

[2015-06-12 15:18] scolapasta opened #2258 "Keyword change not showing up in View differences"

[2015-06-12 15:18] scolapasta commented on #2258
Noticed during demo.

[2015-06-12 18:51] bencomp commented on #2254
And @eaquigley was there too.

As a user, when I create a group in the Permissions view, I have to enter both an identifier and a name for the group. As well as some confusion about the requirement for a group identifier itself, I found it not obvious to first give the identifier and secondly the group name. If you first create a group name, perhaps the group identifier could be suggested based on

[2015-06-12 18:58] bencomp commented on #2255
And @eaquigley was there too :)

As a user managing permissions for a dataverse, I found it not so obvious that the "edit access" section is a shortcut for the more generic role/permission assignment in the second section.

For example, why does the top section only allow the contributor and curator roles? How the top section is expanded by default and the second section is collapsed suggests that

[2015-06-12 19:03] bencomp commented on #2257
It appears that a guestbook is selected via a radio button instead of a checkbox. If there is just one guestbook, and it is selected, you cannot deselect it after saving.

[2015-06-12 21:32] bencomp commented on #2165
I'm running into the Vagrant related mentions currently.

@landreev agreed that this dependency shouldn't be there! On a related note: I've mentioned the [Maven Release plugin](http://maven.apache.org/maven-release/maven-release-plugin/) before to @pdurbin. It does cool stuff, but maybe not "generate a file that contains the version number" (or [does it?](http://maven.apache.org/maven-release/mave

[2015-06-12 21:44] landreev commented on #2165
That property file's main purpose is for the Application to know, at run time, what its own version number is.
So yes, I'd say it is necessary - unless there is a cleaner/easier/more standard way.
It's just that, ideally, it should be auto-generated from, and dependent on, the main pom file.

What kind of problems are you running into? Is it just that the number in the properties file is different

[2015-06-12 22:05] bencomp commented on #2165
It seems that increasing the version in the pom.xml worked. Naturally this should be the source of all other version number references :)

[2015-06-12 22:46] landreev commented on #2165
Yes, sure, it should only be maintained in one place. We'll (or I will) change this setup accordingly.

I am confused though - I really thought I had already increased the number in pom.xml to 4.0.2 in that branch... But maybe I didn't.
Could you please push your pom.xml into 4.0.2? (I'm working on a different branch right now).
Thanks.

(and, as a reminder for everybody, pom.xml should be modifie

[2015-06-14 16:33] lwo commented on #1059
Sir @pdurbin: I'll begin forging a module once I get a go head.

[2015-06-15 13:52] tokeefe opened #2260 "Move guestbook up the user story"
The ability to capture additional information about users is important to decide who should be granted access to a restricted file, or files. I propose that the Guestbook should be presented when the user requests access to restricted files, not when the user attempts to download these files.

[2015-06-15 13:59] tokeefe opened #2261 "Access request date/time not visible, recoverable"
I propose adding a timestamp column to the permissions editing panel to reveal when a user submitted a request to access a restricted file, or files. Alternatively, adding the user's name to the automated email would make this information recoverable.

[2015-06-15 14:07] tokeefe commented on #2260
Sorry this is a duplicate of #2043

[2015-06-15 19:14] scolapasta opened #2262 "Stata: investigate handling of values for factor"
Currently, we store the number value for the factor, but Two Ravens needs the label.

Add an API that when getting these values, you can decide for either number or semantic value.

[2015-06-15 19:19] scolapasta opened #2263 "Add ingest of TSV file"
Use the same infrastructure for CSV.

[2015-06-15 19:21] scolapasta opened #2264 "Some excel files don't go through ingest process."
When uploading an excel file, the code doesn't even try to ingest the file and treats like any other file.

[2015-06-15 19:21] scolapasta commented on #2264
@sbarbosadataverse will add some sample files to review.

[2015-06-15 19:22] scolapasta opened #2265 "Documentation: update user guides with list of all files supported for ingest"
A list of all file formats and accepted versions.

[2015-06-15 19:29] scolapasta opened #2266 "Allow users to select additional metadata for tabular metadata"
preselect default model to be used with TwoRavens
set variable type or attributes

[2015-06-15 19:33] scolapasta opened #2267 "Add an ability to link data files by certain variables"
In this way the user would be able to use tools like TwoRavens across multiple data files.

[2015-06-15 19:34] scolapasta commented on #2267
This is related to the Provenance functionality for linking data files.

[2015-06-15 19:41] scolapasta opened #2268 "Add threshold size for ingest file"
We have seen issues with large files failing ingest and know they may cause issues. So we should determine the right logic for this threshold and a) not ingest it, b) provide good feedback to user, explaining what happened.

[2015-06-15 19:42] scolapasta commented on #2268
Please review how we return this feedback to the end user (could be a notification).

[2015-06-15 19:47] scolapasta opened #2269 "Determine how best to present which "apps" to show for which files"
We need to decide if we will configure this at the dataverse, dataset, or data file level (or multiple).

[2015-06-15 19:53] scolapasta commented on #2229
For this, we should add a better notification or feedback to the user on why this failed (since they will have to go in and fox the issue in their csv file)

[2015-06-15 20:47] landreev opened #2270 "Minor update of tworavens/r documentation"
Update the doc and the installer scripts, incorporate what we've learned in the most recent tworavens upgrade:
lists of dependencies with specific versions;
disable directory listing on the dataexplore directory;
more? ...

[2015-06-15 21:22] 4tikhonov opened #2272 "Service to extract data from images and papers and store as dataset in Dataverse"
I've discovered the way to extract datasets from almost any scans or printed media in the tabular form. Data can be pushed back to Dataverse storage.

Typical use case: user can upload some image in own dataverse and click on "dataset extract" button. If there are some values in the scan it can convert all data in Excel file (for example) and store it in the same dataverse as separate file with th

[2015-06-15 21:25] 4tikhonov commented on #2264
We also faced the same problem with our datasets. I think it has something to do with sheet ID that by default probably is 0 but can be different in Excel files.

[2015-06-15 22:15] kcondon commented on #2121
I was not able to reproduce this with the above links. Closing as resolved.

[2015-06-15 22:15] #2121 closed

[2015-06-15 22:27] kcondon opened #2273 "Delete File: File tags prevent files from being deleted. Remove tag and delete works."
Delete File: File tags prevent files from being deleted. Remove tag and delete works.

[2015-06-16 14:13] wfarnum commented on #2185
Just got back from being sick for a week. Pheidole set is now published. We to be able to search the contents of the file. Thanks for your help.

[2015-06-16 14:43] pdurbin commented on #2185
@wfarnum sorry to hear you were sick! I just looked at http://dx.doi.org/10.7910/DVN/HMAFSD and it is indeed published. It sounds like you're all set so I guess we could close this issue (I'll let @posixeleni or @scolapasta or someone else decide) but I'd like to note that there is no special indexing of the contents of the "Dataverse Pheidole Data.tab" file in question. By this I mean that the sy

[2015-06-16 16:03] pdurbin commented on #2272
When I think of extracting from documents I think of Tika ( https://tika.apache.org ) but the Tika use case, from what I understand, is mostly about extracting text from indexing and search purposes.

This sounds different. You upload a PNG or PDF or Word doc to this service and it gives you an Excel file back. The software finds the tabular data for you. It sounds neat. I do agree that it probabl

[2015-06-16 17:45] pdurbin commented on #2046
Related: [2015-04-30 Dataverse User Accounts and Auth Meeting](https://docs.google.com/document/d/157sw9gaFGwrb0EtCGGlLMxSg0cooHfKEvIsjcebPcA8/edit?usp=sharing)

[2015-06-16 18:54] eaquigley opened #2274 "Robots txt: Enable Google"
Need to enable Google in the robots.txt file so datasets can be discovered in Google Scholar: https://dataverse.harvard.edu/robots.txt

[2015-06-16 19:16] kcondon opened #2275 "File Ingest: CSV ingest does not seem to be working."
Tested with the original test file provided by Leonid from redmine, https://redmine.hmdc.harvard.edu/issues/3750

collier-1740.csv

Also created a very simple csv file:

One,Two,Three
1,2,3
1,2,3
1,2,3

[2015-06-16 21:06] 4tikhonov commented on #2272
No, there is Tabula engine and it's working fine. The only task is to build web service around it to upload documents and download tabular data. If community thinks it's good idea to extend the basic functionality with feature like that I can create it.

[2015-06-17 00:38] pdurbin commented on #2272
@4tikhonov thanks for [clarifying](http://irclog.iq.harvard.edu/dataverse/2015-06-16#i_20914) that you mean https://github.com/tabulapdf

From digging around in old emails I'm realizing that @posixeleni first pointed out a [blog post about Tabula](https://source.opennews.org/en-US/articles/introducing-tabula/) in early 2013! Back then she linked to a demo at http://tabula.nerdpower.org but it seem

[2015-06-17 13:14] jeremybmerrill commented on #2272
Just wanted to say hello -- I'm one of the maintainers of @tabulapdf, along with @mtigas and @jazzido, which extracts tabular data from PDFs. We're obviously big fans of Moz Science. Let me know if there's anything we can do to help.

Our project is in a bit of flux right now -- we're almost (but not quite!) done replatforming the extraction engine from JRuby to Java. Next on the list after that i

[2015-06-17 13:30] eaquigley commented on #2274
Passing to QA. @kcondon let me know this was changed.

[2015-06-17 13:52] pdurbin commented on #2274
I noticed https://github.com/IQSS/dataverse/blob/4.0.2/src/main/webapp/robots.txt was not changed so I think what's happening is that we want robots.txt to block Google for all the **test** instances of Dataverse. That is, Google is blocked by default. For a **production** instance I assume there's some procedure for letting Google crawl a Dataverse instance. Probably this should be documented som

[2015-06-17 13:52] eaquigley opened #2276 "Manage Templates Page: Square Around Text is Missing"
When a user has no templates and the help text is showing, there is no box around it like there is for an empty Guestbook page. This needs to change so there is a box around it.

![guestbookbox](https://cloud.githubusercontent.com/assets/5922904/8208605/7e78efb0-14d6-11e5-8496-d807a58cd95a.png)
![templatenobox](https://cloud.githubusercontent.com/assets/5922904/8208613/8336deea-14d6-11e5-8b2d-ce13

[2015-06-17 14:45] kcondon commented on #2274
I did not realize this file was checked in. Seems like a hassle. I directly changed the robots.txt file in production to resolve the request but if I'm reading you right, this will be overwritten during the next deployment.

________________________________
From: Philip Durbin [notifications@github.com]
Sent: Wednesday, June 17, 2015 9:52 AM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [datav

[2015-06-17 15:23] sekmiller opened #2277 "EZID Service Bean: Modify Logging To include Warnings when processes fail"
When connections to EZID server or create/modify identifier fail, we are only putting INFO into the log not WARNING. We should make them warnings

[2015-06-17 18:11] pdurbin commented on #2200
I added a list of possible places to show the hostname in the description of this issue and asked the dev team to add to the list.

[2015-06-17 19:42] pdurbin commented on #2191
## Option 1: Always show the full title

The most straightforward way to make the full title always shown is to simply never show the version with highlights. It would look something like this:

![root_dataverse_-_2015-06-17_15 17 39](https://cloud.githubusercontent.com/assets/21006/8216449/9e1562e4-1504-11e5-9e66-8d4e521db692.png)

Note that the word "Garrison" in the title is no longer in bold.

[2015-06-17 20:02] kcondon opened #2278 "Move Dataverse: Allow super user to move a dataverse and reindex it and all child objects."
I've recently received 2 separate requests to move dataverses through the DB. The moving part is easy -just change the owner id of the dv to be moved. To make it visible in the new location, you need to index the dv, then index all sub dv's and sub datasets individually.

I know this was originally a feature but I'm asking for it as a super user tool that includes indexnig for now until the bigger

[2015-06-17 20:07] kcondon opened #2279 "Index Utility: Allow (re)indexing of an arbitrary list of dv objects"
Since indexing can be a costly operation and we occasionally have need of (re)indexing datasets and dataverses such as in moving them, related #2226, #2278, it would be good to also have an index utility that accepts an arbitrary list of dv object ids and it will reindex them.

[2015-06-17 20:13] pdurbin commented on #2278
Related: #283 and the "[Implications of moving dataverses and datasets](https://docs.google.com/document/d/1W8AXMtFJ32XCILCe1PX2BTIER6hxGiOLZMLhbFPQe7A/edit?usp=sharing)" doc.

[2015-06-17 20:16] bencomp commented on #2277
Agreed :)

[2015-06-17 20:28] bencomp commented on #2269
This sounds like a UI related task? Do I hear Appiverse? :)

[2015-06-17 22:14] mcrosas commented on #2269
:+1:

[2015-06-17 23:43] 4tikhonov opened #2280 "VMWare image with preinstalled Dataverse instance"
It can be really helpful for the community to provide image that can be downloaded in imported in VMWare (for example). We're busy with testing a lot of features and developing really experimental stuff so this image with installed and configured Dataverse, SOLR, postgresql and other stuff can be really useful for QA testing, also people can test new features in their own sandbox.

I used to contr

[2015-06-18 00:17] pdurbin commented on #2280
Just this week someone was asking about VMWare images at https://help.hmdc.harvard.edu/Ticket/Display.html?id=217494

It sounds like @4tikhonov is willing to make the first one at least: http://irclog.iq.harvard.edu/dataverse/2015-06-18 :)

[2015-06-18 04:17] abhiiiss commented on #2280
Thanks for starting this thread. Having VM will be great for us as we need not to select Linux Distribution and get rid of looking for several dependency files.
And if we can just press
sudo ./install
its all done...

[2015-06-18 04:23] din2011 commented on #2280
Can somebody provide something like this for Dataverse version 4.0 ? https://github.com/dvn/dvn-install-demo

[2015-06-18 06:11] 4tikhonov commented on #2280
I also think it will be nice to run demo Dataverse 4.0 instance on Amazon EC2. Something like that:
https://aws.amazon.com/marketplace/pp/B00A6KUVBW/ref=mkt_ste_l2_ec2_f1?nc2=h_l3_c

People can do their tests in the realtime and every day the virtual server can be reset to the initial state.

[2015-06-18 11:37] pdurbin commented on #2280
@din2011 I replied at https://github.com/dvn/dvn-install-demo/issues/4#issuecomment-113098107 as well but this "dataverse" git repo already has a Vagrantfile in the root. That means you should be able to run `vagrant up` and get a working Dataverse installation at http://localhost:8888 per http://guides.dataverse.org/en/4.0/developers/tools.html#vagrant

[2015-06-18 16:11] bencomp commented on #1346
DANS has a very similar use case for Dataverse to act as a SWORD client, namely to transfer datasets to a Trustworthy Digital Repository.

We have been working on detailing the use cases and requirements for this functionality; a pretty stable (though never finished) PDF report can be found [here](https://surfdrive.surf.nl/files/public.php?service=files&t=7f1a3ed92bdfaaa6092415b0c11e8084).

[2015-06-18 16:20] pdurbin commented on #2165
@bencomp doesn't have push access to to repo but I just merged his pull request: #2259

[2015-06-18 17:12] kcondon opened #2281 "Dataset File Request Access: Support/integrate custom approval forms into restricted file access workflow."
MRA and Harvard Population Center/ Work and Family are dataverses that have a lot of restricted files and require a custom form to be approved before access to restricted files can be granted.

Currently, this custom form is external to Dataverse, on their projects' sites, and users are directed to the form via a link in the dataset metadata.

Ideally, these use cases can be integrated into our no

[2015-06-18 17:17] eaquigley commented on #2215
I'd like us to try out 300-350 characters and see how it looks with descriptions and if that fills out the white space we see a lot of.

Passing to @pdurbin to take a look at.

[2015-06-18 18:03] eaquigley commented on #829
FRD for this has been worked on by @suenjedt and myself. Link here: https://docs.google.com/document/d/1bAkeEF72MBpy8AHEABasc8SO2RcRmhnQ9D71pXGjkkI/edit?usp=sharing

[2015-06-18 18:03] eaquigley commented on #923
FRD for this has been worked on by @suenjedt and myself. Link here: https://docs.google.com/document/d/1bAkeEF72MBpy8AHEABasc8SO2RcRmhnQ9D71pXGjkkI/edit?usp=sharing

[2015-06-18 18:05] raprasad opened #2282 "Users with multiple roles for the same DvObject"
In the "thedata" postgres db, there are 25 users with either 2 or 3 roles for the same DvObject.

The concept of ```One User / One Role / One DvObject``` is not enforced at the database level and there appear to be instances of the concept breaking down in actual data.

Results from the 1st query below may be found in this [google doc](https://docs.google.com/a/harvard.edu/document/d/1dysi9jEPLWtI

[2015-06-18 18:08] bencomp commented on #2237
I think @pdurbin just stumbled across this too when we were looking at docs.

[2015-06-18 18:12] pdurbin commented on #2282
@raprasad are you thinking the enforcement should be done with a database constraint? I see you assigned this to @scolapasta so I'm assuming someone already has some ideas of how to fix this.

[2015-06-18 18:13] raprasad commented on #2282
Gave to @scolapasta for review.  If there's logic in the code that allows this, that should be fixed too.  Not sure if this is new or migrated data

[2015-06-18 18:22] kcondon commented on #2237
The steps to update weld in the installation guide are on the prequisites page:
http://guides.dataverse.org/en/latest/installation/prerequisites.html

I've repeated the contents but updated the links and changed one step, I delete the original weld file rather than rename it since the system doesn't care about the file name, just looks for the libraries.

This is what it should say:

Required Glas

[2015-06-18 18:25] pdurbin commented on #2237
I didn't realize SP1 was out so we should probably update Vagrant to use that version instead of this one:

murphy:dataverse pdurbin$ grep weld downloads/download.sh
curl -L -O http://search.maven.org/remotecontent?filepath=org/jboss/weld/weld-osgi-bundle/2.2.10.Final/weld-osgi-bundle-2.2.10.Final-glassfish4.jar

[2015-06-18 18:26] garthg commented on #2191
Thanks @pdurbin for this great breakdown. For my project, it's preferable to have the full title always (your Option 1), and even better if it also includes highlighting.

However, I could also see our use case being satisfied with a larger cutoff for the title fragment such that the fragment usually included almost all of our titles. Our titles appear to be usually between 100-150 characters, so

[2015-06-18 18:29] bencomp opened #2283 "Installation and/or administration guide should list configuration options"
To help setup and maintenance of a Dataverse installation, a guide should list and explain configuration items, i.e. settings, paths on the file system, connection strings, passwords, etc.

Some things I came up with for DataverseNL's in-Dataverse settings are:
- API tokens obligatory? #1838
- who are superusers?
- what email address is behind Dataverse Support
- what to search by default: Dataver

[2015-06-18 18:34] pdurbin commented on #2191
@garthg oh sure. We've been discussing this internally as well. Option 1 seems to be ahead but I plan to deploy branch to a test server so we can make sure we like it. For consistency, I'll remove highlighting from the names of dataverses and files as well.

[2015-06-18 18:42] garthg commented on #2191
@pdurbin Great! Thanks for the update.

[2015-06-18 18:47] pdurbin commented on #2282
Wait. I'm confused. It's a **feature** to be able to have more than one role for a DvObject as long as they are different roles, right?

[2015-06-18 21:04] mcrosas commented on #923
:+1:

Let's plan a review with someone from ORCID and Alberto Accomazzi

[2015-06-18 21:07] suenjedt commented on #923
I already contacted ORCID-Liz and will set up the meeting once I know more about her agenda.

[2015-06-18 21:26] kcondon opened #2284 "Stats: Create a way to voluntarily, automatically record when a new Dataverse goes online."
People have asked about keeping track of Dataverse installations. Why don't we automate this but on a voluntary basis? Perhaps a "join the network" feature or register for news or something like that?

[2015-06-18 21:42] eaquigley commented on #2284
This could tie in with a request I've received to be able to check off if an installation wants to be harvested or not. If they allow harvesting then we will know about them and be able to aggregate installations that way.

On Jun 18, 2015, at 5:26 PM, kcondon <notifications@github.com<mailto:notifications@github.com>> wrote:

People have asked about keeping track of Dataverse installations. Why d

[2015-06-19 20:45] mcrosas commented on #2200
I moved this issue to In Review, so we consider it for a release, and decide whether it needs first some design.

[2015-06-19 22:22] landreev commented on #2237
Fixed the weld patch instruction, pushed into 4.0.2. (will update the prod. version doc on guides.dataverse.org on Monday).

[2015-06-20 22:24] 4tikhonov commented on #2280
Well, I've installed Dataverse 4.01 on Ubuntu 14.04 and already did all QA tests. It's working fine so just let me know if you're interested to get the virtual image. Phil, probably you have some special space in the organization where I can upload it or I can just share Dropbox folder?

And second question: I can fill virtual image with some datasets just to make quick demo of the functionality o

[2015-06-21 02:51] abhiiiss commented on #2280
This is Great!
An empty one will be great...
Love to get Dropbox link...
Regards
Abhi
On 21 Jun 2015 03:54, "Vyacheslav Tykhonov" <notifications@github.com>
wrote:

[2015-06-22 13:51] pdurbin commented on #2280
@4tikhonov thank you very much for producing a VMWare image of Dataverse! Let me check with @mcrosas and @eaquigley if they think we can stick it somewhere on http://dataverse.org . I assume we'd flag it as "community contributed" or something but otherwise I think we'd be happy to put it somewhere under the main Dataverse domain. I'll give this to @eaquigley for consideration.

[2015-06-22 19:17] eaquigley commented on #2236
After discussing with @posixeleni, we have come up with a solution and I created this as a ticket in OSF's repo. https://github.com/CenterForOpenScience/osf.io/issues/3255

Closing ticket.

[2015-06-22 19:17] #2236 closed

[2015-06-23 01:17] abhiiiss commented on #2280
Hi @4tikhonov,  can u please share Dropbox link to enable  me testing
immediately. Or we need to wait till it gets a place in Dataverse.

@4tikhonov <https://github.com/4tikhonov> thank you very much for producing
a VMWare image of Dataverse! Let me check with @mcrosas
<https://github.com/mcrosas> and @eaquigley <https://github.com/eaquigley>
if they think we can stick it somewhere on http://datav

[2015-06-23 15:17] eaquigley opened #2285 "Request Access for Files: Admin View Usability Issues"
Few usability issues that need to be fixed for the Admin view of a dataset page when there are restricted files.

1) If an admin has restricted files and enabled the request access button, the message they are seeing in the Terms tab for the request access button field is, "Users may not request access to files." This is very confusing. Though it may be true that a user cannot request access to th

[2015-06-23 16:35] pdurbin commented on #2280
I'm fine with @abhiiiss trying out the VMware image @4tikhonov created before we post it somewhere under dataverse.org. It would be a good sanity check. I don't think the Dataverse team has a great way to test a VMware image anyway.

[2015-06-23 17:57] pdurbin commented on #1934
[Yesterday in #glassfish](http://javabot.evanchooly.com/logs/%23glassfish/2015-06-22) on freenode @phillipross was making the point that iptables can be used for port forwarding. This is something I could play around with in Vagrant some day, perhaps, but as of this writing we're hoping to reintroduce Apache in #2180 in order to restore Shibboleth support for #2117. That is to say, I probably woul

[2015-06-23 19:20] 4tikhonov opened #2286 "Data Science Workspace"
We're developing different applications to analyze our data and I think it can be quite useful to create something like Data Science Workspace to share all tools for the community.

We're mining a lot of interesting stuff like historical names of countries, different variables, etc directly from datasets stored in Dataverses and creating Open Data APIs based on the extracted data.

There is one of

[2015-06-23 19:25] 4tikhonov commented on #2280
Well, I can upload the image to Dropbox of course, there is no problem. The only thing there is functionality to send different mails around Dataverse and I need to figure out how to make it work after the import of the VMware image.

[2015-06-23 19:27] pdurbin commented on #2286
@4tikhonov it's neat that you're creating new APIs. To be clear, I assume these APIs are something you're building on the side in Python or something... they make SQL calls into the database.

For IPython stuff see #2210.

[2015-06-23 19:34] 4tikhonov commented on #2286
Well, the point is that doesn't matter how it works on backend side (it can be file, SQL or noSQL), we just need API endpoint to be able to query it and combine results with other endpoints from different datasets. This is a way to slice a data in specific sets and create 'super' dataset from different data files uploaded in Dataverse. We also need data quality check for every dataset and it can b

[2015-06-24 08:01] CathyGarlick commented on #2021
Hi All - is there an estimate of when this feature to be able to sort by tags will be implemented? If it's likely to be soon (within the next month) then I'll wait; if it's likely to be several months then I'll look into renaming the files so that they appear in the order we want when sorted alphabetically.

Many thanks

[2015-06-24 13:55] mcrosas commented on #2021
As of now, we are considering this for Milestone 4.0.3, which is planned for August 4.

We'll review this with @scolapasta and @eaquigley this week to confirm.

[2015-06-24 20:45] mcrosas commented on #2285
:+1:

@eaquigley  shouldn't we remove the "Status: Design" and use the "Milestone: In Design" instead?

[2015-06-24 22:58] kcondon opened #2287 "Documentation: Add info on configuring Google Analytics to installer's guide."
Currently there is no explicit info on how to config Google Analytics in the guides. Basically add the key to the settings table.

[2015-06-25 15:10] eaquigley commented on #2216
@raprasad can you move this issue into the data viz github repository and assign to the appropriate intern

[2015-06-25 15:13] eaquigley commented on #2205
Things to add into Dataverse:

[ ] Add a way to have users request access to multiple files at one time
[ ] Only send one email to a dataverse admin for a single user requesting access to multiple files

[2015-06-25 15:20] eaquigley commented on #2192
Need to discuss this during a UI/UX team meeting to brainstorm ideas on how to show more file metadata without being overwhelming in the file card on the dataset page. Perhaps having a files metadata section in the metadata tab. @mcrosas @mheppler

[2015-06-25 15:23] mheppler commented on #2193
This is a duplicate of #1320.

[2015-06-25 15:25] mcrosas commented on #2192
After reviewing it with @eaquigley and @mheppler we plan to move this to 4.0.3.

[2015-06-25 15:33] eaquigley commented on #2148
Need to set up a meeting to discuss a few things with guides. For example, moving Dataverse guides to a different repo so others can easily fork it and make their own documentation.

[2015-06-25 15:33] mheppler commented on #2205
Related to/duplicate of #1476 #639 #1988 #1951 and probably a few more that involve files and checkboxes and "select all" on the dataset.

[2015-06-25 15:38] mcrosas commented on #2146
To be reviewed with @thegaryking

[2015-06-25 15:47] eaquigley commented on #1311
Need to have a meeting ASAP to finalize ideas for both this and #2602

[2015-06-25 15:48] eaquigley commented on #2043
FRD and mock up needs to be done

[2015-06-25 15:52] eaquigley commented on #2026
Should we have a limit to how many files a user can download? How do we display this in the UI?

Need to review during a UI/UX meeting.

[2015-06-25 15:54] mheppler commented on #2026
Related to/duplicate of #2205 #1476 #639 #1988 #1951 and probably a few more that involve files and checkboxes and "select all" on the dataset.

[2015-06-25 16:00] eaquigley commented on #1683
@vjdorazio can you let us know if the subset for a citation is happening with TwoRavens?

[2015-06-25 16:13] mheppler commented on #2276
Added Bootstrap border styling and containing div element to the "no templates" view.

[2015-06-25 16:45] mheppler commented on #2208
Added "> 0" render to resultsTable on search-include-fragment, to keep "No records founds" from displaying in empty dataverses/search results.

[2015-06-25 19:04] kcondon opened #2288 "Installer: Update installer script to change the final message to indicate correct port."
The currently installer ends with this message:

You should now have a running DVN instance at
  http://localhost[:YOURPORT]

Since we were not asked for a port number during installation and the default glassifish port is 8080, the message should probably indicate the correct URL:
http://<your host name>:8080

Also, it may be worthwhile to update the installation guide to put this same informatio

[2015-06-25 19:51] kcondon opened #2289 "Installation Guide: Incomplete postgres config info prevents installation."
Two recent installations encountered issues completing installation due to incomplete postgres config info. It turns out not all the config info was copied over from v3.6. In particular, it only mentions the Unix sockets config needed by the installer but not the config needed for the app to communicate to the db:

At a minimum, if GlassFish is running on the same host, it will also need to allow

[2015-06-25 20:02] eaquigley opened #2290 "Files: Ability to Replace a File Instead of Deleting"
For the Provenance project, we need to determine how a user can replace a file instead of deleting the file and uploading a new one.

This relates to the backend structure (@scolapasta and @landreev) and what it looks like in the UI (@eaquigley and @mheppler)

---
- [ ] Make sure group check is activated before pull request!!

[2015-06-25 20:08] sbarbosadataverse commented on #2155
@eaquigley  Hi Liz, just wondering where we are with this feature? It seems to be coming up as I create collections etc....

[2015-06-25 21:21] mcrosas commented on #2155
Also, from @sbarbosadataverse and PSI consider how to we display a large number of featured dataverses - perhaps use a solution different than a carroussel.

[2015-06-25 21:33] kcondon commented on #2231
Merce commented there should be a short term and long term solution:

Short term to be able to detect when such an issue exists by examining published datasest and checking their state. Perhaps have a tool to correct it.

Long term to do this automatically.

[2015-06-25 21:34] landreev commented on #2275
Please re-test (fixes committed today).
CSV type recognition should be working again (it appears it got broken in 4.0.1);
There are specific issues with CSV ingest - such as handling of commas embedded in string values; that is being addressed in its own ticket.

[2015-06-25 21:36] landreev commented on #2275
If it tests ok, I would suggest to patch it in prod. tomorrow.

[2015-06-25 21:39] landreev commented on #2264
Please re-test; this should have been addressed by the same fix I committed earlier today.

[2015-06-25 21:42] landreev commented on #2264
@4tikhonov :
Now, this was something else. This issue was preventing XSLX files from being recognized as such - so we weren't even trying to parse/ingest them.
But yes, there may be issues related to sheet IDs in our Excel parser. I am investigating that separately.

[2015-06-25 21:46] landreev commented on #2229
The "CSV not recognized" issue is covered in #2275.
I'm using this ticket for the RT 214978 - handling of commas embedded in character strings.

[2015-06-26 00:13] 4tikhonov commented on #2264
Is it possible to turn this feature off? In our system we do conversion of all data files in the different formats to the format of structured dataframe so it's kind of useless.

[2015-06-26 01:30] admix commented on #1983
Any updates or workarounds ?

[2015-06-26 02:56] pdurbin commented on #1983
@admix in practice, for now, I'm letting Netbeans start Glassfish for me on my Mac.

https://java.net/jira/browse/GLASSFISH-21343 suggests it will be fixed in Glassfish 4.2.

If you can't wait, maybe try a recent Payara. This bug is on their minds:

- https://github.com/payara/Payara/commit/8ac9e7089855f2f79d54f14
- https://github.com/payara/Payara/pull/263

[2015-06-26 12:41] vjdorazio commented on #1683
The subset for a citation is not happening with TwoRavens. I'll open a ticket for that.

--Vito

________________________________
From: Elizabeth Quigley [notifications@github.com]
Sent: Thursday, June 25, 2015 12:00 PM
To: IQSS/dataverse
Cc: D'Orazio, Vito
Subject: Re: [dataverse] Citation for subset download (#1683)

@vjdorazio<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_vjdo

[2015-06-26 12:54] pdurbin opened #2291 "Search API: document how the dateSort field support date range queries (i.e. datasets published in the last week)"
@erinspace from https://osf.io/share/ asked "Is there a way we can query for all results within a certain date range? Ideally, at least at day granularity? For example, we’d love to be able to query for all results between 2015-05-01 and 2015-05-10."

A similar question came up from the [Dataverse Community Meeting 2015](http://projects.iq.harvard.edu/dataverse-community-meeting). I'm pretty sure

[2015-06-26 13:43] mcrosas commented on #1683
@vjdorazio and @landreev but, isn't it now part of the "Subset" of variables functionality? That is, when you download a subset of the tabular files, do you also get the citation for that subset?

[2015-06-26 14:41] mcrosas commented on #2264
@4tikhonov we are evaluating the best way of configuring this. We might still want to apply he ingest to pull metadata from the file and index that metadata for more comprehensive search. But we could configure this differently for each Dataverse software installation. This should be part of another issue, however.

[2015-06-26 19:24] kcondon opened #2292 "Installer: If enter an incorrect path to glassfish, then a correct one after check fails, get perl security error and exits."
Proceeding with the Glassfish setup.

Checking your Glassfish installation...
Invalid Glassfish directory /usr/local/installer_test/glassfish4!
Enter the root directory of your Glassfish installation:
(Or ctrl-C to exit the installer): /usr/local/installer_test/glassfish4
OK!

Setting the heap limit for Glassfish to 1536MB.
You may need to adjust this setting to better suit
your system.

Insecure

[2015-06-26 19:38] landreev commented on #2237
OK, @pdurbin  has created a guides branch for v.4.0.1  (for making retroactive changes to the docs while 4.0.1 is in production) and set up a jenkins project.
I've made a few more mods to the "prerequisites" page (also fixed the PostgresQL configuration section, that was missing instructions on granting access to the Dataverse app).
The changes are now showing in the default guide in production.

[2015-06-26 19:39] landreev commented on #2237
(I committed all these changes into 4.0.2; then merged back into guides4.0.1 branch. so they are now showing in both prod. and dev. versions of the guide)

[2015-06-28 13:22] michbarsinai commented on #952
Here's how Amazon S3 handles large files:
http://docs.aws.amazon.com/AmazonS3/latest/dev/UploadingObjects.html

[2015-06-29 13:38] pdurbin commented on #1837
Right, get_contents is a method @garthg is calling from https://github.com/IQSS/dataverse-client-python and the corresponding issue about this slowness on the API side is #2122

[2015-06-29 13:39] pdurbin commented on #2122
This performance problem with the "contents" API endpoint was also mentioned at https://github.com/IQSS/dataverse/issues/1837#issuecomment-102085381

[2015-06-29 15:10] mheppler opened #2293 "HTTPS Website Identity -- Murray Dataset Pg "This website does not supply ownership information""
When navigating from the Murray Dataverse page, to a dataset page (https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/01954), I noticed that the https "lock" icon changed to a "warning sign" icon, which when clicked, shows a message of "This website does not supply ownership information."

[2015-06-29 17:34] pdurbin commented on #2293
The problem is that the `distributorLogoURL` points at a plain HTTP URL rather than HTTPS: http://murray.harvard.edu/files/murray/banner146x48.png

![record_of_american_democracy _all_geographic_boundary_files_-_murray_research_archive_dataverse_-_2015-06-29_13 32 17](https://cloud.githubusercontent.com/assets/21006/8414078/78f83816-1e63-11e5-9441-1c060225c40e.png)

At the very least, in the guide

[2015-06-29 18:41] pdurbin opened #2294 "Shibboleth: permit use of request headers rather than environment variables"
#2180 is about reintroducing Apache for Shibboleth support but we've discovered that the default and recommended setup requires AJP which causes problems with certain file downloads as explained in detail at https://github.com/payara/Payara/issues/350 and https://java.net/jira/browse/GRIZZLY-1787

For security reasons, the Shibboleth wiki strongly recommends using environment variables via the AJP

[2015-06-29 18:47] pdurbin commented on #2294
Implemented in b64623c. Passing to QA.

[2015-06-29 19:17] pdurbin commented on #2180
The biggest problem we've seen so far when trying to reintroduce Apache in the mix is that using AJP causes "OutOfMemoryError: Java heap space" errors when we try to download large files as a zip as explained at https://github.com/payara/Payara/issues/350 and https://java.net/jira/browse/GRIZZLY-1787

It's for this reason we are experimenting with moving away from AJP in #2294.

[2015-06-29 19:37] pdurbin commented on #2294
Obviously, I'm concerned about the security implications of this change so I ran this issue and the commit above past the Shibboleth mailing list:

AJP, headers, security - http://shibboleth.net/pipermail/users/2015-June/022456.html

[2015-06-29 19:45] kcondon commented on #2096
Mike captured these test results, takes ~4seconds before something loads:
http://www.webpagetest.org/result/150629_RG_Z50/

[2015-06-29 20:12] garthg commented on #2122
Hi,

@pdurbin Thanks for connecting this issue to the other trackers. This bug is a blocker for my project, as it impacts API-driven dataset editing and dataset creation. The non-returning call to get_contents() is very hard to avoid due to the combination of:
1) requiring database IDs instead of working with only with DOIs (tracked in issue #1837), AND
2) the inability to search for non-published

[2015-06-29 20:14] eaquigley commented on #1801
Plan is to move the lock icon to be inline with the name rather than over in the corner.

[2015-06-29 20:20] eaquigley commented on #1311
Since we have caused this usability issue by requiring subject and contact email now, we need to make it as easy as possible for users to be able to upload + edit files and terms without losing their work and making them go to the Edit Metadata section of their dataset. I am proposing we figure out how to have a pop up that appears when a user clicks Save on the Files or Terms page that has subjec

[2015-06-29 20:27] eaquigley commented on #2192
Have a section in the metadata tab that is "Files" and displays this extra metadata (MD5 shows here and not on the files card if a UNF is available).

[2015-06-29 20:37] mcrosas opened #2295 "File Metadata Support"
We need a section in the metadata tab (and perhaps accessible from the Files tab as well) to display all detailed metadata for each file in the dataset. This will include metadata from file header, variable metadata (for tabular files), file provenance metadata, etc.

We should also support a way to export this file metadata into various formats.

[2015-06-29 20:40] eaquigley commented on #2193
@mcrosas will review metadata fields spreadsheets created by @posixeleni that lists which fields should have html support.

[2015-06-29 21:34] smillidge commented on #2180
Could be a patch on the way as Grizzly team have reproduced the problem. See https://java.net/jira/browse/GRIZZLY-1787

[2015-06-29 21:34] mheppler commented on #1801
![screen shot 2015-06-29 at 5 34 10 pm](https://cloud.githubusercontent.com/assets/687227/8419057/14afaa8e-1e85-11e5-9549-5d142489b5c4.png)

[2015-06-29 21:35] mheppler commented on #1801
Moved restricted lock icons to the upper left corner of the file browse/search card, inline with the file title.

[2015-06-30 08:26] abhiiiss commented on #2280
Hi everyone... are we getting VM?

Senior Scientist (Biometrics)|Research Program on Grain Legumes|

International Crops Research Institute for Semi-Arid Tropics (ICRISAT)|

Patancheru| Greater Hyderabad|

Andhra Pradesh - 502 324, India|

* email: a.rathore@cgiar.org | reach2abhi@gmail.com <reach2abhi@gmail.com>

( telephone: +91 (40) 3071 3413 (Office) +91 96 7640 3413 (Mob)| Ê fax: +91(40)
3071

[2015-06-30 14:52] pdurbin commented on #2215
After discussing this with @mheppler (who talked to @eaquigley ) we've decided to try 280 characters which I changed in 8e6f8cf

The thinking is that most users may be seeing a width of 1170px or so. Passing to QA.

[2015-06-30 15:37] CamMerrill opened #2296 "Regeneration of API Tokens"
Noticed by Gustavo in tutorial - no simple way for user to revoke/destroy and create new API token.

[2015-06-30 15:39] CamMerrill commented on #2296
Finished/pushed to 4.0.2

[2015-06-30 15:52] sbarbosadataverse opened #2297 "Dataset Citation: provide flexible options for information displayed in citation metadata"
Several dataverse users have requested more flexibility in what is displayed for dataset citations. Not so much changing information display order, but actually choosing what to display for their dataset citation
@mcrosas please add additional thoughts on this and which milestone should this go in?

[2015-06-30 15:53] sbarbosadataverse opened #2298 "Versioning: allow citation version display to include date value associated with the version release"
IFPRI would like to see the version value in citation show the date (year in this case) of the latest version release (V#, year).

[2015-06-30 15:55] sbarbosadataverse opened #2299 "Versioning: Make "minor" versions view available only to admins and not end users"
IFPRI would like end users not to see all the "minor" versions that show up under the versions tab; users should only see major version changes. Admins should see all minor version information

[2015-06-30 17:08] pdurbin commented on #2296
The commit by @CamMerrill: 8bbae61

#1098 should be reviewed as well. It links to an [FRD about API Tokens](https://docs.google.com/document/d/1PfQtblJxPv975U_cTOIA7OR71MT4CslP-s2n83eb1i8/edit?usp=sharing).

Also, we should update what was written in 45f13cc

[2015-06-30 17:51] pdurbin commented on #2180
@smillidge indeed in https://java.net/jira/browse/GRIZZLY-1787 @rlubke hooked me up with [a patch](https://java.net/projects/grizzly/sources/git/diff/modules/http-ajp/src/main/java/org/glassfish/grizzly/http/ajp/AjpHttpRequest.java?rev1=e9ea48db1b28405885d666475ba0d0c2f1abdcc4&rev2=102c432aa2004c581db1c297e94b0eb90dd74122) that resolves the AJP problem in the simple [apachetest](https://github.com

[2015-06-30 18:03] bricas opened #2300 ""vagrant up" broken"
I tried to "vagrant up" the v4.0.1 tag and it failed with the "can't find .war file" error.

I had a look at the installed and came up with the following diff to make the installer work:

[code]

[2015-06-30 19:40] akio-sone commented on #2165
If maven-antrun-plugin is used, the version of Dataverse can be given by its pom.xml.  There are at least two ways, one is the currently used properties file and the other is an automatically generated class file (this file must be on the .ignore list):
[code]

[2015-06-30 20:12] pdurbin commented on #2300
It's broken on master too:

[code]

Thanks for reporting this @bricas! I'll probably try to fix this in the 4.0.2 branch.

[2015-06-30 20:28] pdurbin commented on #2191
I spoke briefly with @eaquigley about how @scolapasta and I were planning on merging the "Option 1: Always show the full title with no highlighting" commit ( 40697f9 ) into the 4.0.2 branch but I'm going to wait until we've had a chance to talk more.

[2015-06-30 20:34] pdurbin commented on #2300
Ok, the good news is that `vagrant up` works just fine on the 4.0.2 branch. It builds and deploys the war file and and end I can see the running app at http://localhost:8888/

So it's a bummer that `vagrant up` doesn't work from the v4.0.1 tag (should we note this somewhere) but as soon as we merge 4.0.2 into master it will work there again, which is more important to me.

I guess I'll leave this

[2015-06-30 22:30] kcondon opened #2301 "Ingest: Update Stata 13 ("New Stata") ingest plugin; add support for v.14 and v.15; fix bugs in handling of v.13 format"
This issue is for updating the ingest plugin for the the 2nd-gen. Stata format ("Stata 13" or "dta 117"), DTA117FileReader.java. See below for a primer on the Stata formats and ingest plugins copy-and-pasted from the "spike" issue #4408. The tasks involved are 1) adding support for the versions 14 and 15 (both are minor variants of this 2nd-gen. format); 2) and fixing bugs in the handling of the v

[2015-07-01 00:22] bricas commented on #2300
Ah yes, i see the fix in 436a39c52bf15d65b2f23f8e646b3259d0b3258b.

It doesn't much matter do me so long as the latest stable is functional.

I see 33 open issues (candidates) for 4.0.2, which seems like it may be a ways off. This seems like a pretty critical issue to me as it's one of the simplest ways to install and test out the system -- if there was room to push a 4.0.1-1 (or whatever) that wo

[2015-07-01 01:42] pdurbin commented on #2300
And another 51 open in 4.0.2 (35 of which are not yet in QA) **but** we're supposed to hit code freeze on Monday so perhaps the end of 4.0.2 is near:

![milestones_-_iqss_dataverse_-_2015-06-30_21 38 22](https://cloud.githubusercontent.com/assets/21006/8445855/933a06c4-1f70-11e5-8f7e-5f33423739d5.png)

Anyway, at the moment 4.0.2 is stable. I'm glad you're finding the Vagrant environment useful. P

[2015-07-01 12:26] 4tikhonov commented on #2280
Yes, I've shared the VM for the team and already got the results of first QA tests. After we'll fix some small issues it will be open for the public.

[2015-07-01 12:30] abhiiiss commented on #2280
Thanks a lot. Can I please get even developmental one to have a feel?

[2015-07-01 12:32] 4tikhonov commented on #2280
Sure, just send me request on 4tikhonov at gmail.com

[2015-07-01 12:32] garthg commented on #2191
That makes sense. Thanks for the update!

On Tue, Jun 30, 2015 at 4:28 PM, Philip Durbin <notifications@github.com>
wrote:

[2015-07-01 18:34] mheppler commented on #1311
FRD: https://docs.google.com/document/d/1fb3dmslWg15zNLH7DMIOaUza2ykZqvpFL9aOz0VeNok/edit

[2015-07-01 19:13] pdurbin commented on #2180
@kcondon as we discussed with @scolapasta today I'm passing this ticket to QA now that I've done the following:

- Documented how to patch Glassfish 4.1 at http://guides.dataverse.org/en/4.0.2/installation/shibboleth.html#apply-grizzly-1787-patch
    - Note that http://dvn-vm1.hmdc.harvard.edu/tmp/issues/2180/grizzly-patch/glassfish-grizzly-extra-all.jar is the file to use until the v4.0.2 tag is

[2015-07-01 19:16] pdurbin commented on #2117
I've been actively working on #2180 which is about bringing Apache back and I'm hoping that if it passes QA we'll be able to re-enable Shibboleth in production.

[2015-07-01 19:27] pdurbin commented on #2294
In a [reply by Scott Cantor](http://shibboleth.net/pipermail/users/2015-June/022458.html) some tips were offered on testing the security of the new ShibUseHeaders setting...

On Mon, Jun 29, 2015 at 4:19 PM, Cantor, Scott wrote:

... however, @kcondon and @scolapasta and I met today and we are hopeful the we won't even need this "use headers" option since the "go back to using AJP" option at #2180

[2015-07-01 20:38] eaquigley commented on #2043
FRD: https://docs.google.com/document/d/1qoDTXXCIBtMgLbh_xSISNkfh5dvh_afB3kDNcEUIOEo/edit?usp=sharing

[2015-07-02 14:55] mcrosas commented on #2297
We should bring back a data citation "widget" or tool that allows to configure some of the fields in data citation, in particular:
- Date: select whether is published date or distribution date or other dates
- Repository and distributor: select whether the citation should display distributor/producer in addition to repository

To be reviewed with @eaquigley

[2015-07-02 16:07] pdurbin commented on #1757
Since this issue is still open I figure it's fair game to leave a comment here. :)

I just wanted to note that in 772813e @scolapasta added a "continue" endpoint which I haven't used personally but is a way to pick up where you left off.

@kcondon and I discussed how much of this we should document in the guides and we're not at all sure that these endpoints should be documented and encouraged in

[2015-07-02 16:17] eaquigley commented on #1977
CfA ones were fixed and this was discussed in an RT ticket. Passing to QA to close this ticket.

[2015-07-02 16:18] pdurbin commented on #1574
I just realized that this issue is potentially a duplicate of the "Utilities Dashboard for Super Admins" issue at #840.

[2015-07-02 17:07] raprasad opened #2302 "MyData (Data Related to Me) To Do List"
Dependency:  #2038 (see **Production dependencies** below)

----
This is divided into two broad checklists related to the mydata branch:

- [x] Retrieving Data and putting into the JSON document
 - [x] #2328 - **BUG** with 1 result in count but no solr doc
 - [x] #2303, clean up SearchServiceBean (currently using SearchServiceBeanMyData)
 - [x] #2305, Fix pager logic to display 5 pages at a time

[2015-07-02 17:09] raprasad opened #2303 "clean up SearchServiceBean (mydata branch)"
- part of #2302
- remove myDataQueryHelperServiceBean from SearchServiceBean.java
- allow boolean mydata attribute to:
  - [x] disable public only dta
  - [x] only joins with passed in FQs that restrict by entity id

[2015-07-02 17:12] raprasad opened #2304 "Get additional card attributes (mydata)"
part of #2302
Add to SolrSearchResult.java, getJsonForMyData
- [x] dataverse: parent name and alias
- [x] dataset: dataverse name and alias
- [x] file: dataset name

[2015-07-02 17:13] raprasad opened #2305 "Pager (mydata branch)"
Part of #2302
Show only 5 page buttons at a time.

[2015-07-02 17:14] raprasad opened #2306 "Add publication counts next to checkboxes (mydata branch)"
part of #2302
Get counts for publication statuses (see screen shot)
  - @pdurbin  probably has some insight on this
  - Here’s the method for adding the dvobject counts into the JSON
	-https://github.com/IQSS/dataverse/blob/ca65b0efdd747f1b4e28574fc52f5d27755f1500/src/main/java/edu/harvard/iq/dataverse/mydata/DataRetriever.java#L292

![root_dataverse](https://cloud.githubusercontent.com/assets/103

[2015-07-02 17:18] raprasad opened #2307 "dvobject checkbox functionality to match homepage (mydata)"
part of #2302
Currently clicking dvobject name:
 - checks/unchecks checkbox

Change to:
 - clicking name
   1. unchecks other dvobjects
   1. checks that dvobject
   1. updates page
 - clicking checkbox
   1. continues to work as is
   1. updates page

[2015-07-02 17:20] raprasad opened #2308 "test with full data (mydata)"
part of #2302
#### Test postgres query responsiveness on local machines with full database.
Even though data isn't indexed, the bottleneck will be with postgres.
- Some notes on getting production data—Gustavo or Kevin could probably change this to work.
	It’s a .txt file that doesn’t open immediately in a browser
	https://drive.google.com/a/harvard.edu/file/d/0B4VvItDJwfehYnh1Nlo2RGMzcUk/view?usp

[2015-07-02 17:23] raprasad opened #2309 "integrate mydata information into account page tab (mydata branch)"
part of #2302
**First do #2308 and make sure it's performant**

Make the MyDataPage into a HTML div/fragment (remove body/html tags) and put into the account page tab.

[2015-07-02 17:31] pdurbin commented on #2306
On the Solr side it's an array:

    "publicationStatus":["Unpublished", "Draft"],

Like many fields you can facet on it.

[2015-07-02 17:32] sbarbosadataverse opened #2310 "Update GSD custom fields"
Janina changed custom field names

[2015-07-02 17:43] raprasad opened #2311 "update jetty header http size (mydata branch)"
part of #2302

----

- To accommodate larger solr queries, update the jetty header size on production (first dvn-build) to allow larger http header sizes.
- See Phil's note: http://guides.dataverse.org/en/latest/installation/installation-main.html#solr-configuration, specifically the link to: https://support.lucidworks.com/hc/en-us/articles/201424796-Error-when-submitting-large-query-strings

[2015-07-02 17:48] sbarbosadataverse commented on #2310
Committed changes, passing to Phil

[2015-07-02 17:49] sbarbosadataverse commented on #2310
Give back to Sonia to check

[2015-07-02 18:43] pdurbin commented on #2310
@sbarbosadataverse as we discussed I did my usual check to make sure the tsv change didn't require a change to the Solr schema.xml and it didn't.

We sat and previewed the change on my laptop but we're going to wait to merge the 2310-GSD branch (currently just commit df60357 ) into 4.0.2 until you've heard back from Janina that the information you copied from the UI reflects the intended change. P

[2015-07-02 18:47] raprasad commented on #2305
QA when overall ticket #2302 is on build/complete

[2015-07-02 18:56] raprasad opened #2312 "UX question: publication statues (mydata) branch"
part of #2302

---

Is this desired behavior:
- q: We're asking for asking for everything with "unpublished".  Why do some cards have "draft" -- I didn't check tahat
- a: "unpublished" cards correctly pulled from solr.  We display *all* of that card's statuses--including "draft"
![role_permission_relationships_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/8485255/5d71d412-20

[2015-07-02 18:59] pdurbin opened #2313 "regression: delete unpublished dataset via native API no longer working"
A regression was apparently introduced whereby I can't delete an unpublished dataset via the native API:

[code]

(Yes, that key should be authorized, since it belongs to the creator.)

I'm on the 4.0.2 branch but I haven't dropped my database in a while.

I'm assigning this to myself for now to see if I can replicate it on machines other than my laptop.

[2015-07-02 18:59] raprasad opened #2314 "Show only available roles (mydata)"
part of #2302

---

- Issue; Currently displaying all of role choices in system as checkboxes.
- Fix: show only that user's potential roles.  e.g. check all direct assignments and find distinct roles
![role_permission_relationships_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/8485324/d6cf1d1a-20ca-11e5-8f37-169a2328c660.png)

[2015-07-02 19:08] raprasad commented on #2304
solr info available to a dataset. Put info back into solrSearchResults where possible instead of querying db.

parentName = dataverse name
parentId = dataverse.xhtml?id=parentId
[code]

[2015-07-02 19:10] raprasad commented on #2304
### solr info related to a dataverse

parentName = dataverseName
parentId = dataverse.xhtml?id=parentId
[code]

[2015-07-02 19:10] mheppler commented on #2312
Yes. I think this is the desired behavior. I also am not sure how we can currently display anything different, unless we change the Publication Status checkboxes to have more accurate facets like "Draft/Published" and "Draft/Unpublished", that would allow for the filtering in the use case you've pointed out.

[2015-07-06 12:45] pdurbin commented on #2313
I wasn't able to replicate the bug on https://apitest.dataverse.org using a simple test of creating a dataset and then deleting it right away. I'll do some more testing with my scripts/search/tests/delete-all-and-test script and the setup it assumes.

[2015-07-06 14:50] bencomp commented on #2300
This is related to #2165 (and my PR #2259): if the version number in pom.xml doesn't match the one in VersionNumber.properties, the installer script cannot find the WAR, even if it builds it itself.

[2015-07-06 14:55] bencomp commented on #2292
Sounds like a Perl thing, doesn't it, @pdurbin?

[2015-07-06 14:58] mheppler commented on #2192
FRD: https://docs.google.com/document/d/1v-6WuFyClnAAHqyMf1VsWtCdXDTTR-ikuG6Ou8RtDMM/edit

Mockups:

[2015-07-06 15:18] raprasad commented on #2314
This line in MyDataPage.java ```getRoleInfoForCheckboxes``` needs to have more logic behind it:
https://github.com/IQSS/dataverse/blob/mydata/src/main/java/edu/harvard/iq/dataverse/mydata/MyDataPage.java#L97

[2015-07-06 15:35] sbarbosadataverse commented on #2192
I had one question about this--- Is there a  safeguard in place to ensure MD5 gets assed when tabular ingest fails for any reason? We have so enough failures at the moment to cause me to ask.
Thanks

Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.ha

[2015-07-06 15:52] raprasad opened #2315 ""In Review" status needed in solr (MyData)"
This will be a publication status facet for mydata

[2015-07-06 15:53] bencomp commented on #2277
(This is one of the guidelines for a nicer code style in #775.)

[2015-07-06 16:04] raprasad opened #2316 "Don't include harvested (MyData branch)"
part of #2302

---

- exclude harvested data
- re: @landreev, use info from ```harvestingdataverseconfig```
  - keep list of harvested dataverse ids

[2015-07-06 16:11] pdurbin commented on #2306
Here is where the count is set for a facet:

`FacetLabel facetLabel = new FacetLabel(facetFieldCount.getName(), facetFieldCount.getCount());`

https://github.com/IQSS/dataverse/blob/v4.0.1/src/main/java/edu/harvard/iq/dataverse/SearchServiceBean.java#L571

[2015-07-06 16:57] raprasad opened #2317 "checkboxes for mydata"
part of #2302

---

- All checkboxes (dvobjects, publication status, and roles) should work in the following way:

1.  checking/unchecking the box:
   1.  chooses the checkbox
   1.  retrieves data related to me
1.  clicking the checkbox label:
   1.  unchecks other boxes in that group
   1.  checks the selected box
   1.  retrieves data related to me

[2015-07-06 16:58] raprasad commented on #2307
Rolled into #2317

[2015-07-06 16:58] #2307 closed

[2015-07-06 17:00] scolapasta commented on #75
We don't currently have OAI support; once we do, it will likely make sense to just start from scratch on what sets we offer. @kcondon please confirm you're OK with this.

[2015-07-06 17:03] eaquigley commented on #92
@michaelsuo worked on this for 4.0.2, if this is ready, please send to QA.

[2015-07-06 17:07] eaquigley commented on #107
@scolapasta and I reviewed this ticket and as of now, there are no known preferences. when we do, we will open each one of those as a new ticket. closing ticket.

[2015-07-06 17:07] #107 closed

[2015-07-06 17:12] scolapasta commented on #126
This is from old 3.6 world where harvested downloads originated on the dataverse side. We now send you directly to the harvest source for the download.

[2015-07-06 17:13] #126 closed

[2015-07-06 17:13] pdurbin commented on #2310
@sbarbosadataverse after you've confirmed with Janina that the change is ok, please pass this issue to @sekmiller who will write up instructions for @kcondon for what to do with the updated tsv file.

[2015-07-06 17:24] scolapasta commented on #183
@pdurbin Is this something we still need or have we handled it with the download API?

[2015-07-06 17:26] pdurbin opened #2318 "API regression: sometimes dataverseAdmin becomes creator of all dataverses and datasets created via native API"
Something happened with the API in the 4.0.2 branch (I'm on c02e100 currently) whereby dataverses created via API have `@dataverseAdmin` as their creator even if an API token for another user is used.

In this example we look up the API token for user "finch"...

`curl -s http://localhost:8080/api/builtin-users/finch/api-token?password=finch | jq .`

[code]

... then we use that API token to creat

[2015-07-06 17:30] eaquigley opened #2319 "Dataverse Card: Show Count of Datasets + Dataverses within a Dataverse"
Carrying this over from #208. Discussed with @mcrosas to have this show on the card how many dataverses and datasets are in the dataverse. Will discuss with @mheppler to mock this up so it can be developed.

[2015-07-06 17:31] eaquigley commented on #208
We no longer show children. Closing this ticket and created new ticket for final comment on April 29.

[2015-07-06 17:31] #208 closed

[2015-07-06 17:33] scolapasta commented on #136
Closing as a duplicate #209.

[2015-07-06 17:33] #136 closed