[2018-11-21 14:02] poikilotherm commented on #5274
Hey @pdurbin could you please take this issue out of Code Review? This issue is no longer addressed by #5289 as long as we are not using Glassfish 5+ or similar.

[2018-11-21 14:05] pdurbin commented on #4980
I pulled this out of QA so we can discuss @MrK191's comment above about flyway. In IRC he sounded wiling to make a pull request: http://irclog.iq.harvard.edu/dataverse/2018-11-21#i_79702

Also, no information has get been added to the "making releases" page. See https://github.com/IQSS/dataverse/pull/5317#discussion_r233906767

[2018-11-21 14:06] poikilotherm commented on #5288
Please note that #5289 is not solving all of the aspects of this story. Those still need to be discussed. Ping to @matthew-a-dunlap and @scolapasta.

[2018-11-21 14:07] pdurbin commented on #5274
@poikilotherm sure, I moved it to Community Dev and assigned it to you. If there's a better place, please let me know. Thanks!

[2018-11-21 14:07] pkiraly commented on #5336
Meantime I've started working with the current checkstyle settings, and fixed all the problems. It covers about 200 Java source files.

[2018-11-21 15:11] djbrooke commented on #4980
This is close to being merged and we should not increase scope. Moving back to QA.

@MrK191 - can you please create a separate issue about Flyway?

[2018-11-21 15:53] pdurbin commented on #4980
@djbrooke makes sense but our solution won't work without a change to our release process so I added the necessary steps to our "making releases" page in 31210f181

[2018-11-21 16:01] djbrooke commented on #4980
Perfect, thanks

[2018-11-21 16:04] pdurbin commented on #5336
@pkiraly um. I'm not sure I want all of that change at once. It's very disruptive to our git history. Can we please talk about this more?

[2018-11-21 16:05] pdurbin commented on #5336
@pkiraly oh. You already made pull request #5337. I'll drag it to code review at https://waffle.io/IQSS/dataverse and we'll talk about it at standup.

[2018-11-21 16:11] djbrooke commented on #5297
@jonc1438 stopped by the Community Call yesterday and mentioned that granting and managing test credentials for DataCite was being investigated as a consortium function:

https://groups.google.com/forum/#!topic/dataverse-community/ALQVSZTWQz4

Jon, once there's a preferred process for requesting, we're happy to reflect this in the guides.

[2018-11-21 16:16] pkiraly commented on #5336
@pdurbin I am open to discuss it. If this approach doesn't fit for your workflow, we can do differently. The thing is that approx. 200 files have either tabs in it instead of spaces (most of them has sporadic tabs, and only a couple of files has only tabs) for indentation. The other type of issue the checkstyle check is the usage of new lines before right curly braces, such as

[code]

[2018-11-21 16:18] pdurbin commented on #5336
@pkiraly thanks. Please be advised that standup was cancelled today due to light attendance and the next two days are a holiday (Thanksgiving). Thank you for helping us make the code more consistent. I'm curious about your thoughts on keeping it consistent over time.

[2018-11-21 16:52] djbrooke commented on #4821
Thanks @pdurbin - the process in the doc makes sense to me. I added a small comment/question and I'm interested in the thoughts from @mfenner and the rest of MDC team and also @scolapasta and others on the technical implementation.

@mbjones thanks for the feedback here as well!

[2018-11-21 17:03] mbjones commented on #4821
@pdurbin @djbrooke in the list above, you asked:

The answer is yes, but not the same way as usage metrics.  DataCite already supports linking to publications in the DOI-related metadata that you submit with your DOIs using the `<relatedIdentifier>` element.  See the DataCite [EventData Guide](https://support.datacite.org/docs/eventdata-guide). These publication linkages are parsed and added to th

[2018-11-21 17:53] jggautier commented on #4821
Dataverse has a related dataset field (mentioned in https://github.com/IQSS/dataverse/issues/5277), although DataCite expects identifiers, and Dataverse's field is free text. We expect "Related Publication" to be used mostly for text-based publications (and that's how it's mapped to the DDI exports).

If we use Related Publications for datasets as well:
- The Related Dataset field becomes redundan

[2018-11-21 18:13] landreev commented on #5136
For the record, on my MacBook I can reproduce the issue in Safari; but not in Firefox or Chrome.

[2018-11-21 18:23] landreev commented on #5136
(I'm still looking for an alternative/but fix for this; but keep wondering if the "sledgehammer approach" - in PR #5316 - is actually not that bad... it may be easy after all, to fix whatever it's breaking. We don't *purposefully* rely on the jsession being passed as a url anywhere in the system, I don't think)

[2018-11-21 19:12] kaitlinnewson commented on #5332
If I'm understanding [the CC policies](https://creativecommons.org/policies) correctly, I don't think we can modify the logo without express permission:

[2018-11-22 09:03] poikilotherm commented on #5336
As the one who opened #5075 in the first place, I can only second you on using more checks and fixing the code base. I had this stuff added to Travis too, but this was removed. It has not been introduced into the regular build cycle, too.

I hear the arguments of @pdurbin and others and understand their fear about not being able to use `git blame` easily. It's a real bummer: I really can't think o

[2018-11-22 10:01] pdurbin commented on #5336
@pkiraly @poikilotherm The thing about continuous integration and Travis in particular is that as a team we don't look at https://travis-ci.org/IQSS/dataverse very often. A git hook preventing developers from pushing code would be effective but I don't think we want that.

@oscardssmith sorry by "git blame" I'm talking more about logical changes than people.

[2018-11-22 10:19] Thanh-Thanh opened #5338 "4.9.4 : Connexion problem with French local"
Hi all,

We are in the process to upgrade to 4.9.4, however, we got the problem using this 4.9.4 version : can not connect with username/password.

The scenario to reproduce this bug :
- Our machine is in French local
- After the deploiment of 4.9.4, the first connexion comes from a navigator with French local
- Connect with builtin mode : username and password
=> [2018-11-20T15:56:25.969+0100] [g

[2018-11-22 12:58] poikilotherm commented on #5292
I just opened PR payara/docker-payaraserver-full#61 and hope things get merged.

[2018-11-23 01:34] mdmADA commented on #4045
And I totally agree with needing something "with more teeth" between the user and being able to do something...

[2018-11-23 14:01] mhvezina commented on #5226
Could it be related to the non-escaping of the apostrophe in the French text? (Also there seems to be one apostrophe missing between "d" and "accès" in your example).
We ran into something similar. Try to escape all aportrophes... maybe with something like "Demande d''accès pour l''ensemble de données : {0}."

[2018-11-23 18:11] Xarthisius opened #5339 "Expose individual components of citation string in datafile queries"
Currently it's difficult to extract information about a parent dataset when querying only a datafile. All the information is hidden in `dataset_citation`:

[code]

Please consider exposing dataset's `name`, `global_id`, `authors` on file level too.

[2018-11-23 18:42] carlosmcgregor opened #5340 "deleteAllAuxObjects() fails on Swift due to malformed Swift REST API request"
**Dataverse Version:** v. 4.9.4 build 1058-57b3b7e

The following line seems to be failing ([`SwiftAccessIO.java`, line 428](https://github.com/IQSS/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/dataaccess/SwiftAccessIO.java#L428)):
[code]

From my understanding, `swiftContainer.list()` causes joss to throw an exception due to a malformed request. Checking our Swift log, we got a r

[2018-11-25 10:11] pkiraly commented on #5336
@pdurbin I agree that code style check should not be a show stopper. If the community don't use Travis output very often, then we don't have to integrate it that way. If there is some tool, which behaves like coverall.io - test coverage report triggered automatically by Travis displayed in a separate site, which is linked from the Github's repo main page, then it would be worth to intergate such a

[2018-11-26 02:19] pdurbin commented on #4045
@mdmADA I don't want to lose track of your comments on a close issue so I'm reopening it, assigning it to you, and moving it to the "Community Dev" column at https://waffle.io/IQSS/dataverse so we remember to touch base with you about what a good fix might be. Thanks.

[2018-11-26 15:09] pdurbin commented on #235
Related: #2900

[2018-11-26 17:05] djbrooke commented on #5340
Hey @carlosmcgregor, thanks for the report. The core team probably won't be working on Swift in the near future. Are you interested in making a pull request with this change?

[2018-11-26 17:08] djbrooke commented on #5338
Ping @JayanthyChengan - do you have any thoughts on what this could be? I also know we've merged in quite a bit of internationalization code that will be included in the next release, so this may already be fixed.

[2018-11-26 17:15] pdurbin commented on #5338
This reminds me a lot of the "Can't log in in French" issue at #5090 which was fixed in pull request #5222 but we haven't made a release yet.

[2018-11-26 18:00] pdurbin commented on #5339
@Xarthisius thanks for opening this issue. At the file level we are already indexing the title of its dataset under the field "parentName" and the DOI/PID of its dataset under "parentIdentifier" (and in URL form under "persistentUrl") so those two would be especially easy to add. As seen in the raw Solr output below, at the file level we don't currently index individual authors of the parent datas

[2018-11-26 18:01] pdurbin commented on #5226
@mhvezina maybe! Are you interested in working on a pull request? 😄

[2018-11-26 18:06] Xarthisius commented on #5339
Adding a `parentIdentifier` would go a long way. All the other entries that I mentioned could be derived with second query using it.

[2018-11-26 18:09] mheppler commented on #5330
Fixed.

<img width="1176" alt="screen shot 2018-11-26 at 1 08 53 pm" src="https://user-images.githubusercontent.com/687227/49033182-779fcc00-f17c-11e8-94ef-1c338fe648f5.png">

[2018-11-26 18:14] pdurbin commented on #5307
I left a review in pull request #5324 with some comments.

[2018-11-26 18:54] pdurbin commented on #2855
@mheppler makes sense but heads up to all that emails and in-app notifications were improved in that pull request.

[2018-11-26 18:54] kcondon opened #5343 "MyData: Published status not updated on MyData page after publishing on test environments"
1. create dataverse, dataset or both
2. publish both
3. notice both are still listed as unpublished on MyData page.

[2018-11-26 18:55] kcondon commented on #2855
@pdurbin was that part of the original scope?

[2018-11-26 18:56] pdurbin commented on #3323
I just left this comment at https://groups.google.com/d/msg/dataverse-migration-wg/RLvINbxMfkQ/VIYveInRAQAJ but I'll repeat it here:

There are two ways to indicate funders in the Schema.org JSON-LD representation of datasets now that pull request #5169 has been merged (but not yet released): under "Contributor" ("Funder") and "Grant Information" ("Grant Agency").

[2018-11-26 18:57] pdurbin commented on #2855
@kcondon not to my knowledge.

[2018-11-26 18:59] mheppler commented on #2855
@pdurbin Could we get an updates email screenshot in this issue for tracking purposes?

[2018-11-26 19:01] pdurbin commented on #2855
@mheppler I didn't work on the code but you could ask someone who has the branch spun up. Or spin it up yourself.

[2018-11-26 19:12] kcondon commented on #4980
This works, tested upgrade from v4.0 to v4.9.4 with existing data. Passing back to @landreev to update doc.

[2018-11-26 19:18] sekmiller commented on #5229
As noted, the file access requester has been added to the notification and email received by the grantor of file access.

The format is as follows:

File access requested for dataset: {0} was made by {1} ({2}).

with the dataset name replacing {0}, the requestor name replacing {1} and the requestor's email replacing {2}.

The emails/notifications sent on Dataset Request for Review have been modifi

[2018-11-26 20:18] pdurbin commented on #4821
Before Thanksgiving I was telling @djbrooke that I hoped the "counter-processor" Python code from CDL would "just work" with our Apache logs, but it turns out that the logs much contain data repository-specific fields like title, publisher, author, etc. Example logs look like this on a single line:

`2018-05-08T00:00:40-07:00 128.195.188.234 - - - http://dash.lib.uci.edu/stash/dataset/doi:10.7280/

[2018-11-26 23:53] kcondon commented on #2122
-API returns querying root in 21s.
-Exception thrown when trying to load some manage permissions pages but not others in the same hierarchy. (PSI-EastAfrica, PSI-LatinAmerica-Caribbean fail, PSI, angola, haiti succeed).
[code]

[2018-11-27 01:16] landreev commented on #4980
I was still working on the extra documentation under "making releases", yes.  (checked in now)
As for flyway - if somebody makes a PR with a solution that works, I see no problem with accepting it. But I don't see any reason to do it in the context of this issue either; this scripting solution works, and it may help some installations out there. And the cost of having to add the 2 extra files to a

[2018-11-27 09:01] MrK191 commented on #4980
@landreev I made flyway work so I can make PR. The issue with scripting is that it complicates automatic deployment and it adds additional manual step for something that can be automated.

[2018-11-27 13:04] MrK191 opened #5344 "Flyway: Add the database migrator in order to make database migration happen automatically."
Hi, I've managed to make flyway work, now there will be no need to add upgrade scripts since the migration will happen, after user will boot the war file.
Just tell me if you want this feature then I will make PR.

[2018-11-27 13:33] poikilotherm commented on #5344
As this involves new deps in `pom.xml` it might be a good idea to rely on the merge of #5289, too.

[2018-11-27 13:58] poikilotherm opened #5345 "Proposal: make persistent EJB timers non-persistent or not rely on database"
This is related to #5292 and a story of that epic.
As [`DataverseTimerServiceBean.java`](https://github.com/IQSS/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/timer/DataverseTimerServiceBean.java) has been mostly written and maintained by @landreev, this most certainly is for him...

### Context
Currently, in [`glassfish-setup.sh`](https://github.com/IQSS/dataverse/blob/0045cd6368e

[2018-11-27 14:10] MrK191 commented on #5344
Yeah I will wait for the merge and then apply all those rules to this PR.

[2018-11-27 14:31] Thanh-Thanh opened #5346 "Publish Dataset to Datacite : Title is not updated (4.9.1)"
Hello all,

We are using dataverse 4.9.1, with the configuration to Datacite.
We've just found out that if we modify the title of the dataset (among other metadata), the published version in datacite has always the old title. Other metadata are, however, well updated.

Another remark: we are moving to dataverse 4.9.2, in test phase, and saw that the bug is still there.
In addition, when we publish

[2018-11-27 14:34] pdurbin commented on #5288
Over at http://irclog.iq.harvard.edu/dataverse/2018-11-27#i_80014 @poikilotherm let me know that he removed the commit that he believes was causing the exception @kcondon found at https://github.com/IQSS/dataverse/issues/5274#issuecomment-439496421 reported as "I'm able to build and use somewhat the resulting war file but it throws a stack trace about a missing method when I load the homepage and

[2018-11-27 14:39] poikilotherm commented on #4172
Please join discussion at https://groups.google.com/d/msgid/dataverse-dev/0937d60c-b2b7-d74b-1365-16f154d769d8%40fz-juelich.de about favoring Eclipse Glassfish or Payara :smile:

[2018-11-27 15:44] djbrooke commented on #5346
Hi - I'm going to close this as a duplicate of #4837, which we'll plan to estimate soon. I'll leave this description as a comment there. Please reopen this if you feel this is incorrect!

[2018-11-27 15:44] #5346 closed

[2018-11-27 15:46] djbrooke commented on #4837
From @thahn-thahn in #5346:

"We are using dataverse 4.9.1, with the configuration to Datacite.
We've just found out that if we modify the title of the dataset (among other metadata), the published version in datacite has always the old title. Other metadata are, however, well updated.

Another remark: we are moving to dataverse 4.9.2, in test phase, and saw that the bug is still there.
In additio

[2018-11-27 16:08] carlosmcgregor commented on #5340
Sure! I will make the changes and make a pull request.

[2018-11-27 18:36] Xarthisius commented on #5339
After some further thoughts: `filePersistentId` would also be very useful.

[2018-11-27 19:21] pameyer commented on #5344
If I'm remembering correctly, when flyway came up in previous discussions there was some uncertainty about the potential for certain postgresql versions being restricted to flyway enterprise.  Is this (still?) a concern?

[2018-11-27 20:41] mheppler opened #5347 "Includes - Improve organization of includes in `webapp` directory"
While investigating a recent pull request that touched all files related to pages you can navigate to in a browser, as opposed to those which are includes, I learned of a JSF "best practices" technique for organizing these files in a [Stack Overflow answer](https://stackoverflow.com/a/9033567/312051).

It also suggests, in addition to includes, you can also put master template (`dataverse_template

[2018-11-27 20:44] mheppler opened #5348 "Infrastructure Spring Cleaning - Remove misc files"
While creating an inventory of what is in the `webapp` directory and where it is being used in the app, it appears there are a few files that could be removed, or if they provide value, move the information they contain into the Developer Guide, or create new Admin Dashboard page.

- [ ] datatags-api-test-deposit-complete.xhtml
- [ ] datatags-api-test.xhtml
- [ ] mydata_page.xhtml
- [ ] role_permi

[2018-11-27 21:36] pdurbin commented on #4821
@scolapasta @landreev @sekmiller @kcondon @mheppler @matthew-a-dunlap and I just had a nice discussion in tech hours about Make Data Count. Here's what I drew on the whiteboard and I'm sorry for the chicken scratch:

![img_20181127_160337515](https://user-images.githubusercontent.com/21006/49112343-7fd13780-f260-11e8-9bcd-97b6e6eeda24.jpg)

![img_20181127_160330387](https://user-images.githubuserc

[2018-11-27 22:09] #4980 closed

[2018-11-27 23:09] mheppler commented on #4679
While looking at the pull request for #5299, I did some research on how to solve this javascript issue, and found a [Stack Overflow answer](https://stackoverflow.com/a/14575170) which should solve Example 1 and Example 2.

[code]

For Example 3, I believe I have a workaround for `dv_rebind_bootstrap_ui.js` which removes that message text, and properly delivers the text via the dataverse pg manage

[2018-11-28 11:46] pdurbin commented on #5344
@MrK191 heads up that pull request #5317 was merged. I don't think you should be blocked on waiting for pull request #5289 to be merged if you are only adding one dependency to pom.xml. There are 9 pull requests in QA right now and I don't know what order they will be worked on.

[2018-11-28 15:41] kaitlinnewson opened #5350 "Display when assigning a role"
Hi Dataverse team,

We noticed this in the context of our internationalization work, but it also applies to any custom role created by a user.

When the name of the role is a longer string, the display is not correct and breaks onto a separate line below the checkbox (see attached screenshot). This was tested in 4.9.4 in Firefox.

![screen shot 2018-11-28 at 10 37 34 am](https://user-images.github

[2018-11-28 16:01] mheppler commented on #5202
There is a lot of discussion about the specifics of this issue in the pull request #5299.

I have just created a new branch `5202-edit-dataverse-info-msg` off of the original branch @JayanthyChengan created, in order to fix the display of the info msg on the Edit Dataverse pg.

<img width="1156" alt="screen shot 2018-11-28 at 10 53 30 am" src="https://user-images.githubusercontent.com/687227/49164

[2018-11-28 17:18] pdurbin commented on #4821
I just had a nice chat with @pameyer after standup and I'll make it clear that downloads via rsync will not be reported. He reminded me that in his installation of Dataverse, the download count (part of the "metrics" block) is not present. (This is tied to the :DownloadMethods database setting.)

Pete also reminded me that direct access to data (bypassing Glassfish) is also available in Swift inst

[2018-11-28 17:29] pameyer commented on #4684
Took a look after some discussion of how the documentation was for installations using custom metadata blocks.  Neither PR (#5111 or #5290) has any documentation - I haven't tested to see if that's because custom blocks without a corresponding bundle file will work they way they previously did (non-localized), or if things will assume there's a bundle for each block and fail when it's not present.

[2018-11-28 18:00] JayanthyChengan commented on #4684
@pameyer you are right, I missed to handle custom metadata blocks here.

Noticed that it's throwing **java.util.MissingResourceException** in server.log for custom metadata block and in the interface:
**Internal Server Error - An unexpected error was encountered, no more information is available.**

I will add property files for existing custom metadata blocks.

[2018-11-28 18:03] scolapasta commented on #4684
@JayanthyChengan Adding files for those is good, but should we make the code have a backup plan for these cases?

[2018-11-28 18:07] JayanthyChengan commented on #4684
@scolapasta
definitely, I am using a java code to create these property files, I will clean up/add proper comments in the code and add it.  under which folder does this code should go?

[2018-11-28 18:50] JayanthyChengan commented on #4679
@mheppler  Implemented the above mentioned solution for Example 1 and 2.  Thanks.

And handled mydata.js(Example 4) by adding hidden field in dataverseuser.xhtml.  Could you please review the code?  Thanks

[2018-11-28 19:24] djbrooke commented on #5327
We'll use internal mock implementation of a PID provider.

[2018-11-28 20:21] kaitlinnewson opened #5352 "For some roles, objects are not populated in alert message"
For some roles (Dataset creator, Dataverse + Dataset creator, Dataverse creator), the objects that the role will affect are not populated. This also applies to any custom role created that is given the same permissions as the roles above.

Tested in both 4.9.4 and 4.8.6.

![screen shot 2018-11-28 at 3 15 32 pm](https://user-images.githubusercontent.com/6903515/49179767-05b4b780-f321-11e8-8502-7e2d

[2018-11-28 20:50] pdurbin commented on #5352
@kaitlinnewson I'm not sure if I completely understand what you mean but clearly the red text in both screenshots is nonsensical (File Downloader will also have File Downloader?!?) so we should at least fix that. Thanks for the bug report. Please feel free to write more to help us better understand.

[2018-11-28 20:58] scolapasta commented on #5352
I don't read the first is nonsensical, though could possibly be more clear. It is stating that assigning the FileDownloader role at the Dataset level, means that user will also have the File Downloader role on all the files. (i.e they would be able to download any file in that Dataset).

The second one seems to be missing "Datasets and Files" after "applied to all"?

[2018-11-28 21:02] pdurbin commented on #5352
Ah, maybe we could add "at the Dataverse level" to improve clarity. Something like "Assigning the File Downloader role **at the Dataverse level** means the user(s) will also have the File Downloader role applied to all Files within this Dataverse. I don't know. Whatever sounds best. Maybe it's easier to express in French. 😄

Staring at `dataverse.permissions.usersOrGroups.assignDialog.role.warning

[2018-11-28 21:13] JayanthyChengan commented on #4684
@pameyer  added property files for custom metadatablocks in this commit https://github.com/IQSS/dataverse/pull/5290/commits/fe6ec387dd7609374a56a503986e10fa4dd86621

[2018-11-28 21:13] pdurbin commented on #5213
@akio-sone @jonc1438 I mentioned you over at https://github.com/IQSS/dataverse/issues/4821#issuecomment-442226108 but I wanted to highlight that for Make Data Count, we plan to only count downloads that go through Glassfish which means that downloads from TRSA, downloads from rsync, and downloads directly from Swift won't be counted.

[2018-11-28 21:21] jonc1438 commented on #5213
Phil

Thanks that is defiantly something we have thought about in TRSA. We for sure will need away to track any of the remote downloads or execution.

Right now TRSA is planned to just to be a registration and local management system for the remote trusted data store.  The user access point will always be from Dataverse and Glassfish will know about the parts in Dataverse.

In our Impact Model onc

[2018-11-28 21:49] JayanthyChengan commented on #4684
@pameyer , I guess we need to specify in the documentation that the resource bundle property files are required for metadata blocks.  I can share the script which I use to generate them.

@scolapasta - could you please clarify here, do I need to handle in the program for missing property file(metadatablocks) and fetch the value from table.

[2018-11-28 21:55] pameyer commented on #5328
For future reference, something like http://nilhcem.com/FakeSMTP/ might be another approach to this.

[2018-11-28 21:57] djbrooke commented on #5321
We estimated the other items spun off from this and we'll track those individually. Is there a checksum inconsistency that needs to be tracked as well? If so, feel free to open a separate ticket.

[2018-11-28 21:57] #5321 closed

[2018-11-28 22:40] pdurbin commented on #4714
We had a second meeting today (I'm not sure what to call the group but see https://github.com/whole-tale/whole-tale/issues/50 ... from my perspective these are "computation" meetings but "reproducibility infrastructure" was suggested) and @craig-willis demo'ed https://github.com/craig-willis/dataverse-binder where if you click a link you're taken to https://mybinder.org/v2/gh/craig-willis/datavers

[2018-11-28 23:47] landreev commented on #5136
OK, I'm putting this in code review with not one, but TWO PRs (and two alternative branches).
I checked something into @pameyer's original PR #5316, that fixes the RA test that was failing previously. But let's review/think about it carefully - it really is a bit of a nuclear solution. If I understand it correctly, disabling jsessionids in urls will make the application unusable with cookies disab

[2018-11-29 08:29] Thanh-Thanh opened #5354 "Special terms on dataset make the redirection to external tool goes wrong"
Hello all,

We have configured our dataverse to use TwoRavens and Data Explorer. It worked well the two tools.
However, when the dataset has special terms activated, before viewing the file in external tool, we have a popup asking for agreement. The redirection from this popup is always to TwoRavens.

Thanks in advance for correcting the bug.

Best regards,
Thanh Thanh

[2018-11-29 12:02] pdurbin commented on #5354
@Thanh-Thanh thanks for the bug report. Which version of Dataverse are you running? Thanks.

[2018-11-29 12:54] Thanh-Thanh commented on #5354
@pdurbin We're running Dataverse 4.9.1, but I'm not sure whether the bug is from this version. Thanks!

[2018-11-29 13:43] TaniaSchlatter commented on #4821
What I understand from this is that Dataverse won’t be able to track download activity for files accessed via rsync or other methods that bypass Glassfish. This is fine for Pete/SBGrid, which isn’t concerned with tracking anyway, and doesn’t plan to display metrics. When datasets have files that can be accessed via rsync and http, only access via http (or via methods that go through Glassfish?) wi

[2018-11-29 15:11] pdurbin commented on #4821
@TaniaSchlatter sorry, I wasn't being clear. I'm really only talking about where to record each view or download in the database or one the filesystem. The decision was to use the filesystem in a dedicated log. From this log we will be aggregating views and downloads into reports (JSON format) that we send to the DataCite hub. The dedicated log will be rotated, deleted after a year or whatever, so

[2018-11-29 15:22] landreev commented on #5136
To clarify, it's not necessary to use the "<object>" tag for the thumbnail for the problem to go away; "<img src=...>" works just fine (that's what I'm using). As long as it's not "<p:graphicImage ...>", that is. The problem was caused by it being a PrimeFaces tag - so PrimeFaces was adding the jsession lines to the src strings, thinking they were urls. (it's clearly a bug - and it may have been f

[2018-11-29 15:37] landreev commented on #5136
For the record, I can definitely reproduce the problem with various browsers. I said earlier I couldn't reproduce with Chrome - but I was wrong. The key is that this has to be the very first visit to the page - so you have to close and reopen the browser to be able to see the bug. Reloading the page fixes the problem, and it does not appear on consecutive visits to the site.
Here's a quick demo: S

[2018-11-29 15:42] kcondon commented on #4821
@pdurbin Any traction on the idea of an API for remote downloads to record downloads back to Dataverse?

[2018-11-29 15:46] pameyer commented on #5136
Swapping "<p:graphicImage ...>" for an "<img src...>" tag seems to me to be the lowest-impact way of solving this - so I'd vote for that over the sledgehammer PR.

[2018-11-29 15:54] pdurbin commented on #4821
@kcondon I chatted with @pameyer about it and it doesn't sounds like he's personally interested in implementing it for his rsync server but we talked about how customer number two of all the rsync stuff might want to work on this. I wasn't planning on adding the API to the Dataverse side until we have someone who's interested in using it. It would basically involved parsing rsync logs, from what I

[2018-11-29 16:31] djbrooke commented on #4684
@pameyer and @scolapasta - I moved this back to code review and assigned it to you two.

[2018-11-29 16:50] kaitlinnewson commented on #5352
In retrospect I probably should have included that for clarity!

[2018-11-29 16:57] jggautier commented on #4389
Another example of a role description that could be clarified is the Member role:

<img width="605" alt="screen shot 2018-11-29 at 11 09 17 am" src="https://user-images.githubusercontent.com/18374574/49235110-4d8e1a00-f3c7-11e8-8677-d3b5f59bdae0.png">

The description doesn't mention that people with the "Member" role can also download files. You might infer this from the listed permission "Downlo

[2018-11-29 17:01] kaitlinnewson opened #5355 "Accessibility - on sign up, the "terms of use" checkbox is not in the correct tab order"
Tested in demo dataverse, v. 4.9.4., using both Firefox and Chrome.

When a user signs up for the first time, the checkbox beside 'I have read and accept the Dataverse General Terms of Use as outlined above.' is not in the correct tab order, which should be after the 'Position' field.

[2018-11-29 17:01] mheppler commented on #5352
Related to _Permissions - Improve Descriptions of Roles #4389_.

[2018-11-29 17:02] mheppler commented on #4389
Related to _For some roles, objects are not populated in alert message #5352_.

[2018-11-29 17:02] pdurbin commented on #5136
At standup I volunteered to weigh in on this issue and the two pull requests.

My take is that @landreev prefers pull request #5316 where we rid ourselves and our users from seeing a weird Java-specific "jsessionid" in URLs. @Venki18 's security team flagged the presence of these "jsessionid" as a security concern in #3254 and If we go with pull request #5316 we should put that issue through QA as

[2018-11-29 17:07] mheppler commented on #5136
Are you suggesting that PR #5353 goes through QA for this issue #5136 related to thumbnails, and that PR #5316 for issue #3254? I was asking because I couldn't tell. I don't think we should send one issue to QA with two PR's -- which is how it appears currently.

[2018-11-29 17:09] pdurbin commented on #5352
@kaitlinnewson heh. No worries. Sorry for the noise. My brain was having trouble parsing the sentence in the Dataverse UI.

[2018-11-29 17:15] pdurbin commented on #5136
@mheppler no. I'm sorry. Let me try again.

I'm in favor of closing pull request #5353 (h:graphicImage vs img src). I made it red in Waffle by rejecting it but I didn't want to overstep by actually closing it.

I'm in favor or testing pull request #5316 (no more "jsessionid" in URLs) as a solution for both this issue about thumbnails (#5136) and for the security concern in #3254.

[2018-11-29 19:47] scolapasta commented on #4684
@jayanthy I think we want to fail in the "nicest" possible way. that is, let's imagine an istallation with a custom black that doesn't fully read the release notes so they don't do anything. What should happen?

I'd say not throw an ugly error, but at least use the KEYS from the table on the page. I do think eventually we don't want everything (like description, watermark, etc), in the table becau

[2018-11-29 20:46] pdurbin commented on #4821
After discussion with @mheppler and @jggautier and the comment from @mbjones above, I pushed 17cbf37ee to clarify that we plan to send citations to DataCite as part of the Make Data Count effort. It has been emphasized that citations are the most important thing and since we can express these in Dataverse under our "Related Dataset" field and DataCite is ready to receive them, we should try to sen

[2018-11-29 21:58] #5331 closed

[2018-11-29 22:37] #5229 closed

[2018-11-29 22:58] #5236 closed

[2018-11-30 14:43] dheles opened #5357 "More places to find out how to report security issues"
When I inquired about how to report security issues to the Dataverse project, I was directed to the Contributing document in the GitHub repo:

https://github.com/IQSS/dataverse/blob/develop/CONTRIBUTING.md

Other good places for this information might be the Contact page of dataverse.org:

https://dataverse.org/contact

or on the front page of the guides, perhaps under Other Resources / Support:

[2018-11-30 15:08] mheppler commented on #4949
Cleaned up the UI of the popup, added a link to the User Guide, as well as a new placeholder section for "Downloading a Dataverse Package via URL" on the Finding and Using Data pg of the User Guide.

<img width="611" alt="screen shot 2018-11-30 at 9 36 25 am" src="https://user-images.githubusercontent.com/687227/49297065-df5d5c00-f487-11e8-8592-713c30cb6c99.png">

[2018-11-30 15:56] craig-willis commented on #4714
Thanks, @pdurbin. We can also use this toy example to highlight two different general use cases reflected in the discussion this issue.

The first is the ability to do ad-hoc/exploratory analysis on any data stored in Dataverse.  This external tool/Binder example or the similar external tool/WT example gets at that -- they provide a generic Jupyter/Rstudio environment that could be used to do ad-h

[2018-11-30 16:05] pdurbin commented on #4714
@craig-willis I don't know enough about CoRe2 to comment on what technologies will be used but I'd be remiss if I didn't point out that Code Ocean is highly oriented toward producing a Dockerfile for datasets via their graphical interface. As I mentioned in my brain dump at https://github.com/IQSS/dataverse/issues/5028#issuecomment-433185375 I was able to try this myself during a Code Ocean worksh

[2018-11-30 16:11] dheles commented on #5344
I'm in the process of an ansibilized upgrade to which I'm too committed to change horses now, but I will share that once DSpace incorporated Flyway, it made upgrading *much* easier, so i'd be very much in support of this approach moving forward.

[2018-11-30 16:21] craig-willis commented on #4714
@pdurbin Good point of clarification -- I wasn't suggesting that the image was or would be stored in Dataverse. In the CodeOcean case, I believe they are running their own Docker registry which is used to preserve the images today.  For WT, DataONE has asked that we not push images for now, only the description of the environment via Dockerfile, etc.

I just learned something new about Dataverse -

[2018-11-30 20:33] jonc1438 commented on #4714
Phil

Yes you are correct about CodeOcean and we have been in conversations with them

We hope Core2 can provide a very similar yet open sourced option

I do not imagine we will make our Binder implementation as slick or nice at CodeOceans given the resource differences

I would like to imagine a world where several outside tools could be used for verification of datasets in Dataverse

What we nee

[2018-11-30 20:33] #4593 closed

[2018-11-30 20:44] kcondon commented on #4593
@rmo-cdsp Thanks! Works great!

[2018-11-30 20:46] pdurbin commented on #4714
Heh, yes, it does make sense @jonc1438 . Thanks! We've been following your travel via tweets like https://twitter.com/Odum_Institute/status/1068161451670626309 😄

You might want to check in with @tlchristian and @donsizemore who were on the call on Wednesday ( https://github.com/whole-tale/whole-tale/issues/50 ). I attempted to give a demo of clicking a "Whole Tale" button (right under "Data Explo

[2018-11-30 20:48] pdurbin commented on #5097
I just left a similar comment at https://github.com/IQSS/dataverse/issues/4714#issuecomment-443334208 but I realized I should leave a comment here too.

A number of us were on a call on Wednesday ( https://github.com/whole-tale/whole-tale/issues/50 ). I attempted to give a demo of clicking a "Whole Tale" button (right under "Data Explorer") and being sent to an installation of Whole Tale with Jupy

[2018-11-30 20:57] jonc1438 commented on #4714
Yes cool work

Craig and I talked last week and I saw it

We for sure need to get everyone on the same path and decide how to get things out of Dataverse and what the UI on Dataverse needs to look like

If we get WT. Core2 and CodeOcean on same path it would be great

We also need to include your new Encapsulator work along with Dockerfiles as recognized file types in Dataverse

Jon

Get Outlook f

[2018-11-30 21:04] #3225 closed

[2018-11-30 21:05] pdurbin commented on #4714
Well, here's the code @Xarthisius just wrote for Whole Tale in case it helps anyone else (this is the Binder issue, after all) 😄 https://github.com/whole-tale/girder_wholetale/pull/175 . He had a question or two in IRC but mostly he just looked at the Dataverse API Guide.

I'm still a little fuzzy on what Encapsulator is but I know there's code at https://github.com/ProvTools/encapsulator and http

[2018-11-30 21:16] jonc1438 commented on #4714
Phil

I will take a look when I get back but I was thinking more on conceptual level not programming

Things like how do users choose which code to use in the dataset and with what data and for what manuscripts do they match

If the docker file exists it is easy but often datasets have many files and no way to automatically know what goes in container

I think we need to understand the use case fo

[2018-11-30 21:30] jonc1438 commented on #4714
I have not seen it either and that is what I think we need for Dataverse

Jon

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: pameyer <notifications@github.com>
Sent: Saturday, December 1, 2018 5:28 AM
To: IQSS/dataverse
Cc: Crabtree, Jonathan David; Mention
Subject: Re: [IQSS/dataverse] Binderverse: integrating Binderhub with Dataverse (using docker+kubernetes)

[2018-11-30 21:33] pdurbin commented on #5028
There's lots more discussion on Code Ocean on #4714 especially starting at https://github.com/IQSS/dataverse/issues/4714#issuecomment-442633005

[2018-11-30 21:40] landreev commented on #2122
Please re-test; the issues outlined in your last comment should be fixed; with the exception of "Assigning role to unpublished dv grants access but does not index ..." - but based on our discussion and testing, it appears that it may be a pre-existing condition.

[2018-11-30 21:45] jonc1438 commented on #4714
Phil

Yep I have seen that too

How many of these scripts have you seen in Dataverse?

How many researchers know how to write them?

If we each have our own “script language” it will complicate

I was imagining a button in Dataverse Dataset Page  that said something like

Run replication environment or open capsule or open computation environment etc

When clicked it allowed user to select which c

[2018-11-30 21:59] #5330 closed

[2018-11-30 22:44] #5288 closed

[2018-11-30 23:11] matthew-a-dunlap commented on #4949
Note: There are still two changes incoming for this PR.
1. Documentation around the `:DownloadMethod` changes and a .rst page on how to set up dcm s3.
2. A bump to the dcm version number once this pr is merged https://github.com/sbgrid/data-capture-module/pull/35

I am moving this into code review to have the code itself looked over in parallel while the doc/config changes get wrapped up.

[2018-11-30 23:20] jggautier commented on #4821
What we think of as citations seems to be one of the three relationship types that the [Event Data service](https://support.datacite.org/docs/eventdata-guide) is collecting, called "linking events". The other two relationship types are versioning (this dataset I'm depositing `IsNewVersionOf/IsPreviousVersionOf` another dataset) and granularity (this file `is part of` this dataset, which Dataverse

[2018-12-01 00:40] jggautier commented on #2778
Thanks @RightInTwo! When you write "publications", I'm assuming you mean published datasets. (Let me know if that's inaccurate :) So it will be helpful if depositors are able to say that the dataset they're depositing IsNewVersionOf/IsPreviousVersionOf another dataset. This also makes me realize that not all of the relationships, however many we choose, will be appropriate options for describing t

[2018-12-01 01:50] pdurbin commented on #4772
@RightInTwo I don't if you've seen https://twitter.com/4tykhonov/status/1068610709817384960 by @4tikhonov by it reminds me of what you want:

<img width="578" alt="screen shot 2018-11-30 at 8 48 28 pm" src="https://user-images.githubusercontent.com/21006/49322848-6a1e7500-f4e1-11e8-93d4-45d78756ef9e.png">

[2018-12-01 09:14] 4tikhonov commented on #4772
Yes, that's exactly what Jonas wants indeed. We'll meet with him next week in Berlin to discuss this stuff and future cooperation in SSHOC DataverseEU project.

[2018-12-01 09:59] poikilotherm commented on #5288
@kcondon, thx for merging #5289.

As that PR adressed only a part of this issue, could you please reopen? Thx!

[2018-12-01 13:37] pdurbin commented on #5344
@dheles thanks for your input. You're making me think that I should take a look at DSpace's dev guide see how they explain to developers how to use Flyway. I read what @MrK191 wrote in his pull request but I'm still a little confused about what I'm suppose to do as a developer. It all feels a bit magic at the moment.

@MrK191 heads up that after pull request #5289 by @poikilotherm was merged there

[2018-12-02 22:04] pameyer commented on #2778
@jggautier Any thoughts on `IsSourceOf` for "Related Dataset"?

I'm a little confused about how a dataset would cite another dataset, but that's likely because I haven't looked at the spec for a while.

[2018-12-03 09:49] poikilotherm opened #5360 "Dependency Housekeeping, Round 2"
This is a successor story to #5288.

Things left open from that very issue, still to be considered / discussed:

### Things open (and will stay open till we are on Glassfish 5+, see #5274)
- [x] Remove AWS SDK bundle and replace with "S3 only"
- [ ] Test the S3 stuff against some server to be sure it works, as no integration tests are present (see #5068 and #4690)

### Things to consider

- [ ] Th

[2018-12-03 11:46] pdurbin commented on #5288
@poikilotherm thanks for opening #5360 as a successor issue!

[2018-12-03 12:50] RightInTwo commented on #2778
@jggautier yes, i am talking about published datasets

In regards to the relation types, Datacite defines a whole bunch of them:

- IsCitedBy
- Cites
- IsSupplementTo
- IsSupplementedBy
- IsContinuedBy
- Continues
- IsDescribedBy
- Describes
- HasMetadata
- IsMetadataFor
- HasVersion
- IsVersionOf
- IsNewVersionOf
- IsPreviousVersionOf
- IsPartOf
- HasPart
- IsReferencedBy
- References
- IsDocumen

[2018-12-03 13:04] RightInTwo commented on #4772
@pdurbin thanks Phil for pointing it out!
@4tikhonov i'm looking forward to meeting you again and finding out what the OpenSKOS solution can do

[2018-12-03 15:06] poikilotherm opened #5361 "Bootstrapping config on first deployment"
This is a story for #5292 and it depends on introduction of Flyway in #5344 / #5349.

----

While installing Dataverse, you need to create a few database entries regarding admin user, root dataverse, roles, metadata blocks and more. Details can be found in `setup-all.sh` and `reference_data.sql`.

This is currently done by the install script. This story is about a proposal to change this. Positive

[2018-12-03 15:22] poikilotherm commented on #5361
Some more explaining context why this came up in the first place:

While hacking on #5292, I missed an easy option to run the `setup-all.sh` script after the WAR has been deployed. That is not easy to achieve without application support and ideas like an init container or other stuff seemed a rather ugly workaround.

Bootstrapping from within the application was the natural thing to come up with n

[2018-12-03 15:33] jggautier commented on #2778
Thanks @RightInTwo. I mentioned 25 in an earlier comment; didn't realize so many more had been added since version 3.1!

I hadn't considered the whole list yet, just wanted to get the conversation started (but I agree isCitedBy doesn't make sense to me right now). Maybe we could get more feedback from depositors and curators of different types of datasets.

IsSourceOf makes me think of one dataset

[2018-12-03 15:41] pameyer commented on #2778
@jggautier That's the exact usage of `IsSourceOf` that I was thinking of - it seems to me like a better framework than mixing inputs and outputs in the same dataset.

[2018-12-03 20:47] kcondon commented on #3471
Tested with v4.94 and found that assigning any role to an unpublished dv does not cause dv card to appear in My Data nor on browse/search results page.

[2018-12-03 20:52] kcondon commented on #5197
Update, if attempt to assign a group to a group on creation, fails with no stack trace in v4.9.4
Group Creation failed. – Cannot add [ExplicitGroup 6474-kc120318G], as it is not defined in null or one of its ancestors.

1. create an explicit group with 1 user
2. create a second explicit group and during creation, add first group, save, see error in UI, 2nd group not created.
3. create 2nd group wi

[2018-12-03 20:56] scolapasta commented on #4684
@JayanthyChengan Similar to the alert PRs, could you consolidate a final version into one PR and close any remaining ones?(if one of these is already the consolidated version, just let us know).

I could use some more detail on this java program to create the property files? (I'm not sure if I missed the detail on this). I think it should probably live in the project that eventually houses all the

[2018-12-03 21:11] kcondon commented on #2122
OK above issues are either fixed or were preexisting issues. New issues found so far:
- an individual user in an explicit group within an explicit group assigned a role does not result permission granted to that individual. it does work on /develop.

[2018-12-03 22:03] pameyer commented on #5355
Oddly enough, tab ordering was correct in lynx.  Appeared to be due to specifying `tabindex` in `dataverseuser.xhtml`, but not the included `termsofuse.xhtml` (with no `tabindex`).  Allowing document structure to dictate tab order appears to resolve the issue; will defer to more UI minded folks if this has adverse consequences.

[2018-12-03 22:09] poikilotherm opened #5365 "As a documentation writer, I'd like to create images with inline markup."
In addendum to #5288 and the option to have GraphViz generated images in the docs added in #5289, @pdurbin suggested in #5288 and [on IRC](http://irclog.iq.harvard.edu/dataverse/2018-12-03) that a documented issue should be raised.

This will also contain some extended docs about options for images in Sphinx docs.

[2018-12-03 22:17] mheppler commented on #4403
To solve the issue with "Submitted for Review" alert msg's being displayed to guests/or users without permsions, I added `canUpdateDataset()` render logic to the lock msg section of the `DatasetPage.java` bean.

[code]

In that `if` statement, there are dataset lock warning msg's for multiple workflows, including, `DatasetLock.Reason.Workflow`, `DatasetLock.Reason.InReview`, `DatasetLock.Reason.Dc

[2018-12-03 22:21] mheppler commented on #5355
Thanks for the pull request, @pameyer. I will take a look!

[2018-12-04 00:10] davclark commented on #4714
A little late to this very active party... but I'll point out that the git repo is fairly intrinsic to the Gigantum project - in this sense, it's difficult to package something safely for a repository. Zip files make sense to me, as it's a highly standardized format that preserves structure and is easy enough to get a single file out of.

Is there any easy way to put a git repository on dataverse

[2018-12-04 00:35] pdurbin commented on #4045
I guess the only thing I'll add is that an OptimisticLockException is never a good thing. Any more leads on a fix, @mdmADA ? Or steps to reproduce the bug, especially on the "develop" branch?

[2018-12-04 03:51] mdmADA commented on #4045
Hi @pdurbin. An OptimisticLockException is definitely not a good thing.

I have a number of things on the go at the moment but will add 'attempt to reproduce bug #4045" to my TO-DO list.

As for a possible fix, I haven't have had time to think about that either. My instinct tells me the failed data file ingest caused the OptimisticLockException issue somewhere down the line and adding in a pause b

[2018-12-04 14:53] jggautier commented on #1894
The ref-type was changed to 59 in https://github.com/IQSS/dataverse/issues/4816. 👍Closing this issue.

[2018-12-04 14:53] #1894 closed

[2018-12-04 16:12] mheppler commented on #4608
Fixed format and hyphen issues related to dataset warning msgs for Submitted for Review and Publish in Progress workflows as part of #4403.

![screen shot 2018-12-03 at 5 13 53 pm](https://user-images.githubusercontent.com/687227/49404903-d508bf80-f71e-11e8-80e9-3c5bc5c4e92e.png)

![screen shot 2018-12-03 at 5 14 54 pm](https://user-images.githubusercontent.com/687227/49404983-231dc300-f71f-11e8-9

[2018-12-04 16:16] pdurbin commented on #4821
At standup yesterday I indicated that I've finished reading the "COUNTER Code of Practice for Research Data" which brings more questions to my mind. Below I'll put the latest to do list. At standup I talked through open items from the original to do list above at https://github.com/IQSS/dataverse/issues/4821#issuecomment-440327789 and I just updated that comment to indicate the latest status. I'm

[2018-12-04 16:29] donsizemore commented on #4729
just a bump that we get this on our test dataverse (4.9.4) as well. we have haven installed; server.log sez

`voidEval failed, request status: error code: 127`

still poking.

[2018-12-04 16:36] djbrooke commented on #3759
@thegaryking We have a PR up for review with changes for everything requested except the abstract part. Can you provide a few more details about where you're seeing the abstract show up in BibTeX (or elsewhere)? Thanks!

[2018-12-04 16:48] dlmurphy commented on #4403
Suggestions for revisions to the above messages, based on input from @scolapasta and @mheppler:

**Dataset Locked** -- This dataset is locked until publication.

**File Upload in Progress** -- This dataset is locked while its data files are being transferred and verified.

**Publish in Progress** -- This dataset is locked while its file persistent identifiers are being registered or updated.

[2018-12-04 16:49] thegaryking commented on #3759
sometimes there's an extra field that looks like this:

abstract = {We clarify the theoretical foundations of partisan fairness standards for district-based democratic electoral systems, including essential assumptions and definitions that have not been formalized or in some cases even discussed. We pare assumptions down to their minimal essential components and add extensive empirical evidence fo

[2018-12-04 17:35] JayanthyChengan commented on #4684
PR https://github.com/IQSS/dataverse/pull/5290 is the latest one with all changes.

[2018-12-04 18:47] sekmiller commented on #3759
Abstract ("description") is not part of the BibTex citation, but per Gary's comments above I have removed it from RIS and EndNote XML versions.

[2018-12-04 22:12] kcondon opened #5369 "Shibboleth: Cannot get shib login working with Test Shib, following the instructions in the guide."
Was not able to get Shibboleth log in working on a test system by following the instructions in the guide.
This had worked previously but now returns the error:
Error Message: SAML 2 SSO profile is not configured for relying party https://dataverse-internal.iq.harvard.edu/sp

Note the instructions includes a test shib metadata file that has an out of date cert. My installation bypassed this by get

[2018-12-04 22:37] #5365 closed

[2018-12-04 22:40] kcondon commented on #3427
Stephen mentioned how to test, "have a custom metadata block and then change it back to root and all good things happen."

[2018-12-04 22:53] #5325 closed

[2018-12-04 22:56] djbrooke commented on #5336
Hi @pkiraly - I got a chance to catch up with @scolapasta and we think that the concerns about the disruptions to the git history outweigh the benefit of this change. I'm going to close this PR and issue, but if there's some other change that provides a check at submission time (or some other solution that's not as disruptive and is more incremental), we should talk through it before a PR.

[2018-12-04 23:48] kcondon commented on #5307
Exception thrown when create a dataset with inherited role none:

Local Exception Stack:
Exception [EclipseLink-4002] (Eclipse Persistence Services - 2.5.2.v20140319-9ad6abd): org.eclipse.persistence.exceptions.DatabaseException
Internal Exception: org.postgresql.util.PSQLException: ERROR: null value in column "role_id" violates not-null constraint
  Detail: Failing row contains (347, @dataverseAd

[2018-12-05 00:50] pdurbin commented on #5307
@kcondon the error above make me wonder if you ran the following SQL statement from the pull request:

    ALTER TABLE dataverse ALTER COLUMN defaultcontributorrole_id DROP NOT NULL;

If so, my bad.

[2018-12-05 05:52] mfenner commented on #4821
@pdurbin happy to help answer these questions, but would it make sense to break this done into several issues? Not one issue per item, but the list is so long that it might become difficult to track the responses.

[2018-12-05 07:14] lmaylein opened #5370 "Production Date: Date range instead of single date?"
Is it possible to allow date ranges for the production date in future releases?

Or is there better way to record that the production of the data has lasted several months/years ... ?

[2018-12-05 11:32] pdurbin commented on #5370
@lmaylein it's fine to ask here and people like @jggautier or @sbarbosadataverse might have some ideas for you, but I think it would for you to post to https://groups.google.com/forum/#!forum/dataverse-community as well (and include a link to this GitHub issue) to see what the community does for cases like this. Maybe there's a way to express date ranges in DDI or something. I'm not sure.

[2018-12-05 12:36] pdurbin commented on #4821
@mfenner hi! If @djbrooke hasn't emailed you and @dlowenberg already, he plans to do so soon. I'm sorry that I didn't have a lot of questions back during our meeting on 2018-10-18 ([notes][]) but back then I hadn't watched two webinars, hadn't read the CoP, hadn't read the "getting started" guide. (I still haven't read the SUSHI spec and I suspect that I should.) Now that I'm feeling more up to sp

[2018-12-05 14:15] sekmiller commented on #5307
Yes. That needs to be run:

ALTER TABLE dataverse ALTER COLUMN defaultcontributorrole_id DROP NOT NULL;

I didn't note it in the pull request originally. (I'm so used to changing deployment requirements to NONE.)

[2018-12-05 14:43] pdurbin commented on #4684
@JayanthyChengan thanks for all work on this! Shouldn't your pull request include a change to the rst file for http://guides.dataverse.org/en/4.9.4/admin/metadatacustomization.html to explain to creators of custom metadata blocks that they must create not only a TSV file but also a bundle file? Once your pull request is merged, I mean.

[2018-12-05 14:45] lmaylein commented on #5370
https://groups.google.com/forum/#!topic/dataverse-community/lZ9ntAy3QQs

[2018-12-05 15:39] poikilotherm commented on #5345
Following @pdurbin suggestion about DDD (doc driven development), I request a review of my plans in #5371 by @landreev and potentially others.

Cheers :smile: :beer:

[2018-12-05 16:35] kcondon commented on #5307
@pdurbin @sekmiller As discussed, I had run that sql statement but the stack trace indicates a different table so another statement is needed.

[2018-12-05 16:39] scolapasta commented on #5307
I don't think a script is needed; it sounds like it is automatically still trying to create the default role when it is set to null, so just throwing an if around that should work.

[2018-12-05 16:43] mheppler commented on #5355
Removing the `tabindex` attribute appears to have resolved the tabbing issue on the Sign Up/Create Account pg, as well as the Password Reset pg and Convert Account/Shib pg, where the `termsofuse.xhtml` fragment is also included.

NOTE: If testing in Safari, and you can not tab to the checkbox or "Save Changes" and "Cancel" form buttons, it is because you need to change your browser preferences. Go

[2018-12-05 17:19] landreev commented on #5136
Just to make it clear, my assumption was that the PR #5353 should be the PREFERRED solution. Simply because it's so much less invasive. But the original PR (#5316) should be kept (for now) as a backup solution, just in case problems are found in 5353 during QA.

If there are issues, such as security issues with jsessions, it should be addressed and discussed outside of this issue. This would be a

[2018-12-05 17:20] TaniaSchlatter opened #5372 "Deposit from GitHub"
This issue is phase 1 of three phases to [allow depositers to add code to Dataverse (#2739)](https://github.com/IQSS/dataverse/issues/2739).

- This issue was [discussed in the community call on December 4, 2018](https://docs.google.com/document/d/1EXKqARyxdPWW7yg3TPi9-QvXME44mwcyXkogxRGoFXk/edit)
- [Feature Design Doc](https://docs.google.com/document/d/1Wa8OJBftzJs_v9QDeccRanx6S0MNoiuPjqnRaL20cN

[2018-12-05 17:42] landreev commented on #5136
@kcondon - if you're happy with #5353 after testing it, please merge away.

[2018-12-05 17:43] mheppler commented on #5300
Implemented the `LONG` date and time format as outline in the [`DateFormat` class documentation](https://docs.oracle.com/javase/tutorial/i18n/format/dateFormat.html).

<img width="543" alt="screen shot 2018-12-05 at 12 40 37 pm" src="https://user-images.githubusercontent.com/687227/49532641-00102200-f88b-11e8-900f-833c04da2e53.png">

In addition to allowing the time stamps in the Notification tabl

[2018-12-05 17:52] mheppler commented on #1391
See #5300 for how the date and time format of the time stamps on the Versions Details popup (labeled "Dataset Versions, Difference" above) on the Dataset pg, as well as the Notification table on the Account pg have been updated for the internationalization efforts across the site.

Any date and time format consistency issues should also look to . As well as _Permissions: Timestamp + user name in n

[2018-12-05 17:55] mheppler commented on #2855
See #5300 for how the date and time format of the time stamps on the Versions Details popup (labeled "Dataset Versions, Difference" above) on the Dataset pg, as well as the Notification table on the Account pg have been updated for the internationalization efforts across the site.

Also consider _Date/Time Stamp Format - Consistency Across App #1391_ for preferred date and time formatting.

[2018-12-05 18:58] kcondon commented on #3427
So more specifically, if you have custom metadata blocks defined in the system (we do), create a dataverse, uncheck Use metadata fields from Root, save. Go back, recheck use metadata fields from Root, save, edit button is temporarily disabled until refresh and if you double check the dv, the use metadata fields from Root remained unchecked -it didn't save.

[2018-12-05 19:14] JayanthyChengan commented on #4684
@pdurbin @scolapasta  , updated doc/sphinx-guides/source/admin/metadatacustomization.rst in the PR #5290 , please review it.

[2018-12-05 19:24] kcondon commented on #3427
OK this works -I'm able to recheck use metadata fields from root and it saves. Note that when the checkbox is checked, the save happens from the popup and not the page.

[2018-12-05 19:50] mfenner commented on #4821
A call makes a lof sense and can happen soon (schedule via email). Be aware that we don't have the answers to all your questions.

[2018-12-05 19:51] mfenner commented on #4821
## Does Dataverse really need to become a harvesting server for reports in SUSHI format?

In the ideal world yes, but the MDC pilot partners are also not doing this yet. So nothing to worry about right now, but keep this in the back of your head.

[2018-12-05 19:52] mfenner commented on #4821
### Does Dataverse really need to become a harvesting server for reports in TSV format?

Again, this can happen at some point in the future. DataCite will do a CSV conversion of the reports sent to us in JSON format.

[2018-12-05 19:54] mfenner commented on #4821
### Why does the CoP refer to SUSHI (JSON) and TSV formats but the "getting started" guide links to DataONE examples in XML?

SUSHI reporting is in JSON and/or TSV. The XML is specific to DataONE, they can explain the reasoning behind it.

[2018-12-05 19:56] mfenner commented on #4821
###  I've emailed Martin about two typos in the CoP and they've been fixed (thanks!) but what's the process for giving more extensive feedback on the CoP?

We haven't sorted out the formal process since COUNTER officially took over maintenance of the Code of Practice a few months ago. It is a good question, we will get back to you about this.

[2018-12-05 19:57] mfenner commented on #4821
### How do you plan to measure non-HTTP downloads such as via rsync?

The Code of Practice is really agnostic about the protocol, as long as you have log entries with timestamp and useragent information.

[2018-12-05 20:00] mfenner commented on #4821
### What's the likelihood that there will be audits in the future? Is this something we should warn Dataverse installations about?

This is something that is central to COUNTER for journal articles, but nothing is planned yet for dataset usage stats. My guess is that we will not have that discussion until there is more uptake of the Code of Practice, and until we have figured out a way to do audit

[2018-12-05 20:58] pdurbin commented on #4684
@JayanthyChengan I didn't `make html` but the info you added to about to metadatacustomization.rst looks great! I made a small tweak in a561055 to remove some references to this issue. I put this issue back in code review. Thanks!

[2018-12-05 21:37] pdurbin commented on #5280
@tjanek I was reminded today by @djbrooke that @qqmyers listed "Custom Sorting" in his "QDR and Dataverse Coordination" doc. I'm not sure if @qqmyers would want me to link to the doc here or not but I don't think he's object to me copy/pasting the relevant sections:

* Custom Sorting
   * https://github.com/IQSS/dataverse/issues/4959
   * Not necessarily sorting, but grouping - goal is to privileg

[2018-12-05 21:39] pdurbin commented on #4959
Related: #5280

[2018-12-05 21:58] #5307 closed

[2018-12-05 22:28] poikilotherm opened #5373 "Community Call on Docker, Kubernetes and more: collecting interested people"
Dear Dataverse users, sysadmins, devs, devops and anybody else,

from the [community call on 12/4/2018](https://docs.google.com/document/d/1EXKqARyxdPWW7yg3TPi9-QvXME44mwcyXkogxRGoFXk) I got the impression that a follow up meeting on this topic might be a good idea.

**If you are interested in using Dataverse on Docker and/or Kubernetes in production systems or during development, let's get in tou

[2018-12-05 22:29] poikilotherm commented on #5373
Mentioning people I know that might be interested:
@bronger @pdurbin @pameyer @MrK191 @4tikhonov @qqmyers

[2018-12-05 22:32] kcondon commented on #5300
@JayanthyChengan Loading the homepage or clicking on an existing dataverse results in a server log error about an unparseable date, though the page does load:

[2018-12-05T17:30:34.876-0500] [glassfish 4.1] [SEVERE] [] [] [tid: _ThreadID=51 _ThreadName=Thread-9] [timeMillis: 1544049034876] [levelValue: 1000] [[
  java.text.ParseException: Unparseable date: "Dec 5, 2018"
	at java.text.DateFormat.pa

[2018-12-05 22:50] kcondon commented on #5202
@mheppler @JayanthyChengan Why when I look at this PR is there a *ton* of changes not specifically related to the title of this ticket? It makes it less clear what the scope is. The PR title is more accurate, more broad. Just trying to understand what these changes mean.

[2018-12-05 23:14] pameyer opened #5374 "as a developer, I'd like the docker-aio plumbing to work."
At some point, `conf/docker-aio/prep_it.bash` broke and no longer results in a running dataverse instance for running ITs on.   Starting glassfish in the container after `prep_it.bash` does result in a working configuration.

This issue is more for future reference, in the event anyone else runs into it.  Shouldn't be a big fix, not likely to dig into it in the immediate future.

[2018-12-05 23:31] #5355 closed

[2018-12-05 23:38] kcondon commented on #5202
OK, I'll take a look. Might have misunderstood the essence of the ticket and the conversation moved to PR.

[2018-12-06 00:32] oscardssmith commented on #1391
Just saying, there is an actual spec for the right way https://en.wikipedia.org/wiki/ISO_8601 for dates, it's YYYY-MM-DD. It prevents any guessing games (at least until 10000 AD)

[2018-12-06 14:10] flaviofrancisco opened #5375 "Persisted id (doi) for files are using test prefixes instead of production one."
We have a published doi on the following link:
http://dataverse.nioz.nl:8080/dataset.xhtml?persistentId=doi:10.25850/nioz/7b.b.f

But the files related to that doi has a test prefix (10.5072)
http://dataverse.nioz.nl:8080/file.xhtml?persistentId=doi:10.5072/nioz/7b.b.f/F0FIDK&version=4.0

It should be 10.25850, should it not be?

We upload files using the following url:
http://dataverse.nioz.nl:80

[2018-12-06 14:46] pdurbin commented on #5375
@flaviofrancisco hi! I guess the first question I have is if you want DOIs for files or not. They're optional as of Dataverse 4.9.3 (and I see you're running 4.9.4): http://guides.dataverse.org/en/4.9.4/installation/config.html#filepidsenabled

@sekmiller and I just looked at your settings (please block this) and you have "10.5072" configured for ":Authority" so if you create a new dataset right n

[2018-12-06 15:02] flaviofrancisco commented on #5375
Thanks @pdurbin! I just blocked the admin api.

Regards;
Flavio.

[2018-12-06 15:02] #5375 closed

[2018-12-06 15:39] landreev commented on #5344
@MrK191 et al,
So to recap, this looks promising and we are interested in incorporating FlyWay going forward.
For upgrading from past releases (prior to the release in which we add FW), we will advice people to first upgrade to the N-1 version, potentially using the scripting solution for jumping across versions provided earlier. But this part needs to be clearly documented.
There were also some o

[2018-12-06 16:09] pdurbin commented on #5344
For @MrK191 's benefit I'll just highlight #5057 as one of these more complicated scenarios that we don't expect Flyway to handle. It had to do with the shoulder of a DOI and how we store it. @scolapasta @landreev and I discussed yesterday that we expect we'll still need to write some SQL ourselves here and there and I believe @landreev mentioned Flyway has a mechanism for adding custom SQL statem

[2018-12-06 16:33] JayanthyChengan commented on #5300
@kcondon - committed the correction. please test it

[2018-12-06 16:33] poikilotherm commented on #5374
Don't throw stones on me, but maybe, just maybe, instead of fixing this it might be an idea to switch to Arquillian for IT tests, once my Docker work is done. Adding a ref to this here: #5068

[2018-12-06 16:42] pdurbin commented on #5374
@poikilotherm are you using Arquillian in PeerPub? I don't see it in the pom at https://github.com/peerpub/peerpub . Either way switching from REST Assured to Arquillian is out of scope for this issue @pameyer opened but it certainly doesn't hurt to mention the idea! 😄

[2018-12-06 16:43] pameyer commented on #5374
@poikilotherm If `docker-aio` becomes obsolete because there's a better way, then this won't be something that needs fixing :)

[2018-12-06 16:48] landreev commented on #5344
The entire upgrade script for that release (upgrade_v4.8.6_to_v4.9.sql) is a good example. Among other things, we move the columns that store the global identifiers from the table dataset to dvobject; and transfer (and modify!) the values based on some pattern-matching.

We will likely have cases like that again going forward. So this scenario needs to be tested and documented carefully before we

[2018-12-06 16:55] #5300 closed

[2018-12-06 17:00] poikilotherm commented on #5344
@landreev please be aware that it would be totally possible to have the migrations from 4.x to the first that includes the Flyway stuff. IMHO your existing migration scripts can be reused for this, so this is not lost.

For all cases that require complex stuff which cannot be done in SQL or only in more complex ways, you can always add a Java based migration to the mix. That offers a lot more opti

[2018-12-06 18:07] landreev commented on #5344
I asked that question earlier, and was told that no, it would not work. OK, you mean, it would work, if we go back and create FlyWay upgrade scripts for all the earlier versions, using our old migration scripts as a source - ? Hmm. TBH, that sound like a lot of work, that I'm not sure would be fully justified...

[2018-12-06 18:36] landreev commented on #2122
OK, I'm done with my testing too.
The only thing that this issue needs is testing of permissions derived from Shib auth. Which we currently cannot do because we don't have a test system with Shib working.
This is handled in a new issue #5369.
But this is just to make it clear that this is a hard dependency - we cannot finish QA of this issue, until #5369 is resolved.

[2018-12-06 18:53] #3759 closed

[2018-12-06 19:41] poikilotherm commented on #5344
Maybe I got something wrong, but aren't your upgrade scripts more or less plain SQL stuff like "ALTER, CREATE, ..."?

When using Flyway, you need to write either SQL migration scripts and/or Java migration "scripts" (classes). There is no real "scripting" like in "bash script" involved. So IMHO you could simply reuse the existing "upgrade_v4.8.6_to_v4.9.sql" and others, rename it a bit so it fits

[2018-12-06 19:49] poikilotherm commented on #5374
No, the project wasn't as far and not as complex as Dataverse is. You integrate way more stuff than PeerPub was ever thought to be using... :wink:

Don't get me wrong - you still need test cases e. g. with REST Assured! Arquillian is just about automation and control of 'em.

[2018-12-06 19:54] pdurbin commented on #5344
@poikilotherm well, "plain SQL" can get a little complicated. Like @landreev is saying, if you look at https://github.com/IQSS/dataverse/blob/v4.9/scripts/database/upgrades/upgrade_v4.8.6_to_v4.9.0.sql#L65 for example you'll see this:

`INSERT INTO setting(name, content) VALUES (':Shoulder', (SELECT substring(content, strpos(content,'/')+1) || '/' from setting where name = ':Authority'));`

That l

[2018-12-06 20:08] MrK191 commented on #5344
@poikilotherm Are you sure you can create a baseline after executing sql scripts?

[2018-12-06 20:23] poikilotherm commented on #5344
@MrK have we been blind? We could just set the proper baseline version depending on the Dataverse version, couldn't we? Wouldn't that render the custom `MigrationResolver` pointless, because then we could "just" transform the existing scripts into versioned ones that will be applied by standard resolver?

[2018-12-06 20:36] poikilotherm commented on #5344
Another thought: it might be a good idea to find out on what versions the 35 production instances are. The lowest version should be the one to base all Flyway migrations upon (kinda "lowest baseline"). Everything before that makes no sense IMHO. This should of course be documented.

[2018-12-06 20:39] MrK191 commented on #5344
@poikilotherm Oh yeah you are right, but after we detect which version it is, we would need to move the correct scripts to the db/migration folder and rename them so we can execute them in correct order.

[2018-12-06 20:40] poikilotherm commented on #5344
I don't think so - the Flyway baseline docs state clearly that everything before baseline, including baseline is ignored.

https://flywaydb.org/documentation/command/baseline

[2018-12-06 20:52] MrK191 commented on #5344
@poikilotherm Oh then that would be amazing, I will test it tomorrow.

[2018-12-06 21:05] poikilotherm commented on #5344
@MrK191 you have seen [API docs](https://flywaydb.org/documentation/api/javadoc/org/flywaydb/core/api/configuration/FluentConfiguration.html#baselineVersion(java.lang.String)) about setting the baseline version, haven't you? It should be easy to provide a mapping from Dataverse version to migration version. Maybe add a sysprop for the old version? Easy to set in the app server...

[2018-12-07 03:21] mdmADA opened #5376 "Can't delete partially created zombie dataset"
DV 4.6.1

I was using the API to create a dataset in a sub-dataverse of our production Dataverse installation.

The postgres database was configured for less than half the db connections than Dataverse was configured for. As a result, when I tried to create the dataset, Dataverse couldn't get a connection and somewhere down the line crashed.  (We fixed the connection issue btw by setting the numbe

[2018-12-07 07:37] poikilotherm commented on #5373
Hey @mercecrosas, @djbrooke and @sbarbosadataverse, may I ask you to [retweet my post](https://twitter.com/poi_ki_lo_therm/status/1070446102434979842) to reach more people out there? Thanks! :smile_cat:

[2018-12-07 11:11] poikilotherm opened #5377 "Latest develop fails to build when not using complete AWS bundle SDK"
This relates to #5274.

When rebasing on latest [`develop`](https://github.com/IQSS/dataverse/commit/2a02d7c69c7a01f8fbe2a5d630d7c9930edcd30e), my build incorporating a fix for #5274 fails:

[code]

This is due to two commits in #5341, which was a resolution for #4680 and #4672, namely 85414f2e0910ae4b2ff0048434fcdbc68c23acc1 in [line 31](https://github.com/IQSS/dataverse/blob/2a02d7c69c7a01f8fbe2

[2018-12-07 11:25] poikilotherm opened #5378 "As a developer, I need rules what to include in commit messages."
This is triggered by #5377 and commits from #5341.

As far as I can see from the dev docs, there is no standard or rule what to include in commit messages and what not, besides asking for inclusion of the GH issue number.

This is not always possible, as a solution for an issue is often done by multiple commits. IMHO just including an internal ticket number from an unknown JIRA is not sufficient.

[2018-12-07 11:33] poikilotherm opened #5379 "As a developer, I need documentation on "to rebase or not" in feature branches."
Dear devs, QA and anybody else who it may concern,

I would be very glad if some documentation about how to handle a diverged `develop` branch in my feature branch when creating or updating a PR before merge.

Seeing a lot of "merge" commits in the codebase and personally not being a fan of those if they are caused by devs merging in `develop` instead of rebasing and cleaning up conflicts in their

[2018-12-07 11:41] poikilotherm commented on #5377
@pdurbin could you please drag this to QA? Thx!

[2018-12-07 12:36] pdurbin commented on #5376
@mdmADA yikes! Just clicking the zombie datasets crashes the entire web app for everybody? Very strange. My first thought is that you should try to delete the dataset via API. This is documented here: http://guides.dataverse.org/en/4.9.4/api/native-api.html#delete-dataset

You could also use the "destroy" form which isn't documented but you can find an example in #2593.

Either way is safer than h

[2018-12-07 12:56] dheles commented on #5344
@poikilotherm we (JHU) are on 4.6.0, but will be upgrading to 4.9.4 next week.

[2018-12-07 13:14] mercecrosas commented on #5373
Good idea! Done.

On Fri, Dec 7, 2018 at 2:37 AM Oliver Bertuch <notifications@github.com>
wrote:

--
Mercè Crosas, Ph.D., Chief Data Science and Technology Officer, IQSS, Harvard
University
mcrosas@g.harvard.edu | @mercecrosas <https://twitter.com/mercecrosas> |
scholar.harvard.edu/mercecrosas

[2018-12-07 15:48] pdurbin commented on #4821
@mfenner thanks for all the answers above! Sorry, but we have even more questions that we'd like to go over with you and @dlowenberg during the call that starts in 10 minutes. Here's the updated list:

https://docs.google.com/document/d/1MlJqQmPMUJyJn_fGMzmL2WjvcJQeu7146FfqFkzEAlg/edit?usp=sharing

[2018-12-07 15:55] landreev commented on #5344
Seriously, even if it is possible to apply FlyWay to past versions, by doing some retroactive work for the existing releases... IMO, it's a bit hard to justify this extra effort. I would stick to what @Mrk191 originally suggested - we just tell people to upgrade to the last non-FlyWay release first; and for that we have a clearly documented process.

[2018-12-07 16:02] landreev commented on #5344
A correction to what I said yesterday: I'm not going to "jump on it" just yet; because this hasn't gone through our normal planning and scheduling process.
So I'm going to put this back into community dev column.
There's been a productive discussion and there's some semblance of a consensus of what needs to be done, before we can incorporate this:
- The entire process should be very clearly docume

[2018-12-07 16:10] scolapasta commented on #5376
@mdmADA From the symptoms above, it sounds to me as if the dataset was *not* created. That would explain why the API says it cannot find it and why you could delete the owning dataverse.

The fact that it is still showing means that it is still in the index. I'm actually not sure if we have any way to clean up an "orphan" from the index, but you could run an index all (clean).

[2018-12-07 16:38] landreev commented on #5344
@dheles If you are upgrading next week, to 4.9.4: the upgrade instructions that come with the release still ask you to perform every intermediate upgrade between 4.6.0 and 4.9.4, manually. We have added a scripting solution, that allows to upgrade the database from 4.6.0 and 4.9.4 in one step; but as of now, it's only available in the develop branch (it will be included in the next release).
But y

[2018-12-07 17:38] johnhuck opened #5381 "Migration Script - metadata bug (softwareName)"
When we migrated from 3.6 to 4.0, we discovered two metadata mapping errors in the scripts, which were captured in the following two issues:

- https://github.com/ualbertalib/dataverse/issues/45
- https://github.com/ualbertalib/dataverse/issues/50

I believe the first issue has already been [flagged](https://github.com/IQSS/dataverse/issues/3323). The second issue pertains to the element softwareN

[2018-12-07 17:42] qqmyers opened #5382 "/api/admin/dataverse/{alias}/addRoleAssignmentsToChildren not documented in guides"
This api call (that I added) is not yet documented in the guides. I'll add some...

[2018-12-07 17:51] mheppler commented on #2960
Stumbled across this download issue, and saw the `wget` conversation. Reminded me that we added a bit of help text to the _Download Package File from S3 #4949_ issue.

We currently display a Download URL on the file pg, which provides download access via the API.

<img width="855" alt="screen shot 2018-12-07 at 12 48 25 pm" src="https://user-images.githubusercontent.com/687227/49663984-72fdd200-fa

[2018-12-07 19:57] pdurbin commented on #4821
We just had a meeting after the meeting and here are the notes: https://docs.google.com/document/d/16zURrRqNVdMQ3hQHc3MrcxNq7dRDQC3lSNWMX8t28WM/edit?usp=sharing

[2018-12-07 20:18] mheppler commented on #4949
Commented in issue _Support The Ability To Resume Disrupted File Downloads #2960_ suggesting that we add similar help msg regarding `wget` and download manager to the Download URL metadata on the file page. I had hoped adding a similar message would be be sufficient to close that issue.

[2018-12-07 20:36] matthew-a-dunlap opened #5384 "Generate verbose data usage logs for processing and communication with Make Data Count"
To generate information on views/downloads/citations for [Make Data Count](https://makedatacount.org/), the first step is to log the raw usage data for later processing.

Our current goal in this logging is to have the syntax match what is used by [Counter Processor](https://github.com/CDLUC3/counter-processor). This is so we can potentially use Counter Processor to process our raw logs. Even if w

[2018-12-07 20:48] matthew-a-dunlap opened #5385 "Spike: Test Counter Processor for use by Dataverse in implementation of Make Data Count"
For Dataverse to generate aggregated usage data to comply with the Make Data Count specifications, raw data access logs will need to be processed for a variety of reasons. Furthermore, this aggregated data needs to be sent to the Make Data Count servers for centralized access and further use.

An implementation exists that will fill both of these needs for us, namely [Counter Processor](https://gi

[2018-12-07 20:48] matthew-a-dunlap commented on #5385
Reasons for processing:
- Anonymizing data
- Removing duplicate clicks within 30 seconds
- Aggregating multiple interactions within a session as unique

[2018-12-07 20:51] matthew-a-dunlap commented on #4821
I have generated two stories to move foward on our work supporting Make Data Count:
- https://github.com/IQSS/dataverse/issues/5384
- https://github.com/IQSS/dataverse/issues/5385

Furthermore, there are some additional bits of investigation that can be done to support this work:
- Get Make Data Count test accounts
- Start trying to download information from DataCite / Make Data Count

[2018-12-07 20:55] landreev commented on #5345
@poikilotherm
As a quick note, yes, this makes perfect sense.

At present, we are not benefiting from the fact that the timers are stored in the database, at all. It's kind of the other way around: you can say that we go to the extra trouble of making sure that our timers are NOT persisted. In a multi-node cluster, we specifically try to run all the timers on just one of the nodes (for various rea

[2018-12-07 21:07] dheles commented on #5344
@landreev Thanks for the info. We are right on the cusp of going live with an Ansibilized upgrade process I've been developing and testing for a while now. In the long run, I think the scripted and Flyway upgrade processes will be much easier and I look forward to testing and using them in the future. However, especially as our EZID-to-DataCite DOI migration is to be facilitated by our upgrade, I

[2018-12-07 21:22] landreev commented on #5344
@dheles Makes sense.
Still, keep in mind that you don't need to wait for the next release, in order to use the new database upgrade script.
You check out the develop branch and run it from there.
The script is scripts/database/dbupgrade.sh; the instruction is in scripts/database/README_upgrade_across_versions.txt.
In order to run, the script also uses the file scripts/database/releases.txt; and th

[2018-12-07 21:34] pdurbin commented on #5378
@poikilotherm this is what we say at http://guides.dataverse.org/en/4.9.4/developers/version-control.html#commit-your-change-to-your-new-branch

So we do talk about multiple commits. If you'd like to offer better wording, please consider making a pull request. At the very least "Making" should be "Make". Thanks!

[2018-12-07 21:38] pdurbin commented on #5379
@poikilotherm thanks for opening this issue. For now I'll just encourage you to read through #3418, especially the part where I mention my desire for a "clean git history" but you have to understand that we're still relatively new to git and many of us used SVN for years and years. Only recently have we started using branches and pull requests per feature. We are slowly evolving and maturing and f

[2018-12-07 21:43] pdurbin commented on #5344
@landreev @MrK191 @poikilotherm thanks to @dheles who put me in touch with some DSpace developers, I now know where the document Flyway in their dev guide. Check this out:

- https://wiki.duraspace.org/display/DSPACE/Code+Contribution+Guidelines#CodeContributionGuidelines-Databaseschemachanges
- https://wiki.duraspace.org/display/DSDOC6x/Storage+Layer#StorageLayer-CustomRDBMStables,columsorviews

[2018-12-07 21:47] pdurbin commented on #5381
@johnhuck no worries on the delay. Thanks for letting us know!

[2018-12-07 21:52] pdurbin commented on #2960
@mheppler fine with me.

[2018-12-07 22:07] dheles commented on #5344
Regarding the need to tell Flyway your current database version... DSpace has a process wherein the database version is automatically identified and I'm pretty sure that information is passed on to Flyway to make sure the proper migrations are applied. IDK exactly how it's done, but it's alluded to under "Upgrade your database" here: https://wiki.duraspace.org/display/DSDOC6x/Upgrading+DSpace#Upgr

[2018-12-10 04:14] mdmADA commented on #5376
Thanks for the feedback/advice.

@pdurbin - I probably misspoke when I said it crashed dataverse - when I clicked on it, Dataverse stopped responding but it might have been due to the original underlying db connection issue that caused its zombie status in the first place. But I am unwilling to click on it again to see what happens... I did try the API to delete it but the API returned an error me

[2018-12-10 09:22] poikilotherm commented on #5378
Sorry @pdurbin I missed the "several commits" part. Should we be a bit more explicit about this and give an example?

GitHub also understands things like "Relates" and "Solves" and "Fixes". Maybe intermediate commits should state "Relates to #xxx" and the final solution then "Solves #xxx"?

But the biggest issue is about what should be put in the `git log` besides the issue number. IMHO it should

[2018-12-10 11:14] pdurbin commented on #5378
@poikilotherm if your main point is that developers should feel free to include a "body" in their commit messages (separated by a newline from the subject) then I definitely agree with you. Please feel free to make a pull request about this.

As you know, Dataverse developers also communicate with each other with by adding to the Developer Guide. Obviously, you'll be editing the dev guide when you

[2018-12-10 17:47] pdurbin commented on #5369
Today I learned that at http://www.testshib.org that the TestShib testing service we've been using is gone. Here's a screenshot:

![screen shot 2018-12-10 at 12 34 03 pm](https://user-images.githubusercontent.com/21006/49750599-5f01dc80-fc79-11e8-9808-ae6b93f1aefa.png)

This is unfortunate since we recommend using TestShib in our Installation Guide to validate that you've configured Shibboleth pro

[2018-12-10 17:52] djbrooke opened #5387 "Upgrade Shibboleth to v.3"
We are currently on a deprecated version of Shibboleth. Let's test and then update documentation to point to a more recent and supported version, such as Shibboleth 3.

[2018-12-10 17:57] pdurbin commented on #5369
Oh, the other thing I mentioned to @djbrooke but that I should remind everyone of is that HarvardKey should "just work" for the following three hostnames that are part of the InCommon XML feed:

- https://dataverse.harvard.edu - https://incommon.org/federation/info/entity.html?entityID=https%3A%2F%2Fdataverse.harvard.edu%2Fsp&technical=true
- https://demo.dataverse.org - https://incommon.org/feder

[2018-12-10 18:01] jggautier commented on #4238
@pdurbin, will the change that you wrote hasn't been deployed change the ":SystemEmail" in the "Settings" table in the database to support@dataverse.harvard.edu?

In other words, is that change dependent on more progress on Harvard Dataverse's "about" and/or home page? Can we change the email in the General Terms of Use (the text stored as :ApplicationTermsOfUse also in the "Settings" table in the

[2018-12-10 18:17] donsizemore commented on #5387
Just a note that Odum has been running 3.0.2 since August; the only issues we've noticed are deprecation notices about certain config elements.

[2018-12-10 18:45] pdurbin commented on #4238
@jggautier there no technical reason to wait to reconfigure Harvard Dataverse to send support requests to support@dataverse.harvard.edu since that email address has worked fine for over a year. There's no reason to wait to use support@dataverse.harvard.edu wherever appropriate, such as in General Terms of Use.

All that said, I would love, love, love, to have us reconfigure the "About" link at the

[2018-12-10 18:50] kcondon commented on #4949
clicking on add dataset with existing config/upgrade from 4.9.4, no s3 results in exception error:

[2018-12-10T13:34:24.210-0500] [glassfish 4.1] [WARNING] [] [javax.enterprise.web] [tid: _ThreadID=51 _ThreadName=jk-connector(2)] [timeMillis: 1544466864210] [levelValue: 900] [[
  StandardWrapperValve[Faces Servlet]: Servlet.service() for servlet Faces Servlet threw exception
javax.faces.view.face

[2018-12-10 19:40] davclark commented on #4714
Oy - I'm not currently able to keep up well with GitHub notifications, so I'm thankful that there are good notes posted on the community call page!

[2018-12-10 19:59] jggautier opened #5389 "Update support email in the Harvard Dataverse Terms of Use text in the database"
In the Harvard Dataverse General Terms of Use that users see and accept when creating an account, we recommend people email support@dataverse.org for support.

<kbd>![screen shot 2018-12-10 at 2 54 59 pm](https://user-images.githubusercontent.com/18374574/49757970-b0b36280-fc8b-11e8-8675-4393b0842a7b.png)</kbd>

We should change the email to support@dataverse.harvard.edu.

The text is stored in th

[2018-12-10 22:13] pameyer commented on #5293
Suggestion for an alternative solution - the majority of the `asadmin` calls that are relevant to configuration are to configure JVM properties.  Moving these configuration options to environmental variables would simplify configuration (and avoid the `asadmin delete-jvm-option $foo:$bar` issue when you don't known `$bar` but want to delete all `$foo` options), and is genericly supported by applic

[2018-12-10 22:37] 4tikhonov commented on #5373
We're deploying multilingual DataverseEU instance on Google Cloud (demo server) and ready to share our experience with deployment on Kubernetes:
https://github.com/IQSS/dataverse-docker/tree/master/kubernetes

[2018-12-10 22:59] pameyer commented on #5145
It looks like special characters in metadata fields get mangled in the logs (eg - `Galápagos` is logged as `Gal?pagos`).

Any ideas if this is a config issue or a code issue?

[2018-12-11 12:14] skasberger commented on #5373
I am interested too.

[2018-12-11 14:17] pdurbin commented on #5097
@craig-willis is it safe to use https://github.com/whole-tale/wt-design-docs/blob/b3ed01560f600ba79510b067d393a7eeb8d9b1c1/users_guide/wholetale.json (also at https://wholetale.readthedocs.io/users_guide/integration.html#dataverse-external-tools ) if I wanted to advocate for loading up the Whole Tale external tool manifest as part of the "definition of done" for this issue?

Over at https://github

[2018-12-11 15:09] craig-willis commented on #5097
@pdurbin reviews PRs before they're created! Amazing!

Loading the `wholetale.json` seems like a reasonable completion criteria -- assuming the release is deployed. However, we're not yet happy with that JSON and are planning to change the hostname.  I'll comment here when both are complete.

[2018-12-11 17:53] matthew-a-dunlap commented on #5384
[This example](https://github.com/CDLUC3/counter-processor/blob/master/sample_logs/counter_2018-05-08.log) from counter-processor is a good reference for how we want to format our logs.

[2018-12-11 20:46] pdurbin commented on #5042
We mentioned this issue while discussing https://github.com/IQSS/dataverse/pull/5351#issuecomment-445894687 and the question was asked, "What does the output of the MyData API look like?"

Below is an example from @shlake (thanks!) from https://groups.google.com/d/msg/dataverse-community/jZRBVGpNLcg/HxfJC-HyAwAJ

`curl -s "https://demo.dataverse.org/api/mydata/retrieve?key=$API_TOKEN&role_ids=6&dv

[2018-12-11 21:19] jggautier opened #5392 "Are Dataverse installations' harvesting sets exporting regularly?"
Harvard Dataverse harvests datasets from QDR's dataverse installation. An installation admin, @adam3smith, noticed that only 31 of QDR's 48 published datasets were harvested to Harvard Dataverse. He wanted to know why and what could be done so that Harvard Dataverse harvests all of QDR's datasets. QDR's OAI set includes all of its published datasets.

My dashboard on Harvard Dataverse showed that

[2018-12-11 22:10] #2122 closed

[2018-12-11 23:16] pameyer commented on #5145
Thanks to @sekmiller for pointing out that special characters didn't get mangled on his system, so that is a config issue.

[2018-12-11 23:31] RightInTwo commented on #5104
Hey @djbrooke!  I'm pretty sure that would go against the idea of DOIs...

About `release=no`, I can imagine the case where I add a dataset with the existing DOI but want to enrich the metadata before "publishing" (in this case just referencing it in my dataverse repository - as I understand this, the DOI would exist on another repository and I just add it's metadata to my catalogue, please correc

[2018-12-11 23:47] mdmADA commented on #5376
Just an update - our sysadmin ran a "reindex all" and it seems to have done the trick - the zombie dataset is no longer showing in the dataverse UI as far as I can tell. So something to keep in mind if this happens to anybody else.

Thank you for assisting, @pdurbin and @scolapasta...

[2018-12-11 23:57] pdurbin commented on #5376
@mdmADA cool. Do you want to close this issue? Or is there something you have in mind you want to add to the code or docs?

[2018-12-12 00:03] mdmADA commented on #5376
I am not sure where in the docs to add a line about reindexing to get rid of a zombie dataset. And is it necessary to add it seeing as how this seems to be the first instance of such a thing happening?

It might be enough to close it with an obvious resolution statement wrt how to 'fix' the zombie dataset by reindexing.

[2018-12-12 00:24] #5376 closed, assigned to nobody

[2018-12-12 00:41] pdurbin commented on #5376
@mdmADA sounds fine. You can always open a fresh issue in the future if something like this comes up again, especially if the error is easily reproducible. Thanks!

[2018-12-12 01:03] pdurbin opened #5393 "API tests failing at stage 2 after pull request 4883 was merged"
Pull request #4883 was just merged and now I can't get stage 2 of the API tests on the "phoenix" server to run after several attempts:

<img width="1432" alt="screen shot 2018-12-11 at 8 01 47 pm" src="https://user-images.githubusercontent.com/21006/49840008-9bb7fb80-fd7f-11e8-940a-de164f830eb9.png">

The console logs are available at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-d

[2018-12-12 11:26] donsizemore opened #5394 "Better document FilePIDsEnabled"
From a "surprised admin" perspective. PR forthcoming.

[2018-12-12 13:09] poikilotherm commented on #5392
This seems related to #5345 and the refactoring of timers.

[2018-12-12 16:19] pameyer commented on #5393
881694bb1e607b45d52da3f8e3fe78c26096488e in docker-aio shows `Tests run: 82, Failures: 0, Errors: 0, Skipped: 1`

[2018-12-12 16:32] RightInTwo commented on #2778
@jggautier what would happen in the case that i import metadata from another source that actually uses IsSourceOf (for whatever reason) and it's not implemented in dataverse?

[2018-12-12 17:07] jggautier commented on #2778
One idea would be to map the types we don't use to the types we do. Would probably be helpful to consider the types different repositories use now. And later if changes are asked for by people importing metadata with the types that Dataverse doesn't use, we can reconsider adding/changing types.

[2018-12-12 17:10] RightInTwo commented on #2778
@jggautier so the import would fail in that case? as long as it does not just ignore that field or silently fail, that sounds good

[2018-12-12 17:50] landreev commented on #5393
Similarly to @pameyer , the tests appear to be working for me.
(ok, I haven't run through all of them yet - but on jenkins last night it failed *before* it got to the actual tests, still in setup-all.sh script; and it's definitely working for me now).
As to what happened w/ Jenkins test build last night,  the answer may be right at the top of the Jenkins log:

[phoenix.dataverse.org-deploy-develop

[2018-12-12 18:30] pdurbin commented on #5393
@landreev and discussed how the sequence last night was this:

- job 321 hung for 45 minutes
- job 322 failed due to database unable to drop
- job 323 hung for 17 hours

[2018-12-12 18:35] landreev commented on #5393
tbh, I didn't even notice that the 321 didn't complete; I was looking at 322 all along. So yes, it makes sense - the job 321 got stuck, for whatever reason, aborting it didn't kill all the processes already spawned on the phoenix server; that in turn prevented the job 322 from dropping the database...
Whatever it is, restarting the phoenix server should clear it all, I'm guessing.

[2018-12-12 18:53] RightInTwo commented on #4839
Is there currently a workaround for this?

[2018-12-12 18:56] RightInTwo commented on #2778
Could you support all types defined in Datacite and just display a subset in the UI? Wouldn't that be less hassle?

[2018-12-12 19:23] djbrooke commented on #5387
@donsizemore - any interest in making a pull request?

[2018-12-12 19:39] djbrooke commented on #5385
Outcome of this spike will be a well informed decision to use the processor, fork it, or write our own. Also, we will need a plan to handle how multiple-server situations are handled.

[2018-12-12 19:48] djbrooke commented on #5369
Note to self - check with Mahbub about the options of testing Shib at Harvard.

[2018-12-12 20:58] djbrooke commented on #5104
Hey @RightInTwo, good to hear from you! We still don't have a great understanding about the use case here and whether or not these changes were for testing or not. Point taken about the alternative ID field. I discussed this with @scolapasta and @jggautier and they may include some thoughts here.

[2018-12-12 21:36] scolapasta commented on #5104
So I'm just getting caught up to speed on this, I could use some help in understanding the original use case.

What it looks to me, is that you have a dataset with a DOI that points to somewhere else and you are importing it into Dataverse, but still want the original DOI to point to the original (non Dataverse) location? Please correct me if that's incorrect, but the rest of my comment will be ba

[2018-12-12 21:44] pdurbin commented on #5393
I rebooted the phoenix server as requested but it made no difference.

I told @sekmiller and @pameyer about how phoenix is configured for DataCite and I can't publish a dataset with a file.

I'll swing by and try to catch @landreev and @kcondon on my way out to get there thoughts. I believe we had to switch some test servers away from DataCite recently. Maybe I should work on the fake PID provider

[2018-12-12 22:44] mheppler commented on #4660
Easy part is done. Removed the analytics includes from the templates. Now to work on the documentation. Going to try to piece together a to-do list to review with the team before embracing upon a doc writing journey.

- [ ] Remove `:GoogleAnalyticsCode`, `:PiwikAnalyticsId`, `:PiwikAnalyticsHost`, `:PiwikAnalyticsTrackerFileName` options from Configuration > Installation Guide
- [ ] Add new Analyt

[2018-12-12 23:11] jggautier commented on #5392
Harvard Dataverse also isn't able to harvest all records in the OAI sets of these other Dataverse installations. I ran the harvests manually just to make sure.

- DataverseNL, https://dataverse.nl/oai, set:tilburg_oai
- Consorcio Madroño, https://edatos.consorciomadrono.es/oai, set:openaire_data
- Texas Data Repository, https://dataverse.tdl.org/oai, set:tdr

(I checked the total number of records

[2018-12-13 08:51] juancorr commented on #5392
Hi Julian,

  If you are harvesting all e-cienciaDatos records, Harvard Dataverse has
missed five records, but if you have harvested the openaire_data set, the
number of records in Harvard Dataverse is the right number.

  Best Regards,

Juan

El jue., 13 dic. 2018 a las 0:11, Julian Gautier (<notifications@github.com>)
escribió:

[2018-12-13 14:09] poikilotherm commented on #5373
Dear community,

thank you for your interest on the topic of running Dataverse in Docker and/or Kubernetes.

To have some kind of agenda to talk about in a call, I ask everybody to add comments and/or suggestions to https://docs.google.com/document/d/13h4zra_ugYH5IKMkj5tya1NwaFdC2FfWXBmGUxxAdn8, including your nick/name.
If something you are keen to talk about is already present, just put your nic

[2018-12-13 15:02] adam3smith commented on #2778
I've been pestering @mfenner about this for years now and we're very eager to see this happen. Here's what he wrote to my request to clarify relation types back in 2016:

Given this, I
a) agree that the Dataverse GUI should be expose a limited subset of relation types but
b) would argue for the more widely used and broader `isReferencedBy` over `isCitedBy`

[2018-12-13 15:36] RightInTwo commented on #5104
**NOTE: All this is off-topic in this issue, but before I open a new one, maybe I can do some more homework...**

@djbrooke And from you as well :)
@scolapasta Man, you see right through me. Yes, that's what I want to do... Though I'm facing the issue that the sources I want to harvest from are heterogeneous and don't necessarily present the datasets I need in one set. So, the issues are:

- OAI-P

[2018-12-13 15:58] landreev commented on #5393
I tried to reconfigure the Glassfish instance on phoenix to use our "real" DataCite account (GDCC.HARVARD-DV) and the base url https://mds.datacite.org (but still use the test name space 10.5072 of course), and re-ran the api tests. Which worked this time around.

So the culprit appears to be the DataCite test setup - https://mds.test.datacite.org and/or the test account we've been using (DATACITE

[2018-12-13 16:07] landreev commented on #5393
Tried publishing in my own dev. build, using mds.test.datacite.org; it's been hanging for a while.

[2018-12-13 16:08] scolapasta opened #5398 "Add Metrics API to get datasets by subject AND to month"
Currently, we can get datasets up to a certain month (and determine how many new by subtracting the previous month) or by subject, but one of the desired visualizations is to get by subject for a specific month, i.e. am metric to get to a certain month AND by subject.

[2018-12-13 16:23] JayanthyChengan commented on #5202
@kcondon please let me know, if I can answer any of your questions.  Thanks

[2018-12-13 16:24] JayanthyChengan commented on #4684
@kcondon please let me know, if I can answer any of your questions.  Thanks

[2018-12-13 16:50] kcondon commented on #4684
@JayanthyChengan Thanks, I have been occupied with other issues but hope to get to this shortly.

[2018-12-13 16:53] mfenner commented on #2778
@adam3smith you can see the actual numbers of relation types used in DataCite metadata in our Event Data service, e.g. the 1.1 million relations from DataCite DOI to Crossref DOI: https://api.datacite.org/events?page[size]=0&source-id=datacite-crossref

You can see that `IsDocumentedBy` is the third highly used relation type, and is what ICPSR uses by default.

I am getting increasingly less convi

[2018-12-13 17:16] adam3smith commented on #2778
With all respect to ICPSR, I think `isDocumentedBy` is terrible choice for how they use it. You end up with obviously absurd statements like this GSS wave https://search.datacite.org/works/10.3886/icpsr07527.v1 being documented by this Science article (which just happens to reference it): doi.org/10.1126/science.2740913

So are you saying as data repositories we shouldn't try to link datasets to p

[2018-12-13 17:20] mfenner commented on #2778
Regarding "IsDocumentedBy`, this is mainly about what is just most often, not whether I would do the same.

Regarding directionality of relation types: of course data repositories should link to the scholarly literature. But I would be careful with the semantic meaning you put into the relation type, and make sure it is not confusing to users.

[2018-12-13 17:45] pameyer commented on #5145
In my hands, 2e1d6073f1003a55689d6d9436d50b9568368622 is still losing newline characters in the edit log.

[2018-12-13 17:58] adam3smith commented on #2778
ah I get it -- you're saying that people are likely using `references` where `isReferencedBy` would be more appropriate, etc. That makes a lot of sense.

FWIW, I like the way Zenodo attempts to clarify the directionality,
![image](https://user-images.githubusercontent.com/128986/49957697-9de09e00-fed6-11e8-9d21-4a702edb500a.png)

but I doubt there's any way to get end users to get this right other

[2018-12-13 18:53] pdurbin commented on #5373
This morning @djbrooke and I spoke about next week's community call on December 18th and we do plan to have it. (For anyone reading this who is unfamiliar with our community calls, please see https://dataverse.org/community-calls .) We like your idea of having those interested in discussing this issue to stay a little longer on the call.

@poikilotherm please keep us posted on if you'll be sending

[2018-12-13 19:17] thaorell commented on #5373
Hi all, I would love to attend but I have a final exam on the 18th and I would not be able to attend
@pdurbin

[2018-12-13 19:38] vsoch commented on #5373
I don't have the bandwidth to add another project right now, sorry @poikilotherm !

[2018-12-13 20:36] landreev commented on #5393
(BTW, I also tried to use the https://mds.datacite.org, but with the test account credentials... and that failed right away, with "bad credentials"; so all in all, this appears to be a problem with the DataCite test server, mds.test.datacite.org. So yes, this is an extra reason not to rely on it so much)

[2018-12-13 20:39] pdurbin commented on #5393
@landreev well, the good news is that I just made pull request #5399 to add a fake PID provider and included a line in `scripts/deploy/phoenix.dataverse.org/post` to switch the phoenix server over to it.

Thanks for getting poor phoenix working again. As we discussed after standup, I'm planning to put a few things back before passing this issue to QA.

[2018-12-13 21:50] landreev commented on #5387
@donsizemore - thanks for the PR; was it really as simple as upgrading the package? Did you have to tinker with the settings in your old config files at all?
(When I saw your earlier comment about "deprecation notices about certain config elements", I may have assumed you had to actually make some config changes... but if not, that would be really great to hear!)

[2018-12-13 22:45] kcondon commented on #4403
The submit for review banner issue is fixed but the in review tag is broken when viewed from the dataverse page:
![Screen Shot 2018-12-13 at 5.37.20 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5798d98d18ccf10e00ce215e/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76216455f06b7191a37df1112c4f5d5f5ecc3c4a4356bcbbd671f3e57862804e0ee8856f5c75903d47afed8a4b

[2018-12-13 23:20] matthew-a-dunlap commented on #4949
I've fixed and committed changes for the issues in the above list. Let me know if there is anything else that's needed, thanks!

[2018-12-13 23:35] pdurbin opened #5400 "Internationalization - Duplicate "html", "head" tags, broken 403, 404, 500 pgs after #5299 was merged"
After pull request #5299 was merged DatasetsIT.testPrivateUrl started failing.

Here's a screenshot:

<img width="1421" alt="screen shot 2018-12-13 at 6 34 38 pm" src="https://user-images.githubusercontent.com/21006/49974107-cfbd2900-ff05-11e8-84be-d0cdd1b99518.png">

https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/306/edu.harvard.iq$dataverse/testReport/edu.harvard.i

[2018-12-14 00:42] pdurbin commented on #5393
I put stage 1 and stage 2 back to how they were. Stage 1 sends the "publish" script from Jenkins to the phoenix server. Stage two runs the "publish" script and asserts that a file can be downloaded. Moving to QA.

[2018-12-14 00:48] pdurbin commented on #3446
The TestShib IdP is no longer available. See https://github.com/IQSS/dataverse/issues/5369#issuecomment-445906804

[2018-12-14 00:52] pdurbin commented on #5028
There's lots of excitement on Twitter about Nature Scientific Data's "Call for submissions: Reproducible data processing" announcement: https://twitter.com/mercecrosas/status/1072899669074821122

[2018-12-14 00:58] pdurbin commented on #4839
@RightInTwo nope. Your DOIs don't conform to the regex above? Can you please provide us with an example? Or are you having some other sort of problem? What error are you getting?

[2018-12-14 12:37] poikilotherm commented on #5345
Hi @landreev, @pdurbin told me you guys talked about this and you seemed to like it. Should I start actual code work on this?

[2018-12-14 14:32] donsizemore commented on #5387
@landreev well, if the upgrade were more difficult I couldn't have done it =)

For at least the 2.6 => 3.0 upgrade Shibboleth promises backwards compatibility but crabs:

Whether that configuration change should be included in this issue or left to the end-user (as much of the Shibboleth configuration is by necessity) is you all's' decision, but I'd personally want the security fixes in the newest

[2018-12-14 14:43] RightInTwo commented on #4839
@pdurbin Hi Phil, I deleted my comment as I had a wrong understanding of the purpose of the import function (see my hijacking of #5104) . You may delete your answer as well :) Thank you!

[2018-12-14 14:56] pdurbin commented on #4839
@RightInTwo ok, I'll delete my answer and yours and this one. 😄

[2018-12-14 15:34] pameyer opened #5401 "clean up big data / DCM section of guides"
During https://github.com/IQSS/dataverse/issues/4949; it become apparent that the big data/DCM/RSAL sections of the guides needed to trimmed down / clarified (in light of some improvements to the installation procedures of other components, POSIX/S3 differences, etc).

[2018-12-14 16:19] pdurbin commented on #5400
It's failing at https://github.com/IQSS/dataverse/blob/ce30a4f523ae82bf4f5e70e1f2a6c8464684dd62/src/test/java/edu/harvard/iq/dataverse/api/DatasetsIT.java#L772

with

`Caused by: java.lang.IllegalArgumentException: Unsupported assignee identifier 'doesNotExist'
	at edu.harvard.iq.dataverse.RoleAssigneeServiceBean.getRoleAssignee(RoleAssigneeServiceBean.java:91)`

at https://github.com/IQSS/dataver

[2018-12-14 16:53] RightInTwo opened #5402 "Harvesting DOI metadata from non-OAI-PMH sources"
I would like to harvest heterogeneous sources that don't necessarily present the datasets I need through OAI-PMH or in the form I need them. The issues I see with OAI-PMH:

- OAI-PMH interfaces don't necessarily exist for every source of datasets I want to use
- OAI-PMH sets need to be defined at the source
- Harvested data will go into one dataverse, with no ability to map specific datasets to da

[2018-12-14 17:01] RightInTwo commented on #5402
What we are currently doing to prepare our repository:
- Collect existing DOIs for relevant objects
- Get basic metadata from Datacite (next step: also query Crossref and as a last resort: query the repository directly)
- Categorize the objects (A. data we use from external sources and would like to reference in our repository, B. data from our institute published in external repositories)
- Enric

[2018-12-14 17:11] #4949 closed

[2018-12-14 17:11] #5393 closed

[2018-12-14 17:14] djbrooke commented on #5369
The folks at Harvard mentioned another service that may be helpful here:

https://samltest.id/

[2018-12-14 17:58] pdurbin opened #5403 "war file does not compile after pull request #5359 was merged"
After pull request #5359 was merged, Travis started reporting

`dataverse: Compilation failure
[ERROR] /home/travis/build/IQSS/dataverse/src/main/java/edu/harvard/iq/dataverse/FileDownloadHelper.java:[307,58] cannot find symbol`

Screenshots from https://travis-ci.org/IQSS/dataverse/builds/468092431

![screen shot 2018-12-14 at 12 56 21 pm](https://user-images.githubusercontent.com/21006/50019181-

[2018-12-14 18:31] pdurbin commented on #5400
These lines are failing...

        String title = getDatasetAsUserWhoClicksPrivateUrl.getBody().htmlPath().getString("html.head.title");
        assertEquals("Darwin's Finches - " + dataverseAlias, title);

... because we have two "html" tags on our dataset page:

![screen shot 2018-12-14 at 1 29 34 pm](https://user-images.githubusercontent.com/21006/50020583-650efa80-ffa4-11e8-9b9b-c557ba8da9cb.

[2018-12-14 18:34] pameyer commented on #5400
@pdurbin I don't think this is due to having two html tags - the first one you've flagged is the doctype.

I think the problem is that the opening `<html>` tag is before the `<head>` tag; so the DOM doesn't have a valid `<title>`.

For what it's worth, I'd also vote to flag this as a show-stopper.

And point out that https://github.com/IQSS/dataverse/issues/4855 is relevant to these types of thing

[2018-12-14 18:34] djbrooke commented on #5400
Yes, we should get this cleared up before releasing 4.10.

[2018-12-14 18:40] pdurbin commented on #5400
Some more screenshots that might help us diagnose:

![screen shot 2018-12-14 at 1 41 20 pm](https://user-images.githubusercontent.com/21006/50021045-d00d0100-ffa5-11e8-8283-69e9a2bffaff.png)
![screen shot 2018-12-14 at 1 40 54 pm](https://user-images.githubusercontent.com/21006/50021046-d00d0100-ffa5-11e8-89bf-65b2efcca78c.png)

![showing_results_for_phoenix dataverse org_dataset xhtml_persistenti

[2018-12-14 19:07] pameyer commented on #5400
Further investgation shows that the  structure for the dataset page (as of 88c2494009990c9b4f7403d526fe09a39e3813e5) is roughtly `<head>$stuff</head>` `<body></body>` `<html><head>$stuff</head><body>$stuff</body></html>`

So it appears that some JSF magic is adding both an additional `<head>` , and empty `<body>` outside of the `<html>` element.

[2018-12-14 19:20] kcondon commented on #5400
weird, it seemed to work when I tested it in that branch. I actually cannot build /develop right now:
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /var/lib/jenkins/workspace/Dataverse_rfi/src/main/java/edu/harvard/iq/dataverse/FileDownloadHelper.java:[307,58] cannot find symbol
  symbol:   method localize(java.lang.String)
  location: var

[2018-12-14 19:23] pdurbin commented on #5400
I just made pull request #5405 to get DatasetsIT.testPrivateUrl passing again but I suspect that by undoing some of the work in pull request #5299 that #5202 will need to be re-opened. The "fix" is to remove `<f:view locale="#{dataverseLocaleBean.localeCode}">` from the XHTML files that the API test suite cares about (mostly it's checking JSON and XML output, not HTML). @JayanthyChengan @mheppler

[2018-12-14 19:57] pameyer commented on #5400
#5405 also gets the dataset page back to the usual amount of html validation errors for the dataset page.

dataverse page appears to have a similar problem with multiple `<head>` elements.

I'd assume that seriously invalid / non-parsable html being generated will cause problems with the various discoverability stuff (json-ld, meta tags, etc) features, so it may be worth a little more investigatio

[2018-12-14 20:04] pdurbin commented on #5400
@pameyer yes, I'm sorry but I was confused earlier when I said the multiple `<head>` elements are only on the dataset page. It's all pages. I spoke with @scolapasta and @kcondon about it.

[2018-12-14 20:14] pdurbin commented on #5393
Just a note that I'm using these credentials on my laptop as well. Otherwise, I can't publish a dataset with a file while using DataCite. As soon as possible I'd like to switch my laptop (and phoenix) over to the fake PID provider in #5399. Others on the team have switched back to EZID. We don't know how long EZID will be available to us.

[2018-12-14 20:17] #5403 closed

[2018-12-14 22:13] pameyer opened #5406 "as a repository operator, I'd like search engine discoverability to not break"
Spin-off from https://github.com/IQSS/dataverse/issues/5400 ; having multiple `<head>` elements in generated HTML may prevent search engines from correctly parsing meta-tags, schema.org json-ld and other machine-readable parts of pages that used to assist discoverability.

It would seem reasonable that any pages a dataverse installation would like to have show up in search results to be checked.

[2018-12-14 23:20] kcondon commented on #4684
@JayanthyChengan This looks good and hope to merge shortly but ran into a slight doc issue with unicode char when building pdf format. I'm checking with the team to see whether this is something we need to worry about.

For what it's worth, here is the doc build error for pdf. html works fine:

! Package inputenc Error: Unicode char ṭ (U+1E6D)
(inputenc)                not set up for use with LaTe

[2018-12-16 23:19] pameyer commented on #3759
On 2cd3a2a35; unable to reproduce this behavior (no quotation marks seen in exported bibtex):

``
@data{FK2/HUBG7P_2018,
author = {Finch, Fiona},
publisher = {Root},
title = {Darwin's Finches},
year = {2018},
version = {V1},
doi = {10.5072/FK2/HUBG7P},
url = {https://doi.org/10.5072/FK2/HUBG7P}
}
``

[2018-12-17 14:37] donsizemore commented on #5387
Just a note that I have a test system's Shibboleth 3.0.2 installation launching without complaint by modifying our shibboleth2.xml file per [https://wiki.shibboleth.net/confluence/display/SP3/UpgradingFromV2](https://wiki.shibboleth.net/confluence/display/SP3/UpgradingFromV2)

YMMV, but a diff shows my only changes are the urn:mace:shibboleth version change and the MetadataProvider file/path switc

[2018-12-17 15:16] poikilotherm commented on #5373
Then let's just reuse the regular community call for now. Depending on the echo from it maybe a separate call can be setup for next year... :wink:

[2018-12-17 15:20] djbrooke commented on #3759
Hi @thegaryking, can you please link me to the citation where you're seeing this behavior? Thanks!

[2018-12-17 15:59] mheppler commented on #5406
Pretty sure this is just another symptom of the same problem reported in #5400.

Vote to close.

[2018-12-17 16:01] pameyer commented on #5406
@mheppler same problem; but if it's a dupe or not depends on where the scope boundaries for #5400 get drawn.

[2018-12-17 16:09] djbrooke commented on #5145
Moving back to team dev based on @pameyer's most recent comment.

[2018-12-17 16:11] sekmiller commented on #5145
@pameyer, can you attach a copy of the log file that your machine is producing?
 thanks!

[2018-12-17 16:13] jggautier commented on #3759
So in the title field for bibtex files, Dataverse needs to turn open quote characters into two back ticks (``) and closed quote characters into two apostrophes ('').

This is because when LaTex sees the regular quote character next to some letters, like `"A`, it turns that string into a letter with a diaeresis, like `Ä`. Is that right? (That's what I understand from [this stackoverflow question](h

[2018-12-17 16:14] JayanthyChengan commented on #4684
@kcondon  replaced with unicode character in this commit
https://github.com/IQSS/dataverse/pull/5290/commits/86e5b7cf04eb1426f7930eb6399283a86f72bf59

does this help in pdf generation error?

[2018-12-17 16:32] #4684 closed

[2018-12-17 16:33] kcondon commented on #4684
@JayanthyChengan Yes, that did it. Thanks! Merged.

[2018-12-17 16:45] thegaryking commented on #3759
that's right
Gary
--
Gary King - Albert J. Weatherhead III University Professor - Director, IQSS<http://iq.harvard.edu/> - Harvard University
GaryKing.org<http://GaryKing.org> - King@Harvard.edu<mailto:King@Harvard.edu> - @KingGary<https://twitter.com/kinggary> - 617-500-7570 - Assistant<mailto:king-assist@iq.harvard.edu>: 617-495-9271

On Mon, Dec 17, 2018 at 11:13 AM Julian Gautier <notification

[2018-12-17 20:24] #5394 closed, assigned to kcondon

[2018-12-17 20:52] poikilotherm commented on #5345
Hey @landreev,

could you give my comments in 81fbffe736a0c3070ca24fec5e444b583a109385 a look and discuss this with others? I am uncertain if this refactoring is a chunk to big to fit inside this PR. (Happy to do the necessary code work).

And while you are in there, you could take a look at a7cc7b8336d02baa7fe3d7016ace3a1febf978d1 which puts the first (but not all) `@Schedule` annotations in plac

[2018-12-17 20:55] #5382 closed

[2018-12-17 21:46] #4235 closed

[2018-12-17 21:52] #5377 closed

[2018-12-17 22:00] pameyer commented on #5406
With the approach taken in #5407 cbc7dd62a90a4fb796e942f26e8037aee6b5cf74 , this is a functional duplicate of #5400

[2018-12-17 22:00] #5406 closed

[2018-12-17 22:03] poikilotherm commented on #5377
Thx for merging @kcondon! As @pdurbin said: you're on a roll :wink:

[2018-12-17 22:09] scolapasta commented on #5202
Unfortunately, the solution of using f:view on each page had other conflicting issues (see #5400). So we had to revert that back.

The plan is to go back to solving this a different way. It seems to be the issue is that the DataverseLocaleBean, which is a container managed bean is being used in a non managed way by the BundleUtil. So we'd like to try and see if we can make sure that BundleUtil doe

[2018-12-17 22:32] landreev commented on #5387
To rehash: at the last standup we've decided to keep this issue open and to use it to track the process of upgrading our Shibboleth setup to v.3.
The next step will be to test the upgrade, using the advice from @donsizemore, above (thanks Don!). We can do this on demo.dataverse.org - since it's already plugged in to the Harvard shib framework. Hopefully it'll be just as straightforward as it was f

[2018-12-17 22:37] kcondon commented on #4706
@qqmyers Is this pr still viable? I ask because it appears that dpn is no longer available, right? Also, I was told your github repo for this contained some useful notes on use cases but it throws a 404. Last, is there a test archive that I can use to verify end to end workflow?

Thanks,

Kevin

[2018-12-17 22:48] qqmyers commented on #4706
@kcondon - absolutely. One of the three options DPN gives for going forward is to use the same duracloud interface to go to Chronopolis. So - no code changes here and I've already updated the docs to indicate that this is relevant to Duracloud/Chronopolis. I also expect that the BagIt code, which is in this PR, will be valuable as a way to package for other archives as well.
The URL for notes at g

[2018-12-17 22:51] landreev commented on #5345
@poikilotherm I'm looking into it now (was out on Friday).
Yes, I was confused/didn't get the part that it was documentation only in the PR; and that the code was not yet written.

[2018-12-17 22:55] kcondon commented on #4706
@qqmyers
OK, makes sense, thanks. I can get to your notes, I'll read them over. How would you recommend I test it if not with a test archive? I could do basic regression testing and try configuring it but does not seem to exercise the code, right? No mock or anything I suppose. I wouldn't need to move it to long term storage, just invoke the api and the workflow.

[2018-12-18 13:44] pdurbin commented on #4203
Today at http://irclog.iq.harvard.edu/dataverse/2018-12-18#i_83107 @poikilotherm said, "The docs could be more specific about the endpoint URL" and he said he'd roll a small doc change for this issue into pull request #5371 since he's already editing that part of the guides.

[2018-12-18 15:17] poikilotherm commented on #5345
Hi @landreev feel free to look into my recent additions to #5371 :smile: I added the necessary bits to `HarvesterServiceBean`, added lots of docs and removed the old timer setup.

Gave this a shot in VM, harvesting from Harvard Dataverse. It works, but we might run into trouble with such large harvests. Nothing would be really "lost", but it would take a few days to get this loads of data inside a

[2018-12-18 15:22] mheppler commented on #4403
@kcondon I will stop by to review the screenshot above with you, but I believe this is a result of an old javascript cache in your browser. I have pulled this branch and tested again locally and all looks kosher here.

![screen shot 2018-12-18 at 10 22 36 am](https://user-images.githubusercontent.com/687227/50163633-dbff0880-02ae-11e9-998b-90ec405830e8.png)

Submitted for Review warning alert rend

[2018-12-18 15:24] sekmiller opened #5408 "With latest from Dev, my local Dataset page is broken"
![screen shot 2018-12-18 at 10 21 24 am](https://user-images.githubusercontent.com/2364928/50163644-e4574380-02ae-11e9-9023-5bf066a6a1f2.png)

Seems to be related to adding the localeCode via the dataverseLocaleBean

[2018-12-18 15:30] mheppler commented on #5408
@sekmiller, et al, I have been seeing this error fairly regularly on my localhost, but still intermittently. Mostly on the internationalization branches. No idea why.

@JayanthyChengan have you seen this on your dev environment at all?

I believe this too is also a symptom of the problems reported in #5400 with the new `f:view` tags. Something to keep track of now that we've backed those changes o

[2018-12-18 15:31] pdurbin commented on #5400
Just a heads up that stage 2 of phoenix tests are failing as well because of the invalid HTML:

[code]

Here's a screenshot from https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy-develop/335/console

![screen shot 2018-12-18 at 10 31 00 am](https://user-images.githubusercontent.com/21006/50164140-e66dd200-02af-11e9-8a5e-a850a1158de8.png)

[2018-12-18 15:37] sekmiller commented on #5408
So, running the sql update for adding original file size to the datafile table "fixed" my dataset page. I've never seen an out of date data table error manifest itself this way.

[2018-12-18 15:57] jggautier commented on #3369
Hi @donsizemore, you wrote that for the date displayed in the dataset citation, "[w]e'd much prefer productionDate, particularly for older data". Could you share how that date is used on UNC Dataverse?

[2018-12-18 16:01] #5323 closed

[2018-12-18 16:02] jggautier commented on #2298
Harvard Business School made the same request, using [this dataset](https://doi.org/10.7910/DVN/PNOFKI) as an example. The latest published major version, 6, was published in 2017, which they wanted to see in the dataset citation for version 6, instead of 2016, which is the year that the first version was published.

[2018-12-18 16:14] jggautier commented on #2297
This issue has been about the dataset citation that's displayed on the dataset page, and now the file page. But when I change the date used in that displayed dataset citation, should the date be changed in the citation files (RIS, BibTeX and EndNote XML) and in the HTML metatags (which some reference managers can use to populate metadata for creating citations)?

[2018-12-18 16:24] #5408 closed

[2018-12-18 16:44] pdurbin opened #5409 "phoenix tests failing due to publishing hanging while using DataCite"
At standup I mentioned that phoenix tests are failing right now which always makes me nervous if we're close to a release and 4.10 is imminent. The current commit is 0b625dd but the new failures (new since the single "testPrivateUrl" failure in #5400 I mean) appear to be due to publishing hanging while using DataCite rather than anything in the code.

Pull request #5399 already contains a line to

[2018-12-18 16:52] pdurbin commented on #3439
Related: #5396

[2018-12-18 16:57] matthew-a-dunlap commented on #5327
for what its worth, this is the current error on my dev machine:

![screen shot 2018-12-18 at 11 55 47 am](https://user-images.githubusercontent.com/8901015/50169671-0dca9c00-02bc-11e9-962e-2e18bbdce8e0.png)

[2018-12-18 16:57] qqmyers commented on #4706
@kcondon - I think bouncing off a test archive is the only way to fully test. (You can see the oremap and datacite files from the export metadata menu, but there's no way to get the Bag except by sending to Duracloud). I'm checking on whether/how we can get you a temporary account to bounce off qdr.duracloud.org. It also looks like Duracloud offers a 12 hour free trial that should work (which I as

[2018-12-18 17:06] mheppler commented on #5408
I have confirmed that the changes in PR #5407 fix all the broken 403, 404 and 500 error pgs that were reported above.

[2018-12-18 17:15] mheppler commented on #5400
Expanded this issue to include the broken 403, 404 and 500 pgs reported in #5408.

![screen shot 2018-12-18 at 10 21 24 am](https://user-images.githubusercontent.com/2364928/50163644-e4574380-02ae-11e9-9023-5bf066a6a1f2.png)

Just checked those on the `4403-guest-publish-msgs` branch, compared to `develop` and the properly formatted error msg alerts have returned to the UI.

![screen shot 2018-12-

[2018-12-18 17:42] mercecrosas commented on #2297
yes, it should

On Tue, Dec 18, 2018 at 11:14 AM Julian Gautier <notifications@github.com>
wrote:

--
Mercè Crosas, Ph.D., Chief Data Science and Technology Officer, IQSS, Harvard
University
mcrosas@g.harvard.edu | @mercecrosas <https://twitter.com/mercecrosas> |
scholar.harvard.edu/mercecrosas

[2018-12-18 18:39] sekmiller commented on #4403
@kcondon We found the cause of the weird banner on the home page, so I think this is ready for QA. Also, re-merged with the latest from Dev.

[2018-12-18 19:14] mheppler commented on #5400
In an attempt to blame ALL strange things in `develop` on the `f:view` tags... I give you the strange border/box-shadow that seems to appear around the tabs on various pages...

![screen shot 2018-12-18 at 2 10 10 pm](https://user-images.githubusercontent.com/687227/50176967-cd284e00-02ce-11e9-8245-eef0c9aad221.png)

These have disappeared in this new branch... [Twilight Zone theme music...]

To b

[2018-12-18 19:38] qqmyers commented on #4706
@kcondon - I guess it would be good to have you try the 12 hour trial from https://duraspace.org/duracloud/trial-account-request/ - if that works, others can do that to test/demo and I can make a note in the docs. If not, just ping me and I can create a temp account to access qdr.duracloud.org.

[2018-12-18 20:32] #5340 closed

[2018-12-18 20:52] #5400 closed

[2018-12-18 21:23] #5409 closed

[2018-12-18 21:39] pdurbin commented on #5409
Now that pull request #5399 (and #5407) have been merged, all API tests are passing on phoenix again (build 312 in the screenshot below).

![screen shot 2018-12-18 at 4 39 20 pm](https://user-images.githubusercontent.com/21006/50184551-6d886d80-02e3-11e9-9ed3-9f6ef90806ce.png)

[2018-12-18 21:45] poikilotherm commented on #4203
Hey @Thalia25,
do you think my recent docs addition in 0258d190218d8212183f6123445f9bd1c65a03f9 is a sufficient solution to this issue?
Cheers,
Oliver

[2018-12-18 22:17] sekmiller commented on #5145
I was able to get the log to use the raw version of the metadata.

[2018-12-18 23:23] pdurbin commented on #5408
For the record, as I mentioned at standup, I saw this problem on my laptop too until I ran the SQL script update in pull request #5390.

[2018-12-18 23:34] pameyer commented on #5145
@sekmiller Thanks!

[2018-12-19 14:10] pkiraly commented on #5336
Dear @djbrooke,

the main purpose of this issue was to start discussion, it was a side topic whether the actual PR is OK or not. I accept your argument that solving these issues in one single step is too much of a burden elsewhere. But I don't see that there would be an agreement how to clean the code formatting in general. I mentioned some other measurements, such as improving the code style guid

[2018-12-19 15:39] mheppler commented on #5202
Confirmed with @djbrooke that we will pick this up first thing after the holiday break. This was the plan as discussed with @scolapasta and @matthew-a-dunlap when reviewing the issues discovered in #5400. With the work @JayanthyChengan delivered thus far, the IQSS dev team will pick up this issue with a fresh set eyes in the new year and get it across the finish line.

We will iterate on the `Data

[2018-12-19 15:47] JayanthyChengan commented on #5202
@mheppler - I tried the option of what Gustavo suggested, but the issue still remains the same.  Thanks for taking this issue first thing after the holiday break, that's greatly appreciated.

[2018-12-19 15:59] mheppler commented on #5202
@JayanthyChengan Happy to collaborate on this. You've done great work in this feature thus far, and hopefully in the process to improve it, we can all learn a little bit more about the JSF template feature and how language works.

[2018-12-19 16:04] meghangoodchild commented on #5152
Hello @pdurbin! I'm helping Amber to add details about the integration to the Admin Guide. Could you add me so that I can make the PR?

[2018-12-19 16:04] djbrooke commented on #5336
Got it, sorry for closing this larger issue prematurely. We're very open to smaller batches that get the project's code cleaner! :) When there's some smaller part that you'd like to implement please create another issue and we can discuss there!

[2018-12-19 16:14] pdurbin commented on #5152
@meghangoodchild sure! I just invited you to join https://github.com/orgs/IQSS/teams/dataverse-readonly/members but either way you can make a pull request. The easiest starting point is probably to navigate to https://github.com/IQSS/dataverse/blob/develop/doc/sphinx-guides/source/admin/integrations.rst and then click the "pencil" icon to edit the page right in your browser. Maybe a new "Getting D

[2018-12-19 17:49] #4403 closed

[2018-12-19 18:58] mheppler commented on #4660
Adding a list of misc resources I've been looking at for Google and Piwik/Matomo.

- https://support.google.com/analytics/answer/1008080?hl=en
- https://developers.piwik.pro/en/latest/analytics/tracker_snippet.html
- https://matomo.org/blog/2018/01/piwik-is-now-matomo/
- https://developer.matomo.org/changelog

[2018-12-19 19:36] dheles opened #5412 "Glassfish logs JVM options (including passwords) on startup"
As appears to be its default behavior, Glassfish logs the JVM options to server.log on startup. Unfortunately, this includes doi and rserve passwords. I have been unable to find a way to avoid this.

Example log entry:
`[2018-12-19T18:40:00.967+0000] [] [INFO] [NCLS-GFLAUNCHER-00005] [javax.enterprise.launcher] [tid: _ThreadID=1 _ThreadName=main] [timeMillis: 1545244800967] [levelValue: 800] [[

[2018-12-19 19:37] pdurbin commented on #5152
Pull request #5411 looks good to me (doc change only) and I moved this issue to QA at https://waffle.io/IQSS/dataverse

[2018-12-19 19:45] pdurbin commented on #5357
@dheles thanks again for recommending that we update https://dataverse.org/contact to talk about how to report security issues. Here's how it looks now:

![screen shot 2018-12-19 at 2 45 30 pm](https://user-images.githubusercontent.com/21006/50243955-9ae52200-039c-11e9-9f1a-c4a25b8b1f41.png)

Do you feel like making a pull request to update that "Other Resources / Support" text?

[2018-12-19 20:09] pdurbin commented on #5412
@dheles and I have been discussing this a bit at http://irclog.iq.harvard.edu/dataverse/2018-12-19#i_83268 a bit and I wanted to point out that printing the JVM options like this is the out of the box Glassfish behavior. In the example below, I installed Glassfish 4.1 fresh into `/tmp/gf` and ran `asadmin start-domain` to start it. Here's how the out of the box JVM options (nothing about Dataverse

[2018-12-19 20:46] #2960 closed

[2018-12-19 21:33] matthew-a-dunlap commented on #5385
Counter processor is creating sushi more or less as expected. We haven't been able to test the outputted sushi against datacite at this point but its a step in the right direction.

Sample raw logs piped into counter processor. Two lines are from dataverse and one is from the sample log data:
[code]
Outputted sushi from counter processor:

[code]

[2018-12-19 21:40] pdurbin commented on #5412
A very helpful person in #glassfish mentioned "password aliases" which lead me to the following quote at https://blog.eisele.net/2011/05/securing-your-glassfish-hardening-guide.html

It's hard to find HTML versions of Glassfish docs these days but here are some docs for Glassfish 3: https://docs.oracle.com/cd/E19798-01/821-1751/ghgqc/index.html

Payara has some HTML docs: https://docs.payara.fish/

[2018-12-20 15:23] dheles opened #5413 "Escape requested version"
When a specific version is requested via the url, it can appear on the page unescaped.

[2018-12-20 15:59] pameyer commented on #5413
On 6aefd7aca9eb945886bdcc296991a50e60961aec in docker-aio; `Tests run: 82, Failures: 0, Errors: 0, Skipped: 1`

[2018-12-20 16:31] kcondon opened #5415 "As a dataverse team member preparing a release, I'd like the version number to be 4.10 and addition of latest create db script"
In final prep for release:
1. update version to v4.10
2. include create db script from release candidate war file to the upgrade across versions store of scripts

[2018-12-20 16:36] mheppler commented on #4660
In order to deliver a request from @Venki18 in the original version of this analytics issues (#4630), I have added a new event style class naming convention to btns in the source code of the dataverse, dataset, and file pgs.

Those new style class are:
- `btn-compute`
- `btn-contact`
- `btn-download`
- `btn-explore`
- `btn-export`
- `btn-preview`
- `btn-request`
- `btn-share`

(There was already a

[2018-12-20 17:20] mheppler commented on #4660
Thanks to @kcondon, @landreev and @pameyer for the guidance and helping to set up my localhost in Google Analytics to do a quick test of the new config settings. We immediately got some real time results! Submitting a pull request and moving this to code review.

[code]

[2018-12-20 18:13] mheppler commented on #4630
The improvements to tracking analytics have been outlined in _Custom Analytics - More than just pageviews #4660_. These changes will allow sysadmin's to customize their analytics tracking code as they wish, as system configuration settings, similar to how branding works. We have also added a new event style class naming convention to end user action buttons, to allow for more tracking analytics th

[2018-12-20 19:09] pameyer opened #5419 "as a user, I'd like to have autocomplete off for password input fields"
There are recommendations that autocomplete be disabled for password inputs; and documentation suggesting that this does not interfere with browser-based password managers.

[2018-12-20 19:59] mheppler commented on #4608
Fixed the formatting of these alert info msg...

- [x] Upload Files
- [x] Edit Dataset
- [x] Edit Terms
- [x] Manage Dataset Templates (...also revised text)
- [x] Create Account pg
- [x] Manage Harvesting Clients
- [x] Manage Harvesting Server
- [x] Submit for Review workflow, Dataset pg
- [x] Publish/Register file persistent identifiers workflow, Dataset pg

![screen shot 2018-12-20 at 2 41 38 p

[2018-12-20 20:41] #5415 closed

[2018-12-20 21:03] poikilotherm commented on #5412
Should I mention #5293 or not?

An example for the password aliases usage can be found here: https://github.com/poikilotherm/dataverse/blob/5292-small-container/conf/docker/app/init_2_configure.sh Beware, this is using Payara 5. Your mileage may vary.

[2018-12-20 21:14] pdurbin commented on #5384
I was just passing along to @sekmiller that @matthew-a-dunlap has already identified the issue with "publisher_id" above but from running the code as of 2e2965c we are not yet populating publisher-id (I just noticed `//entry.setPublisherId();` is commented out).

As I mentioned at https://github.com/IQSS/dataverse/issues/4821#issuecomment-441783035 the sample log uses "publisher" and "publisher id

[2018-12-20 21:16] pdurbin commented on #5412
@poikilotherm yes! I didn't know you are already playing with `create-password-alias`! Great! Maybe you and @dheles can team up on a pull request for this issue. 😄

[2018-12-21 14:50] poikilotherm commented on #2739
Please let me bring to your attention that there are efforts to integrate GitLab with Zenodo (based on Invenio at CERN). Maybe the changes needed at the GitLab side could be usefull for or even aligned with Dataverse?

See especially [this comment](https://gitlab.com/gitlab-org/gitlab-ce/issues/54858#note_126639797).

[2018-12-21 14:50] jggautier opened #5424 "In BibTex exports, convert quote characters so LaTex displays quotes"
In the title field for BibTex files, Dataverse needs to turn opening quote characters into two back ticks (``) and closing quote characters into two apostrophes ('').

This is because when LaTex sees the regular quote character next to some letters, like `"A`, it turns that string into a letter with a diaeresis, like `Ä`. In other cases, maybe when the letter is a consonant and wouldn't get a diae

[2018-12-21 16:32] pdurbin commented on #3759
@jggautier created #5424 for the issue above about backticks.

[2018-12-21 16:35] thegaryking commented on #3759
no. that's not quite right.  at the start it is too of these `` and at the end of a quote it is two of these ''.  They are different.
Gary
--
Gary King - Albert J. Weatherhead III University Professor - Director, IQSS<http://iq.harvard.edu/> - Harvard University
GaryKing.org<http://GaryKing.org> - King@Harvard.edu<mailto:King@Harvard.edu> - @KingGary<https://twitter.com/kinggary> - 617-500-7570 -

[2018-12-21 17:31] pameyer commented on #5424
For a visual illustration:

1058-57b3b7e :
![screenshot_20181221_122731](https://user-images.githubusercontent.com/10261853/50355295-3b158500-051c-11e9-9172-86fff8fd70d3.png)

After bibtex changes:
![screenshot_20181221_122743](https://user-images.githubusercontent.com/10261853/50355310-49fc3780-051c-11e9-84d7-371dfaeef8ee.png)

[2018-12-21 18:04] pdurbin commented on #4821
The architecture drawing on our whiteboard is so messy I decided to make a diagram of our current direction:

![make-data-count](https://user-images.githubusercontent.com/21006/50356622-b8db8f80-0520-11e9-859e-25cec3dfbbcd.png)

ac5e29d7b is the initial commit of this diagram but I'm sure we'll iterate on it.

Also, sent an email to DataCite report with a subject of "Make Data Count, SUSHI, dashbo

[2018-12-21 20:42] jggautier commented on #5424
Looks like capital letters turned into lowercase. Is that something BibTex formatting can prevent? Or maybe a LaTex package thing?

[2018-12-21 21:08] pameyer commented on #5424
There are BibTex formatting options for preserving capitalization in citation fields (default to letting latex handle it with existing typesetting rules).

[2018-12-28 14:07] mohammadsalem opened #5425 "Dataset linking"
Dataverse version: 4.8.5

Using the native API to link a dataset to a dataverse or to delete the link or to move the dataset as mentioned here http://guides.dataverse.org/en/latest/admin/dataverses-datasets.html or here http://guides.dataverse.org/en/latest/api/native-api.html#link-a-dataset
`curl -H "X-Dataverse-key: my_api_token" -X POST http://localhost:8080/api/datasets/269/link/CCTFOUR`
is re

[2019-01-02 15:16] #5425 closed

[2019-01-02 16:01] adam3smith commented on #4760
@pdurbin & @djbrooke  -- has IQSS done any work on this? We'd otherwise likely want to put this on our Q1 roadmap. I think @qqmyers had some initial thoughts on a simple GUI integration unless you're dead set against that? I think the concerns with this for self-deposit repositories could be addressed by making it superuser only

[2019-01-02 16:08] djbrooke commented on #4760
Thanks @adam3smith for the ping. @scolapasta - let's check in about this later this week

[2019-01-03 11:12] poikilotherm commented on #5345
@djbrooke or @pdurbin could you please move this to code review again? @landreev needs to take a look :wink:

[2019-01-03 11:38] poikilotherm commented on #5373
Happy New Year everyone :smile:

The discussion from the call is logged here: https://docs.google.com/document/d/13h4zra_ugYH5IKMkj5tya1NwaFdC2FfWXBmGUxxAdn8/edit

To paraphraze: people around in the call primarily seemed interested in production usage of Dataverse on Docker and Kubernetes. Just [yesterday pmauduit was asking on IRC](http://irclog.iq.harvard.edu/dataverse/2019-01-02#i_83592) about

[2019-01-03 12:08] pdurbin commented on #5345
@poikilotherm hi! Two things:

- Can you please merge the latest from "develop" into your branch? We released 4.10.
- Pull request #5371 still say "WORK IN PROGRESS - DO NOT MERGE". Is this still accurate?

[2019-01-03 12:37] pdurbin commented on #5345
@poikilotherm thanks for merging. You do sound pretty blocked so I moved this issue over to code review so that it comes up naturally at standup. I'm so unfamiliar with EJB timers that the last time I looked at the pull request I was pretty confused. Talking with @landreev (this was before the break) helped clarify a few things. If more or better docs can be added, please go ahead.

[2019-01-03 17:01] qqmyers opened #5427 "Publication fails/hangs as of ~late Dec."
There are several reports of publications failing, potentially intermittently for develop and older versions. From looking into this, I think the issue (or at least one of them) is a bug in Dataverse in which the check when generating GlobalIds for files has been sending a null value instead of the proposed identifier. I suspect that a change at DataCite which would have changed it's response to s

[2019-01-03 17:13] pdurbin commented on #4602
Possibly related to #5427 according to some discussion at http://irclog.iq.harvard.edu/dataverse/2019-01-03#i_83876

[2019-01-03 17:48] mheppler commented on #3175
Stumbled across this issue when reviewing the PR for #3924.

[2019-01-03 18:54] qqmyers commented on #5427
further discussion with @landreev et. al.  in chat seems to confirm the hypothesis above (it's consistent with everyone's observations). The PR now sends the identifier being proposed to DataCite (or other provider). For DataCite, @landreev noted that, while /metadata/null (what was being sent) gets a 200 response, a /metadata/<existing ID with a slash and basic form of a DOI with that separator)

[2019-01-03 20:04] pdurbin commented on #1983
I just wanted to note for the record that getting off Glassfish 4.1 is not necessary for `start-domain` to work again. I recently upgraded to OS X 10.14 and `start-domain` just works now. (I'm not sure which version fixed it.) Now that I have my Mac in sync with the phoenix server in terms of where I put Glassfish, I can run the same `scripts/deploy/phoenix.dataverse.org/deploy` script on my Mac t

[2019-01-03 21:09] landreev commented on #5427
@qqmyers Thanks again for the PR.
I'm moving it to QA; testing it and moving it further down the merging process will likely have to wait till next week (some people are still out here). But we should definitely be able to add it to the next release.
As discussed, I'm going to open another github issue for a more in depth cleanup of the code there.

[2019-01-03 21:16] landreev commented on #5427
@kcondon
To summarize the parts important for testing/QA:
Please note that the current issue is fairly easy to reproduce: it's not unique to the prod. in any way. You should be having issues publishing datasets with files, on any dev. system configured to use DataCite, with the file level registration enabled.

The reason this has started happening just recently is a new behavior on the DataCite A

[2019-01-03 21:22] landreev commented on #5427
As an immediate response to the prod. issues, we've disabled file level registration in our Dataverse. And are going to advise all the other installations using DataCite to do the same.
I wrote the following blurb for sending out:

To all the Dataverse installations using DataCite:
If you have registration of DOIs for datafiles enabled (the default behavior), you are likely to experience issues pu

[2019-01-03 21:30] pdurbin opened #5429 "Make metrics above installation map on dataverse.org not misleading"
We want the map on dataverse.org to only show the number of installations (35 as of this writing), not "2,872 Dataverses", "52,449 Datasets", "4,102,900 Downloads" as in the screenshot below:

![screen shot 2019-01-03 at 4 24 51 pm](https://user-images.githubusercontent.com/21006/50662453-78463200-0f74-11e9-8a5b-3d4a659061fe.png)

The fix for this should be to comment out a few lines as was alread

[2019-01-03 21:46] qqmyers commented on #5427
@landreev - could use the API call instead of db insert:
curl -X PUT -d 'false' http://localhost:8080/api/admin/settings/:FilePIDsEnabled

[2019-01-03 21:48] landreev commented on #5427
@qqmyers that should be the recommended way yes; i have no idea why i did it w/ a db query.
i'll change it, if it hasn't gone out yet.

[2019-01-03 22:03] landreev opened #5430 "Cleanup of DataCite registration implementation, add OnSuccess status"
This is a followup issue to #5427

We've discussed some further improvements/safety checks to the DataCite registration process.

For example, it would be more prudent to actually read the response from the DataCite /metadata API and validate it; rather than rely on receiving a 200.
Some limit on the number of retries perhaps?
Review the transaction framework of the publishing process; makes sure

[2019-01-03 22:16] scolapasta commented on #5430
Partially related: @michbarsinai and I had discussed adding to the Command Infrastructure the idea of "onSuccess". That is a method in the interface that the engine calls after the transaction of the execute method is completed. This would be for actions that are meant to happen outside the transaction, like indexing.

In this case, you could imagine the publish would succeed from the dataverse si

[2019-01-04 10:36] tcoupin commented on #5245
Happy new year!

Still work nedded?

[2019-01-04 11:08] poikilotherm commented on #5245
Maybe @pdurbin could move this to Code Review again? The failing IT tests seem to have been worked out recently...

[2019-01-04 11:10] pdurbin commented on #5245
@tcoupin hi! Before I move this to code review, can you please merge the latest from "develop" into your branch? We released 4.10. Thanks!

[2019-01-04 12:05] pdurbin commented on #5245
@tcoupin on second thought, I went ahead and moved this issue to code review but if you could please merge the latest from develop into your branch soon it would be appreciated.

[2019-01-04 12:08] pdurbin commented on #5344
Happy New Year! What's the status of this issue?

[2019-01-04 12:10] pdurbin commented on #5297
Closing now that developers can use the new "FAKE" DOI provider we added in Dataverse 4.10 in #5327

The docs are here:

http://guides.dataverse.org/en/4.10/developers/dev-environment.html#configure-your-development-environment-for-publishing

curl command:

    curl http://localhost:8080/api/admin/settings/:DoiProvider -X PUT -d FAKE

[2019-01-04 12:10] #5297 closed

[2019-01-04 12:11] pdurbin commented on #5104
@tcoupin Happy New Year! What's the status of this issue from your perspective?

[2019-01-04 12:12] pdurbin commented on #5093
@poikilotherm hi! Are you actively working on this? Do you still want to be assigned to it?

[2019-01-04 12:16] pdurbin commented on #5081
We plan to work on Bibtex some more in #5424.

@ross-spencer are you still interested in working on the docs? http://guides.dataverse.org/en/4.10/developers/documentation.html should help you get started and I'm happy to answer any questions! :smile:

[2019-01-04 12:17] pdurbin commented on #4923
@pkiraly Happy New Year! What's the status of this issue, please? Thanks! :smile:

[2019-01-04 12:19] pdurbin commented on #4897
@thaorell hi! Please try the new "FAKE" DOI provider we added in Dataverse 4.10 in #5327

The docs are here:

http://guides.dataverse.org/en/4.10/developers/dev-environment.html#configure-your-development-environment-for-publishing

curl command:

    curl http://localhost:8080/api/admin/settings/:DoiProvider -X PUT -d FAKE

Does that help you get unblocked?

[2019-01-04 12:20] pdurbin commented on #4714
@aculich Happy New Year! What's the status of this issue, please? Are you blocked? Do you need anything? Thanks!

[2019-01-04 12:22] pdurbin commented on #4448
@lubitchv Happy New Year! I'm just checking in to see if you're blocked or if there's anything you need.

[2019-01-04 12:23] pdurbin commented on #4257
@jggautier when you get a chance can you please summarize the status of this issue?

[2019-01-04 12:30] pdurbin commented on #4106
@4tikhonov Happy New Year! Is this issue blocked? Do you need anything? Heads up that we did merge a pull request for #5327 and there's a new pull request in flight for #5427.

[2019-01-04 14:29] pdurbin opened #5431 "As a developer, I want to be able to start Glassfish from Netbeans on Mac OS X Mojave (10.14)"
As I noted at https://github.com/IQSS/dataverse/issues/1983#issuecomment-451260818 I got back from winter break and upgraded my Mac to OS X Mojave (10.14.0). Now, unfortunately, I'm unable to start Glassfish 4.1 from Netbeans 8.2. Here's the error I get:

Here's a screenshot:

![screen shot 2019-01-04 at 9 20 36 am](https://user-images.githubusercontent.com/21006/50692577-67dc9880-1002-11e9-940b-9

[2019-01-04 14:42] mheppler commented on #5431
I'm on OS 10.14.2 it that helps. Happy to shoot you some Netbeans settings if you want to compare. I also updated to Java 8 Update 191 after the OS update.

[2019-01-04 14:59] pdurbin commented on #5431
@mheppler thanks. I just upgraded to 10.14.2 and I still can't start Glassfish. I'm on Oracle Java 8 1.8.0_74-b02 so I'm obviously not very good about keeping up to date with my version of Java. Next month Oracle will no longer give out free security updates for Java 8 (#4259) so I should probably switch to https://adoptopenjdk.net or some other non-Oracle solution.

I might actually try Netbeans

[2019-01-04 15:59] landreev commented on #5345
The issue with long harvesting jobs - it's not really anything new/being introduced in this PR, correct?
As long as the harvesting client is properly locked, thus preventing the service to attempt further harvests while it's in progress, it should be ok for the job to take a while, I think.

I'm currently looking at the overall code in the PR; it looks good overall, I just need to review more care

[2019-01-04 16:05] landreev commented on #5345
(I'm going to test the branch and run some harvests too)

[2019-01-04 16:10] dheles opened #5432 "Elaborate on use FAKE DoiProvider"
The guide describes how to configure Dataverse to use the new fake DOI provider, but not the effect of doing so.

http://guides.dataverse.org/en/4.10/developers/dev-environment.html#configure-your-development-environment-for-publishing

Relates to PR #5399

[2019-01-04 16:15] pdurbin commented on #5432
@dheles thanks for opening this issue and chatting about this stuff at http://irclog.iq.harvard.edu/dataverse/2019-01-04#i_84022

lease note that there is already a little more elaboration at http://guides.dataverse.org/en/4.10/installation/config.html#doiprovider

Here's how it looks:

![screen shot 2019-01-04 at 11 13 59 am](https://user-images.githubusercontent.com/21006/50698065-f573b480-1011-

[2019-01-04 18:01] sbarbosadataverse opened #5434 "File upload: large file uploads should show up in the file table after each ingest, before save"
See attached screen shot.
When uploading large files, after the blue bar is complete, files are not listed below where is says "file you upload will appear here"

<img width="1959" alt="screen shot 2019-01-04 at 1 01 26 pm" src="https://user-images.githubusercontent.com/8322346/50703071-e9dbba00-1020-11e9-87ea-d8e43e9582e1.png">

[2019-01-04 18:03] pdurbin commented on #5431
https://stackoverflow.com/questions/46459152/cant-chown-usr-local-for-homebrew-in-osx-10-13-high-sierra/48892451#48892451 got me thinking that maybe System Integrity Protection might be a factor: https://support.apple.com/en-us/HT204899

I tried installing Glassfish in `/Users/pdurbin/java/glassfish/4.1/` rather than `/usr/local` but it didn't help. I guess I'll try Netbeans 10.

[2019-01-04 18:11] pdurbin commented on #4152
@craig-willis that makes total sense. If you need any help getting the other issues unblocked please let us know.

[2019-01-04 18:13] pdurbin commented on #5434
I just wanted to note that Harvard Dataverse is running 4.9.4 at the moment.

[2019-01-04 18:36] djbrooke commented on #4257
Moving to the inbox until there's additional work on this.

[2019-01-04 19:22] landreev commented on #5245
I see, this was introduced in May - when .lastIndexOf('/') was changed to .indexOf('/') in line 362... Which I'm assuming was done to fix another problem... OK, so these are all consequences of switching to treating the DOI "shoulder" as part of the identifier...

[2019-01-04 19:45] landreev commented on #5245
OK, this PR fixes the problem at hand, so I'm moving this along as soon as the branch is merged w/ develop.
But, looking at the rest of the code as it is now, it appears that we now assume that there can never be a '/' separator in the authority part of the identifier... I'm wondering if this is a safe assumption (with handles especially?).

[2019-01-04 20:34] pdurbin commented on #5431
I see the same problem in Netbeans 10.0 (Build incubator-netbeans-release-380-on-20181217). Screenshots first:

![screen shot 2019-01-04 at 3 15 35 pm](https://user-images.githubusercontent.com/21006/50709168-e3573d80-1034-11e9-8692-048bfe56e668.png)

![screen shot 2019-01-04 at 3 21 54 pm](https://user-images.githubusercontent.com/21006/50709169-e3efd400-1034-11e9-9259-363a3e456fae.png)

![screen

[2019-01-04 20:35] pdurbin commented on #4088
Sadly, I'm now suffering from this problem after upgrading to Mac OS X Mojave (10.14). @matthew-a-dunlap has already gotten an earful about this (sorry) but @wadechandler and anyone else who's interested can read about my woes at #5431 😢

[2019-01-04 20:41] pdurbin commented on #5431
Another data point. @michbarsinai reports that he upgraded to Mojave and isn't having trouble with Netbeans and Glassfish. He's on Netbeans 9 and 10.

[2019-01-04 21:50] pdurbin commented on #5431
I tried moving ~/.gfclient aside. Didn't help. I'm running out of ideas. I could try upgrading to a newer version of Java 8.

I signed up for the users list at https://netbeans.apache.org/community/mailing-lists.html and I guess I'll email them on Monday if I can't figure this out. Frustrating.

[2019-01-04 22:20] poikilotherm commented on #4172
The Payara stuff is going pretty well so far, using it in #5292. I need to get my party started in #5361 but of course one could try to use Payara 5 using classic installation mode (altough the installer needs to be adapted in a few places, because the `production` domain is favored for prod use)

[2019-01-04 22:21] poikilotherm commented on #4203
This is already part of #5371 as discussed on IRC (sry, cannot find it right now in the logs)

[2019-01-04 22:22] poikilotherm commented on #5093
No I am currently concentrating on "getting things testable".
I don't mind being assigned, as this is definitly a feature we need for FZJ and will be done once we have a prod setup done.

[2019-01-04 22:30] poikilotherm commented on #5345
It is not really new, no. Before my code changes, the harvests are executed in parallel, as each harvester has its own timer going off and triggering the harvest a configured.

The code changes lead to a serialisation of harvests, which might be suboptimal with bigger harvest in mind. The `@Lock(WRITE)` annotation should ensure that no other harvest is executed as long as the long-running harvest

[2019-01-07 05:57] FDU-SE-LAB opened #5435 "Your project IQSS/dataverse is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 11:05] tcoupin commented on #5245
Assuming http://www.handle.net/tech_manual/HN_Tech_Manual_9.pdf, page 6:
![image](https://user-images.githubusercontent.com/7457386/50764902-77fbae80-1274-11e9-878c-e62e51a8160a.png)

[2019-01-07 11:51] pdurbin commented on #5431
I just posted my sad story as "trouble with NetBeans/GlassFish integration on Mac" to the Netbeans mailing list at https://lists.apache.org/thread.html/809b170e4bbd2f87a4353646d801b2b9daec0c82edf8c72ee7c2efba@%3Cusers.netbeans.apache.org%3E

I also joined #netbeans on freenode.

[2019-01-07 13:00] tcoupin commented on #5104
My need is to allow user to provide existing DOI, externally managed, to avoid multiples DOI pointing on the same resource.
I dont know if this is in the dataverse phylosophy.
Anyway this feature is in my fork.

[2019-01-07 14:38] lubitchv commented on #4448
@pdurbin Happy New Year! I am trying to understand how versioning is done for datasets in dataverse and how we can replicate it with variable level metadata. It would be nice to have a meeting to discuss what is the best way to do it.

[2019-01-07 15:23] pdurbin commented on #5431
Andreas on the Netbeans mailing list mentioned Payara 5 so I tried Payara 5.184 (the latest) and got the same result. I followed up about this at https://lists.apache.org/thread.html/7520c959777765621e453bb303728b2bb3d9c5559542489b72ae5be1@%3Cusers.netbeans.apache.org%3E

Over at https://javabot.evanchooly.com/logs/%23netbeans/2019-01-07 sfisque said, "my first guess would be java. maybe reinstall

[2019-01-07 15:45] tcoupin commented on #5104
DOI are created with an other account (by a partner institute for example). I don't really know about file management because our dataverse is not in production for now. But I think that files will be store in dataverse in some case.

[2019-01-07 15:47] pdurbin commented on #5104
@tcoupin ok, did you see the note by @scolapasta above about harvesting via OAI-PMH? Would that be a solution for you? We try to avoid forks whenever possible.

[2019-01-07 15:51] tcoupin commented on #5104
Yes but I will not have an oaipmh server for all datasets. For now, this feature will be deployed in our production. We will see in some months if it's still necessary.

[2019-01-07 15:55] TaniaSchlatter commented on #2249
In the short term, we are considering using the file hierarchy information as metadata, stored in the database, rather than having the files in a hierarchy on disk. This would allow users to view the hierarchy in a preview, with the file display in the table (adding filtering and sorting capabilities).

- Users could add or move things around from the UI by specifying or editing the file's path.

[2019-01-07 18:39] #5427 closed

[2019-01-07 18:51] kcondon opened #5436 "New Release: Update version v4.10.1, capture glassfish db upgrade script"
1. Update app version
2. Update upgrade version/capture gfish db script

[2019-01-07 19:46] pdurbin commented on #4088
The fix for me was to configure Netbeans for "no proxy" as I explained in 0a5993e in pull request #5438

[2019-01-07 19:51] pdurbin commented on #4259
Oracle will stop giving out free security updates for Java 8 this month so I just switched to AdoptOpenJDK 1.8.0_192-b12 on my Mac and it works fine. I downloaded it from https://adoptopenjdk.net and untarred it to /Library/Java/JavaVirtualMachines/jdk8u192-b12 where my Mac and Netbeans picked up the change immediately.

Also, @landreev checked Harvard Dataverse are we are not using Oracle's Java

[2019-01-07 22:09] #5432 closed

[2019-01-07 22:41] #5431 closed

[2019-01-07 23:44] #5245 closed

[2019-01-08 00:11] landreev commented on #5345
I thought about this/discussed it a bit w/others, and I do think the serialization of harvests is a serious problem. I don't think we want to put all the harvests on hold, for hours (or days, potentially) while a large collection is being populated. And I'm not sure getting rid of the timer entries in the database is by itself worth a new limitation like this.

I was actually hoping that this new

[2019-01-08 14:17] pdurbin commented on #5097
@craig-willis thanks for making pull request #5417. It's currently in QA.

I wanted to raise an issue from https://github.com/whole-tale/dashboard/issues/327 that we've been using my "dev1" server for testing the Whole Tale "explore" button but I'm about to drop the database on that server because I'm using it for another project (Make Data Count). In that issue I suggested that maybe we could add

[2019-01-08 15:39] LauraHuisintveld commented on #4474
I was checking the release notes for version 4.10, and I was wondering if this is a duplicate issue of #3427 ? We did not upgrade yet, so I cannot test it myself in version 4.10.

[2019-01-08 15:50] pdurbin commented on #4474
@LauraHuisintveld it sure looks like a duplicate. https://demo.dataverse.org is running Dataverse 4.9.4 right now but I'll try to remember to let you know when it has been upgraded to 4.10 or higher so you can re-test.

[2019-01-08 15:51] craig-willis commented on #5097
@pdurbin This is a perfect next step from my perspective.  With the PR issued and release 0.5 deployed, we're as ready as we're going to be for now.

[2019-01-08 15:56] pdurbin opened #5440 "Include Counter Processor in Dataverse installation procedure for Make Data Count support"
@matthew-a-dunlap @sekmiller and I have been discussing that our working plan is to require the installation of Counter Processor ( https://github.com/CDLUC3/counter-processor ) in order for Dataverse to support Make Data Count.

Here's a preliminary diagram that shows where Counter Processor fits in our architecture:

![mdc-arch](https://user-images.githubusercontent.com/21006/50841935-c02dd600-1

[2019-01-08 16:18] mheppler commented on #4474
I have checked this on the latest and greatest `develop` branch and can confirm the bug outlined in this has been fixed.

That said, as @kcondon pointed out in his last comment before #3427 was closed and merged, clicking "Continue" on the popup saves the action and moves you to the dataset pg with a success msg. That should be fixed, so that clicking continue brings you back to the Edit Dataverse

[2019-01-08 16:20] #5436 closed

[2019-01-08 17:26] mheppler opened #5441 "Metadata Fields > Edit Dataverse General Information - Various bugs and other UX unpleasantries"
While reviewing the bug fix in #3924 for the Metadata Fields checklist on the Edit Dataverse General Information pg, I came across another known bug that was not resolved in that pull request. Upon further digging through the backlog, I discovered there were other known issues. This new issue aims to consolidate all of those various issues into one general FIX ME.

- [x] Add Dataset: Throws except

[2019-01-08 17:32] mheppler commented on #4474
I have opened a new issue, _Metadata Fields > Edit Dataverse General Information - Various bugs and other UX unpleasantries #5441_, to report the popup "Continue"/saving issue, as well as consolidate any other know UX issues with this Metadata Fields form component.

@LauraHuisintveld @pdurbin I am going to close this issue as a duplicate of #3427. Please comment on the new issue if you have any m

[2019-01-08 17:32] #4474 closed

[2019-01-08 18:06] #5357 closed

[2019-01-08 18:12] pdurbin commented on #5097
@craig-willis great news! I wasn't sure if you had deployed on your side yet.

[2019-01-08 18:51] pameyer opened #5442 "solr minor version increment"
solr 7.3.0 to 7.3.1

[2019-01-08 18:59] pameyer commented on #5442
PR https://github.com/IQSS/dataverse/pull/5443 ; since it appears to not be auto-linking.

[2019-01-08 21:05] pdurbin commented on #5440
Now that I think of it, #5385 is almost the same as this issue. Or maybe it's stage 2 of that issue.

[2019-01-08 21:09] pdurbin commented on #5398
After standup today, @landreev and I discussed that while 0.1 of the metrics aggregator can handle the 6 existing metrics endpoints, it should be updated to handle the new 7th endpoint that's being created.

Here's the current config file for the metrics aggregator with the 6 endpoints: https://github.com/IQSS/metrics.dataverse.org/blob/v0.1.0/config.json.sample

[2019-01-09 12:51] pdurbin commented on #4714
Yesterday I stumbled upon this awesome drawing about Jupyter Notebooks and reproducibility:

![use-cases-binder-logbook-solution](https://user-images.githubusercontent.com/21006/50900465-46edbc00-13e3-11e9-9aa0-84ee69a02bcf.png)

It's apparently from https://opendreamkit.org/2017/11/02/use-case-publishing-reproducible-notebooks/ and some day it would be neat to see Dataverse in there as a reposito

[2019-01-09 16:05] kcondon opened #5444 "Custom Homepage: Dynamic homepage works in test/demo, not in production"
The custom homepage code with metrics that we provide in our guide as custom-homepage-dynamic.html, http://guides.dataverse.org/en/4.10.1/_downloads/custom-homepage-dynamic.html
does not work in production.  When enabled, it appears as blank, just the header and footer.

This works fine on demo.dataverse.org

[2019-01-09 16:42] kcondon commented on #5444
OK, this is working, it was due to not putting the static file on both web servers.

[2019-01-09 16:42] kcondon commented on #5444
At the advice of counsel, I'm told to say Mr. Leonid is right as always.

[2019-01-09 16:42] #5444 closed

[2019-01-09 17:25] mheppler opened #5445 "Dynamic Custom Homepage - ROUND TWO"
_Misc HTML + CSS + layout improvements_
- [x] Make symbols in the big red buttons gray. See mockup.
- [x] Make the rules (lines) that are above "Find data across...", above “Activity” and above "Looking for other online..." bolder – if "hairline" then 1px, if 1px, then 1.5 or two ([see mockup](https://docs.google.com/document/d/1AtvODFY8aNQSE9BleeQEf5GkFsDWrziUB-IX-1xA0Y8/edit))
...
- [x] “Browse

[2019-01-09 17:34] matthew-a-dunlap commented on #4970
Two other issues that may be at play:
- The metrics caching. Most of the queries default to 7 days unless configured.
- There may be weirdness in how the metrics compare dates. Not sure but worth investigating.

[2019-01-09 17:37] matthew-a-dunlap commented on #5445
For the counts problem, a short-term fix could be to just remove that section of the html until we get the numbers to line up.

[2019-01-09 18:03] scolapasta commented on #5445
Should Search input watermark dataset count be 27.4k (# of datasets added?) or 81.2k (total number including harvested)? I'd vote for the latter

[2019-01-09 18:23] #4399 closed

[2019-01-09 18:55] pameyer opened #5446 "as a system administrator, I'd like glassfish to not throw exceptions from (from dataverseuser.xhtml) during normal operations"
One example of the general principle: `curl -I -X GET "${DATAVERSE_HOST}/dataverseuser.xhtml?editMode=foo"` shouldn't result in a http 500 error / `IllegalStateException`.

There are a variety of other cases that appear to result in additional `IllegalStateException`s (and `EJBException`s), but more information needs to be developed on those.

[2019-01-09 19:52] djbrooke opened #5447 "Homepage Count Updates"
- [x] Search input watermark dataset count (27400) is off by 53,827 compared to "Datasets (81,227)" facet (Expect to be a count of all dataverses and datasets that will be searched – including Harvested)
- [x] Browse by subject # expected to be dataverses+datasets including harvested
- [x] Allow queries for all datasets (harvested + native), as well as datasets harvested and files harvested. This

[2019-01-09 20:42] dheles opened #5448 "Clarify use of DataCite's DOI testing environment (10.5072 no longer the universal test prefix)"
DataCite doesn't do things quite the same as EZID when it comes to test DOIs and the what the "FAKE" DOI provider isn't completely obvious.

[2019-01-09 21:04] pdurbin commented on #5448
It might be nice for @landreev to take a look at pull request #5449 because I'm confused about if 10.5072 is a test prefix or not. Another thought is that three developers are going to https://pidapalooza.org in a couple weeks so maybe they could get some clarification on all this.

[2019-01-09 22:30] sbarbosadataverse commented on #5445
I sent feedback to Tania already

On Wed, Jan 9, 2019 at 5:20 PM Danny Brooke <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, The Dataverse Project
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

All Harvard Dataverse Repository inquiries should be sent to:
support@dataverse.harvard.edu
All software inquiries should be sent to: support@da

[2019-01-09 22:55] pdurbin commented on #5434
@sbarbosadataverse is this any better now that Harvard Dataverse is running 4.10.1?

The reason I thought to circle back to this issue is that @Mahsanas just reported a very similar issue with 4.9.4 in IRC:

"Hi, We seem to have a problem when uploading files larger than 100 MB. The upload progress bar completes, but the files does not move from the top widnow to the bottom winodw (where the uploa

[2019-01-09 23:17] pdurbin commented on #2122
Now that Dataverse 4.10.1 has been deployed to Harvard Dataverse I tried the OSF test again and found that the OSF interface spun for about 60 seconds when I selected "Harvard Dataverse" and then eventually changed from "Retrieving datasets" to "No datasets available" (which makes sense since I don't have any datasets in the "root" dataverse of Harvard Dataverse). Here's a screenshot:

<img width=

[2019-01-10 00:34] pameyer commented on #5145
For future reference (aka - it didn't make it into the issue from when we initially talked it over): this code enables logging, and there isn't currently a setting to disable the creation of edit logs.  This is something that might get revisited in the future however.

[2019-01-10 01:36] choldgraf commented on #4714
I love that drawing, was clever of them to think to pay somebody to do this...we should totally do this with the jupyter project too :-)

[2019-01-10 06:58] mdmADA opened #5450 "Every now and then, the Password Reset is not finding an email address even though it exists - so password reset not working"
v4.6.1

Every now and then, one of ADA's users will report that the password reset isn't working - they don't receive the email. And it's not because the email is sent and somehow not received by the user, it's that the PasswordResetServiceBean can't find the email address in the first place despite the fact it exists.

For example, user1.abcdefg@gmail.com requests a password reset.

In server.log

[2019-01-10 10:51] pdurbin commented on #5450
@mdmADA hi, I guess my first thought is that 4.6.1 is getting a little old at this point and you should know that in 4.9.3 we fixed some password reset problems by removing the duplication of email addresses across multiple tables as part of #4565.

[2019-01-10 14:05] shlake commented on #2122
Thanks @pdurbin
I'll take a look at this early next week. I am doing a webinar for TDL on OSF/Dataverse integration (on Jan. 22nd) and was going to use demo.dataverse.org, which I see is also at 4.10.1. And I see with a new home page.

[2019-01-10 14:21] pdurbin commented on #5450
@mdmADA to be extra clear, what I'm saying is that in 4.9.3 we dropped the "email" field from the "builtinuser" table:

https://github.com/IQSS/dataverse/blob/v4.9.3/scripts/database/upgrades/upgrade_v4.9.2_to_v4.9.3.sql#L2

So, please check your "builtinuser" table for user1.abcdefg@gmail.com or whatever.

[2019-01-10 15:45] kcondon commented on #5442
Discussed with Pete. His test was to run the integration solr tests on it. Open question is whether this is enough of a validation.

[2019-01-10 15:53] landreev commented on #5448
Reviewing the PR - I'm not sure about the "configured with your own prefix" part, in
"Unlike EZID, DataCite requires that you register for a test account, configured with your own prefix"
The above really implies that one must have a registered, unique prefix, just to start using DataCite, even in a testing setup... It should probably say something to the extent of, if it's just for testing, you c

[2019-01-10 16:01] landreev commented on #5448
OK, looking at the new title of the issue - this appears to be the whole point of it, that "10.5072" is no longer the universal test prefix... Could you please point us to any DataCite documentation where this is explained?

[2019-01-10 16:13] pdurbin commented on #5442
@kcondon I just ran the phoenix tests against develop (commit 571ec66) and if you want I could upgrade Solr to 7.3.1 on the phoenix server and re-run the tests. This wouldn't test the SolrJ upgrade in the app itself, though.

Another thought is to spin up the branch with `./ ec2-create-instance.sh -b 5442-solr731` and then ssh'ing into the ec2 instance, manually upgrading to Solr 7.3.1 (usually th

[2019-01-10 16:14] landreev commented on #5398
Made a pull request (#5451); this should *not* go into CR just yet - as I'm adding this new metrics to the aggregator in the other code repository, as described above. (thanks @pdurbin)

[2019-01-10 17:11] pdurbin commented on #4706
At standup I mentioned that I ran the following...

`./ec2-create-instance.sh -b IQSS/4706-DPN_Submission_of_archival_copies -r https://github.com/QualitativeDataRepository/dataverse.git`

... to spin up pull request #5049 and it seems to have worked. Here's the output:

To ssh into the new instance:
ssh -i key-pdurbin-CE7E623C.pem centos@ec2-54-161-44-72.compute-1.amazonaws.com
Branch "IQSS/4706-

[2019-01-10 17:40] pdurbin commented on #1219
I took a quick look at pull request #5452 and it seems sane. Less validation happening in the front end, in the Javascript. So it seems to be going in the right direction. Or perfect. I can't tell from a quick look.

At standup I mentioned that @sekmiller and I discussed the benefits to the user from this effort. My understanding is that users get:

- a more consistent user experience with regard

[2019-01-10 17:46] matthew-a-dunlap commented on #4970
Looking at the initial issues in this story, it seems that QDR's counts match now. The only other issue I was able to identify is that we are not counting undated historic download counts in the per month query. This fix will count those undated results if the month queried is on/after the oldest dated record.

Alongside this, all the metrics table entries for downloads should be cleared so they a

[2019-01-10 17:55] pdurbin commented on #5097
@craig-willis I spoke with @djbrooke about the Dataverse demo site this morning and he seemed fine with adding the Whole Tale button. Are you planning on announcing this integration at https://groups.google.com/forum/#!forum/dataverse-community or similar? Two integrations, actually. The "Whole Tale" button on Dataverse demo and the ability to download data by DOI from Dataverse installations from

[2019-01-10 18:50] kcondon commented on #5442
@pdurbin Thanks for offering to test -I think running the tests are part of code review, right? I'm OK with Pete's report about the test for this one but something to consider for others going forward.
I'd prefer to test in my local test env in general rather than some other place. I would like to be reasonably sure it will work by someone checking release notes for the suggested upgrade to look f

[2019-01-10 19:02] pdurbin commented on #5442
Regardless of whether it's optional or required I went ahead and opened https://github.com/IQSS/dataverse-ansible/issues/34 because I'd like the Ansible code used by our "spin up a branch" scripts to deploy the same version of Solr. At standup I mentioned I'd do this.

Good point about updating the startup script for people who are upgrading (as opposed to a new install). I agree that steps of thi

[2019-01-10 19:09] matthew-a-dunlap commented on #5447
As per discussion with @TaniaSchlatter , our metrics need to provide values for harvested / non-harvested .
<img width="920" alt="50990068-168b4800-14df-11e9-9bd6-d5c68be91f88" src="https://user-images.githubusercontent.com/8901015/50990895-518e7b00-14e1-11e9-8b0e-a5d4d33c00ef.png">

[2019-01-10 19:33] #5145 closed

[2019-01-10 19:42] #5152 closed

[2019-01-10 19:46] djbrooke commented on #4970
@matthew-a-dunlap assigning to you and pulling back to team dev based on our discussion

[2019-01-10 20:12] scolapasta opened #5454 "Some datasets showing up as links after manually changing "root" dataverse - remove hard coded value of 1"
Reported by Sherry Lake from UVA:

After changing which dataverse was the "root" (by giving the original root a parent, and removing the parent from another dataverse), some datasets are improperly showing up as linked.

From the Google group:
https://groups.google.com/forum/?hl=en#!topic/dataverse-community/x042DsIk3-I

[2019-01-10 20:15] scolapasta commented on #5454
I looked in the code a bit and there is a line where the root dataverse is hard coded to id of 1.
In SearchIncludeFragment.java, line 1236 (additional lines provided for context):

  // determine which of the objects are linked:

        if (!this.isRootDv()) {
            // (nothing is "linked" if it's the root DV!)
            Set<Long> dvObjectParentIds = new HashSet<>();
            for (Solr

[2019-01-10 20:18] matthew-a-dunlap commented on #5398
This work is going to be incorporated into the new homepage/metrics changes on #5398, as this code will be changed again in that PR they will be reviewed together along with #5447.

[2019-01-10 20:21] scolapasta commented on #5454
Please note:
This may not be the exact cause of Sherry's issue (since the dataset's parent in question is not the former root), but this bug could still be indirectly causing the problem.

It would still be good to fix this and see the resultant effect it has on Sherry's test setup.

[2019-01-10 20:30] scolapasta commented on #5454
One last note and why I'm not convinced this will definitely fix Sherry's issue:
In her case the dataset that is incorrect has a parent id of 281. So even though the root is no longer id of 1 (it is id of 23313), this if statement would still return false.

(similarly there is a dataset that has a parent id of 13, in the same structure and that was does not show up as linked.)

In fact if it *had*

[2019-01-10 21:01] pdurbin commented on #4706
There's been a lot of merging today so that EC2 instance I spun up is getting a bit out of date. I'll probably delete it soon. If anyone wants to try the ec2-create-instance.sh command above, please see http://guides.dataverse.org/en/4.10.1/developers/deployment.html#deploying-dataverse-to-amazon-web-services-aws

@qqmyers so far the only merge conflict is in the guides but do you mind merging the

[2019-01-10 21:10] matthew-a-dunlap commented on #5447
Code Todo:
[ ] Add admin command to clear caches (needed with metric renaming happening)
[ ] Add query param to all metrics to specify local/remote/all (default is local for backwards compatibility)

[2019-01-10 21:39] dliburd commented on #3575
This issue still exists in Dataverse. Also Julian and I noticed that the search field on the Dataverse permissions page is case sensitive. Eg: searching for "bob" will not find the "Bob11" account.

Just looking at usernames that begin with the letter 'a', I came across 16 instances of usernames that are identical except for capitalization differences.

[2019-01-10 22:43] jggautier commented on #301
In Dataverse 4.10.1, (and maybe earlier versions?) if someone is assigned the "Contributor" role at the dataverse level, that person has edit access to all datasets, published and unpublished, created in that dataverse (that person is able to edit even datasets that she didn't create or wasn't given access to on the dataset level).

Is this intentional? Do we think that if someone gives another pe

[2019-01-10 23:08] kcondon commented on #4608
@mheppler I will test the trailing hyphen mentioned as the purpose for this ticket but it looks like you changed the actual messages on a bunch of alerts as well.

[2019-01-10 23:44] #4608 closed

[2019-01-10 23:56] #5097 closed

[2019-01-11 00:08] mdmADA commented on #5450
Hi Phil - Thanks for the feedback. I was never quite clear as to why there was an 'authenticateduser' table AND a 'builtinuser' table that seemingly duplicates the former and never had time to investigate - now I know that the builtinuser table is for the the password reset functionality!

I did as you suggested and checked the builtin user table and that was indeed the problem - the emails in tha

[2019-01-11 00:16] pdurbin commented on #5450
@mdmADA sure. I'm glad you were able to get to the root of the problem and fix it for that user. Again, password reset should be less error prone after 4.9.3.

I saw emails flying around just today to coordinate next steps for #2043, the Request Access functionality you mentioned (and demo'ed to us a while back). It'll be great to have the feature and to have you back on "stock" Dataverse.

Do you

[2019-01-11 01:03] scolapasta commented on #301
Yes, this is intentional. Assigning a role at a higher level means you inherit that role on the lower levels. More specifically assigning Contributor at the dataverse means that user will be a Contributor on every dataset in that dataverse. (in fact, this is the reason, you would assign this Contributor, or other dataset level permission) at a dataverse level; to not have to manually assign to eac

[2019-01-11 02:44] mdmADA commented on #5450
I will close it as it seems to be no longer an issue. If others running older versions have the same problem at least they'll see this thread and see how to address it.

Thanks!

[2019-01-11 02:44] #5450 closed

[2019-01-11 03:14] dheles commented on #5448
Sure:
https://support.datacite.org/docs/create-a-client-in-fabrica-test#section-assign-a-prefix

[2019-01-11 15:08] amberleahey commented on #5277
Just had a conversation with a user who would also like to see the related data set field be more structured to support discovery and readability online (as the related publication one is structured). Currently they are adding HTML tags to format this but could be enhanced directly in the form. Thanks for considering!

[2019-01-11 15:11] pdurbin commented on #5277
@amberleahey this is great feedback. Thanks. Please see also some recent discussion about "Related Dataset" in the context of Make Data Count at https://github.com/IQSS/dataverse/issues/4821#issuecomment-440756877

[2019-01-11 15:44] pdurbin commented on #5442
I hope no one minds but I just added a little doc fix in 9d6e7ec44 because the current URL in the dev guide to list Solr fields is wrong. I added "collection1" to the URL like this:

Old:

[code]

New:

[code]

[2019-01-11 15:53] #4660 closed

[2019-01-11 16:34] landreev commented on #5398
@scolapasta
@pdurbin
@matthew-a-dunlap
I modified the python scripts of the metrics aggregator (https://github.com/IQSS/metrics.dataverse.org) to support this new type of metrics.
I had to come up with a new format for the aggregated .tsv file.
We had the following 2 types supported:
The monthly counts, that were aggregated like this (for example):
[code]
and the totals by subject/category, like t

[2019-01-11 16:57] craig-willis opened #5455 "Authentication between Dataverse and Whole Tale"
This issue is intended primarily for discussion about improving the user experience between Dataverse and Whole Tale via the [external tools integration](https://github.com/IQSS/dataverse/issues/5097).

## Problem:
As noted in https://github.com/IQSS/dataverse/issues/5097#issuecomment-453191563, when using the Whole Tale external tool integration user experience will be better if they are already

[2019-01-11 17:04] #5419 closed

[2019-01-11 17:43] pdurbin commented on #4706
@qqmyers just merged the latest from develop into his pull request: #5049

I guess I'll move this to code review? I've been talking to @djbrooke a bit on the side about the EC2 stuff above.

[2019-01-11 17:59] pdurbin commented on #5384
I processed the logs into a sushi report which I tried to import into the `datasetsmetrics` table but it didn't work. The commands I used:

[code]

[2019-01-11 18:19] #3924 closed

[2019-01-11 19:15] jggautier commented on #5029
Author names are showing up on some but not all Google Dataset Search pages for datasets in Dataverse repositories, like [this page for a dataset from the Texas Data Repository (TDR)](https://toolbox.google.com/datasetsearch/search?query=Texas%20Data%20Repository&docid=lrWTeGixyRwCdiXKAAAAAA%3D%3D), and [this page for a dataset from Harvard Dataverse](https://toolbox.google.com/datasetsearch/searc

[2019-01-11 19:17] qqmyers opened #5456 "External tools for other mimetypes"
The existing tools mechanism is limited to working on tabular files. QDR is interested in being able to 'explore' other types of files, in general, but also specifically to view annotations created using hypothesis that link a paper and the dataset in Dataverse. I looked into the external tools mechanism and have been able to extend it to allow tools to be registered per mimetype, which should be

[2019-01-11 19:23] #5442 closed

[2019-01-11 19:25] qqmyers opened #5457 "External tools can't see the dataset context"
Currently, the external tools interface only sends a reference for the relevant file and a tool can't easily discover which dataset and datasetversion the file is included in, and therefore, if I understand correctly, cannot retrieve the file metadata (name, tags, description) since these are associated with a give filemetadata entry that is specific the dataset version.

For QDR, we wanted to dis

[2019-01-11 19:36] qqmyers commented on #5456
@pdurbin - I think its slightly different - I'm not suggesting to go back to a menu with one dropdown entry, but to keep the button with a tool specific label when there is only one. Currently, if there's one tool, there is no way to see what it is since the button just says "Explore" (Nominally that string is configurable in Bundle so if there's only one file type with tools and only one tool, yo

[2019-01-11 19:44] pdurbin commented on #5456
@qqmyers ok, Kevin W isn't working at Scholars Portal anymore so maybe you can ask @amberleahey if she has strong opinions about button labels. On a related note, the design team is hard at work on a dataset page redesign and I've seen some mockups but I'm not sure which are public. /cc @TaniaSchlatter @mheppler @dlmurphy @jggautier . I'd suggest making a different issue and pull request for this.

[2019-01-11 19:44] jggautier opened #5458 "Schema.org dataset metadata doesn't include file PIDs on Harvard Dataverse"
The Dataverse 4.10 release includes additions to the dataset metadata that Dataverse publishes in schema.org JSON (https://github.com/IQSS/dataverse/issues/4371). On Harvard Dataverse, it looks like all of those additions show up the way we expect them to except for file persistent IDs. (If the last version of a dataset was published before Harvard Dataverse was upgraded on Jan 8, its schema.org m

[2019-01-11 19:48] qqmyers opened #5459 "Support for retrieving and displaying Hypothesis annotations"
This is a placeholder issue for discussion: QDR has been using http://hypthes.is to allow researchers to annotate specific parts of published research papers. Those annotations are nominally part of the research record along with the data. With the data stored in Dataverse, QDR wanted a way to retrieve, store, and display these annotations as part of the dataset. @adam3smith can provide more detai

[2019-01-11 20:25] jggautier commented on #5458
@pdurbin mentioned that we're not seeing the file PIDs in the dataset metadata on Harvard Dataverse because Harvard Dataverse turned off file PIDs recently. Closing this ticket.

[2019-01-11 20:25] #5458 closed

[2019-01-11 21:02] TaniaSchlatter commented on #5445
@scolapasta Search input watermark dataset count should be @ 81.2k – total number including harvested.

[2019-01-11 21:14] pameyer opened #5460 "update installer for solr 7.3.1"
`cd scripts/installer ; make clean ; make` broken because I forgot to update makefile for the changed location of solr configuration files.

[2019-01-11 21:17] #5413 closed

[2019-01-11 21:32] landreev commented on #5448
Thank you @dheles
Reading the page above, it appears to be specific to "DOI Fabrica" - the new API, that we are not using yet. (correct?)
So far I can't find similar information in their "classic" API docs. And the examples there are still showing the 10.5072 prefix appearing alongside the dedicated prefixes assigned to specific users... Have you actually been able to confirm this scenario - regis

[2019-01-12 04:57] dheles commented on #5448
@landreev NP. We all want the docs to be as clear and as accurate as possible.

I have a GDCC-administrated test account which was assigned a unique prefix. When I configured my dev Dataverse (v4.9.4) instance with the correct username and password, but kept the prefix as the default 10.5072, and I attempted to publish a test dataset, I received an error and the publication failed. When I reconfig

[2019-01-14 04:40] mdmADA opened #5462 "Password Reset request throws NPE if email is not in authenticateduser table - v4.9.4"
DV 4.9.4 -> ADA has a test install of the latest release of Dataverse. So I thought I would try it out to see what happens for a password reset request if the email entered is not in authenticateduser table.

The message "If this email is associated with an account, then an email will be sent with further instructions to test_nonexistent_email@gmail.com." is shown in the UI (but without the "Passw

[2019-01-14 11:37] pdurbin commented on #5462
@mdmADA thanks for reporting this issue. Are you interested in making a pull request for this?

I was easily able to replicate this on the "develop" branch. Here are updated line numbers as of e36173f

[code]

The other thing I noticed is that the page gives no feedback. On the backend, this message is supposed to be used:

passwdReset.successSubmit.tip=If this email is associated with an account,

[2019-01-14 15:17] #5460 closed

[2019-01-14 16:29] jggautier opened #5463 "As a depositor or curator, when editing metadata fields I want to be able to access text in text boxes"
In Dataverse 4.10.1 (tested on Chrome Version 71.0.3578.98 and Firefox 60.4.0esr) on the dataset metadata edit page, some text boxes behave differently when adding more text than the default text box size can show. For text boxes in the Citation metadata block and in the Terms tab , the text box height increases as you add lines of text:

<kbd>![text_box_expands](https://user-images.githubusercont

[2019-01-14 17:00] kcondon commented on #4706
@qqmyers I'm getting an error trying to load a thumbnail that's on s3. This works on /develop:

[2019-01-14T11:54:22.838-0500] [glassfish 4.1] [WARNING] [] [edu.harvard.iq.dataverse.api.ApiBlockingFilter] [tid: _ThreadID=55 _ThreadName=jk-connector(4)] [timeMillis: 1547484862838] [levelValue: 900] [[
  Error processing /api/v1/datasets/:persistentId/thumbnail: org.glassfish.jersey.server.Container

[2019-01-14 17:40] qqmyers commented on #4706
@kcondon - another odd one. PartitionsLoader is in the aws-java-sdk-core-1.11.172.jar file which, when I compile this branch, is in WEB-INF/lib as it should be. And I don't see the issue in my working branches. Do you see this jar in your deployment? I see it and 2 other aws-sdk-* files with the same version number. Scanning through all of the other jars, the only difference I saw was the version

[2019-01-14 18:42] kcondon commented on #4706
@qqmyers I've rebuilt but see the same problem.
As for the libs, here is what I'm seeing:

pwd
/usr/local/glassfish4/glassfish/domains/domain1/applications/dataverse-4.10.1/WEB-INF/lib

ls -ltr aws*
-rw-r--r--. 1 root root 67129833 Jan 14 13:36 aws-java-sdk-bundle-1.11.172.jar
-rw-r--r--. 1 root root   848498 Jan 14 13:36 aws-java-sdk-core-1.11.172.jar
-rw-r--r--. 1 root root   279962 Jan 14 13:36

[2019-01-14 18:47] qqmyers commented on #4706
@kcondon - the middle 'core' jar is the one in which I see the com.amazonaws.partitions.PartitionsLoader class and your file size of 848498 is the same that I see. Could there be permission issues? I'm not sure what else could cause glassfish to not be able to read through a jar that is where it should be...

[2019-01-14 18:52] kcondon commented on #4706
@qqmyers I'm not sure but I don't think so since a build from /develop on the same box works. I'll compare files from both builds to be sure.

[2019-01-14 19:00] qqmyers commented on #5434
Just saw the chat log - PR #4522 started catching errors such as proxy timeouts that caused this, but I recently discovered that the changes to add provenance upload broke that error checking code. I'm working on a PR to fix it again. In the meantime, if there's a silent error, check for things like a 502 Proxy timeout error or other network error (visible in the browser log) - these cause a probl

[2019-01-14 19:05] kcondon commented on #4706
@qqmyers When I deploy /develop I only see the one file:
ls -ltr aws*
-rw-r--r--. 1 root root 67129833 Jan 14 13:52 aws-java-sdk-bundle-1.11.172.jar

[2019-01-14 19:14] qqmyers commented on #5434
Just created PR #5466 - I think it is complete, but I fixed this as part of another branch, so it's possible I've missed some code. If anyone sees issues, let me know.

[2019-01-14 19:49] dheles commented on #5448
I repeated the test to confirm my previous results and took screenshots this time.

Configured with 10.5072 - Error:
<img width="1114" alt="dataversepubfail" src="https://user-images.githubusercontent.com/2560887/51136644-05a64380-180b-11e9-9243-f23c8befbf09.png">

Configured with the prefix assigned to my client account - Success:
<img width="1114" alt="dataversepubsuccess" src="https://user-imag