[2019-02-28 22:30] kcondon commented on #4760
@qqmyers Did you make any change to the publish dataset api for this? How would one specify current version?

[2019-02-28 22:32] qqmyers commented on #4760
@kcondon - if I try this in v4.11-qdr, I only see the 'major' version option. I don't think I changed anything w.r.t. the decision to allow a minor version (DatasetVersion.isMinorUpdate()), so you may have found a bug there. Can you get to the minor version option doing a restrict/unrestrict on dev or v4.11?

[2019-02-28 22:33] qqmyers commented on #4760
@kcondon - yes - you can provide a type updatecurrent instead of major or minor in the publishDataset api call.

[2019-02-28 22:36] kcondon commented on #4760
@qqmyers Yes, I can see minor option in 4.11 when changing file restriction. Is the doc updated for the api change?

[2019-02-28 22:38] qqmyers commented on #4760
@kcondon - my bad w.r.t the major version - my test dataset had an extra file. When I just restrict/unrestrict, I see the update current option. It works for me, so I'll look at what may be different than in the PR.
Will also update the doc for the api...

[2019-02-28 22:43] kcondon commented on #4760
@qqmyers Thanks, for what it's worth, updatecurrent for file restriction works for the publish api.

[2019-02-28 22:54] qqmyers commented on #4760
@kcondon - hmm - the only way to get the IllegalCommandException is to get false in the if statement on line 96 of CuratePublishedDatasetVersionCommand.java:
if (draftFmd != null && publishedFmd != null) {

That means that somehow the filemetadata for the draft or prior published version was not found - versus anything being wrong with the logic to set the restricted state. Are you able to repeat

[2019-02-28 22:57] pdurbin commented on #4760
@qqmyers and standup I asked if there are any docs. Nope. I stubbed out some at 174d9cef2

It looks like this new feature is available via API as well.

[2019-02-28 22:59] kcondon commented on #4760
@qqmyers I am now unable to reproduce the issue. So, I'm ok with this as is. I'll try it a couple more times to be sure but then, after docs are added, I will merge it.

[2019-02-28 23:00] pdurbin commented on #4760
@kcondon did you test via API? I just documented it at cd66f3f8b

[2019-02-28 23:05] kcondon commented on #4760
@pdurbin Haven't you been reading the comments? ;)

[2019-02-28 23:09] pdurbin commented on #4760
@kcondon ah, now I see some chatter about "updatecurrent" API testing. Good! 😄

[2019-02-28 23:10] pdurbin commented on #5590
I just moved this to QA since it's part of the pull request currently under test.

[2019-02-28 23:25] qqmyers commented on #4760
@kcondon - I made a minor add to @pdurbin docs (thanks for that!), so I guess its good to go. I am concerned that you had that one error. My only guess right now is that there's some way to get a stale page. If that's true, I should be able to refresh from the db to fix it, but I don't want to to do that if we can't duplicate the problem. On the good side - if it is something stale, a page refresh

[2019-02-28 23:25] #5590 closed

[2019-02-28 23:25] #4760 closed

[2019-03-01 14:25] amberleahey commented on #4439
So we are still investigating potential bottlenecks to try and isolate these upload and download file issues for larger than 2GB files.

One thing I've been doing is testing medium file upload in other similar systems, potentially (minus the processing which happens in Dataverse, another thing to evaluate scaling). Here are my results from uploading a 9.7GB zip to Zenodo:
![step4](https://user-ima

[2019-03-01 14:37] pdurbin commented on #4439
4.5 hours is a long time but cool that the Zenodo upload worked. Given the number of hours, anything that supports restarting the upload, such as rsync, would be a better solution. At least for downloads you can add the ``--continue`` flag to `wget` and many browsers are able to pick up where they left off. Uploads are trickier. In practice, we have been know to tell users to give us a hard drive

[2019-03-01 15:08] pdurbin commented on #5572
I just noticed that our friends at @whole-tale are in the process of adding a JavaScript library called jsTree ( https://www.jstree.com ) to show file hierarchy in a browser.

Here's the animated gif they added to https://github.com/whole-tale/girder_wholetale/pull/249

![53615826-ade25280-3b94-11e9-9788-2facd68fd9dc](https://user-images.githubusercontent.com/21006/53646679-ce98bf80-3c09-11e9-94e3

[2019-03-01 15:14] landreev commented on #5535
Making a PR; but please don't drag this into the "official" code review column just yet. We're still need to finalize/decide if this is a sensible approach.

[2019-03-01 15:24] mheppler commented on #5572
Nice find, @pdurbin.

When estimating, we discussed that the hierarchy metadata was available in CSV format. That jsTree jquery plugin [requires JSON format](https://www.jstree.com/docs/json/). I believe it was suggested reformatting the metadata strings to JSON was doable.

[code]

[2019-03-01 15:58] djbrooke commented on #5574
Just an update on this, the robots.txt was modified earlier this week, so we should see results in Google Dataset Search soon. They aren't there yet, but I'll check on Monday.

[2019-03-01 16:11] landreev commented on #5535
@scolapasta
As we previously agreed, the only way to ensure we are not deleting any physical files before we finalize deleting the corresponding objects from the database was to move it completely out of the body of the command.
This required modifying our StorageIO framework; which only allowed to access the physical file object in the context of going through the corresponding dvObject. It had t

[2019-03-01 18:36] landreev commented on #5535
To clarify/expand, it's not just that this extra handling had to be added in too many places across the application. In some cases some functionality (like permissions) that could previously be hidden/contained inside the commands had to be exposed and duplicated outside them. A good example is the changes in Datasets.java. The whole point of our command framework was that you could just fire the

[2019-03-01 18:38] qqmyers commented on #5535
Any possibility the storage classes could be made transactional? Would that help in keeping the issue localized?

[2019-03-01 20:35] pdurbin opened #5593 "Increasingly slow feedback loop for developers, increasingly large WAR files"
During this week tech hours I expanded on what I said in Slack the other day:

Specifically, I started a spreadsheet called "Development Feedback Loop Time in Seconds" to start attempting to quantify my claim above. As of commit 1d37e9911 it took 36 seconds get feedback on the most trivial change I could think of, making a small tweak to the code behind `/api/info/version` add a little more output

[2019-03-01 21:04] landreev commented on #5535
@qqmyers I believe it could be done, yes. In a super simplified form, we could replace the deleting of the file with renaming it "<filename>.DELETED". If you need to roll the transaction back, you simply rename the file again...
But then we're back to the problem of having to finalize (or roll back) that "file transaction" outside of the body of the command. So I don't feel like it is any simpler,

[2019-03-01 21:26] qqmyers commented on #5535
@landreev - I was thinking that there's a way that classes called by a command could be included in the transaction started for that command and that the calling of the commit or rollback (doing things like you say) would then be handled by the overall transaction logic. Not my forte though.

Making commands be required to be part of transaction but not necessarily starting a new one so you could

[2019-03-01 22:14] mheppler commented on #3925
Should be done here. Just have the documentation left. I had pointed out to @TaniaSchlatter that the issue #3865 basically asks for documentation in the Style Guide of the tooltip, icons and help-block text, so I will make sure that the documentation covers everything requested in that issue.

[2019-03-01 22:24] landreev commented on #5500
I have approved that PR, in the dataverse-client-python project; it actually makes perfect sense as is.
What do we do with this issue - just close it, or what? OK, let's figure it out on Mon.

[2019-03-01 22:40] pameyer commented on #5593
Summarizing a very non-systematic experiment I mentioned to @pdurbin:

- on develop-e707a22cf
- deploy war from normal `mvn package` (system where the installer had been run previously, with dataverse uninstalled from glassfish); ~1m2s to deploy. war file ~187M
- unjar war file, put everything from `WEB-INF/lib` into a different archive, delete the jar files there; re-jar to a new war file, new wa

[2019-03-01 23:56] poikilotherm commented on #5593
Hi @pdurbin,

thank you for opening this issue and your hard work getting these numbers. During my testing and developing for IQSS/dataverse-kubernetes, I noticed the indeed long deploy times, too.

Adding my 2 cents to this (just ignore me if you disagree):
1. I second the opinion of "don't transform in micro services". But I think it would be a good idea to split up the monolith in logical parts

[2019-03-02 00:50] pameyer commented on #5593
@poikilotherm That was definitely a crude experiment at stripping things out (the `/api/info/version` endpoint worked, didn't check anything else).  I'd been looking to see if it was an order of magnitude improvement; and that doesn't look like the case.

[2019-03-02 13:42] pdurbin commented on #5500
We should merge https://github.com/IQSS/dataverse-client-python/pull/51 before closing this issue but yes, let's discuss Monday.

[2019-03-04 12:31] PaulBoon commented on #4972
The PR is here https://github.com/IQSS/dataverse/pull/5595.
Response from Handle.net about compatibility of the server and client: The client and server will ensure that they speak a compatible version of the Handle wire protocol.

Upgrade to newer version (9.x) will need to be investigated later on (new PR will then follow).

[2019-03-04 16:02] jggautier commented on #3628
In Harvard Dataverse, in 2019 (since this guestbook name bug was fixed in version 4.10 (https://github.com/IQSS/dataverse/issues/4696)) there have been 27,146 entries in dataverse guestbooks where the name is required. Of those, 12,051 have the word "Guest" in the name field. That's the number of downloads where the downloader left the pre-filled "Guest" instead of entering a name.

[2019-03-04 19:04] landreev commented on #5500
So who does the merging of PRs in dataverse-client-python? (@pdurbin? Or is somebody else in charge of maintaining that project now?)

[2019-03-04 19:10] landreev commented on #5500
OK, it's been merged - thanks @djbrooke.
@kcondon - I'm assuming we just close this issue, because there are no changes/nothing to qa on the dataverse side...
But I'm moving it for you to decide.

[2019-03-04 19:10] djbrooke commented on #5500
I merged the PR. I'll close this issue.

[2019-03-04 19:10] #5500 closed

[2019-03-04 19:11] landreev commented on #5500
OK, even better :)

[2019-03-04 20:30] mheppler commented on #3925
Moved form label tooltips onto `?` icons next to the label text. Outlined these changes in the Style Guide. Also expanded the changes in the Style Guide to increase the documentation of the various message types across the UI. Applied some of these style guidelines to pages that did not have the appropriate icon or style classed. (Related to #3865.)

These various changes have been applied to the

[2019-03-04 20:36] scolapasta opened #5597 "Modify GeoConnect/WorldMap code to fit into Modular Tool Framework"
We developed GeoConnect before we came up with the Modular Tool Framework, so the core Dataverse code has hardcoded logic for this. We want to extract this out and make it work as a modular tool.

From Dataverse this will likely look like two tools, one to configure the data that Dataverse needs and the second to explore the data. We should be able to separate this into (at least) two chunks for t

[2019-03-04 20:39] scolapasta opened #5598 "Spike: investigate why a dataset with a large # of files takes a long time to make even a small metadata change"
While fixing a delete file issue, we noticed that the performance was not good. As a simple test we tried making just a small metadata change (to see if the issue was related to the files themselves) and it still took a long time. Clearly, this should not be, but requires some investigation to why its happening.

[2019-03-04 21:10] landreev commented on #5598
To be more specific, for a dataset with 4K files, it took about 10 min. for the UpdateDatasetVersionCommand to complete (10 min. between the actual "start" and "end" time stamps in the action log record).
Similar things had been observed in the past in other parts of the system. (it takes much longer to index a dataset with thousands of files - worse than linearly so in relation to the number of f

[2019-03-04 21:31] mheppler commented on #5571
Updated the Harvard Dataverse customization files required for production, which can be found in Google Drive at `Dataverse > Harvard Dataverse > Harvard Dataverse Customization > resourcesProd-2019-03-04.zip`.

[2019-03-05 13:47] PaulBoon commented on #5137
I am getting closer towards a PR.
Also I have to admit that you can have handles not resolving via handle.net (GHR), but that would make them less persistent in my opinion. At DANS we wanted the independent setup just because of our strict firewall settings.

[2019-03-05 15:27] qqmyers commented on #4894
FYI - PR5600 has Open Graph metadata for datasets. @adam3smith created the basics and I added a 150 char truncation of long descriptions and a pointer to the favicon. I think it would be striaght forward to add similar info the dataverse and file pages (if similar metadata can be found).

The one thing we didn't do was to use a thumbnail of the dataset as the image - Open Graph requires a full URL

[2019-03-05 15:37] pdurbin commented on #4894
@qqmyers 4 years ago when I created https://github.com/IQSS/dataverse-android over the winter break we had downloadable thumbnail images via the Search API that I could use in that Android app. I opened #3616 about this but ultimately closed it due to lack of interest. Thumbnails are actually downloadable via a different mechanism these days but I don't believe it's documented. Please see

- testD

[2019-03-05 15:42] djbrooke commented on #5574
Not there yet, I talked with @landreev about making some adjustments to robots.txt

[2019-03-05 15:52] landreev commented on #5574
I tried yesterday to explicitly tell googlebot to come and index this specific dataverse, using  their "search console" (https://search.google.com/search-console). I haven't been able to "verify ownership" of the site - I used the "html tag" method, and I'm pretty sure I followed their instructions correctly, but it still refused to listen to me.

I'm going to try again today, using sitemap instea

[2019-03-05 15:54] qqmyers commented on #4894
@pdurbin - thanks. My initial try was to just put the base64 encoded data:image/png;base64,... info that's used in the page as the URL for Open Graph, but it doesn't support that.  So it seems I need a real, full URL.  I was thinking that just having a .../dataset/<id>/thumbnail endpoint that streams what you'd get from getThumbnail() would be a simple way to do it.  I hadn't considered search. Do

[2019-03-05 16:50] pdurbin commented on #4894
@qqmyers hopefully the dragons are small and can be slain. 🐉 ⚔️ If you restore, real downloadable thumbnails, maybe I'll crack open that old Android code (but no promises). 😄 Are you thinking you'd want to add that into this issue or a new issue? Small chunks are usually better for us. And in our experience, whenever we touch thumbnails the chunk is not small.

[2019-03-05 16:51] qqmyers commented on #4894
@pdurbin - lets do it in pieces so this can get out as is...

[2019-03-05 17:29] pdurbin commented on #3628
@jggautier thanks for the update.

I think the fix is a one line change, replacing "Guest" with "" (empty string) here:

https://github.com/IQSS/dataverse/blob/v4.11/src/main/java/edu/harvard/iq/dataverse/GuestbookResponseServiceBean.java#L562

[2019-03-05 17:32] pdurbin commented on #5137
@PaulBoon thanks for working on this! Please let us know if you get blocked.

[2019-03-05 17:38] mheppler commented on #3628
"1".

Ready for code review.

[2019-03-05 17:38] pdurbin commented on #5571
The fix in pull request #5599 looks pretty straightforward, changing "col-md" to "col-xs" like this:

![screen shot 2019-03-05 at 12 37 03 pm](https://user-images.githubusercontent.com/21006/53825081-73393b00-3f43-11e9-851e-0d3a386b7ba7.png)

[2019-03-05 17:59] pdurbin opened #5602 "As a developer, I want IQSS Jenkins to work"
I'm code reviewing the 3925-tooltip-icons branch (#3925) and since the Style Guide seems to have changed significantly, I thought I'd create a job in Jenkins to build it. Unfortunately, I was greeted with this error:

![screen shot 2019-03-05 at 12 54 05 pm](https://user-images.githubusercontent.com/21006/53826196-19864000-3f46-11e9-9c20-662db4988ad5.png)

Additionally, I noticed that I can't run

[2019-03-05 18:25] pdurbin commented on #3925
It looks like the Style Guide has been significantly rewritten. For example, "Alerts" looks like this for Dataverse 4.11 at http://guides.dataverse.org/en/4.11/style/patterns.html#alerts

![screen shot 2019-03-05 at 1 20 35 pm](https://user-images.githubusercontent.com/21006/53827593-7afbde00-3f49-11e9-96ad-1ab38df4e588.png)

Now, in pull request #5596 the "Alerts" page looks like this with a new

[2019-03-05 18:49] jggautier commented on #3628
Does this change mean that "Guest" won't be prefilled when the guestbook doesn't require a name?

[2019-03-05 18:54] mheppler commented on #3628
@jggautier Correct. See screenshot in my comment above. Not logged in (see "Log In" link in navbar), and the input for Name in the guestbook form is blank after I clicked the file "Download" btn.

[2019-03-05 19:36] pdurbin commented on #5398
I spoke with @landreev and he mentioned that @matthew-a-dunlap might want to make a commit to that branch before we merge. It looks like he added https://github.com/IQSS/metrics.dataverse.org/commit/0468792 on Feb 6 which is after @kcondon commented above on Feb 1.

I don't think issue should have a milestone of 4.11 since nothing has been merged. I'll move it back into code review so we can make

[2019-03-05 19:40] pdurbin commented on #5398
Correction, pull request #5475 on the Dataverse side was merged but nothing was merged on the aggregator side.

[2019-03-05 19:42] djbrooke commented on #5398
Thanks @pdurbin. I'm going to add this back to 4.11 as there were metrics changes that were merged to Dataverse, but not the metrics aggregator (please tell me if I'm incorrect).

[2019-03-05 19:47] jggautier commented on #3628
Thanks @mheppler! We spoke and agreed that I'll talk to @sbarbosadataverse, @kcondon and some folks who use the guestbook reports a lot (like the admin of JPAL's dataverse who posted [a guestbook question in Google Groups](https://groups.google.com/forum/#!topic/dataverse-community/oFErNwAZtFs)) to see if there are any drawbacks to this change.

[2019-03-05 20:06] matthew-a-dunlap commented on #5398
@pdurbin https://github.com/IQSS/metrics.dataverse.org/pull/2 should be merged if it looks good (looked fine to me). There were no additional changes needed for the other metrics endpoints from the homepage work, as we didn't want to store them in the aggregator (we don't care about the harvesting across installations).

[2019-03-05 20:15] pdurbin commented on #5344
I can't "run project" from  Netbeans (deploy to Glassfish) when I switch to https://github.com/tjanek/dataverse/commit/c1f5282b2 (I confirmed that this works fine from e707a22cf in IQSS repo). I'm attaching the errors I'm seeing ("BUILD FAILURE" and something about Guice provision errors:

[flyway-run-error.txt](https://github.com/IQSS/dataverse/files/2932657/flyway-run-error.txt)

@MrK191 can you

[2019-03-05 21:09] pdurbin commented on #3925
@TaniaSchlatter you can see the new version of the Style Guide at http://guides.dataverse.org/en/3925-tooltip-icons/style/patterns.html

[2019-03-05 21:12] pdurbin commented on #5602
Java was updated which seemed to cause the failures.

We got in touch with the Ops team and they restarted Jenkins.

Now I can run the phoenix API test suite.

I was also able to close a Sphinx job to create http://guides.dataverse.org/en/3925-tooltip-icons/style/patterns.html

[2019-03-05 21:19] TaniaSchlatter commented on #3925
The example in the guides (see image) that shows the tool tips should look and work as is intended on the site.
<img width="668" alt="screen shot 2019-03-05 at 4 17 54 pm" src="https://user-images.githubusercontent.com/15386424/53838211-742d9500-3f62-11e9-9f7b-651e3f4c439d.png">

[2019-03-05 21:28] #5602 closed

[2019-03-05 21:35] TaniaSchlatter opened #5603 "Visualization for Harvard Dataverse home page"
This is a phase 2 of the Harvard Dataverse home page effort #5053 and #5445. The goal is to have a visualization for the home page.

See the [design document](https://docs.google.com/document/d/11ub9qS9xrKGI__maFJEsmH0Tp2_6Z_dM7kSH4F8SXhw/edit#) that outlines the background, goals, and ideas for this effort.

Rather than focus on visualizing data by subject, we could visualize the structure of dat

[2019-03-05 22:37] mheppler commented on #3925
Fixed tooltips functionality in guides as requested (see screenshot below), removed outdated analytics code (related to #4660).

![screen shot 2019-03-05 at 5 36 16 pm](https://user-images.githubusercontent.com/687227/53842345-33874900-3f6d-11e9-8454-00741f8f489a.png)

[2019-03-05 23:12] djbrooke commented on #5398
@matthew-a-dunlap @pdurbin OK, will merge after standup tomorrow - thanks!

[2019-03-06 01:33] pdurbin commented on #3130
Related #4196

[2019-03-06 08:36] PaulBoon commented on #5137
I just rediscovered that the 'Independent handle service setup' does not work with the old client lib. This was one reason for us to upgrade with our fork more then a year ago.
Therefore I would like to do my PR for the setting based on the develop that has the upgraded 8.1.1. client lib in it (#4972). Would it be possible to have that one merged soon @pdurbin?

[2019-03-06 09:20] MrK191 commented on #5344
@pdurbin Could you try and decrease surefire plugin version to 2.22.0?

[2019-03-06 11:27] pdurbin commented on #5137
@PaulBoon well, there's a lot in QA right now. Please take a look at https://waffle.io/IQSS/dataverse . My suggestion would be to use your branch with a the new client lib as a starting point and create a new branch from there for this issue. Does that make sense? During code review we can always do "compare across branches" to see just the new "diff" but I'm not too worried about it because the "

[2019-03-06 13:17] PaulBoon commented on #5137
After a bit of struggling with git rebase I managed to do a PR at https://github.com/IQSS/dataverse/pull/5604
Better squash all my commits when merging.

[2019-03-06 14:08] pdurbin commented on #5587
I just moved this issue to code review at https://waffle.io/IQSS/dataverse but please be advised that pull request #5604 (for this issue) will be smaller once pull request #5595 (for #4972) is merged. (It probably makes sense to QA this all together.) To preview the smaller "diff", you can use this link: https://github.com/PaulBoon/dataverse/compare/4972-handle-library-upgrade-to-8.1.1...PaulBoon:

[2019-03-06 14:57] mheppler commented on #3925
Confirmed with @TaniaSchlatter that the Style Guide improvements requested in _Style guide – document messaging text and visual styles #3865_ are covered here in this issue. I have closed that issue.

[2019-03-06 15:46] landreev commented on #5574
We have successfully requested a recrawl and reindexing of this dataverse by Google. They don't give any specific promises on how long it's going to take, for the updated results to start appearing in searches.
We are definitely still having problems with Google not indexing our holdings as actively as we want - still trying to figure out what's going on.

[2019-03-06 15:55] mheppler commented on #4889
This issue seems simple enough. If you look at the render logic `#{!settingsWrapper.rsyncOnly and (managePage==false or datasetPage == true)}` on the Guestbook panel in dataset-license-terms.xhtml it is missing the necessary `!empty editMode` to show in the template workflow. That said, there is a bunch of render logic for `editMode` for the content inside panel, and that will need to be massaged

[2019-03-06 16:02] landreev commented on #5574
(But at least I am seeing the bot crawling the dataverse in the access logs now - which is huge step forward)

[2019-03-06 16:03] mheppler commented on #4889
Apparently @sbarbosadataverse REALLY wants this feature. She requested the exact same change in _Guestbook: Guestbook added to option when creating templates, under "terms of use" section #4029_. I will close that one as a duplicate.

[2019-03-06 16:04] mheppler commented on #4029
Closing as duplicate of _Guestbook: User should be able to associate a guestbook with a template in a dataverse #4889_, which was also requested by @sbarbosadataverse -- almost a year apart to the day.

[2019-03-06 16:04] #4029 closed

[2019-03-06 16:06] mheppler commented on #4512
Apparently I already tried to close this issue as a duplicate. So this time, lets leave this one open, and close _Guestbook: Cannot download a particular guestbook using Chrome, throws duplicate header error #3581_ as the duplicate.

[2019-03-06 16:07] mheppler commented on #3581
@kcondon could you confirm that this issue is a duplicate of _Cannot download guestbook in Chrome if Dataverse has a "," in the name #4512_ and if so, close this. Thank you.

[2019-03-06 16:10] mheppler commented on #3449
This looks like a duplicate of _Guestbook: Cannot download a particular guestbook using Chrome, throws duplicate header error #3581_ and also _Cannot download guestbook in Chrome if Dataverse has a "," in the name #4512_.

@kcondon and @scolapasta are the of those. I already suggested to Kevin that #3581 be closed as a duplicate. I will let the two of them arm wrestle it out to determine if this g

[2019-03-06 16:17] pdurbin commented on #5344
@MrK191 good idea. I can deploy now after putting the surefire version back: https://github.com/tjanek/dataverse/commit/94ca97edf

[2019-03-06 16:34] sekmiller commented on #5565
Per discussion we will track editing all file metadata via api in another issue.

[2019-03-06 16:53] mheppler commented on #5565
API for file metadata editing is at _Add an API endpoint for File Level metadata #4616_.

[2019-03-06 16:56] pdurbin commented on #3439
I'm just copying and pasting the feedback from @amberleahey at https://github.com/IQSS/dataverse/issues/2107#issuecomment-467976350

"Hi folks! I know this post is old but I wanted to chime in and ask if there are plans to add the option to upload a .zip and NOT unpack? This would allow authors to choose to upload and retain zip if they wanted, maybe it would be default, but at least present the o

[2019-03-06 17:01] pdurbin commented on #2353
@djbrooke this issue is a good candidate to move over to the new issue tracker at https://github.com/IQSS/dataverse.harvard.edu/issues since it should be just a config change for Harvard Dataverse.

[2019-03-06 17:32] pdurbin commented on #5344
I tested as of 94ca97edf and I'm confused about how developers are supposed to use Flyway in Dataverse.

I deployed the code and `src/main/resources/db/migration/V1__flyway_schema_baseline.sql` was created. Good! But it's empty. Is that normal?

Then I tried adding a column ("bio") to a table ("authenticateduser") like this: https://github.com/pdurbin/dataverse/commit/ceda3ce Screenshot below.

![

[2019-03-06 17:47] pdurbin commented on #4994
@pameyer is copying from "Dataset Persistent ID" under the "Metadata" tab an acceptable workaround? It's not the citation but it *is* the citation metadata block. 😄  Here's a screenshot. It's just the DOI, not the DOI as a URL.

![screen shot 2019-03-06 at 12 44 53 pm](https://user-images.githubusercontent.com/21006/53901797-c5df2980-400d-11e9-94e8-ede075015bce.png)

[2019-03-06 17:52] pdurbin commented on #2185
The contents of PDFs and other files are searchable these days thanks to pull request #5147 by @qqmyers for #5030. Docs here: http://guides.dataverse.org/en/4.11/installation/config.html#solrfulltextindexing

[2019-03-06 17:57] pdurbin commented on #5549
@tmrozewski is this bug blocking anything you're working on? Do you have a use case? Or are you just letting us know? Whatever is fine. 😄 Thanks for letting us know!

[2019-03-06 18:03] tmrozewski commented on #5549
Just letting you know! When I ran the code and looked at the response, I
saw the Contact field was blank so I started trying to troubleshoot what
went wrong. Thought that correcting the response might save future users
some time but I realize it's not a high priority.
*________________*
*Tomasz Mrozewski*

Data, GIS and Government Documents librarian & Engineering liaison
librarian /
Bibliothécair

[2019-03-06 18:07] pdurbin commented on #5549
@tmrozewski it certainly would but with 885 open issues it's good to know you're not blocked on the one. Thanks!

[2019-03-06 18:12] #5398 closed

[2019-03-06 18:48] pameyer commented on #4994
@pdurbin It's the workaround I've been using.

But the usability of "to copy this text in front of you; click another tab and scroll down" (and be experience enough with the app to know you can do this), combined with breaking the normal behavior of a browser; seems to me like it's worth fixing.

The more significant (and unknown) piece of information is how many users ran into this, didn't report

[2019-03-06 18:51] landreev opened #5605 "Add more indexable metadata to dataverse pages, to make them more discoverable"
We already go to admirable lengths embedding some structured metadata (DC, schema.org) to our *dataset* pages, making individual datasets more discoverable.
It would benefit our *dataverse* pages to have similarly easily indexable metadata as well.

[2019-03-06 18:53] landreev commented on #5605
As of now, many of our dataverse pages appear in google search results like this:
![screen shot 2019-03-06 at 1 52 10 pm](https://user-images.githubusercontent.com/737558/53905712-376fa580-4017-11e9-81cd-b74caa155343.png)

[2019-03-06 19:00] landreev commented on #5605
This problem (empty google search record) appears to be more common for the dataverse urls of the "/dataverse/NAME" format, than for the "/dataverse.xhtml?alias=NAME" one:
![screen shot 2019-03-06 at 1 55 07 pm](https://user-images.githubusercontent.com/737558/53905819-80bff500-4017-11e9-9f96-df0e40abb17c.png)

This may, or may not be related to #3130 (trailing slash in the dataverse URL resulting

[2019-03-06 19:06] pdurbin commented on #5605
Huh. I'm surprised that the description of the dataverse isn't indexed. Ever since pull request #4879 was merged (a fix for #4468 which has a screenshot from Google search results), dataverses look much better when you link to them in Slack.

@landreev any thoughts on file landing pages? Would helping Google index them better be worth investigating, perhaps in a separate issue?

[2019-03-06 19:09] landreev commented on #5605
As I said, this may simply be the result of that trailing slash issue.
File pages could be something to investigate separately in the future, yes. (as of now, we are telling the bots to stay away from file pages completely).

[2019-03-06 19:14] landreev commented on #5605
Hmm, the "worldfish" has an empty record with the "alias=" URL:
![screen shot 2019-03-06 at 2 11 28 pm](https://user-images.githubusercontent.com/737558/53906841-e614e580-4019-11e9-9fed-e383b84f8abc.png)

Then of course this may be a search result cached from before #4879 was merged. (I'm seeing that the bot has finally re-crawled this dataverse in the last few hours; so hopefully the updated entr

[2019-03-06 19:21] pameyer commented on #5605
It might be worth having only one url to resolve to a dataverse page.  If I'm remembering correctly, at least some search engines recommend that if there are multiple URLs with the same content, then one should have the rel=canonical meta tag.  Having `/dataverse.xhtml?alias=foo` redirect to `/dataverse/foo` (and removing generated links to `/dataverse.xhtml?alias=foo`) might help with this.

[2019-03-06 20:49] scolapasta commented on #4616
We also want to add an API for editing the metadata of a file, so we'll use this issue to track both edit and view of a file's metadata.

[2019-03-06 20:50] scolapasta commented on #4616
It was pointed out you may be able to edit the md5 of a file with the existing dataset APIs. If so, this is a bug, and we should also fix that as a result of adding these new file level APIs (since they should use the same code fragments, ideally.

[2019-03-06 21:04] landreev commented on #5605
It may be a good idea to exclude the "dataverse.xhtml?alias=..." format from crawling, via robots. And to completely exclude ALL the forms of the dataverse page urls except for the canonical "/dataverse/name", without any extra (search) arguments. As of now, we allow/encourage the bot to crawl through all the facets, and through the paginated search results. This is ineffecient, and does not resul

[2019-03-06 21:14] qqmyers commented on #1564
Looks like adding ajax="false" to the commandlink fixes this. I'll submit a PR. Since this is a dialog, I would expect ajax="false" is OK, but if someone knows a reason it isn't, let me know...

[2019-03-06 22:32] mheppler commented on #5605
I would be remiss in my obligations as issue author if I didn't point out _Dataset - PrettyFaces URL Format #2486_ fitting in both the "dataverse URL forward slash forwarding" and the "dataverse content indexing" story. Especially if we are making changes to block `/dataverse.xhtml?alias=...` indexing.

It would make more sense to me, and maybe even to a search engine robot, if we had a URL format

[2019-03-06 22:48] mheppler commented on #4994
This "click citation content to select" functionality was something that was specifically requested during our last 4.0 redesign efforts. I suppose we could test a "click to select..." btn, to allow this specific request to highlight and copy specific parts of the citation.

[2019-03-06 22:50] pameyer commented on #5605
@mheppler I think improving the format of the URLs would be a great idea; `/dataverse/example/datasets/doi:10.0000/DVN/ZZZZZZ` ,  `/dataset/doi:10.0000/DVN/ZZZZZZ` or `dataset/doi/10.0000/DVN/ZZZZZZ` seem like better matches to the conceptual model.  I'm not sure about the implementation complexity, but my impression is that it's enough that it should have it's own issue.

[2019-03-06 22:57] qqmyers opened #5607 "Update Current Version doesn't change datafile.isRestricted"
If you change the restriction state of a file and then use the (superuser only) Update Current Version command, the new state will show correctly in the web interface (since the filemetadata for the updated version is being set correctly). However, the isRestricted flag on the dataset is not being updated, which means that the download button and api command to download still use the prior state.

[2019-03-06 23:01] pameyer opened #5609 "broken 404 page"
Mentioning on the off chance this is not a duplicate (feel free to close if so); but the 404 page for `{"version":"4.11","build":"1236-3721306"}` appears to be broken:

![screen shot 2019-03-06 at 6 01 02 pm](https://user-images.githubusercontent.com/10261853/53920059-d73e2b00-4039-11e9-8f27-458a89d228b9.png)

[2019-03-06 23:09] pdurbin commented on #5609
Related: #5589

[2019-03-06 23:17] pdurbin commented on #5589
I should point out that the error code is "403 Not Authorized" but the 404 page being similarly broken was just reported at #5609

[2019-03-06 23:34] mheppler commented on #5589
I have a sneaking suspicion that the new [analytics changes in 4.11](https://github.com/IQSS/dataverse/issues/4660) might be related to the various error pgs being reported as no longer displaying properly.

When tested on my localhost environment -- with no analytics, the 403 and 404 error pages display properly in all their Bootstrappy glory.

<img width="990" alt="screen shot 2019-03-06 at 6 30

[2019-03-06 23:35] mheppler commented on #5609
I'd be willing to suggest these are related issues. See my most recent comment and screenshot in #5589.

[2019-03-07 00:05] kcondon commented on #3581
@mheppler, I would say the other is a duplicate of this since this was opened 3 months earlier, references the same exact user with RT ticket info. I would suggest closing the other one.

[2019-03-07 00:15] kcondon commented on #3449
@mheppler @scolapasta This appears related to the other 2 since it is a problem with Chrome guestbook download when content contains ',' but I'd just point out that this refers to a comma in dataset whereas the other 2 are likely due to comma in dataverse name.

If Gustavo or Dev wants to work on this together (ask Danny) feel free to combine them. I'd combine to this one, just point to the other

[2019-03-07 00:40] pameyer commented on #5609
@pdurbin @mheppler Looks related to me (although this was on me typo'ing a  dataverse page, not an unpublished dataset).

[2019-03-07 01:27] mdmADA opened #5610 "Feature Request - Confirmation pop-up to confirm ['Grant' access/assign access permissions] to Restricted data"
To prevent an inadvertent release of restricted data, when an admin-type user:

- clicks "Grant" for a restricted file OR
- assigns access permissions to a user/group on a dataset that contains at least one Restricted file

=> pop up a confirmation: "You are granting access to Restricted files. Continue?" with Continue/Cancel buttons (or something similar) to remind the user to double-check they w

[2019-03-07 02:21] pdurbin commented on #5610
@mdmADA makes sense. Is this a feature you're considering implementing? And making a pull request? Or are you just putting the idea out there? Hopefully, people who are clicking "Grant" understand that the "Grant" button only appears for restricted file. (The user who wants the file has gone through the "request access" workflow already.) Files that are not restricted can simply be downloaded (tho

[2019-03-07 02:40] mdmADA commented on #5610
Hi Phil - Perhaps the 'warning' would have to be a bit more specific - "You are about to Grant access for <dataset/datafile> to <user>(s)" or something to remind the "granter" to double-check who they're about to grant it to.

Our admin-type users know that Grant only appears for requested (restricted) data but not all who request access should be granted access so it would be an additional visual

[2019-03-07 08:48] juancorr opened #5611 "Date ParseException in Dataverse Spanish installation"
In Dataverse v4.11 with an operating system in Spanish, there are multiple exceptions in the server.log file. These exceptions there was not in the v4.9.3. We have not detected failures in Dataverse operation.

There are two parse exceptions for each dataset shown in the Screen and one IOException. We think that the dates for searching are stored in the Spanish format in solr, but dataverse.util.D

[2019-03-07 08:57] MrK191 commented on #5344
@pdurbin V1__flyway_schema_baseline.sql was already created by me. The sql files are not automatically generated. Reason of it being empty is because flyway needs to create database table on already existing schema so it is empty, just treat it as "initialization" sql. If you want the new column besides adding it to the entity class, you need to create another sql with well sql inside which adds t

[2019-03-07 11:51] kcondon commented on #3925
@mheppler Change password page tool tips have no text

[2019-03-07 13:58] #5571 closed

[2019-03-07 14:28] #4972 closed

[2019-03-07 15:53] kcondon opened #5613 "Add Dataset: Throws exception when on dataverse create, inherit metadata blocks is unchecked."
Adding a dataset to a dataverse that upon creation the inherit metadatablocks was unchecked. This happens both in v4.11 and /develop, though there is a slight difference in dv create behavior: in v4.11, only citation block is checked when not inherit, in /develop all are checked when not inherit, though after save only citation block is checked. When you then click on add dataset within that dv, t

[2019-03-07 15:57] kcondon commented on #5513
@lubitchv We've released v4.11 so the db update script name has changed. Please update your script to contain just your changes since it is the first for this release and name it
upgrade_v4.11_to_v4.12.sql

Thanks!

[2019-03-07 16:06] landreev commented on #5535
In retrospect, we closed #4573 prematurely. We had eliminated some known/reproducible scenarios described there. But as we know now there were more potential ways to get a file in this "half-deleted" state left behind.

To be precise, we knew it was still possible. Just by virtue of a  permanent action being performed inside a command that does reversible changes in the database. But we were hopin

[2019-03-07 16:15] mheppler commented on #3925
Looked into the issues reported by Kevin in my iOS browsers (Chrome, Firefox and Safari) and was able to replicate them, so thankfully it wasn't a browser/OS issue.

The edit btn on the account pg, and the template select dropdown were missing the necessary `oncomplete="javascript:bind_bsui_components();"` attribute in order to rebind the javascript functionality of the tooltips to the elements on

[2019-03-07 16:31] #3925 closed

[2019-03-07 16:31] qqmyers commented on #5550
@scolapasta - After some internal discussion, I think QDR is going to keep this lock since it provides users with a useful warning when long edits are in progress (that disappears when the lock is released), versus just failing due to the db constraint from #2132 (which we now have in place).  (FWIW: I don't see a way to provide a warning with just the db constraint in place.)
I think the primary

[2019-03-07 16:42] mheppler commented on #5565
Merged `develop` into the branch 6f87904bef11be2d6201115a84b8051fa8f8e639 in order to take advantage all those glorious, new tooltip icons. :dataverseman:

[2019-03-07 16:43] qqmyers commented on #5535
What fun! I can see two possible sub-cases here - if the first transaction has completed, I think the second could check the db to see if the modified date changed relative to the objects it has (or if a draft now exists that wasn't there before), before trying to delete files. If the first transaction is ongoing (e.g. lots of files in the dataset), the edit lock from #5551 might help. (FWIW: It's

[2019-03-07 17:01] lubitchv commented on #5513
@kcondon I moved my database changes to upgrade_v4.11_to_v4.12.sql as you requested.

[2019-03-07 17:36] TaniaSchlatter opened #5614 "Add Data popup message as a warning and not an error"
The message in the Add Data popup should not be displayed as an error, as it is informative and invites people to log in.

This:
![Add_data_popup_muted_message](https://user-images.githubusercontent.com/15386424/54311551-33113280-45ab-11e9-8bdd-9a9492bea052.png)

Or even better, this:
![Add_data_popup_muted_message_buttons](https://user-images.githubusercontent.com/15386424/54311454-fb09ef80-45aa-

[2019-03-07 17:50] #5607 closed

[2019-03-07 17:56] mheppler commented on #5565
Initial UI clean up of the hierarchy metadata on the dataset, file and edit file pgs.

**EDIT FILES**
<img width="947" alt="screen shot 2019-03-07 at 12 53 10 pm" src="https://user-images.githubusercontent.com/687227/53978067-55e9a580-40d8-11e9-9181-6054940c4ab2.png">

**DATASET FILES TABLE**
<img width="942" alt="screen shot 2019-03-07 at 12 53 35 pm" src="https://user-images.githubusercontent.co

[2019-03-07 17:57] TaniaSchlatter opened #5615 "Add "Add Data" to navbar, plus Host Dataverse input to create dataverse/dataset forms"
One way to have people create more dataverses is to make it easier to see how to do it. People who get to dataverse from google and bypass the home page or search results page don't see a clear way to add data.

One solution: adding a button to the header on every page will help make it clear how to add to Harvard Dataverse.

**_Adding a button. The button has a dropdown to select a new dataverse

[2019-03-07 17:57] mheppler commented on #5565
Starting an outline of outstanding to-do issues

- Validation
- Documentation

[2019-03-07 18:02] kcondon commented on #5513
@lubitchv Thanks for the update. When I upload a file of any type using this branch it does not appear in the uploaded list and saving does not persist it to the dataset. I see no server log errors.

[2019-03-07 18:16] kcondon commented on #5513
@lubitchv Please disregard my previous comment about uploading files. There had been a UI change and needed some files reloaded to work.

[2019-03-07 18:19] landreev commented on #5535
We will continue investigating and improving this issue (of simultaneous/competing updates). Locks are probably the ultimate safe way to solve this. I'm not sure it could be solved reliably by checking the modification time stamps alone. (It would likely not  cover the "exotic", but real-life scenario described above).

But all that said, an optimistic lock exception is not by itself the end of th

[2019-03-07 18:38] #5513 closed

[2019-03-07 18:50] #5587 closed

[2019-03-07 18:57] pdurbin commented on #5550
@qqmyers good point over at https://github.com/IQSS/dataverse/issues/5535#issuecomment-470600910 that the locks you added might help with the "partial failure" with deleting files under investigation.

[2019-03-07 19:27] pdurbin commented on #5579
In the context of #5515 @sekmiller and I just discussed how database/bean validation constraints are missing on the `authenticateduser` table.

[2019-03-07 21:31] pdurbin commented on #5344
@MrK191 sorry, I didn't realize that ``V1__flyway_schema_baseline.sql`` was already in the pull request. I understand now that it's an empty file you added, not a file that I created locally.

I played around with Flyway some more and just pushed d458c83 which reflects my understanding of how Flyway works (which is different than what I've been saying at standup!). I also renamed the `upgrade_v4.1

[2019-03-07 22:02] landreev commented on #3130
This is an honest 1, for once.
This is solved by adding this extra pretty-faces mapping:
[code]
(this is in `src/main/webapp/WEB-INF/pretty-config.xml`)

[2019-03-07 22:18] qqmyers opened #5617 "ImageMagick install now requires an edit of policy.xml"
Following the DV docs to install ImageMagick to support pdf thumbnails, I found that I had to edit a line in /etc/ImageMagick/policy.xml, changing
`policy domain="coder" rights="none" pattern="PDF"`
to
`policy domain="coder" rights="read" pattern="PDF"`

to get any pdf thumbnails. There were no log messages but I looked in the source and tried running the convert command  from there manually and f

[2019-03-07 22:47] pdurbin commented on #3130
@landreev cool, should we fix #4196 with prettyfaces too? That one's about a trailing parenthesis, a ")".

[2019-03-07 23:32] landreev commented on #3130
I don't think we should *encourage* people to use invalid urls. A trailing back slash kind of makes sense on the end of a url; a single mismatched parenthesis? - not really.
I feel like a better error message would be a correct solution for #4196.

[2019-03-08 13:47] donsizemore commented on #5617
I just tested on an Ubuntu 18.04 VM, which installed version 6.9.7.4 and set the PDF policy to none as you found.

My RHEL7 VMs (including a "clean" install of 6.7.8.9 on CentOS7) don't mention PDFs in policy.xml.

[2019-03-08 14:01] pdurbin commented on #5617
CentOS is preferred over Ubuntu by @IQSS but I'm certainly open to a pull request that helps explain to Debian or Ubuntu users that this config change is important.

[2019-03-08 14:22] mheppler commented on #5603
Adding this feature should including resolving this issue, _Moving Dataverses + Datasets: Provide way in the UI for a user to do this #2073_.

The navbar contains links for actions at the root/installation level. When you sign up for an account, the account is created at the highest level. When you use the search input, you are searching all contents of the root/installation. Following that logic,

[2019-03-08 14:47] qqmyers commented on #5572
FWIW - SEAD also uses a javascript tree widget and uses ajax to read individual folders as you open them. See, for example http://doi.org/10.5967/M02B8W0V with 135K files, >2000 folders up to 10 levels deep. I don't think we've found a stock library that supports a tree with paging, so we've usually created our own in that case, but the asynch load of just what users currently see is key...

[2019-03-08 16:39] pdurbin commented on #5603
I'd feel remiss if I didn't mention that miniverse has a number of experiments for visualizing the structure of dataverses. For example, you could click around https://services.dataverse.harvard.edu/miniverse/metrics/dv-tree and here's a screenshot:

![screen shot 2019-03-08 at 11 14 25 am](https://user-images.githubusercontent.com/21006/54040476-79bdf180-4193-11e9-9769-fc4a143512ae.png)

The code

[2019-03-08 16:57] scolapasta commented on #5550
@qqmyers we'll be reviewing this next week at our weekly tech hours and hope to make a decison then.

[2019-03-08 19:49] mheppler commented on #1564
@qqmyers Searching online, I found similar suggestions for this approach, so it looks sound. There were also suggestion to use the JSF `h:commandLink` component instead of the ajax'd PrimeFaces version.

Just to note here in the issue, I left feedback in the PR looking for a validation fix.

[2019-03-08 21:05] pdurbin commented on #5344
@landreev here are the file names DSpace uses:

[code]

That's from https://github.com/DSpace/DSpace/tree/master/dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres via https://wiki.duraspace.org/display/DSPACE/Code+Contribution+Guidelines#CodeContributionGuidelines-Databaseschemachanges . Here's a screenshot of what's written there:

![Screen Shot 2019-03-08 at 4 05 26 PM

[2019-03-08 21:22] scolapasta commented on #5514
One last thing, should we be changing the actionlogrecords associated with the merged username? (I'm not sure). At the very least we should add a describe to this command with both usernames since there is not dvobject associated.

[2019-03-08 21:44] scolapasta commented on #5611
@pdurbin in solr do we store these as dates or strings? if the latter, perhaps now with internationalization, it's time to revisit storing as dates, as the robust solution to this. (rather than deal with parsing errors).

[2019-03-08 21:49] pdurbin commented on #5611
@scolapasta we have a mix, for example:

- dateSort: type="date"
- publicationDate: type="string"
- dateFriendly: type="text_en"

[2019-03-09 00:08] qqmyers commented on #1564
@mheppler - Thanks for pointing out the issue with using a guestbook with required fields (we don't have that turned on). As far as I can tell, using ajax=false can't work with trying to update the form with validation errors. So - I switched to using a javascript window.open call rather than redirect to open the new window, which I think works in all cases. The PR has been updated. Let me know if

[2019-03-10 11:22] alexscheitlin opened #5619 "Refactoring Unit Tests with Parameterized Class"
Hi guys,

we are three developers and Computer Science master students at the University of Zurich in Switzerland. We are improving our testing skills with JUnit as part of a software testing lab in the current semester. If you have any pointers as for where we could/should start looking at the codebase with regards to testing, this would be very welcome and helpful.

We will use this issue to ref

[2019-03-10 12:08] pdurbin commented on #5619
@alexscheitlin @nikzaugg @rschlaefli hi! Thanks for your interest in contributing! I can see you're writing code already! It's not reflected at https://dataverse.org/community-calls yet but my first thought is that perhaps some or all of you could join in our next community call on Tuesday. We have these calls every other week. You can also find some of us at http://chat.dataverse.org during the w

[2019-03-11 14:00] pdurbin commented on #5619
A few more thoughts for you:

- We track code coverage of unit tests at https://coveralls.io/github/IQSS/dataverse which is linked from the README. I'll put a screenshot below.
- We don't track code coverage of integration tests but some groundwork was laid in pull request #5016
- We don't have a great process for running integration tests before merging pull requests.
- You can find a brain dump

[2019-03-11 14:35] TaniaSchlatter commented on #5615
Adding the ability to add data from the header in an expected way means that users need to be able to select the dataverse and dataset that they want to  deposit data to or create a dataverse in.

[2019-03-11 16:22] kcondon commented on #5535
Tested scenario above as well as simple delete scenarios in various dataset states. Ready for merge, pending some unit test review by Leonid.

[2019-03-11 16:25] amberleahey commented on #4439
Hi @pdurbin yes we've tried that route for uploading larger files via backend replacing and it does work but isn't really a sustainable solution for these medium to large file sizes. We'd like to find a solution that is browser based that end users can initiate. I totally agree 4.5 hours is very long! We can do better than that.

Testing some of the direct to cloud upload options including AWS bro

[2019-03-11 16:36] kcondon commented on #1564
@qqmyers Do you mind updating from /develop? There has been a db change that affects tabular ingest/2 ravens.

[2019-03-11 16:41] qqmyers commented on #1564
@kcondon -done...

[2019-03-11 16:44] kcondon commented on #1564
@qqmyers This is ready to merge, do you mind updating from /

[2019-03-11 16:44] #1564 closed

[2019-03-11 17:32] pdurbin commented on #4894
@qqmyers I just spoke with @matthew-a-dunlap and he said we played around with showing dataset thumbnails on the custom homepage for Harvard Dataverse. The API for showing thumbnails is not documented but you can see it being called from some HTML at db87186

[2019-03-11 18:02] qqmyers commented on #4894
@pdurbin - Thanks for the info - I missed that call. I've updated the logic to use the thumbnail in the OG metadata, iff it exists, favicon otherwise. I'll submit a PR...

[2019-03-11 18:22] pdurbin commented on #4439
@amberleahey hi! I think you should go ahead and create a new issue. As you mentioned on the call the other day ( https://groups.google.com/d/msg/dataverse-community/EmBtB_wDBAo/FdxYkEu6AQAJ ), you're looking for a simpler solution than TRSA (#5213), even though it's somewhat related. I can't remember if you've commented on the new "Command-line DVUploader" yet but it's something you might want to

[2019-03-11 18:23] matthew-a-dunlap commented on #4821
We are waiting on a new api token to complete testing of this story.

[2019-03-11 18:32] mheppler commented on #2559
Closing this issue as a duplicate of _Error message for wrong/missing dataverse is not clear #4196_. In that, it was decided to return the correct 404 error code.

[2019-03-11 18:32] #2559 closed

[2019-03-11 20:00] mheppler commented on #3130
Added mapping for dataverse url with trailing slash.

This now allows for the user to navigate to both `/dataverse/alias` and `/dataverse/alias/` URL's, and both return a `200 OK` status code.

There was some concern about duplicate content, but that was alleviated by @landreev who claimed his work in `robots.txt` will block this URL format.

Here is what the Google Webmaster Central Blog said on

[2019-03-11 20:09] amberleahey commented on #4439
I think our needs are similar to TRSA although they might be interacting at a more granular level (in terms of indexing metadata at the file and variable level) but really would benefit from an API that read/wrote from direct storage or external storage and passed a file link for upload and download in DV.

We will also take a look at the command line DVUploader, thanks for the reminder! Will get

[2019-03-11 20:35] landreev commented on #3130
Correct - I don't think duplicate indexed content is a problem in our case. Google bot will only index "/dataverse/foo" and "/dataverse/foo/" separately, if it has some way to discover both urls. I don't think it should be possible to ever get to "/dataverse/foo/" by crawling the site. Plus, our current approach is to specifically discourage the bots from crawling the site (i.e., from following th

[2019-03-11 20:37] landreev commented on #3130
(the only times I saw google bot try to access "/dataverse/name/" was when I specifically sent it there, via their search console)

[2019-03-12 00:41] landreev commented on #5535
@kcondon I have found and fixed one problem: in the S3 driver, cached auxiliary files (for ex., thumbnails for image files) were left behind after a delete.
Moving it back into QA. Should be ready for real now.

[2019-03-12 08:50] rschlaefli commented on #5619
Hi @pdurbin!

Thanks for the warm welcome and pointing us to the right resources. As you already saw, we have started working on refactoring some tests. We get a biweekly assignment of what techniques to apply in our chosen codebase (yours). More specifically, our current task consists of refactoring several tests to use parametrized testing (data-driven testing), as well as creating several new u

[2019-03-12 13:57] PaulBoon commented on #2073
We at DANS felt the urge to have a GUI to do the moving of datasets and therefore we have developed a separate web application that must be deployed on the same Glassfish as Dataverse.
Our Github repo: https://github.com/DANS-KNAW/dataverse-datasetmover
It uses the 'move' API introduced in version 4.8.6.

It would however be much better if this functionality was available in the Dataverse GUI.
For

[2019-03-12 14:14] pdurbin commented on #2073
@PaulBoon no objection from me but I dragged this issue to code review at https://waffle.io/IQSS/dataverse to bring it up at standup in about an hour to get more opinions. I like your idea to focus on "single move" operations first rather than trying to support batch operations as well.

[2019-03-12 14:35] juancorr opened #5623 "Dataverse v4.11 facets translation"
Dataverse v4.11 facets are not properly translated to French and Spanish. This issue affect to dataverse-language-pack project too. There are some facets that are not translated, other facets with a wrong translation and  other that are properly translated:
  - "Dataverse Category", "Publication Year" and "Subject" are not translated.
  - "Auteur Nom" and  "Mot-Clé Terme" should be "Auteur", "Mot-

[2019-03-12 14:45] pdurbin commented on #5623
Related: #5207

[2019-03-12 15:45] #5401 closed

[2019-03-12 16:20] #5535 closed

[2019-03-12 16:22] kcondon commented on #1564
Note the issue still exists for GeoConnect since that has not yet been made an External Tool. There is a separate ticket for that. Once completed, this will work for that too.

[2019-03-12 16:32] JayanthyChengan commented on #5623
@juancorr - these were handled in PR https://github.com/IQSS/dataverse/pull/5618 (Still in code review)
also we deployed in production: https://dataverse.scholarsportal.info/dataverse.xhtml

[2019-03-12 16:34] pameyer opened #5625 "clean up big data / RSAL section of guides"
Follow-on to #5401 ; RSAL docs also need some improvement.

[2019-03-12 17:27] mheppler commented on #5565
Updated the Compressed Files section, and added the File Path section to the Dataset + File Management pg of the User Guide. This is very general information, and does not go into any detail about the validation requirements or anything like that.

There was also a reference to the `DirectoryLabel` attribute in the Data Access API pg of the API Guide, but it didn't look any further detail was requ

[2019-03-12 17:29] dlmurphy commented on #5565
I'll review the guides when I'm back from lunch!

[2019-03-12 19:44] qqmyers opened #5627 "Leveraging btn-* for Google Analytics events"
Building on the changes in #4660, it should be possible to configure Google Analytics to track clicks of the new btn-* css classes. I'm going to submit a proof-of-concept PR that does some basic capture.

Some notes:

- I've added a file at /conf/analytics that is an analytics-code.html example with spots for <Your Code> to be added. Not sure if that's a good place longer term. FWIW - this file co

[2019-03-12 19:57] pdurbin commented on #5611
This seems related to pull request #5302 for #5300 that was merged relatively recently (early December) where "currentLocale" was added. @JayanthyChengan do you have any thoughts on this issue #5611 or pull request #5612?

[2019-03-12 20:39] donsizemore commented on #5387
Just a note that Shibboleth released 3.0.4 yesterday to fix a DoS vuln; Odum is running happily on 3.0.4 since then.

[2019-03-12 20:47] matthew-a-dunlap commented on #5515
The branch for this issue was combined with #5514 as they both needed the same changes to actionLogRecord. Please refer to the new PR for any future changes.

[2019-03-12 20:47] matthew-a-dunlap commented on #5514
The branch for this issue was combined with #5515 as they both needed the same changes to actionLogRecord. Please refer to the new PR for any future changes.

[2019-03-12 20:58] #3130 closed

[2019-03-12 21:06] scolapasta opened #5630 "Add Login mechanism to Info shown when Access is Requested"
When a user requests access to a file, the curator is shown the name, username, and e-mail. We want to add the login mechanism (shibboleth / institution, orcid, etc.) to provide additional context.

[2019-03-12 22:14] pameyer opened #5631 "typo in download access for rsync urls"
Noticed while verifying #5625

![Screen Shot 2019-03-12 at 6 11 12 PM](https://user-images.githubusercontent.com/10261853/54239671-3f858480-44f2-11e9-8379-19d412878ed3.png)

Is missing a trailing ` .`

[2019-03-13 00:34] pdurbin commented on #5387
@donsizemore thanks. What's the status of pull request #5397 ? This issue is in "Ready" from the perspective of https://waffle.io/IQSS/dataverse

@landreev @djbrooke does this mean we should create an issue over at the new https://github.com/IQSS/dataverse.harvard.edu/issues issue tracker?

[2019-03-13 00:58] pameyer commented on #5631
ITs pass

[2019-03-13 01:13] landreev commented on #5540
@kcondon - this is ready to merge. I can't think of anything to qa/test for this PR. This is some code to support the Data Curation tool in the future - but it's not being used in any way by the application in its present form.

[2019-03-13 02:46] chaudj opened #5633 "Downloading records on dataverse"
I know I have asked this before but I dont think it has been resolved yet. Would we have a easier way to download records on Dataverse (Harvard hosted Dataverses). Like having an export functionality to get datasets for maybe a particular year, subject etc?

[2019-03-13 10:59] pdurbin commented on #5619
@alexscheitlin @nikzaugg @rschlaefli thanks for calling in yesterday! I just posted the notes to https://groups.google.com/d/msg/dataverse-community/y8VilZxBYSw/NLSSyh_CBwAJ

It's great that you're expected to make pull requests. One expectation I'd like to set is that we like working in small chunks. At http://guides.dataverse.org/en/4.11/developers/version-control.html#how-to-make-a-pull-request

[2019-03-13 11:57] alexscheitlin commented on #5619
@pdurbin thanks for your message. Like mentioned yesterday in the call, we bi-weekly get new assignments. For this assignment for example, there is one task where each of us is supposed to refactor three unit tests using the `Parameterized` or `Theory` class and another task to write three new unit tests. So the changes you see here [develop...alexscheitlin:5619-improve-testing ](https://github.co

[2019-03-13 12:11] pdurbin commented on #5619
When you are finished with the `Parameterized` and `Theory` work, please make a pull request for this issue. As part of the pull request, please consider editing `doc/sphinx-guides/source/developers/testing.rst` to talk a little about what you're up to. We'll associate that pull request with this issue in Waffle and move it to code review. Perhaps you could edit the title of this issue to explain

[2019-03-13 12:29] alexscheitlin commented on #5619
Okey, we'll do that. Thanks!

[2019-03-13 12:37] alexscheitlin opened #5634 "Create new Unit Tests"
We, [nikzaugg](https://github.com/nikzaugg), [rschlaefli](https://github.com/rschlaefli) and [alexscheitlin](https://github.com/alexscheitlin), again focus on improving the testing (see #5619).

This time we will test a few methods that are not covered so far.

[2019-03-13 13:36] donsizemore commented on #5387
#5397 is ready from my perspective; it's what I needed to do to suppress deprecation warnings during Shibboleth launch. However, we note in the documentation that each shibboleth.xml will be something of a snowflake.

The CVE describes all versions of Shibboleth prior to 3.0.4 as vulnerable to the DoS attack...

[2019-03-13 13:50] pdurbin commented on #5387
@donsizemore thanks. I guess one way of thinking about this issue is that by including `yum install shibboleth-2.6.1` at http://guides.dataverse.org/en/4.11/installation/shibboleth.html#install-shibboleth we are basically encouraging Dataverse installations to use an old version of Shibboleth with a known CVE while you're happily using the newer patched version of Shibboleth in production with no

[2019-03-13 14:35] pameyer commented on #5387
ADFS example piggybacks off the `yum` parts from the main guide; so probably doesn't need updates.  If I'm remembering correctly, that was tweaked sufficiently to make the shibd warnings go away.

[2019-03-13 16:11] mheppler opened #5637 "Favicon - Improve resolution for various display options"
When sharing a dataset or dataverse, the favicon file `favicondataverse.png` for the app tends to be used as the thumbnail to preview the page.

![Screen Shot 2019-03-13 at 11 48 36 AM](https://user-images.githubusercontent.com/687227/54294367-c59fda80-4587-11e9-953c-8c3be620ddd7.png)

With it's 16 x 16 size, it is distorted and pixelated. There are tools like realfavicongenerator.net that can be

[2019-03-13 16:16] JayanthyChengan commented on #5611
@pdurbin , @scolapasta  - I remember when I was resolving #5300 , since the dates in solr were stored in different formats, DateUtil.java was created to handle them .https://github.com/IQSS/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/util/DateUtil.java

That said,  PR #5612 is just handling the parser exception, and its an interim solution.

[2019-03-13 16:24] pdurbin commented on #5611
@JayanthyChengan thanks. By the way, @juancorr had some question over at http://irclog.iq.harvard.edu/dataverse/2019-03-13#i_87995 a few minutes ago but I'm suggesting that perhaps some of this could be discussed in next week's internationalization meeting. That said, you and and he are welcome to chat in #dataverse on freenode IRC whenever you want! An easy way to join is to visit http://chat.dat

[2019-03-13 16:26] #5540 closed

[2019-03-13 16:29] #5619 closed

[2019-03-13 17:29] djbrooke commented on #5387
@landreev @pdurbin - so this issue can be moved across the board, reviewed, and QA'ed, and then we have a separate issue in dataverse.harvard.edu repo for the upgrade to Harvard Dataverse? Sounds good to me, just want to make sure I'm understanding. Thanks @donsizemore for the PR!

[2019-03-13 17:43] djbrooke commented on #2073
Hi @PaulBoon - we got a chance to catch up about this during our design meeting earlier today. Thanks as always for the willingness to contribute useful code to the project!

We're doing some other work in the areas of adding dataverses, adding datasets, linking data, and moving dataverses/datasets, and we'd like to approach this as a design project in the next few months, taking into account a fe

[2019-03-13 17:48] donsizemore opened #5638 "StatusMessageHeader no longer displays in 4.11"
As best I can tell. Still works properly in 4.9.4 and makes it into the page source of 4.11 but doesn't render visually:

``$ curl -X PUT -d "status2test" http://localhost:8080/api/admin/settings/:StatusMessageHeader
{"status":"OK","data":{":StatusMessageHeader":"status2test"}}``

I see it in the browser's page source:

``
div id="statusInfo" class="ui-dialog ui-widget ui-widget-content ui-corner-

[2019-03-13 17:50] djbrooke commented on #5615
@TaniaSchlatter I moved this over to the design column on the board. Feel free to move back to inbox if this is not the correct status.

[2019-03-13 17:59] landreev opened #5639 "Add documentation on new and improved process of making Dataverse indexed by Google and other search engines"
This is the knowledge that was acquired after we reopened the site to Googlebot; and addressing reports of datasets not being properly indexed by owners (issue https://github.com/IQSS/dataverse.harvard.edu/issues/1).
The new approach is a combination of advertising the datasets and dataverses that we want to be indexed, and blocking the robots from actually crawling the site (i.e., discouraging th

[2019-03-13 18:01] mheppler commented on #5638
@donsizemore In 4.11, the alert code in `dataverse_header.xhtml` was changed to:

[code]

This puts the status msg in an alert panel across the top of the page.

![Screen Shot 2019-03-13 at 2 00 23 PM](https://user-images.githubusercontent.com/687227/54302999-5da5c000-4598-11e9-9e85-fc58e28f561f.png)

This was part of the changes in #4842. You shouldn't see a popup anymore. Although, I am now seei

[2019-03-13 18:05] donsizemore commented on #5638
"StatusMessageText must also be set for a message to show."

Me read good. Closing issue. Thanks.

[2019-03-13 18:05] #5638 closed

[2019-03-13 18:14] TaniaSchlatter commented on #5603
We want to include a simple word change as part of this – from "All" to "Total":

<img width="1103" alt="Screen Shot 2019-03-13 at 2 13 59 PM" src="https://user-images.githubusercontent.com/15386424/54303849-49fb5900-459a-11e9-885f-793d852b5ad2.png">

[2019-03-13 18:22] djbrooke commented on #5593
@scolapasta will get some questions together for a spike related to this.

[2019-03-13 18:37] djbrooke commented on #5583
We should consider renaming the config and and applying this to Dataverse email contacts as well.

[2019-03-13 18:49] djbrooke commented on #5609
Closing in favor of #5589, which was estimated in sprint planning today. No hard feelings, @pameyer :)

[2019-03-13 18:49] #5609 closed

[2019-03-13 18:49] djbrooke commented on #5605
@landreev is going to update this issue and discuss with @jggautier and @mheppler.

[2019-03-13 19:01] pameyer commented on #5609
0 hard feelings @djbrooke :)

[2019-03-13 19:38] djbrooke opened #5640 "Add Open Graph Metadata for Datasets"
This has been added in #5600.

[2019-03-13 19:39] #5640 closed

[2019-03-13 19:44] djbrooke opened #5641 "Use Dataset Thumbnail in Open Graph metadata"
For tracking and discussion of the changes proposed in this issue:

- #5621

[2019-03-13 19:49] djbrooke commented on #4894
@jggautier I moved the Open Graph support to other issues (#5640 and #5641) and crossed it out on the list above. I'm going to move this issue to the inbox because I think it needs further discussion before implementation, but let me know if you think it should be prioritized sooner and want to discuss.

[2019-03-13 20:26] djbrooke commented on #4439
Hi @amberleahey - are you planning to make it easier to transfer data in and out of the storage drivers configured for Dataverse, bypassing the application server, or are you looking for a non-TRSA way to index the metadata from a file at an external storage source into Dataverse (or both)?

[2019-03-13 20:39] landreev commented on #5387
@djbrooke Correct, that sounds like the way to go.

[2019-03-13 21:07] djbrooke commented on #5387
Done, created https://github.com/IQSS/dataverse.harvard.edu/issues/5

[2019-03-13 21:39] mheppler commented on #5637
Managed to get an improved icon displayed when sharing (80px are the magic number for Slack, see attached). Still hope to revise and improve upon this learn. Slowly learning about the `og:image` meta tag, and it's best practices. Work here is going to input feedback for #5641. Might back out some of the changes here, before submitting a pull request, in order to move them over that issue as feedba

[2019-03-14 08:47] PaulBoon commented on #2073
The dashboard option is OK, but I would focus on moving a single dataset as being the minimal requirement for this functionality. I will soon have a look at the code to see how it can be implemented.

[2019-03-14 11:29] pdurbin commented on #5619
@alexscheitlin @nikzaugg @rschlaefli pull request #5635 (your first one) was merged! Thank you! One thing we're curious about is... How did you find us? How did you learn about Dataverse? Why did you pick our project? Thanks!

[2019-03-14 13:31] joseagaleanoc opened #5644 "Install script with application and prostgres on different servers not taking PGPASSWORD"
Trying to install Dataverse on AWS services and have one server for the application and another for the Databsae. Both the ADMIN and the Dataverse Postgres User have different passwords.
I get the following error executing ./install:

    (Tried executing: PGPASSWORD=################; export PGPASSWORD; /bin/psql -h dataverse.was.link -p 5432 -U root -d postgres -c 'SELECT * FROM pg_roles' > /dev/

[2019-03-14 13:34] nikzaugg commented on #5619
Hi @pdurbin

We started looking on GitHub for an interesting open source project that uses Java, maven, JUnit and some CI-pipeline. Additionally, it was important to us that the project community was active and open to new contributions. As mentioned, we are doing this as part of a software testing laboratory, and therefore a lower test coverage means more room for us to test and get hands-on expe

[2019-03-14 13:58] pdurbin commented on #5344
As agreed in tech hours on Tuesday we'll try using the previous/current release of Dataverse (4.11 as of this writing) rather than the arbitrary "1.1" I was using previously. I made this change in 0c10897 and also added a troubleshooting section because I encountered "FlywayException: Validate failed: Detected applied migration not resolved locally" and was unable to deploy until I deleted the old

[2019-03-14 14:06] pdurbin commented on #5644
@joseagaleano thanks for reporting this issue! I just assigned it to you since you mentioned you're going to work on it at https://groups.google.com/d/msg/dataverse-community/o91IaORh2V0/7Pc1DP6sBAAJ

As I mentioned in that thread, Harvard Dataverse used to have PostgreSQL on a separate server. The architecture looked something like this:

![3webservers](https://user-images.githubusercontent.com/2

[2019-03-14 14:10] adam3smith commented on #4475
We'd like such a button (for superusers), too. Not urgently, but it'd be more convenient than to use the API. The issue with owned content is very real, though. Here's what Drupal offers when deleting user accounts. Maybe DV could consider something similar, potentially without the delete user and content option?
![image](https://user-images.githubusercontent.com/128986/54363465-5d153400-4641-11e9

[2019-03-14 14:16] pdurbin commented on #4475
@adam3smith that "anonymous user" concept is interesting. I will say that @sekmiller @matthew-a-dunlap @scolapasta and I have been thinking about users a lot lately because there's been a lot of discussion around pull request #5626 which has to do with merging accounts (#5514). A lot of the same problems apply.

I'm curious what your experience with deleting users via API has been. Does it usually

[2019-03-14 14:17] amberleahey commented on #4439
@djbrooke I think both.

[2019-03-14 14:20] adam3smith commented on #4475
We don't do it a lot and we (i.e. @qqmyers ) do check related tables. Adding preflight checks to the API would definitely help (and be a useful step/precondition towards an eventual UI solution) and could then likely be expanded to include methods for deletion and eventually a button if that's not considered too risky. Thanks!

[2019-03-14 14:28] pdurbin commented on #4475
@adam3smith thanks. I think of #1929 as the issue for adding pre-flight checks since this issue (#4475) feel like it's more about adding a GUI.

@laertecchla is that right? You'd like a button in the GUI?

@ajs6f are you still with us? 😄 I hope you're well!

[2019-03-14 14:30] adam3smith commented on #4475
Just to be clear, I _also_ want a button in the UI, I'll just also take related improvements ;)

[2019-03-14 14:39] pdurbin commented on #4439
Just so I'm understanding....

- It would be (for example) @amberleahey 's job to get the large file on S3 somehow, in the same bucket Dataverse is using.
- Dataverse's job to take the path to the uploaded file as input and then rename the file to Dataverse convention (e.g. 16977e9770b-f416fa6309a1) and become "aware" of the file by adding it to the database and Solr. (This would be API-only the s

[2019-03-14 14:46] pdurbin commented on #4475
@adam3smith sure. Mostly I'm just wondering if we should change the title of this issue to say something about a GUI. You are, of course, welcome to create new issues. It's easier to discuss and estimate issues where the scope is clear. Often we'll try to build the API first in one issue. Then we'll try to add a GUI later in a later issue. Of course, when a pull request from the community comes al

[2019-03-14 15:09] pdurbin commented on #5387
In edc0353 I merged develop into the branch to pick up the ADFS config and learned that it's already using `shibboleth:3.0` so it's all set and matches the main config example.

[2019-03-14 15:15] pdurbin commented on #2073
@PaulBoon great! Please check your inbox for an invitation to https://github.com/orgs/IQSS/teams/dataverse-readonly/members so we can assign this issue to you.

[2019-03-14 15:55] #5631 closed

[2019-03-14 16:00] pdurbin commented on #5505
@qqmyers heads up that pull request #5506 now has merge conflicts. Thanks, as always, for the pull requests!

[2019-03-14 16:51] djbrooke commented on #5619
Thanks for the important contributions @nikzaugg @alexscheitlin @rschlaefli!

[2019-03-14 17:06] kcondon commented on #5387
@djbrooke Should dev kick the tires on this?

[2019-03-14 17:12] djbrooke commented on #5387
@kcondon - hm. I'll defer to @landreev and @pdurbin on whether we want to do any tire kicking now, or if the code review and the fact that @donsizemore has been running it in prod for a few months is sufficient. Anyway, I'd lean towards no further kicking right now, but let me know if I'm missing something.

[2019-03-14 17:15] pdurbin commented on #5387
Another data point is that I asked @pameyer yesterday if he's using Shib 2 or 3 in his testing. He's using Shib 3 and sees no reason to use Shib 2. The pull request is about no longer encouraging installations to use Shib 2.

[2019-03-14 17:23] kcondon commented on #5387
When I posted that for some reason my ticket view only showed your testing comment Danny. I've since independently seen the upgrade link and it appears to require 2 things: 1. yum install and 2. change version in shib2.xml. Generally, I like dev to look it over for potential issues before I get it but let's fire away!

[2019-03-14 18:00] #5344 closed

[2019-03-14 18:10] pdante-ubc opened #5645 "Attribute naming of bounding-box wrong (North and South Longitude)"
I was working on a harvester to grab data/metadata from Dataverse and noticed that North and South Latitude fields in the geospatial metadata are mislabeled as "Longitude". The web interface titles the fields as "Latitudes" so this doesn't break anything other than for developers who are trying to parse metadata coming out of Dataverse. The error is both in actual metadata coming out of Dataverse

[2019-03-14 18:16] djbrooke commented on #5633
Hi @chaudj - can you expand on this a bit more? I believe this can all be accomplished using the APIs, but I want to make sure I understand your request.

[2019-03-14 18:19] djbrooke commented on #5645
Hi @pdante-ubc - I'll tag in local metadata block enthusiast @jggautier to get his thoughts about what a fix would look like here.

[2019-03-14 18:21] #5387 closed

[2019-03-14 18:32] djbrooke commented on #5634
@nikzaugg - @matthew-a-dunlap added one requested change in the PR. I moved this back to the Community Dev column on https://waffle.io/IQSS/dataverse. Let us know when it's ready for another code review pass! Thank you!

[2019-03-14 18:37] landreev commented on #5387
Actually, we are already running shib 3 in production.
Of course it's still running (and appears to be working) with the old config file. But it apparently had the "path=" attributes in it (instead of "file=") all along. The other change we are recommending in the guide appears to be for the config file schema version:
[code]
and that's still set to 2.0 in production.

We can double-check on all t

[2019-03-14 18:41] landreev commented on #5387
The config file we are using in prod. and on demo also has "2.0" in the actual MetadataProvider/saml configuration:
[code]
Is this ok?

[2019-03-14 18:56] jggautier commented on #5645
Thanks for pointing out this error, @pdante-ubc! Because this fix involves changes to the database's field names, as opposed to the field labels we see in the UI, I don't know if editing and reuploading the [geospatial.tsv](https://github.com/IQSS/dataverse/blob/develop/scripts/api/data/metadatablocks/geospatial.tsv)  would be appropriate. There's a warning in our [metadata customization guides](h

[2019-03-14 19:06] pdurbin commented on #5645
If it helps, the logic is in "DatasetFieldServiceApi.java": https://github.com/IQSS/dataverse/blob/v4.11/src/main/java/edu/harvard/iq/dataverse/api/DatasetFieldServiceApi.java

[2019-03-14 19:24] donsizemore commented on #5387
@landreev I only made changes per [ttps://wiki.shibboleth.net/confluence/display/SP3/UpgradingFromV2](https://wiki.shibboleth.net/confluence/display/SP3/UpgradingFromV2)

I'm currently using _NameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri"_ in my DiscoveryFilters and Shib 3.0.4 doesn't crab about them on launch.

[2019-03-14 20:06] landreev commented on #5387
Same here - our Shib 3.0.3 seems to be running just fine with the DiscoveryFilter section above.

[2019-03-14 20:19] matthew-a-dunlap opened #5646 "Move/Alias more commands in new Users endpoint"
With the creation of new user commands in #5514 & #5515, we've gone with the approach of creating a new path of `api/users` for these commands. This was in part because wanted these commands to be available to superusers and not just sysadmins on running commands on the server.

With the creation of this path, there are other commands that could be moved or aliased here for better api usability. S

[2019-03-14 20:40] laertecchla commented on #4475
@pdurbin, I am a little bit lost here, but I've captured a print from users/groups section and attached it. So, do you mean something about the "removed assigned role" button?
![Captura_Remove_Button](https://user-images.githubusercontent.com/36863739/54390009-35918c00-4680-11e9-975b-fd54e3ccd24d.PNG)

[2019-03-14 20:49] pdurbin commented on #4475
@laertecchla hi! On that screenshot, do you want a "Delete user" button?

[2019-03-14 21:14] laertecchla commented on #4475
Hi, @pdurbin . Yes, I would like to have this button. I would like to exclude a user as I can do it in DSpace...
Thanks.

[2019-03-14 23:55] pdurbin commented on #4475
@laertecchla ok, I just updated the title of this issue. If you think a different title would be better, please go ahead and change it. Thanks!

[2019-03-15 11:15] pdurbin commented on #2279
@donsizemore and I chatted at http://irclog.iq.harvard.edu/dataverse/2019-03-14#i_88055 and he's going to document how to reindex a dataset by persistent id as well. Thanks! I also pointed out that he's welcome to work on #2593 since he mentioned documenting "destroy" commands.

[2019-03-15 11:46] pdurbin commented on #4106
On Wednesday "mouse-nioz" asked, "Is it possible to change the PID Provider in dataverse?" and I pointed them to this issue. Here was the short conversation: http://irclog.iq.harvard.edu/dataverse/2019-03-13#i_87985

The use case was "for testing purposes we want to use the "handle.test.datacite.org" as provider.  now from what I understand our dataverse tries to use "doi.org" which we don't regis

[2019-03-15 13:16] mheppler commented on #5641
Checkout this [Open Graph Preview extension for Google Chrome](https://chrome.google.com/webstore/detail/open-graph-preview/ehaigphokkgebnmdiicabhjhddkaekgh?hl=en) to preview the cards for Facebook and Twitter directly from the browser for whatever page you are viewing.

<img width="1217" alt="Screen Shot 2019-03-15 at 9 13 50 AM" src="https://user-images.githubusercontent.com/687227/54433603-abd6

[2019-03-15 13:17] laertecchla commented on #4475
ok, @pdurbin.
I follow you.
Thanks!

[2019-03-15 14:28] pdurbin opened #5649 "PostgreSQL 9.3 is required, 9.6 strongly recommended"
I ran the phoenix tests for the first time since the pull request #5349 was merged. That's where we added a dependency on Flyway (#5344) for automatic SQL script execution on deployment.

Here was the failure on phoenix as seen from the Jenkins log at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy-develop/368/console

`Command deploy failed.`

`remote failure: Error occurred

[2019-03-15 15:00] #3248 closed

[2019-03-15 15:02] pameyer commented on #3248
for package files / rsal downloads, this was done a while back.

[2019-03-15 15:07] pdurbin commented on #2279
More chatter this morning at http://irclog.iq.harvard.edu/dataverse/2019-03-15#i_88073 about how @donsizemore plans to address #2593 in the same pull request.

[2019-03-15 15:15] pdurbin commented on #2279
Whoops! Never mind! Separate pull requests! My mistake. 😄

[2019-03-15 15:24] #5625 closed

[2019-03-15 15:27] matthew-a-dunlap commented on #4821
Turns it out was a dev box issue, not an api token (https://github.com/datacite/sashimi/issues/56) . I was able to submit to the test box with our current api token, so this is unblocked.

[2019-03-15 16:30] pdurbin opened #5651 "Migrate away from Waffle before May 16, 2019"
@scolapasta noticed that Waffle is shutting down! https://blog.waffle.io/farewell-from-waffle-%EF%B8%8F-794da4a72851

This is extremely sad news. The Waffle team even sent us [stickers][] after we did a call with them some years back:

![Screen Shot 2019-03-15 at 12 26 44 PM](https://user-images.githubusercontent.com/21006/54446586-a8047980-471d-11e9-9529-540363f43727.png)

[stickers]: https://twi

[2019-03-15 17:00] atc0005 opened #5652 "RFE: Update example/initial admin user password for consistency"
While working with the Ansible Playbook we found that the initial password there was different than the initial password provided in the installation docs here:

http://guides.dataverse.org/en/latest/installation/installation-main.html#superuser-account

Current wording:

Due to IQSS/dataverse-ansible#48, the Playbook is now using `admin1` as the initial password. Perhaps update the password here

[2019-03-15 17:07] pameyer opened #5653 "handle_dropdown_popup_scroll is not defined on `permissions-manage.xhtml`"
On 1178-1a12cda

![Screen Shot 2019-03-15 at 1 02 29 PM](https://user-images.githubusercontent.com/10261853/54448645-9ffb0880-4722-11e9-9ac1-743f4ac1dc2f.png)

Does not appear to prevent any functionality (was still able to modify user permissions on that page).  Have not investigated sufficiently to see if it's related to #5589 , but that would be plausible.  `` <script type="text/javascript" def

[2019-03-15 17:17] mheppler commented on #5653
There was some work done on `dv_rebind_bootstrap_ui.js` in #3925. I will take a look at the permissions-manage pg and see what I can sort out. Good catch, @pameyer.

[2019-03-15 17:30] kcondon commented on #2593
@donsizemore
This does not seem to be entirely accurate. You cannot destroy a published dataverse that has children (datasets or dataverses) nor is there a dataverse destroy argument, only a dataset destroy argument. What you can do is delete an empty dataverse, whether published or not via UI or standard delete dataverse api. The fact that it needs to first be emptied is what users stumble over s

[2019-03-15 17:53] #4821 closed

[2019-03-15 18:24] donsizemore commented on #2593
@kcondon 10-4, will fix.

[2019-03-15 18:28] pdurbin commented on #5652
@atc0005 thanks for opening this issue. If you or @auadamw or anyone would like to make a pull request, it should be fairly straightforward. Here are the files in play:

[code]

[2019-03-15 19:04] atc0005 commented on #5652
Just to double-check, draft PRs against the `develop` branch?

refs http://guides.dataverse.org/en/latest/developers/version-control.html

[2019-03-15 19:08] matthew-a-dunlap commented on #5583
I feel that the current name is still good if we are just expanding this to the `GET $host//api/dataverses/` endpoint. Even if its not under "export" its functionally one.

[2019-03-15 19:09] scolapasta commented on #5583
Agreed. I think I was the one suggesting at sprint planning to rename, but your assessment that's it's functionally one is correct.

[2019-03-15 19:12] pdurbin commented on #5652
@atc0005 yes please! We're using git-flow, if you're familiar with it. "develop" instead of "master" branch.

[2019-03-15 19:15] landreev commented on #5639
I checked in the documentation for the new process now in use in production.
I'm leaving the issue in "this spring", for now, since a) I'm working on other things (BARI, primarily) and b) talking with @mheppler about adding more robots rules to accommodate his work on preview/citation cards for Facebook/Twitter. Since it looks like their bots will need some special needs that need to be addressed

[2019-03-15 20:10] mheppler commented on #5589
While reviewing #5627 I was able to confirm my analytics code suspicions.

[code]

That line of code recently added to the top of the `<head>` section of the dataverse-template as part of #4660 is disabling our nice formatted 404 pgs from being displayed when you access a dataset pg that doesn't exist, and the 403 pg from being displayed when you access a dataset pg you don't have access to.

For

[2019-03-15 20:19] landreev commented on #5605
@jggautier @mheppler
Here's the promised update:
Please disregard most of the info I entered earlier... because it's all lies! Seiously, most of it is no longer relevant.
1) Improved crawler rules have been/are being addressed in #5639;
2) "empty google search cards" (when google finds a dataverse, but shows an empty card with the text "No information is available"): Whatever was causing this, it

[2019-03-15 20:23] landreev commented on #5605
Also,
3. The issue of both the "dataverse.xhtml?alias=<name>" and "/dataverse/<name>" pages being indexed for the same dataverse has also been addressed by the improved robots + sitemap approach in #5639.

[2019-03-15 20:23] scolapasta opened #5654 "Edit File Metadata does not validate (saves with old (valid) value)"
When you upload a file or edit a file, the metadata validation is not working. A valid value will save, but an invalid one will appear to save and just keep the old (valid) value.

This is true for label, and the new (soon to be merged) path. I didn't test with description, but I assume it is also true there.

The same fragment is used for create dataset and there it does work properly.

[2019-03-15 20:29] kcondon commented on #5514
I'll use this ticket to record both rename and merge issues.
1. Renamed/merged user remains logged in if happened while logged in. Generally harmless since cannot save a new dataset but can download public files without incrementing count or recording download in guestbookrepsonse.
2. Cannot log in to merged account. No error in logs but ui does not allow log in as if incorrect password.

[2019-03-15 20:56] mheppler commented on #5627
Got a few events showing up in Google Analytics with the provided analytics-code.html but did not see all of the events that I triggered clicking around on my localhost.

<img width="1053" alt="Screen Shot 2019-03-15 at 4 51 51 PM" src="https://user-images.githubusercontent.com/687227/54461417-e2ccd880-4742-11e9-94c2-4bf125bb3a71.png">

Export Metadata, Explore, and Contact are missing. (Did not t

[2019-03-15 21:18] qqmyers commented on #5627
Hmm - I've tried those three and seen events in the Real Time/Events view. It's possible that something in my selectors is dependent upon the DV options we have running though. I know, for example, that the explore won't work yet if there's more than 1 tool per mimetype and explore becomes a menu.

[2019-03-15 21:21] mheppler commented on #5653
This function was added as part of commit ca9d9b95f432ada4ce54b70fd3dc271af776b8e2 for #4343, to the harvestclients, manage-groups, permissions-manage-files, provenance-popups-fragment, and role-assign pgs.

It resolves a scrolling issue with the dynamic dropdown menu for `p:autoComplete` components in popups on these pages.

<img width="750" alt="Screen Shot 2019-03-15 at 5 15 20 PM" src="https:/

[2019-03-15 21:24] pdurbin commented on #5651
@adam3smith feels me:

<img width="590" alt="Screen Shot 2019-03-15 at 5 21 08 PM" src="https://user-images.githubusercontent.com/21006/54462648-dba7c980-4746-11e9-9f74-2664fe12fbb1.png">

https://twitter.com/philipdurbin/status/1106637350774423552

It was even sadder to see the animated version Ana sent me:

![cry](https://user-images.githubusercontent.com/21006/54462728-20cbfb80-4747-11e9-9c1f-e

[2019-03-16 00:27] pameyer commented on #5653
@mheppler Thanks for taking a look.  This installation didn't have enough users that the dropdown would need to scroll (and for what it's worth, didn't have analytics enabled).

[2019-03-17 21:24] scolapasta commented on #5611
@JayanthyChengan I think if we can find and quickly fix the real issue, then we don't need the interim solution. It seems to me that dates should be stored in solr in a standard format and then DateUtil can be used to display them according to locale. But if we look at the exception the date in solr is in Spanish ("ene" is short for "enero").

We may eventually want to store them in solr as Dates

[2019-03-18 08:56] poikilotherm commented on #5651
Sorry to hear Waffle is closing.

Options I am aware of not involving migration to GitHub Projects:
* [You could ask Atlassian for a free plan for JIRA on-premise or JIRA Cloud](https://de.atlassian.com/software/views/open-source-license-request). They offer a pretty nice Scrum/Kanban board.
  * There are options to sync between both JIRA issues and GitHub Issues
  * Or just offer public access to

[2019-03-18 13:28] pameyer opened #5659 "slow shibboleth account creation"
on `"version":"4.10.1","build":"1178-1a12cda"` ; creating new shibboleth accounts (aka - hitting save after initial shib login) is reported as taking > ~1m.  May or may not be due to running in a non-standard / unsupported configuration; will investigate further.

[2019-03-18 13:52] donsizemore commented on #5659
@pameyer I just made Andrey sign in to our test instance (4.11, shibd 3.0.4). He timed it at 961ms.

[2019-03-18 14:14] pameyer commented on #5659
@donsizemore Thanks! That makes it seem like the slow-down is something outside Dataverse.  I'll update if/when I find anything useful.

[2019-03-18 15:01] jggautier commented on #3628
I spoke with the JPAL dataverse admin and others on the team. This change won't affect how the JPAL admin uses guestbooks, and there don't seem to be any drawbacks. I'm cool with moving this PR along. Thanks!

[2019-03-18 15:15] pameyer commented on #5659
For future reference, this was symptomatic of making changes to the mail server without updating the dataverse configuration.  Page delay was due to timeout contacting the mail server (clearly shown in server.log).

Curiously, authenticateduser.emailconfirmed acts as though the email is confirmed even when the email server connection times out (at least for shib users).

[2019-03-18 15:15] #5659 closed

[2019-03-18 15:40] PaulBoon commented on #2073
Hi Philip,
Sorry for the delay, I just joined.
Also I have now a local branch with an initial working dashboard ‘card’ for moving a dataset to another verse.
But I need some guidance from someone with JSF knowledge, mine is sub-minimal.

Best wishes,
Paul

From: Philip Durbin <notifications@github.com>
Reply-To: IQSS/dataverse <reply@reply.github.com>
Date: Thursday, 14 March 2019 at 16:15
To: IQS

[2019-03-18 15:46] pdurbin commented on #2073
@PaulBoon thanks! I assigned this issue to you. You are welcome to ask your JSF questions here in this issue, http://chat.dataverse.org , https://groups.google.com/forum/#!forum/dataverse-dev , etc. I'm not the best with JSF but we'll get your question answered somehow. 😄

[2019-03-18 16:21] pameyer opened #5660 "link to disabling auth providers in remote-only guides section"
Installation guides mention disabling the `builtin` auth provider for remote-only mode; would be helpful to link to it.

[2019-03-18 16:45] pdurbin commented on #5659
This is by design for shib users ("Institutional Log In" users): "Users of the Institutional Log In option are not required to verify their email address because the institution providing the email address is trusted." http://guides.dataverse.org/en/4.11/user/account.html#edit-account

[2019-03-18 16:46] mheppler commented on #5637
With the [demise of Google Plus](https://www.blog.google/technology/safety-security/expediting-changes-google-plus/), I have swapped Google Plus for LinkedIn option in the share popup.

![Screen Shot 2019-03-18 at 12 43 56 PM](https://user-images.githubusercontent.com/687227/54547315-d97a8080-497b-11e9-9ebd-72db9511d69f.png)

[2019-03-18 16:59] pameyer opened #5662 "MakeDataCountApiIT.testMakeDataCountGetMetric IT failure"
In docker-aio (2x container, 2x run) on 943931363331095b831edabf697e1b26243c0e9d :

[code]

[code]

[2019-03-18 18:02] donsizemore opened #5663 "Shibboleth users who predate Shibboleth are assumed to be email-verified but aren't"
This issue is related to #1401 and possibly supersedes #3300. Per Phil and Pete in [IRC](http://irclog.iq.harvard.edu/dataverse/2019-03-18#i_88437) Shibboleth users are now assumed to have their e-mail addresses verified as trusted / provided by the IdP. For new users this happens. Existing users such as myself and our archivists remain unverified. I can sign in with my Shibboleth account to our t

[2019-03-18 18:22] pameyer commented on #5663
I _think_ the logic snag is that when the `authenticateduser.emailconfirmed` column was added in 4.5.1, it wasn't accompanied by an update setting that column to account creation time for shibboleth users.

[2019-03-18 18:30] donsizemore commented on #5663
@pameyer seems better to make current Shib logins check for emailconfirmed and set if necessary — we have a bunch of users matching unc.edu who may or may not sign in going forward. My inner security Chicken Little would prefer to leave them NULL.

[2019-03-18 19:36] landreev commented on #4894
FWIW, to me it looks like Google does index our dataset descriptions just fine. See the screenshots of the two recent datasets - both are showing parts of the description:

![Screen Shot 2019-03-11 at 7 57 12 PM](https://user-images.githubusercontent.com/737558/54558212-88768680-4993-11e9-9956-c87d52dc03a8.png)
![Screen Shot 2019-03-11 at 11 12 57 AM](https://user-images.githubusercontent.com/7375

[2019-03-18 19:48] jggautier commented on #4894
Met with @scolapasta and @mheppler to discuss how to make search engines show dataset and file descriptions. We agreed on next steps:

- Dataset and file pages have empty`<meta name=description />` tags because Dataverse only adds the description metadata to the tag if the page is dataverse page. So change metadata description tag on dataverse_template page to accept a parameter.
- Add dataverse d

[2019-03-18 19:55] #5634 closed

[2019-03-18 19:58] #2279 closed

[2019-03-18 19:59] #5660 closed

[2019-03-18 20:06] #3628 closed

[2019-03-18 20:26] landreev commented on #4894
@mheppler (I'm hoping this is the right issue) About the dataset logos:
Unlike the file thumbnails, dataset thumbnails are hardcoded at 48 pixels; they were never meant to be blown up - so they look terrible when these other sites try to do that in their preview cards.
It should be easy to add a size parameter to this API call - let's open an issue for it.
But, as I mentioned earlier, I was afraid

[2019-03-18 21:07] landreev commented on #5641
Copy-and-pasting my comment that I first added in #4894:

About the dataset logos:
Unlike datafile thumbnails, dataset thumbnails are hardcoded at 48 pixels; they were never meant to be blown up - so they look terrible when these other sites try to do that in their preview cards.
It should be easy to add a size parameter to this API call - let's open an issue for it.
But, as I mentioned earlier, I

[2019-03-18 22:12] pdurbin commented on #5565
As mentioned at standup, this bug was found in develop and the latest release (4.11) was found during development: Edit File Metadata does not validate (saves with old (valid) value) #5654

[2019-03-19 13:58] poikilotherm opened #5665 "Doc update needed for "Auth Modes""
As @pdurbin pointed out on [IRC today](http://irclog.iq.harvard.edu/dataverse/2019-03-19#i_88538), the section about "Auth Modes" needs an update, as referenced issues have been closed since.

[Docs about Auth Modes in v4.11](http://guides.dataverse.org/en/4.11/installation/config.html#id45)

[2019-03-19 14:08] poikilotherm opened #5666 "Doc update: TestShib not available anymore"
TestShib.org referenced in the [Shibboleth docs](http://guides.dataverse.org/en/latest/installation/shibboleth.html#id36) for testing your SP is not available anymore.

Instead, https://samltest.id can be used for testing purposes. This will be done for IQSS/dataverse-kubernetes#14.

[2019-03-19 14:26] pameyer commented on #5663
@donsizemore That seems reasonable to me; but means it would take code changes rather than database cleanup.

[2019-03-19 14:57] landreev commented on #5550
Hello,
We've been trying to gauge how much this would help us; the fact that the dataset needs to already be locked by the time the second user comes to the page is of course a limiting factor.
But we've been wondering if there's something simple that can be added to improve it. For example, if we have a situation where the second user (same user in another tab) has started another edit *before* t

[2019-03-19 16:56] pdurbin commented on #5666
This is a duplicate of #5369

@poikilotherm would you like to make a pull request? 😄

[2019-03-19 17:34] poikilotherm commented on #5550
Any chances you might think of adding Operational Transformation realtime collaboration instead of locks? There are existing JavaScript libs for this, like ShareDB and others.

[2019-03-19 17:34] poikilotherm commented on #5666
Sorry for the duplicate. Shall I close this in favor of the original issue?

[2019-03-19 17:39] kcondon commented on #5515
see #5514 for a list of issues for both merge and rename.

[2019-03-19 17:52] mheppler commented on #5637
All the new and improved Dataverse favicon files were created from the very useful [RealFaviconGenerator](https://realfavicongenerator.net/). After creating an SVG of the icon from it's original Illustrator vector file, I was able to upload it and it generated all the preferred sizes and file types of all the various browsers and platforms. Which would have taken hours, if not days, to research an

[2019-03-19 18:04] pdurbin commented on #5666
@poikilotherm no worries. We appreciate the bug report. I'll close it.

[2019-03-19 18:04] #5666 closed

[2019-03-19 18:04] pdurbin commented on #5369
Also reported at #5666

[2019-03-19 18:09] MohanaPriyaNarapareddy opened #5667 "unable to publish while importing the dataset"
I am trying to import the existing doi (doi:10.7937/K9/TCIA.2015.MI4QDDHU) in the datacite. But I am facing two issues.
1. I am unable to publish the dataset in spite of giving release=yes.
2. when i import the dataset the pid is changing in the response( it is not the same as the doi in the datasite which I have given in the url and json file)

This is my url localhost:8080/api/dataverses/root/da

[2019-03-19 18:21] pdurbin commented on #5667
@MohanaPriyaNarapareddy hi! I assume you're using Dataverse 4.11 and following http://guides.dataverse.org/en/4.11/api/native-api.html#import-a-dataset-into-a-dataverse

Can you please email your server.log file to support@dataverse.org ?

It can usually be found at /usr/local/glassfish4/glassfish/domains/domain1/logs/server.log

The server.log file might have a stack trace that helps us troublesh

[2019-03-19 19:22] MohanaPriyaNarapareddy commented on #5667
the doi in the datacite is doi:10.7937/K9/TCIA.2015.MI4QDDHU
but the above is registered (10.7937) doi. I am trying to import with the test(10.5072) shoulder into dataverse. so I think I no need to reconfigure Dataverse for "10.7937/K9/".

The below is my server log file
2019-03-17T22:50:00.035+0000] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.timer.DataverseTimerServiceBean] [tid: _Thread

[2019-03-19 20:12] TaniaSchlatter commented on #2073
Hi @PaulBoon, please put a screen shot here in the issue when you have a chance. Thanks!

[2019-03-19 20:39] pdurbin commented on #2073
@TaniaSchlatter it looks like @PaulBoon just put some screenshots in pull request #5668

Here they are:

![54639507-d2439780-4a8d-11e9-8c9f-a4fffc9b71d6](https://user-images.githubusercontent.com/21006/54640187-8c72d900-4a65-11e9-9a80-237e261ca66b.png)

<img width="778" alt="54639719-539b2a00-4a8e-11e9-9b48-0cdbb74e1232" src="https://user-images.githubusercontent.com/21006/54640185-8c72d900-4a65-1

[2019-03-19 20:44] matthew-a-dunlap commented on #4616
@scolapasta By editing file metadata do you mean updating? In other words the ability to upload json that overrides the current metadata?

[2019-03-19 20:49] scolapasta commented on #4616
@matthew-a-dunlap yes, that's what I mean.

[2019-03-19 21:07] mheppler commented on #5637
OK. With much help from @landreev and @pdurbin I managed to set this branch up on AWS to test the access of these new favicon images by the social media robots.

This required utilizing the changes to `robots.txt` included in #5639 to allow access to more of the site to more robots. In addition to those general changes, I needed to specifically grant access to the images directory.

[code]

Using

[2019-03-19 21:13] MohanaPriyaNarapareddy commented on #5667
@pdurbin
the doi in the datacite is doi:10.7937/K9/TCIA.2015.MI4QDDHU
but the above is registered (10.7937) doi. I am trying to import with the test(10.5072) shoulder into dataverse. so I think I no need to reconfigure Dataverse for "10.7937/K9/".

The below is my server log file
2019-03-17T22:50:00.035+0000] [glassfish 4.1] [INFO] [] [edu.harvard.iq.dataverse.timer.DataverseTimerServiceBean] [tid

[2019-03-19 21:20] mheppler commented on #5639
With much input from @landreev and @pdurbin, I was able to confirm in my work for #5637 that the images directory, which contains the favicon images, needs to be added to the `robots.txt`. This allows for preview cards to be generated on Facebook, Twitter and other social media sites, when datasets are shared. (There will need to be further development to extend this to dataverse and file URL's.)

[2019-03-19 21:33] mheppler commented on #5639
Also, as part of feedback investigations for #5641, I discovered there is a problem with the social media robots accessing dataset thumbnails that I was not able to resolve. This needs to be addressed as part of that thumbnails issue, or this robots.txt issue.

See the warnings produced by the [Twitter developer tool card validator](https://cards-dev.twitter.com/validator).

[code]

![Screen Shot

[2019-03-19 21:34] pameyer commented on #5667
@MohanaPriyaNarapareddy It looks to me like you've found a bug regardless - the API shouldn't be returning "OK" when it's not doing what it's meant to do.  The import API is intended for people to use to migrate dataset from different repository software into a dataverse-driven repository; and was designed assuming that the DOI prefix was the same for both systems.

If you're testing the ability o

[2019-03-19 21:55] matthew-a-dunlap commented on #4616
Should the new `GET` endpoint allow access to any arbitrary version of the metadata, or should it just return the latest?

[2019-03-19 22:10] mheppler commented on #5637
Inventory of new images other files generated by the RealFaviconGenerator tool to support all the various browsers and platforms:

- src/main/webapp/resources/images/fav/android-chrome-192x192.png
- .../images/fav/android-chrome-512x512.png
- .../images/fav/apple-touch-icon.png
- .../images/fav/browserconfig.xml
- .../images/fav/favicon-16x16.png
- .../images/fav/favicon-32x32.png
- .../images/fav

[2019-03-19 22:14] mheppler commented on #5637
And a note for @kcondon when testing... this dataset pg `og:image` uses the `dataverse.siteUrl` setting to pass a full path of the favicon image to the social media robots. When setting up my AWS cloud for developing, I had to edit this setting in my `domain.xml` file.

`<jvm-options>-Ddataverse.siteUrl=http://${dataverse.fqdn}:8080</jvm-options>`

[2019-03-19 22:57] pdurbin commented on #4616
@matthew-a-dunlap we don't want users to be able to change the MD5 of a file, for example.

Please see the "Create a dataset with files and directoryLabels using json" test here for the existing API endpoint:

https://github.com/IQSS/dataverse/blob/v4.11/src/test/java/edu/harvard/iq/dataverse/api/FileMetadataIT.java#L115

[2019-03-20 03:14] pdurbin commented on #5104
Related #5667

[2019-03-20 03:17] pdurbin commented on #5303
@JayanthyChengan head up that pull request #5304 has merge conflicts.

[2019-03-20 13:18] djbrooke commented on #4837
Reopening this for now. We need to resolve the conflicts in the PR, do a code review, QA, and then merge the PR. This will hopefully be just a quick check. I'll then tag this for the next release.

[2019-03-20 15:17] JayanthyChengan commented on #5611
@scolapasta @pdurbin
I was investigating on this exception

java.text.ParseException: Unparseable date: "07-feb-2019"
at java.text.DateFormat.parse(DateFormat.java:366)
at edu.harvard.iq.dataverse.util.DateUtil.formatDate(DateUtil.java:35)
at edu.harvard.iq.dataverse.search.SolrSearchResult.getDateToDisplayOnCard(SolrSearchResult.java:904)

The exception is from the values of “dateFriendly” field

[2019-03-20 15:44] lubitchv opened #5671 "API Token and Data Curation Tool"
Data Curation Tool is an external Tool for editing variable level metadata. It needs to get an API Token to update data. But when users create account in Dataverse or an account is created for them API Token is not generated automagically . So then API Token is empty users cannot edit metadata and have to be reminded to create API Token.

But there is a possibility to generate such token automatic

[2019-03-20 16:00] pdurbin commented on #2073
@PaulBoon thanks for the pull request! I used the following [command][] to spin up your branch this morning on EC2 and did a demo at our design meeting:

`ec2-create-instance.sh -b 2073-add-move-to-dashboard -r https://github.com/PaulBoon/dataverse.git`

[command]: http://guides.dataverse.org/en/4.11/developers/deployment.html#download-and-run-the-create-instance-script

[2019-03-20 16:21] jggautier opened #5672 "Investigate what content to put into meta description tags of dataverses/datasets/files when depositors haven't entered description metadata"
In the page html of dataverses, datasets, and files that have no description metadata, the various meta tags are empty (`<meta name="description">`, `<meta name="dc.description">`, and `<meta name="og.description">`).(https://github.com/IQSS/dataverse/issues/4894 describes how we'll add description metadata to the page html of dataverses, datasets, and files that **do** have description metadata.)

[2019-03-20 16:30] scolapasta commented on #5671
Hi @lubitchv we had a previous issue for this, #4310 where at the time we were leaning towards having the user "opt in" to the token being created. This would of course require a UI around this opt in capability. I think having it be automatically generated would be fine too, but there should probably be messaging so the user is aware of it happening. (since an api token is effectively another pas

[2019-03-20 16:31] scolapasta commented on #4310
Closing in favor of the newer #5671.

[2019-03-20 16:32] pdurbin commented on #5671
My first thought is this:

- Users who are created via the GUI do not automatically get an API token.
- Users who are created via API do automatically get an API token.

This is inconsistent and was observed recently in 5f383da ("not all users have apiTokens").

Should we introduce a system-wide boolean setting called something like `:GenerateApiTokenOnCreate`? Installations of Dataverse that have

[2019-03-20 16:56] MohanaPriyaNarapareddy commented on #5667
@pameyer @pdurbin "
Yes, I am trying to import datasets with existing DOIs in the datacite. The API is returning "ok", but in spite of giving "release =yes" I am unable to auto-publish it. And also I don't find any issue regarding auto publish in the server logs.

[2019-03-20 17:03] mheppler commented on #4894
The Google results for [IMDB pages](https://www.imdb.com/title/tt0093378/) was mentioned as an explain of metadata passed in the source code using Schema.org JSON formatting. I took a look at the source code for one of their pages and found the description was included as:

[code]

[code]

[code]

[2019-03-20 17:39] pdurbin commented on #5667
@MohanaPriyaNarapareddy you're right. Unfortunately, there doesn't seem to be anything helpful in server.log. Thanks for posting it. #5104 is related. I think you and @tcoupin might want the same thing.

The import API was built for @pameyer with the following scenario in mind:

- I am running a data repository with DOIs using non-Dataverse software and I want to migrate to Dataverse.
- I will con

[2019-03-20 18:11] scolapasta commented on #5611
@JayanthyChengan @pdurbin So can we just get rid of date friendly then, since that's handled by the dateUtil method now?

[2019-03-20 18:29] JayanthyChengan commented on #5611
@scolapasta , the dateFriendly field still exists in schema.xml, just the type is changed to string.

<field name="dateFriendly" type="string" stored="true" indexed="true" multiValued="false"/>

https://github.com/IQSS/dataverse/pull/5670/files

[2019-03-20 18:59] MohanaPriyaNarapareddy commented on #5667
@pdurbin @pameyer Yes, the scenario is precisely what we are trying to do. But as a test, to avoid creating a new DOI on Datacite, I have configured Dataverse to use the 10.5072 test shoulders. I'm importing one of our valid Datacite findable DOIs.

Could I run this test by trying to import a DOI with a 10.5072 test shoulder, while leaving Dataverse configured against the 10.5072 test shoulder?
OR

[2019-03-20 19:19] lubitchv commented on #5671
@scolapasta  not exactly. getConfigurePopupToolHandler has a check for fileId is null or toolHandler is not null.In that case it does not go to retrieve API Token. This is also the case when user just visit dataset. I suggest to add the code in case retrieval of Api Token brings null. It should only work if user actually press on External Tool in drop down.

It is also probably possible to add the

[2019-03-20 19:27] scolapasta commented on #5671
@lubitchv If that's the case (that it is only when user actually clicks on the tool), that's fine. I still think it could be good to add some messaging somewhere that a token will be generated, so that they are aware, but not sure how/where and would want to see what @TaniaSchlatter and the design team thinks.

[2019-03-20 19:30] scolapasta commented on #5611
@JayanthyChengan Sure, what I'm suggesting is that there may be no more need of it. I don't recall if it is just repeating some other indexed date in a "friendly" way or if it has logic to determine which date is stored (and is therefore not otherwise replicated in the index).

If the former, we could remove it and just use the other date; if the latter it might make sense to give it a more meanin

[2019-03-20 19:38] landreev commented on #5565
I added 1 request/question in the PR.

[2019-03-20 19:40] landreev commented on #5565
(Aside from that - everything looks good. The thing that I asked about - multiple slashes in the middle - if that was discussed and the final decision was to allow it like that, then please move it directly into QA)

[2019-03-20 19:44] TaniaSchlatter commented on #5671
@scolapasta let's define one or two user scenarios that describe who needs this and in what situations.

[2019-03-20 20:05] pdurbin commented on #5667
@MohanaPriyaNarapareddy I think you should try it with your findable DOI shoulder (10.7937 K9). That's how @pameyer uses the import API. (Authority and shoulder, technically. They are stored in different settings.)

[2019-03-20 20:13] pameyer commented on #5667
@MohanaPriyaNarapareddy - @pdurbin and I got messages crossed.  I was going from memory about the configured PID vs import PID and need to verify that.

I was concerned about making sure that the system wasn't communicating with the PID provider when I was testing imports.  This pre-dates the `FAKE` / no-op PID provider that's in dataverse now (or I would have used that); but temporarily configuri

[2019-03-20 21:05] pameyer commented on #5667
On a relatively recent branch from develop (e1e949f8b7f41ce8bf3382da69295f6cce8b09f5 for those curious); I was able to confirm that I was completely wrong about the requirement for Dataverse to be configured with the same DOI prefix/shoulder as the DOI being imported.  Sorry about introducing more confusion.

Using the FAKE DOI provider, both the JSON in this issue and JSON I've used for previous

[2019-03-20 23:30] #4837 closed

[2019-03-20 23:46] #5583 closed

[2019-03-21 00:11] mheppler commented on #5627
@qqmyers I have been digging a little further into the event analytics I am able to capture on my localhost. I have updated my comment above earlier with a screenshot to include everything I was able to capture.

Just now, I was finally able to get Export Metadata wired up. But it appears it is only working on the file pg and not the dataset pg. Here is the revised click function I was using for t

[2019-03-21 08:00] juancorr commented on #5611
Thanks, dateFriendly is not widely used in Dataverse code but if your prefer to keep it, @JayanthyChengan  solution should be work.

[2019-03-21 14:26] rschlaefli opened #5673 "UZH: Adding unit tests (input-space partitioning, branch & prime-path coverage)"
Hi!

Me (@rschlaefli), @alexscheitlin, and @nikzaugg have received our second assignment and will again be working on new unit tests. This time, we will be focusing on a clean partitioning of the input space for the tested methods, as well as increasing branch and prime-path coverage. We will track our progress with the assignment on this issue.

Please see #5619 for who we are and what we do.

[2019-03-21 14:43] djbrooke commented on #5673
Thanks UZH team for creating this issue and the continued work on the unit tests! If you want to talk through any implementation details before you start on this, let us know.

[2019-03-21 15:12] landreev commented on #5565
That was better, but I'm afraid it still wasn't doing everything we wanted to do.
From my conversation with @scolapasta, the plan was to replace any backslashes (and any combinations of back and forward slashes) with a single forward slash.

The new sanitize method was leaving names like "folder1/\/folder2" intact.

There's also something weird with the validator method.
It actually fails on any b

[2019-03-21 15:14] landreev commented on #5565
Let me quickly check if any of the test methods need to be updated to account for this last change.
Then I'll move it to QA, unless there are any objections.

[2019-03-21 15:23] landreev commented on #5565
BTW, why is the sanitize method called in the validator method?
It's probably redundant - because it's always called in setDirectoryLabel()... but if it weren't - I think it would result in validating the sanitized version, without actually saving it... no? (I may be missing something...)

[2019-03-21 15:46] #5514 closed

[2019-03-21 15:47] #5515 closed

[2019-03-21 15:52] RightInTwo commented on #2174
Are there any developments in regards to a Swagger/OpenAPI definition for the Native API?

[2019-03-21 16:05] pdurbin commented on #2174
@RightInTwo nope. As I said above on April 1st, 2016, one of us played with adding Java annotations (`@ApiOperation`) to automatically generate Swagger output (this was not an April Fool's joke), but nothing has been done since then.

We are definitely open to pull requests!

The main thing I want for this issue is not necessarily Swagger but to split the long "native" API into multiple pages, one

[2019-03-21 16:27] matthew-a-dunlap commented on #4616
The new requirements for this story:
- [ ] Direct API endpoint to `GET` file level metadata
   - take file PIDs
- [ ] Direct API endpoint to `POST`/`PUT` file level metadata
   - This should use the existing flows for
   - Ensure this works for file hierarchy
   - take file PIDs
- [ ] Move all detached DataFile creation/editing (creation of a DB entry without a file on disk) to superusers only

[2019-03-21 16:45] matthew-a-dunlap opened #5674 "Streamline DataFile Metadata Creation/Read/Update"
- [x] Direct API endpoint to `GET` file level metadata. Using the JSON syntax we use for add/replace.
   - [x] access via file PIDs
   - [x] Access previous versions
   - [x] Access draft version if authorized
   - [x] All attributes

- [x] API endpoint to update metadata without uploading a new file. This will be based off the file `/update` code.
   - [x] All attributes
   - [x] Restrict file if

[2019-03-21 17:35] pdurbin commented on #4616
@raprasad hi! Now that pull request #5529 has been merged, the first item on your list is easier:

`curl -s https://dataverse.harvard.edu/api/search?q=entityId:3371438 | jq -r '.data.items[0].dataset_persistent_id'`

doi:10.7910/DVN/TJCLKP

How much more of this issue are you still interested in?

[2019-03-21 18:27] landreev commented on #5565
@scolapasta
Hmm, I'm still looking at that validation regex... it was doing other counter-intuitive things, that I cleaned up.
two more questions:
we have 49K non-empty directorylabels in prod. already.
635 of them do not pass the intended validation rule - because they contain "&", "@", "=", "(", ")" or " " (white space).
So,
1) of these, I think we should allow the whitespace. it's a legit/stand

[2019-03-21 18:32] scolapasta commented on #5565
@landreev I'm ok with both those points. Yes, for any new / stricter validation rules, we'll need to include release notes (and a script like you suggested would also be helpful).

[2019-03-21 18:40] landreev commented on #5565
Idk, maybe a pure sql script, that we could make flyway execute, is actually an easier solution than a shell script.
One way or another, it feels like this migration solution needs to be created before we can put this into QA, yes?

[2019-03-21 19:15] #5637 closed

[2019-03-21 19:21] scolapasta commented on #5611
So I looked up a little of the code and found this

[code]

and

[code]

In other words, it seems as if the code indexes the same value in two ways and since we don't seem to want the localized version in solr, we should just remove dateFriendly out right and just use dateSort.

@pdurbin @JayanthyChengan @juancorr any objections?

[2019-03-21 19:35] scolapasta commented on #5207
@JayanthyChengan @juancorr there are two issues related to facets and internationalization, this one and #5623. I'd like to suggest we close one and have the discussion in one. (and arbitrarily chose this one, but am fine switching). Is that OK? (if we do we should connect the other PR to this one.)

That said, I have thoughts on both PRs. We had a meeting here (tech hours) where we discussed, and

[2019-03-21 19:53] matthew-a-dunlap commented on #5674
One question I have is what paths do we want?
   - `GET` `files/{fileId}` fits the same structure as dataset, but to me conveys you are getting actual data not metadata.
   - `GET` `files/{fileId}/metadata` seems to be more straightforward.
   - I am adding an option to get the version as well, so `GET` `files/{fileId}/versionId/{vId}` and `GET` `files/{fileId}/metadata/versionId/{vId}` need to be

[2019-03-21 20:30] landreev commented on #5565
OK, I'm working on it.

[2019-03-21 21:31] landreev commented on #5565
@scolapasta
It's very easy actually, to just  make Flyway do this sanitizing automatically:
d995c39f5

[2019-03-21 23:07] #5639 closed

[2019-03-22 15:58] MohanaPriyaNarapareddy commented on #5667
@paymer @pdurbin
I tried testing with the fake DOI (findable doi shoulder(10.7937)).
 "doi": "10.7937/K9/TCIA.2016.JQEJZZNG"
 But still, I see the same behavior. The pid generated did not match.
The following are my curl command and  json file
curl -H "X-Dataverse-key: $API_TOKEN" -X POST localhost:8080/api/dataverses/root/datasets/:import?10.7937/k9/tcia.2016.jqejzzng&release=yes
json file:
https

[2019-03-22 16:12] JayanthyChengan commented on #5611
@scolapasta - I am ok with that ,so I will remove dateFriendly and update the code in PR #5670 soon.

[2019-03-22 16:40] aseeland opened #5677 "Groups UI: Pressing Enter in empty input field deletes group without warning"
On the "manage-groups"-page we experienced the following problem: When editing an existing group, placing the cursor in the input field for Group Members, and then (accidentally) pressing "Enter", the whole group is deleted without warning dialog :-(

The same happens in the "create new group"-dialog.

We have Dataverse Version 4.9.4, but I could reproduce the problem on demo.dataverse.org which r

[2019-03-22 17:14] pdurbin commented on #5677
😞

[2019-03-22 18:03] sekmiller commented on #5662
This is blocked by #5649 - PostgreSQL 9.3 is required, 9.6 strongly recommended

[2019-03-22 18:09] djbrooke opened #5679 "Dataset Thumbnail API - Size Parameter"
Different applications that index/integrate with Dataverse have different needs for thumbnail sizes. We should add the ability to specify the thumbnail size in the API. Copying in @landreev's comment below.

-----

About the dataset logos:
Unlike datafile thumbnails, dataset thumbnails are hardcoded at 48 pixels; they were never meant to be blown up - so they look terrible when these other sites t

[2019-03-22 18:12] djbrooke commented on #5641
Hi @qqmyers - I just created #5679 which, after merging, will require some changes to this PR. I'd like to put this one line change on ice temporarily.

[2019-03-22 18:19] kcondon commented on #5565
Issues found:
1. Validation text indicates \ is allowed but when used as a folder separator character, throws validation error and does not save.

[2019-03-22 19:05] donsizemore commented on #5235
@matthew-a-dunlap I'm taking a look at this again this afternoon, and IIRC you were getting group_var errors? I just ran through my 37_sample_data branch of dataverse-ansible... where were you running into trouble?

[2019-03-22 19:21] pdurbin commented on #5667
@MohanaPriyaNarapareddy hi! Can you please try it on https://demo.dataverse.org and let us know the DOI that was created?

[2019-03-22 19:35] pdurbin commented on #2593
I noticed @donsizemore pushed 7b2ef2b so I moved this to QA.

[2019-03-22 19:42] pdurbin commented on #5662
The test passes for me too. I'm on 3c836a980 on develop.

@pameyer could the "copy file" stuff in the screenshot below be a problem?

![Screen Shot 2019-03-22 at 3 41 10 PM](https://user-images.githubusercontent.com/21006/54848930-00f18600-4cb9-11e9-8324-0a757b22bc86.png)

[2019-03-22 19:57] mheppler commented on #5627
@qqmyers I have created a new branch `5627-example-analytics-code-redux` (https://github.com/IQSS/dataverse/compare/5627-example-analytics-code-redux) with revisions to analytics-code.html, as well as some changes to how the custom analytics code gets inserted into dataverse-template.xhtml, which also required a workaround added to dv_rebind_bootstrap_ui.js in order get around an issue with PrimeF

[2019-03-22 20:03] kcondon commented on #2593
@pdurbin Still needs info on deleting dataverse in ui

[2019-03-22 20:06] pdurbin commented on #2593
@donsizemore so sorry to send this back to you. Please see above about the UI and I'm also wondering if you could convert the commands to copy and pasteable full curl commands.

[2019-03-22 20:31] pameyer commented on #5667
@MohanaPriyaNarapareddy By FAKE provider, I'd meant switching from DataCite to the dataverse internal fake one - you can do this with `curl -X PUT -d FAKE http://localhost:8080/api/admin/settings/:DoiProvider`

[2019-03-22 21:38] landreev commented on #5565
Zip uploads: folder names are now preemptively sanitized; all the invalid characters are removed. I discussed this approach with @scolapasta earlier today and we are going to review and finalize it on Monday.

[2019-03-22 21:39] kcondon commented on #5559
Issues found:
1. Not sure which fields this needs to apply to, could not readily test N/A content in all metadata fields passed to Datacite due to required field/validation in UI: eg. description, contact email, author.
2. Publisher (dataverse name) set to N/A remains N/A, though author set to N/A becomes creator value :unav at Datacite as designed.
3. Do not have an actual list of all metadata fi

[2019-03-22 22:45] matthew-a-dunlap commented on #5674
Working on this story, I had to decide between two JSON "schema" used in our code to expand upon for this story. One is the schema used by most of the dataset methods, the other by the file-update and dataset-addFile commands. Both had some ability to edit file metadata.

I went with the latter one (used by update/add) as that code is more used in practice and amenable to expanding for fileMetadat

[2019-03-25 12:07] pdurbin commented on #5478
@carlosmcgregor thank you very much for pull request #5680 !

@poikilotherm and I just chatted about it and http://irclog.iq.harvard.edu/dataverse/2019-03-25#i_88874 and he has a preference for dots and camelCase instead of dashes.

So, can you please change (for example)...

    dataverse.file.swift-auth-type

... to ...

    dataverse.file.swift.authType

Thanks!

Please see also https://github.

[2019-03-25 13:03] pdurbin commented on #2110
@astrofrog these days Dataverse supports exporting in Schema.org JSON-LD so you can get the title ("name"), like this:

`curl -s 'https://dataverse.harvard.edu/api/datasets/export?exporter=schema.org&persistentId=doi:10.7910/DVN/RQSQY8' | jq -r '.name'`

(The title is "Block and Block Longitudinal Study, 1969 - 1999" in this example.)

Does this help?

I don't know why I didn't mention this earlie

[2019-03-25 13:06] poikilotherm commented on #3471
This seems to be reproducible in 4.11, too. And it's a big blocker for getting our production instance ready, too.

The steps I did to reproduce / find this:

1. Created a root dataverse during setup.
2. Setup auth and created a "normal" user
3. As dataverseAdmin: created a group "test" on root dv, assigned role "Member".
4. As dataverseAdmin: created a sub-dataverse "testi"
5. As dataverseAdmin:

[2019-03-25 13:13] pdurbin commented on #5235
I just checked with @donsizemore at http://irclog.iq.harvard.edu/dataverse/2019-03-25#i_88946 and he asked us to kick the tires again (and kick him if we need to). :smile:

[2019-03-25 13:50] JayanthyChengan commented on #5611
@scolapasta - committed the code, please review.  Thanks

[2019-03-25 14:37] carlosmcgregor commented on #5478
Thank you @pdurbin and @poikilotherm ! I will be making the changes.

[2019-03-25 15:13] landreev commented on #5589
Yes, it is related to Google Analytics. In a way that when it bombs in the browser, the error message "attribute must have value" or something along these lines really refers to this line in the analytics fragment that we load on every page:
[code]

That "async" does indeed look weird there without a value... but then, again, we are loading it like that on every page - so not sure why it becomes a

[2019-03-25 15:15] landreev commented on #5589
(that issue we had with dataverse URLs failing with the trailing slash added - it was failing the same way; throwing a 404, then the 404 page bombing in the browser, on account of this attribute in the GA fragment)

[2019-03-25 15:42] pdurbin commented on #5565
A couple of updates from standup:

- Updating the directory structure is now possible from the native API "add" and "replace" endpoint because we merged pull request #5678 into the branch under test for this issue. An update to the API Guide was included.
- I haven't been following very closely the naming convention we are converging on for Flyway scripts but I pushed b2f04e40a to the branch to at

[2019-03-25 16:29] pameyer commented on #5662
@pdurbin not sure - I don't think `sushi_sample_logs.json` is getting into the container; but it doesn't look to me like the pheonix deployment scripts do anything with it either.  Which suggests it doesn't need to be present server-side to run the tests, but my knowledge of the moving parts in mdc means I probably shouldn't rule it out.

[2019-03-25 16:45] pameyer commented on #5662
Rerun on 3c836a9801b9c21f888d556d85f6db481d025bf8 ; MakeDataCountApiIT.testMakeDataCountGetMetric still failing (will take a look to see if fiddling w\ sushi sample helps).

Now also seeing 13 errors:
``
[ERROR] Errors:
[ERROR]   FilesIT.testAccessFacet:1030 ? FileNotFound src/main/webapp/resources/images/f...
[ERROR]   FilesIT.testAddFileBadJson:242 ? FileNotFound src/main/webapp/resources/images

[2019-03-25 16:56] pameyer commented on #5662
copying `./doc/sphinx_bootstrap_theme/bootstrap/static/images/favicondataverse.png` to `./src/main/webapp/resources/images/favicondataverse.png` fixes this.  So either the tests are referring to the favicon from the wrong location, or it needs to be in the resource manager and isn't.

[2019-03-25 17:05] landreev commented on #5589
To reiterate/confirm what @mheppler was saying earlier: this is only a problem in production and other hosts configured with our Google Analytics fragment. You can't reproduce this on your local build without GA enabled.
A Google search find other people who have encountered this, and fixed it with changing that async to async="async". (but not async="true" - that doesn't work).
It looks like Mike

[2019-03-25 17:10] pameyer commented on #5662
@pdurbin good find - putting `/tmp/sushi_sample_logs.json` on the same system (and the favicon fix) running glassfish has everything passing.

[2019-03-25 17:46] #5559 closed

[2019-03-25 17:55] scolapasta commented on #5207
@JayanthyChengan @juancorr I went ahead and consolidated the issues - but feel free to let us know if you prefer it the other way around.

Could you please provide comments on my suggestion above?

[2019-03-25 17:57] scolapasta commented on #5623
Closing issue in favor of #5207

[2019-03-25 17:57] #5623 closed

[2019-03-25 18:21] qqmyers commented on #5671
FWIW - for QDR, we've added this in FileDownloadServiceBean.explore() (no PR at this point), handling both the case where a key doesn't exist and where it has expired. In our case, an API token is needed to be able to get the latest metadata when previewing files in draft versions (e.g. to pick up the correct file name) rather than wanting the external tool to make edits. Automating api token mgmt

[2019-03-25 18:21] JayanthyChengan commented on #5207
@scolapasta :  I am fine with continuing the discussion in this issue.

So, as a first step, I was looking only at translating the facet categories.

In the current code, the Facet Category related to any dataset field from metadata block is translated in the interface. [https://github.com/scholarsportal/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/search/SearchServiceBean.java#L6

[2019-03-25 18:36] scolapasta commented on #5207
@JayanthyChengan Yes, for the static ones, having them in the main bundle is fine.

[2019-03-25 19:22] #2593 closed

[2019-03-25 19:25] #5589 closed

[2019-03-25 20:23] MohanaPriyaNarapareddy commented on #5667
@pdurbin hello Philip. I tried using https://demo.dataverse.org. curl -H "X-Dataverse-key: $API_TOKEN" -X POST https://demo.dataverse.org//api/dataverses/user/datasets/:import?pid=https://doi.org/10.5072/fk2/5qokvk&&release=yes

i am getting the following error.
{
    "status": "ERROR",
    "message": "Can't find dataverse with identifier='user'"
}
I am not sure about $DVAlias. it cannot be root a

[2019-03-26 11:46] pdurbin commented on #5667
@MohanaPriyaNarapareddy hi! Instead of "user", which you see here...

    api/dataverses/user/datasets

... you should the alias/identifier of a dataverse you create. So if you create a dataverse called "foobar" it would appear here:

    api/dataverses/foobar/datasets

Does that make sense? If you happen to know the database id of your dataverse, it could be used as well, like this:

    api/data

[2019-03-26 12:19] pdurbin commented on #5671
@qqmyers @lubitchv thanks for you thoughts on API tokens. I thought I might be interesting for you and others to take a look at the "API Token Functional Requirements Doc" doc from 2014: https://docs.google.com/document/d/1PfQtblJxPv975U_cTOIA7OR71MT4CslP-s2n83eb1i8/edit?usp=sharing

I'd like to highlight that back then we had some concerns with our design, such as this:

"Currently, API tokens gi

[2019-03-26 12:58] juancorr commented on #5207
Hi @JayanthyChengan and @scolapasta,

  sorry for my late response. I am comfortable with the @JayanthyChengan solution. In e-cienciaDatos tests, we have put all solr entries in a new properties file (we have called it solr), but this solution have some problems:
  - It is not easy to upgrade to future versions.
  - solr properties have duplicate entries in the  file and another files (citation, m

[2019-03-26 13:46] lubitchv commented on #5671
@pdurbin I just wanted to notice that DCT will need a token with permission to edit dataset, (those users who have such permissions), hence  "read-only" API tokens would not be helpful in this case.

[2019-03-26 14:26] MohanaPriyaNarapareddy commented on #5667
@pdurbin I tried creating one on demo dataverse.
curl -H "X-Dataverse-key: $API_TOKEN" -X POST https://demo.dataverse.org//api/dataverses/user/datasets/:import?pid=10.7937/K9/TCIA.2016.JQEJZZNG&&release=yes

I got the following response.
{
    "status": "OK",
    "data": {
        "id": 303457,
        "persistentId": "doi:10.5072/FK2/GS6EYX"
    }
}
Yet, there is a change in the pid.

[2019-03-26 15:11] TaniaSchlatter opened #5682 "Harvard Dataverse: Breadcrumbs link to search results page, not new home page"
Now that Harvard Dataverse has a home page, the "Harvard Dataverse" breadcrumb should link to the home page, not the search results page.

[2019-03-26 15:22] dlmurphy commented on #5682
I originally surfaced this issue (noticed it in the UI and thought "hm, is this inaccurate?). But we just discussed with @mheppler and he pointed out that the "Harvard Dataverse" breadcrumb is not referring to the website Harvard Dataverse but rather the root dataverse _called_ Harvard Dataverse. A fine distinction, but he's right, this is actually working as intended. After discussing with @Tania

[2019-03-26 15:22] #5682 closed

[2019-03-26 15:28] qqmyers commented on #5671
I've seen systems that try to manage multiple tokens per users where the tokens may have different permissions and/or expiry dates. It's always seemed a bit overkill/off-target though, since users aren't really in a good position to know what they should be trusting.

The approach I've preferred is to use one token but to then have things like the external tools API provide a dynamically generated

[2019-03-26 15:36] mheppler commented on #2073
@PaulBoon I have committed a new branch [`2073-dashboard-move-data-updates`](https://github.com/PaulBoon/dataverse/pull/1) and submitted as a PR to your original branch.

The new PR contains some UI revisions based on discussions with the design team. Those changes included simplify the form (see mocked up screenshot below).

The preferred input for this form is the `p:autoComplete` that allows th

[2019-03-26 16:10] landreev commented on #5565
Added doc. info (to the guide and the release notes), as discussed yesterday.

[2019-03-26 16:16] pdurbin commented on #5235
@donsizemore I just kicked the tires as of https://github.com/IQSS/dataverse-ansible/commit/a69e4d6 and ca48b59 with this config: [main.yml.txt](https://github.com/IQSS/dataverse/files/3009029/main.yml.txt)

Unfortunately, the sample data wasn't created. Here's a screenshot:

![Screen Shot 2019-03-26 at 12 11 56 PM](https://user-images.githubusercontent.com/21006/55013902-6c409e00-4fc0-11e9-96a3-2

[2019-03-26 16:24] sbarbosadataverse opened #5683 "File Upload: the following zip file "issues" should not prevent success upload of zip content"
When users have a zip folder containing an "empty" folder (usually designated to hold new files created from running the code), or the zip folder contains "shape files"---the zip will not upload and will not throw an error of why it failed.

[2019-03-26 16:29] djbrooke commented on #5683
@sbarbosadataverse - if the problematic zips are OK to include here, please do so. If not, feel free to email them to me. Thanks!

[2019-03-26 17:14] qqmyers commented on #5671
@amberleahey - per the community call: Rather than a PR that doesn't have any of the user notification changes - here's a pointer to the 3-line if statement that checks for an api token in the 'explore' call and generates one if there is none or if it has expired... https://github.com/QualitativeDataRepository/dataverse/blob/develop/src/main/java/edu/harvard/iq/dataverse/FileDownloadServiceBean.ja

[2019-03-26 17:45] pdurbin commented on #5662
@pameyer for testing in docker-aio, isn't this issue a bit blocked by #5374? I know you have some workarounds but from my perspective, that other issue is about how docker-aio doesn't "just work" the way it used it.

[2019-03-26 17:57] pameyer commented on #5662
@pdurbin #5374 adds a step; but I don't think it blocks the `testMakeDataCountGetMetric` failure.  And the `FilesIT` errors should be the same regardless of source repo / glassfish server configuration.

[2019-03-26 18:02] pdurbin commented on #5662
@pameyer ok, can you please add the extra manual step here? I just looked through #5374 again but I'm confused what the step is. It looks like over at https://github.com/IQSS/dataverse/issues/5374#issuecomment-457725574 I reported that I ran...

    docker exec -it dv /usr/local/glassfish4/bin/asadmin start-domain

... but then Glassfish went immediately down again.

[2019-03-26 18:06] pameyer commented on #5662
Short version - skip `prep_it.bash` and fall back to `docker build ..` , `docker run ...` , connect to the container `docker exec -it dv bash` , and run `setupIT.bash` from inside.  I still don't know what's different, but that approach doesn't end up killing glassfish.

[2019-03-26 18:08] landreev commented on #5572
So, is it still part of the task here - to pick the javascript library for implementing this? Or have we agreed to try jsTree, and see how it goes?

[2019-03-26 18:10] landreev commented on #5572
@qqmyers do you know which javascript widget SEAD uses for this? - I can't quite figure it out.

[2019-03-26 18:13] mheppler commented on #5614
Or...

![Screen Shot 2019-03-26 at 2 12 41 PM](https://user-images.githubusercontent.com/687227/55022574-3f48b700-4fd1-11e9-85fa-f847e0ce5b45.png)

[2019-03-26 18:14] qqmyers commented on #5572
I think its http://ludo.cubicphuse.nl/jquery-treetable/ ...

[2019-03-26 18:14] sekmiller commented on #5649
I have completed the "definition of done" steps outlined above except for the upgrade to the phoenix server.

[2019-03-26 18:14] landreev commented on #5572
thank you!

[2019-03-26 19:15] sbarbosadataverse commented on #5683
sending via dropbox link @djbrooke

[2019-03-26 19:30] mheppler commented on #5627
UPDATE: @qqmyers my PR was briefly discussed with the dev team, to determine a better approach than my use of the new `buttonEvents()` function in dv_rebind_bootstrap_ui.js (first bullet in TO-DO list). I am going to take this issue back into IQSS team dev and revise it to be more configurable.

With recommendations from @pameyer and @pdurbin it was suggested that we could expand the custom config

[2019-03-26 19:43] donsizemore commented on #5235
I just did a 'vagrant up' on the 37_sample_data and things appear to march along:

![Screen Shot 2019-03-26 at 15 40 47](https://user-images.githubusercontent.com/12831666/55028331-cd2a9f00-4fdd-11e9-86d6-f4a904d8071d.png)

'git status' seems to think i'm committed (at least in the git sense). may I poke around on that VM?

[2019-03-26 19:51] pdurbin commented on #5649
@sekmiller thanks for getting the branch started.

@landreev and I just discussed this issue during tech hours. He is going to upgrade Postgres to 9.6 on the phoenix server.

I'm upgrading Postgres to 9.6 on the dev1 server. (Maybe I'll do apitest too but not promises.) I'm taking some notes that I might push into the branch so I'll keep myself assigned as well. I'm already seeing a couple things

[2019-03-26 20:01] donsizemore commented on #5649
@pdurbin @landreev just a note that i've imported our production 9.3 db_dump into a 9.6 service many times and haven't suffered any ill effects to my knowledge.

[2019-03-26 20:25] pdurbin commented on #5235
@donsizemore absolutely! I emailed you the key below:

`ssh -i key-pdurbin-59964BFD.pem centos@ec2-54-242-119-12.compute-1.amazonaws.com`

It's running at http://ec2-54-242-119-12.compute-1.amazonaws.com:8080

Thanks!!

[2019-03-26 20:29] pdurbin commented on #5374
Some more info at https://github.com/IQSS/dataverse/issues/5662#issuecomment-476777970

[2019-03-26 20:35] pdurbin commented on #5627
Since the very existence of dv_rebind_bootstrap_ui.js came up to tech hours today I thought I'd point out that it was discussed a bit back in #2176

[2019-03-26 20:50] scolapasta commented on #5584
As we only index the latest published and draft versions ("present versions"), we'd only be able to use Solr for those versions. It had previously been decided that this was ok (at least, as a first batch).

We discussed today at tech hours - we will generate a list of ids from either the solr (for present versions) or the db (for past versions). That list could then be used the same way to get th

[2019-03-26 22:03] landreev commented on #5649
@donsizemore I've done it on my own dev. environment between 9.1 and 9.6 - also without any signs of a problem.

[2019-03-26 22:07] landreev commented on #5649
@pdurbin I know that "9.6 is strongly recommended" - but we are running 9.3 on dvn-build and dvn-vm4, and Flyway seems to be happy. To get the phoenix server to work, and for uniformity with the other CentOS6 boxes, I've installed posgresql93 there as well. The configuration is identical to how it was before:
[code]

The startup scripts are properly checked on and off.

[2019-03-26 22:08] landreev commented on #5649
(if we decide we do need 9.6, I'll upgrade all the remaining CentOS6 boxes at once)

[2019-03-26 22:41] pdurbin commented on #5649
@landreev great! Thanks! Do you want to have the honor of kicking off a build at https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-build-develop/ ? (This is the first of three chained jobs.)

[2019-03-26 23:32] pdurbin commented on #5649
@landreev I went ahead and clicked "build now" and the deployment to phoenix succeeded:

<img width="248" alt="Screen Shot 2019-03-26 at 7 30 02 PM" src="https://user-images.githubusercontent.com/21006/55040179-ae3c0500-4ffd-11e9-82da-24b1ba47f76d.png">

That screenshot is from https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-deploy-develop/

Now I'm waiting to see if the API test sui

[2019-03-26 23:48] pdurbin opened #5686 "API test suite failures on develop as of ca48b59"
As the screenshot below from https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/344/testReport/ indicates, there are several API test suite failures on develop as of ca48b59 that we should fix before our next release, which is planned to be 4.12.

<img width="1603" alt="Screen Shot 2019-03-26 at 7 46 30 PM" src="https://user-images.githubusercontent.com/21006/55040729-0f

[2019-03-26 23:54] pdurbin commented on #5686
I just updated the list of tests on phoenix from...

`test -Dtest=DataversesIT,DatasetsIT,SwordIT,AdminIT,BuiltinUsersIT,UsersIT,UtilIT,ConfirmEmailIT,FileMetadataIT,FilesIT,SearchIT,InReviewWorkflowIT,HarvestingServerIT,MoveIT -Ddataverse.test.baseurl='http://phoenix.dataverse.org'`

... to this...

`test -Dtest=DataversesIT,DatasetsIT,SwordIT,AdminIT,BuiltinUsersIT,UsersIT,UtilIT,ConfirmEmailIT,

[2019-03-27 00:07] pdurbin commented on #5649
The deploy step worked on the first run but not the second. Here's the failure:

<img width="1375" alt="Screen Shot 2019-03-26 at 8 04 47 PM" src="https://user-images.githubusercontent.com/21006/55041288-c82c1680-5002-11e9-9843-d692ba436eca.png">

[2019-03-27 00:08] pdurbin commented on #5686
Bah, there's still some work to do on the "deploy" step for phoenix, as I commented about at https://github.com/IQSS/dataverse/issues/5649#issuecomment-476904502

[2019-03-27 00:18] pdurbin commented on #5649
I rebooted the phoenix server and now I'm getting this (job 372):

`ERROR:  permission denied to create database`

[2019-03-27 00:32] pdurbin commented on #5649
I dropped and recreated the "dvnapp" user because it didn't have any permissions:

[code]

I'll try another run.

[2019-03-27 00:39] pdurbin commented on #5649
Ok, now the "deploy" step continues to work. Phew.

[2019-03-27 00:48] pdurbin commented on #5686
Ok, I fixed the deployment issue (the dvnapp database user needed more permission) and now we can see the Make Data Count error reported in #5662 by @pameyer (thanks!):

<img width="1375" alt="Screen Shot 2019-03-26 at 8 46 07 PM" src="https://user-images.githubusercontent.com/21006/55042561-6a023200-5008-11e9-95a5-94b53214aa54.png">

This is from https://build.hmdc.harvard.edu:8443/job/phoenix.da

[2019-03-27 11:46] pdurbin commented on #5667
@MohanaPriyaNarapareddy thanks, I can't see https://demo.dataverse.org/dataset.xhtml?persistentId=doi:10.5072/FK2/GS6EYX but I created a second account and will ask someone to convert it into a superuser account so I can take a look.

I'm not exactly sure where this issue is going but I still think that eventually you're going to want to configure your installation of Dataverse to have the authori

[2019-03-27 12:13] poikilotherm commented on #4106
IMHO this issue can be closed. We will try to use other approaches for a solution to this.
Current ideas are about creating a separate web service "speaking" DataCite API for a start, which would take load off from Dataverse core devs.
AFAIK DANS (especially @4tikhonov) implemented some special service for their dara/DataCite problem.

[2019-03-27 12:15] poikilotherm commented on #5093
Status update: we still will need this down the road, but concentrate on getting things moving to production currently.

[2019-03-27 12:17] pdurbin commented on #4106
I'm un-assigning @poikilotherm based on his comment above and chatter at http://irclog.iq.harvard.edu/dataverse/2019-03-27

@4tikhonov what is your status, please? Do you still want or need this? Should you still be assigned?

[2019-03-27 12:21] 4tikhonov commented on #4106
@pdurbin, yes, we'll continue the plugin development in the new SSHOC DataverseEU project with CLARIN and DARIAH people onboard.

[2019-03-27 13:34] donsizemore commented on #5235
Phil gets errors, I get users. Bumped the branch to 4.11; so far, so good:

![Screen Shot 2019-03-27 at 09 33 23](https://user-images.githubusercontent.com/12831666/55079879-72dc1d80-5073-11e9-9b6a-0ed9fe900960.png)

[2019-03-27 13:46] qqmyers commented on #5550
@landreev - I'm not sure I understand what's 'limiting' - is it just that the severity level for the warning is higher than you'd like? (If so perhaps dropping that to 'info' from 'warning' is a fix?). Overall, I think one can always do a find() against the database to discover a lock, so adding a step in the page workflow to check for a lock just prior to submission could be done, but that's basi

[2019-03-27 13:50] lubitchv commented on #5671
@qqmyers Thank you, but we do not use explore, but configure for dct tool. But I will add something similar into configure code, such that when the user press the button and it does not have token, it will be generated.

[2019-03-27 13:52] landreev commented on #5649
Yes, I created that user with /usr/pgsql-9.3/bin/createuser, without giving it any extra permissions; I didn't realize it needed to create the db.
Glad to hear it's working now.

[2019-03-27 13:52] shlake commented on #3038
And still a problem in 4.11 - as seen on demo.dataverse.org.

As seen in "MyData":
Both links to the dataset go to the "published" version. I expected the one with "Draft" label to go to the Draft version.

![Screen Shot 2019-03-27 at 9 45 32 AM](https://user-images.githubusercontent.com/3809325/55081044-86888380-5075-11e9-92cd-6938b80aaea9.png)

As seen on the "home" page:
The dataset with "Draft

[2019-03-27 14:29] qqmyers commented on #5550
@poikilotherm - I don't think operational transform helps too much here (at least in terms of handling text changes to the same item). The issue is primarily due to the current code treating an entire dataset version (with all of the files/file metadatas) as one object to persist in a db transaction. That makes things slow with large numbers of files and makes changes to different files be seen as

[2019-03-27 15:36] mheppler commented on #5572
FILE HIERARCHY UI DID'S + TO-DO'S
- [x] add `p:selectBooleanButton` to filesFragment.xhtml to toggle existing `p:dataTable` and newly added `p:tree` files display view components on dataset pg
- [ ] wire up toggle display logic to backing bean
- [ ] customize toggle button icons
- [ ] customize tree component icons

QUESTIONS
- need to determine render logic? do we show tree for only one file? onl

[2019-03-27 15:45] pdurbin opened #5687 "As someone playing with demo.dataverse.org, I want to be able to see my notifications without the whole application blowing up"
I mentioned this problem at standup this morning and was told to go ahead and create and issue. At the moment https://demo.dataverse.org is running 3721306 (4.11)

![Screen Shot 2019-03-27 at 11 39 37 AM](https://user-images.githubusercontent.com/21006/55090331-4fba6980-5085-11e9-914c-6b876c97c611.png)
![Screen Shot 2019-03-27 at 11 39 29 AM](https://user-images.githubusercontent.com/21006/5509033

[2019-03-27 15:56] pameyer commented on #5686
This is a duplicate of #5662 (FilesIT hadn't been erroring out when the title went on that one); so feel free to close that one.

[2019-03-27 15:56] tcpan commented on #5667
@pdurbin Hi, I am working with @MohanaPriyaNarapareddy on this problem.  I've tentatively identified the cause.

With some instrumentation using the logger, I saw that when we POST to
  https://{server}//api/dataverses/{dataverse_id}/datasets/:import?pid=10.7937/K9/TCIA.2016.JQEJZZNG&&release=yes
the actual function being called to handle the request was "createDataset()" in api/Dataverses.java in

[2019-03-27 16:14] djbrooke commented on #5662
Closed in favor of #5686, which includes this is in the list of test failures.

[2019-03-27 16:14] #5662 closed

[2019-03-27 16:45] pdurbin commented on #5649
@landreev yeah, here's where the `CREATE DATABASE` happens: https://github.com/IQSS/dataverse/blob/v4.11/scripts/deploy/phoenix.dataverse.org/rebuild#L15

[2019-03-27 16:49] pdurbin commented on #5649
@kcondon @landreev my biggest concern about this pull request is that we may have missed something in the "Launching Glassfish on system boot" section of the installation guide. I didn't touch it (or look at it).

[2019-03-27 16:58] pdurbin commented on #5667
@tcpan hi! My quick feedback for you is that I despise all the colons (:) in Dataverse API URL paths. In REST Assured, the testing framework we use, I have to add `.urlEncodingEnabled(false)` and I agree that it's weird. In v2 of the API, I'd love to get rid of all of them. That said, I do believe colons are fine in query parameters (like the doi in https://dataverse.harvard.edu/dataset.xhtml?pers

[2019-03-27 17:02] 4tikhonov opened #5688 "Dataverse Store"
Hi all,

In the new SSHOC DataverseEU project we're thinking about building application layer around Dataverse as we need viewers and external tools to be plugged in easily, at different levels of maturity. The biggest problem is efficient apps maintenance as some tools can die and go out of the support, or have security holes or bugs.

I have a vision that it can be kind of Dataverse store availa

[2019-03-27 17:03] pdurbin commented on #5671
I missed the community call yesterday but I posted the notes at https://groups.google.com/d/msg/dataverse-community/X_F0ABmmEzo/1ynJK40UAwAJ

Afterward I chatted with @djbrooke @scolapasta and @TaniaSchlatter about this I think we more or less agree that if you generate a token for a user on their behalf, an in-app notification and email should be sent to them with a bit of a warning that it shoul

[2019-03-27 17:26] pdurbin commented on #5235
As I mentioned in IRC, from Vagrant dataverses and datasets are created for me:

![Screen Shot 2019-03-27 at 1 23 39 PM](https://user-images.githubusercontent.com/21006/55098131-a5960e00-5093-11e9-878a-cdeccca3b071.png)

If @mheppler or others want to play around in Vagrant to give some early feedback, I'm happy to help get it installed. Please note that I'm talking about the Vagrantfile over in t

[2019-03-27 17:43] pameyer opened #5689 "ORCID 3.0"
For future reference / planning; the ORCID 3.0 API (https://github.com/ORCID/ORCID-Source/blob/master/orcid-model/src/main/resources/record_3.0_rc1/README.md) has been announced to be the default API version in the next year; with continued support for 2.0 and 2.1.

[2019-03-27 17:48] djbrooke opened #5690 "Small Homepage Text Change"
Let's change "All" to "Total" as the screenshot specifies.

Pulled off of #5603.

![alltototal.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/577f13fa611c6a0e007ab513/125516c66e82c728ace21e0d46e99896378d97a69be8b301e81fe086264c22703d46f96925d0e77aec137d51095c1ba4150b5a12fcf98d23f7b76d22984019af80330b2b9b645bf9fa9015ad00bd2a8a4a80b5bb8a44c9eb3525e0829d02.png)

[2019-03-27 17:51] pdurbin commented on #5689
@pameyer thanks for the heads up. Will ORCID API 2.0 and 2.1 be supported indefinitely? I don't see anything about EOL dates in the README you linked.

[2019-03-27 17:54] pameyer commented on #5689
@pdurbin "for the foreseeable future" is the level of detail I've got.

[2019-03-27 18:32] djbrooke commented on #5679
- As part of this we should review the text on the dataset thumbnail edit page "Supported image types are JPG, TIF, or PNG and should be no larger than 500 KB. The maximum display size for an image file as a dataset thumbnail is 48 pixels wide by 48 pixels high."

[2019-03-27 18:39] PaulBoon commented on #2073
Thanks @mheppler for the PR, I just merged it and will have a closer look when I start working on those todo's.

[2019-03-27 18:43] djbrooke commented on #5584
- We should check on the implications for the Solr load as part of this. Does Solr load with the page (to get the facets), or only if the user attempts to filter/search on the page?

[2019-03-27 18:53] PaulBoon commented on #2073
I do have some questions about the mockup.

- What is the 'Cancel' button supposed to do; leave the page and go the the dashboard or simply clearing/resetting the input? I don't see much use for it either way.
- The 'Save Changes' is also less explicit than 'Move Dataset', also I don't think that these buttons are found in the other 'cards', so it is not helping much for the GUI consistency I thin

[2019-03-27 18:57] djbrooke commented on #4228
Closed in favor of #4077.

[2019-03-27 18:57] #4228 closed

[2019-03-27 19:16] qqmyers commented on #5627
@mheppler - I'm confused since my original code is working for btn-export, on both the file and dataset pages, and with the metadata tab popping up. The key line is 47:
`$( document ).on( "click", ".btn-export",function() {$(this).parent().find('a').click(function() {`
which watches document for clicks on current and future .btn-exports. Just setting a function directly on .btn-export fails as you

[2019-03-27 19:24] mheppler commented on #2073
@PaulBoon to answer your questions...
- Having a cancel btn on form pages is consistent with the rest of the app, as you guessed, clear the form and return the user back to the previous pg (dashboard)
- The save changes btn is also consistent with the rest of the app, the user already clicked a "Move Data" btn on the dashboard, so it is redundant

Our Style Guide isn't as robust as needed to cover

[2019-03-27 19:27] #5611 closed

[2019-03-27 19:32] mheppler commented on #5627
@qqmyers I have just returned to this branch and will take a look at your original code again. Thanks for clarifying. It is very likely that my localhost was choking on something else.

[2019-03-27 19:32] #5649 closed

[2019-03-27 20:16] pdurbin commented on #5686
Please note that I've already fixed the make data count error by adding the following line to https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-build-develop/configure

`scp src/test/java/edu/harvard/iq/dataverse/makedatacount/sushi_sample_logs.json phoenix.dataverse.org:/tmp/sushi_sample_logs.json`

Here's a screenshot for more context:

![Screen Shot 2019-03-27 at 4 15 26 PM](https:/

[2019-03-27 20:19] #5614 closed

[2019-03-27 20:50] pdurbin commented on #5630
It sounds like we're not sure if HarvardKey users will show up as "shib" or "Harvard University" so we should probably test that.

[2019-03-27 21:20] sekmiller commented on #5630
Here is the current key associating provider Ids to display values (from the Bundle)

authenticationProvider.name.builtin=Dataverse
authenticationProvider.name.null=(provider is unknown)
authenticationProvider.name.github=GitHub
authenticationProvider.name.google=Google
authenticationProvider.name.orcid=ORCiD
authenticationProvider.name.orcid-sandbox=ORCiD Sandbox
authenticationProvider.name.shib=

[2019-03-27 21:25] #5690 closed

[2019-03-27 21:45] #5630 closed

[2019-03-28 00:18] #5686 closed

[2019-03-28 00:32] pdurbin commented on #5644
@joseagaleano hi! I just thought I'd check if you're blocked. Do you need any help with this?

[2019-03-28 00:39] pdurbin commented on #5510
@lubitchv thanks for the bug report.

For the record, the demo server is running 3721306 (version 4.11). Here's a screenshot:

<img width="1361" alt="Screen Shot 2019-03-27 at 8 37 17 PM" src="https://user-images.githubusercontent.com/21006/55121309-56220300-50d0-11e9-82c4-a3be105a5804.png">

[2019-03-28 00:41] pdurbin commented on #4203
@poikilotherm pull request #5371 currently has merge conflicts. Do you feel like cherry-picking 0258d19 into a new branch and pull request?

[2019-03-28 00:44] pdurbin commented on #4045
@mdmADA hi! This issue is still assigned to you but please let us know if we should throw it back in the inbox instead. No pressure either way! Thanks.

[2019-03-28 00:48] pdurbin commented on #5104
@tcoupin please read today's update at https://github.com/IQSS/dataverse/issues/5667#issuecomment-477223664 by @tcpan and let us know what you think.

I'm starting to lose track of your pull requests:

- pull request #5199 Do not manage external DOI
- pull request #5105 Feat existing doi on creation

Are you still hoping to get one or both of these merged? I'm sorry that they have not gotten much

[2019-03-28 00:51] pdurbin commented on #4897
@thaorell hi! Should you continue to be assigned to this issue? Please let us know. Thanks!

[2019-03-28 00:53] pdurbin commented on #4448
Awesome progress on this issue.

Merged:

- pull request #5524
- pull request #5616

Next up: #5671

@lubitchv thanks for all your hard work on this!

[2019-03-28 00:55] pameyer commented on #5374
From process of elimination, it appears that the external setupIT -> install -> glassfish-setup.sh is where glassfish ends up not running.  glassfish-setup.sh runs to completion though.

At this point, I'm suspecting something related to the change from `asadmin restart-domain` to `asadmin stop-domain ; asadmin start-domain` (which if memory serves, was because the restart wasn't fully stopping be

[2019-03-28 00:59] pdurbin commented on #2043
@mdmADA hi! I just thought I'd mention that when I was at LibrePlanet last weekend I talked to a Dataverse user about the "requestbook" you have at ADA. For now, his work around is to make one file unrestricted, a PDF that he asks people to fill out to request access to the data. I think it's this PDF: https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/KFT8EZ/ACLHGA . Anyway, he

[2019-03-28 01:01] pdurbin commented on #209
Anyone interested in internationalization of Dataverse should subscribe to the newly-revived dataverse-internationalization-wg mailing list at https://groups.google.com/forum/#!forum/dataverse-internationalization-wg

Lots of good stuff happening, especially the many pull requests by @JayanthyChengan !

[2019-03-28 01:19] djbrooke opened #5694 "Privacy Policy URL update on the Homepage"
The Privacy Policy URL on the dataverse.harvard.edu points to:

http://best-practices.dataverse.org/harvard-policies/harvard-privacy-policy.html

and it should go to:

https://dataverse.org/best-practices/harvard-dataverse-privacy-policy

[2019-03-28 01:26] djbrooke commented on #5694
... and here I was planning to make the code change. :) Instead, it looks like this is a DB setting. Moving to dataverse.harvard.edu repo for someone to make the quick change on prod.

[2019-03-28 01:33] mdmADA commented on #2043
Thanks for passing that on, @pdurbin.

ADA has had several organisations express interest in the Request Access feature so it is great to add another to the list! 👍

M.

[2019-03-28 01:37] mdmADA commented on #4045
Yeah, as much as I would like to look at this,  I won't have time so you should probably throw it back into the inbox. 📥

[2019-03-28 01:41] tcpan commented on #5667
@pdurbin:  The colon in the doi string is parsed differently, I believe.  It's part of a QueryParam, rather than part of the Path.   I agree that colon after the "?" character appears to be fine.

I should have mentioned that I used Postman to construct the POST request.   Yes, @MohanaPriyaNarapareddy  and I are unblocked.

As for a solution - my personal recommendation would be to remove the colo

[2019-03-28 01:52] pdurbin commented on #5667
@tcpan we don't have any immediate plans to implement v2 of any Dataverse APIs but when we do I'll certainly advocate for the removal of colons from paths in URLs. Perhaps when v2 is available in beta (who knows when) I'll remember to reach out to you and others to test is out before we ship it. (Maybe I should start a list of people to contact?)

Am I understanding right that your solution is to

[2019-03-28 01:58] pdurbin commented on #4045
@mdmADA thanks. Done. I'm not sure if we'll still call it the inbox once we migrate off Waffle (#5651) but I unassigned you at least. Thanks for the feedback on this issue.

[2019-03-28 07:13] poikilotherm commented on #5235
Do you guys want me to get this into K8s?

[2019-03-28 10:15] pdurbin commented on #5235
@poikilotherm I'd say for now you are welcome to look at the approach and give feedback. Here's the "diff" so far: https://github.com/IQSS/dataverse-ansible/compare/37_sample_data

If you can help us troubleshoot why it works in Vagrant but not EC2, that would be helpful. The latest chatter is at http://irclog.iq.harvard.edu/dataverse/2019-03-27#i_89258

[2019-03-28 12:42] RightInTwo commented on #5104
Just a general +1 to keep this rolling, as the use case I presented in #5402 (adding existing PIDs which will not be managed in this instance of dataverse) would be possible then (if my understanding is correct).

Yes, but that would not solve all issues described in #5402.

[2019-03-28 12:56] RightInTwo commented on #5688
Hi Slava, I think this would be very useful!

a) I see it as a prerequisite that Dataverse + Docker is a stable and supported setup for building something as close to the core project as a "Dataverse Store". Is that the right way of thinking?

b) What kind of software would be relevant for this? Do you think it makes sense to feature a list of candidates here? Like...

- TwoRavens
- Jupyterhub
- s

[2019-03-28 13:22] RightInTwo commented on #5687
It has been like that for a while... Sorry for not reporting it!

[2019-03-28 13:24] pdurbin commented on #5687
😞

[2019-03-28 13:27] pdurbin commented on #5687
Here's the line that's throwing the NullPointerException

https://github.com/IQSS/dataverse/blob/v4.11/src/main/java/edu/harvard/iq/dataverse/authorization/providers/builtin/DataverseUserPage.java#L475

That is to say that `file` is null in the `file.getOwner()` line below:

                case REQUESTFILEACCESS:
                    DataFile file = fileService.find(userNotification.getObjectId())

[2019-03-28 14:10] donsizemore commented on #5235
@poikilotherm i found one of many errors of my ways and have unpushed commits... i'm somewhat actively working on this as i'm able.

[2019-03-28 15:23] pdurbin commented on #3038
@shlake thanks for the update. We discussed this issue (briefly) as a group yesterday.

[2019-03-28 16:21] djbrooke commented on #3038
Hey @shlake - we need to re-evaluate My Data as a whole instead of trying to fix individual issues as they come up. Since it's different than the usual view, we can expect more and more work to keep it in sync. This is not sustainable. I'll create an issue and edit this comment to add a link.

@scolapasta - we should set this up as a tech hours discussion in the next few weeks. Let me know if ther

[2019-03-28 16:22] djbrooke opened #5696 "Refactor/Revisit "My Data""
"My Data" is good and useful. While it appears very similar to our usual search result pages, it's built differently. This has resulted in some challenges (#3038 is the latest) as we basically need to maintain and troubleshoot different versions of the same view. In the interest of maintenance, we should simplify and consolidate this code where possible.

[2019-03-28 16:59] #5565 closed

[2019-03-28 17:42] JayanthyChengan commented on #5207
@scolapasta  Please check the pull request https://github.com/IQSS/dataverse/pull/5697 ,where I tired both FacetCategoryName and FacetLabels to be translated from metadatablock property files and added staticSearchField in bundle.properties

The staticSearchField are coming from SearchFields.java, so added all those fields in Bundle.properties

Haven't handled compound names in facetCategory.  Ple

[2019-03-28 17:47] sekmiller commented on #5677
The "enter key" v. "save button" was not a red herring. Somehow, the enter key was invoking the "Continue" button on the Delete Confirmation popup. Previously this popup is rendered, but not visible until you press the trash can button. I added code that leaves the popup unrendered until you press the trash can button.  That fixes the only issue I was able to recreate, that is in Firefox when you

[2019-03-28 18:51] tcpan commented on #5667
@pdurbin Re. v2 yes, please let us know.

Re fork:  I am using dataverse-docker, which checks out version 4.9.4 of dataverse as part of the build process.  For the import function, the code change is literally deleting a single character.  Therefore, I documented the process rather than created a fork.  I will create the fork when either 1. we encounter another instance of this problem, or 2. when

[2019-03-28 19:01] pdurbin commented on #5667
@tcpan just so I'm clear on this, the one character you are deleting is the colon in the "diff" below, right?

[code]

Just so you know, there is definitely interest from others in some development in this area of import and whatnot. This comment came in this morning: https://github.com/IQSS/dataverse/issues/5104#issuecomment-477578669

[2019-03-28 20:27] mheppler commented on #5627
@qqmyers Was able to confirm the `$(document).on("click", ".<CLASS-NAME>", function() {...` approach worked and have committed those revisions and updated my comment above to strike-through that to-do item.

I am sure there are further refactoring opportunities with the jquery code in dv_rebind_bootstrap_ui.js with this approach, but that's another issue.

Going to pass this issue back to the comm

[2019-03-28 21:20] tcpan commented on #5667
@pdurbin You got it.  Extremely simple in itself, but obviously affects all users of that REST function out there.  If you look at the next function in that file, "importDatasetDDI", it has the same Path pattern, and I suspect would fail in the same way.  Extrapolating from there, there are probably other REST URLs that are susceptible to the same problem.

As far as a fix goes, I see 3 possibilit

[2019-03-28 21:29] #5677 closed

[2019-03-28 21:33] pameyer commented on #5374
Current thinking is that the TTY relatedness was the right track, but not due to any centos related changes.  #5294 changed an `asadmin restart-domain` to `asadmin stop-domain ; asadmin start-domain`.  Without diving into `appserver-cli.jar`, it appears that when a tty disappears shortly after the asadmin command returns, the glassfish process dies.  This interpretation is consistent with the prev

[2019-03-28 22:27] pdurbin commented on #5667
@tcpan I'm fine with the conversation happening wherever. Here's an option "d" to consider:

d. Add a second method without the colon but leave the old method in for backward compatibility. Flag the old method as deprecated.

[2019-03-29 02:43] tcpan commented on #5667
@pdurbin  indeed.  :)

[2019-03-29 20:16] pdurbin commented on #5374
I tried the updated readme in pull request #5699 (the two commands at the top) and once again I'm able to use docker-aio to run the API test suite. Thank you, @pameyer !

I'll note that the test suite failed with testMakeDataCountGetMetric failure reported elsewhere and in https://github.com/IQSS/dataverse/issues/5686#issuecomment-477330388 I explained the `scp` workaround I implemented on the Jen

[2019-03-29 20:23] pdurbin opened #5702 "As a developer who theorically runs the API test suite before making pull requests, I'd like the tests in docker-aio to pass"
Once we merge pull request #5699 the next small chunk will be to fix the failing testMakeDataCountGetMetric test.

It takes a long time to run the entire test suite but here's how to exercise just the Make Data Count test:

`./conf/docker-aio/prep_it.bash`

`mvn test -Dtest=MakeDataCountApiIT -Ddataverse.test.baseurl=http://localhost:8084`

As I mentioned at https://github.com/IQSS/dataverse/issue

[2019-03-29 20:25] pdurbin commented on #5374
I just created #5702 to track this. As I've said elsewhere I am unable to run the full API test suite against Glassfish running on my Mac laptop because the tests crash Glassfish. 😞

[2019-03-29 20:30] djbrooke commented on #4430
I'm going to close this with the desired solution being to create an account at the new institution, and then, using the new merge functionality (#5514), to merge that old account into the new.

[2019-03-29 20:30] #4430 closed

[2019-03-29 20:32] pdurbin commented on #4430
@djbrooke I still like my "Convert to Username/Email Account" button idea above because it's self-service. No need to email support. But with 881 open issues I certainly appreciate a little housekeeping here in the issue tracker. 😄

[2019-03-29 21:28] #5374 closed

[2019-03-29 22:57] pameyer commented on #5702
@pdurbin It should be straightforward to add it to the container; it just slipped through the cracks in #5699 .

[2019-03-31 11:45] pdurbin commented on #4172
I just learned that Payara has an (unmerged) branch for Java 11 support, which I just wrote about at https://github.com/payara/Payara/issues/2296#issuecomment-478334106

[2019-03-31 11:47] pdurbin commented on #4259
I'm going to go out on a limb here and suggest that Payara will probably have support for Java 11 before Glassfish does. Payara has an (unmerged) branch they are encouraging users to test. Please see https://github.com/payara/Payara/issues/2296#issuecomment-478334106

[2019-04-01 15:58] mheppler commented on #5584
Changes to the files table source code on the dataset pg is being revised as part of _Enable the display of file hierarchy metadata on the dataset page #5572_  which will impact the same HTML files this issue touches. This will need some development coordination and manual merging to resolve the expected conflicts.

[2019-04-01 16:37] djbrooke commented on #2073
@PaulBoon thanks for the recent commits on the connected PR! Let us know when it's ready for us to review.

[2019-04-01 16:52] bricas opened #5707 "Failure to connect to mail server causes a timeout, eventual Glassfish crash"
FYI: Running Dataverse 4.11

I experienced a hard-to-diagnose issue where an action (e.g. publishing a dataset) would fail, but with no visible indication as to why.

I was able to figure out that our local SMTP relay wasn't online. Once that service was restored, the operations completed normally.

A number of tasks send out email notifications. Even if the SMTP server was offline, I would expect

[2019-04-01 17:05] donsizemore commented on #5707
@bricas at @pdurbin's suggestion I tried to recreate this on a test server but was able to publish successfully.

[2019-04-01 17:19] bricas commented on #5707
@donsizemore interesting. It was definitely the factor that corrected my issue. I had initially tried restarting glassfish/postgresql but still got stuck with just a blue spinner.

To explain our situation further, we have a postfix relay on localhost that simply ships messages to our institution's smtp server.

[2019-04-01 17:21] pdurbin commented on #5707
@bricas thanks for opening this issue. @donsizemore tried stopping postfix ( http://irclog.iq.harvard.edu/dataverse/2019-03-29#i_89642 ) but maybe you can help us dig deeper into this relay scenario. We need to know how to reproduce the issue.

Thanks also for your take on what you think the user experience should be when email is down or unavailable. From http://irclog.iq.harvard.edu/dataverse/20

[2019-04-01 19:06] mheppler commented on #5584
Added static placeholders for file table facets on dataset pg.

![Screen Shot 2019-04-01 at 3 06 37 PM](https://user-images.githubusercontent.com/687227/55352837-c8f3fb00-548f-11e9-9f22-a4d5b6d55ed9.png)

[2019-04-02 11:34] pdurbin opened #5709 "4.12 tag/release is inconsistent with the rest, not prepended with a "v""
I predict the lack of the "v" in the 4.12 release will cause problems downstream in projects like dataverse-ansible, dataverse-docker, and dataverse-kubernetes. Hopefully it's straightforward to add it.

<img width="503" alt="Screen Shot 2019-04-02 at 7 32 58 AM" src="https://user-images.githubusercontent.com/21006/55399674-c0480700-5519-11e9-9047-001ea366e3fd.png">

[2019-04-02 11:36] poikilotherm commented on #5709
Good catch @pdurbin!

Thanks for creating the issue, it would have broken my build in IQSS/dataverse-kubernetes#18 later on...

A quick fix would be very much appreciated!

[2019-04-02 12:01] pdurbin commented on #4152
@craig-willis hi! I'm just checking to see if you know about https://github.com/IQSS/dataverse-kubernetes

It's new, created by @poikilotherm

Also, I'd like to pick your brain about if the "create" SQL scripts we started creating are useful to you or not. For example, you can look at https://github.com/IQSS/dataverse/blob/v4.11/scripts/database/create/create_v4.11.sql

The reason I ask is that be

[2019-04-02 12:55] djbrooke commented on #5709
All set!

[2019-04-02 13:02] pdurbin commented on #5709
@djbrooke thanks but can we delete the old tag? It's still there:

![Screen Shot 2019-04-02 at 9 02 02 AM](https://user-images.githubusercontent.com/21006/55404524-102ccb00-5526-11e9-9564-d2bcd1d41f02.png)

[2019-04-02 13:08] djbrooke commented on #5709
@pdurbin I'm not sure how to do it through the Github UI. I'll do a little research, but may check in with you when I'm in the office.

[2019-04-02 13:11] pdurbin commented on #5709
@djbrooke sounds good. Below is an example of where the old "4.12" tag appears. We **could** also rename 4.0 to v4.0 and clean up the other weird tags while we're in there, if you want:

![Screen Shot 2019-04-02 at 9 10 06 AM](https://user-images.githubusercontent.com/21006/55405060-41f26180-5527-11e9-8857-07456feb8c84.png)

[2019-04-02 13:55] djbrooke commented on #3575
The 4.12 release that will allow the cleanup is out (including endpoints for #5514 and #5515), so we can now go ahead with the DB approach and include it in a future release.

[2019-04-02 14:11] pdurbin commented on #5478
@landreev not sure if you've seen the long list of other JVM options with dashes that are on the (future) chopping block: https://github.com/IQSS/dataverse-kubernetes/issues/11#issuecomment-477335158

[2019-04-02 14:21] donsizemore opened #5710 "update metricsurl verbiage to point to reporting tools"
per [phil](http://irclog.iq.harvard.edu/dataverse/2019-04-02#i_89822) we'd like to point the [metricsurl description](http://guides.dataverse.org/en/4.12/installation/config.html#metricsurl) to the [reporting tools](http://guides.dataverse.org/en/latest/admin/reporting-tools.html?highlight=reporting) section of the admin guide instead. pull request forthcoming.

[2019-04-02 14:35] djbrooke commented on #5709
Thanks @pdurbin for showing me how to delete tags through the UI. I deleted the "accessibility" tag, but am keeping 4.0 as it's tied to a release and I'm not sure about the "untagged-a..." one.

[2019-04-02 14:35] #5709 closed

[2019-04-02 15:00] craig-willis commented on #4152
Thanks for the nudge @pdurbin.  As discussed on Slack, due to resourcing constraints it looks like we will no longer be able to support the running Workbench instance.  So, it will make sense to remove references from your documentation going forward.

Also, this means that we will no longer be making use of the DDL scripts, which were certainly useful.

[2019-04-02 15:10] pdurbin commented on #4152
@craig-willis thanks for the update! I'm sorry to hear that the instance won't be available in the future but it sounds like we shouldn't be guiding future sysadmins to it so I just opened pull request #5711 to remove references from out guides.

Please ping us if workbench or something like it comes back! 😄

[2019-04-02 15:37] mheppler commented on #5473
There are now three facets in production in French.

[code]

With three different dataverses.

https://dataverse.harvard.edu/dataverse/amsre_footprint

[2019-04-02 15:42] landreev commented on #5572
@TaniaSchlatter

At the moment, this number is hard-coded as 10. (folder expanded if 10 or fewer items in it; collapsed otherwise). We'll change it once you decide on the final number. (And do we want to make it configurable, for other installations?)

In this paragraph, we are talking about the total number of the files in the dataset, correct? (this part is not implemented yet).

[2019-04-02 15:51] landreev commented on #5572
@mheppler

Only show it if there's at least 1 folder, and at least 2 files - something like that?

This still leaves a weird edge case, where there's 1000 files in the dataset, with only 1 of them in a folder... So we end up showing a "tree" that's essentially a vertical list of 999 files + 1 folder... But it is a very edge case; and that by itself would encourage the owner to finish adding folder

[2019-04-02 16:08] TaniaSchlatter commented on #5572
Thanks @landreev. Let's have the rule for display be: always open the first folder in the hierarchy (regardless of the number of files it contains), and leave the other folders closed. I think that will make the functionality reasonably clear in the UI, and simplify the rule.

[2019-04-02 16:20] scolapasta commented on #5473
I cleaned up the ones in production by reindexing via admin API. They seemed to have been created in later January / early February. Is it possible we had multiple languages enabled briefly?

In other words, I didn't do anything about what is likely the underlying cause. but fixing individual one is easy.

[2019-04-02 16:25] landreev commented on #5572
@TaniaSchlatter OK, that makes a lot of sense (and simplifies things). I'll make a change to the branch.

[2019-04-02 17:22] mheppler commented on #5473
Was able to replicate the duplicate translated category values in my localhost.

![Screen Shot 2019-04-02 at 1 18 19 PM](https://user-images.githubusercontent.com/687227/55422632-10d75880-554a-11e9-9aa0-959c99051e17.png)

1. Toggle language to French
2. Create dataverse
3. Publish dataverse
4. Toggle language to English, find French category value listed as duplicate facet

[2019-04-02 17:39] landreev commented on #5572
ok, done.

[2019-04-02 17:45] qqmyers opened #5713 "Metadata about files in /datasets/<id>/versions>/<ver> api doesn't provide creationDate"
In creating the file previewers at https://github.com/QualitativeDataRepository/dataverse-previewers, I use the /api/datasets/<id>/versions/<ver> api call to retrieve information about the file to show in a header. I can get the file name (which may be version specific) this way, but I didn't see a way to also show the file creation date. I added that locally at QDR, but didn't realize it hadn't b

[2019-04-02 17:53] #4152 closed

[2019-04-02 17:59] #5710 closed

[2019-04-02 18:29] matthew-a-dunlap commented on #5674
Overview of the connected PR:
- Created 3 new File API endpoints: `GET files/{id}/metadata`, `GET files/{id}/metadata/draft`, ``POST files/{id}/metadata`
   - Based off the existing `POST {id}/replace` code
   - The fileMetadata on the dataFile is replaced entirely by what is `POST`ed. So if you want to edit just one attribute you must get the metadata and then post it back.
   - Junk json provide

[2019-04-02 18:34] matthew-a-dunlap opened #5716 "Update DataFile creation/editing API permissions to superusers only"
Currently (via api) normal user can edit md5s and other file information that should be generated by Dataverse itself. Also users cana DB entry without a file on disk. This functionality is still needed for super-users but should be disabled otherwise.
   - Current known locations are import & create dataset
      - Import should already be superuser only
   - Error if a normal user uploads json t

[2019-04-02 18:35] pdurbin commented on #4255
@ferrys I just spoke with @matthew-a-dunlap about his pull request #5715 in which he's removing some python from our API Guide and I think his approach is valid. He's using curl to document the feature he added and I think it's better to focus on good curl examples rather than trying to maintain examples in multiple languages. That said, if you'd like to contribute your code above, you could put i

[2019-04-02 19:12] pdurbin commented on #5235
New stuff to test. Screenshot at https://github.com/IQSS/dataverse-ansible/issues/37#issuecomment-479149497

[2019-04-02 19:52] matthew-a-dunlap commented on #5593
Some actions items out of tech hours that we can act upon:
- Hello-world spike-test to see speed of deploying a hello world to glassfish (to understand what is the fastest possible).
- Automate and time our build/deploy process across multiple version (we could start by looking at the ones with major size spikes, or just run all the versions)
- Better understand Oliver and Pete's approaches to det

[2019-04-02 20:40] pdurbin commented on #5235
@donsizemore looking good! I'll paste a screenshot below. I'll take myself off because I think @mheppler and others might want to try it.

Here's my main.yml file: [main.yml.txt](https://github.com/IQSS/dataverse/files/3035847/main.yml.txt)

This is the command I'm running (BUT!!!):

    ec2-create-instance.sh -g main.yml

But I hacked my ec2-create-instance.sh to switch to this branch because the

[2019-04-02 22:46] pdurbin commented on #5235
Ok, https://github.com/IQSS/dataverse-ansible/pull/57 was merged so no hacking is necessary. @donsizemore and I are looking for beta testers and we'll use this issue to improve the docs at a future version of http://guides.dataverse.org/en/4.12/developers/deployment.html

[2019-04-02 22:54] donsizemore commented on #5235
we can have more and better sample data, BTW. this was more about plumbing.

[2019-04-03 00:31] pdurbin commented on #5235
@donsizemore right. I believe the way this is going is that @mheppler will try it out and he and I will try to rope you @kcondon @matthew-a-dunlap and whoever else into figuring out what will make this "spin up on ec2" more helpful to the design team. The ec2 script works very well for me but I love me some command line. We might need to write some more docs. Please stay tuned and thanks for all t

[2019-04-03 01:07] pdurbin commented on #961
We should probably close this issue in favor of #4448

[2019-04-03 13:44] kaitlinnewson opened #5717 "Accessibility - fix keyboard focus for popups/dialogs (e.g. support), change secondary form button (e.g. cancel) style"
Tested in 4.10 and 4.11 in both Scholars Portal and Harvard Dataverses, in Firefox and Chrome (OSX).

When opening an overlay, e.g. the Support form, the user's keyboard focus should go there. The overlay is automatically added to the end of the tab order, meaning the user has to tab through the whole page underneath before they can get to the overlay window.

[2019-04-03 13:55] TaniaSchlatter commented on #5717
Hi @Kaitlinnewson, thanks for opening this issue. We are working on improving accessibility when working on related functionality.  Its helpful to raise the visibility of this and other accessibility issues. Have you come across any best practices for addressing accessible popups?

[2019-04-03 14:14] kaitlinnewson commented on #5717
Hi @TaniaSchlatter, this article from uxplanet outlines some best practices (both for ux and accessibility): https://uxplanet.org/best-practices-for-modals-overlays-dialog-windows-c00c66cddd8c

[2019-04-03 16:17] pdurbin opened #5718 "As the creator of a dataverse I'd like to know how to make an "Add Data" button appear for non-logged in users to encourage user interaction"
Today I learned that I can make an "Add Data" button appear on my dataverse for non-logged in users by simply updating the permissions of my dataverse to switch away from "Anyone adding to this dataverse needs to be given access" (screenshots below).

The definition of done for this issue is an update to the User Guide to explain this.

My hope is that the presence of an "Add Data" button on my da

[2019-04-03 16:19] TaniaSchlatter commented on #5717
I also found an accessibility plugin for Bootstrap that addresses popup focus. I am not sure if this might be a fit, but the team will review these references and make a plan. https://github.com/paypal/bootstrap-accessibility-plugin.

[2019-04-03 16:33] mheppler opened #5719 "As a Developer of the Dataverse App Who Regulary Reads GitHub Issue Titles in the Slack Activity Feed and in Waffle Columns, I would like Issue Titles Text Limited to Report What's Important, and to Use Labels to Communicate Roles, Features, Et al"
Thank you for contributing an issue to the Dataverse Project! If this is a bug report, please let us know when the issue occurs, which page it occurs on, to whom it occurs, and which version of Dataverse you're using. If this is a feature request, please let us know what you'd like to see and give us some context - what kind of user is the feature intended for, and what inspired the request? No ma

[2019-04-03 16:38] djbrooke commented on #5719
@mheppler - well, the waffle part won't be an issue for much longer, at least.

We can discuss as a team the best approach.

[2019-04-03 16:43] JayanthyChengan opened #5720 "Move Resource Bundle property files to a new folder"
Planning to sync English propertyfiles between dataverse and https://github.com/GlobalDataverseCommunityConsortium/dataverse-language-packs repo.

To accomodate that moving all resource bundle property files into a new folder named **propertyFiles**

[2019-04-03 17:02] TaniaSchlatter commented on #5615
Related issue #5493

[2019-04-03 17:40] #5713 closed

[2019-04-03 18:23] djbrooke commented on #5539
We discussed in backlog grooming 4/3 and decided to think about this one a bit.

[2019-04-03 18:30] matthew-a-dunlap commented on #5716
Places where detatched creation and editing take place (maybe not exhaustive):
- dataverses api importDataset
- dataverses api createDataset
- datasets api updateDraftVersion
- DDI Import
- SWORD Import
- Harvest (?)

[2019-04-03 19:00] pdante-ubc commented on #4767
I'm getting basically the same issue, except it's failing even earlier in the path:  {"status":"ERROR","code":404,"message":"'/api/v1/access/datafile/' endpoint does not exist on this server. Please check your code for typos, or consult our API guide at http://guides.dataverse.org."}.

@matthew-a-dunlap, how was your environment in a "bad place"?

[2019-04-03 19:01] pdante-ubc commented on #4767
My call is to localhost:8080/api/access/datafile/:persistentId?persistentId=doi:10.5072/FK2/JSE79W/330XWG

[2019-04-03 19:11] pdurbin commented on #4767
@pdante-ubc what version of Dataverse are you running? Can you please start a thread at https://groups.google.com/forum/#!forum/dataverse-community or pop in http://chat.dataverse.org or email support@dataverse.org ? Thanks!

[2019-04-03 19:49] pdurbin commented on #5720
@JayanthyChengan I see @mheppler assigned himself as well but my feedback is that the API test suite is failing as of 96dd7ab. Please see https://github.com/IQSS/dataverse/pull/5721#issuecomment-479631517 for details. Can you please get it passing? Please let us know if you need any assistance. Thanks!

Here's how I tested it:

`ec2-create-instance.sh -g main.yml -b 5720-ResourceBundle-newFolder -

[2019-04-03 19:56] JayanthyChengan commented on #5720
Thanks @pdurbin .  I will look into it.

[2019-04-03 20:45] pdurbin commented on #5674
@matthew-a-dunlap here are the failing API tests I showed you: https://github.com/IQSS/dataverse/pull/5715#issuecomment-479651709

[2019-04-03 21:25] matthew-a-dunlap commented on #5674
This is actually broken in develop. I'm moving this back to code review but yea still needs to be fixed.

[2019-04-03 21:29] matthew-a-dunlap opened #5722 "DatasetsIT.java broken in develop"
Current broken tests:

[code]
[code]

[2019-04-04 02:50] pdurbin commented on #5722
What's weird is that phoenix isn't showing any errors on develop: https://build.hmdc.harvard.edu:8443/job/phoenix.dataverse.org-apitest-develop/353/testReport/

That was as of 08ded44 which is the tip of develop right now. 🤷‍♂️

[2019-04-04 12:02] pdurbin commented on #4714
I just noticed that Binder/BinderHub/repo2docker has a newish "content provider" framework: https://github.com/jupyter/repo2docker/tree/0.8.0/repo2docker/contentproviders

My understanding is that the default provider is git.

Other providers such as Dataverse could probably be added?

Whole Tale has already implemented "download files via a dataset's DOI or Handle" in Python at https://github.com

[2019-04-04 14:03] pdurbin commented on #5722
Huh, sure enough, develop is broken when I test 08ded44 on EC2 (so someone needs to look into phoenix):

[code]

[2019-04-04 15:32] pdurbin commented on #5722
Here's a handy link to the first line with a failure:

https://github.com/IQSS/dataverse/blob/08ded4499122851457547c93aa8b87788fc3d2bf/src/test/java/edu/harvard/iq/dataverse/api/DatasetsIT.java#L110

It's as if the dataset can't be created? Not sure.

I'm curious to know if the tests are passing in docker-aio or not.

[2019-04-04 15:59] pdurbin commented on #5235
@djbrooke as I mentioned at standup, how to use the "spin up" script is documented but beware of the typo that I fixed in pull request #5557 . You can probably just go ahead and merge it if you want.

[2019-04-04 16:01] pdurbin commented on #5235
@donsizemore I haven't tested the "bring your own sample data" feature you implemented. Do you feel like making a pull request to describe how to use it? Or just write a comment here? It's a tarball or something?

[2019-04-04 16:19] pdurbin commented on #5722
The tests pass in docker-aio:

[code]

Very strange. To summarize:

- @matthew-a-dunlap 's laptop: failures
- ec2 instance: failures
- phoenix: passing
- docker-aio: passing

Why? 🤔

[2019-04-04 18:20] djbrooke commented on #5719
Closing for discussion offline.

[2019-04-04 18:20] #5719 closed

[2019-04-04 19:09] pdurbin commented on #5720
@JayanthyChengan thanks! Heads up that some but not all of the failing tests are also apparently failing on the "develop" branch. For details, please see #5722

[2019-04-04 19:36] JayanthyChengan commented on #5720
@pdurbin :
I ran the API tests against Glassfish running on my laptop.  I was able to clear some of the tests, and committed the new code to this PR #5721 , and currently it's failing only for the tests as mentioned in #5722 .  Thanks

[2019-04-04 19:45] pdurbin commented on #5720
@JayanthyChengan thanks! If you have any clues for how to fix #5722 please feel free to comment in that issue or make a pull request. 😄

[2019-04-04 19:53] scolapasta commented on #5478
@carlosmcgregor thanks for the PR. We're planning in discussing this issue and the approach next week at our weekly tech hours.

[2019-04-04 20:20] TaniaSchlatter commented on #5235
We will discuss this at the next design standup/process meeting.

[2019-04-05 11:14] pdurbin commented on #2073
@PaulBoon hi! Are you blocked at all? Need any help getting this issue out of dev and into code review?

[2019-04-05 11:35] pdurbin commented on #2249
@dpwrussell @pameyer @leeper @wddabc @jeisner @nmedeiro @christophergandrud @pdeffebach @setgree @mdehollander (and anyone else who is following this issue) good news! Dataverse 4.12 has support for organizing files into folders!

Can you all please try it out at https://demo.dataverse.org and give us feedback? Here are some screenshots that show how to introduce a folder hierarchy to your dataset

[2019-04-05 12:02] mdehollander commented on #2249
@pdurbin Good that this works now with a zip file. Ideally I would like to see this also working with drag&drop. And that you can browser through folders in the interface in stead of listing the folder name for each file. But hey, thanks for making this already possible!