[2015-07-06 17:42] scolapasta commented on #283
Closing this issue as we currently don't have move. The issue of reindeing all child objects is covered in issue #2278.

[2015-07-06 17:42] #283 closed

[2015-07-06 17:58] pdurbin commented on #2318
Later I tried using "junk" as an API token and I was able to create a dataverse (also with dataverseAdmin as the creator). Then I restarted Glassfish and got the expected `"message": "Bad api key 'junk'"` error. This is all on my laptop. Very strange. I'm pretty sure I can reproduce it by re-running my https://github.com/IQSS/dataverse/blob/master/scripts/database/homebrew/rebuild-and-test script,

[2015-07-06 18:01] scolapasta commented on #401
This is for fields like Timer period (start) and time oeriod (end) to define them as one field type instead of 2.

[2015-07-06 18:06] eaquigley commented on #435
Closing this ticket. Duplicate of #350

[2015-07-06 18:06] #435 closed

[2015-07-06 18:07] scolapasta commented on #437
@kcondon I believe this is no longer true, Kevin could you retest?

[2015-07-06 18:21] sekmiller commented on #2132
To add a unique constraint - this should prevent bad data from being added:

ALTER TABLE datasetversion
  ADD CONSTRAINT uq_datasetversion UNIQUE(dataset_id, versionnumber, minorversionnumber);

[2015-07-06 18:28] eaquigley commented on #502
Need to look into google analytics and see how users are searching in Dataverse to make this a data driven decision instead of us trying to decide what is best.

[2015-07-06 18:38] eaquigley commented on #537
Discussing during 7/7 meeting. Was brought up by @mheppler

[2015-07-06 18:40] eaquigley commented on #563
Closing as this is a 3.6 bug, not a 4.0 one.

[2015-07-06 18:40] #563 closed

[2015-07-06 18:51] eaquigley commented on #645
Closing as this is part of #182 and when that is discussed, this needs to be part of the discussion.

[2015-07-06 18:51] #645 closed

[2015-07-06 18:51] eaquigley commented on #182
If there are "many" dataverses under root, should the breadcrumb functionality change?

Please see attached screenshot with dozens of dataverses under root.
![7f5eaf80-0e7b-11e4-8baa-12a56250a3be](https://cloud.githubusercontent.com/assets/5922904/8530344/7fef5d12-23ee-11e5-975b-dcaa2694364c.png)

[2015-07-06 19:07] pdurbin commented on #2318
I deployed a war file built from c02e100 (part of 4.0.2 branch) to https://shibtest.dataverse.org and I'm getting similarly strange behavior. The "trees" dataverse has an admin of `@dataverseAdmin` rather than `@spruce` like I expect.

The scripts I'm running are very minor variations on https://github.com/IQSS/dataverse/tree/master/scripts/deploy/apitest.dataverse.org

![permissions_-_trees_datav

[2015-07-06 20:01] pdurbin commented on #2318
I did a little more testing on https://shibtest.dataverse.org and I'm quite confident that we didn't have these problems as of the 4.0.1 tag.

[2015-07-06 20:17] pdurbin commented on #183
I'd say to be more fully SWORD-compliant we still need this. My understanding is that it would be a representation of a dataset as a zip file.

[2015-07-06 21:28] eaquigley commented on #1877
example of a dataset with a lot of files:
https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/NGQCIPIDUK

[2015-07-06 21:50] michbarsinai commented on #2318
I had similar issues for the initial implementation of #2123. The issue there was stale data in the injected fields of AbstractApiBean - namely, the request http headers containing the API key. The issue was resolved by using `@Context` to inject a `HttpServletRequest` rather than `@HeaderParam`.
I was not able to reproduce this issue (stale `@HeaderParam`) on a clean GF project, and switching to

[2015-07-07 08:39] bencomp commented on #840
I started on a list of configuration items/settings that need to be documented in #2283.

[2015-07-07 12:19] pdurbin commented on #2318
@michbarsinai interesting. And disturbing. Your "stale data" theory would explain why the creator unexpectedly becomes `@dataverseAdmin` since that's the user that creates the root dataverse. Also, as I was telling @scolapasta I don't believe the SWORD API is affected by this bug. When I go to create a dataset via SWORD it seems to always look up the correct user properly. I'm guessing this is bec

[2015-07-07 12:28] pdurbin commented on #2318
@scolapasta I'm giving this to you to assign to someone. I went ahead and marked this as a critical bug. Heads up to @kcondon .

[2015-07-07 14:03] raprasad commented on #2303
Last items:
 - [ ] change in MyDataPage
 - [ ] delete SearchServiceBeanMyData.java

[2015-07-07 14:58] raprasad opened #2320 "MyData Hide Pager"
part of #2302

---

- [x] Hide pager
- [x] Make result message in separate div
- [x] Add remaining results variable to bottom link

[2015-07-07 15:25] pdurbin commented on #2191
@eaquigley @mheppler and I met this morning to discuss this bug as well as #537 which is related. I took some notes in a Google doc: https://docs.google.com/document/d/1p8zXIbzlACxfFhumkZN0_niyOM7V5LR8j_x3cOxkboE/edit?usp=sharing

We decided to try option 2 after all, after playing around with a "frag size" of 320. I made a build (number 21) and deployed it to dvn-build and dataverse-internal, whe

[2015-07-07 15:47] eaquigley opened #2321 "Installation Guide: Updates from tickets sent to RT"
Since releasing the code for 4.0, there have been several RT tickets that have come in with questions about installing. The installation guide should be updated to have the answers to these questions.

[2015-07-07 15:50] pdurbin commented on #537
Right. Here are my notes from that meeting that explain some of the problems: https://docs.google.com/document/d/1p8zXIbzlACxfFhumkZN0_niyOM7V5LR8j_x3cOxkboE/edit?usp=sharing

My plan is to spend an hour poking at the code to see what can be done and estimate better the scope of work.

[2015-07-07 18:31] pdurbin opened #2322 "Solr: load balancing, fault tolerance, and high availability"
As of Dataverse 4.0 it is assumed that Solr is only running on a single host. In #1083 we added a configuration option so that Solr doesn't have to run on localhost but there are several problems with our current approach:
- The server running Solr is a single point of failure: #1042
- Only having one server for indexing might be a performance bottleneck: #50

Ideally, this ticket would encompass

[2015-07-07 19:01] pdurbin commented on #2321
For RT, we've been using [a spreadsheet](https://docs.google.com/spreadsheets/d/1EWDwsj6eptQ7nEr-loLvdU7I6Tm2ljAplfNSVWR42i0/edit?usp=sharing) to list tickets in which people are installing Dataverse 4.

Naturally, https://groups.google.com/forum/#!forum/dataverse-community would be a good place to look for feedback as well.

Probably the Installation Guide needs a full reorg. @bencomp started wor

[2015-07-07 19:28] #2303 closed

[2015-07-07 19:28] #2305 closed

[2015-07-07 19:29] raprasad commented on #2312
Got it

[2015-07-07 19:29] #2312 closed

[2015-07-07 19:31] raprasad opened #2323 "Add selected tags for my data (publication status + roles)"
part of #2302

----

![account_-_roles_filter___mybalsamiq](https://cloud.githubusercontent.com/assets/1036060/8555315/3dced898-24bd-11e5-84fb-cd696623e3a0.png)

[2015-07-07 19:40] sbarbosadataverse opened #2324 "html in 4.0: target attribute should be allowed for <a> tags"
Gustavo asked to have this

[2015-07-07 19:55] raprasad commented on #2324
See MarkupChecker.sanitizeBasicHTML

[2015-07-07 20:29] raprasad opened #2325 "add "is_restricted" to solr cards"
part of #2302

---

Logic available in search-include-fragment.xhtml. e.g. ```{result.entity.restricted and !permissionsWrapper.hasDownloadFilePermission(result.entity)}```

[2015-07-07 20:32] sbarbosadataverse opened #2326 "Terms of Use: Add terms of use field to Templates in 4.0"

[2015-07-07 20:44] #2306 closed

[2015-07-07 20:45] pdurbin commented on #2325
I think being able to facet on if a file is restricted or not would be very interesting! From the home page I mean. /cc @eaquigley @mheppler @scolapasta @mcrosas

[2015-07-07 20:46] #2314 closed

[2015-07-08 01:36] sbarbosadataverse opened #2327 "UNFs should be displaying in citation for Murray Dataverse (and more) datasets"
Datasets with tabular data not displaying UNF in citation

[2015-07-08 02:27] raprasad commented on #2309
In the tab, now needs to be styled

[2015-07-08 02:28] #2309 closed

[2015-07-08 02:31] raprasad opened #2328 "mydata bug: getting 1 result but no cards"
part of #2302

---

Solr is saying 1 result -- is card getting lost while formatting?
![role_permission_relationships_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/8561743/ddca3146-24f7-11e5-8028-216070b595c5.png)

[2015-07-08 02:33] raprasad commented on #2317
check with mike on styling. may require removing bootstrap divs

[2015-07-08 12:51] raprasad commented on #2324
fyi: no time to do this before end of week

[2015-07-08 12:52] mcrosas commented on #2325
Also, it would be good to carry these facets to File Tabs in a dataset, as discussed with @eaquigley

[2015-07-08 13:36] garthg commented on #2191
Hi @pdurbin and @eaquigley ,

I just wanted to say that I'm in favor of "option 2" as discussed, and I'm glad to hear that we're moving in that direction.

Garth

[2015-07-08 14:02] pdurbin commented on #2191
@garthg cool. Thanks.

Meanwhile, I've been playing around Solr trying to understand some strange fragsize behavior I was demonstrating to @eaquigley and @mheppler yesterday.

"The size, in characters, of the snippets (aka fragments) created by the highlighter" is what fragsize means according to https://wiki.apache.org/solr/HighlightingParameters#hl.fragsize . Setting fragsize to 0 should mean "t

[2015-07-08 15:17] pdurbin commented on #2191
Yeah, not hard to reproduce with the sample data from Solr. I just emailed the solr list about it: http://lucene.472066.n3.nabble.com/unexpected-hl-fragsize-behavior-td4216356.html

[2015-07-08 15:38] sbarbosadataverse commented on #2310
Janina has additional changes to make, as suspected.

On 7/6/2015 1:14 PM, Philip Durbin wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Check-out Dataverse 4.0 Demo!
http://dataverse-demo.iq.harvard.edu/

Join our Dataverse Community!
https://groups.google.com/forum/#!forum/dataverse-community

[2015-07-08 15:40] pdurbin commented on #2310
@sbarbosadataverse ok, please feel free to update the branch we started: https://github.com/IQSS/dataverse/tree/2310-GSD

[2015-07-08 15:46] sbarbosadataverse commented on #2310
Ok will do

On 7/8/2015 11:41 AM, Philip Durbin wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Check-out Dataverse 4.0 Demo!
http://dataverse-demo.iq.harvard.edu/

Join our Dataverse Community!
https://groups.google.com/forum/#!forum/dataverse-community

[2015-07-08 16:08] pdurbin commented on #2313
I'm closing this because the real bug is #2318.

[2015-07-08 16:08] #2313 closed

[2015-07-08 16:31] eaquigley commented on #2209
Above the user name field, add in the following,
"Why have a Dataverse account? To create your own dataverse and customize it, add datasets, and request access to restricted files, if available."

@mcrosas does that sound good or should there be more in that little blurb?

[2015-07-08 16:36] pdurbin commented on #2328
@raprasad @sekmiller does this problem ever happen with non-mydata search?

[2015-07-08 16:49] scolapasta commented on #2038
entityId is now searchable

[2015-07-08 17:05] pdurbin commented on #2038
Right. This was merged from the "mydata" branch into the "4.0.2" branch the other day.

[2015-07-08 17:24] raprasad commented on #2302
![account_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/8577134/acdd53f6-2574-11e5-9161-2e693db56470.png)

[2015-07-08 17:43] pdurbin commented on #537
I started [some notes](https://docs.google.com/document/d/1Xfxppo3QPnfDn61MF-5fbI6-8zr_mx69kwPR5GmLBKg/edit?usp=sharing) as I looked into this issue. I've afraid it's a non-trivial change to dig into all the highlighting code, which could use some cleanup. Also, #1589 is related so we might want to address both issues in the same dev cycle (or not).

The crux of this issue seems to be knowing the

[2015-07-08 18:41] pdurbin commented on #2324
All set. Passing to QA.

[2015-07-08 18:55] raprasad commented on #2328
Fixed.  Was pagination issue.

[2015-07-08 18:55] #2328 closed

[2015-07-08 18:57] sekmiller commented on #2081
As discussed, my data will include all those dv objects (dataverses, datasets and datafiles) where the signed in user has an assigned role as an individual or as a explicit member of an explicit group.

Functionality is complete. Mike is finishing up the UI under another ticket.

[2015-07-08 20:36] mcrosas commented on #2209
looks good, perhaps a small change:

"Why have a Dataverse account? To create your own dataverse and customize it, add datasets, or request access to restricted files."

[2015-07-08 21:27] scolapasta commented on #1973
added to scripts
(once create commands clean up is done, this can be done in the code.)

[2015-07-08 21:27] scolapasta commented on #1994
added to scripts to set it = to create date

[2015-07-09 13:56] pdurbin commented on #2187
@scolapasta as we discussed, this issue unfortunately involves more work than simply updating the SQL reference data. Two of the three fields are problematic.

dcterms:spatial is no problem. We could easily add support for this.

dcterms:language can't be easily supported because it's backed by a controlled vocabulary and I get and `JsonParseException: incorrect  typeClass for field language, shou

[2015-07-09 14:00] sekmiller commented on #1937
Links to the linking dataverse have been added to the success messages for link dataset and link dataverse.

[2015-07-09 14:01] sekmiller commented on #1937
Fix checked into 4.0.2 branch 07/09 AM.  Need a new build before testing may occur.

[2015-07-09 14:04] bencomp commented on #1934
I was told that Apache very briefly gets root access to 'claim' ports under 1000 (80 and 443) and then goes into a non-root mode for normal operation.

[2015-07-09 14:08] bencomp commented on #2165
I like this autogeneration of the version number file. Can this be implemented?

[2015-07-09 14:38] pdurbin commented on #1934
Right, "In typical operation, Apache is started by the root user, and it switches to the user defined by the User directive to serve hits." http://httpd.apache.org/docs/2.4/misc/security_tips.html

[2015-07-09 14:42] pdurbin commented on #2165
@bencomp this ticket is in QA but please feel free to open a new issue describing what you're looking for.

[2015-07-09 15:05] sekmiller commented on #2132
Added a unique constraint to datasetversion object so new installations will have the constraint added automatically.

[2015-07-09 15:16] #2317 closed

[2015-07-09 15:17] raprasad commented on #2320
done

[2015-07-09 15:20] pdurbin commented on #2318
Rather than using **my** scripts that (I think) only I use and that I mentioned at https://github.com/IQSS/dataverse/issues/2318#issuecomment-118939414 the easiest way I've found to reproduce this bug is to uncomment the "setup-optional.sh" script in "setup-all.sh" and observe that Pete's dataverses have dataverseAdmin as the creator (admin role) rather that Pete.

[2015-07-09 15:44] eaquigley commented on #484
Closing ticket as we do not have a use case now for this. Will create a new one if this comes up from users.

[2015-07-09 15:44] #484 closed

[2015-07-09 15:49] eaquigley commented on #585
Based on comments in this ticket and additional research, @mcrosas will create requirements for this ingest.

[2015-07-09 15:57] eaquigley commented on #617
This use case will be covered with the Dataverse and DataTags integration. Closing ticket.

[2015-07-09 15:57] #617 closed

[2015-07-09 17:59] kcondon opened #2329 "My Data: New user creates first dataverse, not datasets, does not appear yet in my data until dataset added."
My Data: New user creates first dataverse, not datasets, does not appear yet in my data until dataset added.

1. create user
2. create dataverse
3. go to my data, see no dv
4. add dataset
5. go to my data, see dv and dataset
6. add another dv, see that in my data
7. delete dataset, see neither dv in my data.

[2015-07-09 18:01] kcondon opened #2330 "Documentation: Create Harvard Dataverse architecture schematic, publish to dataverse.org"
Documentation: Create Harvard Dataverse architecture schematic, publish to dataverse.org

[2015-07-09 19:13] sekmiller commented on #2329
Fix checked in

[2015-07-09 19:44] scolapasta opened #2331 "Consider having Ingest run on separate server / Modularize"

[2015-07-09 20:52] eaquigley opened #2332 "My Data: Show Count for DVObject Types Even When Not Checked"
Requested during user testing of my data.

---

part of #2302

[2015-07-09 20:54] eaquigley opened #2333 "My Data: Files Aren't Checked When a Filter Happens"
On homepage, when a user does a search, the files box automatically gets checked. This doesn't happen on the my data page. Need to change this to behave the way it does on the homepage.

Discovered during user testing.

[2015-07-09 20:55] eaquigley opened #2334 "My Data: Add Text Above the Filter Bar Saying What this is"
Have text that says, "Here are all the dataverses, datasets, and files you have access to. You can filter through them by publication status and roles."

[2015-07-09 20:56] eaquigley opened #2335 "My Data: Spinner Continues after moving to different tab"
Discovered during usability testing:

When a user clicks on a checkbox in the my data then goes to a different tab, the spinner continues to run. This shouldn't happen.

[2015-07-09 21:02] eaquigley opened #2336 "Guestbook: Creation Date Broken"
In the guestbook page for this dataverse: https://dataverse.harvard.edu/dataverse/emiguel the Creation Date for the guestbook is showing as January 1, 1970. That cannot be right.

[2015-07-09 21:07] raprasad commented on #2332
@eaquigley
Would it make a difference if these counts were retrieved a single time--when the user goes to the mydata page?
e.g. If the person went to another part of dataverse and returned, the totals would be recalculated.

[2015-07-09 21:08] #2320 closed

[2015-07-10 02:59] landreev commented on #2262
Is this still needed?
Because the conclusion of the meeting we had with Vito was that he was happy with the way it was.
Once we explained that the numeric values-to-labels mapping was already provided in the DDI metadata.
Personally, I would hold on implementing this extra API functionality until we have a need/use case for it.
And as for the ingest aspect of it, I am very confident that this is t

[2015-07-10 03:05] mcrosas commented on #2262
Let's check with @tercer before closing it.

[2015-07-10 12:54] aawinburn opened #2337 "Error message after editing dataset name"
If I edit the name of a dataset that's already uploaded, I get an error message (picture below) when I try to open the dataset in TwoRavens. The file was uploaded as .rdata.

![error](https://cloud.githubusercontent.com/assets/9394843/8618931/a9fd5c04-26e0-11e5-9cc7-59cf28037443.png)

[2015-07-10 13:05] pdurbin commented on #2337
This issue was previously reported (and fixed) in #2250.

[2015-07-10 15:02] pdurbin commented on #2318
From some (minimal) testing I've done d9f866a seems like a good fix. Thanks @michbarsinai !

[2015-07-10 16:18] kcondon commented on #2055
To close or not to close, that is the question. Closing! Take that Hamlet!

[2015-07-10 16:18] #2055 closed

[2015-07-10 16:44] kcondon commented on #2294
This approach was sidelined because we found a fix for the ajp approach. Closing.

[2015-07-10 16:44] #2294 closed

[2015-07-10 16:52] kcondon commented on #2237
OK new version info in place, closing.

[2015-07-10 16:52] #2237 closed

[2015-07-10 17:11] kcondon commented on #2208
OK, spoke with Mike, it was only for the search fragment and the no results message was replaced by a custom message:
There are no dataverses, datasets, or files that match your search. Please try a new search by using other or broader terms. You can also check out the search guide for tips.

Closing

[2015-07-10 17:11] #2208 closed

[2015-07-10 17:56] mheppler commented on #2334
Added help/info text to My Data tab.

[2015-07-10 18:11] kcondon commented on #1594
OK, noop, closing.

[2015-07-10 18:11] #1594 closed

[2015-07-10 18:30] kcondon commented on #2334
Text in place, closing.

[2015-07-10 18:30] #2334 closed

[2015-07-10 18:40] kcondon opened #2338 "My Data: When creating a new dataset in root dv, does not appear in my data."
When creating a new dataset in root dv, does not appear in my data.
1. create a new account
2. add dataset to root dv
3. check my data, nothin'
4. publish, check my data, nothin'
5. add file, check my data, no dataset but see file.

[2015-07-10 19:21] raprasad commented on #2338
first things to check:
-  Are the entityIds and parents being picked up in the postgres permission queries?
-  Are they included in the solr filter queries?
     - This line prints the filter queries: ```msgt("myDataFinder.getSolrFilterQueries(): " + myDataFinder.getSolrFilterQueries().toString());```
- If the solr query is correct, are the objects found?

[2015-07-10 19:49] eaquigley commented on #2220
done in a commit in the dataverse.org repo (https://github.com/IQSS/dataverse.org/commit/f300c7b08bb8299f51e9b085ada03567fcd7298c) and can be found here https://github.com/IQSS/dataverse.org/blob/master/docs/best_practices/source/harvard-policies/harvard-preservation-policy.rst

Passing to QA

[2015-07-10 19:53] kcondon commented on #2329
Dataverse doesn't appear at all now, even after adding dataset.

[2015-07-10 20:16] kcondon opened #2339 "My Data: Unpublished draft of a published dataset does not show up as unpublished tag or filter."
Unpublished draft of a published dataset does not show up as unpublished tag or filter.

1. Create a dataset, publish
2. Create a draft of that dataset
3. Go to my data, see no unpublished tag on draft, click unpublished, see 0 count.

[2015-07-10 20:23] kcondon opened #2340 "Notifications: Request access notification appears as object was deleted message."
When I request access to a restricted file in v2 of a published study, was public in v1, made restricted in v2, notification is sent to the creator but it says this:

The dataverse, dataset, or file for this notification has been deleted.July 10, 2015 4:21 PM EDT

[2015-07-10 20:39] kcondon opened #2341 "My Data: When granted access to restricted file, the file does not appear in My Data as file downloader."
When granted access to restricted file, the file does not appear in My Data as file downloader.

1. Create restricted file
2. Request access by another user
3. Grant access
4. View My Data, notice no files are present.

[2015-07-10 20:54] kcondon opened #2342 "My Data: When granted a role to dataset by another user, dataset does not appear in my data."
When granted a role to dataset by another user, dataset does not appear in my data.

1. User creates dataset
2. User grants another user contributor (or admin) role in that dataset
3. Check my data, dataset does not appear.

[2015-07-10 21:00] kcondon opened #2343 "My Data: Get unexpected server error when logging in, server log says My Data"
[2015-07-10T16:58:37.911-0400] [glassfish 4.1] [WARNING] [] [javax.enterprise.web] [tid: _ThreadID=1374 _ThreadName=jk-connector(4)] [timeMillis: 1436561917911] [levelValue: 900] [[
  StandardWrapperValve[Faces Servlet]: Servlet.service() for servlet Faces Servlet threw exception
java.lang.NullPointerException
	at edu.harvard.iq.dataverse.mydata.MyDataPage.getRoleInfoForCheckboxes(MyDataPage.java:

[2015-07-10 21:03] kcondon opened #2344 "Notifications: Add/ remove dataset roles notifications appear as blanks, dates only"
When I assign a user a contributor role in a dataset, then later remove that role, these 3 entries appear in the notification tab:

July 10, 2015 5:01 PM EDT
July 10, 2015 5:01 PM EDT
July 10, 2015 5:01 PM EDT

[2015-07-10 21:06] dliburd commented on #2276
Verified: The box appears in Manage Templates Page.

[2015-07-10 21:06] #2276 closed

[2015-07-10 21:44] dliburd commented on #1997
Final contact was sent.

[2015-07-10 21:44] #1997 closed

[2015-07-10 22:14] kcondon opened #2345 "My Data: User who has contrib role at parent dv gets admin role for dataset and child dv in listing."
User who has contrib role at parent dv gets admin role for dataset and child dv in listing.
1. Create a dataverse
2. Create a dataset
3. Create a child dataverse
4. Grant contributor role on the parent dv to another user.
5. Check my data on the other user and that user sees both the dataset and child dv and has admin role on both.

[2015-07-10 23:29] kcondon opened #2346 "My Data: When assigning admin role to parent dv to user, they should not see sub dv due to "is root" setting."
When assigning admin role to parent dv to user, they should not see sub dv due to is root perm.
1. Create a parent dv
2. Create a child dv
3. Grant admin role to another user at parent dv
4. Go to my data as grantee user, see you are admin to child dv.
5. Click child dv, you are prompted to log in  (no real perms)
6. Check actual perms at child dv and see no admin role for grantee (as designed, re

[2015-07-10 23:53] landreev commented on #2223
I'm confused. I'm pretty sure we agreed to keep the version number in the war file name.
I thought this was the ticket related to how the installer was looking for the war file, and where the version number was specified, and all that... And I spent most of the day today working on it. OK, that was #2165.
OK, let's just close this one. I don't think anybody really wants to rename the war file at t

[2015-07-10 23:55] landreev commented on #2223
(that said, if this ticket was about renaming the war file "dataverse.war" in the installer zip bundle - that was done, a while ago)

[2015-07-10 23:57] landreev commented on #2165
OK, I have removed the VersionNumber.properties file. The version number is now defined in just one place - pom.xml.
The application gets the version number from the pom properties file that Maven places into the war file.
And the installer gets it directly from pom.xml, when in the "dev" mode.
So... we may finally be done with this long-playing ticket.

[2015-07-11 00:02] landreev commented on #2229
Added support for handling commas that are embedded in double quoted character strings.
This should suffice for now (and covers the original requester's use case). If anyone asks for it, we could add support for escaped commas ("\," - ?) and/or allowing people to specify custom string wrapping characters (other than double quotes that is).

[2015-07-13 03:55] landreev commented on #1907
Should be working now, please re-test.

[2015-07-13 05:14] landreev commented on #2270
The TwoRavens doc should be up-to-date and accurate at this point. (Vito has actually added most of it).

[2015-07-13 14:11] eaquigley commented on #2209
Looks good to me @mcrosas  Passing to 4.0.3 for this to be implemented.

[2015-07-13 14:21] eaquigley opened #2347 "Both "Draft" and "Published" dataset cards display on dataverse pg"
@sbarbosadataverse has been receiving feedback that it is confusing and not necessary to see two different cards for a dataset, the published and the draft. Users want to be able to see only one card per dataset so if there is a published version and a draft version, they would prefer to see the draft version as that is the one they are working on.

[2015-07-13 15:03] suenjedt commented on #923
An update from the meeting:
- There is a preference from the ORCID side to start with Oauth and Phase 2
- However, there are examples, e.g. by ANDS where Phase I equivalent widgets are built http://developers.ands.org.au/widgets/orcid_widget/.
- Discussion shows preference to start with Phase 1 as planned, with suggestions for ORCID records (similar to ANDS integration)

----

quick update: I aske

[2015-07-13 16:24] pdurbin commented on #2165
@landreev I'm going to move out of QA because we're seeing "v. 4.UNKNOWN" on my laptop and "caught IOException trying to read the Manifest" which seems to be: https://github.com/IQSS/dataverse/blob/570d3ff34f6a6b235f05c376f6577caa5c641dd5/src/main/java/edu/harvard/iq/dataverse/util/SystemConfig.java#L138

[2015-07-13 16:42] pdurbin opened #2348 "Rename 4.0.2 to 4.1"
We've decided to rename 4.0.2 to 4.1. We're drawing some inspiration from http://semver.org where MINOR from MAJOR.MINOR.PATCH means "add functionality" (such as MyData in #2302).

[2015-07-13 16:50] mcrosas commented on #2348
:+1:

[2015-07-13 16:52] pdurbin commented on #2348
For expediency we decided to continue to push to the 4.0.2 branch but I changed the pom.xml file and various Sphinx files in b098f78 and reconfigured Jenkins so that docs are being built in http://guides.dataverse.org/en/4.1/

@kcondon I'm passing this issue to QA. Please let me know if you need any assistance reconfiguring the job that deploys the war file to dvn-build (or any other job).

[2015-07-13 17:10] eaquigley commented on #911
First draft available here in commit 85dc6a97370b9b35ffce9ae709cc2362d5d8db65

Will add images and jazz it up more later on. Passing ticket to QA.

[2015-07-13 17:11] eaquigley opened #2349 "Update My Unpublished Data documentation to reflect My Data Changes"
Change documentation currently known as My Unpublished Data as it has been drastically changed in 4.0.2.

[2015-07-13 17:11] pdurbin commented on #923
I've listed OAuth as an interest of the Dataverse Auth Community Group: https://docs.google.com/document/d/1xbWkj_OIk13gKe7jleNXVvakZErvHLA8JRBvLz8Fe8Q/edit?usp=sharing

[2015-07-13 17:11] eaquigley commented on #2349
Completed in commit 35d117ae05e0db6cb24d43162639f93011564172

Passing to QA

[2015-07-13 17:34] sekmiller commented on #2342
Could not recreate this.

[2015-07-13 18:37] scolapasta opened #2350 "Add DownloadFile permisison to Member role"

[2015-07-13 18:37] scolapasta commented on #2350
Done. (I also ran this in production, as it was needed to support a customer)

[2015-07-13 19:21] pdurbin commented on #2165
Fixed in 605cb4d . Thanks @landreev . Passing to QA.

[2015-07-13 19:40] sekmiller commented on #2342
Worked in Child of Root as well

[2015-07-13 20:36] kcondon commented on #2350
@scolapasta Can you provide more details on how I set this up and test? Thx

[2015-07-13 20:46] scolapasta commented on #2350
On a new db, just verify that Member has DownloadFile permission. For an existing db, I added the update to the script (which I already ran in production, but wrote in a way that it doesn't cause any issue to run multiple times).

[2015-07-13 20:52] kcondon commented on #2349
Doc updated, closing.

[2015-07-13 20:52] #2349 closed

[2015-07-13 20:56] scolapasta commented on #2074
I think this is resolved with the way the new My Data page works.

[2015-07-13 20:59] kcondon commented on #2350
Tested script, works, now need to test new db.

[2015-07-13 20:59] kcondon commented on #2342
Does not work on dvn-build. Passing back.

[2015-07-13 21:00] scolapasta commented on #2124
I was not able to reproduce. @eaquigley since you encountered this, can you see if you can, and if so, show me?

[2015-07-13 21:01] kcondon commented on #2348
Ok, works, closing.

[2015-07-13 21:01] #2348 closed

[2015-07-13 21:17] kcondon commented on #2296
OK, I am able to regenerate a new token but the button text is showing an error.

[2015-07-13 21:42] CamMerrill commented on #2296
Missing regenerate button,
fixed in commit: https://github.com/IQSS/dataverse/commit/74d2d70233e68e612ace2d104ada14e931ae218e
pushed to 4.0.2

[2015-07-14 03:22] landreev commented on #2265
The documentation section on tabular data ingest has been expanded and improved.
(the "tabular data" section of the dataset management guide has been rewritten; a new "tabular data ingest" section has been added).

[2015-07-14 03:26] landreev commented on #2268
I have added the threshold; it can be set as a blanket size for all ingestable formats (not recommended?), or for individual formats.
(we will need to review separately what these limits should be set to, and for what formats. it may not be needed for all supported formats; it is definitely needed for R, as it is still very inefficient - but I'm still not sure what this limit should be).

[2015-07-14 11:45] bencomp commented on #813
One of our partners needs the OAI-PMH endpoint to be available to meet project responsibilities. Is there any new information about the milestone this will be part of?

[2015-07-14 13:43] pdurbin opened #2351 "User Guide still references 4.0.2"
The following docs reference version 4.0.2 but it has been renamed to 4.1 in #2348:

- http://guides.dataverse.org/en/4.1/user/dataverse-management.html
- http://guides.dataverse.org/en/4.1/user/find-use-data.html

My preference would be to avoid mentioning specify versions anyway. Perhaps a link to a GitHub issue would be better:

[code]

@eaquigley I'm happy to let you decide on the wording so I

[2015-07-14 13:53] sekmiller commented on #2344
@eaquigley - we don't have any text for the notifications tab for gaining/losing a role on a dataverse or dataset.  What should it say?

[2015-07-14 13:57] pdurbin commented on #2300
I just verified that even after renaming 4.0.2 to 4.1 in #2348 `vagrant up` still works in the 4.0.2 branch (we didn't rename the branch, and probably won't bother). Passing to QA.

[2015-07-14 13:59] sekmiller commented on #2339
The "unpublished" label is only applied when there is no published version of the dataset.  If a draft was always "unpublished" then why have both labels.  This is working as designed.

[2015-07-14 15:44] bencomp commented on #1602
This relates to keeping track of the terms of use that a user agreed to: #1650

Maybe the solution to this issue could be overlapping with the solution to keeping track?

`if` user-agreed-terms `!=` most recent terms `then` ask to agree to most recent terms

[2015-07-14 16:36] sbarbosadataverse opened #2352 "When create new account and viewing under MY Account: Notification should say "Welcome to DV and a link to the user guide.""
Currently wrong message displayed (via Liz data science lunch talk demo)

[2015-07-14 16:48] sbarbosadataverse opened #2353 "Advanced search: not showing "domain specific metadata""

[2015-07-14 17:24] pdurbin commented on #1928
It was mentioned today that perhaps we should document in the Installation Guide the "boosting" configuration described at https://github.com/IQSS/dataverse/issues/1928#issuecomment-91651853 that we are running in production.

[2015-07-14 18:06] pdurbin opened #2354 "Permissions: have "Users/Groups" be expanded by default"
When editing permissions the most useful/unique information is under "Users/Groups" (it shows the roles assigned) but it's collapsed by default. In my opinion it should be expanded by default:

![dv2](https://cloud.githubusercontent.com/assets/21006/8680712/1ff98da8-2a31-11e5-8278-67ce42480cb1.png)

I've been chatting with @scolapasta and @eaquigley about this.

[2015-07-14 18:30] pdurbin commented on #2036
On my laptop on commit ab0b268 (pre-4.1 release) I loaded up production data and played around with granting and revoking a role on a dataverse ("togo") with 32 datasets and 194 files. To me it's unacceptably slow even with Solr is down, taking nearly 10 seconds:

 | Solr Up  | Solr Down
--- | --- | ---
grant  | 0m25.653s | 0m9.699s
revoke  | 0m23.539s | 0m9.968s

Obviously, at ~25 seconds it's cr

[2015-07-14 18:30] sbarbosadataverse commented on #2105
@scolapasta is this complete?

[2015-07-14 18:32] landreev commented on #2105
No, there may still be a few things to clean up there.

[2015-07-14 18:33] sbarbosadataverse commented on #2075
@scolapasta
@eaquigley
  can this be closed? is any of this related to the "null" search values reported by Liz today?

[2015-07-14 18:34] mcrosas opened #2355 "List of subjects in Advanced Search is in no order"
We should list the subjects in Advanced alphabetically

[2015-07-14 18:34] eaquigley commented on #2124
Showed @scolapasta that this is only happening when looking to link a dataset not link a dataverse.

Tested in both FF and Chrome

[2015-07-14 18:35] sbarbosadataverse commented on #2019
moved to dataverse-curation repo

[2015-07-14 18:35] #2019 closed

[2015-07-14 18:36] sbarbosadataverse commented on #2011
@scolapasta
could this be fixed by facet not showing "et al?"

[2015-07-14 18:38] pdurbin commented on #2075
No, that's #1338

[2015-07-14 18:38] sbarbosadataverse commented on #2008
As we find these issues, we can discuss in dataverse-curation repo

[2015-07-14 18:38] #2008 closed

[2015-07-14 18:39] sbarbosadataverse commented on #2000
being tracked in dataverse-curation

[2015-07-14 18:39] #2000 closed

[2015-07-14 18:40] sbarbosadataverse commented on #1996
moved to dataverse-curation

[2015-07-14 18:40] #1996 closed

[2015-07-14 18:41] bencomp commented on #2354
Related to #2255

[2015-07-14 18:41] #1977 closed

[2015-07-14 18:48] sbarbosadataverse opened #2356 "Dataset Metadata - Prepopulate "dataverse category" and "subject areas" based on content"

[2015-07-14 18:49] sbarbosadataverse commented on #1966
Merce adding as we meet. We will review and edit.

[2015-07-14 18:49] #1966 closed

[2015-07-14 18:51] sbarbosadataverse commented on #1964
Provide a list of dataverses  and their subjects to Gustavo--run back end script

[2015-07-14 18:52] sbarbosadataverse commented on #1963
moved to dataverse -curation

[2015-07-14 18:52] #1963 closed

[2015-07-14 18:54] sbarbosadataverse commented on #1549
will open in data-curation

[2015-07-14 18:54] #1549 closed

[2015-07-14 19:28] eaquigley commented on #2351
done. passing to qa.

[2015-07-14 20:11] bencomp commented on #2331
@scolapasta what? Why?

[2015-07-14 20:17] landreev commented on #2331
@bencomp:  We always wanted to make the application more modular; so that individual pieces/components could run independently; and, if necessary, run on different servers - to deal with load issues and such.
This ticket is for making ingest such an independent service; so that it could run on another host, similarly to how Solr and Postgres are integrated into the db.

This doesn't mean it will *

[2015-07-14 20:18] landreev commented on #2331
@bencomp : (I meant to say "... are integrated into the application")

[2015-07-14 20:22] mcrosas commented on #813
The plan for now is to do this for 4.3. We'll be reviewing 4.2 and 4.3 issues in this week and next (in our weekly "Issues review" meetings) and make a decision then.

[2015-07-14 22:04] bencomp commented on #2277
Actually, I am thinking that when logging into the EZID service fails, this should be logged as `SEVERE`. What happens if login fails? Will DOIs not be registered? What if the login failure is caused by bad configuration?

[2015-07-14 22:29] bencomp commented on #2277
Even though I said SEVERE may be better, I gave `WARNING` a shot in https://github.com/bencomp/dataverse/commit/0119f161f95d6536ad040de2b51631df86533640. Since some log calls include `Throwable`s, I changed the call to use the `Throwable`-accepting variant.

[2015-07-15 02:23] landreev commented on #2188
The Makefile is fixed. Schema.xml should now be a part of the distribution.
(Will look at #2234 too)

[2015-07-15 02:27] landreev commented on #2234
@pdurbin - the schema file is now part of the zip bundle.
But how do you want to handle the installation? -
a) modify the doc above, to say "copy schema.xml from the installer directory..."
or
b) modify the installer, to ask the user where Solr is installed, and copy it there automatically? (if it's running on a different host, it would still have to tell them - "ok, copy this schema.xml into the

[2015-07-15 02:30] pdurbin commented on #2234
@landreev hmm, maybe it **would** be good if the installer at least mentioned Solr. So yeah, perhaps it could prompt for a hostname at least.

[2015-07-15 02:33] landreev commented on #1797
I cleaned the doc files that were mine, that were no longer needed.

[2015-07-15 09:06] bencomp commented on #1393
This would be a great feature. +1

@borsna is right about what the description should be: the item, not the software.

[2015-07-15 09:24] bencomp commented on #2243
I don't know whether having this, or using the meta tags as in #1393 would have a greater impact. In theory this isn't a big task and it is invisible to users in the browser (unless some browser plugin detects the markup and acts on it, of course).

In terms of semantics: this is one vocabulary for expressing metadata. For the citation metadata (block), the fields map very well to either Schema.or

[2015-07-15 11:57] bencomp opened #2357 "Connect metadata field names and blocks to (de facto) standard ontologies"
For interoperability with the world outside Dataverse, each metadata field should have a public definition outside the code or database. While humans have a general understanding of the meaning of 'title', 'publication date' and 'description', for instance, machines need a pointer to a machine-actionable definition in order to understand the relationship between a thing and the values of the metad

[2015-07-15 12:42] bencomp commented on #2085
@scolapasta what for? And how? Are you talking about improving the documentation (#775)? :)

[2015-07-15 12:46] bencomp commented on #2258
If keywords are changed in the metadata of a dataset, the "view differences" popup does not show this as a change between dataset versions.

I was there at the demo, given by @eaquigley.

[2015-07-15 14:18] sekmiller commented on #2343
this is fixed and checked in 07/15 AM

[2015-07-15 14:19] sekmiller commented on #2341
This is fixed.  The roles displayed on the files needs some work.  Roles listed need work in general.

[2015-07-15 14:23] sekmiller commented on #2346
This is fixed and checked in

[2015-07-15 14:25] sekmiller commented on #2338
Fixed and checked in

[2015-07-15 14:27] sekmiller commented on #2329
Fixed and checked in

[2015-07-15 14:29] sekmiller commented on #2342
Please re-try after the next build

[2015-07-15 14:52] eaquigley commented on #2344
Granted: You have been granted the [insert role name] role for [insert dataverse or dataset name as a link].

Revoked: You no longer have [insert role name] role for [insert dataverse or dataset name as a link].

[2015-07-15 15:26] landreev opened #2358 "Move the production handles service to one of the Dataverse 4 servers"
This is a system/support task:
It is still running on 60ox-app-1, an old DVN 3.* prod box.
Needs to be moved to 1sum-app-2.

[2015-07-15 15:33] borsna commented on #1393
@posixeleni, @bencomp meta tags for generic dublin core / terms should also be exported for better discoverabity:
See examples of how to define prefixes:
http://dublincore.org/documents/dc-html/ and http://dublincore.org/documents/dcq-html/

Another note, for dates use ISO 8601 format:
``` content="2015-01-28" ``` instead of ```content="2015/01/28"```

[2015-07-15 15:46] borsna commented on #2243
@bencomp I think both <meta> and tagging in the markup should be implemented.
If more portals provides this kind of tagging search engines will do a better job in finding public dataset using schema.org tagging, its already widely used for events, movies etc.

ICPSR and other data archives are already doing it the markup for the basic sets of fields .
Test this url in the validator: http://www.icp

[2015-07-15 16:18] landreev opened #2359 "Installer for TwoRavens"
I have a dev ticket for this in the TwoRavens queue:
https://github.com/IQSS/TwoRavens/issues/44

- this ticket is for tracking and QAing the issue on our side, so that it's done in time for our 4.1 release.

[2015-07-15 16:37] mcrosas commented on #2357
:+1:  I agree this is very relevant, and we had planned to do this with @posixeleni who create useful spreadsheets to map Dataverse metadata to several standards. I'm assign this issue to her. In particular we need metadata export support for:
General Metadata:
DataCite (already mapping in place), DCAT, Dublin Core Terms, RDF
Domain-specific Metadata:
DDI (social sciences)
ISA-tab (life sciences)

[2015-07-15 16:51] pdurbin commented on #2357
Once a given field such as "title" is flagged as being part of various standards (DataCite, DDI, etc.) it would be nice to be able to see which standards it's part of with an API call. Perhaps we could add it to this existing (but undocumented) API endpoint that I added back when I wanted more information about a given field for seach/indexing purposes:

`$ curl -s http://localhost:8080/api/admin/

[2015-07-15 18:45] pdurbin commented on #2277
I spoke with @sekmiller about this and he said this issue has become a lower priority for us (post 4.1 for sure) because EZID is doing more now to insulate us from DataCite failures. Or something! He said he's check out the commit by @bencomp at some point. Thanks @bencomp !

[2015-07-15 18:47] pdurbin commented on #2036
Based on the profiler (screenshot below), I'm pretty sure the slowdowns are in:

- instantiating datasets (and possibly files and dataverses): DvObjectServiceBean.findDvObject()
- committing changes to Solr over and over: SolrServer.commit()

I'm not sure how to make the instantiation of datasets faster. This issue was noted by @raprasad in #1822 and he suggested storing a version of the dataset a

[2015-07-15 18:54] eaquigley commented on #1746
Consilience will also need this so while it is in research by Consilience team, we can then use the information found out about Google Drive for Dataverse.

[2015-07-15 18:54] sekmiller commented on #2344
This has been added and checked in....

[2015-07-15 19:00] bencomp commented on #2243
Just came across this article about SEO for libraries, including adding Schema.org to pages: https://journal.lib.uoguelph.ca/index.php/perj/article/view/3328/0

@borsna the ideas outlined in #2357 concern "custom" fields added to a installation of Dataverse - I'm actually not sure you can add fields to a single dataset only. These Dataverse-wide fields actually come from existing ontologies, like

[2015-07-15 19:21] dliburd commented on #2324
Verified. Target attribute allowed in <a> tag

[2015-07-15 19:21] #2324 closed

[2015-07-15 19:33] kcondon commented on #2351
References removed. Closing.

[2015-07-15 19:33] #2351 closed

[2015-07-15 19:45] eaquigley commented on #2203
updated in 4.0.2 branch: https://github.com/IQSS/dataverse/blob/4.0.2/CONTRIBUTING.md Passing to QA.

[2015-07-15 19:52] dliburd commented on #1801
Icons are still in the lower right of the icons.

Tested on The Dataverse Project
v. 4.1 build 36

[2015-07-15 19:58] mheppler commented on #1801
@dliburd -- are you looking at the dataverse page (see attachment in comment above) or the dataset page? I only moved the icons on the dataverse page. The dataset page layout for files is being reviewed in an upcoming release.

[2015-07-15 20:08] dliburd commented on #2215
Verified: Dataset descriptions truncated at 280 characters.

[2015-07-15 20:13] dliburd commented on #1801
@mheppler Sorry about that. Good day, good sir.

Verified: Restricted file icons moved to the upper left corner of the file browse/search card, inline with the file title.

[2015-07-15 20:13] #1801 closed

[2015-07-15 20:19] pdurbin commented on #1795
This API call is nice but the big problem is that users have to know that their dataset has a dataset id of 10 in this case. Instead they should be able to use DOI, which is what #1837 is about.

[2015-07-15 20:24] bencomp commented on #2357
I'm glad you appreciate this input. I'll happily discuss with you and @posixeleni to make sure we understand each other's goals and requirements.

@mcrosas let me stress that RDF is a model. You need an ontology/ontologies to take the terms from in which you express properties of datasets (i.e. metadata). I like RDF a lot, even though I know it has limitations.
JSON is widely used for APIs, but in

[2015-07-15 20:24] pdurbin commented on #1837
Without this functionality of being able to look up datasets via DOI, the native "datasets" API ( http://guides.dataverse.org/en/4.0/api/native-api.html#datasets ) is way less useful. An example use case today from @aawinburn was "How do I get the file ID this PDF in my unpublished dataset?" Good question and #1795 was supposed to be the answer but you have to know the database id of the dataset.

[2015-07-15 20:28] sekmiller commented on #2345
Fixed to display only those roles that apply to a given dvObject

[2015-07-15 20:37] pdurbin commented on #2215
@dliburd as we discussed, can you please verify the amount of wasted whitespace and attach a screenshot if necessary? Thanks.

[2015-07-15 20:39] sbarbosadataverse commented on #1686
@kcondon
since my unpublished is now going to be "my data" does this make sense to test?

[2015-07-15 20:43] sbarbosadataverse commented on #1686
created a dataverse in build, added two datasets, 1 published, one unpublished. when I go under "my data" and click on the "published" "unpublished" nothing shows up for results. I also can't see any results for dataverses I created and published under "my data" although I have one.

[2015-07-15 20:43] mcrosas commented on #2357
@bencomp yes, I understand that RDF is a model, not the same as metatadata standards such as Dublin Core Tems or DataCite schema. Still important to support it.

Thanks for all the thorough descriptions in this issue; it will be very useful as we work on this.

[2015-07-15 20:52] sbarbosadataverse commented on #2275
both of my csv files displayed ingest errors. One ingested as "0" bytes and one displayed the red ingest error icon

![screen shot 2015-07-15 at 4 57 41 pm](https://cloud.githubusercontent.com/assets/8322346/8709650/d46fb894-2b11-11e5-893a-b67c790d7652.png)

[2015-07-15 20:55] sbarbosadataverse commented on #1937
works great!

[2015-07-15 20:55] #1937 closed

[2015-07-15 20:57] sbarbosadataverse commented on #2264
@kcondon
i tested two excel files related to an earlier ticket - both failed in some way. I gave the ticket back to Leonid doing the same with this

[2015-07-15 21:00] sbarbosadataverse commented on #2191
my search for titles are returning full title results.

[2015-07-15 21:10] dliburd commented on #1537
Even though this is going away, search was tested and successfully verified on dataverse internal.

[2015-07-15 21:10] #1537 closed

[2015-07-15 21:13] bencomp commented on #2036
@pdurbin is an index created automatically for primary keys?

[2015-07-15 21:19] dliburd commented on #2274
Verified. Also datasets added within the last 30 days were discoverable via google.

[2015-07-15 21:19] #2274 closed

[2015-07-15 21:58] kcondon commented on #2329
Fixed, closing.

[2015-07-15 21:58] #2329 closed

[2015-07-15 22:04] kcondon commented on #2346
Works, closing.

[2015-07-15 22:04] #2346 closed

[2015-07-15 22:22] kcondon commented on #2345
OK this is working. Saw another issue related to contributor but will open as a separate ticket/ question for Liz/Gustavo. Closing.

[2015-07-15 22:22] #2345 closed

[2015-07-16 07:36] bencomp commented on #2203
Looks good to me.

[2015-07-16 08:49] borsna commented on #2243
Interesting article, thanks for the link :)

@bencomp okay, was not thinking about unique custom fields for a single dataset, rather configured fields for a dataverse installation or similar.

[2015-07-16 14:12] pdurbin commented on #2215
@dliburd @eaquigley @mheppler I think it would be best to copy and paste the original idea from @thegaryking which was this:

"on cards that list datasets, we have a snippet of text summarizing the description.  but the cutoff to the text we'll show before "..." means that the 2nd half of the second line of every card is whitespace.  why don't we make the cutoff such that we use the rest of that l

[2015-07-16 14:59] mheppler commented on #2114
Just doing a quick look at the description and it's HTML, it appears that the align="left" attribute and property of the image is what is causing the layout issue.

There is already an open issue for HTML that we should support in our metadata fields #1320 (Priority: High, Milestone: In Review). This specific issue in this ticket can be resolved one of the following ways:

- A.) The layout of the

[2015-07-16 15:03] eaquigley commented on #2352
@sekmiller please change this notification to be:

Welcome to Harvard Dataverse! Need help? Check out the user guide (insert link to user guide) or post in the Dataverse Community Google Group (insert link to Google Group).

[2015-07-16 15:14] kcondon commented on #2344
OK, the notification messages are working now but seeing multiple notifications for one event and deleting notifications when there are many does not refresh page. Also, when revoke the role, the role name disappears from all notifications.

I can open separate tickets for these issues if needed. Passing back for now.

[2015-07-16 15:15] sekmiller commented on #2352
This should be quick and low-risk.  I'll have something shortly.

[2015-07-16 15:18] sekmiller commented on #2352
@eaquigley I think we need to take "Harvard" out of the notification so it's generic for other installations.

[2015-07-16 15:32] kcondon commented on #2343
OK, can log in without log errors, closing.

[2015-07-16 15:32] #2343 closed

[2015-07-16 15:34] eaquigley commented on #2352
can we make it dynamic?

[2015-07-16 15:37] sekmiller commented on #2352
Display Name of the Root Dataverse? Let me see.

[2015-07-16 15:39] eaquigley commented on #2352
Yup! Thanks!

[2015-07-16 15:42] kcondon opened #2360 "My Data: Contributor role assigned at dv should display both dv and child datasets as contributor role."
Update:
Discussed with @eaquigley and the intuitive approach seems better:
If someone is assigned the Contributor role at the dv level, display the dv and the child datasets, all showing contributor role. The dv is shown to indicate the scope and if there are a bunch of datasets they can follow the link directly to the dv and see all. The datasets are shown so they can directly access them to edit

[2015-07-16 15:48] sekmiller commented on #2352
All set.  Kevin will make a build so that this can be verified.

[2015-07-16 16:02] kcondon commented on #2342
This is working now, probably an issue with build's schema.xml that was fixed yesterday. Closing.

[2015-07-16 16:02] #2342 closed

[2015-07-16 16:09] eaquigley commented on #2352
tested on dvn-build. works beautifully! closing ticket.

[2015-07-16 16:09] #2352 closed

[2015-07-16 16:36] dliburd commented on #2215
@pdurbin @mheppler @eaquigley

I don’t know how you would make the truncation dynamic but I did a random sampling of character count per a line when the Dataverse is viewed at 940px wide. I’ve gotten between 115 and 125 characters per a line. I estimate that 120 characters per a line might be enough. Maybe we should try 350 characters for three lines of descriptions and the added ellipses.

[2015-07-16 16:37] mheppler commented on #2045
For reference, here is the javascript code that is currently being used to handle large popups.

http://stackoverflow.com/questions/13912397/primefaces-with-big-dialogs-how-to-do-this-correct?rq=1

[code]

[2015-07-16 16:43] pdurbin commented on #2215
@dliburd sure changing to 350 characters is easy and I just did so in dcece97

We also could make it configurable rather than hard coding it, if that's of interest.

Passing to QA. dvn-build is on v. 4.1 build 40 right now so you'll need a newer build than that to see the change.

[2015-07-16 18:00] dliburd commented on #2215
![untitled-1](https://cloud.githubusercontent.com/assets/11178866/8731040/aff0f6ac-2bc2-11e5-8b61-50d4b11f7fe0.jpg)
Here is the screen shot of what I'm getting. The Dataverse is being viewed at 940px wide.

[2015-07-16 18:02] kcondon commented on #2341
This is working now but saw an issue with the grant notification: The dataverse, dataset, or file for this notification has been deleted.July 16, 2015 1:58 PM EDT

Closing

[2015-07-16 18:02] #2341 closed

[2015-07-16 18:03] pdurbin commented on #2215
@dliburd thanks. I see what you mean. And you're testing with the 280 characters version since dvn-build is still at v. 4.1 build 40. I'm giving this to @mheppler because I'm just changing the character count to what he and you are telling me anyway.

[2015-07-16 18:05] kcondon opened #2361 "Notifications: File access request has object deleted message."
When a user requests access to a restricted file, the admin receives a notification that says the object to which the message pertains has been deleted:

The dataverse, dataset, or file for this notification has been deleted.July 16, 2015 1:58 PM EDT

[2015-07-16 18:25] kcondon commented on #2339
OK, this labeling behavior is consistent with how datasets use labels. Closing.

[2015-07-16 18:25] #2339 closed

[2015-07-16 18:31] kcondon commented on #2338
OK works, closing

[2015-07-16 18:31] #2338 closed

[2015-07-16 19:05] kcondon opened #2362 "My Data: File should appear if users have role with DownloadFile permission"
Currently in My Data, only files where someone has directly assigned the File Downloader role on that particular file appears, as is the case with the request/ grant restricted file access workflow.

@eaquigley Thinks that any role with DownloadFile applied at either the dataverse or dataset level should cause files affected by those permissions to appear in My Data:

Admin, Curator,Contributor, F

[2015-07-16 19:10] pdurbin commented on #2215
@scolapasta I'm giving this ticket to you to decide what to do with it.

[2015-07-16 19:13] sekmiller commented on #2361
Fix for this has been checked in

[2015-07-16 19:25] kcondon opened #2363 "Deaccession Dataset: Option to deaccession dataset disappears if last published version is deaccessioned."
Deaccessioning allows selecting all or just one version. This works unless you choose the latest published version. If you choose that then the edit button is no longer rendered on any version so you can no longer deaccession other versions if needed. This is not the case if you deaccession a version other than the latest.

[2015-07-16 19:29] kcondon commented on #1686
@sbarbosadataverse  Can you try this again? I had misconfigured the build machine so it wasn't working properly.

[2015-07-16 19:33] sbarbosadataverse commented on #2220
@eaquigley  it's not under http://best-practices.dataverse.org/harvard-policies/
yet....?

[2015-07-16 19:35] sbarbosadataverse commented on #1686
looks good!

[2015-07-16 19:35] #1686 closed

[2015-07-16 19:42] kcondon opened #2364 "My Data: Provide ability to add data per FRD"
The FRD for My Data specifies a use case for adding data, presumably with the same add data button.

[2015-07-16 19:44] kcondon opened #2365 "My Data: Does not display an entirely deaccessioned dataset."
When a dataset has all versions deaccessioned, it does not appear in My Data. I'm thinking it should unless @eaquigley or @scolapasta thinks otherwise?

If only a version is deaccessioned, the non deaccesioned versions are still listed as expected.

[2015-07-16 19:49] sbarbosadataverse commented on #1660
Kevin received the notification twice-should have received once.
I did but I got 2 notifications=bug!

You have been granted the Contributor/Dataverse + Dataset Creator role for Test CSV Ingest, Cust data do not use.July 16, 2015 3:40 PM EDT
You have been granted the Contributor/Dataverse + Dataset Creator role for Test CSV Ingest, Cust data do not use.July 16, 2015 3:40 PM EDT

[2015-07-16 19:51] eaquigley commented on #2220
I think a build needs to be done dataverse.org (hi @pdurbin)

[2015-07-16 19:56] scolapasta commented on #2215
discussed with @eaquigley, let's just switch it back to 280.

[2015-07-16 20:06] scolapasta commented on #92
Update from @michaelsuo:

The application logic for CRUD operations on groups is all done, as is the separate "Manage Groups" page. The only thing left to do is the front-end for editing an existing group (i.e. the separate dialog box that lets a user add and remove group members). Should only take a day or two of work.

@kcondon can you please test this, and the remaining part we'll leave for 4.2

[2015-07-16 20:09] kcondon opened #2366 "My Data: In Review status specified by mockup is not displayed."
Not sure whether this was a definite requirement but the In Review status appears in a mockup but does not appear in My Data nor in the UI in general, other than a grayed out button saying submitted for review.

[2015-07-16 20:10] pdurbin commented on #2036
In 75e8dba in a new branch I reduced the number of calls to findDvObject but I'd like to review it with @scolapasta before merging it. See the long commit message for details but it end with **much** shorter times than what I reported at https://github.com/IQSS/dataverse/issues/2036#issuecomment-121332191 before I started working on this issue. The numbers are from running scripts/issues/2036/gran

[2015-07-16 20:17] pdurbin commented on #2215
@scolapasta ok, back to 280 in 4d50349 . I don't like how the screenshot looks in https://github.com/IQSS/dataverse/issues/2215#issuecomment-122036214 (lots of wasted whitespace) but perhaps @dliburd is using a screensize that isn't representative. Passing to QA.

[2015-07-16 20:18] kcondon commented on #2074
Yes, covered by My Data, closing.

[2015-07-16 20:18] #2074 closed

[2015-07-16 20:19] scolapasta commented on #2366
To support this, changes need to made in indexing - this is issue #2315 and once there, should show as a facet.

Sending this one back as a duplicate.

[2015-07-16 20:22] mheppler commented on #2045
Added autoResize="false" attribute and value to all p:inputTextarea components within dialog popups. Added some more logic to javascript for resizing popups to improve how it handles scrolling popups larger than the window size. Also added logic to run the resize function anytime a popup is opened, and not just the popups that call the specific function.

The most important thing, for any dialog p

[2015-07-16 20:28] kcondon commented on #2366
OK, closing as a duplicate.

[2015-07-16 20:28] #2366 closed

[2015-07-16 20:41] pdurbin commented on #2036
@scolapasta as we discussed 75e8dba seemed safe enough to merge into the 4.0.2 branch (which will become 4.1) so I'm passing this to QA to check for any regressions around search permissions.

I'll continue to look at the code locally however and may commit again if I can figure out a good way to batch the Solr commits.

[2015-07-16 20:44] michaelsuo commented on #1660
@sbarbosadataverse I'm having trouble reproducing. Was it one email with two messages, or two separate messages

[2015-07-16 20:45] pdurbin commented on #2220
Oh noes! So stormy!
![dashboard_ jenkins _-_2015-07-16_16 45 08](https://cloud.githubusercontent.com/assets/21006/8734747/112b63b4-2bda-11e5-8e09-66bca652f9b9.png)

[2015-07-16 20:47] pdurbin commented on #2220
Ok, build fixed. Now there's http://best-practices.dataverse.org/harvard-policies/harvard-preservation-policy.html and hopefully whatever else you might need to look at.

[2015-07-16 20:48] sbarbosadataverse commented on #1660
@kcondon  good point @michaelsuo
Kevin was it one email with two messages or two separate messages?

[2015-07-16 20:50] eaquigley commented on #2220
@sbarbosadataverse please test again.

[2015-07-16 20:51] sbarbosadataverse commented on #1660
Better! Looks good. Thanks

[2015-07-16 20:52] sbarbosadataverse commented on #2220
looks good

[2015-07-16 20:52] #2220 closed

[2015-07-16 20:52] kcondon commented on #1660
It was the online notification. The account you sent it to did not have a valid email address.
________________________________
From: sbarbosadataverse [notifications@github.com]
Sent: Thursday, July 16, 2015 4:48 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Notifications: Add in Role Assignment Notifications (#1660)

@kcondon<https://urldefense.proofpoint.com/v2/url?u=https-3A

[2015-07-16 20:53] michaelsuo commented on #1660
@sbarbosadataverse Ah, I see the confusion. @sekmiller authored the online notifications, I authored the email notifications

[2015-07-16 20:55] kcondon commented on #1660
Points out that I should have tested both though. Thanks!

________________________________
From: michaelsuo [notifications@github.com]
Sent: Thursday, July 16, 2015 4:53 PM
To: IQSS/dataverse
Cc: Condon, Kevin
Subject: Re: [dataverse] Notifications: Add in Role Assignment Notifications (#1660)

@sbarbosadataverse<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_sbarbosadataverse&d=

[2015-07-16 20:59] sbarbosadataverse commented on #2265
@landreev  can I have the text I should be checking? I see text there now but I have nothing to compare it to at this point.

[2015-07-16 21:00] mheppler opened #2367 "404 Not Found - Browser Gets Forwarded to /404.xhtml"
When looking at how our site handles URLs that are not found -- AKA, 404 Not Found Error -- I noticed that the bad URL is not retained in the browser window, instead it gets forwarded to the URL /404.xhtml. Other sites don't forward you, so that you can see what the bad URL is -- maybe it was a typo, and you can easily fix it.

![screen shot 2015-07-16 at 4 58 26 pm](https://cloud.githubuserconten

[2015-07-16 21:01] sbarbosadataverse commented on #2265
@landreev  and don't see anything called: tabular data ingest. There is a regular: http://guides.dataverse.org/en/latest/user/dataset-management.html?highlight=dataset and "tabular"

[2015-07-16 21:01] eaquigley commented on #2367
+1

[2015-07-16 21:06] sekmiller commented on #2360
Fixed and checked in

[2015-07-16 22:07] kcondon opened #2368 "My Data: Adding contributor or curator role to dv also adds admin label in My Data"
When assigning a curator or contributor role to a user in a dv, that dv shows up as having both either curator or contributor role and and admin label even though they don't have admin role.

[2015-07-17 00:53] kcondon opened #2369 "My Data: User does not see files they've uploaded."
Per the FRD, a user should see files they've uploaded. Currently they do not.

[2015-07-17 01:00] kcondon opened #2370 "My Data: Semi inheritance behavior with role labels. Assigning new role to child dv also adds parent dv role label."
1. Create a parent and child dv.
2. Assign another user Dataset creator role to parent, check other user's My Data.
3. Assign same user Dataverse and Dataset creator role to child dv, check user's My Data and notice the child dv gets both the assigned role, dv+ds creator, and the parent's ds creator role. I've seen this behavior with Contributor and Curator at different times too.

[2015-07-17 01:39] kcondon commented on #2081
I've completed basic testing and reported individual issues. Closing.

[2015-07-17 01:39] #2081 closed

[2015-07-17 03:52] landreev commented on #2265
@sbarbosadataverse
The "latest" in your URL:
http://guides.dataverse.org/en/latest/user/dataset-management.html?highlight=dataset
- I think that's pointing to the current production documentation. So it's not really "latest"; or, it is, as in "latest, available to the users".
You need to go specifically to the version 4.1 to see the documentation for the version we are currently working on:

http:

[2015-07-17 14:04] sekmiller commented on #2369
Fix checked in

[2015-07-17 14:05] sekmiller commented on #2362
Fix checked in

[2015-07-17 15:39] sekmiller commented on #2370
As discussed cards will show roles at the card level only.  If none are present only then will roles for parent be displayed.

fix checked in.

[2015-07-17 15:40] sekmiller commented on #2368
Fix checked in

[2015-07-17 15:42] sekmiller commented on #2364
@eaquigley - If user does not have permission to add to Root DV should this button appear?  And if so, but the user has add permission to several DV's how will the determination be made of where the data will be added?

[2015-07-17 15:48] eaquigley commented on #2364
@sekmiller i say leave the add data button out for now. we have no way to communicate well to the users where they are about to deposit (at the root) and there is no way for them to select a dataverse they have permissions to for this. this can be postponed till we have that worked out.

[2015-07-17 16:28] scolapasta commented on #2124
The issue here was that there were two dataverses named Harvard. The dropdown for linking for dataverses was (correctly) not showing root, while the dataset one was, so you would see both. We deleted the test harvard dataverse and also adjusted the logic to not show root (or any parent up the tree) for dataset. So now you should not see any "Harvard Dataverse" at either place.

[2015-07-17 16:36] dliburd commented on #2215
Verified: 280 character truncation works as design when viewed at 1170px wide.

[2015-07-17 16:36] #2215 closed

[2015-07-17 16:47] dliburd commented on #2045
Verified: Send button remains visible when a lot of text is entered.

[2015-07-17 16:47] #2045 closed

[2015-07-17 16:54] dliburd commented on #2296
Verified: "Regenerate Token" button displays properly.

[2015-07-17 16:54] #2296 closed

[2015-07-17 17:08] dliburd commented on #2203
Verified: infographic does appear in https://github.com/IQSS/dataverse/blob/4.0.2/CONTRIBUTING.md.

[2015-07-17 17:08] #2203 closed

[2015-07-17 17:14] sekmiller commented on #2344
When a role is removed from a user we lose the ability to display the name of the role.  I have updated the bundle so that [Unknown] is displayed for the add role notification and the reference to the type of role has been removed from the revoked role notification.

A remaining issue exists if a user is granted multiple roles on a single object.  This seems to be an outlying case because the assi

[2015-07-17 17:15] sekmiller commented on #2344
Assigning to @kcondon to verify the completed fixes and to assess the need for the additional "multiple assignment" issue.

[2015-07-17 17:24] pdurbin commented on #1991
Testing as of 306bf7f (4.0.2 branch, pre 4.1 release).

## SWORD (nothing specified)

If you don't specify anything in the XML...

[code]

... SWORD will create a dataset with a licens of "CC0":

`$ curl -s http://localhost:8080/api/datasets/2672183?key=$API_TOKEN | jq '.data.latestVersion.metadataBlocks.citation.fields[] | select(.typeName=="title").value '
"SWORD: nothing specified"`

[code]

##

[2015-07-17 17:31] pdurbin commented on #2110
I'm still annoyed by this but at least I found a good way to do it with `jq`:

`$ curl -s http://localhost:8080/api/datasets/2672184?key=$API_TOKEN | jq '.data.latestVersion.metadataBlocks.citation.fields[] | select(.typeName=="title").value'
"Darwin's Finches"`

Here's the JSON for the dataset: https://github.com/IQSS/dataverse/blob/306bf7ff9fb22c7fd94a4c412198deec22eb1660/scripts/search/tests/da

[2015-07-17 17:37] kcondon opened #2371 "Guestbook: Allow Authors to create guestbooks for linked datasets that may belong to a journal dataverse."
See RT 219152 for details.

The Dataset was created by the author and submitted to a journal dataverse. The author then linked the dataset  back to their personal dataverse but wants to post a guestbook and review download data for the dataset.

Merce suggested we track this feature since it has relevance for the upcoming Datatags functionality:

"consider a workflow for authors to set up or reque

[2015-07-17 17:42] kcondon opened #2372 "My Data: Make all facet links behave like dataverse/dataset links where clicking selects and clears others."
Liz confirmed she would like the behavior of all the facet links to act the same as the dataverse/dataset/files facets where checkbox adds the facet, clicking the link selects that facet exclusively.

Actual conversation:

Should I submit a ticket to request My Data role filters act like datavese/ dataset links as in they select rather than deselect?

Yeah go ahead. I think it's important to do it

[2015-07-17 18:05] dliburd commented on #2361
Verified: User request notification now displays properly.

[2015-07-17 18:05] #2361 closed

[2015-07-17 18:59] dliburd opened #2373 "Notifications: Admin not receiving email notification when a user request data access."
The Dataverse is not sending email notifications to dataverse admin when a user request access to a restricted data file. A notification does appear within Dataverse site but no email is sent to admin.  However admin does receive an email when a dataverse is created so we do know that emails are sent in other situations. Requester also does receive an email notification if access request is reject

[2015-07-17 19:09] landreev commented on #2275
@sbarbosadataverse :
It appears that ALL files were ingesting with "0 bytes" in the info label, for the last months or so.
You were just the first to notice. Had nothing to do with the file being CSV.
This is now fixed.

[2015-07-17 19:16] landreev commented on #2275
@sbarbosadataverse :
As for the file that failed with an error message: I need more to work with - for example, what the error message was. And I would usually need the file that failed.
OK, I found the file on dvn-build. The error message is pretty clear - "invalid variable names in the first line". Yes, a CSV file must have the variable names in the first line, in order to ingest as a tabular fi

[2015-07-17 19:32] landreev commented on #2275
@sbarbosadataverse I'll make sure this is explained in the ingest guide.

[2015-07-17 19:55] sekmiller commented on #2365
Selecting a dataset with a status of deaccessioned is not currently supported by the MyData queries.  (Only 'draft' 'unpublished' and 'published' are allowed.) When I removed the restriction, the deaccessioned DS shows up in the MyData listing, but the special formatting we use in the regular search include fragment is missing.

[2015-07-17 19:55] dliburd commented on #2124
Verified: Root and parent dataverses do not show up on dropdown list.

[2015-07-17 19:55] #2124 closed

[2015-07-17 20:54] kcondon commented on #1660
@sbarbosadataverse So, we need to check both online and email notifications.

[2015-07-18 00:38] landreev commented on #2359
OK, committed the fixed script. Updated the ticket in the TwoRavens github queue.
Still need to make a couple of changes to the installer guide in our (dataverse) documentation.
Will move this into QA once that's done.

[2015-07-20 04:50] landreev commented on #2359
Both installer scripts should now be working:
The shell script installs the required R packages;
And the script supplied with TwoRavens that configures the app and rApache.
The instructions in the installation guide should be accurate too now.

[2015-07-20 04:58] landreev commented on #2275
@sbarbosadataverse
The error message shown for this condition now explicitly says:
"First line of a CSV file must contain a comma-separated list of the names of the variables."
Also, made sure this requirement is in the documentation (in the user guide -> tabular data ingest -> tab; under "Formatting Requirements").

[2015-07-20 12:56] pdurbin commented on #2104
More importantly, we've already updated the example at http://guides.dataverse.org/en/latest/installation/shibboleth.html to be `entityID="https://shibtest.dataverse.org/sp"`.

However, all of our servers still have the old style ending in "shibboleth" rather than "sp". For example, https://dataverse-demo.iq.harvard.edu/Shibboleth.sso/Metadata shows `entityID="https://dataverse-demo.iq.harvard.edu

[2015-07-20 15:40] mheppler commented on #2209
Added info help message to backing bean for the Dataverse account Sign Up page.

[2015-07-20 15:41] mheppler commented on #2209
![screen shot 2015-07-20 at 11 40 50 am](https://cloud.githubusercontent.com/assets/687227/8779978/384ee478-2ed4-11e5-8c4c-400ee005a045.png)

[2015-07-20 17:01] raprasad commented on #2110
Painful to watch...  Let's switch the metadata schema from relational to nosql soon--even if just putting JSON into a postgres field--e.g. the main operations is reading it for the dataset page.

[2015-07-20 17:07] raprasad commented on #761
this is cobol:)
[code]

[2015-07-20 17:15] sbarbosadataverse opened #2374 "Dataverse Theme Logo: Need info message with guidelines on acceptable file types"
currently,  accepted file type info only appears after submitting an unaccepted image type---should appear as part of the existing description on maximum display, etc...should show up before an incorrect image type is uploaded

[2015-07-20 17:16] kcondon commented on #2370
@sekmiller  Not sure what the "if none present" clause means but this is now working. Closing.

[2015-07-20 17:16] #2370 closed

[2015-07-20 17:21] sekmiller commented on #2372
Sorry.  forgot about this one.  Can you take a look @raprasad?

[2015-07-20 17:26] kcondon commented on #2369
OK, works, closing.

[2015-07-20 17:26] #2369 closed

[2015-07-20 17:27] kcondon commented on #2036
@sbarbosadataverse Can you check this out for performance and pass it back to me to check the other stuff? Thx.

[2015-07-20 17:36] kcondon commented on #2368
OK, only seeing one role, curator or contributor. Closing.

[2015-07-20 17:36] #2368 closed

[2015-07-20 17:40] eaquigley commented on #2374
Added to user guide here: https://github.com/IQSS/dataverse/blob/4.0.2/doc/sphinx-guides/source/user/dataverse-management.rst on file types and sizes.

[2015-07-20 17:56] kcondon commented on #2362
OK, works, closing

[2015-07-20 17:56] #2362 closed

[2015-07-20 17:57] kcondon commented on #2360
OK works, closing.

[2015-07-20 17:57] #2360 closed

[2015-07-20 18:07] landreev commented on #2197
The original RT ticket appears to have been resolved back in May. (by simply re-uploading the file).
Hard or impossible to to tell what was wrong with the original file... but most likely, the upload went wrong during some instance of system instability. Of which we had a few during the first weeks of 4.0.
Close this one?

[2015-07-20 19:04] raprasad commented on #2323
added -- and then removed for usability

[2015-07-20 19:04] #2323 closed

[2015-07-20 19:12] landreev commented on #1854
This is now documented in the SPSS-specific section of the Tabular Data ingest section of the guide:

guides/user/tabulardataingest/spss.html

[2015-07-20 19:45] landreev commented on #2218
@bppmit
Fixed the download issue with the file CNR_QJE_ikea.dta in doi:10.7910/DVN/E4NE50;
the file should now be downloadable in the original stata format, as uploaded by the user.
Still need to attempt to re-ingest the file as fully functional tabular data.
Apologies for the delays with this issue.

[2015-07-20 19:50] landreev commented on #2264
@sbarbosadataverse
Sonia, could you please post the number of the earlier ticket, from which the files you tested came?
thanks!

[2015-07-20 20:07] kcondon opened #2375 "Notifications: Page reformats and does not refresh when delete notification when many are on page."
When there are a lot of online notifications, >20? Deleting them does not work smoothly: the page reformats so the "X" appears below the message and the page does not refresh so show the notification was removed, though refreshing the page shows it has. This is confusing when you have a lot of notifications and you just want to remove them.

[2015-07-20 20:35] kcondon commented on #2344
This works except I'm getting two online notifications for assigning a single role to a dv.

[2015-07-20 20:37] sekmiller commented on #2344
It looks like two notifications records are being added; one with emailed=true and the other with emailed=false. @michaelsuo can you take a look at this?

[2015-07-20 20:38] kcondon commented on #2270
Versions and directory disable were added. Closing.

[2015-07-20 20:38] #2270 closed

[2015-07-20 20:39] kcondon commented on #1973
@scolapasta How to test?

[2015-07-20 21:01] kcondon commented on #2318
Verified this is working for the above mentioned case. Was able to create dv as pete and api key of junk was rejected. Closing.

[2015-07-20 21:01] #2318 closed

[2015-07-20 21:18] sekmiller commented on #2375
Fix checked in

[2015-07-20 21:32] kcondon commented on #2375
Works better but still has the no refresh behavior with lots of messages, especially those at the top of the list.

[2015-07-20 21:34] kcondon commented on #2268
@scolapasta @landreev How is this set and is there any feedback given to the user if they hit the limit?

[2015-07-20 21:35] kcondon commented on #2223
Closing.

[2015-07-20 21:35] #2223 closed

[2015-07-20 21:44] kcondon commented on #2229
This file is still failing to ingest but maybe for a different reason.
Seeing a couple errors:
on upload see this:

[2015-07-20T17:41:50.021-0400] [glassfish 4.1] [SEVERE] [] [] [tid: _ThreadID=1138 _ThreadName=Thread-9] [timeMillis: 1437428510021] [levelValue: 1000] [[
  [Error] jhove.conf:2:14: cvc-elt.1: Cannot find the declaration of element 'jhoveConfig'.]]

[2015-07-20T17:41:50.022-0400] [gl

[2015-07-20 21:45] kcondon commented on #2197
Closing

[2015-07-20 21:45] #2197 closed

[2015-07-20 21:48] kcondon commented on #2209
Text is present, closing.

[2015-07-20 21:48] #2209 closed

[2015-07-20 21:58] kcondon commented on #2180
Bottom line: Downloading a large zip file without a file size due to dynamic generation uncovered a problem where Glassfish ran out of heap space. Another possible issue it perceived reduction in page load performance. This last was anecdotal and not measured.

[2015-07-20 22:04] kcondon commented on #2180
@pdurbin The install doc does not tell people where to get the new grizzley jar file. Should I get the one above at vm1?

[2015-07-20 22:11] kcondon commented on #2123
@michbarsinai Can you send me an email outside of this ticket with details appropriate for testing? Thanks!

[2015-07-21 02:51] pdurbin commented on #2180
@kcondon yes, as I wrote before: Note that http://dvn-vm1.hmdc.harvard.edu/tmp/issues/2180/grizzly-patch/glassfish-grizzly-extra-all.jar is the file to use until the v4.0.2 tag is created and we upload the patch there.

[2015-07-21 12:53] raprasad opened #2376 "Prod. Google Analytics ID also on dvn-build"
The dvn-build machine is using the same google analytics id as production:

- The google analytics are not accurate and include pages not yet in production.
- The analytics may be showing **better than actual** average page speed b/c there's little data in dvn-build system.

**Fix:** remove the google analytics id from the dvn-build settings table.

[2015-07-21 13:56] sekmiller commented on #2344
@michaelsuo - Never mind. I figured it out.

[2015-07-21 14:02] sekmiller commented on #2344
When Email is enabled, two notifications were being saved to the DB.  Fix has been checked in - new build needed.

[2015-07-21 14:10] pdurbin opened #2377 "revisit indexing of Publication Status facet (publicationStatus Solr field)"
In Solr we index an array of "publicationStatus" values which can have multiples such as both "Draft" and "Unpublished" but we don't index "Deaccessioned" as one of these values.

We did things this way because of a decision in summer 2014 to "Show a 'Deaccessioned' label on the dataset card but don't show a facet" and there is some lively debate in comments: https://docs.google.com/document/d/1lF

[2015-07-21 14:17] pdurbin commented on #2377
@eaquigley I made the small change we talked about to start indexing and showing "Deaccessioned" as one of the possible values for "Publication Status" in 824c4b0 . It follows the same rules as "Draft" and "Unpublished" in that the entire "Publication Status" facets is hidden unless there are there are cards that are in an unpublished, draft, or deaccessioned state. To see the change you'll need a

[2015-07-21 15:33] pdurbin commented on #2180
@kcondon you're right, what I wrote in the docs is confusing. I tried again in 68b9e83 and built the docs. If this is still unclear, please let me know:

http://guides.dataverse.org/en/4.1/installation/shibboleth.html#apply-grizzly-1787-patch

(Since the patch is so tiny at 300KB I checked it into our source tree for safe keeping.)

[2015-07-21 16:02] pdurbin commented on #1338
@mcrosas came by this morning asking if this was a known issue and I pointed her at this bug. I know it's not assigned to me and it's in review but I took a quick swing at c7a2c70 in a new branch if @mheppler and/or @scolapasta would like to review it. I did not attempt to address all the pages listed at https://github.com/IQSS/dataverse/issues/1338#issuecomment-69932633 . Rather it's just for bas

[2015-07-21 17:39] eaquigley opened #2378 "My Data: Default Sort Should be by Most Recently Published"

[2015-07-21 17:42] raprasad opened #2379 "MyData: Change "filter" language to "search""
button: "filter" -> "Search"
input box: "Search my data"

[2015-07-21 17:59] raprasad opened #2380 "mydata: search button, check all boxes"
When using the search box, select all check boxes before submitting the ajax form.
All checkboxes selected when user:

- presses 'enter' key in search box
- clicks 'search' button

[2015-07-21 18:01] raprasad opened #2381 "mydata: dvobject and publication status counts"
If:
  1. box isn't checked AND
  1. count is unavailable or "0"

Then:
   - show nothing "", instead of "(0)"
<img width="1252" alt="account_-_cool_dataverse" src="https://cloud.githubusercontent.com/assets/1036060/8808527/1cb31512-2fb1-11e5-8bde-252185d51378.png">

[2015-07-21 18:23] raprasad opened #2382 "mydata: add deaccession checkbox + card styling"
part of #2302

----

- [x] add checkbox to MyDataFilterParams.java
- [x] check for status on cards: cards_minimum.html

[2015-07-21 18:26] sbarbosadataverse commented on #2275
@landreev  thank you! I'll check the files again!

[2015-07-21 18:26] pdurbin commented on #2382
Related to #2377

[2015-07-21 18:27] sbarbosadataverse commented on #2265
looks good

[2015-07-21 18:27] #2265 closed

[2015-07-21 18:34] sbarbosadataverse commented on #2036
@kcondon  I've been dealing with permission performance all week on production so of course I'll check;))

[2015-07-21 18:37] pdurbin commented on #2377
As discussed in a review meeting, we're fine with this change. Passing to QA.

[2015-07-21 19:10] pdurbin commented on #2036
@sbarbosadataverse thanks for pointing out the real-world performance problems in https://help.hmdc.harvard.edu/Ticket/Display.html?id=218018

[2015-07-21 19:31] sbarbosadataverse opened #2383 "Migrated dataset contains handle and no doi: some datasets migrated with unregistered handles and no doi"
Libbie contacted us about one dataset in particular that she could not publish. She received both "unregistered handle and publishing dataset" message when she selected to "publish" but neither  the "registration"  or "publishing" function worked.

Stephen noticed the dataset contained a handle and no doi. We followed up with Libbie who confirmed the dataset was created on our interface and prior

[2015-07-21 19:37] sbarbosadataverse commented on #2036
@pdurbin  should I try this on production or wait for another update to the code/build?

[2015-07-21 19:39] pdurbin commented on #2036
@sbarbosadataverse I believe @kcondon advised testing on a system with production data.

[2015-07-21 19:40] sbarbosadataverse commented on #2036
Ok. Thanks

Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http://dataverse-demo.iq.harvard.edu/

Join our Dataverse Community!
https://groups.google.com/forum/#!forum/dataverse-commun

[2015-07-21 19:45] kcondon commented on #2180
Doc looks good, large zip download also good. I compared homepage load with production data using http://www.webpagetest.org. The numbers jumped around a bit but they were in the same ball park.

Closing

[2015-07-21 19:45] #2180 closed

[2015-07-21 19:51] landreev commented on #2229
OK, their freaky CSV file contained not only commas inside double quoted strings, but also "double double quotes" (sequences of 2 double quotes) embedded inside such strings... which was confusing my code.

[2015-07-21 19:51] landreev commented on #2229
Please re-test.

[2015-07-21 20:00] kcondon commented on #911
OK doc is up, closing.

[2015-07-21 20:00] #911 closed

[2015-07-21 20:03] kcondon commented on #1854
Doc is in place, closing

[2015-07-21 20:03] #1854 closed

[2015-07-21 20:24] pdurbin commented on #2117
#2180 just passed QA so I'm moving this issue to QA as well.

[2015-07-21 20:26] kcondon commented on #2229
OK file ingests and looks ok comparing tab with original. Closing.

[2015-07-21 20:26] #2229 closed

[2015-07-21 20:28] kcondon commented on #1973
OK, back end change, closing.

[2015-07-21 20:28] #1973 closed

[2015-07-21 20:28] kcondon commented on #1994
back end change, closing

[2015-07-21 20:28] #1994 closed

[2015-07-21 20:36] kcondon commented on #2344
Fixed, closing.

[2015-07-21 20:36] #2344 closed

[2015-07-21 20:44] sbarbosadataverse opened #2384 "dvn-build bug: "draft" link is displaying "published" data page instead of draft page"
here is the dataset example in build:

https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi:10.5072/FK2/RLTTIK

If you go into versions and click "draft"-that's what I should be seeing.

[2015-07-21 20:48] raprasad commented on #2332
Replaced by #2381

[2015-07-21 20:48] #2332 closed

[2015-07-21 21:04] kcondon commented on #437
OK, ran script twice and it did not create duplicates. Closing

[2015-07-21 21:04] #437 closed

[2015-07-21 21:16] kcondon commented on #2117
@pdurbin I did not think reenabling shib was slated for v4.1?

[2015-07-21 22:01] kcondon opened #2385 "Groups UI: Validation errors are not presented on Groups pop up."
In v4.0.1, create groups threw validation errors on the popup. It does not in v4.1:

1. In a dataverse with no groups, edit groups, create group, save without entering data. Closes popup and says an error occurred on the page.
2. In a dataset, edit permissions click create group, save, closes popup, says nothing. Click create group again and see the errors on the popup.

In v4.01. at dataverse-dem

[2015-07-21 22:06] pdurbin commented on #2117
@kcondon please feel free to move it to a better milestone. Thanks.

[2015-07-21 22:08] kcondon commented on #2117
@pdurbin OK, leaving it milestone-less until we see how things stand with the intention it should be reenabled as soon as possible.

[2015-07-21 22:12] kcondon opened #2386 "Groups UI: After creating a group, manage groups page should automatically refresh."
When you create your first group there is a green message block that says success, refresh page to see the group. This should probably be done automatically. The same happens when you create any subsequent group.

[2015-07-21 22:17] kcondon opened #2387 "Groups UI: Clicking Cancel on create groups pop up throws validation error."
Clicking Cancel on create groups pop up throws validation error, it should just exit quietly and not throw an error.

Try it from the manage groups page.

[2015-07-21 22:28] kcondon opened #2388 "Groups UI: Throws server log error about missing property when try to sort groups by column heading."
On the groups table in the manage groups page, the columns appear to be clickable and sortable.

When you click on a column, it does not sort and there is a server log error:

Caused by: javax.el.PropertyNotFoundException: The class 'edu.harvard.iq.dataverse.authorization.groups.impl.explicit.ExplicitGroup' does not have the property 'usageCount'.

[2015-07-21 22:44] kcondon commented on #2379
I think Liz said button-> "Find", like on the homepage.

[2015-07-22 10:23] raprasad opened #2389 "mydata: comma separate counts"

[2015-07-22 10:47] raprasad commented on #2333
Part of #2380

[2015-07-22 10:47] #2333 closed

[2015-07-22 14:05] pdurbin commented on #2036
After noticing how much of a performance hit `getAuthenticatedUser` is at https://github.com/IQSS/dataverse/issues/2036#issuecomment-123447441 (which was also noticed [back in March](https://docs.google.com/a/harvard.edu/document/d/12nULSSB4qArA-cYL297o0DibQXuhlJ4J7gkVJVokL-M/edit?usp=sharing)) I started looking into the roleAssigneeCache @michbarsinai developed in ad87ff8 . By simply commenting o

[2015-07-22 14:58] mheppler commented on #1704
This looks to be a duplicate. Closing.

Permissions: If attempt to access unpublished dv as registered user without perms, get log in page. #1057

[2015-07-22 14:58] #1704 closed

[2015-07-22 15:04] mheppler commented on #1057
Duplicate issue of this was created and closed.

Dataverse/Dataset (Unpublished) - No Access/Permsission Landing Page #1704

Related to 404 issue.

404 Not Found - Browser Gets Forwarded to /404.xhtml #2367

[2015-07-22 15:06] raprasad commented on #2380
There's a bug in Chrome where it tries to submit another form on the page--e.g. functionality works for a second and then fails

[2015-07-22 15:24] raprasad commented on #2335
Recheck with latest code.  I'm not sure if this is still happening--the spinner also activates when switching tabs.

[2015-07-22 16:04] sbarbosadataverse commented on #1907
@landreev  tested as part of multi file zip upload, all but one .csv file failed ingest. If they fail with the proper message does that mean this issue is resolved?

[2015-07-22 16:05] sbarbosadataverse commented on #2036
@pdurbin
I tried removing one user from the PSI in internal production site, it took 64 seconds for the "spinning" blue icon to stop, but the user was not successfully removed

[2015-07-22 16:21] sbarbosadataverse opened #2390 "Can't change from published version to "draft" version in 4.0 production"
I added new files, saved "successfully" but page resolved to a "published" version upon save. I go into versions and select "draft" and page remains on "published" version.

The link says draft: https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl%3A1902.1/16786&version=DRAFT

but version says "V3 published."

I refreshed, left the dataset and came back to the page and still won't work.

[2015-07-22 16:32] sbarbosadataverse opened #2391 "Files Edit Tags: selecting a prefilled "tag" doesn't display the selected tag"
When you select a tag, the dialogue box should continue to display the selection--otherwise it appears that a tag was not selected. In this case you only see successful results of a tag selection after hitting save.
In the image below I selected "1. data" but it doesn't display anywhere prior to my hitting save.

![screen shot 2015-07-22 at 12 38 40 pm](https://cloud.githubusercontent.com/assets/8

[2015-07-22 18:05] sbarbosadataverse commented on #1907
@kcondon
I removed the csv files that failed ingest when in "zip"--re-uploaded individually and they still failed ingest, except for the one that was successful in zip and individually.

[2015-07-22 18:45] kcondon commented on #2379
Find button does not seem to be working.

[2015-07-22 18:48] kcondon commented on #2335
I was not able to reproduce this, closing.

[2015-07-22 18:48] #2335 closed

[2015-07-22 18:50] kcondon commented on #2372
OK, works great! Closing.

[2015-07-22 18:50] #2372 closed

[2015-07-22 18:52] kcondon commented on #2378
OK default sort is last updated. Closing.

[2015-07-22 18:52] #2378 closed

[2015-07-22 18:53] sbarbosadataverse commented on #1907
@kcondon
tested your zip file and only one csv file failed upload as both part of the zip and single file upload

https://dvn-build.hmdc.harvard.edu/dataset.xhtml?persistentId=doi%3A10.5072%2FFK2%2FATJZWC&version=DRAFT

[2015-07-22 19:30] kcondon opened #2392 "Groups UI: Not able to Edit an existing group"
There is currently no way to edit an existing group: there is a view button instead. View should be replaced by edit.

[2015-07-22 19:38] kcondon opened #2393 "Groups UI: Manage groups table missing some columns, some need to be combined."
Currently, the columns displayed on the Manage groups page table are:
Group Name, Number of Users, Number of Groups, Action

According to the mockup:
https://iqssharvard.mybalsamiq.com/projects/groupsui/Dataverse%20-%20Groups%20-%20Stand%20Alone

The columns should be:
Group Name, ID, Created In, Membership, Action

Where Membership is actually the combination of what's currently Number of Users a

[2015-07-22 19:47] kcondon opened #2394 "Groups UI: Create Group and Add Users need to be two separate workflows according mockup and FRD."
Create/Edit Group and Add/Edit Users need to be two separate popups/ workflows.

According to the FRD:
https://docs.google.com/document/d/1P4HOUuJEoPfU06-4R9xP0nRFapNyZUg5xnjYNVRvFik/edit#
Add second pop up in create workflow for selecting users and groups for a group

And mockups:
https://iqssharvard.mybalsamiq.com/projects/groupsui/Dataverse%20-%20Groups%20-%20Create%20Group

https://iqssharvard

[2015-07-22 19:50] kcondon opened #2395 "Groups UI: Add users allows selecting the same user multiple times though it is only saved once."
You can select the same user to add to a group multiple times though that user is saved only once when viewing group membership.

[2015-07-22 19:52] kcondon opened #2396 "Groups UI: View mouse over message remains even after popup appears."
This may be a non issue if view mode is replaced by Edit but when you mouse over the view button, see the view tool tip, then click the view button, the tool tip remains active and seen through the popup.

[2015-07-22 19:54] kcondon opened #2397 "Groups UI: View popup should have a done button, not save and close and should not save, unless it is to be replaced by Edit."
This may be a non issue if View will be replaced by Edit but currently View popup has a save and close button when nothing should be altered while viewing. When clicked, it actually saves the group when it should really just be called done and act like the X button on the popup

[2015-07-22 20:06] sekmiller commented on #2365
Assigning to Raman as he is working on it...

[2015-07-22 20:27] sekmiller commented on #1057
To differentiate between a url that yields an object that is not found and one that is found, but the session user does not have permission to view, I have added a 403.xhtml page

[2015-07-22 20:31] raprasad commented on #2379
I just checked in the fix for the button.

[2015-07-22 20:45] kcondon commented on #2377
OK, deaccessioned facet is working, shows datasets that would normally appear according to the search/index rules. Closing.

[2015-07-22 20:45] #2377 closed

[2015-07-22 20:52] kcondon opened #2398 "My Data: Deaccession facet should only show dataset if no published version like search does."
The deaccession facet on My Data works but it shows deaccessioned versions in cases where there is still at least one published version. It should only show deaccessioned datasets if there are no published version if we are keeping the behavior consistent with search.

[2015-07-22 20:55] sekmiller commented on #1057
Added redirect logic for Dataverse and Dataset pages

[2015-07-22 21:00] kcondon commented on #2379
Fix doesn't work for FF v39, works for Chrome.

[2015-07-22 21:00] kcondon commented on #2380
Ok, search selects all checkboxes. Did not see the Chrome issue but saw an issue with FF and reported in another ticket. Closing.

[2015-07-22 21:00] #2380 closed

[2015-07-22 21:02] kcondon commented on #2382
Ok, this is working, closing.

[2015-07-22 21:02] #2382 closed

[2015-07-22 21:05] kcondon commented on #2381
Works as described, closing.

[2015-07-22 21:05] #2381 closed

[2015-07-22 21:09] kcondon commented on #2389
OK, values larger than 999 use commas to separate powers of 10: 1,000, 10,000, etc. Closing.

[2015-07-22 21:09] #2389 closed

[2015-07-22 21:11] kcondon commented on #2316
Harvested data is excluded from my data. Closing.

[2015-07-22 21:11] #2316 closed

[2015-07-22 21:11] pdurbin commented on #2398
It's possible that this is a case where we are relying the deletion of the corresponding "permission" document to hide the primary document from regular search/browse. That is, the fix may be to make sure the primary document is also deleted. This is just a theory however.

[2015-07-22 21:17] kcondon commented on #92
Basic Groups UI is delivered, bugs and incomplete functionality has have been opened in separate tickets. Closing.

[2015-07-22 21:17] #92 closed

[2015-07-22 21:39] kcondon commented on #1057
OK, works for logged in user without sufficient perms, for user who is not logged in, they go to the log in page. Closing.

[2015-07-22 21:39] #1057 closed

[2015-07-22 21:53] kcondon commented on #1907
This is working. The failing file had a formatting issue. I corrected it and everything works as expected. Closing.

[2015-07-22 21:53] #1907 closed

[2015-07-22 22:35] kcondon opened #2399 "Installation Guide: Update Postgres section; provide path to Postgres config files, get rid of ident sameuser, remind to restart postgres."
There are a few things that could make the Postgres prerequisite section easier to use:

1. In the Installer's Guide under the PostgreSQL section, we ask users to modify the pg_hba.conf file but don't say where it can be found:
/var/lib/pgsql/9.3/data on RHEL/CentOS.

2. Remove local all all ident sameuser from the Configure access to PostgresQL for the installer script section and use only the tr

[2015-07-22 23:30] kcondon opened #2400 "Installer: Update make README.txt to change versions, file list, path to war file."
The README.txt is a little outdated and could use updating.
1. It still references dataverse 4.0.
2. The file list now includes schema.xml and possibly others.
3. There is a line that says, the script itself knows to look for these files in 2 places (for example, ../../target/dataverse-4.0.war and ./dataverse-4.0.war)

but the ./dataverse-4.0.war file option doesn't work when using make, only the

[2015-07-22 23:43] kcondon opened #2401 "Installation Guide: Tell users to start solr before running the installer, until installer includes Solr."
Until the installer incorporates starting Solr, it would be good to tell users to start Solr before running the installer, either in the Solr prerequisite page or on the running the installer section.

[2015-07-22 23:45] kcondon opened #2402 "Installation Guide: Fix various typos."
The Installation Guide has numerous minor typos throughout the guide. This is a placeholder ticket to review and correct these.

[2015-07-23 11:01] sbarbosadataverse commented on #2383
@sekmiller
Libbie sent me a list of all datasets in their dataverse that have handles and not dois

http://hdl.handle.net/1902.1/M099V1

http://hdl.handle.net/1902.1/M098V1

http://hdl.handle.net/1902.1/M097V1

http://hdl.handle.net/1902.1/M089V1

http://hdl.handle.net/1902.1/M086V1

http://hdl.handle.net/1902.1/M084V1

http://hdl.handle.net/1902.1/M081V1

http://hdl.handle.net/1902.1/M080V1

http

[2015-07-23 14:05] sekmiller commented on #2383
Are these all unpublished?

On Jul 23, 2015, at 7:01 AM, sbarbosadataverse <notifications@github.com<mailto:notifications@github.com>> wrote:

@sekmiller<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_sekmiller&d=BQMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=d7bbsLIcERTG2Qe_gE_iKH1z80JxaTHhJpRXaS4mxwM&m=JLoYUzC47p12YrOEH7S_pT7r0HQJRKoxeOnoIrLhXxk&s=k2wl0FOQ3yW2AMqjdue8BgAusI57nDOZ5z1c46af1T0&

[2015-07-23 14:14] kcondon commented on #2165
OK, built installer and ran it successfully on beta, has correct version and build, closing.

[2015-07-23 14:14] #2165 closed

[2015-07-23 14:16] kcondon commented on #2188
Schema.xml is part of the distribution. Installation guide should be updated but this maybe an intermediate step to having the installer configure and start Solr?

[2015-07-23 14:16] #2188 closed

[2015-07-23 14:18] sbarbosadataverse commented on #2383
appears so--they are unpublished.

On Thu, Jul 23, 2015 at 10:05 AM, Stephen Kraffmiller <
notifications@github.com> wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu
<https://fasmail.harvard.edu/OWA/redir.aspx?C=2jB6Ls9Fe0mjxN6g

[2015-07-23 14:54] mheppler commented on #2367
Turned to StackOverflow in a quest for answers.

[PrettyFaces 404 page without URL redirect http://stackoverflow.com/questions/31574822/prettyfaces-404-page-without-url-redirect]

[2015-07-23 14:57] pdurbin commented on #2367
The [answer](http://stackoverflow.com/questions/31574822/prettyfaces-404-page-without-url-redirect/31589174#31589174) by @lincolnthree who created PrettyFaces is obviously worth checking out!

[2015-07-23 15:21] landreev commented on #2399
Looks like it should just be
local all all                ident

-  if one wants to use ident. "sameuser" is kind of redundant there... but older versions of postgres were apparently willing to tolerate it there. But 9.3 thinks "ident sameuser" is an error.

But yes, it may be easier to just say "set it to trust for the installer to run".
Although it may be better still to finally eliminate the wh

[2015-07-23 15:35] pdurbin commented on #2401
As I mentioned in [a thread on the Google Group](https://groups.google.com/forum/#!msg/dataverse-community/PFMkHkelj_Q/3o5cgPiOxkcJ) yesterday @bencomp and others are planning a reorg of the Installation Guide as part of #2321 in a Google doc: https://docs.google.com/document/d/1GLky44JbtCNhGuavLXGEP8WPNdjbyHNxalEGjR78MaA/edit?usp=sharing

The proposed reorg has Solr first under "Configuration".

[2015-07-23 15:37] kcondon commented on #2401
@pdurbin OK but I need to enter issues as I find them while using the installation guide. If you find there are duplicates feel free to link back to the more general ticket but I think it is useful to call these out.

[2015-07-23 15:39] eaquigley opened #2403 "Permissions: Allow Search on User Name in Permissions Pop Up"
Searches for first name, last name only now. Users have submitted feedback that it would be good to also be able to search by user name.

[2015-07-23 15:46] sbarbosadataverse opened #2404 "dvn-build: "files could not be updated: contact support" error message"
see attached.
I refreshed build, signed on as admin, attempted to delete one file by selecting file choosing delete and hitting save, and error message showed up

![screen shot 2015-07-23 at 11 51 56 am](https://cloud.githubusercontent.com/assets/8322346/8854930/72ba8212-3130-11e5-8ae7-8c4d33bbae77.png)

[2015-07-23 15:52] kcondon commented on #2384
Spoke with Sonia, here are the steps to reproduce:
Create a dataset and publish it. Then go in and edit it by adding files--since this is what I did.
When it saved your edit, you should see the url say "draft" but the version will be the published one.

I have not been able to reproduce this with the above steps.

[2015-07-23 15:54] kcondon commented on #2401
The current Solr section does not mention starting Solr as a requirement for running the installer.

[2015-07-23 15:59] kcondon commented on #2384
@sbarbosadataverse Can you try this again? I did not see the issue you mentioned.

[2015-07-23 16:06] kcondon commented on #2321
@eaquigley @pdurbin I have been opening tickets with the installation guide as I find issues, either from helping users or from my recent testing of the installer related to other tickets. I usually discuss with Leonid first to better understand what it should be in case of failure.

[2015-07-23 17:22] pdurbin commented on #2036
Upon further testing (with my [SearchIT.java integration test](https://github.com/IQSS/dataverse/blob/master/src/test/java/edu/harvard/iq/dataverse/api/SearchIT.java)) I'm realizing that simply uncommenting the `resetRoleAssigneeCache()` method in ae941f1 (a branch) was a Bad Idea. If I run the test twice without redeploying the app in between it fails because stale data (old user IDs from users w

[2015-07-23 17:27] kcondon commented on #2404
I was not able to reproduce the issue myself but I think I was able to get the error from the server log from when Sonia did:

[2015-07-23T11:43:32.130-0400] [glassfish 4.1] [WARNING] [jsf.externalcontext.flash.response.already.committed] [javax.enterprise.resource.webcontainer.jsf.flash] [tid: _ThreadID=51 _ThreadName=jk-connector(2)] [timeMillis: 1437666212130] [levelValue: 900] [[
  JSF1095: Th

[2015-07-23 18:03] kcondon commented on #2123
Spoke with Michael:

To test this, you need to see that we can send the API key using HTTP header "X-Dataverse-key", as well as with the "key" query parameter.

I think that's pretty much validated by the setup-dvs.sh script.

I did run this and it worked so the X-Dataverse-key method works and is mentioned in the API Guide.

Closing.

[2015-07-23 18:03] #2123 closed

[2015-07-23 18:04] kcondon commented on #2376
OK, key was removed and the setup-optional-harvard script had the key commented out. Closing.

[2015-07-23 18:11] #2376 closed

[2015-07-23 18:19] kcondon opened #2405 "Installation Guide: Add information that jq is required to run the installer."
I ran into the error that jq was not installed when I was setting up beta. It was not listed in the prerequisites.

yum install jq was enough to satisfy the prereq though I think you need the website for a mac that doesn't have the dev tools installed?

[2015-07-23 18:30] kcondon commented on #1506
OK, api call seems to work and is documented in the API Guide: GET http://$SERVER/api/dataverses/$id/facets?key=$apiKey

[2015-07-23 18:30] #1506 closed

[2015-07-23 19:12] #2275 closed

[2015-07-23 19:28] michbarsinai commented on #2036
Can we make indexing asynchronous? After looking at the code, seems like there's no immediate usage of the indexed result, and users should be OK with having the permissions updated after 2-3 minutes (eventually consistent etc.). As far as I can tell, in most cases, this delay won't event matter to the users.

Additional option, if you have time - test how this works with a  sparse `DvObject` tabl

[2015-07-23 19:41] kcondon opened #2406 "Server log: In production we are seeing dozens of log files per day all filled with the same atmosphere error."
This is causing a real maintenance issue with the partition filling up with useless logging info:

[2015-07-23 20:08] pdurbin commented on #2036
I could look into async but speaking of the database does the authenticateduser table have an index on identifier? /cc @raprasad

[2015-07-23 20:11] michbarsinai commented on #2036
I think so (AuthenticatedUser.java, line 46:)

 @NotNull
    @Column(nullable = false, unique=true)
    private String userIdentifier;

[2015-07-23 20:46] kcondon commented on #2350
OK, verified on new installation, closing.

[2015-07-23 20:46] #2350 closed

[2015-07-23 20:54] kcondon commented on #1660
OK, Sonia and Dwayne confirmed it was working, closing:
I did get an email when you granted me access at 3:19PM. Also within dvn-build there was a notification when access was granted.

I received no notification when access was revoked.

Closing

[2015-07-23 20:54] #1660 closed

[2015-07-23 21:07] kcondon commented on #2037
OK, now goes to files permissions page, closing.

[2015-07-23 21:07] #2037 closed

[2015-07-23 21:36] scolapasta commented on #2273
Please try this again.

[2015-07-23 22:07] landreev commented on #2400
Yes, that README was written a year ago, in July '14 - and not touched since.
I have rewritten it; hopefully removing the ambiguities (made it more clear whether I'm talking about the installer script itself, or the Makefile that builds the bundle, etc.).
please review.

[2015-07-23 23:22] landreev commented on #2399
Wait, why are we supplying redhat-specific instructions only? Didn't we have MacOS instructions too, in the 4.0 documentation?? (maybe they are buried in the dev. guide...)

[2015-07-24 00:31] landreev commented on #2399
OK, I rewrote the guide:
added instructions for MacOS;
specified the likely locations of the config file;
made it more clear which files need to be modified for each config entry;
replaced "ident sameuser" with "peer" (that's what "ident" does anyway, when specified on the local socket connection).
further advised to change the setting to "trust" if the installer is still having problems;
added th

[2015-07-24 00:31] landreev commented on #2399
And no, I'm not ready to get rid of the su-ing to user postgres, and the requirement to run the installer as root. Maybe in 4.2?

[2015-07-24 01:16] michaelsuo commented on #2392
Edit groups functionality not in 4.1, targeting for next release

[2015-07-24 07:02] michaelsuo commented on #2394
Related to adding functionality for editing groups; in for next release

[2015-07-24 07:10] michaelsuo commented on #2396
@scolapasta iirc this is a persistent issue with Primefaces?

[2015-07-24 07:27] michaelsuo commented on #2387
@kcondon I'm not seeing this behavior?

[2015-07-24 08:52] michaelsuo commented on #2386
@scolapasta having some trouble with this. In [explicitGroup-new-dialog.xhtml](https://github.com/IQSS/dataverse/blob/4.0.2/src/main/webapp/explicitGroup-new-dialog.xhtml), we have the following save button.
[code]
We want
[code]
to also update the `allGroups` dataTable in [manage-groups.xhtml](https://github.com/IQSS/dataverse/blob/4.0.2/src/main/webapp/manage-groups.xhtml), but when I change the

[2015-07-24 13:05] pdurbin commented on #2036
Ok, and the presence of "Index Scan" on "useridentifier" from `explain` (pro tip from @raprasad ) seems to confirm that it's indexed. Compare with "Seq Scan" for "superuser" below.

I still wonder why `getAuthenticatedUser` shows up so much in the profiler though: https://github.com/IQSS/dataverse/issues/2036#issuecomment-123733813

It's too bad I can't get `roleAssigneeCache` to help me out more.

[2015-07-24 15:05] kcondon commented on #2392
Michael, this ticket should remain open whether or not it is due in v4.1 or later. I opened it and assigned to v4.1 because this feature was being worked on now and wanted Gustavo and others to reprioritize as necessary.

[2015-07-24 15:07] kcondon commented on #2393
@michaelsuo Michael, when you finish these tickets, do not close them, instead mark them as qa and remove the dev label. That way I can retest and close. Thanks!

[2015-07-24 15:08] raprasad commented on #2365
There is now a deaccessioned checkbox

[2015-07-24 15:12] michaelsuo commented on #2393
@kcondon oh sorry! didn't realize
On Fri, Jul 24, 2015 at 11:07 AM kcondon <notifications@github.com> wrote:

[2015-07-24 15:14] kcondon commented on #2393
No problem, thanks for all the hard work!

[2015-07-24 15:22] kcondon commented on #2387
@michaelsuo This does not seem to be happening now, I'll close it. Thanks!

[2015-07-24 15:22] #2387 closed

[2015-07-24 15:25] sekmiller commented on #2383
The issue is caused by the globalIdCreateTime on the dataset being null.  The command tries to fill in the time but since the dataset doesn't have a doi protocol it fails.  The code should be updated to handle this.

As a bandaid we can manually update the global id create time which should allow them to publish.

Here are two diagnostic queries and an update query to accomplish this:

Select * fr

[2015-07-24 15:25] kcondon commented on #2397
OK, done button in place, not saving.

[2015-07-24 15:25] #2397 closed

[2015-07-24 15:26] kcondon commented on #2395
OK, already selected ids are removed from available list. Closing.

[2015-07-24 15:26] #2395 closed

[2015-07-24 15:26] sekmiller commented on #2383
For the remaining datasets we can check with the admin to see if they are planning to publish and run a bulk update if necessary.

[2015-07-24 15:32] kcondon commented on #2393
This is mostly working but is missing the Created In column.

[2015-07-24 15:34] michaelsuo commented on #2393
I think we decided to not display groups that belong to sub-Dataverses,
which makes the Created In column unnecessary?

On Fri, Jul 24, 2015 at 11:32 AM kcondon <notifications@github.com> wrote:

[2015-07-24 15:36] kcondon opened #2408 "Groups UI: View popup sort by column doesn't work, throws server log error when sort by Member Type"
The view group popup also has a group table and it has sort by column functionality. Neither column sort works but the Member Type throws a server log error:

[2015-07-24T11:34:13.473-0400] [glassfish 4.1] [SEVERE] [] [javax.enterprise.resource.webcontainer.jsf.application] [tid: _ThreadID=227 _ThreadName=jk-connector(3)] [timeMillis: 1437752053473] [levelValue: 1000] [[
  Error Rendering View[/ma

[2015-07-24 15:37] kcondon commented on #2388
This is working now, thanks! Closing.

[2015-07-24 15:37] #2388 closed

[2015-07-24 15:38] kcondon commented on #2385
Works, closing.

[2015-07-24 15:38] #2385 closed

[2015-07-24 17:36] sekmiller commented on #2383
@sbarbosadataverse - we ran a data update for the one dataset at the top of the ticket.  UCLA should now be able publish that dataset.  Next week we can decide what to do about the rest of the datasets on the list.  The keys here will be to see which are unpublished and to make sure that their handle urls resolve to dataverse 4 before we run a bulk update.

[2015-07-24 18:00] kcondon opened #2409 "Groups UI: When creating a group that has only other groups as members, membership column has typo"
shows "	, 3 groups" since there are no users, which would normally show: "2 users, 1 group"

[2015-07-24 18:02] kcondon commented on #2393
Yes, do not show sub dv groups in parent dv's manage group page but do show parent groups in sub dv's manage groups page since that is how group availability for assignment works. So yes, we should still have Created In following the above rules.

[2015-07-24 18:34] kcondon commented on #2400
Updated, closing.

[2015-07-24 18:34] #2400 closed

[2015-07-24 18:48] kcondon commented on #2399
OK doc updated, closing.

[2015-07-24 18:48] #2399 closed

[2015-07-24 18:52] kcondon commented on #2403
OK can search on first, last, username, closing.

[2015-07-24 18:52] #2403 closed

[2015-07-24 18:56] kcondon commented on #2365
OK, fully deaccessioned datasets now appear using the deaccesioned facet, closing.

[2015-07-24 18:56] #2365 closed

[2015-07-24 19:08] kcondon commented on #2273
OK this works for this specific scenario:
within the same draft, add and delete 2 files that have the same tags.
I was not able to reproduce the problem on a non patch server otherwise.
Closing.

[2015-07-24 19:08] #2273 closed

[2015-07-24 19:38] scolapasta commented on #2325
This is not realtedto MyData, since in MyData if you see a file card it is because you have the download file permission (i.e isn't restricted).

Whether we want an is restricted facet on the home page is a separate discussion.

[2015-07-24 19:41] scolapasta commented on #2311
@pdurbin should we check in a jetty.xml file into our repository for this? @kcondon

[2015-07-24 19:55] kcondon commented on #2379
I had deleted cache, no go but then did shift+reload and worked, D'oh! Closing.

[2015-07-24 19:55] #2379 closed

[2015-07-24 20:17] raprasad opened #2410 "MyData - card attributes"
- [ ] Add file tags to final cards
- [ ] Add affiliations to final dataverse card -- **single query** to grab all dataverse affiliations.
- [ ] logic for displaying correct icons for file cards

[2015-07-24 20:17] pdurbin commented on #2311
Related: #1928

[2015-07-24 20:20] raprasad opened #2411 "MyData - streamline retrieval of role labels"
Currently 70 to 200+ queries.  Can be done in 2 queries--or max. 30--up to 3 per card

- [RoleTagRetriever.java](https://github.com/IQSS/dataverse/blob/4.2/src/main/java/edu/harvard/iq/dataverse/mydata/RoleTagRetriever.java) class reduces queries to 2 or 3 total

[2015-07-24 20:22] pdurbin commented on #2311
@kcondon @raprasad what header size did you decide on?

[2015-07-24 21:11] kcondon commented on #2398
Works, closing.

[2015-07-24 21:11] #2398 closed

[2015-07-24 21:21] michaelsuo commented on #2392
Rudimentary edit functionality should be done.

[2015-07-24 21:26] michaelsuo commented on #2408
Fixed server log error, but member name still doesn't sort :-/

[2015-07-24 21:29] michaelsuo commented on #2409
should say "0 users" appropriately

[2015-07-24 22:25] kcondon commented on #2409
Works, closing

[2015-07-24 22:25] #2409 closed

[2015-07-24 22:27] kcondon commented on #2408
OK, close enough closing.

[2015-07-24 22:28] kcondon commented on #2392
@michaelsuo Works! Thanks for getting this one in at the last minute! Closing.

[2015-07-24 22:28] #2392 closed

[2015-07-24 22:30] kcondon commented on #2386
Still not working, passing to Gustavo.

[2015-07-27 05:38] landreev commented on #2268
The size limit is an application setting. It can be set for a specific supported format, like this:

curl -X PUT -d LIMIT http://localhost:8080/api/admin/settings/:TabularIngestSizeLimit:FORMAT

where LIMIT is the size limit in bytes; and FORMAT is a format identification tag, as reported by the plugin.
The tags for the currently supported format are as follows (case sensitive!):

dta
por
sav
Rdat

[2015-07-27 14:26] mheppler commented on #2396
@michaelsuo @scolapasta @kcondon -- this issue with PrimeFaces popups and Bootstrap tooltips can be found across the entire app. Give me this ticket, and I can try to resolve it for 4.2.

[2015-07-27 15:13] mheppler commented on #2396
Fixed bug with tooltips continuing to display when a popup is opened.

I looked into this, and it was a simple fix, by adding a line of jQuery to the dv_rebind_bootstrap_ui.js to hide tooltips when that file is run via oncomplete calls in commandLinks for opening the popup dialog component.

[2015-07-27 15:14] mheppler commented on #2393
Cleaned up layout of Edit popup for Manage Groups page.

The clean up of that popup doesn't entirely fit into the scope of this ticket, but I tagged it on, so as to save from an additional ticket.

[2015-07-27 15:45] landreev commented on #2268
P.S. Also, it is possible to set a "blanket" size limit, that will apply to all tabular format - that would be simply

curl -X PUT -d LIMIT http://localhost:8080/api/admin/settings/:TabularIngestSizeLimit

(i.e., with no FORMAT tag).
This doesn't have much of a practical value; because different formats have very different "problem" thresholds. But it could be used to flat-out disable tabular data

[2015-07-27 15:52] kcondon opened #2412 "Groups: Add documentation on how explicit groups works (subtree availability)."
Now that we have a groups UI it would be useful to have some description on how groups work such as their availability for role assignment in subtrees only and that groups within groups works and possibly how this affects my data.

[2015-07-27 15:53] kcondon opened #2413 "Groups UI: Delete user, then cancel or X the popup appears to delete user anyway but it is a refresh issue."
The cancel and X buttons in the edit groups popup appear to save deleted users but it is only a refresh issue since shift reload makes the user appear again. This does not seem to affect saving new users.

[2015-07-27 16:02] sbarbosadataverse commented on #2310
@scolapasta
I know we missed today's deadline for 4.1 but if we can get this in before the next milestone deadline of August that would be great--they use this for their next class uploads starting soon

[2015-07-27 16:07] kcondon opened #2414 "Permissions: Create group button disappeared, is that intentional?"
@scolapasta @eaquigley The create group button is no longer on the permissions page. Is that intentional?

[2015-07-27 16:12] kcondon commented on #2396
Works, closing.

[2015-07-27 16:12] #2396 closed

[2015-07-27 16:13] kcondon commented on #2304
Information present on cards on My Data page. Closing.

[2015-07-27 16:13] #2304 closed

[2015-07-27 16:20] kcondon opened #2415 "File Ingest Limiter: Document file size limiter in the administration? section of the guides."
The new file size limiter is a useful feature but should be documented too, probably in the administration section of the guides?

[2015-07-27 16:29] pdurbin opened #2416 "Hovering mouse over Download button does not reveal the URL of the file and the URL does not contain the file name"
If you go to https://zenodo.org/record/18898#.VbZZpZNVhBd and hover your mouse over the "Download" button you will see the URL https://zenodo.org/record/18898/files/MHC_PosSel_dataset.zip which is a direct link to the file. You can email this link to someone and it will work.

![screen shot 2015-07-27 at 12 18 18 pm](https://cloud.githubusercontent.com/assets/21006/8911449/a6fb50e2-345a-11e5-9bc8-

[2015-07-27 16:38] keflavich commented on #2416
:+1: this is what I want!

[2015-07-27 16:38] augustfly commented on #2416
yah. me too. and if I think of any permutations i'll comment promptly.

[2015-07-27 16:50] kcondon commented on #2268
OK, tested turning ingest off completely, limit=0, the below and above thresholds for all and each formats.
Closing.

[2015-07-27 16:50] #2268 closed

[2015-07-27 17:09] scolapasta commented on #2386
Fixed - the issue seemed to be the "@([id$=Messages]" which I replaced with the messagePanel from the header. This worked, but then I also had to modify backing bean to add the new group to the list of explicit groups.

[2015-07-27 17:11] raprasad commented on #639
Based on # of files + sizes, can there be a quick estimate of whether:
- This can be done fairly fast (in seconds) for that user
- Goes into a queue
   - User sees message saying to expect an email + dv notification for when the download is ready.

[2015-07-27 17:38] kcondon commented on #2386
Works, closing

[2015-07-27 17:38] #2386 closed

[2015-07-27 17:41] kcondon commented on #2308
Tested with production data and super admin account. Performs reasonably well. Closing.

[2015-07-27 17:41] #2308 closed

[2015-07-27 19:11] tercer commented on #2262
As long as, as @landreev says, " numeric values-to-labels mapping was already provided in the DDI metadata. " then we're fine.  We can reopen this if there appears on inspection to be anything askew or missing in what gets into the metadata.  Thanks.

[2015-07-27 19:11] #2262 closed

[2015-07-27 19:23] raprasad commented on #2302
Last issues moved to #2410 and #2411

[2015-07-27 20:00] raprasad opened #2417 "Add API endpoint for Dataverse.org metrics"
- Add simple API including:
  - # of public datasets
  - # of public dataverses
  - # of registered users
  - # downloads
- May be expanded later
- How dynamic should this be?
     - Suggestion:
       -  table:  "dv_public_stats"
       -  column: id, timestamp, JSON (or Text)
- API:
    - Uses database if called within last x hours,
    - If not, dynamically finds stats

[2015-07-28 11:06] bencomp commented on #2406
Sounds like a configuration issue to me, unless the "atmosphere error" is thrown by the application unnecessarily. Could you elaborate for your fellow sysadmins?

[2015-07-28 14:10] pdurbin opened #2418 "mismatch between user id in JSON response of created user and user id when looking it up in the database"
I haven't committed this test yet, but I'm seeing a mismatch between the user id in JSON response of created user and user id when looking it up in the database:

[code]

The bug seems to be in the JSON response because the new method I wrote to look up the id in the database returns the right id:

[code]

So the question is why the JSON coming back from creating the user via API is off.

I'm on c

[2015-07-28 14:40] kcondon commented on #2406
@bencomp Ben, there was a small config change with how apache uses atmosphere to talk to glassfish. The app works with or without this change but I believe it was intended to improve the asynch page updates for ingest. @landreev would have the details and I believe there is a ticket #1017 where he discusses it. It has not officially become part of the Installation Guide yet since it was experiment

[2015-07-28 14:46] kcondon commented on #1757
@scolapasta @pdurbin The current mod implementation has a continue flag and is intended to continue but it doesn't seem to work. It may have to do with it not updating indextime in the db as it indexes so there is not reference point to continue from.

[2015-07-28 15:18] kcondon commented on #2393
@michaelsuo The created in column still does not exist so I am reopening this ticket. In general, do not directly close tickets but send them to QA, thanks!

[2015-07-28 15:19] kcondon commented on #2408
@michaelsuo The sorting on this popup still does not work, though it does not throw a server log error. That is why I reopened it and passed it to @scolapasta in case he had ideas on how to make it work based on our skype call.

[2015-07-28 15:25] bencomp opened #2419 "User account cannot be disabled/deactivated"
In DVN 3.6, a Network administrator could deactivate a user account from the network options. This prevented the user from logging in and has been useful in cases that a dataverse creator left an organisation and should be prevented admin access to the dataverse. Unless this user had a Shibboleth account, the organisation has little control over access to the user's account used for Dataverse. Rem

[2015-07-28 15:26] michaelsuo commented on #2393
@kcondon oh I think issues are auto-closed when commits that mention them
are merged to master. I'll stop doing that!

On Tue, Jul 28, 2015 at 11:18 AM kcondon <notifications@github.com> wrote:

[2015-07-28 17:58] pdurbin commented on #2300
I just merged the 4.1 branch (4.0.2 technically since we renamed it in #2348 ) into master and `vagrant up` still works on master. I'd say we can close this ticket.

[2015-07-28 18:30] pdurbin commented on #2418
@scolapasta I'm going to give this to you to think about why we only see this bug with production data since I'm really not sure. I added a test in e45dd79 which you can execute by running `mvn test -Dtest=BuiltinUsersIT` or by clicking Cmd-F6 on the BuiltinUsersIT file in Netbeans.

The mismatch is making it difficult for me to write integrations tests with production data for #2036 so I'm going

[2015-07-28 18:58] pdurbin commented on #2311
Today @scolapasta @raprasad and I discovered that an internal server had the value set to one million. This is quite a bit higher than the "8192" value documented at http://guides.dataverse.org/en/4.1/installation/installation-main.html#solr-configuration

[2015-07-28 20:45] raprasad opened #2420 ""Watch dataset" update alerts (machine and person)"
- This is for automated checks such as TB
   - TB server signaled when master files updated
- Also, add email functions if researcher wants to know of updates

[2015-07-29 10:51] bencomp commented on #2420
What is TB?

[2015-07-29 10:57] bencomp commented on #2417
What would the necessary permissions for access to these endpoints be? Anyone (with a key) for the simple metrics and superuser for diagnostic endpoints (that may include all datasets and dataverses)?

Isn't the number of public dataverses and datasets queriable from Solr?

[2015-07-29 12:07] pdurbin commented on #2420
Tuberculosis: http://tb.datascience.iq.harvard.edu

[2015-07-29 12:14] pdurbin commented on #2417
Yes. In fact, the Search API queried by SHARE for https://osf.io/share/?q=*&optional=source%3Aharvarddataverse&sort=Date and https://osf.io/api/v1/share/search/?q=source:harvarddataverse

With the exception of API endpoints that are blocked to localhost for admin purposes, all APIs currently require an API token but #1838 may change this.

[2015-07-29 13:19] pdurbin commented on #2085
I have no idea what this ticket is about. I searched my email and I can't find a reference to it.

[2015-07-29 13:58] raprasad commented on #2417
@bencomp, they need stats (these to start) for the dataverse.org site; creating graphs, etc.

 - Point of a separate API endpoint is the stats they'd like to display will probably change out of the current solr scope in coming months.  That said, they should be available via anyone's API key

[2015-07-29 14:32] pdurbin commented on #2418
Actually the new method added to `api/Admin.java` in e45dd79 is allowing me to move forward in my integration test writing. Basically, I don't trust the id value given back in the JSON when I create a user. I always double check with my new API endpoint what the actual database id is.

Oh, I wonder if @michbarsinai has any thoughts on this.

[2015-07-29 16:03] kcondon opened #2421 "Index: Index using the mod/ continue command does not continue on repeated runs, possibly due to indextime not being set."
The mod version of indexing is intended to continue where it leaves off in case it needs to be restarted. That currently does not work, possibly because the index command does not update indextime as it goes along so does not have a reference to begin again from.

[2015-07-29 16:11] kcondon commented on #2300
Closing based on Phil's testing

[2015-07-29 16:11] #2300 closed

[2015-07-29 16:12] kcondon commented on #2102
Closing based on Phil's testing.

[2015-07-29 16:13] kcondon commented on #2302
Issues were tested as individual tickets, closing

[2015-07-29 16:13] #2302 closed

[2015-07-29 18:21] pdurbin commented on #2038
@scolapasta should we use this issue for the idea of a new Solr field containing "4.2" or whatever Dataverse version was used to index the Solr document? I guess we could call it "indexedByDataverseVersion" or something (suggestions welcome). It sounds like we want it to be searchable for troubleshooting purposes which is what made me think of this issue. /cc @kcondon @landreev

[2015-07-30 13:45] pdurbin commented on #108
This week I brought up autocomplete in the context of making files searchable from the dataset page and this idea was captured in a [Google Doc](https://docs.google.com/document/d/1mOTzoBRLwthHyhPbk1a5ts5TaN3bZx3L7SJ_ueCwGDM/edit?usp=sharing). We gave up on autocomplete relatively early on in developing Dataverse 4.0 (removing it in 83e8705 ) but I'm not sure if the bugs were due to JSF/Primefaces

[2015-07-30 15:45] pdurbin commented on #2280
How is the testing going? These images came up in [a Google Doc about reorganizing the Installation Guide](https://docs.google.com/document/d/1GLky44JbtCNhGuavLXGEP8WPNdjbyHNxalEGjR78MaA/edit?usp=sharing) but as of this writing these images are not something the Dataverse team at @IQSS can support. We don't have any experience with such things.

[2015-07-30 16:35] abhiiiss commented on #2280
@pdurbin Creating images are fairly easy job, and this is going to be next hot item as world is heading towards Virtualization and indeed, I am no more installing dataverse on a physical system. We are working on cloud.

[2015-07-30 17:14] pdurbin commented on #2280
@abhiiiss would you be able to write a script that creates the images? And maintain the script over time?

I'm not opposed to the idea but someone has to commit to the work for it to be sustainable.

[2015-07-30 19:34] kcondon commented on #2359
Installer is working also docs updated. Closing.

[2015-07-30 19:34] #2359 closed

[2015-07-30 20:04] pdurbin commented on #2421
In fdfd818 I wrote to a test that confirms that indextime is not being updated when you reindex an individual dataset manually. updateContentIndexTime gets called though. I'm not sure what's going on.

[2015-07-30 21:01] abhiiiss commented on #2280
Dear @pdurbin Presently, I am myself struggling with a clean installation of dataverse 4.x and hence may not do it as of now. I use VMs and OS images for many of our other jobs and found it very useful even for production mode. @4tikhonov is doing great help to me by working on this. He tried to help me, and I am sure he will do it also, but I still feel if it come from dataverse team will be grea

[2015-07-31 12:03] pdurbin commented on #2191
I'm still seeing this bug in production if I scroll halfway down the page at https://dataverse.harvard.edu/dataverse/antislaverypetitionsma?q=garrison

My guess is that we need to set the SearchHighlightFragmentSize per http://guides.dataverse.org/en/4.1/installation/installation-main.html#searchhighlightfragmentsize

    curl -X PUT -d 320 http://localhost:8080/api/admin/settings/:SearchHighlight

[2015-07-31 12:47] pdurbin commented on #775
In ccea087 I enabled `mvn -DcompilerArgument=-Xlint:unchecked test` on Travis builds at https://travis-ci.org/IQSS/dataverse so now it will be easier to see and link to "unchecked conversion" warnings, as I just did at https://github.com/IQSS/dataverse/pull/2425#issuecomment-126679792

[2015-07-31 13:06] pdurbin commented on #775
Ok, I enabled JaCoCo in 05539ae but we still need to figure out where to put the reports. It also might be nice to publish the HTML version of our javadoc somewhere. I wonder if this could all go in the "gh-pages" branch on this repo as explained by @vorburger at http://stackoverflow.com/questions/12343452/publish-artifacts-in-travis-ci-how/18119923#18119923 and https://github.com/vorburger/mvnDep

[2015-07-31 19:23] kcondon commented on #2191
OK, ran the update and full titles are now showing for this test case. Closing.

[2015-07-31 19:23] #2191 closed

[2015-07-31 20:50] michbarsinai commented on #2418
We need to look at this in on the server - we're using plain JPA code there.

[2015-07-31 21:14] kcondon commented on #2102
OK, tested using Michael's sample commands after manually creating a dataset with files. Files were preserved after making metadata changes to a published dataset.

Closing

[2015-07-31 21:14] #2102 closed

[2015-07-31 23:59] pdurbin commented on #2418
@michbarsinai maybe when you're in town we'll get a production database on your laptop so we can exercise the bug there.

[2015-08-03 12:17] pdurbin commented on #896
@bencomp just mentioned the potential use of DataCite Netherlands at https://groups.google.com/forum/#!topic/dataverse-community/xVb9a6dY8FQ

[2015-08-03 12:19] pdurbin commented on #896
Actually, this issue might be a duplicate of #24 but I'm not sure.

[2015-08-03 13:02] bencomp commented on #896
Talking directly to DataCite to register DOIs (which is #24) seems the most straightforward way to support non-US RAs. As far as I can tell, it is actually the only way. An organisation who wishes to allocate DOIs registers with a local DataCite Member (such as DC NL or DC CA), but everyone uses the same API. So I'd say it's a duplicate.

We must, however, first decide whether we want to use DataC

[2015-08-03 15:54] bencomp commented on #2246
To get a better grasp of what is being developed and with what constraints use cases are being implemented, I would like an overview of all existing FRDs. (The few links in the description of the *In Design* [milestone](https://github.com/IQSS/dataverse/milestones) aren't enough.)
A **link from [CONTRIBUTING.md](https://github.com/IQSS/dataverse/blob/master/CONTRIBUTING.md) and/or the Developers'

[2015-08-03 16:09] eaquigley commented on #2246
@bencomp ( @mcrosas as well), my thoughts on structure of FRDs in Google Drive is this:
FRD Folder->In Design Folder (all FRDs for In Design milestone are here)
FRD Folder->Individual Release Folder (all FRDs for that release are here)

So in the contributing.md there would be a link to the overall FRD folder and anyone can view them by release or in design so they are organized that way so they m

[2015-08-03 16:12] sbarbosadataverse opened #2427 "Link Dataset - List of dataverses getting stuck, can't select"
Even tho I'm selecting "Schneer,' the list is stuck on "smith."
Tried several times same results.

And when I type in the entire name of the dataverse, the list will "skip" instead of staying on the name selected

![screen shot 2015-08-03 at 12 20 06 pm](https://cloud.githubusercontent.com/assets/8322346/9041910/f85422ba-39d8-11e5-823a-3c4e10baacd1.png)

[2015-08-03 16:24] sbarbosadataverse opened #2428 "Processing bar not showing progress: post the last 4.1 release, noticed blue progress bar showing no progress during file upload"
![screen shot 2015-08-01 at 9 36 41 am](https://cloud.githubusercontent.com/assets/8322346/9042113/896d900a-39da-11e5-87a3-a5b2a9116e10.png)

[2015-08-03 16:31] mcrosas commented on #2246
:+1:

[2015-08-03 16:51] sbarbosadataverse opened #2429 "uploading datafile: uploading getting stuck between upload and draft creation, no progress no error display"
This file has been processing for over 4 minutes. It's a small list file that when uploaded originally took a few a seconds to complete. I uploaded this at the same time with a stata data file that already successfully uploaded.
I decided to just refresh the page, which refreshed to the published version and not the draft, and when I check draft, the file did  not successfully upload.

3 complaint

[2015-08-03 17:55] eaquigley commented on #2414
According to the mock ups made for groups, https://iqssharvard.mybalsamiq.com/projects/groupsui/grid, there should be a create group button on dataverse, dataset, and files permission pages. Without that button, it does not make sense to have the Created In column on the groups manage page.

[2015-08-03 19:29] sbarbosadataverse opened #2430 "My Data - Superuser "Results by username" expanded to allow First, Last Names"
As it's not always easy to find a username especially if someone is not creating a username based on their email, it's much easier to search for users by their first and last names.

[2015-08-03 19:58] pdurbin commented on #2036
e5a11cd is a nice speed up for the case when we only have one version of a dataset and it's both the published and latest version.

[2015-08-03 20:06] raprasad commented on #2411
@kcondon, Now 'all' roles should show, even if assigned at a higher level.

[2015-08-03 21:09] pdurbin commented on #2311
@raprasad can you please add some documentation on what the value should be?

[2015-08-03 21:12] eaquigley commented on #2280
@pdurbin i don't think this ticket should be assigned to me. i won't have anything to do with the testing of the VMware. I understand there is the need to figure out where to host a link to it on dataverse.org but that and the testing of it are two different things. I don't want the testing to get lost because I have the this.

[2015-08-03 21:12] eaquigley commented on #2246
@bencomp I've added a few FRDs to the 4.2 folder in the FRD folder and updated the contributing.md to have a link to it. I'll continue to add FRDs there.

[2015-08-04 09:37] bencomp commented on #2246
@eaquigley great. Where can I find this folder?

[2015-08-04 14:12] pdurbin opened #2431 "Native API: publish dataset endpoint mismatch (POST vs. GET) in docs vs. code"
http://guides.dataverse.org/en/4.1/api/native-api.html#datasets says...

... but the method actually takes a GET rather than a POST:

`curl -X GET -H "X-Dataverse-key:$API_TOKEN" http://localhost:8080/api/datasets/2675227/actions/:publish?type=minor`

Probably it should be a POST, as documented, since we're changing state on the server. Yes, this will break backward compatibility of the Native API

[2015-08-04 14:29] bencomp commented on #2431
What was the result/status of investigating tools like [Enunciate][1] for generating REST API documentation based on Javadoc? I love documentation (and cannot link #775 enough ;)), but in situations like these I'd think no mismatch between code and documentation would have existed.

[1]: http://enunciate.webcohesion.com/

[2015-08-04 14:48] pdurbin commented on #2431
Huh. Enunciate wasn't really on my radar but I see you did mention it at http://irclog.iq.harvard.edu/dataverse/2015-01-07#i_15039 . (I was thinking more of [Swagger](http://swagger.io) back then.) I do love me some documentation.

As a first step, it might be interesting to at least compare Enunciate output to our docs as a sanity check. Of course, more integration tests would probably also find

[2015-08-04 16:17] eaquigley opened #2432 "Versions Tab: Enable request access value does not appear in version differences."
If you change the terms between versions, this isn't listed in the versions table or in the pop up. It should be.

[2015-08-04 16:27] pdurbin commented on #24
"Here in UBC, we would strongly support continue issuing handles for datasets (and not just DOIs) in Dataverse 4. We will be relying on handles to assign/resolve DOIs in our new discovery level for UBC Library - open collections. Our thinking is to use handles to resolve DOIs to. So handles will continue to be essential for us to use. As we have to work with DataCite API in Canada for now, we cann

[2015-08-04 16:36] eugene-barsky commented on #24
Thanks, Philip!

E

[2015-08-04 16:58] sbarbosadataverse opened #2433 "md5 error: remove error that shows up when creating a new draft"
![screen shot 2015-08-04 at 1 01 22 pm](https://cloud.githubusercontent.com/assets/8322346/9066952/76ce6f04-3aa8-11e5-853c-da8e6fcbc806.png)

[2015-08-04 18:26] sbarbosadataverse commented on #1454
moved to dataverse-curation

[2015-08-04 18:26] #1454 closed

[2015-08-04 18:27] sbarbosadataverse commented on #1764
moved to dataverse-curation

[2015-08-04 18:27] #1764 closed

[2015-08-04 18:28] sbarbosadataverse commented on #1765
Can close for now. Update custom fields/values as requested by users.

[2015-08-04 18:28] #1765 closed

[2015-08-04 18:33] sbarbosadataverse commented on #1956
We need to meet with Sunje, Kevin, Gustavo, together with "subjects" and "contact emails"
to create scripts to get this done. Also review general facets logic that can be cleaned up with scripts

[2015-08-04 20:36] pdurbin commented on #2036
0802173 helps a lot because it batches the indexing of files. See the commit message for various speed comparisons but one that I didn't include is that http://hdl.handle.net/1902.1/NGQCIPIDUK was taking 36 seconds to reindex (the whole dataset, not just permissions) and now it takes 2 seconds.

@scolapasta we should probably decide what's fast enough for 4.2. As we discussed, I'll do a build and

[2015-08-04 21:08] eaquigley commented on #2043
FRD has been completed: https://docs.google.com/document/d/1qoDTXXCIBtMgLbh_xSISNkfh5dvh_afB3kDNcEUIOEo/edit?usp=sharing

Now just needs to be scheduled for development. No need for mockups as it is adding an extra step to an existing workflow.

[2015-08-05 07:09] bencomp commented on #2432
There is more like this: #2258

[2015-08-05 15:04] mheppler commented on #1665
This also would allow for using PrettyFaces URLs for datasets.

From @scolapasta in an email dated 12/10/14:

Also see, related dataverse Theme + Widget file upload + PrettyFaces ticket #1126.

[2015-08-05 18:54] eaquigley commented on #2249
FRD for this feature (work in progress): https://docs.google.com/document/d/1PqL6EljP-N51rt3puy3HedStrnV5DOJ3Gf7H_zPHcA0/edit?usp=sharing

[2015-08-05 21:22] sbarbosadataverse opened #2434 "delayed "draft" creation and display: when you create a new version, DRAFT version is delayed under "versions tab.""
User reported this issue yesterday as well and I was able to replicate today:

created a new dataset version, his save twice to get out of edit screen (first time see processing blue spinner but save never resolves from "Edit" page).

Page display shows successful metadata changes associated with new version, but citation shows "published" V#, and there is no option to "publish."

Hit "version tab

[2015-08-05 21:33] sbarbosadataverse opened #2435 "Edit Dataset Metadata: After save, page should display with Metadata tab open"
When I edit metadata page and hit "save" I am directed back to "file" tab page and have to go and select "metadata" tab to see my changes before publishing. I should direct back to metadata tab or whatever tab I was editing to begin with.

[2015-08-05 21:54] sbarbosadataverse opened #2436 "Editing not saving: Page doesn't save then removes newly added metadata values, and gives error for missing value (that was already there prior to hitting save)"
You edit metadata, select save, spinning blue circle spins then stops and remains on editing screen
You hit save again, and blue spinning then error appears for missing required value (but screen shot shows the value was there during the first save attempt).
You add value again, and hit save and nothing happens.

![screen shot 2015-08-05 at 5 51 53 pm](https://cloud.githubusercontent.com/assets/83

[2015-08-05 21:57] kcondon commented on #2414
Created in also applies to parent dataverses, that seems to be the most important scenario since child dv's can see what is available from the parent.

[2015-08-06 16:24] sbarbosadataverse commented on #1956
You will be writing the scripts so this doesn't need to be assigned to me.

[2015-08-06 16:35] landreev commented on #2429
This was caused by a problem with Jhove configuration.
The issue was actually resolved back in January (see #951). But it was solved by a change in the config file. Which is shipped with the installer, that puts it in the domain config directory. But we never updated the copy installed in production; so this became a problem on Monday, when the schema url from the old config file stopped working.

[2015-08-06 16:36] #2429 closed

[2015-08-06 17:51] eaquigley commented on #2433
@sbarbosadataverse what is the workflow for when this happens? is it when editing pre-existing files or is it you've uploaded new files?

[2015-08-06 18:51] kcondon opened #2437 "Handles: Restore handle registration functionality in 4.x"
Due to time constraints, we did not complete the code for fully supporting handles in v4.x. Currently handles are presented and resolved correctly but not created. This ticket is intended to restore that functionality.

Please note there were several other tickets that address handle registration robustness, similar to what was done for doi: how we address server not available situations and check

[2015-08-06 19:15] mcrosas commented on #2437
Relates also to #889 and #889

[2015-08-07 08:41] bencomp commented on #2437
I would like this too.

CNRI [announced][1] that

Hopefully that would make this easier to implement.

[1]: http://www.handle.net/mail-archive/handle-info/msg00698.html

[2015-08-07 13:55] raprasad commented on #2411
@scolapasta - I moved this to "4.2" since the code is already checked in.

[2015-08-07 14:34] eaquigley opened #2438 "Files: Persistent Identifiers for Files (DOIs for files)"
Since we are moving towards individual pages for files, we also need to think about what the persistent identifier will be for them.

[2015-08-07 16:23] michbarsinai opened #2439 "Remove the `GroupProvider` interface from `BuiltinAuthenticationProvider`."
As it is not used at the moment and we can always add it later.

[2015-08-07 18:44] kcondon opened #2440 "Permissions: Cannot assign explicit groups permissions at the file level."
Cannot assign explicit groups permissions at the file level, works at dv and ds level.

Groups do not show up in list of available assignees.

[2015-08-07 20:41] sbarbosadataverse commented on #2021
@eaquigley
will this ticket cover sorting by tags? aka "sorting or organizing files by catogories in 3.6"

[2015-08-10 13:49] pdurbin opened #2441 "OptimisticLockException updating a dataset with JSON"
First reported by @garthg at https://github.com/IQSS/dataverse-client-python/issues/25 but I I'm getting a 500 error on both v4.1 and the latest code in the the 4.2 branch (5b4f763). I'm using the JSON from the issue above.

[code]

Here's the stacktrace from the 4.2 branch:

[code]

[2015-08-10 13:51] eaquigley commented on #2060
Moving into 4.2 as downloading multiple files is scheduled to occur during this milestone. Error message currently displaying only in the readme file for the downloads, needs to also display in the UI when a user attempts to download multiple files and it is too big to allow them to unselect files and try downloading without having to wait to open the readme file.

[2015-08-10 14:00] eaquigley commented on #2297
@mcrosas would this be something we could add to the "selecting metadata fields" portion of the general information page of a dataverse or should this be on the dataset level?

[2015-08-10 14:07] eaquigley commented on #1683
I went to dataverse.harvard.edu to see if the citation for the subset is part of what a user receives when they download a subset and two things 1) TwoRavens isn't working on Chrome (nothing appears in the pop up when I click Explore or Subset in the download dropdown) 2) when I went to Firefox (which the variables did populate in the Subset pop up), when I selected several variables and clicked D

[2015-08-10 14:17] pdurbin commented on #2441
Ok, I think 9a34912 is a good fix. Passing to QA. This is how I was testing:

`curl -i -H "Content-type:application/json" -X PUT -d @/tmp/update.json http://localhost:8080/api/datasets/2684554/versions/:draft?key=$API_TOKEN`

[2015-08-10 14:55] eaquigley commented on #2295
For displaying file level metadata, we are moving towards an individual file page that shows file level metadata.

Learn more here: https://docs.google.com/document/d/1xI13TaYDBo7DTPNDyWd92URx83-25d_B65TwuteZegA/edit?usp=sharing

[2015-08-10 15:17] eaquigley commented on #2021
@sbarbosadataverse yes. more information can be found in this FRD (that has links to FRDs specific to this):

https://docs.google.com/document/d/1v-6WuFyClnAAHqyMf1VsWtCdXDTTR-ikuG6Ou8RtDMM/edit?usp=sharing

[2015-08-10 17:28] pdurbin opened #2442 "Can't use X-Dataverse-key from Search API"
In #2123 we started allowing the use of an API token as a header but it isn't working in the Search API:

$ curl -H "X-Dataverse-key:$API_TOKEN" http://localhost:8080/api/search
{"status":"ERROR","message":"Please provide a key query parameter (?key=XXX) or via the HTTP header X-Dataverse-key"}

[2015-08-10 17:34] pdurbin commented on #2442
Fixed in a76fad2 in a branch. @michbarsinai I made a method private so it couldn't be called from the Search API endpoint. I'll wait until you're done with your big change in 4.2 before merging this in.

[2015-08-10 17:36] garthg commented on #2441
Thank you @pdurbin ! I'll wait for the update from QA and then try again in production.

[2015-08-10 20:04] michbarsinai opened #2443 "Developer-machine friendly setup script"
Part of the automated integration test suite, we need a script that a developer can run locally to setup a dataverse instance.

Assumptions:
- PSQL, GlassFish installed
- Dataverse installed on GF (e.g. by NetBeans)
- PSQL's table structure correct (e.g. by JPA).

Script will:
- Install reference data (needed for SWORD)
- Update Jhove
- Update Solr's schema
- Create initial database data (root dv,

[2015-08-10 20:06] michbarsinai commented on #2443
Assigning @scolapasta to route this. Also, @pdurbin, please add references to your scripts that do parts of this already.

[2015-08-10 20:08] michbarsinai commented on #1360
Should be solved now that #1257 has been implemented.

[2015-08-10 20:22] pdurbin commented on #2442
Ok 50c308e is a better fix. Cleaner because I removed the "key" parameter from the Search endpoint (though I tested it still works). Passing to QA.

[2015-08-11 14:19] raprasad opened #2444 "Dataset Files Explore - Add CartoDB and plotly"
Minimal coding effort is needed to add "Explore" links for cartodb and plotly.

The attached screenshot is from data.gov (a CKAN installation)

The links indicated in the screenshot are:
- https://plot.ly/external/?url=http://www.gsa.gov/dg/NSN_DATA.xls
- http://oneclick.cartodb.com/?file=http://www.gsa.gov/dg/NSN_DATA.xls&provider=data.gov

---

![national_stock_number_extract_-_data_gov](https:/

[2015-08-11 14:29] raprasad opened #2445 "Allow Google scholar repository indexing: Conform to Meta tag guidelines"
#### Follow the google scholar guidelines for searching repositories

Google scholar can natively search/crawl Eprints, DSpace, Digital Commons or OJS.  Dataverse contains the metadata to comply with these guidelines.

The guidelines are here:
- Go to: http://scholar.google.com/intl/en-us/scholar/inclusion.html#indexing
- Scroll to:  `2. Configuring the meta-tags`
- Excerpt:

Sample code from the

[2015-08-11 14:30] mcrosas commented on #2444
@scolapasta and @eaquigley we should do this for 4.2, given that it's so straightforward.

[2015-08-11 14:33] michbarsinai opened #2446 "Add `isSecureConnection` field `DataverseRequest`"
note the interplay with #1368. Need to support connections that are externally secure, but forwarded in the clear, e.g. by a reverse proxy.

_Part of the DataTags support._

[2015-08-11 18:30] pdurbin commented on #2443
https://github.com/IQSS/dataverse/tree/4.2/scripts/database/homebrew is where I've been putting scripts that I use on my laptop (where I use homebrew to install PostgreSQL and other software). Some highlights:

- small shell script that doesn't require root as an alternative to the installer: https://github.com/IQSS/dataverse/blob/4.2/scripts/database/homebrew/devinstall
- drop database and solr c

[2015-08-11 20:41] kcondon commented on #840
Also requested by Open Scholar, see RT 225414: I am strongly in support of having an admin
utilities page like in 3.6!  Looking forward to that being added.

[2015-08-11 20:43] kcondon commented on #2170
Needed to prevent using other people's real email address to create fake accounts, see RT 225535

[2015-08-11 20:48] kcondon commented on #1380
This was requested by Open Scholar and is a deal breaker for upgrading to 4.x. See RT 225414:
Oh also, I should have mentioned that support for IP groups is a real
deal-breaker for OCUL. We won't be able to even consider upgrading our
instance without that functionality!

[2015-08-11 22:10] bencomp commented on #2445
Dupe of #1393, I think.

[2015-08-12 13:01] colima commented on #1848
@kcondon , I am also getting the same issue. The users are not getting any noifications even on password reset. I have checked usernotifications table and emailed is all FALSE. Any idea what I might have missed in my settings.

[2015-08-12 14:20] michbarsinai commented on #1380
This should be supported now, after #1257 is implemented.

[2015-08-12 16:40] sbarbosadataverse opened #2447 "Permissions: ability to give admin/curator permissions from Parent dataverse to child dataverse, at parent level"
Currently have to go into each subdataverse and assign an admin in the parent, permissions in the child. While we don't want parent level permissions inherited at child level, there should be a feature that allows parent admins to be easily added to child dataverses.

[2015-08-12 21:03] kcondon opened #2448 "Edit Dataset: When create draft from files or terms tab, fill in any required field that fails validation with N/A"
A short term solution for the validation errors preventing saving from files or terms tab is to put N/A in those failing metadata fields and allow save to proceed. N/A is a special value that is not printable in view mode and meant to facilitate content from non Dataverse sources via harvesting. We are using it to alleviate this immediate usability issue but long term will have a better solution.

[2015-08-12 21:03] eaquigley opened #2449 "Metadata Validation: Script to populate required values as N/A"
Short term solution for datasets that existed prior to 4.0 and are missing newly required metadata fields.

-write script that will populate subject and contact email fields as n/a if they are empty so a user does not lose work when they go to save edits to files or terms in a new draft and do not have these metadata fields filled out.

[2015-08-12 21:07] eaquigley opened #2450 "Metadata Validation: Allow Users to Save Edits to Files + Terms when required metadata is not filled out"
Long term solution for datasets that existed prior to 4.0 and do not have subject and/or contact email filled out when they go to save edits to files or terms for a new draft of the dataset.

This will also allow users to save edits to files or terms for a new draft of a dataset if any required metadata fields have been added to the dataverse since the creation of the dataset.

Currently, validati

[2015-08-12 21:08] kcondon opened #2451 "Edit Dataset: When create draft from files or terms tab, warn after saving that metadata fields are required and fail on publish."
See https://github.com/IQSS/dataverse/issues/2448

This is a longer term solution for the UX issue where a user does not have all the required fields filled in but is editing or creating a draft from the files or terms tab. Rather than failing save and losing the work on those tabs, it allows saving but posts a warning that specific required fields need to be completed before publishing. It will a

[2015-08-12 22:16] kcondon opened #2452 "Dataverse Metadata: Update dataverse categories in production by assigning Researcher to pre-4.0 Scholar dv's."
To improve categorization of pre v4.0 dataverses where category did not exist, query v3.6 db to get list of Scholar dv's and write script to make their category be Researcher in 4.0.

[2015-08-12 23:54] kcondon commented on #2278
I have moved countless datasets and dataverses manually through the db, including the gigantic PSI. There were 3 separate requests today alone! Stop the madness!

[2015-08-13 02:05] mcrosas commented on #2278
:+1:

[2015-08-13 13:05] raprasad commented on #2420
The TB application requires the latest version of a specific dataset.  Until DV can send some type of signal/alert, TB app will use the DV API to see if it has the latest version locally.

[2015-08-13 14:48] pdurbin opened #2453 "Async index all doesn't "just work", leaves thread in RUNNABLE (waiting) state"
When upgrading https://apitest.dataverse.org from 4.0.1 to 4.1 and afterwards running regular "index all" (by hitting http://localhost:8080/api/admin/index with curl) indexing iterates through all the dataverses but then always stops at the second dataset (server.log shows indexing dataset 2 of 24).

If I stop and start Glassfish (kill -9 may be necessary) and index the second dataset by itself it

[2015-08-13 15:22] pdurbin commented on #2453
Meanwhile, with the async version of index all failing and requiring Glassfish to be stopped and started, what's the best way to accomplish an index all? Here's one way:

Index all dataverses:

`curl -s "http://localhost:8080/api/admin/index/continue?numPartitions=1&partitionIdToProcess=0&previewOnly=true" | jq .data.previewOfPartitionWorkload.dvContainerIds.dataverses[] | while read i; do curl ht

[2015-08-13 15:26] pdurbin commented on #2453
This **Is Asynchronous EJB Just a Gimmick?** article has me concerned:

[2015-08-13 15:33] michbarsinai opened #2454 "Distinguish between "read" and "write" permissions, make the "write" ones apply only to AuthenticatedUsers"
This would prevent, e.g., creation of DvObjects by the GuestUser when coming from a whitelisted IP address.

This required adding a new type of CommandException, along the lines of "GuestUserNotAllowed".

[2015-08-13 16:01] pdurbin commented on #2453
I'm able to reproduce this issue with an even smaller database that I can make public: http://danceb.in/Xq8dbtRB5RGsGM6xDMIysQ/raw

@michbarsinai suggested returning void rather than Future: http://irclog.iq.harvard.edu/dataverse/2015-08-13#i_23017

[2015-08-13 16:32] pdurbin opened #2455 "Use Solr for file listing on dataset page"
In the FRD about [improving the organization and display of files](https://docs.google.com/document/d/1v-6WuFyClnAAHqyMf1VsWtCdXDTTR-ikuG6Ou8RtDMM/edit?usp=sharing) as [mentioned on the Google Group](https://groups.google.com/forum/#!topic/dataverse-community/gtz2npccWjU) we've been talking about the possibility of **building the list of files on the dataset page using Solr rather than the databas

[2015-08-13 16:57] landreev commented on #2455
These are my summarized thoughts on the issue (reposted from the dataverse list):

After talking offline to some developers about this, I figured I would bring this up one more time.

Namely, I'm talking about switching to using solr for viewing files. (Please read the whole thing before deciding that you hate my idea!)

So far, we have the following good reasons to proceed with this:

1. Duplicat

[2015-08-13 16:58] landreev commented on #2455
(github messed up the formatting, but should still be readable)

[2015-08-13 18:43] pdurbin commented on #2453
I tried this in 681e7e9 (a new branch) but it didn't seem to help.

[2015-08-13 18:54] scolapasta commented on #2449
We won't be doing this via script, but the issue for code is already entered at #2448.

[2015-08-13 19:04] eaquigley commented on #2449
@scolapasta can this ticket be closed then?

[2015-08-13 19:10] pdurbin commented on #2453
@scolapasta can you please review a4a37b5 and let me know if I can merge it from the branch it's in into 4.2? It reverts some of the performance gains we talked about at https://github.com/IQSS/dataverse/issues/2036#issuecomment-122086115 but to me it seems well worth it if it gets "index all" working again with no stuck threads.

[2015-08-13 19:42] sbarbosadataverse opened #2457 "URL link: add links to fields that allow URL"
the fields exists have values and should show as a link rather than the url address

![screen shot 2015-08-13 at 3 50 18 pm](https://cloud.githubusercontent.com/assets/8322346/9259804/ccf497d4-41d1-11e5-9138-8ac84c0c80af.png)

[2015-08-13 19:59] scolapasta commented on #2077
Worked with @sbarbosadataverse and this is all set.

[2015-08-13 20:14] pdurbin commented on #2322
I just [realized](http://irclog.iq.harvard.edu/dataverse/2015-08-13#i_23065) that http://lucene.apache.org/solr/quickstart.html is totally new for Solr 5 vs. Solr 4.

So maybe it will be easier to us SolrCloud as part of an upgrade from Solr 4.6.0 (#456). It seem like they don't guide you to use `java -jar start.jar` anymore.

[2015-08-13 20:44] scolapasta commented on #1779
Worked with @sbarbosadataverse and this is all set, except for one (PSI Research and Metrics), which @sbarbosadataverse is investigating.

 Note, this was not a code change, but a production curation task.

[2015-08-13 20:51] scolapasta commented on #1779
Done - we deleted that last group (per Dana @ PSI).

[2015-08-13 20:53] pdurbin commented on #2455
I agree with everything @landreev has to say. (Oh, I fixed the formatting a bit, by the way.)

No matter what milestone this feature ends up in I think a **user story for using Solr for file listing on dataset page** will help us write an automated test to validate that the feature is working as desired. I just started a [Google doc](https://docs.google.com/document/d/1FzgFkjyZH4NL8Q-6Ytl3l3xWib5q

[2015-08-14 14:54] eaquigley opened #2458 "IP Groups: How do we show someone is part of an IP group?"
In v3 we had text next to the log in link displaying if you were accessing the site as part of an IP group. How should we show this in 4.0?

[2015-08-14 20:05] chrisseto opened #2459 "Invalid JSON being sent back"
The JSON I'm referencing for this issue is located [here](https://dataverse.harvard.edu/api/datasets/2693203/versions/:latest-published)
This is the data being returned at the time of this issue being created:
[code]

When run through a JSON parser I get the error
![screen shot 2015-08-14 at 16 03 12](https://cloud.githubusercontent.com/assets/5532905/9282967/09d6caf6-429e-11e5-871c-c67026c249a2.p

[2015-08-14 20:27] pdurbin commented on #2459
Wow. Crazy. The weird thing is that is seems to happen about half the time on "kirk" ...

[code]

... but never on "picard". I discussed with @landreev and he's going to see if restarting kirk helps.

[2015-08-14 20:35] pdurbin commented on #2459
Ok, after @landreev restarted "kirk" and now I can't reproduce the problem. Very strange to be losing bytes like that!

"kirk" and "picard" are configured the same way. Both are now fronted by Apache per #2180 for the record but I don't know if that's a factor or not.

Passing to QA.

[2015-08-14 20:51] pdurbin commented on #1749
#2321 is the new issue for improving documentation.

[2015-08-14 21:06] pdurbin opened #2460 "PSQLException: ERROR: deadlock detected running integration tests"
Running integration tests such as `mvn test -Dtest=SearchIT` is causing deadlocks. I'm not sure why. An example stacktrace is below. These integration tests are normal API calls. I'm not touching the database directly or anything. I'm on commit 35c42ad. Passing to @scolapasta for review.

[code]

[2015-08-17 12:31] chrisseto commented on #2459
@pdurbin, looks to be fixed, thanks for getting back so fast!

[2015-08-17 14:05] pdurbin opened #2461 "Native API: publish dataset allows version less than v1.0 to be published (i.e. v0.1)"
If you do `curl -X GET -H "X-Dataverse-key:$API_TOKEN" http://localhost:8080/api/datasets/2675227/actions/:publish?type=minor` (which should probably be a POST per #2431) on a new unpublished dataset, you are permitted to publish version 0.1 but I think our business rules dictate that the initial version of a dataset should be 1.0. Docs are here: http://guides.dataverse.org/en/4.2/api/native-api.h

[2015-08-17 14:56] kcondon opened #2462 "Migration: Complete scripts and documentation, then verify migration steps for use by others."
We currently have migration scripts and steps on how to run just the scripts but there were some off script customizations done during our own migration that need to be included and the instructions are only for running the scripts, not how to do a complete migration. Since we have had a half dozen requests for information on how to upgrade and at least one import error, we need to meet as a group

[2015-08-17 15:29] eaquigley opened #2463 "File Error Triangle: Only Show for Dataset Owners"
Currently the triangle error for a file is appearing for both data downloaders and dataset owners. Spoke with @mcrosas and we both agree that it only needs to appear for the dataset owner (admin, curator, contributor) not when a user is viewing the page to download.

@mheppler can you evaluate if this is something you can do on your end or if there is a need for a back end developer to help with t

[2015-08-17 18:57] pdurbin opened #2464 "SWORD: deleting a file from a published version (not a draft) creates a draft but doesn't delete the file"
Observed on my laptop running 35c42ad (4.2 branch, pre-release). Deleting a file from a published version (not a draft) via SWORD creates a draft but doesn't delete the file.

Steps to reproduce:
- via GUI, create dataset
- via GUI, upload zip of three text files: https://github.com/IQSS/dataverse/blob/4.2/scripts/search/data/binary/3files.zip
- via GUI, publish dataset
- via SWORD, try to delete

[2015-08-17 20:31] eaquigley opened #2465 "File: Individual Landing Pages for Files"
Moving towards individual landing pages for files.

Assigning ticket to @mheppler to make wireframe for @sekmiller

[2015-08-17 20:35] pdurbin opened #2466 "Index "File Tag" and "Access" (Public vs. Restricted) facets"
Even if facets only show on the dataverse page and not the dataset page, we'd like to start indexing tags (formerly categories) at the file level so we can facet on them.

We *could* also index other fields at the file level, such as:

- More detailed file type ("RData" instead of just "tabular")
- If the file is restricted or not. See also #2325
- ...

[2015-08-17 20:45] pdurbin commented on #2038
datasetVersionId was already on my list of recommended fields to make searchable at https://github.com/IQSS/dataverse/issues/2038#issuecomment-104344720 but I'm pretty sure it would be necessary to support searching for past versions of files as part of #2455. I made the change locally but haven't committed it yet.

[2015-08-18 14:14] pdurbin commented on #2460
Here's another example:

[code]

[2015-08-18 14:16] raprasad commented on #1872
@kcondon, closing this.  e.g., this has been in prod since launch

[2015-08-18 14:17] #1872 closed

[2015-08-18 14:18] raprasad commented on #1754
@scolapasta @kcondon
This can be handled in 4.2

[2015-08-18 16:02] mheppler commented on #2202
Currently, the File Type values that are delivered from MimeTypeFacets.properties are lower case (see attached). I suggest that we capitalize them.
![screen shot 2015-08-18 at 12 01 31 pm](https://cloud.githubusercontent.com/assets/687227/9335262/05166d2c-45a1-11e5-97cb-21d8733c6c21.png)

[2015-08-18 16:08] pdurbin commented on #2466
As I was discussing with @mheppler this data about file types is already indexed in Solr:

[code]

Currently we only show "document" for PDFs because we use the fileTypeGroupFacet which shows up as "File Type" in the GUI:

![harvard_dataverse_-_2015-08-18_12 04 10](https://cloud.githubusercontent.com/assets/21006/9335285/253ff5dc-45a1-11e5-9881-2d1100c95403.png)

It would probably be nice to be ab

[2015-08-18 16:16] pdurbin commented on #2466
With around 8000 datasets from production data indexed locally and here's how the new "File Tags" facet is looking:

![harvard_dataverse_-_2015-08-18_12 14 54](https://cloud.githubusercontent.com/assets/21006/9335582/d8bf4710-45a2-11e5-97db-b56f9620213f.png)

[2015-08-18 17:57] kcondon opened #2467 "File Upload: Improve message when user tries to upload duplicate file."
See RT 225830
User attempted to upload a duplicate file with a different name to an existing set of files and became very frustrated because the app only said the file already exists but gave no other information.

I believe we used to provide more information. Maybe we can at least provide the duplicate file name and reason:

A file with the same content ,<file name>, already exists identified by

[2015-08-18 18:00] kcondon opened #2468 "Guestbook: Error in server log about size, needs a size check?"
[Stephen]
At first glance it looks like there needs to be a size check on the response entered.  Can you assign the ticket to me?

Seen in production server log around the time of system instability.

[2015-08-18T12:50:21.082-0400] [glassfish 4.1] [WARNING] [] [org.eclipse.persistence.session.file:/opt/dvn/app/glassfish4/glassfish/domains/domain1/applications/dataverse-4.1-71/WEB-INF/classes/_VDCN

[2015-08-18 18:02] pdurbin commented on #2325
I just discussed this issue with @landreev in the context of perhaps adding a facet for "Access" as "Public" or "Restricted" per [mockups](https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/grid) related to file-level facets as part of #2466:

![dataset_-_files_mybalsamiq_-_2015-08-18_13 59 12](https://cloud.githubusercontent.com/assets/21006/9338152/34521f7c-45b1-

[2015-08-18 18:03] pdurbin commented on #2466
After discussing this with @landreev I'm going to defer this task for 4.2. It turns out to be more complicated that I expected per my comment at https://github.com/IQSS/dataverse/issues/2325#issuecomment-132299339

[2015-08-18 18:35] eaquigley opened #2469 "Widgets: Add Branding to Data Listing Widget"
The data listing widget currently doesn't have The Dataverse Project logo on them or anything saying the widget is being populated from the Harvard Dataverse repository. We need to add branding to this widget.

[2015-08-18 19:21] pdurbin commented on #2466
@eaquigley as we discussed I'm giving this ticket to you to review. I've put v. 4.2 build 23-0178b43 on dataverse-internal.iq for you see the change.

This is what **has changed**:

- I added a "File Tags" facet and here's where you can see how it looks with ~8000 datasets indexed from production: https://github.com/IQSS/dataverse/issues/2466#issuecomment-132263943

This is what I **haven't change

[2015-08-19 00:37] tingleyd commented on #2210
Curious whether this idea is making any progress.

[2015-08-19 15:12] raprasad opened #2470 "Add createtime to authenticated user table"
(for metrics)

[2015-08-19 15:13] raprasad commented on #2470
It's not obvious how to get user metrics--e.g. 'date_joined'

@scolapasta

[2015-08-19 18:09] pdurbin commented on #2036
@sbarbosadataverse I just put v. 4.2 build 24-0178b43 on dvn-vm5. Please let me know if the performance is acceptable.

@scolapasta please note that the fixed I've asked you to review at https://github.com/IQSS/dataverse/issues/2453#issuecomment-130807560 (no merged yet) will impact performance.

[2015-08-19 18:22] pdurbin commented on #2021
Here are some examples of datasets with more than 25 files:

- 1,343 Files: https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/17045
- 244 Files: https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/NGQCIPIDUK
- 48 Files: https://dataverse.harvard.edu/dataset.xhtml?persistentId=hdl:1902.1/FYXLAWZRIA

See also #1877.

[2015-08-19 18:32] sbarbosadataverse commented on #2036
@pdurbin  so far this is much much faster--under 10seconds from what I can count. I'll continue playing with it before closing.

[2015-08-19 18:39] eaquigley commented on #2466
@pdurbin one note, can you change File Tags to be File Tag. All other facets are singular.

Regarding the Access facet, if you have time this week, could you look into this and determine how risky it is to do this and the technical difficulty?

[2015-08-19 19:40] scolapasta opened #2471 "Destroy command should unregister dataset from DOI / persistent ID provider"

[2015-08-19 20:19] sbarbosadataverse commented on #2036
working great @pdurbin
anything else you want me to test?

[2015-08-19 20:36] pdurbin commented on #2036
@sbarbosadataverse I'm glad to hear it! Again, I'm concerned this will be slowed down again by a fix for #2453 I haven't yet merged so I'm going to give this to @scolapasta to review https://github.com/IQSS/dataverse/issues/2036#issuecomment-132725536 as part of https://github.com/IQSS/dataverse/issues/2453#issuecomment-130807560 .

[2015-08-19 20:37] sbarbosadataverse commented on #2036
sounds good.

On Wed, Aug 19, 2015 at 4:36 PM, Philip Durbin <notifications@github.com>
wrote:

--
Sonia Barbosa
Manager of Data Curation, IQSS Dataverse Network
Manager of the Murray Research Archive, IQSS
Data Science
Harvard University

Dataverse 4.0 is now available for use!
http://dataverse.harvard.edu

All test dataverses should be created  in 4.0 Demo!
http://dataverse-demo.iq.harvard.edu/

[2015-08-19 20:47] mheppler commented on #2465
Emailed ZIP'ed up wireframe to @sekmiller to wire up into the app. It was very basic, so there will need to be well coordinated back and forth between Stephen and I, to get functionality into the page, while steering the UI in the direction of the mockups.

https://iqssharvard.mybalsamiq.com/projects/filesprovenancefacetsfilter-dataverse40/File%20-%20General%20Metadata

[2015-08-19 20:56] raprasad opened #2472 "homepage performance"
This is an umbrella ticket for:

- [ ] #2474 Homepage Cleanup ```#1``` - Efficient retrieval of Card Attributes
- [ ] #2475 Homepage Cleanup ```#2``` - Efficient Retrieval of File Images and Icons
- [ ] #2476 Homepage ```#3``` - For Searching and Filtering, Return JSON instead of rendered HTML

----

### Current State

The homepage is still quite expensive in terms of queries, load time, etc.  Wha

[2015-08-19 20:57] raprasad commented on #2096
replaced by #2472

[2015-08-19 20:57] #2096 closed

[2015-08-20 03:39] mcrosas commented on #2210
@tingleyd no progress yet, but will be reviewed soon - @eaquigley and @scolapasta are going through the backlog of issues to prioritize. The process will be to first define well the requirements and come up with a proposal to review.

[2015-08-20 07:52] bencomp commented on #2471
Could you please explain the term "unregister"? The PID provider usually has rules for this and may not even support taking a PID out of the registry.
To my knowledge the best way to take a PID out of the universe is to update it to redirect to a page (perhaps a generic one) explaining what happened to the dataset. This is similar to what happens when you deaccession a dataset.

[2015-08-20 07:54] bencomp commented on #2470
It's in the `ActionLog`, isn't it?

[2015-08-20 14:18] bencomp commented on #2472
I don't understand why #2096 had to be closed in favour of this issue?

[2015-08-20 15:23] raprasad commented on #1300
Moved this to 4.3.  After meeting with Gus, there is significant ingest work for the FITS->PNG with embedded metadata conversion.

[2015-08-20 15:40] raprasad commented on #2311
I think it's "102400"

This should be sanity checked--e.g., a significantly lower number may work fine.

e.g. test actual query for dataverseAdmin and go up as needed
[code]

[2015-08-20 18:46] kcondon opened #2473 "Download Data: Review and potentially limit which user data is recorded when download."
A partner from Canada, currently running v3.6 (see RT 226031), has privacy concerns about collecting users' names and affiliation when downloading public files and making that information available to dataverse admins.

They would like it to be at least limited to downloading restricted files and presented with a guestbook questionnaire that was clearly requesting that information. They would like

[2015-08-20 21:02] pdurbin commented on #2466
Sure. Done in e934b01 . I'd still like to update the underlying Solr field like I did at #1314 . I didn't do this yet because it will require a schema change.

I just spoke with @scolapasta about this and he thinks a simple boolean check should work but I should check the **File** object rather than the FileMetadata object. I can look into this more tomorrow.

[2015-08-21 13:09] bencomp commented on #2174
Suggestion for Native API: data samples for every endpoint that include level of requiredness.

[2015-08-21 14:12] raprasad opened #2474 "Homepage Cleanup #1 - Efficient retrieval of Card Attributes"
part of #2472

---

### Current process

1. Primary card attributes retrieved from Solr
1. Secondary card attributes from Postgres
1. During step (2) above, nearly all of the attributes in step (1) are re-retrieved.
  - When only specific “secondary” attributes are needed, full DvObjects are re-retrieved from the database and re-instantiated as full objects.  This degrades performance.

### Impact

[2015-08-21 14:15] pdurbin commented on #2455
On Monday afternoon we met and decided that while we are all enthusiastic about the features of Solr we could make use of (especially faceting and nice search) we can't use Solr for files in the 4.2 timeframe because all the data necessary (past versions of published datasets) is not in Solr.

I started writing some tests to illustrate the problem of the data simply not being in Solr there based o

[2015-08-21 14:22] raprasad commented on #2472
@bencomp - I added recent google analytics to the issue--trying to get it back in the milestone queue...

[2015-08-21 14:28] raprasad opened #2475 "Homepage Cleanup #2 - Efficient Retrieval of File Images and Icons"
part of #2472

---
### **Goal**: For the homepage cards, remove .xhtml image logic and simply use the image/icon url available from Solr

### Current Process

The retrieval of images and/or icons for cards eats up unnecessary processing time through these steps:

1. The system (again) retrieves the DvObject.  (Note: This is after the DvObject info has been (a) retrieved through Solr and (b) querie

[2015-08-21 14:37] raprasad opened #2476 "Homepage #3 - For Searching and Filtering, Return JSON instead of rendered HTML"
part of #2472

---

### Current Process

#### _Front End_
For each search or facet click:
  - Currently: 90k to 130k of rendered HTML is returned.
  - If switched:  8k to 22k of JSON would be returned*
These numbers are based on experience with the MyData page which returns JSON--including information for cards, checkbox facets, and building pagination.

#### _Server Side_
As mentioned in #2474, h

[2015-08-21 15:40] pdurbin commented on #2466
@scolapasta I just pushed 8e83223 which seems to do what you want. It adds an "Access" facet at the file level with Public vs. Restricted. http://hdl.handle.net/1902.1/RSCNY is an example of a dataset that has a mix of public and restricted files:

![harvard_dataverse_-_2015-08-21_11 40 54](https://cloud.githubusercontent.com/assets/21006/9412381/66c4c23a-47f9-11e5-8aa3-44024f0d16d9.png)

I'm pass

[2015-08-21 17:27] kcondon opened #2477 "Migration: Document and clean up script to update persistent id record target url."
One post migration step is to update the target url in the persistent id records, both hdl and doi. This was done using a script that drives a purpose built servlet.

This should be documented and the script reviewed for clean up.

[2015-08-24 15:11] eaquigley opened #2480 "User Guide: Update User Guide to Reflect Feature Changes"
Need to add changes based on feedback from others as well as add in any new features.

[2015-08-24 20:26] eaquigley commented on #685
Sending to QA to retest. @kcondon

[2015-08-24 20:38] eaquigley commented on #731
Passing to QA (@kcondon) to close as currently in the system, you cannot create a draft from a deaccessioned dataset.

[2015-08-24 20:43] eaquigley commented on #745
Passing to QA to close (@kcondon)

[2015-08-24 20:47] eaquigley commented on #761
Passing to QA to close (@kcondon) per @scolapasta

[2015-08-24 20:54] eaquigley commented on #775
@pdurbin during 4.2, we should finalize where these reports should go. need to figure out where on dataverse.org it can live.

[2015-08-24 20:57] eaquigley commented on #782
Passing to QA (@kcondon) to close as this was for 3.6.2.

[2015-08-24 21:03] eaquigley commented on #787
Passing to QA (@kcondon) to restest in 4.0.

[2015-08-25 14:26] mheppler commented on #2463
@eaquigley with our plan to redesign the files page, it will provide ample opportunity for me or a backend developer to fix this.

It looks like there is render logic on the page that I can use, to add to the display of the ingest warning icon.

[code]

I can go over this with one of the developers (@scolapasta ?) , to make sure I've got the right code and can check this fix in, and make sure it i

[2015-08-25 17:25] eaquigley commented on #2326
Closing this ticket and assigning @sekmiller #1229 as it has more information.

[2015-08-25 17:25] #2326 closed

[2015-08-25 17:55] eaquigley commented on #2463
@mheppler that would be great. @scolapasta can you review the render logic above and confirm if it is the right code @mheppler needs to alter?

[2015-08-25 18:13] scolapasta commented on #807
We're all set with these. If we find any others, we'll open up a new issue.

[2015-08-25 18:13] #807 closed

[2015-08-25 18:19] eaquigley commented on #811
Moving to In Design to start thinking about responsiveness and the long term plan for making the application more responsive. Will this be done little by little or need to be done all at once? As well as need to have a conversation about what screen resolutions we should support and what the app looks like on tablets for a mobile solution.

[2015-08-25 18:39] eaquigley commented on #875
Passing to @kcondon to close (if you would like to retest, not sure)

[2015-08-25 18:40] eaquigley commented on #884
@kcondon and @landreev can you comment on if this is relevant to 4.0? thanks!

[2015-08-25 18:45] eaquigley commented on #896
Closing this ticket as it is a duplicate of #24

[2015-08-25 18:45] #896 closed

[2015-08-25 18:46] kcondon commented on #884
@eaquigley @landreev  This is from when we hosted the service here. Problem has not show itself since that we're aware of.  OK to close,

[2015-08-25 18:56] eaquigley commented on #905
Close as OSF + Harvard Dataverse 4.0 have integrated. If there are other specific issues, those should be opened as new tickets.

[2015-08-25 18:56] #905 closed

[2015-08-26 19:00] mheppler commented on #1781
I found this ticket, and saw that it was a quick fix. A fix for this same issue on the Manage Groups page, was committed 40e63a3fe1ca53929315f89e68d2e43c54fbedc1 that allows this bug to be easily fixed on other pages. I searched through the project for other buttons that have tooltips, and it appears that this issue doesn't effect those pages.

[2015-08-26 19:06] mheppler commented on #1499
This ticket had a duplicate (#1781) that was fixed and sent to QA. Sending this to QA as well.

[2015-08-26 20:28] sekmiller commented on #1781
Added the fix to the Manage Templates page.  Will check it in when general work on the page (pertaining to adding Terms of Use and Access to Templates.) has been completed.

[2015-08-26 20:38] eaquigley commented on #1032
Closing. Error messages are fine on Log In Page.

[2015-08-26 20:38] #1032 closed

[2015-08-26 20:40] eaquigley commented on #1042
Closing ticket due to @mheppler's update; messaging is fine.

[2015-08-26 20:40] #1042 closed

[2015-08-26 20:44] eaquigley commented on #1069
Tested this with blah.xhtml on dataverse.harvard.edu and am getting the 404 page not found. Passing to QA to try again and close.

[2015-08-26 20:53] scolapasta commented on #1098
Logic to regenerate was added in #2296.

[2015-08-26 20:53] #1098 closed

[2015-08-26 20:53] eaquigley opened #2481 "API Tokens: Add Done Button To Page"
There is no done button on the API Token page. Need to add this to the page so a user can easily exit.

[2015-08-26 20:53] eaquigley commented on #2481
Related to #1098

[2015-08-26 21:07] kcondon commented on #1103
@scolapasta This wasn't designed or implemented, right?

[2015-08-26 21:08] eaquigley commented on #1155
Closing ticket and will review all notifications to determine which ones need to be added in and when.

[2015-08-26 21:08] #1155 closed

[2015-08-26 21:11] eaquigley commented on #1183
Closing ticket. Extra messages listed above are for functionality that doesn't exist (disabling token)

[2015-08-26 21:11] #1183 closed

[2015-08-26 21:15] eaquigley commented on #1198
Tried this today. Done button still appears when one unchecks it. However, the box does not turn uneditable. Need to make sure the box cannot be edited.

[2015-08-27 18:29] mheppler commented on #2114
Added a "clearfix" element under the dataverse description containing element, to fix an align/float issue with HTML in the description.

Moving the above comment to issue #1320 to look into how the align attribute will be handled in the HTML validation on the description field.

[2015-08-27 18:34] kcondon opened #2482 "File Upload Performance: Batch uploading larger image files in numbers causes browser instability/freezing, due to PrimeFaces image processing."
Reported by a user, see RT 226297

User had created 10 datasets and uploaded 215 files, mostly PDFs and images, ranging in size from 10MB to 280MB.

They experienced their UI freezing and we received a server critical warning but it recovered.

We recommended for now that they upload fewer files at one time as a temporary workaround.

[2015-08-27 18:38] mheppler commented on #1320
We should also look into the attributes for HTML elements. In issue #2114 there is a layout issue on the dataverse page due to an align attribute in an image tag.

[2015-08-27 18:48] kcondon opened #2483 "Service instability: We continue to experience intermittent service hangs and instability."
This is in part a place holder ticket for a variety of issues whose end result is intermittent server issues and reported slowness by users.

Since releasing v4.0, we have addressed the most serious and frequent sources of service instability and performance issues but we continue to experience periodic server unresponsiveness, hangs, and slow performance, so work remains.

There are several poten

[2015-08-28 18:43] eaquigley opened #2484 "Searching for "digital" finds "digit""
Pointed out by someone on Twitter:

"try search "digital" and you find files labelled "digit". add phrase support."

In production, I searched for digital and narrowed down to files. Digital did show up in the description of some files (on page 66, I was logged in) but not in the name of the file as far as I could see in my quick look. The first page of results (and many after) had Digit in the ti

[2015-08-31 15:00] raprasad opened #2485 "User stats: No method to count new users"
For these tables, add created/modified timestamp columns:
- authenticateduser
- builtinuser

**Time estimate:** 2-4 hours
**Special notes:** Need to run "add column" postgres command

[2015-08-31 16:44] mheppler opened #2486 "Dataset - PrettyFaces URL Format"
Apply PrettyFaces URL format that we use for dataverse to the dataset. (Originally referenced in #1665.)

The URL format could look something like:

[code]

[2015-08-31 16:48] mheppler commented on #1665
Development for this high-end task has been started. The initial commit 87b5c659282d3727f418eab8dde521be9cdd2609 from @landreev is just the beginning of the work needed to break out the edit and upload workflows for dataset files.

The metadata edit view might be held off for a later release. A new issue (#2486) has been created for the PrettyFaces URL formatting.

[2015-08-31 19:39] #731 closed

[2015-08-31 19:50] #860 closed

[2015-09-01 15:38] kcondon opened #2487 "My Data: Perms acquired via Explicit groups do not show role tags."
This is a regression: it was working in v4.1.

Assign a user to an explicit group, assign that explicit group admin perms to a dataverse that has datasets, go to my data for that user, see the objects in the list but with no roles.

[2015-09-01 15:43] raprasad opened #2488 "MyData superuser bug"
For superuser's MyData shows an input box that allows the entry of arbitrary usernames.

- **Incorrect**: Currently, the username defaults to DataverseAdmin.
- **Correct**: It should default to the username of the logged in superuser.
![account_-_root_dataverse](https://cloud.githubusercontent.com/assets/1036060/9608889/9e02cae6-509e-11e5-90ee-0dabebc7d4fd.png)

[2015-09-01 16:15] raprasad commented on #2487
@kcondon, I just checked in a fix for this.

[2015-09-01 17:17] kcondon commented on #2487
@raprasad Mostly working, when display files, role from ds is removed, hide files, reappears.

[2015-09-01 18:08] kcondon opened #2489 "My Data: File Downloader role not appearing in child objects when assign at parent dv."
Create dv, ds, file. Assign file downloader at dv. In My data should show file downloader role at dv, ds, file. Instead, only shows it at dv.

[2015-09-01 19:59] landreev commented on #1665
@pdurbin also did some work related to this task, by isolating some of the files display functionality in its own xhtml include fragment.
The next step now is to modify the dataset.xhtml page, to redirect to my editfilespage.xhtml when users click the "edit files" button (for the files selected via checkboxes). It looks like @sekmiller is working on it.
Steve, you mind if I give you this ticket fo

[2015-09-01 20:22] sekmiller commented on #1665
Leonid,

I’m also going to have to do some work on your edit data files page (editDatafiles.xhtml) since it refers to some terms of use and access before they were split out from datasetVersion.  Are you out of that for the time being?

Thanks!

On Sep 1, 2015, at 3:59 PM, landreev <notifications@github.com<mailto:notifications@github.com>> wrote:

@pdurbin<https://urldefense.proofpoint.com/v2/url

[2015-09-01 20:27] raprasad commented on #2489
![banners_and_alerts_and_role_permission_relationships_-_harvard_dataverse](https://cloud.githubusercontent.com/assets/1036060/9615481/500e990a-50c6-11e5-9cfa-dac4c02147a7.png)

[2015-09-01 21:17] kcondon commented on #2489
Ok works, closing

[2015-09-01 21:17] #2489 closed

[2015-09-01 21:21] kcondon commented on #2487
@raprasad The dropped ds roles in the presence of files is still happening, both for groups and individuals.

[2015-09-02 09:40] michbarsinai commented on #2454
caption on the permissions in Edit Role dialog
dataverse.permissions.roles.roleList.authorizedUserOnly=Will be granted to authenticated users only

[2015-09-02 11:28] michbarsinai commented on #2454
Implemented. Over to @mheppler for review of the (minor?) UI changes made to the edit role dialog - adding a label for the permissions a guest user cannot be granted.

@kcondon - I've added a script to test this, at `scripts/issues/2454`. We should probably convert that to an automated test at some point.

[2015-09-02 15:16] raprasad opened #2490 "Standard Naming of DvObject types"
The project has 4 different naming conventions for the same object types.  Even if the number of naming conventions is not reduced, static variables should be used across the project.  (It would help to cut it to 2 or at least 3 naming conventions)

It is easy to make programming errors when comparing objects types across postgres, solr results, etc.

| Postgres dtype (db value and DvObject.java)

[2015-09-02 15:50] kcondon opened #2491 "File Upload: Uploading a relatively large number of larger files results in inability to save, need to start over."
See rt ticket 226580. User uploaded 60 files of around 750MB each overnight. In the morning, upload page showed all files present but they could not save and would prefer not to repeat the task.

The upload process is somewhat prone to inexplicable failures resulting in hung upload progress bars and also in this type of uploaded but not saved situations that effectively require users to start over

[2015-09-02 16:01] raprasad commented on #2487
Found a definite bug which is now fixed. Was able to reproduce bug and fix locally

[2015-09-02 17:28] raprasad commented on #2477
@landreev captured the updated needed in a simple curl loop

e.g.
[code]

[2015-09-02 17:41] raprasad opened #2492 "documentation: geoconnect keeps a list of 'registered dataverses"
e.g. Geoconnect accepts incoming connections from a list of dataverses

Screenshots are from the geoconnect administrative interface (e.g. basic django):

![select_registered_dataverse_to_change___dataverse_db_site_admin](https://cloud.githubusercontent.com/assets/1036060/9639088/323dc862-5178-11e5-9a8b-6a2d2cae1bef.png)
![add_registered_dataverse___dataverse_db_site_admin](https://cloud.githubuse

[2015-09-02 17:59] kcondon commented on #2492
See RT 226605

[2015-09-02 18:02] sbarbosadataverse commented on #2492
Elizabeth is this info in the guide?
On Sep 2, 2015 1:41 PM, "Raman Prasad" <notifications@github.com> wrote:

[2015-09-02 18:45] kcondon commented on #2487
OK, works now. Closing.

[2015-09-02 18:45] #2487 closed

[2015-09-02 19:04] #2449 closed

[2015-09-02 19:49] kcondon commented on #2488
Works as described. Closing.

[2015-09-02 19:49] #2488 closed

[2015-09-03 00:02] evelynPM opened #2493 "Access API: Multi-file "bundle" download doesn't retrieve all files it should."
According to the documentation at http://guides.dataverse.org/en/latest/api/dataaccess.html, a bundle should include the following:

Tab-delimited; “Saved Original”, the proprietary (SPSS, Stata, R, etc.) file from which the tabular data was ingested; Generated R Data frame (unless the “original” above was in R); Data (Variable) metadata record, in DDI XML; File citation, in Endnote and RIS format

[2015-09-03 00:22] pdurbin commented on #2493
This was on v. 4.1 build 71 from dataset http://dx.doi.org/10.5072/FK2/0MOPJM with the tab file below which I uploaded to Google Drive for safe keeping: https://drive.google.com/a/harvard.edu/file/d/0B_qMYwdHFZghOXhMVnNHdkl3elE/view?usp=sharing

![metadata_mapping_test_study_-_artefactual_systems_dataverse_-_2015-09-02_20 18 11](https://cloud.githubusercontent.com/assets/21006/9647883/d728207a-51a

[2015-09-03 14:26] pdurbin opened #2494 "404 when clicking link to API Guide from API token page"
https://dataverse-demo.iq.harvard.edu/account/apitoken links to https://dataverse-demo.iq.harvard.edu/guides/API/index.html but it's a 404. As of this writing it should link to http://guides.dataverse.org/en/4.1/api

[2015-09-03 14:42] pdurbin opened #2495 "SWORD: not authorized when dataset is in root dataverse"
First reported at [SWORD access failed - not authorized - Google Groups](https://groups.google.com/forum/#!msg/dataverse-community/G9TMVnhab5A/InZ9Zxg8CQAJ) and confirmed on https://dataverse-demo.iq.harvard.edu running v. 4.1 build 71, users are unable to operate on datasets created in the root dataverse via SWORD.

Examples of trying to to retrieve the Atom Entry and SWORD Statement are below.